<div class="right-modal clearfix modal-custom" data-modal="appStructureModal">
    <h3 class="right-modal-head clearfix">
        <div class="col-sm-10 p-l-0">
            <i class="fa fa-user mr8"></i>{{ approval_structure_name }}
        </div>
        <a uib-tooltip="Close" class="close-right pull-right" ng-click="cancel()"><img src="images/close.png"></a>
    </h3>
    <div class="col-sm-12 clearfix mtb10">
        <div class="col-sm-8 p0 mt5">
            <div class="form-group clearfix">
                <div class="col-sm-5 p-l-0">
                    <label class="control-label">{{'Committee Name' | translate}}:* </label>
                </div>
                <div class="col-sm-7">
                    <input type="text" class="form-control" ng-model="committeeObj.committee.credit_committee_name" name="credit_committee_name">
                </div>

            </div>
        </div>
        <div class="col-sm-4 p0 mt5">
            <div class="form-group clearfix">
                    <input type="checkbox" class="mr4" ng-model="committeeObj.committee.is_primary_committee" name="is_primary_committee">
                    <label class="control-label">{{'Is Primary Committee' | translate}} </label>
            </div>
        </div>
        <div class="col-sm-8 p0 mt5">
            <div class="form-group clearfix">
                <div class="col-sm-5 p-l-0">
                    <label class="control-label">{{'Forward To' | translate}}: </label>
                </div>
                <div class="col-sm-7 mt5">
                    <select ng-disabled="committeeObj.committee.is_primary_committee || approvalForwardList < 1" class="form-control" ng-model="committeeObj.committee.credit_committee_forward_to" name="credit_committee_forward_to"
                            ng-options="approvalForward.id_company_approval_credit_committee as approvalForward.credit_committee_name for approvalForward in approvalForwardList">
                        <option value="">--{{'Select Forward' | translate}}--</option>
                    </select>
                </div>

            </div>
        </div>
        <div class="col-sm-8 p0 mt5">
            <div class="form-group clearfix">
                <div class="col-sm-5 p-l-0">
                    <label class="control-label">{{'Committee Secretary' | translate}}: *</label>
                </div>
                <div class="col-sm-7">
                    <select  class="form-control" data-ng-model="committeeObj.committee.committee_secretary" name="committee_secretary" ng-options="companyApprovalRole.id_company_approval_role as companyApprovalRole.approval_name  for companyApprovalRole in companyApprovalRoleList">
                        <option value="">--{{'Select Committee Secretary' | translate}}--</option>
                    </select>
                </div>

            </div>
        </div>
    </div>
    <!--<div class="col-sm-12">
        <h4 class="dark-blue f15 mtb10">Secretary</h4>
        <div class="show-list mtb10 clearfix">
            <div class="col-sm-6 p-l-0">
                <select class="form-control">
                    <option>Option 1</option>
                    <option>Option 2</option>
                </select>
            </div>
            <div class="col-sm-6">
                <button type="button" class="btn btn-primary f12 btn-dark border-none mr4"><i class="fa fa-plus-circle"></i> Add</button>
            </div>
        </div>
        <div class="s-list mt15">
            <ul>
                <li class="f12 clearfix  pt2 pb2">
                    <div class="col-sm-11 p-l-0">
                        Role Name
                    </div>
                    <div class="col-sm-1 text-right">
                        <a><i class="fa fa-trash f14"></i></a>
                    </div>

                </li>

            </ul>

        </div>

    </div>-->
    <div class="col-sm-12" ng-show="committeeObj.committee.committee_secretary">
        <h4 class="dark-blue f15 mb10">{{'Committee Members' | translate}}</h4>
        <div class="show-list mtb10 clearfix"  ng-form name="committeeForm">
            <div class="col-sm-4 p-l-0">
                <select class="form-control" name="branch_type_role" ng-model="member.branch_type_role" name="branch_type_role" ng-options="branchTypeRole as branchTypeRole.branch_type_role_name for branchTypeRole in branchTypeRoleList" ng-required="true">
                    <option value="">--{{'Select Branch Type Role' | translate}}--</option>
                </select>
            </div>
            <div class="col-sm-4 p-l-0">
                <select class="form-control" ng-model="member.company_approval_role" name="company_approval_role" ng-options="companyApprovalRole as companyApprovalRole.approval_name disable when companyApprovalRole.id_company_approval_role == committeeObj.committee.committee_secretary for companyApprovalRole in companyApprovalRoleList" ng-required="true">
                    <option value="">--{{'Select Approval Role' | translate}}--</option>
                </select>
            </div>
            <div class="col-sm-4">
                <button type="button" class="blue-btn" ng-click="committeeForm.$valid && addCommitteeMember(member)"><i class="fa fa-plus-circle"></i> Add</button>
            </div>
        </div>
        <div class="s-list mt15">

            <ul>
                <li class="f12 clearfix mb3 pt2 pb2" ng-repeat="row in committeeObj.committee_members" ng-hide="row.deleted">
                    <div class="col-sm-4 p-l-0">
                        {{row.branch_type_role_name}}
                    </div>
                    <div class="col-sm-4 p-l-0">
                        {{row.approval_name}}
                    </div>
                    <div class="col-sm-4">
                        <a ng-click="removeCommitteeMembers(row)" uib-tooltip="Delete"><i class="fa fa-trash f14"></i></a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-sm-12 text-center mt10 mb15">
        <button type="button" class="blue-btn" ng-click="saveCommittee(committeeObj)" ng-disabled="submitBtn" >{{'Save' | translate}}</button>
        <button type="button" ng-click="cancel()" class="light-btn">{{'Cancel' | translate}}</button>
    </div>


</div>
