<h3 class="fixed content-heading">{{ approval_structure_name }}
    <span class="button-set">
        <a title="Options" ui-sref="approval.approval-structure" uib-tooltip="Back"><i class="fa icon-times"></i></a>
      </span>
</h3>

<div id="contentArea" class="content-area animated fadeInRight">


    <div class="content-container clearfix light-blue-bg plr20 ">

            <div class="table-wrapper pb20 no-bg pt10 pl0 mt5 pr0">
                <div class="table-scroll-new" table-horizontal>
                <table class="table-list-view text-line ts-view table mb0 mt5">

                    <tbody>

                    <tr data-ng-repeat="approvalCommittee in approvalCommittees"  >
                        <td bk-color="{{approvalCommittee.id_branch_type}}"> <h4 class="pl10 darkcolor bold f15">{{approvalCommittee.branch_type_name}}</h4></td>
                        <td>
                            <div class="com-box" ng-click="approvalStructureModal(approvalCommittee.id_branch_type,committee.id_company_approval_credit_committee)" data-ng-repeat="committee in approvalCommittee.committee" >
                                <h4 class="f14 darkcolor bold border-bottom pb5 mb5 text-line">{{committee.credit_committee_name}}</h4>
                                <div class="u-list">
                                    <!--<div class="col-sm-4">
                                        <lable class="label-text">Secretary :</lable>
                                    </div>-->
                                    <div class="col-sm-12 border-bottom pb5 word-break pl0 pr0" ng-show="committee.secretary">
                                        <p class="f12"><span class="text-line width65 display-inline-block valign-middle" title="{{committee.secretary}}">{{committee.secretary}}</span> <span class="ash f11"> - Secretary </span></p>
                                    </div>

                                </div>
                                <div class="u-list clearfix">
                                    <!--<div class="col-sm-4">
                                        <lable class="label-text">Members :</lable>
                                    </div>-->
                                    <div class="col-sm-12 pt5 word-break p0" >
                                        <p class="f12 text-line " data-ng-repeat="member in committee.members">{{ member.approval_name }}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="add-box">
                                <a ng-click="approvalStructureModal(approvalCommittee.id_branch_type)" uib-tooltip="Add New Committee"  ng-modal="appStructureModal"><i class="fa fa-plus"></i></a>

                            </div>
                        </td>
                    </tr>

                    </tbody>
                </table>
            </div>

        </div>

    </div>


</div>


<!--<script type="text/ng-template" id="addApproval.html">

    <div class="modal-wrap right-modal modal-custom">
        <div class="clearfix">
            <h3 class="right-modal-head">
                <i class="fa fa-pencil-square-o mr8"></i> Approval Form
                <a ng-click="cancel()" class="close-right pull-right"><img src="images/close.png"></a>
            </h3>

        </div>
        <div class="modal-body clearfix">

                <div class="col-sm-12">
                    <div class="form-group clearfix form-group-custom mb10">
                        <label class="control-label">Approval Role:</label>
                        <select class="form-control" ng-model="sData.id_approval_role"
                                ng-options="role.id_approval_role as role.approval_name for role in roleList">
                        </select>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group clearfix form-group-custom mb10">
                        <label class="control-label">Branch Role:</label>
                        <select class="form-control" ng-model="sData.id_branch_type"
                                ng-options="branch.id_branch_type as branch.branch_type_name for branch in branchList track by branch.id_branch_type">
                        </select>
                    </div>
                </div>
                <div class="col-sm-12 text-center mt10">

                    <button ng-click="addApproval(sData)" class="btn btn-primary btn-dark f12">Save</button>
                </div>

        </div>
    </div>
</script>-->
