<h3 class="fixed content-heading">Collateral
    <div class="pull-right button-set">
        <a ui-sref="project.project-list({id:(currentProjectViewId | encode )})" uib-tooltip="Back"><i class="fa fa-close-sm"></i></a>
    </div>
</h3>

<div id="contentArea" class="content-area animated fadeInRight">
    <div class="content-container clearfix light-blue-bg p20 mb20">
        <!--realestate view-->
        <div class=" facilitate-setup-wrap">
            <h1 class="clearfix">
                <span class="f24 pull-left mr4"><i class="fa fa-home"></i></span>
            <span class="col-sm-6 pull-left mt5">
                <div class="form-group clearfix form-group-custom">
                   Realestate
                    <!--<input type="text" class="form-control ng-pristine ng-valid ng-valid-required ng-touched" placeholder="LOAN NAME">-->
                </div>
            </span>
            </h1>

            <div class="col-sm-12 facilitate-setup-content">
                <div class="col-sm-3 page-right-wrap p0" ng-init="template='general.html'">
                    <div class="v-tabs-wrap">
                        <ul>
                            <li class="tab-active">
                                <a class="list-switcher" href="javascript:;" ng-click="template='general.html'" active-link="tab-active"><i class="icon-clipped-file2"></i><span class="ng-binding collateral-tab-text">General</span>
                                    <div class="onoffswitch pull-right valign-top collateral-switch">
                                        <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="collTypea" checked>
                                        <label class="onoffswitch-label" for="collTypea">
                                            <span class="onoffswitch-inner"></span>
                                            <span class="onoffswitch-switch"></span>
                                        </label>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a  href="javascript:;" ng-click="template='realestate.html'" active-link="tab-active" ><i class="icon-eur-currency1"></i><span class="ng-binding collateral-tab-text">Realestate </span>
                                    <div class="onoffswitch pull-right valign-top collateral-switch">
                                        <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="collTypeb" checked>
                                        <label class="onoffswitch-label" for="collTypeb">
                                            <span class="onoffswitch-inner"></span>
                                            <span class="onoffswitch-switch"></span>
                                        </label>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a  href="javascript:;" ng-click="template='valuation_details.html'" active-link="tab-active"><i class=" icon-stars-list"></i><span class="ng-binding collateral-tab-text">Valuation Details</span>
                                    <div class="onoffswitch pull-right valign-top collateral-switch">
                                        <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="collTypec" checked>
                                        <label class="onoffswitch-label" for="collTypec">
                                            <span class="onoffswitch-inner"></span>
                                            <span class="onoffswitch-switch"></span>
                                        </label>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a  href="javascript:;" ng-click="template='insurance.html'" active-link="tab-active"><i class=" icon-files"></i><span class="ng-binding collateral-tab-text">Documents</span>
                                    <div class="onoffswitch pull-right valign-top collateral-switch">
                                        <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="collTyped" checked>
                                        <label class="onoffswitch-label" for="collTyped">
                                            <span class="onoffswitch-inner"></span>
                                            <span class="onoffswitch-switch"></span>
                                        </label>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a  href="javascript:;" ng-click="template='insurance.html'" active-link="tab-active"><i class=" icon-star"></i><span class="ng-binding collateral-tab-text">Insurance</span>
                                    <div class="onoffswitch pull-right valign-top collateral-switch">
                                        <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="collTypee" checked>
                                        <label class="onoffswitch-label" for="collTypee">
                                            <span class="onoffswitch-inner"></span>
                                            <span class="onoffswitch-switch"></span>
                                        </label>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a  href="javascript:;" ng-click="template='insurance.html'" active-link="tab-active"><i class=" icon-harddrive1"></i><span class="ng-binding collateral-tab-text"> Contacts</span>
                                    <div class="onoffswitch pull-right valign-top collateral-switch">
                                        <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="collTypef" checked>
                                        <label class="onoffswitch-label" for="collTypef">
                                            <span class="onoffswitch-inner"></span>
                                            <span class="onoffswitch-switch"></span>
                                        </label>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a  href="javascript:;" ng-click="template='field_investigation_details.html'" active-link="tab-active"><i class="  icon-graph3"></i><span class="ng-binding collateral-tab-text"> Field Investigation</span>
                                    <div class="onoffswitch pull-right valign-top collateral-switch">
                                        <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="collTypeg" checked>
                                        <label class="onoffswitch-label" for="collTypeg">
                                            <span class="onoffswitch-inner"></span>
                                            <span class="onoffswitch-switch"></span>
                                        </label>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a  href="javascript:;" ng-click="template='external_check.html'" active-link="tab-active"><i class=" icon-flag1"></i><span class="ng-binding collateral-tab-text"> External Checks</span>
                                    <div class="onoffswitch pull-right valign-top collateral-switch">
                                        <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="collTypeh">
                                        <label class="onoffswitch-label" for="collTypeh">
                                            <span class="onoffswitch-inner"></span>
                                            <span class="onoffswitch-switch"></span>
                                        </label>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a  href="javascript:;" ng-click="template='risk_evaluation.html'" active-link="tab-active"><i class=" icon-graph1"></i><span class="ng-binding collateral-tab-text"> Risk Evaluation</span>
                                    <div class="onoffswitch pull-right valign-top collateral-switch">
                                        <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="collTypei">
                                        <label class="onoffswitch-label" for="collTypei">
                                            <span class="onoffswitch-inner"></span>
                                            <span class="onoffswitch-switch"></span>
                                        </label>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a  href="javascript:;" ng-click="template='legal_opinion.html'" active-link="tab-active"><i class=" icon-stars-list"></i><span class="ng-binding collateral-tab-text"> Legal Opinion</span>
                                    <div class="onoffswitch pull-right valign-top collateral-switch">
                                        <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="collTypej" checked>
                                        <label class="onoffswitch-label" for="collTypej">
                                            <span class="onoffswitch-inner"></span>
                                            <span class="onoffswitch-switch"></span>
                                        </label>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a  href="javascript:;" ng-click="template='insurance.html'" active-link="tab-active"><i class=" icon-monitor"></i><span class="ng-binding collateral-tab-text"> Covenants</span>
                                    <div class="onoffswitch pull-right valign-top collateral-switch">
                                        <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="collTypek" checked>
                                        <label class="onoffswitch-label" for="collTypek">
                                            <span class="onoffswitch-inner"></span>
                                            <span class="onoffswitch-switch"></span>
                                        </label>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-9 border-left p0 pb10" ng-if="template">
                        <div ng-include="'partials/html/collateral-types/tabs/'+template"></div>
                </div>
            </div>
        </div>



    </div>
</div>








