<h3 class="fixed content-heading">Collateral
    <div class="pull-right button-set">
        <a ui-sref="project.project-list({id:(currentProjectViewId | encode )})" uib-tooltip="Back"><i class="fa fa-close-sm"></i></a>
    </div>
</h3>

<div id="contentArea" class="content-area animated fadeInRight">
    <div class="content-container clearfix light-blue-bg p20 mb20 facilitate-types-wrap">
        <h3 class="text-capitalize mb15">Collateral Types</h3>
        <p>Maecenas tempus, tellus eget condimentum rhoncus, sem quam semper libero, sit amet adipiscing sem neque sed ipsum. Nam quam nunc, blandit vel, luctus pulvinar, hendrerit id, lorem.</p>
        <p>Maecenas nec odio et ante tincidunt tempus. Donec vitae sapien ut libero venenatis faucibus. Nullam quis ante. Etiam sit amet orci eget eros faucibus tincidunt. Duis leo. Sed fringilla mauris sit amet nibh. Donec sodales sagittis magna. Sed consequat, leo eget bibendum sodales, augue velit cursus nunc,</p>
        <div class="col-lg-4 col-sm-4 col-md-4 pl0 mt10"   >
            <div class="col-sm-12 pad0">
                <div class="list-data mb5 white-bg p10 full-width">
                    <div class="list-img-rounded pull-left mr10">
                        <i class="icon-building"></i>
                    </div>
                    <div class="list-text overflow-hidden">
                        <h5 class="heading-caps darkcolor">Realestate</h5>
                        <p class="ng-binding"><label>Created by:</label> Willium</p>
                        <p class="ng-binding"><label>Last Modified on:</label>22 July, 2016</p>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-4 col-md-4 pl0 mt10"   >
            <div class="col-sm-12 pad0">
                <div class="list-data mb5 white-bg p10 full-width">
                    <div class="list-img-rounded pull-left mr10">
                        <i class="icon-vehicle"></i>
                    </div>
                    <div class="list-text overflow-hidden">
                        <h5 class="heading-caps darkcolor">Vehicle</h5>
                        <p class="ng-binding"><label>Created by:</label> Willium</p>
                        <p class="ng-binding"><label>Last Modified on:</label>22 July, 2016</p>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-4 col-md-4 pl0 mt10"   >
            <div class="col-sm-12 pad0">
                <div class="list-data mb5 white-bg p10 full-width">
                    <div class="list-img-rounded pull-left mr10">
                        <i class="icon-gear2"></i>
                    </div>
                    <div class="list-text overflow-hidden">
                        <h5 class="heading-caps darkcolor">Machinery</h5>
                        <p class="ng-binding"><label>Created by:</label> Willium</p>
                        <p class="ng-binding"><label>Last Modified on:</label>22 July, 2016</p>

                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-sm-4 col-md-4 pl0 mt10"   >
            <div class="col-sm-12 pad0">
                <div class="list-data mb5 white-bg p10 full-width">
                    <div class="list-img-rounded pull-left mr10">
                        <i class="icon-lock"></i>
                    </div>
                    <div class="list-text overflow-hidden">
                        <h5 class="heading-caps darkcolor">Security</h5>
                        <p class="ng-binding"><label>Created by:</label> Willium</p>
                        <p class="ng-binding"><label>Last Modified on:</label>22 July, 2016</p>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-4 col-md-4 pl0 mt10"   >
            <div class="col-sm-12 pad0">
                <div class="list-data mb5 white-bg p10 full-width">
                    <div class="list-img-rounded pull-left mr10">
                        <i class="icon-file"></i>
                    </div>
                    <div class="list-text overflow-hidden">
                        <h5 class="heading-caps darkcolor">Policy</h5>
                        <p class="ng-binding"><label>Created by:</label> Willium</p>
                        <p class="ng-binding"><label>Last Modified on:</label>22 July, 2016</p>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-4 col-md-4 pl0 mt10"   >
            <div class="col-sm-12 pad0">
                <div class="list-data mb5 white-bg p10 full-width">
                    <div class="list-img-rounded pull-left mr10">
                        <i class="icon-clipped-file2"></i>
                    </div>
                    <div class="list-text overflow-hidden">
                        <h5 class="heading-caps darkcolor">Guarantee</h5>
                        <p class="ng-binding"><label>Created by:</label> Willium</p>
                        <p class="ng-binding"><label>Last Modified on:</label>22 July, 2016</p>

                    </div>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-sm-4 col-md-4 pl0 mt10"   >
            <div class="col-sm-12 pad0">
                <div class="list-data mb5 white-bg p10 full-width">
                    <div class="list-img-rounded pull-left mr10">
                        <i class="icon-flask"></i>
                    </div>
                    <div class="list-text overflow-hidden">
                        <h5 class="heading-caps darkcolor">Precious Metals</h5>
                        <p class="ng-binding"><label>Created by:</label> Willium</p>
                        <p class="ng-binding"><label>Last Modified on:</label>22 July, 2016</p>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-4 col-md-4 pl0 mt10"   >
            <div class="col-sm-12 pad0">
                <div class="list-data mb5 white-bg p10 full-width">
                    <div class="list-img-rounded pull-left mr10">
                        <i class=" icon-list2"></i>
                    </div>
                    <div class="list-text overflow-hidden">
                        <h5 class="heading-caps darkcolor">Term Deposit</h5>
                        <p class="ng-binding"><label>Created by:</label> Willium</p>
                        <p class="ng-binding"><label>Last Modified on:</label>22 July, 2016</p>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-4 col-md-4 pl0 mt10"   >
            <div class="col-sm-12 pad0">
                <div class="list-data mb5 white-bg p10 full-width">
                    <div class="list-img-rounded pull-left mr10">
                        <i class="icon-files"></i>
                    </div>
                    <div class="list-text overflow-hidden">
                        <h5 class="heading-caps darkcolor">Miscellaneous</h5>
                        <p class="ng-binding"><label>Created by:</label> Willium</p>
                        <p class="ng-binding"><label>Last Modified on:</label>22 July, 2016</p>

                    </div>
                </div>
            </div>
        </div>



    </div>
</div>








