<div class="col-sm-12 clearfix clearboth p0" ng-init="pageInit()">
        <div class="col-sm-12 p0 clearfix">
            <div class="col-sm-12 clearfix pl0 pt10">
                <div class="clearfix">
                    <label class="control-label">{{'contact.contact_income' | translate}}</label>
                </div>
                <div class="table-wrapper p0 c-table pt5 table-responsive">
                    <table class="table table-striped table-bordered table-hover display table-style" >
                        <thead>
                        <tr>
                            <th style="width: 5%;">{{'contact.type' | translate}}</th>
                            <th style="width: 30%;">{{'contact.amount' | translate}}</th>
                            <th style="width: 65%;">{{'contact.description' | translate}}</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in contactIncome" ng-if="contactIncome.length>0">
                            <td>
                                <span>
                                  {{ item.income_expense_type_master }}
                                </span>
                            </td>
                            <td>
                                <span class="display-block pull-left mt5">
                                  {{ item.currency_code }} {{ item.amount | number:2 }}
                                </span>
                            </td>
                            <td>
                                <span title="{{ item.description}}">
                                  {{ item.description | limitchr:60 }}
                                </span>
                                <div class="form-buttons form-inline pull-right" ng-show="saveBtnShow()">
                                    <button type="button" ng-click="addIncome(item)"
                                            uib-tooltip="Edit"
                                            n-t='{"e_n":"Save Income","e_d":"Edit Income - {{ item.name }}, Client - {{cInfo.first_name}} {{cInfo.last_name }}"}'
                                            class="f12 btn btn-primary">
                                        <i class="fa fa-edit"></i>
                                    </button>
                                    <button type="button" class="f12 btn btn-danger"
                                            ng-click="deleteIncomeOrExpense(item)"
                                            uib-tooltip="Delete"
                                            n-t='{"e_n":"Delete Income","e_d":"Delete Income - {{ item.type_name }}, Client - {{cInfo.first_name}} {{cInfo.last_name }}"}'><i
                                            class="fa fa-trash"></i>
                                    </button>
                                </div>
                            </td>
                        </tr>
                        <tr ng-if="contactIncome.length<=0">
                            <td colspan="3" class="text-center">{{'general.no_data_found' | translate}}</td>
                        </tr>
                        </tbody>
                    </table>
                    <button type="button" ng-if="saveBtnShow()"
                            ng-click="addIncome()"
                            n-t='{"e_n":"{{sectionName}} Add income","e_d":"Client - {{item.comment}}"}'
                            class="btn btn-primary btn-dark border-none f12 pull-right"><i
                            class="fa fa-plus-circle"></i> {{'general.add' | translate}} {{'contact.contact_income' | translate}}
                    </button>
                </div>
            </div>
            <div class="col-sm-12 clearfix pl0 pt10">
                <div class="clearfix">
                    <label class="control-label">{{'contact.contact_expenses' | translate}}</label>
                </div>
                <div class="table-wrapper p0 c-table pt5 table-responsive">
                    <table class="table table-striped table-bordered table-hover display table-style" >
                        <thead>
                        <tr>
                            <th style="width: 5%;">{{'contact.type' | translate}}</th>
                            <th style="width: 30%;">{{'contact.amount' | translate}}</th>
                            <th style="width: 65%;">{{'contact.description' | translate}}</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in contactExpenses" ng-if="contactExpenses.length>0">
                            <td>
                                <span>
                                  {{ item.income_expense_type_master }}
                                </span>
                            </td>
                            <td>
                                <span class="display-block pull-left mt5">
                                  {{ item.currency_code }} {{ item.amount | number:2 }}
                                </span>
                            </td>
                            <td>
                                <span title="{{ item.description}}">
                                  {{ item.description | limitchr:60 }}
                                </span>
                                <div class="form-buttons form-inline pull-right" ng-show="saveBtnShow()">
                                    <button type="button" ng-click="addExpenses(item)"
                                            uib-tooltip="Edit"
                                            n-t='{"e_n":"Save Expense","e_d":"Edit Expense - {{ item.name }}, Client - {{cInfo.first_name}} {{cInfo.last_name }}"}'
                                            class="f12 btn btn-primary">
                                        <i class="fa fa-edit"></i>
                                    </button>
                                    <button type="button" class="f12 btn btn-danger"
                                            ng-click="deleteIncomeOrExpense(item)"
                                            uib-tooltip="Delete"
                                            n-t='{"e_n":"Delete Expense","e_d":"Delete Expense - {{ item.type_name }}, Client - {{cInfo.first_name}} {{cInfo.last_name }}"}'><i
                                            class="fa fa-trash"></i>
                                    </button>
                                </div>
                            </td>
                        </tr>
                        <tr ng-if="contactExpenses.length<=0">
                            <td colspan="3" class="text-center">{{'general.no_data_found' | translate}}</td>
                        </tr>
                        </tbody>
                    </table>
                    <button type="button" ng-if="saveBtnShow()"
                            ng-click="addExpenses()"
                            n-t='{"e_n":"{{sectionName}} Add Expense","e_d":"Client - {{item.comment}}"}'
                            class="btn btn-primary btn-dark border-none f12 pull-right"><i
                            class="fa fa-plus-circle"></i> {{'general.add' | translate}} {{'contact.contact_expenses' | translate}}
                    </button>
                </div>
            </div>
            <div class="col-sm-12 clearfix pl0 pt10">
                <div class="clearfix">
                    <label class="control-label">{{'contact.tangible_assets' | translate}}</label>
                </div>
                <div class="table-wrapper p0 c-table pt5 table-responsive">
                    <table class="table table-striped table-bordered table-hover display table-style" >
                        <thead>
                        <tr>
                            <th>{{'contact.type' | translate}}</th>
                            <th>{{'contact.acquisition_date' | translate}}</th>
                            <th>{{'contact.value' | translate}}</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in contactTangible" ng-init="field.in_collateral_database = item.in_collateral_database?item.in_collateral_database:'1';" ng-if="contactTangible.length>0">
                            <td>
                                <span>
                                  {{ item.type_name }}
                                </span>
                            </td>
                            <td>{{ item.aquisition_date | utcToLocal:'date' }}</td>
                            <td>
                                <span class="display-block pull-left">
                                  {{ item.currency_code }} {{ item.value | number:2 }}
                                </span>
                                <div class="form-buttons form-inline pull-right" ng-show="saveBtnShow()">
                                    <button type="button" ng-click="addTangible(item)"
                                            uib-tooltip="Edit"
                                            n-t='{"e_n":"Save Tangible Assets","e_d":"Edit Tangible Assets - {{ item.name }}, Client - {{cInfo.first_name}} {{cInfo.last_name }}"}'
                                            class="f12 btn btn-primary">
                                        <i class="fa fa-edit"></i>
                                    </button>
                                    <button type="button" class="f12 btn btn-danger"
                                            ng-click="deleteTangible(item)"
                                            uib-tooltip="Delete"
                                            n-t='{"e_n":"Delete Tangible Assets","e_d":"Delete Tangible Assets - {{ item.name }}, Client - {{cInfo.first_name}} {{cInfo.last_name }}"}'><i
                                            class="fa fa-trash"></i>
                                    </button>
                                </div>
                                <div ng-show="!saveBtnShow()">---</div>
                            </td>
                        </tr>
                        <tr ng-if="contactTangible.length<=0">
                            <td colspan="3" class="text-center">{{'general.no_data_found' | translate}}</td>
                        </tr>
                        </tbody>
                    </table>
                    <button type="button" ng-if="saveBtnShow()"
                            ng-click="addTangible()"
                            n-t='{"e_n":"{{sectionName}} Add children","e_d":"Client - {{cInfo.first_name}} {{cInfo.last_name }}"}'
                            class="btn btn-primary btn-dark border-none f12 pull-right"><i
                            class="fa fa-plus-circle"></i> {{'general.add' | translate}} {{'contact.tangible_assets' | translate}}
                    </button>
                </div>
            </div>
            <div class="col-sm-12 clearfix pl0 pt10">
                <div class="clearfix">
                    <label class="control-label">{{'contact.liabilities' | translate}}</label>
                </div>
                <div class="table-wrapper p0 c-table pt5 table-responsive">
                    <table class="table table-striped table-bordered table-hover display table-style" >
                        <thead>
                        <tr>
                            <th>{{'contact.type' | translate}}</th>
                            <th>{{'contact.maturity_date' | translate}}</th>
                            <th>{{'contact.amount' | translate}}</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in contactLiabilities" ng-if="contactLiabilities.length>0">
                            <td>
                                <span>
                                  {{ item.type_name }}
                                </span>
                            </td>
                            <td>
                                <span>
                                  {{ item.maturity_date | utcToLocal:'date' }}
                                </span>
                            </td>
                            <td>
                                <span class="display-block pull-left">
                                  {{ item.currency_code }} {{ item.amount | number:2 }}
                                </span>
                                <div class="form-buttons form-inline pull-right" ng-show="saveBtnShow()">
                                    <button type="button" ng-click="addLiabilities(item)"
                                            uib-tooltip="Edit"
                                            n-t='{"e_n":"Save children","e_d":"Edit children - {{ item.name }}, Client - {{cInfo.first_name}} {{cInfo.last_name }}"}'
                                            class="f12 btn btn-primary">
                                        <i class="fa fa-edit"></i>
                                    </button>
                                    <button type="button" class="f12 btn btn-danger"
                                            ng-click="deleteLiabilities(item)"
                                            uib-tooltip="Delete"
                                            n-t='{"e_n":"Delete Liabilities","e_d":"Delete Liabilities - {{ item.type_name }}, Client - {{cInfo.first_name}} {{cInfo.last_name }}"}'><i
                                            class="fa fa-trash"></i>
                                    </button>
                                </div>
                                <div ng-show="!saveBtnShow()">---</div>
                            </td>
                        </tr>
                        <tr ng-if="contactLiabilities.length<=0">
                            <td colspan="3" class="text-center">{{'general.no_data_found' | translate}}</td>
                        </tr>
                        </tbody>
                    </table>
                    <button type="button" ng-if="saveBtnShow()"
                            ng-click="addLiabilities()"
                            n-t='{"e_n":"{{sectionName}} Add children","e_d":"Client - {{cInfo.first_name}} {{cInfo.last_name }}"}'
                            class="btn btn-primary btn-dark border-none f12 pull-right"><i
                            class="fa fa-plus-circle"></i> {{'general.add' | translate}} {{'contact.liabilities' | translate}}
                    </button>
                </div>
            </div>
        </div>
    </div>
<script type="text/ng-template" id="add-income.html">
    <div class="right-modal modal-custom">

        <h3 class="right-modal-head ng-binding">
            {{'contact.contact_income' | translate}}
            <a ng-click="cancel()" uib-tooltip="Close" class="close-right pull-right"><img src="images/close.png"></a>
        </h3>
        <div class="form-bordered mt10 container" name="networkForm">
            <form name="form" novalidate ng-submit="form.$valid && save(field)">
                <div class="row clearfix">
                    <div class="col-sm-12">
                        <div class="col-sm-6">
                            <div class="form-group form-group-custom">
                                <label class="control-label display-block">Type * </label>
                                <select class="form-control"
                                    ng-init="masterDropDownList({'master_key':'contact_income_type'})" required
                                    ng-model="field.income_expense_type"
                                    name="contact_income_type"
                                    ng-options="item.id as item.name for item in dropDownItems['contact_income_type']" >
                                    <option value="">{{'general.select' | translate}}</option>
                                </select>
                            </div>
                            <div ng-if="form.contact_income_type.$error.required && form.$submitted" class="error-message">
                                {{'contact.contact_type_is_required' | translate}}
                            </div>
                        </div>
                        <div class="col-sm-12 clearfix p0">
                            <div  class="col-sm-6 clearfix">
                                <div class="form-group clearfix form-group-custom">
                                    <label class="control-label display-block">{{'contact.amount' | translate}} *</label>
                                    <input type="text" class="form-control" name="amount" required
                                           ui-number-mask="2" ng-model="field.amount">
                                </div>
                                <div ng-if="form.amount.$error.required && form.$submitted" class="error-message">
                                    {{'contact.contact_amount_is_required' | translate}}
                                </div>
                            </div>
                            <div  class="col-sm-6 clearfix">
                                <div class="form-group form-group-custom">
                                    <label class="control-label display-block">{{'contact.currency' | translate}} *</label>
                                    <select class="form-control" name="currency_id" required ng-model="field.currency_id" ng-options="item.currency_id as item.currency_code for item in currecnyList" >
                                        <option value="">{{'general.select' | translate}}</option>
                                    </select>
                                </div>
                                <div ng-if="form.currency_id.$error.required && form.$submitted" class="error-message">
                                    {{'general.general_currency_is_required' | translate}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-sm-12">
                        <div class="col-sm-12 edit-bg">
                            <label class="control-label display-inline-block">{{'contact.description' | translate}} * </label>
                            <div class="form-group clearfix form-group-custom">
                                <textarea class="form-control" required ng-model="field.description" name="description"></textarea>
                            </div>
                            <div ng-if="form.description.$error.required && form.$submitted" class="error-message">
                                {{'contact.description_is_required' | translate}}
                            </div>
                        </div>
                    </div>
                </div>
                <input type="hidden" ng-model="field.collateral_id"/>
                <div class="modal-footer border-none btn-custom mb0 clearfix text-center">
                    <button class="btn btn-primary f14" type="submit" >{{'general.save' | translate}}</button>
                    <button class="btn btn-default f14" type="button" ng-click="cancel()">{{'general.cancel' | translate}}</button>
                </div>
            </form>
        </div>
    </div>
</script>
<script type="text/ng-template" id="add-expense.html">
    <div class="right-modal modal-custom">

        <h3 class="right-modal-head ng-binding">
            {{'contact.contact_expenses' | translate}}
            <a ng-click="cancel()" uib-tooltip="Close" class="close-right pull-right"><img src="images/close.png"></a>
        </h3>
        <div class="form-bordered mt10 container" name="networkForm">
            <form name="form" novalidate ng-submit="form.$valid && save(field)">
                <div class="row clearfix">
                    <div class="col-sm-12">
                        <div class="col-sm-6">
                            <div class="form-group form-group-custom">
                                <label class="control-label display-block">Type * </label>
                                <select class="form-control"
                                    ng-init="masterDropDownList({'master_key':'contact_expence_type'})" required
                                    ng-model="field.income_expense_type"
                                    name="contact_income_type"
                                    ng-options="item.id as item.name for item in dropDownItems['contact_expence_type']" >
                                    <option value="">{{'general.select' | translate}}</option>
                                </select>
                            </div>
                            <div ng-if="form.contact_income_type.$error.required && form.$submitted" class="error-message">
                                {{'contact.contact_type_is_required' | translate}}
                            </div>
                        </div>
                        <div class="col-sm-12 clearfix p0">
                            <div  class="col-sm-6 clearfix">
                                <div class="form-group clearfix form-group-custom">
                                    <label class="control-label display-block">{{'contact.amount' | translate}} *</label>
                                    <input type="text" class="form-control" name="amount" required
                                           ui-number-mask="2" ng-model="field.amount">
                                </div>
                                <div ng-if="form.amount.$error.required && form.$submitted" class="error-message">
                                    {{'contact.contact_amount_is_required' | translate}}
                                </div>
                            </div>
                            <div  class="col-sm-6 clearfix">
                                <div class="form-group form-group-custom">
                                    <label class="control-label display-block">{{'contact.currency' | translate}} *</label>
                                    <select class="form-control" name="currency_id" required ng-model="field.currency_id" ng-options="item.currency_id as item.currency_code for item in currecnyList" >
                                        <option value="">{{'general.select' | translate}}</option>
                                    </select>
                                </div>
                                <div ng-if="form.currency_id.$error.required && form.$submitted" class="error-message">
                                    {{'general.general_currency_is_required' | translate}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="col-sm-12 edit-bg">
                            <label class="control-label display-inline-block">{{'contact.description' | translate}} * </label>
                            <div class="form-group clearfix form-group-custom">
                                <textarea class="form-control" required ng-model="field.description" name="description"></textarea>
                            </div>
                            <div ng-if="form.description.$error.required && form.$submitted" class="error-message">
                               {{'contact.description_is_required' | translate}}
                            </div>
                        </div>
                    </div>
                </div>
                <input type="hidden" ng-model="field.collateral_id"/>
                <div class="modal-footer border-none btn-custom mb0 clearfix text-center">
                    <button class="btn btn-primary f14" type="submit" >{{'general.save' | translate}}</button>
                    <button class="btn btn-default f14" type="button" ng-click="cancel()">{{'general.cancel' | translate}}</button>
                </div>
            </form>
        </div>
    </div>
</script>
<script type="text/ng-template" id="add-tangible-assets.html">
    <div class="right-modal modal-custom">

        <h3 class="right-modal-head ng-binding">
            {{'contact.tangible_assets' | translate}}
            <a ng-click="cancel()" uib-tooltip="Close" class="close-right pull-right"><img src="images/close.png"></a>
        </h3>
        <div class="form-bordered mt10 container" name="networkForm">
            <form name="form" novalidate ng-submit="form.$valid && save(field)">
                <div class="row clearfix">
                    <div class="col-sm-12">
                        <div class="col-sm-6">
                            <div class="form-group form-group-custom">
                                <label class="control-label display-block">Type * </label>
                                <select class="form-control"
                                    ng-init="masterDropDownList({'master_key':'contact_tangible_assets'})" required
                                    ng-model="field.type_of_asset"
                                    name="type_of_asset"
                                    ng-options="item.id as item.name for item in dropDownItems['contact_tangible_assets']" >
                                    <option value="">{{'general.select' | translate}}</option>
                                </select>
                            </div>
                            <div ng-if="form.type_of_asset.$error.required && form.$submitted" class="error-message">
                                {{'contact.contact_type_is_required' | translate}}
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group form-group-custom">
                                <label class="control-label display-block">{{'contact.acquisition_date' | translate}} *</label>
                                <div class="input-group">
                                    <input type="text" class="form-control white-bg" required
                                       uib-datepicker-popup
                                       datepicker-options="dateOptions"
                                       data-ng-model="field.aquisition_date" name="aquisition_date" is-open="field.isOpen"
                                       show-weeks="false" show-button-bar="false" readonly/>
                                    <span class="input-group-btn">
                                          <button type="button" class="btn btn-default border" ng-click="field.isOpen = true">
                                              <i class="fa fa-calendar"></i>
                                          </button>
                                    </span>
                                </div>
                                <div ng-if="form.aquisition_date.$error.required && form.$submitted" class="error-message">
                                    {{'general.general_date_is_required' | translate}}
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 clearfix p0">
                            <div  class="col-sm-6 clearfix">
                                <div class="form-group clearfix form-group-custom">
                                    <label class="control-label display-block">{{'contact.value' | translate}} *</label>
                                    <input type="text" class="form-control" name="value" required
                                           ui-number-mask="2" ng-model="field.value">
                                </div>
                                <div ng-if="form.value.$error.required && form.$submitted" class="error-message">
                                    {{'general.general_value_is_required' | translate}}
                                </div>
                            </div>
                            <div  class="col-sm-6 clearfix">
                                <div class="form-group form-group-custom">
                                    <label class="control-label display-block">{{'contact.currency' | translate}} *</label>
                                    <select class="form-control" name="currency_id" required ng-model="field.currency_id" ng-options="item.currency_id as item.currency_code for item in currecnyList" >
                                        <option value="">{{'general.select' | translate}}</option>
                                    </select>
                                </div>
                                <div ng-if="form.currency_id.$error.required && form.$submitted" class="error-message">
                                    {{'general.general_currency_is_required' | translate}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-lg-12 plr30">
                        <label class="control-label">{{'contact.attachments' | translate}}</label>
                        <attachment-files ng-model="field.file.attachment" module-id="1"  crm-module-id="{{currentContactViewId}}" allow-multiple="0"></attachment-files>
                        <attachment-list-template get-data="field.attachment" attachment-delete="true" attachment-module="contact_assets"></attachment-list-template>
                    </div>
                    <div class="col-sm-12">
                        <div class="col-sm-12 edit-bg">
                            <label class="control-label display-inline-block">{{'contact.comments' | translate}} </label>
                            <div class="form-group clearfix form-group-custom">
                                <textarea class="form-control" ng-model="field.comment" name="comment"></textarea>
                            </div>
                        </div>
                        <div class="col-sm-6 pt5">
                            <label class="control-label display-block">{{'contact.in_collateral_database' | translate}}</label>
                            <div class="form-group" ng-init="field.in_collateral_database = field.in_collateral_database?field.in_collateral_database:'0'">
                                <div class="radio display-inline-block mr15 mt5">
                                    <label class="f12">
                                        <input type="radio" ng-model="field.in_collateral_database" name="in_collateral_database" class="" value="1">
                                        {{'general.yes' | translate}}</label>
                                </div>
                                <div class="radio display-inline-block mr15 mt5">
                                    <label class="f12">
                                        <input type="radio" ng-model="field.in_collateral_database" name="in_collateral_database" value="0">
                                        {{'general.no' | translate}}</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12" ng-show="field.in_collateral_database==1">
                        <div class="p15 bg-box" ng-init="asyncSelected=field.in_collateral_database==1?field.collateral_number:'';">
                            <div class="mapping-search">
                                <input class="form-control" style="padding: 8px;"
                                       placeholder="Search Collateral"
                                       type="text" ng-model="asyncSelected"
                                       typeahead-on-select="onSelect($item, $model, $label)"
                                       uib-typeahead="collateral.collateral_number as collateral.collateral_number for collateral in getCollateralList($viewValue)"
                                       typeahead-template-url="contactListTemplate.html"
                                       typeahead-loading="loadingContacts"
                                       typeahead-no-results="noResults">
                                <i class="fa fa-search icon-search f16 mt4"></i>
                                <a data-ng-show="visibleAddButton" class="go"><i
                                        class="fa fa-arrow-circle-right"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--<div class="col-sm-12 clearfix" ng-show="isUser!=''?true:false;">
                    <div class="row clearfix">
                        <div class="col-sm-12">
                            <div class="col-lg-6">
                                <div class="form-group form-group-custom">
                                    <label class=" display-block">{{asyncSelected}} *</label>
                                    &#45;&#45;{{$item}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>-->
                <input type="hidden" ng-model="field.collateral_id"/>
                <div class="modal-footer border-none btn-custom mb0 clearfix text-center">
                    <button class="btn btn-primary f14" type="submit" >{{'general.save' | translate}}</button>
                    <button class="btn btn-default f14" type="button" ng-click="cancel()">{{'general.cancel' | translate}}</button>
                </div>
            </form>
        </div>
    </div>
</script>
<script type="text/ng-template" id="add-liabilities.html">
    <div class="right-modal modal-custom">

        <h3 class="right-modal-head ng-binding">
            {{'contact.liabilities' | translate}}
            <a ng-click="cancel()" uib-tooltip="Close" class="close-right pull-right"><img src="images/close.png"></a>
        </h3>
        <div class="form-bordered mt10 container" name="networkForm">
            <form name="form" novalidate ng-submit="form.$valid && save(field)">
                <div class="row clearfix">
                    <div class="col-sm-12">
                        <div class="col-sm-6 clearfix">
                            <div class="form-group form-group-custom">
                                <label class="control-label display-block">{{'contact.type' | translate}} *</label>
                                <select class="form-control" required
                                        ng-init="masterDropDownList({'master_key':'contact_liabilities'})"
                                        ng-model="field.type_of_liabilities"
                                        name="type_of_liabilities"
                                        ng-options="item.id as item.name for item in dropDownItems['contact_liabilities']">
                                    <option value="">{{'general.select' | translate}}</option>
                                </select>
                            </div>
                            <div ng-if="form.type_of_liabilities.$error.required && form.$submitted" class="error-message">
                                {{'contact.contact_type_is_required' | translate}}
                            </div>
                        </div>
                        <div class="col-lg-6 clearfix">
                            <div class="form-group form-group-custom">
                                <label class="control-label display-block">{{'contact.maturity_date' | translate}} *</label>
                                <div class="input-group">
                                    <input type="text" class="form-control white-bg" required
                                           uib-datepicker-popup
                                           datepicker-options="dateOptions"
                                           data-ng-model="field.maturity_date" name="maturity_date" is-open="field.isOpen"
                                           show-weeks="false" show-button-bar="false" readonly/>
                                         <span class="input-group-btn">
                                          <button type="button" class="btn btn-default border" ng-click="field.isOpen = true">
                                              <i class="fa fa-calendar"></i>
                                          </button>
                                        </span>
                                </div>
                            </div>
                            <div ng-if="form.maturity_date.$error.required && form.$submitted" class="error-message">
                                {{'contact.contact_maturity_date_is_required' | translate}}
                            </div>
                        </div>
                        <div class="col-sm-12 p0">
                            <div class="col-sm-6 clearfix">
                                <div class="form-group clearfix form-group-custom">
                                    <label class="control-label display-block">{{'contact.amount' | translate}} *</label>
                                    <input type="text" class="form-control" name="amount" required
                                           ui-number-mask="2" ng-model="field.amount">
                                </div>
                                <div ng-if="form.amount.$error.required && form.$submitted" class="error-message">
                                    {{'contact.contact_amount_is_required' | translate}}
                                </div>
                            </div>
                            <div class="col-sm-6 clearfix">
                                <div class="form-group clearfix form-group-custom">
                                    <label class="control-label display-block">{{'contact.currency' | translate}} *</label>
                                    <select class="form-control" name="currency_id" required ng-model="field.currency_id" ng-options="item.currency_id as item.currency_code for item in currecnyList" >
                                        <option value="">{{'general.select' | translate}}</option>
                                    </select>
                                </div>
                                <div ng-if="form.currency_id.$error.required && form.$submitted" class="error-message">
                                    {{'general.general_currency_is_required' | translate}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="col-sm-12 edit-bg">
                            <label class="control-label display-inline-block">{{'contact.comments' | translate}}</label>
                            <div class="form-group clearfix form-group-custom">
                                <textarea class="form-control" ng-model="field.comment" name="comment"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <input type="hidden" class="form-control" name="age" ng-model="field.Id_contact_children">
                <div class="modal-footer border-none btn-custom mb0 clearfix text-center">
                    <button class="btn btn-primary f14" type="submit">Save</button>
                    <button class="btn btn-default f14" type="button" ng-click="cancel()">{{'general.cancel' | translate}}</button>
                </div>
            </form>

        </div>
    </div>
</script>
<script type="text/ng-template" id="contactListTemplate.html">
    <a>
        <div class="list-item p5 clearfix">
            <div class="list-desc col-sm-8">
                <p class="list-item-title blue">{{match.model.collateral_number}}</p>
            </div>
        </div>
    </a>
</script>