<form class="form-horizontal form-bordered" name="form" detect-form-change="formChangeEvent()" novalidate>
    <div class="col-sm-12 clearfix clearboth p0">
        <div class="col-sm-4 clearfix">
            <label class="control-label">{{'contact.credit_rating' | translate}} </label>
            <div class="form-group clearfix form-group-custom">
                <input type="text" class="form-control" name="client_financial_credit_rating"
                       ng-model="contact.client_financial_credit_rating">
            </div>
        </div>
        <div class="col-sm-2 pl0 mt20 pt10 -ml8">
            <a href="javascript:;"
               ng-click="client_financial_credit_rating_description =!client_financial_credit_rating_description "
               uib-tooltip="add more"><i
                    class="icon-clipped-file2 f21"></i></a>
        </div>
        <div class="col-sm-12 edit-bg"   ng-show="client_financial_credit_rating_description">
            <label class="control-label"> {{'Description' | translate}}: </label>
                         <textarea name="client_financial_credit_rating_description" ckeditor=""
                                   ng-model="contact.client_financial_credit_rating_description"
                                   class="form-control ">
                         </textarea>
        </div>
        <div class="col-sm-12 p0 clearfix">
            <div class="col-sm-4">
                <label class="control-label">{{'contact.rating_agency' | translate}}</label>
                <div class="form-group clearfix form-group-custom">
                    <select class="form-control"
                            ng-init="masterDropDownList({'master_key':'credit_rating_agency'})"
                            ng-model="contact.credit_rating_agency"
                            name="client_financial_credit_rating_agency"
                            ng-options="item.name as item.name for item in dropDownItems['credit_rating_agency']"
                    >
                        <option value="">{{'general.general_select' | translate}}</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-sm-12 clearfix">

            <label class="control-label">{{'contact.credit_reference_reports' | translate}}</label>
            <attachment-view module-id="1" form-key="{{form_key}}" field-key="client_financial_credit_reference_reports"
                             ref-id="{{currentContactViewId}}"></attachment-view>
        </div>


        <div class="col-sm-12 clearfix">
            <label class="control-label">{{'contact.credit_experience_with_sanadcom' | translate}}</label>
            <exposure-component componet-parmes='{"crm_contact_id":crm_contact_id}'  componet-type="contact" ></exposure-component>
        </div>


        <!--<div class="col-sm-12 clearfix m10 pt10 excel-table" hot-size>
            <div ng-init="contact.personal_financial_information = []"></div>
            <div ng-if="!contact.personal_financial_information">
                <div ng-init='contact.personal_financial_information = [{"bank":"","branch":"","opening_year":"","account_name":"","account_number":"","currency":"","balance":""}]'></div>
            </div>
            <p class="f11 gray mb5 text-right"><em>Here you can directly copy and paste excel document.</em></p>
            <hot-table settings="settings" row-headers="rowHeaders" min-spare-rows="minSpareRows"
                       datarows="contact.personal_financial_information">&lt;!&ndash; width="700"&ndash;&gt;
                <hot-column data="bank" title="'Bank'"></hot-column>
                <hot-column data="branch" title="'Branch'" type="'text'"></hot-column>
                <hot-column data="opening_year" title="'Year of Opening'"></hot-column>
                <hot-column data="account_name" title="'Account Name'"></hot-column>
                <hot-column data="account_number" title="'Acc Number'"></hot-column>
                <hot-column data="currency" title="'Currency'"></hot-column>
                <hot-column data="balance" title="'Balance'" type="'numeric'" format="'0,0.00'"></hot-column>
                &lt;!&ndash; <hot-column data="address" title="'Address'" width="150"></hot-column>
                 <hot-column data="product.description" title="'Favorite food'" type="'autocomplete'">
                     <hot-autocomplete datarows="description in product.options"></hot-autocomplete>
                 </hot-column>
                 <hot-column data="price" title="'Price'" type="'numeric'" width="80" format="'$ 0,0.00'"></hot-column>&ndash;&gt;
            </hot-table>
        </div>-->
        <div class="col-sm-12 btn-custom clearfix text-center" ng-show="permission[form_key+'_add']">
            <button type="submit" class="btn btn-primary btn-sm mt10" tab-next
                    ng-click="submitForm(contact,formDetails,form)"
                    n-t='{"e_n":"Save {{sectionName}}","e_d":"","form":"form.$valid"}'>{{'general.save' | translate}}
            </button>
        </div>

    </div>

</form>