<form name="form" class="form-horizontal form-bordered" novalidate
      detect-form-change="formChangeEvent()"
      ng-submit="form.$valid && submitForm(contact,formDetails,form)">
    <div class="row clearfix">
        <div class="col-sm-12">
            <div class="col-lg-3">
                <label class="control-label">{{'contact.prefix' | translate}} *</label>
                <div class="form-group form-group-custom" ng-init="masterDropDownList({'master_key': 'contact_prefix'})">
                    <select class="form-control chosen-choices" chosen
                            required
                            name="client_prefix"
                            ng-model="contact.client_prefix"
                            ng-options="s.id as s.name for s in dropDownItems['contact_prefix']">
                        <option value="">{{'general.select' | translate}}</option>
                    </select>
                </div>
                <div ng-if="form.client_prefix.$error.required && form.$submitted" class="error-message">
                    {{'general.required' | translate}}
                </div>
            </div>
            <div class="col-sm-3">
                <label class="control-label">{{'general.first_name' | translate}} *</label>
                <div class="form-group clearfix form-group-custom">
                    <input type="text" class="form-control" ng-model="contact.client_first_name"
                           name="client_first_name" required>

                    <div ng-if="form.client_first_name.$error.required && form.$submitted" class="error-message">{{'general.enter_first_name' | translate}}
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <label class="control-label">{{'general.last_name' | translate}} *</label>
                <div class="form-group clearfix form-group-custom">
                    <input type="text" class="form-control" ng-model="contact.client_last_name" name="client_last_name"
                           required>
                    <div ng-if="form.client_last_name.$error.required && form.$submitted" class="error-message">
                        {{'general.enter_last_name' | translate}}
                    </div>
                </div>
            </div>
            <div class="col-sm-3">
                <label class="control-label">{{'contact.gender' | translate}}</label>

                <div class="form-group clearfix form-group-custom">
                    <div class="radio display-inline-block mr15 mt5">
                        <div ng-if="contact.client_gender == ''"><span ng-init="contact.client_gender='Male'"></span>
                        </div>
                        <label class="f12"><input type="radio" ng-model="contact.client_gender" name="client_gender"
                                                  value="Male">
                            {{'general.general_male' | translate}}</label></div>
                    <div class="radio display-inline-block">
                        <label class="f12"><input type="radio" ng-model="contact.client_gender" name="client_gender"
                                                  value="Female">
                            {{'general.general_female' | translate}}</label>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-12">
            <div class="col-sm-4">
                <label class="control-label">{{'general.date_of_birth' | translate}}</label>

                <div class="form-group clearfix form-group-custom">
                    <div class="input-group">
                        <input type="text" class="form-control" uib-datepicker-popup="yyyy-MM-dd"
                               max-date="currentDateTime"
                               data-ng-model="contact.client_date_of_birth" type="text" name="client_date_of_birth"
                               is-open="openCal"
                               show-weeks="false" show-button-bar="false" readonly max-date="maxDate"/>
                          <span class="input-group-btn">
                            <button type="button" class="btn btn-default border" ng-click="openCal = true">
                                <i class="fa fa-calendar"></i></button>
                          </span>
                    </div>
                </div>
            </div>

            <div class="col-sm-4 ">
                <label class="control-label">{{'general.place_of_birth' | translate}}</label>

                <div class="form-group clearfix form-group-custom">
                    <input type="text" class="form-control" ng-model="contact.client_place_of_birth"
                           name="client_place_of_birth">
                </div>
            </div>
            <div class="col-sm-4" ng-init="getCountryList({'country_visible':1})">
                <label class="control-label">{{'general.Nationality' | translate}} *</label>

                <div class="form-group clearfix form-group-custom">
                    <select class="form-control" ng-model="contact.client_nationality" name="client_nationality"
                            ng-options="country.nationality as country.nationality for country in Countries" required>
                        <option value="">{{'general.general_select' | translate}}</option>
                    </select>
                    <div ng-if="form.client_nationality.$error.required && form.$submitted" class="error-message">
                        {{'general.required' | translate}}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="col-sm-4 ">
                <label class="control-label">{{'contact.contact_types' | translate}}</label>
                <div class="form-group clearfix form-group-custom">
                    <select class="form-control"
                            ng-init="getContactType()"
                            name="partner_type" ng-model="contact.partner_type"
                            ng-options="contactType.crm_contact_type_name as contactType.crm_contact_type_name for contactType in contactTypes" required>
                        <option value="">{{'general.select' | translate}}</option>
                    </select>
                    <div ng-if="form.partner_type.$error.required && form.$submitted" class="error-message">
                        {{'general.required' | translate}}
                    </div>
                </div>
            </div>
            <div class="col-sm-4">
                <label class="control-label">{{'contact.education' | translate}} </label>
                <div class="form-group form-group-custom" ng-init="masterDropDownList({'master_key': 'contact_education'})">
                    <select class="form-control chosen-choices" chosen
                            name="contact_education"
                            ng-model="contact.client_education"
                            ng-options="s.id as s.name for s in dropDownItems['contact_education']">
                        <option value="">{{'general.select' | translate}}</option>
                    </select>
                </div>
                <!--<div ng-if="form.contact_profession.$error.required && form.$submitted" class="error-message">
                    {{'general.required' | translate}}
                </div>-->
            </div>
            <div class="col-sm-4">
                <label class="control-label">{{'contact.profession' | translate}} </label>
                <div class="form-group form-group-custom" ng-init="masterDropDownList({'master_key': 'contact_profession'})">
                    <select class="form-control chosen-choices" chosen
                            name="contact_profession"
                            ng-model="contact.client_profession"
                            ng-options="s.id as s.name for s in dropDownItems['contact_profession']">
                        <option value="">{{'general.select' | translate}}</option>
                    </select>
                </div>
                <!--<div ng-if="form.contact_profession.$error.required && form.$submitted" class="error-message">
                    {{'general.required' | translate}}
                </div>-->
            </div>
        </div>
        <div class="col-sm-12">
            <div class="col-sm-4">
                <label class="control-label">{{'contact.contact_origin' | translate}} </label>
                <div class="form-group form-group-custom" ng-init="masterDropDownList({'master_key': 'contact_origin'})">
                    <select class="form-control chosen-choices" chosen
                            name="contact_origin"
                            ng-model="contact.client_contact_origin"
                            ng-options="s.id as s.name for s in dropDownItems['contact_origin']">
                        <option value="">{{'general.select' | translate}}</option>
                    </select>
                </div>
            </div>
        </div>



        <!-- hide for standard contact-->
        <!-- <div ng-if="crm_contact_type_id == 3">-->
<!--        <div class="col-sm-12">
            <div class="col-sm-4">
                <label class="control-label">Place/Date of Issue</label>

                <div class="form-group clearfix form-group-custom">
                    <input type="text" class="form-control" ng-model="contact.issued_from" name="issued_from">
                </div>
            </div>
            <div class="col-sm-4">
                <label class="control-label">Marital Status</label>

                <div class="form-group clearfix form-group-custom">
                    <div class="radio display-inline-block mr15 mt5">
                        <div ng-if="contact.marital_status == ''"><span
                                ng-init="contact.marital_status='Yes'"></span>
                        </div>
                        <label class="f12"><input type="radio" ng-model="contact.marital_status"
                                                  name="marital_status"
                                                  value="Yes">
                            Yes</label></div>
                    <div class="radio display-inline-block">
                        <label class="f12"><input type="radio" ng-model="contact.marital_status"
                                                  name="marital_status"
                                                  value="No">
                            No</label></div>
                </div>
            </div>
            <div class="col-sm-4">
                <label class="control-label">Education</label>

                <div class="form-group clearfix form-group-custom">
                    <input type="text" class="form-control" name="education" ng-model="contact.education">
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="col-sm-4">
                <label class="control-label">Employment Status</label>

                <div class="form-group clearfix form-group-custom">
                    <input type="text" class="form-control" name="employment_status"
                           ng-model="contact.employment_status">
                </div>
            </div>
            <div class="col-sm-4">
                <label class="control-label">Employment</label>

                <div class="form-group clearfix form-group-custom">
                    <input type="text" class="form-control" name="employment" ng-model="contact.employment">
                </div>
            </div>
            <div class="col-sm-4">
                <label class="control-label">Profession</label>

                <div class="form-group clearfix form-group-custom">
                    <input type="text" class="form-control" name="profession" ng-model="contact.profession">
                </div>
            </div>
        </div>
        <div class="col-sm-12 clearfix">
            <div class="col-lg-12">
                <label class="control-label">Is the client in good health?</label>

                <div class="form-group clearfix form-group-custom">
                    <div class="radio display-inline-block mr15">
                        <div ng-if="contact.client_good_health == ''"><span
                                ng-init="contact.client_good_health='Yes'"></span></div>
                        <label class="f12">
                            <input type="radio" ng-model="contact.client_good_health" name="client_good_health"
                                   value="Yes">
                            Yes</label>
                    </div>
                    <div class="radio display-inline-block">
                        <label class="f12">
                            <input type="radio" ng-model="contact.client_good_health" name="client_good_health"
                                   value="No">
                            No
                        </label>
                    </div>
                    &lt;!&ndash;<textarea placeholder="Comments" class="width-full p10 f14">Comments</textarea>&ndash;&gt;
                </div>
            </div>
        </div>
        <div class="col-sm-12 clearfix">
            <div class="col-lg-12">
                <label class="control-label">Does the client have life insurance</label>

                <div class="form-group clearfix form-group-custom">
                    <div class="radio display-inline-block mr15">
                        <div ng-if="contact.client_life_insurance == ''"><span
                                ng-init="contact.client_life_insurance='Yes'"></span></div>
                        <label class="f12"><input type="radio" ng-model="contact.client_life_insurance"
                                                  name="client_life_insurance" value="Yes">
                            Yes</label></div>
                    <div class="radio display-inline-block">
                        <label class="f12"><input type="radio" ng-model="contact.client_life_insurance"
                                                  name="client_life_insurance" value="No">
                            No</label>
                    </div>
                    &lt;!&ndash;<textarea placeholder="Comments" class="width-full p10 f14">Comments</textarea>&ndash;&gt;
                </div>
            </div>
        </div>-->
        <!--</div>-->
        <!-- hide for standard contact-->
        <!-- <div class="col-sm-12">
             <div class="col-sm-4">
                 <label class="control-label">ID Number *</label>

                 <div class="form-group clearfix form-group-custom">
                     <input type="text" class="form-control" ng-model="contact.client_type_of_id" name="client_type_of_id" required>
                     <span ng-if="form.client_type_of_id.$error.required && form.$submitted"
                           class="error-message ">Enter ID Number.</span>
                 </div>
             </div>

         </div>-->

        <div class="col-sm-12 clearfix pt10 plr30">
            <div class="clearfix">
                <!--<p class="f11 ash display-inline-block"><em>Type of ID *</em></p>-->
                <label class="control-label">{{'contact.Contact_identification_documents' | translate}} *</label>
            </div>
            <div ng-if="contact" class="table-wrapper p0 c-table pt5 table-responsive"> <!--contact.client_type_of_id=(contact.client_type_of_id)?contact.client_type_of_id:[]-->
                <table class="table table-striped table-bordered table-hover display table-style" >
                    <thead>
                    <tr>
                        <th>{{'contact.contact_type_of_id' | translate}}</th>
                        <th>{{'contact.contact_number' | translate}}</th>
                        <th>{{'contact.contact_action' | translate}}</th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr ng-repeat="item in identityDetails">
                        <td>
                            <span >
                              {{ item.contact_identification_name }}
                            </span>
                        </td>
                        <td>
                            <span>
                              {{ item.number}}
                            </span>
                        </td>
                        <td style="white-space: nowrap">
                            <div class="form-buttons form-inline" ng-show="saveBtnShow()">
                                <button type="button" ng-click="AddIdentityDocument(item)"
                                        uib-tooltip="Edit"
                                        n-t='{"e_n":"Save type of ID","e_d":"Edit type ID - {{ item.contact_identification_name }}, Client - {{cInfo.first_name}} {{cInfo.last_name }}"}'
                                        class="f12 btn btn-primary">
                                    <i class="fa fa-edit"></i>
                                </button>
                                <button type="button" class="f12 btn btn-danger"
                                        ng-click="deleteIdentityDoc(item)"
                                        uib-tooltip="Delete"
                                        n-t='{"e_n":"Delete type of ID","e_d":"Delete type ID - {{ item.contact_identification_name }}, Client - {{cInfo.first_name}} {{cInfo.last_name }}"}'><i
                                        class="fa fa-trash"></i>
                                </button>
                            </div>
                            <div ng-show="!saveBtnShow()">---</div>
                            <!--<div class="buttons" ng-show="!editform.$visible">
                                <button type="button" class="f12 btn btn-primary" ng-click="editform.$show()"
                                        uib-tooltip="Edit"
                                        n-t='{"e_n":"{{sectionName}} Type id Save","e_d":"Add type ID - {{ item.document_type }}, Client - {{cInfo.first_name}} {{cInfo.last_name }}"}'><i
                                        class="fa fa-edit"></i></button>
                                <button type="button" class="f12 btn btn-danger"
                                        uib-tooltip="Delete"
                                        ng-click="contact.client_type_of_id.splice($index, 1)"
                                        n-t='{"e_n":"{{sectionName}} Type id Delete","e_d":"Add type ID - {{ item.document_type }}, Client - {{cInfo.first_name}} {{cInfo.last_name }}"}'>
                                    <i
                                            class="fa fa-trash"></i></button>
                            </div>-->
                        </td>
                    </tr>
                    </tbody>
                </table>
                <!--<button type="button"
                        ng-click="inserted = {document_type:'',number:''}; contact.client_type_of_id == null ? contact.client_type_of_id = [] : contact.client_type_of_id; contact.client_type_of_id.push(inserted)"
                        n-t='{"e_n":"{{sectionName}} Add new Type Id","e_d":"Client - {{cInfo.first_name}} {{cInfo.last_name }}"}'
                        class="btn btn-primary btn-dark border-none f12 pull-right"><i
                        class="fa fa-plus-circle"></i> Add New
                </button>-->
                <button type="button" ng-if="saveBtnShow()"
                        ng-click="AddIdentityDocument()"
                        n-t='{"e_n":"{{sectionName}} Add new Type Id","e_d":"Client - {{cInfo.first_name}} {{cInfo.last_name }}"}'
                        class="btn btn-primary btn-dark border-none f12 pull-right"><i
                        class="fa fa-plus-circle"></i> {{'contact.contact_add_new' | translate}}
                </button>
                <!-- buttons -->
                <div class="btn-form pull-right" ng-show="editform.$visible">

                    <button type="button" ng-click="AddIdentityDocument()" ng-disabled="editform.$waiting"
                            class="btn btn-dark f12"
                            n-t='{"e_n":"{{sectionName}} Type id Save","e_d":"Client - {{cInfo.first_name}} {{cInfo.last_name }}"}'>{{'general.general_save' | translate}}
                    </button>
                    <button type="button" ng-disabled="editform.$waiting" ng-click="editform.$cancel()"
                            class="f12 btn btn-default"
                            n-t='{"e_n":"{{sectionName}} Type id Cancel","e_d":"Client - {{cInfo.first_name}} {{cInfo.last_name }}"}'>{{'general.general_cancel' | translate}}
                    </button>
                </div>
            </div>
        </div>

        <div class="col-sm-12 edit-bg plr30" >
            <label class="control-label"> {{'contact.contact_comment' | translate}}: </label>
             <textarea name="client_comments_on_basic_information" ckeditor=""
                       ng-model="contact.client_comments_on_basic_information"
                       class="form-control ">
             </textarea>
        </div>

        <div class="col-sm-12 btn-custom clearfix text-center" ng-show="permission[form_key+'_add']">
            <button type="submit" class="btn btn-primary f14 next-btn"
                    n-t='{"e_n":"Save {{sectionName}}","e_d":"Client - {{cInfo.first_name}} {{cInfo.last_name }}"}'>
                {{'general.general_save' | translate}}
            </button>
        </div>
    </div>
</form>
<script type="text/ng-template" id="add-identity-document.html">
    <div class="right-modal modal-custom">

        <h3 class="right-modal-head ng-binding">
            {{'contact.Contact_identification_documents' | translate}}
            <a ng-click="cancel()" uib-tooltip="Close" class="close-right pull-right"><img src="images/close.png"></a>
        </h3>
        <div class="form-horizontal form-bordered mt10 container" name="networkForm" ng-init="getIdentityList({'master_key':'type_of_id'})">
            <form name="form" novalidate ng-submit="form.$valid && save(field)">
                <div class="row clearfix">
                    <div class="col-sm-12">
                        <div class="col-lg-6">
                            <div class="form-group form-group-custom">
                                <label class=" display-block">{{'contact.contact_type_of_id' | translate}} *</label>
                                <select class="form-control chosen-choices" chosen
                                        required
                                        name="type_of_id"
                                        ng-model="field.type_of_id"
                                        ng-options="s.id as s.name for s in proofList">
                                    <option value="">{{'general.select' | translate}}</option>
                                </select>
                            </div>
                            <div ng-if="form.type_of_id.$error.required && form.$submitted" class="error-message">
                                {{'general.general_this_field_is_required' | translate}}
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="form-group clearfix form-group-custom mb10">
                                <label class="display-block"> {{'general.general_expiry_date' | translate}} : </label>
                                <div class="form-group clearfix form-group-custom">
                                    <div class="input-group">
                                        <input type="text" class="form-control" uib-datepicker-popup="yyyy-MM-dd"
                                           data-ng-model="field.expiry_date" type="text"
                                           name="date"
                                           is-open="openCal"
                                           show-weeks="false" show-button-bar="false" readonly/>
                                          <span class="input-group-btn">
                                            <button type="button" class="btn btn-default border" ng-click="openCal = true">
                                                <i class="fa fa-calendar"></i>
                                            </button>
                                          </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="col-sm-12">
                        <div class="col-lg-6">
                            <div class="form-group form-group-custom">
                                <label class=" display-block">{{'contact.Number' | translate}} *</label>
                                <input type="text" class="form-control" name="number" ng-model="field.number" required>
                            </div>
                            <div ng-if="form.number.$error.required && form.$submitted" class="error-message">
                                {{'general.general_this_field_is_required' | translate}}
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <label class="control-label">{{'contact.attachments' | translate}}</label>
                        <attachment-files ng-model="field.file.attachments"></attachment-files>
                        <attachment-list-template get-data="field.document"></attachment-list-template>
                    </div>

                </div>
                <div class="modal-footer border-none btn-custom mb0 clearfix text-center">
                    <button class="btn btn-primary f14" type="submit">{{'general.save' | translate}}</button>
                    <button class="btn btn-default f14" type="button" ng-click="cancel()">{{'general.cancel' | translate}}</button>
                </div>
            </form>

        </div>
    </div>
</script>

