<form editable-form name="form" class="form-horizontal form-bordered" novalidate detect-form-change="formChangeEvent()" ng-submit="submitForm(contact,formDetails,form)">
    <div class="row clearfix">

        <div class="col-sm-12">
            <div class="col-sm-12 edit-bg">
                    <label class="control-label display-inline-block">{{'contact.information_on_the_client' | translate}} *</label>
                    <div  ng-if="form.client_information.$error.required && form.$submitted" class="error-message  display-inline-block ml5">{{'general.general_this_field_is_required' | translate}}</div>
                <div class="form-group clearfix form-group-custom">
                   <!-- <div name="client_information" required  ckeditor="{language: 'en',allowedContent: true,entities: false}" ng-model="contact.client_information" ></div>-->
                    <textarea class="form-control"
                              ckeditor="" ng-model="contact.client_information" name="client_information" required ></textarea>
                </div>
            </div>
            <div class="col-sm-12 edit-bg">
                <label class="control-label display-inline-block">{{'contact.personality_of_the_lient' | translate}} *</label>
                <div ng-if="form.client_personality.$error.required && form.$submitted" class="error-message display-inline-block ml5">{{'general.general_this_field_is_required' | translate}}</div>
                <div class="form-group clearfix form-group-custom">
                        <textarea class="form-control"
                                  ckeditor="" ng-model="contact.client_personality" required  name="client_personality"></textarea>
                </div>
            </div>
            <div class="col-sm-12 edit-bg">
                <label class="control-label display-inline-block">{{'contact.education' | translate}} </label>
                <!--<div ng-if="form.client_education.$error.required && form.$submitted" class="error-message display-inline-block ml5">This field is required</div>-->
                <div class="form-group clearfix form-group-custom">
                        <textarea class="form-control"
                                  ckeditor="" ng-model="contact.client_education" name="client_education"></textarea>
                </div>
            </div>
            <div class="col-sm-12 edit-bg">
                <label class="control-label display-inline-block">{{'contact.employement' | translate}} </label>
                <!--<div ng-if="form.client_eployeement.$error.required && form.$submitted" class="error-message display-inline-block ml5">This field is required</div>-->
                <div class="form-group clearfix form-group-custom">
                        <textarea class="form-control"
                                  ckeditor="" ng-model="contact.client_eployeement" name="client_eployeement"></textarea>
                </div>
            </div>
        </div>

        <div class="col-sm-12 btn-custom clearfix text-center" ng-show="permission[form_key+'_add']">
            <button type="submit" class="btn btn-primary f14 next-btn"
                    n-t='{"e_n":"Save {{sectionName}}","e_d":"","form":"form.$valid"}'>
                Save
            </button>
        </div>
    </div>
</form>
