<form class="form-horizontal form-bordered" name="form" novalidate
      detect-form-change="formChangeEvent()"
      ng-submit="form.$valid && submitForm(contact,formDetails,form)">
    <div class="row clearfix">
        <div class="col-sm-12 clearfix">
            <div class="col-sm-6">
                <div class="col-sm-5 pl0" ng-init="getCountryList()">
                    <label class="control-label">{{'general.isd' | translate}} *</label>
                    <div class="form-group clearfix form-group-custom">
                        <select class="form-control p0"
                                ng-model="contact.client_phone_number_isd"
                                name="client_phone_number_isd"
                                ng-options="item.isd_code as (item.country_name +' '+ item.isd_code) for item in ISDCodes" required
                        >
                            <option value="">{{'general.general_select' | translate}}</option>
                        </select>
                    </div>
                    <div ng-if="form.client_phone_number_isd.$error.required && form.$submitted "
                         class="error-message">
                        {{'contact.contact_select_isd_code' | translate}}
                    </div>
                </div>
                <div class="col-sm-7 p0">
                    <label class="control-label">{{'general.phone_number_main' | translate}} *</label>
                    <div class="form-group clearfix form-group-custom">
                        <input type="text" class="form-control" name="client_phone_number"
                               ng-model="contact.client_phone_number1"
                               only-digits
                               ng-minlength="7" ng-maxlength="15" required>
                        <div ng-if="form.client_phone_number.$error.required && form.$submitted" class=error-message>
                            {{'general.phone_umber_is_required'|translate}}
                        </div>
                        <div ng-show="!form.client_phone_number.$error.required && form.client_phone_number.$error.minlength && form.$submitted " class="error-message">
                            {{'general.enter_valid_phone_number_min7' | translate}}
                        </div>
                        <div ng-show="!form.client_phone_number.$error.required && form.client_phone_number.$error.maxlength && form.$submitted " class="error-message">
                            {{'general.enter_valid_phone_number_max15' | translate}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="col-sm-5 pl0">
                    <label class="control-label">{{'general.isd' | translate}}</label>
                    <div class="form-group clearfix form-group-custom">
                        <select class="form-control p0"
                                ng-model="contact.client_alternative_phone_number_isd"
                                name="client_alternative_phone_number_isd"
                                ng-options="item.isd_code as (item.country_name +' '+ item.isd_code) for item in ISDCodes"
                        >
                            <option value="">{{'general.general_select' | translate}}</option>
                        </select>
                    </div>
                    <div ng-show="form.client_alternative_phone_number_isd.$error.minlength && form.$submitted "
                         class="error-message">
                        {{'general.general_this_field_is_required'|translate}}
                    </div>
                </div>
                <div class="col-sm-7 p0">
                    <label class="control-label">{{'general.phone_number_alt' | translate}}</label>
                    <div class="form-group clearfix form-group-custom">
                        <input type="text" class="form-control" name="client_alternative_phone_number"
                               ng-model="contact.client_alternative_phone_number1" ng-minlength="7"
                               ng-maxlength="15"
                               only-digits>

                        <div ng-show="form.client_alternative_phone_number.$error.minlength && form.$submitted "
                             class="error-message">
                            {{'general.enter_min7_dig' | translate}}
                        </div>
                        <div ng-show="form.client_alternative_phone_number.$error.maxlength && form.$submitted " class="error-message">
                            {{'general.enter_min15_dig' | translate}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 clearfix">
            <!--<div class="col-sm-4">
                <label class="control-label">Phone Number (main) *</label>
                <div class="form-group clearfix form-group-custom">
                    <input type="text" class="form-control" name="client_phone_number"
                           ng-model="contact.client_phone_number"  restrict-input="^[0-9-]*$"
                           only-digits
                           ng-minlength="5" required>
                    <div ng-if="form.client_phone_number.$error.required && form.$submitted" class=error-message>
                        {{'This field is required'|translate}}
                    </div>
                    <div ng-show="form.client_phone_number.$invalid && form.$submitted " class="error-message">
                        Enter Minimum 5 Digits
                    </div>

                </div>
            </div>
            <div class="col-sm-4">
                <label class="control-label">Phone Number (Alt)</label>
                <div class="form-group clearfix form-group-custom">
                    <input type="text" class="form-control" name="client_alternative_phone_number"
                           ng-model="contact.client_alternative_phone_number" ng-minlength="5"
                           restrict-input="^[0-9-]*$"
                           only-digits>

                    <div ng-show="form.client_alternative_phone_number.$invalid && form.$submitted "
                         class="error-message">
                        Enter Minimum 5 Digits
                    </div>
                </div>
            </div>-->
            <!--<div class="col-sm-4">
                <label class="control-label">E-mail*</label>
                <div class="form-group clearfix form-group-custom">
                    <input type="email" class="form-control" name="client_email" ng-model="contact.client_email"
                           required>
                    <span ng-if="form.client_email.$error.required && form.$submitted"
                          class="error-message ">Enter email.</span>
                <span ng-if="form.client_email.$error.email && form.$submitted"
                      class="error-message">Enter Valid Email</span>
                </div>
            </div>-->
            <div class="col-sm-6">
                <div class="p0" ng-class="cInfo.is_verified==0 && !(form.client_email.$error.required || form.client_email.$error.email || form.client_email.$error.pattern)?'col-sm-8':'col-sm-12'">
                    <label class="control-label">{{'Email' | translate}}*</label>
                    <div class="form-group clearfix form-group-custom">
                        <input type="email" class="form-control" name="client_email" ng-model="contact.client_email"
                               ng-pattern="/^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$/"
                               required>
                        <span ng-if="form.client_email.$error.required && form.$submitted"
                              class="error-message ">{{'general.general_enter_email' | translate}}.</span>
                        <span ng-if="form.client_email.$error.email && form.$submitted"
                              class="error-message">{{'general.general_enter_valid_email' | translate}}</span>
                        <span ng-if="!form.client_email.$error.email && form.client_email.$error.pattern && form.$submitted"
                              class="error-message">{{'general.general_enter_valid_email' | translate}}</span>
                    </div>
                </div>
                <div class="col-sm-4 ml0 mt10 pt15" ng-if="cInfo.is_verified==0 && form.client_email.$valid">
                    <button type="button" class="btn btn-primary f14 next-btn" ng-click="verifyEmail(cInfo)"
                            n-t='{"e_n":"Verify Email","e_d":"Client Verify Email - {{cInfo.first_name}} {{cInfo.last_name }}"}'>{{'general.verify' | translate}}
                    </button>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="col-sm-5 p0">
                    <label class="control-label">{{'contact.residence' | translate}}</label>
                    <div class="form-group" >
                        <div class="radio display-inline-block mr15 mt5">
                            <label class="f12">
                                <input type="radio" ng-model="contact.client_residence" name="covenant_mandatory" value="Own">
                                {{'contact.own' | translate}}</label>
                        </div>
                        <div class="radio display-inline-block mt5">
                            <label class="f12">
                                <input type="radio" ng-model="contact.client_residence" name="covenant_mandatory" value="Rented">
                                {{'contact.rented' | translate}}</label>
                        </div>
                    </div>
                </div>
                <div class="col-sm-7 pl0 pr0">
                    <label class="control-label">{{'contact.resident_at_current_location_since' | translate}}</label>
                    <div class="form-group clearfix form-group-custom">
                        <input type="text" class="form-control" name="resident_at_current_location_since" only-digits
                               ng-model="contact.client_resident_at_current_location_since_years">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 clearfix pt15 ml15">
            <h4 class="dark-blue f15">{{'Address' | translate}}</h4>
        </div>
        <div class="col-sm-12 clearfix"  ng-if="!loading">
            <address ng-model="contact.address"></address>
        </div>
        <div class="col-sm-12 btn-custom clearfix text-center" ng-show="permission[form_key+'_add']">
            <button type="submit" class="btn btn-primary f14 next-btn"
                    n-t='{"e_n":"Save {{sectionName}}","e_d":"Client - {{cInfo.first_name}} {{cInfo.last_name }}"}'>{{'general.save' | translate}}
            </button>
        </div>
    </div>
</form>
