<form class="form-horizontal form-bordered" name="form" detect-form-change="formChangeEvent()" novalidate>
    <div class="col-sm-12 clearfix clearboth p0">
        <div class="col-sm-12 clearfix">
            <!--<label class="control-label">{{'contact.credit_experience_with_sanadcom' | translate}}</label>-->
            <!--<exposure-component componet-parmes='{"crm_contact_id":crm_contact_id}'  componet-type="contact" ></exposure-component>-->
            <exposure-component componet-parmes='{"crm_contact_id":contactId}'  componet-type="contact" ></exposure-component>
        </div>

        <div class="col-sm-3">
            <label class="f12">{{'company.customer_since' | translate}}: </label>
            <div class="form-group" ng-init="contact.customer_since=contact.customer_since+''">
                <select class="form-control" ng-model="contact.client_since" ng-options="item.value as item.value for item in years" name="customer_since">
                    <option value="">--{{'general.general_select' | translate}}--</option>
                </select>

            </div>
            <div ng-if="form.customer_since.$error.required && form.$submitted" class="error-message">
                {{'general.general_this_field_is_required' | translate}}
            </div>
        </div>

        <div class="col-sm-12 edit-bg" >
            <label class="control-label"> {{'contact.comment' | translate}}: </label>
             <textarea name="client_financial_credit_rating_description" ckeditor=""
                       ng-model="contact.comments"
                       class="form-control ">
             </textarea>
        </div>

        <div class="col-sm-12 btn-custom clearfix text-center" ng-if="saveBtnShow()">
            <button type="submit" class="btn btn-primary btn-sm mt10" tab-next
                    ng-click="submitForm(contact,formDetails,form)"
                    n-t='{"e_n":"Save {{sectionName}}","e_d":"","form":"form.$valid"}'>{{'general.save' | translate}}
            </button>
        </div>

    </div>

</form>