<!--<form class="form-horizontal form-bordered" name="form" novalidate>
    <div class="col-sm-12 clearfix clearboth p0">
        <div class="col-sm-12 clearfix m10 excel-table">
            <div  ng-init="project.risk_assessment = []"></div>
            <div ng-if="!project.risk_assessment" >
                <div ng-init="project.risk_assessment = []"></div>
            </div>
            <p class="f12 gray mb5">Here you can directly copy and paste excel document.</p>
            <hot-table settings="settings" row-headers="rowHeaders" min-spare-rows="minSpareRows" datarows="project.risk_assessment" height="285">
                <hot-column data="risk" title="'Risk'"></hot-column>
                <hot-column data="type" title="'Type'"></hot-column>
                <hot-column data="description" title="'Description'"></hot-column>
                <hot-column data="mitigation" title="'Mitigation'"></hot-column>
                <hot-column data="riskgrade" title="'Risk Grade'"></hot-column>
            </hot-table>
        </div>
        <div class="col-sm-12 btn-custom clearfix text-center">
            <button type="submit" class="btn btn-primary f14 next-btn" tab-next ng-click="submitForm(project,formDetails,form)">Save
            </button>
        </div>

    </div>
</form>-->


<div class="col-sm-12 p0 acc-new" ng-controller="contactInternalRatingCtrl">

    <div class="clearfix pt10">
        <div class="col-sm-8 p0 mb10">
            <h3 class="darkcolor f13">{{'business_risks_categories' | translate}}</h3>
        </div>
        <div class="col-sm-2 text-center">
            <h3 class="darkcolor f13">{{'factor' | translate}}</h3>
        </div>
        <div class="col-sm-2 text-center">
            <h3 class="darkcolor f13">{{'weight_percent' | translate}}</h3>
        </div>
    </div>
    <div class="acc-wrapper  scroll-div-wrap">

        <div class="acc-box" ng-repeat="category in riskCategory">
            <div class="clearfix acc-head light-wheet-bg white-color acc-open">
                <div class="col-sm-8 pt5">
                    <span class="acc-icon darkcolor m-2 pull-left mr8 f18"><i
                            class="icon-angle-rightt-circle"></i> </span>
                    <h2 class="f13 width90 overflow-hidden pull-left darkcolor cursor-pointer" basic-accordian
                        n-t='{"e_n":"{{category.risk_category_name}}","e_d":"Contact - {{cInfo.first_name}}"}'>
                        {{category.risk_category_name}}</h2>
                </div>
                <div class="col-sm-2 border-right-white p0">
                    <h3 class="darkcolor f13 text-center">{{category | subCategoryFactor}}</h3>
                </div>
                <div class="col-sm-2 p0">
                    <h3 class="darkcolor f13 text-center">
                        {{category.risk_percentage}}%</h3>
                </div>
            </div>
            <div class="acc-body  white-bg clearfix" style="display: block">
                <uib-accordion close-others="true">
                    <uib-accordion-group ng-repeat="sub_category in category.sub_category">

                        <uib-accordion-heading>
                            <div class="col-sm-8">
                                <h4 class="f13 darkcolor" n-t='{"e_n":"{{sub_category.risk_category_name}}","e_d":"Contact - {{cInfo.first_name}}"}'><i class="icon-angle-right mr4"></i> {{sub_category.risk_category_name}}</h4>
                            </div>
                            <div class="col-sm-2">
                                <h3 class="darkcolor f13 text-center">{{sub_category | attrFactor}}</h3>
                            </div>
                            <div class="col-sm-2">
                                <h3 class="darkcolor f13 text-center">{{sub_category.risk_percentage}}%</h3>
                            </div>

                        </uib-accordion-heading>
                        <ul class="acc-list">

                        <ng-form name="form" detect-form-change="formChangeEvent()">
                            <li class="clearfix" ng-repeat="attribute in sub_category.attributes">
                                <div class="col-sm-5" ng-init="cat_text=attribute.risk_category_name">
                                    <h5 class="f12 mt5 text-capitalize darkcolor"
                                        n-t='{"e_n":"{{sub_category.risk_category_name}}","e_d":"Contact - {{cInfo.first_name}}"}'>{{attribute.risk_category_name}}</h5>
                                </div>

                                <div class="col-sm-6">
                                    <!--ng-options="item as item.risk_category_item_name for item in attribute.items"-->

                                    <select
                                            chosen class="chosen-choices width-full form-control"
                                            ng-init="dropdownSelected(attribute);" ng-model="attribute.selectedItem"
                                            ng-options="item as item.risk_category_item_name  for item in attribute.items"
                                            ng-change="attribute.grade=convertToInt(attribute.selectedItem.contact_risk_category_item_grade)">
                                        <option value=""></option>
                                    </select>
                                </div>
                                <div class="col-sm-1" ng-init="attribute.grade=convertToInt(attribute.selectedItem.contact_risk_category_item_grade)">
                                    <input ng-disabled="!attribute.selectedItem" type="number" min="0" ng-model="attribute.grade" class="form-control f13 darkcolor" placeholder="0">
                                </div>
                            </li>
                        </ng-form>
                        </ul>
                        <div class="clearfix plr15 text-right" ng-if="sub_category.attributes.length">
                            <button class="btn btn-dark f12 white-color border-none mr4" ng-click="saveAttribute(sub_category.attributes)"
                                    n-t='{"e_n":"Save - {{sectionName}}","e_d":"Contact - {{cInfo.first_name}}"}'>{{'Save' | translate}}</button>
                        </div>
                    </uib-accordion-group>

                </uib-accordion>
            </div>
        </div>
    </div>

</div>