<form class="form-bordered" name="form" detect-form-change="formChangeEvent()" novalidate>
    <div class="col-sm-12 clearfix clearboth p0">
        <div class="col-sm-12 p0 clearfix">
            <div class="col-sm-12 p0 clearfix" >
                <div class="col-sm-3">
                    <label class="control-label">{{'contact.marital_status' | translate}} </label>
                    <div class="form-group clearfix form-group-custom">
                        <select class="form-control"
                                ng-init="masterDropDownList({'master_key':'contact_marital_status'})"
                                ng-model="contactinfo.martial_status"
                                name="martial_status"
                                ng-options="item as item.name for item in dropDownItems['contact_marital_status'] track by item.id">
                            <option value="">{{'general.select' | translate}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-3">
                    <label class="control-label">{{'contact.education' | translate}} </label>
                    <div class="form-group clearfix form-group-custom">
                        <select class="form-control"
                                ng-init="masterDropDownList({'master_key':'contact_education'})"
                                ng-model="contactinfo.education"
                                name="education"
                                ng-options="item.id as item.name for item in dropDownItems['contact_education']">
                            <option value="">{{'general.select' | translate}}</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-3">
                    <label class="control-label">{{'contact.employer' | translate}} </label>
                    <div class="form-group clearfix form-group-custom">
                        <input type="text" class="form-control" name="employer"
                               ng-model="contactinfo.employer">
                    </div>
                </div>
                <div class="col-sm-3">
                    <label class="control-label">{{'contact.employed_since' | translate}} </label>
                    <div class="form-group clearfix form-group-custom">
                        <input type="text" class="form-control" name="employed_since" only-digits
                               ng-model="contactinfo.employed_since">
                    </div>
                </div>
            </div>
            <div class="col-sm-12 p0 clearfix" >
                <div class="col-sm-6">
                    <div class="col-sm-12 p0">
                        <label class="control-label">{{'contact.monthly_salary' | translate}}</label>
                    </div>
                    <div class="col-sm-8 p0" >
                        <div class="form-group clearfix form-group-custom">
                            <input type="text" class="form-control" name="monthly_salary" ui-number-mask="2"
                                   ng-model="contactinfo.monthly_salary">
                        </div>
                    </div>
                    <div class="col-sm-4 p0" style="padding-left:15px">
                        <div class="form-group clearfix form-group-custom">
                            <select class="form-control" name="currency_id" required ng-model="contactinfo.monthly_salary_currency_id" ng-options="item.currency_id as item.currency_code for item in currencyList" >
                                <option value="">{{'general.select' | translate}}</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="col-sm-12 p0">
                        <label class="control-label">{{'contact.monthly_expenses' | translate}}</label>
                    </div>
                    <div class="col-sm-8 p0" >
                        <div class="form-group clearfix form-group-custom">
                            <input type="text" class="form-control" name="monthly_expenses" ui-number-mask="2"
                                   ng-model="contactinfo.monthly_expenses">
                        </div>
                    </div>
                    <div class="col-sm-4 p0" style="padding-left:15px">
                        <div class="form-group clearfix form-group-custom">
                            <select class="form-control" name="currency_id" required ng-model="contactinfo.monthly_expenses_currency_id" ng-options="item.currency_id as item.currency_code for item in currencyList" >
                                <option value="">{{'general.select' | translate}}</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 clearfix pl0 pt10" ng-show="contactinfo.martial_status && contactinfo.martial_status.child_key!='marital_status_single' ">
                <div class="clearfix">
                    <label class="control-label">{{'contact.spouse' | translate}} / {{'contact.children' | translate}}</label>
                </div>
                <div class="table-wrapper p0 c-table pt5 table-responsive">
                    <table class="table table-striped table-bordered table-hover display table-style">
                        <thead>
                        <tr>
                            <th>{{'contact.name' | translate}}</th>
                            <th>{{'contact.relation' | translate}}</th>
                            <!--<th>{{'contact.date_of_birth' | translate}}</th>-->
                            <th>{{'contact.contact_types' | translate}}</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in children" ng-if="children.length>0">
                            <td>
                            <span class="display-block pull-left">
                                  {{ item.contact_details.first_name}} {{ item.contact_details.last_name}}
                            </span>
                            </td>
                            <td>{{item.relation_name}}</td>
                            <!--<td>{{item.data.client_date_of_birth | utcToLocal:'date'}}</td>-->
                            <td>
                                <span class="display-block pull-left">{{item.contact_details.crm_contact_type_name}}</span>
                                <span class="form-buttons form-inline pull-right" ng-show="saveBtnShow()">
                                    <button type="button" class="f12 btn btn-danger"
                                            ng-click="deletePersonalInformation(item)"
                                            uib-tooltip="Delete"
                                            n-t='{"e_n":"Delete personal information","e_d":"Delete personal information - {{ item.name }}, Client - {{cInfo.first_name}} {{cInfo.last_name }}"}'><i
                                            class="fa fa-trash"></i>
                                    </button>
                                </span>
                                <span ng-show="!saveBtnShow()"></span>
                            </td>
                        </tr>
                        <tr ng-if="children.length<=0">
                            <td colspan="3" class="text-center">{{'general.no_data_found' | translate}}</td>
                        </tr>
                        </tbody>
                    </table>
                    <button type="button" ng-if="saveBtnShow()"
                            ng-click="addContactSpouseChildrens()"
                            n-t='{"e_n":"{{sectionName}} Add children","e_d":"Client - {{cInfo.first_name}} {{cInfo.last_name }}"}'
                            class="btn btn-primary btn-dark border-none f12 pull-right"><i
                            class="fa fa-plus-circle"></i> {{'contact.add_children_spouse' | translate}}
                    </button>
                </div>
            </div>
        </div>
        <div class="col-sm-12 btn-custom clearfix text-center" ng-show="permission[form_key+'_add']">
            <button type="submit" class="btn btn-primary btn-sm mt10" tab-next
                    ng-click="saveContactPersonalInformation(contactinfo,formDetails,form)"
                    n-t='{"e_n":"Save {{sectionName}}","e_d":"","form":"form.$valid"}'>{{'general.save' | translate}}
            </button>
        </div>
    </div>
</form>
<script type="text/ng-template" id="add-contact-children.html">
    <div class="right-modal modal-custom">
        <h3 class="right-modal-head ng-binding" ng-init="isUser='';">
            {{'contact.spouse' | translate}} / {{'contact.children' | translate}}
            <a ng-click="cancel()" uib-tooltip="Close" class="close-right pull-right"><img src="images/close.png"></a>
        </h3>
        <div class="row clearfix">
            <div class="col-sm-12 pt15 pl30">
                <div class="form-group" ng-init="isUser = 1">
                    <div class="radio display-inline-block mr15 mt5">
                        <label class="f12">
                            <input type="radio" ng-model="isUser" name="isUser" value="1"
                                   ng-change="reset(spouseForm);"> {{'contact.new' | translate}}</label>
                    </div>
                    <div class="radio display-inline-block mr15 mt5">
                        <label class="f12">
                            <input type="radio" ng-model="isUser" name="isUser" value="0"
                                   ng-change="reset(spouseForm);"> {{'contact.existing' | translate}}</label>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 clearfix" ng-if="isUser!=''?true:false;">
                <form name="form" novalidate ng-if="isUser==0" ng-submit="form.$valid && search(field)">
                    <div class="col-sm-12 p0 pb15">
                        <div class="col-lg-12 pl15">
                            <div class="form-group form-group-custom">
                                <label class=" display-block">{{'contact.search_fm_db' | translate}}</label>
                                <input class="form-control" style="padding: 8px;"
                                   placeholder="Search Contacts"
                                   type="text" ng-model="search.name"
                                   typeahead-on-select="onSelect($item, $model, $label)"
                                   uib-typeahead="contacts as (contacts.first_name +' '+ contacts.last_name) for contacts in searchRelations($viewValue)"
                                   typeahead-template-url="contactTemplateList.html"
                                   typeahead-loading="loadingContacts"
                                   typeahead-no-results="noResults">
                            </div>
                        </div>
                    </div>
                </form>
                <form name="spouseForm" novalidate ng-show="(isUser == 1) || showForm">
                    <div class="col-sm-12 p0 clearfix">
                        <div class="clearfix">
                            <div class="col-lg-6 clearfix">
                                <div class="form-group form-group-custom">
                                    <label class=" display-block">{{'contact.first_name' | translate}} *</label>
                                    <input type="text" class="form-control" name="f_name" ng-model="new_contact.client_first_name" ng-disabled="isUser==0" required>
                                </div>
                                <div ng-if="spouseForm.f_name.$error.required && spouseForm.$submitted" class="error-message">
                                    {{'general.required' | translate}}
                                </div>
                            </div>
                            <div class="col-lg-6 clearfix">
                                <div class="form-group form-group-custom">
                                    <label class=" display-block">{{'contact.last_name' | translate}} *</label>
                                    <input type="text" class="form-control" name="l_name" ng-model="new_contact.client_last_name" ng-disabled="isUser==0" required>
                                </div>
                                <div ng-if="spouseForm.l_name.$error.required && spouseForm.$submitted" class="error-message">
                                    {{'general.required' | translate}}
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-sm-6 pt5 clearfix">
                                <div class="form-group form-group-custom">
                                    <label class=" display-block">{{'contact.email' | translate}} </label>
                                    <input type="email" class="form-control" ng-model="new_contact.client_email" name="email" ng-disabled="isUser==0" >
                                    <div ng-if="spouseForm.email.$error.required && spouseForm.$submitted" class="error-message">
                                        {{'general.general_email_is_required' | translate}}
                                    </div>
                                    <div ng-if="spouseForm.email.$error.email && spouseForm.$submitted" class="error-message">
                                        {{'general.general_enter_valid_email' | translate}}
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 clearfix">
                                <label class="control-label">{{'general.date_of_birth' | translate}}</label>
                                <div class="form-group clearfix form-group-custom">
                                    <div class="input-group" >
                                        <input type="text" class="form-control" uib-datepicker-popup="yyyy-MM-dd"
                                               max-date="currentDateTime"
                                               data-ng-model="new_contact.client_date_of_birth" type="text" name="client_date_of_birth"
                                               is-open="openCal"
                                               show-weeks="false" show-button-bar="false" readonly max-date="maxDate"
                                               ng-disabled="isUser==0"/>
                                         <span class="input-group-btn">
                                            <button type="button" class="btn btn-default border" ng-click="openCal = true"
                                                    ng-disabled="isUser==0">
                                                <i class="fa fa-calendar"></i></button>
                                         </span>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-sm-6 pt10 clearfix">
                                <label class="control-label display-block">{{'contact.gender' | translate}} </label>
                                <div class="form-group" ng-init="new_contact.client_gender = 'Male'">
                                    <div class="radio display-inline-block mr15 mt5">
                                        <label class="f12">
                                            <input type="radio" ng-model="new_contact.client_gender" name="gender" value="Male" ng-disabled="isUser==0" >{{'general.male' | translate}}</label>
                                    </div>
                                    <div class="radio display-inline-block mr15 mt5">
                                        <label class="f12">
                                            <input type="radio" ng-model="new_contact.client_gender" name="gender" ng-disabled="isUser==0"  value="Female">{{'general.female' | translate}}</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6 pt5 clearfix" ng-init="new_contact.crm_contact_type_id=new_contact.crm_contact_type_id?new_contact.crm_contact_type_id:'1';">
                                <div class="form-group form-group-custom">
                                    <label class=" display-block">{{'contact.contact_types' | translate}} *</label>
                                    <select class="form-control" name="crm_contact_type_id"
                                            ng-init="getContactTypes()"
                                            ng-model="new_contact.crm_contact_type_id"
                                            ng-options="item.id_crm_contact_type as item.crm_contact_type_name for item in contactTypes"
                                            ng-disabled="isUser==0" required>
                                    </select>
                                </div>
                                <div ng-if="spouseForm.crm_contact_type_id.$error.required && spouseForm.$submitted" class="error-message">
                                    {{'general.required' | translate}}
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-sm-6 pt5 clearfix" ng-init="new_contact.relation_type='spouse';">
                                <div class="form-group form-group-custom">
                                    <label class=" display-block">{{'contact.relation_type' | translate}} *</label>
                                    <select class="form-control" name="crm_contact_type_id"
                                            ng-model="new_contact.relation_type" required>
                                        <option value="spouse">{{'contact.spouse' | translate}}</option>
                                        <option value="children">{{'contact.children' | translate}}</option>
                                    </select>
                                </div>
                                <div ng-if="spouseForm.crm_contact_type_id.$error.required && spouseForm.$submitted" class="error-message">
                                    {{'general.required' | translate}}
                                </div>
                            </div>
                            <div class="col-sm-6 pt5 clearfix">
                                <div class="form-group form-group-custom">
                                    <label class=" display-block">{{'contact.education' | translate}} </label>
                                    <select class="form-control"
                                            ng-init="masterDropDownList({'master_key':'contact_education'})"
                                            ng-model="new_contact.occupation" name="occupation"
                                            ng-options="item.id as item.name for item in dropDownItems['contact_education']">
                                        <option value="">{{'general.select' | translate}}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                    <input type="hidden" class="form-control" name="child_contact_id" ng-model="new_contact.child_contact_id">

                    <div class="modal-footer border-none btn-custom mb0 clearfix text-center">
                        <button class="btn btn-primary f14 mt20" type="submit" ng-init="new_contact.save_create=0" ng-click="spouseForm.$valid && save(new_contact,0)">{{'general.save' | translate}}</button>
                        <button class="btn btn-primary f14 mt20" ng-show="isUser==1" type="submit" data-ng-init="new_contact.save_create=1" ng-click="spouseForm.$valid && save(new_contact,1)">{{'general.save_create' | translate}} {{'contact.contact' | translate}}</button>
                        <button class="btn btn-default f14 mt20" type="button" ng-click="cancel()">{{'general.cancel' | translate}}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</script>
<script type="text/ng-template" id="contactTemplateList.html">
    <a>
        <div class="list-item p5 clearfix">
            <div class="list-desc col-sm-12">
                <p class="list-item-title blue">{{match.model.first_name}} {{match.model.last_name}}</p>
            </div>
        </div>
    </a>
</script>