div class="content-container clearfix light-blue-bg">
<!--  <hot-table
             settings="HTsettings"
             row-headers="rowHeaders"
             min-spare-rows="minSpareRows"
             datarows="db.items"
             height="300"
             width="700">
         <hot-column data="id" title="'ID'"></hot-column>
         <hot-column data="name.first" title="'First Name'" type="'text'" ></hot-column>
         <hot-column data="name.last" title="'Last Name'" ></hot-column>
         <hot-column data="address" title="'Address'" width="150"></hot-column>
         <hot-column data="product.description" title="'Favorite food'" type="'dropdown'">
             <hot-autocomplete datarows="description in product.options"></hot-autocomplete>
         </hot-column>
         <hot-column data="price" title="'Price'" type="'numeric'" width="80" format="'$ 0,0.00'"></hot-column>
         <hot-column data="isActive" title="'Is active'" type="'checkbox'" checked-template="'Yes'"
                     unchecked-template="'No'"></hot-column>
     </hot-table>-->
<!-- <div id="example1"></div>
   <script>
       var data = [
           ['252', "Maserati", "Mazda", "Mercedes", "Mini", "gg"],
           [2009, 0, 2941, 4303, 354, 5814],
           [2010, 5, 2905, 2867, '', ''],
           [2011, 4, 2517, 4822, 552, 6127],
           [2012, '', '', '', 12, 4151]
       ];

       $('#example1').handsontable({
           data: data,
           colHeaders: true,
           rowHeaders: true,
           formulas: true
       });
   </script>-->
<form class="form-horizontal form-bordered" name="form" detect-form-change="formChangeEvent()" novalidate>
    <div class="row clearfix">
        <div class="col-sm-12 clearfix">
            <div class="col-sm-12 pt20 pb20" data-ng-controller="previousExperienceCtrl">
                    <!--<div ng-init="contact.previous_experience_institution = []"></div>-->
                    <div ng-if="!contact.previous_experience_institution">
                        <div ng-init="contact.previous_experience_institution=[]"></div>
                    </div>
                    <div class="clearfix">
                        <p class="f11 ash display-inline-block"><em>{{'contact.Here_you_can_add_new_previous_experience_institute' | translate}}</em></p>
                        <button class="btn btn-primary btn-dark border-none f12 pull-right" data-ng-click="addPreviousExperience()">
                            <i class="fa fa-plus-circle"></i> {{'general.general_add_new' | translate}}
                        </button>
                    </div>
                    <div class="clearfix"></div>
                    <div class="table-wrapper p0 pt5 table-responsive">
                        <table st-table="contact.previous_experience_institution" class="table table-striped table-bordered table-hover display table-style">
                            <thead>
                            <tr>
                                <th st-sort="current_loan_amount_distribution" class="f12" title="Current Loan Amount Disb.">{{'contact.Current_Loan_Amount_Disb' | translate}}.</th>
                                <th st-sort="current_outstanding_loan_amount" class="f12" title="Currenct outstanding loan amt">{{'contact.Currenct_outstanding_loan_amt' | translate}}</th>
                                <th st-sort="total_previous_loans" class="f12" title="Total previous loans">{{'contact.Total_previous_loans' | translate}}</th>
                                <th st-sort="client_since" class="f12" title="Client since">{{'contact.Client_since' | translate}}</th>
                                <th st-sort="current_loan_payments_on_time" class="f12" title="Current loan payments on time">{{'contact.Current_loan_payments_on_time' | translate}}</th>
                                <th st-sort="previous_loan_payments_on_time" class="f12" title="Previous loan payments on time">{{'contact.Previous_loan_payments_on_time' | translate}}</th>
                                <th width="200px !important;"></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="row in contact.previous_experience_institution">
                                <td>{{row.current_loan_amount_distribution}}</td>
                                <td>{{row.current_outstanding_loan_amount}}</td>
                                <td>{{row.total_previous_loans}}</td>
                                <td>{{row.client_since}}</td>
                                <td>{{row.current_loan_payments_on_time}}</td>
                                <td>{{row.previous_loan_payments_on_time}}</td>
                                <td>
                                    <div class="clearfix pagination-wrap">
                                        <ul class="icons-wrap pull-left">
                                            <li><a href="javascript:;" ng-click="addPreviousExperience(row)" class="fa fa-edit" uib-tooltip="Edit" ></a></li>
                                            <li><a href="javascript:;" class="fa fa-eye" ng-click="viewPreviousExperience(row)" uib-tooltip="View"></a></li>
                                            <li><a href="javascript:;" class="fa fa-trash" ng-click="removeItem(row)" uib-tooltip="Delete"></a></li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                            <tfoot ng-if="!contact.previous_experience_institution.length">
                            <!--<td colspan="5">
                                <div class="text-center">
                                    <button class="btn btn-primary f12" data-ng-click="addFacility()">
                                        <i class="fa fa-plus-circle"></i> Add New Facility
                                    </button>
                                </div>
                            </td>-->
                            </tfoot>
                        </table>
                    </div>
                </div>
        </div>
        <div class="col-sm-12 btn-custom clearfix text-center" ng-show="permission[form_key+'_add']">
            <button type="submit" class="btn btn-primary f14 next-btn" ng-click="submitForm(contact,formDetails,form)" tab-next
                    n-t='{"e_n":"Save {{sectionName}}","e_d":""}'>
                {{'general.general_save' | translate}}
            </button>
        </div>
    </div>
</form>