<div class="col-sm-12 clearfix clearboth p0">
    <div class="col-sm-12 p0 clearfix">
        <div class="col-sm-12 clearfix pl0 pt10">
            <div class="clearfix">
                <label class="control-label">{{'contact.reference_guarantor' | translate}}</label>
            </div>
            <!--&#45;&#45;{{contactRefGua}}-->
            <div class="table-wrapper p0 c-table pt5 table-responsive">
                <table class="table table-striped table-bordered table-hover display table-style" >
                    <thead>
                    <tr>
                        <th>{{'contact.name' | translate}}</th>
                        <th>{{'contact.gender' | translate}}</th>
                        <th>{{'contact.date_of_birth' | translate}}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in contactRefGuaList" ng-show="contactRefGuaList.length>0">
                        <td>
                            <span>
                              {{ item.contact_details.first_name| capitalize}} {{item.contact_details.last_name| capitalize}}
                            </span>
                        </td>
                        <td>
                            <span>
                              {{ item.data.client_gender}}
                            </span>
                        </td>
                        <td>
                            <span class="display-block pull-left">
                              {{ item.data.client_date_of_birth | utcToLocal:'date' | checkEmpty}}
                            </span>
                            <div class="form-buttons form-inline pull-right">
                                <button type="button" class="f12 btn btn-danger"
                                        ng-click="deleteRefrenceGuarantor(item.id_crm_contact_relation)"
                                        uib-tooltip="Delete"
                                        n-t='{"e_n":"Delete personal information","e_d":"Delete personal information - {{ item.name }}, Client - {{cInfo.first_name}} {{cInfo.last_name }}"}'><i
                                        class="fa fa-trash"></i>
                                </button>
                               <!-- <button type="button" ng-click="editContactRefGua(item)"
                                        uib-tooltip="Edit"
                                        n-t='{"e_n":"Save children","e_d":"Edit children - {{ item.name }}, Client - {{cInfo.first_name}} {{cInfo.last_name }}"}'
                                        class="f12 btn btn-primary">
                                    <i class="fa fa-edit"></i>
                                </button>-->
                            </div>
                            <div ng-show="!saveBtnShow()">---</div>
                        </td>
                    </tr>
                    <tr ng-show="contactRefGuaList.length<=0">
                        <td colspan="3" class="text-center">{{'general.no_data_found' | translate}}</td>
                    </tr>
                    </tbody>
                </table>
                <button type="button" ng-if="saveBtnShow()"
                        ng-click="addContactRefGua()"
                        n-t='{"e_n":"{{sectionName}} Add children","e_d":"Client - {{cInfo.first_name}} {{cInfo.last_name }}"}'
                        class="btn btn-primary btn-dark border-none f12 pull-right"><i
                        class="fa fa-plus-circle"></i> {{'general.add' | translate}} {{'contact.reference_guarantor' | translate}}
                </button>

            </div>
        </div>
    </div>
</div>
<script type="text/ng-template" id="add-referance-guarantor.html">
    <div class="right-modal modal-custom">
        <h3 class="right-modal-head ng-binding">
            {{'contact.reference_guarantor' | translate}}
            <a ng-click="cancel()" uib-tooltip="Close" class="close-right pull-right"><img src="images/close.png"></a>
        </h3>
        <div class="row clearfix">
            <div class="col-sm-12 pt15">
                <form name="selectGuarantorForm" novalidate>
                    <div class="col-sm-12">
                        <div class="form-group" ng-init="select.type = 1">
                            <div class="radio display-inline-block mr15 mt5">
                                <label class="f12">
                                    <input type="radio" value="1" ng-model="select.type" ng-click="seletedReferenceType(select.type,form2)"> {{'contact.new_contact' | translate}}
                                </label>
                            </div>
                            <div class="radio display-inline-block mr15 mt5">
                                <label class="f12">
                                    <input type="radio" value="0" ng-model="select.type" ng-click="seletedReferenceType(select.type,form1)"> {{'contact.exist_contact' | translate}}
                                </label>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <form name="form" novalidate ng-submit="form.$valid && search(field)" ng-show="existing">
                <div class="col-sm-12">
                    <div class="col-lg-12">
                        <div class="form-group form-group-custom">
                            <label class=" display-block">{{'contact.search_fm_db' | translate}}</label>
                            <input class="form-control" style="padding: 8px;"
                                   placeholder="Search Reference / Guarantor"
                                   type="text" ng-model="search.name"
                                   typeahead-on-select="onSelect($item, $model, $label)"
                                   uib-typeahead="contacts as (contacts.first_name +' '+ contacts.last_name) for contacts in searchRefrenceGuarantor($viewValue)"
                                   typeahead-template-url="contactTemplateList.html"
                                   typeahead-loading="loadingContacts"
                                   typeahead-no-results="noResults">
                        </div>
                    </div>
                </div>
            </form>
            <form class="form-bordered " name="form2" novalidate  ng-show="existing && showForm && search.name">
                <div class="col-sm-12 p5 pt15 clearfix">
                    <div class="col-sm-12 clearfix">
                        <div class="col-sm-6 clearfix ">
                            <label class="control-label">{{'general.first_name' | translate}}*</label>
                            <div class="form-group clearfix form-group-custom">
                                <input type="text" class="form-control darkcolor" name="first_name" ng-model="new_contact1.client_first_name" ng-disabled="existing" required>
                                <div ng-if="form2.first_name.$error.required && form2.$submitted" class="error-message">
                                    {{'general.general_this_field_is_required' | translate}}                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 clearfix ">
                            <label class="control-label">{{'general.last_name' | translate}}*</label>
                            <div class="form-group clearfix form-group-custom">
                                <input type="text" class="form-control" name="last_name" ng-model="new_contact1.client_last_name" ng-disabled="existing" required>
                                <div ng-if="form2.last_name.$error.required && form2.$submitted" class="error-message">
                                    {{'general.required' | translate}}
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-sm-6 clearfix" >
                            <div class="form-group clearfix form-group-custom">
                                <label class="control-label">{{'general.date_of_birth' | translate}}</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" uib-datepicker-popup="yyyy-MM-dd"
                                           max-date="currentDateTime"  ng-disabled="existing" is-open="openCal"
                                           data-ng-model="new_contact1.client_date_of_birth" type="text" name="client_date_of_birth"
                                           show-weeks="false" show-button-bar="false" readonly max-date="maxDate"/>
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-default border" ng-click="openCal = true" ng-disabled="existing">
                                                <i class="fa fa-calendar"></i></button>
                                        </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 clearfix">
                            <label class="control-label">{{'contact.gender' | translate}} </label>
                            <div class="form-group">
                                <div class="radio display-inline-block mr15 mt5">
                                    <label class="f12">
                                        <input type="radio" ng-disabled="existing" ng-model="new_contact1.client_gender" name="gender" value="Male">Male</label>
                                </div>
                                <div class="radio display-inline-block mr15 mt5">
                                    <label class="f12">
                                        <input type="radio" ng-disabled="existing" ng-model="new_contact1.client_gender" name="gender" value="Female">Female</label>
                                </div>
                            </div>

                        </div>
                        <div class="clearfix"></div>
                        <div class="col-sm-6 clearfix">
                            <div class="form-group form-group-custom">
                                <label class=" display-block">{{'Email' | translate}}</label>
                                <input type="email" class="form-control" ng-disabled="existing" ng-model="new_contact1.client_email" name="email">
                                <div class="error-message" ng-if="form2.$submitted && form2.email1.$error.required">
                                    {{'general.general_email_is_required' | translate}}
                                </div>
                                <div ng-if="form2.$submitted && form2.email1.$error.email" class="error-message">
                                    {{'general.general_enter_valid_email' | translate}}
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 clearfix">
                            <div class="form-group form-group-custom">
                                <label class=" display-block">{{'contact.contact_contact_type' | translate}}</label>
                                <select class="form-control" name="crm_contact_type_id"
                                        ng-init="getContactTypes()"
                                        ng-model="new_contact1.crm_contact_type_id" ng-disabled="existing"
                                        ng-options="item.id_crm_contact_type as item.crm_contact_type_name for item in contactTypes" required>
                                    <option value="">--{{'contact.contact_select_contact_type' | translate}}--</option>
                                </select>
                            </div>
                            <div ng-if="form2.crm_contact_type_id.$error.required && form2.$submitted" class="error-message">
                                {{'general.required' | translate}}
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 clearfix" style="padding-left: 30px !important;padding-right: 30px !important;">
                        <label class="control-label display-inline-block">{{'contact.address' | translate}} </label>
                        <div class="form-group clearfix form-group-custom">
                            <textarea class="form-control darkcolor" ng-disabled="existing" ng-model="new_contact1.address" name="address"></textarea>
                        </div>
                    </div>
                    <div class="col-sm-12 clearfix" style="padding-left: 30px !important;padding-right: 30px !important;">
                        <label class="control-label display-inline-block">{{'contact.comments' | translate}}</label>
                        <div class="form-group clearfix form-group-custom">
                            <textarea class="form-control" ng-model="new_contact1.comments" name="comments"></textarea>
                        </div>
                    </div>
                    <div class="col-lg-12 clearfix" style="padding-left: 30px !important;padding-right: 30px !important;">
                        <label class="control-label">{{'contact.attachments' | translate}}</label>
                        <attachment-files ng-model="new_contact1.file.attachments"></attachment-files>
                        <attachment-list-template get-data="new_contact1.document"></attachment-list-template>
                    </div>
                </div>
                <div class="modal-footer border-none btn-custom mb0 clearfix text-center mt15" ng-show="(existing && showForm && search.name)">
                    <button class="btn btn-primary f14" type="button" ng-click="saveContactRefGua(new_contact1,0)">{{'general.save' | translate}}</button>
                    <button class="btn btn-default f14" type="button" ng-click="cancel()">{{'general.cancel' | translate}}</button>
                </div>
            </form>
            <form class="form-bordered " name="form1" novalidate  ng-show="select.type == 1">
                <div  class="pt15 col-sm-12 p5  clearfix">
                    <div class="col-sm-12 clearfix">
                        <div class="col-sm-6 clearfix">
                            <label class="control-label">{{'general.first_name' | translate}} *</label>
                            <div class="form-group clearfix form-group-custom">
                                <input type="text" class="form-control darkcolor" name="first_name1" ng-model="new_contact1.client_first_name" required>
                                <span ng-if="form1.$submitted && form1.first_name1.$error.required" class="error-message">
                                    {{'general.required' | translate}}
                                </span>
                            </div>
                        </div>
                        <div class="col-sm-6 clearfix">
                            <label class="control-label">{{'general.last_name' | translate}} *</label>
                            <div class="form-group clearfix form-group-custom">
                                <input type="text" class="form-control" name="last_name1" ng-model="new_contact1.client_last_name" required>
                                <span ng-if="form1.$submitted && form1.last_name1.$error.required" class="error-message">
                                   {{'general.required' | translate}}
                                </span>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-sm-6 clearfix" >
                            <div class="form-group clearfix form-group-custom">
                                <label class="control-label">{{'general.date_of_birth' | translate}}</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" uib-datepicker-popup="yyyy-MM-dd"
                                           max-date="currentDateTime" data-ng-model="new_contact1.client_date_of_birth"
                                           type="text" name="client_date_of_birth" is-open="openCal"
                                           show-weeks="false" show-button-bar="false" readonly max-date="maxDate"/>
                                        <span class="input-group-btn">
                                            <button type="button" class="btn btn-default border" ng-click="openCal = true">
                                                <i class="fa fa-calendar"></i></button>
                                        </span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6 clearfix">
                            <label class="control-label">{{'contact.gender' | translate}} *</label>
                            <div class="form-group">
                                <div class="radio display-inline-block mr15 mt5">
                                    <label class="f12">
                                        <input type="radio" ng-model="new_contact1.client_gender" name="gender" value="Male">{{'general.male' | translate}}</label>
                                </div>
                                <div class="radio display-inline-block mr15 mt5">
                                    <label class="f12">
                                        <input type="radio" ng-model="new_contact1.client_gender" name="gender" value="Female">{{'general.female' | translate}}</label>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-sm-6 clearfix">
                            <div class="form-group form-group-custom">
                                <label class=" display-block">{{'Email' | translate}} </label>
                                <input type="email" class="form-control" ng-model="new_contact1.client_email" name="email1" >
                                <div class="error-message" ng-if="form1.$submitted && form1.email1.$error.required">
                                    {{'general.general_email_is_required' | translate}}
                                </div>
                                <div ng-if="form1.$submitted && form1.email1.$error.email" class="error-message">
                                    {{'general.general_enter_valid_email' | translate}}
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group form-group-custom"
                                 ng-init="new_contact1.crm_contact_type_id=new_contact1.crm_contact_type_id?new_contact1.crm_contact_type_id:'1';">
                                <label class=" display-block">{{'contact.contact_types' | translate}} *</label>
                                <select class="form-control" name="crm_contact_type_id1"
                                        ng-init="getContactTypes();" ng-model="new_contact1.crm_contact_type_id"
                                        ng-options="item.id_crm_contact_type as item.crm_contact_type_name for item in contactTypes" required>
                                    <option value="">--{{'contact.contact_select_contact_type' | translate}}--</option>
                                </select>
                            </div>
                            <div ng-if="form1.$submitted && form1.crm_contact_type_id1.$error.required" class="error-message">
                                {{'general.required' | translate}}
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 clearfix" style="padding-left: 30px !important;padding-right: 30px !important;">
                        <label class="control-label display-inline-block">{{'contact.address' | translate}} </label>
                        <div class="form-group clearfix form-group-custom">
                            <textarea class="form-control darkcolor" ng-disabled="existing" ng-model="new_contact1.address" name="address"></textarea>
                        </div>
                    </div>
                    <div class="col-sm-12 clearfix" style="padding-left: 30px !important;padding-right: 30px !important;">
                        <label class="control-label display-inline-block">{{'contact.comments' | translate}}</label>
                        <div class="form-group clearfix form-group-custom">
                            <textarea class="form-control" ng-disabled="existing" ng-model="new_contact1.comments" name="comments"></textarea>
                        </div>
                    </div>
                    <div class="col-lg-12 clearfix" style="padding-left: 30px !important;padding-right: 30px !important;">
                        <label class="control-label">{{'contact.attachments' | translate}}</label>
                        <attachment-files ng-show="!existing" ng-model="new_contact1.file.attachments"></attachment-files>
                        <attachment-list-template get-data="new_contact1.document"></attachment-list-template>
                    </div>
                </div>
                <div class="modal-footer border-none btn-custom mb0 clearfix text-center mt15" ng-show="(existing && showForm && search.name) || (select.type == 1)">
                    <button class="btn btn-primary f14 mt20" type="submit" ng-click="form1.$valid && saveContactRefGua(new_contact1,0)">{{'general.save' | translate}}</button>
                    <button ng-show="select.type == 1" class="btn btn-primary f14 mt20" type="submit" ng-click="form1.$valid && saveContactRefGua(new_contact1,1)">{{'general.save_create' | translate}} {{'contact.contact' | translate}}</button>
                    <button class="btn btn-default f14 mt20" type="button" ng-click="cancel()">{{'general.cancel' | translate}}</button>
                </div>
            </form>
        </div>
    </div>
</script>

<script type="text/ng-template" id="contactTemplateList.html">
    <a>
        <div class="list-item p5 clearfix">
            <div class="list-desc col-sm-12">
                <p class="list-item-title blue">{{match.model.first_name}} {{match.model.last_name}}</p>
            </div>
        </div>
    </a>
</script>
