<div class="right-modal modal-custom">
    <h3 class="right-modal-head">
        {{'contact.contact_view_facility' | translate}}
        <a ng-click="cancel()" class="close-right pull-right" uib-tooltip="Close"><img src="images/close.png"
            n-t='{"e_n":"Cancel {{sectionName}}","e_d":""}'></a>
    </h3>
    <form class="form-horizontal form-bordered mt10"  name="facilityForm" detect-form-change="formChangeEvent()"  novalidate>
        <div class="row clearfix">
            <div class="col-sm-12 clearfix">
                <div class="col-sm-6">
                    <label class="control-label">{{'contact.Current_Loan_Amount_Disb' | translate}}.</label>
                    <div class="form-group clearfix form-group-custom f14 dark-blue">{{'contact.current_loan_amount_distribution' | translate}}</div>
                </div>
                <div class="col-sm-6">
                    <label class="control-label">{{'contact.Client_Since' | translate}}</label>
                    <div class="form-group clearfix form-group-custom f14 dark-blue">{{'contact.Client_Since' | translate}}</div>
                </div>
            </div>
            <div class="col-sm-12 clearfix">
                <div class="col-sm-6">
                    <label class="control-label">{{'contact.Currenct_outstanding_loan_amt' | translate}}</label>
                    <div class="form-group clearfix form-group-custom f14 dark-blue">{{'contact.Currenct_outstanding_loan_amt' | translate}}</div>
                </div>
                <div class="col-sm-6">
                    <label class="control-label">{{'contact.Current_loan_payments_on_time' | translate}}</label>
                    <div class="form-group clearfix form-group-custom f14 dark-blue">{{'contact.Current_loan_payments_on_time' | translate}}</div>
                </div>
            </div>
            <div class="col-sm-12 clearfix">
                <div class="col-sm-6">
                    <label class="control-label">{{'contact.Total_previous_loans' | translate}}</label>
                    <div class="form-group clearfix form-group-custom f14 dark-blue">{{previousExperience.total_previous_loans}}</div>
                </div>
                <div class="col-sm-6">
                    <label class="control-label">{{'contact.Previous_loan_payments_on_time' | translate}}</label>
                    <div class="form-group clearfix form-group-custom f14 dark-blue">{{'contact.Previous_loan_payments_on_time' | translate}}</div>
                </div>
            </div>
        </div>
    </form>
    <div class="modal-footer border-none btn-custom clearfix text-center" ng-show="permission[form_key+'_add']">
        <button class="btn btn-default f14" type="button" ng-click="cancel()">{{'general.cancel' | translate}}</button>
    </div>
</div>