<div class="right-modal modal-custom" oc-lazy-load="attachment">
    <h3 class="right-modal-head clearfix">
        <div class="col-sm-6 p-l-0 mt5" ng-if="formType=='create'">
            <i class="fa icon-meeting2 mr4"></i>{{formType|capitalize}} Meeting
        </div>
        <div ng-if="formType=='view' ||formType=='completed' || formType=='cancelled' || formType=='edit'  ">
            <div class="col-sm-6 p-l-0 mt5">
                <i class="fa icon-meeting2 mr4"></i>{{meeting.meeting_name}}
            </div>
            <div class="col-sm-4">
                <div class="t-list">
                    <p class="f12 label" label-status="{{meeting.meeting_status}}">{{meeting.meeting_status |
                        capitalize}}</p>
                </div>
            </div>
        </div>
        <a ng-click="cancel()" class="close-right pull-right mt5" uib-tooltip="Close"
           n-t='{"e_n":"Close Meeting modal","e_d":"Meeting"}'><img src="images/close.png"></a>
    </h3>
    <div class="container p0" ng-if="formType=='view' ||formType=='completed' || formType=='cancelled' ">
        <div class="view-state col-sm-12 p0 clerfix">
            <div class="view-content clearfix">
                <div class="meeting-inv-wrap-body clearfix">
                    <div class="col-sm-12">
                        <div class="gray col-sm-6 p0 f14">
                            <span class="icon-calendar1 mr4 darkcolor f14" uib-tooltip="Time"></span>
                            {{meeting.when}} - {{meeting.to_time}} / {{meeting.from_time}}
                        </div>
                        <div class="darkcolor col-sm-6 f14">
                            <span class="icon-globe1 mr4 f14" uib-tooltip="Location"></span>
                            {{meeting.where}}
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-sm-12 p0 gray f14">
                            <span class="icon-users2 darkcolor  mr4 " uib-tooltip="Participants"></span>
                            {{meeting.invitation_name.toString()}}
                            <!--  <a class="pull-right tpoint-actions"><span class="icon-trash"></span>
                              </a>-->
                        </div>
                    </div>
                    <div class="col-sm-12 p0" ng-if="meeting.agenda">
                        <div class="t-list">
                            <label class="f13 mb3 darkcolor">Agenda:</label>
                            <div class="col-sm-12 cke_editable" ng-bind-html="meeting.agenda | trusted"></div>
                        </div>
                    </div>
                    <div class="col-sm-12 p0" ng-if="meeting.meeting_mom">
                        <div class="t-list">
                            <label class="f13 mb3 darkcolor" ng-if="meeting.meeting_status=='completed'">Meeting Mom :</label>
                            <label class="f13 mb3 darkcolor" ng-if="meeting.meeting_status=='cancelled'">comment :</label>
                            <p class="f12">{{meeting.meeting_mom | checkEmpty}}</p>
                        </div>
                    </div>
                    <div class="col-sm-12 p0">
                        <attachment-list-template get-data="meeting.attachment"></attachment-list-template>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="container p0" ng-if="formType=='create' || formType=='edit' ">
        <form class="form-horizontal form-bordered" name="mForm" novalidate>
            <div class="clearfix tasks-list mb20">
                <div class="col-sm-12 p0 mb15">
                    <div class="form-group col-sm-6">
                        <label class="control-label">Title *:</label>

                        <div class="form-input">
                            <input type="text" class="form-control" ng-model="meeting.meeting_name"
                                   name="meeting_name" required/>

                            <div ng-if="mForm.meeting_name.$error.required && mForm.$submitted" class="error-message">
                                Enter Meeting Title
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-sm-6">
                        <label class="control-label">Where *:</label>

                        <div class="form-input">
                            <input type="text" class="form-control" ng-model="meeting.where" name="where" required/>

                            <div ng-if="mForm.where.$error.required && mForm.$submitted" class="error-message">
                                Enter Meeting Location
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-sm-6">
                        <label class="control-label">When *:</label>

                        <div class="input-group">

                            <input type="text" class="form-control" min-date="minDate" uib-datepicker-popup
                                   ng-model="meeting.when" type="text" name="when" is-open="openCal"
                                   show-weeks="false" show-button-bar="false" readonly required/>
                          <span class="input-group-btn ">
                            <button type="button" class="btn btn-default border" ng-click="openCal = true">
                                <i class="fa fa-calendar"></i></button>
                          </span>
                        </div>
                        <div ng-if="mForm.when.$error.required && mForm.$submitted" class="error-message">Enter Meeting
                            Date
                        </div>

                    </div>
                    <div class="form-group col-sm-6 clearfix">
                        <div class="col-sm-6 p-l-0">
                            <label class="f12 control-label mt4">Start Time:</label>
                            <select
                                    ng-init="timeList()"
                                    class="form-control"
                                    ng-model="meeting.from_time" name="from_time"
                                    ng-options="item.id as item.value for item in timeListData"
                            >
                                <option value="">hh:mm</option>

                            </select>

                        </div>
                        <div class="col-sm-6 p-r-0">
                            <label class="f12 control-label mt4">End Time:</label>
                            <select
                                    ng-init="timeList()"
                                    class="form-control"
                                    ng-model="meeting.to_time" name="from_time"
                                    ng-options="item.id as item.value for item in timeListData"
                            >
                                <option value="">hh:mm</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group col-sm-12 edit-bg" oc-lazy-load="ckeditor">
                        <label class="control-label">Meeting Agenda *:</label>

                        <div class="form-input">
                                <textarea ckeditor class="form-control"
                                          ng-model="meeting.agenda" name="agenda"
                                          required></textarea>

                            <div ng-if="mForm.agenda.$error.required && mForm.$submitted" class="error-message">
                                Enter Meeting Agenda
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-sm-12 clearfix">
                        <label class="control-label">Invite Guests *:</label>
                        <select multiple ng-model="meeting.invitation_id" name="invitation_id" ng-init="getUsers()"
                                class="chosen-choices"
                                chosen="" data-placeholder="Search by Name"
                                ng-options="item.id_user as item.user_name for item in userList" required>
                        </select>
                        <div ng-if="mForm.invitation_id.$error.required && mForm.$submitted" class="error-message">
                            This field is required
                        </div>
                    </div>
                    <div class="form-group col-sm-12 clearfix">
                        <label class="control-label">Guests:</label>
                        <div class="width-full" oc-lazy-load="ngTagsInput">
                            <tags-input ng-model="meeting.guest" placeholder="Add Email" type="email"></tags-input>
                        </div>
                    </div>
                    <div class="col-sm-12 clearfix"  >
                        <attachment-files ng-model="meeting.file.attachments"></attachment-files>
                        <div class="clearfix"></div>
                        <attachment-list-template get-data="meeting.attachment"></attachment-list-template>
                    </div>
                </div>
                <div class="col-sm-12 text-center">
                    <button class="btn btn-primary f12 btn-dark border-none mr4"
                            n-t='{"e_n":"Save Meeting","e_d":"", "form": "{{mForm.$valid}}"}'
                            ng-click="mForm.$valid && saveMeeting(meeting,mForm)">Save
                    </button>
                    <button type="button" class="btn btn-primary lt-bg f12 border-none" ng-click="cancel()"
                            n-t='{"e_n":"Cancel Meeting modal","e_d":"Meeting"}'>
                        Cancel
                    </button>
                </div>
            </div>
        </form>
    </div>
    <div class="container p0" ng-if="formType=='completed' || formType=='cancelled'">
        <form class="form-horizontal form-bordered" name="cForm" novalidate>
            <div class="form-group col-sm-12" ng-if="meeting.id_meeting > 0">
                <label class="control-label" ng-show="formType=='completed'">Meeting Mom:</label>
                <label class="control-label" ng-show="formType=='cancelled'">Comment:</label>
                <div class="form-input">
                    <textarea class="width-full  form-control min-height70 p10 f12" ng-model="meeting.meeting_mom"
                              name="meeting_mom" required>

                    </textarea>
                    <div ng-if="cForm.meeting_mom.$error.required && cForm.$submitted" class="error-message">This field
                        is required
                    </div>
                </div>
            </div>
            <div class="form-group  clearfix col-lg-12" ng-if="formType=='completed'">
                <attachment-files ng-model="meeting.file.attachments"></attachment-files>

            </div>

            <div class="col-sm-12 text-center">
                <button class="btn btn-primary f12 btn-dark border-none mr4"
                        n-t='{"e_n":"Save Meeting modal","e_d":"Meeting","form": "{{mForm.$valid}}"}'
                        ng-click="cForm.$valid && saveMeeting(meeting,cForm,formType)">Save
                </button>
                <button type="button" class="btn btn-primary lt-bg f12 border-none" ng-click="cancel()"
                        n-t='{"e_n":"Cancel Meeting modal","e_d":"Meeting"}'>
                    Cancel
                </button>
            </div>
        </form>

    </div>
</div>
