<div st-table="meetingList" st-pipe="getMeetingList" >
    <div class="acc-box col-sm-12 clearboth clearfix mb5" ng-repeat="m in meetingList">
        <div class="acc-head col-sm-12 clearfix border white-bg">
            <div class="col-sm-2 pl0 border-right pb5">
                <h6 basic-accordian class=""><a href="javascript:;"
                                                class=" sky-blue f14 text-line">{{m.meeting_name}}</a>
                </h6>
                <span class="display-block darkcolor f12 text-line">{{m.where}}</span>
            </div>
            <div class="col-sm-2 border-right pr0 pl5">
                <label class="darkcolor display-block f12">{{m.when}}</label>
                <span class="darkcolor f14">{{m.from_time}} - {{m.to_time}}</span>
            </div>
            <div class="col-sm-2 border-right pl5">
                <label class="ash display-block f12">Initiated By</label>
                <span class="darkcolor f14 text-line display-block" title="{{m.user_name}}">{{m.user_name}}</span>
            </div>
            <div class="col-sm-2 border-right pl5">
                <label class="ash display-block f12">Team</label>
                <label class=" f14 text-line sky-blue pl5"
                       ng-class="{'menu-toggle c-dropdown':m.invitation_name.length >0}" data-toggle="dropdown">{{m.invitation_name.length}}
                    <any ng-if="m.invitation_name.length ==1">Member</any>
                    <any ng-if="m.invitation_name.length > 1">Members</any>
                    <any ng-if="m.invitation_name.length == 0">Members</any>
                </label>
                <ul class="dropdown-menu c-dropdown pl10">
                    <li ng-repeat="member in m.invitation_name">
                        <a class="sky-blue">{{member}}</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-2 border-right pr0 pl5">
                <label class="ash display-block f12">Attachments</label>
                <label class=" f14 text-line sky-blue  pl5" ng-class="{'menu-toggle c-dropdown':m.attachment.length >0}"
                       data-toggle="dropdown">
                    <any ng-if="m.attachment.length ==1">{{m.attachment.length}} File</any>
                    <any ng-if="m.attachment.length > 1">{{m.attachment.length}} Files</any>
                    <!--<any ng-if="m.attachment.length == 0">Files</any>-->
                </label>
                <ul class="dropdown-menu c-dropdown pl10">
                    <li ng-repeat="attach in m.attachment">
                        <a ng-href="{{attach.document_source}}" target="_blank" download class="sky-blue">{{attach.document_name
                            | getFileName:attach.document_name }}</a>
                    </li>
                </ul>

            </div>
            <div class="col-sm-2 pr0 pl5">
                <label class="ash display-block f12">Status</label>
            <span class="btn btn-xs pointer-none"
                  label-status="{{m.meeting_status}}">{{m.meeting_status | uppercase}}</span>

                <div class="display-inline-block custom-list valign-middle pull-right relative -mt13" uib-dropdown
                     dropdown-append-to-body
                     ng-if="m.meeting_status == 'pending' && m.created_by == userId">
                    <a href="javascript:;" class="menu-toggle dropdown-toggle" uib-dropdown-toggle><i
                            class="fa fa-ellipsis-v f32"></i></a>
                    <ul class="body-append-dropdown dropdown-menu width150" uib-dropdown-menu>
                        <li ng-if="checkMeetingDate(m.when)">
                            <a href="javascript:;" class="darkcolor" ng-click="editMeeting(m.id_meeting,'edit')">
                                Edit Meeting
                            </a>
                        </li>
                        <li ng-if="checkMeetingDate(m.when)">
                            <a href="javascript:;" class="darkcolor" ng-click="editMeeting(m.id_meeting,'completed')">
                                Completed
                            </a>
                        </li>
                        <li>
                            <a href="javascript:;" class="darkcolor" ng-click="editMeeting(m.id_meeting,'cancelled')">
                                Cancel
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="acc-body col-sm-12 clearfix p10 border border-top-none">
            <!-- <h4 class="darkcolor bold f14 mb5 ">Discussion Highlights</h4>-->
            <!--<p>{{m.agenda}}</p>-->
            <p ng-bind-html="m.agenda | trusted"></p>
            <any ng-if="m.meeting_status=='completed' || m.meeting_status=='cancelled' ">
                <h4 class="darkcolor bold f14 mb5" ng-if="m.meeting_status=='completed'">Mom:</h4>
                <h4 class="darkcolor bold f14 mb5" ng-if="m.meeting_status=='cancelled'">Comment:</h4>
        <span class="darkcolor mtb10 plr15 font-italic quotes-wraper">
           {{m.meeting_mom}}
        </span>
            </any>
            <!--  <div class="col-sm-12 p10 mt10 label-success" ng-if="m.meeting_mom">
                  <h4 class="white-color bold f14 mb5 ">Decission</h4>
                  <p class="white-color"></p>
              </div>-->
        </div>
    </div>
    <div class="text-center clearfix pb20">
        <div id="meeting_loader" class="text-center display-block">
            <img src="images/loader2.gif" width="25" height="25" alt="LOADING...">
        </div>
        <st-pagination st-items-by-page="10" st-template='loader-template.html' >
        </st-pagination>
    </div>
</div>
<script type="text/ng-template" id="loader-template.html">
    <button ng-if="numPages >= 2 && currentPage != numPages" ng-click="selectPage(currentPage + 1)" class="btn btn-dark f12 border-none mr4 mb5"
            n-t='{"e_n":"Notification - Load More","e_d":""}'> Load More
    </button>
</script>

<!--<div class="acc-box col-sm-12 clearboth clearfix mb5">
    <div class="acc-head col-sm-12 clearfix border white-bg">
        <div class="col-sm-4 pl0 border-right pb5">
            <h6 basic-accordian class=""><a href="javascript:;" class=" sky-blue f14">Concept Note Send for Review</a>
            </h6>
            <span class="display-block darkcolor f12">Kenya</span>
        </div>
        <div class="col-sm-2 border-right pr0 pl5">
            <label class="darkcolor display-block f12">12 Sep,2016</label>
            <span class="darkcolor f14">10:30 AM - 1:30 PM</span>
        </div>
        <div class="col-sm-2 border-right pl5">
            <label class="ash display-block f12">Initiated By</label>
            <span class="darkcolor f14">Williums</span>
        </div>
        <div class="col-sm-2 border-right pl5">
            <label class="ash display-block f12">Team</label>
            <label class=" f14 text-line sky-blue menu-toggle c-dropdown pl5" data-toggle="dropdown">6 Members</label>
            <ul class="dropdown-menu c-dropdown pl10">
                <li>
                    <a class="sky-blue">Kristan Simmonds</a>
                </li>
                <li>
                    <a class="sky-blue">Eric Godinez</a>
                </li>
                <li>
                    <a class="sky-blue">Javier Cisneors</a>
                </li>
                <li>
                    <a class="sky-blue">Francisco Zavala</a>
                </li>
            </ul>
        </div>
        <div class="col-sm-1 border-right pr0 pl5">
            <label class="ash display-block f12">Attached</label>
            <span class="sky-blue f14">2 Files</span>
        </div>
        <div class="col-sm-1 pr0 pl5">
            <label class="ash display-block f12">Status</label>
            <span class="green f14">Completed</span>
        </div>
    </div>
    <div class="acc-body col-sm-12 clearfix p10 border border-top-none">
        <h4 class="darkcolor bold f14 mb5 ">Discussion Highlights</h4>
        <p class="darkcolor mtb10">
            Existing farmers and traders from Mubende, Kyenjojo, Mityana and Kamwenge districts who supply maize
            to Aponye face high transportation costs and have inadequate market infrastructure for drying, storage,
            packing and market information and therefore supply grains of poor quality.
        </p>
        <p class="darkcolor mtb10">
            Therefore Aponye’s expansion plan to establish a grain handling facility in Mubende is an important part
            solution to the problem of maize quality in Uganda.
        </p>
    </div>
</div>-->
