<div class="right-modal modal-custom" data-modal="addMeeting">
    <h3 class="right-modal-head clearfix">
        <div class="col-sm-6 p-l-0 mt5">
            <i class="fa fa-meeting-icon mr4"></i> Project Meeting
        </div>
        <div class="col-sm-5 p0 mt5 text-right">
            <a href="javascript:;"
               ng-click="currentView =(currentView =='Form'?'List':'Form');meeting={};meeting.invitation_id = [];submitStatus=false;meetingDocuments=[];meetingDetails.attachment=[]"
               class="f14 mr8 text-decoration-none btn btn-dark f12 white-color">
                Create Meeting
            </a>
        </div>


        <a ng-click="cancel()" class="close-right pull-right mt5" uib-tooltip="Close"><img src="images/close.png"></a>
    </h3>
    <div class="container p0" ng-switch on="currentView">
        <div ng-switch-when="Form">
            <form class="form-horizontal form-bordered" name="form" novalidate>
                <div class="f14 blue col-sm-12">
                    <a href="javascript:;" class="mt5 mr8 f12 ash text-decoration-none" ng-click="$parent.currentView='List'"><i class="fa fa-angle-left mr8  valign-top f18"></i>Back</a>

                </div>
                <div class="clearfix tasks-list mb20">
                    <div class="col-sm-12 p0 mb15">
                        <div class="form-group col-sm-6">
                            <label class="control-label">Title *:</label>

                            <div class="form-input">
                                <input type="text" class="form-control" ng-model="meeting.meeting_name"
                                       name="meeting_name" ng-readonly="meeting.id_meeting > 0" required/>

                                <div ng-if="form.meeting_name.$error.required && submitStatus" class="error-message">
                                    Enter Name.
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="control-label">Where *:</label>

                            <div class="form-input">
                                <input type="text" class="form-control" ng-model="meeting.where" ng-readonly="meeting.id_meeting > 0" name="where" required/>

                                <div ng-if="form.where.$error.required && submitStatus" class="error-message">Enter
                                    Location.
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-sm-6">
                            <label class="control-label">When:</label>

                            <div class="input-group">

                                <input  type="text" class="form-control" min-date="minDate" uib-datepicker-popup
                                       data-ng-model="meeting.when" type="text" name="when" is-open="openCal"
                                       show-weeks="false" show-button-bar="false" readonly required />
                          <span class="input-group-btn ">
                            <button type="button" class="btn btn-default border" ng-click="openCal = true">
                                <i class="fa fa-calendar"></i></button>
                          </span>
                            </div>
                            <div ng-if="form.when.$error.required && submitStatus" class="error-message">Select Date
                            </div>

                        </div>
                        <div class="form-group col-sm-6 clearfix">
                            <div class="col-sm-6 p-l-0">
                                <label class="f12 control-label mt4">Start Time:</label>
                                <select class="form-control" ng-model="meeting.from_time" name="from_time">
                                    <option value="">HH:MM</option>
                                    <option ng-repeat="item in timeListData" ng-value="item.id" >{{item.id}}</option>
                                </select>

                            </div>
                            <div class="col-sm-6 p-r-0">
                                <label class="f12 control-label mt4">End Time:</label>
                                <select class="form-control" ng-model="meeting.to_time" name="to_time">
                                    <option value="">HH:MM</option>
                                    <option ng-repeat="item in timeListData" ng-value="item.id" >{{item.id}}</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group col-sm-12">
                            <label class="control-label">Meeting Agenda *:</label>

                            <div class="form-input">
                                <textarea class="width-full  form-control min-height70 p10 f12" ng-model="meeting.agenda" ng-readonly="meeting.id_meeting > 0" name="agenda"
                                          required></textarea>

                                <div ng-if="form.agenda.$error.required && submitStatus" class="error-message">Enter
                                    Meeting
                                    Agenda.
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-sm-12" ng-if="meeting.id_meeting > 0">
                            <label class="control-label">Meeting Mom:</label>

                            <div class="form-input">
                                <textarea class="width-full  form-control min-height70 p10 f12" ng-model="meeting.meeting_mom"
                                          name="meeting_mom"></textarea>
                            </div>
                        </div>

                        <div class="form-group col-sm-12 clearfix">
                            <label class="control-label">Guests:</label>

                            <div class="table-search width-full">
                                <div ng-dropdown-multiselect="" class="width-full" checkboxes="true" options="userList"
                                     selected-model="meeting.invitation_id" extra-settings="multipleSettings"></div>
                            </div>
                        </div>
                        <div class="form-group col-sm-12 clearfix" ng-if="meeting.id_meeting > 0">
                            <label class="control-label">Meeting Status:</label>

                            <select class="form-control" ng-model="meeting.meeting_status" name="meeting_status">
                                <option value="pending">Pending</option>
                                <option value="completed">Completed</option>
                                <option value="cancelled">Cancel</option>
                            </select>
                        </div>
                        <div class="col-sm-12">
                            <div class="dropzone">
                                <div ngf-select="uploadFiles($files)" ngf-drop="uploadFiles($files)" class="drop-box"
                                     ngf-drag-over-class="'dragover'" ngf-multiple="true"
                                     ngf-pattern="'.png,.jpg,.zip,.jpeg,.xl,.xls,.xlsx,.doc,.docx,.pdf,.rtf'" >
                                    Select File<span> or Drop File</span>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-12 attachment-list mb15">
                            <div class="list-header clearfix">
                                <h4 class="text-capitalize f14 darkcolor mt10">Attached Files</h4>
                            </div>
                            <div class="list-table mt5 mb5">
                                <ul class="scroll-area list-items">
                                    <li class="clearfix border-bottom" uploadedDocuments ng-repeat="f in meetingDocuments" >
                                        <div class="col-sm-1" upload-file  data-fileType="{{ f.type }}" ><i class=""></i> </div>

                                        <div class="col-sm-10">
                                            <p class="f12 text-line" title="{{f.name}}">{{f.name }}</p>
                                            <span class="display-block f11">{{ f.size/1000 | number : 0}} KB </span>
                                        </div>
                                        <div class="col-sm-1 text-center">
                                            <a href="javascript:;" uib-tooltip="Delete" ng-click="removeImage(f)" > <i class="fa fa-trash"></i> </a>
                                        </div>

                                    </li>

                                </ul>

                            </div>
                            <div class="clearfix"></div>
                            <ul>
                                <li>

                                    <div class="form-input file-attachments">

                                        <ul class="scroll-area list-items">
                                            <li class="clearfix border-bottom" uploadedDocuments ng-repeat="files in meetingDetails.attachment" >
                                                <div class="col-sm-1" upload-file  data-fileType="{{ files.document_mime_type }}" ><i class=""></i> </div>
                                                <div class="col-sm-10">
                                                    <p class="f12 text-line" title="{{files.document_name}}">{{files.document_name}}</p>
                                                    <span class="display-block f11" ng-bind="files.date | date:'mediumDate'"></span>
                                                </div>
                                                <div class="col-sm-1 text-center">
                                                    <div class="relative">
                                                        <i class="fa fa-download mr8"></i>
                                                        <a href="{{ files.full_path }}" class="icon-link" download />  </a>
                                                    </div>
                                                </div>



                                            </li>

                                        </ul>
                                    </div>
                                </li>
                            </ul>

                        </div>
                    </div>
                    <div class="col-sm-12 text-center">
                        <button class="btn btn-primary f12 btn-dark border-none mr4"
                                ng-click="saveMeeting(meeting,form)">Save
                        </button>
                        <button class="btn btn-primary lt-bg f12 border-none" ng-click="$parent.currentView='List'">
                            Cancel
                        </button>
                    </div>
                </div>
            </form>
        </div>
        <div ng-switch-default="List">
            <div class="list-wrapper clearfix p-list">
                <ul>

                    <li class="clearfix border-none mb5 lt-bg pad0">
                        <div class="col-sm-3 text-overflow">
                            <label class="f14 white-color mt5">Title </label>
                        </div>
                        <div class="col-sm-3 text-overflow">
                            <label class="f14 white-color mt5">Created By</label>
                        </div>
                        <div class="col-sm-2 p0">
                            <label class="f14 white-color mt5">Date</label>
                        </div>
                        <div class="col-sm-2 text-center">
                            <label class="f14 white-color mt5">Status</label>
                        </div>
                        <div class="col-sm-2">

                        </div>
                    </li>

                    <li class="clearfix" ng-repeat="meeting in meetingList">
                        <div class="col-sm-3 text-overflow">
                            <p class="f12 text-line" title="{{meeting.meeting_name}}">{{meeting.meeting_name}}</p>
                        </div>
                        <div class="col-sm-3 text-overflow">
                            <p class="f12"><a class="sky-blue" href="javascript:;">{{meeting.user_name}}</a></p>

                            <p class="f12">
                                <lable class="ash">Guests:</lable>
                                <span class="sky-blue text-line display-block " title="{{meeting.invitation_user_name}}">{{meeting.invitation_user_name}}</span>
                            </p>
                        </div>
                        <div class="col-sm-2 p0">
                            <p class="f12">{{meeting.when | split:' ':0}} {{meeting.from_time}}-{{meeting.to_time}}</p>
                        </div>
                        <div class="col-sm-2 p0 text-center">

                            <button class="btn btn-xs-custom border-none white-color f12 text-capitalize" task-status-bg bgcolor="{{meeting.meeting_status}}" >{{meeting.meeting_status}}</button>
                        </div>
                        <div class="col-sm-2 text-center">
                            <a href="javascript:;"
                               ng-click="meetingView(meeting.id_meeting);$parent.$parent.currentView='View'" uib-tooltip="View"><i
                                    class="fa fa-eye mr8"></i> </a>
                            <a href="javascript:;" uib-tooltip="Delete" ng-click="deleteMeeting(meeting.id_meeting)"><i class="fa fa-trash"></i> </a>
                        </div>
                    </li>

                </ul>
            </div>
        </div>
        <div ng-switch-when="View">
            <div class="view-state col-sm-12 pb20 clerfix">
                <!--<div class="view-header mb10">
                    <h4 class="heading f14"><a href="javascript:;" class="mt5 mr8 ash"
                                               ng-click="$parent.currentView='List'"><i
                            class="fa fa-long-arrow-left f18"></i></a> {{meetingDetails.meeting_name}}</h4>
                </div>-->
                <div class="view-header">
                    <div class="f14 blue">
                        <a href="javascript:;" class="mt5 mb5 mr8 f12 ash text-decoration-none" ng-click="$parent.currentView='List'"><i class="fa fa-angle-left  m-5 mr8 valign-middle f18"></i>Back</a>
                    </div>
                </div>

                <div class="view-content clearfix">
                    <div class="meet-info col-sm-12 p0">
                        <div class="col-sm-12 p0">
                            <div class="t-list">
                                <label class="f15 text-capitalize mb3 darkcolor bold">{{meetingDetails.meeting_name}}</label>
                            </div>
                        </div>
                        <div class="col-sm-3 p-l-0">
                            <div class="t-list">
                                <label class="f13 darkcolor mr4"> Where: </label>
                                <div class="form-input ">
                                    <p class="f12">
                                        {{meetingDetails.where}}
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-5">
                            <div class="t-list">
                                <label class="f13 darkcolor mr4">Guests: </label>
                                <div class="form-input">
                                    <p class="f12 word-break">
                                        {{meetingDetails.invitation_user_name}}
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 p-l-0">
                            <div class="t-list">
                                <label class="f13 darkcolor mr4"> Meeting Date: </label>
                                <div class="form-input ">
                                    <p class="f12">{{meetingDetails.when | split:' ': 0}}
                                    <label>Time: {{meetingDetails.from_time}}-{{meetingDetails.to_time}}</label></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 p0">
                            <div class="t-list">
                                <label class="f13 mb3 darkcolor">Agenda:</label>
                                <p class="f12">{{meetingDetails.agenda}}</p>
                            </div>
                        </div>
                        <div class="col-sm-12 p0">
                            <div class="t-list">
                                <label class="f13 mb3 darkcolor">Meeting Mom:</label>
                                <p class="f12">{{meetingDetails.meeting_mom}}</p>
                            </div>
                        </div>

                        <div class="clearfix"></div>
                        <ul>
                            <li>
                                <p class="f13 mb3 darkcolor">Attachments: </p>

                                <div class="form-input file-attachments">

                                    <ul class="scroll-area list-items">
                                        <li class="clearfix border-bottom" uploadedDocuments ng-repeat="files in meetingDetails.attachment" >
                                            <div class="col-sm-1" upload-file  data-fileType="{{ files.document_mime_type }}" ><i class=""></i> </div>
                                            <div class="col-sm-10">
                                                <p class="f12 text-line" title="{{files.document_name}}">{{files.document_name}}</p>
                                                <span class="display-block f11" ng-bind="files.date | date:'mediumDate'"></span>
                                            </div>
                                            <div class="col-sm-1 text-center">
                                                <div class="relative">
                                                    <i class="fa fa-download mr8"></i>
                                                    <a href="{{ files.full_path }}" class="icon-link" download />  </a>
                                                </div>
                                            </div>

                                        </li>

                                    </ul>
                                </div>
                            </li>
                        </ul>
                       <!-- <div class="comment-thread mt15">
                            <p class="f14 mb5 blue">Comments: </p>
                            <ul>
                                <li class="f12 clearfix">
                                    <div class="col-sm-12 p0">
                                        <h5 class="f12 mb5 sky-blue text-capitalize">Ramesh</h5>

                                        <p class="f12">Lorem Ipsum is simply dummy text of the printing and typesetting
                                            industry.Lorem Ipsum is simply dummy text of the printing and typesetting
                                            industry.</p>

                                        <p class="ash time-stamp">1 hour ago</p>
                                    </div>
                                </li>
                                <li class="f12 clearfix">
                                    <div class="col-sm-12 p0">
                                        <h5 class="f12 mb5 sky-blue text-capitalize">Ramesh</h5>

                                        <p class="f12">Lorem Ipsum is simply dummy text of the printing and typesetting
                                            industry.Lorem Ipsum is simply dummy text of the printing and typesetting
                                            industry.</p>

                                        <p class="ash time-stamp">10 hours ago</p>
                                    </div>
                                </li>
                            </ul>
                            <div class="col-sm-12 p0">
                                <h4 class="heading f14 pb5">Leave a Reply</h4>

                                <div class="form-group col-sm-9 p0">
                                    <textarea class="f12 width-full height50 p10"
                                              placeholder="Write your comment here" name="discussion_description" ng-model="discussion.discussion_description"></textarea>
                                </div>
                                <div class="text-center col-sm-3 mt10">
                                    <button class="btn btn-primary lt-bg p5 pl10 pr10 f12 border-none" ng-click="addComment(discussion)">Add Comment
                                    </button>
                                </div>
                            </div>


                        </div>-->

                    </div>

                    <div class="col-sm-12 text-center mt10 mb10">
                        <button class="btn btn-success mr8 f12" ng-click="$parent.currentView='Form'">Reschedule Meeting
                        </button>
                        <!--<button class="btn btn-primary mr8 f12">Cancel</button>-->
                        <button class="btn btn-primary lt-bg f12 border-none" ng-click="$parent.currentView='List'">
                            Cancel
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
