<div class="table-wrapper no-bg pt0 plr20">
    <table class="table-list-view table c-table table-hover table-style" st-pipe="getMeetingList" st-table="meetingList">
        <thead>
        <tr>
            <td colspan="8" class="pad0 border-bottom header-list-div">
                <div class="col-sm-6 p0">
                </div>
                <div uib-dropdown class="display-inline-block custom-list valign-middle pull-right relative mt15">
                    <a class="display-inline-block mt5 pl5 f14 sky-blue" uib-dropdown-toggle uib-tooltip="Filters">
                        <i class="fa fa-filter"></i>
                    </a>
                    <ul class="dropdown-menu width150" uib-dropdown-menu="">
                        <li><a href="javascript:;" st-search="f_type" st-input-event="click" ng-click="f_type='my_meetings'">
                            My Meetings</a></li>
                        <li><a href="javascript:;" st-search="f_type" st-input-event="click" ng-click="f_type='due_meeting'">
                            Due Meetings </a></li>
                        <li><a href="javascript:;" st-search="f_type" st-input-event="click" ng-click="f_type='upcoming_meeting'">
                            Upcoming Meetings </a></li>
                    </ul>
                </div>
                <div class="col-sm-2 p0 pt20 w120 pull-right">
                    <a href="javascript:;" class="pull-right add-button" ng-click="createMeeting(getData,'create')"
                       n-t="{'e_n':'Create Meeting';'e_d':'Meeting'}">
                        <i class="fa fa-plus"></i>Create Meeting
                    </a>
                </div>
                <div class="col-sm-4 p0 mt5 pull-right">
                    <div class="action-head mb0">
                        <div class="table-search pull-left width-full">
                            <input type="text" class="form-control" placeholder="Search...."
                                   st-search="search_key">
                            <i class="fa icon-search"></i>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
        <tr>
            <th></th>
            <th>Meeting</th>
            <th>Info</th>
            <th>Created By</th>
            <th class="">Status</th>
            <th>Action</th>
        </tr>
        </thead>

        <tbody class="hierarchical_slide" hierarchical-slide>
        <tr id="meeting_loader">
            <td colspan="7">
                <div class="text-center display-block">
                    <img src="images/loader2.gif" width="25" height="25" alt="LOADING...">
                </div>
            </td>
        </tr>
        <tr  ng-repeat="m in meetingList">
            <td class="img"><span first-alpha="{{m.meeting_name}}"></span></td>
            <td class="width220">
                <span class="label-text p0 display-block" title="{{m.meeting_name}}">{{m.meeting_name}} </span>
                <span class="font-lato f13 darkcolor display-block text-line" title="{{m.where}}" >{{m.where | checkEmpty }}</span>
            </td>
            <td>
                <span class="label-text display-block text-line">{{m.when }} </span>
                <span class="font-lato f13 darkcolor display-block" >{{m.from_time }} - {{m.to_time }}</span>
            </td>
            <td>
                <span class="label-text display-block">{{m.user_name}}</span>
                <span class="font-lato f13 darkcolor display-block" >{{m.created_date_time | utcToLocal:'date'}}</span>
            </td>
            <td>
                <span class="f11" label-status="{{m.meeting_status}}">{{m.meeting_status|capitalize}}</span>
            </td>
            <td>
                <div class="display-inline-block custom-list valign-middle pull-right relative mt5" uib-dropdown
                     ng-if="m.created_by == userId">
                    <a href="javascript:;" class="menu-toggle dropdown-toggle" uib-dropdown-toggle><i
                            class="fa fa-ellipsis-v f21"></i></a>
                    <ul class="dropdown-menu width150" uib-dropdown-menu>
                        <li>
                            <a href="javascript:;" class="darkcolor" ng-click="editMeeting(m.id_meeting,'view')"
                               n-t='{"e_n":"View Meeting","e_d":"Meeting - {{m.meeting_name}}"}'>
                                View Meeting
                            </a>
                        </li>
                        <li ng-if="m.meeting_status == 'pending' && checkMeetingDate(m.when)">
                            <a href="javascript:;" class="darkcolor" ng-click="editMeeting(m.id_meeting,'edit')"
                               n-t='{"e_n":"Edit Meeting","e_d":"Meeting - {{m.meeting_name}}"}'>
                                Change Meeting
                            </a>
                        </li>
                        <li ng-if="m.meeting_status == 'pending' && checkMeetingDate(m.when)">
                            <a href="javascript:;" class="darkcolor" ng-click="editMeeting(m.id_meeting,'completed')"
                               n-t='{"e_n":"Complete Meeting","e_d":"Meeting - {{m.meeting_name}}"}'>
                                Complete Meeting
                            </a>
                        </li>
                        <li ng-if="m.meeting_status == 'pending'">
                            <a href="javascript:;" class="darkcolor" ng-click="editMeeting(m.id_meeting,'cancelled')"
                               n-t='{"e_n":"Cancel Meeting","e_d":"Meeting - {{m.meeting_name}}"}'>
                                Cancel Meeting
                            </a>

                        </li>
                    </ul>
                </div>
            </td>
        </tr>
        </tbody>
        <tbody ng-show="isEmptyRow">
            <tr>
                <td colspan="9" class="empty-table">
                    <p class="12">No Data Available</p>
                </td>
            </tr>
        </tbody>
        <tfoot>
        <tr>
            <td colspan="8" class="text-center">
                <div st-items-by-page="10" st-pagination="" st-template="partials/list-pagination.custom.html" class="pull-right"></div>
            </td>
        </tr>
        </tfoot>
    </table>
</div>