<div class="pl10 pr10 tp-wrap" st-table="meetingList" st-pipe="getMeetingList">
    <h3 class="darkcolor clearfix pt5 pb5 mb15 border-bottom2x">
        <span class="display-inline-block f14 bold pt5">Meetings <span
                class="sky-blue bold"><!--{{totalMeetingCount}}--></span></span>

        <!--<span class=" display-inline-block pl10">



            <a class="display-inline-block mt5 pr5 f14 sky-blue" uib-tooltip="All Meetings" ng-class="{'active':f_type === 'all_meetings'}"
                 st-search="f_type" st-input-event="click" ng-click="f_type='all_meetings'">
                                        <i class="icon-all"></i>
                &lt;!&ndash;<span class=" display-block f12"> All Meetings</span>&ndash;&gt;
              &lt;!&ndash;  <span class=" darkcolor display-block f12 lh12 bold">{{all_meetings}}</span>&ndash;&gt;
            </a>
            <a class="display-inline-block mt5 pr5 f14 sky-blue"
               uib-tooltip="My Meetings"
               ng-class="{'active':f_type === 'my_meetings'}"
               st-search="f_type" st-input-event="click" ng-click="f_type='my_meetings'">
                                        <i class="icon-users2"></i>
              &lt;!&ndash;  <span class=" display-block f12"> My Meetings</span>&ndash;&gt;
               &lt;!&ndash; <span class=" darkcolor display-block f12 lh12 bold">{{my_meetings}}</span>&ndash;&gt;
            </a>

        </span>-->
        <div uib-dropdown class="display-inline-block custom-list valign-middle pull-right relative">
            <a class="display-inline-block mt5 pl5 f14 sky-blue" uib-dropdown-toggle uib-tooltip="Filters">
                <i class="fa fa-filter"></i>
            </a>
            <ul class="dropdown-menu width150" uib-dropdown-menu="">
                <li><a href="javascript:;" st-search="f_type" st-input-event="click" ng-click="f_type='all_meetings'">All
                    Meetings</a></li>
                <li><a href="javascript:;" st-search="f_type" st-input-event="click" ng-click="f_type='my_meetings'">
                    My Meetings</a></li>
                <li><a href="javascript:;" st-search="f_type" st-input-event="click" ng-click="f_type='due_meeting'">
                    Due Meetings </a></li>
                <li><a href="javascript:;" st-search="f_type" st-input-event="click" ng-click="f_type='upcoming_meeting'">
                    Upcoming Meetings </a></li>
            </ul>
        </div>
        <a href="javascript:;" class="pull-right add-button"
           n-t='{"e_n":"Create Meeting","e_d":"Meeting"}'
           ng-click="createMeeting(getData,'create')" uib-tooltip="">
            <i class="fa fa-plus"></i> Create Meeting
        </a>
        <input class="f12 pull-right p2 mr8" type="text" ng-model="search_key" st-search="search_key"
               placeholder="Search"/>

    </h3>
    <div ng-scrollbars win-height wh-offset="190">
        <div class="text-center clearfix" ng-show="noData">
            <p class="f12">No meeting available</p>
        </div>
        <div class="meeting-inv-wrap clearfix" ng-show="!noData"
             ng-repeat="m in meetingList">
            <h6 class="f12 dark-blue">{{m.meeting_name}}
                <div class="display-inline-block custom-list valign-middle pull-right relative -mt2" uib-dropdown
                     ng-if="m.created_by == userId">
                    <a href="javascript:;" class="menu-toggle dropdown-toggle" uib-dropdown-toggle><i
                            class="fa fa-ellipsis-v f21"></i></a>
                    <ul class="dropdown-menu width150" uib-dropdown-menu>
                        <li>
                            <a href="javascript:;" class="darkcolor" ng-click="editMeeting(m.id_meeting,'view')"
                               n-t='{"e_n":"View Meeting","e_d":"name - {{m.meeting_name}}, Meeting"}'>
                                View Meeting
                            </a>
                        </li>
                        <li ng-if="m.meeting_status == 'pending' && checkMeetingDate(m.when)">
                            <a href="javascript:;" class="darkcolor" ng-click="editMeeting(m.id_meeting,'edit')"
                               n-t='{"e_n":"Edit Meeting","e_d":"name - {{m.meeting_name}}, Meeting"}'>
                                Change Meeting
                            </a>
                        </li>
                        <li ng-if="m.meeting_status == 'pending' && checkMeetingDate(m.when)">
                            <a href="javascript:;" class="darkcolor" ng-click="editMeeting(m.id_meeting,'completed')"
                               n-t='{"e_n":"Complete Meeting","e_d":"name - {{m.meeting_name}}, Meeting"}'>
                                Complete Meeting
                            </a>
                        </li>
                        <li ng-if="m.meeting_status == 'pending'">
                            <a href="javascript:;" class="darkcolor" ng-click="editMeeting(m.id_meeting,'cancelled')"
                               n-t='{"e_n":"Cancel Meeting","e_d":"name - {{m.meeting_name}}, Meeting"}'>
                                Cancel Meeting
                            </a>
                        </li>
                    </ul>
                </div>
                <span class="meeting-inv-wrap-status bold" label-status="{{m.meeting_status}}">{{m.meeting_status | uppercase}}</span>
            </h6>
            <div class="meeting-inv-wrap-body">
                <div class="gray clearfix">
                    <span class="icon-calendar1 pull-left mr8 darkcolor f14"
                          uib-tooltip="Time">
                    </span>{{m.when}} - {{m.to_time}} / {{m.from_time}}
                </div>
                <div class="darkcolor clearfix">
                    <span class="icon-globe1 pull-left mr8 f14"
                          uib-tooltip="Location">
                    </span>
                    {{m.where}}
                    <!--  <a class="pull-right tpoint-actions"><span class="icon-edit"></span>
                      </a>-->
                </div>


                <div class="sky-blue clearfix" text-line>
                    <span class="icon-users2 pull-left mr8 f14" uib-tooltip="Participants"></span>
                    {{m.invitation_name.toString()}}
                    <!--  <a class="pull-right tpoint-actions"><span class="icon-trash"></span>
                      </a>-->
                </div>
            </div>
            <div class="meeting-inv-wrap-footer">
                <span class="sky-blue text-line">{{m.user_name}}</span>
                <span class="pull-right gray">{{m.created_date_time|utcToLocal}}</span>
            </div>
        </div>
        <div class="text-center clearfix pb20">
            <div id="meeting_loader" class="text-center display-block">
                <img src="images/loader2.gif" width="25" height="25" alt="LOADING...">
            </div>
            <st-pagination st-items-by-page="10" st-template='loader-template.html'>

            </st-pagination>
        </div>
    </div>

</div>
<script type="text/ng-template" id="loader-template.html">
    <button ng-if="numPages >= 2 && currentPage != numPages" ng-click="selectPage(currentPage + 1)"
            class="btn btn-dark f12 border-none mr4 mb5"
            n-t='{"e_n":"Notification - Load More","e_d":"meeting"}'> Load More
    </button>
</script>