<h1 class="border-bottom p10 mb0 "><i class="icon-clipped-file2 mr4 sky-blue"></i>GENERAL
</h1>

<div class="facility-setup-form clearfix">
    <div class=" clearfix">
        <div class="col-sm-12 p0 mtb10">
            <form name="form" ng-submit="form.$valid && ftSubmit(facilityInfo)" novalidate>
                <div class="col-sm-12 p0">
                    <div class="col-sm-4">
                        <div class="form-group clearfix form-group-custom mb10">
                            <label class="control-label"> {{'Facility Name' | translate}} * : </label>
                            <input type="text" name="facility_name" ng-model="facilityInfo.facility_name"
                                   class="form-control" required>
                            <div ng-if="form.facility_name.$error.required && form.$submitted" class="error-message">
                                {{'This field is required'| translate}}
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2 pl0 mt20 pt5 -ml8">
                        <a href="javascript:;" ng-click="facility_name_desc =!facility_name_desc " uib-tooltip="Add note"><i
                                class="icon-clipped-file2 f21 mt5"></i></a>
                    </div>
                   <!-- <div class="col-sm-4">
                        <div class="form-group clearfix form-group-custom mb10">
                            <label class="control-label"> {{'Contract Id' | translate}}  : </label>
                            <input type="text" name="contract_id" class="form-control">
                        </div>
                    </div>-->



                    <div class="col-sm-12 min-height120" ng-show="facility_name_desc">
                        <label class="control-label"> {{'Description' | translate}}: </label>
                         <textarea name="facility_description" ckeditor ng-model="facilityInfo.facility_description"
                                   class="form-control ">
                         </textarea>
                    </div>
                </div>

                <div class="col-sm-4">
                    <div class="form-group form-group-custom mb10">
                        <label class="control-label"> {{'Facility Type ' | translate}} : </label>
                        <select class="form-control"
                                ng-init="masterDropDownList({'master_key':'facility_type'});masterDropDownList({'master_key':'facility_sub_type','parent_id':facilityInfo.facility_type});masterDropDownList({'master_key':'facility_term','parent_id':facilityInfo.facility_type})"
                                ng-change="masterDropDownList({'master_key':'facility_sub_type','parent_id':facilityInfo.facility_type});masterDropDownList({'master_key':'facility_term','parent_id':facilityInfo.facility_type})"
                                ng-model="facilityInfo.facility_type" name="facility_type"
                                ng-options="item.id as item.name for item in dropDownItems['facility_type']">
                            <option value="">--Select--</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-4" ng-show="dropDownItems['facility_sub_type'].length > 0 && facilityInfo.facility_type > 0">
                    <div class="form-group form-group-custom mb10">
                        <label class="control-label"> {{'Facility Subtype ' | translate}} : </label>
                        <select class="form-control"
                                ng-model="facilityInfo.facility_sub_type" name="facility_sub_type"
                                ng-options="item.id as item.name for item in dropDownItems['facility_sub_type']">
                            <option value="">--Select--</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-4" ng-show="dropDownItems['facility_term'].length>0 && facilityInfo.facility_type>0">
                    <div class="form-group form-group-custom mb10">
                        <label class="control-label"> {{'Facility Line Type ' | translate}} : </label>
                        <select class="form-control"
                                ng-model="facilityInfo.facility_term" name="facility_term"
                                ng-options="item.id as item.name for item in dropDownItems['facility_term']">
                            <option value="">--Select--</option>
                        </select>
                    </div>
                </div>
               <!-- <div class="col-sm-4">
                    <div class="form-group form-group-custom mb10">
                        <label class="control-label"> {{'Type of Loan Payment ' | translate}} : </label>
                        <select class="form-control"
                                ng-init="masterDropDownList({'master_key':'type_of_loan_payment'})"
                                ng-model="facilityInfo.loan_payment_type" name="loan_payment_type"
                                ng-options="item.id as item.name for item in dropDownItems['type_of_loan_payment']">
                            <option value="">&#45;&#45;Select&#45;&#45;</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group form-group-custom mb10">
                        <label class="control-label"> {{'Payment Modalities ' | translate}} : </label>
                        <select class="form-control"
                                ng-init="masterDropDownList({'master_key':'payment_modalities'})"
                                ng-model="facilityInfo.payment_modalities" name="payment_modalities"
                                ng-options="item.id as item.name for item in dropDownItems['payment_modalities']">
                            <option value="">&#45;&#45;Select&#45;&#45;</option>
                        </select>
                    </div>
                </div>-->

      <!--          <div class="col-sm-12 p0">
                    <div class="col-sm-4">
                        <div class="col-sm-8 pl0">
                            <div class="form-group clearfix form-group-custom mb10">
                                <label class="control-label"> {{'Tenor' | translate}} : </label>
                                    <input type="text" name="facility_tenor" ng-model="facilityInfo.facility_tenor"
                                           class="form-control" ui-number-mask="0">
                            </div>
                        </div>
                        <div class="col-sm-4 pl0 pt20 -ml8">
                            <span class="f12 ml5">Months</span>
                            <a href="javascript:;"
                               ng-click="facility_tenor_description =!facility_tenor_description " uib-tooltip="Add note"><i
                                    class="icon-clipped-file2 f21 mt5"></i></a>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group clearfix form-group-custom mb10">
                            <div class="" ng-init="getCurrencyList()">
                                <label class="control-label">
                                    {{'Loan Currency' | translate}} :
                                </label>
                                <select class="form-control" ng-model="facilityInfo.currency_id" name="currency_id"
                                        ng-options="item.currency_id as item.currency_code for item in currencyList">
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="col-sm-11 pl0 form-group clearfix form-group-custom mb10">
                            <label class="control-label"> {{'Loan Amount' | translate}} : </label>
                            <input type="text" name="facility_amount" ng-model="facilityInfo.facility_amount" ui-number-mask="2"
                                   class="form-control">
                        </div>
                        <div class="col-sm-1 p0 mt20 pt5 -ml8">
                            <a href="javascript:;" ng-click="amount_description =!amount_description " uib-tooltip="Add note"><i
                                    class="icon-clipped-file2 f21"></i></a>
                        </div>
                    </div>
                    <div class="col-sm-12 min-height120" ng-show="facility_tenor_description">
                        <label class="control-label"> {{'Description' | translate}}: </label>
                            <textarea name="facility_tenor_description" ckeditor="" ng-model="facilityInfo.facility_tenor_description"
                                      class="form-control ">
                            </textarea>
                    </div>
                    <div class="col-sm-12 min-height120" ng-show="amount_description">
                        <label class="control-label"> {{'Description' | translate}}: </label>
                        <textarea name="amount_description" ckeditor ng-model="facilityInfo.amount_description"
                                  class="form-control ">
                        </textarea>
                    </div>
                </div>
                &lt;!&ndash;<div class="col-sm-12 p0">
                    <div class="col-sm-4">
                        <div class="form-group clearfix form-group-custom mb10">
                            <div class="" ng-init="getCurrencyList()">
                                <label class="control-label">
                                    {{'Loan Currency' | translate}} :
                                </label>
                                <select class="form-control" ng-model="facilityInfo.currency_id" name="currency_id"
                                        ng-options="item.currency_id as item.currency_code for item in currencyList">
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group clearfix form-group-custom mb10">
                            <label class="control-label"> {{'Loan Amount' | translate}} : </label>
                            <input type="text" name="facility_amount" ng-model="facilityInfo.facility_amount" ui-number-mask="2"
                                   class="form-control">
                        </div>
                    </div>
                    <div class="col-sm-2 p0 mt20 pt5 -ml8">
                        <a href="javascript:;" ng-click="amount_description =!amount_description " uib-tooltip="Add note"><i
                                class="icon-clipped-file2 f21 mt5"></i></a>
                    </div>
                    <div class="col-sm-12 min-height120" ng-show="amount_description">
                        <label class="control-label"> {{'Description' | translate}}: </label>
                        <textarea name="amount_description" ckeditor ng-model="facilityInfo.amount_description"
                                  class="form-control ">
                        </textarea>
                    </div>
                </div>&ndash;&gt;
                <div class="col-sm-4">
                    <div class="form-group form-group-custom mb10">
                        <label class="control-label"> {{'Source Of Funds ' | translate}} : </label>
                        <select class="form-control"
                                ng-init="masterDropDownList({'master_key':'source_of_funds'})"
                                ng-model="facilityInfo.facility_source_of_payment" name="facility_source_of_payment"
                                ng-options="item.id as item.name for item in dropDownItems['source_of_funds']">
                            <option value="">&#45;&#45;Select&#45;&#45;</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group form-group-custom mb10">
                        <label class="control-label"> {{'Credit Risk ' | translate}} : </label>
                        <select class="form-control"
                                ng-init="masterDropDownList({'master_key':'credit_risk'})"
                                ng-model="facilityInfo.credit_risk" name="credit_risk"
                                ng-options="item.id as item.name for item in dropDownItems['credit_risk']">
                            <option value="">&#45;&#45;Select&#45;&#45;</option>
                        </select>
                    </div>
                </div>
                <div class="col-lg-12 p0">
                    <div class="form-group form-group-custom mb10 col-sm-4">
                        <label class="control-label"> {{'Lender Type ' | translate}} : </label>
                        <select class="form-control"
                                ng-init="masterDropDownList({'master_key':'lender_type'})"
                                ng-model="facilityInfo.lender_type" name="lender_type"
                                ng-options="item.id as item.name for item in dropDownItems['lender_type']">
                            <option value="">&#45;&#45;Select&#45;&#45;</option>
                        </select>
                    </div>
                    <div ng-switch="facilityInfo.lender_type" class="form-group form-group-custom mb10 col-sm-4">
                        <any ng-switch-when="28">
                            <label class="control-label"> How much given away (%) : </label>
                            <input type="text" class="form-control" ng-model="facilityInfo.lender_percentage" ui-number-mask="2" max="100"/>
                        </any>
                        <any ng-switch-when="29">
                            <label class="control-label"> What is our share in the total (%) : </label>
                            <input type="text" class="form-control" ng-model="facilityInfo.lender_percentage" ui-number-mask="2" max="100"/>
                        </any>
                    </div>
                </div>
                <div class="col-sm-12">
                    <label class="control-label">{{'Facility Purpose' | translate}}:</label>
                        <textarea name="facility_purpose" ckeditor ng-model="facilityInfo.facility_purpose"
                                  class="form-control">
                        </textarea>
                    </div>

                <div class="col-sm-12">
                        <label class="control-label">
                            {{'Other Facility Modalities' | translate}}:
                        </label>
                        <textarea name="other_facility_modalities" ckeditor ng-model="facilityInfo.other_facility_modalities"
                                  class="form-control">
                        </textarea>
                </div>
               &lt;!&ndash; <div class="col-sm-12">
                        <label class="control-label">
                            {{'Security' | translate}}:
                        </label>
                        <textarea name="facility_security" ckeditor ng-model="facilityInfo.facility_security"
                                  class="form-control">
                        </textarea>
                </div>&ndash;&gt;
                <div class="col-sm-6">
                    <div class="form-group clearfix form-group-custom">
                        <label>{{'Expected Start Date' | translate}}:</label>
                        <div class="input-group">
                            <input type="text" class="form-control white-bg"
                                   uib-datepicker-popup
                                   data-ng-model="facility_expected_start_date" name="from_date" is-open="openCal2"
                                   show-weeks="false" show-button-bar="false" readonly/>
                          <span class="input-group-btn ">
                            <button type="button" class="btn btn-default border" disabled ng-click="openCal2 = true">
                                <i class="fa fa-calendar"></i></button>
                          </span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group clearfix form-group-custom">
                        <label>{{'Expected Maturity Date' | translate}}:</label>
                        <div class="input-group">
                            <input type="text" class="form-control white-bg"
                                   uib-datepicker-popup
                                   data-ng-model="facility_maturity_date" name="from_date" is-open="openCal"
                                   show-weeks="false" show-button-bar="false" readonly/>
                          <span class="input-group-btn ">
                            <button type="button" class="btn btn-default border" disabled ng-click="openCal = true">
                                <i class="fa fa-calendar"></i></button>
                          </span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group clearfix form-group-custom">
                        <label>{{'Drawdown Expiry date' | translate}}:</label>
                        <div class="input-group">
                            <input type="text" class="form-control white-bg"
                                   uib-datepicker-popup
                                   data-ng-model="drawdown_expiry_date" name="drawdown_expiry_date" is-open="openCal3"
                                   show-weeks="false" show-button-bar="false" readonly/>
                          <span class="input-group-btn ">
                            <button type="button" class="btn btn-default border" disabled ng-click="openCal3 = true">
                                <i class="fa fa-calendar"></i></button>
                          </span>
                        </div>
                    </div>
                </div>-->
                <div class="col-sm-12 text-center mt10">
                    <button class="blue-btn"
                        n-t='{"e_n":"Save facility General Admin","e_d":"{{facilityInfo.facility_name}}", "form": "{{form.$valid}}"}'>
                        {{'Save' | translate}}
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

