<h1 class="p10 mb0"><i class="icon-eur-currency1 mr4 sky-blue"></i> Pricing <a href="javascript:;" uib-tooltip="Add" n-t='{"e_n":"Add facility Price Admin","e_d":"{{facilityInfo.facility_name}}"}' ng-click="FDModalOpen()" class="pull-right f21"><i class="icon-plus-circle"></i></a>
</h1>
<any ng-repeat="field in fieldList" ng-init="p=field.data">
    <div class="facility-setup-form col-sm-12 clearfix">
        <div class="acc-head facility-form-head border col-sm-12 p0 clearfix">
            <h6 basic-accordian class="p10" id="acc_{{$index}}"
                n-t='{"e_n":"View facility Price Admin","e_d":"{{facilityInfo.facility_name}} - {{field.field_name}}"}'>{{field.field_name}}
            <span class="acc-icon darkcolor pull-left mr8 f18"><i
                    class="icon-angle-rightt-circle"></i>
            </span>
            <span class="f12 mt5 text-right p0 pull-right" ng-show="field.data.updated_date_time">Last Modified on: {{field.data.updated_date_time | utcToLocal}}</span>
            </h6>
        </div>
        <div class="acc-body border clearfix clearboth pl0 pt0">
            <ng-form name="form" >
                <div class="col-sm-12 p0 mtb10">
                    <div class="col-sm-12 mb5">
                        <div class="form-group clearfix form-group-custom"
                             ng-init="p.payment_type=(p.payment_type)?p.payment_type:'interest_as'">
                            <div class="radio display-inline-block mr15 mt5">
                                <label class="f12">
                                    <input value="interest_as" type="radio" ng-model="p.payment_type"
                                           name="payment_type_{{$index}}" class=""> Interest As(%)</label>
                            </div>
                            <div class="radio display-inline-block mr15">
                                <label class="f12">
                                    <input value="fee_amount" ng-model="p.payment_type"
                                           type="radio"
                                           name="payment_type_{{$index}}"
                                           class=""> Fees as Amount
                                </label>
                            </div>
                            <div class="radio display-inline-block mr15">
                                <label class="f12">
                                    <input value="fee_as" ng-model="p.payment_type"
                                           type="radio"
                                           name="payment_type_{{$index}}"
                                           class=""> Fees As(%)
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 p0" ng-if="p.payment_type=='interest_as'">
                        <div class="col-sm-4">
                            <div class="form-group clearfix form-group-custom mb10">
                                    <label class="control-label">
                                        {{'Term' | translate}} :
                                    </label>
                                <div class="" ng-init="getTimePeriod()">
                                    <select class="form-control" ng-model="p.time_period_id" name="time_period_id"
                                            ng-options="item.id_time_period as item.period_name for item in timePeriod"
                                            >
                                    </select>
                                    <div ng-if="form.time_period_id.$error.required"
                                         class="error-message">
                                        {{'This field is required'| translate}}
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="form-group clearfix form-group-custom mb10">
                                <label class="control-label"> {{'Percentage' |
                                    translate}} (%): </label>
                                <input type="text"  ui-number-mask="2" max="100" ng-model="p.facility_field_value"
                                           name="facility_field_value" class="form-control">
                            </div>
                        </div>
                <!--        <div class="col-sm-4 mt20 pl0">
                            <div class="form-group clearfix form-group-custom mb10">
                                <div class="col-sm-12 pl0"><label class="control-label f18 mt5">(%)</label></div>
                            </div>
                        </div>-->
                        <div class="col-sm-2 pl0 mt20 pt5 -ml8">
                            <a href="javascript:;" ng-click="$parent.price_desc =!$parent.price_desc " uib-tooltip="Add note"><i
                                    class="icon-clipped-file2 f21"></i></a>
                        </div>
                    </div>
                    <div class="col-sm-12 p0" ng-if="p.payment_type=='fee_amount'">
                        <div class="col-sm-4 p0">
                            <div class="form-group clearfix form-group-custom mb10">
                                <div class="col-sm-12">
                                    <label class="control-label">
                                        {{'Currency' | translate}} :
                                    </label>
                                </div>
                                <div class="col-sm-12" ng-init="getCurrencyList()">
                                    <select class="form-control"
                                            ng-model="p.currency_id" name="currency_id"
                                            ng-options="item.currency_id as item.currency_code for item in currencyList">

                                    </select>

                                </div>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="form-group clearfix form-group-custom mb10">
                                <label class="control-label"> {{'Amount' |
                                    translate}} : </label>
                                    <input type="text" ui-number-mask="2" ng-model="p.facility_field_value"
                                           name="facility_field_value" class="form-control">
                            </div>
                        </div>
                        <div class="col-sm-2 pl0 mt20 pt5 -ml8">
                            <a href="javascript:;" ng-click="$parent.price_desc =!$parent.price_desc " uib-tooltip="Add note"><i
                                    class="icon-clipped-file2 f21"></i></a>
                        </div>

                    </div>
                    <div class="col-sm-12 p0" ng-if="p.payment_type=='fee_as'">

                        <div class="col-sm-4">
                            <div class="form-group clearfix form-group-custom mb10">
                                    <label class="control-label">
                                        {{'Amount Type' | translate}} :
                                    </label>
                                <div class="" ng-init="getAmountType()">
                                    <select class="form-control" ng-model="p.facility_amount_type"
                                            name="facility_amount_type"
                                            ng-options="item.id_facility_amount_type as item.facility_amount_type for item in amountType"
                                    >

                                    </select>

                                </div>
                            </div>
                        </div>

                        <div class="col-sm-4">
                            <div class="form-group clearfix form-group-custom mb10">
                                <label class="control-label"> {{'Percentage' | translate}} (%): </label>
                                    <input type="text" ui-number-mask="2" max="100" ng-model="p.facility_field_value"
                                           name="facility_field_value" class="form-control" required>
                            </div>
                        </div>

                        <div class="col-sm-2 pl0 mt20 pt5 -ml8">
                            <a href="javascript:;" ng-click="$parent.price_desc =!$parent.price_desc " uib-tooltip=""><i
                                    class="icon-clipped-file2 f21"></i></a>
                        </div>
                    </div>


                    <div class="col-sm-12" ng-show="price_desc">
                        <div class="form-group clearfix form-group-custom mb10">
                                <label class="control-label">
                                    {{'Description' | translate}}:
                                </label>
                                <textarea name="facility_field_description" ckeditor="" ng-model="p.facility_field_description"
                                          class="form-control"></textarea>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <div class="col-sm-12 p0 text-center">
                            <button type="button" class="blue-btn" ng-click="form.$valid && priceSubmit(p,field.facility_field_id)"
                                    n-t='{"e_n":"Save facility Price Admin","e_d":"{{facilityInfo.facility_name}} - {{field.field_name}}"}'>
                                {{'Save' | translate}}
                            </button>
                            <button type="button" class="light-btn" ng-click="accClose('#acc_'+$index)"
                                    n-t='{"e_n":"Cancel facility Price Admin","e_d":"{{facilityInfo.facility_name}} - {{field.field_name}}"}'>
                                {{'Cancel' | translate}}
                            </button>
                            <button type="button" class="btn btn-danger f12"  ng-click="deleteCompanyFacilityFields(field.data.id_company_facility_field,$index)"
                                    n-t='{"e_n":"Delete facility Price Admin","e_d":"{{facilityInfo.facility_name}} - {{field.field_name}}"}'>
                                Delete
                            </button>
                        </div>
                    </div>
                </div>
            </ng-form>
        </div>
    </div>
</any>
<script type="text/ng-template" id="addFacilityFieldModel.html">
    <div class="modal-wrap right-modal modal-custom">
        <div class="clearfix">
            <h3 class="right-modal-head">
                <i class="icon-eur-currency1"></i> {{'Pricing' | translate}}
                <a ng-click="cancel()" class="close-right pull-right" uib-tooltip="Close"
                   n-t='{"e_n":"Cancel Add facility Price Admin","e_d":"{{facilityInfo.facility_name}}"}'><img src="images/close.png"></a>
            </h3>

        </div>
        <div class="modal-body clearfix">
            <form name="form" ng-submit="form.$valid && ftSubmit(facility_type)" novalidate>
                <div class="col-sm-12 p0">
                    <div class="form-group clearfix form-group-custom">
                        <select chosen class="form-control" name="facility_type" id="facility_type" ng-model="facility_type"
                                ng-options="item as item.field_name for item in fFieldList"
                                required>
                            <option value="">--{{'Select Facility Field Type' | translate}}--</option>
                        </select>
                        <div ng-if="form.facility_type.$error.required && form.$submitted" class="error-message">
                            {{'This field is required'| translate}}
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 text-center mt10">
                    <button class="blue-btn"
                            n-t='{"e_n":"Save Add facility Price Admin","e_d":"{{facilityInfo.facility_name}}", "form": "{{form.$valid}}"}'>
                        {{'Create' | translate}}
                    </button>
                    <button class="light-btn" type="button" ng-click="cancel()"
                            n-t='{"e_n":"Cancel Add facility Price Admin","e_d":"{{facilityInfo.facility_name}}"}'>
                        {{'Cancel' | translate}}
                    </button>
                </div>
            </form>

        </div>
    </div>
</script>
