<h1 class="p10 mb0"><i class="icon-stars-list mr4 sky-blue"></i>Terms & conditions <a href="javascript:;"
                                                                                      uib-tooltip="Add"
                                                                                      n-t='{"e_n":"Add facility Terms And Condition Admin","e_d":"{{facilityInfo.facility_name}}"}'
                                                                                      ng-click="FTCModalOpen()"
                                                                      class="pull-right f21"><i
        class="icon-plus-circle"></i></a></h1>

<any ng-repeat="field in fieldList" ng-init="f=field.data">
    <div class="facility-setup-form col-sm-12 clearfix">
        <div class="acc-head facility-form-head border col-sm-12 p0 clearfix">
            <h6 basic-accordian class="p10" id="acc_{{$index}}"
                n-t='{"e_n":"View facility Terms And Condition Admin","e_d":"{{facilityInfo.facility_name}} - {{field.field_name}}"}'>{{field.field_name}}
            <span class="acc-icon darkcolor pull-left mr8 f18"><i
                    class="icon-angle-rightt-circle"></i>
            </span>
                <span class="f12 pull-right mt5 text-right p0" ng-show="field.data.created_date_time">Last Modified  on: {{field.data.updated_date_time | utcToLocal}}</span>
            </h6>
        </div>
        <div class="acc-body col-sm-12 border p0 clearfix clearboth">
            <div class="col-sm-12 p0 mtb10">
                <div class="col-sm-12">
                    <div class="form-group clearfix form-group-custom mb10">
                        <label class="control-label">Description</label>
                            <textarea name="facility_field_description" ckeditor="" ng-model="f.facility_field_description" class="form-control"></textarea>
                    </div>
                </div>
                <div class="col-sm-12 text-center">
                    <button class="blue-btn" type="button" ng-click="tcSubmit(f,field.facility_field_id)"
                            n-t='{"e_n":"Save facility Terms And Condition Admin","e_d":"{{facilityInfo.facility_name}} - {{field.field_name}}"}'>
                        {{'Save' | translate}}
                    </button>
                    <button type="button" class="light-btn" ng-click="accClose('#acc_'+$index)"
                            n-t='{"e_n":"Cancel facility Terms And Condition Admin","e_d":"{{facilityInfo.facility_name}} - {{field.field_name}}"}'>
                        {{'Cancel' | translate}}
                    </button>
                    <button class="btn btn-danger f12" ng-click="deleteCompanyFacilityFields(field.data.id_company_facility_field,$index)"
                            n-t='{"e_n":"Delete facility Terms And Condition Admin","e_d":"{{facilityInfo.facility_name}} - {{field.field_name}}"}'>
                        Delete
                    </button>
                </div>
            </div>
        </div>
    </div>
</any>
<script type="text/ng-template" id="addFacilityFieldModel.html">
    <div class="modal-wrap right-modal modal-custom">
        <div class="clearfix">
            <h3 class="right-modal-head">
                <i class="icon-stars-list"></i> {{'Terms And Conditions' | translate}}
                <a ng-click="cancel()" class="close-right pull-right" uib-tooltip="Close"
                   n-t='{"e_n":"Cancel Add facility Terms And Condition Admin","e_d":"{{facilityInfo.facility_name}} - {{field.field_name}}"}'><img src="images/close.png"></a>
            </h3>

        </div>
        <div class="modal-body clearfix">
            <form name="form" ng-submit="form.$valid && ftSubmit(facility_type)" novalidate>
                <div class="col-sm-12 p0">
                    <div class="form-group clearfix form-group-custom">
                        <select chosen class="form-control" name="facility_type" id="facility_type" ng-model="facility_type"
                                ng-options="item as item.field_name for item in fFieldList"
                                required>
                            <option value="">--{{'Select Facility Field Type' | translate}}--</option>
                        </select>
                        <div ng-if="form.facility_type.$error.required && form.$submitted" class="error-message">
                            {{'This field is required'| translate}}
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 text-center mt10">
                    <button class="blue-btn"
                            n-t='{"e_n":"Save Add facility Terms And Condition Admin","e_d":"{{facilityInfo.facility_name}} - {{field.field_name}}", "form": "{{form.$valid}}"}'>
                        {{'Create' | translate}}
                    </button>
                    <button class="light-btn" ng-click="cancel()" type="button"
                            n-t='{"e_n":"Cancel Add facility Terms And Condition Admin","e_d":"{{facilityInfo.facility_name}} - {{field.field_name}}"}'>
                        {{'Cancel' | translate}}
                    </button>
                </div>
            </form>

        </div>
    </div>
</script>