<h3 class="fixed content-heading">Uploads {{pageTitle}}</h3>

<div class="content-area " id="contentArea"><!--animated fadeInRight -->

    <div class="content-container p20 clearfix light-blue-bg">

        <div class="col-sm-12 white-bg clearboth p10">
            <div class="right-modal clearfix modal-custom">
                <h3 class="darkcolor bold">
                    {{pageTitle | capitalize   }} Upload
                </h3>
                <form class="form-bordered"  name="uploadFinancialInfo" ng-submit="submitUpload()" novalidate>
                    <div class="row clearfix">
                        <div class="col-sm-12 mt15 mb20 clearfix">
                            <div class="col-sm-4">
                                <label class=" col-sm-2 pl0 mt5 control-label text-right">File*</label>
                                <div class="col-sm-10 p0 form-group clearfix form-group-custom mb5">
                                    <input type="file" name="financeExcel" class="f14 form-control" ngf-select="uploadFinancialExcel($file)" required />
                                    <div ng-show="isExcel" class="has-error" style="color: red;font-size: 12px;">Choose a file.</div>
                                </div>
                            </div>
                            <div class="col-sm-1 clearfix p0">
                                <div class="col-sm-12 btn-custom clearfix text-left p0 mt0 mb0 pt2" >
                                    <button class="btn btn-primary btn-dark f12"
                                        n-t='{"e_n":"Upload File {{pageTitle}} Admin","e_d":"{{uploadFile.name}}"}'>Upload</button>
                                </div>
                            </div>
                            <div class="col-sm-7 pt5 text-right clearfix">
                                    <a target="_blank" class="f14 sky-blue"
                                       n-t='{"e_n":"Download File {{pageTitle}} Admin","e_d":"../rest/templates/{{upload_type}}.xls"}'
                                       href="../rest/templates/{{upload_type}}.xls"><i class="fa fa-download mr4"></i> Download Sample</a>
                            </div>

                        </div>
                    </div>
                </form>
            </div>
            <div class="table-al" ng-if="statementData.length != 0">
                <table class="table table-striped table-bordered table-hover display table-style">
                    <thead>
                    <tr ng-repeat="(key, value) in statementData" ng-if="$first" >
                        <th class="f13 md-word-break" ng-repeat="(chKey, chValue) in value" >{{ chKey | underscoreless }}</th>
                    </tr>
                    </thead>
                    <tbody >
                    <tr ng-repeat="(key, value) in statementData" >
                        <td class="f12" ng-repeat="(cKey, cValue) in value" >
                            <span data-ng-if="cValue != null || cValue != '' " >
                                <span data-ng-if="checkNumber(cValue)">{{ cValue | currency:'' }}</span>
                                <span data-ng-if="!checkNumber(cValue)">{{ cValue }}</span>
                            </span>
                            <span ng-if="cValue == null || cValue == '' " > &nbsp;</span>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class="table-sub">
                    <div class="col-sm-12 text-center pt10">
                        <button type="submit" class="btn btn-primary btn-dark f12 border-none ng-binding" ng-click="submitRecords(statementData)"  >
                            Save & Continue
                        </button>
                        <button type="button" class="btn btn-primary lt-bg f12 border-none ng-binding" ng-click="cancel()" >
                            Cancel
                        </button>
                    </div>
                </div>
            </div>


            <div class="table-al" ng-if="statementValidData.length != 0">
                <h3 class="darkcolor pb2 f15">{{pageTitle| capitalize }}'s already exists</h3>
                <table class="table table-striped table-bordered table-hover display table-style">
                    <thead>
                    <tr ng-repeat="(key, value) in statementValidData" ng-if="$first" >
                        <th class="f13 md-word-break" ng-repeat="(chKey, chValue) in value" >{{ chKey | underscoreless }}</th>
                    </tr>
                    </thead>
                    <tbody >
                    <tr ng-repeat="(key, value) in statementValidData" >
                        <td class="f12" ng-repeat="(cKey, cValue) in value" >
                            <div ng-if="$last">
                                <input type="checkbox" ng-model="value.STATUS" >
                            </div>
                            <div ng-if="!$last">
                                <span ng-if="cValue != null || cValue != '' " >
                                    <span data-ng-if="checkNumber(cValue)">{{ cValue | currency:'' }}</span>
                                    <span data-ng-if="!checkNumber(cValue)">{{ cValue }}</span>
                                </span>
                                <span ng-if="cValue == null || cValue == '' " > &nbsp;</span>
                            </div>

                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class="table-sub">
                    <div class="col-sm-12 text-center pt10">
                        <button type="submit" class="btn btn-primary btn-dark f12 border-none ng-binding" ng-click="submitValidRecords(statementValidData)"  >
                            Save & Continue
                        </button>
                        <button type="button" class="btn btn-primary lt-bg f12 border-none ng-binding" ng-click="cancel()" >
                            Cancel
                        </button>
                    </div>
                </div>
            </div>


        </div>
        <!--width1024-->


    </div>
</div>