    <div class="col-lg-12 clearfix">
        <h3 class="f14 bold darkcolor text-capitalize mtb10">Currency Historical Rates</h3>
            <div class="col-sm-12 p0">
                <div class="col-sm-3 pl0">
                    <div class="form-group clearfix form-group-custom mb10">
                        <label>Primary Currency</label>
                        <select class="form-control">
                            <option value="">--Select--</option>
                            <option value="dollar" class="">Dollar</option>
                            <option value="Rupees" class="">Rupees</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group clearfix form-group-custom">
                        <label>From</label>
                        <div class="input-group">
                            <input type="text" class="form-control white-bg" min-date="minDate" uib-datepicker-popup
                                   data-ng-model="postField.reminder_date" type="text" name="when" is-open="openCal"
                                   show-weeks="false" show-button-bar="false" readonly required/>
                          <span class="input-group-btn ">
                            <button type="button" class="btn btn-default border" ng-click="openCal = true">
                                <i class="fa fa-calendar"></i></button>
                          </span>
                        </div>
                        <div ng-if="form.reminder_date.$error.required && submitStatus" class="error-message">Select Date &
                            Time.
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="form-group clearfix form-group-custom">
                        <label>To</label>
                        <div class="input-group">
                            <input type="text" class="form-control white-bg" min-date="minDate" uib-datepicker-popup
                                   data-ng-model="postField.reminder_date" type="text" name="when" is-open="openCal"
                                   show-weeks="false" show-button-bar="false" readonly required/>
                          <span class="input-group-btn ">
                            <button type="button" class="btn btn-default border" ng-click="openCal = true">
                                <i class="fa fa-calendar"></i></button>
                          </span>
                        </div>
                        <div ng-if="form.reminder_date.$error.required && submitStatus" class="error-message">Select Date &
                            Time.
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 pl0">
                    <div class="form-group clearfix form-group-custom mb10">
                        <label>Frequency</label>
                        <select class="form-control">
                            <option value="">--Select--</option>
                            <option value="dollar" class="">Daily</option>
                            <option value="Rupees" class="">Weekly</option>
                        </select>
                    </div>
                </div>
            </div>
        <h3 class="f14 bold darkcolor text-capitalize mtb10">Currency Historical Rates</h3>
        <div class="col-sm-12 p0 border-bottom clearfix">
            <div class="col-sm-12 pl0">
                <div class="form-group clearfix form-group-custom mb10">
                    <label class="display-block">Operating Currency</label>
                    <div class="currency-select-listwrap">
                        <span class="currency-select-label">INR</span>
                        <select class="form-control currency-select-list">
                            <option value="">66.4870</option>
                        </select>
                        <span class="currency-select-list-close"><i class="icon-times"></i></span>
                    </div>
                    <div class="currency-select-listwrap">
                        <span class="currency-select-label">EUR</span>
                        <select class="form-control currency-select-list">
                            <option value="">66.4870</option>
                        </select>
                        <span class="currency-select-list-close"><i class="icon-times"></i></span>
                    </div>
                    <div class="currency-select-listwrap">
                        <span class="currency-select-label">GBP</span>
                        <select class="form-control currency-select-list">
                            <option value="">66.4870</option>
                        </select>
                        <span class="currency-select-list-close"><i class="icon-times"></i></span>
                    </div>
                    <div class="currency-select-listwrap">
                        <span class="icon-plus"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="clearfix col-sm-12 p0 pt20">
                <uib-tabset active="activePill" vertical="true" type="pills" class="custom-currency-tabs">
                    <a class="pull-right btn btn-primary btn-dark">Download <i class="icon-angle-down"></i></a>
                    <span>date</span>
                    <uib-tab index="0">
                        <uib-tab-heading>
                            <i class="icon-graph2 cur-icon-tabbtn"></i>
                        </uib-tab-heading>
                        <div class="">
                            <img width="100%" src="images/cur-graph.jpg"/>
                        </div>
                    </uib-tab>
                    <uib-tab index="1">
                        <uib-tab-heading>
                            <i class="icon-list-ul cur-icon-tabbtn"></i>
                        </uib-tab-heading>
                        <div class="table-wrapper no-bg p0 overflow-hidden">
                            <table class="table-list-view table table-striped row-pointer ">
                                <thead>
                                <tr>
                                    <th><a href="javascript:;" style="width:15%;"><i class="fa fa-caret-up f24"></i></a><a style="width:15%;"><i class="fa fa-caret-down f24"></i></a></th>
                                    <th>INR</th>
                                    <th>EUR</th>
                                    <th>ZAR</th>
                                    <th>GBP</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>Jun 30, 2016</td>
                                    <td>0.900471</td>
                                    <td>67.4514</td>
                                    <td>14.7737</td>
                                    <td>0.746636</td>
                                </tr>
                                <tr>
                                    <td>Jun 30, 2016</td>
                                    <td>0.900471</td>
                                    <td>67.4514</td>
                                    <td>14.7737</td>
                                    <td>0.746636</td>
                                </tr>
                                <tr>
                                    <td>Jun 30, 2016</td>
                                    <td>0.900471</td>
                                    <td>67.4514</td>
                                    <td>14.7737</td>
                                    <td>0.746636</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </uib-tab>
                    <uib-tab index="2">
                        <uib-tab-heading>
                            <i class="icon-process cur-icon-tabbtn"></i>
                        </uib-tab-heading>
                        <div class="table-wrapper no-bg p0 overflow-hidden">
                            <table class="table-list-view table table-striped row-pointer ">
                                <thead>
                                <tr>

                                    <th></th>
                                    <th>INR</th>
                                    <th>EUR</th>
                                    <th>ZAR</th>
                                    <th>GBP</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr class="cur-dualline">
                                    <td><div class="text-center cur-label">USD</div>
                                        <div><span>1 USD</span><span>Inverse</span></div>
                                    </td>
                                    <td>
                                        <span>67.4126</span><span>0.01283</span>
                                    </td>
                                    <td>
                                        <span>67.4126</span><span>0.01283</span>
                                    </td>
                                    <td>
                                        <span>67.4126</span><span>0.01283</span>
                                    </td>
                                    <td>
                                       <span>67.4126</span><span>0.01283</span>
                                    </td>
                                </tr>
                                <tr class="cur-dualline">
                                    <td><div class="text-center cur-label">USD</div>
                                        <div><span>1 USD</span><span>Inverse</span></div>
                                    </td>
                                    <td>
                                        <span>67.4126</span><span>0.01283</span>
                                    </td>
                                    <td>
                                        <span>67.4126</span><span>0.01283</span>
                                    </td>
                                    <td>
                                        <span>67.4126</span><span>0.01283</span>
                                    </td>
                                    <td>
                                        <span>67.4126</span><span>0.01283</span>
                                    </td>
                                </tr>
                                <tr class="cur-dualline">
                                    <td><div class="text-center cur-label">USD</div>
                                        <div><span>1 USD</span><span>Inverse</span></div>
                                    </td>
                                    <td>
                                        <span>67.4126</span><span>0.01283</span>
                                    </td>
                                    <td>
                                        <span>67.4126</span><span>0.01283</span>
                                    </td>
                                    <td>
                                        <span>67.4126</span><span>0.01283</span>
                                    </td>
                                    <td>
                                        <span>67.4126</span><span>0.01283</span>
                                    </td>
                                </tr>


                                </tbody>
                            </table>
                        </div>
                    </uib-tab>

                </uib-tabset>
        </div>
    </div>


