<div class="col-lg-12 clearfix" ng-init="init()">
<div class="col-lg-12 clearfix" ng-init="init()">
    <div class="pull-right mtb10" ng-show="currencySelectedList.length>0">
        <button type="button" class="btn btn-dark f12 white-color  text-capitalize border-none mr4"
                ng-click="showOperatingCurrency =! showOperatingCurrency; modalActionText=showOperatingCurrency?'open':'closed'; reset(form);"
                n-t='{"e_n":"Add Exchange Rate Admin","e_d":"{{modalActionText}}"}'>
            <i uib-tooltip="Add New Operating Currency" class="icon-plus-circle mr4 f14 valign-middle"></i>
            {{'Add New Exchange Rate' | translate}}
        </button>
    </div>
    <h3 class="f14 bold darkcolor text-capitalize mtb10">{{'Currency Historical Rates' | translate}}</h3>

    <div class="col-sm-12 p10 darkblue-bg" ng-show="showOperatingCurrency">
        <h3 class="f14 bold darkcolor text-capitalize mtb10">Add Exchange Rates (1 {{companyInfo.currency_code}})
        </h3>
        <form name="form" novalidate ng-submit="form.$valid && addCurrecyValue(currencySelectedList)">
            <div class="form-group clearfix form-group-custom mb10">

                <div class="currency-select-listwrap" ng-repeat="currency in currencySelectedList">
                    <span class="currency-select-label">{{currency.currency_code}}</span>
                    <input ng-model="currencySelectedList[$index].currency_value_new" type="number" min="0"
                           class="form-control currency-select-list" required/>
                    <div ng-if="currencySelectedList[$index].currency_value_new == null && form.$submitted"
                         class="error-message">
                        Enter currency value.
                    </div>
                    <!--<span class="currency-select-list-close"><i class="icon-times"></i></span>-->
                </div>

                <div class="currency-select-listwrap pt5">
                    <button class="btn btn-dark f12 white-color  text-capitalize border-none mr4"
                            n-t='{"e_n":"Save Exchange Rate Admin","e_d":""}'
                            type="submit"><i class="icon-plus-circle mr4 f14 valign-middle"></i>{{'Add' |
                        translate}}
                    </button>
                </div>
            </div>
        </form>
    </div>


    <div class="col-lg-12 clearfix alert alert-info" ng-if="currencyList.length==0 && !httpLoding">
        {{'No Data Found' | translate}}
    </div>

    <div class="col-sm-12 p0">
        <button ng-click="filterSearchShow =! filterSearchShow" uib-tooltip="Filters" class="pull-right f12 btn btn-primary btn-dark ml5">
            <i class="fa fa-filter"></i></button>
        <button ng-click="exportToExcel('#currency_table','currency')" class="pull-right f12 btn btn-primary btn-dark"
            n-t='{"e_n":"Download Excel Exchange Rate Admin","e_d":""}'>
            {{'Download' | translate}} <i class="fa fa-download"></i></button>
        <div class="col-sm-12 p10 darkblue-bg" ng-show="filterSearchShow">
            <form name="s_form" novalidate ng-submit="s_form.$valid && filterSearch(search)">
                <!-- <div class="col-sm-2 pl0">
                     <div class="form-group clearfix form-group-custom mb10">
                         <label>Primary Currency</label>
                         <select class="form-control">
                             <option value="">&#45;&#45;Select&#45;&#45;</option>
                             <option value="dollar" class="">Dollar</option>
                             <option value="Rupees" class="">Rupees</option>
                         </select>
                     </div>
                 </div>-->
                <div class="col-sm-3 p0">
                    <div class="form-group clearfix form-group-custom">
                        <label>From</label>
                        <div class="input-group">
                            <input type="text" class="form-control white-bg" max-date="search.to_date"
                                   uib-datepicker-popup
                                   data-ng-model="search.from_date" name="from_date" is-open="openCal"
                                   show-weeks="false" show-button-bar="false" readonly required/>
                          <span class="input-group-btn ">
                            <button type="button" class="btn btn-default border" ng-click="openCal = true">
                                <i class="fa fa-calendar"></i></button>
                          </span>
                        </div>
                        <div ng-show="s_form.from_date.$invalid && s_form.$submitted" class="error-message">Select Date
                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="form-group clearfix form-group-custom">
                        <label>To</label>
                        <div class="input-group">
                            <input type="text" class="form-control white-bg" min-date="search.from_date"
                                   uib-datepicker-popup
                                   data-ng-model="search.to_date" type="text" name="to_date" is-open="openCal2"
                                   show-weeks="false" show-button-bar="false" readonly required/>
                          <span class="input-group-btn ">
                            <button type="button" class="btn btn-default border" ng-click="openCal2 = true">
                                <i class="fa fa-calendar"></i></button>
                          </span>
                        </div>
                        <div ng-show="s_form.to_date.$invalid && s_form.$submitted" class="error-message">Select Date
                        </div>
                    </div>
                </div>
                <!--        <div class="col-sm-2 pl0">
                            <div class="form-group clearfix form-group-custom mb10">
                                <label>Frequency</label>
                                <select class="form-control">
                                    <option value="">&#45;&#45;Select&#45;&#45;</option>
                                    <option value="dollar" class="">Daily</option>
                                    <option value="Rupees" class="">Weekly</option>
                                </select>
                            </div>
                        </div>-->
                <div class="col-sm-2 mt25">
                    <button class="btn btn-dark f12 white-color  text-capitalize border-none mr4"
                            type="submit"><i class="icon-search mr4 f14 valign-middle"></i>{{'Search'
                        | translate}}
                    </button>
                </div>
            </form>
        </div>
    </div>
    <div class="col-sm-12 p0 pt10" ng-show="currencyList.length>0">

        <uib-tabset active="activePill" vertical="true" type="pills" class="custom-currency-tabs">
            <uib-tab index="0">
                <uib-tab-heading>
                    <i class="icon-graph2 cur-icon-tabbtn"></i>
                </uib-tab-heading>
                <div class="white-bg p10">
                    <div google-chart chart="chartObject"></div>
                </div>
            </uib-tab>
            <uib-tab index="1">
                <uib-tab-heading>
                    <i class="icon-list-ul cur-icon-tabbtn"></i>
                </uib-tab-heading>
                <div class="table-wrapper no-bg p0 overflow-hidden">

                    <table id="currency_table" class="table-list-view table table-striped row-pointer ">
                        <thead>
                        <tr>
                            <th ng-repeat="(key, value)  in currencyList[0]">
                                {{key}}
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="cur-dualline" ng-repeat="currency in currencyList">
                            <td ng-repeat="(key, value) in currency">
                                <any ng-if="key=='Date'">
                                    <div class="text-center cur-label">{{companyInfo.currency_code}}({{value}})</div>
                                    <div><span>1 {{companyInfo.currency_code}}</span><span>Inverse</span></div>
                                </any>
                                <any ng-if="key!='Date'">
                                    <span>{{value | currency:'':4}}</span><span>{{(1/value) | currency:'':5 }}</span>
                                </any>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </uib-tab>
        </uib-tabset>
    </div>
</div>









