<div class="col-lg-12 clearfix">
    <h3 class="f14 bold darkcolor text-capitalize mtb10">{{'Operating Currency' | translate}}</h3>
    <div class="col-sm-12 p0">

        <div class="currency-operator-box" data-ng-repeat="currency in currencyList | orderBy:'is_primary':true">
            <any ng-if="currency.is_primary==1">
                <div class="currency-check">
                    {{currency.currency_code}}
                </div>
                <div class="flag-wrap"><span><img ng-src="{{currency.country_flag}}"/> </span><span><i
                        class="fa fa-{{currency.currency_code | lowercase}}"></i></span></div>
                <!--<div class="cur-val">{{currency.company_currency_value | currency:''}}</div>-->
                <div class="primary-cuurency-check">
                    <input type="radio" name="primary" value="1" checked readonly id="gbpPrimary">
                    <lable for="gbpPrimary">Primary Currency</lable>
                </div>
            </any>
            <any ng-if="currency.is_primary!=1">
                <div class="currency-check">
                    <input  id="checkbox_{{$index}}" type="checkbox"
                           ng-model="currency.checkStatus"/>{{currency.currency_code}}
                </div>
                <div class="flag-wrap"><span><img ng-src="{{currency.country_flag}}"/> </span><span><i
                        class="fa fa-{{currency.currency_code | lowercase}}"></i></span></div>
                <div class="cur-val">{{currency.company_currency_value | currency:''}}</div>
               <!-- <div class="primary-cuurency-check">
                    <input type="hidden" name="primary" value="1" checked readonly id="gbpPrimary">
                    <lable for="gbpPrimary">&nbsp;</lable>
                </div>-->
            </any>
        </div>
    </div>
    <div class=" clearfix col-sm-12 pt10 text-center" ng-show="currencyList.length>0">
        <button class="f13 btn btn-dark white-color" ng-click="updateSelected(currencyList)" n-t='{"e_n":"Update Operating Currency Admin","e_d":""}'>{{'Update' | translate}}
        </button>
    </div>
</div>





