    <div class="col-lg-12 clearfix">
        <h3 class="f14 bold darkcolor text-capitalize mtb10">Operating Currency</h3>
        <div class="col-sm-12 p0">
            <div class="currency-operator-box">
                <div class="currency-check"><input type="checkbox" id="one">GBP</div>
                <div class="flag-wrap"><span><img src="images/flags/GB-flag.jpg"/> </span><span><i class="fa fa-gbp"></i></span></div>
                <div class="cur-val">15.2719</div>
                <div class="primary-cuurency-check"><input type="checkbox" id="gbpPrimary"><lable for="gbpPrimary">Primary Currency</lable></div>
            </div>
            <div class="currency-operator-box">
                <div class="currency-check"><input type="checkbox" id="one">EUR</div>
                <div class="flag-wrap"><span><img src="images/flags/EUR-flag.jpg"/> </span><span><i class="fa fa-eur"></i></span></div>
                <div class="cur-val">15.2719</div>
                <div class="primary-cuurency-check"><input type="checkbox" id="two">Primary Currency</Currency></div>
            </div>

            <div class="currency-operator-box">
                <div class="currency-check"><input type="checkbox" id="one">INR</div>
                <div class="flag-wrap"><span><img src="images/flags/IND-flag.jpg"/> </span><span><i class="fa fa-inr"></i></span></div>
                <div class="cur-val">15.2719</div>
                <div class="primary-cuurency-check"><input type="checkbox" id="two">Primary Currency</Currency></div>
            </div>
            <div class="currency-operator-box">
                <div class="currency-check"><input type="checkbox" id="one">USD</div>
                <div class="flag-wrap"><span><img src="images/flags/US-flag.jpg"/> </span><span><i class="fa fa-usd"></i></span></div>
                <div class="cur-val">15.2719</div>
                <div class="primary-cuurency-check"><input type="checkbox" id="two">Primary Currency</Currency></div>
            </div>
            <div class="currency-operator-box">
                <div class="currency-check"><input type="checkbox" id="one">ZAR</div>
                <div class="flag-wrap"><span><img src="images/flags/ZAR-flag.jpg"/> </span><span><i class="fa fa-gbp f24"></i></span></div>
                <div class="cur-val">15.2719</div>
                <div class="primary-cuurency-check"><input type="checkbox" id="two">Primary Currency</Currency></div>
            </div></div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary btn-dark f12 border-none">Save</button>
                <button type="button" class="btn btn-primary lt-bg f12 border-none">Cancel</button>
            </div>
    </div>


