    <div class="col-lg-12 clearfix white-bg">
        <div class="col-sm-4 p0">
            <label class="control-label">{{'Currency' | translate}} *</label>
            <div class="form-group clearfix form-group-custom">
                <select class="form-control" ng-options="c.id_currency as c.currency_code for c in currencyList"
                        ng-model="companyInfo.currency_id">

                </select>
            </div>
        </div>
        <div class="col-sm-4 p0 pt20 mt5">
            <button class="blue-btn ml15" ng-click="updateCurrency(companyInfo.currency_id)">{{'Update' | translate}}</button>
        </div>
    </div>


