<h3 class="fixed content-heading">{{'Users' | translate}}
    <ul class="pull-right icons-right">

        <!--  <li><a ui-sref="app.org-structure-view" ng-click="open()" uib-tooltip="Upload"><i
                  class="fa fa-cloud-upload"></i></a></li>
        <li>
            <a ui-sref="org.org-structure-view" active-link="heading-active" uib-tooltip="Structure"><i
                class="fa fa-sitemap"></i></a></li>
        <li>
            <a ui-sref="org.org-structure" active-link="heading-active" uib-tooltip="List"><i class="fa fa-server "></i></a>
        </li>-->
        <li ng-class="{'heading-active':list_view==true}">
            <a href="javascript:;" ng-click="list_view=true;tree_view=false;" uib-tooltip="List"
               n-t='{"e_n":"Admin User List","e_d":""}'><i class="fa fa-server "></i></a>
        </li>
        <li ng-class="{'heading-active':tree_view==true}">
            <a href="javascript:;" ng-click="list_view=false;tree_view=true;" uib-tooltip="Structure"
               n-t='{"e_n":"Admin User Page Structure","e_d":""}'><i
                    class="fa fa-sitemap"></i></a>
        </li>

    </ul>
</h3>

<div id="contentArea" class="content-area animated fadeInRight">

    <div class="content-container clearfix light-blue-bg pl20 pr10 pb28" ng-init="list_view=true">

        <div class="col-sm-12 mt20 p0" ng-show="list_view">
            <!--<div class="col-lg-12 p0 mb5">
                <button uib-tooltip="Add User" class="btn btn-lt-blue pull-right f12" ng-click="createUser()"
                        n-t='{"e_n":"Admin User Page Structure","e_d":""}'>
                    <i class="fa fa-plus"></i> Add User
                </button>
            </div>-->
            <!--<table st-table"userList" class="table s-table table-striped table-bordered table-hover display table-style">-->
            <div class="col-lg-12 p0">
                <div class="col-sm-8 p0">
                    <form name="userSearch" novalidate ng-submit="userSearch.$valid && searchUserResult(userSearch,s)">
                        <div class="col-sm-6 p0">
                            <div class="form-group clearfix form-group-custom text-left">
                                <label>{{'Last Login date' | translate}}  :</label>
                                <div class="input-group">
                                    <input type="text" class="form-control white-bg"
                                           uib-datepicker-popup="dd-MM-yyyy"
                                           max-date="maxDate"
                                           required
                                           data-ng-model="s.logdate" name="logdate" is-open="openCal1"
                                           ng-click="openCal1 = true"
                                           show-weeks="false" show-button-bar="false" required/>
                                                <span class="input-group-btn">
                                                    <button type="button" class="btn btn-default border" ng-click="openCal1 = true">
                                                        <i class="fa fa-calendar mt0"></i>
                                                    </button>
                                                </span>
                                </div>
                                <span ng-if="userSearch.$submitted && userSearch.logdate.$error.required" ng-class="error-message">Field is required</span>
                            </div>
                        </div>
                        <div class="col-sm-2 p0 text-left mt25 pl10">
                            <button type="submit" class="btn btn-dark f12">Search</button>
                        </div>
                    </form>
                </div>
                <div class="col-sm-4 p0">
                    <div class="pull-right p0 pt2 mt20">
                        <button uib-tooltip="Add User" class="btn btn-lt-blue f12" ng-click="createUser()"
                                n-t='{"e_n":"Admin User Page Structure","e_d":""}'>
                            <i class="fa fa-plus mt0"></i> Add User
                        </button>
                    </div>
                </div>
            </div>
            <table st-table="userList" ng-if="userList.length>0" class="table s-table table-striped table-bordered table-hover display table-style">
                <thead>
                <tr>
                    <td colspan="7" class="pad0">
                        <div class="action-head">
                            <div class="table-search pull-left mt20">
                                <input type="text" class="form-control" placeholder="Search" st-search="">
                                <i class="fa icon-search"></i>
                            </div>
                            <!--<form name="userSearch">
                                <div class="col-sm-3">
                                    <div class="form-group clearfix form-group-custom text-left">
                                        <label>{{'Last Login date' | translate}}  :</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control white-bg"
                                                   uib-datepicker-popup="dd-MM-yyyy"
                                                   max-date="maxDate"
                                                   required
                                                   data-ng-model="s.logdate" name="logdate" is-open="openCal1"
                                                   ng-click="openCal1 = true"
                                                   show-weeks="false" show-button-bar="false" required/>
                                                <span class="input-group-btn">
                                                    <button type="button" class="btn btn-default border" ng-click="openCal1 = true">
                                                        <i class="fa fa-calendar mt0"></i>
                                                    </button>
                                                </span>
                                        </div>
                                        <span ng-if="userSearch.$submitted && userSearch.logdate.$error.required">Field is required</span>
                                    </div>
                                </div>
                                <div class="col-sm-2 p0 pt20 text-left mt3">
                                    <button class="btn btn-dark f12">Search</button>
                                </div>
                            </form>
                            <div class="col-lg-2 p0 mb5 mt15">
                                <button uib-tooltip="Add User" class="btn btn-lt-blue pull-right f12" ng-click="createUser()"
                                        n-t='{"e_n":"Admin User Page Structure","e_d":""}'>
                                    <i class="fa fa-plus"></i> Add User
                                </button>
                            </div>-->
                        </div>

                    </td>
                </tr>
                <tr>
                    <!--<th></th>-->
                    <th st-sort="first_name" style="width:18%;">Name</th>
                    <th st-sort="email_id" style="width:10%;">Email</th>
                    <th st-sort="phone_number" style="width:10%;">Phone Number</th>
                    <th st-sort="role_name" style="width:10%;">Role</th>
                    <!--<th st-sort="branch_name">Branch</th>-->
                    <th st-sort="last_login" style="width:15%;">Last Login</th>
                    <th st-sort="status" style="width:7%;">Status</th>
                    <th style="width:10%;">Actions</th>
                <tr>
                </thead>
                <tbody >
                <tr ng-repeat="row in userList">
                    <!--<td></td>-->
                    <td style="width:18%; text-align: left;">{{row.first_name}} {{row.last_name}}</td>
                    <td style="width:10%;">{{row.email_id}}</td>
                    <td style="width:10%;">{{row.phone_number}}</td>
                    <td style="width:10%;" >
                        <span style="width:175px !important;" class="text-line display-block">{{row.role_name}}</span>
                    </td>
                    <!--<td>{{row.branch_name}}</td>-->
                    <td style="width:15%;">
                        <!--<span class="text-line display-block" style="width: 150px !important;" ng-if="row.last_login">{{row.last_login | dateToISO | date:'medium'}}</span>-->
                        <span class="text-line display-block" style="width: 150px !important;" ng-if="row.last_login">{{row.last_login | utcToLocal | date:'medium'}}</span>
                        <span class="text-line display-block" style="width: 150px !important;" ng-if="!row.last_login"></span>
                    </td>
                    <td style="width:7%;">{{row.status}}</td>
                    <td style="width:10%;">
                        <ul class="icons-wrap" style="width:100px !important;">

                            <li>
                                <a href="javascript:;" ng-click="editCompanyUser(row.id_user)" class="fa fa-edit"
                                   uib-tooltip="Edit"
                                   n-t='{"e_n":"Admin User Edit","e_d":"{{row.first_name}} {{row.last_name}}"}'></a>
                            </li>
                            <li>
                                <a href="javascript:;" ng-click="userViewModal(row.id_user)" class="fa fa-eye"
                                   uib-tooltip="View"
                                   n-t='{"e_n":"Admin User View","e_d":"{{row.first_name}} {{row.last_name}}"}'></a>
                            </li>
                            <li>
                                <a href="javascript:;" class="fa fa-history "
                                   uib-tooltip="History"
                                   ui-sref="org.user-history({ id: row.user_id})"
                                   n-t='{"e_n":"Admin User History","e_d":"{{row.first_name}} {{row.last_name}}"}'></a>
                            </li>
                        </ul>
                    </td>
                </tr>
                <!--<tr ng-if="userList.length<=0" class="text-center"><td colspan="9">No User found</td></tr>-->
                </tbody>
            </table>
        </div>
        <div class="col-sm-12" ng-show="tree_view">
           <!-- <div class="col-sm-12 mt20 p0">
                <div class="col-sm-8 col-lg-6 p0" data-ng-if="orgRoleTree.length > 0">
                    <label class="f14 col-sm-3 col-lg-3 p0 mt5 darkcolor">{{'Select Organisation' |
                        translate}}: </label>
                    <div class="col-sm-6 col-lg-4 p0">
                        <select ng-change="roleChange(reporting_user_id)" chosen class="chosen-select form-control"
                                ng-model="reporting_user_id"
                                ng-options="role.user_id as role.first_name+' '+role.last_name+' ('+role.legal_name+')' for role in orgRoleTree">
                            <option value="">-&#45;&#45;{{'ALL' | translate}}-&#45;&#45;</option>
                        </select>
                    </div>

                </div>

            </div>
            <div class="clearfix"></div>
            <div class="clearfix mt15">
                <div class="legend-view">
                    <ul>
                        <li ng-repeat="item in roleTypes">
                            <span class="box-color" bk-color="{{item.id_approval_role}}"></span>
                            <lable class="box-info">{{item.approval_name}}</lable>
                        </li>
                    </ul>
                </div>
            </div>-->
            <div ng-if="createNewBtn">
                <a class="btn btn-primary btn-dark f12" ui-sref="org.create-user" uib-tooltip="Add"
                   n-t='{"e_n":"Admin User - Create User","e_d":""}'>
                    {{'Create New user' | translate}}
                </a>
            </div>
            <div class="tree clearfix horizontal-div-for-scroll custom-width-new" cols-horizontal>
                <ul class="clearfix main-str" ng-if="orgTreeShow">
                    <li ng-repeat="data in orgRoleTreeStructure" ng-include="'tree_item_renderer.html'"></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<script type="text/ng-template" id="tree_item_renderer.html">

    <div class="node org-node" bk-color="{{data.id_approval_role}}">
        <p>{{data.first_name}} {{data.last_name}}</p>

        <p>{{data.approval_name}}</p>
        <p>{{data.legal_name}}</p>

        <div class="control-wrap mt10">
            <ul class="clearfix">
                <li ng-click="editCompanyUser(data.user_id)" uib-tooltip="Edit"
                    n-t='{"e_n":"Admin User - Edit","e_d":"{{data.approval_name}} - {{data.legal_name}}"}'>
                    <span><i class="fa fa-pencil white-color"></i></span>
                </li>
                <li ng-click="createUser(data.id_approval_role)" uib-tooltip="Add"
                    n-t='{"e_n":"Admin User Create","e_d":"{{data.approval_name}} - {{data.legal_name}}"}'>
                    <span><i class="fa fa-plus-circle white-color"></i></span>
                </li>
                <li ng-click="userViewModal(data.user_id)" uib-tooltip="View"
                    n-t='{"e_n":"Admin User - View","e_d":"{{data.approval_name}} - {{data.legal_name}}"}'>
                    <span><i class="fa fa-eye white-color"></i></span>
                </li>
            </ul>
        </div>
    </div>


    <ul class="clearfix" ng-if="data.nodes.length > 0">
        <li ng-repeat="data in data.nodes" ng-include="'tree_item_renderer.html'"></li>
    </ul>


</script>


