<h3 class="fixed content-heading">{{'User History' | translate}}
    <div class="pull-right button-set">
        <a ui-sref="org.org-structure-view" uib-tooltip="Close" n-t='{"e_n":"Close User History","e_d":""}'><i
                class="fa fa-close-sm"></i></a>
    </div>
</h3>

<div class="content-area " id="contentArea"><!--animated fadeInRight -->
    <div class="content-container p20 clearfix light-blue-bg">
        <div class="col-sm-12 plr20">
            <div class="table-wrapper">
                <div class="col-sm-8 p0">
                    <p>User - <b>{{userDetail.first_name}} {{userDetail.last_name}} ( {{userDetail.email_id}} )</b>
                        <button type="button" ui-sref="adm.access({ id: userDetail.id_user})" class="btn btn-sm btn-primary"
                                 n-t='{"e_n":"User Access logs","e_d":"{{userDetail.first_name}} {{userDetail.last_name}}"}'>View Access Logs</button>
                    </p>
                    <p>Last Login - <b>{{userDetail.last_login | utcToLocal | date:'datetime'}}</b></p>
                </div>
                <div class="col-sm-4 p0 pt20" >
                    <div class="col-sm-4 text-right">
                        <label class="f14 pt5" style="width: auto;">History</label>
                    </div>
                    <div class="col-sm-8 p0 form-group clearfix form-group-custom pull-right">
                        <select class="form-control" ng-init="searchText=='password_change'"
                                name="searchText"
                                ng-model="searchText"
                                ng-change="searchUserHistory(searchText)" >
                            <option value="password_change">Change Password</option>
                            <option value="security_question">Security Question</option>
                            <option value="failed_attempt">Failed Attempt</option>
                            <option value="login">Login</option>
                        </select>
                    </div>
                </div>
                <!--<h4 class="fixed content-heading">{{searchText}}</h4>-->
                <table  class="table s-table table-striped table-bordered table-hover display table-style" st-pipe="callServer" st-table="displayed" ng-if="masterOtherSelected != '' ">
                    <thead>
                    <tr>
                        <th class="" st-sort="client_remote_address" style="width: 100px;">IP Address</th><!--md-word-break-->
                        <th st-sort="client_browser">Browser</th>
                        <th ng-if="searchText=='security_question'" st-sort="client_browser">Security Question</th>
                        <th st-sort="created_on">Date</th>
                    </tr>
                    </thead>
                    <tbody ng-show="!isLoading">
                    <tr ng-if="userList.length>0" ng-repeat="row in userList">
                        <td style="text-align: left;">{{row.client_remote_address}}</td>
                        <td>{{row.client_browser}}</td>
                        <td ng-if="searchText=='security_question'" >{{row.child_name}}</td>
                        <td ng-if="searchText!='login'">{{row.created_on | utcToLocal}}</td>
                        <td ng-if="searchText=='login'">{{row.created_at | utcToLocal}}</td>
                    </tr>
                    </tbody>
                    <tbody data-ng-if="!isLoading && userList.length<=0">
                    <tr>
                        <td colspan="4" class="text-center">No data found</td>
                    </tr>
                    </tbody>
                    <tbody ng-show="isLoading">
                    <tr>
                        <td colspan="4" class="text-center">Loading ... </td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="6" class="text-center">
                            <div st-items-by-page="10" st-pagination="" st-template="partials/pagination.custom.html" class="pull-right"></div>
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
        <!--width1024-->
    </div>
</div>