<h3 class="fixed content-heading">{{'Reporting Structure' | translate}}
    <ul class="pull-right icons-right">
        <!-- <li><a ui-sref="org.org-structure-view" active-link="heading-active" uib-tooltip="Structure "><i
                 class="fa fa-sitemap "></i></a></li>
         <li><a ui-sref="org.org-structure" active-link="heading-active" uib-tooltip="List"><i
                 class="fa fa-server"></i></a></li>-->
        <li ng-class="{'heading-active':list_view==true}">
            <a href="javascript:;" ng-click="list_view=true;tree_view=false;"
               n-t='{"e_n":"Organisation Structure List View Admin","e_d":""}'
               uib-tooltip="List"><i class="fa fa-server "></i></a>
        </li>
        <li  ng-class="{'heading-active':tree_view==true}">
            <a href="javascript:;" ng-click="list_view=false;tree_view=true;"  uib-tooltip="Structure"
               n-t='{"e_n":"Organisation Structure Structure View Admin","e_d":""}'><i
                    class="fa fa-sitemap"></i></a>
        </li>
    </ul>
</h3>

<div id="contentArea" class="content-area animated fadeInRight">
    <div class="content-container clearfix light-blue-bg pl20 pr10 pb28" ng-init="list_view=true">
       <div class="clearfix col-sm-12 mt20 p0" ng-show="list_view">
            <div class="col-lg-12 p0 mb5">
                <button uib-tooltip="Add User" class="btn btn-lt-blue pull-right f12" ng-click="modalOpen()"
                        n-t='{"e_n":"Add Role Organisation Structure Admin","e_d":""}'>
                    <i class="fa fa-plus"></i> Add role
                </button>
            </div>
            <table st-table="tableList" ng-if="tableList.length>0" class="table s-table table-striped table-bordered table-hover display table-style">
                <thead>
                <tr>
                    <td colspan="7" class="pad0">
                        <div class="action-head">
                            <div class="table-search pull-left">
                                <input type="text" class="form-control" placeholder="Search" st-search="">
                                <i class="fa icon-search"></i>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th></th>
                    <th st-sort="branch_type_name">Branch Type</th>
                    <th st-sort="approval_name">Role Name</th>
                    <th st-sort="reporting_approval_name">Reporting to</th>
                    <th>Actions</th>
                <tr>
                </thead>
                <tbody>
                <tr ng-repeat="row in  tableList">
                    <td></td>
                    <td>{{row.branch_type_name}} </td>
                    <td>{{row.approval_name}}</td>
                    <td>{{row.reporting_approval_name}}</td>
                    <td>
                        <ul class="icons-wrap">
                            <li>
                                <a href="javascript:;" ng-click="modalOpen(row)" class="fa fa-edit"
                                   uib-tooltip="Edit"
                                   n-t='{"e_n":"Edit Role Organisation Structure Admin","e_d":"{{row.approval_name}}"}'></a>
                            </li>
                        </ul>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col-sm-12 mt20  pl0" ng-show="tree_view">

            <div class="tree clearfix horizontal-div-for-scroll custom-width-new" cols-horizontal>
                <ul class="clearfix main-str" ng-if="approvalTree">
                    <li ng-repeat="data in approvalTree" ng-include="'tree_item_renderer.html'"></li>
                </ul>
            </div>

        </div>

    </div>

</div>

<script type="text/ng-template" id="tree_item_renderer.html">

    <div class="node org-node" bk-color="{{data.id_approval_role}}">
        <p>{{data.approval_name}}</p>
        <p>{{data.branch_type_name}}</p>

        <div class="control-wrap mt10">
            <ul class="clearfix">
                <li ng-click="modalOpen(data)"
                    n-t='{"e_n":"Edit Role Organisation Structure Admin","e_d":"{{row.approval_name}}"}'>
                    <span><i class="fa fa-pencil white-color"></i></span>
                </li>
                <li ng-click="modalOpen()"
                    n-t='{"e_n":"View Role Organisation Structure Admin","e_d":"{{row.approval_name}}"}'>
                    <span><i class="fa fa-plus-circle white-color"></i></span>
                </li>

            </ul>
        </div>
    </div>


    <ul class="clearfix" ng-if="data.nodes.length > 0">
        <li ng-repeat="data in data.nodes" ng-include="'tree_item_renderer.html'"></li>
    </ul>


</script>


<script type="text/ng-template" id="tree_role_renderer.html">
    <span bk-color="{{data.id_approval_role}}">
            {{data.approval_name}}
        <p>({{data.branch_type_name}})</p>

                </span>
    <i ng-click="modalOpen(data)" class="fa fa-pencil f12 ash cursor-pointer"
       n-t='{"e_n":"Edit Role Organisation Structure Admin","e_d":""}'></i></span>
    <i ng-click="modalOpen()"
       n-t='{"e_n":"Add Role Organisation Structure Admin","e_d":""}'
       class="fa fa-plus f12 ash cursor-pointer"></i>
    <ul ng-if="data.nodes.length > 0" class="level">
        <li ng-repeat="data in data.nodes" ng-include="'tree_role_renderer.html'"
            ng-class="{'no-element':data.branch_type_id==undefined}"></li>
    </ul>

</script>


<script type="text/ng-template" id="approvalStructureForm.html">

    <div class="modal-wrap right-modal modal-custom">
        <div class="clearfix">
            <h3 class="right-modal-head">
                <i class="fa fa-pencil-square-o mr8"></i> {{'User role' | translate}}
                <a ng-click="cancel()" class="close-right pull-right" uib-tooltip="Close"
                   n-t='{"e_n":"Close Role Organisation Structure Admin","e_d":"{{row.approval_name}}"}'><img src="images/close.png"></a>
            </h3>

        </div>
        <div class="modal-body clearfix">
            <div class="col-sm-12">
                <h3 class="heading-icon mb5">General</h3>
            </div>
            <div class="col-sm-12">
                <label class="control-label">{{'Approval Role' | translate}}:*</label>
                <div class="form-group clearfix form-group-custom mb10">
                    <select ng-hide="editMode" ng-disabled="!editMode && sData.is_edit==0" name="id_approval_role"
                            class="form-control" ng-model="sData.id_approval_role" name="id_approval_role"
                            ng-options="role.id_approval_role as role.approval_name for role in roleList"
                            ng-disabled="sData.id_approval_role > 0">
                        <option value="" class="dark">--{{'Select Approval Role' | translate}}--</option>
                    </select>
                </div>
                <div class="form-group clearfix form-group-custom">
                    <div class="form-group clearfix form-group-custom" ng-if="editMode">
                        <input ng-model="sData.approval_name" name="approval_name" class="form-control  col-sm-12" type="text"/>
                    </div>
                </div>
            </div>

            <div class="col-sm-12" ng-if="editMode">
                <label class="control-label">{{'Description' | translate}}</label>
                <div class="form-group clearfix form-group-custom">
                    <input ng-model="sData.description" class="form-control  col-sm-12" name="description" type="text"/>
                </div>
            </div>

            <div class="clearfix" ng-if="sData.id_approval_role==null">

                <h1 class="text-center btn-circle">{{'Or' | translate}}</h1>

                <div class="col-sm-12">
                    <label class="control-label">{{'Add New Role Type' | translate}}</label>
                    <div class="form-group clearfix form-group-custom">
                        <input ng-model="sData.approval_name" class="form-control  col-sm-12" name="approval_name" type="text"/>
                    </div>
                </div>

                <div class="col-sm-12">
                    <label class="control-label">{{'Description' | translate}}</label>
                    <div class="form-group clearfix form-group-custom">
                        <input ng-model="sData.description" class="form-control  col-sm-12" name="description" type="text"/>
                    </div>
                </div>

            </div>
            <div class="col-sm-12">
                <h3 class="heading-icon mt10 mb5">Branch Type</h3>
            </div>

            <div class="col-sm-12">
                <div class="form-group clearfix form-group-custom mb10">
                    <label class="control-label">{{'Branch Type' | translate}}:</label>
                    <select name="branch_type_id" class="form-control" ng-model="sData.id_branch_type" name="id_branch_type"
                            ng-options="branch.id_branch_type as branch.branch_type_name for branch in branchList">
                        <option value="" class="dark">--{{'Select Branch Type' | translate}}--</option>
                    </select>
                </div>
            </div>
           <div class="col-sm-12">
                  <div class="form-group clearfix mb0 form-group-custom">
                      <input ng-model="sData.all_projects" ng-true-value="1" ng-false-value="0" type="checkbox" name="all_projects"/>
                      <label class="control-label">{{'Show all projects' | translate}}</label>
                  </div>
              </div>

            <div class="col-sm-12">
                <div class="form-group clearfix form-group-custom mb10">
                    <label class="control-label">{{'Reporting To' | translate}}:*</label>
                    <select name="reporting_role_id" class="form-control" ng-model="sData.reporting_id" name="reporting_id"
                            ng-options="role.id_approval_role as role.approval_name disable when role.id_approval_role==sData.id_approval_role for role in approvalList">
                        <option value="" class="dark">--{{'Select Reporting Approval Role' | translate}}--</option>
                    </select>
                </div>
                <!--   <div class="form-group clearfix form-group-custom mb10" ng-show="sData.reporting_approval_name">
                       <label class="control-label">Reporting To:</label>
                       <label class="control-label">{{sData.reporting_approval_name}}</label>
                   </div>-->
            </div>


            <div class="col-sm-12 text-center mt10">
                <button ng-click="addApproval(sData)" class="btn btn-primary btn-dark f12"
                        n-t='{"e_n":"Save Role Organisation Structure Admin","e_d":""}'>{{'Save' | translate}}
                </button>
            </div>
        </div>
    </div>
</script>
