<h3 class="fixed content-heading"> {{'Company Assessments' | translate}}
</h3>

<div id="contentArea" class="content-area animated fadeInRight">
    <div class="content-container p20 clearfix light-blue-bg">
        <form name="assessmentForm" novalidate>
            <div class="col-lg-3 col-sm-4 pl0" data-ng-repeat="assessment in allAssessmentList">
                <div class="col-sm-1 pad0 text-right">
                    <input class="mt20 mr10 cursor-pointer" type="checkbox" ng-checked="assessment.checked" ng-model="assessment.status">
                </div>
                <div class="col-sm-11 pad0">
                    <div class="list-data mb5 white-bg p10 full-width">
                        <div class="list-img pull-left dark-blue">
                            <i class="{{ assessment.template_icon }}"></i>
                        </div>
                        <div class="list-text overflow-hidden">
                            <h5 class="f14 darkcolor mt10">{{ assessment.assessment_name }}</h5>
                        </div>
                    </div>
                </div>


            </div>
            <div class="clearfix"></div>
            <div ng-if="allAssessmentList.length > 0" class="text-center ptb10">
                <button type="button" class="btn btn-sm btn-dark white-color f12" ng-click="updateAssessment()"
                    n-t='{"e_n":"Update Assessment- User Admin","e_d":""}'>
                    {{'Update' | translate}}
                </button>
            </div>
        </form>
    </div>
</div>