<h3 class="fixed content-heading"> {{'Collateral Type List' | translate}}
</h3>

<div id="contentArea" class="content-area animated fadeInRight">
    <div class="content-container clearfix light-blue-bg p20 mb20 facilitate-types-wrap">
        <h3 class="text-capitalize mb15">Collateral Types</h3>
        <div class="col-lg-4 col-sm-4 col-md-4 pl0 mt10" data-ng-repeat="item in collateralTypeList">
            <div class="col-sm-12 pad0" ui-sref="collateral.edit({'collateralId':(item.id_collateral_type|encode)})">
                <div class="list-data mb5 white-bg p10 full-width">
                    <div class="list-img-rounded pull-left mr10">
                        <i class="{{item.collateral_type_icon}}"></i>
                    </div>
                    <div class="list-text overflow-hidden">
                        <h5 class="heading-caps darkcolor">{{ item.collateral_type_name }}</h5>
                   <!--     <p class="ng-binding"><label>Created by:</label> Willium</p>-->
                        <p class="ng-binding"><label>Last Modified on:</label>{{item.created_date_time|utcToLocal}}</p>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
