<h3 class="fixed content-heading">Collateral
    <div class="pull-right button-set">
        <a ui-sref="collateral.collateral-list" uib-tooltip="Back"><i class="fa fa-close-sm"></i></a>
    </div>
</h3>

<div id="contentArea" class="content-area animated fadeInRight">
    <div class="content-container clearfix light-blue-bg p20 mb20">
        <!--realestate view-->
        <div class=" facilitate-setup-wrap">
            <h1 class="clearfix">
                <span class="f24 pull-left mr4"><i class="{{collateralInfo.collateral_type_icon}}"></i></span>
            <span class="col-sm-6 pull-left mt5">
                <div class="form-group clearfix form-group-custom">
                   {{collateralInfo.collateral_type_name}}
                    <!--<input type="text" class="form-control ng-pristine ng-valid ng-valid-required ng-touched" placeholder="LOAN NAME">-->
                </div>
            </span>
            </h1>

            <div class="col-sm-12 facilitate-setup-content">
                <div class="col-sm-3 page-right-wrap p0" ng-init="template='dynamic_form.html';stageTitle='Fields'">
                    <div class="v-tabs-wrap">
                        <ul>
                            <li class="tab-active" ng-class="{active:stageTitle==='Fields'}">
                                <a class="list-switcher" href="javascript:;" ng-click="template='dynamic_form.html';stageTitle='Fields'" active-link="tab-active">
                                    <i class="{{collateralInfo.collateral_type_icon}}"></i>
                                    <span class="ng-binding collateral-tab-text"> General</span>
                                </a>
                            </li>
                            <li ng-repeat="cs in collateralStageList" ng-class="{active:stageTitle===cs.collateral_stage_name}">
                                <a  href="javascript:;" ng-click="changeTemplate(cs)" active-link="tab-active" ><i class="{{cs.collateral_stage_icon}}"></i><span class="ng-binding collateral-tab-text">{{cs.collateral_stage_name}}</span>
                                    <div class="onoffswitch pull-right valign-top collateral-switch">
                                        <input type="checkbox" ng-change="collateralStageChange(cs)"
                                               name="onoffswitch"
                                               ng-model="cs.checked"
                                               ng-init="cs.checked=(cs.is_selected >0)?true:false"
                                               class="onoffswitch-checkbox" id="collTypeb_{{$index}}">
                                        <label class="onoffswitch-label" for="collTypeb_{{$index}}">
                                            <span class="onoffswitch-inner"></span>
                                            <span class="onoffswitch-switch"></span>
                                        </label>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-9 border-left p0 pb10" ng-if="template">
                    <h1 class="border-bottom p10 mb0  ng-scope"><i class="{{collateralInfo.collateral_type_icon}} mr4 sky-blue"></i>{{stageTitle}}</h1>
                        <div ng-include="'partials/admin/collateral/forms/'+template"></div>

                </div>
            </div>
        </div>



    </div>
</div>








