<div class="col-sm-12 clearfix p0">
    <div class="col-sm-3">
        <label class="label-text">Street Name</label>
        <p>{{address.street_name | checkEmpty}}</p>
    </div>
    <div class="col-sm-3">
        <label class="label-text">Block Number</label>
        <p>{{address.block_number | checkEmpty}}</p>
    </div>
    <div class="col-sm-3">
        <label class="label-text">City</label>
        <p>{{address.city | checkEmpty}}</p>
    </div>

    <div class="col-sm-3">
        <label class="label-text">Region</label>
        <p>{{address.region | checkEmpty}}</p>
    </div>
    <div class="clearfix"></div>
    <div class="col-sm-3">
        <label class="label-text">Country</label>
        <p>{{address.country | checkEmpty}}</p>
    </div>
    <div class="col-sm-3">
        <label class="label-text">P.O.Box</label>
        <p>{{address.pin_code | checkEmpty}}</p>

    </div>
    <!--<div class="col-sm-3 mt20">
        <a class="f12 pt10" href="javascript:;" ng-click="openMapModel()"><i class="fa fa-map-pin"></i> Locate this on map</a>
    </div>-->
</div>
