<div class="col-sm-12 clearfix p0">
    <div class="col-sm-6">
        <label class="control-label">Street Name</label>
        <div class="form-group clearfix form-group-custom">
            <input type="text" class="form-control" name="street_name"
                   ng-model="address.street_name">
        </div>
    </div>
    <div class="col-sm-6">
        <label class="control-label">Block Number</label>

        <div class="form-group clearfix form-group-custom">
            <input type="text" class="form-control" name="block_number"
                   ng-model="address.block_number">
        </div>
    </div>
    <div class="row"></div>
    <div class="col-sm-6">
        <label class="control-label">City</label>
        <div class="form-group clearfix form-group-custom">
            <input type="text" class="form-control" name="city" ng-model="address.city">
        </div>
    </div>
    <div class="col-sm-6">
        <label class="control-label">Region</label>
        <div class="form-group clearfix form-group-custom">
            <input type="text" class="form-control" name="region" ng-model="address.region">
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="col-sm-6">
        <label class="control-label">Country</label>
        <div class="form-group clearfix form-group-custom">
            <select class="form-control chosen-choices" chosen
                    ng-options="country.country_name as country.country_name for country in Countries"
                    name="country"
                    ng-init="getCountries()"
                    ng-model="address.country">
                <option value="">--Select Country--</option>
            </select>
        </div>
    </div>
    <div class="col-sm-3">
        <label class="control-label">P.O.Box</label>
        <div class="form-group clearfix form-group-custom">
            <input type="text" class="form-control" name="region" ng-model="address.pin_code" only-digits>
        </div>
    </div>
    <div class="col-sm-3 mt20">
        <a class="f12 pt10" href="javascript:;" ng-click="openMapModel()"><i class="fa fa-map-pin"></i> Locate this on map</a>
    </div>
</div>
