<h3 class="fixed content-heading"> {{'Dashboard' | translate}}

</h3>
<div id="contentArea" class="content-area animated fadeInRight">
    <div class="content-container clearfix light-blue-bg p20 mb20">
        <div class="col-sm-12 loan-officer-dashboard p0">
            <div class="col-lg-9 col-sm-8 p0">
                <div class="col-sm-12 white-bg p20">
                    <div class="col-sm-4 p0">
                        <!--<span class="light-blue display-block f12">Name</span>-->
                        <!--<span class="darkcolor fontBold country-image"><img class="mr4" src="{{loanOfficerDetails.branch_logo}}"/>{{loanOfficerDetails.branch_code | translate}}, {{loanOfficerDetails.country_name | translate}}</span>-->
                        <div class="col-sm-2 dashboard-user">
                            <img ng-src="{{loanOfficerDetails.userDetails.profile_image}}" alt="" class="img-circle">
                        </div>
                        <div class="col-sm-10 form-group form-group-new pr5 mb0">
                            <select class="form-control f15 pl0 -ml4 -mt5"
                                    name="child_users"
                                    ng-init="childUsers()"
                                    ng-change="childUserData(child_users)"
                                    ng-options="item.id_user as item.user_name for item in childUsersList"
                                    ng-model="child_users"
                                    ng-if="childUsersList"
                            >
                                <option value="">{{user_name}}</option>
                            </select>
                            <div class="f15 pl0 dark-blue" ng-if="!childUsersList">{{user_name}}</div>
                            <div class="f12 gray">{{'Role' | translate}}: {{loanOfficerDetails.userDetails.approval_name}}</div>
                        </div>
                    </div>
                    <div class="col-sm-8 p0">
                        <div class="col-sm-4 pr0 pl5 border-left">
                            <span class="light-blue display-block f12">#Customers</span>
                            <span class="darkcolor fontBold">{{loanOfficerDetails.customers | translate }}</span>
                        </div>
                        <div class="col-sm-4 pr0 pl5 border-left">
                            <div class="col-sm-2 p0 pt5">
                                <span class="display-block mr4">
                                    <i class="f24 fontBold"
                                       ng-class="loanOfficerDetails.latestExposure>=loanOfficerDetails.previousExposure ? 'icon-arrow-up green':'icon-arrow-down red' "></i>
                                </span>
                                <!--ng-class="{green:loanOfficerDetails.exposure>=loanOfficerPrevDetails.exposure}"-->
                            </div>
                            <div class="col-sm-10 p0 pl5">
                                <span class="light-blue display-block f12">#Exposure($)</span>
                                <span class="darkcolor fontBold display-block"
                                      title="{{loanOfficerDetails.latestExposure | currency:'' }}">{{loanOfficerDetails.latestExposure | currency:'' }}</span>
                            </div>
                        </div>
                        <div class="col-sm-4 pr0 pl5 border-left">
                            <div class="col-sm-2 p0 pt5">
                                <span class="display-block mr4">
                                    <!--<i class="icon-arrow-down f24 fontBold" ng-class="{green:loanOfficerDetails.pipeline>=loanOfficerPrevDetails.pipeline}"></i>-->
                                    <i class="f24 fontBold"
                                       ng-class="loanOfficerDetails.latestPipeline>=loanOfficerDetails.previousPipeline ? 'icon-arrow-up green':'icon-arrow-down red' "></i>
                                </span>
                            </div>
                            <div class="col-sm-10 p0 pl5">
                                <span class="light-blue display-block f12">#Pipeline($)</span>
                                <span class="darkcolor fontBold display-block"
                                      title="{{loanOfficerDetails.latestPipeline |  currency:'' }}">{{loanOfficerDetails.latestPipeline |  currency:'' }}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 p0">
                    <h3 class="darkcolor mt15 mb5">Stages vs Amount</h3>
                    <div class="white-bg p20 clearfix" ng-init="loanOfficerDashboardDetails()">
                        <!--<img src="images/graph6.jpg" width="100%">-->
                        <div ng-if="chartData" id="calendarAreaGraph" calendar-area-graph="{{chartData}}"
                             style="height: 378px;width: 100%">Placeholder for chart
                        </div>
                    </div>

                    <div class="col-sm-12 p0 ptb10 white-bg border-top">
                        <div class="col-sm-3 pr0 stages-vs-amount">
                            <div class="border-left-green pl5">
                                <span class="fontBold dark-blue display-block">{{loanOfficerGraphDetails.preapprovals | currency}}</span>
                                <span class="light-blue">ITS Accepted</span>
                            </div>
                        </div>
                        <div class="col-sm-3 pr0 stages-vs-amount">
                            <div class="border-left-yellow pl5">
                                <span class="fontBold dark-blue display-block">{{loanOfficerGraphDetails.approvals | currency}}</span>
                                <span class="light-blue">Approved</span>
                            </div>
                        </div>
                        <div class="col-sm-3 pr0 stages-vs-amount">
                            <div class="border-left-skyblue pl5">
                                <span class="fontBold dark-blue display-block">{{loanOfficerGraphDetails.disbursements | currency}}</span>
                                <span class="light-blue">Disbursment</span>
                            </div>
                        </div>
                        <div class="col-sm-3 pr0 stages-vs-amount">
                            <div class="border-left-blue pl5">
                                <span class="fontBold dark-blue display-block">{{loanOfficerGraphDetails.collections | currency}}</span>
                                <span class="light-blue">Monitoring</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 p0 mt15" ng-if="userFacilityCollection.length>0">
                    <h3 class="darkcolor text-capitalize mb5">Collections<a href="#" class="pull-right dark-blue"></a>
                    </h3>
                    <div class="table-responsive">
                        <table class="table c-table table-striped table-bordered table-hover display table-style mb0">
                            <thead>
                            <tr>
                                <th>Borrower</th>
                                <th>Contract Id</th>
                                <!--<th>Outstanding Amount($)</th>-->
                                <th>Due Date</th>
                                <th class="text-right">Currency</th>
                                <th class="text-right">Due Amount</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="fc in userFacilityCollection">
                                <td class="text-capitalize" style="max-width: 250px;">
                                    <a href="#" class="dark-blue text-line"
                                       ui-sref="company.company-creation({id:(fc.id_crm_company | encode )})"
                                       n-t='{"e_n":"Dashboard - Company detail","e_d":"{{fc.company_name}}"}'>{{fc.company_name}}</a>
                                </td>
                                <td>{{fc.contract_id}}</td>
                                <!--<td class="text-right">{{fc.outstanding_amount | currency}}</td>-->
                                <td>{{fc.due_date | utcToLocal:'date'}}</td>
                                <td class="text-right">{{fc.currency}}</td>
                                <td class="text-right">{{fc.total_due | currency:''}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-sm-12 p0 mt15" ng-if="userProjectList.length>0">
                    <h3 class="darkcolor text-capitalize mb5">Projects List<a href="#" class="pull-right dark-blue">
                        <!--<i class="icon-filter"></i>--></a></h3>
                    <div class="table-responsive">
                        <table class="table c-table table-striped table-bordered table-hover display table-style mb0">
                            <thead>
                            <tr>
                                <th>Borrower</th>
                                <th>Project Title</th>
                                <th class="text-right">Amount($)</th>
                                <th>Sector</th>
                                <th>Status</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="p in userProjectList">
                                <td style="max-width: 200px;">
                                    <span class="label-text p0 display-block text-capitalize"
                                          title="{{p.company_name}}">
                                        <a href="#"
                                           ui-sref="company.company-creation({id:(p.id_crm_company | encode )})"
                                           n-t='{"e_n":"Dashboard Project list","e_d":"{{p.company_name}}"}'
                                           class="dark-blue text-line">{{p.company_name}}</a>
                                    </span>
                                </td>
                                <td>
                                    <span class="label-text p0 display-block text-capitalize"
                                          title="{{p.project_title}}">
                                        <a href="#" ui-sref="project.project-view({id:(p.id_crm_project | encode )})"
                                           class="dark-blue text-line">{{p.project_title}}</a>
                                    </span>
                                </td>
                                <td class="text-right">{{p.loan_amount | currency:''}}</td>
                                <td style="max-width: 100px;">
                                    <span class="label-text p0 display-block text-capitalize text-line"
                                          title="{{p.sector}}">
                                        {{p.sector}}
                                    </span>
                                </td>
                                <td class="text-capitalize">
                                    <!--<span class="{{p.project_status == 'pipeline': 'orange' : 'green'}}">{{p.project_status}}</span>-->
                                    <span ng-if="p.project_status == 'pipeline'"
                                          class="orange">{{p.project_status}}</span>
                                    <span ng-if="p.project_status != 'pipeline'"
                                          class="green">{{p.project_status}}</span>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!--Removed-->
                <!--<div class="col-sm-12 p0 mt15" >
                    <h3 class="darkcolor text-capitalize mb5">Area Coverage</h3>
                    <div class="white-bg pt15 pb10 clearfix">
                        <h3>
                            <div class="display-inline-block p0 form-group form-group-new">
                                <select class="form-control f15"
                                        name="selectedMapCountry"
                                        ng-change="MapCountryWiseProjects(selectedMapCountry)"
                                        ng-options="item.country_id as item.country_name+' ('+(item.facility_amount|currency)+')' for item in userMapCountries"
                                        ng-model="selectedMapCountry"
                                    >
                                </select>
                            </div>
                            &lt;!&ndash;<a href="#" class="ash pull-right mr15 mt5"><i class="icon-undo"></i></a>&ndash;&gt;
                        </h3>
                        <div class="col-sm-12 p10">

                            &lt;!&ndash;<img src="images/graph7.jpg" width="100%">&ndash;&gt;
                            <ng-map zoom="11"  id="map" zoom-to-include-markers='auto' style="height: 300px">
                                <info-window id="myInfoWindow">
                                    <div class="map-data" ng-non-bindable>
                                        <p>
                                            <label>Borrower</label>:
                                            <span>{{selectedMarker.company_name}}</span>
                                        </p>
                                        <p>
                                            <label>Exposure</label>:
                                            <span>{{selectedMarker.amount|currency}}</span>
                                        </p>
                                        <p>
                                            <label>Status</label>:
                                            <span>{{selectedMarker.cp_status}}</span>
                                        </p>
                                    </div>
                                </info-window>
                                <marker ng-repeat="m in mapProjectList"
                                        icon="{{m.icon}}"
                                        position="{{m.location}}"
                                        z-index="{{m.index}}" on-click="markerClick(event,m)">
                                </marker>
                            </ng-map>
                        </div>
                    </div>
                </div>-->
            </div>
            <div class="col-lg-3 col-sm-4 pr0">
                <div class="col-sm-12 p10 white-bg">
                    <h3 class="dark-blue text-capitalize border-bottom-color pb10">Alerts & Notifications</h3>
                    <div class="col-sm-12 p0">
                        <div class="col-sm-6 pr0 loan-officer-dboard-alerts-widget">
                            <div class="loan-officer-dboard-alerts-companies" ui-sref="company.company-dashboard"
                                 n-t='{"e_n":"Dashboard Company list","e_d":""}'>
                                <span class="icon-company2"></span>
                                <span>{{notificationData.companies}}</span>
                                <span ng-if="notificationData.companies > 1">Companies</span>
                                <span ng-if="notificationData.companies <= 1">Company</span>
                            </div>
                        </div>
                        <div class="col-sm-6 loan-officer-dboard-alerts-widget" ui-sref="contact.contact-dashboard"
                             n-t='{"e_n":"Dashboard Contact list","e_d":""}'>
                            <div class="loan-officer-dboard-alerts-contact ">
                                <span class="fa fa-book"></span>
                                <span>{{notificationData.contacts}}</span>
                                <span ng-if="notificationData.contacts > 1">Contacts</span>
                                <span ng-if="notificationData.contacts <= 1">Contact</span>
                            </div>
                        </div>
                        <div class="col-sm-6 pr0 loan-officer-dboard-alerts-widget" ui-sref="app.notification"
                             n-t='{"e_n":"Dashboard All Notification","e_d":""}'>
                            <div class="loan-officer-dboard-alerts-task">
                                <span class="icon-tasks2"></span>
                                <span>{{notificationData.task}}</span>
                                <span ng-if="notificationData.task > 1">Tasks</span>
                                <span ng-if="notificationData.task <= 1">Task</span>
                            </div>
                        </div>
                        <div class="col-sm-6 loan-officer-dboard-alerts-widget" ui-sref="app.notification"
                             n-t='{"e_n":"Dashboard All Notification","e_d":""}'>
                            <div class="loan-officer-dboard-alerts-action">
                                <span class="icon-covenant2"></span>
                                <span>{{notificationData.notification}}</span>
                                <span ng-if="notificationData.notification > 1">Actions</span>
                                <span ng-if="notificationData.notification <= 1">Action</span>
                            </div>
                        </div>
                        <div class="col-sm-6 pr0 loan-officer-dboard-alerts-widget"
                             n-t='{"e_n":"Dashboard All Notification","e_d":""}' ui-sref="app.notification">
                            <div class="loan-officer-dboard-alerts-meeting">
                                <span class="icon-meeting2"></span>
                                <span>{{notificationData.meeting}}</span>
                                <span ng-if="notificationData.meeting > 1">Meetings</span>
                                <span ng-if="notificationData.meeting <= 1">Meeting</span>
                            </div>
                        </div>
                        <div class="col-sm-6 loan-officer-dboard-alerts-widget"
                             n-t='{"e_n":"Dashboard All Notification","e_d":""}' ui-sref="app.notification">
                            <div class="loan-officer-dboard-alerts-attachment">
                                <span class="icon-alert"></span>
                                <span>{{notificationData.alert}}</span>
                                <span ng-if="notificationData.alert > 1">Alerts</span>
                                <span ng-if="notificationData.alert <= 1">Alert</span>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="col-sm-12 p10 white-bg mt15" ng-if="DashboardCovenants.length>0">
                    <h3 class="dark-blue text-capitalize pb10 border-bottom-color">Covenant
                        <a class="pull-right dark-blue f12 mt5" ui-sref="crm-covenant.list"
                           n-t='{"e_n":"Dashboard All Covenant","e_d":""}'>View All</a>
                    </h3>
                    <div class="col-sm-12 p0">
                        <div class="col-sm-12 loan-officer-dboard-covanent-widget pt5 pb5"
                             ng-repeat="dc in DashboardCovenants">
                            <!--<div class="col-sm-2 col-lg-1 p0"><span class="first-alpha" first-alpha="{{dc.covenant_name}}"></span></div>-->
                            <div class="col-sm-7 col-lg-8 p0">
                                <a class="display-block dark-blue text-line" ng-click="covanentPreview({'module_type':dc.module_type,'module_id':dc.module_id,'id_module_covenant':dc.id_module_covenant})"
                                   n-t='{"e_n":"Dashboard Covenant","e_d":"Covenant - {{dc.covenant_name}}"}' title="{{dc.covenant_name}}">{{dc.covenant_name}}</a>
                                <span class="display-block gray f11">{{dc.covenant_start_date | utcToLocal:'date' | checkEmpty}}</span>
                                <!--<span class="display-block dark-blue">{{dc.assigned_to}}</span>-->
                            </div>
                            <div class="col-sm-5 col-lg-4 p0 text-right text-capitalize">
                                <!--<a ui-sref="crm-covenant.list" n-t='{"e_n":"Menu Covenant","e_d":""}'><span class="icon-angle-rightt-circle f21"></span></a>-->
                                <span class="btn btn-sm f12 label f13 bold label-warning"
                                      ng-if="dc.module_covenant_status != 'new'">{{dc.module_covenant_status}}</span>
                                <span class="btn btn-sm f12 label f13 bold label-new"
                                      ng-if="dc.module_covenant_status == 'new'">{{dc.module_covenant_status}}</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 p10 white-bg mt15" oc-lazy-load="task" >
                    <h3 class="dark-blue text-capitalize border-bottom-color pb10">Tasks <a
                            class="pull-right dark-blue f12 mt5" ui-sref="crm-activity.list"
                            n-t='{"e_n":"Dashboard All Tasks","e_d":"Task list"}'>View All</a></h3>
                    <task-module tm-load-more="false" template-url="partials/component/task/task-list.html"
                                 permission="permission"
                                 get-data='{"module_type":"general","created_by":userId,"assigned_by":userId}'>
                    </task-module>

                </div>
                <div class="col-sm-12 p10 white-bg mt15" ng-if="DashboardKnowledge.length>0">
                    <h3 class="dark-blue text-capitalize border-bottom-color pb10">Knowledge <a
                            class="pull-right dark-blue f12 mt5" ui-sref="knowledge-management.view"
                            n-t='{"e_n":"Dashboard - Knowledge management list","e_d":""}'>View All</a></h3>
                    <div class="col-sm-12 p0 pt5 pb5 loan-officer-dboard-knowledge-widget"
                         ng-repeat="dk in DashboardKnowledge">
                        <div class="col-sm-6 p0">
                            <a class="text-line dark-blue display-block f14" title="{{dk.document_title}}"
                               ui-sref="knowledge-management.item-view({id:(dk.id_knowledge_document)})"
                               n-t='{"e_n":"Dashboard - Knowledge management detail","e_d":"{{dk.document_title}}"}'>{{dk.document_title}}</a>
                        </div>
                        <div class="col-sm-6 p0 text-right">
                            <span class="text-line gray display-block f11">{{dk.date | utcToLocal:'date' | checkEmpty}}</span>
                        </div>
                        <div class="dark-blue f12 col-sm-12 p0">
                            {{dk.document_short_description}}
                        </div>
                    </div>
                </div>
                <!--
                <div class="col-sm-12 p0">
                    <h3 class="darkcolor text-uppercase mb5">Calendar</h3>
                    <div class="custom-calender" style="display:inline-block; min-height:220px;width: 100%;">
                        <div uib-datepicker ng-model="dt" class="well well-sm" datepicker-options="options"></div>
                    </div>
                </div>
                <div class="col-sm-12 p0">
                    <h3 class="darkcolor text-uppercase mt15 mb5">Regulatory Parameters</h3>
                    <div class="table-responsive parameter-table">
                        <table class="table c-table table-striped table-bordered table-hover display table-style">
                            <thead>
                                <tr>
                                    <th>Parameters</th>
                                    <th>This Month</th>
                                    <th>Last Month</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Risk Weighted Assets</td>
                                    <td><span class="thick-green-bg white-color p5">$ 192.6 B</span></td>
                                    <td>$225.3B</td>
                                </tr>
                                <tr>
                                    <td>Capital Adequacy Ratio</td>
                                    <td><span class="thick-green-bg white-color p5">16.87%</span></td>
                                    <td>14.07%</td>
                                </tr>
                                <tr>
                                    <td>Non Performing Assets</td>
                                    <td><span class="red-bg white-color p5">$ 2.08 B</span></td>
                                    <td>$1.07 B</td>
                                </tr>
                                <tr>
                                    <td>Net Interest Margin</td>
                                    <td><span class="thick-green-bg white-color p5">$ 192.6B</span></td>
                                    <td>$ 1.30%</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-sm-12 p0">
                    <h3 class="darkcolor text-uppercase mt15 mb5">Loan Stages</h3>
                    <div class="white-bg" >
                        &lt;!&ndash;<img src="images/loan-stages.jpg" width="100%">&ndash;&gt;
                                    <div id="loanStages" loan-stages-graph style="height: 192px;width: 80%;margin: 0 auto;">Placeholder for chart</div>
                                </div>
                            </div>-->

                <!--<div class="col-sm-12 p0" ng-init="loanOfficerDashboardSectorWiseLoans()" >
                    <h3 class="darkcolor text-uppercase mt15 mb5">Sector wise loans</h3>
                    <div class="white-bg" ng-if="loanOfficerDashboardSectorWiseLoans">
                        &lt;!&ndash;<img src="images/sector-loans.jpg" width="100%">&ndash;&gt;
                                    <div google-chart chart="sectir_vise_loans" ></div>
                                </div>
                            </div>-->
            </div>
        </div>
    </div>
</div>