<h3 class="fixed content-heading"> {{'Branch Dashboard' | translate}}
    <ul class="pull-right icons-right">
        <!--<li><a ui-sref="org.org-structure-view" active-link="heading-active" uib-tooltip="close"><i
                class="fa fa-close-sm"></i></a></li>-->
    </ul>
</h3>

<div id="contentArea" class="content-area animated fadeInRight">
    <div class="content-container clearfix light-blue-bg p20 mb20">
        <h1 class="darkcolor fontBold">
            <span class="display-inline-block pull-left mt10" style="width:40px;height: 30px;"><img src="images/kenya.jpg"></span>
            <div class="display-inline-block p0 form-group form-group-new ml5">
                <select  class="form-control pl0">
                    <option value="" class="" selected="selected">NAIROBI – KENYA</option>
                </select>
                <label class="display-block f10 -mt8">7th Floor, The Oval Building, Ring Road, Westlands,</label>
            </div>
        </h1>
        <div class="col-sm-12 dashboard-wrapper">
            <div class="col-sm-12 dashboard-widget">
                <div class="col-sm-2 dashboard-widget-icon">
                    <span class="sky-blue f36"><i class="icon-actions"></i></span>
                </div>
                <div class="col-sm-10 dashboard-widget-text">
                    <h6>#Sectors</h6>
                    <strong>2</strong>
                </div>
            </div>
            <div class="col-sm-12 dashboard-widget">
                <div class="col-sm-2 dashboard-widget-icon">
                    <span class="sky-blue f36"><i class="icon-users2"></i></span>
                </div>
                <div class="col-sm-10 dashboard-widget-text">
                    <h6>#Customers</h6>
                    <strong>3</strong>
                </div>
            </div>
            <div class="col-sm-12 dashboard-widget">
                <div class="col-sm-2 dashboard-widget-icon">
                    <span class="green f36"><i class="icon-up-arrow"></i></span>
                </div>
                <div class="col-sm-10 dashboard-widget-text">
                    <h6>Total Exposure</h6>
                    <strong>$ 245,234,000</strong>
                </div>
            </div>
            <div class="col-sm-12 dashboard-widget">
                <div class="col-sm-2 dashboard-widget-icon">
                    <span class="sky-blue f36"><i class="icon-bullhorn2"></i></span>
                </div>
                <div class="col-sm-10 dashboard-widget-text">
                    <h6>Current Pipeline</h6>
                    <strong>$ 20,000,000 (#3)</strong>
                </div>
            </div>
            <div class="col-sm-12 dashboard-widget border-none">
                <div class="col-sm-2 dashboard-widget-icon">
                    <!--<span class="sky-blue f36"><img src="images/sector-limit.png"></span>-->
                    <div google-chart chart="sector_limit" style="height: 70px;width:70px;margin-top:-16px;margin-left:-20px;" ></div>
                </div>
                <div class="col-sm-10 dashboard-widget-text">
                    <h6>Sector Limit <span class="red">(20%)</span></h6>
                    <strong><span class="green">2.1%</span> (1.5 + 0.6)</strong>
                </div>
            </div>
        </div>
        <div class="col-sm-12 dashboard-content p0 mt10">
            <div class="col-sm-12 p0">
                <div class="col-sm-6 p0">
                    <div class="col-sm-12 p0 dashboard-table">
                        <h3 class="p10 white-color">Overview</h3>
                        <div class="table-responsive">
                            <table class="table c-table table-striped table-bordered table-hover display table-style">
                                <thead>
                                    <tr>
                                        <th>Total Exposure</th>
                                        <th>#Trans.</th>
                                        <th>% of share</th>
                                        <th>Limits</th>
                                        <th>Additional Commitment</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><p class="mb0"><span class="colors-wrap light-blue-bg"></span> <span class="text-td-wrap">Agriculture And Fisheries</span></p>
                                            <p class="pull-left mt4 mb0 pl10">
                                                <span class="fontBold f21 pull-left mr4"><i class="icon-arrow-up red fontBold"></i></span>
                                                $ 120,000
                                            </p>
                                        </td>
                                        <td>10</td>
                                        <td>1.5%</td>
                                        <td>5.0%</td>
                                        <td>$ 10,000</td>
                                    </tr>
                                    <tr>
                                        <td><p class="mb0"><span class="colors-wrap orange-bg"></span> <span class="text-td-wrap">Forestry & Agroforestry</span></p>
                                            <p class="pull-left mt4 mb0 pl10">
                                                <span class="fontBold f21 pull-left mr4"><i class="icon-arrow-right green "></i></span>
                                                $ 340,000
                                            </p>
                                        </td>
                                        <td>1</td>
                                        <td>0.3%</td>
                                        <td>2.0%</td>
                                        <td>$ 15,000</td>
                                    </tr>
                                    <tr>
                                        <td><p class="mb0"><span class="colors-wrap red-bg"></span> <span class="text-td-wrap">Mining and Quarrying</span></p>
                                            <p class="pull-left mt4 mb0 pl10">
                                                <span class="fontBold f21 pull-left mr4"><i class="icon-arrow-right green "></i></span>
                                                $ 40,000
                                            </p>
                                        </td>
                                        <td>3</td>
                                        <td>0.2%</td>
                                        <td>5.0%</td>
                                        <td>$ 11,000</td>
                                    </tr>
                                    <tr>
                                        <td><p class="mb0"><span class="colors-wrap light-yellow-bg"></span> <span class="text-td-wrap">General Industrial Manufacturing</span></p>
                                            <p class="pull-left mt4 mb0 pl10">
                                                <span class="fontBold f21 pull-left mr4"><i class="icon-arrow-right green "></i></span>
                                                $ 34,000
                                            </p>
                                        </td>
                                        <td>1</td>
                                        <td>0.6%</td>
                                        <td>5.0%</td>
                                        <td>$ 15,000,000</td>
                                    </tr>
                                    <tr>
                                        <td><p class="mb0"><span class="colors-wrap green-bg"></span> <span class="text-td-wrap">Consumer Industrial Manufacturing</span></p>
                                            <p class="pull-left mt4 mb0 pl10">
                                                <span class="fontBold f21 pull-left mr4"><i class="icon-arrow-right green "></i></span>
                                                $ 56,000
                                            </p>
                                        </td>
                                        <td>1</td>
                                        <td>1.6%</td>
                                        <td>1.0%</td>
                                        <td>$ 15,000</td>
                                    </tr>
                                    <tr>
                                        <td><p class="mb0"><span class="colors-wrap ash-bg"></span> <span class="text-td-wrap">Agro, Marine and Food Processing</span></p>
                                            <p class="pull-left mt4 mb0 pl10">
                                                <span class="fontBold f21 pull-left mr4"><i class="icon-arrow-right green "></i></span>
                                                $ 45,000
                                            </p>
                                        </td>
                                        <td>3</td>
                                        <td>0.6%</td>
                                        <td>3.2%</td>
                                        <td>$ 25,000</td>
                                    </tr>
                                    <tr>
                                        <td><p class="mb0"><span class="colors-wrap blue-bg"></span> <span class="text-td-wrap">Construction Companies,Building Materials</span></p>
                                        <p class="pull-left mt4 mb0 pl10">
                                            <span class="fontBold f21 pull-left mr4"><i class="icon-arrow-right green "></i></span>
                                            $ 340,000
                                        </p>
                                        </td>
                                        <td>3</td>
                                        <td>1.6%</td>
                                        <td>5.0%</td>
                                        <td>$ 43,000</td>
                                    </tr>
                                    <tr>
                                        <td><p class="mb0"><span class="colors-wrap grey-bg"></span> <span class="text-td-wrap">Hotels, Tourism, Leisure and Entertainment</span></p>
                                        <p class="pull-left mt4 mb0 pl10">
                                            <span class="fontBold f21 pull-left mr4"><i class="icon-arrow-right green "></i></span>
                                            $ 120,000
                                        </p>
                                        </td>
                                        <td>2</td>
                                        <td>1.1%</td>
                                        <td>5.0%</td>
                                        <td>$ 23,000</td>
                                    </tr>
                                    <tr>
                                        <td><p class="mb0"><span class="colors-wrap orange-bg"></span> <span class="text-td-wrap">Transport</span></p>
                                            <p class="pull-left mt4 mb0 pl10">
                                                <span class="fontBold f21 pull-left mr4"><i class="icon-arrow-right green "></i></span>
                                                $ 120,000
                                            </p>
                                        </td>
                                        <td>1</td>
                                        <td>0.6%</td>
                                        <td>4.0%</td>
                                        <td>$ 13,600</td>
                                    </tr>
                                    <tr>
                                        <td><p class="mb0"><span class="colors-wrap ash-bg"></span> <span class="text-td-wrap">Agro, Marine and Food Processing</span></p>
                                            <p class="pull-left mt4 mb0 pl10">
                                                <span class="fontBold f21 pull-left mr4"><i class="icon-arrow-right green "></i></span>
                                                $ 45,000
                                            </p>
                                        </td>
                                        <td>3</td>
                                        <td>0.6%</td>
                                        <td>3.2%</td>
                                        <td>$ 25,000</td>
                                    </tr>
                                    <tr>
                                        <td><p class="mb0"><span class="colors-wrap red-bg"></span> <span class="text-td-wrap">Commercial Banks</span></p>
                                            <p class="pull-left mt4 mb0 pl10">
                                                <span class="fontBold f21 pull-left mr4"><i class="icon-arrow-up red "></i></span>
                                                $ 45,000
                                            </p>
                                        </td>
                                        <td>3</td>
                                        <td>0.6%</td>
                                        <td>5.0%</td>
                                        <td>$ 22,100</td>
                                    </tr>
                                    <tr>
                                        <td><p class="mb0"><span class="colors-wrap light-yellow-bg"></span> <span class="text-td-wrap">Investment Companies</span></p>
                                            <p class="pull-left mt4 mb0 pl10">
                                                <span class="fontBold f21 pull-left mr4"><i class="icon-arrow-right green "></i></span>
                                                $ 340,000
                                            </p>
                                        </td>
                                        <td>3</td>
                                        <td>0.6%</td>
                                        <td>5.0%</td>
                                        <td>$ 15,000</td>
                                    </tr>
                                    <tr>
                                        <td><p class="mb0"><span class="colors-wrap green-bg"></span> <span class="text-td-wrap">Micro Finance Institutions</span></p>
                                            <p class="pull-left mt4 mb0 pl10">
                                                <span class="fontBold f21 pull-left mr4"><i class="icon-arrow-right green "></i></span>
                                                $ 120,000
                                            </p>
                                        </td>
                                        <td>2</td>
                                        <td>0.6%</td>
                                        <td>1.0%</td>
                                        <td>$ 48,000</td>
                                    </tr>
                                    <tr>
                                        <td><p class="mb0"><span class="colors-wrap ash-bg"></span> <span class="text-td-wrap">Development Financial Institution</span></p>
                                            <p class="pull-left mt4 mb0 pl10">
                                                <span class="fontBold f21 pull-left mr4"><i class="icon-arrow-up red "></i></span>
                                                $ 120,000
                                            </p>
                                        </td>
                                        <td>1</td>
                                        <td>0.6%</td>
                                        <td>5.0%</td>
                                        <td>$ 35,000</td>
                                    </tr>
                                    <tr>
                                        <td><p class="mb0"><span class="colors-wrap grey-bg"></span> <span class="text-td-wrap">Electricity</span></p>
                                            <p class="pull-left mt4 mb0 pl10">
                                                <span class="fontBold f21 pull-left mr4"><i class="icon-arrow-right green "></i></span>
                                                $ 45,000
                                            </p>
                                        </td>
                                        <td>1</td>
                                        <td>0.6%</td>
                                        <td>2.0%</td>
                                        <td>$ 78,000</td>
                                    </tr>
                                </tbody>
                                <!--<tfoot>
                                    <tr>
                                        <td colspan="5"><h1 class="text-center p10"><a href="#" class="darkcolor f18">more sub-sectors</a></h1></td>
                                    </tr>
                                </tfoot>-->
                            </table>
                        </div>
                        <h1 class="text-center p20 sub-sector-more relative"><a href="#" class="darkcolor f18">more sub-sectors</a><a href="#" class="sky-blue ml5 icon-arrow-active"><i class="icon-angle-down f24 fontBold"></i></a></h1>
                        <script>
                            $(function() {
                                $('.sub-sector-more').on('click', function () {
                                    $('.dashboard-table').toggleClass('active');
                                });
                            });
                        </script>
                    </div>
                    <div class="col-sm-12 p0 mt10 dashboard-table2 white-bg">
                        <div class="dashboard-chat-widget  white-bg">
                            <h3 class="darkcolor p10 fontBold">Outstanding Exposure by sector</h3>
                            <div class="col-sm-12">
                                <div class="col-sm-4 pl0">
                                    <div class="form-group clearfix form-group-custom">
                                        <div class="col-sm-2 p0">
                                            <label class="control-label">{{'From' | translate}}:</label>
                                        </div>
                                        <div class="col-sm-10 p0 pl5">
                                            <div class="input-group">
                                                <input type="text" class="form-control white-bg"
                                                       uib-datepicker-popup
                                                       data-ng-model="withdrawl_expiry_date" name="withdrawl_expiry_date" is-open="openCal3"
                                                       show-weeks="false" show-button-bar="false"/>
                                                <span class="input-group-btn ">
                                                    <button type="button" class="btn btn-default border" disabled ng-click="openCal3 = true">
                                                        <i class="fa fa-calendar"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4 pl0">
                                    <div class="form-group clearfix form-group-custom">
                                        <div class="col-sm-2 p0">
                                            <label class="control-label">{{'To' | translate}}:</label>
                                        </div>
                                        <div class="col-sm-10 p0">
                                            <div class="input-group">
                                                <input type="text" class="form-control white-bg"
                                                       uib-datepicker-popup
                                                       data-ng-model="withdrawl_expiry_date" name="withdrawl_expiry_date" is-open="openCal3"
                                                       show-weeks="false" show-button-bar="false"/>
                                                <span class="input-group-btn ">
                                                    <button type="button" class="btn btn-default border" disabled ng-click="openCal3 = true">
                                                        <i class="fa fa-calendar"></i>
                                                    </button>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <span class="display-block pt5"><a href="#" class="sky-blue mr4">235 Days</a><a href="#" class="f14"><i class="icon-times"></i></a></span>
                                </div>
                            </div>
                            <div class="col-sm-12 p0 white-bg" style="text-align:center">
                                <!--<img src="images/graph9.jpg" style="height:185px;">-->
                                <div id="exposureBySectorGraph" exposure-by-sector-graph style="height: 192px;width: 80%;margin: 0 auto;">Placeholder for chart</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 pr0 pl10">
                    <div class="col-sm-12 p0">
                        <div class="dashboard-chat-widget  white-bg">
                            <h3 class="darkcolor p10 fontBold clearfix">Outstanding Portfolio
                                <div class="form-group pull-right">
                                    <select class="form-control">
                                        <option value="" class="" selected="selected">By Currency</option>
                                    </select>
                                </div>
                            </h3>
                            <div class="">
                                <!--<img src="images/graph10.jpg">-->
                                <div google-chart chart="out_standing_portfolio" style="width: 100%;height: 215px;"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 p0 mt10">
                        <div class="dashboard-chat-widget  white-bg">
                            <h3 class="darkcolor p10 fontBold">Exposure vs Product Types</h3>
                            <div class="">
                                <!--<img src="images/graph8.jpg">-->
                                <div google-chart chart="exposure_product_types" style="width: 100%;height: 225px;"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 p0 mt10">
                <h1 class="white-bg p10 darkcolor fontBold border-bottom">Top 10 Customers</h1>
                <div class="table-responsive">
                    <table class="table c-table table-striped table-bordered table-hover display table-style">
                        <thead>
                            <tr>
                                <th>Customer Name</th>
                                <th>Sector</th>
                                <th>Comapany</th>
                                <th>Business</th>
                                <th>Facilities Amount</th>
                                <th>Rate of Interest</th>
                                <th>Country</th>
                                <th>Currency Type</th>
                                <th>Period	</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Willium</td>
                                <td>Agriculture</td>
                                <td>Access</td>
                                <td>Seeds Manufactre</td>
                                <td>KES 123,125,000</td>
                                <td>12.5%</td>
                                <td>Kenya</td>
                                <td>USD</td>
                                <td>20 Years</td>
                                <td>Watch</td>
                            </tr>
                            <tr>
                                <td>Renold James</td>
                                <td>Oil and gas</td>
                                <td>EBF Builder</td>
                                <td>Apartments Constructions</td>
                                <td>USD 12,125,000</td>
                                <td>15%</td>
                                <td>Tanzania</td>
                                <td>TZS</td>
                                <td>6 Years</td>
                                <td>Normal</td>
                            </tr>
                            <tr>
                                <td>one Abramhem</td>
                                <td>Forestry & Agriculture</td>
                                <td>STALL Educatio.</td>
                                <td>School Ground Buying</td>
                                <td>USD 14,125,000</td>
                                <td>15.6%</td>
                                <td>Rwanda</td>
                                <td>KES</td>
                                <td>10 Years</td>
                                <td>Normal</td>
                            </tr>
                            <tr>
                                <td>Willium</td>
                                <td>Agriculture</td>
                                <td>Greenstore</td>
                                <td>Seeds Manufactre</td>
                                <td>USD 125,000</td>
                                <td>12.5%</td>
                                <td>Kenya</td>
                                <td>KES</td>
                                <td>5 Years</td>
                                <td>Doubtful</td>
                            </tr>
                            <tr>
                                <td>Renold James</td>
                                <td>Mining and Qu.</td>
                                <td>MK Constru..</td>
                                <td>Apartments Constructions</td>
                                <td>USD 125,000</td>
                                <td>13.4%</td>
                                <td>Kenya</td>
                                <td>KES</td>
                                <td>11 Years</td>
                                <td>Doubtful</td>
                            </tr>
                            <tr>
                                <td>Jone Abramhem</td>
                                <td>Agro, Marine..	MK Constru..</td>
                                <td>Bright School</td>
                                <td>School Ground Buying</td>
                                <td>USD 125,000</td>
                                <td>20.0%</td>
                                <td>Kenya</td>
                                <td>KES</td>
                                <td>8 Years</td>
                                <td>Doubtful</td>
                            </tr>
                            <tr>
                                <td>Smith Andrew</td>
                                <td>Commercial Ba..</td>
                                <td>Stong Forms</td>
                                <td>Agricture Machinery</td>
                                <td>USD 125,000</td>
                                <td>10.0%</td>
                                <td>Kenya</td>
                                <td>KES</td>
                                <td>5 Years</td>
                                <td>Doubtful</td>
                            </tr>
                            <tr>
                                <td>Willium</td>
                                <td>Agriculture</td>
                                <td>Greenstore</td>
                                <td>Seeds Manufactre</td>
                                <td>USD 125,000</td>
                                <td>12.5%</td>
                                <td>Kenya</td>
                                <td>KES</td>
                                <td>8 Years</td>
                                <td>Running</td>
                            </tr>
                            <tr>
                                <td>Renold James</td>
                                <td>Electricity</td>
                                <td>ZVR Con..</td>
                                <td>Apartments Constructions</td>
                                <td>USD 125,000</td>
                                <td>12.2%</td>
                                <td>Kenya</td>
                                <td>KES</td>
                                <td>4 Years</td>
                                <td>Doubtful</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-sm-12 p0">
                <h1 class="white-bg p10 darkcolor fontBold border-bottom">Projects in Pipeline</h1>
                <div class="table-responsive">
                    <table class="table c-table table-striped table-bordered table-hover display table-style">
                        <thead>
                        <tr>
                            <th>Customer Name</th>
                            <th>Sector</th>
                            <th>Comapany</th>
                            <th>Business</th>
                            <th>Amount</th>
                            <th>Country</th>
                            <th>Currency Type</th>
                            <th>Period	</th>
                            <th>40%</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Willium</td>
                            <td>Agriculture</td>
                            <td>Access</td>
                            <td>Seeds Manufactre</td>
                            <td>KES 123,125,000</td>
                            <td>Kenya</td>
                            <td>USD</td>
                            <td>20 Years</td>
                            <td>50%</td>
                        </tr>
                        <tr>
                            <td>Renold James</td>
                            <td>Agriculture</td>
                            <td>EBF Builder</td>
                            <td>Apartments Constructions</td>
                            <td>USD 12,125,000</td>
                            <td>Tanzania</td>
                            <td>TZS</td>
                            <td>6 Years</td>
                            <td>105</td>
                        </tr>
                        <tr>
                            <td>Jone Abramhem</td>
                            <td>Agriculture</td>
                            <td>STALL Educatio.</td>
                            <td>School Ground Buying</td>
                            <td>USD 14,125,000</td>
                            <td>Rwanda</td>
                            <td>KES</td>
                            <td>10 Years</td>
                            <td>95%</td>
                        </tr>
                        <tr>
                            <td>Smith Andrew</td>
                            <td>Agriculture</td>
                            <td>GreenStore</td>
                            <td>Agricture Machinery</td>
                            <td>UGX 125,000</td>
                            <td>Rwanda</td>
                            <td>RWF</td>
                            <td>12 Years</td>
                            <td>95%</td>
                        </tr>
                        <tr>
                            <td>Willium</td>
                            <td>Agriculture</td>
                            <td>Access</td>
                            <td>Seeds Manufactre</td>
                            <td>KES 123,125,000</td>
                            <td>Kenya</td>
                            <td>USD</td>
                            <td>20 Years</td>
                            <td>40%</td>
                        </tr>
                        <tr>
                            <td>Renold James</td>
                            <td>Agriculture</td>
                            <td>EBF Builder</td>
                            <td>Apartments Constructions</td>
                            <td>USD 12,125,000</td>
                            <td>Tanzania</td>
                            <td>TZS</td>
                            <td>6 Years</td>
                            <td>50%</td>
                        </tr>
                        <tr>
                            <td>Jone Abramhem</td>
                            <td>Agriculture</td>
                            <td>STALL Educatio.</td>
                            <td>School Ground Buying</td>
                            <td>USD 14,125,000</td>
                            <td>Rwanda</td>
                            <td>KES</td>
                            <td>10 Years</td>
                            <td>105</td>
                        </tr>
                        <tr>
                            <td>Smith Andrew</td>
                            <td>Agriculture</td>
                            <td>GreenStore</td>
                            <td>Agricture Machinery</td>
                            <td>UGX 125,000</td>
                            <td>Rwanda</td>
                            <td>RWF</td>
                            <td>12 Years</td>
                            <td>25%</td>
                        </tr>
                        <tr>
                            <td>Willium</td>
                            <td>Agriculture</td>
                            <td>Access</td>
                            <td>Seeds Manufactre</td>
                            <td>KES 123,125,000</td>
                            <td>Kenya</td>
                            <td>USD</td>
                            <td>20 Years</td>
                            <td>90%</td>
                        </tr>
                        <tr>
                            <td>Renold James</td>
                            <td>Agriculture</td>
                            <td>EBF Builder</td>
                            <td>Apartments Constructions</td>
                            <td>USD 12,125,000</td>
                            <td>Tanzania</td>
                            <td>TZS</td>
                            <td>6 Years</td>
                            <td>50%</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

