<div class="pl10 pr10 tp-wrap">
    <h3 class="darkcolor clearfix pt5 pb5  border-bottom2x mb15">
        <div uib-dropdown class="display-inline-block custom-list valign-middle pull-right relative" >
            <a class="display-inline-block mt5 pl5 f14 sky-blue" uib-dropdown-toggle uib-tooltip="Filters">
                <i class="fa fa-filter"></i>
            </a>
            <ul class="dropdown-menu width150" uib-dropdown-menu="">
                <li><a href="javascript:;" ng-click="touchpointFilter('my_touchpoint');selectedDropdownValue='my_touchpoint'">My Touchpoints</a></li>
                <li><a href="javascript:;" ng-click="touchpointFilter('all_touchpoint');selectedDropdownValue='all_touchpoint'">All Touchpoints</a></li>
                <li><a href="javascript:;" ng-click="touchpointFilter('graded_touchpoint');selectedDropdownValue='graded_touchpoint'">Graded Touchpoint</a></li>
            </ul>
        </div>
        <span class="display-inline-block f14 bold pt5">{{'Touchpoint' | translate}}</span>
        <a ng-show="permission.touchpoints_add" class="pull-right add-button " uib-tooltip=""
           ng-click="togglePoint = !togglePoint; toogleText=togglePoint==true?'open':'closed'"
           n-t='{"e_n":"Create Touchpoint","e_d":"{{toogleText}} modal"}'><i
                class="fa fa-plus mr8"></i>Create Touchpoint</a>
        <div class="col-sm-12 p0 pt10" ng-show="selectedDropdownValue=='graded_touchpoint'?true:false">
            <div class="col-sm-6 form-group clearfix form-group-custom pl0">
                <label class="control-label">&nbsp;</label>
                <input
                        class="f12 pull-right p2 form-control"
                        type="text"
                        ng-init="touchpointSearch.activity_description=''"
                        name="touchpoint_search"
                        ng-model="touchpointSearch.activity_description"
                        placeholder="Search.."/>
            </div>
            <div class="col-sm-6 form-group clearfix form-group-custom pr0">
                <label class="control-label text-right">Grading *: </label>
                <select class="form-control"
                        ng-options="grade as grade for grade in grades"
                        name="grade"
                        ng-init="touchpointSearch.grade=''"
                        ng-change="touchpointSearch.grade=touchpointSearch.grade==null?'':touchpointSearch.grade"
                        ng-model="touchpointSearch.grade">
                    <option value="">All</option>
                </select>
            </div>
        </div>
    </h3>

    <div class="clearfix p0" ng-if="togglePoint">
        <form name="tpForm" novalidate>
            <div class="col-sm-12 mb10 bg-box clearfix">
                <!-- <h4 class="f14 text-capitalize darkcolor">{{'Add Touchpoint' | translate}}</h4>-->
                <div class="col-sm-5 p-l-0">
                    <div class="form-group clearfix form-group-custom">
                        <label class="control-label">Date *: </label>
                        <div class="input-group">
                            <input type="text" class="form-control white-bg" min-date="minDate" uib-datepicker-popup
                                   data-ng-model="postField.reminder_date" type="text" name="when" is-open="openCal"
                                   show-weeks="false" show-button-bar="false" readonly required/>
                          <span class="input-group-btn ">
                            <button type="button" class="btn btn-default border" ng-click="openCal = true">
                                <i class="fa fa-calendar"></i></button>
                          </span>
                        </div>
                        <div ng-if="tpForm.when.$error.required && tpForm.$submitted" class="error-message">
                            {{'Select Date' | translate}}
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 p-l-0">
                    <div class="form-group clearfix form-group-custom">
                        <label class="control-label">Touchpoint Type *: </label>
                        <select class="form-control"
                                ng-init="getTouchPointType()"
                                ng-options="touchPoint.id_crm_touch_point_type as touchPoint.crm_touch_point_type for touchPoint in touchPointTypeList"
                                name="crm_touch_point_type_id"
                                ng-model="postField.crm_touch_point_type_id" required>
                            <option value="">--{{'Select' | translate}}--</option>
                        </select>
                        <div ng-if="tpForm.crm_touch_point_type_id.$error.required && tpForm.$submitted"
                             class="error-message">
                            Select Type
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 p-l-0 p-r-0">
                    <div class="form-group clearfix form-group-custom">
                        <label class="control-label">Grade *: </label>
                        <select class="form-control"
                                ng-init="postField.grade='1'"
                                ng-options="grade as grade for grade in grades"
                                name="grade"
                                ng-model="postField.grade" required>
                        </select>
                        <div ng-if="tpForm.grade.$error.required && tpForm.$submitted"
                             class="error-message">
                            Select Grade
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 p0">
                    <div class="form-group">
                        <label class="control-label">{{'Description' | translate}} *: </label>
                    <textarea class="textarea-full display-block f12 p10" required
                              ng-model="postField.touch_point_description" name="touch_point_description"></textarea>
                        <div ng-if="tpForm.touch_point_description.$error.required && tpForm.$submitted"
                             class="error-message">
                            Enter Description
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 p0">
                    <!--  <div class="col-sm-6 p-l-0">
                          <label class="f12"><input type="checkbox" name="reminder" data-ng-model="postField.reminder"
                                                    class="mr4 valign-middle m-2"> {{'Set Reminder' | translate}}</label>
                      </div>-->
                    <div class="col-sm-12 text-right p-r-0">
                        <button type="submit" class="btn btn-primary f12 btn-dark border-none mr4"
                                ng-click="tpForm.$valid && touchPointSubmit(postField,tpForm)"
                                n-t='{"e_n":"Touchpoint - save","e_d":"", "form": "{{tpForm.$valid}}"}'>{{'Save' |
                            translate}}
                        </button>
                        <button type="button" class="btn btn-primary lt-bg f12 border-none"
                                data-ng-click="resetForm(tpForm);$parent.togglePoint = false"
                                n-t='{"e_n":"Touchpoint - Cancel","e_d":"close touch point model"}'>{{'Cancel' | translate}}
                        </button>
                    </div>

                </div>

            </div>
        </form>
    </div>
    <div class="t-tabs tabs-wrap clearfix">
        <div class="t-tab-content" ng-scrollbars win-height wh-offset="250">
                <div class="t-box" ng-repeat="touchPointsTypes in touchPointsList | filter: touchpointSearch" icon-alltouchpoints-types
                 data-tuchpointType="{{touchPointsTypes.activity_type}}"
                 data-isremainder="{{touchPointsTypes.activity_reminder}}">
                <div class="t-box-top p0">
                     <div class="t-icon">
                        <span class=""><i class="f20"></i> </span>
                    </div>
                    <div class="t-content clearfix">
                        <h4 class=" mb5 clearfix f12 dark-blue ">
                            <i uib-tooltip="Delete" class="fa fa-trash-o pull-right cursor-pointer" ng-click="deleteTouchpoint(touchPointsTypes.touch_point_id)" ng-if="touchPointsTypes.activity_type=='touch_point' &&  touchPointsTypes.created_by==userId"></i>

                            <span class=" word-break p0 pt2 ">{{touchPointsTypes.activity_name}} </span><span class=" word-break p0 pt2 font-italic ash f11" ng-if="touchPointsTypes.grade>0">  (Grade {{touchPointsTypes.grade}})</span>

                        </h4>
                        <p class="f12 darkcolor"
                           ng-bind-html="touchPointsTypes.activity_description" text-line></p>
                    </div>
                </div>
                <div class="t-box-bottom clearfix">
                    <div class="col-sm-12 p0">
                        <span class=" text-capitalize col-sm-6 pr0 sky-blue f12 pl0">{{touchPointsTypes.activity_created_by}}</span>
                        <p class="col-sm-6 f11 pl0 ash text-right pr0 pt2 mb0">{{touchPointsTypes.activity_date_time |  utcToLocal }}
                            <!--- <span class="ash">2 Hours taken</span>--></p>
                    </div>
                </div>
            </div>
            <div class="text-center clearfix">
                <div id="touchpoint_loader" class="text-center display-block">
                    <img src="images/loader2.gif" width="25" height="25" alt="LOADING...">
                </div>
                <button ng-if="(touchPointsList | filter: touchpointSearch).length >5" class="btn btn-dark f12 border-none mr4 mb5"
                        ng-click="loadMore()"
                        ng-show="loadMoreShow"
                        n-t='{"e_n":"Touchpoint - Load More","e_d":"Touch points"}'>Load More
                </button>
            </div>
        </div>
    </div>
</div>
