<div class="right-header p15 border-bottom">
    <h3 class="darkcolor clearfix text-capitalize">
        <span class="display-inline-block f14 bold pt5">{{'Touchpoint' | translate}}</span>
        <a ng-show="permission.touchpoints_add" class="pull-right" ng-click="togglePoint = !togglePoint; toogleText=togglePoint==true?'open':'closed'"
           n-t='{"e_n":"Touchpoint Add","e_d":"{{toogleText}} modal"}'><i
                class="icon-plus-circle f21 sky-blue"></i> </a>
    </h3>
</div>
<div class="right-content p0">
    <!-- <div class="width220 mb20">
         <select class="form-control">
             <option>Filter By</option>
             <option>1</option>
             <option>1</option>
         </select>
     </div>-->
    <form name="form" novalidate>
        <div class="col-sm-12 mb10 bg-box clearfix" ng-show="togglePoint">
            <h4 class="f14 text-capitalize darkcolor">{{'Add Touchpoint' | translate}}</h4>
            <div class="col-sm-6 p-l-0">
                <div class="form-group clearfix form-group-custom">
                    <label class="control-label">Date *: </label>
                    <div class="input-group">
                        <input type="text" class="form-control white-bg" min-date="minDate" uib-datepicker-popup
                               data-ng-model="postField.reminder_date" type="text" name="when" is-open="openCal"
                               show-weeks="false" show-button-bar="false" readonly required/>
                          <span class="input-group-btn ">
                            <button type="button" class="btn btn-default border" ng-click="openCal = true">
                                <i class="fa fa-calendar"></i></button>
                          </span>
                    </div>
                    <div ng-if="form.reminder_date.$error.required && submitStatus" class="error-message">{{'Select Date & Time' | translate}}.
                    </div>
                </div>
            </div>
            <div class="col-sm-6 p-r-0">
                <div class="form-group clearfix form-group-custom">
                    <label class="control-label">Touchpoint Type *: </label>
                    <select class="form-control"
                            ng-options="touchPoint.id_crm_touch_point_type as touchPoint.crm_touch_point_type for touchPoint in touchPointTypeList"
                            name="crm_touch_point_type_id"
                            ng-model="postField.crm_touch_point_type_id" required>
                        <option value="">--{{'Select' | translate}}--</option>
                    </select>
                    <div ng-if="form.crm_touch_point_type_id.$error.required && submitStatus" class="error-message">
                        Select Touchpoint.
                    </div>
                </div>
            </div>
            <div class="col-sm-12 p0">
                <div class="form-group">
                    <label class="control-label">{{'Description' | translate}} *: </label>
                    <textarea class="textarea-full display-block f12 p10" required
                              ng-model="postField.touch_point_description" name="touch_point_description"></textarea>
                    <div ng-if="form.touch_point_description.$error.required && submitStatus" class="error-message">
                        Enter Description.
                    </div>
                </div>
            </div>
            <div class="col-sm-12 p0">
                <div class="col-sm-6 p-l-0">
                    <label class="f12"><input type="checkbox" name="reminder" data-ng-model="postField.reminder"
                                              class="mr4 valign-middle m-2"> {{'Set Reminder' | translate}}</label>
                </div>
                <div class="col-sm-6 text-right p-r-0">
                    <button type="button" class="btn btn-primary f12 btn-dark border-none mr4"
                            ng-click="submit(postField,form)"
                            n-t='{"e_n":"Touchpoint - save","e_d":""}'>{{'Save' | translate}}
                    </button>
                    <button type="button" class="btn btn-primary lt-bg f12 border-none"
                            data-ng-click="togglePoint = false"
                            n-t='{"e_n":"Touchpoint - Cancel","e_d":""}'>{{'Cancel' | translate}}
                    </button>
                </div>

            </div>

        </div>
    </form>
    <div class="pl10 pr10 tp-wrap">
        <div class="t-tabs tabs-wrap">
            <uib-tabset justified="true">
                <uib-tab heading="{{'All' | translate}}">
                    <div class="t-tab-content scroll-div-wrap-parent" parent-scroll>
                        <div class="t-box" ng-repeat="touchPointsTypes in touchPointsList" icon-alltouchpoints-types
                             data-tuchpointType="{{touchPointsTypes.activity_type}}"
                             data-isremainder="{{touchPointsTypes.activity_reminder}}">
                            <div class="t-box-top p0">
                                <div class="t-icon">
                                    <span class=""><i></i> </span>
                                </div>
                                <div class="t-content clearfix">
                                    <h4 class="text-capitalize mb5 clearfix f12 darkcolor">
                                        <span class=" col-sm-12 word-break p0 pt2">{{touchPointsTypes.activity_name}}</span>

                                    </h4>
                                    <p class="f12 darkcolor"
                                       ng-bind-html="touchPointsTypes.activity_description | ellipsis:100"></p>
                                </div>
                            </div>
                            <div class="t-box-bottom clearfix">
                                <div class="col-sm-12 p0">
                                    <span class=" text-capitalize col-sm-6 pr0 sky-blue f12 pl0">{{touchPointsTypes.activity_created_by}}</span>
                                    <p class="col-sm-6 f11 pl5 ash text-right pr0 pt2 mb0">{{touchPointsTypes.activity_date_time | utcToLocal }}
                                        <!--- <span class="ash">2 Hours taken</span>--></p>
                                </div>
                            </div>
                        </div>
                        <div class="text-center clearfix">
                            <button class="btn btn-dark f12 border-none mr4" ng-click="loadMore()"
                                    ng-show="loadMoreShow"
                                    n-t='{"e_n":"Touchpoint - Load More","e_d":""}'>Load More
                            </button>
                        </div>
                    </div>
                </uib-tab>
                <uib-tab heading="Work flow" ng-show="tabShow">
                    <any ng-if="projectDetails.project_stage_info_id" ng-init="getProjectStageWorkflow(projectDetails.project_stage_info_id)" ng-show="stageWorkFlow.length>0">
                        <div class="col-sm-12 white-bg p0 pb10 mb10 border" parent-scroll>
                            <div class="col-sm-12 border-bottom p10 pb5 pt5 pl15 " ng-repeat="w in stageWorkFlow" >
                                <div class="col-sm-10 p0 lh13 darkcolor">
                                    <h6 class="f14 darkcolor">{{stageWorkFlow.length-($index)}}. {{w.from_phase_name |
                                        uppercase}}</h6>
                                    <p class="pl10"><label class="darkcolor f11">{{w.from_user_name}}</label>
                                        <label class="label-text f10">{{w.action}} </label>
                                        <any ng-show="w.to_phase_name">
                                            <label class="label-text f10"> to</label>
                                            <label class="darkcolor f11">{{w.to_phase_name}} ({{w.to_user_name}})</label>
                                        </any>
                                        <label class="darkcolor f11">on {{w.created_date_time | utcToLocal:'date'}} </label>
                                        <label class="label-text f10">Time taken : </label>
                                        <label class="darkcolor f12 bold">
                                            <any ng-if="!w.days || w.days==0 ">Less then a day</any>
                                            <any ng-if="w.days==1">{{w.days}} day</any>
                                            <any ng-if="w.days>1">{{w.days}} days</any>
                                        </label></p>
                                </div>
                                <div class="col-sm-2 pr0">
                                    <a href="" class="green display-block "><i class="" work-status="{{w.action}}"></i></a>
                                    <a href="javascript:;" ng-click="$parent.comment_wrap=!$parent.comment_wrap" class="sky-blue display-block" uib-tooltip="View comments"><i class=" icon-clipped-file"></i></a>
                                </div>
                            </div>
                            <!--     <div class="col-sm-12 border-bottom pb10 pt5">
                                     <div class="col-sm-10 p0 darkcolor">
                                         <h6 class="f14">2.0 ENQUIRY/APPLICATIONS</h6>
                                         <p class="pl20">Forwarded to Next Level</p>
                                         <p class="pl20">by James Smith</p>
                                         <p class="pl20">01 July, 2016</p>
                                         <p class="pl20">No. of days: <strong>2 days</strong></p>
                                     </div>
                                     <div class="col-sm-2 pr0">
                                         <a href="" class="red display-block ml3"><i class=" icon-times-square"></i></a>
                                         <a href="" class="sky-blue display-block f24"><i class=" icon-clipped-file"></i></a>
                                     </div>
                                 </div>
                                 <div class="col-sm-12 border-bottom ptb10">
                                     <h6 class="f14 text-capitalize ash">3.0 Concept Note Sent for review</h6>
                                 </div>
                                 <div class="col-sm-12 border-bottom ptb10">
                                     <h6 class="f14 text-capitalize ash">4.0 review by Legal</h6>
                                 </div>
                                 <div class="col-sm-12 border-bottom ptb10">
                                     <h6 class="f14 text-capitalize ash">4.1 Risk</h6>
                                 </div>
                                 <div class="col-sm-12 border-bottom ptb10">
                                     <h6 class="f14 text-capitalize ash">4.2 Treasury</h6>
                                 </div>
                                 <div class="col-sm-12 pt10">
                                     <h6 class="f14 text-capitalize ash">4.3 Environmental Specialist</h6>
                                 </div>-->
                        </div>
                    </any>
                </uib-tab>
                <uib-tab heading="Tasks" ng-show="tabShow">
                </uib-tab>
                <uib-tab heading="Notifications" ng-show="tabShow">
                </uib-tab>
            </uib-tabset>
        </div>

    </div>
</div>
