<div class="right-modal modal-custom" data-modal="addtasks" oc-lazy-load="attachment">
    <h3 class="right-modal-head clearfix">
        <div class="col-sm-6 p-l-0 mt5" ng-if="currentView=='create'">
            <i class="icon-tasks2 mr8"></i> {{'Tasks' | translate}}
        </div>
        <div class="col-sm-10 p-l-0 mt5" ng-if="currentView != 'create' && currentView != 'risk'">
            <i class="icon-tasks2  mr8"></i> {{task.task_name}}
            <span class="pull-right">
            <span class="f12 label font-normal text-capitalize plr" task-status-bg bgcolor="{{task.task_status}}">{{task.task_status}}</span>
            </span>
        </div>
        <div class="col-sm-6 p-l-0 mt5" ng-if="currentView=='risk'">
            <i class="icon-tasks2 mr8"></i> {{'Risk' | translate}}
        </div>

        <a ng-click="cancel()" class="close-right pull-right mt5" uib-tooltip="Close"
           n-t='{"e_n":"Project Task - Close {{currentView}} Task","e_d":"Task"}'><img src="images/close.png"></a>
    </h3>
    <form class="form-horizontal form-bordered" name="form" novalidate>
        <!--ng-show="taskList"-->
        <div class="clearfix tasks-list mb20" ng-if="currentView=='create' || currentView=='edit' ">
            <div class="col-sm-12 p0">
                <div class="form-group col-sm-12">
                    <label class="control-label">{{'Title' | translate}} *:</label>

                    <div class="form-input">
                        <input type="text" name="task_name" ng-model="task.task_name" class="form-control" required>
                    </div>
                    <div ng-if="form.task_name.$error.required && form.$submitted" class="error-message">
                        {{'Enter Task Name' | translate}}
                    </div>
                </div>

                <div class="form-group col-sm-12">
                    <label class="control-label">Description *:</label>

                    <div class="form-input textarea-height">
                        <textarea class="width-full  form-control min-height70 p10 f12" name="task_description"
                                  ng-model="task.task_description"
                                  required></textarea>
                    </div>
                    <div ng-if="form.task_description.$error.required && form.$submitted" class="error-message">Enter
                        Task
                        Description
                    </div>
                </div>

                <div class="form-group col-sm-6">
                    <label class="control-label">Due Date *:</label>

                    <div class="input-group">
                        <input type="text" class="form-control pt5" uib-datepicker-popup="yyyy-MM-dd"
                               name="task_due_date"
                               ng-model="task.task_due_date" is-open="openCal" ng-init="openCal=false"
                               show-weeks="false" show-button-bar="false" required readonly/>
                          <span class="input-group-btn">
                            <button type="button" class="btn btn-default border" ng-click="openCal = true">
                                <i class="fa fa-calendar"></i></button>
                          </span>
                    </div>
                    <div ng-if="form.task_due_date.$error.required && form.$submitted" class="error-message">
                        {{'Select Due Time' | translate}}
                    </div>

                </div>
                <div class="form-group col-sm-6">
                    <label class="control-label">Assign To :*</label>
                    <div class="form-group clearfix form-group-custom">
                        <select multiple chosen class="chosen-select"
                                ng-init="getUserList()"
                                data-placeholder="Search by Name"
                                ng-options='user.id_user as (user.first_name +" "+user.last_name) for user in companyUsers'
                                name="assigned_to" ng-model="task.member" required>
                        </select>
                    </div>
                    <div ng-if="form.assigned_to.$error.required && form.$submitted" class="error-message">
                        {{'Field is mandatory' | translate}}
                    </div>
                </div>
            </div>

            <div class="col-sm-12 p10">
                <attachment-files ng-model="task.file.attachment"></attachment-files>
            </div>
            <div class="form-input file-attachments col-sm-12">
                <attachment-list-template get-data="task.attachment"></attachment-list-template>
            </div>

            <div class="col-sm-12 text-center mt10">
                <button class="btn btn-primary f12 btn-dark border-none mr4" type="submit"
                        ng-click="saveTask(task,form)"
                        n-t='{"e_n":"Project Task - Save","e_d":"Task"}'>Save
                </button>
                <button type="button" class="btn btn-primary lt-bg f12 border-none" ng-click="cancel()"
                        n-t='{"e_n":"Project Task - Cancel","e_d":"Task"}'>{{'Cancel' | translate}}
                </button>
            </div>
        </div>
        <div class="view-state col-sm-12 pb20 clerfix" ng-if="currentView=='view'">
            <div class="view-content clearfix">
                <div class="view-group col-sm-12 p0 mt10">
                    <div class="gray col-sm-4 p0 f14">
                        <span class="icon-calendar1 mr4 darkcolor f14" uib-tooltip="{{'Due Date' | translate}}"></span>
                        {{task.task_due_date}}
                    </div>
                    <div class="col-sm-4 p0 f14">
                        <span class="icon-user darkcolor mr4 " uib-tooltip="{{'Assigned To' | translate}}"></span>
                        <span class="f12">{{task.user_name}}</span>
                    </div>
                </div>
                <div class="view-group col-sm-12 p0 mb5">
                    <div class="t-list">
                        <label class="f13 mb3 darkcolor mr4">{{'Description' | translate}}:</label>
                        <div class="form-input">
                            <p class="f12 mb3">{{task.task_description}}</p>
                        </div>
                    </div>
                </div>
                <div class="view-group col-sm-12 p0 mb5" ng-if="task.comment">
                    <div class="t-list">
                        <label class="f13 mb3 darkcolor mr4">{{'comment' | translate}}:</label>
                        <div class="form-input">
                            <p class="f12 mb3">{{task.comment}}</p>
                        </div>
                    </div>
                </div>
                <div class="view-group col-sm-12 mb5 p0">
                    <attachment-list-template get-data="task.attachment"></attachment-list-template>
                </div>
            </div>
        </div>
        <div class="view-state col-sm-12 pb20 clerfix" ng-if="currentView=='complete'">
            <div class="view-content clearfix">
                <div class="view-group col-sm-12 p0 mt10">
                    <div class="gray col-sm-4 p0 f14">
                        <span class="icon-calendar1 mr4 darkcolor f14" uib-tooltip="{{'Due Date' | translate}}"></span>
                        {{task.task_due_date}}
                        <!--<div class="form-input">
                            <p class="f12"></p>
                        </div>-->
                    </div>
                    <div class="col-sm-4 p0 f14">
                        <span class="icon-user darkcolor mr4 " uib-tooltip="{{'Assigned To' | translate}}"></span>
                        <span class="f12">{{task.user_name}}</span>
                    </div>
                </div>
                <div class="view-group col-sm-12 p0 mb5">
                    <div class="t-list">
                        <label class="f13 mb3 darkcolor mr4">{{'Description' | translate}}:</label>
                        <div class="form-input">
                            <p class="f12 mb3">{{task.task_description}}</p>
                        </div>
                    </div>
                </div>
                <div class="view-group col-sm-12  mb5 p0">
                    <attachment-list-template get-data="task.attachment"></attachment-list-template>
                </div>
                <div class="form-group col-sm-12 p0">
                    <label class="control-label">Comment *:</label>

                    <div class="form-input textarea-height">
                        <textarea class="width-full  form-control min-height70 p10 f12" name="comment"
                                  ng-model="task.comment"
                                  required></textarea>
                    </div>
                    <div ng-if="form.comment.$error.required && form.$submitted" class="error-message">Enter Task
                        Description
                    </div>
                </div>


                <div class="col-sm-12 p0">
                    <attachment-files ng-model="task.file.attachment"></attachment-files>
                </div>

                <div class="col-sm-12 text-center mt10 mb10">
                    <button class="btn btn-success mr8 f12"
                            n-t='{"e_n":"Project Task - Task completed","e_d":""}'
                            ng-click="saveTask(task,form,'completed')">{{'Complete Task' | translate}}
                    </button>
                    <!--<button class="btn btn-primary lt-bg f12 border-none"
                            ng-click="deleteTask(task.id_task)">Delete
                    </button>-->
                </div>
            </div>
        </div>
        <div class="clearfix tasks-list mb20" ng-if="currentView=='risk'">
            <div class="col-sm-12 p0">
                <div class="form-group col-sm-12">
                    <label class="control-label">{{'Title' | translate}} *:</label>

                    <div class="form-input">
                        <input type="text" name="task_name" ng-model="task.task_name" class="form-control" required>
                    </div>
                    <div ng-if="form.task_name.$error.required && form.$submitted" class="error-message">
                        {{'Enter Task Name' | translate}}
                    </div>
                </div>

                <div class="form-group col-sm-12">
                    <label class="control-label">Description *:</label>

                    <div class="form-input textarea-height">
                        <textarea class="width-full  form-control min-height70 p10 f12" name="task_description"
                                  ng-model="task.task_description"
                                  required></textarea>
                    </div>
                    <div ng-if="form.task_description.$error.required && form.$submitted" class="error-message">Enter
                        Task
                        Description
                    </div>
                </div>

                <div class="form-group col-sm-6">
                    <label class="control-label">Due Date *:</label>

                    <div class="input-group">
                        <input type="text" class="form-control pt5" uib-datepicker-popup="yyyy-MM-dd"
                               name="task_due_date"
                               ng-model="task.task_due_date" is-open="openCal" ng-init="openCal=false"
                               show-weeks="false" show-button-bar="false" required readonly/>
                          <span class="input-group-btn">
                            <button type="button" class="btn btn-default border" ng-click="openCal = true">
                                <i class="fa fa-calendar"></i></button>
                          </span>
                    </div>
                    <div ng-if="form.task_due_date.$error.required && form.$submitted" class="error-message">
                        {{'Select Due Time' | translate}}
                    </div>

                </div>
                <div class="form-group col-sm-6">
                    <label class="control-label">Assign To :</label>
                    <div class="form-group clearfix form-group-custom">
                        <select multiple chosen class="chosen-select"
                                ng-init="getUserList()"
                                data-placeholder="Search by Name"
                                ng-options='user.id_user as (user.first_name +" "+user.last_name) for user in companyUsers'
                                name="assigned_to" ng-model="task.member">
                        </select>
                    </div>
                    <div ng-if="form.assigned_to.$error.required && form.$submitted" class="error-message">
                        {{'Select Assign To' | translate}}
                    </div>
                </div>
            </div>

            <div class="col-sm-12 p10">
                <attachment-files ng-model="task.file.attachment"></attachment-files>
            </div>
            <div class="form-input file-attachments col-sm-12">
                <attachment-list-template get-data="task.attachment"></attachment-list-template>
            </div>

            <div class="col-sm-12 text-center mt10">
                <button class="btn btn-primary f12 btn-dark border-none mr4" type="submit"
                        ng-click="saveTask(task,form)"
                        n-t='{"e_n":"Project Task - Save","e_d":"Risk"}'>Save
                </button>
                <button type="button" class="btn btn-primary lt-bg f12 border-none" ng-click="cancel()"
                        n-t='{"e_n":"Project Task - Cancel","e_d":"Risk"}'>{{'Cancel' | translate}}
                </button>
            </div>
        </div>
    </form>
</div>


<!--<div class="list-wrapper clearfix" ng-switch-default="List">

    <ul>
        <li class="clearfix border-none mb5 lt-bg pad0">
            <div class="col-sm-3 text-overflow">
                <label class="f14 white-color mt5">{{'Title' | translate}} </label>
            </div>
            <div class="col-sm-3 text-overflow">
                <label class="f14 white-color mt5 ">{{'Assigned To' | translate}}</label>
            </div>
            <div class="col-sm-2 p0">
                <label class="f14 white-color mt5">{{'Due Date' | translate}}</label>
            </div>
            <div class="col-sm-2 text-center">
                <label class="f14 white-color mt5">{{'Status' | translate}}</label>
            </div>
            <div class="col-sm-2">

            </div>
        </li>
    </ul>
    <div id="task_loader2" class="text-center" ng-show="taskLoading">
        <img src="images/loader2.gif" width="25" height="25" alt="LOADING...">
    </div>
    <ul>
        <li class="clearfix" ng-repeat="row in taskDetails">
            <div class="col-sm-3 text-overflow">
                <label class="f12 text-line" title="{{row.task_name}}">{{row.task_name}} </label>
            </div>
            <div class="col-sm-3 text-overflow">
                <label class="f12 text-line" title="{{row.user_name}}">{{row.user_name}} </label>
            </div>
            <div class="col-sm-2 p0 m-4">
                <label class="f12" ng-bind="row.task_due_date | date:'mediumDate'"></label>
            </div>
            <div class="col-sm-2 text-center m-4">
                <button class="btn btn-xs-custom border-none white-color f12 text-capitalize" task-status-bg bgcolor="{{row.task_status}}" >{{row.task_status}}
                </button>
            </div>
            <div class="col-sm-2 text-center m-4">
                &lt;!&ndash;ng-click="showDetailtaskList = !showDetailtaskList" ng-show="showDetailtaskList"&ndash;&gt;
                <a href="javascript:;" uib-tooltip="View" ng-click="viewTask(row.id_task)"
                   n-t='{"e_n":"Project Task - View","e_d":"{{row.task_name}}"}'><i class="fa fa-eye mr8"></i> </a>
                <a  href="javascript:;" uib-tooltip="Edit"
                   n-t='{"e_n":"Project Task - Edit","e_d":"{{row.task_name}}"}' ng-click="editTask(row.id_task)"><i class="fa fa-pencil mr8"></i> </a>
                <a  href="javascript:;"
                   n-t='{"e_n":"Project Task - Delete","e_d":"{{row.task_name}}"}' uib-tooltip="Delete" ng-click="deleteTask(row.id_task)"><i class="fa fa-trash"></i> </a>
            </div>
            &lt;!&ndash;<div class="col-sm-12 clearfix tasks-view" data-ng-if="showDetailtaskList" ng-click="showViewTask($index)" ng-show="$index == showIndex"  >
                <a href="javascript:;" class="close-right pull-right mr8" ng-click="closeViewTask()"><img src="images/close.png"> </a>
                <div class="form-group col-sm-12 mb0">
                    <label>Task Name:</label>
                    <div class="form-input">
                        <p class="f12">{{row.task_name}}</p>
                    </div>

                </div>
                <div class="form-group col-sm-12 mb0">
                    <label>Description:</label>
                    <div class="form-input">
                        <p class="f12">{{row.task_description}}</p>
                    </div>

                </div>
                <div class="form-group col-sm-6 mb0">
                    <label>Due Date:</label>
                    <p class="f12">{{row.tast_due_date}}</p>

                </div>
                <div class="form-group col-sm-6 mb0">
                    <label>Assigned To:</label>
                    <div class="form-input">
                        <p class="f12">{{row.user_name}}</p>
                    </div>
                </div>
                <div class="col-sm-12 text-center mt20">
                    <button class="btn btn-primary f12 mr8">Completed</button>
                    <button class="btn btn-primary f12 lt-bg border-none">Cancel</button>
                </div>
            </div>

        </li>
        <li class="clearfix">
            <div class="col-sm-3 text-overflow">
                <label class="f12">Task name </label>
            </div>
            <div class="col-sm-3 text-overflow">
                <label class="f12 ">Ramesh </label>
            </div>
            <div class="col-sm-2 p0 m-4">
                <label class="f12">2016-01-25</label>
            </div>
            <div class="col-sm-2 text-center m-4">
                <button class="btn btn-danger btn-xs-custom border-none white-color f12">Pending</button>
            </div>
            <div class="col-sm-2 text-center m-4">
                <a href="javascript:;"><i class="fa fa-eye mr8"></i> </a>
                <a href="javascript:;"><i class="fa fa-pencil mr8"></i> </a>
            </div>
        </li>
        <li class="clearfix">
            <div class="col-sm-3 text-overflow">
                <label class="f12">Task name </label>
            </div>
            <div class="col-sm-3 text-overflow">
                <label class="f12 ">Ramesh </label>
            </div>
            <div class="col-sm-2 p0 m-4">
                <label class="f12">2016-01-25</label>
            </div>
            <div class="col-sm-2 text-center m-4">
                <button class="btn btn-success btn-xs-custom border-none white-color f12">Completed</button>
            </div>
            <div class="col-sm-2 text-center m-4">
                <a href="javascript:;"><i class="fa fa-eye mr8"></i> </a>
                <a href="javascript:;"><i class="fa fa-pencil mr8"></i> </a>
            </div>&ndash;&gt;
        </li>


    </ul>
</div>-->