<div class="table-wrapper no-bg pt0  plr20">
    <table class="table-list-view table c-table table-hover table-style" st-pipe="tasksList" st-table="taskDetails">
        <thead>
        <tr>
            <td colspan="8" class="pad0 border-bottom header-list-div">
                <div class="col-sm-6 p0">
                </div>
                <div uib-dropdown class="display-inline-block custom-list valign-middle pull-right relative mt15">
                    <a class="display-inline-block mt5 pl5 f14 sky-blue" uib-dropdown-toggle uib-tooltip="Filters">
                        <i class="fa fa-filter"></i>
                    </a>
                    <ul class="dropdown-menu width150" uib-dropdown-menu="">
                        <li><a href="javascript:;" st-search="f_type" st-input-event="click"
                               ng-click="f_type='my_task'">My Tasks </a></li>
                        <li><a href="javascript:;" st-search="f_type" st-input-event="click"
                               ng-click="f_type='due_task'">Due Task </a></li>
                        <li><a href="javascript:;" st-search="f_type" st-input-event="click"
                               ng-click="f_type='upcoming_task'">Upcoming Task </a></li>
                    </ul>
                </div>
                <div class="col-sm-2 p0 pt20 w100 pull-right">
                    <a ng-if="permission.task_add" href="javascript:;" class="pull-right add-button"
                       ng-click="addTasksModal()"
                       n-t='{"e_n":"Add Task","e_d":"Task list, task add model"}'>
                        <i class="fa fa-plus"></i>Create Task
                    </a>
                </div>
                <div class="col-sm-4 p0 mt5 pull-right">
                    <div class="action-head mb0">
                        <div class="table-search pull-left width-full">
                            <input type="text" class="form-control" placeholder="Search...."
                                   st-search="search_key">
                            <i class="fa icon-search"></i>
                        </div>
                    </div>
                </div>

            </td>
        </tr>
        <tr>
            <th></th>
            <th>Name</th>
            <th>Assigned To</th>
            <th>Due Date</th>
            <th>Created By</th>
            <th>Task Type</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody class="hierarchical_slide" hierarchical-slide>
        <tr id="task_module_loader">
            <td colspan="8">
                <div class="text-center display-block">
                    <img src="images/loader2.gif" width="25" height="25" alt="LOADING...">
                </div>
            </td>
        </tr>
        <tr ng-repeat="task in taskDetails">
            <td class="img"><span first-alpha="{{task.task_name}}"></span></td>
            <td>
                <span class="label-text p0 display-block text-line"
                      title="{{task.task_name}}">{{task.task_name}} </span>
            </td>
            <td>
                <span class="label-text display-block text-line">{{task.user_name | checkEmpty }} </span>
            </td>
            <td>
                <span class="label-text display-block"> {{task.task_due_date | utcToLocal:'date'}} </span>
            </td>
            <td>
                <span class="label-text display-block">{{task.created_by_name}}</span>
                <label>{{task.created_date_time | utcToLocal:'date'}}</label>
            </td>
            <td>
                <span class="label-text display-block">{{task.module_type | capitalize}}</span>
                <label>{{task.title}}</label>
            </td>
            <td>
                <span class="f11" label-status="{{task.task_status}}">{{task.task_status|capitalize}}</span>
            </td>
            <td>
                <div class="display-inline-block custom-list valign-middle pull-right relative mt5" uib-dropdown
                     ng-if="task.created_by == userId || assignedUser(task.assigned_to)">
                    <a href="javascript:;" class="menu-toggle dropdown-toggle" uib-dropdown-toggle><i
                            class="fa fa-ellipsis-v f21"></i></a>
                    <ul class="dropdown-menu width150" uib-dropdown-menu>
                        <li ng-if="permission.task_view">
                            <a href="javascript:;" class="darkcolor" ng-click="addTasksModal(task.id_task,'view')"
                               n-t='{"e_n":"Add Task","e_d":"Task - {{task.title}} - task add model"}'>
                                View Task
                            </a>
                        </li>
                        <li ng-if="permission.task_edit && task.created_by == userId && task.task_status == 'pending'">
                            <a href="javascript:;" class="darkcolor" ng-click="addTasksModal(task.id_task,'edit')"
                               n-t='{"e_n":"Edit Task","e_d":"Task - {{task.title}} - task edit model"}'>
                                Edit Task
                            </a>
                        </li>
                        <li ng-if="permission.task_complete && task.created_by == userId && task.task_status == 'pending'">
                            <a href="javascript:;" class="darkcolor" ng-click="addTasksModal(task.id_task,'complete')"
                               n-t='{"e_n":"Completed Task View","e_d":"Task - {{task.title}} - task complete"}'>
                                Complete Task
                            </a>
                        </li>

                        <li ng-if="permission.task_delete && task.created_by == userId && task.task_status == 'pending'">
                            <a href="javascript:;" class="darkcolor" ng-click="deleteTask(task.id_task)"
                               n-t='{"e_n":"Delete Task","e_d":"Task - {{task.title}} - task delete"}'>
                                Delete Task
                            </a>
                        </li>
                    </ul>
                </div>
            </td>
        </tr>
        </tbody>
        <tbody ng-show="isEmptyRow">
            <tr>
                <td colspan="9" class="empty-table">
                    <p class="12">No Data Available</p>
                </td>
            </tr>
        </tbody>
        <tfoot>
        <tr>
            <td colspan="8" class="text-center">
                <div st-items-by-page="10" st-pagination st-template="partials/list-pagination.custom.html"
                     class="pull-right"></div>
            </td>
        </tr>
        </tfoot>
    </table>
</div>