<div st-table="taskDetails" st-pipe="tasksList">
    <h3 class="darkcolor clearfix pt5 pb5 border-bottom2x mb15">
    <span class="display-inline-block f14 bold pt5">Tasks <span class="sky-blue bold"></span>
    </span>
        <div uib-dropdown class="display-inline-block custom-list valign-middle pull-right relative">
            <a class="display-inline-block mt5 pl5 f14 sky-blue" uib-dropdown-toggle uib-tooltip="Filters">
                <i class="fa fa-filter"></i>
            </a>
            <ul class="dropdown-menu width150" uib-dropdown-menu="">
                <li><a href="javascript:;" st-search="f_type" st-input-event="click" ng-click="f_type='all_task'">All Tasks</a></li>
                <li><a href="javascript:;" st-search="f_type" st-input-event="click" ng-click="f_type='my_task'">My Tasks </a></li>
                <li><a href="javascript:;" st-search="f_type" st-input-event="click" ng-click="f_type='due_task'">Due Task </a></li>
                <li><a href="javascript:;" st-search="f_type" st-input-event="click" ng-click="f_type='upcoming_task'">Upcoming Task </a></li>
            </ul>
        </div>
        <a href="javascript:;"  class="pull-right add-button" ng-click="addTasksModal()"
           n-t='{"e_n":"Add Task modal","e_d":"Task list"}'>
            <i class="fa fa-plus"></i>Create Task
        </a>
        <input class="f12 pull-right p2 mr8" st-search="search_key" type="text" placeholder="Search" ng-model="search_task"/>
    </h3>
    <div ng-scrollbars win-height wh-offset="200">
        <div class="text-center clearfix" ng-show="nodata">
            <p class="f12">No Task available</p>
        </div>
        <div class="meeting-inv-wrap text-center clearfix" ng-show="!nodata" ng-repeat="task in taskDetails">
            <h6 class="f12 dark-blue">{{task.task_name}}
                <div class="display-inline-block custom-list valign-middle pull-right relative -mt2 " uib-dropdown
                     ng-if="task.created_by == userId || assignedUser(task.assigned_to)">
                    <a href="javascript:;" class="menu-toggle dropdown-toggle" uib-dropdown-toggle>
                        <i class="fa fa-ellipsis-v f21"></i></a>
                    <ul class="dropdown-menu width150" uib-dropdown-menu>
                        <li>
                            <a href="javascript:;" class="darkcolor" ng-click="addTasksModal(task.id_task,'view')"
                               n-t='{"e_n":"View Task","e_d":"Task - {{task.task_name}}"}'>
                                View Task
                            </a>
                        </li>
                        <li ng-if="task.created_by == userId && task.task_status == 'pending'">
                            <a href="javascript:;" class="darkcolor" ng-click="addTasksModal(task.id_task,'edit')"
                               n-t='{"e_n":"Edit Task","e_d":"Task - {{task.task_name}}"}'>
                                Edit Task
                            </a>
                        </li>
                        <li ng-if="task.created_by == userId && task.task_status == 'pending'">
                            <a href="javascript:;" class="darkcolor" ng-click="addTasksModal(task.id_task,'complete')"
                               n-t='{"e_n":"Complete Task","e_d":"Task - {{task.task_name}}"}'>
                                Complete Task
                            </a>
                        </li>

                        <li ng-if="task.created_by == userId && task.task_status == 'pending' ">
                            <a href="javascript:;" class="darkcolor" ng-click="deleteTask(task.id_task)"
                               n-t='{"e_n":"Delete Task","e_d":"Task - {{task.task_name}}"}'>
                                Delete Task
                            </a>
                        </li>
                    </ul>
                </div>
         <span class="meeting-inv-wrap-status pull-right" label-status="{{task.task_status}}">{{task.task_status | uppercase}}
        </span>
            </h6>
            <div class="meeting-inv-wrap-body">
                <div class="gray clearfix">
                    <span class="icon-calendar1 pull-left mr8 darkcolor f14" uib-tooltip="Date"></span>
                    {{task.task_due_date | date:'mediumDate'}}

                <!-- <a class="pull-right tpoint-actions" ng-click="addTasksModal(task.id_task,'view')">
                     <span class="fa fa-eye"></span>
                 </a>-->
            </div>
            <div class="darkcolor clearfix" text-line><span class="icon-info pull-left mr8 f14" uib-tooltip="Description"></span>
                {{task.task_description}}

            </div>
            <div class="sky-blue clearfix">
                <span class="icon-users2 pull-left mr8 f14" uib-tooltip="Assign To" ></span>
                {{task.user_name}}
                </div>
            </div>
        </div>
        <div class="text-center clearfix pb20">
            <div id="task_module_loader" class="text-center display-block">
                <img src="images/loader2.gif" width="25" height="25" alt="LOADING...">
            </div>
            <st-pagination st-items-by-page="10" st-template='loader-template.html' >
            </st-pagination>
        </div>
    </div>
</div>
<script type="text/ng-template" id="loader-template.html">
    <button ng-if="numPages >= 2 && currentPage != numPages" ng-click="selectPage(currentPage + 1)"
            class="btn btn-dark f12 border-none mr4 mb5"
            n-t='{"e_n":"Notification - Load More","e_d":""}'> Load More
    </button>
</script>