<div class="col-sm-12" id="task_module_loader">
    <div class="text-center display-block">
        <img src="images/loader2.gif" width="25" height="25" alt="LOADING...">
    </div>
</div>
<div st-pipe="tasksList" st-table="taskDetails">
    <div class="col-sm-12 p0 pt5 pb5 loan-officer-dboard-task-widget" ng-repeat="dt in taskDetails" ng-click="addTasksModal(dt.id_task,'view')">

        <div class="col-sm-9 p0">
            <a class="text-line dark-blue display-block f12" title="{{dt.task_name}}"
               n-t='{"e_n":"Dashboard Task","e_d":"Task - {{dt.task_name}}"}'>{{dt.task_name}}</a>
            <span class="display-block gray f11">{{dt.task_due_date | utcToLocal:'date' | checkEmpty}}</span>
        </div>
        <div class="col-sm-3 p0 text-right">
                            <span class="f11 text-capitalize"
                                  label-status="{{dt.task_status}}">{{dt.task_status}}</span>
            <!--<a class="" ui-sref="crm-activity.list" n-t='{"e_n":"Menu Task","e_d":""}'><span class="icon-angle-rightt-circle f21"></span></a>-->
        </div>
    </div>
    <div st-items-by-page="3" st-pagination st-template="partials/list-pagination.custom.html"
         class="pull-right">
    </div>

</div>