<h3 class="fixed content-heading">{{title}}
        <span class="button-set">
        <a title="Options" ui-sref="org.org-structure-view" uib-tooltip="Back"
           n-t='{"e_n":"Admin Create User Close button - View","e_d":""}'><i class="fa fa-close-sm"></i></a>
      </span>
</h3>

<div id="contentArea" class="content-area animated fadeInRight">

    <div class="content-container clearfix light-blue-bg">
        <!--Result List _End-->
        <form name="userForm" novalidate ng-submit="userForm.$valid && submitForm()"  class="pt20">
            <div class="fixed-content-wrap white-bg border clearfix p15 p-b-0 fixed-content-wrap-left c-fixed-wrap">
                <div class="section-wrap">
                    <h3 class="heading-icon clearfix"><i class="fa fa-user"></i> {{'General Section' | translate}}
                        <a href="javascript:;" uib-tooltip="Help" class="fa fa-question-circle pull-right mr10"></a>
                    </h3>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="col-sm-3">
                                <label class="control-label display-block">{{'Contact Person Photo' |
                                    translate}}</label>
                                <div class="image-wrap mt5 cursor-pointer" ngf-select="uploadUserImage($file)" ngf-pattern="'image/*'">
                                    <img ngf-thumbnail="userImage" ng-show="userImage!=''" class="image-view"/>
                                    <img ng-show="userImage==undefined || userImage==''" ngf-thumbnail="user.profile_image || 'images/default-user.png'" class="image-view" alt="Image"/>
                                    <div class="image-actions">
                                        <i class="fa fa-pencil"></i>
                                    </div>
                                </div>
                                <a ng-show='trash' href="javascript:;" uib-tooltip="Delete" class="delete-img" ng-click="userLogoRemove()"><i class="fa fa-trash"></i></a>
                            </div>
                            <div class="col-sm-9">
                                <div class="col-sm-4">
                                    <div class="form-group clearfix form-group-custom">

                                        <label class="control-label">{{'First Name' | translate}}: *</label>
                                        <input type="text" class="form-control" ng-model="user.first_name" name="first_name" required>
                                        <div ng-show="userForm.first_name.$error.required && userForm.$submitted "
                                             class="error-message">
                                            {{'Required First Name'|translate}}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group clearfix form-group-custom">
                                        <label class="control-label">{{'Last Name' | translate}}: *</label>
                                        <input type="text" class="form-control" ng-model="user.last_name" name="last_name" required>
                                        <div ng-show="userForm.last_name.$error.required && userForm.$submitted "
                                             class="error-message">
                                            {{'Required Last Name'|translate}}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group clearfix form-group-custom">
                                        <div class="col-sm-12 p0">
                                            <label class="control-label">{{'Email Address' | translate}}: *</label>
                                            <input type="email" class="form-control" ng-model="user.email_id" name="email_id" required>
                                            <div ng-show="userForm.email_id.$error.required && userForm.$submitted "
                                                 class="error-message">
                                                {{'Required Email Address'|translate}}
                                            </div>
                                            <div ng-show="userForm.email_id.$error.email && userForm.$submitted" class="error-message">
                                                {{'Enter valid email' | translate}}
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>
                            <div class="col-sm-9">
                                <!--<div class="col-sm-4">
                                    <div class="form-group clearfix form-group-custom">
                                        <label class="control-label">{{'Phone No' | translate}}: *</label>
                                        <input type="text" class="form-control" ng-model="user.phone_number" name="phone_number" only-digits>
                                    </div>
                                </div>-->
                                <div class="col-sm-4">
                                    <div class="col-sm-12 pl0 pr0">
                                        <div class="col-sm-4 pl0 pr0">
                                            <div class="form-group clearfix form-group-custom">
                                                <label class="control-label">ISD Code: *</label>
                                                <select class="form-control p0"
                                                        ng-model="user.phone_number_isd"
                                                        name="phone_number_isd"
                                                        ng-options="item.isd_code as (item.country_name +' '+ item.isd_code) for item in countries" required>
                                                    <option value="">--Select--</option>
                                                </select>
                                            </div>
                                            <div ng-show="userForm.phone_number_isd.$error.required && userForm.$submitted "
                                                 class="error-message">
                                                {{'Select ISD Code'|translate}}
                                            </div>
                                        </div>
                                        <div class="col-sm-8 pl5 pr0">
                                            <div class="form-group clearfix form-group-custom">
                                                <label class="control-label">{{'Phone No' | translate}} *</label>
                                                <input type="text" class="form-control" ng-model="user.phone_number1" name="phone_number" ng-minlength="7" only-digits required>
                                                <div ng-show="userForm.phone_number.$error.required && userForm.$submitted "
                                                     class="error-message">
                                                    {{'Enter valid Phone number'|translate}}
                                                </div>
                                                <div ng-show="!userForm.phone_number.$error.required && userForm.phone_number.$error.minlength && userForm.$submitted"
                                                     class="error-message">
                                                    {{'Enter valid Phone number (min 7 digits)'|translate}}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group clearfix form-group-custom">
                                        <div class="col-sm-12 p0">
                                            <label class="control-label">{{'Address' | translate}}:</label>
                                            <textarea class="col-sm-12 form-control" ng-model="user.address" name="address"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group clearfix form-group-custom">
                                        <div class="col-sm-12 p0">
                                            <label class="control-label">{{'City' | translate}}:</label>
                                            <input type="text" class="form-control" ng-model="user.city" name="city">
                                        </div>
                                    </div>
                                </div>


                            </div>
                            <div class="col-sm-9">


                                <div class="col-sm-4">
                                    <div class="form-group clearfix form-group-custom">
                                        <div class="col-sm-12 p0">
                                            <label class="control-label">{{'State' | translate}}:</label>
                                            <input type="text" class="form-control" ng-model="user.state" name="state">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group clearfix form-group-custom">
                                        <div class="col-sm-12 p0">
                                            <label class="control-label">{{'Country' | translate}}:</label>
                                            <select class="form-control" ng-model="user.country_id" name="country_id">
                                                <option value="">--Select country--</option>
                                                <option ng-repeat="country in countries" ng-value="country.id_country" ng-selected="country.id_country == user.country_id">
                                                    {{country.country_name}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group clearfix form-group-custom">
                                        <div class="col-sm-12 p0">
                                            <label class="control-label">{{'Zip' | translate}}:</label>
                                            <input type="text" class="form-control" ng-model="user.zip_code" name="zip_code">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12 mt15">
                                    <h3 class="heading-icon mt10 clearfix "> {{'Reporting Information' | translate}} </h3>
                                </div>
                                    <div class="col-sm-4">
                                        <div class="form-group clearfix form-group-custom">
                                            <label class="control-label">{{'Branch Type' | translate}}: *</label>
                                            <select class="form-control" ng-model="user.branch_type_id" name="branch_type_id" ng-change="updateBranchType(user.branch_type_id,false)">
                                                <option value="">--Select Branch Type--</option>
                                                <option ng-repeat="branchType in companyBranchType" ng-value="branchType.branch_type_id" ng-selected="branchType.branch_type_id == user.branch_type_id">
                                                    {{branchType.branch_type_name}}
                                                </option>
                                            </select>
                                        </div>

                                    </div>
                                    <div class="col-sm-4">
                                        <div ng-if="user.branch_type_id != undefined">
                                            <span ng-init="updateBranchType(user.branch_type_id,true)"></span></div>
                                        <div class="form-group clearfix form-group-custom">
                                            <label class="control-label">{{'Working Branch' | translate}}: *</label>
                                            <select class="form-control" ng-model="user.branch_id" name="branch_id" ng-change="updateRole(user.user_role_id,user.branch_id)">
                                                <option value="">--Select Branch--</option>
                                                <option ng-repeat="branch in company_branches" ng-value="branch.id_branch" ng-selected="branch.id_branch == user.branch_id">
                                                    {{branch.legal_name}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-sm-4">
                                        <div class="form-group clearfix form-group-custom">
                                            <label class="control-label">{{'User Role' | translate}}: *</label>
                                            <select class="form-control" ng-model="user.user_role_id" name="user_role_id" ng-change="updateRole(user.user_role_id,user.branch_id)">
                                                <option value="">--Select Role--</option>
                                                <option ng-repeat="role in userRole" ng-value="role.id_company_approval_role" ng-selected="role.id_company_approval_role == user.user_role_id">
                                                    {{role.approval_name}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="col-sm-4" ng-if="user.user_role_id && user.branch_id">
                                        <div ng-if="user.user_role_id">
                                            <span ng-init="updateRole(user.user_role_id,user.branch_id,true)"></span>
                                        </div>
                                        <div class="form-group clearfix form-group-custom">

                                            <label class="control-label">{{'Reporting To' | translate}}:</label>
                                            <select class="form-control" ng-model="user.reporting_user_id" name="reporting_user_id">
                                                <option value="">---Select User---</option>
                                                <option ng-repeat="companyUser in companyUsers" ng-value="companyUser.id_user" ng-selected="companyUser.id_user == user.reporting_user_id">
                                                    {{companyUser.first_name+' '+companyUser.last_name+ ' ('
                                                    +companyUser.role_name+ ')'}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                <div class="col-sm-12">
                                    <!--  <div ng-if="user.reporting_user_id != undefined" ><span ng-init="updateReportingTo(user.reporting_user_id,true)"></span></div>
                                      <div class="col-sm-3 p-l-0" data-ng-show="companyUsers.length">
                                          <div class="form-group clearfix form-group-custom">
                                              <label class="control-label">{{'Reporting User Branch' | translate}}:</label>
                                              <p class="f12 dark-blue">{{ reportingUserDetails.branch_name }}</p>
                                          </div>

                                      </div>
                                      <div class="col-sm-3" data-ng-show="companyUsers.length">

                                          <div class="form-group clearfix form-group-custom">
                                              <label class="control-label text-line">{{'Reporting User Designation' | translate}}:</label>
                                              <p class="f12 dark-blue">{{ reportingUserDetails.approval_name }}</p>
                                          </div>

                                      </div>-->
                                    <!--<div class="col-sm-3" ng-if="user.id_user!=undefined">
                                        <label class="control-label">Status</label>
                                        <div class="onoffswitch">
                                            <input type="checkbox" ng-model="user.user_status" name="user_status" class="onoffswitch-checkbox" id="user_status"  ng-checked="getCheckedValue(user.user_status)"  >
                                            <label class="onoffswitch-label" for="user_status">
                                                <span class="onoffswitch-inner"></span>
                                                <span class="onoffswitch-switch"></span>
                                            </label>
                                        </div>
                                    </div>-->
                                </div>
                                <div ng-if="btn=='Update'">
                                    <div class="col-sm-12 mt15">
                                        <h3 class="heading-icon mt10 clearfix">{{'User Status Information' | translate}} </h3>
                                    </div>
                                    <div class="col-sm-12">
                                        <div class="col-sm-4 pl0">
                                            <div class="form-group clearfix form-group-custom">
                                                <label class="control-label">{{'Current Status' | translate}}:</label>
                                                <p class="f12 dark-blue">{{user.status}}</p>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group clearfix form-group-custom">
                                                <label class="control-label">{{'Update Status' | translate}}:</label>
                                                <select class="form-control" ng-model="user.user_status">
                                                    <option value="1">Active</option>
                                                    <option value="2">Disable</option>
                                                    <option value="3" disabled>Locked</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 btn-custom clearfix pt5">

                                    <button type="submit" class="btn btn-primary f14 mr8"
                                            n-t='{"e_n":"Save User Admin","e_d":"", "form": "{{userForm.$valid}}"}'>{{btn | translate}}</button>
                                    <button type="button" class="btn btn-default f14" ng-click="back()"
                                            n-t='{"e_n":"Admin Add User - Cancel","e_d":""}'>
                                        {{'Cancel' | translate}}
                                    </button>
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
                <!--section wrap-->

                <!--./Buttons ui-sref="app.org-structure-view" -->
            </div>
        </form>
        <form novalidate name="passwordForm" ng-submit="passwordForm.$valid && submitPasswordForm()" ng-show="btn=='Update'">
            <div class="fixed-content-wrap white-bg border clearfix p15 fixed-content-wrap-left c-fixed-wrap mb20">
                <div class="section-wrap">
                    <div class="col-sm-12 p0">
                        <h3 class="heading-icon mt10 clearfix mb10" ><i class="fa fa-user"></i> {{'User Password Reset' | translate}}<span class="fa fa-lock pull-right plr10 cursor-pointer" uib-tooltip="Reset Password" ng-click = "passwordReset =! passwordReset"></span> </h3>
                    </div>
                    <div class="col-sm-12 p0" ng-show="passwordReset">
                        <div class="col-sm-3">
                            <div class="form-group clearfix form-group-custom">
                                <label class="control-label">{{'Password' | translate}}: *</label>
                                <input type="password" class="form-control" placeholder="Password"
                                       ng-pattern="/^(?=.*[A-Z])(?=.*\d)(?=.*[a-z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{8,}$/"
                                       name="password"
                                       ng-model="password" >
                                <div ng-if="passwordForm.password.$error.pattern" class="error-message">
                                    {{'You should enter atleast alphabets, numbers, and special characters of minimum length 8'|translate}}
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group clearfix form-group-custom">
                                <label class="control-label">{{'Confirm password' | translate}}: *</label>
                                <input type="password" class="form-control" placeholder="Confirm password"
                                       name="repassword"
                                       compare-to="password"
                                       ng-model="repassword" >
                                <div ng-if="passwordForm.repassword.$error.compareTo" class="error-message">
                                    {{'Password not matched'|translate}}
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3 btn-custom pt20 mt5">
                            <button type="submit" class="btn btn-primary f14 mr8 "
                                    n-t='{"e_n":"Save password reset Admin","e_d":"", "form": "{{passwordForm.$valid}}"}'>
                                {{'Reset' | translate}}</button>
                            <button type="button" class="btn btn-default f14" ng-click="password=''; repassword='';"
                                    n-t='{"e_n":"Admin password User - Cancel","e_d":""}' >
                                {{'Cancel' | translate}}
                                </button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

</div>

