<div class="right-modal clearfix modal-custom" >
    <h3 class="right-modal-head clearfix">
        <div class="col-sm-10 p-l-0">
            <i class="fa fa-user mr8"></i>{{user.first_name}} {{user.last_name}}
        </div>
        <a class="close-right pull-right" ng-click="cancel()" uib-tooltip="Close"
           n-t='{"e_n":"Cancel View User - Admin","e_d":""}'><img src="images/close.png"></a>
    </h3>
    <div class="col-sm-12 clearfix mtb10">

            <div class="row">
                <div class="col-sm-12 clearfix mtb10">
                    <div class="col-sm-3 mb10">
                        <ul class="f12" data-list="projects">
                            <li class="relative pl0 ng-scope selected-result no-bg">
                                <img class="img-responsive mr4" ng-src="{{user.profile_image || 'images/default-img.png'}}">
                                <label class="dark-blue mt5">{{user.first_name}} {{user.last_name}}</label>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-9 p0">
                        <div class="col-sm-4 mb5">
                            <label class="label-text">{{'Email' | translate}}</label>
                            <p class="label-info text-line m0" title="{{user.email_id}}">{{user.email_id}}</p>
                        </div>
                        <div class="col-sm-4 mb5">
                            <label class="label-text">{{'Phone No' | translate}}</label>
                            <p class="label-info m0">{{user.phone_number}}</p>
                        </div>

                        <!--<div class="col-sm-4">
                            <label class="label-text">First Name</label>
                            <p class="label-info">{{user.first_name}}</p>
                        </div>
                        <div class="col-sm-4">
                            <label class="label-text">Last Name</label>
                            <p class="label-info">{{user.last_name}}</p>
                        </div>-->

                        <!--<div class="col-sm-4">
                            <label class="label-text">Role</label>
                            <p class="label-info">{{user.role_name}}</p>
                        </div>-->
                        <div class="col-sm-4 mb5">
                            <label class="label-text">{{'Address' | translate}}</label>
                            <p class="label-info m0" ng-if="user.address==''">---</p>
                            <p class="label-info m0" ng-if="user.address!=''">{{user.address}}</p>
                        </div>
                        <div class="col-sm-4 mb5">
                            <label class="label-text">{{'City' | translate}}</label>
                            <p class="label-info m0">{{user.city}}</p>
                        </div>
                        <div class="col-sm-4 mb5">
                            <label class="label-text">{{'State' | translate}}</label>
                            <p class="label-info m0">{{user.state}}</p>
                        </div>


                        <div class="col-sm-4 mb5">
                            <label class="label-text">Country</label>
                            <p class="label-info m0">{{user.country_name}}</p>
                        </div>
                        <div class="col-sm-4 mb5">
                            <label class="label-text">{{'Zip Code' | translate}}</label>
                            <p class="label-info m0">{{user.zip_code}}</p>
                        </div>
                    </div>


                </div>
                <!--<div class="col-sm-12 clearfix clearboth mtb10">
                    <div class="col-sm-4">
                        <label class="label-text display-block mb5">Status</label>
                        &lt;!&ndash;<div class="toggle toggle-danger pull-left pointer-none" toggle-checkbox></div>&ndash;&gt;
                        <div class="onoffswitch">
                            <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch" checked>
                            <label class="onoffswitch-label" for="myonoffswitch">
                                <span class="onoffswitch-inner"></span>
                                <span class="onoffswitch-switch"></span>
                            </label>
                        </div>

                    </div>
                </div>-->
                <div class="col-sm-12">
                    <h3 class="heading-icon mt10 clearfix pb5 m0"><i class="fa fa-user"></i> {{'Reporting Information' | translate}} </h3>
                </div>
                <div class="col-sm-12 clearfix mtb10">
                    <div class="col-sm-4 mb5">
                        <label class="label-text">{{'User Role' | translate}}</label>
                        <p class="label-info m0">{{user.role_name}}</p>
                    </div>
                    <div class="col-sm-4 mb5">
                        <label class="label-text">{{'Working Branch' | translate}}</label>
                        <p class="label-info m0">{{user.branch_name}}</p>
                    </div>
                    <div class="col-sm-4 mb5">
                        <label class="label-text">{{'Reporting to Manager' | translate}}</label>
                        <p class="label-info m0">{{user.reporting.reporting_user_name}}</p>
                        <p class="label-info m0" ng-if="user.reporting.reporting_user_name==null">---</p>

                    </div>


                    <div class="col-sm-4 mb5">
                        <label class="label-text">{{'Manager Designation' | translate}}</label>
                        <p class="label-info m0">{{user.reporting.reporting_designation}}</p>
                        <p class="label-info m0" ng-if="user.reporting.reporting_designation==null">---</p>
                    </div>

                    <div class="col-sm-4 mb5">
                        <label class="label-text">{{'Manager Branch' | translate}}</label>
                        <p class="label-info m0">{{user.reporting.reporting_branch_name}}</p>
                        <p class="label-info m0" ng-if="user.reporting.reporting_branch_name==null">---</p>
                    </div>


                </div>

            </div>
            <!--section wrap-->

    </div>
</div>
