<h3 class="fixed content-heading">Facilities</h3>

<div class="content-area animated fadeInRight" id="contentArea">
    <div class="content-container clearfix" ng-show="permission.facility_list">
        <div class="col-sm-12 p0 mt15 clearfix clearboth">
            <div class="table-wrapper no-bg pt0 overflow-hidden plr20">
                <table class="table-list-view table c-table table-hover table-style" st-pipe="getFacilityList" st-table>
                    <thead>
                    <tr>
                        <td colspan="7" class="pad0 border-bottom header-list-div">
                            <div class="col-sm-6 p0">
                                <div class="client-list-num">
                                        <span class="border-radius50 pull-left client-list-icon mr10">
                                            <i class="icon-all"></i></span>
                                    <span class=" display-block f12"> All Facilites</span>
                                    <span class=" darkcolor display-block f12 lh12 bold">{{all_facilites_count}}</span>
                                </div>
                            </div>
                            <div class="col-sm-6 p0 mt5">
                                <div class="action-head mb0">
                                    <div class="table-search pull-left width-full">
                                        <input type="text" class="form-control" placeholder="Search...."
                                               st-search="search_key">
                                        <i class="fa icon-search"></i>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th></th>
                        <th>Facilities</th>
                        <th>Info</th>
                        <th>Exposure</th>
                        <th>Project</th>
                        <th>Created by</th>
                        <th>Actions</th>
                    </tr>
                    </thead>

                    <tbody class="hierarchical_slide" ng-show="facilityList.length>0" hierarchical-slide>
                    <tr  ng-repeat="row in facilityList">
                        <td class="img"><span first-alpha="{{row.project_facility_name}}"></span></td>
                        <td>
                            <span class="label-text p0 display-block" title="{{row.project_facility_name}}">{{row.project_facility_name}} </span>
                            <span class="font-lato f13 darkcolor display-block">{{row.contract_id | checkEmpty }}</span>
                        </td>
                        <td>
                            <span class="label-text display-block">{{row.facility_type_name }} </span>
                        </td>
                        <td>
                            <span class="label-text display-block"> {{row.facility_usd_amount|currency}}</span>
                        </td>
                        <td>
                            <span class="label-text display-block text-line">{{row.project_title}}</span>
                            <span class="font-lato f13 darkcolor display-block" >{{row.project_country_name}}</span>
                        </td>
                        <td>
                            <span class="label-text display-block">{{row.username}}</span>
                            <span class="font-lato f13 darkcolor display-block" >{{row.created_date_time | utcToLocal:'date'}}</span>
                        </td>
                        <td>
                            <a ng-if="permission.facility_view" href="javascript:;" uib-tooltip="View" class="fa fa-eye"
                               ng-click="preview({'project_facility_id':row.id_project_facility})"
                               n-t='{"e_n":"Facility details modal","e_d":"Facility - {{row.project_facility_name}}"}'></a>
                        </td>
                    </tr>
                    </tbody>
                    <tfoot ng-show="facilityList.length">
                    <tr>
                        <td colspan="7" class="text-center">
                            <div st-items-by-page="10" st-pagination="" st-template="partials/list-pagination.custom.html" class="pull-right"></div>
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>







