<div class="modal-wrap">
    <div class="modal-header clearfix">
        <h3 class="modal-title pull-left mt5">{{title}} Currency</h3>
        <a href="javascript:;" class="pull-right" ng-click="cancel()" uib-tooltip="Close">
            <img src="images/close.png" alt="close-image">
        </a>
    </div>
    <form class="mt10" name="form" ng-submit="ok(currency)" novalidate>
        <div class="clearfix">
            <div class="col-sm-3">
                <label class="control-label">Country Flag *</label>
                {{currency.country_flg}}
                <div class="image-wrap" ngf-select="uploadCountryFlag($file)" ngf-pattern="'image/*'">
                    <img ngf-thumbnail="currency.country_flag || 'images/institution-default.png'" class="image-view"
                         alt="Image"/>
                    <div class="image-actions">
                        <i class="fa fa-pencil"></i>
                    </div>
                </div>
                <a href="javascript:;" ng-show='trash' class="delete-img" ng-click="uploadCountryFlagRemove()"><i
                        class="fa fa-trash"></i></a>
            </div>
            <div class="col-sm-9 p0">
                <div class="col-sm-6">
                    <div class="form-group clearfix form-group-custom">
                        <label class="col-sm-12 control-label">Country *</label>
                        <div class="col-sm-12">
                            <select class="form-control" ng-model="currency.country_id" name="country_id"
                                    ng-options="country.id_country as country.country_name for country in Countries"
                                    required>
                                <option value="">--Select Country--</option>
                            </select>
                            <div ng-if="form.country_id.$error.required && submitted" class="error-message">
                                Select Country
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group clearfix form-group-custom">
                        <label class="col-sm-12 control-label">Currency Code *</label>
                        <div class="col-sm-12">
                            <input type="text" class="form-control" name="currency_code"
                                   ng-model="currency.currency_code" required>
                            <div ng-if="form.currency_code.$error.required && submitted" class="error-message">
                                Currency Code Required
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group clearfix form-group-custom">
                        <label class="col-sm-12 control-label">Currency Symbol *</label>
                        <div class="col-sm-12">
                            <input type="text" class="form-control" name="currency_symbol"
                                   ng-model="currency.currency_symbol" required="">
                            <div ng-if="form.currency_symbol.$error.required && submitted" class="error-message">
                                Currency Symbol Required
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group clearfix form-group-custom">
                        <label class="col-sm-12 control-label">Rounding Option *</label>
                        <div class="col-sm-12">
                            <input type="text" class="form-control" name="rounding_option"
                                   ng-model="currency.rounding_option" required>
                            <div ng-if="form.rounding_option.$error.required && submitted" class="error-message">
                                Rounding Option Required
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group clearfix form-group-custom">
                        <label class="col-sm-12 control-label">Formatting *</label>
                        <div class="col-sm-12">
                            <input type="text" class="form-control" name="formatting" ng-model="currency.formatting"
                                   required>
                            <div ng-if="form.formatting.$error.required && submitted" class="error-message">
                                Formatting Required
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer border-none btn-custom pt15 clearfix text-center">
            <button type="submit" class="btn btn-primary f14" ng-click="form.$valid;submitted = true;">{{btn}}</button>
            <button type="button" class="btn btn-default f14" ng-click="cancel()">Cancel</button>
        </div>
    </form>

</div>