<div class="modal-wrap">
    <div class="modal-header clearfix">
        <h3 class="modal-title pull-left mt5">{{title}} Sector</h3>
        <a href="javascript:;" class="pull-right" ng-click="cancel()" uib-tooltip="Close">
            <img src="images/close.png" alt="close-image">
        </a>
    </div>
    <form class=" mt10"  name="sectorForm"  novalidate>
        <div class="row clearfix">
            <div class="col-lg-12">
                <div class="form-group clearfix form-group-custom">
                    <label class="col-sm-12 control-label">Sub Sector Name *</label>
                    <div class="col-sm-12">
                        <input type="text" class="form-control" ng-model="sector.sector_name" name="sector_name">
                    </div>
                </div>
            </div>

            <div class="form-group col-lg-12 clearfix form-group-custom">
                <label class="col-sm-12 control-label">Parent Sector Name</label>
                <div class="col-sm-12">
                    <select class="form-control" ng-model="sector.parent_sector_id" name="parent_sector_id">
                        <option value="0">--Select Parent Sector--</option>
                        <option  ng-repeat="parentSector in parentSectorsList" ng-value="parentSector.id_sector" ng-selected="sector.parent_sector_id == parentSector.id_sector" >
                            {{parentSector.sector_name}}
                        </option>
                    </select>
                </div>
            </div>
        </div>
    </form>
    <div class="modal-footer border-none btn-custom clearfix text-center">
        <button class="btn btn-primary f14" ng-click="submitSectorForm(sector)" >{{btn}}</button> <!-- ng-click="submitSectorForm" -->
        <button class="btn btn-default f14" type="button" ng-click="cancel()">Cancel</button>
    </div>
 </div>