<h3 class="fixed content-heading">Master</h3>

<div class="content-area " id="contentArea"><!--animated fadeInRight -->

    <div class="content-container clearfix light-blue-bg">
        <div class="col-sm-12 plr20">
            <div ng-include="'partials/super-admin/master-data/tab-list.html'"></div>
            <div class="table-wrapper">
                <table class="table s-table table-striped table-bordered table-hover display table-style" st-pipe="callServer" st-table="displayed">
                    <thead>
                    <tr>
                        <th></th>
                        <!--<th st-sort="id_plan">Id</th>-->
                        <th st-sort="no_of_loans">Risk Name</th>
                        <th st-sort="plan_name">Description</th>
                    </tr>
                    </thead>
                    <tbody ng-show="!mc.isLoading">
                    <tr ng-repeat="row in riskList">
                        <td><input type="checkbox" ng-model="selected[row.id_risk_type]"   ng-change="updateSelected()" ></td>
                        <!--<td>{{row.id_bank_category}}</td>-->
                        <td>{{row.risk_name}}</td>
                        <td>{{row.risk_description}}</td>
                    </tr>
                    </tbody>
                    <tbody ng-show="isLoading">
                    <tr>
                        <td colspan="4" class="text-center">Loading ... </td>
                    </tr>
                    </tbody>

                    <tfoot>
                    <tr>
                        <td colspan="2">
                            <div class="clearfix pagination-wrap">
                                <ul class="icons-wrap">
                                    <li><a href="javascript:;" uib-tooltip="Add" class="fa fa-plus" ng-click="open()"> </a></li>
                                    <li ng-show="selectedCount=='1'"><a href="javascript:;" ng-click="open('edit',editId)" uib-tooltip="Edit" class="fa fa-edit" ng-class="{'edit-disabled': selectedCount!='1'}"></a></li>
                                    <!--<li ng-show="selectedCount>'0'"><a href="javascript:;" ng-click="cancel(editId)" class="fa fa-trash" ng-class="{'trash-disabled': selectedCount == '0'}"></a></li>-->
                                </ul>
                            </div>
                        </td>
                        <td colspan="5" class="text-center">
                            <div st-items-by-page="10" st-pagination="" st-template="partials/pagination.custom.html" class="pull-right"></div>
                        </td>
                    </tr>
                    </tfoot>
                </table>

            </div>
        </div>
        <!--width1024-->
    </div>
</div>