<ul class="tab-cmn">
    <li>
        <a ui-sref="sa.master.sector" active-link="active" >
            <span class="fa fa-cogs"></span>
            <b>Sector</b>
        </a>
    </li>
    <li>
        <a ui-sref="sa.master.branch-type" active-link="active">
            <span class="fa fa-book"></span>
            <b>Branch Type</b>
        </a>
    </li>
    <li>
        <a ui-sref="sa.master.country" active-link="active">
            <span class="fa fa-globe"></span>
            <b>Country</b>
        </a>
    </li>
    <li>
        <a ui-sref="sa.master.approval-role" active-link="active">
            <span class="fa fa-thumbs-o-up" ></span>
            <b>Approval Role</b>
        </a>
    </li>
    <li>
        <a ui-sref="sa.master.bank-category" active-link="active">
            <span class="fa fa-university"></span>
            <b>Bank Category</b>
        </a>
    </li>
    <li>
        <a ui-sref="sa.master.plans" active-link="active">
            <span class="fa fa-file-text-o"></span>
            <b>Plans</b>
        </a>
    </li>
    <li>
        <a ui-sref="sa.master.currency" active-link="active">
            <span class="fa fa-dollar"></span>
            <b>Currency</b>
        </a>
    </li>
    <li>
        <a ui-sref="sa.master.risk" active-link="active">
            <span class="fa fa-xing"></span>
            <b>Risk Type</b>
        </a>
    </li>
    <li>
        <a ui-sref="sa.master.social" active-link="active">
            <span class="fa fa-globe"></span>
            <b>Social Network</b>
        </a>
    </li>
    <li>
        <a ui-sref="sa.master.contact" active-link="active">
            <span class="fa fa-phone"></span>
            <b>Contact Type</b>
        </a>
    </li>
    <li>
        <a ui-sref="sa.master.language" active-link="active">
            <span class="fa fa-language"></span>
            <b>Language Setup</b>
        </a>
    </li>

</ul>