/*
p0/m0 : padding:0/ margin:0
mt/-mt:margin-top, mr/-mr:margin-right, mb/-mb:margin-bottom, ml/-ml:margin-left;
pt/-pt:padding-top, pr/-pr:padding-right, pb/-pb:padding-bottom, pl/-pl:padding-left;
f- font; ln- line-height; cursor-pointer/move/default: pointer/move/default
NOTE: 1. pt/mt/t/r/b/l are have positive values
	  2. -pt/-mt/-t/-r/-b/-l are have negative values
	  3. t/r/b/l works with position values only
*/

/*-- FONT SIZE --*/
.f9{font-size:9px!important}
.f10{font-size:10px}
.f11{font-size:11px}
.f12{font-size:12px !important}
.f14{font-size:14px}
.f16{font-size:16px!important}
.f18{font-size:18px}
.f20{font-size:20px }
.f21{font-size:21px }
.f24{font-size:24px !important}
.f32 {font-size: 32px;}
.f36{font-size:36px}
.f40{font-size:40px;}
.f60{font-size:60px;}

/*-- LINE-HEIGHT --*/
.lh0{line-height:0px}
.lh9{line-height:9px}
.lh10{line-height:10px}
.lh11{line-height:11px}
.lh12{line-height:12px}
.lh14{line-height:14px}
.lh16{line-height:16px}
.lh18{line-height:18px}
.lh21{line-height:21px}
.lh24{line-height:24px}
.lh26{line-height: 26px;}
.lh36{line-height:36px}
.lh40{line-height:40px;}
.lh60{line-height:60px;}


/*-- CURSOR --*/
.cursor-pointer{cursor:pointer}
.cursor-move{cursor:move}
.cursor-default{cursor:default}

/*-- BORDERS --*/
.border{border:1px solid #ccc}
.border-bottom{border-bottom:1px solid #ccc}
.border-right{border-right: 1px solid #ccc;}
.border-right-dark{border-right:1px solid #32316b;}
.border-left-dark{border-left:1px solid #32316b;}
.green-border-left{border-left:2px solid #7fd2a8;}
.sky-border-left{border-left:2px solid #00aeef;}
/*-- POSITIONS --*/
.fixed{position:fixed}
.relative{position:relative}
.absolute{position:absolute}
/*-- Z-INDEX --*/
.-z9{z-index:-9}
.-z3{z-index:-3}
.-z2{z-index:-2}
.-z1{z-index:-1}
.z0{z-index:0}
.z1{z-index:1}
.z2{z-index:2}
.z3{z-index:3}
.z9{z-index:9}
/*-- WIDTHS --*/
.width-full{width:100%!important}
.width-auto{width:auto}
.w15{width:15px;}
.w25{width:25px;}
.w120{width:120px}
.w150{width:150px}
.w250{width:250px}
.mw500{max-width:500px}
.width93 {
	width: 93%;
}
/*--HEIGHTS--*/
.h13{height:13px}
.h21{height:21px}
.h24 {height: 24px;}
.height108{height: 108px;}
/*---*/
.maxhw40{max-height:40px;max-width:40px;}

/*-- PADDINGS --*/
.p0{padding:0;}
.pl0{padding-left:0!important}
.pr0{padding-right:0}
.p2{padding:2px;}
.pt2{padding-top: 2px;}
.pt3{padding-top: 3px;}
.pb2{padding-bottom: 2px;}
.p5{padding:5px;}
.p7 {padding: 7px;}
.pt5{padding-top: 5px;}
.pt15{padding-top: 15px;}
.pl5{padding-left: 5px;}
.ptrl5{padding-top:5px;padding-right:5px;padding-left:5px;}
.p8 {
	padding: 8px;
}
.p10{padding:10px}
.pt10{padding-top: 10px;}
.pr10{padding-right:10px}
.pr20{padding-right:20px}
.pb10{padding-bottom:10px;}
.pb15{padding-bottom:15px;}
.pl10{padding-left:10px;}
.prl10, .plr10{padding-right:10px;padding-left:10px}
.ptb10{padding-top:10px;padding-bottom:10px}
.p15{padding:15px}
.prl15, .plr15{padding-left: 15px;padding-right: 15px;}
.p20{padding:20px}
.pt20{padding-top: 20px;}
.pb20{padding-bottom: 20px;}
.pl20{padding-left: 20px;}
.pl15{padding-left: 15px;}
.pl30{padding-left: 30px;}
.pb28{padding-bottom: 28px!important;}
.pt50{padding-top: 50px;}
.pb30{padding-bottom: 30px;}
.pb50{padding-bottom: 50px;}
.pl67{padding-left: 67px;}
.pl100{padding-left:100px;}
.pl120{padding-left:120px;}
.pl160{padding-left:160px!important}
.pr5{padding-right: 5px;}
.pr50{padding-right: 50px;}
/*-- MARGINS --*/
.-mt20{margin-top: -20px;}
.-mt13{margin-top: -13px;}
.-mt8{margin-top:-8px}
.-mt5{margin-top:-5px}
.-ml4{margin-left:-4px;}
.-ml8{margin-left:-8px;}
.-mt2{margin-top:-2px;}
.m0{margin:0}
.mt0{margin-top:0 !important;}
.mb0{margin-bottom: 0 !important}
.mt5 {margin-top: 5px;}
.mb5{margin-bottom:5px;}
.mt8{margin-top:8px;}
.m10{margin:10px;}
.mrl10{margin-right:10px;margin-left:10px}
.mtb10{margin-top:10px;margin-bottom:10px}
.mt10{margin-top:10px}
.mt35 {
	margin-top: 35px;
}
.mt25 {
	margin-top: 25px;
}
.mb10{margin-bottom:10px;}
.mr8{margin-right:8px;}
.mr10{margin-right:10px;}
.mr20 {margin-right: 20px;}
.mt15{margin-top:15px;}
.mr15{margin-right:15px;}
.mb15{margin-bottom:15px;}
.ml15 {margin-left: 15px !important;}
.mt20{margin-top:20px}
.mtb25{margin-top:25px;margin-bottom:25px}
.mb30{margin-bottom:30px}
.mt40{margin-top:40px;}
.mr40{margin-right:40px;}
.ml0 {
	margin-left: 0 !important;
}
.ml4{margin-left:4px;}
.ml3{margin-left:3px;}
.ml2{margin-left:2px;}
.mt3{margin-top:3px !important;}

/*--TOP/RIGHT/BOTTOM/LEFT--*/
.-t8{top:-8px}
.-t4{top:-4px}
.-t2{top:-2px}
.t0{top:0}
.r0{right:0}
.b0{bottom:0}
.l0{left:0}
.t10{top:10px}
.r10{right:10px}
.b10{bottom:10px}
.l10{left:10px}
.l4{left:4px;}
.t15{top: 15px;}
.t20{top: 20px;}
.t45{top:45px;}
.t95{top:95px;}

.r220{right:220px;left:auto}
.r280{right:280px;left:auto}
.b10{bottom:10px}

/*COLORS*/
.transparent{color:transparent!important;}
.red{color:#EC313E!important}
.green{color:#53C24D!important}
.gray{color:#a0a0a0!important}
.gray-dark{color:#333333 !important;}
/*.blue{color:#221f60!important}*/
.darkcolor {
	color: #221f60 !important;
}
.light-color {
	color: #697399;
}
.blue{color:#3f3aba!important}
.sky-blue{color:#01aef0!important}
.ash {color: #a9aaae!important}
.blue-transp {color: rgba(169, 170, 174, 0.8) !important;}
.darkblue {color: #3897e6!important;}
.light-blue{color:#A5A5BF!important}
.dark-sky-blue {
	color: #318fdd !important;
}
.pink{color: #d1069f !important;}
/*Backgrounds*/
.no-bg {background: none!important;}
.light-blue-bg {	/*background: #edeff5 !important;*/
	background: #d8dae6 !important;
}
.light-blue-bg-new {	background: #d8dae6 !important;}
.light-orange {	background: #feeef1 !important;}
.light-blue2-bg{background:#7CB5EC!important}
.light-black-bg{background:#434348!important}
.light-green-bg{background:#90ED7D!important}
.light-green-color {color: #90ED7D}
.orange-bg{background:#F7A35C!important}
.green-bg {background: green !important;}
.light-yellow-bg {
	background: #efb400 !important;
}
.ash-bg {
	background: #e4e6ee !important;
}
.progress-bg {
	background: #8dc73f;
}
.btn-green {
	background: #00ae8e !important;
}
.red-bg {background: red !important;}
.light-bg{background:#F2F3F9!important}
.white-bg{background:#fff!important}

.blue-bg{background:#12325a!important}
.green-bg{background:#acad00!important}
.sky-blue-bg{background:#22baf1!important}
.darkblue-bg {/*background: #211f60!important;*/
	background: rgba(148, 147, 179, 0.92)!important;
}
.darkbg-color{background:#221f60!important}
.thick-green-bg{background: #8fb625;}
.light-reg-bg{background: #d18aac !important;}
.blue-thick-bg{background:#5e74b0;}
.blue-thick-bg .bar{background:#3d4f90;}
.red-thin-bg{background:#fdeaec;}
.blue-light-bg{background:#9898b5;}
.light-green-thin-bg{background: #a1a747;}
.light-green-thin-bg .bar{background: #7e852c;}
.green-thin-bg{background: #46a676;}
.green-thin-bg .bar{background: #2b8451;}
.notification.alert{background: #fdd6d9 !important;}
.notification.meeting{
	/*background: #607d8b !important;*/
}
.stage1-bgcolor{background:#5e74b0;}
.stage1-bgcolor .bar{background:#3d4f90;}

.stage2-bgcolor{background:#46a676;}
.stage2-bgcolor .bar{background:#2b8451;}

.stage3-bgcolor{background:#a1a747;}
.stage3-bgcolor .bar{background:#7e852c;}

.stage4-bgcolor{background: #cc9869;}
.stage4-bgcolor .bar{background: #a76d47;}

.stage5-bgcolor{background: #cc698c;}
.stage5-bgcolor .bar{background: #a74761;}

.stage6-bgcolor{background: #cc69c8;}
.stage6-bgcolor .bar{background: #a747a1;}

.notification.alert{
	background: #fdd6d9 !important;
	padding: 0px;
	margin-bottom: 0;
	border: none;
	border-radius: 0px;
}
/*---HEIGHTS / WIDTHS-*/
.min-height0{min-height:0px;}
.min-height100{min-height:100px}
.min-height120{min-height:120px}
.min-height77 {min-height: 77px}
.height155{height:155px}
.height135 {height: 135px;}
.height130 {height: 130px;}
.border-none {border: none!important;}
.border-top-none{border-top:none!important}
.border-lr-none {border-right: none!important;	border-left: none !important;}
.colored-border-top4{border-top:6px solid #9b9cb9}
.border-top{
	border-top: 1px solid #ccc;
}
.border-bottom-color {
	border-bottom: 1px solid #a5a5be;
}
.border-right5 {
	border-right: 5px solid #D8DAE6;
}
/* FONTs*/
.roboto-condensed{font-family: "RobotoCondensed"}
.roboto-regular{font-family: "RobotoRegular"}
.text-normal{text-transform: none!important;}
.roboto-bold {
	font-family: "RobotoBold";
}
.letter-space {
	letter-spacing: .4px;
}
.opaque{
	opacity: 0.5;}

.head-bg {
	background: #f27620;
}
.zonal-bg {
	background: #76ad50;
}
.regional-bg {
	background: #4f78c8;
}
.branch-bg {
	background: #a75cd3;
}
.sub-branch-bg {
	background: #42acc6;
}
.sub-branch-bg2 {
	background: #989898;
}
.light-yellow {
	color: #feb52b;
}
.light-y-bg {
	background: #feb52b;
}
.orange-block-bg {
	background: #ed6849;
}
.orange-block-color {
	color: #ed6849;
}
.light-blue-color {
	color: #4bc6c3
}
.light-blue-block {
	background: #4bc6c3;
}
.light-dark-bg {
	background: #c0c3d6;
}
.light-grey-bg {
	background: #dbe3f0;
}
.light-green-bg-new {
	background: #d4f1ed;
}
.light-pink-bg {
	background: #fadedd;
}
.light-wheet-bg {
	background: #fef0d3;
}
/*border-radius*/
.border-radius15{border-radius: 15px !important;}
.border-radius50{border-radius: 50% !important;}