@-webkit-keyframes hierarchical_show {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(.2, .2, 2);
        transform: scale3d(.2, .2, 2)
    }
    50% {
        opacity: 1
    }
    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1)
    }
}

@keyframes hierarchical_show {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(.2, .2, 2);
        transform: scale3d(.2, .2, 2)
    }
    50% {
        opacity: 1
    }
    100% {
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1)
    }
}

.hierarchical_show > * {
    visibility: hidden
}

.hierarchical_show_inView > * {
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-timing-function: cubic-bezier(.4, 0, .2, 1);
    animation-timing-function: cubic-bezier(.4, 0, .2, 1);
    -webkit-animation-duration: 900ms;
    animation-duration: 900ms;
    -webkit-animation-name: hierarchical_show;
    animation-name: hierarchical_show;
    visibility: visible
}

@-webkit-keyframes hierarchical_slide {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 160%, 0);
        transform: translate3d(0, 160%, 0)
    }
    33% {
        opacity: 1
    }
    100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
}

@keyframes hierarchical_slide {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(0, 160%, 0);
        transform: translate3d(0, 160%, 0)
    }
    33% {
        opacity: 1
    }
    100% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
}

.hierarchical_slide > * {
    visibility: hidden
}

.hierarchical_slide_inView > * {
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-timing-function: cubic-bezier(.4, 0, .2, 1);
    animation-timing-function: cubic-bezier(.4, 0, .2, 1);
    -webkit-animation-duration: 900ms;
    animation-duration: 900ms;
    -webkit-animation-name: hierarchical_slide;
    animation-name: hierarchical_slide;
    visibility: visible
}

.fast_animation {
    -webkit-animation-duration: 500ms;
    animation-duration: 500ms
}

.menu-toggle ~ .dropdown-menu {
    -webkit-transform: scale(0.25, 0);
    transform: scale(0.25, 0);
    opacity: 0;
    -webkit-transition: all 280ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: all 280ms cubic-bezier(0.4, 0, 0.2, 1);
    -webkit-animation: none !important;
    animation: none !important;
    -webkit-transform-origin: 50% 0 !important;
    transform-origin: 50% 0 !important;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    border: none;
    border-radius: 2px;
    display: block;
    visibility: hidden;
}

.uk-dropdown-active {
    display: block !important;
}

.open .menu-toggle ~ .dropdown-menu,
.dropdown-menu.ng-show{
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
    opacity: 1;
    visibility: visible;
}




.filter-box.ng-hide-remove{
    -webkit-animation:0.5s show;
    -moz-animation:0.5s show;
    -ms-animation:0.5s show;
    animation:0.5s show;

}
.filter-box.ng-hide-add {
    -webkit-animation:0.2s hide;
    -moz-animation:0.2s hide;
    -ms-animation:0.2s hide;
    animation:0.2s hide;
}


@keyframes show {
    0% {
        opacity:0;
        transform: scale(0.5);
    }
    70% {
        transform: scale(1.02);
    }
    100% {
        opacity:1;
        transform: scale(1);
    }
}

@-webkit-keyframes show {
    0% {
        opacity:0;
        transform: scale(0.5);
    }
    70% {
        transform: scale(1.02);
    }
    100% {
        opacity:1;
        transform: scale(1);
    }
}
@keyframes hide {
    0% {
        opacity:1;
        transform: scale(1);
    }
    70% {
        transform: scale(0.5);
    }
    100% {
        opacity:0;
        transform: scale(0.2);
    }
}

@-webkit-keyframes hide {
    0% {
        opacity:1;
        transform: scale(1);
    }
    70% {
        transform: scale(0.5);
    }
    100% {
        opacity:0;
        transform: scale(0.2);
    }
}

.table-list-view tbody {
    transition: all .5s ease-in-out 0s;
}
@-webkit-keyframes hierarchical_slide_out {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        opacity: 1
    }
    100% {

        opacity: 0;
        -webkit-transform: translate3d(0, 5%, 0);
        transform: translate3d(0, 5%, 0)
    }
}

@keyframes hierarchical_slide_out {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        opacity: 1
    }
    100% {

        opacity: 0;
        -webkit-transform: translate3d(0, 5%, 0);
        transform: translate3d(0, 5%, 0)
    }
}

.header-user ~ .dropdown-menu.ng-hide-remove {
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-timing-function: cubic-bezier(.4, 0, .2, 1);
    animation-timing-function: cubic-bezier(.4, 0, .2, 1);
    -webkit-animation-duration: 300ms;
    animation-duration: 300ms;
    -webkit-animation-name: hierarchical_show;
    animation-name: hierarchical_show;
}
.header-user ~ .dropdown-menu.ng-hide-add {
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
   /* -webkit-animation-timing-function: cubic-bezier(.4, 0, .2, 1);
    animation-timing-function: cubic-bezier(.4, 0, .2, 1);*/
    -webkit-animation-duration: 300ms;
    animation-duration: 300ms;
    -webkit-animation-name: hierarchical_slide_out;
    animation-name: hierarchical_slide_out;
}
.ng-hide-add,
.ng-hide-remove,
#contentArea .error-message.ng-enter,
#contentArea .error-message.ng-leave{
    transition: all linear 0.2s;
}
.ng-hide{
    line-height: 0;
    opacity: 0;
}
#contentArea .error-message.ng-enter,
#contentArea .error-message.ng-leave.ng-leave-active {
    opacity: 0;
}
#contentArea .error-message.ng-leave,
#contentArea .error-message.ng-enter.ng-enter-active {
    opacity:1;
}
.choice-wrap .ng-hide-add,
.choice-wrap .ng-hide-remove,
.page-header-wrap button.ng-hide-add,
.page-header-wrap button.ng-hide-remove,
.image-wrap .ng-hide-add,
.image-wrap .ng-hide-remove {
    transition: none;
}
.image-wrap .ng-hide {
    line-height: inherit;
}