/*
Copyright (c) 2003-2016, CKSource - Frederico Knabben. All rights reserved.
For licensing, see LICENSE.md or http://ckeditor.com/license
*/

.cke_editable
{
	/* Font */
	font-family:"RobotoRegular",sans-serif;
	font-size: 12px;
	/* Text color */
	color: #333;
	/* Remove the background color to make it transparent */
	background-color: #fff;
	margin: 0px 0px 10px !important;
}

.cke_editable
{
	font-size: 13px;
	line-height: 1.6;

	/* Fix for missing scrollbars with RTL texts. (#10488) */
	word-wrap: break-word;
}

.cke_editable blockquote
{
	font-style: italic;
	font-family: Georgia, Times, "Times New Roman", serif;
	padding: 2px 0;
	border-style: solid;
	border-color: #ccc;
	border-width: 0;
}

.cke_editable .cke_contents_ltr blockquote
{
	padding-left: 20px;
	padding-right: 8px;
	border-left-width: 5px;
}
.cke_editable .cke_contents_rtl blockquote
{
	padding-left: 8px;
	padding-right: 20px;
	border-right-width: 5px;
}

.cke_editable a
{
	color: #0782C1;
}

.cke_editable ol,.cke_editable ul,.cke_editable dl
{
	/* IE7: reset rtl list margin. (#7334) */
	*margin-right: 0px;

	/* preserved spaces for list items with text direction other than the list. (#6249,#8049)*/
	padding: 0 40px;
}
.cke_editable ul li, .cke_editable ol li{
	list-style-type: inherit;
}
.cke_editable h1,.cke_editable h2,.cke_editable h3,.cke_editable h4,.cke_editable h5,.cke_editable h6
{
	font-weight: normal;
	line-height: 1.2;
}
.cke_editable h1 { font-size: 24px;} .cke_editable h2 { font-size: 22px;} .cke_editable h3 { font-size: 18px;} .cke_editable h4 { font-size: 16px;} .cke_editable h5 { font-size: 12px;} .cke_editable h6 { font-size: 10px;}
.cke_editable th, .cke_editable td{padding:3px;border: 1px solid #4c4c4c;}
.cke_editable td p{margin: 0;}
.cke_editable hr
{
	border: 0px;
	border-top: 1px solid #ccc;
}

.cke_editable img.right
{
	border: 1px solid #ccc;
	float: right;
	margin-left: 15px;
	padding: 5px;
}

.cke_editable img.left
{
	border: 1px solid #ccc;
	float: left;
	margin-right: 15px;
	padding: 5px;
}

.cke_editable pre
{
	white-space: pre-wrap; /* CSS 2.1 */
	word-wrap: break-word; /* IE7 */
	-moz-tab-size: 4;
	tab-size: 4;
}
.cke_editable p{
	margin-bottom: 10px;
}

.cke_editable .marker
{
	background-color: Yellow;
}

.cke_editable span[lang]
{
	font-style: italic;
}

.cke_editable figure
{
	text-align: center;
	border: solid 1px #ccc;
	border-radius: 2px;
	background: rgba(0,0,0,0.05);
	padding: 10px;
	margin: 10px 20px;
	display: inline-block;
}

.cke_editable figure > figcaption
{
	text-align: center;
	display: block; /* For IE8 */
}

.cke_editable a > img {
	padding: 1px;
	margin: 1px;
	border: none;
	outline: 1px solid #0782C1;
}
.cke {
	/*z-index: 0 !important;*/
}