@charset "utf-8";
@import url('roboto.css');
@import url(https://fonts.googleapis.com/css?family=Lato:400,700,300);

/*****reports*******/
.reports-leftside-panel{position: relative;width: 19%;float: left;}
.reports-rightside-panel{position: relative;width: 81%;float: left;padding-left: 20px;}
.reports-leftside-panel-widget {
    background: #fff;
    margin-bottom: 3px;
}
.reports-types-list li.active{background:#01aef0;}
.reports-types-list li a {
    display: block;
    padding: 5px;
    font-size: 12px;
    padding: 5px 10px;
}
.reports-leftside-panel-widget h3 {
    padding: 10px 10px 0;
}
.r-filters-btn-wrap{display: table;}
.r-filters-btn-wrap > li {
    display: table-cell;
    font-size: 14px;
    padding: 5px 0;
    text-align: center;
    width: 1%;
    cursor: pointer;
}
.filteredby-wrap li {
    border: 1px solid #ccc;
    cursor: pointer;
    font-size: 12px;
    margin-bottom: 5px;
    padding: 5px;
}
.r-filters-btn-wrap{padding: 0px 10px;}
.r-filters-btn-wrap li.active {
    border-bottom: 1px solid #f00;
}
.sector-filter-panel-total-wrap {
    height: 100%;
    min-width:1200px;
    width: auto;
    left: 0;
    margin-left: 100%;
    position: absolute;
    top: 0;
    z-index: 5;
}
.filter-panel{
    float: left;
    width: 280px;
    background: #ecedf2;
    height: 100%;
    border-right: 1px solid #fff;
    overflow-y: auto;
}
.filter-panel:last-child{border: none;}
.sector-filter-panel {
}
.products-filter-panel{
}
.filteredby-wrap li.active {
    background: #01aef0;
    border:1px solid #059CD7;
    color: #fff;
}
.filteredby-wrap li .icon-angle-right {
    float: right;
    height: 20px;
    line-height: 20px;
    text-align: center;
    width: 20px;
    display: block;
}
.filteredby-wrap li .icon-times{
    float: right;
    height: 20px;
    line-height: 20px;
    text-align: center;
    width: 20px;
    display: none;
   }
.filteredby-wrap li.active .icon-times{ display: block; }
.filteredby-wrap li.active .icon-angle-right{ display: none;}
.filter-panel h3 {
    background: #a8a7b9;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    padding: 10px;
    text-align: center;
    text-transform: capitalize;
}
.reports-views-list {
    font-size: 12px;
    padding-top: 10px;
}
.reports-cust-dropdown {
    padding: 0;
}
.reports-cust-dropdown li {
    padding: 2px 5px;
}
.reports-cust-dropdown li:hover{background: #e8ecee;}
.reports-cust-dropdown li:hover a {
    background: #e8ecee;
}
.reports-cust-dropdown li:last-child:hover{background: none;}
.reports-cust-dropdown li:last-child button {
    background: #D8DAE6;
    margin: 0;
    width: 50%;
    border: none;
    color:#33316c !important;
}
.reports-cust-dropdown li:last-child button:hover{background: #33316c;color:#fff !important;}
.ractions > a {
    display: inline-block;
    height: 33px;
    width: 33px;
}
.ractions > a {
    display: block;
    text-align: center;
}
.ractions > a i.fa{padding: 0 !important;line-height: 33px;}
.btn-report .fa{color: #22baf1;}
.btn-report:hover {background: #22baf1;color: #fff;}
.btn-report:hover .fa {color: #fff;}
/*rakesh Styles*/
.search-report{
    position: relative;
}
.search-report input {
    border: none;
    border-radius: 3px;
    padding: 2px 10px 2px 25px;
    width: 200px;
}
.search-report input[type=text]{
    font-size:12px;
}
.search-report i.fa{
    position: absolute;
    left: 12px;
    top: 7px;
}
.btn-report{
    background-color: #FFF;
    border-radius: 3px !important;
    padding: 5px 10px;
}
.search-report span{
    display: block;
    font-size: 10px;
    text-align: right;
    padding-top: 2px;
}
.report-list li{
    vertical-align: top;
}
.report-block{
    float: right;
}
.graph-types-btns li{padding: 0;float: left;}
.graph-types-btns li.active {
    background:#46C1EF;
    color: #fff;
}
.graph-types-btns li.active a span{color:#fff;}
.graph-types-btns li a{
    padding: 4px 10px;
    color:#32316B;
}
.graph-types-btns li a span{color:#32316B;}
.graph-types-btns li a:hover {
    background: #10b2f0;
    display: block;
}
.graph-types-btns li a:hover span{color: #fff;}
.report-block > ul{
    border-radius: 3px;
    display: inline-block;
    border:1px solid #cccccc;
}
.report-block i.fa{
    vertical-align: middle;
    padding-left: 10px;
}
.btn-blue-report{
    background-color: #221F60;
    border-radius: 15px!important;
    color: #FFF;
}
.right-btn h6{
    display: inline-block;
    font-size: 15px;
    padding-top: 10px;
}
.right-btn button{
    float: right;
    display: inline-block;
}
.radius-sec{
    border-radius: 3px;
}
.inline-display{
    display: inline-block;
}
.radius-sec .form-group{
    float: right;
    vertical-align: middle;
    margin-bottom: 0px;
}
.radius-sec .form-group input{
    width: 120px;
    height: 25px;
}
.p5{
    padding: 5px;
}
.plt12{
    padding: 12px 0px 0px 12px;
}
.table-report{
    margin-bottom: 5px;
}
.table-report tbody tr:hover{
    background-color: rgba(239,26,15,0.1);
}
.table-report td{
    padding: 5px;
    border-top:1px solid rgba(70,69,123,0.2) !important;
    position: relative;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.table-report td span{
    position: absolute;
    right: 10px;
}
ul.documents-rprt li a {
    font-size: 12px;
    min-height: 25px;
    padding-left: 30px;
    position: relative;
}
ul.documents-rprt li a span{position: absolute;left: 0;top: 0;font-size: 22px}
.reports-leftside-panel-widget .ngrs-range-slider .ngrs-handle{border-radius: 50%}
.reports-leftside-panel-widget .ngrs-range-slider .ngrs-join {
    background-color: #32316B;
    height: 4px;
    margin: -2px 0 0;
    background-image: none;
}
.reports-leftside-panel-widget .ngrs-range-slider::after{
    content: "";
    height: 2px;
    background: #c9cccf;
    position: absolute;
    top:12px;
    left:0;
    width: 100%;
    padding: 0 10px;
}
.reports-leftside-panel-widget .ngrs-range-slider {
    background: transparent;
    border: 1px solid transparent;
}
.reports-leftside-panel-widget .ngrs-range-slider .ngrs-runner {
    margin:0;
}
.reports-data-table tr th {
    padding: 8px 5px;
    position: relative;
    background: #D8DAE6;
    color: #33316c;
    white-space: nowrap;
}
.reports-data-table tr th a {
    background: rgba(0, 0, 0, 0);
    margin: 0 5px;
    padding: 0;
    vertical-align: top;
    background: #fff;
}
.reports-data-table tr th a:focus,.reports-data-table tr th a:hover{ margin: 0 5px; padding: 0;}


    /*profile links*/
.profile-links{
    padding: 10px 10px 2px;
    text-align: right;
    font-size: 12px;
    color:#00a2eb !important;
}
.profile-links a {
    border-right: 1px solid #211f60;
    margin-bottom: 1px;
    padding: 0 10px;
    color:#00a2eb;
}
.profile-links a:last-child {
    border-right: none;
}
.profile-links a:hover{
    color:#211f60;
}
.profile-links a.active {
    color:#211f60;
}
/*------raja changes-------*/
.control-label.gray-dark{
    color:#606060 !important;
}
/*Client List*/
.client-list-header {
    margin: 10px 0px 0px 0px;
}
.client-list-num {
    border-right: 1px solid #8586a9;
    float: left;
    padding: 5px 5px 5px 10px;
    width: 33%;
    cursor: pointer;
    /*min-height: 55px;*/
}
.client-list-num:hover {
    background: #eceeef;
}
.client-list-num.active{
    background: #fff;
}
.client-list-num:first-child{
    border-left: 1px solid #8586a9;
}
.client-list-icon {
    background: #9898b5;
    color: #fff;
    width: 32px;
    height: 32px;
    text-align: center;
    line-height: 33px;
    /*margin-top: 5px;*/
}
.table-list-view span.img {
    max-width: 60px;
    text-align: center;
    width: 32px;
    height: 32px;
    background: #9898b5;
    border-radius: 50%;
    font-size: 18px;
    text-align: center;
    color: #fff;
    line-height: 32px;
    margin-left: 5px;
}
.flag-img {
    max-width: 60px;
    width: 17px;
    height: 32px;
    padding-top: 6px;
}
.table-list-view span.flag-img img{
    width: 100%;

}
.client-rating {
    padding: 2px 5px;
    background: #ccc;
    /*font-weight: bold;*/
    font-size: 14px;
    color: #fff !important;
    display:inline-block !important;
}
.facility-icon,.colleteral-icon{
    position: relative;
}
.facility-icon.active i,.colleteral-icon.active i{
    color:#211f60;
}
.facility-icon i,.colleteral-icon i{
    color:#a5a5be;
}
.blink{
    margin:0px auto;
    width:8px;
    height:8px;
    width:5px;
    height:5px;
    color:#fff;
    padding:0px;
    background: #f00;
    border-radius:50%;
    display: inline-block;
    position: absolute;
    bottom: 5px;
    right:3px;
}
.action-head.action-new-head{
    width:33.33% !important;
}
.readonly-form .form-group.form-group-custom select.select-darkcolor {
    cursor: text;
    margin-top: -8px;
    color: #221f60 !important;
}
.header-list-div{
    padding-bottom: 5px !important;
    border-bottom: 1px solid #8586a9 !important;
}
/*client-list-view*/
.client-stage-view ul{
    background: #fff;
    padding: 5px;
    display: inline-block;
    float: left;
}
.client-stage-view ul li{
    display: inline-block;
    padding: 5px 5px 5px 10px;
    border-left: 1px solid #ccc;
    font-size: 12px;
    float: left;
    width:180px;
}
.client-stage-view ul li:first-child{
    /*min-width: 110px;*/
    border-left:none;
    padding-left: 5px;
}
/*.client-stage-view ul li:nth-child(2){
    min-width:100px;
}*/
.flag-nation{
    max-width: 60px;
    width: 30px;
    height: 27px;
}
.flag-nation img{
    width: 100%;
}
.complete-view-btn {
    color: #fff;
    background: #00a6ff;
    font-size: 12px;
    border: none;
    margin: 12px 12px 0px 0px;
    padding: 5px 8px;
}
.client-stage-view-bar{
    background: #afafc7;
    color: #fff;
    font-size: 12px;
    padding: 3px 5px;
}
.cursor-text{
    cursor: text;
}
.edit-bg .cke_textarea_inline{
    cursor: text !important;
    padding: 5px;
    border: 1px dashed #9697b5;
}
.cke_editor_introduction{
    z-index:9902 !important;
}
.add-button {
    background: #fff;
    font-size: 12px;
    border: 1px solid #a5a5bf;
    padding: 0px 4px;
    border-radius: 4px;
    color:#32316b;
    line-height: 19px;
}
.add-button i{
    margin-right: 5px;
    font-weight: bold;
}
.add-button:hover {
    color: #00a6ff;
}
.table-list-view th {
    padding: 4px;
}
.table-list-view.table.c-table td {
    max-width: 150px;
}
/*****Empty Table******/
.empty-table {
    width: 485px;
    height: 185px;
    background: #fff;
    text-align: center;
    margin: 0 auto;
    border: 1px solid #ababc4;
}
table.empty-table a:hover{
    text-decoration: underline !important;
}
/*****Complete view header******/
.complete-header {
    padding: 10px;
    background: #fff;
    font-size: 12px;
}
.complete-header h6 span {
    font-weight: bold;
    display: block;
    margin-bottom: 2px;
}
.complete-header label{
    color:#9898b5;
    display: block;
}
.complete-header span{
    color: #32316b;
}
.complete-header h6,.complete-header ul{
    display: inline-block;
}
.complete-header h6 {
    width: 300px;
    float: left;
    margin-top: 3px;
}
.complete-header h6 label{
    display: block;
}
.complete-header ul{
    float:right;
}
.complete-header ul li {
    display: inline-block;
    padding: 0px 6px;
    border-left: 1px solid #9898b5;
    float: left;
    line-height: 15px;
    min-width: 150px;
}
.complete-header ul li > span{
    display: block;
}
.rating-wrap{
    height: 31px;
    boder-left:none;
}
.head-flag {
    width: 30px;
    height: 24px;
    display: inline-block;
    float: left;
    margin-right: 8px;
    margin-top: 1px;
}
.head-flag img{
    width: 100%;
    height: 100%;
}
.head-flag-content{
    /*display: inline-block;*/
}
.header-icon {
    font-size: 28px;
    width: 33px;
    display: inline-block;
    text-align: center;
    height: 30px;
}
.header-rating {
    background: #ff0000;
    color: #fff !important;
    text-align: center;
    padding: 2px 5px;
    display: inline-block !important;
}
.rating-wrap span {
    float: left;
    margin-right: 2px;
}
/****************touchpoint-meetings**********/
.meeting-inv-wrap {
    border: 1px solid #ccc;
    font-size: 12px;
    margin-bottom: 8px;
}
.meeting-inv-wrap:hover {border:1px solid #6f6e92;}
.meeting-inv-wrap > h6 {
    background: #ebebf3;
    padding: 8px 5px;
    border-bottom: 1px solid #ccc;
}
.meeting-inv-wrap-footer {
    padding: 5px;
    border-top:1px solid #ccc ;
}
.meeting-inv-wrap-footer span:first-child{width: 50%;display: inline-block;vertical-align: top;}
.meeting-inv-wrap-body{padding: 5px;}
.meeting-inv-wrap-body > div {
    padding: 3px 10px;
    float: left;
}
.tpoint-actions{display: none;}
.tpoint-actions span{font-size: 14px;}
.tpoint-actions:hover{color: #01aef0;}
.meeting-inv-wrap:hover .tpoint-actions{display: block;}
.meeting-inv-wrap-status{
    color: #fff;
    float: right;
    font-size: 11px;
    padding: 2px 5px;
    text-transform: capitalize;
}
.meeting-inv-wrap-complete{background: #ebebf3;}
.meeting-inv-wrap-complete .meeting-inv-wrap-footer{ border-top:none;}
.meeting-inv-wrap-complete > h6 {border-bottom:none;}
.meeting-inv-wrap.meeting-inv-wrap-complete{border:1px solid #ebebf3;}
.meeting-inv-wrap.meeting-inv-wrap-complete:hover{border:1px solid #ebebf3;}
.attachment-inv-wrap{font-size: 12px;}
.attachement-inv-wrap-info {
    margin-left: 34px;
    margin-top: 10px;
    color: #a0a0a0;
}
.attachment-inv-wrap {
    border-bottom: 3px solid #ccc;
    width: 100%;
    padding: 10px 0px;
}
.attachment-inv-wrap .tpoint-actions{display:none;font-size: 14px;}
.attachment-inv-wrap:hover .tpoint-actions{display:block;}
.line-heading-center {
    text-align: center;
    overflow: hidden;
}
.line-heading-center span{position: relative;display: inline-block;}
.line-heading-center span::after {
    content: "";
    position: absolute;
    background: #ccc;
    height: 1px;
    width: 50%;
    top: 8px;
    margin-right: 10px;
    left: 0;
}

/*.line-heading-center span::before {
    content: "";
    position: absolute;
    background: #ccc;
    height: 1px;
    width: 50%;
    top: 8px;
    right: 0;
    margin-left: 10px;
}*/
.attachement-inv-wrap-info-old {
    margin-top: 8px;
}
.colleteral-listicon {
    width: 50px;
    text-align: center;
}
/*-----ratios------*/
.ratios-wrap{
    background: #fff;
    padding: 0px;
}
.years-range-wrap{
    background: #f5f6f8;
    padding: 10px;
}
.years-range-wrap h6 {
    text-align: right;
    padding-right: 10px;
    padding-top: 8px;
}
.years-range-wrap .form-group {
    margin-right: 15px;
}
.years-range-wrap .form-group label{
    color:#9697b5;
}
.capital-cost-warp h6{
    font-size: 14px;
    /*font-weight: bold;*/
    color:#32316b;
}
.capital-cost-warp{
    margin-top: 10px;
    padding: 0px;
}
.capital-cost-warp label {
    width: 180px;
    text-align: right;
    margin-right: 20px;
    color:#32316b;
}
.capital-cost-warp .form-inline {
    padding: 10px 0px;
    border-bottom: 1px solid #d8dae6;
}
.capital-cost-warp .form-inline:last-child {
    border-bottom: none;
}
/*financial-wrap*/
.financial-info-warp{
    padding: 0px;
}
.financial-info-warp h6 {
    font-size: 14px;
    /*font-weight: bold;*/
    color: #32316b;
    padding: 10px 0px 0px;
    border-top: 1px solid #a5a5bf;
}
.financial-info-warp label {
    text-align: right;
    color:#32316b;
}
.financial-info-warp .form-inline {
    padding: 10px 0px;
    border-bottom: 1px solid #a5a5bf;
}
.financial-left-wrap {
    display: inline-block;
    min-width: 180px;
    float: left;
    font-size: 12px;
    padding: 30px 0px 0px;
    text-align: right;
    margin-right: 20px;
}
.financial-right-wrap {
    display: inline-block;
    float: left;
}
.financial-right-wrap .form-group {
    display: inline-block;
    width: 50px !important;
    text-align: center !important;
    margin-right: 5px;
}
.financial-right-wrap .form-group span{
    padding: 5px 0px;
    background: #dfe0e9;
    color:#32316b;
    font-weight: bold;
    font-size: 12px;
}
.financial-inside-warp{
    padding: 10px 0px 10px;
    border-bottom: 1px solid #d8dae6;
}
.financial-inside-warp:last-child{
    border-bottom: none;
}
.capital-cost-warp2 {
    margin-top: 0px;
}
.capital-cost-warp2 h6 {
    border-top: 1px solid #a5a5bf;
    padding: 10px 0px 0px;
}
.border-blue-bottom{
    border-bottom: 1px solid #a5a5bf !important;
}
.financial-info-warp label.txt-left{
    text-align: left !important;
    display: inherit;
}
/*----------sector-limits--------------*/
.sectors-limit{
    background: #fff;
    color:#33316c;

}
.sectors-limit table{
    margin-bottom: 0px;
}
.sectors-limit th{
    font-size: 14px;

    border-bottom: 1px solid #706e98 !important;
}
.sectors-limit input {
    width: 50px;
    height: 25px;
    display: inline-block;
    padding: 5px;
    margin-left: 10px;
    border-radius: 3px;
    background: #eff1f5;
    border: 1px solid #d8dbe6;
}
.sectors-limit tr td{
    border-bottom: 1px solid #d8dbe6;
}
.sectors-limit tr td:first-child{
    width: 300px;
    border-right:1px solid #706e98;
}
.sectors-limit tr td:first-child p{
    margin-bottom: 0px;
}
.sectors-limit tr td:first-child p span {
    width: 160px;
    display: inline-block;
}
.sectors-limit tr td:first-child p a{
    margin-left: 10px;
    font-size: 14px;
    vertical-align: bottom;
}
.sectors-limit tr td:last-child p{
    margin-bottom: 20px;
}
.sectors-limit tr td:last-child p:last-child{
    margin-bottom: 0px;
}
.sectors-limit tr td:last-child p span{
    float: right;
}
.sectors-limit tfoot tr td{
    border-right:none !important;
    text-align: center;
}
 .sectors-limit tfoot{
    background: #eff1f5;
 }
.add-plus-icon {
    background: #9898b5;
    color: #fff;
    width: 20px;
    height: 20px;
    text-align: center;
    float: right;
}
.add-plus-icon i{
    font-size: 14px;
}
.add-plus-icon:hover,.add-plus-icon:focus {
    opacity: 0.8;
    color: #fff;
}
.table-report.table-report-sublevel tr th {
    background: #eaedf2;
    color:#32316b;
}
.table-report.table-report-sublevel tr td{color:#32316b;}
.table-report.table-report-sublevel tr td span{display: inline-block;position: inherit; margin-right: 10px;width: 60px;text-align: right;}
.table-report.table-report-sublevel td{overflow: visible;}
.table-report.table-report-sublevel tr.sub-h td:not(:nth-child(1)){font-size: 14px;font-weight: bold;}
.table-report.table-report-sublevel tr.sub-h td {background:#a5a5be;}
.table-report.table-report-sublevel tr td {padding:2px 5px;}
.table-report.table-report-sublevel td.sub-category {
    padding-left: 25px;
}
.table-report.table-report-sublevel td:first-child{font-weight: bold;}
.table-report.table-report-sublevel td.sub-category{font-weight: normal;}
.table-report.table-report-sublevel tr th,.table-report.table-report-sublevel tr td{border-right: 1px solid #ccc;}
.form-group-custom.form-group-custom-sm select{height: 21px;}
.table-inner-one .arrow-up,.table-inner-two .arrow-up{font-size: 14px;color: #00A500; margin-left: 6px;width: 20px !important; text-align: center;}
.table-inner-one .arrow-down,.table-inner-two .arrow-down{font-size: 14px;color: red; margin-left: 6px;width: 20px !important; text-align: center;}
.table-inner-one .arrow-nutral,.table-inner-two .arrow-nutral{font-size: 14px;color: #32316b; margin-left: 6px;width: 20px !important; text-align: center;transform: rotate(90deg);-webkit-transform: rotate(90deg);-moz-transform: rotate(90deg);}
.arrow-up{font-size: 14px;color: #00A500; margin-left: 6px;width: 15px !important; text-align: center;}
.arrow-down{font-size: 14px;color: red; margin-left: 6px;width: 15px !important; text-align: center;}
.arrow-nutral{font-size: 14px;color: #32316b; margin-left: 6px;width: 15px !important; text-align: center;transform: rotate(90deg);-webkit-transform: rotate(90deg);-moz-transform: rotate(90deg);}
.table-text-right tr th:not(:nth-child(1)), .table-text-right tr td:not(:nth-child(1)){text-align: right;border-right: 1px solid #ccc;}
.table-text-right tr td:not(:nth-child(1)) span{font-size: 11px;width: calc(100% - 25px);-webkit-width: calc(100% - 25px);-moz-width: calc(100% - 25px);}
.table-text-right tr td:not(:nth-child(1)) .arrow-nutral,.table-text-right tr td:not(:nth-child(1)) .arrow-down,.table-text-right tr td:not(:nth-child(1)) .arrow-up{font-size: 8px;}
table.table-text-right tr.reports-custom-footer td {
    border-top: 1px solid #32316b !important;
    border-bottom: 1px solid #32316b;
    background: #fff;
}
tr.reports-custom-footer td span{font-weight: bold;}
/* Aging styles in mis table */
table.table-style.aging-font tr th, table.table-style.aging-font tr td
{
    font-size: 10px !important;
}
.table-inner-one table tr td.sub-category {
    font-size: 11px;
    padding-left: 25px;
    font-style: italic;
}
.c-table td span.sub-category{padding-left: 25px;}
/*common-container-margin*/
.content-container.common-margin-container {
    margin: 58px 20px 0px;
}
.fixed-wrapper-new{
    top:108px;
}
.t-tabs.tabs-wrap .nav li:last-child a {
    margin-right: -1px !important;
    border-right: 0px;
}
/*project complete view main head*/
.head-width {
    width: 250px;
}
/*nested tables*/
.inside-tables thead tr th,.inside-tables tbody tr td{
    max-width: 100px !important;
}
/*.inside-tables thead tr th:first-child,.inside-tables tbody tr td:first-child{
    max-width: 150px;
}*/
/*.table-report-sublevel tbody tr:hover{
    background: none;
}*/
.foot-total{border-bottom: 1px solid #221f60 !important;font-weight: bold;}
.report-full-td:hover{
    background: none !important;
}
.master-table>tbody >tr >td {
    padding: 0;
}
.table-main-header th {
    min-width: 200px;
    width: 200px;
    color: #34306b;
    font-weight: bold;
    padding: 8px 8px;
    position: relative;
}
.table-inner-one th,.table-inner-one td {
    min-width: 240px;
    width: 240px;
    color: #34306b;
 }
.table-inner-two th,.table-inner-two td {
    min-width: 240px;
    width: 240px;
    color: #34306b;
}
.table-inner-one tr th,.table-inner-two tr th {
    padding: 8px 8px;
    background: #a5a5be;
    color: #fff;
    font-weight: bold;
}
.table-inner-one tr td,.table-inner-two tr td {
    padding: 4px 8px;
    color: #34306b;
}
.table-main-header th:not(:nth-child(1)),.table-inner-one tr th:not(:nth-child(1)),.table-inner-two tr th:not(:nth-child(1)),.table-inner-one tr td:not(:nth-child(1)),.table-inner-two tr td:not(:nth-child(1)){
    text-align: right;
}
.table-inner-one th span,.table-inner-one td span,.table-inner-two th span,.table-inner-two td span{width: 40%!important; text-align: right;display: inline-block !important;}

/*tr.reports-row-style th:first-child
tr.reports-row-style td:first-child{
    width: 350px !important;
}
tr.reports-row-style th span,
*/
tr.reports-row-style td:not(:first-child) span{
    /*width: 40% !important;*/
    display: inline-block;
}
.reports-row-style-first-td span{
    width: 350px !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
}


.attached-list-btn-group{padding: 5px 0px;}
.attached-list-btn-group a span {
    display: block;
    height: 20px;
    line-height: 20px;
    text-align: center;
    width: 20px;
    font-size: 14px;
}
.attached-list-btn-group a span:hover{color:#00a6ff; }
.attached-list-btn-group a{position: relative;}
.attached-list-btn-group a .circle-count {
    color: #fff;
    right: -7px;
    position: absolute;
    top: -6px;
    font-size: 10px;
    padding: 0;
    width: 17px;
    height: 17px;
    line-height: 17px;
    text-align: center;
}
.attached-list-btn-group a .circle-count:hover{color: #fff;}
.link-icon-blue {
    color: #000 !important;
    height: 20px;
    text-align: center;
    width: 20px;
}
.link-icon-blue:hover{color:#00a6ff!important;}
.touch-attacment-box {
    padding-left: 40px !important;
    position: relative;
}
.touch-attacment-box-icon{position: absolute;left: 0;top:0;padding: 5px !important;}
.list-items .touch-attacment-box > div {
    padding: 0;
}
.rep-select-month .chosen-container.chosen-container-single {
    width: 100px;
}
.master-table.table {
    margin-bottom: 0;
}
/*sector limits table*/
.sector-limits-table{
    font-size: 12px;
}
.sector-limits-table th{
    background: #a5a5be;
    color: #fff;
    border: none;
}
.sector-limits-table thead th{
    border: none;
    vertical-align: middle;
    border-right: 1px solid #ccc;
    padding: 5px;
    text-align: right;
    font-weight: normal;
}
.sector-limits-table tbody td{
    border-right: 1px solid #ccc;
    color: #34306b;
}
.header-span{
    display: inline-block;
    width: 49%;
    text-align: right;
}
.body-span {
    display: inline-block;
    width: 49%;
    text-align: right;
}
.td-leftside, .td-rightside {
    background: #fff;
    padding: 5px !important;
    border-bottom: 1px solid #ccc;
}
.td-leftside{
    vertical-align: middle !important;
}
.td-rightside table tr td {
    border-top: none;
    vertical-align: middle;
    border-bottom: 1px solid #ccc;
    padding: 5px;
    text-align: center;
}
.td-rightside table tr td:first-child {
    text-align: left;
}
.td-rightside table tr:last-child td {
    border-bottom: none;
}
.td-rightside table td span{
    vertical-align: middle;
}
.span-list-left, .span-list-right {
    width: 50%;
    display: inline-block;
    float: left;
}
.td-rightside tbody tr:hover td {
    background: #E7EEF3;
}
.rotate90{
    transform: rotate(90deg);
}
.td-rightside table td span.icon-up-arrow,.td-rightside table td span.icon-down-arrow {
    margin-top: 2px;
    font-size: 14px;
    margin-left: 0px;
}
.td-rightside table td span span:first-child {
    position: absolute;
}
.td-rightside table td span span:last-child {
    padding-left: 28px;
    display: inline-block;
}
.sector-limits-table tbody > tr:nth-child(even) td.td-leftside{
    background: #f9f9fb;
}
.sector-limits-table tbody > tr:nth-child(even) td.td-rightside table td{
    background: #f9f9fb;
}
.sector-limits-table tbody > tr:nth-child(even):hover td.td-rightside table td{
    background: #E7EEF3;
}
.breadcrumb {
    padding: 0;
    margin-bottom: 0;
    list-style: none;
   background-color:transparent !important;
    border-radius: 0;
    display: inline-block;
}
.breadcrumb li a{
    color: #9999b5;
}
.breadcrumb li a:hover{
    text-decoration: underline !important;
}
.breadcrumb > li + li:before {
    padding-right: .5rem;
    padding-left: .5rem;
    color: #818a91;
    content: "> ";
}
.loan-officer-dboard-alerts-widget{
    position: relative;
    padding-left: 45px;
    margin: 8px 0px 5px;
    color: #32316b;
    cursor: pointer;
    display: block;
    min-height:37px;
}
.loan-officer-dboard-alerts-widget > div span:first-child {
    width: 37px;
    height: 37px;
    color: #fff;
    font-size: 26px;
    text-align: center;
    line-height: 37px;
    border-radius: 4px;
    position: absolute;
    left: 0;
    top: 0;
}
.loan-officer-dboard-alerts-widget > div > span:not(:first-child){display: block; font-size: 12px;}
.loan-officer-dboard-alerts-task span:first-child{background: #f11d1d;}
.loan-officer-dboard-alerts-action span:first-child{background: #6abb3e;}
.loan-officer-dboard-alerts-meeting span:first-child{background: #d6b32e;}
.loan-officer-dboard-alerts-attachment span:first-child{background: #f58f18;}
.loan-officer-dboard-alerts-companies span:first-child{background: #9a67d3;}
.loan-officer-dboard-alerts-contact span:first-child{background: #50a5d1;}
.loan-officer-dboard-alerts-widget > div span:nth-child(2){font-size:16px;font-weight: bold;line-height: 19px;}
.loan-officer-dboard-covanent-widget .first-alpha{
    background: #ccc;
    border-radius: 100%;
    color: #fff;
    display: inline-block;
    font-size: 18px;
    font-weight: bold;
    height: 32px;
    line-height: 32px;
    text-align: center;
    width: 32px;
    opacity: 0.8;
}
.loan-officer-dboard-covanent-widget{font-size: 12px;padding: 12px 0px;border-bottom: 1px solid #ddd;}
.loan-officer-dboard-covanent-widget:last-child{border-bottom: none;}
.label-new{background: #01cccd;}
.loan-officer-dboard-knowledge-widget,.loan-officer-dboard-task-widget{border-bottom: 1px solid #ddd;}
.loan-officer-dboard-knowledge-widget:last-child,.loan-officer-dboard-task-widget:last-child{border-bottom: none;}
/*map div*/
.map-data {
    width: 252px;
    /*position: absolute;*/
    min-width:252px ;
    /*background: rgba(255,255,255,0);*/
    /*border: 2px solid #BDBCCE;*/
    padding: 7px 4px 0px;
}
.map-data p{
    border-bottom: 1px solid #d8dae6;
    margin: 0px;
    padding:2px 0px;
}
.map-data p:last-child{
    border-bottom: none;
}
.map-data p label{
    width: 40%;
    color: #32316b;
    text-align: right;
    margin-right:10px;
    vertical-align: top;
    font-size: 10px;
}
.map-data p span {
    width: 50%;
    display: inline-block;
    word-wrap: break-word;
    vertical-align: bottom;
    font-size: 10px;
}
.map-flags img{
    width: 43px;
}
.map-flags span:first-child {
    float: left;
}
.ng-map-info-window > div:first-child > div:last-child {
    background: rgba(255,255,255,0.9) !important;
}
/*.custom-marker.map-data {
    background: none;
    border: none;
    width: 17px;
    height: 17px;
    border-radius: 17px;
    background-color: BDBCCE;
}*/
/*covenant-list*/
.covenant-tab-list li span{
    display: inline-block !important;
}
.covenant-tab-list li p{
    margin-bottom: 0px;
    font-weight: normal;
}
.v-tabs-wrap.covenant-tab-list > ul > li:hover{
    background: #ededf2;
}
 .v-tabs-wrap.covenant-tab-list > ul > li.tab-active{
    background: #ededf2;
 }
.v-tabs-wrap.covenant-tab-list > ul > li.tab-active a {
    border-bottom: 2px solid #bbbbce;
}
.v-tabs-wrap.covenant-tab-list > ul > li > a{
    border: none;
    border-bottom: 1px solid #c7c8e7;
}
.add-right-button{
    z-index: 1;
}
/*dropdown-menu*/
form .dropdown-menu {
    width: 100%;
}
/***************Mediaquries******************/
@media only screen and (min-width: 1367px){

    .reports-leftside-panel {
        width: 15%;
    }
    .reports-rightside-panel {
        width: 85%;
    }
}
@media only screen and (max-width: 1280px) {
    .client-stage-view ul li{
        width: 165px;
    }
    .map-flags img{
        width: 40px;
    }
}
@media only screen and (max-width: 1160px) {
    .client-list-num {
        width: 49%;
    }
    .complete-view-btn {
        font-size: 12px;
        padding: 5px;
    }
    .complete-view-btn i{
        font-size: 16px !important;
    }
    .client-stage-view ul li{
        width: 110px;
    }
    .peopleName, .tabs-wrap .nav li a, .icons-view li span {
        font-size: 9px;
    }
    /*header complete list*/
    .complete-header h6{width: 200px;}
    /*ratio's*/
    .years-range-wrap .form-group {
        margin-right: -2px;
    }
    .capital-cost-warp label {
        min-width: 105px;
    }
    .financial-left-wrap {
        padding: 10px 0px 0px;
        text-align: left;
    }
    .years-range-wrap h6 {
        padding-top: 8px;
        padding-right: 0px;
    }
    .notification-header-btn{
        padding: 5px;
    }
    /*project complete view main header*/
    .head-width {
        width: 90px;
    }
    .table-list-view.table.c-table td {
        max-width: 75px;
    }
    /*map data*/
    .map-data{
        width: 200px;
    }
    .map-data p label,.map-data p span{
        font-size: 10px;
    }
    .map-flags img {
        width: 28px;
        height: 23px;
        margin-top: -2px;
    }
    .map-flags span {
        font-size: 11px !important;
    }
    .map-flags + span {
        font-size: 14px;
    }
    /*stages vs amount*/
    .stages-vs-amount span{
        font-size: 13px;
    }
    /*dashboard*/
    .dashboard-user + div {
        padding-left: 15px;
    }
    /*Knowledge Management*/
    .knowledgement-item-view-head-right li {
        padding: 19px 10px 10px;
    }
    .knowledgement-item-view-head-right li:last-child {
        padding-top: 9px;
    }
    /*roles management*/
    .r-iconset > a{
        margin-right: 0px;
    }
    .r-iconset > a i{
        padding-left: 1px;
    }
}

.highcharts-container svg>text {
    display: none;
}
