<div class="div-header">
    <h3 class="f14 roboto-bold text-capitalize p10 display-inline-block ">
        <i class="{{collateral_stage_icon}} mr4"></i>{{stageTitle}}</h3>
    <!--<div class="pull-right mr4">
        <a href="#" class="white-color f12 pull-left mt8 mr4">year: 15-16</a>
        <a href="#" class="red-bg white-color f12 p2 plr10 pull-left mt5">Update</a>
        <a href="#" class="p5 f21 white-color ml5"><i class="icon-eye"></i></a>
    </div>-->
</div>
<div class="col-sm-12 p10">
    <div ng-controller="collateralChecklistCtrl">
        <div class="row clearfix">
            <div class="col-sm-12" ng-init="getAssessmentQuestion('collateral_document')">
                <div class="data-item" ng-repeat="category in categoryQuestionList">
                    <div class="data-item-header">
                        <h4 class="f14 bold dark-blue pb10 text-capitalize bold">{{category.assessment_question_category_name}}</h4>
                    </div>
                    <div class="data-item-content pl0">
                        <ul>
                            <li class="clearfix" ng-repeat="question in category.question">
                                <h4 class="f13 dark-blue pb5">
                                    <div ng-bind-html="question.assessment_question"></div>
                                </h4>
                                <div ng-if="question.answer == undefined">
                                    <div ng-init="question.answer={};"></div>
                                </div>
                                <div ng-if="question.question_type=='text'">
                                    <input type="text" ng-model="question.answer.assessment_answer" class="width-full f12 p10 darkcolor"/>

                                </div>
                                <div ng-if="question.question_type=='textarea'" class="col-lg-12 p0">
                                    <textarea ckeditor="" ng-model="question.answer.assessment_answer" class="width-full min-height70 f12 p10 darkcolor"></textarea>
                                </div>

                                <div class="radio-list" ng-if="question.question_type=='date'">
                                    <div class="input-group width220">
                                        <input type="text" class="form-control" uib-datepicker-popup="yyyy-MM-dd"
                                               data-ng-model="question.answer.assessment_answer" type="text" name="date_of_birth"
                                               date-type="string"
                                               is-open="openCal"
                                               show-weeks="false" show-button-bar="false" readonly/>
                                          <span class="input-group-btn">
                                            <button type="button" class="btn btn-default border" ng-click="openCal = true">
                                                <i class="fa fa-calendar"></i></button>
                                          </span>
                                    </div>
                                </div>
                                <ul class="radio-list " ng-if="question.question_type=='radio'">
                                    <li class="darkcolor border-none pad0 mb3 display-inline-block valign-top mr8 f13" ng-repeat="option in question.question_option">
                                        <input type="radio" name="radio_{{question.id_assessment_question}}" ng-value="option.option_id" ng-model="question.answer.assessment_answer" class="valign-middle">
                                        {{option.option_title}}

                                    </li>
                                </ul>
                                <ul class="radio-list" ng-if="question.question_type=='checkbox'">
                                    <li class="darkcolor border-none pad0 mb3 f13" ng-repeat="option in question.question_option">
                                        <input type="checkbox" name="radio" ng-model="question.answer.assessment_answer[option.option_id]" class="valign-middle">
                                        {{option.option_title}}

                                    </li>
                                </ul>
                                <div class="radio-list" ng-if="question.question_type=='dropdown'">
                                    <select class="form-control width220" ng-model="question.answer.assessment_answer">
                                        <option ng-repeat="option in question.question_option"
                                                value="{{option.option_id}}">
                                            {{option.option_title}}
                                        </option>
                                    </select>

                                </div>
                               <!-- <div class="radio-list">
                                    <div ng-init="question.answer.file={}"></div>
                                    <input type="file" class="f14" ngf-select ng-model="question.answer.file" name="file"
                                           accept="image/*" ngf-max-size="2MB">
                                    <div class="row col-lg-12" ng-if="question.answer.comment_file != null && question.answer.comment_file != ''">
                                        <a target="_blank" class="f12 sky-blue" href="{{question.answer.comment_file}}" download><span><i class="fa fa-download mr4"></i>Download </span></a>
                                    </div>
                                </div>-->

                                <div class="">
                                    <label class="control-label">Comments </label>
                                    <textarea ng-model="question.answer.comment" class="width-full form-control min-height70 f12 p10 darkcolor"></textarea>
                                </div>


                            </li>

                        </ul>
                        <div class="col-sm-12 btn-custom mt5">
                            <button class="btn btn-primary f14" ng-click="saveAnswer(category.question,'collateral_document')"
                                n-t="{'e_n':'Save Checklist Collateral';'e_d':'Checklist, Collateral - {{collateralNumber}}'}">Save
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
