<div class="div-header">
    <h3 class="f14 roboto-bold text-capitalize p10 display-inline-block ">
        <i class="{{collateral_stage_icon}} mr4 "></i>{{stageTitle}}</h3>
   <div class="pull-right mr4">
       <!-- <a href="#" class="white-color f12 pull-left mt8 mr4">year: 15-16</a>
        <a href="#" class="red-bg white-color f12 p2 plr10 pull-left mt5">Update</a>
        <a href="#" class="p5 f21 white-color ml5"><i class="icon-eye"></i></a>-->
        <a ng-click="addCollateral()" href="javascript:;" class="p5 f21 white-color" uib-tooltip="Add"
           n-t='{"e_n":"Collateral - Add Contacts","e_d":"Collateral - {{collateralNumber}}"}'><i class="icon-plus-circle"></i></a>
    </div>
</div>

<div class="col-sm-12 p10" ng-controller="collateralAddedContactsCtrl">
    <table class="table c-table table-striped table-bordered table-hover display table-style">
        <thead>
        <tr>
            <th>Contact name</th>
            <th>Email</th>
            <th>Relation Type</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="row in collateralContactList">
            <td>{{row.contact_name}}</td>
            <td>{{row.email}}</td>
            <td>{{row.relation_type}}</td>
            <td style="width:10%;">
                <ul class="icons-wrap">
                    <li>
                        <a href="javascript:;" ng-click="removeContactCompany(row.id_collateral_contact)" class="fa fa-trash" uib-tooltip="Delete"
                           n-t='{"e_n":"Collateral - Delete","e_d":"{{row.contact_name}}, Collateral - {{collateralNumber}}"}'></a>
                    </li>
                </ul>
            </td>
        </tr>
        <tr ng-if="collateralContactList.length<=0">
            <td class="text-center" colspan="5">No data found</td>
        </tr>
        </tbody>
    </table>
</div>
<script type="text/ng-template" id="add_contacts.html">
    <div class="modal-wrap right-modal modal-custom">
        <h3 class="right-modal-head">
            <i class="{{collateral_stage_icon}} mr8"></i> {{title}} {{stageTitle}}
            <a class="close-right pull-right" href="javascript:;" uib-tooltip="Close" ng-click="cancel()"><img src="images/close.png"></a>
        </h3>
        <div ng-controller="collateralAddedContactsCtrl">
            <div class="clearfix">
                <div class="col-sm-12 p0 attachment-list">
                    <div class="p15 bg-box">
                        <div class="mapping-search">
                            <!--<input type="text" class="form-control" placeholder="Search Companies" style="padding: 8px;">
                            <span class="input-group-addon cursor-pointer"><i class="fa fa-search"></i> </span>-->
                            <input class="form-control" style="padding: 8px;"
                                   placeholder="Search Contacts"
                                   type="text" ng-model="asyncSelected"
                                   typeahead-on-select="onSelect($item, $model, $label)"
                                   uib-typeahead="contacts as contacts.first_name for contacts in getContactList($viewValue)"
                                   typeahead-template-url="contactListTemplate.html"
                                   typeahead-loading="loadingContacts"
                                   typeahead-no-results="noResults">
                            <i class="fa  fa-search icon-search f16 pt2 darkblue"></i>
                            <a data-ng-click="addContact()" data-ng-show="visibleAddButton" class="go"><i
                                    class="fa fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                    <div class="col-sm-12 bg-box mb10" data-ng-if="visibleDesignationDropDown">
                        <form name="cForm" novalidate>
                            <div class="col-sm-6 p-l-0">
                                <div class="col-sm-2 p0  text-img">
                                    <span first-alpha="{{selectedItem.first_name}}"></span>
                                </div>
                                <div class="col-sm-10 p-l-0">
                                    <p class="f14">{{ selectedItem.first_name }}</p>
                                    <a class="display-block f12 sky-blue" href="mailto:{{ selectedItem.email }}">{{
                                        selectedItem.email }}</a>
                                </div>
                            </div>
                            <div class="col-sm-6 form-group clearfix form-group-custom">
                                <div id="designation"><label class="label-text">{{'Collateral Contact Relation' |
                                    translate}} *</label>

                                    <div class="form-group clearfix form-group-custom">
                                        <select class="form-control chosen-choices"
                                                chosen
                                                ng-init="masterDropDownList({'master_key':'collateral_contact_relation'})"
                                                ng-model="fd.relation_type_id" name="relation_type_id"
                                                ng-options="item.id as item.name for item in dropDownItems['collateral_contact_relation']"
                                                required>
                                            <option value="">--Select--</option>
                                        </select>
                                        <div ng-if="cForm.relation_type_id.$error.required && cForm.$submitted"
                                             class="error-message">This filed is required
                                        </div>
                                    </div>

                                </div>

                            </div>

                            <div class="col-sm-12 text-center">
                                <button class="btn btn-primary border-none btn-dark f12 mr4"
                                        n-t='{"e_n":"Company - Save Contacts","e_d":"Collateral - {{collateralNumber}}"}'
                                        ng-click="cForm.$valid && collateralContactSave(fd,cForm)">
                                    <i class="fa fa-plus-circle"></i> {{'Add' | translate}}
                                </button>
                                <button type="button" class="btn btn-primary f12 border-none lt-bg" ng-click="cancelAssign()"
                                        n-t='{"e_n":"Company - Cancel Contacts","e_d":"Collateral - {{collateralNumber}}"}'>{{'Cancel' | translate}}
                                </button>
                            </div>
                        </form>
                    </div>
                    <table class="table c-table table-striped table-bordered table-hover display table-style">
                        <thead>
                        <tr>
                            <th>Contact name</th>
                            <th>Email</th>
                            <th>Relation Type</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="row in collateralContactList">
                            <td>{{row.contact_name}}</td>
                            <td>{{row.email}}</td>
                            <td>{{row.relation_type}}</td>
                            <td style="width:10%;">
                                <ul class="icons-wrap">
                                    <li>
                                        <a href="javascript:;" ng-click="removeContactCompany(row.id_collateral_contact)" class="fa fa-trash" uib-tooltip="Delete"></a>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                        <tr ng-if="collateralContactList.length<=0">
                            <td class="text-center" colspan="4">No data found</td>
                        </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
</script>
<script type="text/ng-template" id="contactListTemplate.html">
    <a>
        <div class="list-item p5 clearfix">
            <div class="col-sm-1 p0">
                <div class="img-box ">
                    <img class="img-circle" ng-src="{{match.model.profile_image}}">
                </div>
            </div>
            <div class="list-desc col-sm-8">
                <p class="list-item-title blue">{{match.model.first_name}} {{match.model.last_name}}</p>
                <ul>
                    <li>{{match.model.email}}</li>
                    <li>{{match.model.phone_number}}</li>
                </ul>
            </div>
        </div>
    </a>
</script>