<div class="div-header">
    <h3 class="f14 roboto-bold text-capitalize p10 display-inline-block ">
        <i class="{{collateral_stage_icon}} mr4 "></i>{{stageTitle}}</h3>
    <div class="pull-right mr4">
        <a href="javascript:;" uib-tooltip="Back" class="p5 white-color" ng-show="covenantShow" ng-click="gotoTable()">
            <i class="fa fa-arrow-left"></i>
        </a>
    </div>
    <!--<div class="pull-right mr4">
        <a href="#" class="white-color f12 pull-left mt8 mr4">year: 15-16</a>
        <a href="#" class="red-bg white-color f12 p2 plr10 pull-left mt5">Update</a>
        <a href="#" class="p5 f21 white-color ml5"><i class="icon-eye"></i></a>
    </div>-->
</div>
<div class="col-sm-12 p10" ng-hide="covenantShow">
    <div ng-controller="crmDocumentsCtrl">
        <div class="row clearfix">
            <div class="col-sm-12 p0" ng-init="getDocumentsList()">
                <div ng-repeat="d in documentList">
                    <div class="col-lg-12 mb20">
                       <!-- <label class="control-label">{{d.document_name}}</label>-->
                        <a href="javascript:;"
                           ng-click="createCovenant(d.document_name,{'module_id':currentCollateralId,'module_type':'collateral','reference_id':d.id_collateral_document,'reference_type':'documents'})"
                           n-t='{"e_n":"covenant add {{d.document_name}},"e_d":"Collateral - {{collateralNumber}}"}'
                           class="icon-gear pull-right p5" uib-tooltip="Create Covenant"></a>
                            <attachment-view title="{{d.document_name}} " hide-select-type="false" module-id="4" form-key="documents"
                                             field-key="{{d.id_collateral_document}}"
                                             ref-id="{{currentCollateralId}}"></attachment-view>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="clearfix" ng-show="covenantShow">


    <div class="col-sm-12 p0 border-bottom pt5 pb5">
        <h3 class="col-sm-5 sky-blue mt5 f14 cursor-pointer" ng-click="c.more=!c.more">{{c.covenant_name}}</h3>
        <div class="col-sm-3 p0 f12 mt5 text-right">
                <span class="ash">Last Review: <strong class="darkcolor">{{c.covenant_start_date |
                    utcToLocal:'date'}}</strong></span>
        </div>
        <div class="col-sm-3 p0 f12 mt5 text-right">
            <span class="ash">Next Review: {{c.next_due_date | utcToLocal:'date'}}</span>
        </div>
        <div class="col-sm-1 text-right">
            <div class="display-inline-block pull-right custom-list">
                <a class="menu-toggle f13 dark-sky-blue dropdown-toggle" data-toggle="dropdown" href="javascript:;"
                   aria-expanded="false"><i class="fa fa-ellipsis-v"></i>
                </a>
                <ul class="dropdown-menu cust-dropdown">
                    <li>
                        <a href="javascript:;" ng-click="configCovenantModalOpen(c.id_module_covenant)"
                           class="f14 darkcolor"
                           n-t='{"e_n":"Project Covenant Config","e_d":"{{c.covenant_name}}, Collateral - {{collateralNumber}}"}'><i
                                class="icon-edit"></i>Config</a>
                    </li>
                    <li ng-show="c.module_covenant_status=='new'">
                        <a  uib-tooltip="Delete" href="javascript:;" ng-click="deleteCovenant(c.id_module_covenant)" class="f14 darkcolor"
                           n-t='{"e_n":"Project Covenant Delete","e_d":"{{c.covenant_name}}, Collateral - {{collateralNumber}}"}'><i
                                class="icon-trash"></i>Delete</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-sm-12 p0 pt5 pb5 clearfix">

        <div class="col-sm-4 border-right">
            <label class="label-text display-block">Frequency</label>
            <label class="bold f14 darkcolor display-block text-line">{{c.frequency_name}}</label>
        </div>

        <div class="col-sm-4">
            <div class="col-sm-10 p0">
                <label class="label-text display-block">Assigned to</label>
                <label class="bold f14 sky-blue text-line display-block text-line">{{c.assigned_to_name}}</label>
            </div>
        </div>
    </div>
    <div class="col-sm-12 border-top" ng-if="c.more">
        <div>
            <div class="col-sm-12 p10 border-bottom">
                <h4 class="f15 darkcolor mb5">Description:</h4>
                <p class="darkcolor mb0">{{c.covenant_description}}</p>
            </div>
            <div class="col-sm-12 p10" ng-controller="crmCovenantCtrl">
                <h3 class="darkcolor text-capitalize mb5 f16">History</h3>
                <div class="table-responsive covenant-table">
                    <table st-table st-pipe="getCovenantHistory"
                           class="table c-table table-hover display table-style mb0">
                        <thead>
                        <tr>
                            <th>Date<input type="hidden" st-search="module_covenant_id"
                                           ng-value="c.id_module_covenant"></th>
                            <th>User</th>
                            <th>Monitoring Status</th>
                            <th>Comments/Reviews</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in cTaskHistroy[c.id_module_covenant]">
                            <td>{{item.task_due_date|utcToLocal:'date'}}</td>
                            <td>{{item.user_name}}</td>
                            <td><span class="orange">{{item.task_status | uppercase}}</span></td>
                            <td>{{item.task_comments}}</td>
                            <td><a href="javascript:;" ng-if="item.task_status !='submitted'"
                                   ng-click="cHistoryActionModal(item.id_covenant_task,c.id_module_covenant)">Action</a>
                                <a href="javascript:;"
                                   ng-click="cActionHistoryModal(item.id_covenant_task)">view</a>
                            </td>

                        </tr>

                        </tbody>
                        <tfoot>
                        <tr>
                            <td colspan="5" class="text-center">
                                <div st-items-by-page="10" st-pagination
                                     st-template="partials/pagination.custom.html" class="pull-right"></div>
                            </td>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>
