<div class="div-header">
    <h3 class="f14 roboto-bold text-capitalize p10 display-inline-block ">
        <i class="{{collateral_stage_icon}} mr4"></i>{{stageTitle}}</h3>
    <div class="pull-right mr4">
        <!--<a href="#" class="white-color f12 pull-left mt8 mr4">year: 15-16</a>
        <a href="#" class="red-bg white-color f12 p2 plr10 pull-left mt5">Update</a>
        <a href="#" class="p5 f21 white-color ml5"><i class="icon-eye"></i></a>-->
        <a ng-click="addCollateral()" uib-tooltip="Add"
           n-t='{"e_n":"Add {{stageTitle}} modal","e_d":"Collateral - {{collateralNumber}}"}'
           href="javascript:;" class="p5 f21 white-color"><i class="icon-plus-circle"></i></a>
    </div>
</div>
<div class="col-sm-12 p10">
    <table class="table c-table table-striped table-bordered table-hover display table-style">
        <thead>
        <tr>
            <th>Date of Check</th>
            <th>Registration Authority</th>
            <th>Result</th>
            <th>Acton</th>
        </tr>
        </thead>
        <tbody>
            <tr ng-repeat="row in collateralData" ng-if="!isLoading && collateralData.length>0">
                <td>{{row.date_of_check | utcToLocal:'date'}}</td>
                <td><a href="#" class="sky-blue">{{row.registration_authority}}</a></td>
                <td>{{row.result}}</td>
                <td style="width:10%;">
                    <ul class="icons-wrap">
                        <li>
                            <a href="javascript:;" ng-click="addCollateral(row)"
                               n-t='{"e_n":"Edit {{row.registration_authority}} - {{stageTitle}} Collateral","e_d":"{{row.registration_authority}}, Collateral - {{collateralNumber}}"}'
                               class="fa fa-edit" uib-tooltip="Edit" ></a>
                        </li>
                        <li>
                            <a href="javascript:;" ng-click="deleteCollateral(row.id_external_check)"
                               n-t='{"e_n":"Delete {{row.registration_authority}} - {{stageTitle}} Collateral","e_d":"{{row.registration_authority}}, Collateral - {{collateralNumber}}"}'
                               class="fa fa-trash" uib-tooltip="Delete"></a>
                        </li>
                    </ul>
                </td>
            </tr>
            <tr ng-if="!isLoading && collateralData.length==0">
                <td class="text-center" colspan="4">No data found</td>
            </tr>
            <tr ng-if="isLoading">
                <td class="text-center" colspan="4">Loading...</td>
            </tr>
        </tbody>
    </table>
</div>
<script type="text/ng-template" id="add_external_checks.html">
<div class="modal-wrap right-modal modal-custom">
    <h3 class="right-modal-head">
        <i class="{{collateral_stage_icon}} mr8"></i> {{title}} {{stageTitle}}
        <a class="close-right pull-right" href="javascript:;"
           n-t='{"e_n":"Close modal","e_d":"{{stageTitle}}, Collateral - {{collateralNumber}}"}'
           ng-click="cancel()" uib-tooltip="Close"><img src="images/close.png"></a>
    </h3>
    <form class="form-horizontal form-bordered" name="form" novalidate>
            <div class="col-sm-6">
                <div class="form-group clearfix form-group-custom mb10">
                    <label class="control-label"> Registration Authority<span class="red"> *</span> : </label>
                    <input type="text" class="form-control" ng-model="field.registration_authority" name="registration_authority" required>
                    <div ng-if="form.registration_authority.$invalid && form.$submitted " class="error-message">
                        Enter registration authority
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group clearfix form-group-custom mb10">
                    <label class="control-label"> Registration Authority Contact Details : </label>
                    <input type="text" class="form-control" ng-model="field.registration_authority_contact_details">
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-sm-6">
                <div class="form-group clearfix form-group-custom mb10">
                    <label class="control-label"> Result : </label>
                    <input type="text" class="form-control " ng-model="field.result" name="result" >
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group clearfix form-group-custom mb10">
                    <label class="control-label"> Date of Check<span class="red"> *</span> : </label>
                    <div class="form-group clearfix form-group-custom">
                        <div class="input-group">
                            <input type="text" class="form-control" uib-datepicker-popup="yyyy-MM-dd"
                                   data-ng-model="field.date_of_check" type="text"
                                   name="date_of_check"
                                   is-open="openCal"
                                   required
                                   show-weeks="false" show-button-bar="false" readonly/>
                          <span class="input-group-btn">
                            <button type="button" class="btn btn-default border" ng-click="openCal = true">
                                <i class="fa fa-calendar"></i>
                            </button>
                          </span>
                        </div>
                        <div ng-if="form.date_of_check.$invalid && form.$submitted " class="error-message">
                            Enter date of check
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-sm-6">
                <div class="form-group clearfix form-group-custom mb10">
                    <label class="control-label"> Credit Remarks : </label>
                    <input type="text" class="form-control" ng-model="field.credit_remarks" name="credit_remarks">
                </div>
            </div>
            <div class="clearfix"></div>

            <div class="col-sm-12 btn-custom clearfix text-center">
                <button class="btn btn-primary f14 btn-dark" type="submit"
                        n-t='{"e_n":"Save","e_d":"{{stageTitle}}", "form": "{{form.$valid}}"}'
                        ng-click="form.$valid && addFacility(field)">Save</button>
                <button class="btn f14 lt-bg" ng-click="cancel()" type="button"
                    n-t='{"e_n":"Cancel modal","e_d":"{{stageTitle}}, Collateral - {{collateralNumber}}"}'>Cancel</button>
            </div>
        </form>
    </div>


</script>
