<div ng-controller="mapFacilityCtrl">
<div class="div-header">
    <h3 class="f14 roboto-bold text-capitalize p10 display-inline-block ">
        <i class="{{collateral_stage_icon}} mr4 "></i>{{stageTitle}}</h3>
    <div class="pull-right mr4">
        <a href="javascript:;" style="float: right" class="p5 f21 white-color" ng-click="mapCollateral()" uib-tooltip="Add"
           n-t='{"e_n":"Collateral - Add Facility","e_d":"Collateral - {{collateralNumber}}"}'>
            <i class="icon-plus-circle"></i></a>
    </div>
</div>
<div class="col-sm-12 p0 white-bg" >


    <div class="col-sm-12 p10">
        <table class="table c-table table-striped table-bordered table-hover display table-style">
            <thead>
            <tr>
                <th>Facility Number</th>
                <th>Type</th>
                <th>Subtype</th>
                <th>Amount (USD)</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="row in facilityCollateralList">
                <td>{{row.contract_id}}</td>
                <td>{{row.facility_type_name}}</td>
                <td>{{row.sub_type}}</td>
                <td>{{row.facility_usd_amount | currency | checkEmpty }}</td>
                <td style="width:10%;">
                    <ul class="icons-wrap">
                        <li>
                            <a href="javascript:;"  ng-click="removeFacilityCollateral(row.id_project_facility_collateral)" class="fa fa-trash" uib-tooltip="Delete"
                               n-t='{"e_n":"Delete {{stageTitle}}","e_d":"Agency name - {{row.agency_name}}; - Contract ID {{row.contract_id}}, Collateral - {{collateralNumber}}"}'></a>
                        </li>
                    </ul>
                </td>
            </tr>
            <tr ng-if="facilityCollateralList.length<=0">
                <td class="text-center" colspan="5">No data found</td>
            </tr>
            </tbody>
        </table>
    </div>


<script type="text/ng-template" id="map_collateral.html">
    <div class="modal-wrap right-modal modal-custom">
        <h3 class="right-modal-head">
            <i class="fa fa-plus mr8"></i> {{title}} Facility
            <a class="close-right pull-right" uib-tooltip="Close" href="javascript:;" ng-click="cancel()"><img src="images/close.png"></a>
        </h3>
        <div>
            <div class="clearfix">
                <div class="col-sm-12 p0 attachment-list">
                    <div class="p15 bg-box">
                        <div class="mapping-search">
                            <!--<input type="text" class="form-control" placeholder="Search Companies" style="padding: 8px;">
                            <span class="input-group-addon cursor-pointer"><i class="fa fa-search"></i> </span>-->

                            <input class="form-control" style="padding: 8px;"
                                   placeholder="Search Project Title / Facility Number / Facility Type"
                                   type="text" ng-model="asyncSelected"
                                   typeahead-on-select="onSelect($item, $model, $label)"
                                   uib-typeahead="item as item.contract_id for item in getFacilityListWithKey($viewValue)"
                                   typeahead-template-url="facilityListTemplate.html"
                                   typeahead-loading="search_loader"
                                   typeahead-no-results="noResults">
                            <i class="fa  fa-search icon-search f16 pt2 darkblue"></i>
                            <img id="search_loader" class="fixed fa-search icon-search" style="display: none;" src="images/loader2.gif" width="25" height="25" alt="LOADING...">

                            <!--<a data-ng-click="addContact()" data-ng-show="visibleAddButton" class="go"><i
                                    class="fa fa-arrow-circle-right"></i></a>-->
                        </div>
                    </div>
                    <div class="col-sm-12 bg-box mb10" data-ng-if="visibleFacilityDropDown">
                        <form name="cForm" novalidate>
                            <div class="col-sm-6 p-l-0">
                                <div class="col-sm-2 p0  text-img">
                                    <span first-alpha="{{selectedItem.project_facility_name}}"></span>
                                </div>
                                <div class="col-sm-10 p-l-0">
                                    <p class="f14">{{selectedItem.contract_id}},{{ selectedItem.project_facility_name }}</p>
                                    <!-- <a class="display-block f12 sky-blue" href="mailto:{{ selectedItem.email }}">{{
                                         selectedItem.email }}</a>-->
                                </div>
                            </div>

                            <div class="col-sm-12 text-center">
                                <button class="btn btn-primary border-none btn-dark f12 mr4"
                                        n-t='{"e_n":"Collateral - Save","e_d":"Collateral - {{collateralNumber}}"}'
                                        ng-click="cForm.$valid && facilityCollateralSave(selectedItem.id_project_facility,cForm)">
                                    <i class="fa fa-plus-circle"></i> {{'Add' | translate}}
                                </button>
                                <button type="button" class="btn btn-primary f12 border-none lt-bg"
                                        ng-click="cancelAssign()"
                                        n-t='{"e_n":"Collateral - Cancel","e_d":"Collateral - {{collateralNumber}}"}'>{{'Cancel' | translate}}
                                </button>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</script>

<script type="text/ng-template" id="facilityListTemplate.html">
    <a>
        <div class="list-item p5 clearfix">
            <div class="list-desc col-sm-8">
                <p class="list-item-title blue"><span ng-if="match.model.contract_id">{{match.model.contract_id}} ,</span>
                    {{match.model.project_facility_name}}</p>
                <ul>
                    <li>Amount : {{match.model.facility_amount | currency:''}}</li>
                </ul>
            </div>
        </div>
    </a>
</script>
</div>
</div>