<div class="div-header">
    <h3 class="f14 roboto-bold text-capitalize p10 display-inline-block "><i
            class="{{collateral_stage_icon}} mr4"></i>{{stageTitle}}</h3>

    <div class="pull-right mr4">
        <!--<a href="#" class="white-color f12 pull-left mt8 mr4">year: 15-16</a>
        <a href="#" class="red-bg white-color f12 p2 plr10 pull-left mt5">Update</a>
        <a href="#" class="p5 f21 white-color ml5"><i class="icon-eye"></i></a>-->
        <a ng-click="addCollateral()"
           uib-tooltip="Add"
           n-t='{"e_n":"Add {{stageTitle}} modal","e_d":"Collateral - {{collateralNumber}}"}'
           href="javascript:;" class="p5 f21 white-color"><i
                class="icon-plus-circle"></i></a>
    </div>
</div>
<div class="col-sm-12 p10">
    <table class="table c-table table-striped table-bordered table-hover display table-style">
        <thead>
        <tr>
            <th>Date</th>
            <th>Agency Name</th>
            <th>Contact Name</th>
            <th>Result</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="row in collateralData" ng-if="collateralData.length>0">
            <td>{{row.date | utcToLocal:'date'}}</td>
            <td>{{row.agency_name}}</td>
            <td><a href="#" class="sky-blue text-line display-block"
                   style="width:120px !important;">{{row.contact_name}}</a></td>
            <td>{{row.result}}</td>
            <td style="width:10%;">
                <ul class="icons-wrap">
                    <li>
                        <a href="javascript:;" ng-click="addCollateral(row)"
                           uib-tooltip="Edit"
                           n-t='{"e_n":"Edit {{row.agency_name}} - {{stageTitle}} Collateral","e_d":"{{row.agency_name}}, Collateral - {{collateralNumber}}"}'
                           class="fa fa-edit" uib-tooltip="Edit"></a>
                    </li>
                    <li>
                        <a href="javascript:;" ng-click="deleteCollateral(row.id_field_investigation)"
                           uib-tooltip="Delete"
                           n-t='{"e_n":"Delete {{row.agency_name}} - {{stageTitle}} Collateral","e_d":"{{row.agency_name}}, Collateral - {{collateralNumber}}"}'
                           class="fa fa-trash" uib-tooltip="Delete"></a>
                    </li>
                </ul>
            </td>
        </tr>
        <tr ng-if="collateralData.length==0">
            <td class="text-center" colspan="7">No data found</td>
        </tr>
        </tbody>
    </table>
</div>


<script type="text/ng-template" id="add_field_investigation.html">
    <div class="modal-wrap right-modal modal-custom">
        <h3 class="right-modal-head">
            <i class="{{collateral_stage_icon}} mr8"></i> {{title}} {{stageTitle}}
            <a class="close-right pull-right" href="javascript:;" uib-tooltip="Close"
               n-t='{"e_n":"Close modal","e_d":"{{stageTitle}}, Collateral - {{collateralNumber}}"}' ng-click="cancel()"><img
                    src="images/close.png"></a>
        </h3>
        <form class="form-horizontal form-bordered" name="form" novalidate>
            <div class="col-sm-6">
                <div class="form-group clearfix form-group-custom mb10">
                    <label class="control-label"> Agency Name<span class="red"> *</span> : </label>
                    <input type="text" class="form-control" ng-model="field.agency_name" name="agency_name" required>
                    <div ng-if="form.agency_name.$invalid && form.$submitted " class="error-message">
                        Enter Agency Name
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group clearfix form-group-custom mb10">
                    <label class="control-label"> Contact Name<span class="red"> *</span> : </label>
                    <input type="text" class="form-control" ng-model="field.contact_name" name="contact_name" required>
                    <div ng-if="form.contact_name.$invalid && form.$submitted " class="error-message">
                        Enter Contact Name
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-sm-6">
                <div class="form-group clearfix form-group-custom mb10">
                    <label class="control-label"> Date<span class="red"> *</span> : </label>
                    <div class="form-group clearfix form-group-custom">
                        <div class="input-group">
                            <input type="text" class="form-control" uib-datepicker-popup="yyyy-MM-dd"
                                   type="text"
                                   name="field_investigation_date" ng-model="field.date"
                                   is-open="openCal"
                                   required
                                   show-weeks="false" show-button-bar="false" readonly/>
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default border" ng-click="openCal = true">
                                        <i class="fa fa-calendar"></i>
                                    </button>
                                </span>
                        </div>
                        <div ng-if="form.field_investigation_date.$invalid && form.$submitted " class="error-message">
                            Enter date
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-sm-12">
                <div class="form-group clearfix form-group-custom mb10">
                    <label class="control-label"> Result : </label>
                        <textarea class="form-control " ng-model="field.result" name="result">
                        </textarea>
                </div>
            </div>

            <div class="clearfix"></div>
            <div class="col-sm-12">
                <div class="form-group clearfix form-group-custom mb10">
                    <label class="control-label">Visit Remarks : </label>
                    <textarea class="form-control" ng-model="field.visit_remarks" name="visit_remarks"></textarea>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="form-group clearfix form-group-custom mb10">
                    <label class="control-label"> Credit Remarks : </label>
                    <textarea class="form-control " ng-model="field.credit_remarks" name="credit_remarks"></textarea>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-sm-12">
                <div class="form-group clearfix form-group-custom mb10">
                    <label class="control-label"> Attachments : </label>
                <attachment-files ng-model="field.file.attachments"></attachment-files>
                    <attachment-list-template get-data="field.document"></attachment-list-template>
                </div>
            </div>
            <div class="col-sm-12 btn-custom clearfix text-center">
                <button class="btn btn-primary f14 btn-dark" type="submit" ng-click="form.$valid && addFacility(field)"
                        n-t='{"e_n":"Save","e_d":"{{stageTitle}}", "form": "{{form.$valid}}, Collateral - {{collateralNumber}}"}'>Save
                </button>
                <button type="button" class="btn f14 lt-bg" ng-click="cancel()"
                        n-t='{"e_n":"Cancel modal","e_d":"{{stageTitle}}, Collateral - {{collateralNumber}}"}'>Cancel
                </button>
            </div>
        </form>
    </div>

</script>


