<div class="div-header">
    <h3 class="f14 roboto-bold text-capitalize p10 display-inline-block ">
        <i class="{{collateral_stage_icon}} mr4"></i>{{stageTitle}}</h3>
    <!--<div class="pull-right mr4">
        <a href="#" class="white-color f12 pull-left mt8 mr4">year: 15-16</a>
        <a href="#" class="red-bg white-color f12 p2 plr10 pull-left mt5">Update</a>
        <a href="#" class="p5 f21 white-color ml5"><i class="icon-eye"></i></a>
    </div>-->
</div>
<div class="col-lg-12 p10">
    <form name="form" novalidate>
        <div class="col-lg-6" ng-hide="fd.collateral_number">
            <div class="form-group form-group-custom">
                <label class=" display-block">Collateral Number *</label>
                <input type="text" class="form-control" name="collateral_number" ng-model="fd.collateral_number" required>
            </div>
            <div ng-if="form.collateral_number.$error.required && form.$submitted" class="error-message">
                This field is required
            </div>
        </div>
        <div class="col-lg-6" ng-show="fd.collateral_number">
            <div class="form-group form-group-custom">
                <label class=" display-block">Collateral Number *</label>
                <p ng-bind-html="fd.collateral_number | trusted" class=" mb5"></p>
            </div>

        </div>
        <div class="col-lg-6" ng-hide="fd.collateral_type_id">
            <div class="form-group form-group-custom">
                <label class=" display-block">Collateral Type *</label>
                <select class="form-control chosen-choices" chosen
                        required
                        ng-init="getCollateralTypeList()"
                        name="collateral_type_id"
                        ng-model="fd.collateral_type_id"
                        ng-options="item.id_collateral_type as item.collateral_type_name for item in collateralTypeList">
                    <option value="">--Select--</option>
                </select>
            </div>
            <div ng-if="form.collateral_type_id.$error.required && form.$submitted" class="error-message">
                This field is required
            </div>
        </div>
        <div class="col-lg-6" ng-show="fd.collateral_type_id">
            <div class="form-group form-group-custom">
                <label class=" display-block">Collateral Type *</label>
                <p ng-bind-html="fd.collateral_type_name | trusted" class=" mb5"></p>
            </div>

        </div>
        <div class="clearfix"></div>
        <div class="col-lg-6">
            <div class="form-group form-group-custom">
                <label class=" display-block">Application Priority</label>
                <select class="form-control chosen-choices"
                        chosen
                        ng-init="masterDropDownList({'master_key':'collateral_application_priority'})"
                        ng-model="fd.application_priority_id" name="loan_payment_type"
                        ng-options="item.id as item.name for item in dropDownItems['collateral_application_priority']">
                    <option value="">--Select--</option>
                </select>
            </div>
        </div>

        <div class="col-lg-6" ng-if="fd">
            <div class="form-group form-group-custom">
                <label class=" display-block">Currency</label>

                <select class="form-control chosen-choices"
                        chosen
                        ng-model="fd.collateral_currency_id"
                        ng-init="getCurrencyList()"
                        name="currency_id"
                        ng-options="item.currency_id as item.currency_code for item in currencyList">
                    <option value="">--Select--</option>
                </select>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="col-lg-6" >
            <div class="form-group form-group-custom">
                <label class=" display-block">Collateral Value</label>
                <input type="text" class="form-control" name="collateral_amount" ui-number-mask="2" ng-model="fd.collateral_amount">
            </div>
            <div ng-if="form.collateral_amount.$error.required && form.$submitted" class="error-message">
                This field is required
            </div>
        </div>
        <div class="col-lg-6" ng-if="fd.collateral_currency_id && !checkUsd(fd.collateral_currency_id)">
            <div class="form-group form-group-custom">
                <label class=" display-block">Equal to USD Value</label>
                <input type="text" class="form-control" name="usd_equal_amount" ui-number-mask="2" ng-model="fd.usd_equal_amount">
            </div>
            <div ng-if="form.usd_equal_amount.$error.required && form.$submitted" class="error-message">
                This field is required
            </div>
        </div>
        <div class="col-lg-6">
            <label class="control-label">Date of expiration</label>
            <div class="input-group clearfix form-group-custom">
                <input type="text" class="form-control white-bg" uib-datepicker-popup
                       data-ng-model="fd.collateral_expiry_date" type="text"
                       name="collateral_expiry_date" is-open="openCal4"
                       show-weeks="false" show-button-bar="false" readonly />
                      <span class="input-group-btn ">
                        <button type="button" class="btn btn-default border" ng-click="openCal4 = true">
                            <i class="fa fa-calendar"></i></button>
                      </span>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group form-group-custom">
                <label class=" display-block">Status</label>
                <select class="form-control chosen-choices"
                        ng-model="fd.collateral_status"
                        name="collateral_status"
                       >
                    <option value="">--Select--</option>
                    <option value="new">New</option>
                    <option value="register">Register</option>
                    <option value="create">Create</option>
                    <option value="in-user">In use</option>
                    <option value="available">Available</option>
                </select>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="form-group form-group-custom">
                <label class=" display-block">Description</label>
                <textarea class="form-control" name="collateral_description" ng-model="fd.collateral_description"></textarea>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="col-sm-12 p20">
                <div class="text-center">
                    <button type="submit"
                            n-t='{"e_n":"Save","e_d":"add collateral, Collateral - {{collateralNumber}}", "form": "{{form.$valid}}"}'
                            ng-click="form.$valid && saveCollateral(fd)" class="btn btn-sm btn-dark">
                        Save
                    </button>
                </div>
            </div>
        </div>
    </form>

</div>