<div class="div-header">
    <h3 class="f14 roboto-bold text-capitalize p10 display-inline-block ">
        <i class="{{collateral_stage_icon}} mr4"></i>{{stageTitle}}</h3>
    <div class="pull-right mr4">
        <!--<a href="#" class="white-color f12 pull-left mt8 mr4">year: 15-16</a>
        <a href="#" class="red-bg white-color f12 p2 plr10 pull-left mt5">Update</a>
        <a href="#" class="p5 f21 white-color ml5"><i class="icon-eye"></i></a>-->
        <a ng-click="addCollateral()"
           ng-hide="covenantShow"
           uib-tooltip="Add"
           n-t='{"e_n":"Add {{stageTitle}} modal","e_d":"Collateral - {{collateralNumber}}"}'
           href="javascript:;" class="p5 f21 white-color"><i class="icon-plus-circle"></i></a>
        <a href="javascript:;" uib-tooltip="Back" class="p5 white-color" ng-show="covenantShow" ng-click="gotoTable()">
            <i class="fa fa-arrow-left"></i>
        </a>
    </div>
</div>
<div class="col-sm-12 p10">
    <table class="table c-table table-striped table-bordered table-hover display table-style" ng-hide="covenantShow">
        <thead>
        <tr>
            <th>Insurance number</th>
            <th>Insurance Comp. Name</th>
            <th>Insurance Amount(USD)</th>
            <th>Acton</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="row in collateralData" ng-if="!isLoading && collateralData.length>0">
            <td>{{row.insurance_number}}</td>
            <td><a href="#" class="sky-blue">{{row.insurance_company_name}}</a></td>
            <td>{{row.insurance_usd_equal_to | currency}}</td>
            <td style="width:15%;">
                <ul class="icons-wrap">
                    <li>
                        <a href="javascript:;" ng-click="addCollateral(row)"
                           uib-tooltip="Edit"
                           n-t='{"e_n":"Edit {{row.insurance_company_name}} - {{stageTitle}} Collateral","e_d":"{{row.id_insurance}}, Collateral - {{collateralNumber}}"}'
                           class="fa fa-edit" uib-tooltip="Edit"></a>
                    </li>
                    <li>
                        <a href="javascript:;" ng-click="deleteCollateral(row.id_insurance)"
                           uib-tooltip="Delete"
                           n-t='{"e_n":"Delete {{row.insurance_company_name}} - {{stageTitle}} Collateral","e_d":"{{row.insurance_company_name}}, Collateral - {{collateralNumber}}"}'
                           class="fa fa-trash" uib-tooltip="Delete"></a>
                    </li>
                    <li>
                        <a href="javascript:;" ng-click="createCovenant(row.insurance_number,{'module_id':currentCollateralId,'module_type':'collateral','reference_id':row.id_insurance,'reference_type':'insurance'})"
                           n-t='{"e_n":"covenant add {{row.insurance_company_name}}","e_d":"{{row.insurance_company_name}}, Collateral - {{collateralNumber}}"}'
                           class="fa icon-covenant2" uib-tooltip="Create Covenant"></a>
                    </li>

                </ul>
            </td>
        </tr>
        <tr ng-if="!isLoading && collateralData.length<=0">
            <td class="text-center" colspan="6">No data found</td>
        </tr>
        <tr ng-if="isLoading">
            <td class="text-center" colspan="6">Loading...</td>
        </tr>
        </tbody>
    </table>
    <div class="clearfix" ng-show="covenantShow">

        <div class="col-sm-12 p0 border-bottom pt5 pb5">
            <h3 class="col-sm-5 sky-blue mt5 f14 cursor-pointer" n-t='{"e_n":"Covenant back","e_d":"Collateral - {{collateralNumber}}"}' ng-click="c.more=!c.more">{{c.covenant_name}}</h3>
            <div class="col-sm-3 p0 f12 mt5 text-right">
                <span class="ash">Last Review: <strong class="darkcolor">{{c.covenant_start_date |
                    utcToLocal:'date'}}</strong></span>
            </div>
            <div class="col-sm-3 p0 f12 mt5 text-right">
                <span class="ash">Next Review: {{c.next_due_date | utcToLocal:'date'}}</span>
            </div>
            <div class="col-sm-1 text-right">
                <div class="display-inline-block pull-right custom-list">
                    <a class="menu-toggle f13 dark-sky-blue dropdown-toggle" data-toggle="dropdown" href="javascript:;"
                       aria-expanded="false"><i class="fa fa-ellipsis-v"></i>
                    </a>
                    <ul class="dropdown-menu cust-dropdown">
                        <li>
                            <a href="javascript:;" ng-click="configCovenantModalOpen(c.id_module_covenant)"
                               class="f14 darkcolor"
                               n-t='{"e_n":"Project Covenant Config","e_d":"{{c.covenant_name}}, Collateral - {{collateralNumber}}"}'><i
                                    class="icon-edit"></i>Config</a>
                        </li>
                        <li ng-show="c.module_covenant_status=='new'">
                            <a href="javascript:;" ng-click="deleteCovenant(c.id_module_covenant)" class="f14 darkcolor"
                               n-t='{"e_n":"Project Covenant Delete","e_d":"{{c.covenant_name}}, Collateral - {{collateralNumber}}"}'><i
                                    class="icon-trash"></i>Delete</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-12 p0 pt5 pb5 clearfix">

            <div class="col-sm-4 border-right">
                <label class="label-text display-block">Frequency</label>
                <label class="bold f14 darkcolor display-block text-line">{{c.frequency_name}}</label>
            </div>

            <div class="col-sm-4">
                <div class="col-sm-10 p0">
                    <label class="label-text display-block">Assigned to</label>
                    <label class="bold f14 sky-blue text-line display-block text-line">{{c.assigned_to_name}}</label>
                </div>
            </div>
        </div>
        <div class="col-sm-12 border-top" ng-if="c.more">
            <div>
                <div class="col-sm-12 p10 border-bottom">
                    <h4 class="f15 darkcolor mb5">Description:</h4>
                    <p class="darkcolor mb0">{{c.covenant_description}}</p>
                </div>
                <div class="col-sm-12 p10" ng-controller="crmCovenantCtrl">
                    <h3 class="darkcolor text-capitalize mb5 f16">History</h3>
                    <div class="table-responsive covenant-table">
                        <table st-table st-pipe="getCovenantHistory"
                               class="table c-table table-hover display table-style mb0">
                            <thead>
                            <tr>
                                <th>Date<input type="hidden" st-search="module_covenant_id"
                                               ng-value="c.id_module_covenant"></th>
                                <th>User</th>
                                <th>Monitoring Status</th>
                                <th>Comments/Reviews</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="item in cTaskHistroy[c.id_module_covenant]">
                                <td>{{item.task_due_date|utcToLocal:'date'}}</td>
                                <td>{{item.user_name}}</td>
                                <td><span class="orange">{{item.task_status | uppercase}}</span></td>
                                <td>{{item.task_comments}}</td>
                                <td><a href="javascript:;" ng-if="item.task_status !='submitted'"
                                       ng-click="cHistoryActionModal(item.id_covenant_task,c.id_module_covenant)">Action</a>
                                    <a href="javascript:;"
                                       ng-click="cActionHistoryModal(item.id_covenant_task)">view</a>
                                </td>

                            </tr>

                            </tbody>
                            <tfoot>
                            <tr>
                                <td colspan="5" class="text-center">
                                    <div st-items-by-page="10" st-pagination
                                         st-template="partials/pagination.custom.html" class="pull-right"></div>
                                </td>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<script type="text/ng-template" id="add_insurance.html">
    <div class="modal-wrap right-modal modal-custom">
        <h3 class="right-modal-head">
            <i class="{{collateral_stage_icon}} mr8"></i> {{title}} {{stageTitle}}
            <a class="close-right pull-right" href="javascript:;" uib-tooltip="Close"
               n-t='{"e_n":"Close modal","e_d":"{{stageTitle}}, Collateral - {{collateralNumber}}"}'
               ng-click="cancel()"><img src="images/close.png"></a>
        </h3>
        <form class="form-horizontal form-bordered" name="form" novalidate>
            <div class="col-sm-6">
                <div class="form-group clearfix form-group-custom mb10">
                    <label class="control-label"> Insurance Number <span class="red">*</span> : </label>
                    <input type="text" class="form-control" ng-model="field.insurance_number" name="insurance_number"
                           required>
                </div>
                <div ng-if="form.insurance_number.$invalid && form.$submitted " class="error-message">
                    Enter insurance number
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group clearfix form-group-custom mb10">
                    <label class="control-label"> Insurance Company Name <span class="red">*</span> : </label>
                    <input type="text" class="form-control " ng-model="field.insurance_company_name"
                           name="insurance_company_name" required>
                </div>
                <div ng-if="form.insurance_company_name.$invalid && form.$submitted " class="error-message">
                    Enter insurance company name
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-sm-6">
                <div class="form-group clearfix form-group-custom mb10">
                    <label class="control-label"> Insurance Owner : </label>
                    <input type="text" class="form-control" ng-model="field.insurance_owner" name="insurance_owner">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group clearfix form-group-custom mb10">
                    <label class="control-label"> Insurance Company Location : </label>
                    <input type="text" class="form-control" ng-model="field.insurance_company_location"
                           name="insurance_company_location">
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-sm-6">
                <div class="form-group clearfix form-group-custom mb10">
                    <label class="control-label"> Coverage Amount (USD) : </label>
                    <input type="text" class="form-control" ng-model="field.coverage_amount_in_usd"
                           name="coverage_amount_in_usd" ui-number-mask="2">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group clearfix form-group-custom mb10">
                    <label class="control-label"> Insurance Type <span class="red">*</span> : </label>
                    <select class="form-control"
                            ng-init="masterDropDownList({'master_key':'insurence_type'})"
                            ng-model="field.insurance_type_id" name="insurance_type_id"
                            ng-options="item.id as item.name for item in dropDownItems['insurence_type']"
                            required>
                        <option value="">--Select--</option>
                        <!--<option ng-repeat="item in dropDownItems['insurence_type']" value="{{item.id}}">{{item.name}}</option>-->
                    </select>
                </div>
                <div ng-if="form.insurance_type_id.$invalid && form.$submitted " class="error-message">
                    Enter insurance type
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-sm-6">
                <div class="form-group clearfix form-group-custom mb10">
                    <label class="control-label"> Periodicity : </label>
                    <select class="form-control"
                            ng-init="masterDropDownList({'master_key':'periodicity'})"
                            ng-model="field.periodicity" name="periodicity"
                            ng-options="item.name as item.name for item in dropDownItems['periodicity']"
                            ng-required="field.required==1">
                        <option value="">--Select--</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group clearfix form-group-custom mb10">
                    <label class="control-label"> Insurance CCY : </label>
                    <select class="form-control chosen-choices"
                            chosen
                            ng-model="field.insurance_currency_id"
                            ng-init="getCurrencyList()"
                            name="insurance_currency_id"
                            ng-options="item.currency_id as item.currency_code for item in currencyList">
                        <option value="">--Select--</option>
                    </select>
                </div>
            </div>
            <div class="col-sm-12 p0">
                <div class="col-sm-6">
                    <div class="form-group clearfix form-group-custom mb10">
                        <label class="control-label"> Insurance Amount : </label>
                        <input type="text" class="form-control " ng-model="field.insurance_amount" name="insurance_amount"
                               ui-number-mask="2">
                    </div>
                </div>

                <div class="col-sm-6" ng-if="field.insurance_currency_id && !checkUsd(field.insurance_currency_id)">
                    <div class="form-group clearfix form-group-custom mb10">
                        <label class="control-label"> Equal to USD Insurance Amount : </label>
                        <input type="text" class="form-control " ng-model="field.insurance_usd_equal_to"
                               name="insurance_usd_equal_to" ui-number-mask="2">
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group clearfix form-group-custom mb10">
                    <label class="control-label"> Premium Currency : </label>
                    <select class="form-control chosen-choices"
                            chosen
                            ng-model="field.premium_currency_id"
                            ng-init="getCurrencyList()"
                            name="premium_currency_id"
                            ng-options="item.currency_id as item.currency_code for item in currencyList">
                        <option value="">--Select--</option>
                    </select>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="form-group clearfix form-group-custom mb10">
                    <label class="control-label"> Premium Amount : </label>
                    <input type="text" class="form-control " ng-model="field.premium_amount" name="premium_amount"
                           ui-number-mask="2">
                </div>
            </div>
            <div class="col-sm-6" ng-if="field.premium_currency_id && !checkUsd(field.premium_currency_id)">
                <div class="form-group clearfix form-group-custom mb10">
                    <label class="control-label"> Equal to USD Premium : </label>
                    <input type="text" class="form-control " ng-model="field.premium_usd_equal_to"
                           name="premium_usd_equal_to" ui-number-mask="2">
                </div>
            </div>

            <div class="col-sm-6">
                <div class="form-group clearfix form-group-custom mb10">
                    <label class="control-label"> Start Date<span class="red"> *</span> : </label>
                    <div class="input-group">
                        <input type="text" class="form-control" uib-datepicker-popup="yyyy-MM-dd"
                               data-ng-model="field.start_date" type="text"
                               name="start_date"
                               is-open="openCal1"
                               required
                               show-weeks="false" show-button-bar="false" readonly/>
                      <span class="input-group-btn">
                        <button type="button" class="btn btn-default border" ng-click="openCal1 = true">
                            <i class="fa fa-calendar"></i>
                        </button>
                      </span>
                    </div>
                    <div ng-if="form.start_date.$invalid && form.$submitted " class="error-message">
                        Enter Start Date
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group clearfix form-group-custom mb10">
                    <label class="control-label"> End Date<span class="red"> *</span> : </label>
                    <div class="input-group">
                        <input type="text" class="form-control" uib-datepicker-popup="yyyy-MM-dd"
                               data-ng-model="field.end_date" type="text"
                               name="end_date"
                               is-open="openCal2"
                               required
                               show-weeks="false" show-button-bar="false" readonly/>
                      <span class="input-group-btn">
                        <button type="button" class="btn btn-default border" ng-click="openCal2 = true">
                            <i class="fa fa-calendar"></i>
                        </button>
                      </span>
                    </div>
                    <div ng-if="form.end_date.$invalid && form.$submitted " class="error-message">
                        Enter End Date
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="form-group clearfix form-group-custom mb10">
                    <label class="control-label"> Revision Date<span class="red"> *</span> : </label>
                    <div class="input-group">
                        <input type="text" class="form-control" uib-datepicker-popup="yyyy-MM-dd"
                               data-ng-model="field.revision_date" type="text"
                               name="revision_date"
                               is-open="openCal3"
                               required
                               show-weeks="false" show-button-bar="false" readonly/>
                      <span class="input-group-btn">
                        <button type="button" class="btn btn-default border" ng-click="openCal3 = true">
                            <i class="fa fa-calendar"></i>
                        </button>
                      </span>
                    </div>
                    <div ng-if="form.revision_date.$invalid && form.$submitted " class="error-message">
                        Enter Revision Date
                    </div>
                </div>
            </div>

            <div class="col-sm-6">
                <div class="form-group clearfix form-group-custom mb10">
                    <label class="control-label"> Beneficiary of insurance : </label>
                    <select class="form-control"
                            ng-init="masterDropDownList({'master_key':'beneficiary_of_insurance'})"
                            ng-model="field.beneficiary_of_insurance_id" name="beneficiary_of_insurance_id"
                            ng-options="item.id as item.name for item in dropDownItems['beneficiary_of_insurance']">
                        <option value="">--Select--</option>
                        <!--<option ng-repeat="item in dropDownItems['insurence_type']" value="{{item.id}}">{{item.name}}</option>-->
                    </select>
                </div>
                <!--<div ng-if="form.insurance_type_id.$invalid && form.$submitted " class="error-message">
                    Enter insurance type
                </div>-->
            </div>
            <div class="clearfix"></div>

            <div class="col-sm-12 btn-custom clearfix text-center">
                <button class="btn btn-primary f14 btn-dark" type="submit"
                        n-t='{"e_n":"Save","e_d":"{{stageTitle}}", "form": "{{form.$valid}}, Collateral - {{collateralNumber}}"}'
                        ng-click="form.$valid && addFacility(field)">Save
                </button>
                <button class="btn f14 lt-bg" ng-click="cancel()" type="button"
                        n-t='{"e_n":"Cancel modal","e_d":"{{stageTitle}}, Collateral - {{collateralNumber}}"}'>Cancel
                </button>
            </div>
        </form>
    </div>


</script>
