<div class="div-header">
    <h3 class="f14 roboto-bold text-capitalize p10 display-inline-block ">
        <i class="{{collateral_stage_icon}} mr4"></i>{{stageTitle}}</h3>
    <div class="pull-right mr4">
        <!--<a href="#" class="white-color f12 pull-left mt8 mr4">year: 15-16</a>
        <a href="#" class="red-bg white-color f12 p2 plr10 pull-left mt5">Update</a>
        <a href="#" class="p5 f21 white-color ml5"><i class="icon-eye"></i></a>-->
        <a ng-click="addCollateral()"
           uib-tooltip="Add"
           n-t='{"e_n":"Add {{stageTitle}} modal","e_d":"Collateral - {{collateralNumber}}"}'
           href="javascript:;" class="p5 f21 white-color"><i class="icon-plus-circle"></i></a>
    </div>
</div>
<div class="col-sm-12 p10">
    <table class="table c-table table-striped table-bordered table-hover display table-style">
        <thead>
        <tr>
            <th>Date of Advice</th>
            <th>Legal opinion</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="row in collateralData" ng-if="!isLoading && collateralData.length>0">
            <td>{{row.date_of_advice | utcToLocal:'date'}}</td>
            <td>{{row.legal_opinion}}</td>
            <td style="width:10%;">
                <ul class="icons-wrap">
                    <li>
                        <a href="javascript:;" ng-click="addCollateral(row)"
                           n-t='{"e_n":"Edit {{row.legal_opinion}} - {{stageTitle}} Collateral","e_d":"{{row.legal_opinion}}, Collateral - {{collateralNumber}}"}'
                           class="fa fa-edit" uib-tooltip="Edit" ></a>
                    </li>
                    <li>
                        <a href="javascript:;" uib-tooltip="Delete" ng-click="deleteCollateral(row.id_legal_opinion)"
                           n-t='{"e_n":"Delete {{row.legal_opinion}} - {{stageTitle}} Collateral","e_d":"{{row.legal_opinion}}, Collateral - {{collateralNumber}}"}'
                           class="fa fa-trash" uib-tooltip="Delete"></a>
                    </li>
                </ul>
            </td>
        </tr>
        <tr ng-if="!isLoading && collateralData.length<=0">
            <td class="text-center" colspan="7">No data found</td>
        </tr>
        <tr ng-if="isLoading">
            <td class="text-center" colspan="7">Loading...</td>
        </tr>
        </tbody>
    </table>
</div>


<script type="text/ng-template" id="add_legal_openion.html">
    <div class="modal-wrap right-modal modal-custom">
        <h3 class="right-modal-head">
            <i class="{{collateral_stage_icon}} mr8"></i> {{title}} {{stageTitle}}
            <a class="close-right pull-right" href="javascript:;" uib-tooltip="Close"
               n-t='{"e_n":"Close modal","e_d":"{{stageTitle}}, Collateral - {{collateralNumber}}"}'
               ng-click="cancel()"><img src="images/close.png"></a>
        </h3>
        <form class="form-horizontal form-bordered" name="form" novalidate>
            <div class="col-sm-6">
                <div class="form-group clearfix form-group-custom mb10">
                    <label class="control-label"> Legal Opinion<span class="red"> *</span> : </label>
                    <input type="text" class="form-control" ng-model="field.legal_opinion" name="legal_opinion" required>
                </div>
                <div ng-if="form.legal_opinion.$invalid && form.$submitted " class="error-message">
                    Field is required
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group clearfix form-group-custom mb10">
                    <label class="control-label"> Legal Adviser Details : </label>
                    <input type="text" class="form-control" ng-model="field.legal_adviser_details" name="legal_adviser_details">
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-sm-6">
                <div class="form-group clearfix form-group-custom mb10">
                    <label class="control-label"> Date of Advice<span class="red"> *</span> : </label>
                    <div class="form-group clearfix form-group-custom">
                        <div class="input-group">
                            <input type="text" class="form-control" uib-datepicker-popup="yyyy-MM-dd"
                                   data-ng-model="field.date_of_advice" type="text"
                                   name="date_of_advice"
                                   is-open="openCal"
                                   required
                                   show-weeks="false" show-button-bar="false" readonly/>
                          <span class="input-group-btn">
                            <button type="button" class="btn btn-default border" ng-click="openCal = true">
                                <i class="fa fa-calendar"></i>
                            </button>
                          </span>
                        </div>
                        <div ng-if="form.date_of_advice.$invalid && form.$submitted " class="error-message">
                            Field is required
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group clearfix form-group-custom mb10">
                    <label class="control-label"> External Opinion : </label>
                    <input type="text" class="form-control" ng-model="field.external_opinion" name="external_opinion">
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-sm-6">
                <div class="form-group clearfix form-group-custom mb10">
                    <label class="control-label"> External Adviser Details : </label>
                    <input type="text" class="form-control" ng-model="field.external_adviser_details" name="external_adviser_details">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group clearfix form-group-custom mb10">
                    <label class="control-label"> Credit Remarks: </label>
                    <input type="text" class="form-control" ng-model="field.credit_remarks" name="credit_remarks">
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-sm-6">
                <div class="form-group clearfix form-group-custom mb10">
                    <label class="control-label"> Final Recommendation : </label>
                    <input type="text" class="form-control" ng-model="field.final_recommendation" name="final_recommendation">
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-sm-12 btn-custom clearfix text-center">
                <button class="btn btn-primary f14 btn-dark" type="submit"
                    n-t='{"e_n":"Save","e_d":"{{stageTitle}}, Collateral - {{collateralNumber}}", "form": "{{form.$valid}}"}'
                    ng-click="form.$valid && addFacility(field)">Save</button>
                <button type="button" class="btn f14 lt-bg" ng-click="cancel()"
                    n-t='{"e_n":"Cancel modal","e_d":"{{stageTitle}}, Collateral - {{collateralNumber}}"}'>Cancel</button>
            </div>
        </form>
    </div>
</script>



