<div class="div-header">
    <h3 class="f14 roboto-bold text-capitalize p10 display-inline-block ">
        <i class="{{collateral_stage_icon}} mr4"></i>{{stageTitle}}</h3>
    <div class="pull-right mr4">
        <!--<a href="#" class="white-color f12 pull-left mt8 mr4">year: 15-16</a>
        <a href="#" class="red-bg white-color f12 p2 plr10 pull-left mt5">Update</a>
        <a href="#" class="p5 f21 white-color ml5"><i class="icon-eye"></i></a>-->
        <a ng-click="addCollateral()"
           uib-tooltip="Add"
           n-t='{"e_n":"Add {{stageTitle}} modal","e_d":"Collateral - {{collateralNumber}}"}'
           href="javascript:;" class="p5 f21 white-color"><i class="icon-plus-circle"></i></a>
    </div>
</div>
<div class="col-sm-12 p10">
    <table class="table c-table table-striped table-bordered table-hover display table-style">
        <thead>
        <tr>
            <th>Risk</th>
            <th>Mitigation</th>
            <th>Risk grade</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="row in collateralData" ng-if="!isLoading && collateralData.length>0">
            <td>{{row.risk.name}}</td>
            <td>{{row.risk.mitigation}}</td>
            <td>{{row.risk.grade}}</td>
            <td style="width:10%;">
                <ul class="icons-wrap">
                    <li>
                        <a href="javascript:;" ng-click="addCollateral(row.risk,row.id_risk_evaluation)"
                           n-t='{"e_n":"Edit - {{stageTitle}} Collateral","e_d":"Collateral - {{collateralNumber}}"}'
                           class="fa fa-edit" uib-tooltip="Edit" ></a>
                    </li>
                    <li>
                        <a href="javascript:;" ng-click="deleteCollateral(row.id_risk_evaluation)"
                           n-t='{"e_n":"Delete - {{stageTitle}} Collateral","e_d":"Collateral - {{collateralNumber}}"}'
                           class="fa fa-trash" uib-tooltip="Delete"></a>
                    </li>
                </ul>
            </td>
        </tr>
        <tr ng-if="!isLoading && collateralData.length<=0">
            <td class="text-center" colspan="7">No data found</td>
        </tr>
        <tr ng-if="isLoading">
            <td class="text-center" colspan="7">Loading...</td>
        </tr>
        </tbody>
    </table>
</div>
<script type="text/ng-template" id="add_risk_evaluation.html">
    <div class="right-modal clearfix modal-custom">

        <h3 class="right-modal-head">
            <i class="{{collateral_stage_icon}} mr8"></i> {{title}} {{stageTitle}}
            <a class="close-right pull-right" href="javascript:;" uib-tooltip="Close"
               n-t='{"e_n":"Close modal","e_d":"{{stageTitle}}, Collateral - {{collateralNumber}}"}'
               ng-click="cancel()"><img src="images/close.png"></a>
        </h3>

        <form class="form-horizontal form-bordered mt10" name="form" novalidate>

            <div class="row clearfix" ng-controller="riskEvaluationCtrl as vm">
                <div class="clearfix">
                    <div class="col-sm-12 clearfix">
                        <div class="col-sm-12 ">
                            <label class="control-label">Risk *</label>

                            <div class="form-group clearfix form-group-custom">
                                <input type="text" class="form-control" ng-model="field.name" name="name" required>
                                <div ng-if="form.name.$error.required && form.$submitted" class="error-message">
                                    Enter name
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 clearfix ">
                        <div class="col-sm-4 ">
                            <label class="control-label">Risk Type *</label>
                            <div class="form-group clearfix form-group-custom">
                                <select chosen
                                        class="form-control"
                                        ng-init="getParent(0,'')"
                                        ng-change="getParent(field.parent, 'childs');"
                                        ng-options="risk as risk.risk_name for risk in parents track by risk.id_risk_type"
                                        ng-model="field.parent" name="parent" required>
                                    <option value="">--Select--</option>
                                </select>
                                <!--<input type="text" class="form-control" ng-model="networkDetails.name" name="name" required>-->
                                <div ng-if="form.parent.$error.required && form.$submitted" class="error-message">
                                    Select risk type
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 mt20 pt5">
                            <!--<label class="control-label">Risk Type *</label>-->
                            <div class="form-group clearfix form-group-custom">
                                <select chosen
                                        class="form-control"
                                        ng-change="getParent(field.child, 'subchilds');"
                                        ng-options="risk as risk.risk_name for risk in childs track by risk.id_risk_type"
                                        ng-model="field.child" name="child">
                                    <option value="">--Select--</option>
                                </select>
                                <!--<input type="text" class="form-control" ng-model="networkDetails.name" name="name" required>-->
                                <div ng-if="form.child.$error.required && form.$submitted" class="error-message">
                                    Select risk type
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 mt20 pt5">
                            <!--<label class="control-label">Risk Type *</label>-->
                            <div class="form-group clearfix form-group-custom">
                                <select chosen
                                        class="form-control"
                                        ng-options="risk as risk.risk_name for risk in subchilds track by risk.id_risk_type"
                                        ng-model="field.subchild" name="subchild">
                                    <option value="">--Select--</option>
                                </select>
                                <!--<input type="text" class="form-control" ng-model="networkDetails.name" name="name" required>-->
                                <div ng-if="form.subchild.$error.required && form.$submitted" class="error-message">
                                    Select risk type
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12 clearfix">
                        <div class="col-sm-12 ">
                            <label class="control-label">Description</label>

                            <div class="form-group clearfix form-group-custom">
                                <textarea class="form-control" ng-model="field.description" name="description"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 clearfix">
                        <div class="col-sm-12 ">
                            <label class="control-label">Mitigation</label>

                            <div class="form-group clearfix form-group-custom">
                                <input type="text" class="form-control" ng-model="field.mitigation" name="mitigation">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 clearfix">
                        <div class="col-sm-12 clearfix">
                            <label class="control-label">Risk Grade *</label>
                            <div class="form-group clearfix form-group-custom">
                                <select class="form-control"
                                        ng-options="risk.value as risk.label for risk in riskGrades"
                                        name="grade"
                                        ng-model="field.grade" required>
                                    <option value="">--Select Risk Grade--</option>
                                </select>
                                <div ng-if="form.grade.$error.required && form.$submitted" class="error-message">
                                    Select risk grade
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 btn-custom clearfix text-center">
                    <button class="btn btn-primary f14 btn-dark" type="submit"
                            n-t='{"e_n":"Save","e_d":"{{stageTitle}}, Collateral - {{collateralNumber}}", "form": "{{form.$valid}}"}'
                            ng-click="form.$valid && addFacility(field)">Save</button>
                    <button type="button"  class="btn f14 lt-bg" ng-click="cancel()"
                            n-t='{"e_n":"Cancel modal","e_d":"{{stageTitle}}, Collateral - {{collateralNumber}}"}'>Cancel</button>
                </div>
            </div>


            <div class="modal-footer border-none btn-custom mb0 clearfix text-center">

                <!--ng-if="permission[form_key+'_add']"-->

            </div>
        </form>
    </div>
</script>
<script type="text/ng-template" id="add_risk_evaluation2.html">
    <div class="modal-wrap right-modal modal-custom">
        <h3 class="right-modal-head">
            <i class="{{collateral_stage_icon}} mr8"></i> {{title}} {{stageTitle}}
            <a class="close-right pull-right" href="javascript:;"
               n-t='{"e_n":"Close modal","e_d":"{{stageTitle}}, Collateral - {{collateralNumber}}"}'
               ng-click="cancel()"><img src="images/close.png"></a>
        </h3>
        <form class="form-horizontal form-bordered" name="form" novalidate>
            <div class="col-sm-6">
                <div class="form-group clearfix form-group-custom mb10">
                    <label class="control-label"> Geo Political Risk<span class="red"> *</span> : </label>
                    <input type="text" class="form-control" ng-model="field.geo_political_risk" name="geo_political_risk" required>
                    <div ng-if="form.geo_political_risk.$invalid && form.$submitted " class="error-message">
                        Enter geo political risk
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group clearfix form-group-custom mb10">
                    <label class="control-label"> Currency Risk : </label>
                    <input type="text" class="form-control" ng-model="field.currenct_risk" name="currenct_risk">
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-sm-6">
                <div class="form-group clearfix form-group-custom mb10">
                    <label class="control-label"> Liquidity Risk : </label>
                    <input type="text" class="form-control" ng-model="field.liquidity_risk" name="liquidity_risk">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group clearfix form-group-custom mb10">
                    <label class="control-label"> Issuer Credit Risk : </label>
                    <input type="text" class="form-control" ng-model="field.issuer_credit_risk" name="issuer_credit_risk">
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-sm-6">
                <div class="form-group clearfix form-group-custom mb10">
                    <label class="control-label"> Operational Risk : </label>
                    <input type="text" class="form-control" ng-model="field.operational_risk" name="operational_risk">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group clearfix form-group-custom mb10">
                    <label class="control-label"> Natural Hazard Risk: </label>
                    <input type="text" class="form-control" ng-model="field.natural_hazard_risk" name="natural_hazard_risk">
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-sm-6">
                <div class="form-group clearfix form-group-custom mb10">
                    <label class="control-label"> Recommendation : </label>
                    <input type="text" class="form-control" ng-model="field.recommendation" name="recommendation">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group clearfix form-group-custom mb10">
                    <label class="control-label"> Credit Remarks : </label>
                    <input type="text" class="form-control" ng-model="field.credit_remarks" name="credit_remarks">
                </div>
            </div>
            <!--<div class="col-sm-4">
                <div class="form-group clearfix form-group-custom mb10">
                    <label class="control-label"> Eligible for Central Bank Funding : </label>
                    <input class="valign-middle" type="checkbox" ng-model="field.geo_political_risk" name="geo_political_risk"/>
                </div>
            </div>-->
            <div class="clearfix"></div>

            <!--<div class="col-sm-12 p0">
                <div class="col-sm-4">
                    <div class="form-group clearfix form-group-custom mb10">
                        <label class="control-label"> CCP Eligible : </label>
                        <input class="valign-middle" type="checkbox" ng-model="field.geo_political_risk" name="geo_political_risk"/>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="form-group clearfix form-group-custom mb10">
                        <label class="control-label"> CRM Eligible : </label>
                        <input class="valign-middle" type="checkbox" ng-model="field.geo_political_risk" name="geo_political_risk"/>
                    </div>
                </div>
            </div>-->
            <div class="col-sm-12 btn-custom clearfix text-center">
                <button class="btn btn-primary f14 btn-dark" type="submit"
                    n-t='{"e_n":"Save","e_d":"{{stageTitle}}, Collateral - {{collateralNumber}}", "form": "{{form.$valid}}"}'
                    ng-click="form.$valid && addFacility(field)">Save</button>
                <button type="button"  class="btn f14 lt-bg" ng-click="cancel()"
                     n-t='{"e_n":"Cancel modal","e_d":"{{stageTitle}}, Collateral - {{collateralNumber}}"}'>Cancel</button>
            </div>
        </form>
    </div>
</script>



