<div class="div-header">
    <h3 class="f14 roboto-bold text-capitalize p10 display-inline-block ">
        <i class="{{collateral_stage_icon}} mr4"></i>{{stageTitle}}</h3>
    <div class="pull-right mr4 pt2">
        <!--        <a href="#" class="white-color f12 pull-left mt8 mr4">year: 15-16</a>
                <a href="#" class="red-bg white-color f12 p2 plr10 pull-left mt5">Update</a>
                <a href="#" class="p5 f21 white-color ml5"><i class="icon-eye"></i></a>-->
        <a ng-click="addCollateral()" href="javascript:;" class="p5 f21 white-color" uib-tooltip="Add"
           n-t='{"e_n":"Add {{stageTitle}}","e_d":"Collateral - {{collateralNumber}}"}'><i class="icon-plus-circle"></i></a>
    </div>
</div>
<div class="col-sm-12 p10">
    <table class="table c-table table-striped table-bordered table-hover display table-style">
        <thead>
        <tr>
            <th>Date</th>
            <th>Unit Value</th>
            <th>Comment</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="row in collateralData">
            <td>{{row.date}}</td>
            <td>{{row.unit_value | currency:''}}</td>
            <td>{{row.comment}}</td>
            <td style="width:10%;">
                <ul class="icons-wrap">
                    <li>
                        <a href="javascript:;" ng-click="addCollateral(row)" class="fa fa-edit" uib-tooltip="Edit"
                           n-t='{"e_n":"Edit {{stageTitle}}","e_d":"{{row.unit_value}}, Collateral - {{collateralNumber}}"}'></a>
                    </li>
                    <li>
                        <a href="javascript:;" ng-click="deleteCollateral(row.id_security_valuation_details)" class="fa fa-trash"
                           uib-tooltip="Delete"
                           n-t='{"e_n":"Delete {{stageTitle}}","e_d":"{{row.unit_value}}, Collateral - {{collateralNumber}}"}'></a>
                    </li>
                </ul>
            </td>
        </tr>
        <tr ng-if="!isLoading && collateralData.length<=0">
            <td class="text-center" colspan="5">No data found</td>
        </tr>
        </tbody>
    </table>
</div>

<script type="text/ng-template" id="add_security_valuation_details.html">
    <div class="modal-wrap right-modal modal-custom">
        <h3 class="right-modal-head">
            <i class="{{collateral_stage_icon}} mr8"></i> {{title}} {{stageTitle}}
            <a class="close-right pull-right" href="javascript:;" uib-tooltip="Close" n-t='{"e_n":"Close modal","e_d":"{{stageTitle}}, Collateral - {{collateralNumber}}"}'
               ng-click="cancel()"><img src="images/close.png"></a>
        </h3>
        <form class="form-horizontal form-bordered" name="form" novalidate>

            <div class="col-sm-6">
                <div class="form-group clearfix form-group-custom mb10">
                    <label class="control-label"> Unit Value : </label>
                    <input type="text" class="form-control" ng-model="field.unit_value" name="unit_value" ui-number-mask="2">
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group clearfix form-group-custom mb10">
                    <label class="control-label"> Date<span class="red"> *</span> : </label>
                    <div class="form-group clearfix form-group-custom">
                        <div class="input-group ">
                            <input type="text" class="form-control" uib-datepicker-popup="yyyy-MM-dd"
                                   data-ng-model="field.date" type="text" name="valuation_date"
                                   date-type="string"
                                   is-open="openCal"
                                   show-weeks="false" show-button-bar="false" readonly required/>
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-default border" ng-click="openCal = true">
                        <i class="fa fa-calendar"></i></button>
                  </span>
                        </div>
                        <div ng-if="form.date.$invalid && form.$submitted " class="error-message">
                            Enter Date
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-sm-12">
                <div class="form-group clearfix form-group-custom mb10">
                    <label class="control-label"> Comment : </label>
                    <textarea class="form-control" ng-model="field.comment"
                              name="comment"></textarea>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-sm-12 btn-custom clearfix text-center">
                <button ng-click="form.$valid && addFacility(field)" class="btn btn-primary f14 btn-dark" type="submit">
                    {{title}}
                </button>
                <button type="button" class="btn f14 lt-bg" ng-click="cancel()">Cancel</button>
            </div>
            <div class="clearfix"></div>
        </form>
    </div>
</script>
