<div class="modal-wrap right-modal modal-custom">
    <div class="clearfix">
        <h3 class="right-modal-head">
            <i class="fa fa-cog"></i> {{'Covenant Action' | translate}}
            <a ng-click="cancel()" uib-tooltip="Close" class="close-right pull-right"><img src="images/close.png"></a>
        </h3>

    </div>
    <div class="modal-body clearfix">
        <div>
            <div class="col-sm-12 p0 facilitate-setup-content">
                <div class="page-right-wrap p0">
                    <div class="covenant-modal-tabs">
                        <uib-tabset active="activePill" vertical="true" type="pills">
                            <uib-tab index="0" heading="Submit Review">
                                <div class="col-sm-12 ptb10">
                                    <h3 class="darkcolor fontBold f14 plr15 mt10 mb5">Submit Review</h3>

                                    <form name="srf" novalidate ng-submit="srf.$valid && cHistoryActionSave(fd,'submitted')">
                                        <div class="col-sm-12">
                                            <div class="form-group form-group-custom" ng-init="fd.task_condition='performing'">
                                                <label class="darkcolor display-block">Convenant Condition</label>
                                                <div class="radio display-inline-block mr15 mt5">
                                                    <label class="f12">
                                                        <input type="radio" ng-model="fd.task_condition" name="task_condition" class="mt3" value="non performing">
                                                        <span class="red-bg p5 white-color">Non Performing</span>
                                                    </label>
                                                </div>
                                                <div class="radio display-inline-block mr15 mt5">
                                                    <label class="f12">
                                                        <input type="radio" ng-model="fd.task_condition" name="task_condition" class=" mt3" value="neutral">
                                                        <span class="orange-bg p5 white-color">Neutral</span>
                                                    </label>
                                                </div>
                                                <div class="radio display-inline-block mr15 mt5">
                                                    <label class="f12">
                                                        <input type="radio" ng-model="fd.task_condition" name="task_condition" class="mt3" value="performing">
                                                        <span class="green-bg-new p5 white-color">Performing</span>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="form-group form-group-custom">
                                                <label class="darkcolor">Comments *</label>
                                                <textarea class="form-control" name="comments" ng-model="fd.comments" required></textarea>
                                            </div>
                                            <div ng-if='srf.comments.$error.required && srf.$submitted'
                                                 class="error-message">{{'This field is required'|translate}}
                                            </div>

                                        </div>
                                        <div class="col-sm-12">
                                            <div class="form-group form-group-custom">
                                                <label class="darkcolor">Document Upload</label>
                                                <div class=" bg-box">
                                                    <attachment-view module-id="3" ref-id="{{currentProjectViewId}}" form-key="covenant_task" field-key="{{id_covenant_task}}"></attachment-view>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-12 text-center mt10">
                                            <button type="submit" class="blue-btn">
                                                Submit
                                            </button>
                                            <button type="button" class="light-btn" ng-click="cancel()">Cancel</button>
                                        </div>
                                    </form>
                                </div>
                            </uib-tab>
                            <uib-tab index="1" heading="Postpone">
                                <div class="col-sm-12 ptb10">
                                    <form novalidate name="ppf" >
                                        <h3 class="darkcolor fontBold f14 plr15 mt10 mb5">Postpone</h3>
                                        <div class="col-sm-6">
                                            <div class="form-group clearfix form-group-custom">
                                                <label>{{'Postpone Date' | translate}} * :</label>
                                                <div class="input-group">
                                                    <input type="text" class="form-control white-bg"
                                                           uib-datepicker-popup
                                                           datepicker-options="dateOptions"
                                                           min-date="minDate"
                                                           data-ng-model="pp.date" name="date" is-open="openCal2"
                                                           show-weeks="false" show-button-bar="false" required readonly/>
                                                         <span class="input-group-btn">
                                                          <button type="button" class="btn btn-default border" ng-click="openCal2 = true">
                                                              <i class="fa fa-calendar"></i>
                                                          </button>
                                                        </span>
                                                </div>
                                                <div ng-if='ppf.date.$error.required && ppf.$submitted'
                                                     class="error-message">{{'This field is required'|translate}}
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-sm-4">
                                            <div class="form-group form-group-custom">
                                                <label class="darkcolor display-block mb5">Reason</label>
                                                <select class="form-control"
                                                        ng-init="masterDropDownList({'master_key':'postpone_reason'})"
                                                        ng-model="pp.action_reason" name="action_reason"
                                                        ng-options="item.name as item.name for item in dropDownItems['postpone_reason']">
                                                    <option value="">---Select---</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="row"></div>
                                        <div class="col-sm-12">
                                            <div class="form-group form-group-custom" ng-show="pp.action_reason=='Other'">
                                                <label class="darkcolor">Reason on Others</label>
                                                <textarea class="form-control" name="comments" ng-model="pp.comments"></textarea>
                                            </div>
                                        </div>
                                        <div class="col-sm-12 text-center mt10">
                                            <button  class="blue-btn" ng-click="cHistoryActionSave(pp,'postpone')">
                                                Submit
                                            </button>
                                            <button type="button" ng-click="cancel()" class="light-btn">Cancel</button>
                                        </div>
                                    </form>
                                </div>
                            </uib-tab>
                            <uib-tab index="2" heading="Schedule a call">
                                <form novalidate name="scf">
                                    <div class="col-sm-12 ptb10">
                                        <h3 class="darkcolor fontBold f14 plr15 mt10 mb5">Schedule a Call</h3>
                                        <div class="col-sm-6">
                                            <div class="form-group clearfix form-group-custom">
                                                <label>{{'Date' | translate}} * :</label>
                                                <div class="input-group">
                                                    <input type="text" class="form-control white-bg"
                                                           uib-datepicker-popup
                                                           min-date="minDate"
                                                           data-ng-model="sc.date" name="date" is-open="openCal2"
                                                           show-weeks="false" show-button-bar="false" required readonly/>
                                                         <span class="input-group-btn">
                                                          <button type="button" class="btn btn-default border" ng-click="openCal2 = true">
                                                              <i class="fa fa-calendar"></i>
                                                          </button>
                                                        </span>
                                                </div>
                                                <div ng-if='scf.date.$error.required && scf.$submitted'
                                                     class="error-message">{{'This field is required'|translate}}
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row"></div>
                                        <div class="col-sm-12">
                                            <div class="form-group form-group-custom">
                                                <label class="darkcolor">Reason</label>
                                                <textarea class="form-control" name="comments" ng-model="sc.comments"></textarea>
                                            </div>
                                        </div>
                                        <div class="col-sm-12 text-center mt10">
                                            <button type="submit" class="blue-btn" ng-click="cHistoryActionSave(sc,'schedule')" >Submit</button>
                                            <button type="button" ng-click="cancel()" class="light-btn">Cancel</button>
                                        </div>
                                    </div>
                                </form>
                            </uib-tab>
                        </uib-tabset>

                        <!--<ul>
                            <li class="tab-active">
                                <a  href="javascript:;" active-link="tab-active"><span class="ng-binding">Submit Review</span></a>
                            </li>
                            <li>
                                <a  href="javascript:;" active-link="tab-active" ><span class="ng-binding">Postpone</span></a>
                            </li>
                            <li>
                                <a  href="javascript:;" active-link="tab-active"><span class="ng-binding">Schedule a call</span></a>
                            </li>
                        </ul>-->
                    </div>
                </div>
                <!--<div class="col-sm-9 p0 pb10 border-left">

                </div>-->
            </div>
        </div>

    </div>
</div>

