<div class="modal-wrap right-modal modal-custom">
    <div class="clearfix">
        <h3 class="right-modal-head">
            Covenant List
            <a ng-click="cancel()" class="close-right pull-right" uib-tooltip="Close"
               n-t='{"e_n":"Close Add Covenant","e_d":""}'><img src="images/close.png"></a>
            <a class="pull-right mr15" ng-click="openCovenantListFilters = !openCovenantListFilters"><i class="icon-filter f21 sky-blue"></i>
            </a>
        </h3>

    </div>
    <div class="modal-body clearfix p0">

        <div class="clearfix" ng-if="openCovenantListFilters">
            <div class="col-sm-12 ptb10 clearfix" ng-init="searchData.search_type='0'">
                <div class="form-group col-sm-6">
                    <label class="f12"><input type="radio" value="0" ng-model="searchData.search_type" name="cvrl">
                        Covenant Regular List</label>
                </div>
                <div class="form-group  col-sm-6">
                    <label class="f12"><input type="radio" value="1" ng-model="searchData.search_type" name="cvrl">
                        Import From Other Projects</label>
                </div>
            </div>
            <div class="bg-box clearfix col-sm-12">
                <div class="col-sm-12" ng-show="searchData.search_type=='0'">
                    <div class="form-group clearfix form-group-custom">
                        <label class="control-label">Covenant Types: </label>
                        <select class="form-control chosen-select"
                                chosen
                                ng-init="masterDropDownList({'master_key':'covenant_types'})"
                                ng-model="searchData.covenant_type_id" name="covenant_type_id"
                                ng-options="item.id as item.name for item in dropDownItems['covenant_types']"
                                required>
                            <option value="">--Select--</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="form-group clearfix form-group-custom">
                        <label class="control-label">Search <any ng-if="searchData.search_type=='1'">by project name</any>  : </label>
                        <input class="form-control" type="text" ng-model="searchData.search_key">
                    </div>
                </div>
                <div class="col-sm-12 text-center pt10">
                    <button class="btn btn-dark f12" ng-click="covenantSearch(searchData)">Search</button>
                </div>
            </div>
        </div>
        <div ng-show="covenantSearchList.length>0">
            <div class="col-sm-12 ptb10 clearfix">
                <span class="f14 sky-blue pl35">{{covenantSearchList.length}} Covenants Found</span>
                <div class="form-group clearfix form-group-custom pull-right">
                    <label class="f12"><input class="mr4 valign-middle m-2" ng-model="check_box" ng-click="selectAll(check_box)" type="checkbox" id="jkj"> Select All</label>
                </div>
            </div>
            <div class="p10">
                <ul class="covenant-filtered-list">
                    <li ng-repeat="c in covenantSearchList">
                        <input ng-model="$parent.covenantChecked[c.id_covenant] " ng-init="covenantChecked[c.id_covenant] = (check_box)?true:false" ng-checked="check_box" type="checkbox">
                        <span>{{c.covenant_name}}</span>
                    </li>
                </ul>
                <div class="col-lg-12 col-sm-12 text-center" ng-show="covenantSearchList.length>0">
                    <button class="btn btn-dark f12" ng-click="saveCovenant(covenantChecked)"
                            n-t='{"e_n":"Add Covenant","e_d":""}'>Add</button>
                </div>
            </div>
        </div>
    </div>
</div>
