<div class="modal-wrap right-modal modal-custom">
    <div class="clearfix">
        <h3 class="right-modal-head">
            <i class="fa fa-cog"></i> Config {{'Covenant' | translate}}
            <a ng-click="cancel()" class="close-right pull-right" uib-tooltip="Close"
               n-t='{"e_n":"Close Config Covenant","e_d":""}'><img src="images/close.png"></a>
        </h3>

    </div>
    <div class="modal-body clearfix">
        <form name="form" novalidate ng-submit="form.$valid && updateCovenant(covenant,form)">
            <div class="col-sm-12">
                <div class="col-sm-12 p0">
                    <div class="col-sm-6 ">
                        <div class="form-group clearfix form-group-custom mb10">
                            <label class="darkcolor">
                                {{'Frequency' | translate}} * :
                            </label>
                            <select class="form-control chosen-select"
                                    chosen
                                    ng-init="masterDropDownList({'master_key':'covenant_frequency'})"
                                    ng-model="covenant.covenant_frequency_id" name="frequency_id"
                                    ng-options="item.id as item.name for item in dropDownItems['covenant_frequency']"
                                    required>
                                <option value="">--Select--</option>
                            </select>
                            <div ng-if='form.frequency_id.$error.required && form.$submitted'
                                 class="error-message">{{'This field is required'|translate}}
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 ">
                        <div class="form-group col-sm-8 p0 clearfix form-group-custom">
                            <label class=" darkcolor">Notice Period * :</label>
                            <input type="text" ng-model="covenant.notice_days" name="notice_days" class="form-control" ui-number-mask="0" maxlength="3" required>
                        </div>
                        <div class="col-sm-4 mt20 pt5 pl5"><span class="f12 darkcolor">days</span></div>
                        <div ng-if='form.notice_days.$error.required && form.$submitted'
                             class="error-message clearboth">{{'This field is required'|translate}}
                        </div>

                    </div>

                    <div class="row"></div>
                    <div class="col-sm-6 ">
                        <div class="form-group col-sm-8 p0 clearfix form-group-custom">
                            <label class=" darkcolor">Grace Days * :</label>
                            <input type="text" class="form-control" name="grace_days" ng-model="covenant.grace_days" ui-number-mask="0" maxlength="3" required>
                        </div>
                        <div class="col-sm-4 mt20 pt5 pl5"><span class="f12 darkcolor">days</span></div>
                        <div ng-if='form.grace_days.$error.required && form.$submitted'
                             class="error-message clearboth">{{'This field is required'|translate}}
                        </div>
                    </div>

                    <div class="col-sm-6 ">
                        <div class="form-group clearfix form-group-custom" ng-init="covenant.covenant_mandatory=(covenant.covenant_mandatory)?covenant.covenant_mandatory:1">
                            <label class=" display-block darkcolor">Mandatory * :</label>
                            <div class="radio display-inline-block mr15 mt5">
                                <label class="f12">
                                    <input type="radio" ng-value="1" ng-model="covenant.covenant_mandatory" name="covenant_mandatory">
                                    Yes</label>
                            </div>
                            <div class="radio display-inline-block mr15">
                                <label class="f12">
                                    <input type="radio" ng-value="0" ng-model="covenant.covenant_mandatory" name="covenant_mandatory">
                                    No
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row"></div>
                    <div class="col-sm-6">
                        <div class="form-group clearfix form-group-custom">
                            <label>{{'Start Date' | translate}} * :</label>
                            <div class="input-group">
                                <input type="text" class="form-control white-bg"
                                       uib-datepicker-popup
                                       data-ng-model="covenant.covenant_start_date" name="covenant_start_date" is-open="openCal2"
                                       show-weeks="false" show-button-bar="false" required readonly/>
                             <span class="input-group-btn">
                              <button type="button" class="btn btn-default border" ng-click="openCal2 = true">
                                  <i class="fa fa-calendar"></i>
                              </button>
                            </span>
                            </div>
                            <div ng-if='form.covenant_start_date.$error.required && form.$submitted'
                                 class="error-message">{{'This field is required'|translate}}
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-12">
                        <div class="form-group clearfix form-group-custom mb10">
                            <label class="darkcolor">
                                {{'Assigned to' | translate}} * :
                            </label>
                            <select multiple chosen class="chosen-select" name="sector"
                                    ng-init="getUserAllList()"
                                    data-placeholder="Please Select Assigned to"
                                    ng-model="covenant.assigned_to"
                                    ng-options="item.id_user as item.first_name+' '+item.last_name for item in userList" required>

                            </select>
                            <div ng-if='form.sector.$error.required && form.$submitted'
                                 class="error-message">{{'This field is required'|translate}}
                            </div>
                        </div>
                    </div>

                    <div class="row"></div>
                    <!--<div class="col-sm-12 p0">
                        <div class="form-group clearfix form-group-custom mb10">
                            <label class="darkcolor">
                                {{'Remarks' | translate}} :
                            </label>
                            <textarea name="facility_description" class="form-control" placeholder="write remarks"></textarea>
                        </div>
                    </div>-->
                </div>
            </div>
            <div class="col-sm-12 text-center mt10">
                <button class="blue-btn"
                    n-t='{"e_n":"Update Config Covenant","e_d":""}'>
                    Update
                </button>
                <button class="light-btn" type="button" ng-click="cancel()"
                      n-t='{"e_n":"Cancel Config Covenant","e_d":""}'>
                    {{'Cancel' | translate}}
                </button>
            </div>
        </form>

    </div>
</div>
