<div class="modal-wrap right-modal modal-custom">
    <div class="clearfix">
        <h3 class="right-modal-head">
            <i class="fa fa-history"></i> {{'Covenant History' | translate}}
            <a ng-click="cancel()" class="close-right pull-right" uib-tooltip="Close"><img src="images/close.png"></a>
        </h3>

    </div>
    <div class="modal-body clearfix">
        <div class="table-responsive covenant-table">
            <table st-table st-pipe="getCovenantTaskActionHistory" class="table c-table table-hover display table-style mb0">
                <thead>
                <tr>
                    <th>Date</th>
                    <th>User</th>
                    <th>Task Status</th>
                    <th>Reason</th>
                    <th>Comments/Reviews</th>
                    <th>Documents</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in cTaskActionHistroy">
                    <td>{{item.action_date|utcToLocal:'date'}}</td>
                    <td>{{item.user_name}}</td>
                    <td><span class="orange">{{item.task_action_status | capitalize}}</span></td>
                    <td>{{item.action_reason}}</td>
                    <td>{{item.action_comments}}</td>
                    <td>
                        <ul>
                            <li ng-repeat="d in item.documents"><a href="{{d.document_source}}" download>{{d.document_name}}</a></li>
                        </ul>
                    </td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="5" class="text-center">
                        <div st-items-by-page="10" st-pagination st-template="partials/pagination.custom.html" class="pull-right"></div>
                    </td>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>

