<h3 class="fixed content-heading">{{'Facility' | translate}}
    <div class="pull-right button-set">
        <a ui-sref="project.project-list({id:(currentProjectViewId | encode )})" uib-tooltip="Back"><i class="fa fa-close-sm"></i></a>
    </div>
</h3>

<div class="col-sm-12 fixed clearfix  z1 fixed-top full-fixed-top" ng-class="{visible:boolChangeClass}" fixed-top>
    <div class="clearfix relative details-fixed-top border-none no-bg pad0">
        <div class="col-sm-12 clearfix p0">
            <div class="page-header-wrap mt0  box-shadow clearfix">
                <div class="display-inline-block wrapper-list c-wrap-list pt10 col-sm-10 clearfix">
                    <h3 class="f15 dark-sky-blue">Aponye Uganda Limited</h3>
                    <ul>
                        <li>
                            <p class="f12 word-break">{{'Company' | translate}}</p>
                            <h3 class="f14 heading text-line">Savera Hotels</h3>
                        </li>
                        <li>

                            <p class="f12 word-break">{{'Contacts' | translate}}</p>
                            <h3 class="f14 heading text-line">Fiona</h3>
                        </li>
                        <li>
                            <p class="f12 word-break">{{'# Loans' | translate}}</p>
                            <h3 class="f14 heading text-line">1</h3>

                        </li>
                        <li>
                            <p class="f12 word-break">{{'Amount($)' | translate}}</p>
                            <h3 class="f14 heading text-line" title="{{projectDetails.sector}}">1,25,000</h3>

                        </li>
                        <li>
                            <div class="display-inline-block pull-left mt5 -ml8"><i class="icon-arrow-down red f21 fontBold"></i></div>
                            <div class="display-inline-block pull-left">
                                <p class="f12">{{'Current Share' | translate}}</p>
                                <h3 class="f14 bold " label-status="{{projectDetails.project_status}}">2.5%</h3>
                            </div>
                        </li>
                        <li>
                            <div class="display-inline-block pull-left">
                                <p class="f12 ">{{'Rating' | translate}}</p>
                                <h3 class="f14 bold " label-status="{{projectDetails.project_status}}">B</h3>
                            </div>
                            <div class="display-inline-block green fontBold f24 pull-left mt5 ml2"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="display-inline-block pull-right relative">
                    <div class="display-inline-block thin-red-bg-wrap">
                        <span class="box-rating">
                            <p class="f32"><i class="icon-eye"></i></p>
                            <h3 class="f14 bold " label-status="{{projectDetails.project_status}}">Flowchart</h3>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="content-area animated fadeInRight" id="contentArea">

    <div class="content-container clearfix">

        <div class="col-sm-12 p0">
            <div class="page-header-wrap white-bg box-shadow clearfix relative mb15">
                <div class="display-inline-block wrapper-list c-wrap-list pt10 col-sm-10 clearfix" ng-init="getProjectDetails()">
                    <h3 class="f15 dark-sky-blue">Aponye Uganda Limited</h3>
                    <ul>
                        <li>
                            <p class="f12 word-break">{{'Company' | translate}}</p>
                            <h3 class="f14 heading text-line">Savera Hotels</h3>
                        </li>
                        <li>

                            <p class="f12 word-break">{{'Contacts' | translate}}</p>
                            <h3 class="f14 heading text-line">Fiona</h3>
                        </li>
                        <li>
                            <p class="f12 word-break">{{'# Loans' | translate}}</p>
                            <h3 class="f14 heading text-line">1</h3>

                        </li>
                        <li>
                            <p class="f12 word-break">{{'Amount($)' | translate}}</p>
                            <h3 class="f14 heading text-line" title="{{projectDetails.sector}}">1,25,000</h3>

                        </li>
                        <li>
                            <div class="display-inline-block pull-left mt5 -ml8"><i class="icon-arrow-down red f21 fontBold"></i></div>
                            <div class="display-inline-block pull-left">
                                <p class="f12">{{'Current Share' | translate}}</p>
                                <h3 class="f14 bold " >2.5%</h3>
                            </div>
                        </li>
                        <li>
                            <div class="display-inline-block pull-left">
                                <p class="f12 ">{{'Rating' | translate}}</p>
                                <h3 class="f14 bold " label-status="{{projectDetails.project_status}}">B</h3>
                            </div>
                            <div class="display-inline-block green fontBold f24 pull-left mt5 ml2"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="display-inline-block pull-right relative">
                    <div class="display-inline-block thin-red-bg-wrap">
                        <span class="box-rating">
                            <p class="f32"><i class="icon-eye"></i></p>
                            <h3 class="f14 bold " label-status="{{projectDetails.project_status}}">Flowchart</h3>
                        </span>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>

        <div class=" col-lg-12 col-sm-12 plr20 mb20 mt5">

            <div class="col-lg-9 col-sm-8 mt5 pl0 clearfix clearboth">
                <div class="div-header clearfix  border-bottom  white-bg" >
                    <h3 class="darkcolor pull-left display-inline-block f14 roboto-bold text-capitalize p15">Covenant</h3>
                    <div class="pull-right mr10 mt5">
                        <a href="#" class="p5 f21"><i class="icon-search"></i></a>
                        <a href="javascript:;" uib-tooltip="Add" class="p5 f21" ng-click="CreateCovenantModalOpen()" uib-tooltip="Add"><i class="icon-plus-circle"></i></a>
                    </div>
                </div>
                <div class="col-sm-12 p10 white-bg clearfix">
                    <div class="col-sm-12 border p0 light-bg">
                        <div class="col-sm-12 p0 border-bottom pt5 pb5">
                            <h3 class="col-sm-4 sky-blue mt5 f16">Financial Ratio</h3>
                            <div class="col-sm-3 p0 f12 text-right mt5">
                                <span class="ash">Last Review: <strong class="darkcolor">23 Aug,2016</strong></span>
                            </div>
                            <div class="col-sm-3 p0 f12 text-right mt5">
                                <span class="ash">Next Review: <span class="red-bg p2 white-color mr4">30</span><strong class="darkcolor">Days</strong></span>
                            </div>
                            <div class="col-sm-2 text-right">
                                <div class="display-inline-block pull-right custom-list">
                                    <a class="menu-toggle f13 dark-sky-blue dropdown-toggle" data-toggle="dropdown" href="javascript:;" aria-expanded="false"><i class="fa fa-ellipsis-v"></i>
                                    </a>
                                    <ul class="dropdown-menu cust-dropdown">
                                        <li>
                                            <a href="javascript:;" class="f14 darkcolor"><i class="icon-edit"></i>Edit</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;" class="f14 darkcolor"><i class="icon-trash"></i>Delete</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 p0 pt5 clearfix">
                            <div class="col-sm-3 border-right">
                                <label class="label-text display-block">Category</label>
                                <label class="bold f14 darkcolor">Financial</label>
                            </div>
                            <div class="col-sm-3 border-right">
                                <label class="label-text display-block">Frequency</label>
                                <label class="bold f14 darkcolor">---------</label>
                            </div>
                            <div class="col-sm-3 border-right">
                                <div class="col-sm-1 p0 mt10 clearfix">
                                    <span class="circle-bubble green-bg-new"></span>
                                </div>
                                <div class="col-sm-11 pr0 pl5 clearfix">
                                    <label class="label-text display-block">Status</label>
                                    <label class="bold f14 darkcolor">Schedule Call</label>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="col-sm-10 p0">
                                    <label class="label-text display-block">Assigned to</label>
                                    <label class="bold f14 sky-blue text-line">Kristan Simmonds, willium</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 mt5 pl0 pr0 white-bg clearfix">
                            <div class="clearfix">
                                <div class="tabs-wrap covenant-tabs">
                                    <uib-tabset justified="true">
                                        <uib-tab heading="{{'Configure' | translate}}">
                                            <div class="scroll-div-wrap" min-scroll>
                                                <div class="col-sm-12 p10 border-bottom">
                                                    <h4 class="f15 darkcolor mb5">Description:</h4>
                                                    <p class="darkcolor">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
                                                        Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies
                                                        nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
                                                    </p>
                                                    <p class="darkcolor">Donec pede justo, fringilla vel, aliquCum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
                                                    </p>
                                                </div>
                                                <div class="col-sm-12 p0 ptb10">
                                                    <div class="col-sm-4">
                                                        <div class="form-group form-group-custom">
                                                            <label class="darkcolor">Frequency</label>
                                                            <select class="form-control">
                                                                <option value="" slelected>Yearly</option>
                                                                <option value="">Half Yearly</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <div class="form-group form-group-custom">
                                                            <label class="darkcolor">Notice Days</label>
                                                            <select class="form-control">
                                                                <option value="" slelected>1 Day</option>
                                                                <option value="">2 Days</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <div class="form-group form-group-custom">
                                                            <label class="darkcolor">Grace Days</label>
                                                            <select class="form-control">
                                                                <option value="" slelected>1 Day</option>
                                                                <option value="">2 Days</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="row"></div>
                                                    <div class="col-sm-4">
                                                        <div class="form-group form-group-custom">
                                                            <label class="darkcolor">Start Date</label>
                                                            <input type="text" class="form-control">
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <div class="form-group form-group-custom">
                                                            <label class="darkcolor display-block">Mandatory</label>
                                                            <div class="radio display-inline-block mr15 mt5">
                                                                <label class="f12">
                                                                    <input type="radio" name="covenant_mandatory" class="ng-pristine ng-untouched ng-valid" value="1">
                                                                    Yes</label>
                                                            </div>
                                                            <div class="radio display-inline-block mr15 mt5">
                                                                <label class="f12">
                                                                    <input type="radio" name="covenant_mandatory" class="ng-pristine ng-untouched ng-valid" value="1">
                                                                    No</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row pb10"></div>
                                                    <div class="col-sm-12 border-top">
                                                        <div class="form-group clearfix form-group-custom mb10">
                                                            <label class="darkcolor">{{'Tags' | translate}} * :</label>
                                                                <input type="text" class="form-control" ng-model="covenant_tags" placeholder="Add Tags"></input>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-12 text-center mt10">
                                                        <button type="submit" class="blue-btn">Save</button>
                                                        <button type="submit" class="light-btn">Cancel</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </uib-tab>
                                        <uib-tab heading="{{'Monitoring' | translate}}">
                                            <div class="scroll-div-wrap" min-scroll>
                                               <p class="darkcolor mtb10 p10">
                                                    Donec pede justo, fringilla vel, aliquCum sociis natoque penatibus et magnis dis parturient montes, nascetur
                                                    ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
                                               </p>
                                               <div class="col-sm-12 p0 facilitate-setup-content border-top">
                                                   <div class="col-sm-3 page-right-wrap p0">
                                                       <div class="v-tabs-wrap">
                                                           <ul>
                                                               <li class="tab-active">
                                                                   <a  href="javascript:;" active-link="tab-active"><span class="ng-binding">Submit Review</span></a>
                                                               </li>
                                                               <li>
                                                                   <a  href="javascript:;" active-link="tab-active" ><span class="ng-binding">Postpone</span></a>
                                                               </li>
                                                               <li>
                                                                   <a  href="javascript:;" active-link="tab-active"><span class="ng-binding">Schedule a call</span></a>
                                                               </li>
                                                           </ul>
                                                       </div>
                                                   </div>
                                                   <div class="col-sm-9 p0 pb10 border-left">
                                                       <ui-view>
                                                           <div class="col-sm-12 ptb10 border-bottom">
                                                               <h3 class="darkcolor fontBold f14 plr15 mt10 mb5">Submit Review</h3>
                                                               <div class="col-sm-12">
                                                                   <div class="form-group form-group-custom">
                                                                       <label class="darkcolor display-block">Convenant Condition</label>
                                                                       <div class="radio display-inline-block mr15 mt5">
                                                                           <label class="f12">
                                                                               <input type="radio" name="covenant_mandatory" class="ng-pristine ng-untouched ng-valid mt3" value="1">
                                                                               <span class="red-bg p5 white-color">Non Performing</span></label>
                                                                       </div>
                                                                       <div class="radio display-inline-block mr15 mt5">
                                                                           <label class="f12">
                                                                               <input type="radio" name="covenant_mandatory" class="ng-pristine ng-untouched ng-valid mt3" value="1">
                                                                               <span class="orange-bg p5 white-color">Nuteral</span></label>
                                                                       </div>
                                                                       <div class="radio display-inline-block mr15 mt5">
                                                                           <label class="f12">
                                                                               <input type="radio" name="covenant_mandatory" class="ng-pristine ng-untouched ng-valid mt3" value="1">
                                                                               <span class="green-bg-new p5 white-color">Nuteral</span></label>
                                                                       </div>
                                                                   </div>
                                                               </div>
                                                               <div class="col-sm-12">
                                                                   <div class="form-group form-group-custom">
                                                                       <label class="darkcolor">Comments</label>
                                                                       <textarea class="form-control"></textarea>
                                                                   </div>
                                                               </div>
                                                               <div class="col-sm-12">
                                                                   <div class="form-group form-group-custom">
                                                                       <label class="darkcolor">Document Upload</label>
                                                                       <div class=" bg-box">
                                                                           <!--ng-if="permission.attachements_add"-->
                                                                           <div class="dropzone plr15">
                                                                               <div ngf-select="uploadFiles($files)" ngf-drop="uploadFiles($files)" class="drop-box ng-binding m0" ngf-drag-over-class="'dragover'" ngf-multiple="true" ngf-pattern="'.png,.jpg,.zip,.jpeg,.xl,.xls,.xlsx,.doc,.docx,.pdf,.rtf,.txt'">
                                                                                   Select file<span class="ng-binding"> or Drop here</span>
                                                                               </div>
                                                                           </div>
                                                                           <div class="attached-list mt20 ng-hide" ng-show="uploadImage.length">
                                                                               <!-- <img  ngf-thumbnail="f" class="image-view" alt="Image"/>-->
                                                                               <ul class="files-list mb10">
                                                                                   <!-- ngRepeat: f in uploadImage -->
                                                                               </ul>
                                                                               <div class="clearfix col-sm-12 text-center border-bottom pb20 mt0 pt5">
                                                                                   <button class="btn btn-primary border-none btn-dark f12 mr8 ng-binding" type="button" ng-click="save(upload,a_form)">Attach
                                                                                   </button>
                                                                                   <button class="btn btn-primary f12 border-none lt-bg ng-binding" data-ng-click="clear()">Cancel
                                                                                   </button>
                                                                               </div>
                                                                           </div>
                                                                       </div>
                                                                   </div>
                                                               </div>
                                                               <div class="col-sm-12 text-center mt10">
                                                                   <button type="submit" class="blue-btn">Submit</button>
                                                                   <button type="submit" class="light-btn">Cancel</button>
                                                               </div>
                                                           </div>
                                                       </ui-view>
                                                       <ui-view>
                                                           <div class="col-sm-12 ptb10 border-bottom">
                                                               <h3 class="darkcolor fontBold f14 plr15 mt10 mb5">Postpone</h3>
                                                               <div class="col-sm-4">
                                                                   <div class="form-group form-group-custom">
                                                                       <label class="darkcolor display-block">Postpone Date</label>
                                                                       <input type="text" class="form-control">
                                                                   </div>
                                                               </div>
                                                               <div class="col-sm-4">
                                                                   <div class="form-group form-group-custom">
                                                                       <label class="darkcolor display-block mb5">Reason</label>
                                                                       <select class="form-control">
                                                                           <option value="" selected>Others</option>
                                                                       </select>
                                                                   </div>
                                                               </div>
                                                               <div class="row"></div>
                                                               <div class="col-sm-12">
                                                                   <div class="form-group form-group-custom">
                                                                       <label class="darkcolor">Reason on Others</label>
                                                                       <textarea class="form-control"></textarea>
                                                                   </div>
                                                               </div>
                                                               <div class="col-sm-12 text-center mt10">
                                                                   <button type="submit" class="blue-btn">Submit</button>
                                                                   <button type="submit" class="light-btn">Cancel</button>
                                                               </div>
                                                           </div>
                                                       </ui-view>
                                                       <ui-view>
                                                           <div class="col-sm-12 ptb10">
                                                               <h3 class="darkcolor fontBold f14 plr15 mt10 mb5">Schedule a Call</h3>
                                                               <div class="col-sm-4">
                                                                   <div class="form-group form-group-custom">
                                                                       <label class="darkcolor display-block">Date</label>
                                                                       <input type="text" class="form-control">
                                                                   </div>
                                                               </div>
                                                               <div class="row"></div>
                                                               <div class="col-sm-12">
                                                                   <div class="form-group form-group-custom">
                                                                       <label class="darkcolor">Reason</label>
                                                                       <textarea class="form-control"></textarea>
                                                                   </div>
                                                               </div>
                                                               <div class="col-sm-12 text-center mt10">
                                                                   <button type="submit" class="blue-btn">Submit</button>
                                                                   <button type="submit" class="light-btn">Cancel</button>
                                                               </div>
                                                           </div>
                                                       </ui-view>
                                                   </div>
                                               </div>
                                            </div>
                                        </uib-tab>

                                        <uib-tab heading="{{'View History' | translate}}">
                                            <div class="scroll-div-wrap" min-scroll>
                                                <div class="col-sm-12 p10 border-bottom">
                                                    <h4 class="f15 darkcolor mb5">Description:</h4>
                                                    <p class="darkcolor">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
                                                        Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies
                                                        nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
                                                    </p>
                                                    <p class="darkcolor">Donec pede justo, fringilla vel, aliquCum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
                                                    </p>
                                                </div>
                                                <div class="col-sm-12 p10">
                                                    <h3 class="darkcolor text-capitalize mb5 f16">History<a href="#" class="pull-right sky-blue"><i class="icon-filter"></i></a></h3>
                                                    <p class="mb0">
                                                        <span class="sky-blue pr10 border-right-dark f14">Manager<a href="#" class="darkcolor ml5"><i class="icon-times f14"></i></a></span>
                                                        <span class="sky-blue plr10 border-right-dark f14">Pending<a href="#" class="darkcolor ml5 f14"><i class="icon-times"></i></a></span>
                                                        <span class="plr10"><a href="#" class="darkcolor ml5 f14">Clear all</a></span>
                                                    </p>
                                                    <div class="table-responsive covenant-table">
                                                        <table class="table c-table table-hover display table-style mb0">
                                                            <thead>
                                                            <tr>
                                                                <th>Date</th>
                                                                <th>User</th>
                                                                <th>Role</th>
                                                                <th>Monitoring Status</th>
                                                                <th>Comments/Reviews</th>
                                                            </tr>
                                                            </thead>
                                                            <tbody>
                                                            <tr>
                                                                <td>21 Aug, 2016</td>
                                                                <td><a href="#" class="sky-blue">Kristan Simmonds</a></td>
                                                                <td>Manager</td>
                                                                <td><span class="orange">Pending</span></td>
                                                                <td>waiting for the comments...</td>

                                                            </tr>
                                                            <tr>
                                                                <td>14 Aug, 2016</td>
                                                                <td><a href="#" class="sky-blue">Eric Godinez</a></td>
                                                                <td>Loan officer</td>
                                                                <td><span class="red">Rejected</span></td>
                                                                <td>reason for the rejecting is due to the submited content...</td>

                                                            </tr>
                                                            <tr>
                                                                <td>11 Aug, 2016</td>
                                                                <td><a href="#" class="sky-blue">Javier Cisneors</a></td>
                                                                <td>Manager</td>
                                                                <td><span class="green">Accepted</span></td>
                                                                <td>reason for the rejecting is due to the submited content...</td>
                                                            </tr>
                                                            <tr>
                                                                <td>21 Aug, 2016</td>
                                                                <td><a href="#" class="sky-blue">Kristan Simmonds</a></td>
                                                                <td>Manager</td>
                                                                <td><span class="orange">Pending</span></td>
                                                                <td>waiting for the comments...</td>

                                                            </tr>
                                                            <tr>
                                                                <td>14 Aug, 2016</td>
                                                                <td><a href="#" class="sky-blue">Eric Godinez</a></td>
                                                                <td>Loan officer</td>
                                                                <td><span class="red">Rejected</span></td>
                                                                <td>reason for the rejecting is due to the submited content...</td>

                                                            </tr>
                                                            <tr>
                                                                <td>11 Aug, 2016</td>
                                                                <td><a href="#" class="sky-blue">Javier Cisneors</a></td>
                                                                <td>Manager</td>
                                                                <td><span class="green">Accepted</span></td>
                                                                <td>reason for the rejecting is due to the submited content...</td>
                                                            </tr>
                                                            </tbody>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </uib-tab>
                                    </uib-tabset></div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-4 mt5 pl0 pr0 white-bg">
                <div>
                    <div class="tabs-wrap" doc-height>
                        <uib-tabset justified="true">
                            <uib-tab heading="{{'Intelligence' | translate}}">
                                <div class="scroll-div-wrap">


                                    <div class="people-wrap clearfix" ng-repeat="row in knowledgeDetails" >
                                        <a class="display-block" href="javascript:;" target="_blank" ui-sref="project.project-overview({id:(row.id_crm_project | encode )})">
                                            <div class="pull-left p5 img-wrap">
                                                <span first-alpha="{{row.project_title}}"></span>
                                            </div>
                                            <div class="p5">
                                                <p class="darkcolor bold f12">{{row.project_title}}</p>
                                                <p class="f12 dark" data-ng-bind-html="row.project_description | ellipsis:60"></p>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="no-knowledgedata-view" ng-show="knowledgeDetails==null">No intelligence data available on this topic. <div class="text-center"><a class="btn lt-bg btn-primary f14 border-none display-inline-block mt10">Ask for Help</a></div></div>

                                </div>
                            </uib-tab>
                            <uib-tab heading="{{'Knowledge' | translate}}">
                                <div class="scroll-div-wrap">

                                    <div class="people-wrap clearfix" ng-repeat="data in knowledgeData" ng-click="modalOpen(data)" >
                                        <a ui-sref="knowledge-management.item-view({ id: data.id_knowledge_document})"  target="_blank" class="display-block"
                                           n-t='{"e_n":"View knowledge-management","e_d":"title - {{data.document_title}}, Knowledge-management"}'>
                                            <div class="pull-left p5 k-img" knowledge-icons data-image="{{data.document_type}}" ></div>
                                            <div class="pl100 p5">
                                                <p class="darkcolor bold mb3 f14">{{data.document_title}} </p>
                                                <p class="f12 mb3" data-ng-bind-html="data.document_description | ellipsis:50"></p>
                                                <p class="sky-blue f14"><i class="fa fa-eye f18 mr4 darkcolor valign-top display-inline-block"></i> No. of views  <span class="darkcolor ml5 bold">{{data.number_of_views}}</span></p>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="no-knowledgedata-view" ng-show="knowledgeData == ''">No knowledge base available on this topic <div class="text-center"><a ui-sref="knowledge-management.knowledge-dashboard" class="btn lt-bg btn-primary f14 border-none display-inline-block mt10">Click to Add</a></div></div>

                                </div>
                            </uib-tab>

                            <uib-tab heading="{{'People' | translate}}">
                                <div class="scroll-div-wrap">

                                    <div class="people-wrap clearfix" ng-repeat="data in peopleDetails">
                                        <div class="peopleImgWrap">
                                            <!--<img class="img-circle" src="images/default-img.png" alt="image"/>-->
                                            <img ng-src="{{data.profile_image || 'images/default-img.png'}}"/>
                                        </div>
                                        <div class="peopleDetails-wrap">
                                            <p class="peopleName darkcolor bold f12">{{data.username}}</p>
                                            <p class="peopleDesig">{{data.approval_name}}</p>
                                        </div>
                                    </div>
                                    <div  class="no-knowledgedata-view" ng-show="peopleDetails == null">No contacts available on this topic<div class="text-center"><a class="btn lt-bg btn-primary f14 border-none display-inline-block mt10">Click to Add</a></div></div>

                                </div>
                            </uib-tab>
                        </uib-tabset></div>


                </div>
            </div>

        </div>

    </div>
</div>
<script type="text/ng-template" id="knowledge-details.html">
    <div class="modal-wrap right-modal modal-custom">
        <div class="clearfix">
            <h3 class="right-modal-head">
                <i class="fa fa-sitemap mr8"></i>{{knowledgeData.document_title}}
                <a ng-click="cancel()" class="close-right pull-right" uib-tooltip="Close"><img src="images/close.png"></a>
            </h3>

        </div>
        <div class="modal-body clearfix">

            <div class="col-sm-12 p0">
                <div class="form-group clearfix form-group-custom mb10">
                    <div class="col-sm-2"><label class="f13 ash">Title:</label></div>
                    <div class="col-sm-8 f14">
                        {{knowledgeData.document_title}}
                    </div>
                </div>
            </div>
            <div class="col-sm-12 p0">
                <div class="form-group clearfix form-group-custom mb10">
                    <div class="col-sm-2"><label class="f13 ash">Description:</label></div>
                    <div class="col-sm-8 f14" data-ng-bind-html="knowledgeData.document_description"></div>
                </div>
            </div>
            <div class="col-sm-12 p0" ng-if="knowledgeData.document_type == 'document'">
                <div class="form-group clearfix form-group-custom mb10">
                    <div class="col-sm-2"><label class="f13 ash">File:</label></div>
                    <div class="col-sm-8 p0">
                        <div class="btn-custom mt10">
                            <a href="{{knowledgeData.document_source}}" class="f14 sky-blue" download target="_blank"><i class="fa fa-download mlr5"></i>Download</a><span class="f12"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 p0" ng-if="knowledgeData.document_type == 'video'">
                <div class="form-group clearfix form-group-custom mb10">
                    <!--<div class="col-sm-2"><label class="control-label">Video:</label></div>-->
                    <div class="col-sm-12 p0" add-iframe data-iframesrc="{{knowledgeData.document_source}}">
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>







