<div class="div-header clearfix  border-bottom  white-bg">
    <h3 class="darkcolor pull-left display-inline-block f14 roboto-bold text-capitalize p15">Covenant</h3>
    <div class="pull-right mr10 mt5">
        <!--<a href="#" class="p5 f21"><i class="icon-search"></i></a>-->
        <div class=" display-inline-block pull-left mr4 pt2">
            <!-- <div class="table-search pull-left width220">
                 <input type="text" class="form-control" ng-model="coventSearch" placeholder="Search">
                 <i class="fa icon-search mt8"></i>
             </div>-->
        </div>
        <a href="javascript:;" uib-tooltip="Add" class=" p5 f21 pull-right" ng-click="CreateCovenantModalOpen()" uib-tooltip="Add"
           n-t='{"e_n":"Project Covenant Add","e_d":""}'><i class="icon-plus-circle"></i></a>
    </div>
</div>
<div class="col-sm-12 p10 white-bg clearfix" ng-if="covenantCrmList.length>0">
    <div class="col-sm-12 p0">
        <div class="col-sm-3 p0 border-right">
            <div class="v-tabs-wrap covenant-tab-list">
                <ul>
                    <li class="" ng-class="{'tab-active':(selectedCovenant == c)}" ng-repeat="c in covenantCrmList">

                        <a href="" ng-click="covenantActive(c)">
                            <h6 class="darkcolor bold">{{c.covenant_name}}</h6>
                            <p class="darkcolor"><span class="gray">Type: </span>{{c.covenant_type_name}}</p>
                            <span class="white-color display-block p2 f12 font-normal"
                                  label-status="{{c.module_covenant_status}}">{{c.module_covenant_status | capitalize}}</span>
                        </a>
                    </li>
                    <!--   <li>
                           <a href="#">
                               <h6 class="darkcolor bold">Lease Renewal</h6>
                               <p class="darkcolor"><span class="gray">Type: </span>Lease Agrement</p>
                               <p class="darkcolor"><span class="gray">Last Modified: </span> 23 Sep, 2016</p>
                           </a>
                       </li>
                       <li>
                           <a href="#">
                               <h6 class="darkcolor bold">Quarterly Balance Sheet</h6>
                               <p class="darkcolor"><span class="gray">Type: </span>Lease Agrement</p>
                               <p class="darkcolor"><span class="gray">Last Modified: </span> 23 Sep, 2016</p>
                               <p class="red"><i class="icon-warning red"></i>need to update</p>
                           </a>
                       </li>-->
                </ul>
            </div>
        </div>
        <div class="col-sm-9 border-left p0" ng-if="selectedCovenant">
            <h3 class="darkcolor bold p10 pt15 pb15 border-bottom mt5">{{selectedCovenant.covenant_name}}
                <span class="pull-right">
                    <a ng-href="" class="sky-blue"
                       ng-click="selectedCovenant.covenantConfigForm = !selectedCovenant.covenantConfigForm">
                        <i class="icon-gear"></i>
                    </a>
                    </a>
                    <span ng-show="selectedCovenant.module_covenant_status=='new'">
                    <a ng-href="" class="sky-blue"
                       uib-tooltip="Delete"
                       ng-click="deleteCovenant(selectedCovenant.id_module_covenant)">
                        <i class="icon-trash"></i>
                    </a>
                    </span>
                </span>
            </h3>
            <div class="modal-wrap right-modal modal-custom" ng-if="selectedCovenant.covenantConfigForm">
                <div class="clearfix">
                    <h3 class="right-modal-head">
                        <i class="fa fa-cog"></i> Config {{'Covenant' | translate}}
                        <a ng-click="selectedCovenant.covenantConfigForm = !selectedCovenant.covenantConfigForm" uib-tooltip="Close"
                           class="close-right pull-right"
                           n-t='{"e_n":"Close Config Covenant","e_d":""}'><img src="images/close.png"></a>
                    </h3>

                </div>
                <div class="modal-body clearfix pl0 pr0">
                    <form name="form" novalidate ng-submit="form.$valid && updateCovenant(covenant,form)">
                        <div class="col-sm-12">
                            <div class="col-sm-12 p0">
                                <div class="col-sm-6 ">
                                    <div class="form-group clearfix form-group-custom mb10">
                                        <label class="darkcolor">
                                            {{'Frequency' | translate}} * :
                                        </label>
                                        <select class="form-control chosen-select"
                                                chosen
                                                ng-init="masterDropDownList({'master_key':'covenant_frequency'})"
                                                ng-model="covenant.covenant_frequency_id" name="frequency_id"
                                                ng-options="item.id as item.name for item in dropDownItems['covenant_frequency']"
                                                required>
                                            <option value="">--Select--</option>
                                        </select>
                                        <div ng-if='form.frequency_id.$error.required && form.$submitted'
                                             class="error-message">{{'This field is required'|translate}}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6 ">
                                    <div class="form-group col-sm-8 p0 clearfix form-group-custom">
                                        <label class=" darkcolor">Notice Period * :</label>
                                        <input type="text" ng-model="covenant.notice_days" name="notice_days"
                                               class="form-control" ui-number-mask="0" maxlength="3" required>
                                    </div>
                                    <div class="col-sm-4 mt20 pt5 pl5"><span class="f12 darkcolor">days</span></div>
                                    <div ng-if='form.notice_days.$error.required && form.$submitted'
                                         class="error-message clearboth">{{'This field is required'|translate}}
                                    </div>

                                </div>

                                <div class="row"></div>
                                <div class="col-sm-6 ">
                                    <div class="form-group col-sm-8 p0 clearfix form-group-custom">
                                        <label class=" darkcolor">Grace Days * :</label>
                                        <input type="text" class="form-control" name="grace_days"
                                               ng-model="covenant.grace_days" ui-number-mask="0" maxlength="3" required>
                                    </div>
                                    <div class="col-sm-4 mt20 pt5 pl5"><span class="f12 darkcolor">days</span></div>
                                    <div ng-if='form.grace_days.$error.required && form.$submitted'
                                         class="error-message clearboth">{{'This field is required'|translate}}
                                    </div>
                                </div>

                                <div class="col-sm-6 ">
                                    <div class="form-group clearfix form-group-custom"
                                         ng-init="covenant.covenant_mandatory=(covenant.covenant_mandatory)?covenant.covenant_mandatory:1">
                                        <label class=" display-block darkcolor">Mandatory * :</label>
                                        <div class="radio display-inline-block mr15 mt5">
                                            <label class="f12">
                                                <input type="radio" ng-value="1" ng-model="covenant.covenant_mandatory"
                                                       name="covenant_mandatory">
                                                Yes</label>
                                        </div>
                                        <div class="radio display-inline-block mr15">
                                            <label class="f12">
                                                <input type="radio" ng-value="0" ng-model="covenant.covenant_mandatory"
                                                       name="covenant_mandatory">
                                                No
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row"></div>
                                <div class="col-sm-6">
                                    <div class="form-group clearfix form-group-custom">
                                        <label>{{'Start Date' | translate}} * :</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control white-bg"
                                                   uib-datepicker-popup
                                                   data-ng-model="covenant.covenant_start_date"
                                                   name="covenant_start_date" is-open="openCal2"
                                                   show-weeks="false" show-button-bar="false" required readonly/>
                             <span class="input-group-btn">
                              <button type="button" class="btn btn-default border" ng-click="openCal2 = true">
                                  <i class="fa fa-calendar"></i>
                              </button>
                            </span>
                                        </div>
                                        <div ng-if='form.covenant_start_date.$error.required && form.$submitted'
                                             class="error-message">{{'This field is required'|translate}}
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-12">
                                    <div class="form-group clearfix form-group-custom mb10">
                                        <label class="darkcolor">
                                            {{'Assigned to' | translate}} * :
                                        </label>
                                        <select multiple chosen class="chosen-select" name="sector"
                                                ng-init="getUserAllList()"
                                                data-placeholder="Please Select Assigned to"
                                                ng-model="covenant.assigned_to"
                                                ng-options="item.id_user as item.first_name+' '+item.last_name for item in userList"
                                                required>

                                        </select>
                                        <div ng-if='form.sector.$error.required && form.$submitted'
                                             class="error-message">{{'This field is required'|translate}}
                                        </div>
                                    </div>
                                </div>

                                <div class="row"></div>
                                <!--<div class="col-sm-12 p0">
                                    <div class="form-group clearfix form-group-custom mb10">
                                        <label class="darkcolor">
                                            {{'Remarks' | translate}} :
                                        </label>
                                        <textarea name="facility_description" class="form-control" placeholder="write remarks"></textarea>
                                    </div>
                                </div>-->
                            </div>
                        </div>
                        <div class="col-sm-12 text-center mt10">
                            <button class="blue-btn"
                                    n-t='{"e_n":"Update Config Covenant","e_d":""}'>
                                Update
                            </button>
                            <!--<button class="light-btn" type="button" ng-click="cancel()"
                                    n-t='{"e_n":"Cancel Config Covenant","e_d":""}'>
                                {{'Cancel' | translate}}
                            </button>-->
                        </div>
                    </form>
                </div>
            </div>
            <div>
                <div class="col-sm-12 p10 border-bottom">
                    <h4 class="f15 darkcolor mb5">Description:</h4>
                    <p class="darkcolor mb0">{{selectedCovenant.covenant_description}}</p>
                </div>
                <div class="col-sm-12 p10" ng-if="selectedCovenant.id_module_covenant">
                    <h3 class="darkcolor text-capitalize mb5 f16">History</h3>
                    <div class="table-responsive covenant-table">
                        <table st-table st-pipe="getCovenantHistory"
                               class="table c-table table-hover display table-style mb0">
                            <thead>
                            <tr>
                                <th>Date<input type="hidden" st-search="module_covenant_id"
                                               ng-value="selectedCovenant.id_module_covenant"></th>
                                <th>Assign To</th>
                                <th>Monitoring Status</th>
                                <th>Comments/Reviews</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="item in cTaskHistroy[selectedCovenant.id_module_covenant]">
                                <td>{{item.task_due_date|utcToLocal:'date'}}</td>
                                <td>{{item.user_name}}</td>
                                <td><span class="f11" label-status="{{item.task_status}}">{{item.task_status | capitalize}}</span></td>
                                <td>{{item.task_comments}}</td>
                                <td>
                                    <a href="" ng-if="item.task_status !='submitted'" class="fa fa-eye" uib-tooltip="Action"
                                       ng-click="cHistoryActionModal(item.id_covenant_task,selectedCovenant.id_module_covenant)"></a>
                                    <a href="" class="ml5 fa fa-history" ng-click="cActionHistoryModal(item.id_covenant_task)" uib-tooltip="View"></a>
                                </td>

                            </tr>

                            </tbody>
                            <tfoot>
                            <tr>
                                <td colspan="5" class="text-center">
                                    <div st-items-by-page="10" st-pagination
                                         st-template="partials/pagination.custom.html" class="pull-right"></div>
                                </td>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!--<div class="col-sm-12 border p0 mb5 light-bg" ng-repeat="c in covenantCrmList  | filter: coventSearch">
        <div class="col-sm-12 p0 border-bottom pt5 pb5" >
            <h3 class="col-sm-5 sky-blue mt5 f14 cursor-pointer" ng-click="c.more=!c.more">{{c.covenant_name}}</h3>
            <div class="col-sm-3 p0 f12 mt5 text-right">
                <span class="ash">Last Review: <strong class="darkcolor">{{c.covenant_start_date | utcToLocal:'date'}}</strong></span>
            </div>
            <div class="col-sm-3 p0 f12 mt5 text-right">
                <span class="ash">Next Review: {{c.next_due_date | utcToLocal:'date'}}</span>
            </div>
            <div class="col-sm-1 text-right">
                <div class="display-inline-block pull-right custom-list">
                    <a class="menu-toggle f13 dark-sky-blue dropdown-toggle" data-toggle="dropdown" href="" aria-expanded="false"><i class="fa fa-ellipsis-v"></i>
                    </a>
                    <ul class="dropdown-menu cust-dropdown">
                        <li>
                            <a href="" ng-click="configCovenantModalOpen(c.id_module_covenant)" class="f14 darkcolor"
                               n-t='{"e_n":"Project Covenant Config","e_d":"{{c.covenant_name}}"}'><i class="icon-edit"></i>Config</a>
                        </li>
                        <li ng-show="c.module_covenant_status=='new'">
                            <a href="" ng-click="deleteCovenant(c.id_module_covenant)" class="f14 darkcolor"
                               n-t='{"e_n":"Project Covenant Delete","e_d":"{{c.covenant_name}}"}'><i class="icon-trash"></i>Delete</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-sm-12 p0 pt5 pb5 clearfix">
            <div class="col-sm-3 border-right">
                <label class="label-text display-block">Covenant Type</label>
                <label class="bold f14 darkcolor display-block text-line">{{c.covenant_type_name}}</label>
            </div>
            <div class="col-sm-3 border-right">
                <label class="label-text display-block">Frequency</label>
                <label class="bold f14 darkcolor display-block text-line">{{c.frequency_name}}</label>
            </div>
            <div class="col-sm-3 border-right">
                <div class="col-sm-1 p0 mt10 clearfix">
                    <span class="circle-bubble green-bg-new"></span>
                </div>
                <div class="col-sm-11 pr0 pl5 clearfix">
                    <label class="label-text display-block">Status</label>
                    <label class="bold f14 darkcolor display-block text-line">{{c.module_covenant_status}}</label>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="col-sm-10 p0">
                    <label class="label-text display-block">Assigned to</label>
                    <label class="bold f14 sky-blue text-line display-block text-line">{{c.assigned_to_name}}</label>
                </div>
            </div>
        </div>
        <div class="col-sm-12 border-top" ng-if="c.more">
            <div>
                <div class="col-sm-12 p10 border-bottom">
                    <h4 class="f15 darkcolor mb5">Description:</h4>
                    <p class="darkcolor mb0">{{c.covenant_description}}</p>
                </div>
                <div class="col-sm-12 p10">
                    <h3 class="darkcolor text-capitalize mb5 f16">History</h3>
                    <div class="table-responsive covenant-table">
                        <table st-table st-pipe="getCovenantHistory" class="table c-table table-hover display table-style mb0">
                            <thead>
                            <tr>
                                <th>Date<input type="hidden"  st-search="module_covenant_id" ng-value="c.id_module_covenant"></th>
                                <th>User</th>
                                <th>Monitoring Status</th>
                                <th>Comments/Reviews</th>
                                <th>Action</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="item in cTaskHistroy[c.id_module_covenant]">
                                <td>{{item.task_due_date|utcToLocal:'date'}}</td>
                                <td>{{item.user_name}}</td>
                                <td><span class="orange">{{item.task_status | uppercase}}</span></td>
                                <td>{{item.task_comments}}</td>
                                <td><a href="" ng-if="item.task_status !='submitted'" ng-click="cHistoryActionModal(item.id_covenant_task,c.id_module_covenant)">Action</a>
                                    <a href="" ng-click="cActionHistoryModal(item.id_covenant_task)">view</a>
                                </td>

                            </tr>

                            </tbody>
                            <tfoot>
                            <tr>
                                <td colspan="5" class="text-center">
                                    <div st-items-by-page="10" st-pagination st-template="partials/pagination.custom.html" class="pull-right"></div>
                                </td>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        &lt;!&ndash; <div class="col-sm-12 mt5 pl0 pr0 white-bg clearfix">
                <div class="clearfix">
                    <div class="tabs-wrap covenant-tabs">
                        <uib-tabset justified="true">
                            <uib-tab heading="{{'Configure' | translate}}">
                                <div>
                                    <div class="col-sm-12 p10 border-bottom">
                                        <h4 class="f15 darkcolor mb5">Description:</h4>
                                        <p class="darkcolor">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
                                            Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies
                                            nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
                                        </p>
                                        <p class="darkcolor">Donec pede justo, fringilla vel, aliquCum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
                                        </p>
                                    </div>
                                    <div class="col-sm-12 p0 ptb10">
                                        <div class="col-sm-4">
                                            <div class="form-group form-group-custom">
                                                <label class="darkcolor">Frequency</label>
                                                <select class="form-control">
                                                    <option value="" slelected>Yearly</option>
                                                    <option value="">Half Yearly</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group form-group-custom">
                                                <label class="darkcolor">Notice Days</label>
                                                <select class="form-control">
                                                    <option value="" slelected>1 Day</option>
                                                    <option value="">2 Days</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group form-group-custom">
                                                <label class="darkcolor">Grace Days</label>
                                                <select class="form-control">
                                                    <option value="" slelected>1 Day</option>
                                                    <option value="">2 Days</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="row"></div>
                                        <div class="col-sm-4">
                                            <div class="form-group form-group-custom">
                                                <label class="darkcolor">Start Date</label>
                                                <input type="text" class="form-control">
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group form-group-custom">
                                                <label class="darkcolor display-block">Mandatory</label>
                                                <div class="radio display-inline-block mr15 mt5">
                                                    <label class="f12">
                                                        <input type="radio" name="covenant_mandatory" class="ng-pristine ng-untouched ng-valid" value="1">
                                                        Yes</label>
                                                </div>
                                                <div class="radio display-inline-block mr15 mt5">
                                                    <label class="f12">
                                                        <input type="radio" name="covenant_mandatory" class="ng-pristine ng-untouched ng-valid" value="1">
                                                        No</label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row pb10"></div>
                                        <div class="col-sm-12 border-top">
                                            <div class="form-group clearfix form-group-custom mb10">
                                                <label class="darkcolor">{{'Tags' | translate}} * :</label>
                                                <input type="text" class="form-control" ng-model="covenant_tags" placeholder="Add Tags"></input>
                                            </div>
                                        </div>
                                        <div class="col-sm-12 text-center mt10">
                                            <button type="submit" class="blue-btn">Save</button>
                                            <button type="submit" class="light-btn">Cancel</button>
                                        </div>
                                    </div>
                                </div>
                            </uib-tab>
                            <uib-tab heading="{{'Monitoring' | translate}}">
                                <div  >
                                    <p class="darkcolor mtb10 p10">
                                        Donec pede justo, fringilla vel, aliquCum sociis natoque penatibus et magnis dis parturient montes, nascetur
                                        ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
                                    </p>
                                    <div class="col-sm-12 p0 facilitate-setup-content border-top">
                                        <div class="col-sm-3 page-right-wrap p0">
                                            <div class="v-tabs-wrap">
                                                <ul>
                                                    <li class="tab-active">
                                                        <a  href="" active-link="tab-active"><span class="ng-binding">Submit Review</span></a>
                                                    </li>
                                                    <li>
                                                        <a  href="" active-link="tab-active" ><span class="ng-binding">Postpone</span></a>
                                                    </li>
                                                    <li>
                                                        <a  href="" active-link="tab-active"><span class="ng-binding">Schedule a call</span></a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="col-sm-9 p0 pb10 border-left">
                                            <ui-view>
                                                <div class="col-sm-12 ptb10 border-bottom">
                                                    <h3 class="darkcolor fontBold f14 plr15 mt10 mb5">Submit Review</h3>
                                                    <div class="col-sm-12">
                                                        <div class="form-group form-group-custom">
                                                            <label class="darkcolor display-block">Convenant Condition</label>
                                                            <div class="radio display-inline-block mr15 mt5">
                                                                <label class="f12">
                                                                    <input type="radio" name="covenant_mandatory" class="ng-pristine ng-untouched ng-valid mt3" value="1">
                                                                    <span class="red-bg p5 white-color">Non Performing</span></label>
                                                            </div>
                                                            <div class="radio display-inline-block mr15 mt5">
                                                                <label class="f12">
                                                                    <input type="radio" name="covenant_mandatory" class="ng-pristine ng-untouched ng-valid mt3" value="1">
                                                                    <span class="orange-bg p5 white-color">Nuteral</span></label>
                                                            </div>
                                                            <div class="radio display-inline-block mr15 mt5">
                                                                <label class="f12">
                                                                    <input type="radio" name="covenant_mandatory" class="ng-pristine ng-untouched ng-valid mt3" value="1">
                                                                    <span class="green-bg-new p5 white-color">Nuteral</span></label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-12">
                                                        <div class="form-group form-group-custom">
                                                            <label class="darkcolor">Comments</label>
                                                            <textarea class="form-control"></textarea>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-12">
                                                        <div class="form-group form-group-custom">
                                                            <label class="darkcolor">Document Upload</label>
                                                            <div class=" bg-box">
                                                                &lt;!&ndash;ng-if="permission.attachements_add"&ndash;&gt;
                                                                <div class="dropzone plr15">
                                                                    <div ngf-select="uploadFiles($files)" ngf-drop="uploadFiles($files)" class="drop-box ng-binding m0" ngf-drag-over-class="'dragover'" ngf-multiple="true" ngf-pattern="'.png,.jpg,.zip,.jpeg,.xl,.xls,.xlsx,.doc,.docx,.pdf,.rtf,.txt'">
                                                                        Select file<span class="ng-binding"> or Drop here</span>
                                                                    </div>
                                                                </div>
                                                                <div class="attached-list mt20 ng-hide" ng-show="uploadImage.length">
                                                                    &lt;!&ndash; <img  ngf-thumbnail="f" class="image-view" alt="Image"/>&ndash;&gt;
                                                                    <ul class="files-list mb10">
                                                                        &lt;!&ndash; ngRepeat: f in uploadImage &ndash;&gt;
                                                                    </ul>
                                                                    <div class="clearfix col-sm-12 text-center border-bottom pb20 mt0 pt5">
                                                                        <button class="btn btn-primary border-none btn-dark f12 mr8 ng-binding" type="button" ng-click="save(upload,a_form)">Attach
                                                                        </button>
                                                                        <button class="btn btn-primary f12 border-none lt-bg ng-binding" data-ng-click="clear()">Cancel
                                                                        </button>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-12 text-center mt10">
                                                        <button type="submit" class="blue-btn">Submit</button>
                                                        <button type="submit" class="light-btn">Cancel</button>
                                                    </div>
                                                </div>
                                            </ui-view>
                                            <ui-view>
                                                <div class="col-sm-12 ptb10 border-bottom">
                                                    <h3 class="darkcolor fontBold f14 plr15 mt10 mb5">Postpone</h3>
                                                    <div class="col-sm-4">
                                                        <div class="form-group form-group-custom">
                                                            <label class="darkcolor display-block">Postpone Date</label>
                                                            <input type="text" class="form-control">
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-4">
                                                        <div class="form-group form-group-custom">
                                                            <label class="darkcolor display-block mb5">Reason</label>
                                                            <select class="form-control">
                                                                <option value="" selected>Others</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                    <div class="row"></div>
                                                    <div class="col-sm-12">
                                                        <div class="form-group form-group-custom">
                                                            <label class="darkcolor">Reason on Others</label>
                                                            <textarea class="form-control"></textarea>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-12 text-center mt10">
                                                        <button type="submit" class="blue-btn">Submit</button>
                                                        <button type="submit" class="light-btn">Cancel</button>
                                                    </div>
                                                </div>
                                            </ui-view>
                                            <ui-view>
                                                <div class="col-sm-12 ptb10">
                                                    <h3 class="darkcolor fontBold f14 plr15 mt10 mb5">Schedule a Call</h3>
                                                    <div class="col-sm-4">
                                                        <div class="form-group form-group-custom">
                                                            <label class="darkcolor display-block">Date</label>
                                                            <input type="text" class="form-control">
                                                        </div>
                                                    </div>
                                                    <div class="row"></div>
                                                    <div class="col-sm-12">
                                                        <div class="form-group form-group-custom">
                                                            <label class="darkcolor">Reason</label>
                                                            <textarea class="form-control"></textarea>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-12 text-center mt10">
                                                        <button type="submit" class="blue-btn">Submit</button>
                                                        <button type="submit" class="light-btn">Cancel</button>
                                                    </div>
                                                </div>
                                            </ui-view>
                                        </div>
                                    </div>
                                </div>
                            </uib-tab>

                            <uib-tab heading="{{'View History' | translate}}">
                                <div >
                                    <div class="col-sm-12 p10 border-bottom">
                                        <h4 class="f15 darkcolor mb5">Description:</h4>
                                        <p class="darkcolor">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
                                            Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies
                                            nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
                                        </p>
                                        <p class="darkcolor">Donec pede justo, fringilla vel, aliquCum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim.
                                        </p>
                                    </div>
                                    <div class="col-sm-12 p10">
                                        <h3 class="darkcolor text-capitalize mb5 f16">History<a href="#" class="pull-right sky-blue"><i class="icon-filter"></i></a></h3>
                                        <p class="mb0">
                                            <span class="sky-blue pr10 border-right-dark f14">Manager<a href="#" class="darkcolor ml5"><i class="icon-times f14"></i></a></span>
                                            <span class="sky-blue plr10 border-right-dark f14">Pending<a href="#" class="darkcolor ml5 f14"><i class="icon-times"></i></a></span>
                                            <span class="plr10"><a href="#" class="darkcolor ml5 f14">Clear all</a></span>
                                        </p>
                                        <div class="table-responsive covenant-table">
                                            <table class="table c-table table-hover display table-style mb0">
                                                <thead>
                                                <tr>
                                                    <th>Date</th>
                                                    <th>User</th>
                                                    <th>Role</th>
                                                    <th>Monitoring Status</th>
                                                    <th>Comments/Reviews</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr>
                                                    <td>21 Aug, 2016</td>
                                                    <td><a href="#" class="sky-blue">Kristan Simmonds</a></td>
                                                    <td>Manager</td>
                                                    <td><span class="orange">Pending</span></td>
                                                    <td>waiting for the comments...</td>

                                                </tr>
                                                <tr>
                                                    <td>14 Aug, 2016</td>
                                                    <td><a href="#" class="sky-blue">Eric Godinez</a></td>
                                                    <td>Loan officer</td>
                                                    <td><span class="red">Rejected</span></td>
                                                    <td>reason for the rejecting is due to the submited content...</td>

                                                </tr>
                                                <tr>
                                                    <td>11 Aug, 2016</td>
                                                    <td><a href="#" class="sky-blue">Javier Cisneors</a></td>
                                                    <td>Manager</td>
                                                    <td><span class="green">Accepted</span></td>
                                                    <td>reason for the rejecting is due to the submited content...</td>
                                                </tr>
                                                <tr>
                                                    <td>21 Aug, 2016</td>
                                                    <td><a href="#" class="sky-blue">Kristan Simmonds</a></td>
                                                    <td>Manager</td>
                                                    <td><span class="orange">Pending</span></td>
                                                    <td>waiting for the comments...</td>

                                                </tr>
                                                <tr>
                                                    <td>14 Aug, 2016</td>
                                                    <td><a href="#" class="sky-blue">Eric Godinez</a></td>
                                                    <td>Loan officer</td>
                                                    <td><span class="red">Rejected</span></td>
                                                    <td>reason for the rejecting is due to the submited content...</td>

                                                </tr>
                                                <tr>
                                                    <td>11 Aug, 2016</td>
                                                    <td><a href="#" class="sky-blue">Javier Cisneors</a></td>
                                                    <td>Manager</td>
                                                    <td><span class="green">Accepted</span></td>
                                                    <td>reason for the rejecting is due to the submited content...</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </uib-tab>
                        </uib-tabset></div>


                </div>
            </div>&ndash;&gt;
    </div>-->
</div>