<h3 class="fixed content-heading">Master Branch Types</h3>

<div class="content-area " id="contentArea"><!--animated fadeInRight -->

    <div class="content-container p20 clearfix light-blue-bg">
        <div class="col-sm-12 plr20 ">
            <div class="table-wrapper">

                <table class="table s-table table-striped table-bordered table-hover display table-style" st-pipe="callServer" st-table="displayed">
                    <thead>
                    <tr>
                        <th></th>
                        <!--<th st-sort="id_sector">Id</th>-->
                        <th st-sort="parent">Branch Type code</th>
                        <th st-sort="sector_name">Branch Type Name</th>
                    </tr>
                    </thead>
                    <tbody ng-show="!isLoading">
                    <tr ng-repeat="row in countriesList">
                        <td><input type="checkbox" ng-model="selected[row.id_branch_type]"   ng-change="updateSelected(row.branch_type_name)" ></td>
                        <!--<td>{{row.id_branch_type}}</td>-->
                        <td>{{row.branch_type_code}}</td>
                        <td>{{row.branch_type_name}}</td>
                    </tr>
                    </tbody>
                    <tbody ng-show="isLoading">
                    <tr>
                        <td colspan="4" class="text-center">Loading ... </td>
                    </tr>
                    </tbody>

                    <tfoot>
                    <tr>
                        <td colspan="2">
                            <div class="clearfix pagination-wrap">
                                <ul class="icons-wrap pull-left">
                                    <li>
                                        <a href="javascript:;"
                                           n-t='{"e_n":"Add Branch Types Master Admin","e_d":""}'
                                           uib-tooltip="Add" class="fa fa-plus" ng-click="open()"> </a></li>
                                    <li ng-show="selectedCount=='1'">
                                        <a href="javascript:;"
                                           uib-tooltip="Edit"
                                           ng-click="open('edit',editId)"
                                           n-t='{"e_n":"Edit Branch Types Master Admin","e_d":"{{selectedText}}"}'
                                           class="fa fa-edit" ng-class="{'edit-disabled': selectedCount!='1'}"></a></li>
                                    <!--<li ng-show="selectedCount>'0'"><a href="javascript:;" class="fa fa-trash" ng-class="{'trash-disabled': selectedCount == '0'}"></a></li>-->
                                </ul>
                            </div>
                        </td>
                        <td colspan="5" class="text-center">
                            <div st-items-by-page="10" st-pagination="" st-template="partials/pagination.custom.html" class="pull-right"></div>
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
        <!--width1024-->
    </div>
</div>
