<div class="modal-wrap">
    <div class="modal-header clearfix">
        <h3 class="modal-title pull-left mt5">{{title}} Country</h3>
        <a href="javascript:;" class="pull-right" ng-click="cancel()" uib-tooltip="Close"
           n-t='{"e_n":"Back {{title}} Country Admin","e_d":""}'>
            <img src="images/close.png" alt="close-image">
        </a>
    </div>
    <form class="mt10" name="countryForm" ng-submit="submitForm()" novalidate>
        <div class="row clearfix">
            <div class="col-lg-12">
                <div class="form-group clearfix form-group-custom">
                    <label class="col-sm-12 control-label">Country Name *</label>
                    <div class="col-sm-12">
                        <input type="text" class="form-control" ng-model="country.country_name" name="country_name">
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="form-group clearfix form-group-custom">
                    <label class="col-sm-12 control-label">Nationality </label>
                    <div class="col-sm-12">
                        <input type="text" class="form-control" ng-model="country.nationality" name="nationality">
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="form-group clearfix form-group-custom">
                    <label class="col-sm-12 control-label">Country Code</label>
                    <div class="col-sm-12">
                        <input type="text" class="form-control" ng-model="country.country_code" name="country_code">
                    </div>
                </div>
            </div>

            <div class="col-lg-12 m10">
                <div class="form-group form-group-custom">
                    <label class="col-sm-12 control-label"></label>
                    <div class="radio display-inline-block mr15 mt5">
                        <label class="control-label f12">
                            <input type="radio" name="country_visible" ng-model="country.country_visible" value="1">
                            Enable Country and Nationality</label>
                    </div>
                    <div class="radio display-inline-block mr15 mt5">
                        <label class="control-label f12">
                            <input type="radio" name="country_visible" ng-model="country.country_visible" value="0">
                            Enable Nationality</label>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="modal-footer border-none btn-custom clearfix text-center">
        <button class="btn btn-primary f14" ng-click="save(country)"
                n-t='{"e_n":"Save {{title}} Country Admin","e_d":""}'>{{btn}}
        </button>
        <button class="btn btn-default f14" ng-click="cancel()"
                n-t='{"e_n":"Cancel {{title}} Country Admin","e_d":""}'>Cancel
        </button>
    </div>
</div>