<div class="modal-wrap">
    <div class="modal-header clearfix">
        <h3 class="modal-title pull-left mt5">Create Branch Type</h3>
        <a href="javascript:;" class="pull-right" ng-click="cancel()" uib-tooltip="Close">
            <img src="images/close.png" alt="close-image"
                 n-t='{"e_n":"Save Create Branch Type Admin","e_d":""}'>
        </a>
    </div>
    <form class=" mt10">
        <div class="row clearfix">
            <div class="col-lg-12">
                <div class="form-group clearfix form-group-custom">
                    <label class="col-sm-12 control-label">Branch Type Name *</label>
                    <div class="col-sm-12">
                        <input type="text" class="form-control" ng-model="branch.branch_type_name" name="branch_type_name">
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="form-group clearfix form-group-custom">
                    <label class="col-sm-12 control-label">Branch Type Code</label>
                    <div class="col-sm-12">
                        <input type="text" class="form-control" ng-model="branch.branch_type_code" name="branch_type_code">
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="form-group clearfix form-group-custom">
                    <label class="col-sm-12 control-label">Description</label>
                    <div class="col-sm-12">
                        <input type="text" class="form-control" ng-model="branch.description" name="description">
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="modal-footer border-none btn-custom clearfix text-center">
        <button class="btn btn-primary f14" ng-click="save(branch)"
                n-t='{"e_n":"Save Create Branch Type Admin","e_d":""}'>{{btn}}</button>
        <button class="btn btn-default f14" ng-click="cancel()"
                n-t='{"e_n":"Cancel Create Branch Type Admin","e_d":""}'>Cancel</button>
    </div>
</div>