<div class="modal-wrap">
    <div class="modal-header clearfix">
        <h3 class="modal-title pull-left mt5">{{title}} Bank Category</h3>
        <a href="javascript:;" class="pull-right" ng-click="cancel()" uib-tooltip="Close"
           n-t='{"e_n":"Back {{title}} Bank Category Admin","e_d":""}'>
            <img src="images/close.png" alt="close-image">
        </a>
    </div>
    <form class="mt10" name="bankCategoryForm" id="bankCategoryForm" novalidate>
        <div class="row clearfix">
            <div class="col-lg-12">
                <div class="form-group clearfix form-group-custom">
                    <label class="col-sm-12 control-label">Bank Category Name *</label>
                    <div class="col-sm-12">
                        <input type="text" class="form-control" ng-model="bankCategory.bank_category_name" name="bank_category_name">
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="form-group clearfix form-group-custom">
                    <label class="col-sm-12 control-label">Bank Category Code</label>
                    <div class="col-sm-12">
                        <input type="text" class="form-control" ng-model="bankCategory.bank_category_code" name="bank_category_code">
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="modal-footer border-none btn-custom clearfix text-center">
        <button class="btn btn-primary f14" ng-click="ok(bankCategory)"
                n-t='{"e_n":"Save {{title}} Bank Category Admin","e_d":""}'>{{btn}}</button>
        <button class="btn btn-default f14" ng-click="cancel()"
                n-t='{"e_n":"Cancel {{title}} Bank Category Admin","e_d":""}'>Cancel</button>
    </div>
</div>