<div class="modal-wrap">
    <div class="modal-header clearfix">
        <h3 class="modal-title pull-left mt5">{{title}} Master</h3>
        <a href="javascript:;" class="pull-right" ng-click="cancel()" uib-tooltip="Close"
           n-t='{"e_n":"Back {{title}} Master Admin","e_d":""}'>
            <img src="images/close.png" alt="close-image">
        </a>
    </div>
    <form class=" mt10">
        <div class="row clearfix">
            <div class="col-lg-12">
                <div class="form-group clearfix form-group-custom">
                    <label class="col-sm-12 control-label">Name *</label>
                    <div class="col-sm-12">
                        <input type="text" class="form-control" ng-model="other.child_name" name="child_name">
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="form-group clearfix form-group-custom">
                    <label class="col-sm-12 control-label">Description</label>
                    <div class="col-sm-12">
                        <input type="text" class="form-control" ng-model="other.description" name="description">
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="modal-footer border-none btn-custom clearfix text-center">
        <button class="btn btn-primary f14" ng-click="save(other)"
                n-t='{"e_n":"Save {{title}} Master Admin","e_d":""}'>{{btn}}</button>
        <button class="btn btn-default f14" ng-click="cancel()"
                n-t='{"e_n":"Cancel {{title}} Master Admin","e_d":""}'>Cancel</button>
    </div>
</div>