<div class="modal-wrap">
    <div class="modal-header clearfix">
        <h3 class="modal-title pull-left mt5">{{title}} Risk Type</h3>
        <a href="javascript:;" class="pull-right" ng-click="cancel()" uib-tooltip="Close"
           n-t='{"e_n":"Back {{title}} Risk Type Admin","e_d":""}'>
            <img src="images/close.png" alt="close-image">
        </a>
    </div>
    <form class=" mt10">
        <div class="row clearfix">
            <div class="col-lg-12">
                <div class="form-group clearfix form-group-custom">
                    <label class="col-sm-12 control-label">Risk Type Name *</label>
                    <div class="col-sm-12">
                        <input type="text" class="form-control" ng-model="risk.risk_name" name="risk_name">
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="col-lg-12 form-group clearfix form-group-custom">
                    <label class="control-label">Parent</label>
                    <select class="form-control"
                            ng-model="risk.parent_id" name="parent_id"
                            ng-options="item.id_risk_type as item.risk_name for item in parent">
                        <option value="">--Select--</option>
                    </select>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="form-group clearfix form-group-custom">
                    <div class="col-sm-12">
                        <!--<input type="text" class="form-control" ng-model="risk.risk_description" name="risk_description">-->
                        <label class="control-label">Description</label>
                        <textarea class="col-sm-12 form-control" ng-model="risk.risk_description" name="risk_description"></textarea>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="modal-footer border-none btn-custom clearfix text-center">
        <button class="btn btn-primary f14" ng-click="save(risk)"
                n-t='{"e_n":"Save {{title}} Risk Type Admin","e_d":""}'>{{btn}}</button>
        <button class="btn btn-default f14" ng-click="cancel()"
                n-t='{"e_n":"Cancel {{title}} Risk Type Admin","e_d":""}'>Cancel</button>
    </div>
</div>