<div class="modal-wrap">
    <div class="modal-header clearfix">
        <h3 class="modal-title pull-left mt5">{{title}} Language</h3>
        <a href="javascript:;" class="pull-right" ng-click="cancel()" uib-tooltip="Close"
           n-t='{"e_n":"Back {{title}} Language Admin","e_d":""}'>
            <img src="images/close.png" alt="close-image">
        </a>
    </div>
    <form class="mt10" name="form" ng-submit="ok(language)" novalidate>
        <div class="clearfix">
            <div class="col-sm-3">
                <label class="control-label"> Flag *</label>
                {{language.flg}}
                <div class="image-wrap" ngf-select="uploadLanguageFlag($file)" ngf-pattern="'image/*'">
                    <img ngf-thumbnail="language.flag || 'images/institution-default.png'" class="image-view"
                         alt="Image"/>
                    <div class="image-actions">
                        <i class="fa fa-pencil"></i>
                    </div>
                </div>
                <a href="javascript:;" ng-show='trash' uib-tooltip="Delete" class="delete-img" ng-click="uploadLanguageFlagRemove()"><i
                        class="fa fa-trash"></i></a>
            </div>
            <div class="col-sm-9 p0">

                <div class="col-sm-6">
                    <div class="form-group clearfix form-group-custom">
                        <label class="col-sm-12 control-label">Language Code *</label>
                        <div class="col-sm-12">
                            <input type="text" class="form-control" name="code"
                                   ng-model="language.code" required>
                            <div ng-if="form.code.$error.required && submitted" class="error-message">
                                Language Code Required
                            </div>
                        </div>

                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group clearfix form-group-custom">
                        <label class="col-sm-12 control-label">Language Name *</label>
                        <div class="col-sm-12">
                            <input type="text" class="form-control" name="name"
                                   ng-model="language.name" required="">
                            <div ng-if="form.name.$error.required && submitted" class="error-message">
                                Language Name Required
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group clearfix form-group-custom">
                        <label class="col-sm-12 control-label">Name In English *</label>
                        <div class="col-sm-12">
                            <input type="text" class="form-control" name="name_in_english" ng-model="language.name_in_english"
                                   required>
                            <div ng-if="form.name_in_english.$error.required && submitted" class="error-message">
                                Name In English Required
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer border-none btn-custom pt15 clearfix text-center">
            <button type="submit" class="btn btn-primary f14" ng-click="form.$valid;submitted = true;"
                    n-t='{"e_n":"Save {{title}} Language Admin","e_d":""}'>{{btn}}</button>
            <button type="button" class="btn btn-default f14" ng-click="cancel()"
                    n-t='{"e_n":"Cancel {{title}} Language Admin","e_d":""}'>Cancel</button>
        </div>
    </form>

</div>