<h3 class="fixed content-heading">Master Languages</h3>

<div class="content-area " id="contentArea"><!--animated fadeInRight -->

    <div class="content-container p20 clearfix light-blue-bg">
        <div class="col-sm-12 plr20">
            <div class="table-wrapper">

                <table class="table s-table table-striped table-bordered table-hover display table-style" st-pipe="callServer" st-table="displayed">
                    <thead>
                    <tr>
                        <th></th>
                        <!-- <th st-sort="id_plan">id</th>-->
                        <th st-sort="code">Code</th>
                        <th st-sort="flag">Flag</th>
                        <th st-sort="name">Name</th>
                        <th st-sort="name_in_english">Name in English</th>
                    </tr>
                    </thead>
                    <tbody ng-show="!mc.isLoading">
                    <tr ng-repeat="row in languageList">
                        <td><input type="checkbox" ng-model="selected[row.id_language]"  ng-change="updateSelected()" ></td>
                        <td>{{row.code}}</td>
                        <td><img src="{{row.flag}}" class="h24" /></td>
                        <td>{{row.name}}</td>
                        <td>{{row.name_in_english}}</td>
                    </tr>
                    </tbody>
                    <tbody ng-show="isLoading">
                    <tr>
                        <td colspan="5" class="text-center">Loading ... </td>
                    </tr>
                    </tbody>

                    <tfoot>
                    <tr>
                        <td colspan="2">
                            <div class="clearfix pagination-wrap">
                                <ul class="icons-wrap">
                                    <!--<li><a href="javascript:;" uib-tooltip="Add" class="fa fa-plus" ng-click="open()"> </a></li>
                                    <li ng-show="selectedCount=='1'"><a href="javascript:;" ng-click="open('edit',editId)" class="fa fa-edit" ng-class="{'edit-disabled': selectedCount!='1'}"></a></li>-->
                                    <li>
                                        <a href="javascript:;"
                                           n-t='{"e_n":"Add Languages Master Admin","e_d":""}'
                                           uib-tooltip="Add" class="fa fa-plus" ng-click="open()"> </a></li>
                                    <li ng-show="selectedCount=='1'">
                                        <a href="javascript:;"
                                           uib-tooltip="Edit"
                                           ng-click="open('edit',editId)"
                                           n-t='{"e_n":"Edit Languages Master Admin","e_d":"{{selectedText}}"}'
                                           class="fa fa-edit" ng-class="{'edit-disabled': selectedCount!='1'}"></a></li>
                                    <!--<li ng-show="selectedCount=='1'"><a href="javascript:;" ng-click="delete('edit',editId)" class="fa fa-trash" ng-class="{'trash-disabled': selectedCount != '1'}"></a></li>-->
                                </ul>
                            </div>
                        </td>
                        <td colspan="5" class="text-center">
                            <div st-items-by-page="10" st-pagination="" st-template="partials/pagination.custom.html" class="pull-right"></div>
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
        <!--width1024-->
    </div>
</div>
