<h3 class="fixed content-heading">Master Othere</h3>

<div class="content-area " id="contentArea"><!--animated fadeInRight -->
    <div class="content-container p20 clearfix light-blue-bg">
        <div class="col-sm-12 plr20">
            <div class="table-wrapper">
                <div class="col-sm-4 pull-right"  >
                    <label class="col-sm-4 f15">Other Type:</label>
                    <div class="col-sm-8  p0 mb10 form-group clearfix form-group-custom"  ng-if="masterOtherList"
                         ng-init="updateOtherMaster(masterOtherList[0].id_master)"  >
                        <select class="form-control"
                                name="masterOtherSelected"
                                ng-model="masterOtherSelected"
                                ng-options="option.id_master as option.master_name  for option in masterOtherList"
                                ng-change="updateOtherMaster(masterOtherSelected)" >
                        </select>
                    </div>
                </div>
                <table  class="table s-table table-striped table-bordered table-hover display table-style" st-pipe="callServer" st-table="displayed" ng-if="masterOtherSelected != '' ">
                    <thead>
                    <tr>
                        <th></th>
                        <!--<th st-sort="id_sector">id</th>-->
                        <th st-sort="parent">Name</th>
                        <th st-sort="sector_name">Description</th>
                    </tr>
                    </thead>
                    <tbody ng-show="!isLoading">
                    <tr ng-repeat="row in otherList">
                        <td><input type="checkbox" ng-model="selected[row.id_child]"   ng-change="updateSelected(row.child_name)" ></td>
                        <!--<td>{{row.id_country}}</td>-->
                        <td>{{row.child_name}}</td>
                        <td>{{row.description}}</td>

                    </tr>
                    </tbody>
                    <tbody ng-show="isLoading">
                    <tr>
                        <td colspan="4" class="text-center">Loading ... </td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="2">
                            <div class="clearfix pagination-wrap">
                                <ul class="icons-wrap pull-left">
                                    <li><a href="javascript:;" uib-tooltip="Add" class="fa fa-plus" ng-click="open()"
                                            n-t='{"e_n":"Add Other Master Admin","e_d":""}'> </a></li>
                                    <li ng-show="selectedCount=='1'"><a href="javascript:;" ng-click="open('edit',editId)"
                                            uib-tooltip="Edit"
                                            n-t='{"e_n":"Edit Other Master Admin","e_d":"{{selectedText}}"}' class="fa fa-edit" ng-class="{'edit-disabled': selectedCount!='1'}"></a></li>
                                    <!--<li ng-show="selectedCount>'0'"><a href="javascript:;" class="fa fa-trash" ng-class="{'trash-disabled': selectedCount == '0'}"></a></li>-->
                                </ul>
                            </div>
                        </td>
                        <td colspan="5" class="text-center">
                            <div st-items-by-page="10" st-pagination="" st-template="partials/pagination.custom.html" class="pull-right"></div>
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
        <!--width1024-->
    </div>
</div>
