
<h3 class="fixed content-heading">{{'Knowledge Management' | translate}}
    <div class="pull-right button-set">
        <a ng-click="addKnowledgeManagementModal()" uib-tooltip="Add" n-t='{"e_n":"Add Knowledge Managemrnt","e_d":""}'><i class="fa fa-add-sm"></i></a>
    </div>
</h3>

<div class="content-area animated fadeInRight" id="contentArea">
    <div class="content-container clearfix">
        <div class="white-bg box-shadow knowledge-header-wrap clearfix mb15">
            <div class="col-sm-11 p0">
                <ul>
                    <li ng-repeat="data in countData">
                        <div class="pull-left">
                            <div class="knowledge-icon-wrap darkcolor" knowledge-icons data-image="{{data.name}}" ></div>
                        </div>
                        <div class=" pl67">
                            <span class="display-block darkcolor f13">{{data.label | translate}}</span>
                            <span class="display-block f18 bold">{{data.total}}</span>
                        </div>
                    </li>

                </ul>
            </div>
            <div class="col-sm-1 text-right pt15">
               <!-- <a href="javascript:;"><i class="icon-search f21 sky-blue mr10"></i> </a>-->
                <a href="javascript:;" ng-click="filterShow=!filterShow" uib-tooltip="Filters"><i class="icon-filter f21 sky-blue"></i></a>
            </div>
        </div>

        <div class="col-sm-12 plr20">

                <div class="filter-box relative box-shadow white-bg filter-wrap clearfix mb20" ng-show="filterShow">
                    <h3 class="heading f14">{{'Filters' | translate}}
                        <a class="pull-right" href="javascript:;" ng-click="filterShow=false" uib-tooltip="Close"><img ng-src="images/icons/close.png" class="close-sm"/></a>
                    </h3>

                    <div class="row clearfix">
                        <div class="col-sm-12">
                            <div class="search-filter pt10 pb5 filter-list-new">
                                <div class="form-group clearfix form-group-custom">
                                    <select multiple chosen class="chosen-select" name="tags"
                                            data-placeholder="Please Select Tags"
                                            ng-model="knowledge.tags"
                                            ng-options="option.tag as option.tag for option in tagsData" ng-change="changedValue(knowledge.tags)" >
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--<h3 class="ff14 bold dark-blue pt5 pb10">Top 5 Files</h3>-->
                <table class="table-list-view table table-striped row-pointer know-manage table-style" st-pipe="callServer" st-table="displayed">
                    <thead>
                    <tr>
                        <th class="">{{'Content Type' | translate}}</th>
                        <th class="">{{'Description' | translate}}</th>
                        <th class="">{{'Views' | translate}}</th>
                        <th class="">{{'Uploaded By' | translate}}</th>
                        <th class="">{{'Status' | translate}}</th>
                        <th class="">{{'Tags' | translate}}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="data in displayed">
                        <td class="" width="25%" style="max-width: 200px;">
                            <a ui-sref="knowledge-management.item-view({ id: data.id_knowledge_document})"  target="_blank" class="display-block"
                               n-t='{"e_n":"View Knowledge management item - Admin","e_d":""}'>
                                <div class="tbl-image-box darkcolor pull-left" knowledge-icons data-image="{{data.document_type}}" ></div>
                                <div class="tbl-txt text-line">
                                    <span class="label-text text-line">{{data.document_title}}</span>
                                    <span class="display-block f13 darkcolor text-line">{{data.created_date_time | utcToLocal:'date'}}</span>
                                </div>
                            </a>
                        </td>
                        <td><span data-ng-bind-html="data.document_description | ellipsis:100"></span><span ng-if="data.document_description == null || data.document_description == ''">----</span></td>
                        <td class="w100"><div ng-if="data.number_of_views != null">{{data.number_of_views}}</div><div ng-if="data.number_of_views == null">0</div></td>
                        <td class="w100" style="max-width: 100px;" title="{{data.user_name}}"><span class="display-block text-line">{{data.user_name}}</span></td>
                        <td class="w100"><div class="sky-blue f21" ng-if="data.knowledge_document_status==1"><i class="icon-globe"></i> </div></td>
                        <td class="w170">
                            <span class="sky-blue w100 text-line display-inline-block">{{data.tag_names}}</span>

                            <div class="display-inline-block custom-list valign-middle pull-right relative" data-ng-if="data.uploaded_by == userId">
                                <i class="icon-tag sky-blue mr8 f16"></i>
                                <a href="javascript:;" data-toggle="dropdown" class="menu-toggle f13 dark-sky-blue dropdown-toggle" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a>
                                <ul class="dropdown-menu cust-drop" >
                                    <li>
                                        <a class="f14 darkcolor" href="javascript:;" data-ng-click="addKnowledgeManagementModal(data)"
                                           n-t='{"e_n":"Edit Knowledge management item - Admin","e_d":"{{data.document_title}}"}'><i class="icon-edit mr8"></i>Edit</a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>

                    </tbody>
                    <tfoot ng-if="displayed">
                    <tr>
                        <td colspan="7" class="text-center">
                            <div st-items-by-page="10" st-pagination="" st-template="partials/list-pagination.custom.html" class="pull-right"></div>
                        </td>
                    </tr>
                    </tfoot>
                </table>
        </div>
 </div>
</div>

