<h3 class="fixed content-heading">Covenants</h3>
<div class="content-area animated fadeInRight" id="contentArea">
    <div class="content-container clearfix" ng-show="permission.covenant_list">
        <div class="col-sm-12 p0 mt20 clearfix clearboth">
            <div class="table-wrapper no-bg pt0 overflow-hidden plr20">
                <table class="table-list-view table c-table table-hover table-style" st-pipe="getCovenanteList"
                       st-table>
                    <thead>
                    <tr>
                        <td colspan="8" class="pad0 border-bottom header-list-div">
                            <div class="col-sm-6 p0">
                                <div class="client-list-num">
                                        <span class="border-radius50 pull-left client-list-icon mr10">
                                            <i class="icon-all"></i></span>
                                    <span class=" display-block f12"> All Covenants</span>
                                    <span class=" darkcolor display-block f12 lh12 bold">{{all_covenant_count}}</span>
                                </div>
                            </div>
                            <div class="col-sm-6 p0 mt5">
                                <div class="action-head mb0">
                                    <div class="table-search pull-left width-full">
                                        <input type="text" class="form-control" placeholder="Search...."
                                               st-search="search_key">
                                        <i class="fa icon-search"></i>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th></th>
                        <th>Assign To</th>
                        <th>Type</th>
                        <th>Last Review</th>
                        <th>Next Review</th>
                        <th>Assigned To</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                    </thead>

                    <tbody class="hierarchical_slide" ng-show="covenanteList.length" hierarchical-slide>
                    <tr class="" ng-repeat="row in covenanteList">
                        <td class="img">
                            <span first-alpha="{{row.covenant_name }}"></span>
                        </td>
                        <td>
                            <span class="font-lato f13 darkcolor display-block text-line"
                                  title="{{row.covenant_name }}">{{row.covenant_name}}
                            </span>
                            <span title="{{row.title}}" class="label-text p0 display-block text-line">{{row.title}}</span>
                        </td>
                        <td>
                            <span title="{{row.covenant_type }}" class="font-lato f13 darkcolor display-block text-line">{{row.covenant_type }} </span>
                        </td>
                        <td>
                            <span class="font-lato f13 darkcolor display-block"> {{row.last_review_date | utcToLocal:'date' | checkEmpty}}  </span>
                        </td>
                        <td>
                            <span class="font-lato f13 darkcolor display-block"> {{row.next_due_date | utcToLocal:'date' | checkEmpty }}  </span>
                        </td>
                        <td>
                            <span class="font-lato f13 darkcolor display-block text-line" title="{{row.assigned_to}}">{{row.assigned_to}}</span>
                        </td>
                        <td>
                            <span class="font-lato f13" label-status="{{row.module_covenant_status}}" title="{{row.module_covenant_status|capitalize}}">{{row.module_covenant_status|capitalize}}</span>
                        </td>
                        <td>
                            <a ng-if="permission.covenant_view" href="javascript:;" uib-tooltip="View" class="fa fa-eye"
                               ng-click="preview({'module_type':row.module_type,'module_id':row.module_id,'id_module_covenant':row.id_module_covenant})"
                               n-t='{"e_n":"View Covenant modal","e_d":"Covenant - {{row.covenant_name }}"}'></a>
                        </td>
                    </tr>
                    </tbody>
                    <tfoot ng-show="covenanteList.length">
                    <tr>
                        <td colspan="7" class="text-center">
                            <div st-items-by-page="10" st-pagination=""
                                 st-template="partials/list-pagination.custom.html" class="pull-right"></div>
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>







