<div class="right-modal modal-custom">
    <h3 class="right-modal-head clearfix">
        <div class="col-sm-6 p-l-0 mt5">
            <i class="icon-covenant2 f24"></i> {{covenantCrmList.covenant_name}}
        </div>

        <a ng-click="cancel()" class="close-right pull-right mt5" uib-tooltip="Close"
           n-t='{"e_n":"Close covenant modal","e_d":"Covenant"}'><img src="images/close.png"></a>
    </h3>
    <div class="container p0">
        <div class="col-sm-12 p10 white-bg clearfix">
            <div class="col-sm-12 border p0 mb5 light-bg" >
                <div class="col-sm-12 p0 border-bottom pt5 pb5" >
                    <h3 class="col-sm-5 sky-blue mt5 f14 cursor-pointer">{{covenantCrmList.covenant_name}}</h3>
                    <div class="col-sm-3 p0 f12 mt5 text-right">
                        <span class="ash">Last Review: <span class="darkcolor">{{covenantCrmList.covenant_start_date | utcToLocal:'date'}}</span></span>
                    </div>
                    <div class="col-sm-3 p0 f12 mt5 text-right">
                        <span class="ash">Next Review: <span class="darkcolor">{{covenantCrmList.next_due_date | utcToLocal:'date'}}</span></span>
                    </div>
                </div>
                <div class="col-sm-12 p0 pt5 pb5 clearfix">
                    <div class="col-sm-3 border-right">
                        <label class="label-text display-block">Covenant Type</label>
                        <label class="f14 darkcolor display-block text-line" title="{{covenantCrmList.covenant_type_name}}">{{covenantCrmList.covenant_type_name}}</label>
                    </div>
                    <div class="col-sm-3 border-right">
                        <label class="label-text display-block">Frequency</label>
                        <label class="f14 darkcolor display-block text-line" title="{{covenantCrmList.frequency_name}}">{{covenantCrmList.frequency_name}}</label>
                    </div>
                    <div class="col-sm-3 border-right">
                        <div class="col-sm-12 pr0 pl5 clearfix">
                            <label class="label-text display-block">Status</label>
                            <label class="f14  text-line" label-status="{{covenantCrmList.module_covenant_status}}">{{covenantCrmList.module_covenant_status | capitalize}}</label>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="col-sm-10 p0">
                            <label class="label-text display-block">Assigned to</label>
                            <label class="f14 sky-blue text-line display-block text-line" title="{{covenantCrmList.assigned_to_name}}">{{covenantCrmList.assigned_to_name}}</label>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 border-top" ng-if="covenantCrmList.id_module_covenant">
                    <div >
                        <div class="col-sm-12 p10 border-bottom" ng-if="covenantCrmList.covenant_description">
                            <p class="darkcolor mb0">{{covenantCrmList.covenant_description}}</p>
                        </div>
                        <div class="col-sm-12 p10">
                            <h3 class="darkcolor text-capitalize mb5 f16">History</h3>
                            <div class="table-responsive covenant-table">
                                <table st-table st-pipe="getCovenantHistory" class="table c-table table-hover display table-style mb0">
                                    <thead>
                                    <tr>
                                        <th>Date<input type="hidden"  st-search="module_covenant_id" ng-value="covenantCrmList.id_module_covenant"></th>
                                        <th>Assign To</th>
                                        <th>Monitoring Status</th>
                                        <th>Comments/Reviews</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="item in cTaskHistroy[covenantCrmList.id_module_covenant]">
                                        <td>{{item.task_due_date|utcToLocal:'date'}}</td>
                                        <td>{{item.user_name}}</td>
                                        <td><span class="f12  text-line" label-status="{{item.task_status}}">{{item.task_status | capitalize}}</span></td>
                                        <td>{{item.task_comments}}</td>
                                    </tr>
                                    </tbody>
                                    <tfoot>
                                    <tr>
                                        <td colspan="5" class="text-center">
                                            <div st-items-by-page="10" st-pagination st-template="partials/pagination.custom.html" class="pull-right"></div>
                                        </td>
                                    </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>