<div class="col-lg-12 table-wrapper p0 c-table pt5 table-responsive"   ng-controller="ExposureCtrl">
    <table class="table table-striped table-bordered table-hover display table-style" ng-init="getContactExposure({'crm_contact_id':crm_contact_id})">
        <thead>
        <tr>
            <th>Facility Name</th>
            <th>Contract No</th>
            <th>Exposure (USD)</th>
            <th>Disbursed (USD)</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="row in tableExposure">
            <td>{{row.project_facility_name}}</td>
            <td>{{row.contract_id | checkEmpty}}</td>
            <td>{{row.facility_usd_amount | currency:'' | checkEmpty}}</td>
            <td>{{row.disbursed_amount | currency:'' |checkEmpty}}</td>
            <td>{{row.project_facility_status}}</td>
        </tr>
        </tbody>
    </table>
</div>
<div class="col-lg-12 table-wrapper p0 c-table pt5 table-responsive"   ng-controller="guaranteeCtrl">
    <label class="control-label f14">{{'contact.exposure_through_guarantees' | translate}}</label>
    <table class="table table-striped table-bordered table-hover display table-style" ng-init="getContactExposure({'crm_contact_id':crm_contact_id})">
        <thead>
        <tr>
            <th>Collateral Number</th>
            <th>Facility Name</th>
            <th>Contract No</th>
            <th>Exposure (USD)</th>
            <th>Disbursed (USD)</th>
            <th>Status</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="row in tableExposure1">
            <td>{{row.collateral_number}}</td>
            <td>{{row.facility_type_name}}</td>
            <td>{{row.contract_id | checkEmpty}}</td>
            <td>{{row.facility_usd_amount | currency:'' | checkEmpty}}</td>
            <td>{{row.disbursed_amount | currency:'' |checkEmpty}}</td>
            <td>{{row.project_facility_status}}</td>
        </tr>
        </tbody>
    </table>
</div>


