<form class="form-horizontal form-bordered" name="form" novalidate ng-submit="form.$valid && submitForm(company,formDetails,form)">
    <div class="col-sm-12 clearfix clearboth p0">

        <div class="col-sm-12 clearfix">
            <label class="control-label">{{'contact.credit_reference_reports' | translate}}</label>
            <attachment-view module-id="2" form-key="{{form_key}}" field-key="company_credit_reference_reports"
                             ref-id="{{currentCompanyViewId}}"></attachment-view>
        </div>
        <div class="col-sm-4 clearfix">
            <label class="control-label">{{'contact.credit_rating' | translate}}</label>
            <div class="form-group clearfix form-group-custom">
                <input type="text" class="form-control" name="company_credit_rating"
                       ng-model="company.company_credit_rating">
            </div>
        </div>
        <div class="col-sm-2 pl0 mt20 pt10 -ml8">
            <a href="javascript:;" ng-click="company_credit_rating_description =!company_credit_rating_description " uib-tooltip="add more"><i
                    class="icon-clipped-file2 f21"></i></a>
        </div>


        <div class="col-sm-12 min-height120" ng-show="company_credit_rating_description">
            <label class="control-label"> {{'Description' | translate}}: </label>
                         <textarea name="company_credit_rating_description" ckeditor ng-model="company.company_credit_rating_description"
                                   class="form-control ">
                         </textarea>
        </div>
        <div class="col-sm-12 clearfix">
            <label class="control-label">{{'contact.credit_experience_with_sanadcom' | translate}}</label>
            <div class="col-lg-12 table-wrapper p0 c-table pt5 table-responsive">
                <table class="table table-striped table-bordered table-hover display table-style">
                    <thead>
                    <tr>
                        <th>{{'disbursed_amount' | translate}}</th>
                        <th>{{'contact.currency' | translate}}</th>
                        <th>{{'disbursement_date' | translate}}</th>
                        <th>{{'outstanding_amount' | translate}}</th>
                        <th>{{'date_of_last_installment' | translate}}</th>
                        <th>{{'maximum_numbers_of_days_of_delay' | translate}}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>


        <!--<div class="col-sm-12 clearfix m10 pt10 excel-table" hot-size>
            <div ng-init="contact.personal_financial_information = []"></div>
            <div ng-if="!contact.personal_financial_information">
                <div ng-init='contact.personal_financial_information = [{"bank":"","branch":"","opening_year":"","account_name":"","account_number":"","currency":"","balance":""}]'></div>
            </div>
            <p class="f11 gray mb5 text-right"><em>Here you can directly copy and paste excel document.</em></p>
            <hot-table settings="settings" row-headers="rowHeaders" min-spare-rows="minSpareRows"
                       datarows="contact.personal_financial_information">&lt;!&ndash; width="700"&ndash;&gt;
                <hot-column data="bank" title="'Bank'"></hot-column>
                <hot-column data="branch" title="'Branch'" type="'text'"></hot-column>
                <hot-column data="opening_year" title="'Year of Opening'"></hot-column>
                <hot-column data="account_name" title="'Account Name'"></hot-column>
                <hot-column data="account_number" title="'Acc Number'"></hot-column>
                <hot-column data="currency" title="'Currency'"></hot-column>
                <hot-column data="balance" title="'Balance'" type="'numeric'" format="'0,0.00'"></hot-column>
                &lt;!&ndash; <hot-column data="address" title="'Address'" width="150"></hot-column>
                 <hot-column data="product.description" title="'Favorite food'" type="'autocomplete'">
                     <hot-autocomplete datarows="description in product.options"></hot-autocomplete>
                 </hot-column>
                 <hot-column data="price" title="'Price'" type="'numeric'" width="80" format="'$ 0,0.00'"></hot-column>&ndash;&gt;
            </hot-table>
        </div>-->
        <div class="col-sm-12 btn-custom clearfix text-center" ng-if="permission[form_key+'_add']">
            <button class="btn btn-primary f14 next-btn" type="submit"
                    n-t='{"e_n":"Save {{sectionName}} {{formName}}","e_d":"Company - {{companyInfo.company_name}}"}'>{{'Save' | translate}}
            </button>
        </div>

    </div>

</form>