<div class="right-modal modal-custom" data-modal="assessment_update">
    <h3 class="right-modal-head">
        {{'company.company_company_assessments' | translate}}
        <a class="close-right pull-right" uib-tooltip="Close" ng-click="cancel()"><img src="images/close.png"></a>
    </h3>
    <form name="assessmentForm" novalidate >
        <div class="col-sm-6" data-ng-repeat="assessment in allAssessmentList" >
            <input class="mt30" type="checkbox" ng-checked="{{ assessment.checked }}"  ng-model="assessment.status"  >
            <div class="list-data white-bg p10 width90p" >
                <div class="list-img pull-left dark-blue">
                    <i class="{{ assessment.template_icon }}"></i>
                </div>
                <div class="list-text overflow-hidden">
                    <h5 class="f14 darkcolor mt10">{{ assessment.assessment_name }}</h5>
                    <!--<div class="progress">
                        <div class="progress-wrap">
                            <div class="progress-bar progress-bg" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%;">
                                <span class="sr-only">0% Complete</span>
                            </div>
                        </div>
                    </div>-->
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div ng-if="allAssessmentList.length > 0 && permission[form_key+'_add']" class="text-center ptb10" >
            <button type="button" class="btn btn-sm btn-dark white-color f12" ng-click="updateAssessment()"> {{'Update'| translate}}</button>
        </div>
    </form>
</div>