<div ng-controller="companyAssessmentQuestions">
    <div class="row clearfix">
        <div class="col-sm-12">
            <form novalidate detect-form-change="formChangeEvent()">
            <div class="data-item" ng-repeat="category in categoryQuestionList" ng-if="category.question.length>0">
                <div class="data-item-header">
                    <h4 class="f14 dark-blue pt5 pb10 text-capitalize">{{category.assessment_question_category_name}}</h4>
                </div>
                <div class="data-item-content">
                    <ul>
                        <li class="clearfix" ng-repeat="question in category.question">
                           <h4 class="f13 pb2">
                               <div class="display-inline-block mr4 absolute">Q{{($index)+1}}.</div>
                               <div class="display-inline-block ml15 pl10" ng-bind-html="question.assessment_question"></div>
                           </h4>
                            <div ng-if="question.answer == undefined"><div ng-init="question.answer={};"></div></div>
                            <div class="ml15 pl10">
                            <div ng-if="question.question_type=='text'">
                                <input type="text" ng-model="question.answer.assessment_answer" class="width-full f12 form-control darkcolor"/>

                            </div>
                            <div ng-if="question.question_type=='textarea'" class="col-lg-12 p0">
                                <textarea ckeditor="" ng-model="question.answer.assessment_answer" class="width-full min-height70 f12 p10 darkcolor"></textarea>
                            </div>

                            <div class="radio-list" ng-if="question.question_type=='date'">
                                <div class="input-group width220">
                                    <input type="text" class="form-control" uib-datepicker-popup="yyyy-MM-dd"
                                           data-ng-model="question.answer.assessment_answer" type="text" name="date_of_birth"
                                           date-type="string"
                                           is-open="openCal"
                                           show-weeks="false" show-button-bar="false" readonly />
                                          <span class="input-group-btn">
                                            <button type="button" class="btn btn-default border" ng-click="openCal = true">
                                                <i class="fa fa-calendar"></i></button>
                                          </span>
                                </div>
                            </div>
                            <ul class="radio-list" ng-if="question.question_type=='radio'">
                                <li class="border-none pad0 mb3 display-inline-block valign-top mr8 f13 ash" ng-repeat="option in question.question_option">
                                    <input type="radio" name="radio_{{question.id_assessment_question}}" ng-value="option.option_id" ng-model="question.answer.assessment_answer" class="valign-middle"> {{option.option_title}}
                                </li>
                            </ul>
                            <ul class="radio-list" ng-if="question.question_type=='checkbox'">
                                <li class="border-none pad0 mb3 f13 ash" ng-repeat="option in question.question_option">
                                    <input type="checkbox" name="radio" ng-model="question.answer.assessment_answer[option.option_id]" class="valign-middle"> {{option.option_title}}

                                </li>
                            </ul>
                            <div class="radio-list" ng-if="question.question_type=='dropdown'">
                                <select class="form-control width220" ng-model="question.answer.assessment_answer">
                                    <option ng-repeat="option in question.question_option"
                                            value="{{option.option_id}}">
                                        {{option.option_title}}
                                    </option>
                                </select>

                            </div>
                            <div class="radio-list" ng-if="question.question_type=='file'">
                                <div ng-init="question.answer.file={}"></div>
                                <input type="file" class="f14" ngf-select ng-model="question.answer.file" name="file"
                                       n-t='{"e_n":"Upload - {{form_key}} - {{sectionName}}","e_d":"Company - {{companyInfo.company_name}}"}'
                                       accept="image/*" ngf-max-size="2MB">
                                <div class="row col-lg-12" ng-if="question.answer.assessment_answer !=null">
                                    <a target="_blank" class="f12 sky-blue"
                                       n-t='{"e_n":"Download {{question.answer.assessment_answer}}","e_d":"Company - {{companyInfo.company_name}}"}' href="{{question.answer.assessment_answer}}" download><span><i class="fa fa-download mr4"></i>{{'Download' | translate}} </span></a>
                                </div>
                            </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-12 btn-custom p0 mt10 text-center" ng-show="QsaveBtnShow && categoryQuestionList.length>0 && permission[form_key+'_add']" >
                <button class="btn btn-primary f14" ng-click="saveAnswer(categoryQuestionList)"
                    n-t='{"e_n":"Save {{form_name}} - {{sectionName}}","e_d":"Company - {{companyInfo.company_name}}"}'>{{'Save' | translate}}
                </button>
            </div>
            </form>
        </div>
    </div>

</div>


<!--form class="form-bordered" name="form" novalidate>
    <div class="row clearfix">
        <div class="col-sm-12">
            <div class="data-item">
                <div class="data-item-header">
                    <h4 class="f14 bold dark-blue pt10 pb10">Business and Products</h4>
                </div>
                <div class="data-item-content pl0">
                    <ul>
                        <li class="clearfix">
                            <h4 class="f14 bold dark-blue pt10 pb10">Explain the history of the business</h4>
                            <textarea class="width-full min-height70 f12 p10 darkcolor">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                            </textarea>

                            <div class="col-sm-12 btn-custom m0 mt5 p0">
                                <button class="btn btn-primary f14  btn-sm text-capitalize mr5">Save
                                </button>
                                <button class="btn lt-bg f14  btn-sm text-capitalize">Cancel</button>
                            </div>
                        </li>
                        <li>
                            <h4 class="f14 bold dark-blue pt10 pb10">Describe products and services without beiing too
                                technical</h4>

                            <p class="f12 darkcolor">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
                                nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                            <a class="delete-icon">
                                <i class="icon-edit"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="data-item">
                <div class="data-item-header">
                    <h4 class="f14 bold dark-blue pt10 pb10">Market and competition</h4>
                </div>
                <div class="data-item-content pl0">
                    <ul>
                        <li>
                            <p class="f12 darkcolor">Define the target market and focus on the market segments in which
                                the company competes</p>
                            <a class="delete-icon">
                                <i class="icon-edit"></i>
                            </a>
                        </li>
                        <li>
                            <p class="f12 darkcolor">Describe existing custmer base</p>
                            <a class="delete-icon">
                                <i class="icon-edit"></i>
                            </a>
                        </li>
                        <li>
                            <p class="f12 darkcolor">Outline competetive situation.</p>
                            <a class="delete-icon">
                                <i class="icon-edit"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="data-item">
                <div class="data-item-header">
                    <h4 class="f14 bold dark-blue pt10 pb10">Market and competition</h4>
                </div>
                <div class="data-item-content pl0">
                    <ul>
                        <li>
                            <h4 class="f14 bold dark-blue pt10 pb10">Explain the positioning of products in the market
                                (quality,sepecialty,sepecific features)</h4>

                            <p class="f12 darkcolor">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
                                nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
                            <a class="delete-icon">
                                <i class="icon-edit"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</form>-->