<div ng-controller="companyAssessmentQuestions">
    <div class="row clearfix">
        <form detect-form-change="formChangeEvent()" novalidate>
            <div class="col-sm-12">
            <div class="data-item" ng-repeat="category in categoryQuestionList" ng-if="category.question.length>0">
                <div class="data-item-header">
                    <h4 class="f14 dark-blue pt5 pb10 text-capitalize">{{category.assessment_question_category_name}}</h4>
                </div>
                <div class="data-item-content">
                    <ul>
                        <li class="clearfix" ng-repeat="question in category.question">
                            <h4 class="f13 pb2">
                                <div class="display-inline-block mr4 absolute">Q{{($index)+1}}.</div>
                                <div class="display-inline-block ml15 pl10" ng-bind-html="question.assessment_question"></div></h4>
                            <div ng-if="question.answer == undefined"><div ng-init="question.answer={};"></div></div>
                            <div class="ml15 pl10">
                                <div ng-if="question.question_type=='text'">
                                    <input type="text" ng-model="question.answer.assessment_answer" class="width-full f12 form-control darkcolor"/>

                                </div>
                                <div ng-if="question.question_type=='textarea'" class="col-lg-12 p0">
                                    <textarea ckeditor="" ng-model="question.answer.assessment_answer" class="width-full min-height70 f12 p10 darkcolor"></textarea>
                                </div>

                                <div class="radio-list" ng-if="question.question_type=='date'">
                                    <div class="input-group width220">
                                        <input type="text" class="form-control" uib-datepicker-popup="yyyy-MM-dd"
                                               data-ng-model="question.answer.assessment_answer" type="text" name="date_of_birth"
                                               date-type="string"
                                               is-open="openCal"
                                               show-weeks="false" show-button-bar="false" readonly />
                                          <span class="input-group-btn">
                                            <button type="button" class="btn btn-default border" ng-click="openCal = true">
                                                <i class="fa fa-calendar"></i></button>
                                          </span>
                                    </div>
                                </div>
                                <ul class="radio-list" ng-if="question.question_type=='radio'">
                                    <li class="border-none pad0 mb3 display-inline-block valign-top mr8 f13 ash" ng-repeat="option in question.question_option">
                                        <input type="radio" name="radio_{{question.id_assessment_question}}" ng-value="option.option_id" ng-model="question.answer.assessment_answer" class="valign-middle"> {{option.option_title}}

                                    </li>
                                </ul>
                                <ul class="radio-list" ng-if="question.question_type=='checkbox'">
                                    <li class="border-none pad0 mb3 f13 ash" ng-repeat="option in question.question_option">
                                        <input type="checkbox" name="radio" ng-model="question.answer.assessment_answer[option.option_id]" class="valign-middle"> {{option.option_title}}

                                    </li>
                                </ul>
                                <div class="radio-list" ng-if="question.question_type=='dropdown'">
                                    <select class="form-control width220" ng-model="question.answer.assessment_answer">
                                        <option ng-repeat="option in question.question_option"
                                                value="{{option.option_id}}">
                                            {{option.option_title}}
                                        </option>
                                    </select>

                                </div>
                                <div class="radio-list" ng-if="question.question_type=='file'">
                                    <div ng-init="question.answer.file={}"></div>
                                    <input type="file" class="f14" ngf-select ng-model="question.answer.file" name="file"
                                           n-t='{"e_n":"Upload - {{form_key}} - {{sectionName}}","e_d":"Company - {{companyInfo.company_name}}"}'
                                           accept="image/*" ngf-max-size="2MB">
                                    <div class="row col-lg-12" ng-if="question.answer.assessment_answer !=null">
                                        <a target="_blank" class="f12 sky-blue"
                                           n-t='{"e_n":"Download {{question.answer.assessment_answer}}","e_d":"Company - {{companyInfo.company_name}}"}' href="{{question.answer.assessment_answer}}" download><span><i class="fa fa-download mr4"></i>{{'Download' | translate}} </span></a>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-12 btn-custom p0 mt10 text-center" ng-show="QsaveBtnShow && categoryQuestionList.length>0 && permission[form_key+'_add']" >
                <button class="btn btn-primary f14" ng-click="saveAnswer(categoryQuestionList)"
                        n-t='{"e_n":"Save {{form_name}} - {{sectionName}}","e_d":"Company - {{companyInfo.company_name}}"}'>{{'Save' | translate}}
                </button>
            </div>
        </div>
        </form>
    </div>
</div>