<form class="form-bordered" name="form" detect-form-change="formChangeEvent()" novalidate>
    <div class="row clearfix">
        <div class="col-sm-12">
            <div class="icons-view width50 margin-auto mb15">
                <ul>
                    <li class="regional-bg">
                        <div class="" data-links="0" ng-click="gotoElement('0')">
                            <a href=""><i class="icon-globe2"></i></a>
                            <span class="box-title">{{'key_partners' | translate}}</span>
                        </div>

                    </li>
                    <li class="regional-bg">
                        <div class="" data-links="1" ng-click="gotoElement('1')">
                            <a href=""><i class=" icon-stars-list"></i></a>
                            <span class="box-title">{{'key_activities' | translate}}</span>
                        </div>
                        <div class="" data-links="2" ng-click="gotoElement('2')">
                            <a href=""><i class="icon-building"></i> </a>
                            <span class="box-title">{{'key_resources' | translate}}</span>
                        </div>

                    </li>
                    <li class="light-blue-block">
                        <div class="" data-links="3" ng-click="gotoElement('3')">
                            <a href=""><i class="icon-gift"></i> </a>
                            <span class="box-title">{{'value_propositions' | translate}}</span>
                        </div>

                    </li>
                    <li class="btn-danger">
                        <div class="" data-links="4" ng-click="gotoElement('4')">
                            <a href=""><i class="icon-heart"></i> </a>
                            <span class="box-title">{{'customer_relationships' | translate}}</span>
                        </div>
                        <div class="" data-links="5" ng-click="gotoElement('5')">
                            <a href=""><i class="icon-van"></i> </a>
                            <span class="box-title">{{'Channels' | translate}}</span>
                        </div>


                    </li>
                    <li class="btn-danger" >
                        <div class="" data-links="6" ng-click="gotoElement('6')">
                            <a href=""><i class="icon-users1"></i> </a>
                            <span class="box-title">{{'customer_segments' | translate}}</span>
                        </div>

                    </li>
                </ul>
                <ul class="icon-block">
                    <li class="light-y-bg">
                        <div class="" data-links="7" ng-click="gotoElement('7')" >
                            <a href=""><i class=" icon-calc"></i> </a>
                            <span class="box-title">{{'cost_structure' | translate}}</span>
                        </div>

                    </li>
                    <li class="light-y-bg">
                        <div class="" data-links="8" ng-click="gotoElement('8')" >
                            <a href=""><i class="icon-usd-circle"></i> </a>
                            <span class="box-title">{{'revenue_streams' | translate}}</span>
                        </div>

                    </li>
                </ul>
            </div>

            <div class="accord-wrapper" data-ng-repeat="companyAssessmentsItem in companyAssessmentsItems" data-targets="{{$index}}" id="{{$index}}">
                <div class="mb5">
                    <div class="clearfix acc-head white-color {{ companyAssessmentsItem.assessment_color }}" id="{{companyAssessmentsItem.id_assessment_item}}">
                        <h1 class="col-sm-11 f14 text-capitalize cursor-pointer col-sm-11" basic-accordian>
                            {{ companyAssessmentsItem.assessment_item_name }}
                        </h1>
                        <label class="add-but darkcolor clearfix col-sm-1" ng-show="permission[form_key+'_add']"  style="display: none" >
                            <a uib-tooltip="Add" href="javascript:;" class="pull-right ml5 valign-middle white-color pt5" ng-click="showInput=!showInput" >
                                <i class="icon-plus-circle f21 pt2"></i>
                            </a>
                        </label>
                    </div>
                    <div class="acc-body data-item" >
                        <ul>
                            <li class="clearfix">
                                <div class="" ng-show="showInput">
                                    <textarea class="width-full min-height70 f12 p10 darkcolor"  data-ng-model="comment" type="text" ></textarea>
                                    <div class="col-sm-12 btn-custom mt0 mb5 p0">
                                        <button class="btn btn-primary f12 btn-sm mr8"
                                            n-t='{"e_n":"Add comment - {{ companyAssessmentsItem.assessment_item_name }} - {{formName}} - {{sectionName}}","e_d":"Company - {{companyInfo.company_name}}"}'
                                            ng-click="addComment(comment,companyAssessmentsItem.id_assessment_item)">{{'Save' | translate}}</button>
                                        <button class="btn lt-bg f12 btn-sm" ng-click="showInput=!showInput"
                                            n-t='{"e_n":"Add comment - {{ companyAssessmentsItem.assessment_item_name }} - {{formName}} - {{sectionName}}","e_d":"Company - {{companyInfo.company_name}}"}'>{{'Cancel' | translate}}</button>
                                    </div>
                                </div>
                            </li>
                            <li data-ng-repeat="step in companyAssessmentsItem.step" class="list-text-wrap clearfix">
                                <p  ng-show="!showInputShow" class="f12 darkcolor">{{ step.step_title }}
                                    <a class="edit-icon" data-ng-click="showInputShow=!showInputShow;copyText = step.step_title"
                                       n-t='{"e_n":"Edit comment - {{ companyAssessmentsItem.assessment_item_name }} - {{formName}} - {{sectionName}}","e_d":"Company - {{companyInfo.company_name}}"}'>
                                        <i class="icon-edit"></i>
                                    </a>
                                    <a class="delete-icon" uib-tooltip="Delete" data-ng-click="deleteComment(step.id_company_assessment_item_step,companyAssessmentsItem.id_assessment_item)"
                                       n-t='{"e_n":"Delete comment - {{ companyAssessmentsItem.assessment_item_name }} - {{formName}} - {{sectionName}}","e_d":"Company - {{companyInfo.company_name}}"}'>
                                        <i class="icon-trash"></i>
                                    </a>
                                </p>
                                <div class="" ng-show="showInputShow">
                                    <textarea class="width-full min-height70 f12 p10 darkcolor" data-ng-model="step.step_title" ></textarea>
                                    <div class="col-sm-12 btn-custom mt0 mb5 p0">
                                        <button ng-disabled="step.step_title == '' " class="btn btn-primary f12 btn-sm mr8" ng-click="updateCommentFun(step.step_title,step.id_company_assessment_item_step,showInputShow);showInputShow=!showInputShow"
                                            n-t='{"e_n":"Update comment - {{ companyAssessmentsItem.assessment_item_name }} - {{formName}} - {{sectionName}}","e_d":"Company - {{companyInfo.company_name}}"}'>{{'Update' | translate}}</button>
                                        <button class="btn lt-bg f12 btn-sm" ng-click="showInputShow=!showInputShow; step.step_title = copyText"
                                            n-t='{"e_n":"Cancel Update comment - {{ companyAssessmentsItem.assessment_item_name }} - {{form_name}} - {{sectionName}}","e_d":"Company - {{companyInfo.company_name}}"}'>{{'Cancel' | translate}}</button>
                                    </div>
                                </div>

                            </li>
                        </ul>
                    </div>

                </div>
            </div>




        </div>

    </div>
</form>