<form class="form-horizontal form-bordered" name="form">
    <div class="col-sm-12 clearfix p0">
    <div class="clearfix excel-table" hot-size>
        <div ng-init="company.cash_outflow = []"></div>
        <div ng-if="!company.cash_outflow" >
            <div ng-init="company.cash_outflow = []"></div>
        </div>
        <p class="f11 gray mb5 text-right"><em>{{'contact.Here_you_can_directly_copy_and_paste_excel_document' | translate}}.</em></p>
        <hot-table  settings="settings" row-headers="rowHeaders" min-spare-rows="minSpareRows" datarows="company.cash_outflow" >
            <hot-column data="cashoutflows" title="'Cash Outflows'"></hot-column>
            <hot-column data="month1" title="'Month 1'"></hot-column>
            <hot-column data="month2" title="'Month 2'"></hot-column>
            <hot-column data="month3" title="'Month 3'"></hot-column>
            <hot-column data="month4" title="'Month 4'"></hot-column>
            <hot-column data="month5" title="'Month 5'"></hot-column>
            <hot-column data="month6" title="'Month 6'"></hot-column>
            <hot-column data="month7" title="'Month 7'"></hot-column>
            <hot-column data="month8" title="'Month 8'"></hot-column>
            <hot-column data="month9" title="'Month 9'"></hot-column>
            <hot-column data="month10" title="'Month 10'"></hot-column>
            <hot-column data="month12" title="'Month 11'"></hot-column>
            <hot-column data="month12" title="'Month 12'"></hot-column>
        </hot-table>
    </div>
    <div class="col-sm-12 btn-custom clearfix text-center" ng-if="permission[form_key+'_add']">
        <button class="btn btn-primary f14 next-btn" tab-next ng-click="submitForm(company,formDetails,form)">{{'Save' | translate}}</button>
    </div>
        </div>
</form>