<form class="form-bordered" name="form" detect-form-change="formChangeEvent()" novalidate>
    <div class="row clearfix">
        <div class="col-sm-12 clearfix">
            <!--<label class="control-label">Credit Reference Reports</label>-->
            <attachment-view module-id="2" form-key="{{form_key}}" field-key="company_collection_of_documents"
                             ref-id="{{currentCompanyViewId}}"></attachment-view>
        </div>

<!--
        <p>What Key Activities are done to generate revenues? </p>
        <div class="col-sm-12 clearfix p0">
                <label class="control-label">Key Activities	</label>
                <div class="form-group clearfix form-group-custom">
                    <textarea type="text" class="form-control" kendo-editor k-tools="{{kendoOptions}}" k-ng-model="company.revenue_key_activities" name="revenue_key_activities" ></textarea>
                </div>
        </div>
        <div class="col-sm-12 clearfix p0">
                <label class="control-label">Strength of the family relationship</label>
                <div class="form-group clearfix form-group-custom">
                    <textarea type="text" class="form-control" kendo-editor k-tools="{{kendoOptions}}" k-ng-model="company.revenue_strength_of_the_family_relationship" name="revenue_strength_of_the_family_relationship" ></textarea>
                </div>
        </div>
        <div class="col-sm-12 clearfix p0">
            <label class="control-label">Other Observations</label>
            <div class="form-group clearfix form-group-custom">
                <textarea type="text" class="form-control" kendo-editor k-tools="{{kendoOptions}}" k-ng-model="company.revenue_other_observations" name="revenue_other_observations" ></textarea>
            </div>
        </div>
        <div class="col-sm-12 clearfix p0">
            <label class="control-label">Projected Development</label>
            <p>What are the specific development plans for the family with regards to new/upgraded business, personal development, upgrading their home, purchase assets</p>
            <div class="form-group clearfix form-group-custom">
                <div class="col-sm-12" data-ng-controller="companyFamilyCtrl">
                    <div ng-if="!company.family_projected_development">
                        <div ng-init="company.family_projected_development=[]"></div>
                    </div>
                    <div class="clearfix">
                        <button class="btn btn-primary btn-dark border-none f12 pull-right" data-ng-click="addFamilyBussinessPoint()">
                            <i class="fa fa-plus-circle"></i> Add New
                        </button>
                    </div>
                    <div class="clearfix"></div>
                    <div class="table-wrapper p0 c-table pt5 table-responsive">

                        <table st-table="company.family_projected_development" class="table table-striped table-bordered table-hover display table-style">
                            <thead>
                            <tr>
                                <th st-sort="last_name">S.No</th>
                                <th>Development Plan </th>
                                <th>&nbsp;</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="row in company.family_projected_development">
                                <td>{{$index+1}}.</td>
                                <td  width="90%" >{{row.description}}</td>
                                <td>
                                    <div class="clearfix pagination-wrap">
                                        <ul class="icons-wrap text-line pull-left">
                                            <li><a href="javascript:;" class="fa fa-trash" ng-click="removeItem(row)"></a></li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                            <tfoot ng-if="!company.family_projected_development">

                            </tfoot>
                        </table>
                    </div>
                </div>
                &lt;!&ndash;<textarea type="text" class="form-control" kendo-editor k-tools="{{kendoOptions}}" k-ng-model="company.family_projected_development" name="family_projected_development" ></textarea>&ndash;&gt;
            </div>
        </div>-->
       <!-- <div class="col-sm-12 btn-custom m0 text-center clearfix" ng-if="permission[form_key+'_add']">
            <button type="submit" class="btn btn-primary f14 next-btn" ng-click="submitForm(company,formDetails,form)" tab-next>
                Save
            </button>
        </div>-->
    </div>
</form>