<form class="form-bordered" name="form" detect-form-change="formChangeEvent()" novalidate ng-submit="form.$valid && submitForm(company,formDetails,form)">
    <div class="row clearfix">
        <!-- <div class="col-sm-12 clearfix p0">
              <div class="col-sm-6">
                 <label class="control-label">Business Registered?</label>
                 <div class="form-group clearfix form-group-custom">
                     <div class="radio display-inline-block mr15 mt5">
                         <div ng-if="company.business_registered == ''"><span ng-init="company.business_registered = 'Yes'"></span></div>
                         <label class="f12"><input type="radio" ng-model="company.business_registered" name="business_registered" value="Yes"> Yes</label></div>
                     <div class="radio display-inline-block"><label class="f12"><input type="radio" ng-model="company.business_registered" name="business_registered" value="No">
                         No</label></div>
                 </div>
             </div>
             <div class="col-sm-6" ng-show="company.business_registered == 'Yes'">
                 <label class="control-label">Registration Number</label>
                 <div class="form-group clearfix form-group-custom">
                     <input type="text" class="form-control" name="registration_number" ng-model="company.registration_number">
                 </div>
             </div>
         </div>-->
        <div class="col-sm-12 clearfix pt15">
            <h4 class="dark-blue f15">{{'general.general_business_address' | translate}}</h4>
        </div>
        <div class="col-sm-12 clearfix p0">

            <div class="col-sm-12 clearfix p0"  ng-if="formShow">
                <address ng-model="company.address"></address>
            </div>
            <div class="clearfix"></div>
            <div class="col-sm-12 p0">
                <div class="col-sm-6">
                    <div class="col-sm-12 pl0 pr0">
                        <div class="col-sm-4 pl0" ng-init="getCountryList()">
                            <label class="control-label">ISD *</label>
                            <div class="form-group clearfix form-group-custom">
                                <select class="form-control p0"
                                        ng-model="company.company_phone_number_isd"
                                        name="client_phone_number_isd"
                                        ng-options="item.isd_code as (item.country_name +' '+ item.isd_code) for item in ISDCodes" required
                                >
                                    <option value="">--{{'general.general_select' | translate}}--</option>
                                </select>
                            </div>
                            <div ng-if="form.client_phone_number_isd.$error.required && form.$submitted "
                                 class="error-message">
                                {{'contact.contact_select_isd_code' | translate}}
                            </div>
                        </div>
                        <div class="col-sm-8 pl0 pr0">
                            <label class="control-label">{{'general.phone_number_main' | translate}} *</label>
                            <div class="form-group clearfix form-group-custom">

                                <input type="text" class="form-control" name="company_phone_number"
                                       ng-model="company.company_phone_number1"
                                       only-digits
                                       ng-minlength="7" ng-maxlength="15" required>
                                <div ng-show="form.company_phone_number.$error.required && form.$submitted" class="error-message">
                                    {{'general.enter_valid_phone_number' | translate}}
                                </div>
                                <div ng-show="!form.company_phone_number.$error.required && form.company_phone_number.$error.minlength && form.$submitted"
                                     class="error-message">
                                    {{'general.enter_valid_phone_number_min7' | translate}}
                                </div>
                                <div ng-show="!form.company_phone_number.$error.required && form.company_phone_number.$error.maxlength && form.$submitted"
                                     class="error-message">
                                    {{'general.enter_valid_phone_number_max15' | translate}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--<label class="control-label">Phone Number (main) *</label>
                    <div class="form-group clearfix form-group-custom">
                        <input type="text" class="form-control" name="company_phone_number"
                               ng-model="company.company_phone_number" ng-minlength="7" ng-maxlength="15" only-digits required>
                        <div ng-if="form.company_phone_number.$error.required && form.$submitted" class="error-message">
                            Enter Business Phone
                        </div>
                        <div ng-if="form.company_phone_number.$error.minlength && form.$submitted"
                             class="error-message">
                            Enter Valid Business Phone (minimum 7 digits)
                        </div>
                        <div ng-if="form.company_phone_number.$error.maxlength && form.$submitted"
                             class="error-message">
                            Enter Valid Business Phone (maximum 15 digits)
                        </div>
                    </div>-->
                </div>
                <div class="col-sm-6">
                    <div class="col-sm-12 pl0 pr0">
                        <div class="col-sm-4 pl0">
                            <label class="control-label">{{'general.isd' | translate}}</label>
                            <div class="form-group clearfix form-group-custom">
                                <select class="form-control p0"
                                        ng-model="company.company_alternative_phone_number_isd"
                                        name="company_alternative_phone_number_isd"
                                        ng-options="item.isd_code as (item.country_name +' '+ item.isd_code) for item in ISDCodes"
                                >
                                    <option value="">--{{'general.general_select' | translate}}--</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-8 pl0 pr0">
                            <label class="control-label">{{'general.phone_number_alt' | translate}}</label>
                            <div class="form-group clearfix form-group-custom">
                                <input type="text" class="form-control" name="company_alternative_number"
                                       ng-model="company.company_alternative_number1"
                                       only-digits-without-space
                                       ng-minlength="7" ng-maxlength="15">
                                <div ng-if="form.company_alternative_number.$error.minlength && form.$submitted"
                                     class="error-message">
                                    {{'general.enter_valid_phone_number_min7' | translate}}
                                </div>
                                <div ng-if="form.company_alternative_number.$error.maxlength && form.$submitted"
                                     class="error-message">
                                    {{'general.enter_valid_phone_number_max15' | translate}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--<label class="control-label">Phone Number (alt)</label>
                    <div class="form-group clearfix form-group-custom">
                        <input type="text" class="form-control" name="company_alternative_number"
                               ng-model="company.company_alternative_number" ng-minlength="7" ng-maxlength="15" only-digits>
                        <div ng-if="form.company_alternative_number.$error.minlength && form.$submitted"
                             class="error-message">
                            Enter minimum 7 digit
                        </div>
                        <div ng-if="form.company_alternative_number.$error.maxlength && form.$submitted"
                             class="error-message">
                            Enter maximum 15 digits
                        </div>
                    </div>-->
                </div>
            </div>
            <!--<div class="col-sm-6">
                <label class="control-label">Phone Number (main) *</label>
                <div class="form-group clearfix form-group-custom">
                    <input type="text" class="form-control" name="company_phone_number"
                           ng-model="company.company_phone_number" ng-minlength="5" only-digits required>
                    <div ng-if="form.company_phone_number.$error.required && form.$submitted" class="error-message">
                        Enter Business Phone
                    </div>
                    <div ng-if="form.company_phone_number.$error.minlength && form.$submitted"
                         class="error-message">
                        Enter Valid Business Phone (minimum 5 digits)
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <label class="control-label">Phone Number (alt)</label>
                <div class="form-group clearfix form-group-custom">
                    <input type="text" class="form-control" name="company_alternative_number"
                           ng-model="company.company_alternative_number" ng-minlength="5" only-digits>
                    <div ng-show="form.company_alternative_number.$invalid && form.$submitted " class="error-message">
                        Enter Minimum 5 Digits.
                    </div>
                </div>
            </div>-->
            <!--<div class="col-sm-6">
                <label class="control-label">Email *</label>
                <div class="form-group clearfix form-group-custom">
                    <input type="email" class="form-control" name="company_email" ng-model="company.company_email" required >
                    <span ng-if="form.company_email.$error.required && form.$submitted"
                          class="error-message ">Enter email.</span>
                <span ng-if="form.company_email.$error.email && form.$submitted"
                      class="error-message">Enter Valid Email</span>
                </div>
            </div>-->
            <div class="col-sm-6">
                <div class="p0 " ng-class="companyInfo.is_verified==0 && form.company_email.$valid?'col-sm-8':'col-sm-12'">
                    <label class="control-label">{{'Email' | translate}} *</label>
                    <div class="form-group clearfix form-group-custom">
                        <input type="email" class="form-control" name="company_email" ng-model="company.company_email"
                               required
                               ng-pattern="/^([\w-\.]+@([\w-]+\.)+[\w-]{2,4})?$/">
                        <span ng-if="form.company_email.$error.required && form.$submitted"
                              class="error-message ">{{'general.general_enter_email' | translate}}.</span>
                        <span ng-if="form.company_email.$error.email && form.$submitted"
                              class="error-message">{{'general.general_enter_valid_email' | translate}}</span>
                        <span ng-if="!form.company_email.$error.email && form.company_email.$error.pattern && form.$submitted"
                              class="error-message">{{'general.general_enter_valid_email' | translate}}</span>
                    </div>
                </div>
                <div class="col-sm-4 ml0 mt15 pt10" ng-if="companyInfo.is_verified==0 && form.company_email.$valid">
                    <button type="button" class="btn btn-primary f14 next-btn" ng-click="verifyEmail(companyInfo)"
                            n-t='{"e_n":"Verify Email","e_d":"Company Verify Email - {{companyInfo.company_name}}"}'>{{'general.verify'  | translate}}
                    </button>
                </div>
            </div>
        </div>

        <!--<div class="col-sm-12 clearfix p0">
            <div class="col-sm-12 pt20">
                <div class="col-sm-12 p0" data-ng-controller="contactTypeCtrl">
                    <div ng-if="!company.business_contact_type">
                        <div ng-init="company.business_contact_type=[]"></div>
                    </div>
                    <div class="clearfix">
                        <p class="f11 ash display-inline-block"><em>Contact</em></p>
                        <button class="btn btn-primary btn-dark border-none f12 pull-right" data-ng-click="addNetwork()">
                            <i class="fa fa-plus-circle"></i> Add New
                        </button>
                    </div>
                    <div class="clearfix"></div>
                    <div class="table-wrapper  p0 pt5 table-responsive">
                        <table st-table="company.business_contact_type" class="table c-table table-striped table-bordered table-hover display table-style">
                            <thead>
                            <tr>
                                <th st-sort="network">Type</th>
                                <th st-sort="details">Detail</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="row in company.business_contact_type">
                                <td>{{row.name}}</td>
                                <td>{{row.details}}</td>
                                <td>
                                    <div class="clearfix pagination-wrap">
                                        <ul class="icons-wrap pull-left">
                                            <li><a href="javascript:;" ng-click="addNetwork(row)" class="fa fa-edit" ></a></li>
                                            <li><a href="javascript:;" class="fa fa-eye" ng-click="viewNetwork(row)"></a></li>
                                            <li><a href="javascript:;" class="fa fa-trash" ng-click="removeItem(row)"></a></li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                            <tfoot ng-if="!company.business_social_networks">

                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>-->


        <div class="col-sm-12 clearfix p0">
            <div class="col-sm-12">
                <div class="col-sm-12 p0" data-ng-controller="socialNetworkCtrl">
                    <div class="clearfix">
                        <label class="control-label">{{'social_networks_sources' | translate}}</label>
                    </div>
                    <div class="clearfix"></div>
                    <div class="table-wrapper  p0 pt5 table-responsive">
                        <table st-table="company.company_social_networks"
                               class="table c-table table-striped table-bordered table-hover display table-style">
                            <thead>
                            <tr>
                                <th st-sort="network">{{'general.type' | translate}}</th>
                                <th st-sort="details">Url</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="row in company.company_social_networks">
                                <td>{{row.name}}</td>
                                <td>{{row.details}}</td>
                                <td>
                                    <div class="clearfix pagination-wrap">
                                        <ul class="icons-wrap pull-left">
                                            <li><a href="javascript:;" ng-click="addNetwork(row)"
                                                   uib-tooltip="Edit"
                                                   n-t='{"e_n":"Edit","e_d":"{{row.name}}, Company - {{companyInfo.company_name}}"}'
                                                   class="fa fa-edit"></a></li>
                                            <li><a href="javascript:;" class="fa fa-eye"
                                                   uib-tooltip="View"
                                                   n-t='{"e_n":"View","e_d":"Company - {{companyInfo.company_name}}"}'
                                                   ng-click="viewNetwork(row)"></a></li>
                                            <li><a href="javascript:;" class="fa fa-trash"
                                                   uib-tooltip="Delete"
                                                   n-t='{"e_n":"Remove Social Networks - Sources - {{form_name}} - {{sectionName}}","e_d":"{{row.name}}, Company - {{companyInfo.company_name}}"}'
                                                   ng-click="removeItem(row)"></a></li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                            <tfoot ng-if="!company.business_social_networks">

                            </tfoot>
                        </table>
                        <button type="button" class="btn btn-primary btn-dark border-none f12 pull-right"
                                n-t='{"e_n":"Add new {{form_name}} - {{sectionName}}","e_d":"Company - {{companyInfo.company_name}}"}'
                                data-ng-click="addNetwork()">
                            <i class="fa fa-plus-circle"></i> {{'general.general_add_new' | translate}}
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-12 btn-custom clearfix text-center" ng-if="permission[form_key+'_add']">
            <button class="btn btn-primary f14 next-btn"
                n-t='{"e_n":"Company - Save {{form_name}} - {{sectionName}}","e_d":"Company - {{companyInfo.company_name}}","form":"form.$valid"}'>{{'Save' | translate}}</button>
        </div>
    </div>
</form>
