<form class="form-horizontal form-bordered" name="form" detect-form-change="formChangeEvent()" novalidate ng-submit="form.$valid && submitForm(company,formDetails,form)">
    <div class="row clearfix" ng-if="formShow">
        <div class="col-sm-12 clearfix p0">
            <div class="col-sm-6">
                <label class="control-label">{{'borrowers_name' | translate}} *</label>
                <div class="form-group clearfix form-group-custom">
                    <input type="text" class="form-control" ng-model="company.company_borrower_name"
                           name="company_borrower_name" required>
                    <div ng-if="form.company_borrower_name.$error.required && form.$submitted" class="error-message">
                        {{'general.general_this_field_is_required' | translate}}
                    </div>
                </div>
            </div>
            <div class="col-sm-6" ng-if="formShow">
                <label class="control-label">{{'type_of_business' | translate}} </label>
                <div class="form-group clearfix form-group-custom" ng-init="getProofList({'master_key':'type_of_business'})">
                    <select chosen
                            class="form-control"
                            ng-options="item.name as item.name for item in business_types"
                            ng-model="company.company_business_type" name="company_business_type"
                            ng-required >
                        <option value="">--{{'general.general_select' | translate}}--</option>
                    </select>
                    <div ng-if="form.company_business_type.$error.required && form.$submitted" class="error-message">
                        {{'general.general_this_field_is_required' | translate}}
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-12 clearfix p0">
            <div class="col-sm-6" ng-init="sectorList(company.company_sector)">
                <label class="control-label">{{'main_sector' | translate}}*</label>

                <div class="form-group clearfix form-group-custom">
                    <select class="form-control"
                            ng-options="parentSector.sector_name as parentSector.sector_name for parentSector in parentSectorsList"
                            name="company_sector"
                            ng-change="getSubSector(company.company_sector)"
                            ng-model="company.company_sector"
                            required>
                        <option value="">--{{'general.general_select_sector' | translate}}--</option>
                    </select>
                    <div ng-if="form.company_sector.$error.required && form.$submitted" class="error-message">
                        {{'general.general_select_sector' | translate}}
                    </div>
                </div>
            </div>
            <div class="col-sm-6">
                <div ng-if="company.company_sector != undefined"><span ng-init="getSubSector(company.company_sector)"></span></div>
                <label class="control-label">{{'general.general_sub_sector' | translate}}</label>

                <div class="form-group clearfix form-group-custom">

                    <select class="form-control" ng-disabled="!company.company_sector"
                            ng-options="subSector.sector_name as subSector.sector_name for subSector in subSectorList"
                            name="company_subsector"
                            ng-model="company.company_subsector"
                    >
                        <option value="">--{{'general.general_select_sector' | translate}}--</option>
                    </select>
                    <!--<div ng-if="form.subsector.$error.required && submitStatus" class="error-message">
                        Select Subsector.
                    </div>required-->
                </div>
            </div>
        </div>
        <div class="col-sm-12 clearfix p0">
            <div class="col-sm-12">
                <!--<div ng-if="!company.company_ownership_details">
                    <div ng-init="company.company_ownership_details=[]"></div>
                </div>-->
                <div class="clearfix">
                    <label class="control-label">{{'Ownership' | translate}}</label>
                </div>
                <div class="clearfix"></div>
                <div class="table-wrapper p0 c-table pt5 table-responsive">
                    <table st-table st-pipe="getOwnershipDetails" class="table table-striped table-bordered table-hover display table-style">
                        <thead>
                        <tr>
                            <th st-sort="shareholder_name">Name of Shareholder</th>
                            <th class="text-right" st-sort="no_of_shares">Number of Shares </th>
                            <th class="text-right" st-sort="percentage_share">% of Shares</th>
                            <th class="text-right" st-sort="value_of_shares">Value of Shares</th>
                            <th st-sort="currency">Currency</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="row in ownership_details">
                            <td>{{row.shareholder_name}}</td>
                            <td class="text-right">{{row.no_of_shares | checkEmpty}}</td>
                            <td class="text-right">{{row.percentage_share | checkEmpty}} </td>
                            <td class="text-right">{{row.value_of_shares | checkEmpty | currency:"" }}</td>
                            <td>{{row.currency | checkEmpty}}</td>
                            <td>
                                <div class="clearfix pagination-wrap">
                                    <ul class="icons-wrap text-line pull-left">
                                        <li><a href="javascript:;" ng-click="addOwnerShip(row)" class="fa fa-edit" ng-if="saveBtnShow()"
                                               uib-tooltip="Edit"
                                               n-t='{"e_n":"Add Ownership {{sectionName}}","e_d":"Company - {{companyInfo.company_name}}"}'></a>
                                        </li>
                                        <li><a href="javascript:;" class="fa fa-eye" ng-click="viewOwnership(row)"
                                               uib-tooltip="View"
                                               n-t='{"e_n":"View Ownership {{sectionName}}","e_d":"Company - {{companyInfo.company_name}}"}'></a>
                                        </li>
                                        <li><a href="javascript:;" class="fa fa-trash" ng-click="removeItem(row)" ng-if="saveBtnShow()"
                                               uib-tooltip="Delete"
                                               n-t='{"e_n":"Remove ownership {{sectionName}}","e_d":"Company - {{companyInfo.company_name}}"}'></a>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        <tr ng-show="ownership_details.length<=0">
                            <td colspan="6" class="text-center">No data found</td>
                        </tr>
                        </tbody>

                    </table>
                    <button type="button" class="btn btn-primary btn-dark border-none f12 pull-right" ng-click="addOwnerShip()" ng-if="saveBtnShow()"
                            n-t='{"e_n":"Add New Ownership {{sectionName}}","e_d":"Company - {{companyInfo.company_name}}"}'>
                        <i class="fa fa-plus-circle"></i> Add New
                    </button>
                </div>
            </div>
        </div>
        <div class="col-sm-12 clearfix p0">

            <div class="col-sm-6">
                <label class="control-label">{{'date_of_incorporation' | translate}}</label>
                <div class="form-group clearfix form-group-custom">
                    <div class="input-group">
                        <input type="text" class="form-control" uib-datepicker-popup="yyyy-MM-dd"
                               data-ng-model="company.company_incorporation_date" type="text"
                               name="company_incorporation_date"
                               is-open="openCal"
                               show-weeks="false" show-button-bar="false" readonly/>
                          <span class="input-group-btn">
                            <button type="button" class="btn btn-default border" ng-click="openCal = true">
                                <i class="fa fa-calendar"></i></button>
                          </span>
                    </div>
                </div>
            </div>



            <div class="col-sm-6">
                <label class="control-label">{{'start_up_business' | translate}}</label>
                <div class="form-group clearfix form-group-custom">
                    <div class="radio display-inline-block mr15 mt5">
                        <div ng-if="company.new_business == ''"><span ng-init="company.new_business = 'yes'"></span>
                        </div>
                        <label class="f12"><input type="radio" ng-model="company.new_business" name="new_business"
                                                  ng-value="yes"> Yes</label></div>
                    <div class="radio display-inline-block"><label class="f12"><input type="radio"
                                                                                      ng-model="company.new_business"
                                                                                      name="new_business"  ng-value="no"> {{'general.no' | translate}}</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 clearfix p0">
            <div class="col-sm-12">
                <label class="control-label">{{'company.enterprise_certificate_number' | translate}}</label>
                <div class="form-group clearfix form-group-custom">
                    <input type="text" class="form-control"
                           ng-model="company.company_enterprise_certificate_number"
                           name="company_enterprise_certificate_number" >
                    <!--<div ng-if="form.company_enterprise_certificate_number.$error.required && form.$submitted" class="error-message">
                        {{'general.general_this_field_is_required' | translate}}
                    </div>-->
                </div>
            </div>
            <div class="col-sm-12 p0">
                <div class="col-sm-6">
                    <label class="control-label">{{'company.does_the_licence_bear_the_company_name' | translate}}</label>
                    <div class="form-group clearfix form-group-custom"
                         ng-init="company.company_license_is_bear=company.company_license_is_bear?company.company_license_is_bear:'yes'">
                        <div class="radio display-inline-block mr15 mt5"><label class="f12">
                            <input type="radio"
                                   ng-model="company.company_license_is_bear"
                                   name="company_license_is_bear"
                                    ng-value="'yes'"> {{'general.yes' | translate}}</label>
                        </div>
                        <div class="radio display-inline-block"><label class="f12">
                            <input type="radio"
                                   ng-model="company.company_license_is_bear"
                                   name="company_license_is_bear"
                                   ng-value="'no'"> {{'general.no' | translate}}</label>
                        </div>
                        <div ng-show="company.company_license_is_bear=='no'">
                            <div class="col-sm-12 clearfix edit-bg">
                                <label class="control-label">{{'company.comment' | translate}}</label>
                                <div class="form-group clearfix form-group-custom p0">
                                    <textarea class="form-control"
                                              ng-model="company.company_lincense_not_bear_comments"
                                              name="company_lincense_not_bear_comments"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <label class="control-label">{{'company.is_licence_valid' | translate}}</label>
                    <div class="form-group clearfix form-group-custom"
                         ng-init="company.company_valid_license=company.company_valid_license?company.company_valid_license:'yes'">
                        <div class="radio display-inline-block mr15 mt5"><label class="f12">
                            <input type="radio"
                                   ng-model="company.company_valid_license"
                                   name="company_valid_license"
                                   ng-value="'yes'"> {{'general.yes' | translate}}</label></div>
                        <div class="radio display-inline-block"><label class="f12">
                            <input type="radio"
                                   ng-model="company.company_valid_license"
                                   name="company_valid_license"
                                   ng-value="'no'"> {{'general.no' | translate}}</label>
                        </div>
                        <div ng-show="company.company_valid_license=='no'">
                            <div class="col-sm-12 clearfix edit-bg p0">
                                <label class="control-label">{{'company.comment' | translate}}</label>
                                <div class="form-group clearfix form-group-custom">
                                    <textarea class="form-control"
                                              ng-model="company.company_invalid_license_comments"
                                              name="company_invalid_license_comments"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <label class="control-label">{{'incorporation_documents' | translate}}</label>
            <div class="form-group clearfix form-group-custom">
                <attachment-view module-id="2" form-key="{{form_key}}" field-key="company_incorporation_documents"
                                 ref-id="{{currentCompanyViewId}}"></attachment-view>
            </div>
        </div>
        <!--<div class="col-sm-12 clearfix ">
            <label class="control-label">{{'nature_of_business' | translate}}</label>
            <div class="col-sm-12">
            <div class="col-sm-3">
                <div class="form-group clearfix form-group-custom">
                    <label class="f12">
                    <input type="checkbox"  ng-init="company.company_nature_of_business.company_sme_business=(company.company_nature_of_business.company_sme_business=='1')?true:false"  class="mr4 valign-middle m-2" ng-model="company.company_nature_of_business.company_sme_business"
                           name="company_sme_business"  >
                    {{'SME_business' | translate}}</label>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group clearfix form-group-custom">
                    <label class="f12">
                    <input ng-init="company.company_nature_of_business.company_incorporate_business=(company.company_nature_of_business.company_incorporate_business=='1')?true:false" type="checkbox" class="mr4 valign-middle m-2" ng-model="company.company_nature_of_business.company_incorporate_business"
                           name="company_incorporate_business">
                    {{'corporate_business' | translate}}</label>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group clearfix form-group-custom">
                    <label class="f12">
                    <input ng-init="company.company_nature_of_business.company_construction=(company.company_nature_of_business.company_construction=='1')?true:false" type="checkbox" class="mr4 valign-middle m-2" ng-model="company.company_nature_of_business.company_construction"
                           name="company_construction">
                    {{'construction' | translate}}</label>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="form-group clearfix form-group-custom">
                    <label class="f12">
                    <input ng-init="company.company_nature_of_business.company_acquisition=(company.company_nature_of_business.company_acquisition=='1')?true:false" type="checkbox" class="mr4 valign-middle m-2" ng-model="company.company_nature_of_business.company_acquisition"
                           name="company_acquisition">
                   {{'contact.acquisition' | translate}}</label>
                </div>
            </div>
            </div>
        </div>-->
        <div class="col-sm-12 clearfix edit-bg">
            <label class="control-label">{{'comments_on_core_information' | translate}}</label>
            <div class="form-group clearfix form-group-custom">
                <!--kendo-editor-->
                <textarea class="form-control"
                          ckeditor=""
                          ng-model="company.company_core_information"
                          name="company_core_information"></textarea>
            </div>
        </div>

        <div class="col-sm-12 btn-custom clearfix text-center">
            <button class="btn btn-primary f14 next-btn" type="submit"
                    n-t='{"e_n":"Save - {{sectionName}} - {{formName}}","e_d":"Company - {{companyInfo.company_name}}", "form": "{{form.$valid}}"}'>{{'Save' | translate}}
            </button>
        </div>
    </div>
</form>