<div ng-controller="customerCtrl">
    <form class="form-horizontal form-bordered" name="form" detect-form-change="formChangeEvent()" novalidate ng-submit="form.$valid && submit(customer,form)">
        <div class="row clearfix">
            <div class="col-sm-12 clearfix p0">
                <div class="col-sm-6">
                    <label class="control-label">{{'company.customer_wholesale' | translate}}</label>
                    <div class="form-group clearfix form-group-custom">
                        <input type="text" class="form-control" max="100" ng-model="customer.whole_sale_customer_percentage"
                               name="whole_sale_customer_percentage" ui-number-mask="2">
                        <!--<div ng-if="form.whole_sale_customer_percentage.$error.required && form.$submitted" class="error-message">
                            {{'general.general_this_field_is_required' | translate}}
                        </div>-->
                        <div ng-if="form.whole_sale_customer_percentage.$error.max && form.$submitted" class="error-message">
                            {{'general.percentage_should_between' | translate}}
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <label class="control-label">{{'company.customer_retails' | translate}}</label>
                    <div class="form-group clearfix form-group-custom">
                        <input type="text" class="form-control" max="100" ng-model="customer.retail_customer_percentage"
                               name="retail_customer_percentage" ui-number-mask="2">
                        <!--<div ng-if="form.retail_customer_percentage.$error.required && form.$submitted" class="error-message">
                            {{'general.general_this_field_is_required' | translate}}
                        </div>-->
                        <div ng-if="form.retail_customer_percentage.$error.max && form.$submitted" class="error-message">
                            {{'general.percentage_should_between' | translate}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12" >
                <div class="clearfix">
                    <label class="control-label">{{'company.customers' | translate}}</label>
                </div>
                <div class="clearfix"></div>
                <div class="table-wrapper p0 c-table pt5 table-responsive">
                    <table class="table table-striped table-bordered table-hover display table-style">
                        <thead>
                        <tr>
                            <th>{{'company.name' | translate}}</th>
                            <th class="text-right">{{'company.per_sale_in_cash' | translate}}</th>
                            <th class="text-right">{{'company.per_sale_in_debt' | translate}}</th>
                            <th class="text-right">{{'company.monthly_sales' | translate}}</th>
                            <th style="width: 5%">{{'action' | translate}}</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="row in customer.child_data" ng-if="customer.child_data.length>0" ng-show="row.status=='1'">
                            <td>{{row.name}}</td>
                            <td class="text-right">{{row.percentage_of_sales_in_cash}} </td>
                            <td class="text-right">{{row.percentage_of_sales_in_debt}} </td>
                            <td class="text-right">{{row.monthly_sales_currency_code}} {{row.monthly_sales | currency:""}}</td>
                            <td>
                                <div class="clearfix pagination-wrap">
                                    <ul class="icons-wrap text-line pull-left">
                                        <li><a href="javascript:;" ng-click="addCustomers(row)" class="fa fa-edit"
                                               uib-tooltip="Edit"
                                               n-t='{"e_n":"Edit Customers {{sectionName}}","e_d":"Company - {{companyInfo.company_name}}"}'></a>
                                        </li>
                                        <li><a href="javascript:;" class="fa fa-trash" ng-click="removeCustomers(row)"
                                               uib-tooltip="Delete"
                                               n-t='{"e_n":"Remove Customers {{sectionName}}","e_d":"Company - {{companyInfo.company_name}}"}'></a>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        <tr ng-if="customer.child_data.length<=0">
                            <td colspan="5" class="text-center">{{'general.general_no_data_available' | translate}}</td>
                        </tr>
                        </tbody>

                    </table>
                    <button type="button" class="btn btn-primary btn-dark border-none f12 pull-right" data-ng-click="addCustomers()"
                            n-t='{"e_n":"Add New Customers {{sectionName}}","e_d":"Company - {{companyInfo.company_name}}"}'>
                        <i class="fa fa-plus-circle"></i> {{'project.add_new' | translate}}
                    </button>
                </div>
            </div>
            <div class="col-sm-12 clearfix edit-bg">
                <label class="control-label">{{'company.comment' | translate}}</label>
                <div class="form-group clearfix form-group-custom">
            <textarea class="form-control"
                      ckeditor=""
                      ng-model="customer.comments"
                      name="comments"></textarea>
                </div>
            </div>

            <div class="col-sm-12 btn-custom clearfix text-center">
                <button class="btn btn-primary f14 next-btn" type="submit"
                        n-t='{"e_n":"Save - {{sectionName}} - {{formName}}","e_d":"Company - {{companyInfo.company_name}}", "form": "{{form.$valid}}"}'>{{'Save' | translate}}
                </button>
            </div>
        </div>
    </form>
</div>
<script type="text/ng-template" id="add-customers.html">
    <div class="right-modal modal-custom" >
        <h3 class="right-modal-head">
            <i class="fa fa-book mr8"></i>{{title}} {{'company.customers' | translate}}
            <a class="close-right pull-right" ng-click="cancel()" uib-tooltip="Close"
               n-t='{"e_n":"Contacts Close","e_d":"Company - {{companyInfo.company_name}}"}'><img
                    src="images/close.png"></a>
        </h3>
        <form class="form-horizontal form-bordered mt10" name="customersForm" novalidate ng-submit="customersForm.$valid && save(customersForm, customers)">
            <div class="clearfix">
                <div class="col-sm-12 clearfix">
                    <div class="col-sm-6">
                        <label class="f12">{{'company.name' | translate}} *:</label>
                        <div class="form-group" >
                            <input type="text" class=" form-control" name="name"
                                   required
                                   ng-model="customers.name">
                        </div>
                        <div ng-show="customersForm.name.$error.required && customersForm.$submitted" class="error-message">
                            {{'general.general_this_field_is_required' | translate}}
                        </div>
                    </div>
                    <div>{{customersForm.contact_number_isd}}</div>
                    <div class="col-sm-6 pr3">
                        <div class="col-sm-12 pr0 pl0">
                            <div class="col-sm-5 pl0">
                                <label class="f12">{{'general.isd' | translate}} *</label>
                                <div class="form-group clearfix form-group-custom">
                                    <select class="form-control p0 font-control"
                                            ng-model="customers.contact_number_isd"
                                            name="customer_number_isd"
                                            ng-options="item.isd_code as (item.country_name +' '+ item.isd_code) for item in ISDCodes"
                                            ng-init="customers.contact_number_isd=customers.contact_number_isd?customers.contact_number_isd:ISDCodes[0].isd_code"
                                             required>
                                        <!--<option value="">&#45;&#45;{{'general.general_select' | translate}}&#45;&#45;</option>-->
                                        <!--ng-init="customers.contact_number_isd=customers.contact_number_isd?customers.contact_number_isd:ISDCodes[0].isd_code+''"-->
                                    </select>
                                </div>
                                <div ng-show="customersForm.customer_number_isd.$error.required && customersForm.$submitted "
                                     class="error-message">
                                    {{'general.general_select_isd_code' | translate}}
                                </div>
                            </div>
                            <div class="col-sm-7 pl5 pr0">
                                <label class="f12">{{'company.contact_no' | translate}} *</label>
                                <div class="form-group clearfix form-group-custom pl0">
                                    <!--<any ng-init="contact.phone_number=''"></any>-->
                                    <input type="text" class="form-control pr0 mr0" ng-model="customers.contact_number"
                                           name="contact_number" ng-minlength="7" ng-maxlength="15" required only-digits >
                                    <div ng-show="customersForm.contact_number.$error.required && customersForm.$submitted "
                                         class="error-message">
                                        {{'general.enter_valid_phone_number'|translate}}
                                    </div>
                                    <div ng-show="!customersForm.contact_number.$error.required && customersForm.contact_number.$error.minlength && customersForm.$submitted "
                                         class="error-message">
                                        {{'general.enter_valid_phone_number_min7' | translate}}
                                    </div>
                                    <div ng-show="!customersForm.contact_number.$error.required && customersForm.contact_number.$error.maxlength && customersForm.$submitted "
                                         class="error-message">
                                        {{'general.enter_valid_phone_number_max15' | translate}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 ml20 mr10">
                    <label class="f12 ml15">{{'company.address' | translate}}:</label>
                    <div class="form-group ml15 pr10" >
                        <input type="text" class=" form-control" name="address"
                               ng-model="customers.address">
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="col-sm-6">
                        <label class="f12">{{'company.per_sale_in_cash' | translate}} *:</label>
                        <div class="form-group" >
                            <input type="text" class=" form-control" max="100" name="percentage_of_sales_in_cash"
                                   ui-number-mask="2" required
                                   ng-model="customers.percentage_of_sales_in_cash">
                            <div ng-if="customersForm.percentage_of_sales_in_cash.$error.required && customersForm.$submitted "
                                 class="error-message">
                                {{'general.general_this_field_is_required'|translate}}
                            </div>
                            <div ng-if="customersForm.percentage_of_sales_in_cash.$error.max && customersForm.$submitted" class="error-message">
                                {{'general.percentage_should_between' | translate}}
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <label class="f12">{{'company.per_sale_in_debt' | translate}} *:</label>
                        <div class="form-group" >
                            <input type="text" class=" form-control" name="percentage_of_sales_in_debt"
                                   ui-number-mask="2" required max="100"
                                   ng-model="customers.percentage_of_sales_in_debt">
                            <div ng-if="customersForm.percentage_of_sales_in_debt.$error.required && customersForm.$submitted "
                                 class="error-message">
                                {{'general.general_this_field_is_required'|translate}}
                            </div>
                            <div ng-if="customersForm.percentage_of_sales_in_debt.$error.max && customersForm.$submitted" class="error-message">
                                {{'general.percentage_should_between' | translate}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="col-sm-6 pl0">
                        <div class="col-sm-6">
                            <label class="f12">{{'company.currency' | translate}}</label>
                            <div class="form-group clearfix form-group-custom">
                                <select class="form-control" ng-model="customers.monthly_sales_currency_id" ng-options="item.currency_id as item.currency_code for item in currecnyList" name="monthly_sales_currency_id">
                                    <option value="">--{{'general.general_select' | translate}}--</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-sm-6 p0">
                            <label class="f12">{{'company.monthly_sales' | translate}}</label>
                            <div class="form-group" >
                                <input type="text" class=" form-control" name="monthly_sales"
                                       ui-number-mask="0"
                                       ng-model="customers.monthly_sales">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <label class="f12">{{'company.customer_since' | translate}}:</label>
                        <div class="form-group" ng-init="customers.customer_since=customers.customer_since+''">
                            <select class="form-control" ng-model="customers.customer_since" ng-options="item.value as item.value for item in years" name="customer_since">
                                <option value="">--{{'general.general_select' | translate}}--</option>
                            </select>

                        </div>
                        <div ng-if="customersForm.customer_since.$error.required && customersForm.$submitted" class="error-message">
                            {{'general.general_this_field_is_required' | translate}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer border-none btn-custom mb0 clearfix text-center">
                <button class="btn btn-primary f14" ng-show="!update" type="submit"
                >{{'general.add' | translate}}
                </button>
                <button class="btn btn-primary f14" ng-show="update" type="submit"
                >{{'general.save' | translate}}
                </button>
                <!--<button class="btn btn-primary f14" ng-show="!update"
                        ng-click="save(customersForm, customers)">{{'general.add' | translate}}
                </button>
                <button class="btn btn-primary f14" ng-show="update"
                        ng-click="save(customersForm, customers)">{{'general.save' | translate}}
                </button>-->
                <button class="btn btn-default f14" type="button" ng-click="cancel()">{{'Cancel' | translate}}</button>
            </div>
        </form>
    </div>
</script>