<div ng-controller="supplierCtrl">
    <form class="form-horizontal form-bordered" name="form" detect-form-change="formChangeEvent()" novalidate ng-submit="form.$valid && submit(supplier,form)">
        <div class="row clearfix">

            <div class="col-sm-12 clearfix">
                <label class="control-label bold">{{'company.percentage_of_geo_distribution' | translate}}</label>
            </div>
                <div class="col-sm-3 p0">
                    <div class="col-sm-12">
                        <label class="control-label bold">{{'general.same_city' | translate}} *</label>
                    </div>
                    <div class="col-sm-12">
                        <div class="form-group clearfix form-group-custom">
                            <input type="text" class="form-control" max="100"  ng-model="supplier.percentage_of_geo_distribution_same_city"
                                   name="percentage_of_geo_distribution_same_city" required ui-number-mask="2">
                            <div ng-if="form.percentage_of_geo_distribution_same_city.$error.required && form.$submitted" class="error-message">
                                {{'general.general_this_field_is_required' | translate}}
                            </div>
                            <div ng-if="form.percentage_of_geo_distribution_same_city.$error.max && form.$submitted" class="error-message">
                                {{'general.percentage_should_between' | translate}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 p0">
                    <div class="col-sm-12">

                        <label class="control-label bold">{{'general.regional' | translate}} *</label>
                    </div>
                    <div class="col-sm-12">

                        <div class="form-group clearfix form-group-custom">
                            <input type="text" class="form-control" max="100" ng-model="supplier.percentage_of_geo_distribution_regional"
                                   name="percentage_of_geo_distribution_regional" required  ui-number-mask="2">
                            <div ng-if="form.percentage_of_geo_distribution_regional.$error.required && form.$submitted" class="error-message">
                                {{'general.general_this_field_is_required' | translate}}
                            </div>
                            <div ng-if="form.percentage_of_geo_distribution_regional.$error.max && form.$submitted" class="error-message">
                                {{'general.percentage_should_between' | translate}}
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-sm-3 p0">
                    <div class="col-sm-12">

                        <label class="control-label bold">{{'general.national' | translate}} *</label>
                    </div>
                    <div class="col-sm-12">

                        <div class="form-group clearfix form-group-custom">
                            <input type="text" class="form-control" max="100" ng-model="supplier.percentage_of_geo_distribution_national"
                                   name="percentage_of_geo_distribution_national" required  ui-number-mask="2">
                            <div ng-if="form.percentage_of_geo_distribution_national.$error.required && form.$submitted" class="error-message">
                                {{'general.general_this_field_is_required' | translate}}
                            </div>
                            <div ng-if="form.percentage_of_geo_distribution_national.$error.max && form.$submitted" class="error-message">
                                {{'general.percentage_should_between' | translate}}
                            </div>
                        </div>
                    </div>
                    <!--<div class="col-sm-12" style="width: 300px;;"><pre>{{childData}}</pre></div>-->
                </div>
                <div class="col-sm-3 p0">
                    <div class="col-sm-12 ">
                        <label class="control-label bold">{{'general.international' | translate}} *</label>
                    </div>
                    <div class="col-sm-12 ">

                        <div class="form-group clearfix form-group-custom">
                            <input type="text" class="form-control" max="100" ng-model="supplier.percentage_of_geo_distribution_international"
                                   name="percentage_of_geo_distribution_international" required  ui-number-mask="2">
                            <div ng-if="form.percentage_of_geo_distribution_international.$error.required && form.$submitted" class="error-message">
                                {{'general.general_this_field_is_required' | translate}}
                            </div>
                            <div ng-if="form.percentage_of_geo_distribution_international.$error.max && form.$submitted" class="error-message">
                                {{'general.percentage_should_between' | translate}}
                            </div>
                        </div>
                    </div>
                </div>

            <div class="col-sm-12" >
                <div class="clearfix">
                    <label class="control-label bold">{{'company.suppliers' | translate}}</label>
                </div>
                <div class="clearfix"></div>
                <div class="table-wrapper p0 c-table pt5 table-responsive">
                    <table class="table table-striped table-bordered table-hover display table-style">
                        <thead>
                        <tr>
                            <th>{{'company.name' | translate}}</th>
                            <th class="text-right">{{'company.monthly_purchase_cash' | translate}}</th>
                            <th class="text-right">{{'company.monthly_purchase_debt' | translate}}</th>
                            <th class="text-right">{{'company.length_of_relationship' | translate}}</th>
                            <th>{{'action' | translate}}</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="row in supplier.child_data" ng-show="row.status=='1'" ng-if="supplier.child_data.length>0">
                            <td>{{row.name}}</td>
                            <td class="text-right">{{row.monthly_purchase_cash | currency:""}} </td>
                            <td class="text-right">{{row.monthly_purchase_debt | currency:""}} </td>
                            <td class="text-right">{{row.length_of_relationship}}</td>
                            <td>
                                <div class="clearfix pagination-wrap">
                                    <ul class="icons-wrap text-line pull-left">
                                        <li><a href="javascript:;" ng-click="addSuppliers(row)" class="fa fa-edit"
                                               uib-tooltip="Edit"
                                               n-t='{"e_n":"Edit suppliers {{sectionName}}","e_d":"Company - {{companyInfo.company_name}}"}'></a>
                                        </li>
                                        <li><a href="javascript:;" class="fa fa-trash" ng-click="removeSuppliers(row)"
                                               uib-tooltip="Delete"
                                               n-t='{"e_n":"Remove suppliers {{sectionName}}","e_d":"Company - {{companyInfo.company_name}}"}'></a>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        <tr ng-if="supplier.child_data.length<=0">
                            <td colspan="5" class="text-center">{{'general.general_no_data_available' | translate}}</td>
                        </tr>
                        </tbody>

                    </table>
                    <button type="button" class="btn btn-primary btn-dark border-none f12 pull-right" data-ng-click="addSuppliers()"
                            n-t='{"e_n":"Add New suppliers {{sectionName}}","e_d":"Company - {{companyInfo.company_name}}"}'>
                        <i class="fa fa-plus-circle"></i> {{'project.add_new' | translate}}
                    </button>
                </div>
            </div>
            <div class="col-sm-12 clearfix edit-bg">
                <label class="control-label bold">{{'company.comment' | translate}}</label>
                <div class="form-group clearfix form-group-custom">
            <textarea class="form-control"
                      ckeditor=""
                      ng-model="supplier.comments"
                      name="comments"></textarea>
                </div>
            </div>

            <div class="col-sm-12 btn-custom clearfix text-center">
                <button class="btn btn-primary f14 next-btn" type="submit"
                        n-t='{"e_n":"Save - {{sectionName}} - {{formName}}","e_d":"Company - {{companyInfo.company_name}}", "form": "{{form.$valid}}"}'>{{'Save' | translate}}
                </button>
            </div>
        </div>
    </form>
</div>
<script type="text/ng-template" id="add-supplier.html">
    <div class="right-modal modal-custom" >
        <h3 class="right-modal-head">
            <i class="fa fa-book mr8"></i>{{title}} {{'company.suppliers' | translate}}
            <a class="close-right pull-right" ng-click="cancel()" uib-tooltip="Close"
               n-t='{"e_n":"Contacts Close","e_d":"Company - {{companyInfo.company_name}}"}'><img
                    src="images/close.png"></a>
        </h3>
        <form class="form-horizontal form-bordered mt10" name="suppliersForm" novalidate ng-submit="suppliersForm.$valid && save(suppliersForm, suppliers)">
            <div class="clearfix">
                <div class="col-sm-12 clearfix">
                    <div class="col-sm-6">
                        <label class="f12">{{'company.name' | translate}} *:</label>
                        <div class="form-group" >
                            <input type="text" class=" form-control" name="name"
                                   required
                                   ng-model="suppliers.name">
                        </div>
                        <div ng-show="suppliersForm.name.$error.required && suppliersForm.$submitted" class="error-message">
                            {{'general.general_this_field_is_required' | translate}}
                        </div>
                    </div>
                    <div>{{suppliersForm.contact_number_isd}}</div>
                    <div class="col-sm-6 pr3">
                        <div class="col-sm-12 pr0 pl0">
                            <div class="col-sm-5 pl0">
                                <label class="f12">{{'general.isd' | translate}} *</label>
                                <div class="form-group clearfix form-group-custom">
                                    <select class="form-control p0 font-control"
                                            ng-model="suppliers.contact_number_isd"
                                            name="supplier_number_isd"
                                            ng-options="item.isd_code as (item.country_name +' '+ item.isd_code) for item in ISDCodes"
                                            ng-init="suppliers.contact_number_isd=suppliers.contact_number_isd?suppliers.contact_number_isd:ISDCodes[0].isd_code"
                                            required>
                                        <!--<option value="">&#45;&#45;{{'general.general_select' | translate}}&#45;&#45;</option>-->
                                        <!--ng-init="suppliers.contact_number_isd=suppliers.contact_number_isd?suppliers.contact_number_isd:ISDCodes[0].isd_code+''"-->
                                    </select>
                                </div>
                                <div ng-show="suppliersForm.supplier_number_isd.$error.required && suppliersForm.$submitted "
                                     class="error-message">
                                    {{'general.general_select_isd_code' | translate}}
                                </div>
                            </div>
                            <div class="col-sm-7 pl5 pr0">
                                <label class="f12">{{'company.contact_no' | translate}} *</label>
                                <div class="form-group clearfix form-group-custom pl0">
                                    <!--<any ng-init="contact.phone_number=''"></any>-->
                                    <input type="text" class="form-control pr0 mr0" ng-model="suppliers.contact_number"
                                           name="contact_number" ng-minlength="7" ng-maxlength="15" required only-digits >
                                    <div ng-show="suppliersForm.contact_number.$error.required && suppliersForm.$submitted "
                                         class="error-message">
                                        {{'general.enter_valid_phone_number'|translate}}
                                    </div>
                                    <div ng-show="!suppliersForm.contact_number.$error.required && suppliersForm.contact_number.$error.minlength && suppliersForm.$submitted "
                                         class="error-message">
                                        {{'general.enter_valid_phone_number_min7' | translate}}
                                    </div>
                                    <div ng-show="!suppliersForm.contact_number.$error.required && suppliersForm.contact_number.$error.maxlength && suppliersForm.$submitted "
                                         class="error-message">
                                        {{'general.enter_valid_phone_number_max15' | translate}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 ml20 mr10">
                    <label class="f12 ml15">{{'company.address' | translate}}:</label>
                    <div class="form-group ml15 pr10" >
                        <input type="text" class=" form-control" name="address"
                               ng-model="suppliers.address">
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="col-sm-4">
                        <label class="f12">{{'company.monthly_purchase_cash' | translate}} *:</label>
                        <div class="form-group" >
                            <input type="text" class=" form-control" name="monthly_purchase_cash"
                                   ui-number-mask="2"  required
                                   ng-model="suppliers.monthly_purchase_cash">
                            <div ng-if="suppliersForm.monthly_purchase_cash.$error.required && suppliersForm.$submitted "
                                 class="error-message">
                                {{'general.general_this_field_is_required'|translate}}
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2 pl0">
                        <label class="f12">{{'company.currency' | translate}}</label>
                        <div class="form-group clearfix form-group-custom">
                            <select class="form-control" required ng-model="suppliers.monthly_purchase_cash_currency_id" ng-options="item.currency_id as item.currency_code for item in currecnyList" name="monthly_purchase_cash_currency_id">
                                <option value="">----</option>
                            </select>
                            <div ng-if="suppliersForm.monthly_purchase_cash_currency_id.$error.required && suppliersForm.$submitted "
                                 class="error-message">
                                {{'general.required' | translate}}
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <label class="f12">{{'company.monthly_purchase_debt' | translate}} *:</label>
                        <div class="form-group" >
                            <input type="text" class=" form-control" name="monthly_purchase_debt"
                                   ui-number-mask="2"  required
                                   ng-model="suppliers.monthly_purchase_debt">
                            <div ng-if="suppliersForm.monthly_purchase_debt.$error.required && suppliersForm.$submitted "
                                 class="error-message">
                                {{'general.general_this_field_is_required'|translate}}
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-2 pl0">
                        <label class="f12">{{'company.currency' | translate}}</label>
                        <div class="form-group clearfix form-group-custom">
                            <select class="form-control" required ng-model="suppliers.monthly_purchase_debt_currency_id" ng-options="item.currency_id as item.currency_code for item in currecnyList" name="monthly_purchase_debt_currency_id">
                                <option value="">----</option>
                            </select>
                            <div ng-if="suppliersForm.monthly_purchase_debt_currency_id.$error.required && suppliersForm.$submitted "
                                 class="error-message">
                                {{'general.required' | translate}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <div class="col-sm-6">
                        <label class="f12">{{'company.length_of_relationship' | translate}}</label>
                            <div class="form-group" >
                                <input type="text" class=" form-control" name="length_of_relationship"
                                       only-digits-with-length="2"
                                       ng-model="suppliers.length_of_relationship">
                            </div>
                    </div>
                    <!--<div class="col-sm-6">
                        <label class="f12">{{'company.supplier_since' | translate}}(yrs):</label>
                        <div class="form-group" >
                            <input type="text" class=" form-control" name="supplier_since"
                                   only-digits-with-length="2"
                                   ng-model="suppliers.supplier_since">
                        </div>
                        <div ng-if="suppliersForm.supplier_since.$error.required && suppliersForm.$submitted" class="error-message">
                            {{'general.general_this_field_is_required' | translate}}
                        </div>
                    </div>-->
                </div>
            </div>
            <div class="modal-footer border-none btn-custom mb0 clearfix text-center">
                <button class="btn btn-primary f14" ng-show="!update" type="submit"
                >{{'general.add' | translate}}
                </button>
                <button class="btn btn-primary f14" ng-show="update" type="submit"
                >{{'general.save' | translate}}
                </button>
                <!--<button class="btn btn-primary f14" ng-show="!update"
                        ng-click="save(suppliersForm, suppliers)">{{'general.add' | translate}}
                </button>
                <button class="btn btn-primary f14" ng-show="update"
                        ng-click="save(suppliersForm, suppliers)">{{'general.save' | translate}}
                </button>-->
                <button class="btn btn-default f14" type="button" ng-click="cancel()">{{'Cancel' | translate}}</button>
            </div>
        </form>
    </div>
</script>