<div ng-controller="competitorCtrl">
    <form class="form-horizontal form-bordered" name="form" detect-form-change="formChangeEvent()" novalidate ng-submit="form.$valid && submit(competitor,form)">
        <div class="row clearfix">
            <div class="col-sm-12 clearfix p0">
                <div class="col-sm-4">
                    <label class="f12">{{'company.estimated_no_of_competitors' | translate}} *</label>
                    <div class="form-group clearfix form-group-custom">
                        <select class="form-control p0 font-control"
                                ng-model="competitor.estimated_no_of_competitors"
                                name="estimated_no_of_competitors"
                                ng-options="item.id as item.name for item in estimated_no_of_competitorsList"
                                required>
                            <!--<option value="">&#45;&#45;{{'general.general_select' | translate}}&#45;&#45;</option>-->
                            <!--ng-init="customers.contact_number_isd=customers.contact_number_isd?customers.contact_number_isd:ISDCodes[0].isd_code+''"-->
                        </select>
                    </div>
                    <div ng-show="competitorsForm.estimated_no_of_competitors.$error.required && competitorsForm.$submitted "
                         class="error-message">
                        {{'general.general_this_field_is_required' | translate}}
                    </div>
                </div>
            </div>
            <div class="col-sm-12" >
                <div class="clearfix">
                    <label class="control-label">{{'company.competitors' | translate}}</label>
                </div>
                <div class="clearfix"></div>
                <div class="table-wrapper p0 c-table pt5 table-responsive">
                    <table class="table table-striped table-bordered table-hover display table-style">
                        <thead>
                        <tr>
                            <th>{{'company.name' | translate}}</th>
                            <th>{{'company.price' | translate}}</th>
                            <th>{{'company.brand' | translate}}</th>
                            <th>{{'company.size' | translate}}</th>
                            <th style="width: 5%">{{'action' | translate}}</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="row in competitor.child_data" ng-show="row.status=='1'" ng-if="competitor.child_data.length>0">
                            <td>{{row.name}} </td>
                            <td>{{row.price_text}} </td>
                            <td>{{row.brand_text}} </td>
                            <td>{{row.size_text}}</td>
                            <td>
                                <div class="clearfix pagination-wrap">
                                    <ul class="icons-wrap text-line pull-left">
                                        <li><a href="javascript:;" ng-click="addCompetitors(row)" class="fa fa-edit"
                                               uib-tooltip="Edit"
                                               n-t='{"e_n":"Edit Competitors {{sectionName}}","e_d":"Company - {{companyInfo.company_name}}"}'></a>
                                        </li>
                                        <li><a href="javascript:;" class="fa fa-trash" ng-click="removeCompetitors(row)"
                                               uib-tooltip="Delete"
                                               n-t='{"e_n":"Remove Competitors {{sectionName}}","e_d":"Company - {{companyInfo.company_name}}"}'></a>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        <tr ng-if="competitor.child_data.length<=0">
                            <td colspan="5" class="text-center">{{'general.general_no_data_available' | translate}}</td>
                        </tr>
                        </tbody>

                    </table>
                    <button type="button" class="btn btn-primary btn-dark border-none f12 pull-right" data-ng-click="addCompetitors()"
                            n-t='{"e_n":"Add New Competitors {{sectionName}}","e_d":"Company - {{companyInfo.company_name}}"}'>
                        <i class="fa fa-plus-circle"></i> {{'project.add_new' | translate}}
                    </button>
                </div>
            </div>
            <div class="col-sm-12 clearfix edit-bg">
                <label class="control-label">{{'company.comment' | translate}}</label>
                <div class="form-group clearfix form-group-custom">
            <textarea class="form-control"
                      ckeditor=""
                      ng-model="competitor.comments"
                      name="comments"></textarea>
                </div>
            </div>

            <div class="col-sm-12 btn-custom clearfix text-center">
                <button class="btn btn-primary f14 next-btn" type="submit"
                        n-t='{"e_n":"Save - {{sectionName}} - {{formName}}","e_d":"Company - {{companyInfo.company_name}}", "form": "{{form.$valid}}"}'>{{'Save' | translate}}
                </button>
            </div>
        </div>
    </form>
</div>
<script type="text/ng-template" id="add-competitors.html">
    <div class="right-modal modal-custom" >
        <h3 class="right-modal-head">
            <i class="fa fa-book mr8"></i>{{title}} {{'company.competitors' | translate}}
            <a class="close-right pull-right" ng-click="cancel()" uib-tooltip="Close"
               n-t='{"e_n":"Competitors Close","e_d":"Company - {{companyInfo.company_name}}"}'><img
                    src="images/close.png"></a>
        </h3>
        <form class="form-horizontal form-bordered mt10" name="competitorsForm" novalidate ng-submit="competitorsForm.$valid && save(competitorsForm, competitors)">
            <div class="clearfix">
                <div class="col-sm-12 clearfix">
                    <div class="col-sm-6">
                        <label class="f12">{{'company.name' | translate}}*:</label>
                        <div class="form-group" >
                            <input type="text" class=" form-control" name="name"
                                   required
                                   ng-model="competitors.name">
                        </div>
                        <div ng-show="competitorsForm.name.$error.required && competitorsForm.$submitted" class="error-message">
                            {{'general.general_this_field_is_required' | translate}}
                        </div>
                    </div>
                    <div class="col-sm-6 pr3">
                        <div class="col-sm-12 pr0 pl0">
                            <div class="col-sm-5 pl0">
                                <label class="f12">{{'general.isd' | translate}} *</label>
                                <div class="form-group clearfix form-group-custom">
                                    <select class="form-control p0 font-control"
                                            ng-model="competitors.contact_number_isd"
                                            name="contact_number_isd"
                                            ng-options="item.isd_code as (item.country_name +' '+ item.isd_code) for item in ISDCodes"
                                            ng-init="competitors.contact_number_isd=competitors.contact_number_isd?competitors.contact_number_isd:ISDCodes[0].isd_code"
                                            required>
                                        <!--<option value="">&#45;&#45;{{'general.general_select' | translate}}&#45;&#45;</option>-->
                                        <!--ng-init="customers.contact_number_isd=customers.contact_number_isd?customers.contact_number_isd:ISDCodes[0].isd_code+''"-->
                                    </select>
                                </div>
                                <div ng-show="competitorsForm.contact_number_isd.$error.required && competitorsForm.$submitted "
                                     class="error-message">
                                    {{'general.general_select_isd_code' | translate}}
                                </div>
                            </div>
                            <div class="col-sm-7 pl5 pr0">
                                <label class="f12">{{'company.contact_no' | translate}} *</label>
                                <div class="form-group clearfix form-group-custom pl0">
                                    <!--<any ng-init="contact.phone_number=''"></any>-->
                                    <input type="text" class="form-control pr0 mr0" ng-model="competitors.contact_number"
                                           name="contact_number" ng-minlength="7" ng-maxlength="15" required only-digits >
                                    <div ng-show="competitorsForm.contact_number.$error.required && competitorsForm.$submitted "
                                         class="error-message">
                                        {{'general.enter_valid_phone_number'|translate}}
                                    </div>
                                    <div ng-show="!competitorsForm.contact_number.$error.required && competitorsForm.contact_number.$error.minlength && competitorsForm.$submitted "
                                         class="error-message">
                                        {{'general.enter_valid_phone_number_min7' | translate}}
                                    </div>
                                    <div ng-show="!competitorsForm.contact_number.$error.required && competitorsForm.contact_number.$error.maxlength && competitorsForm.$submitted "
                                         class="error-message">
                                        {{'general.enter_valid_phone_number_max15' | translate}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 ml20 mr10">
                    <label class="f12 ml15">{{'company.address' | translate}}:</label>
                    <div class="form-group ml15 pr10" >
                        <input type="text" class=" form-control" name="address"
                               ng-model="competitors.address">
                    </div>
                </div>
                <div class="col-sm-12 clearfix">
                <div class="col-sm-4">
                    <label class="f12">{{'company.price' | translate}} *</label>
                    <div class="form-group clearfix form-group-custom">
                        <select class="form-control p0 font-control"
                                ng-model="competitors.priceobj"
                                name="price"
                                ng-change="competitors.price=competitors.priceobj.id;competitors.price_text=competitors.priceobj.name;"
                                ng-options="item as item.name for item in price track by item.id"
                                ng-init="competitors.price=competitors.price?competitors.price:competitors.priceobj[0].id"
                                required>
                            <!--<option value="">&#45;&#45;{{'general.general_select' | translate}}&#45;&#45;</option>-->
                            <!--ng-init="customers.contact_number_isd=customers.contact_number_isd?customers.contact_number_isd:ISDCodes[0].isd_code+''"-->
                        </select>
                    </div>
                    <div ng-show="competitorsForm.price.$error.required && competitorsForm.$submitted "
                         class="error-message">
                        {{'general.general_this_field_is_required' | translate}}
                    </div>
                </div>
                <div class="col-sm-4">
                    <label class="f12">{{'company.brand' | translate}} *</label>
                    <div class="form-group clearfix form-group-custom">
                        <select class="form-control p0 font-control"
                                ng-model="competitors.brandobj"
                                name="brand"
                                ng-change="competitors.brand=competitors.brandobj.id;competitors.brand_text=competitors.brandobj.name;"
                                ng-options="item as item.name for item in brand track by item.id"
                                required>
                            <!--<option value="">&#45;&#45;{{'general.general_select' | translate}}&#45;&#45;</option>-->
                            <!--ng-init="customers.contact_number_isd=customers.contact_number_isd?customers.contact_number_isd:ISDCodes[0].isd_code+''"-->
                        </select>
                    </div>
                    <div ng-show="competitorsForm.brand.$error.required && competitorsForm.$submitted "
                         class="error-message">
                        {{'general.general_this_field_is_required' | translate}}
                    </div>
                </div>
                <div class="col-sm-4">
                    <label class="f12">{{'company.size' | translate}} *</label>
                    <div class="form-group clearfix form-group-custom">
                        <select class="form-control p0 font-control"
                                ng-model="competitors.sizeobj"
                                name="size"
                                ng-change="competitors.size=competitors.sizeobj.id;competitors.size_text=competitors.sizeobj.name;"
                                ng-options="item as item.name for item in size track by item.id"
                                required>
                            <!--<option value="">&#45;&#45;{{'general.general_select' | translate}}&#45;&#45;</option>-->
                            <!--ng-init="customers.contact_number_isd=customers.contact_number_isd?customers.contact_number_isd:ISDCodes[0].isd_code+''"-->
                        </select>
                    </div>
                    <div ng-show="competitorsForm.size.$error.required && competitorsForm.$submitted "
                         class="error-message">
                        {{'general.general_this_field_is_required' | translate}}
                    </div>
                </div>
                </div>


            </div>
            <div class="modal-footer border-none btn-custom mb0 clearfix text-center">
                <button class="btn btn-primary f14" ng-show="!update" type="submit"
                >{{'general.add' | translate}}
                </button>
                <button class="btn btn-primary f14" ng-show="update" type="submit"
                >{{'general.save' | translate}}
                </button>
                <!--<button class="btn btn-primary f14" ng-show="!update"
                        ng-click="save(competitorsForm, customers)">{{'general.add' | translate}}
                </button>
                <button class="btn btn-primary f14" ng-show="update"
                        ng-click="save(competitorsForm, customers)">{{'general.save' | translate}}
                </button>-->
                <button class="btn btn-default f14" type="button" ng-click="cancel()">{{'Cancel' | translate}}</button>
            </div>
        </form>
    </div>
</script>