<form class="form-bordered" name="applicant_info" detect-form-change="formChangeEvent()" novalidate>
    <div class="row clearfix">
        <div class="col-sm-12 clearfix edit-bg">

            <label class="control-label gray-dark">{{'company_description_nature_of_business' | translate}}</label>
            <div class="form-group clearfix form-group-custom">
                <textarea class="form-control"
                          ckeditor=""
                          ng-model="company.company_description"
                          name="company_description"></textarea>
            </div>

        </div>
        <div class="col-sm-12 clearfix edit-bg">
            <label class="control-label gray-dark">{{'history_of_business' | translate}}</label>
            <div class="form-group clearfix form-group-custom">
                <textarea class="form-control"
                          ckeditor=""
                          ng-model="company.company_business_history"
                          name="company_business_history"></textarea>
            </div>

        </div>
        <!--
     <div class="col-sm-12 clearfix">

         <label class="control-label">Background on Country Risk	</label>
         <div class="form-group clearfix form-group-custom">
             <textarea placeholder="Comments" name="business_background_on_country_risk" kendo-editor k-tools="{{kendoOptions}}" k-ng-model="company.business_background_on_country_risk" class="width-full min-height70 p10 f12" ></textarea>
         </div>

     </div>
<div class="col-sm-12 clearfix">

         <label class="control-label">Background on Sector/Industry/Business Risk</label>
         <div class="form-group clearfix form-group-custom">
             <textarea placeholder="Comments" name="business_background_on_business_risk" kendo-editor k-tools="{{kendoOptions}}" k-ng-model="company.business_background_on_business_risk" class="width-full min-height70 p10 f12" ></textarea>
         </div>

     </div>
     <div class="col-sm-12 clearfix">

         <label class="control-label">Management Assessment</label>
         <div class="form-group clearfix form-group-custom">
             <textarea placeholder="Comments" name="business_management_assessment" kendo-editor k-tools="{{kendoOptions}}" k-ng-model="company.business_management_assessment" class="width-full min-height70 p10 f12" ></textarea>
         </div>

     </div>-->
        <div class="col-sm-12 clearfix edit-bg">
            <label class="control-label gray-dark">{{'products_and_services_of_the_company' | translate}}</label>
            <div class="form-group clearfix form-group-custom">
                <textarea class="form-control"
                          ckeditor=""
                          ng-model="company.company_products_services"
                          name="company_products_services"></textarea>
            </div>
        </div>
        <div class="col-sm-12 clearfix p0">
            <div class="col-sm-6">
                <label class="control-label">{{'total_number_of_employees' | translate}}</label>
                <div class="form-group clearfix form-group-custom">
                    <input type="text" class="form-control" name="company_total_number_of_employees"
                           ng-model="company.company_total_number_of_employees" ui-number-mask="0">
                </div>
            </div>
            <div class="col-sm-6">
                <label class="control-label">{{'number_of_male_employees' | translate}}</label>
                <div class="form-group clearfix form-group-custom">
                    <input type="text" class="form-control" name="company_number_of_male_employees"
                           ng-model="company.company_number_of_male_employees" ui-number-mask="0">
                </div>
            </div>
            <div class="col-sm-6">
                <label class="control-label">{{'number_of_female_employees' | translate}}</label>
                <div class="form-group clearfix form-group-custom">
                    <input type="text" class="form-control" name="company_number_of_female_employees"
                           ng-model="company.company_number_of_female_employees" ui-number-mask="0">
                </div>
            </div>
            <div class="col-sm-6">
                <label class="control-label">{{'number_of_expatriates' | translate}}</label>
                <div class="form-group clearfix form-group-custom">
                    <input type="text" class="form-control" name="company_number_of_expatriates"
                           ng-model="company.company_number_of_expatriates" ui-number-mask="0">
                </div>
            </div>
            <div class="col-sm-6">
                <label class="control-label">{{'number_of_skilled_employees' | translate}}</label>
                <div class="form-group clearfix form-group-custom">
                    <input type="text" class="form-control" name="company_number_of_skilled_employees"
                           ng-model="company.company_number_of_skilled_employees" ui-number-mask="0">
                </div>
            </div>
            <div class="col-sm-6">
                <label class="control-label">{{'number_of_management_staff' | translate}}</label>
                <div class="form-group clearfix form-group-custom">
                    <input type="text" class="form-control" name="company_number_of_management_staff"
                           ng-model="company.company_number_of_management_staff" ui-number-mask="0">
                </div>
            </div>
        </div>
        <div class="col-sm-12 clearfix edit-bg">

            <label class="control-label gray-dark">{{'business_and_industry_description' | translate}}</label>
            <!--<div class="form-group clearfix form-group-custom">
                <textarea name="company_business_background" ckeditor="" k-tools="{{kendoOptions}}" ng-model="company.company_business_background" class="width-full min-height70 p10 f12" ></textarea>
            </div>-->
            <div class="form-group clearfix form-group-custom">
                <textarea class="form-control"
                          ckeditor=""
                          ng-model="company.company_business_industry_description"
                          name="company_business_industry_description"></textarea>
            </div>

        </div>
        <div class="col-sm-12 clearfix edit-bg">

            <label class="control-label gray-dark">{{'corporate_structure_and_organization' | translate}}</label>
            <div class="form-group clearfix form-group-custom">
                <textarea class="form-control"
                          ckeditor=""
                          ng-model="company.company_corporate_structure_and_organization"
                          name="company_corporate_structure_and_organization"></textarea>
            </div>

        </div>
        <div class="col-sm-12 clearfix edit-bg">

            <label class="control-label gray-dark">{{'justification_for_the_request_credit_consideration' | translate}} </label>
            <div class="form-group clearfix form-group-custom">
                <textarea class="form-control"
                          ckeditor=""
                          ng-model="company.company_justification_for_request_consideration"
                          name="company_justification_for_request_consideration"></textarea>
            </div>

        </div>
        <div class="col-sm-12 clearfix edit-bg">

            <label class="control-label gray-dark">{{'external_market_data' | translate}} </label>
            <div class="form-group clearfix form-group-custom">
                <textarea class="form-control"
                          ckeditor=""
                          ng-model="company.company_external_market_data"
                          name="company_external_market_data"></textarea>
            </div>

        </div>

        <div class="col-sm-12 btn-custom clearfix text-center" ng-if="permission[form_key+'_add']">
            <button class="btn btn-primary f14 next-btn" type="submit"
                    n-t='{"e_n":"Save Company Description","e_d":"Company - {{companyInfo.company_name}}","form":"applicant_info.$valid"}'
                    ng-click="submitForm(company,formDetails,applicant_info)" tab-next>{{'general.general_save' | translate}}
            </button>
        </div>
    </div>
</form>