<div ng-controller="companySalesDirectcostEstimate">
    <form novalidate name="form" detect-form-change="formChangeEvent()">
        <div class="sales-estimate-table">
            <table class="table">
        <thead>
        <tr>
            <th colspan="3">
                {{'company.sales_estimates' | translate}}
                <span class="pull-right">
                    <div class="form-inline">
                        <div class="form-group">
                            <label >{{'company.currency' | translate}}</label>
                            <div class="form-group clearfix form-group-custom">
                                <select class="form-control" name="currency"
                                        ng-model="company.salesData.currency"
                                        ng-change="company.salesData.currency_id=company.salesData.currency.currency_id"
                                        ng-options="item as item.currency_code for item in currecnyList track by item.currency_id"
                                        required>
                                </select>
                            </div>
                        </div>
                    </div>
                </span>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td><label class="f12 pt2 mt15">{{'company.daily' | translate}}</label></td>
            <td>
                <div class="income-div">
                    <span class="income-text">{{'company.income' | translate}}</span>
                    <div class="form-inline">
                        <div class="form-group">
                            <label >{{'company.good_day' | translate}}</label>
                            <input type="number" class="form-control" ng-model="company.salesData.sales_estimates.dailydata.income.good_day" name="">
                        </div>
                        <div class="form-group">
                            <label >{{'company.normal_day' | translate}}</label>
                            <input type="number" class="form-control" ng-model="company.salesData.sales_estimates.dailydata.income.normal_day" name="">
                        </div>
                        <div class="form-group">
                            <label >{{'company.bad_day' | translate}}</label>
                            <input type="number" class="form-control" ng-model="company.salesData.sales_estimates.dailydata.income.bad_day" name="">
                        </div>
                    </div>
                </div>
            </td>
            <td></td>
        </tr>
        <tr>
            <td><label class="f12 pt2 mt15">{{'company.weekly' | translate}}</label></td>
            <td>
                <div class="income-div" >
                    <span class="income-text">{{'company.income' | translate}}</span>
                    <div class="form-inline">
                        <div class="form-group">
                            <label >Sun</label>
                            <input type="number" class="form-control" ng-model="company.salesData.sales_estimates.weeklydata.income.sun" name="">
                        </div>
                        <div class="form-group">
                            <label >Mon</label>
                            <input type="number" class="form-control" ng-model="company.salesData.sales_estimates.weeklydata.income.mon" name="">
                        </div>
                        <div class="form-group">
                            <label >Tue</label>
                            <input type="number" class="form-control" ng-model="company.salesData.sales_estimates.weeklydata.income.tue" name="">
                        </div>
                        <div class="form-group">
                            <label >Wed</label>
                            <input type="number" class="form-control" ng-model="company.salesData.sales_estimates.weeklydata.income.wed" name="">
                        </div>
                        <div class="form-group">
                            <label >Thur</label>
                            <input type="number" class="form-control" ng-model="company.salesData.sales_estimates.weeklydata.income.thur" name="">
                        </div>
                        <div class="form-group">
                            <label >Fri</label>
                            <input type="number" class="form-control" ng-model="company.salesData.sales_estimates.weeklydata.income.fri" name="">
                        </div>
                        <div class="form-group">
                            <label >Sat</label>
                            <input type="number" class="form-control" ng-model="company.salesData.sales_estimates.weeklydata.income.sat" name="">
                        </div>
                    </div>
                </div>
                <div class="income-div">
                    <span class="income-text">Direct Cost</span>
                    <div class="form-inline">
                        <div class="form-group">
                            <input type="number" class="form-control" ng-model="company.salesData.sales_estimates.weeklydata.direct_cost.sun" name="">
                        </div>
                        <div class="form-group">
                            <input type="number" class="form-control" ng-model="company.salesData.sales_estimates.weeklydata.direct_cost.mon" name="">
                        </div>
                        <div class="form-group">
                            <input type="number" class="form-control" ng-model="company.salesData.sales_estimates.weeklydata.direct_cost.tue" name="">
                        </div>
                        <div class="form-group">
                            <input type="number" class="form-control" ng-model="company.salesData.sales_estimates.weeklydata.direct_cost.wed" name="">
                        </div>
                        <div class="form-group">
                            <input type="number" class="form-control" ng-model="company.salesData.sales_estimates.weeklydata.direct_cost.thur" name="">
                        </div>
                        <div class="form-group">
                            <input type="number" class="form-control" ng-model="company.salesData.sales_estimates.weeklydata.direct_cost.fri" name="">
                        </div>
                        <div class="form-group">
                            <input type="number" class="form-control" ng-model="company.salesData.sales_estimates.weeklydata.direct_cost.sat" name="">
                        </div>
                    </div>
                </div>
                <div class="text-right"><span class="f12 bold">Total</span></div>
            </td>
            <td>
                <div class="form-group">
                    <label >Total</label>
                    <input type="number" class="form-control" name="" disabled
                           ng-model="company.salesData.sales_estimates.weeklydata.income.tot=(company.salesData.sales_estimates.weeklydata.income.sun+
                    company.salesData.sales_estimates.weeklydata.income.mon+
                    company.salesData.sales_estimates.weeklydata.income.tue+
                    company.salesData.sales_estimates.weeklydata.income.wed+
                    company.salesData.sales_estimates.weeklydata.income.thur+
                    company.salesData.sales_estimates.weeklydata.income.fri+
                    company.salesData.sales_estimates.weeklydata.income.sat)">
                    <input type="number" class="form-control" name="" disabled
                           ng-model="company.salesData.sales_estimates.weeklydata.direct_cost.tot=(company.salesData.sales_estimates.weeklydata.direct_cost.sun+
                    company.salesData.sales_estimates.weeklydata.direct_cost.mon+
                    company.salesData.sales_estimates.weeklydata.direct_cost.tue+
                    company.salesData.sales_estimates.weeklydata.direct_cost.wed+
                    company.salesData.sales_estimates.weeklydata.direct_cost.thur+
                    company.salesData.sales_estimates.weeklydata.direct_cost.fri+
                    company.salesData.sales_estimates.weeklydata.direct_cost.sat)">
                    <input type="number" class="form-control" name="" disabled
                    value="{{company.salesData.sales_estimates.weeklydata.direct_cost.tot+company.salesData.sales_estimates.weeklydata.income.tot}}">
                </div>
            </td>
        </tr>
        <tr>
            <td><label class="f12 pt2 mt15">Monthly</label></td>
            <td>
                <div class="income-div">
                    <span class="income-text">income</span>
                    <div class="form-inline">
                        <div class="form-group">
                            <label >Week1</label>
                            <input type="number" class="form-control" ng-model="company.salesData.sales_estimates.monthlydata.income.week1" name="">
                        </div>
                        <div class="form-group">
                            <label >Week2</label>
                            <input type="number" class="form-control" ng-model="company.salesData.sales_estimates.monthlydata.income.week2" name="">
                        </div>
                        <div class="form-group">
                            <label >Week3</label>
                            <input type="number" class="form-control" ng-model="company.salesData.sales_estimates.monthlydata.income.week3" name="">
                        </div>
                        <div class="form-group">
                            <label >Week4</label>
                            <input type="number" class="form-control" ng-model="company.salesData.sales_estimates.monthlydata.income.week4" name="">
                        </div>
                    </div>
                </div>
                <div class="income-div">
                    <span class="income-text">Direct Cost</span>
                    <div class="form-inline">
                        <div class="form-group">
                            <input type="number" class="form-control" ng-model="company.salesData.sales_estimates.monthlydata.direct_cost.week1" name="">
                        </div>
                        <div class="form-group">
                            <input type="number" class="form-control" ng-model="company.salesData.sales_estimates.monthlydata.direct_cost.week2" name="">
                        </div>
                        <div class="form-group">
                            <input type="number" class="form-control" ng-model="company.salesData.sales_estimates.monthlydata.direct_cost.week3" name="">
                        </div>
                        <div class="form-group">
                            <input type="number" class="form-control" ng-model="company.salesData.sales_estimates.monthlydata.direct_cost.week4" name="">
                        </div>
                    </div>
                </div>
                <div class="text-right"><span class="f12 bold">Total</span></div>
            </td>
            <td>
                <div class="form-group">
                    <label style="visibility: hidden">Total</label>
                    <input type="number" class="form-control" disabled
                           ng-model="company.salesData.sales_estimates.monthlydata.income.tot=(company.salesData.sales_estimates.monthlydata.income.week1+
                    company.salesData.sales_estimates.monthlydata.income.week2+
                    company.salesData.sales_estimates.monthlydata.income.week3+
                    company.salesData.sales_estimates.monthlydata.income.week4)" name="">
                    <input type="number" class="form-control" disabled
                           ng-model="company.salesData.sales_estimates.monthlydata.direct_cost.tot=(company.salesData.sales_estimates.monthlydata.direct_cost.week1+
                    company.salesData.sales_estimates.monthlydata.direct_cost.week2+
                    company.salesData.sales_estimates.monthlydata.direct_cost.week3+
                    company.salesData.sales_estimates.monthlydata.direct_cost.week4)" name="">
                    <input type="number" class="form-control" disabled value="{{company.salesData.sales_estimates.monthlydata.income.tot+company.salesData.sales_estimates.monthlydata.direct_cost.tot}}" name="">
                </div>
            </td>
        </tr>
        <tr>
            <td><label class="f12 pt2 mt15">Annual</label></td>
            <td>
                <div class="income-div">
                    <span class="income-text">income</span>
                    <div class="form-inline">
                        <div class="form-group">
                            <label >1</label>
                            <input type="number" class="form-control" ng-model="company.salesData.sales_estimates.annualdata.income.data1" name="">
                        </div>
                        <div class="form-group">
                            <label >2</label>
                            <input type="number" class="form-control" ng-model="company.salesData.sales_estimates.annualdata.income.data2" name="">
                        </div>
                        <div class="form-group">
                            <label >3</label>
                            <input type="number" class="form-control" ng-model="company.salesData.sales_estimates.annualdata.income.data3" name="">
                        </div>
                        <div class="form-group">
                            <label >4</label>
                            <input type="number" class="form-control" ng-model="company.salesData.sales_estimates.annualdata.income.data4" name="">
                        </div>
                        <div class="form-group">
                            <label >5</label>
                            <input type="number" class="form-control" ng-model="company.salesData.sales_estimates.annualdata.income.data5" name="">
                        </div>
                        <div class="form-group">
                            <label >6</label>
                            <input type="number" class="form-control" ng-model="company.salesData.sales_estimates.annualdata.income.data6" name="">
                        </div>
                    </div>
                </div>
                <div class="income-div" style="margin-bottom: 30px;">
                    <span class="income-text">Direct Cost</span>
                    <div class="form-inline">
                        <div class="form-group">
                            <input type="number" class="form-control" ng-model="company.salesData.sales_estimates.annualdata.direct_cost.data1" name="">
                        </div>
                        <div class="form-group">
                            <input type="number" class="form-control" ng-model="company.salesData.sales_estimates.annualdata.direct_cost.data2" name="">
                        </div>
                        <div class="form-group">
                            <input type="number" class="form-control" ng-model="company.salesData.sales_estimates.annualdata.direct_cost.data3" name="">
                        </div>
                        <div class="form-group">
                            <input type="number" class="form-control" ng-model="company.salesData.sales_estimates.annualdata.direct_cost.data4" name="">
                        </div>
                        <div class="form-group">
                            <input type="number" class="form-control" ng-model="company.salesData.sales_estimates.annualdata.direct_cost.data5" name="">
                        </div>
                        <div class="form-group">
                            <input type="number" class="form-control" ng-model="company.salesData.sales_estimates.annualdata.direct_cost.data6" name="">
                        </div>
                    </div>
                </div>

            </td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td>
                <div class="income-div">
                    <span class="income-text">income</span>
                    <div class="form-inline">
                        <div class="form-group">
                            <label >7</label>
                            <input type="number" class="form-control" ng-model="company.salesData.sales_estimates.annualdata.income.data7" name="">
                        </div>
                        <div class="form-group">
                            <label >8</label>
                            <input type="number" class="form-control" ng-model="company.salesData.sales_estimates.annualdata.income.data8" name="">
                        </div>
                        <div class="form-group">
                            <label >9</label>
                            <input type="number" class="form-control" ng-model="company.salesData.sales_estimates.annualdata.income.data9" name="">
                        </div>
                        <div class="form-group">
                            <label >10</label>
                            <input type="number" class="form-control" ng-model="company.salesData.sales_estimates.annualdata.income.data10" name="">
                        </div>
                        <div class="form-group">
                            <label >11</label>
                            <input type="number" class="form-control" ng-model="company.salesData.sales_estimates.annualdata.income.data11" name="">
                        </div>
                        <div class="form-group">
                            <label >12</label>
                            <input type="number" class="form-control" ng-model="company.salesData.sales_estimates.annualdata.income.data12" name="">
                        </div>
                    </div>
                </div>
                <div class="income-div">
                    <span class="income-text">Direct Cost</span>
                    <div class="form-inline">
                        <div class="form-group">
                            <input type="number" class="form-control" ng-model="company.salesData.sales_estimates.annualdata.direct_cost.data7" name="">
                        </div>
                        <div class="form-group">
                            <input type="number" class="form-control" ng-model="company.salesData.sales_estimates.annualdata.direct_cost.data8" name="">
                        </div>
                        <div class="form-group">
                            <input type="number" class="form-control" ng-model="company.salesData.sales_estimates.annualdata.direct_cost.data9" name="">
                        </div>
                        <div class="form-group">
                            <input type="number" class="form-control" ng-model="company.salesData.sales_estimates.annualdata.direct_cost.data10" name="">
                        </div>
                        <div class="form-group">
                            <input type="number" class="form-control" ng-model="company.salesData.sales_estimates.annualdata.direct_cost.data11" name="">
                        </div>
                        <div class="form-group">
                            <input type="number" class="form-control" ng-model="company.salesData.sales_estimates.annualdata.direct_cost.data12" name="">
                        </div>
                    </div>
                </div>
                <div class="text-right"><span class="f12 bold">Total</span></div>
            </td>
            <td>
                <div class="form-group">
                    <label style="visibility: hidden">Total</label>
                    <input type="text" class="form-control" ng-model="company.salesData.sales_estimates.annualdata.income.tot=(company.salesData.sales_estimates.annualdata.income.data1+
                           company.salesData.sales_estimates.annualdata.income.data2+
                           company.salesData.sales_estimates.annualdata.income.data3+
                           company.salesData.sales_estimates.annualdata.income.data4+
                           company.salesData.sales_estimates.annualdata.income.data5+
                           company.salesData.sales_estimates.annualdata.income.data6+
                           company.salesData.sales_estimates.annualdata.income.data7+
                           company.salesData.sales_estimates.annualdata.income.data8+
                           company.salesData.sales_estimates.annualdata.income.data9+
                           company.salesData.sales_estimates.annualdata.income.data10+
                           company.salesData.sales_estimates.annualdata.income.data11+
                           company.salesData.sales_estimates.annualdata.income.data12)" name="" disabled>
                    <input type="text" class="form-control"
                           ng-model="company.salesData.sales_estimates.annualdata.direct_cost.tot=(company.salesData.sales_estimates.annualdata.direct_cost.data1+
                           company.salesData.sales_estimates.annualdata.direct_cost.data2+
                           company.salesData.sales_estimates.annualdata.direct_cost.data3+
                           company.salesData.sales_estimates.annualdata.direct_cost.data4+
                           company.salesData.sales_estimates.annualdata.direct_cost.data5+
                           company.salesData.sales_estimates.annualdata.direct_cost.data6+
                           company.salesData.sales_estimates.annualdata.direct_cost.data7+
                           company.salesData.sales_estimates.annualdata.direct_cost.data8+
                           company.salesData.sales_estimates.annualdata.direct_cost.data9+
                           company.salesData.sales_estimates.annualdata.direct_cost.data10+
                           company.salesData.sales_estimates.annualdata.direct_cost.data11+
                           company.salesData.sales_estimates.annualdata.direct_cost.data12)" name="" disabled>
                    <input type="text" class="form-control" disabled value="{{company.salesData.sales_estimates.annualdata.income.tot+company.salesData.sales_estimates.annualdata.direct_cost.tot}}" name="">
                </div>
            </td>
        </tr>
        </tbody>
    </table>
        </div>

        <div class="col-sm-12 clearfix edit-bg">
            <label class="control-label">{{'company.comment' | translate}}</label>
            <div class="form-group clearfix form-group-custom">
                        <textarea class="form-control"
                                  ckeditor=""
                                  ng-model="company.salesData.sales_estimates.comments"
                                  name="comments"></textarea>
            </div>
        </div>
        <div class="table-wrapper p0 c-table pt5 table-responsive" ng-show="company.salesData.child_data">
            <label>{{'company.most_selling_product' | translate}}</label>
            <table class="table table-striped table-bordered table-hover display table-style">
                <thead>
                <tr>
                    <th >{{'company.product_name' | translate}}</th>
                    <th class="text-right">{{'company.units_sold' | translate}}</th>
                    <th class="text-right">{{'company.price_per_unit' | translate}}</th>
                    <th class="text-right">{{'company.total_sales' | translate}}</th>
                    <th class="text-right">{{'company.per_of_total_sales' | translate}}</th>
                    <th class="">{{'company.action' | translate}}</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="row in company.salesData.child_data" ng-show="row.status=='1'" ng-if="company.salesData.child_data.length>0">
                    <td>{{row.product_name}}</td>
                    <td class="text-right">{{row.units_sold | currency:""}}</td>
                    <td class="text-right">{{row.price_per_unit | currency:""}}</td>
                    <td class="text-right">{{company.company_overhead_fields.currency.currency_code}} {{row.total_sales | currency:""}}</td>
                    <td class="text-right">{{row.total_sales_percentage | currency:""}}</td>
                    <td class="">
                        <div class="clearfix pagination-wrap">
                            <ul class="icons-wrap text-line pull-left">
                                <li><a href="javascript:;" ng-click="addProduct(row)" class="fa fa-pencil"
                                       uib-tooltip="Edit"
                                       n-t='{"e_n":"Edit Customer Fields {{sectionName}}","e_d":"Company - {{companyInfo.company_name}}"}'></a>
                                </li>
                                <li><a href="javascript:;" class="fa fa-trash" ng-click="removeProduct(row)"
                                       uib-tooltip="Delete"
                                       n-t='{"e_n":"Delete customer Fields {{sectionName}}","e_d":"Company - {{companyInfo.company_name}}"}'></a>
                                </li>
                            </ul>
                        </div>
                    </td>
                </tr>
                <tr ng-if="company.salesData.child_data.length<=0">
                    <td colspan="6" class="text-center">{{'general.general_no_data_available' | translate}}</td>
                </tr>
                </tbody>

            </table>
            <button type="button" class="btn btn-primary btn-dark border-none f12 pull-right" data-ng-click="addProduct()"
                    n-t='{"e_n":"Add Customer Fields {{sectionName}}","e_d":"Company - {{companyInfo.company_name}}"}'>
                <i class="fa fa-plus-circle"></i> {{'project.add_new' | translate}}
            </button>
        </div>
    <div class="col-sm-12 btn-custom clearfix text-center">
        <button class="btn btn-primary f14 next-btn" data-ng-click="submit(company.salesData)"
                n-t='{"e_n":"Company - Save {{form_name}} - {{sectionName}}","e_d":"Company - {{companyInfo.company_name}}","form":"form.$valid"}'>{{'Save' | translate}}</button>
    </div>
    </form>
</div>
<script type="text/ng-template" id="add-product-form.html">
    <div class="right-modal clearfix modal-custom">
        <h3 class="right-modal-head ng-binding">
            {{title}} {{'company.product' | translate}}
            <a ng-click="cancel()" uib-tooltip="Close" class="close-right pull-right"
               n-t='{"e_n":"Close {{title}} modal","e_d":"Company - {{companyInfo.company_name}}"}'><img src="images/close.png"></a>
        </h3>
        <form class="form-horizontal form-bordered mt10"  name="customerForm" >
            <div class="row clearfix">
                <div class="col-sm-12 clearfix">
                    <div class="col-sm-6">
                        <label class="control-label">{{'company.product_name' | translate}} *</label>
                        <div class="form-group clearfix form-group-custom">
                            <input type="text" class="form-control" ng-model="child_data.product_name"
                                   name="product_name" required>
                            <div ng-if="customerForm.product_name.$error.required && !submitStatus" class="error-message">
                                {{'general.general_this_field_is_required' | translate}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 clearfix">
                    <div class="col-sm-6">
                        <label class="control-label">{{'company.units_sold' | translate}} *</label>
                        <div class="form-group clearfix form-group-custom">
                            <input type="text" class="form-control" ng-model="child_data.units_sold"
                                   name="units_sold" required ui-number-mask="2">
                            <div ng-if="customerForm.units_sold.$error.required && !submitStatus" class="error-message">
                                {{'general.general_this_field_is_required' | translate}}
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <label class="control-label">{{'company.price_per_unit' | translate}} *</label>
                        <div class="form-group clearfix form-group-custom">
                            <input type="text" class="form-control" ng-model="child_data.price_per_unit"
                                   name="price_per_unit" required ui-number-mask="2">
                            <div ng-if="customerForm.price_per_unit.$error.required && !submitStatus" class="error-message">
                                {{'general.general_this_field_is_required' | translate}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 clearfix">
                    <div class="col-sm-6">
                        <label class="control-label">{{'company.total_sales' | translate}} *</label>
                        <div class="form-group clearfix form-group-custom">
                            <input type="text" class="form-control" ng-model="child_data.total_sales"
                                   name="total_sales" required ui-number-mask="2">
                            <div ng-if="customerForm.total_sales.$error.required && !submitStatus" class="error-message">
                                {{'general.general_this_field_is_required' | translate}}
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <label class="control-label">{{'company.total_sales_percentage' | translate}} *</label>
                        <div class="form-group clearfix form-group-custom">
                            <input type="text" class="form-control" ng-model="child_data.total_sales_percentage"
                                   name="total_sales_percentage" required ui-number-mask="2" max="100" >
                            <div ng-if="customerForm.total_sales_percentage.$error.required && !submitStatus" class="error-message">
                                {{'general.general_this_field_is_required' | translate}}
                            </div>
                            <div ng-if="customerForm.total_sales_percentage.$error.max && !submitStatus" class="error-message">
                                {{'general.percentage_should_between' | translate}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <!--ng-if="permission[form_key+'_add']"-->
        <div class="modal-footer border-none btn-custom mb0 clearfix text-center" >
            <button ng-if="!update" class="btn btn-primary f14" ng-click="save(customerForm, child_data)"
                    n-t='{"e_n":"Add {{title}} modal","e_d":"Company - {{companyInfo.company_name}}","form": "{{form.$valid}}"}'>{{'general.add' | translate}}</button>
            <button ng-if="update" class="btn btn-primary f14" ng-click="customerForm.$valid &&cancel()"
                    n-t='{"e_n":"Update {{title}} modal","e_d":"Company - {{companyInfo.company_name}}","form": "{{form.$valid}}"}'>{{'Update' | translate}}</button>
            <button class="btn btn-default f14" type="button" ng-click="cancel()"
                    n-t='{"e_n":"Cancel {{title}} modal","e_d":"Company - {{companyInfo.company_name}}"}'>{{'Cancel' | translate}}</button>
        </div>
    </div>
</script>