<div class="col-sm-12 clearfix p0">
    <div class="col-sm-12" data-ng-controller="companyOverheadCtrl">
        <form novalidate name="form" detect-form-change="formChangeEvent()">
            <div class="col-sm-12 btn-custom clearfix text-center">
                <span class="pull-right">
                    <div class="form-inline">
                        <div class="form-group">
                            <label >{{'company.currency' | translate}}</label>
                            <div class="form-group clearfix form-group-custom">
                                <select class="form-control" name="currency"
                                        ng-model="company.company_overhead_fields.currency"
                                        ng-change="company.company_overhead_fields.currency_id=company.company_overhead_fields.currency.currency_id"
                                        ng-options="item as item.currency_code for item in currecnyList track by item.currency_id"
                                        required>
                                </select>
                            </div>
                        </div>
                    </div>
                </span>
            </div>
            <div class="table-wrapper p0 c-table pt5 table-responsive">
                <table class="table table-striped table-bordered table-hover display table-style">
                    <thead>
                    <tr>
                        <th >{{'company.description' | translate}}</th>
                        <th >{{'company.category' | translate}} </th>
                        <th class="text-right">{{'company.monthly_cost' | translate}}</th>
                        <th class="text-center">{{'company.action' | translate}}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="row in company.company_overhead_fields.child_data"
                        ng-if="company.company_overhead_fields.child_data.length>0"
                        ng-show="row.status=='1'">
                        <td>{{row.description}}</td>
                        <td>{{row.category_id_text}}</td>
                        <td class="text-right">{{company.company_overhead_fields.currency.currency_code}} {{row.monthly_cost| currency:""}}</td>
                        <td>
                            <div class="clearfix pagination-wrap pull-right">
                                <ul class="icons-wrap text-line pull-left">
                                    <li><a href="javascript:;" ng-click="addCustomerCategory(row)" class="fa fa-pencil"
                                           uib-tooltip="Edit"
                                           n-t='{"e_n":"Edit Customer Fields {{sectionName}}","e_d":"Company - {{companyInfo.company_name}}"}'></a>
                                    </li>
                                    <li><a href="javascript:;" class="fa fa-trash" ng-click="removeItem(row)"
                                           uib-tooltip="Delete"
                                           n-t='{"e_n":"Delete customer Fields {{sectionName}}","e_d":"Company - {{companyInfo.company_name}}"}'></a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    <tr ng-if="company.company_overhead_fields.child_data.length<=0">
                        <td colspan="5" class="text-center">{{'general.general_no_data_available' | translate}}</td>
                    </tr>
                    </tbody>

                </table>
                <button type="button" class="btn btn-primary btn-dark border-none f12 pull-right" data-ng-click="addCustomerCategory()"
                        n-t='{"e_n":"Add Customer Fields {{sectionName}}","e_d":"Company - {{companyInfo.company_name}}"}'>
                    <i class="fa fa-plus-circle"></i> {{'project.add_new' | translate}}
                </button>
                <div class="col-sm-12 clearfix edit-bg">
                    <label class="control-label">{{'company.comment' | translate}}</label>
                    <div class="form-group clearfix form-group-custom">
                        <textarea class="form-control"
                                  ckeditor=""
                                  ng-model="company.company_overhead_fields.comments"
                                  name="company_core_information"></textarea>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 btn-custom clearfix text-center">
                <button class="btn btn-primary f14 next-btn" data-ng-click="submit(company.company_overhead_fields)"
                        n-t='{"e_n":"Company - Save {{form_name}} - {{sectionName}}","e_d":"Company - {{companyInfo.company_name}}","form":"form.$valid"}'>{{'Save' | translate}}</button>
            </div>
        <div class="table-wrapper p0 c-table pt5 table-responsive" ng-show="company.company_overhead_fields.summary">
            <label>{{'company.summary' | translate}}</label>
            <table class="table table-striped table-bordered table-hover display table-style">
                <thead>
                <tr>
                    <th >{{'company.summary' | translate}}</th>
                    <th class="text-right">{{'company.monthly_cost' | translate}}</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="row in company.company_overhead_fields.summary">
                    <td>{{row.category_id_text}}</td>
                    <td class="text-right">{{company.company_overhead_fields.currency.currency_code}} {{row.monthly_cost | currency:""}}</td>
                </tr>
                </tbody>

            </table>
        </div>
        </form>
    </div>
</div>
<script type="text/ng-template" id="add-customer-form.html">
    <div class="right-modal clearfix modal-custom">
        <h3 class="right-modal-head ng-binding">
            {{title}} {{'company.customer_category' | translate}}
            <a ng-click="cancel()" uib-tooltip="Close" class="close-right pull-right"
               n-t='{"e_n":"Close {{title}} modal","e_d":"Company - {{companyInfo.company_name}}"}'><img src="images/close.png"></a>
        </h3>
        <form class="form-horizontal form-bordered mt10"  name="form"  novalidate>
            <div class="row clearfix">
                <div class="col-sm-12 clearfix">
                    <div class="col-sm-6">
                        <label class="control-label">{{'Category' | translate}} *</label>
                        <div class="form-group clearfix form-group-custom">
                            <select class="form-control"
                                    name="category"
                                    ng-init="masterDropDownList({'master_key':'company_overhead_cost_estimate_category'})"
                                    ng-model="customerfield.category"
                                    ng-change="customerfield.category_id=customerfield.category.id;customerfield.category_id_text=customerfield.category.name"
                                    ng-options="item as item.name for item in dropDownItems['company_overhead_cost_estimate_category'] track by item.id" required>
                                <option value="">{{'general.general_select' | translate}}</option>
                            </select>
                        </div>
                        <div ng-if="form.category.$error.required && !submitStatus" class="error-message">
                            {{'general.general_this_field_is_required' | translate}}
                        </div>
                    </div>
                    <!--<div class="col-sm-4">
                        <label class="control-label">{{'company.currency' | translate}} *</label>
                        <div class="form-group clearfix form-group-custom">
                            <select class="form-control" name="currency"
                                    ng-model="customerfield.monthly_cost_currency_id"
                                    ng-options="item.id_company_currency as item.currency_code for item in currecnyList" required>
                                <option value="">&#45;&#45;{{'general.general_select' | translate}}&#45;&#45;</option>
                            </select>
                        </div>
                        <div ng-if="form.currency.$error.required && submitStatus" class="error-message">
                            {{'general.general_this_field_is_required' | translate}}
                        </div>
                    </div>-->
                    <div class="col-sm-4">
                        <label class="control-label">{{'company.monthly_cost' | translate}} *</label>
                        <div class="form-group clearfix form-group-custom">
                            <input type="text" class="form-control" ng-model="customerfield.monthly_cost"
                                   name="monthly_cost" required  ui-number-mask="2">
                            <div ng-if="form.monthly_cost.$error.required && !submitStatus" class="error-message">
                                {{'general.general_this_field_is_required' | translate}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 clearfix">
                    <div class="col-sm-12">
                        <label class="control-label">{{'Description' | translate}} *</label>
                        <div class="form-group clearfix form-group-custom md5">
                            <input type="text" class="form-control" ng-model="customerfield.description" name="description" required>

                            <div ng-if="form.description.$error.required && !submitStatus" class="error-message">
                                {{'general.general_this_field_is_required' | translate}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        <!--ng-if="permission[form_key+'_add']"-->
        <div class="modal-footer border-none btn-custom mb0 clearfix text-center" >
            <button ng-if="!update" class="btn btn-primary f14" ng-click="save(customerfield,form)"
                    n-t='{"e_n":"Add {{title}} modal","e_d":"Company - {{companyInfo.company_name}}","form": "{{form.$valid}}"}'>{{'general.add' | translate}}</button>
            <button ng-if="update" class="btn btn-primary f14" ng-click="form.$valid &&cancel()"
                    n-t='{"e_n":"Update {{title}} modal","e_d":"Company - {{companyInfo.company_name}}","form": "{{form.$valid}}"}'>{{'Update' | translate}}</button>
            <button class="btn btn-default f14" type="button" ng-click="cancel()"
                    n-t='{"e_n":"Cancel {{title}} modal","e_d":"Company - {{companyInfo.company_name}}"}'>{{'Cancel' | translate}}</button>
        </div>
    </div>
</script>