<div class="right-modal clearfix modal-custom">

    <h3 class="right-modal-head ng-binding">
        {{title}} {{'contact.contact_types' | translate}}
        <a ng-click="cancel()"  uib-tooltip="Close" class="close-right pull-right"><img src="images/close.png"></a>
    </h3>
    <form class="form-horizontal form-bordered mt10"  name="networkForm"  novalidate>
        <div class="row clearfix">
            <div class="col-sm-12 clearfix">
                <div class="col-sm-12">
                    <label class="control-label">{{'project.type' | translate}} *</label>
                    <div class="form-group clearfix form-group-custom mb5">
                        <select class="form-control"
                                ng-options="contact.business_contact as contact.business_contact for contact in contactList"
                                name="name"
                                ng-model="business_contact_type.name" required >
                            <option value="">--{{'contact.contact_select_contact_type' | translate}}--</option>
                        </select>
                        <!--<input type="text" class="form-control" ng-model="networkDetails.name" name="name" required>-->
                        <div ng-show="networkForm.name.$error.required && submitStatus" class="error-message">
                            {{'contact.contact_select_contact_type' | translate}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 clearfix">
                <div class="col-sm-12 ">
                    <label class="control-label">{{'details' | translate}}</label>
                    <div class="form-group clearfix form-group-custom">
                        <input type="text" class="form-control" ng-model="business_contact_type.details" name="details">
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="modal-footer border-none btn-custom mb0 clearfix text-center"  ><!--ng-if="permission[form_key+'_add']"-->
        <button ng-if="!update" class="btn btn-primary f14" ng-click="save(business_contact_type,networkForm)" >{{'Submit' | translate}}</button>
        <button ng-if="update" class="btn btn-primary f14" ng-click="networkForm.$valid && cancel()">{{'Update' | translte}}</button>
        <button class="btn btn-default f14" type="button" ng-click="cancel()">{{'Cancel' | translte}}</button>
    </div>
</div>