<form class="form-bordered" name="form" novalidate detect-form-change="formChangeEvent()" ng-submit="form.$valid && submitForm(company,formDetails,form)">
<div class="col-sm-12 clearfix clearboth p0">
        <div class="col-sm-4 pl0 clearfix">
            <label class="control-label">{{'contact.credit_rating' | translate}} </label>
            <div class="form-group clearfix form-group-custom">
                <input type="text" class="form-control" name="company_credit_rating"
                       ng-model="company.company_credit_rating">
            </div>
        </div>
        <div class="col-sm-2 pl0 mt20 pt10 -ml8">
            <a href="javascript:;"
               ng-click="client_financial_credit_rating_description =!client_financial_credit_rating_description "
               uib-tooltip="add more"><i
                    class="icon-clipped-file2 f21"></i></a>
        </div>
        <div class="col-sm-12 p0 min-height120 edit-bg" ng-show="client_financial_credit_rating_description">
            <label class="control-label"> {{'Description' | translate}}: </label>
                         <textarea name="client_financial_credit_rating_description" ckeditor
                                   ng-model="company.company_credit_rating_description"
                                   class="form-control ">
                         </textarea>
        </div>
        <div class="col-sm-12 p0 clearfix">
            <div class="col-sm-4 pl0">
                <label class="control-label">{{'contact.rating_agency' | translate}} </label>
                <div class="form-group clearfix form-group-custom">
                    <select class="form-control"
                            ng-init="masterDropDownList({'master_key':'credit_rating_agency'})"
                            ng-model="company.credit_rating_agency"
                            name="credit_rating_agency"
                            ng-options="item.name as item.name for item in dropDownItems['credit_rating_agency']"
                    >
                        <option value="">--{{'general.general_select' | translate}}--</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-sm-12 p0 clearfix">

            <label class="control-label">{{'contact.credit_reference_reports' | translate}}</label>
            <attachment-view module-id="2" form-key="{{form_key}}" field-key="company_credit_reference_reports"
                             ref-id="{{currentCompanyViewId}}"></attachment-view>
        </div>
        <div class="col-sm-12 btn-custom clearfix text-center" ng-if="permission[form_key+'_add']">
            <button class="btn btn-primary f14 next-btn"
                    n-t='{"e_n":"Credit ratting - Save","e_d":"Form - {{form_name}}, section - {{sectionName}} ,Company - {{companyInfo.company_name}}","form":"form.$valid"}'>{{'Save' | translate}}</button>
        </div>
    </div>

</form>