<div class="col-sm-12 p0 clearfix">
    <label class="control-label">{{'contact.credit_experience_with_sanadcom' | translate}}</label>
    <!--<div class="col-lg-12 table-wrapper p0 c-table pt5 table-responsive" ng-controller="ExposureCtrl">
        <table class="table table-striped table-bordered table-hover display table-style" ng-init="getContactExposure({'crm_company_id':crm_company_id})">
            <thead>
            <tr>
                <th>Facility Name</th>
                <th>Contract No</th>
                <th>Exposure</th>
                <th>Status</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="row in contactExposure">
                <td>{{row.project_facility_name}}</td>
                <td>{{row.contract_id | checkEmpty}}</td>
                <td>{{row.facility_usd_amount | currency:'' | checkEmpty}}</td>
                <td>{{row.disbursed_amount | currency:'' |checkEmpty}}</td>
                <td>{{row.project_facility_status}}</td>
            </tr>
            </tbody>
        </table>
    </div>-->
    <exposure-component componet-parmes='{"crm_company_id":id_crm_company}'  componet-type="company" ></exposure-component>
</div>