<div class="right-modal clearfix modal-custom">

    <h3 class="right-modal-head ng-binding">
        {{title}} Plan
        <a ng-click="cancel()" uib-tooltip="Close" class="close-right pull-right"><img src="images/close.png"></a>
    </h3>
    <form class="form-horizontal form-bordered mt10"  name="ownershipForm"  novalidate>
        <div class="row clearfix">
            <div class="col-sm-12 clearfix">
                <div class="col-sm-12">
                    <label class="control-label">{{'Development_plan' | tranlsate}}*</label>
                    <div class="form-group clearfix form-group-custom md5">
                        <textarea type="text" class="form-control" ng-model="familyDescription.description" name="familyDescription" required></textarea>
                        <div ng-if="ownershipForm.first_name.$error.required && submitStatus" class="error-message">
                            {{'enter_description' | translate}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <div class="modal-footer border-none btn-custom mb0 clearfix text-center" ng-if="permission[form_key+'_add']">
        <button ng-if="!update" class="btn btn-primary f14" ng-click="save(familyDescription,ownershipForm)" >{{'Submit' | tranlsate}}</button>
        <button ng-if="update" class="btn btn-primary f14" ng-click="ownershipForm.$valid &&cancel()">{{'Update' | tranlsate}}</button>
        <button class="btn btn-default f14" type="button" ng-click="cancel()">{{'Cancel' | tranlsate}}</button>
    </div>
</div>