<form class="form-bordered" name="form" detect-form-change="formChangeEvent()" novalidate>
    <div class="row clearfix">
        <div class="col-sm-12">
            <div class="data-item mb30">
                <div class="data-item-header">
                    <h4 class="text-capitalize clearfix light-yellow"><span class="box-text light-y-bg">I</span> {{'company.company_industry_rivalry_competition' | translate}}
                        <a uib-tooltip="Add" ng-show="permission[form_key+'_add']" class="pull-right text-decoration-none pt5" ng-click="addStrengths=!addStrengths"><i class="icon-plus-circle f18"></i> </a>
                    </h4>
                </div>
                <div class="data-item-content mt10">
                    <ul>
                        <li class="clearfix" ng-show="addStrengths">
                            <textarea class="width-full min-height70 f12 p10 darkcolor">{{'general.general_lorem_ipsum_dolor' | translate}}.
                            </textarea>
                            <div class="col-sm-12 btn-custom m0 p0">
                                <button class="btn btn-primary f14 btn-sm mr8">{{'general.save' | translate}}</button>
                                <button class="btn lt-bg f14 btn-sm">{{'general.cancel' | translate}}</button>
                            </div>
                        </li>
                        <li>
                            <p class="f12 darkcolor">{{'general.general_lorem_ipsum_dolor' | translate}}.</p>
                            <a class="delete-icon">
                                <i class="icon-trash"></i>
                            </a>
                        </li>
                        <li>
                            <p class="f12 darkcolor">{{'general.general_lorem_ipsum_dolor' | translate}}.</p>
                            <a class="delete-icon">
                                <i class="icon-trash"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="data-item mb30">
                <div class="data-item-header">
                    <h4 class="text-capitalize clearfix orange-block-color"><span class="box-text  orange-block-bg">S</span> {{'company.company_bargaining_power_of_suppliers' | translate}}
                        <a uib-tooltip="Add" class="pull-right text-decoration-none pt5" ng-click="addWeekness=!addWeekness"><i class="icon-plus-circle f18"></i> </a>
                    </h4>
                </div>
                <div class="data-item-content mt10">
                    <ul>
                        <li class="clearfix" ng-show="addWeekness">
                            <textarea class="width-full min-height70 f12 p10 darkcolor">{{'general.general_lorem_ipsum_dolor' | translate}}.
                            </textarea>
                            <div class="col-sm-12 btn-custom m0 p0">
                                <button class="btn btn-primary f14 btn-sm mr8">{{'general.save' | translate}}</button>
                                <button class="btn lt-bg f14 btn-sm">{{'general.cancel' | translate}}</button>
                            </div>
                        </li>
                        <li>
                            <p class="f12 darkcolor">{{'general.general_lorem_ipsum_dolor' | translate}}.</p>
                            <a class="delete-icon">
                                <i class="icon-trash"></i>
                            </a>
                        </li>
                        <li>
                            <p class="f12 darkcolor">{{'general.general_lorem_ipsum_dolor' | translate}}.</p>
                            <a class="delete-icon">
                                <i class="icon-trash"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="data-item mb30">
                <div class="data-item-header">
                    <h4 class="text-capitalize clearfix light-blue-color"><span class="box-text light-blue-block">B</span> {{'company.company_bargaining_power_of_buyers' | translate}}
                        <a uib-tooltip="Add" class="pull-right text-decoration-none pt5" ng-click="addOpportunities=!addOpportunities"><i class="icon-plus-circle f18"></i> </a>
                    </h4>
                </div>
                <div class="data-item-content mt10">
                    <ul>
                        <li class="clearfix" ng-show="addOpportunities">
                            <textarea class="width-full min-height70 f12 p10 darkcolor">{{'general.general_lorem_ipsum_dolor' | translate}}.
                            </textarea>
                            <div class="col-sm-12 btn-custom m0 p0">
                                <button class="btn btn-primary f14 btn-sm mr8">{{'general.save' | translate}}</button>
                                <button class="btn lt-bg f14 btn-sm">{{'general.cancel' | translate}}</button>
                            </div>
                        </li>
                        <li>
                            <p class="f12 darkcolor">{{'general.general_lorem_ipsum_dolor' | translate}}.</p>
                            <a class="delete-icon">
                                <i class="icon-trash"></i>
                            </a>
                        </li>
                        <li>
                            <p class="f12 darkcolor">{{'general.general_lorem_ipsum_dolor' | translate}}.</p>
                            <a class="delete-icon">
                                <i class="icon-trash"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="data-item mb30">
                <div class="data-item-header">
                    <h4 class="text-capitalize clearfix light-green-color"><span class="box-text light-green-bg">E</span> {{'company.company_threats_of_new_entrants' | translate}}
                        <a uib-tooltip="Add" class="pull-right text-decoration-none pt5" ng-click="addThreats=!addThreats"><i class="icon-plus-circle f18"></i> </a>
                    </h4>
                </div>
                <div class="data-item-content mt10">
                    <ul>
                        <li class="clearfix" ng-show="addThreats">
                            <textarea class="width-full min-height70 f12 p10 darkcolor">{{'general.general_lorem_ipsum_dolor' | translate}}.
                            </textarea>
                            <div class="col-sm-12 btn-custom m0 p0">
                                <button class="btn btn-primary f14 btn-sm mr8">{{'general.save' | translate}}</button>
                                <button class="btn lt-bg f14 btn-sm">{{'general.cancel' | translate}}</button>
                            </div>
                        </li>
                        <li>
                            <p class="f12 darkcolor">{{'general.general_lorem_ipsum_dolor' | translate}}.</p>
                            <a class="delete-icon">
                                <i class="icon-trash"></i>
                            </a>
                        </li>
                        <li>
                            <p class="f12 darkcolor">{{'general.general_lorem_ipsum_dolor' | translate}}.</p>
                            <a class="delete-icon">
                                <i class="icon-trash"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="data-item mb30">
                <div class="data-item-header">
                    <h4 class="text-capitalize clearfix light-green-color"><span class="box-text light-green-bg">T</span> {{'company.company_threats_of_substitutes' | translate}}
                        <a uib-tooltip="Add" class="pull-right text-decoration-none pt5" ng-click="addThreats=!addThreats"><i class="icon-plus-circle f18"></i> </a>
                    </h4>
                </div>
                <div class="data-item-content mt10">
                    <ul>
                        <li class="clearfix" ng-show="addThreats">
                            <textarea class="width-full min-height70 f12 p10 darkcolor">{{'general.general_lorem_ipsum_dolor' | translate}}.
                            </textarea>
                            <div class="col-sm-12 btn-custom m0 mt5 p0">
                                <button class="btn btn-primary f14 btn-sm mr8">{{'general.save' | translate}}</button>
                                <button class="btn lt-bg f14 btn-sm">{{'general.cancel' | translate}}</button>
                            </div>
                        </li>
                        <li>
                            <p class="f12 darkcolor">{{'general.general_lorem_ipsum_dolor' | translate}}.</p>
                            <a class="delete-icon">
                                <i class="icon-trash"></i>
                            </a>
                        </li>
                        <li>
                            <p class="f12 darkcolor">{{'general.general_lorem_ipsum_dolor' | translate}}.</p>
                            <a class="delete-icon">
                                <i class="icon-trash"></i>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</form>