<div class="right-modal clearfix modal-custom">

    <h3 class="right-modal-head ng-binding">
        {{title}} {{'Network' | translate}}
        <a ng-click="cancel()" uib-tooltip="Close" class="close-right pull-right"
           n-t='{"e_n":"Close {{title}} Network","e_d":"Company - {{companyInfo.company_name}}"}'><img src="images/close.png"></a>
    </h3>
    <form class="form-horizontal form-bordered mt10" name="networkForm" novalidate>
        <div class="row clearfix">
            <div class="col-sm-12 clearfix">
                <div class="col-sm-12">
                    <label class="control-label">{{'type' | translate}} *</label>
                    <div class="form-group clearfix form-group-custom mb5">
                        <select class="form-control"
                                ng-options="social.business_social_network as social.business_social_network for social in socialList"
                                name="name"
                                ng-model="networkDetails.name" required>
                            <option value="">--{{'company.company_select_network' | translate}}--</option>
                        </select>
                        <!--<input type="text" class="form-control" ng-model="networkDetails.name" name="name" required>-->
                        <div ng-if="networkForm.name.$error.required && networkForm.$submitted" class="error-message">
                            {{'general.general_select_type' | translate}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 clearfix">
                <div class="col-sm-12 ">
                    <label class="control-label">{{'Url' | translate}} *</label>
                    <div class="form-group clearfix form-group-custom">
                        <input type="text" class="form-control" ng-model="networkDetails.details" name="details" required>
                        <div ng-if="networkForm.details.$error.required && networkForm.$submitted" class="error-message">
                            {{'general.general_this_field_is_required' | translate}}
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="modal-footer border-none btn-custom mb0 clearfix text-center">
            <!--ng-if="permission[form_key+'_add']"-->
            <button ng-if="!update" class="btn btn-primary f14" ng-click="networkForm.$valid && save(networkDetails,networkForm)"
                    n-t='{"e_n":"Add {{title}} Network","e_d":"Company - {{companyInfo.company_name}}"}'>
                Add
            </button>
            <button ng-if="update" class="btn btn-primary f14" ng-click="networkForm.$valid && cancel()" n-t='{"e_n":"Update {{title}} Network","e_d":"Company - {{companyInfo.company_name}}"}'>{{'Update' | translate}}</button>
            <button class="btn btn-default f14" type="button" ng-click="cancel()" n-t='{"e_n":"Cancel {{title}} Network","e_d":"Company - {{companyInfo.company_name}}"}'>{{'Cancel' | translate}}</button>
        </div>
    </form>
</div>