<form class="form-bordered" name="form"  novalidate>
    <div class="row clearfix">
        <div class="col-sm-12 clearfix">

                <label class="control-label">{{'where_is_the_blue_sky_in_your_environment' | translate}}</label>
                <div class="form-group clearfix form-group-custom">
                    <textarea placeholder="Comments" name="blue_sky_environment" ng-model="company.blue_sky_environment" class="width-full p10 f12"></textarea>
                </div>

        </div>
        <div class="col-sm-12 clearfix">

                <label class="control-label">{{'where_is_the_blue_sky_in_your_environment' | translate}}</label>
                <div class="form-group clearfix form-group-custom">
                    <textarea placeholder="Comments" name="customer_needs" ng-model="company.customer_needs" class="width-full p10 f12"></textarea>
                </div>

        </div>
        <div class="col-sm-12 clearfix">

                <label class="control-label">{{'what_are_the_economic_trends_that_benefit_you_are_there_financial_backers_looking_for_opportunities' | translate}}</label>
                <div class="form-group clearfix form-group-custom">
                    <textarea placeholder="Comments" name="economic_trends" ng-model="company.economic_trends" class="width-full p10 f12"></textarea>
                </div>

        </div>
        <div class="col-sm-12 clearfix">

                <label class="control-label">{{'what_are_the_emerging_political_and_social_opportunities' | translate}}</label>
                <div class="form-group clearfix form-group-custom">
                    <textarea placeholder="Comments" name="political_social_opportunities" ng-model="company.political_social_opportunities" class="width-full p10 f12"></textarea>
                </div>


        </div>
        <div class="col-sm-12 clearfix">

                <label class="control-label">{{'what_are_the_technological_breakthroughs' | transalte}}</label>
                <div class="form-group clearfix form-group-custom">
                    <textarea placeholder="Comments" name="technological_breakthroughs" ng-model="company.technological_breakthroughs" class="width-full p10 f12"></textarea>
                </div>


        </div>
        <div class="col-sm-12 clearfix">

                <label class="control-label">{{'where_niches_have_your_competitors_missed_are_there_areas_from_which_competitors_are_withdrawing' | translate}}</label>
                <div class="form-group clearfix form-group-custom">
                    <textarea placeholder="Comments" name="competitors_areas" ng-model="company.competitors_areas" class="width-full p10 f12"></textarea>
                </div>


        </div>

        <div class="col-sm-12 btn-custom clearfix text-center" ng-if="permission[form_key+'_add']">
            <button class="btn btn-primary f14 next-btn" ng-click="submitForm(company,formDetails,form)" tab-next >{{'Save' | translate}}</button>
        </div>
    </div>
</form>