<div class="right-modal clearfix modal-custom mt10">
    <h3 class="right-modal-head ng-binding">
        {{title}} Ownership
        <a ng-click="cancel()" uib-tooltip="Close" class="close-right pull-right"
           n-t='{"e_n":"Close {{title}} modal","e_d":"Company - {{companyInfo.company_name}}"}'><img src="images/close.png"></a>
    </h3>
    <form  name="ownershipForm"  novalidate ng-submit="ownershipForm.$valid && save(ownership,ownershipForm)">
        <div class="row clearfix">
            <div class="col-sm-12 clearfix">
                <div class="col-sm-6 mb10 mt10">
                    <label class="control-label">Type of Shareholder *</label>
                    <div class="form-group clearfix form-group-custom">
                        <select class="form-control" ng-model="ownership.module_type" name="module_type" required>
                            <option value="">--Select--</option>
                            <option value="contact">Contact</option>
                            <option value="company">Company</option>
                        </select>
                    </div>
                    <div ng-if="ownershipForm.module_type.$error.required && ownershipForm.$submitted" class="error-message">
                        This field is required
                    </div>
                </div>
                <div class="col-sm-6 mb10 mt10">
                    <label class="control-label">Email Id </label>
                    <div class="form-group clearfix form-group-custom md5">
                        <input type="email" class="form-control" ng-model="ownership.shareholder_email_id" name="shareholder_email_id">
                        <!--<div ng-if="ownershipForm.shareholder_email_id.$error.required && ownershipForm.$submitted" class="error-message">
                            This field is required
                        </div>-->
                        <div ng-if="ownershipForm.shareholder_email_id.$error.email && ownershipForm.$submitted" class="error-message">
                            Enter valid email
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-sm-6 mb10">
                    <label class="control-label">Name of Shareholder *</label>
                    <div class="form-group clearfix form-group-custom md5">
                        <input type="text" class="form-control" ng-model="ownership.shareholder_name" name="shareholder_name" required>
                        <div ng-if="ownershipForm.shareholder_name.$error.required && ownershipForm.$submitted" class="error-message">
                            This field is required
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 mb10">
                    <label class="control-label">Number of Shares</label>
                    <div class="form-group clearfix form-group-custom">
                        <input type="text" class="form-control" ng-model="ownership.no_of_shares" name="no_of_shares" ui-number-mask="0" >
                        <div ng-if="ownershipForm.no_of_shares.$error.required && ownershipForm.$submitted" class="error-message" >
                            This field is required
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-sm-6 mb10">
                    <label class="control-label">% of Shares </label>
                    <div class="form-group clearfix form-group-custom">
                        <input max="100" type="text"  class="form-control" ng-model="ownership.percentage_share" name="percentage_share" ui-number-mask="2">
                    </div>
                    <div ng-if="ownershipForm.percentage_share.$error.required && ownershipForm.$submitted" class="error-message">
                        This field is required
                    </div>
                </div>
                <div class="col-sm-6 mb10">
                    <label class="control-label">Value of Shares</label>
                    <div class="form-group clearfix form-group-custom">
                        <input type="text"  class="form-control" ng-model="ownership.value_of_shares" name="value_of_shares"  ui-number-mask="0" >
                    </div>
                    <div ng-if="ownershipForm.value_of_shares.$error.required && ownershipForm.$submitted" class="error-message">
                        This field is required
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-sm-6 mb10">
                    <label class="control-label">Currency </label>
                    <div class="form-group clearfix form-group-custom">
                        <select class="form-control" ng-model="ownership.currency" ng-options="item.currency_code as item.currency_code for item in currecnyList">
                            <option value="">--Select--</option>
                        </select>
                    </div>
                    <div ng-if="ownershipForm.currency.$error.required && ownershipForm.$submitted" class="error-message">
                        This field is required
                    </div>
                </div>
            </div>
        </div>

        <div class="modal-footer border-none btn-custom mb0 clearfix text-center " >
            <button type="submit" ng-if="!update" class="btn btn-primary f14"
                    n-t='{"e_n":"Add {{title}} modal","e_d":"Company - {{companyInfo.company_name}}","form": "{{ownershipForm.$valid}}"}'>Save</button>
            <button type="submit" ng-if="update" class="btn btn-primary f14"
                    n-t='{"e_n":"Update {{title}} modal","e_d":"Company - {{companyInfo.company_name}}","form": "{{ownershipForm.$valid}}"}'>Save</button><!--ng-click="ownershipForm.$valid &&cancel()"-->
            <button class="btn btn-default f14" type="button" ng-click="cancel()"
                    n-t='{"e_n":"Cancel {{title}} modal","e_d":"Company - {{companyInfo.company_name}}"}'>Cancel</button>
        </div>
    </form>
</div>
