<!--
<div class="row clearfix" ng-controller="RatiosCtrl">
    <div class="col-sm-12 p0" ng-init="showTableDiv = false">
        <div class="col-sm-12 p0 ratios-wrap" ng-show="!showTableDiv">


            <div class="col-sm-12 p0">
                <div class="col-sm-3 pr0" ng-repeat="row in ratiosList" ng-if="$index==0">
                    <h6 class="darkcolor f12 pt5">{{'showing_year_range' | translate}} {{row.trend_start_year}}
                        <a href="javascript:;" uib-tooltip="Edit" ng-click="addCompanyRatio('',row,false)"
                           class="fa fa-edit f18"></a>
                    </h6>
                </div>
                <div class="col-sm-3 p0" ng-show="ratiosList.length > 1">
                    <h6 class="darkcolor f12 pt5">{{'show_previous_ratios' | translate}}
                        <a href="javascript:;" uib-tooltip="History" ng-click="showTableDiv = !showTableDiv"
                           class="fa fa-history f18"></a>
                    </h6>
                </div>
                <form class="form-inline pull-right" name="form" novalidate ng-if="ratiosList.length == 0">
                    <div class="form-group">
                        <label>{{'general.general_from' | translate}}</label>
                        <select class="form-control"
                                ng-model="sectedYear"
                                ng-init="lastTenYearFun()"
                                name="selectYear"
                                ng-options="item.value as item.label for item in lastTenYear" required>
                            <option value=""> &#45;&#45;{{'select_year' | translate}}&#45;&#45;</option>
                        </select>
                        <span ng-if="form.selectYear.$error.required && form.$submitted" class="error-message">{{'select_year' | translate}}</span>
                    </div>
                    <button ng-click="form.$valid && addCompanyRatio(sectedYear,'',false)" type="submit"
                            class="btn light-btn">{{'general.add' | translate}}
                    </button>
                </form>
            </div>

            <div ng-if="ratiosList.length > 0" class="col-sm-12 ratios-wrap">
                <div class="col-sm-12 clearfix">
                    <span class="pull-right"><a href="javascript:;" uib-tooltip="Delete" class="fa fa-trash"
                                                ng-click="removeCompanyRatio(firstRatio)"></a></span>
                    <div class="clearfix">
                        <div class="col-sm-12 clearfix">
                            <div class="col-sm-12 financial-inside-warp" ng-repeat="rf in firstRatio.company_ratio">
                                <label class="f12">{{rf.ratio_name}} (%):</label>
                                <div class="form-group" ng-if="rf.ratio_type=='value'">

                                    <input type="text" class=" form-control" name="equity_ratio"
                                           ng-model="rf.ratio_value" ui-number-mask="1" required max="100"
                                           ng-readonly="isEditable">
                                </div>
                                <div class="col-sm-12 financial-inside-warp" ng-if="rf.ratio_type=='trend'">
                                    <div class="financial-right-wrap">
                                        <div class="form-group" ng-repeat="ty in rf.ratio_value">
                                            <label>{{ty.year}}</label>
                                            <input type="text" ng-model="ty.value" class="form-control " ui-number-mask="1"
                                                   ng-readonly="isEditable">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 capital-cost-warp capital-cost-warp2">
                            <div class="col-sm-12">
                                <h6 class="">{{'comments' | translate}} </h6>
                                <div class="form-group">
                                <textarea type="text" class=" form-control mt10" ng-model="firstRatio.comments"
                                          ng-readonly="isEditable"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
        <div data-ng-bind-html="ratiosList.data"></div>
        <div ng-show="showTableDiv">
            <div class="col-sm-12 p0">
                <div class="div-header">
                    <h3 class="f14 roboto-bold text-capitalize p10">
                        {{'company.company_ratios_history' | translate}}
                        <i class="icon-times pull-right mr5 f18 cursor-pointer" uib-tooltip="Close"
                           ng-click="showTableDiv = false"></i>
                    </h3>
                </div>
                <div class="col-sm-12 p0 pt2" ng-if="ratiosList.length > 1">
                    <div class=" r-overview clearfix">
                        <div class="table-responsive">
                            <table st-table="business.answer"
                                   class="table c-table table-striped table-bordered table-hover display table-style">
                                <thead>
                                <tr>
                                    <th class="w100" st-sort="network">{{'Date' | translate}}</th>
                                    <th st-sort="details">{{'Year' | translate}}</th>
                                    <th st-sort="details">{{'Comments' | translate}}</th>
                                    <th class="w100 text-center">{{'actions' | translate}}</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="row in ratiosList" ng-if="$index != 0">
                                    <td>{{row.created_date_time | utcToLocal:'MMM d, y' }}</td>
                                    <td>{{row.year}}</td>
                                    <td>{{row.comments | checkEmpty }}</td>
                                    <td class="text-center">
                                        <a href="javascript:;" uib-tooltip="View" class="fa fa-eye"
                                           ng-click="addCompanyRatio('',row,true)"></a>
                                        <a href="javascript:;" uib-tooltip="Delete" class="fa fa-trash"
                                           ng-click="removeCompanyRatio(row)"></a>
                                    </td>
                                </tr>
                                </tbody>
                                <tfoot ng-if="!ratiosList"></tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/ng-template" id="ratios-add.html">
    <div class="right-modal modal-custom" data-modal="addedcontacts">
        <h3 class="right-modal-head">
            <i class="fa fa-book mr8"></i> {{'ratios' | translate}}
            <a class="close-right pull-right" ng-click="cancel()" uib-tooltip="Close"
               n-t='{"e_n":"Contacts Close","e_d":"Company - {{companyInfo.company_name}}"}'><img
                    src="images/close.png"></a>
        </h3>
        <form class="form-horizontal form-bordered mt10" name="form" novalidate>
            <div class="clearfix">
                <div class="col-sm-12 clearfix">
                    <div class="col-sm-12 financial-inside-warp" ng-repeat="rf in ratio.company_ratio">
                        <label class="f12">{{rf.ratio_name}} (%):</label>
                        <div class="form-group" ng-if="rf.ratio_type=='value'">

                            <input type="text" class=" form-control" name="equity_ratio"
                                   ng-model="rf.ratio_value" ui-number-mask="1"  max="100"
                                   ng-readonly="isEditable">
                        </div>
                        <div class="col-sm-12 financial-inside-warp" ng-if="rf.ratio_type=='trend'">
                            <div class="financial-right-wrap" ng-init="rf.ratio_value = setTrendValue(rf.ratio_value)">
                                <div class="form-group" ng-repeat="ty in rf.ratio_value">
                                    <label>{{ty.year}}</label>
                                    <input type="text" ng-model="ty.value" class="form-control " ui-number-mask="1"
                                           ng-readonly="isEditable">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 capital-cost-warp capital-cost-warp2">
                    <div class="col-sm-12">
                        <h6 class="">{{'contact.comments' | translate}} </h6>
                        <div class="form-group">
                                <textarea type="text" name="comments" class=" form-control mt10" ng-model="ratio.comments"
                                          ng-readonly="isEditable" required></textarea>
                            <div ng-if="form.comments.$error.required && form.$submitted"
                                 class="error-message">{{'general.required' | translate}}
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer border-none btn-custom mb0 clearfix text-center">
                <button ng-if="!isEditable" class="btn btn-primary f14"
                        ng-click="form.$valid && saveRatio(form) && cancel()">{{'general.add' | translate}}
                </button>
                <button class="btn btn-default f14" type="button" ng-click="cancel()">{{'Cancel' | translate}}</button>
            </div>
        </form>
    </div>
</script>-->
<div ng-controller="RatiosCtrl" class="col-sm-12 clearfix p5">
    <!--<div class="col-sm-12 pull-right">
        <a href="{{ratiosList.template}}" class="f14 sky-blue pull-right" target="_blank"><i class="fa fa-download mr4"></i> Download Sample</a>
    </div>-->

    <div data-ng-bind-html="ratiosList.data | trusted"></div>
</div>