<form class="form-horizontal form-bordered" name="form">
    <div class="col-sm-12 clearfix p0">
    <div class=" clearfix excel-table" hot-size>
        <div ng-init="company.risks_from_suppliers = []"></div>
        <div ng-if="!company.risks_from_suppliers" >
            <div ng-init="company.risks_from_suppliers = []"></div>
        </div>
        <p class="f11 gray mb5 text-right"><em>{{'contact.Here_you_can_directly_copy_and_paste_excel_document' | translate}}.</em></p>
        <hot-table  settings="settings" row-headers="rowHeaders" min-spare-rows="minSpareRows" datarows="company.risks_from_suppliers">
            <hot-column data="suppliers" title="'Suppliers'"></hot-column>
            <hot-column data="comments" title="'Comments'"></hot-column>
        </hot-table>
    </div>
    <div class="col-sm-12 btn-custom clearfix text-center" ng-if="permission[form_key+'_add']">
        <button class="btn btn-primary f14 next-btn" tab-next ng-click="submitForm(company,formDetails,form)">{{'Save' | translate}}</button>
    </div>
    </div>
</form>