<form class="form-bordered" name="form" novalidate>
    <div class="row clearfix">
        <div class="col-sm-12 clearfix">
                <label class="control-label">{{'what_is_the_client_doing_well_in_sales_marketing_operations_management' | translate}}</label>
                <div class="form-group clearfix form-group-custom">
                    <textarea placeholder="Comments" name="client_doing_well" ng-model="company.client_doing_well"  class="width-full p10 f12"></textarea>
                </div>
            </div>
        <div class="col-sm-12 clearfix">

                <label class="control-label">{{'what_are_the_clients_assets_tangibles_as_well_as_intangibles' | translate}}</label>
                <div class="form-group clearfix form-group-custom">
                    <textarea placeholder="Comments" name="client_assests" ng-model="company.client_assests"  class="width-full p10 f12"></textarea>
                </div>

        </div>
        <div class="col-sm-12 clearfix">

                <label class="control-label">{{'what_are_the_clients_core_competencies' | translate}}</label>
                <div class="form-group clearfix form-group-custom">
                    <textarea placeholder="Comments" name="client_core_competencies" ng-model="company.client_core_competencies"  class="width-full p10 f12"></textarea>
                </div>

        </div>
        <div class="col-sm-12 clearfix">

                <label class="control-label">{{'where_is_the_client_earning_money_with_the_company' | translate}}</label>
                <div class="form-group clearfix form-group-custom">
                    <textarea placeholder="Comments" name="client_earning_money" ng-model="company.client_earning_money"  class="width-full p10 f12"></textarea>
                </div>


        </div>
        <div class="col-sm-12 clearfix">

                <label class="control-label">{{'what_experience_does_the_client_have' | translate}}</label>
                <div class="form-group clearfix form-group-custom">
                    <textarea placeholder="Comments" name="client_experience" ng-model="company.client_experience"  class="width-full p10 f12"></textarea>
                </div>


        </div>

        <div class="col-sm-12 btn-custom clearfix text-center" ng-if="permission[form_key+'_add']">
            <button class="btn btn-primary f14 next-btn" ng-click="submitForm(company,formDetails,form)" tab-next >{{'Save' | translate}}</button>
        </div>


    </div>
</form>