 <div class="row clearfix">
        <div class="col-sm-12">

            <div class="data-item mb15" data-ng-repeat="companyAssessmentsItem in companyAssessmentsItems">
                <div class="data-item-header {{companyAssessmentsItem.assessment_color}}" >
                    <h4 class="text-capitalize f14 clearfix"><span class="box-text" first-alpha="{{companyAssessmentsItem.assessment_item_name}}" backround-color="false" ></span> {{ companyAssessmentsItem.assessment_item_name }}
                        <a uib-tooltip="Add" ng-show="permission[form_key+'_add']" class="pull-right text-decoration-none pt5" ng-click="addStrengths=!addStrengths"><i class="icon-plus-circle f18"></i> </a>
                    </h4>
                </div>
                <div class="data-item-content mt10">
                    <ul>
                        <li class="clearfix" ng-show="addStrengths">
                            <form class="form-bordered" name="form" detect-form-change="formChangeEvent()" novalidate>
                                <textarea class="width-full min-height70 f12 p10 darkcolor" data-ng-model="comment"></textarea>
                                <div class="col-sm-12 btn-custom  mt0 mb5 p0">
                                    <button class="btn btn-primary f12 btn-sm mr8"
                                        n-t='{"e_n":"Add comment","e_d":"Form - {{form_name}}, Section - {{sectionName}}, Company - {{companyInfo.company_name}}"}'
                                        ng-click="addComment(comment,companyAssessmentsItem.id_assessment_item)">{{'general.save' | translate}}</button>
                                    <button class="btn lt-bg f12 btn-sm" ng-click="addStrengths=!addStrengths"
                                            n-t='{"e_n":"Cancel comment","e_d":"Form - {{form_name}}, Section - {{sectionName}}, Company - {{companyInfo.company_name}}"}'>{{'general.cancel' | translate}}</button>
                                </div>
                            </form>
                        </li>
                        <li class="clearfix" data-ng-repeat="step in companyAssessmentsItem.step" >
                            <p ng-show="!showInputShow" class="f12 darkcolor">{{ step.step_title }}
                                <a class="edit-icon" uib-tooltip="Edit"
                                   n-t='{"e_n":"Edit comment","e_d":"Form - {{form_name}}, Section - {{sectionName}}, Company - {{companyInfo.company_name}}"}' data-ng-click="showInputShow=!showInputShow;copyText = step.step_title" >
                                    <i class="icon-edit"></i>
                                </a>
                                <a class="delete-icon" uib-tooltip="Delete"
                                   n-t='{"e_n":"Delete comment","e_d":"Form - {{form_name}}, Section - {{sectionName}}, Company - {{companyInfo.company_name}}"}' data-ng-click="deleteComment(step.id_company_assessment_item_step)">
                                    <i class="icon-trash"></i>
                                </a>
                            </p>
                            <div class="" ng-show="showInputShow">
                                <textarea data-ng-model="step.step_title" class="width-full min-height70 f12 p10 darkcolor" ></textarea>
                                <div class="col-sm-12 btn-custom  mt0 mb5 p0">
                                    <button ng-disabled="step.step_title == '' " class="btn btn-primary f12 btn-sm mr8"
                                            n-t='{"e_n":"Update comment","e_d":"Form - {{form_name}}, Section - {{sectionName}}, Company - {{companyInfo.company_name}}"}' ng-click="updateCommentFun(step.step_title,step.id_company_assessment_item_step,showInputShow);showInputShow=!showInputShow">{{'Update' | translate}}</button>
                                    <button class="btn lt-bg f12 btn-sm"
                                            n-t='{"e_n":"Cancel comment","e_d":"Form - {{form_name}}, Section - {{sectionName}}, Company - {{companyInfo.company_name}}"}' ng-click="showInputShow=!showInputShow; step.step_title = copyText">{{'Cancel' | translate}}</button>
                                </div>
                            </div>

                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>