<form class="form-bordered" name="form"  novalidate>
    <div class="row clearfix">
        <div class="col-sm-12 clearfix">

                <label class="control-label">{{'where_are_the_red_alerts_in_your_environment_is_the_company_relying_on_one_key_supplier_client_or_employee' | translate}}</label>
                <div class="form-group clearfix form-group-custom">
                    <textarea placeholder="Comments" name="environment_alerts" ng-model="company.environment_alerts" class="width-full p10 f12"></textarea>
                </div>

        </div>
        <div class="col-sm-12 clearfix">

                <label class="control-label">{{'what_are_the_negative_economic_trends' | translate}}</label>
                <div class="form-group clearfix form-group-custom">
                    <textarea placeholder="Comments" name="negative_economic_trends" ng-model="company.negative_economic_trends" class="width-full p10 f12"></textarea>
                </div>

        </div>
        <div class="col-sm-12 clearfix">

                <label class="control-label">{{'what_are_the_negative_political_and_social_trends' | translate}}</label>
                <div class="form-group clearfix form-group-custom">
                    <textarea placeholder="Comments" name="negative_political_social_trends" ng-model="company.negative_political_social_trends" class="width-full p10 f12"></textarea>
                </div>

        </div>
        <div class="col-sm-12 clearfix">

                <label class="control-label">{{'where_are_competitors_about_to_bite_you' | translate}}</label>
                <div class="form-group clearfix form-group-custom">
                    <textarea placeholder="Comments" name="competitors" ng-model="company.competitors" class="width-full p10 f12"></textarea>
                </div>


        </div>
        <div class="col-sm-12 clearfix">

                <label class="control-label">{{'where_are_you_vulnerable' | translate}}</label>
                <div class="form-group clearfix form-group-custom">
                    <textarea placeholder="Comments" name="vulnerable" ng-model="company.vulnerable" class="width-full p10 f12"></textarea>
                </div>


        </div>

        <div class="col-sm-12 btn-custom clearfix text-center" ng-if="permission[form_key+'_add']">
            <button class="btn btn-primary f14 next-btn" ng-click="submitForm(company,formDetails,form)" tab-next >{{'Save' | translate}}</button>
        </div>
    </div>
</form>