<div class="modal-wrap ">
    <div class="modal-body p0">
        <div class="division-wrap clearfix"  >
            <div class="row clearfix">
                <div class="col-sm-12 clearfix p0">

                    <attachment-view module-id="2" form-key="{{form_key}}" hide-add-btn="{{permission[form_key+'_add']==false}}"
                                     ref-id="{{currentCompanyViewId}}"></attachment-view>
<!--
                    <div class="col-sm-6 clearfix" ng-if="statementData.financial_statement_comments !=''">
                        <label class="darkcolor f15">Comments</label>
                        <div class="form-group clearfix form-group-custom f15">{{ statementData.financial_statement_comments }}</div>
                    </div>
                    <div class="col-sm-6">
                        <span class=" pull-right pl5 pt5">{{form_name}}
                            <a href="{{statementData.template}}" n-t='{"e_n":"Download {{statementData.template}} - Balance Sheet - {{sectionName}}","e_d":""}' class="f14 sky-blue pull-right" target="_blank"><i class="fa fa-download mr4"></i> Download Sample</a>
                        </span>
                        <button class="btn btn-primary btn-dark border-none f12 pull-right" data-ng-click="uploadSheet()">
                            <i class="fa fa-plus-circle"></i> Upload New Sheet
                        </button>
                    </div>-->
                </div>
                <form class="form-bordered" name="form" novalidate detect-form-change="formChangeEvent()"
                      ng-submit="form.$valid && submitForm(company,formDetails,form)" >
                    <div class="col-sm-12 clearfix p0 edit-bg">
                        <label class="control-label"> {{'Comments' | translate}}: </label>
                        <textarea name="company_financial_statement_comments" ckeditor ng-model="company.company_financial_statement_comments"
                                  class="form-control cke_editable">
                         </textarea>
                    </div>
                    <div class="col-sm-12 btn-custom clearfix text-center pt10" ng-if="permission[form_key+'_add']">
                        <button class="btn btn-primary f14 next-btn" type="submit"
                            n-t='{"e_n":"Save {{sectionName}} {{formName}}","e_d":"Company - {{companyInfo.company_name}}"}'>{{'Save' | translate}}
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



<div data-ng-bind-html="statementData.data"></div>

<!--<form cl class="form-bordered"  name="uploadFinancialInfo" ng-submit="submitUpload(statementId,financial_statement_comments,uploadFinancialInfo)" novalidate>
    <div class="row clearfix">
        <div class="col-sm-12 clearfix p10">
            <div class="col-sm-6">
                <input type="file" name="financeExcel" class="width80" ngf-select="uploadFinancialExcel($file)" required />
                <div ng-show="isExcel" class="has-error" style="color: red">Choose a file.</div>
            </div>
            <div class="col-sm-6">
                <a href="{{statementData.template}}" class="f14 sky-blue" target="_blank"><i class="fa fa-download mr4"></i> Download Sample</a>
            </div>
        </div>
        <div class="col-sm-12 clearfix p10">
            <label class="control-label" > Comment on Financial Information</label>
            <textarea type="text" class="form-control" kendo-editor k-tools="{{kendoOptions}}" k-ng-model="financial_statement_comments" name="financial_statement_comments" ></textarea>
        </div>
        <div class="col-sm-12 clearfix p10">
            <div class="col-sm-12 btn-custom clearfix text-center" ng-if="permission[form_key+'_add']">
                <button class="btn btn-primary btn-dark f12" >Upload</button>
            </div>
        </div>
    </div>
</form>-->


<script type="text/ng-template" id="upload-balance-sheet.html">
    <div class="right-modal clearfix modal-custom">
            <h3 class="right-modal-head ng-binding">
                {{'upload_financial_information' | translate}}
                <a ng-click="cancel()" class="close-right pull-right" uib-tooltip="Close"
                   n-t='{"e_n":"Cancel modal","e_d":"Form - {{formName}}, Section - {{sectionName}}, Company - {{companyInfo.company_name}}"}'	><img src="images/close.png"></a>
            </h3>
        <form class="form-bordered"  name="uploadFinancialInfo" ng-submit="submitUpload(statementId,financial_statement_comments,uploadFinancialInfo)" novalidate>
                <div class="row clearfix">
                        <div class="col-sm-12 clearfix">
                            <div class="col-sm-12">
                                <label class="control-label">{{'File' | translate}}*</label>
                                <div class="form-group clearfix form-group-custom mb5">
                                    <input type="file" name="financeExcel" class="width80" ngf-select="uploadFinancialExcel($file)" required />
                                    <div ng-show="isExcel" class="has-error" style="color: red">{{'choose_a_file' | translate}}.</div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 clearfix">
                            <div class="col-sm-12">
                                <label class="control-label">{{'Comments' | translate}}</label>
                                <div class="form-group clearfix form-group-custom mb5">
                                    <textarea type="text" class="form-control" ng-model="financial_statement_comments" name="financial_statement_comments" ></textarea>
                                </div>
                            </div>
                        </div>
                </div>
            <div class="col-sm-12 clearfix p10">
                <div class="col-sm-12 btn-custom clearfix text-center" >
                    <button class="btn btn-primary btn-dark f12" n-t='{"e_n":"Save","e_d":"Form - {{formName}}, Section - {{sectionName}}, Company - {{companyInfo.company_name}}","form":"form.$valid"}'>{{'Upload' | translate}}</button>
                    <button class="btn btn-default f14" type="button" ng-click="cancel()" n-t='{"e_n":"Cancel","e_d":"Form - {{formName}}, Section - {{sectionName}}, Company - {{companyInfo.company_name}}"}'>{{'Cancel' | translate}}</button>
                </div>
            </div>
            </form>
     </div>
</script>