<div class="right-modal clearfix modal-custom">

    <h3 class="right-modal-head ng-binding">
        {{'view_details' | translate}}
        <a ng-click="cancel()" uib-tooltip="Close" class="close-right pull-right"><img src="images/close.png"></a>
    </h3>
    <form class="form-horizontal form-bordered mt10"  name="facilityForm"  novalidate>
        <div class="row clearfix">
            <div class="col-sm-12 clearfix">
                <div class="col-sm-12">
                    <label class="control-label">{{'name' | translate}}</label>
                    <p class="f14 dark-blue">{{networkDetails.name}}</p>
                </div>
            </div>
            <div class="col-sm-12 clearfix">
                <div class="col-sm-12">
                    <label class="control-label">{{'details' | translate}}</label>
                    <p class="f14 dark-blue">{{networkDetails.details}}</p>
                </div>
            </div>
        </div>
    </form>
    <div class="modal-footer border-none btn-custom clearfix mb0 text-center">
        <button class="btn btn-default f14" type="button" ng-click="cancel()">{{'Cancel' | translate}}</button>
    </div>
</div>