<div class="right-modal clearfix modal-custom">
    <h3 class="right-modal-head ng-binding">View Ownership
        <a ng-click="cancel()" uib-tooltip="Close" class="close-right pull-right"><img src="images/close.png"></a>
    </h3>
    <form class="form-horizontal form-bordered mt10" name="facilityForm" novalidate>
        <div class="row clearfix">
            <div class="col-sm-12 clearfix">
                <div class="col-sm-6 mb5">
                    <label class="control-label">Name of Shareholder</label>
                    <p class="f14 dark-blue">{{ownership.shareholder_name}}</p>
                </div>
                <div class="col-sm-6 mb5">
                    <label class="control-label">Email Id</label>
                    <p class="f14 dark-blue">{{ownership.shareholder_email_id}}</p>
                </div>
                <div class="clearfix"></div>
                <div class="col-sm-6 mb5">
                    <label class="control-label">Number of Shares</label>
                    <p class="f14 dark-blue">{{ownership.no_of_shares | currency:""}}</p>
                </div>
                <div class="col-sm-6 mb5">
                    <label class="control-label">% of Shares</label>
                    <p class="f14 dark-blue">{{ownership.percentage_share}}</p>
                </div>
                <div class="clearfix"></div>
                <div class="col-sm-6 mb5">
                    <label class="control-label">Value of Shares</label>
                    <p class="f14 dark-blue">{{ownership.value_of_shares | currency:""}}</p>
                </div>
                <div class="col-sm-6 mb5">
                    <label class="control-label">Currency</label>
                    <p class="f14 dark-blue">{{ownership.currency}}</p>
                </div>
                <div class="clearfix"></div>
                <div class="col-sm-6 mb5">
                    <label class="control-label">Type Of Shareholder</label>
                    <p class="f14 dark-blue">{{ownership.module_type}}</p>
                </div>
            </div>
        </div>
    </form>
    <div class="modal-footer border-none btn-custom mb0 clearfix text-center">
        <button class="btn btn-default f14" type="button" ng-click="cancel()">Cancel</button>
    </div>
</div>