<form class=" form-bordered" name="form"  novalidate>
    <div class="row clearfix">
        <div class="col-sm-12 clearfix">

                <label class="control-label">{{'where_is_the_company_looking_old_outdated' | translate}}</label>
                <div class="form-group clearfix form-group-custom">
                    <textarea placeholder="Comments" name="company_looking" ng-model="company.company_looking" class="width-full p10 f12"></textarea>
                </div>

        </div>
        <div class="col-sm-12 clearfix">

                <label class="control-label">{{'what_areas_are_needed_but_not_existing_customer_service_marketing_accounting_planning' | translate}}</label>
                <div class="form-group clearfix form-group-custom">
                    <textarea placeholder="Comments" name="areas_needed" ng-model="company.areas_needed" class="width-full p10 f12"></textarea>
                </div>

        </div>
        <div class="col-sm-12 clearfix">

                <label class="control-label">{{'where_do_resources_lack_is_the_company_relying_on_outdated_equipment_are_enough_funds_available' | translate}}</label>
                <div class="form-group clearfix form-group-custom">
                    <textarea placeholder="Comments" name="resources_lack" ng-model="company.resources_lack" class="width-full p10 f12"></textarea>
                </div>

        </div>
        <div class="col-sm-12 clearfix">

                <label class="control-label">{{'what_can_be_done_better_are_there_inefficiencies' | translate}}</label>
                <div class="form-group clearfix form-group-custom">
                    <textarea placeholder="Comments" name="inefficiencies" ng-model="company.inefficiencies" class="width-full p10 f12"></textarea>
                </div>


        </div>
        <div class="col-sm-12 clearfix">

                <label class="control-label">{{'where_is_the_company_losing_money' | translate}}</label>
                <div class="form-group clearfix form-group-custom">
                    <textarea placeholder="Comments" name="company_losing_money" ng-model="company.company_losing_money" class="width-full p10 f12"></textarea>
                </div>


        </div>

        <div class="col-sm-12 btn-custom clearfix text-center" ng-if="permission[form_key+'_add']">
            <button class="btn btn-primary f14 next-btn" ng-click="submitForm(company,formDetails,form)" tab-next >{{'Save' | translate}}</button>
        </div>
    </div>
</form>