<h3 class="fixed content-heading">Concept
    <div class="pull-right button-set">
        <a ui-sref="project.project-list({id:(currentProjectViewId | encode )})" uib-tooltip="Back"><i class="fa fa-close-sm"></i></a>
    </div>
</h3>




<div class="content-area animated fadeInRight" id="contentArea">
    <div class="content-container clearfix light-blue-bg p20 mb20">
        <div class="col-sm-12 mtb20 clearfix p0">
            <div class="white-bg pb10">
                <h3 class="darkcolor p10 fontBold">Project Progress Levels</h3>
                <div class="project-process-levels clearfix ml5">
                    <ul>
                        <li>
                            <div class="">
                                <div class="project-process-level-head-wrap">
                                    <div class="project-process-level-head text-line">Concept Note</div>
                                    <div class="project-process-level-date">21 May - 01 Jun</div>
                                    <div class="project-process-level-percentage">100%</div>
                                </div>

                                <div class="project-process-level-list">
                                    <div uib-popover="Duration : 20Jul - 01 Sept - (12 Days)" popover-trigger="mouseenter" popover-is-open="popoverIsOpen" ng-click="popoverIsOpen = !popoverIsOpen"><span class="fa fa-check red"></span>Facility Information</div>
                                    <div><span class="fa fa-check green"></span>General Information</div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="">
                                <div class="project-process-level-head-wrap">
                                    <div class="project-process-level-head text-line">Pre Appraisal</div>
                                    <div class="project-process-level-date">21 May - 01 Jun</div>
                                    <div class="project-process-level-percentage">100%</div>
                                </div>
                                <div class="project-process-level-list">
                                    <div><span class="fa fa-check green"></span>Risk Assessment</div>
                                    <div><span class="fa fa-check green"></span>Pre Appraisal</div>
                                    <div><span class="fa fa-check green"></span>Risk Assessment</div>
                                    <div><span class="fa fa-check green"></span>Pre Appraisal</div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="">
                                <div class="project-process-level-head-wrap">
                                    <div class="project-process-level-head text-line">Detailed Appraisal</div>
                                    <div class="project-process-level-date">21 May - 01 Jun</div>
                                    <div class="project-process-level-percentage">80%</div>
                                </div>
                                <div class="project-process-level-list">
                                    <div><span class="fa fa-check green"></span>Facility Information</div>
                                    <div><span class="fa fa-check green"></span>Facility Information</div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="">
                                <div class="project-process-level-head-wrap">
                                    <div class="project-process-level-head text-line">Detailed Appraisal</div>
                                    <div class="project-process-level-date">21 May - 01 Jun</div>
                                    <div class="project-process-level-percentage">0%</div>
                                </div>
                                <div class="project-process-level-list incomp">
                                    <div></span>Risk Assessment</div>
                                    <div></span>Pre Appraisal</div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="">
                                <div class="project-process-level-head-wrap">
                                    <div class="project-process-level-head text-line">Detailed Appraisal</div>
                                    <div class="project-process-level-date">21 May - 01 Jun</div>
                                    <div class="project-process-level-percentage">0%</div>
                                </div>
                                <div class="project-process-level-list incomp">
                                    <div>Facility Information</div>
                                    <div>Facility Information</div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="">
                                <div class="project-process-level-head-wrap">
                                    <div class="project-process-level-head text-line">Detailed Appraisal</div>
                                    <div class="project-process-level-date">21 May - 01 Jun</div>
                                    <div class="project-process-level-percentage">0%</div>
                                </div>
                                <div class="project-process-level-list incomp">
                                    <div>Risk Assessment</div>
                                    <div>Pre Appraisal</div>
                                </div>
                            </div>
                        </li>




                    </ul>
                </div>
            </div>
            <div class="white-bg pb10 mt15 clearfix">
                <h3 class="darkcolor p10 fontBold">Meetings</h3>
                <div class="acc-box col-sm-12 clearboth clearfix mb5">
                    <div class="acc-head col-sm-12 clearfix border white-bg">
                        <div class="col-sm-4 pl0 border-right pb5">
                            <h6 basic-accordian class=""><a href="javascript:;" class=" sky-blue f14">Concept Note Send for Review</a></h6>
                            <span class="display-block darkcolor f12">Kenya</span>
                        </div>
                        <div class="col-sm-2 border-right pr0 pl5">
                            <label class="darkcolor display-block f12">26 Sep,2016</label>
                            <span class="darkcolor f14">10:30 AM - 1:30 PM</span>
                        </div>
                        <div class="col-sm-2 border-right pl5">
                            <label class="ash display-block f12">Initiated By</label>
                            <span class="darkcolor f14">Williums</span>
                        </div>
                        <div class="col-sm-2 border-right pl5">
                            <label class="ash display-block f12">Team</label>
                            <label class=" f14 text-line sky-blue menu-toggle c-dropdown pl5" data-toggle="dropdown">6 Members</label>
                            <ul class="dropdown-menu c-dropdown pl10">
                                <li>
                                    <a class="sky-blue">Kristan Simmonds</a>
                                </li>
                                <li>
                                    <a class="sky-blue">Eric Godinez</a>
                                </li>
                                <li>
                                    <a class="sky-blue">Javier Cisneors</a>
                                </li>
                                <li>
                                    <a class="sky-blue">Francisco Zavala</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-sm-1 border-right pr0 pl5">
                            <label class="ash display-block f12">Attached</label>
                            <span class="sky-blue f14">2 Files</span>
                        </div>
                        <div class="col-sm-1 pr0 pl5">
                            <label class="ash display-block f12">Status</label>
                            <span class="red f14">Pending</span>
                        </div>
                    </div>
                    <div class="acc-body col-sm-12 clearfix p10 border border-top-none">
                        <h4 class="darkcolor bold f14 mb5 ">Discussion Highlights</h4>
                        <p class="darkcolor mtb10">
                            Existing farmers and traders from Mubende, Kyenjojo, Mityana and Kamwenge districts who supply maize
                            to Aponye face high transportation costs and have inadequate market infrastructure for drying, storage,
                            packing and market information and therefore supply grains of poor quality.
                        </p>
                        <p class="darkcolor mtb10">
                            Therefore Aponye’s expansion plan to establish a grain handling facility in Mubende is an important part
                            solution to the problem of maize quality in Uganda.
                        </p>
                    </div>
                </div>
                <div class="acc-box col-sm-12 clearboth clearfix mb5">
                    <div class="acc-head col-sm-12 clearfix border white-bg">
                        <div class="col-sm-4 pl0 border-right pb5">
                            <h6 basic-accordian class=""><a href="javascript:;" class=" sky-blue f14">Concept Note Send for Review</a></h6>
                            <span class="display-block darkcolor f12">Kenya</span>
                        </div>
                        <div class="col-sm-2 border-right pr0 pl5">
                            <label class="darkcolor display-block f12">23 Sep,2016</label>
                            <span class="darkcolor f14">10:30 AM - 1:30 PM</span>
                        </div>
                        <div class="col-sm-2 border-right pl5">
                            <label class="ash display-block f12">Initiated By</label>
                            <span class="darkcolor f14">Williums</span>
                        </div>
                        <div class="col-sm-2 border-right pl5">
                            <label class="ash display-block f12">Team</label>
                            <label class=" f14 text-line sky-blue menu-toggle c-dropdown pl5" data-toggle="dropdown">6 Members</label>
                            <ul class="dropdown-menu c-dropdown pl10">
                                <li>
                                    <a class="sky-blue">Kristan Simmonds</a>
                                </li>
                                <li>
                                    <a class="sky-blue">Eric Godinez</a>
                                </li>
                                <li>
                                    <a class="sky-blue">Javier Cisneors</a>
                                </li>
                                <li>
                                    <a class="sky-blue">Francisco Zavala</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-sm-1 border-right pr0 pl5">
                            <label class="ash display-block f12">Attached</label>
                            <span class="sky-blue f14">2 Files</span>
                        </div>
                        <div class="col-sm-1 pr0 pl5">
                            <label class="ash display-block f12">Status</label>
                            <span class="green f14">Completed</span>
                        </div>
                    </div>
                    <div class="acc-body col-sm-12 clearfix p10 border border-top-none">
                        <h4 class="darkcolor bold f14 mb5 ">Discussion Highlights</h4>
                        <p class="darkcolor mtb10">
                            Existing farmers and traders from Mubende, Kyenjojo, Mityana and Kamwenge districts who supply maize
                            to Aponye face high transportation costs and have inadequate market infrastructure for drying, storage,
                            packing and market information and therefore supply grains of poor quality.
                        </p>
                        <p class="darkcolor mtb10">
                            Therefore Aponye’s expansion plan to establish a grain handling facility in Mubende is an important part
                            solution to the problem of maize quality in Uganda.
                        </p>
                    </div>
                </div>
                <div class="acc-box col-sm-12 clearboth clearfix mb5">
                    <div class="acc-head col-sm-12 clearfix border white-bg">
                        <div class="col-sm-4 pl0 border-right pb5">
                            <h6 basic-accordian class=""><a href="javascript:;" class=" sky-blue f14">Concept Note Send for Review</a></h6>
                            <span class="display-block darkcolor f12">Kenya</span>
                        </div>
                        <div class="col-sm-2 border-right pr0 pl5">
                            <label class="darkcolor display-block f12">12 Sep,2016</label>
                            <span class="darkcolor f14">10:30 AM - 1:30 PM</span>
                        </div>
                        <div class="col-sm-2 border-right pl5">
                            <label class="ash display-block f12">Initiated By</label>
                            <span class="darkcolor f14">Williums</span>
                        </div>
                        <div class="col-sm-2 border-right pl5">
                            <label class="ash display-block f12">Team</label>
                            <label class=" f14 text-line sky-blue menu-toggle c-dropdown pl5" data-toggle="dropdown">6 Members</label>
                            <ul class="dropdown-menu c-dropdown pl10">
                                <li>
                                    <a class="sky-blue">Kristan Simmonds</a>
                                </li>
                                <li>
                                    <a class="sky-blue">Eric Godinez</a>
                                </li>
                                <li>
                                    <a class="sky-blue">Javier Cisneors</a>
                                </li>
                                <li>
                                    <a class="sky-blue">Francisco Zavala</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-sm-1 border-right pr0 pl5">
                            <label class="ash display-block f12">Attached</label>
                            <span class="sky-blue f14">2 Files</span>
                        </div>
                        <div class="col-sm-1 pr0 pl5">
                            <label class="ash display-block f12">Status</label>
                            <span class="green f14">Completed</span>
                        </div>
                    </div>
                    <div class="acc-body col-sm-12 clearfix p10 border border-top-none">
                        <h4 class="darkcolor bold f14 mb5 ">Discussion Highlights</h4>
                        <p class="darkcolor mtb10">
                            Existing farmers and traders from Mubende, Kyenjojo, Mityana and Kamwenge districts who supply maize
                            to Aponye face high transportation costs and have inadequate market infrastructure for drying, storage,
                            packing and market information and therefore supply grains of poor quality.
                        </p>
                        <p class="darkcolor mtb10">
                            Therefore Aponye’s expansion plan to establish a grain handling facility in Mubende is an important part
                            solution to the problem of maize quality in Uganda.
                        </p>
                    </div>
                </div>
            </div>
            <div class="white-bg mt15 clearfix">
                <h3 class="darkcolor p10 fontBold">Comments</h3>
                <div class="col-sm-12 project-process-comments-wrap">
                    <div class="acc-box clearboth clearfix border col-sm-12 p0">
                    <div class="acc-head col-sm-12 p0 clearfix">
                        <div class="col-sm-3 border-right">
                            <span class="icon-warning f36 display-inline red pull-left mr15"></span>
                            <a href="javascript:;" class="f14 sky-blue display-block label-text" basic-accordian>Concept Note Set for Review</a>
                            <label class="f14 darkcolor">Kristan Simmonds</label>
                        </div>
                        <div class="col-sm-3 border-right">
                            <label class="label-text display-block">Concept Note Submitted</label>
                            <label class="f14 darkcolor">Eric Godinez, Javier Cisneors</label>
                        </div>
                        <div class="col-sm-2 border-right">
                            <label class="label-text display-block">Attached</label>
                            <label class=" f14 text-line sky-blue menu-toggle c-dropdown" data-toggle="dropdown">2 Files</label>
                            <ul class="dropdown-menu c-dropdown pl10">
                                <li>
                                    <a class="sky-blue">report.pdf</a>
                                </li>
                                <li>
                                    <a class="sky-blue">report excel sheet.sxml</a>
                                </li>
                            </ul>

                            <!--
                            <div class="menu-toggle dropdown-toggle col-sm-12 ash-bg" data-toggle="dropdown" ng-click="getMembersList = !getMembersList">
                                <span class="sky-blue display-block pt10 f14" >6 Members</span>
                                </div>
                                <ul class="dropdown-menu light-blue-bg-new pl10" ng-show="getMembersList">
                                <li class="notification-list">
                                <a class="sky-blue">Kristan Simmonds</a>
                                </li>
                                <li class="notification-list">
                                <a class="sky-blue">Eric Godinez</a>
                                </li>
                                <li class="notification-list">
                                <a class="sky-blue">Javier Cisneors</a>
                                </li>
                                <li class="notification-list">
                                <a class="sky-blue">Francisco Zavala</a>
                                </li>
                                </ul>



                                -->
                        </div>
                        <div class="col-sm-2 border-right">
                            <label class="label-text display-block">23,Sep 2016</label>
                            <label class=" f14 darkcolor text-line">10:30 AM</label>
                        </div>
                        <div class="col-sm-2">
                            <label class="label-text display-block">Status</label>
                            <label class="bold f14 red">Need Info</label>
                        </div>
                    </div>
                    <div class="acc-body border-top col-sm-12 clearfix p10">
                        <h3 class="darkcolor pb10 fontBold">Comments</h3>
                        <p>Existing farmers and traders from Mubende, Kyenjojo, Mityana and Kamwenge districts who supply maize to Aponye face high transportation costs and have inadequate market infrastructure for drying,
                            storage, packing and market information and therefore supply grains of poor quality. </p>
                    </div>
                </div>
                    <div class="acc-box clearboth clearfix border col-sm-12 p0">
                        <div class="acc-head col-sm-12 p0 clearfix">
                            <div class="col-sm-3 border-right">
                                <span class="icon-info f36 display-inline sky-blue pull-left mr15"></span>
                                <a href="javascript:;" class="f14 sky-blue display-block label-text" basic-accordian>Concept Note Submitted</a>
                                <label class="f14 darkcolor">Eric Godinew</label>
                            </div>
                            <div class="col-sm-3 border-right">
                                <label class="label-text display-block">Concept Note Set for Review</label>
                                <label class="f14 darkcolor">Javier Cisneors.</label>
                            </div>
                            <div class="col-sm-2 border-right">
                                <label class="label-text display-block">Attached</label>
                                <label class=" f14 darkcolor text-line sky-blue">---</label>
                            </div>
                            <div class="col-sm-2 border-right">
                                <label class="label-text display-block">23,Sep 2016</label>
                                <label class=" f14 darkcolor text-line">10:30 AM</label>
                            </div>
                            <div class="col-sm-2">
                                <label class="label-text display-block">Status</label>
                                <label class="bold f14 green">Submitted</label>
                            </div>
                        </div>
                        <div class="acc-body border-top col-sm-12 clearfix p10">
                            <h3 class="darkcolor pb10 fontBold">Comments</h3>
                            <p>Existing farmers and traders from Mubende, Kyenjojo, Mityana and Kamwenge districts who supply maize to Aponye face high transportation costs and have inadequate market infrastructure for drying,
                                storage, packing and market information and therefore supply grains of poor quality. </p>
                        </div>
                    </div>
                    <div class="acc-box clearboth clearfix border col-sm-12 p0">
                        <div class="acc-head col-sm-12 p0 clearfix">
                            <div class="col-sm-3 border-right">
                                <span class="icon-info f36 display-inline sky-blue pull-left mr15"></span>
                                <a href="javascript:;" class="f14 sky-blue display-block label-text" basic-accordian>Enquiry/Applications</a>
                                <label class="f14 darkcolor">FranciscoZavala</label>
                            </div>
                            <div class="col-sm-3 border-right">
                                <label class="label-text display-block">Concept Note Submitted</label>
                                <label class="f14 darkcolor">Javier Cisneors.</label>
                            </div>
                            <div class="col-sm-2 border-right">
                                <label class="label-text display-block">Attached</label>
                                <label class=" f14 text-line sky-blue menu-toggle c-dropdown" data-toggle="dropdown">1 Files</label>
                                <ul class="dropdown-menu c-dropdown pl10">
                                    <li>
                                        <a class="sky-blue">report.pdf</a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-sm-2 border-right">
                                <label class="label-text display-block">23,Sep 2016</label>
                                <label class=" f14 darkcolor text-line">10:30 AM</label>
                            </div>
                            <div class="col-sm-2">
                                <label class="label-text display-block">Status</label>
                                <label class="bold f14 green">Farwarded</label>
                            </div>
                        </div>
                        <div class="acc-body border-top col-sm-12 clearfix p10">
                            <h3 class="darkcolor pb10 fontBold">Comments</h3>
                            <p>Existing farmers and traders from Mubende, Kyenjojo, Mityana and Kamwenge districts who supply maize to Aponye face high transportation costs and have inadequate market infrastructure for drying,
                                storage, packing and market information and therefore supply grains of poor quality. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>



    </div>
</div>








