<h3 class="fixed content-heading">{{'Security Questions'}}</h3>

<div id="contentArea" class="content-area animated fadeInRight" ng-show="!httpLoding">
    <div class="content-container clearfix light-blue-bg">
        <!--Result List _End-->

        <div class="col-sm-12 clearboth" ng-include="'partials/user-nav.html'"></div>
        <!-- start -->
        <div class="fixed-content-wrap white-bg border clearfix p15 fixed-content-wrap-left c-fixed-wrap clearboth">
            <div class="section-wrap">
                <h3 class="heading-icon clearfix"><i class="fa fa-user"></i> {{'Change Security Questions' | translate}}
                    <a href="javascript:;" uib-tooltip="Help" class="fa fa-question-circle pull-right mr10"></a></h3>

                <form name="userForm" ng-submit="submitForm()" novalidate class="form-horizontal form-bordered col-sm-12 clearboth">
                    <div class="modal-body">
                        <div class="division-wrap clearfix">
                            <div class="row col-sm-9 clearfix pt20">
                                <div class="col-sm-12 mb10">
                                    <div class="form-group clearfix form-group-custom">
                                        <label class="control-label">Question*</label>
                                        <select class="form-control"
                                                ng-model="field.security_question_id" name="questions"
                                                ng-options="item.id as item.name for item in security_questions"
                                                required>
                                            <option value="">--Select--</option>
                                        </select>
                                        <span ng-if="questions.questions.$error.required && questions.$submitted"
                                              class="error-message ">Select Question.</span>
                                    </div>
                                </div>
                                <div class="col-sm-12 mb10">
                                    <div class="form-group clearfix form-group-custom">
                                        <input type="text" class="form-control" name="ans" placeholder="Security Answer"
                                               ng-model="field.security_question_ans" required>
                                        <span ng-if="questions.ans.$error.required && questions.$submitted"
                                              class="error-message ">Enter Answer.</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group clearfix form-group-custom">
                                    <div class="col-sm-12 pt15">
                                        <label class="control-label">If you forget your password, we will ask for the answer to the security question you select and should not be left blank.</label>
                                    </div>
                                    <!--<div class="col-sm-12 pt15"><label class="control-label"> Password strength:
                                        Should use alphabets, numbers, and special charaters of minimum length 8. Don’t
                                        use
                                        a password from another site, or something too obvious like your pet’s
                                        name </label>
                                    </div>-->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 btn-custom clearfix text-center">
                        <button type="submit" class="btn btn-primary f14 mr8"
                                n-t='{"e_n":"Update Profile","e_d":""'>{{'Update' | translate}}
                        </button>
                    </div>
                </form>
            </div>
        </div>

        <!-- end -->
    </div>

</div>

