<h3 class="fixed content-heading">Change Password</h3>

<div id="contentArea" class="content-area animated fadeInRight" ng-show="!httpLoding">
    <div class="content-container clearfix light-blue-bg">
        <div class="col-sm-12 clearboth" ng-include="'partials/user-nav.html'"></div>
        <!-- start -->
        <div class="fixed-content-wrap white-bg border clearfix p15 fixed-content-wrap-left c-fixed-wrap clearboth">
            <div class="section-wrap">
                <h3 class="heading-icon clearfix"><i class="fa fa-user"></i> {{'Change Password' | translate}} <a
                        href="javascript:;" uib-tooltip="Help" class="fa fa-question-circle pull-right mr10"></a></h3>
                <form novalidate class="form-horizontal form-bordered col-sm-12 " name="form" ng-submit="form.$valid && save(user)">
                    <div class="modal-body">
                        <div class="division-wrap clearfix">
                            <div class=" pl0 col-sm-9 clearfix pt20">
                                <div class="form-inline mb10 clearfix">
                                    <div class="form-group clearfix form-group-custom mb10 col-sm-9 p0">
                                        <input type="{{oldInputType}}" class="form-control width-full" placeholder="Old password"
                                               name="oldpassword" ng-model="user.oldpassword" required>
                                    </div>
                                    <div class="form-group col-sm-3 pt5">
                                        <label class="cursor-pointer display-block sky-blue" ng-click="hideShowPassword('oldpassword')" ng-show="oldPasswordCheckbox">hide password</label>
                                        <label class="cursor-pointer display-block sky-blue" ng-click="hideShowPassword('oldpassword')" ng-show="!oldPasswordCheckbox">show password</label>
                                    </div>
                                    <div ng-if="form.oldpassword.$error.required && form.$submitted" class="error-message">
                                        <span class="pl20 clearfix">{{'This field is required'|translate}}.</span>
                                    </div>
                                </div>
                                <div class="form-inline mb10 clearfix">
                                    <div class="form-group clearfix form-group-custom mb10 col-sm-9 p0">
                                        <input type="{{newInputType}}" class="form-control width-full" placeholder="New password"
                                               name="newpassword" ng-pattern="/^(?=.*[A-Z])(?=.*\d)(?=.*[a-z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{8,}$/"
                                               ng-model="user.password" required>
                                    </div>
                                    <div class="form-group col-sm-3 pt5">
                                        <label class="cursor-pointer display-block sky-blue" ng-click="hideShowPassword('newpassword')" ng-show="newPasswordCheckbox">hide password</label>
                                        <label class="cursor-pointer display-block sky-blue" ng-click="hideShowPassword('newpassword')" ng-show="!newPasswordCheckbox">show password</label>
                                    </div>
                                    <div ng-if="form.newpassword.$error.required && form.$submitted" class="error-message">
                                        <span class="pl20 clearfix">{{'This field is required'|translate}}.</span>
                                    </div>
                                    <div ng-if="!form.newpassword.$error.required && form.newpassword.$error.pattern" class="error-message">
                                        <span class="pl20 clearfix">{{'You should enter atleast alphabets, numbers, and special characters of
                                        minimum length 8'|translate}}</span>
                                    </div>
                                </div>
                                <div class="form-inline mb10 clearfix">
                                    <div class="form-group clearfix form-group-custom mb10 col-sm-9 p0">
                                        <input ng-model='user.cpassword' class="form-control width-full" type="{{cinputType}}"
                                               name='cpassword' placeholder='Confirm password' required>
                                    </div>
                                    <div class="form-group col-sm-3 pt5">
                                        <label class="cursor-pointer display-block sky-blue" ng-click="hideShowPassword('cpassword')" ng-show="confirmPasswordCheckbox">hide password</label>
                                        <label class="cursor-pointer display-block sky-blue" ng-click="hideShowPassword('cpassword')" ng-show="!confirmPasswordCheckbox">show password</label>
                                    </div>
                                    <div ng-if="form.cpassword.$error.required && form.$submitted" class="error-message">
                                        <span class="pl20 clearfix">{{'This field is required'|translate}}.</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group clearfix form-group-custom">
                                    <div class="col-sm-12 pt15  pr0 ml15">
                                        <label class="f12 alert alert-danger" style="text-align: left;">
                                            <strong>Password strength :</strong>
                                            Should use combination of uppercase and lowercase alphabets, numbers, and special characters of minimum length 8. Don’t use a password from another site,
                                            or something too obvious like your pet’s name
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer border-none btn-custom clearfix text-center col-sm-9">
                        <button class="btn btn-primary f14" type="submit" ng-click=""
                                n-t='{"e_n":"Update Password","e_d":"", "form": "{form.$valid}"}'>Save
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>