
<h3 class="fixed content-heading">Edit Profile</h3>

<div id="contentArea" class="content-area animated fadeInRight" ng-show="!httpLoding">
    <div class="content-container clearfix light-blue-bg">
        <!--Result List _End-->
        <div class="col-sm-12 clearboth" ng-include="'partials/user-nav.html'"></div>
        <!-- start -->
        <form name="userForm" ng-submit="userForm.$valid && submitForm()" novalidate class=" clearboth">
            <div class="fixed-content-wrap white-bg border clearfix p15 p-b-0 fixed-content-wrap-left c-fixed-wrap">
                <div class="section-wrap">
                    <h3 class="heading-icon clearfix"><i class="fa fa-user"></i> {{'Edit Profile' | translate}} <a href="javascript:;" uib-tooltip="Help" class="fa fa-question-circle pull-right mr10"></a></h3>

                    <div class="row">

                        <div class="col-sm-12">
                            <div class="col-sm-2">
                                <label class="control-label display-block">{{'Profile Photo' | translate}}</label>

                                <div class="image-wrap mt5 cursor-pointer" ngf-select="uploadUserImage($file)" ngf-pattern="'image/*'" n-t='{"e_n":"Edit Profile Image","e_d":""}'>
                                    <img ngf-thumbnail="userImage" ng-show="userImage!=''" class="image-view" />
                                    <img ng-show="userImage==undefined || userImage==''" ngf-thumbnail="user.profile_image || 'images/default-user.png'" class="image-view" alt="Image"/>
                                    <div class="image-actions">
                                        <i class="fa fa-pencil"></i>
                                    </div>
                                </div>
                                <a ng-show='trash' uib-tooltip="Delete" href="javascript:;" class="delete-img" ng-click="userLogoRemove()"><i class="fa fa-trash"></i></a>
                            </div>
                            <div class="col-sm-10">
                                <div class="col-sm-4">
                                    <div class="form-group clearfix form-group-custom">

                                        <label class="control-label">{{'First Name' | translate}}: *</label>
                                        <input type="text" class="form-control" ng-model="user.first_name" name="first_name">
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group clearfix form-group-custom">
                                        <label class="control-label">{{'Last Name' | translate}}: *</label>
                                        <input type="text" class="form-control" ng-model="user.last_name" name="last_name">
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group clearfix form-group-custom">
                                        <div class="col-sm-12 p0">
                                            <label class="control-label">{{'Email Address' | translate}}: *</label>
                                            <input type="text" class="form-control" ng-model="user.email_id" name="email_id" ng-readonly="true">
                                        </div>
                                    </div>
                                </div>


                            </div>
                            <div class="col-sm-10">
                                <!--<div class="col-sm-4">
                                    <div class="form-group clearfix form-group-custom">
                                        <label class="control-label">{{'Phone No' | translate}}: *</label>
                                        <input type="text" class="form-control" ng-model="user.phone_number" name="phone_number" only-digits >
                                    </div>
                                </div>-->
                                <div class="col-sm-4">
                                    <span class="clearfix"></span>
                                    <div class="col-sm-12 p0">
                                        <div class="col-sm-5 p0 pr0">
                                            <label class="control-label">ISD *</label>
                                            <div class="form-group clearfix form-group-custom">
                                                <select class="form-control p0 font-control"
                                                    ng-model="user.phone_number_isd"
                                                    name="client_phone_number_isd"
                                                    ng-options="item.isd_code as (item.country_name +' '+ item.isd_code) for item in countries" required>
                                                    <option value="">--Select--</option>
                                                </select>
                                            </div>
                                            <div ng-if="userForm.client_phone_number_isd.$error.required && userForm.$submitted"
                                                 class="error-message">
                                                {{'Select ISD Code'|translate}}
                                            </div>
                                        </div>
                                        <div class="col-sm-7 pl5 pr0">
                                            <div class="form-group clearfix form-group-custom">
                                                <label class="control-label">{{'Phone No' | translate}}</label>
                                                <input type="text" class="form-control" ng-model="user.phone_number1" name="phone_number" only-digits required ng-minlength="7">
                                            </div>
                                            <div ng-if="userForm.phone_number.$error.required && userForm.$submitted"
                                                 class="error-message">
                                                {{'Enter valid Phone number'|translate}}
                                            </div>
                                            <div ng-show="!userForm.phone_number.$error.required && userForm.phone_number.$error.minlength && userForm.$submitted"
                                                 class="error-message">
                                                {{'Enter valid Phone number (min 7 digits)'|translate}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group clearfix form-group-custom">
                                        <div class="col-sm-12 p0">
                                            <label class="control-label">{{'Address' | translate}}:</label>
                                            <textarea class="col-sm-12 form-control" ng-model="user.address" name="address"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group clearfix form-group-custom">
                                        <div class="col-sm-12 p0">
                                            <label class="control-label">{{'City' | translate}}:</label>
                                            <input type="text" class="form-control" ng-model="user.city" name="city">
                                        </div>
                                    </div>
                                </div>


                            </div>
                            <div class="col-sm-10">


                                <div class="col-sm-4">
                                    <div class="form-group clearfix form-group-custom">
                                        <div class="col-sm-12 p0">
                                            <label class="control-label">{{'State' | translate}}:</label>
                                            <input type="text" class="form-control" ng-model="user.state" name="state">
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group clearfix form-group-custom">
                                        <div class="col-sm-12 p0">
                                            <label class="control-label">{{'Country' | translate}}:</label>
                                            <select class="form-control" ng-model="user.country_id" name="country_id" >
                                                <option value="">&#45;&#45;Select country&#45;&#45;</option>
                                                <option ng-repeat="country in countries" ng-value="country.id_country" ng-selected="country.id_country == user.country_id" >
                                                    {{country.country_name}}
                                                </option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group clearfix form-group-custom">
                                        <div class="col-sm-12 p0">
                                            <label class="control-label">{{'Zip' | translate}}:</label>
                                            <input type="text" class="form-control" ng-model="user.zip_code" name="zip_code" >
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--section wrap-->
                    <div class="col-lg-12 btn-custom clearfix text-center">

                        <button type="submit" class="btn btn-primary f14 mr8"
                                n-t='{"e_n":"Update Profile","e_d":""'>{{btn | translate}}</button>
                    </div>
                    <!--./Buttons ui-sref="app.org-structure-view" -->
                </div>
            </div>
        </form>
        <!-- end -->
    </div>

</div>

