<div class="right-modal modal-custom" >
    <h3 class="right-modal-head clearfix">
        <div class="col-sm-6 p-l-0 mt5">
            <i class="fa fa-tasks mr8"></i> {{'Email Verification' | translate}}
        </div>
        <a ng-click="cancel()" class="close-right pull-right mt5" uib-tooltip="Close"
           n-t='{"e_n":"Close Email verify","e_d":""}'><img src="images/close.png"></a>
    </h3>
    <form class="form-horizontal form-bordered" name="form" novalidate ng-submit="form.$valid && verify(verfy)">
        <div class="clearfix tasks-list mb20">
            <div class="col-sm-12 p0">
                <div class="form-group col-sm-12">
                    <label class="control-label">{{'Verification Code' | translate}} *:</label>

                    <div class="form-input">
                        <input type="text" name="code" ng-model="verfy.code" class="form-control" required>
                    </div>
                    <div ng-if="form.code.$error.required && form.$submitted" class="error-message">{{'Enter Verification Code' | translate}}.
                    </div>
                </div>

            <div class="col-sm-12 text-center mt10">
                <button class="btn btn-primary f12 btn-dark border-none mr4" type="submit"
                        n-t='{"e_n":"Verify Code - Save","e_d":""}'>Save
                </button>
                <button type="button" class="btn btn-primary lt-bg f12 border-none" ng-click="cancel()"
                        n-t='{"e_n":"Verify Code - Cancel","e_d":""}'>{{'Cancel' | translate}}</button>
            </div>
        </div>
    </form>
</div>