<header class="fixed width-full" ng-controller="AppCtrl">
    <span class="cursor-pointer" id="toggleLeftMenu">
                <i class="fa fa-bars menu-toggler"></i>
            </span>
    <div class="header-left pull-left">

        <a href="{{ site_url }}" class="pl67 display-inline-block"
           n-t='{"e_n":"Logo","e_d":""}'>
            <img class="img-responsive logo" ng-src="{{company_logo || 'images/logo.png'}}"/>
        </a>
    </div>
    <div class="header-right pull-right dropdown">
        <div class="header-user cursor-pointer" ng-click="toggleMenu(this, $event);">
            <div class="display-inline-block valign-middle line-height14 mr4 text-right">
                <label class="f14 text-right">{{'Welcome' | translate}} <span
                        class="sky-blue text-capitalize">{{user_name}}</span></label>
                <span class="f11 display-block"
                      ng-if="user_role_id=='3'">{{'Branch' | translate}}: {{branch_name}} | {{'Role' | translate}}: {{role_name}}</span>
            </div>

            <img ng-src="{{profile_image || 'images/default-img.png'}}" alt="" class="img-circle"/>
        </div>
        <ul class="dropdown-menu" ng-show="menuOpened">
            <li><a href="#/my-profile" n-t='{"e_n":"Edit Profile","e_d":""}'>{{'Profile' | translate}}</a></li>
            <!--<li><a href="javascript:;" ng-click="">Settings</a></li>  n-t='{"e_n":"Logged Out","e_d":""}'-->
            <li><a href="#" ng-click="logout()">{{'Logout' | translate}}</a></li>
        </ul>

    </div>

    <div class="h-notifiacation-wrap pull-right" uib-dropdown is-open="status.isopen"
         ng-click="getNotificationList(status.isopen)">
        <div class="h-notifiacation-btn menu-toggle dropdown-toggle" uib-dropdown-toggle
             n-t='{"e_n":"Notification","e_d":""}'>
            <span class="icon-mail icon-mail f24 valign-middle mr10"></span>
            <span class="notification-text">Notifications</span>
            <span class="notification-count" ng-if="notification_count>0">{{notification_count}}</span>
        </div>
        <div class="dropdown-menu" uib-dropdown-menu>

            <ul><!-- ng-show="notificationsOpen"-->
                <li class="notification-list" ng-show="notificationList.length>0">
                    <a>Messages</a>
                </li>
                <div id="notification_loader" class="clearfix text-center display-block mt10">
                    <img src="images/loader2.gif" width="25" height="25" alt="LOADING...">
                </div>
                <li class="notification-list" ng-repeat="item in notificationList">
                    <a ui-sref="app.notification"
                       n-t='{"e_n":"View Notification","e_d":"{{item.user_name}} - {{item.notification_subject}}"}'>
                        <span class="notif-profile-pic"><img ng-src="{{item.profile_image}}"/> </span>
                        <span class="sky-blue f14">{{item.user_name}}<span
                                ng-show="item.user_name==null">Admin</span></span>
                        <span class="text-line">{{item.module_reference_type | capitalize}} : {{item.notification_subject}}</span>
                        <span class="gray">{{item.created_date_time | utcToLocal:'date'}}</span>
                    </a>
                </li>
                <li class="all-notifications">
                    <a n-t='{"e_n":"All Notification","e_d":""}' ui-sref="app.notification">Show all Notifications</a>
                </li>
            </ul>

        </div>

    </div>

</header><!-- PAGE HEADER _End -->
<section class="pt50 clearboth " ng-controller="AppCtrl">
    <div id="leftMenu" class="left-menu pull-left parent">

        <div class="clearfix" ng-scrollbars win-height wh-offset="100">
            <ul ng-if="user_role_id=='1'">
                <li ng-class="{in: (!$state.includes('sa.master') && !$state.includes('sa.roles'))}">
                    <a ui-sref="sa.index"
                       n-t='{"e_n":"Menu Customers","e_d":""}'>
                            <span>
                                <i class="fa fa-home"></i>
                            </span>
                        <label> Customers</label>
                    </a>
                </li>
                <li ng-class="{in: $state.includes('sa.master')}">
                    <a ui-sref="sa.master.sector"
                       n-t='{"e_n":"Menu Masters","e_d":""}'>
                            <span>
                                <i class="fa fa-building"></i>
                            </span>
                        <label> Masters</label>
                    </a>
                </li>
            </ul>
           <!-- <ul ng-if="user_role_id=='2'">
                <li class="has-sub" parent-active>
                    <a href="javascript:;"
                       n-t='{"e_n":"Menu Setup","e_d":""}'>
                            <span>
                                <i class="fa fa-cog"></i>
                            </span>
                        <label> {{'Setup' | translate}}</label>
                    </a>
                    <ul class="sub-menu">
                        <li ui-sref-active="in">
                            <a ui-sref="adm.admin-setup"
                               n-t='{"e_n":"Menu Setup Page","e_d":""}'>
                                    <span>
                                        <i class="fa fa-sitemap"></i>
                                    </span>
                                <label>{{'Setup Page' | translate}}</label>
                            </a>
                        </li>
                        <li ng-class="{in: $state.includes('entity')}">
                            <a ui-sref="entity.branch-structure-view"
                               n-t='{"e_n":"Menu Entity Structure","e_d":""}'>
                                    <span>
                                        <i class="fa fa-sitemap"></i>
                                    </span>
                                <label>{{'Entity Structure' | translate}}</label>
                            </a>
                        </li>
                        <li ng-class="{in: $state.includes('org')}">
                            <a ui-sref="org.org-structure-view"
                               n-t='{"e_n":"Menu Users","e_d":""}'>
                                    <span>
                                        <i class="fa fa-code-fork"></i>
                                    </span>
                                <label> {{'Users' | translate}}</label>
                            </a>
                        </li>
                        <li ng-class="{in: $state.includes('org.org-structure')}">
                            <a ui-sref="org.org-structure"
                               n-t='{"e_n":"Menu Roles","e_d":""}'>
                                    <span>
                                        <i class="fa fa-code-fork"></i>
                                    </span>
                                <label> {{'Roles' | translate}}</label>
                            </a>
                        </li>

                        &lt;!&ndash;  <li ng-class="{in: $state.includes('preapproval')}">
                              <a ui-sref="preapproval.pre-approval-structure">
                                      <span>
                                          <i class="fa fa-check-square-o"></i>
                                      </span>
                                  <label>{{'Pre Approval Structure' | translate}}</label>
                              </a>
                          </li>
                          <li ng-class="{in: $state.includes('approval')}">
                              <a ui-sref="approval.approval-structure">
                                      <span>
                                          <i class="fa fa-check-square-o"></i>
                                      </span>
                                  <label>{{'Approval Structure' | translate}}</label>
                              </a>
                          </li>
  &ndash;&gt;

                        &lt;!&ndash;<li>
                            <a ui-sref="org.user-information" active-link="in">
                                    <span>
                                        <i class="fa fa-users"></i>
                                    </span>
                                <label> Users </label>
                            </a>
                        </li>&ndash;&gt;
                    </ul>
                </li>

                <li class="has-sub" parent-active>
                    <a href="javascript:;"
                       n-t='{"e_n":"Menu Company Config","e_d":""}'>
                            <span>
                                <i class="fa fa-university"></i>
                            </span>
                        <label>{{'Company Config' | translate}}</label>
                    </a>
                    <ul class="sub-menu">
                        <li ui-sref-active="in">
                            <a ui-sref="adm.business-assessment"
                               n-t='{"e_n":"Menu Assessment Config","e_d":""}'>
                                    <span>
                                        <i class="fa fa-windows"></i>
                                    </span>
                                <label>{{'Assessment Config' | translate}}</label>
                            </a>
                        </li>

                        <li ui-sref-active="in">
                            <a ui-sref="assessment.assessment-questions"
                               n-t='{"e_n":"Menu Assessment Questions","e_d":""}'>
                                    <span>
                                        <i class="fa fa-question-circle"></i>
                                    </span>
                                <label>{{'Assessment Questions' | translate}}</label>
                            </a>
                        </li>
                        <li ui-sref-active="in">
                            <a ui-sref="assessment.business-plan"
                               n-t='{"e_n":"Menu Business Plan","e_d":""}'>
                                    <span>
                                        <i class="fa fa-line-chart"></i>
                                    </span>
                                <label>{{'Business Plan' | translate}}</label>
                            </a>
                        </li>

                        <li ui-sref-active="in">
                            <a ui-sref="adm.risk-assessment"
                               n-t='{"e_n":"Menu Expert Rating Model","e_d":""}'>
                                    <span>
                                        <i class="fa fa-tachometer"></i>
                                    </span>
                                <label>{{'Expert Rating Model' | translate}}</label>
                            </a>
                        </li>
                        <li ui-sref-active="in">
                            <a ui-sref="adm.sector-limit"
                               n-t='{"e_n":"Menu Expert Rating Model","e_d":""}'>
                                    <span>
                                        <i class="fa fa-tachometer"></i>
                                    </span>
                                <label>{{'Sector limit' | translate}}</label>
                            </a>
                        </li>

                    </ul>
                </li>
                <li class="has-sub" parent-active>
                    <a href="javascript:;"
                       n-t='{"e_n":"Menu Products Config","e_d":""}'>
                            <span>
                                <i class="fa fa-cogs"></i>
                            </span>
                        <label>{{'Products Config' | translate}}</label>
                    </a>
                    <ul class="sub-menu">
                        <li ng-class="{in: $state.includes('product')}">
                            <a ui-sref="product.list"
                               n-t='{"e_n":"Menu Products","e_d":""}'>
                                    <span>
                                        <i class="fa fa-cubes"></i>
                                    </span>
                                <label>{{'Products' | translate}}</label>
                            </a>
                        </li>

                        &lt;!&ndash;<li ui-sref-active="in">
                            <a ui-sref="covenant.positive"
                               n-t='{"e_n":"Menu Positive Covenant","e_d":""}'>
                                    <span>
                                        <i class="fa fa-tachometer"></i>
                                    </span>
                                <label>{{'Positive Covenant' | translate}}</label>
                            </a>
                        </li>
                        <li ui-sref-active="in">
                            <a ui-sref="covenant.negative"
                               n-t='{"e_n":"Menu Negative Covenant","e_d":""}'>
                                    <span>
                                        <i class="fa fa-tachometer"></i>
                                    </span>
                                <label>{{'Negative Covenant' | translate}}</label>
                            </a>
                        </li>
                        <li ui-sref-active="in">
                            <a ui-sref="covenant.representations"
                               n-t='{"e_n":"Menu Representations Warranties","e_d":""}'>
                                    <span>
                                        <i class="fa fa-tachometer"></i>
                                    </span>
                                <label>{{'Representations Warranties' | translate}}</label>
                            </a>
                        </li>
                        <li ui-sref-active="in">
                            <a ui-sref="covenant.events"
                               n-t='{"e_n":"Menu Events Of Defaults","e_d":""}'>
                                    <span>
                                        <i class="fa fa-tachometer"></i>
                                    </span>
                                <label>{{'Events Of Defaults' | translate}}</label>
                            </a>
                        </li>&ndash;&gt;
                    </ul>
                </li>

                <li ng-class="{in: $state.includes('knowledge-management')}">
                    <a ui-sref="knowledge-management.knowledge-dashboard"
                       n-t='{"e_n":"Menu Knowledge Management","e_d":""}'>
                                    <span>
                                        <i class="fa fa-lightbulb-o"></i>
                                    </span>
                        <label>{{'Knowledge Management' | translate}}</label>
                    </a>
                </li>
                <li ng-class="{in: $state.includes('covenant')}">
                    <a ui-sref="covenant.list"
                       n-t='{"e_n":"Menu Covenant","e_d":""}'>
                                    <span>
                                        <i class="fa icon-covenant"></i>
                                    </span>
                        <label>{{'Covenant' | translate}}</label>
                    </a>
                </li>

                <li ng-class="{in: $state.includes('collateral')}">
                    <a ui-sref="collateral.collateral-list"
                       n-t='{"e_n":"Menu Collateral","e_d":""}'>
                                    <span>
                                        <i class="fa icon-collateral"></i>
                                    </span>
                        <label>{{'Collateral' | translate}}</label>
                    </a>
                </li>
                <li ng-class="{in: $state.includes('operating-currency')}">
                    <a ui-sref="operating-currency.tab.operating-currency"
                       n-t='{"e_n":"Menu Operating Currency","e_d":""}'>
                                    <span>
                                        <i class="fa fa-dollar"></i>
                                    </span>
                        <label>{{'Operating Currency' | translate}}</label>
                    </a>
                </li>
                <li ng-class="{in: $state.includes('roles')}">
                    <a ui-sref="roles.roles-management"
                       n-t='{"e_n":"Menu Roles Management","e_d":""}'>
                            <span>
                                <i class="fa fa-users"></i>
                            </span>
                        <label> {{'Roles Management' | translate}}</label>
                    </a>
                </li>
                <li ng-class="{in: $state.includes('facility')}">
                    <a ui-sref="facility.type"
                       n-t='{"e_n":"Menu Facility Setup","e_d":""}'>
                            <span>
                                <i class="fa icon-facility"></i>
                            </span>
                        <label>Facility Setup</label>
                    </a>
                </li>
                <li class="has-sub" parent-active>
                    <a href="javascript:;"
                       n-t='{"e_n":"Menu Masters","e_d":""}'>
                            <span>
                                <i class="fa icon-server1"></i>
                            </span>
                        <label>{{'Masters' | translate}}</label>
                    </a>
                    <ul class="sub-menu">
                        <li ui-sref-active="in">
                            <a ui-sref="master-data.other"
                               n-t='{"e_n":"Menu Other","e_d":""}'>
                                    <span>
                                        <i class="fa fa-cubes"></i>
                                    </span>
                                <label>{{'Other' | translate}}</label>
                            </a>
                        </li>
                        <li ui-sref-active="in">
                            <a ui-sref="master-data.currency"
                               n-t='{"e_n":"Menu Currency","e_d":""}'>
                                    <span>
                                        <i class="fa fa-cubes"></i>
                                    </span>
                                <label>{{'Currency' | translate}}</label>
                            </a>
                        </li>
                        &lt;!&ndash; <li ng-class="{in: $state.includes('master-data')}">
                             <a ui-sref="master-data.idproof">
                                     <span>
                                         <i class="fa fa-cubes"></i>
                                     </span>
                                 <label>{{'Id Proof' | translate}}</label>
                             </a>
                         </li>&ndash;&gt;
                        <li ui-sref-active="in">
                            <a ui-sref="master-data.sector"
                               n-t='{"e_n":"Menu Sector","e_d":""}'>
                                    <span>
                                        <i class="fa fa-cubes"></i>
                                    </span>
                                <label>{{'Sector' | translate}}</label>
                            </a>
                        </li>
                        <li ui-sref-active="in">
                            <a ui-sref="master-data.branch-type"
                               n-t='{"e_n":"Menu Branch Type","e_d":""}'>
                                    <span>
                                        <i class="fa fa-cubes"></i>
                                    </span>
                                <label>{{'Branch Type' | translate}}</label>
                            </a>
                        </li>
                        <li ui-sref-active="in">
                            <a ui-sref="master-data.country"
                               n-t='{"e_n":"Menu Country","e_d":""}'>
                                    <span>
                                        <i class="fa fa-cubes"></i>
                                    </span>
                                <label>{{'Country' | translate}}</label>
                            </a>
                        </li>
                        <li ui-sref-active="in">
                            <a ui-sref="master-data.approval-role"
                               n-t='{"e_n":"Menu Approval Role","e_d":""}'>
                                    <span>
                                        <i class="fa fa-cubes"></i>
                                    </span>
                                <label>{{'Approval Role' | translate}}</label>
                            </a>
                        </li>
                        <li ui-sref-active="in">
                            <a ui-sref="master-data.bank-category"
                               n-t='{"e_n":"Menu Bank Category","e_d":""}'>
                                    <span>
                                        <i class="fa fa-cubes"></i>
                                    </span>
                                <label>{{'Bank Category' | translate}}</label>
                            </a>
                        </li>
                        <li ui-sref-active="in">
                            <a ui-sref="master-data.risk"
                               n-t='{"e_n":"Menu Risk","e_d":""}'>
                                    <span>
                                        <i class="fa fa-cubes"></i>
                                    </span>
                                <label>{{'Risk' | translate}}</label>
                            </a>
                        </li>
                        <li ui-sref-active="in">
                            <a ui-sref="master-data.social"
                               n-t='{"e_n":"Menu Social","e_d":""}'>
                                    <span>
                                        <i class="fa fa-cubes"></i>
                                    </span>
                                <label>{{'Social' | translate}}</label>
                            </a>
                        </li>
                        <li ui-sref-active="in">
                            <a ui-sref="master-data.contact"
                               n-t='{"e_n":"Menu Contact","e_d":""}'>
                                    <span>
                                        <i class="fa fa-cubes"></i>
                                    </span>
                                <label>{{'Contact' | translate}}</label>
                            </a>
                        </li>
                        <li ui-sref-active="in">
                            <a ui-sref="master-data.language"
                               n-t='{"e_n":"Menu Language","e_d":""}'>
                                    <span>
                                        <i class="fa fa-cubes"></i>
                                    </span>
                                <label>{{'Language' | translate}}</label>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="has-sub" parent-active>
                    <a href="javascript:;"
                       n-t='{"e_n":"Menu Masters","e_d":""}'>
                            <span>
                                <i class="fa fa-upload"></i>
                            </span>
                        <label>{{'MIS Upload' | translate}}</label>
                    </a>
                    <ul class="sub-menu">
                        <li ui-sref-active="in">
                            <a ui-sref="mis-upload.disbursement"
                               n-t='{"e_n":"Menu Disbursement Plan","e_d":""}'>
                                    <span>
                                        <i class="fa fa-cubes"></i>
                                    </span>
                                <label>{{'Disbursement Plan' | translate}}</label>
                            </a>
                        </li>
                        <li ui-sref-active="in">
                            <a ui-sref="mis-upload.repayment"
                               n-t='{"e_n":"Menu Repayment Plan","e_d":""}'>
                                    <span>
                                        <i class="fa fa-cubes"></i>
                                    </span>
                                <label>{{'Repayment Plan' | translate}}</label>
                            </a>
                        </li>
                        <li ui-sref-active="in">
                            <a ui-sref="mis-upload.collection"
                               n-t='{"e_n":"Menu Collection Plan","e_d":""}'>
                                    <span>
                                        <i class="fa fa-cubes"></i>
                                    </span>
                                <label>{{'Collection Plan ' | translate}}</label>
                            </a>
                        </li>
                        <li ui-sref-active="in">
                            <a ui-sref="mis-upload.aging"
                               n-t='{"e_n":"Menu Aging","e_d":""}'>
                                    <span>
                                        <i class="fa fa-cubes"></i>
                                    </span>
                                <label>{{'Aging ' | translate}}</label>
                            </a>
                        </li>
                        <li ui-sref-active="in">
                            <a ui-sref="mis-upload.outstanding"
                               n-t='{"e_n":"Menu Outstanding","e_d":""}'>
                                    <span>
                                        <i class="fa fa-cubes"></i>
                                    </span>
                                <label>{{'Outstanding ' | translate}}</label>
                            </a>
                        </li>
                    </ul>
                </li>
                <li ui-sref-active="in">
                    <a ui-sref="adm.access"
                       n-t='{"e_n":"Menu Access logs","e_d":""}'>
                                    <span>
                                        <i class="fa fa-code-fork"></i>
                                    </span>
                        <label> {{'Access' | translate}}</label>
                    </a>
                </li>
                <li ui-sref-active="in">
                    <a ui-sref="adm.audit-log"
                       n-t='{"e_n":"Menu Audit Logs","e_d":""}'>
                                    <span>
                                        <i class="fa fa-cubes"></i>
                                    </span>
                        <label>{{'Audit logs' | translate}}</label>
                    </a>
                </li>
            </ul>-->
            <ul ng-if="user_role_id=='3' || user_role_id=='2'" ng-init="getMenuList()">
                <li ng-class="{'has-sub':m.childs.length>0}" ng-repeat="m in menuList" parent-active>
                    <a  n-t='{"e_n":"Menu - {{m.module_name}}","e_d":""}' ng-href="{{m.url}}" ng-init="m.url=(m.module_url)?'#'+m.module_url:''" active-link="in">
                        <span>
                            <i class="{{m.module_icon}}"></i>
                        </span>
                        <label>{{m.module_name}}</label>
                    </a>
                    <ul class="sub-menu">
                        <li ng-repeat="c in m.childs">
                            <a ng-href="#{{c.url}}"  n-t='{"e_n":"Menu {{c.child_name}}","e_d":""}' active-link="in">
                                <span>
                                    <i class="fa fa-cubes"></i>
                                </span>
                                <label>{{c.child_name}}</label>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>


        </div>
    </div>
    <footer>
        <p class="text-line">{{'All Rights Reserved' | translate}}. sanadcom &copy; 2017</p>
    </footer>
    <!--Left Menu _End -->
    <div id="loader" class="content-area page-overlay" http-response>
        <img id="loader-img" src="images/ajax-loader.gif" width="128" height="15" alt="LOADING...">
    </div>
    <div ng-if="notification" class="toast-top-center toast-wrap relative">
        <div class="toast toast-warning">
            <i class="icon-warning"></i>
            <button type="button" class="toast-close-button" role="button" ng-click="closeNotification()" ng-if="!dontShowClose"><i
                    class="icon-times"></i></button>
            <div ng-bind-html="notificationMsg"></div>
        </div>
    </div>
    <div ui-view></div>
</section>