
<h3 class="fixed content-heading">{{'Login History'}}</h3>

<div id="contentArea" class="content-area animated fadeInRight" ng-show="!httpLoding">
    <div class="content-container clearfix light-blue-bg">
        <!--Result List _End-->
        <div class="col-sm-12 clearboth" ng-include="'partials/user-nav.html'"></div>
        <!-- start -->
        <div class="fixed-content-wrap white-bg border clearfix p15 fixed-content-wrap-left c-fixed-wrap clearboth">
            <div class="section-wrap">
                <h3 class="heading-icon clearfix"><i class="fa fa-user"></i> {{'Login History' | translate}}<a href="javascript:;" uib-tooltip="Help" class="fa fa-question-circle pull-right mr10"></a> </h3>
                <div class="row">
                    <div class="col-sm-12 mb10">
                        <div id="tab2" class="" data-content="tab" style="display: block;">
                            <div class="p10 p-b-0">
                                <table class="table mb0 table-striped border-none table-hover display table-style" st-pipe="callServer" st-table="displayed">
                                    <thead>
                                    <thead>
                                    <tr>
                                        <!--<th>User</th>-->
                                        <th>Date</th>
                                        <th>Client Browser</th>
                                        <th width="15%">Client IP</th>
                                        <!--<th>No. of Hours</th>-->
                                    </tr>
                                    </thead>
                                    <tbody ng-show="!isLoading">
                                    <tr ng-repeat="row in displayed">
                                        <!--<td>{{row.name}}</td>-->
                                        <td>{{row.created_at | utcToLocal}}</td>
                                        <td>{{row.client_browser}}</td>
                                        <td>{{row.client_remote_address}}</td>
                                    </tr>
                                    </tbody>
                                    <tbody ng-show="isLoading">
                                    <tr>
                                        <td colspan="4" class="text-center">Loading ... </td>
                                    </tr>
                                    </tbody>
                                    <tfoot>
                                    <tr>
                                        <td colspan="6" class="text-center">
                                            <div st-items-by-page="10" st-pagination="" st-template="partials/pagination.custom.html" class="pull-right"></div>
                                        </td>
                                    </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end -->
    </div>

</div>