<div class="login-wrap login-wrap-new"></div>
<div id="loader-login" class="login-loader" http-response>
    <img id="loader-img" src="images/ajax-loader.gif" width="128" height="15" alt="LOADING...">
</div>

<div class="login-section">
    <div class="login-header">
        <div class="fixed-wrap">
            <a href="javascript:;">
                <img src="images/company-logo.jpg"/>
            </a>
        </div>
    </div>
    <div class="login-content">
        <div class="fixed-wrap">
            <div class="login-content-wrap">
                <h1>Sandak Business Financing Company</h1>
                <div class="pl10">
                    <p class="f14 mb5">Based on our keenness to support the SME sector only, SANDCOM has designed a number of programs aimed at creating an appropriate financing environment that helps small and medium-sized companies owners or promising entrepreneurs to execute their plans and business with ease.</p>
                    <a href="http://sanadcomjo.com/" target="_blank"
                       class="btn btn-dark ml10 mt10 white-color f12 border-none"> Read More</a>
                </div>
            </div>
            <div class="form-wrapper">
                <div class="signin-wrapper">

                    <div class="form-content">
                        <form name="loginForm" ng-submit="loginForm.$valid && submitForm(user)" novalidate>
                            <div ng-if="!secureLogin">
                                <div class="form-header">
                                    <h3 class="text-capitalize">Sign In</h3>
                                </div>
                                <div class="form-group relative">
                                    <label class="f14 darkcolor">User Name</label>
                                    <div class="form-group clearfix form-group-custom">
                                        <input type="email" class="form-control" ng-model="user.email_id"
                                               name="email_id"
                                               required>
                                        <div ng-if="loginForm.email_id.$error.required && loginForm.$submitted"
                                             class="error-message">{{'Enter Email' | translate}}
                                        </div>
                                        <div ng-if="loginForm.email_id.$error.email && loginForm.$submitted"
                                             class="error-message">{{'Enter valid email' | translate}}
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group ">
                                    <label class="f14 darkcolor">Password</label>
                                    <div class="form-group clearfix form-group-custom">
                                        <input type="password" class="form-control" ng-model="user.password"
                                               name="password"
                                               required>
                                        <div ng-if="loginForm.password.$error.required && loginForm.$submitted"
                                             class="error-message">{{'Enter Password' | translate}}
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group clearfix rem-wrap">
                                    <!--<label class="darkcolor f14"><input type="checkbox" class="mr4"> Remember Me</label>-->
                                    <a href="javascript:;" class="f14 sky-blue forgot-pwd" ng-click="forgotPassword()"> Forgot Password?</a>
                                </div>
                                <div class="text-center btn-wrapper pb20">
                                    <button type="submit" class="btn btn-dark  white-color f15 mr8">Sign In</button>
                                    <button type="reset" class="btn white-color f15 lt-bg">Cancel</button>
                                </div>
                            </div>
                            <div class="form-group " ng-if="secureLogin">
                                <div class="form-header">
                                    <h3 class="text-capitalize">Secure Login</h3>
                                </div>
                                <div class="form-group clearfix form-group-custom">
                                    <label class="f14 darkcolor">Already Logged in Other location</label>
                                    <div class="radio" ng-init="user.session_exceed=0">
                                        <label><input type="radio" value="0" name="session_exceed"
                                                      ng-model="user.session_exceed"> Continue Login</label>
                                    </div>
                                    <div class="radio">
                                        <label><input type="radio" value="1" name="session_exceed"
                                                      ng-model="user.session_exceed"> Logout Other session and Continue</label>
                                    </div>
                                    <div class="text-center btn-wrapper pb20">
                                        <button type="submit" ng-disabled="from.$submitted" class="btn btn-dark  white-color f15 mr8">Continue</button>
                                        <!--<button type="reset" class="btn white-color f15 lt-bg">Cancel</button>-->
                                    </div>

                                </div>
                            </div>

                            <!--<div class="s-wrapper">
                                <h4 class="text-center f16 darkcolor bold mt20 mb20">OR</h4>
                                <a href="javascript:;"><i class="gplus-icon"></i> Sign In with Google</a>
                            </div>-->
                            <div class="l-wraper text-center">
                                <p class="f12">Powered By</p>
                                <a href="http://www.thresholdsoft.com/" class="mr15" target="_blank"><img
                                        src="images/login-logo.jpg"> </a>
                                <!--<a href="http://www.lfs-consulting.de/" target="_blank"><img src="images/lfs_logo.png"></a>-->
                                <!--<a href="http://www.thresholdsoft.com/" class="mr15" target="_blank"><img src="images/Threshold-Logo.png"> </a>
                                <a href="http://www.lfs-consulting.de/" target="_blank"><img src="images/lfs_logo.png"> </a>-->
                                <!-- <a href="http://www.q-lana.com/"><img src="images/login-logo.jpg"></a>-->
                            </div>
                        </form>
                    </div>
                    <div class="form-footer">
                        <h5 class="text-capitalize"></h5>
                    </div>
                </div>
                <div class="forgot-pwd-wrap clearfix">
                    <a class="cancel-btn pull-right p10" href="javascript:;"><i class="icon-times f16"></i> </a>
                    <div class="form-header">
                        <h3 class="text-capitalize">Forgot Password</h3>
                    </div>
                    <div class="form-content">
                        <form name="forgotPasswordForm" novalidate ng-if="!showQuestion">
                            <div class="form-group mb10" >
                                <label class="f14 darkcolor">Enter Your Email</label>
                                <div class="form-group clearfix form-group-custom">
                                    <input type="email" class="form-control" ng-model="emailId" name="emailId"
                                           required>
                                    <div ng-if="forgotPasswordForm.emailId.$error.required && forgotPasswordForm.$submitted"
                                         class="error-message">{{'Enter Email' | translate}}
                                    </div>
                                    <div ng-if="forgotPasswordForm.emailId.$error.email && forgotPasswordForm.$submitted"
                                         class="error-message">{{'Enter valid email' | translate}}
                                    </div>
                                </div>
                            </div>
                            <div class="text-center btn-wrapper pb20">
                                <button type="submit" class="btn btn-dark  white-color f15 mr8" ng-click="forgotPasswordForm.$valid && sendEmail(emailId,forgotPasswordForm)">Send</button>
                                <button type="reset" class="btn white-color cancel-btn f15 lt-bg">Cancel</button>
                            </div>
                        </form>
                        <form name="QuestionForm" novalidate  ng-if="showQuestion" >
                            <div class="form-group relative">
                                <label class="f14 darkcolor">Q) {{ userSecurityData.child_name }} </label>
                            </div>
                            <div class="form-group relative">
                                <label class="f14 darkcolor">Answer</label>
                                <div class="form-group clearfix form-group-custom">
                                    <input type="text" class="form-control" ng-model="userSecurityData.ans" name="ans" required>
                                    <div ng-if="QuestionForm.ans.$error.required && QuestionForm.$submitted" class="error-message">{{'Enter answer' | translate}}</div>
                                </div>
                            </div>
                            <div class="text-center btn-wrapper pb20">
                                <button type="submit" class="btn btn-dark  white-color f15 mr8" ng-click="QuestionForm.$valid && send(userSecurityData,QuestionForm)">Send</button>
                                <button type="reset" id="cancelSecurity" class="btn white-color cancel-btn f15 lt-bg">Cancel</button>
                            </div>
                        </form>
                        <div class="l-wraper mt35 text-center">
                            <p class="f12">Powered By</p>
                            <a href="http://www.thresholdsoft.com/" class="mr15" target="_blank"><img
                                    src="images/Threshold-Logo.png"> </a>
                            <a href="http://www.lfs-consulting.de/" target="_blank"><img src="images/lfs_logo.png">
                            </a>
                        </div>
                    </div>
                    <div class="form-footer">
                        <h5 class="text-capitalize"></h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--<div class="login-footer">
        <div class="fixed-wrap">
            <ul>
                <li>
                    <a href="javascript:;">Home</a>
                </li>
                <li>
                    <a href="javascript:;">Resellerbin</a>
                </li>
                <li>
                    <a href="javascript:;">Features</a>
                </li>
                <li>
                    <a href="javascript:;">Membership</a>
                </li>
                <li>
                    <a href="javascript:;">Join Us</a>
                </li>
                <li>
                    <a href="javascript:;">Partners</a>
                </li>
                <li>
                    <a href="javascript:;">Contact Us</a>
                </li>
            </ul>
        </div>

    </div>-->

</div>
<script>
    $(function(){
        var _logSection=$('.login-section').height();
        $('.login-section').css({'margin-top':-(_logSection/2)})
    });
</script>
