<div class="right-modal modal-custom">
    <h3 class="right-modal-head">
        <i class="fa fa-map-pin mr8"></i> Locate this on map
        <a uib-tooltip="Close" class="close-right pull-right" ng-click="cancel()"><img src="images/close.png"></a>
    </h3>
    <div class="col-sm-12 clearfix">
        <div class="col-sm-4">
            <label class="control-label">Latitude</label>
            <div class="form-group clearfix form-group-custom">
                <input type="text" class="form-control" name="latitude" ng-model="latitude">
            </div>
        </div>
        <div class="col-sm-4">
            <label class="control-label">Langitude</label>
            <div class="form-group clearfix form-group-custom">
                <input type="text" class="form-control" name="langitude" ng-model="langitude">
            </div>
        </div>
        <div class="col-sm-12" ng-if="showMap">
            <div>
                <!-- {{contact.client_latitude}},{{contact.client_langitude}},{{contact.client_city}},{{contact.client_country}} / {{mapAddress}}-->
                <ng-map zoom="6" center="[{{mapAddress}}]">
                    <marker draggable="true" on-dragend="getMap()"
                            position="{{mapAddress}}"></marker>
                </ng-map>
            </div>
        </div>
    </div>
</div>