
<h3 class="fixed content-heading">My Profile</h3>

<div id="contentArea" class="content-area animated fadeInRight" ng-show="!httpLoding">
    <div class="content-container clearfix light-blue-bg">
        <!--Result List _End-->
        <div class="col-sm-12 clearboth" ng-include="'partials/user-nav.html'" ></div>
        <!-- start -->
        <div class="fixed-content-wrap white-bg border clearfix p15 fixed-content-wrap-left c-fixed-wrap clearboth">
            <div class="section-wrap">
                <h3 class="heading-icon clearfix"><i class="fa fa-user"></i> {{'My Profile' | translate}} <a href="javascript:;" uib-tooltip="Help" class="fa fa-question-circle pull-right mr10"></a></h3>

                <div class="row">

                    <div class="col-sm-12">
                        <div class="col-sm-2">
                            <!--<label class="control-label display-block">{{'Profile Photo' | translate}}</label>-->
                            <div class="image-wrap mt5 cursor-pointer" >
                                <img ngf-thumbnail="userImage" ng-show="userImage!=''" class="image-view" />
                                <img ng-show="userImage==undefined || userImage==''" ngf-thumbnail="user.profile_image || 'images/default-user.png'" class="image-view" alt="Image"/>
                            </div>
                        </div>
                        <div class="col-sm-10">
                            <div class="col-sm-4">
                                <div class="form-group clearfix form-group-custom">

                                    <label class="control-label display-block">{{'First Name' | translate}}</label>
                                    <label>{{user.first_name | checkEmpty}}</label>
                                    <!--<input type="text" class="form-control" ng-model="user.first_name" name="first_name" disabled>-->
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group clearfix form-group-custom">
                                    <label class="control-label display-block">{{'Last Name' | translate}}</label>
                                    <label>{{user.last_name | checkEmpty}}</label>
                                    <!--<input type="text" class="form-control" ng-model="user.last_name" name="last_name" disabled>-->
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group clearfix form-group-custom">
                                        <label class="control-label display-block">{{'Email Address' | translate}}</label>
                                        <label>{{user.email_id | checkEmpty}}</label>
                                        <!--<input type="text" class="form-control" ng-model="user.email_id" name="email_id" ng-readonly="true" disabled>-->
                                </div>
                            </div>


                        </div>
                        <div class="col-sm-10">
                            <div class="col-sm-4">
                                <div class="form-group clearfix form-group-custom">
                                    <label class="control-label display-block">{{'Phone No' | translate}}</label>
                                    <label>{{user.phone_number | checkEmpty}}</label>
                                    <!--<input type="text" class="form-control" ng-model="user.phone_number" name="phone_number" only-digits disabled>-->
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group clearfix form-group-custom">
                                        <label class="control-label display-block">{{'Address' | translate}}</label>
                                        <label>{{user.address | checkEmpty}}</label>
                                        <!--<textarea class="col-sm-12 form-control" ng-model="user.address" name="address" disabled></textarea>-->
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group clearfix form-group-custom">
                                        <label class="control-label display-block">{{'City' | translate}}</label>
                                        <label>{{user.city | checkEmpty}}</label>
                                        <!--<input type="text" class="form-control" ng-model="user.city" name="city" disabled>-->
                                </div>
                            </div>


                        </div>
                        <div class="col-sm-10">


                            <div class="col-sm-4">
                                <div class="form-group clearfix form-group-custom">
                                        <label class="control-label display-block">{{'State' | translate}}</label>
                                        <label>{{user.state | checkEmpty}}</label>
                                        <!--<input type="text" class="form-control" ng-model="user.state" name="state" disabled>-->
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group clearfix form-group-custom">
                                        <label class="control-label display-block">{{'Country' | translate}}</label>
                                        <label>{{user.country_name | checkEmpty}}</label>
                                        <!--<select class="form-control" ng-model="user.country_id" name="country_id" disabled>
                                            <option value="">&#45;&#45;Select country&#45;&#45;</option>
                                            <option ng-repeat="country in countries" ng-value="country.id_country" ng-selected="country.id_country == user.country_id" >
                                                {{country.country_name}}
                                            </option>
                                        </select>-->
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group clearfix form-group-custom">
                                        <label class="control-label display-block">{{'Zip' | translate}}</label>
                                        <label>{{user.zip_code | checkEmpty}}</label>
                                        <!--<input type="text" class="form-control" ng-model="user.zip_code" name="zip_code" disabled>-->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- end -->
    </div>
</div>

