<h3 class="fixed content-heading">{{'Notifications/Alerts' | translate}}

</h3>
<div class="content-area animated fadeInRight" id="contentArea">
    <div class="content-container clearfix">

        <div class=" col-lg-12 col-sm-12 plr20 mb20 mt10 notification-wrapper">

            <table st-table st-pipe="getNotificationList" class="col-lg-12 col-sm-12">
                <thead>
                    <tr>
                        <td>
                            <div class="notification-header clearfix">
                                <div class="col-sm-12 clearfix p0">
                                    <div class="col-sm-9 p0">
                                        <div class="notification-header-btn" ng-class="{'active':f_type === 'all'}" st-search="f_type" st-input-event="click" ng-click="f_type='all'">
                                            <span class="border-radius50 pull-left notification-all-icon mr10"><i class="icon-all"></i></span>
                                            <span class=" display-block f12"> All</span>
                                            <span class=" darkcolor display-block f12 "> {{filter_count.all}}</span>
                                        </div>
                                        <div class="notification-header-btn" ng-class="{'active':f_type === 'new'}" st-search="f_type" st-input-event="click" ng-click="f_type='new'">
                                            <span class="border-radius50 pull-left notification-new-icon mr10"><i class="icon-star"></i></span>
                                            <span class=" display-block f12"> New</span>
                                            <span class=" darkcolor display-block f12 bold"> {{filter_count.new}}</span>
                                        </div>
                                        <div class="notification-header-btn" ng-class="{'active':f_type === 'workflow'}" st-search="f_type" st-input-event="click" ng-click="f_type='workflow'">
                                            <span class="border-radius50 pull-left notification-workflow-icon mr10"><i class="icon-mail"></i></span>
                                            <span class=" display-block f12"> Workflow</span>
                                            <span class=" darkcolor display-block f12 "> {{filter_count.workflow}}</span>
                                        </div>
                                        <!--<div class="notification-header-btn" ng-class="{'active':f_type === 'notification'}" st-search="f_type" st-input-event="click" ng-click="f_type='notification'">
                                            <span class="border-radius50 pull-left notification-notification-icon mr10"><i class="icon-stars-list"></i></span>
                                            <span class=" display-block f12"> Notifications</span>
                                            <span class=" darkcolor display-block f12 bold"> {{filter_count.notification}}</span>
                                        </div>-->
                                        <div class="notification-header-btn" ng-class="{'active':f_type === 'task'}" st-search="f_type" st-input-event="click" ng-click="f_type='task'">
                                            <span class="border-radius50 pull-left notification-notification-icon mr10"><i class="fa icon-tasks2"></i></span>
                                            <span class=" display-block f12"> Task</span>
                                            <span class=" darkcolor display-block f12"> {{filter_count.task}}</span>
                                        </div>
                                        <div class="notification-header-btn" ng-class="{'active':f_type === 'alert'}" st-search="f_type" st-input-event="click" ng-click="f_type='alert'">
                                            <span class="border-radius50 pull-left notification-alert-icon mr10"><i class="icon-alert"></i></span>
                                            <span class=" display-block f12"> Alerts</span>
                                            <span class=" darkcolor display-block f12 "> {{filter_count.alert}}</span>
                                        </div>
                                        <div class="notification-header-btn" ng-class="{'active':f_type === 'meeting'}" st-search="f_type" st-input-event="click" ng-click="f_type='meeting'">
                                            <span class="border-radius50 pull-left notification-meeting-icon mr10"><i class="icon-users2"></i></span>
                                            <span class=" display-block f12"> Meeting</span>
                                            <span class=" darkcolor display-block f12 "> {{filter_count.meeting}}</span>
                                        </div>

                                    </div>
                                    <div class="col-sm-3 pr0">
                                        <div class="table-search width-full mt5">
                                            <input st-search="search_key" type="text" placeholder="Search" class="form-control">
                                            <i class="fa icon-search mt8 darkcolor"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </thead>
                <tbody>
                <tr ng-repeat="n in notificationList" ng-if="!isLoading && notificationList.length>0">
                    <td>
                        <div class="acc-box col-sm-12 mt5 p0 clearboth clearfix" ng-click="nStatusChange(n)">
                            <div ng-class="{'nread':n.notification_status=='read'}" class="acc-head col-sm-12 clearfix clearboth p0 pr5 {{n.notification_type}}">
                                <h6 basic-accordian class="col-sm-10 p5 pl10 display-inline-block">
                                    <div class="col-sm-1 p0 notification-icon mt8"><i
                                            class="icon-{{n.notification_type}}"></i>
                                    </div>
                                    <div class="col-sm-4 mt5 pt2">
                                        <div class="notification-image pull-left">
                                            <img ng-src="{{n.profile_image}}">
                                        </div>
                                            <span class="darkcolor display-block f12">
                                                {{n.user_name}} <span ng-show="n.user_name==null">Admin</span>
                                            </span>
                                        <label class="ash f12">{{n.approval_name}}
                                            <span ng-show="n.approval_name==null">Access Bank</span>
                                        </label>
                                    </div>
                                    <div class=" col-sm-7 mt5 pt2">
                                        <div class="col-sm-12 pl0">
                                            <label class=" f12 text-line mw500">{{n.module_reference_type
                                                | capitalize}} : {{n.notification_subject | checkEmpty}}</label>
                                        </div>
                                        <!--<div class="col-sm-10 p0">
                                            <span  class="f14  mt4 display-inline-block  text-line mw500" ng-bind-html="n.notification_template | trusted"></span>
                                        </div>-->
                                    </div>
                                </h6>
                                <div class="col-sm-2 p0 mt10">
                                    <!--  <div class="display-inline-block custom-list valign-middle pull-right relative">
                                          <a href="javascript:;" class="menu-toggle dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v f32"></i></a>
                                          <ul class="dropdown-menu width150">
                                              <li>
                                                  <a href="" class="darkcolor">
                                                      Create a meeting
                                                  </a>
                                              </li>
                                          </ul>
                                      </div>-->
                                    <span class="display-inline-block ash f12 pull-right mt4 mr15">{{n.created_date_time|utcToLocal}}</span>

                                </div>
                            </div>
                            <div class="acc-body col-sm-12 white-bg clearfix clearboth p0 ptb10 border-top">
                                <div class="col-sm-12 f14" ng-bind-html="n.notification_template | trusted">
                                </div>

                            </div>
                        </div>
                    </td>
                </tr>
                <tr ng-if="!isLoading && notificationList.length<=0">
                    <td class="text-center">
                        <div class="acc-box col-sm-12 mt5 p0 clearboth clearfix">
                            <div class="acc-head col-sm-12 clearfix clearboth p0 pr5 ">
                                <h6 class="col-sm-12 p5 pl10 display-inline-block">No data found</h6>
                            </div>
                        </div>
                    </td>
                </tr>
                <tr ng-if="isLoading">
                    <td class="text-center">
                        <div class="acc-box col-sm-12 mt5 p0 clearboth clearfix">
                            <div class="acc-head col-sm-12 clearfix clearboth p0 pr5 ">
                                <h6 class="col-sm-12 p5 pl10 display-inline-block">Loading...</h6>
                            </div>
                        </div>
                    </td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td class="text-center">
                        <div st-items-by-page="10" st-pagination st-template="partials/pagination.custom.html" class=""></div>
                    </td>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>







