<nav ng-if="numPages >= 2">
    <ul class="pagination">
        <li class="input-pagination"> Page<page-select></page-select> of {{numPages}} </li>
        <li class="previous"><a ng-click="selectPage(currentPage - 1)"></a></li>
        <!--<li><a ng-click="selectPage(1)">&lt;</a></li>-->

        <!--<li><a ng-click="selectPage(numPages)">&gt;</a></li>-->
        <li class="next"><a ng-click="selectPage(currentPage + 1)"></a></li>
    </ul>
</nav>
