<h3 class="fixed content-heading">security question</h3>

<div id="contentArea" class="content-area animated fadeInRight" ng-show="!httpLoding">

    <div class="content-container clearfix light-blue-bg">
        <!--Result List _End-->
        <form name="form" id="form" novalidate class="pt20">
            <div class="fixed-content-wrap white-bg border clearfix p15 p-b-0 fixed-content-wrap-left c-fixed-wrap">
                <div class="section-wrap">
                    <h3 class="heading-icon clearfix"><i class="fa fa-user"></i>Password Change {{showMsg}}</h3>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="col-sm-9">
                                <div class="col-sm-12">
                                    <div class="form-group clearfix form-group-custom">
                                        <label class="control-label">{{'Old Password' | translate}}: *</label>
                                        <input type="password" class="form-control"  name="oldpassword"
                                               ng-model="field.oldpassword" required>
                                        <div ng-if="form.oldpassword.$error.required && form.$submitted" class="error-message">
                                            {{'This field is required'|translate}}.
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group clearfix form-group-custom">
                                        <label class="control-label">{{'New Password' | translate}}: *</label>
                                        <input type="password" class="form-control"  name="password"
                                               ng-pattern="/^(?=.*[A-Z])(?=.*\d)(?=.*[a-z])(?=.*\d)(?=.*[$@$!%*#?&])[A-Za-z\d$@$!%*#?&]{8,}$/"
                                               ng-model="field.password" required >
                                        <div ng-if="form.password.$error.required && form.$submitted" class="error-message">
                                            {{'This field is required'|translate}}.
                                        </div>
                                        <div ng-if="!form.password.$error.required && form.password.$error.pattern" class="error-message">
                                            {{'You should enter atleast alphabets, numbers, and special characters of minimum length 8'|translate}}
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group clearfix form-group-custom">
                                        <div class="col-sm-12 p0">
                                            <label class="control-label">{{'Conform Password' | translate}}: *</label>
                                            <input ng-model='field.cpassword' class="form-control" type="password" name='cpassword'
                                                    required > <!--password-verify="user.password"-->
                                            <div ng-if="form.cpassword.$error.required && form.$submitted" class="error-message">
                                                {{'This field is required'|translate}}.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group clearfix form-group-custom">
                                    <div class="col-sm-12 pt15"><label class="f12 alert alert-danger"> <strong>Password strength :</strong>
                                        Should use alphabets, numbers, and special characters of minimum length 8. Don’t use a password from another site, or something too obvious like your pet’s name </label></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="section-wrap pt20" >
                    <h3 class="heading-icon "><i class="fa fa-user"></i>Security Question </h3>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="col-sm-12">
                                <div class="col-sm-12">
                                    <label class="control-label">Question*</label>
                                    <select class="form-control"
                                            ng-init="masterDropDownList({'master_key':'security_questions'})"
                                            ng-model="field.questions" name="questions"
                                            ng-options="item.id as item.name for item in security_questions" required >
                                        <option value="">--Select--</option>
                                    </select>
                                    <span ng-if="form.questions.$error.required && form.$submitted" class="error-message ">Select Question.</span>
                                </div>
                                <div class="col-sm-12">
                                    <label class="control-label">Answer*</label>
                                    <div class="form-group clearfix form-group-custom">
                                        <input type="text" class="form-control" name="ans" ng-model="field.ans" required>
                                        <span ng-if="form.ans.$error.required && form.$submitted" class="error-message ">Enter Answer.</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--section wrap-->
                    <div class="col-lg-12 btn-custom clearfix text-center">
                        <button type="submit" class="btn btn-primary f14 next-btn" ng-click="form.$valid && submitForm(field,form)" n-t='{"e_n":"Save security questions","e_d":"","form":"form.$valid"}'>Save</button>
                    </div>
                    <!--./Buttons ui-sref="app.org-structure-view" -->
                </div>
            </div>
        </form>
    </div>

</div>