<div class="profile-links text-right f12">
    <a ng-class="{active: $state.includes('app.my-profile')}" href="javascript:;" ui-sref="app.my-profile" n-t='{"e_n":"My Profile","e_d":""}'>My Profile</a>
    <a ng-class="{active: $state.includes('app.edit-profile')}" href="javascript:;" ui-sref="app.edit-profile" n-t='{"e_n":"Edit Profile","e_d":""}'>Edit Profile</a>
    <a ng-class="{active: $state.includes('app.change-password')}"  href="javascript:;" ui-sref="app.change-password" n-t='{"e_n":"Change Password","e_d":""}'>Change Password</a>
    <a ng-class="{active: $state.includes('app.change-security')}"  href="javascript:;" ui-sref="app.change-security" n-t='{"e_n":"Change Security","e_d":""}'>Security Question</a>
    <a ng-class="{active: $state.includes('app.login-history')}"  href="javascript:;" ui-sref="app.login-history" n-t='{"e_n":"Login History","e_d":""}'>Login History</a>
</div>