<div class="right-modal modal-custom" data-modal="addAssessment">
    <h3 class="right-modal-head">
        {{categoryTitle | translate}}
        <a class="close-right pull-right" ng-click="cancel()" uib-tooltip="Close"><img src="images/close.png"></a>
    </h3>
    <form class="form-bordered" name="form" ng-submit="save(question)" novalidate>

        <div class="form-group clearfix p10  form-group-custom white-bg m0">
            <div class="col-sm-12">
                <label class="darkcolor f14">{{'What question do you want to ask' | translate}}</label>

                <div class="form-group clearfix form-group-custom">
                    <textarea data-ng-model="question.assessment_question" class="width-full p10 min-height100 f12 "
                              placeholder="Type your question here" required></textarea>
                    <div ng-show="!question.assessment_question && submitted" class="error-message">{{'Required' | translate}}</div>
                </div>
            </div>
<!--            <div class="col-sm-12">
                <label class="darkcolor f14">Answer Type</label>
                <div class="form-group clearfix form-group-custom">
                    <select  class="form-control" data-ng-model="question.question_type" required>
                        <option value="">&#45;&#45;Select Type&#45;&#45;</option>
                        <option value="text">Text</option>
                        <option value="textarea">Textarea</option>
                        <option value="radio">Option</option>
                        <option value="dropdown">Dropdown</option>
                        <option value="checkbox">Checkbox</option>
                        <option value="file">file</option>
                        <option value="date">Date</option>
                    </select>
                    <div ng-show="!question.question_type && submitted" class="error-message">Required</div>
                </div>
                <label class="f14 ash"><input type="checkbox" ng-checked="true" class="mr8"
                                              ng-model="question.required">Required this option</label>
            </div>-->

            <div class="col-sm-12" ng-if="showAddOptions(question)">
                <label class="dark-blue f14 mb10">{{'Question Options' | translate}}:</label>

                <div class="inv-option-wrap col-sm-12" ng-repeat="option in question.question_option">
                    <div><input type="checkbox" ng-model="option.option_check"></div>
                    <div class="form-group col-sm-9 clearfix form-group-custom">
                        <input dynamic-name="option.option_name" type="text" class="form-control" ng-model="option.option_title" value="{{option.option_title}}" required>
                        <div ng-show="!option.option_title && submitted" class="error-message">{{'Required' | translate}}</div>
                    </div>
                    <div>
                        <a href="" class="sky-blue" uib-tooltip="Delete" ng-click="deleteOption(question, option)"><i class="icon-trash"></i></a>
                        <a class="sky-blue ml15" href="" uib-tooltip="Add" ng-click="addOption(question)" ng-show="($index+1)==question.question_option.length"><i class="icon-plus-circle"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 mt10 mb10">
                <button type="submit" class="blue-btn" ng-click="submitted=true;form.$valid;">{{'Save' | translate}}
                </button>
                <button type="button" class="light-btn" ng-click="cancel()">
                    {{'Cancel' | translate}}
                </button>
            </div>
        </div>
    </form>
</div>