<h3 class="fixed content-heading">{{title}}
</h3>

<div id="contentArea" class="content-area animated fadeInRight">
    <div class="content-container clearfix p20">
        <div class="qpanel clearfix relative">
            <div class="panel-left-wrap trans-pos-top absolute" scroll-pos>
                <!--<h3 class="heading pb10">Question Types</h3>-->
                <div class="panel-btn-wrap">
                    <ul class="clearfix">
                        <li>
                            <a href="javascript:;" ng-click="addCategoryModal()">{{'Create New Category' | translate}}</a>
                        </li>
                        <li class="add-heading">
                            <h3>{{'Create New Question' | translate}}</h3>
                        </li>

                        <!--<li>
                            <a ui-sref="app.assessment-questions-view" ><i class="icon-short-text"></i> Short Text</a>
                        </li>-->
                        <li>
                            <a href="javascript:;" ng-click="assessmentModal('text')" qtype="text" data-drag="true"
                               data-jqyoui-options="{revert: 'invalid', helper: 'clone'}"
                               jqyoui-draggable="{index: 1, placeholder: 'keep'}"><i class="icon-input-text"></i> Input
                                Text</a>
                        </li>
                        <li>
                            <a href="javascript:;" ng-click="assessmentModal('textarea')" qtype="textarea"
                               data-drag="true" data-jqyoui-options="{revert: 'invalid', helper: 'clone'}"
                               jqyoui-draggable="{index: 1, placeholder: 'keep'}"><i class="icon-input-text"></i> Text
                                Area</a>
                        </li>
                        <li>
                            <a href="javascript:;" ng-click="assessmentModal('radio')" qtype="radio" data-drag="true"
                               data-jqyoui-options="{revert: 'invalid', helper: 'clone'}"
                               jqyoui-draggable="{index: 2, placeholder: 'keep'}"><i class="icon-yes-no"></i> Yes /
                                No</a>
                        </li>
                        <!--<li>-->
                        <!--<a href="javascript:;"><i class="icon-stars"></i> Ratings</a>-->
                        <!--</li>-->
                        <li>
                            <a href="javascript:;" ng-click="assessmentModal('date')" qtype="date" data-drag="true"
                               data-jqyoui-options="{revert: 'invalid', helper: 'clone'}"
                               jqyoui-draggable="{index: 3, placeholder: 'keep'}"><i class="icon-calendar1"></i>
                                Date</a>
                        </li>
                        <!--<li>-->
                        <!--<a href="javascript:;"><i class="icon-globe1"></i> Website</a>-->
                        <!--</li>-->
                        <li>
                            <a href="javascript:;" ng-click="assessmentModal('dropdown')" qtype="dropdown"
                               data-drag="true" data-jqyoui-options="{revert: 'invalid', helper: 'clone'}"
                               jqyoui-draggable="{index: 4, placeholder: 'keep'}"><i class="icon-list"></i> Dropdown</a>
                        </li>
                        <!--<li>-->
                        <!--<a href="javascript:;"><i class="icon-mail"></i> Email</a>-->
                        <!--</li>-->
                        <li>
                            <a href="javascript:;" ng-click="assessmentModal('file')" qtype="file" data-drag="true"
                               data-jqyoui-options="{revert: 'invalid', helper: 'clone'}"
                               jqyoui-draggable="{index: 5, placeholder: 'keep'}"><i class="icon-cloud-export"></i> File
                                Upload</a>
                        </li>
                        <!--<li>-->
                        <!--<a href="javascript:;"><i class="icon-file-picture"></i> Picture</a>-->
                        <!--</li>-->
                        <!--  <li>
                              <a href="javascript:;"><i class="icon-list-ul"></i> Options</a>
                          </li>-->
                        <!--<li>-->
                        <!--<a href="javascript:;"><i class="icon-numbers"></i> Numbers</a>-->
                        <!--</li>-->
                        <li>
                            <a href="javascript:;" ng-click="assessmentModal('checkbox')" qtype="checkbox"
                               data-drag="true" data-jqyoui-options="{revert: 'invalid', helper: 'clone'}"
                               jqyoui-draggable="{index: 6, placeholder: 'keep'}"><i class="icon-right-circle"></i>
                                Multiple Choice</a>
                        </li>
                    </ul>
                </div>
                <!-- <div class="switch-view">
                     <h4 class="text-capitalize f14 darkcolor ptb10">Settings</h4>
                     <div class="">
                         <h5 class="f14 darkcolor display-inline-block">
                             <a href="javascript:;"><i class="fa fa-question-circle darkcolor  mr10"></i></a>
                             Show Options
                         </h5>
                         <div class="onoffswitch pull-right">
                             <input type="checkbox" ng-model="show_options" name="onoffswitch_toggle"
                                    class="onoffswitch-checkbox" id="toggle-switch">
                             <label class="onoffswitch-label" for="toggle-switch">
                                 <span class="onoffswitch-inner"></span>
                                 <span class="onoffswitch-switch"></span>
                             </label>
                         </div>
                     </div>

                 </div>-->

            </div>
            <div class="panel-right-wrap">
                <!--  <h2 class="heading text-capitalize p15 ash-bg border-bottom-color">{{title}}

                  </h2>-->
                <div class="q-box scroll-div-wrap"><!-- min-scroll-->


                    <div class="a-ques-list mb10" ng-repeat="category in categoryQuestionList" data-drop="true"
                         jqyoui-droppable="{onDrop: 'beforeDrop({category:category})',onOver: 'onOver', onOut: 'onOut',multiple:true}">
                        <!--      data-drop="true" jqyoui-droppable="{onDrop: 'beforeDrop({category:category})',onOver: 'onOver', onOut: 'onOut',multiple:true}"-->
                        <h3 class="f15 darkcolor  pb5 overflow-hidden bold acc-heading clearfix">
                            {{category.assessment_question_category_name}}
                            <div class="display-inline-block icons-wrap-list pull-right">
                                <a href="javascript:;" ng-click="addCategoryModal(category)"
                                   uib-tooltip="Edit"
                                   class="mr4 f14 darkcolor"><i class="icon-edit"></i></a>
                            </div>
                        </h3>
                        <!--ui-sortable="sortableOptions"-->
                        <ul>
                            <li ng-repeat="question in category.question">
                                <div class="acc-wrapper accordian-wrapper q-acc-wrap">
                                    <div class="clearfix acc-head q-acc-head">
                                        <div class="pull-left width93">
                                            <div class="pull-left" qtype-icons qtype="{{question.question_type}}"></div>
                                            <div class="onoffswitch pull-left" ng-if="question.question_status != null">

                                                <input type="checkbox" ng-model="question.question_status"
                                                       ng-init="question.question_status = (question.question_status==1)?1:0"
                                                       name="checkbox_question_status"
                                                       ng-true-value="1"
                                                       ng-false-value="0"
                                                       ng-change="statusChange(category,question)"
                                                       class="onoffswitch-checkbox"
                                                       id="questionts_{{question.id_assessment_question}}">
                                                <label class="onoffswitch-label"
                                                       for="questionts_{{question.id_assessment_question}}">
                                                    <span class="onoffswitch-inner"></span>
                                                    <span class="onoffswitch-switch"></span>
                                                </label>
                                            </div>
                                            <h3 class="f14 ml5 darkcolor mt4 pull-left overflow-hidden line-height16"
                                                basic-accordian>
                                                <div ng-bind-html="question.assessment_question"></div>
                                            </h3>
                                        </div>

                                        <!-- <input id="question_{{question.id_assessment_question}}" type="checkbox"
                                                class="pull-left mt5 mr4"
                                                ng-model="question.question_status"
                                                ng-checked="question.question_status==1"
                                                ng-true-value="1"
                                                ng-false-value="0"
                                                ng-change="statusChange(category,question)">-->

                                        <div class="display-inline-block pull-right custom-list">
                                            <a class="menu-toggle f13 dark-sky-blue dropdown-toggle"
                                               data-toggle="dropdown"
                                               href="javascript:;"><i class="fa fa-ellipsis-v"></i>
                                            </a>
                                            <ul class="dropdown-menu cust-dropdown">
                                                <li>
                                                    <a href="javascript:;" ng-click="assessmentModal(category,question)"
                                                       class="f14 darkcolor"><i class="icon-edit"></i>Edit</a>
                                                </li>
                                                <!--<li>-->
                                                <!--<a href="javascript:;" class="f14 darkcolor"><i class="icon-trash"></i>Delete</a>-->
                                                <!--</li>-->
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="acc-body">
                                        <div class="acc-data" ng-if="show_options">
                                            <ul class="radio-list pl20 mt5"
                                                ng-if="question.question_type=='radio'|| question.question_type=='checkbox'">
                                                <li class="darkcolor border-none pad0 mb3"
                                                    ng-repeat="option in question.question_option">
                                                    <input type="{{question.question_type}}" name="radio"
                                                           ng-model="option.option_value"> {{option.option_title}}
                                                </li>
                                            </ul>
                                            <div class="radio-list width220 pl20 mt5"
                                                 ng-if="question.question_type=='text'">
                                                <input type="text" class="form-control"/>
                                            </div>
                                            <div ng-if="question.question_type=='textarea'">
                                        <textarea ng-model="question.answer.assessment_answer"
                                                  class="width-full min-height70 f12 p10 darkcolor"></textarea>
                                            </div>
                                            <div class="radio-list pl20 mt5" ng-if="question.question_type=='file'">
                                                <input type="file" class="f14"
                                                       ng-model="question.answer.assessment_answer">
                                            </div>
                                            <div class="radio-list pl20 mt5" ng-if="question.question_type=='dropdown'">
                                                <select class="form-control width220"
                                                        ng-model="question.question_value">
                                                    <option ng-repeat="option in question.question_option"
                                                            value="{{option.option_id}}">
                                                        {{option.option_title}}
                                                    </option>
                                                </select>
                                            </div>
                                            <div class="radio-list pl20 mt5 clearfix"
                                                 ng-if="question.question_type=='date'">
                                                <div class="input-group col-sm-6 col-lg-3  p0">
                                                    <input type="text" class="form-control"
                                                           uib-datepicker-popup="yyyy-MM-dd"
                                                           data-ng-model="contact.date_of_birth" type="text"
                                                           name="date_of_birth"
                                                           is-open="openCal"
                                                           show-weeks="false" show-button-bar="false" readonly/>
                                          <span class="input-group-btn">
                                            <button type="button" class="btn btn-default border"
                                                    ng-click="openCal = true">
                                                <i class="fa fa-calendar"></i></button>
                                          </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
