<div id="tab2" class="" data-content="tab" >
    <div class="col-sm-12 clearfix clearboth p0">
        <div class="col-sm-3">
            <label class="label-text">Total Alloted</label>
            <p class="label-info f16">300</p>
        </div>
        <div class="col-sm-3">
            <label class="label-text">Used</label>
            <p class="label-info f16">132</p>
        </div>
        <div class="col-sm-3">
            <label class="label-text">Remaining</label>
            <p class="label-info f16">168</p>
        </div>
        <div class="col-sm-3">
            <label class="label-text">Report</label>
            <p class="label-info green f16">Good</p>
        </div>
    </div>
    <div class="">
        <table class="table mb0 table-striped table-bordered table-hover display table-style" st-pipe="callServer" st-table="displayed">
            <thead>
            <thead>
            <tr>
                <th>Loan Id</th>
                <th>Bank</th>
                <th>Sector</th>
                <th>Country</th>
                <th>Status</th>
                <th>Risk Rating</th>
                <th>Amount</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>2145</td>
                <td>ICICI</td>
                <td>Private</td>
                <td>IND</td>
                <td>Active</td>
                <td>30%</td>
                <td>254448.00</td>
            </tr>
            <tr>
                <td>2143</td>
                <td>Axis</td>
                <td>Private</td>
                <td>IND</td>
                <td>Active</td>
                <td>30%</td>
                <td>254448.00</td>
            </tr>
            <tr>
                <td>2144</td>
                <td>ICICI</td>
                <td>Private</td>
                <td>IND</td>
                <td>Active</td>
                <td>30%</td>
                <td>254448.00</td>
            </tr>
            <tr>
                <td>2141</td>
                <td>IDBI</td>
                <td>Private</td>
                <td>IND</td>
                <td>Active</td>
                <td>40%</td>
                <td>254448.00</td>
            </tr>
            <tr>
                <td>2145</td>
                <td>ICICI</td>
                <td>Private</td>
                <td>IND</td>
                <td>Active</td>
                <td>30%</td>
                <td>254448.00</td>
            </tr>
            <tr>
                <td>2143</td>
                <td>Axis</td>
                <td>Private</td>
                <td>IND</td>
                <td>Active</td>
                <td>30%</td>
                <td>254448.00</td>
            </tr>
            <tr>
                <td>2144</td>
                <td>ICICI</td>
                <td>Private</td>
                <td>IND</td>
                <td>Active</td>
                <td>30%</td>
                <td>254448.00</td>
            </tr>
            <tr>
                <td>2141</td>
                <td>IDBI</td>
                <td>Private</td>
                <td>IND</td>
                <td>Active</td>
                <td>40%</td>
                <td>254448.00</td>
            </tr>
            <tr>
                <td>2145</td>
                <td>ICICI</td>
                <td>Private</td>
                <td>IND</td>
                <td>Active</td>
                <td>30%</td>
                <td>254448.00</td>
            </tr>
            <tr>
                <td>2143</td>
                <td>Axis</td>
                <td>Private</td>
                <td>IND</td>
                <td>Active</td>
                <td>30%</td>
                <td>254448.00</td>
            </tr>

            </tbody>
        </table>
    </div>
</div>