<div id="tab4" class="" data-content="tab">



        <table class="table mb0 table-striped table-bordered table-hover display table-style" st-pipe="callServer" st-table="displayed">
            <thead>
            <thead>
            <tr>
                <th>User</th>
                <th>Date</th>
                <th>Branch</th>
                <th>Designation</th>
                <th>No. of Hours</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Rakesh</td>
                <td>14/05/2015</td>
                <td>HYD</td>
                <td>Regional Officer</td>
                <td>08</td>
            </tr>
            <tr>
                <td>Rakesh</td>
                <td>14/05/2015</td>
                <td>HYD</td>
                <td>Regional Officer</td>
                <td>08</td>
            </tr>
            <tr>
                <td>Rakesh</td>
                <td>14/05/2015</td>
                <td>HYD</td>
                <td>Regional Officer</td>
                <td>08</td>
            </tr>
            <tr>
                <td>Rakesh</td>
                <td>14/05/2015</td>
                <td>HYD</td>
                <td>Regional Officer</td>
                <td>08</td>
            </tr>
            <tr>
                <td>Rakesh</td>
                <td>14/05/2015</td>
                <td>HYD</td>
                <td>Regional Officer</td>
                <td>08</td>
            </tr>
            <tr>
                <td>Rakesh</td>
                <td>14/05/2015</td>
                <td>HYD</td>
                <td>Regional Officer</td>
                <td>08</td>
            </tr>
            <tr>
                <td>Rakesh</td>
                <td>14/05/2015</td>
                <td>HYD</td>
                <td>Regional Officer</td>
                <td>08</td>
            </tr>
            <tr>
                <td>Rakesh</td>
                <td>14/05/2015</td>
                <td>HYD</td>
                <td>Regional Officer</td>
                <td>08</td>
            </tr>
            </tbody>
        </table>

</div>