<h3 class="fixed content-heading">{{'Expert Rating Model' | translate}}
    <div class="pull-right button-set">
        <a href="javascript:;" uib-tooltip="Add New"
           ng-click="showCategoryForm=!showCategoryForm; showText=showCategoryForm?'Open':'close'"
           n-t='{"e_n":"Modal {{showText}}- Expert Ratting modal Admin","e_d":""}'><i class="fa fa-add-sm"></i></a>
   <span class="button-set" ng-if="previousState_name == 'product.tabs.risk-assessment'">
        <a title="Options" ng-click="back()" uib-tooltip="Back"
           n-t='{"e_n":"Back - Expert Ratting modal Admin","e_d":""}'><i class="fa fa-close-sm"></i></a>
      </span>
    </div>
</h3>

<div class="content-area animated fadeInRight risk-assessment" id="contentArea">

    <div class="content-container clearfix">
        <form name="rcFrom" novalidate>
            <div class="col-sm-12 p20 show-box-div clearfix" ng-init="category={}" ng-show="showCategoryForm">

                <div  class="col-sm-4 pl0">
                    <select chosen class="chosen-select width-full form-control"
                            name="sector_id"
                            data-placeholder="Please Select Sector"
                            ng-model="category.sector_id"
                            ng-options="option as option.sector_name  for option in sectorsList"
                            required>
                        <option value="">-- {{'Sector' | translate}} --</option>
                    </select>
                    <div ng-if="rcFrom.sector_id.$error.required && rcFrom.$submitted" class="error-message">
                        This field is required
                    </div>
                </div>
                <div class="col-sm-4 pl0">
                    <input type="text" name="risk_category_name" ng-model="category.risk_category_name"
                           class="form-control p8"
                           placeholder="Enter Risk Category Name" required>
                    <div ng-if="rcFrom.risk_category_name.$error.required && rcFrom.$submitted" class="error-message">
                        This field is required
                    </div>
                </div>
                <div class="col-sm-2 pl0">
                    <input ng-model="category.risk_percentage" name="risk_percentage" type="text"
                           class="form-control p8"
                           placeholder="Enter Rating Percentage" ui-number-mask="2" max="100" required>
                    <div ng-if="rcFrom.risk_percentage.$error.required && rcFrom.$submitted" class="error-message">
                        This field is required
                    </div>
                </div>
                <div class="col-sm-2 p0 text-right">
                    <button ng-click="rcFrom.$valid && addRiskCategory(category,rcFrom)"
                            class="blue-btn btn-lg text-capitalize"
                            n-t='{"e_n":"Save - Expert Ratting modal Admin","e_d":""}'
                            >{{'Save' | translate}}
                    </button>
                    <button ng-click="showCategoryForm=false;category={};" class="light-btn btn-lg text-capitalize"
                            type="button"
                            n-t='{"e_n":"Cancel Add - Expert Ratting modal Admin","e_d":""}'>
                        {{'Cancel' | translate}}
                    </button>
                </div>
            </div>
        </form>


        <div class="risk-assessment-accord p20 clearfix col-sm-12">
            <div class="acc-wrapper">
                <div class="acc-box" ng-repeat="category in riskCategory">
                    <div class="clearfix acc-head light-wheet-bg white-color"
                         n-t='{"e_n":"Show - Expert Ratting modal Admin","e_d":"{{category.risk_category_name}}"}'>
                        <div class="col-sm-10 mt10 pl0">

                            <h2 class="f15 pull-left overflow-hidden bold darkcolor cursor-pointer"
                                basic-accordian>
                                <span class="acc-icon darkcolor pull-left mr8 f18"><i
                                        class="icon-angle-rightt-circle"></i> </span>
                                {{category.risk_category_name}}</h2>

                        </div>
                        <div class="text-right relative col-sm-2 pr0">
                            <div class="display-inline-block">
                                <span class="box-rating sm-box">{{category.risk_percentage}}%</span>
                            </div>
                            <div class="display-inline-block custom-list valign-middle">
                                <a class="col-lg-2 p-over" tabindex="0" popover-animation="true"
                                   uib-popover-template="'editCategory.html'"
                                   popover-placement="left-bottom" popover-title="Risk Sub Category Update"
                                   popover-append-to-body="false"
                                   popover-is-open="category.popover" ng-click="category.popover = true;pover=category"
                                   n-t='{"e_n":"Edit - Expert Ratting modal Admin","e_d":"{{category.risk_category_name}}"}'><i
                                        class="icon-edit"></i></a>
                                <a uib-tooltip="Delete" ng-click="itemDelete({'type':'category','risk_category_id':category.id_risk_category},riskCategory,$index)" class="col-sm-1 p-over text-right"> <i class="icon-trash"></i></a>

                            </div>
                        </div>


                    </div>
                    <div class="acc-body clearfix">
                        <div class="acc-left-panel pull-left">
                            <div class="acc-add-wrap clearfix">
                                <h3 class="f14 mb10 bold text-capitalize darkcolor">{{'Risk Sub Category' |
                                    translate}}</h3>
                                <div class="col-sm-7 p0">
                                    <input type="text" ng-model="category.subCategoryForm.risk_category_name "
                                           class="form-control" placeholder="Enter Risk Sub Category">
                                </div>
                                <div class="col-sm-3 plr-5">
                                    <input type="text" ng-model="category.subCategoryForm.risk_percentage"
                                           class="form-control" placeholder="Rating Percentage" only-digits>
                                </div>
                                <div class="col-sm-2 p0">
                                    <button ng-click="addSubRiskCategory($index,category)"
                                            class="btn btn-dark pt5 pb3 f12 white-color border-radius0 text-capitalize"
                                            n-t='{"e_n":"Add Sub risk category - Expert Ratting modal Admin","e_d":"{{category.risk_category_name}}"}'>
                                        {{'Add' | translate}}
                                    </button>
                                </div>

                            </div>
                            <div class="acc-list-wrap">
                                <ul>
                                    <li class="clearfix"
                                        ng-repeat="subCategory in category.sub_category track by $index"
                                        ng-class="{active : isActive(subCategory,category)}">
                                        <a class="col-sm-10 clearfix" href="javascript:;"
                                           ng-init="$first && subCategoryClick(subCategory,category)"
                                           ng-click="subCategoryClick(subCategory,category)"
                                           n-t='{"e_n":"View Sub risk category - Expert Ratting modal Admin","e_d":"{{category.risk_category_name}} - {{subCategory.risk_category_name}}"}'>
                                            <span class="col-sm-9 p0 text-ellipses"
                                                  title="{{subCategory.risk_category_name}}">{{subCategory.risk_category_name}}</span>
                                            <span class="pull-right col-sm-3">{{subCategory.risk_percentage}}%</span>
                                        </a>
                                        <a uib-tooltip="Delete" ng-click="itemDelete({'type':'sub_category','risk_category_id':category.id_risk_category},category.sub_category,$index)" class="col-sm-1 p-over text-right"> <i class="icon-trash"></i></a>
                                        <a class="col-sm-1 p-over text-right" tabindex="0" popover-animation="true"
                                           uib-popover-template="'editCategory.html'" popover-placement="bottom"
                                           popover-title="Risk Sub Category Update" popover-append-to-body="false"
                                           popover-is-open="subCategory.popover"
                                           n-t='{"e_n":"Edit Sub risk category - Expert Ratting modal Admin","e_d":"{{category.risk_category_name}} - {{subCategory.risk_category_name}}"}'
                                           ng-click="subCategory.popover = true;pover=subCategory"><i
                                                class="icon-edit"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="acc-right-panel pull-left" ng-show="category.attrDivShow">
                            <div class="acc-right-head clearfix">
                                <div class="col-sm-8 col-lg-9 mt8 pl0">
                                    <h3 class="f14 pull-left width95 text-capitalize overflow-hidden bold darkcolor cursor-pointer">
                                        {{category.subSelected.risk_category_name}} </h3>
                                </div>

                                <div class="text-right relative col-sm-4 col-lg-3 pr0">
                                    <div class="display-inline-block">
                                        <button class="btn btn-dark f12 white-color border-radius0 text-capitalize"
                                                ng-click="category.subSelected.attrForm=!category.subSelected.attrForm"
                                                n-t='{"e_n":"Add Attributes - Expert Ratting modal Admin","e_d":"{{category.risk_category_name}}"}'>
                                            {{'Add Attributes' | translate}}
                                        </button>
                                    </div>
                                    <!-- <div class="display-inline-block custom-list valign-middle">
                                         <a class="menu-toggle f14 dark-sky-blue dropdown-toggle mt5" data-toggle="dropdown"
                                            href="javascript:;"><i class="fa fa-ellipsis-v"></i>
                                         </a>
                                         <ul class="dropdown-menu cust-drop">
                                             <li>
                                                 <a href="javascript:;" class="f14 darkcolor"><i
                                                         class="icon-edit mr8"></i>Edit</a>
                                             </li>
                                         </ul>
                                     </div>-->
                                </div>
                            </div>
                            <div class="acc-right-data">
                                <div class="add-box mb15 col-sm-12 p10 grey-bg" ng-show="category.subSelected.attrForm">
                                    <div class="col-sm-8 col-lg-8 p0">
                                        <input type="text"
                                               ng-model="category.subSelected.selectedForm.risk_category_name"
                                               class="form-control" placeholder="Enter Attribute">
                                    </div>
                                    <div class="col-sm-2 col-lg-1 text-right pr0">
                                        <button class="btn btn-dark f12 white-color border-radius0 text-capitalize"
                                                ng-click="addSubcategoryAttr(category)"
                                                n-t='{"e_n":"Add Sub category - Expert Ratting modal Admin","e_d":"{{category.risk_category_name}}"}'>
                                            {{'Add' | translate}}
                                        </button>
                                    </div>
                                    <div class="col-sm-2 col-lg-1 pr0">
                                        <button class="btn white-color lt-bg f12 border-radius0 text-capitalize"
                                                ng-click="category.subSelected.attrForm=false"
                                                n-t='{"e_n":"Cancel Add Attributes - Expert Ratting modal Admin","e_d":"{{category.risk_category_name}}"}'>
                                            {{'Cancel' | translate}}
                                        </button>
                                    </div>
                                </div>
                                <div class="acc-block clearfix"
                                     ng-repeat="attribute in category.subSelected.attributes">
                                    <h4 class="f14 text-capitalize darkcolor pb5 mb10 border-bottom">
                                        {{attribute.risk_category_name}}
                                        <a href="javascript:;" class="pull-right p-over sky-blue f16" tabindex="0"
                                           popover-animation="true" uib-popover-template="'editAttribute.html'"
                                           popover-placement="left" popover-title="Risk Attribute Update"
                                           popover-append-to-body="false"
                                           n-t='{"e_n":"Edit Attributes - Expert Ratting modal Admin","e_d":"{{category.risk_category_name}}"}'
                                           popover-is-open="attribute.popover" ng-click="attribute.popover = true"
                                        class="btn btn-default"><i class="icon-edit"></i></a>
                                        <a uib-tooltip="Delete" ng-click="itemDelete({'type':'attribute','risk_category_id':attribute.id_risk_category},category.subSelected.attributes,$index)" class="pull-right p-over sky-blue f16 pr5"> <i class="icon-trash"></i></a>
                                    </h4>
                                    <div class="acc-block-left col-sm-4 col-lg-3 pl0">
                                        <div class="">
                                            <select chosen class="chosen-select width-full form-control"
                                                    name="sector_id"
                                                    data-placeholder="Please Select Sector"
                                                    ng-model="attribute.sector"
                                                    ng-change="sectorDropdownChange(attribute,attribute.sector)"
                                                    ng-options="option as option.sector_name disable when checkSectorDropdown(attribute.sector_list,option) for option in sectorsList"
                                                    required>
                                                <option value="">-- {{'Sector' | translate}} --</option>
                                            </select>
                                            <ul class="sec-list-view">
                                                <li ng-repeat="sector in attribute.sector_list"
                                                    ng-class="{active : isSectorActive(attribute,sector)}"
                                                    ng-init="$first && sectorClick(attribute,sector)">
                                                    <a href="javascript:;" class="darkcolor"
                                                       ng-click="sectorClick(attribute,sector)"
                                                       n-t='{"e_n":"Sector View - Expert Ratting modal Admin","e_d":"{{category.risk_category_name}} - {{sector.sector_name}}"}'>{{sector.sector_name}}
                                                        <!-- <span><i class="icon-trash sky-blue f14"></i></span>-->
                                                    </a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="acc-block-right col-sm-8 col-lg-9 pr0">
                                        <ul>
                                            <li class="clearfix" ng-repeat="item in attribute.sectorSelected.items">
                                                <div class="col-sm-8">
                                                    <p class="f14">{{item.risk_category_item_name}}</p>
                                                </div>
                                                <div class="col-sm-2">
                                                    <p class="f14">{{item.risk_category_item_grade}}</p>
                                                </div>
                                                <div class="col-sm-2 text-right p0">
                                                    <a href="javascript:;" class="pull-right p-over sky-blue mr8 f16"
                                                       popover-animation="true" tabindex="0"
                                                       uib-popover-template="'editAttributeItem.html'"
                                                       n-t='{"e_n":"Edit Attributes Item - Expert Ratting modal Admin","e_d":"{{category.risk_category_name}}"}'
                                                       popover-placement="left-bottom"
                                                       popover-title="Risk Attribute Items Update"
                                                       popover-append-to-body="false"
                                                       popover-is-open="item.popover" ng-click="item.popover = true"
                                                       class="btn btn-default"><i class="icon-edit"></i></a>
                                                    <a uib-tooltip="Delete" ng-click="itemDelete({'type':'item','risk_category_item_id':item.id_risk_category_item},attribute.sectorSelected.items,$index)"
                                                        class="sky-blue mr8 f16"> <i class="icon-trash"></i></a>


                                                    <!-- <a href="javascript:;" class="sky-blue mr8 f16"><i
                                                             class="icon-edit"></i> </a>-->
                                                    <!-- <a href="javascript:;" class="sky-blue f16"><i
                                                             class="icon-trash"></i> </a>-->
                                                </div>
                                            </li>

                                        </ul>
                                        <div class="add-box col-sm-12 p10 grey-bg" ng-show="attribute.itemDivShow">
                                            <div class="col-sm-6 col-lg-7 p0">
                                                <input type="text"
                                                       ng-model="attribute.sectorSelected.form.risk_category_item_name"
                                                       class="form-control" placeholder="Enter Item Name">
                                            </div>
                                            <div class="col-sm-4 col-lg-3 pr0">
                                                <input type="text"
                                                       ng-model="attribute.sectorSelected.form.risk_category_item_grade"
                                                       class="form-control" placeholder="Grade" only-digits>

                                                <!--  <select class="width-full form-control" >
                                                      <option>Select Grade</option>
                                                  </select>-->
                                            </div>
                                            <div class="col-sm-2 col-lg-2 pr0">
                                                <button class="btn btn-dark f12 white-color border-radius0 text-capitalize"
                                                        ng-click="addSectorItems(attribute)"
                                                        n-t='{"e_n":"Add Attribute Item - Expert Ratting modal Admin","e_d":"{{category.risk_category_name}}"}'>
                                                    {{'Add' | translate}}
                                                </button>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div>


        </div>
        <script type="text/ng-template" id="editCategory.html">
            <div ng-init="poverOrignal=clone(pover)"></div>
            <div class="col-sm-12 p0 clearfix">
                <div class="col-sm-12 p5">
                    <input type="text" ng-model="pover.risk_category_name" class="form-control"
                           placeholder="Add Risk Category">
                </div>
                <div class=" col-sm-12 p5">
                    <input ng-model="pover.risk_percentage" type="text" class="form-control"
                           placeholder="%" only-digits>
                </div>
                <div class="col-sm-12 p5 ">
                    <button ng-click="editRiskCategory(pover)"
                            class="blue-btn"
                            n-t='{"e_n":"Update Risk Sub Category - Expert Ratting modal Admin","e_d":"{{category.risk_category_name}}"}'
                            type="submit">{{'Update' | translate}}
                    </button>
                    <button class="light-btn"
                            n-t='{"e_n":"Close Risk Sub Category - Expert Ratting modal Admin","e_d":"{{category.risk_category_name}}"}'
                            type="button" data-ng-click="pover.risk_category_name=poverOrignal.risk_category_name;
                            pover.risk_percentage=poverOrignal.risk_percentage;
                            pover.popover=false;">{{'Close' | translate}}
                    </button>
                </div>
            </div>
        </script>
        <script type="text/ng-template" id="editAttribute.html">
            <div ng-init="attributeOrignal=clone(attribute)"></div>
            <div class="col-sm-12 p0 clearfix">
                <div class=" col-sm-12 p5">
                    <input type="text" ng-model="attribute.risk_category_name" class="form-control"
                           placeholder="Add Risk Category">
                </div>

                <div class="col-sm-12 p5 ">
                    <button ng-click="editRiskCategory(attribute)"
                            n-t='{"e_n":"Update Category Name - Expert Ratting modal Admin","e_d":"{{category.risk_category_name}}"}'
                            class="blue-btn"
                            type="submit">{{'Update' | translate}}
                    </button>
                    <button
                            class="light-btn"
                            n-t='{"e_n":"Cancel Category Name - Expert Ratting modal Admin","e_d":"{{category.risk_category_name}}"}'
                            type="button" data-ng-click="attribute.risk_category_name=attributeOrignal.risk_category_name;
                            attribute.popover=false">{{'Close' | translate}}
                    </button>
                </div>
            </div>
        </script>
        <script type="text/ng-template" id="editAttributeItem.html">
            <div class="col-sm-12 p0 clearfix">
                <div ng-init="itemOrg=clone(item)"></div>
                <div class="col-sm-12 p5">
                    <input type="text" ng-model="item.risk_category_item_name" class="form-control"
                           placeholder="Add Risk Category">
                </div>
                <div class="col-sm-12 p5">
                    <input ng-model="item.risk_category_item_grade" type="text" class="form-control"
                           placeholder="Grade" only-digits>
                </div>
                <div class="col-sm-12 p5 ">
                    <button ng-click="editAttributeItem(item)"
                            n-t='{"e_n":"Risk Attribute Items Update - Expert Ratting modal Admin","e_d":"{{category.risk_category_name}}"}'
                            class="blue-btn"
                            type="submit">{{'Update' | translate}}
                    </button>
                    <button
                            class="light-btn"
                            n-t='{"e_n":"Cancel Attribute Items Update - Expert Ratting modal Admin","e_d":"{{category.risk_category_name}}"}'
                            type="button" data-ng-click="
item.risk_category_item_name = itemOrg.risk_category_item_name;
item.risk_category_item_grade = itemOrg.risk_category_item_grade;
                            item.popover=false">{{'Close' | translate}}
                    </button>
                </div>
            </div>
        </script>


    </div>
</div>

