<h3 class="fixed content-heading">
    {{'Risk Report' | translate}}
</h3>

<div class="content-area animated fadeInRight" id="contentArea">
    <div class="content-container clearfix">
        <div class="col-sm-12 plr20 mb20 mt20 reports-t-wrapper" id="reportsTWrapper" st-pipe="callServer"
             st-table="projectList">
            <div class="reports-leftside-panel">
                <div class="reports-leftside-panel-widget">
                    <!--<h3 class="text-capitalize darkcolor bold f14"></h3>-->
                    <!--<ul class="reports-types-list mt10">
                        <li ng-repeat="reporttype in reporttypes"><a>{{reporttype.name}}</a></li>
                    </ul>-->
                </div>
                <div class="reports-leftside-panel-widget clearfix">
                    <!--<h4 class="text-center display-block pt10"><b>Filters</b></h4>-->
                    <ul class="r-filters-btn-wrap" ng-init="showFilter=1" style="cursor: default;">
                        <li ng-class="{active:showFilter==1}" style="cursor: default;">
                            <a class="cursor-default">Filters</a>
                        </li>
                        <!-- For Filters tab -->
                        <!--<li ng-class="{active:showFilter==1}">
                            <a ng-click="showFilter=1">Filters</a>
                        </li>
                        <li ng-class="{active:showFilter==2?true:false}"><a ng-click="showFilter=2">Views</a></li>-->
                    </ul>
                    <div class="col-sm-12 clearfix ptb10" ng-show="showFilter==1">
                        <h3 class="darkcolor bold f14 pl0 mb10">Risk Type</h3>
                        <div class="form-group form-group-custom" ng-init="getParent(0,'')">
                            <select chosen
                                    class="form-control"
                                    st-input-event="change"
                                    st-search="risk_name"
                                    ng-change="getParent(parent, 'childs')"
                                    ng-options="risk.id_risk_type as risk.risk_name for risk in parents track by risk.id_risk_type"
                                    ng-model="parent" name="parent" required>
                                <option value="">--All--</option>
                            </select>
                        </div>
                        <div class="form-group form-group-custom pt10" ng-show="parent">
                            <select chosen
                                    class="form-control"
                                    ng-change="getParent(child, 'subchilds')"
                                    st-input-event="change"
                                    st-search="child_name"
                                    ng-options="risk.id_risk_type as risk.risk_name for  risk in childs track by risk.id_risk_type"
                                    ng-model="child" name="child">
                                <option value="">--All--</option>
                            </select>
                        </div>
                        <div class="form-group form-group-custom pt10 pb10" ng-show="child && parent">
                            <select chosen
                                    class="form-control"
                                    st-input-event="change"
                                    st-search="sub_child_name"
                                    ng-options="risk.id_risk_type as risk.risk_name for risk in subchilds track by risk.id_risk_type"
                                    ng-model="subchild" name="subchild">
                                <option value="">--All--</option>
                            </select>
                        </div>
                        <h3 class="darkcolor bold f14 pl0 pb5" ng-show="subchild">Risk Grade</h3>
                        <div class="form-group form-group-custom pb10" ng-show="subchild">
                            <select class="form-control" chosen
                                    st-input-event="change"
                                    st-search="risk_grade"
                                    ng-init="masterDropDownList({'master_key':'risk_grade'})"
                                    ng-model="fdata.risk_grade" name="risk_grade"
                                    ng-options="item.id as item.name for item in dropDownItems['risk_grade'] track by item.id">
                                <option value="">--Select--</option>
                            </select>
                        </div>
                        <h3 class="darkcolor bold f14 pl0 pb5">Filter BY</h3>
                        <div class="filteredby-wrap">
                            <ul is-filtered>
                                <li ng-class="{active:filter=='sector'?true:false}"
                                    ng-click="openFilterTab('sector');">
                                    Sector <span class="icon-angle-right"></span><!--<span class="icon-times"></span>-->
                                </li>
                                <li ng-class="{active:filter=='country'?true:false}"
                                    ng-click="openFilterTab('country');">
                                    Country <span class="icon-angle-right"></span>
                                    <!--<span class="icon-times"></span>--></li>
                                <li ng-class="{active:filter=='focus_area'?true:false}"
                                    ng-click="openFilterTab('focus_area');">
                                    Focus Area <span class="icon-angle-right"></span>
                                    <!--<span class="icon-times"></span>--></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-12 clearfix ptb10" ng-show="showFilter==2">
                        <ul class="reports-views-list">
                            <li>
                                <a> How do you changes revenues every month?</a>
                            </li>
                            <li>
                                <a> How do you changes revenues every month?</a>
                            </li>
                            <li>
                                <a> How do you changes revenues every month?</a>
                            </li>
                            <li>
                                <a> How do you changes revenues every month?</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="sector-filter-panel-total-wrap" id="sector-filter-panel-total-wrap">
                    <!--sector filter panel-->
                    <div class="filter-panel sector-filter-panel" ng-show="filterPanel">
                        <h3>{{filter | underscoreless | capitalize}}
                            <a class="pull-right" ng-click="filterPanel=false;filter=''">
                                <span class="icon-times f18"></span>
                            </a>
                        </h3>
                        <div class="col-sm-12" ng-show="filter=='sector'?true:false">
                            <ul>
                                <li ng-repeat="item in parentSectorsList">
                                    <div class="form-group form-group-custom">
                                        <label class="f12 width-full">{{item.sector_name}}
                                            <input type="checkbox" class="pull-right mt3"
                                                   st-input-event="change"
                                                   st-search="sector2"
                                                   ng-model="sector[$index]"
                                                   ng-true-value="{{item.id_sector}}"
                                                   ng-false-value="-{{item.id_sector}}"></label>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="col-sm-12" ng-show="filter=='country'?true:false">
                            <ul>
                                <li ng-repeat="item in countryList">
                                    <div class="form-group form-group-custom">
                                        <label class="f12 width-full">{{item.country_name}}
                                            <input type="checkbox" class="pull-right mt3"
                                                   st-input-event="change"
                                                   st-search="country_id2"
                                                   ng-model="country_id[$index]"
                                                   ng-true-value="{{item.id_country}}"
                                                   ng-false-value="-{{item.id_country}}"></label>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="col-sm-12" ng-show="filter=='focus_area'?true:false">
                            <ul>
                                <li ng-repeat="item in focusArea">
                                    <div class="form-group form-group-custom">
                                        <label class="f12 width-full">{{item.name}}
                                            <input type="checkbox" class="pull-right mt3"
                                                   st-input-event="change"
                                                   st-search="focus_area2"
                                                   ng-model="focus_area[$index]"
                                                   ng-true-value="{{item.id}}"
                                                   ng-false-value="-{{item.id}}"></label>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div id="reportsRightsidePanel" reportsTwidth class="reports-rightside-panel">
                <div class="table-wrapper no-bg pt0 overflow-hidden pl0 pr0">
                    <table class="table-list-view p-table table mb0 table-striped row-pointer">
                        <thead>
                        <tr>
                            <td colspan="7" class="pad0 border-none">
                                <div class="action-head">
                                    <div class="table-search pull-left" ng-show="false">
                                        <input type="text" class="form-control" placeholder="Name"
                                               st-search="search_key">
                                        <i class="fa icon-search"></i>
                                    </div>
                                    <!--<a class="pull-right" ng-click="filterShow=!filterShow"><i
                                            class="fa fa-filter darkcolor"></i></a>-->
                                </div>
                            </td>
                        </tr>
                        </thead>
                        <tbody ng-show="projectList.length" class="blue-row hierarchical_slide" hierarchical-slide>
                        <tr ng-click="gotoState(row)" ng-repeat="row in projectList"
                            n-t='{"e_n":"Risk reports - view","e_d":"{{row.project_title}}"}'>

                            <td class="img"><span first-alpha="{{row.project_title}}"></span></td>
                            <td>
                                <label class="label-text display-block">{{'Borrower' | translate}} : </label>
                                <label title="{{row.project_title}}"><span>{{row.company_name}}</span></label>
                            </td>
                            <td>
                                <label class="label-text display-block">{{'Project Title' | translate}} : </label>
                                <label title="{{row.project_title}}"><span>{{row.project_title}}</span></label>
                            </td>

                            <!--<td>{{row.project_description}}</td>
                            <td>Threshold Software Solutions Pvt. Ltd.</td>-->
                            <td>
                                <label>
                                    <span class="label-text">{{'Sector' | translate}} : </span>

                                </label>
                                <label>
                                    <span class="c-label" title="{{row.sector}}">{{row.sector}}</span>
                                </label>
                                <!--<label>
                                    <span class="label-text">{{'Sub-Sector' | translate}} : </span>
                                    <span class="c-label" title="{{row.sub_sector}}">{{row.sub_sector}}</span>
                                </label>-->
                            </td>
                            <td style="max-width: 100px !important;">
                                <label class="label-text display-block">{{'Focus Area' | translate}} : </label>
                                <label class="c-label" title="{{row.focus_area_name}} "> {{row.focus_area_name}}
                                </label>
                            </td>
                            <td>
                                <label class="label-text display-block">{{'Exposure' | translate}} : </label>
                                <label class="c-label" title="{{row.loan_amount}} ">
                                    <any ng-if="row.loan_amount>0">{{row.loan_amount | currency}}</any>
                                    <any ng-if="!row.loan_amount">{{0 | currency:"":"2"}}</any>
                                </label>
                            </td>
                            <td>
                                <label><a ng-href ng-click="addTasksModal(row)">Send notification</a></label>
                            </td>
                        </tr>
                        </tbody>
                        <tbody ng-show="projectList.length<=0 && !loading">
                        <tr colspan="7" class="pad0 border-none text-center">
                            <td>No data found</td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <td colspan="7" class="text-center">
                                <div st-items-by-page="10" st-pagination
                                     st-template="partials/list-pagination.custom.html" class="pull-right"></div>
                            </td>
                        </tr>
                        </tfoot>
                    </table>
                </div>
                <!--<div class="col-sm-12 clearfix p0">
                    <div class="col-sm-8 p0">
                        <ul class="list-inline report-list">
                            <li>
                                <button type="button" class="btn btn-report f14 border"><span class="fa fa-arrow-left"></span> Back</button>
                            </li>
                            <li>
                                <button type="button" class="btn btn-report f14 border"><span class="fa fa-share-alt"></span> History</button>
                            </li>
                            <li>
                                <button type="button" ng-click="resetReports()" ng-init="rportName = true" class="btn btn-report f14 border"><span class="fa fa-repeat"></span> Reset</button>
                            </li>
                            <li class="search-report">
                                <input class="border" placeholder="Search in a Table" type="text">
                                <i class="fa fa-search sky-blue"></i>
                                <span>1-11 of 13,566 Records</span>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-4 p0">
                        <div class="report-block clearfix relative">
                            <ul class="list-inline white-bg graph-types-btns" reportsFiltered>
                                <li><a uib-tooltip="Line Chart" href="javascript:;" ng-click="chartType='LineChart'"><span class="fa fa-line-chart"></span></a></li>
                                <li><a uib-tooltip="Area Chart" href="javascript:;" ng-click="chartType='AreaChart'"><span class="fa fa-area-chart"></span></a></li>
                                <li class="active"><a uib-tooltip="Bar Chart" href="javascript:;" ng-click="chartType='BarChart'"><span class="fa fa-bar-chart"></span></a></li>
                                <li><a uib-tooltip="Pie Chart" href="javascript:;" ng-click="chartType='PieChart'"><span class="fa fa-pie-chart"></span></a></li>
                            </ul>
                            <span class="ractions custom-list relative pull-right">
                                <a href="javascript:;" class="menu-toggle f13 dark-sky-blue dropdown-toggle" data-toggle="dropdown"><i class="fa fa-ellipsis-v f21 blue p0"></i></a>
                                <ul class="dropdown-menu cust-dropdown">
                                    <li>
                                        <a href="javascript:;" class="f12 darkcolor font-normal">Export to PDF</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;" class="f12 darkcolor font-normal">Search Save</a>
                                    </li>
                                </ul>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="reports-view-wrap">
                    &lt;!&ndash;-Reports visualization&ndash;&gt;
                    <div class="col-sm-12 clearfix p0" style="text-align:center">
                        <div id="annualReportVisualization" annual_report_visualization style="width: 100%;height: 400px;">Placeholder for chart</div>
                    </div>

                    &lt;!&ndash;-annual report&ndash;&gt;
                    <div class="col-sm-12">

                    </div>
                    &lt;!&ndash;right block-2&ndash;&gt;
                    <div class="col-sm-12 clearfix p0 right-btn mt10">
                        <h6 class="dark-blue">LAST 12 MONTHS-STAGES vs AMOUNT</h6>
                        <button class="btn btn-blue-report btn-sm sky-blue-bg" type="button">Export Report</button>
                    </div>
                    &lt;!&ndash;right block-2 ends&ndash;&gt;
                    &lt;!&ndash;right block-3&ndash;&gt;
                    <div class="col-sm-12 clearfix p0 white-bg mt5 radius-sec">
                        <h3 class="text-capitalize darkcolor bold f14 inline-display plt12">Summeary - All Data</h3>
                        <div class="form-group form-inline inline-display p5">
                            <label class="blue">Show Top</label>
                            <input type="number" class="form-control">
                        </div>
                    </div>
                    &lt;!&ndash;right block-3 ends&ndash;&gt;
                    &lt;!&ndash;right block-4&ndash;&gt;
                    <div class="col-sm-12 clearfix p0 white-bg">
                        <div class="table-responsive reports-data-table">
                            <table class="table table-report f13">
                                <thead>
                                <tr>
                                    <th ng-show="rportName" ng-init="rportName"><input class="mr8" type="checkbox">Customer Name <a class="menu-toggle dropdown-toggle" data-toggle="dropdown"><span class="icon-angle-down-square"></span></a>
                                        <ul class="dropdown-menu cust-dropdown reports-cust-dropdown">
                                            <li>
                                                <input class="form-control" placeholder="Search" type="text"/>
                                            </li>
                                            <li>
                                                <a href="javascript:;" class="f12 darkcolor font-normal"  ng-click="sortType = 'name'; sortReverse = !sortReverse">Sort Assending</a>
                                            </li>
                                            <li>
                                                <a href="javascript:;" class="f12 darkcolor font-normal">Sort Desending</a>
                                            </li>
                                            <li>
                                                <a href="javascript:;" class="f12 darkcolor font-normal" ng-click="rportName=!rportName">Hide</a>
                                            </li>
                                            <li class="mt5">
                                                <button type="submit" class="btn btn-dark  white-color btn-xs f15 mr8">CLEAR</button>
                                                <button type="reset" class="btn white-color f15 lt-bg btn-xs">OK</button>
                                            </li>
                                        </ul>
                                    </th>
                                    <th>Sector<a class="menu-toggle dropdown-toggle" data-toggle="dropdown"><span class="icon-angle-down-square"></span></a>
                                        <ul class="dropdown-menu cust-dropdown reports-cust-dropdown">
                                            <li>
                                                <input class="form-control" placeholder="Search" type="text"/>
                                            </li>
                                            <li>
                                                <a href="javascript:;" class="f12 darkcolor font-normal"  ng-click="sortType = 'name'; sortReverse = !sortReverse">Sort Assending</a>
                                            </li>
                                            <li>
                                                <a href="javascript:;" class="f12 darkcolor font-normal">Sort Desending</a>
                                            </li>
                                            <li>
                                                <a href="javascript:;" class="f12 darkcolor font-normal" ng-click="rportName=!rportName">Hide</a>
                                            </li>
                                            <li class="mt5">
                                                <button type="submit" class="btn btn-dark  white-color btn-xs f15 mr8">CLEAR</button>
                                                <button type="reset" class="btn white-color f15 lt-bg btn-xs">OK</button>
                                            </li>
                                        </ul>
                                    </th>
                                    <th>Company<a class="menu-toggle dropdown-toggle" data-toggle="dropdown"><span class="icon-angle-down-square"></span></a>
                                        <ul class="dropdown-menu cust-dropdown reports-cust-dropdown">
                                            <li>
                                                <input class="form-control" placeholder="Search" type="text"/>
                                            </li>
                                            <li>
                                                <a href="javascript:;" class="f12 darkcolor font-normal"  ng-click="sortType = 'name'; sortReverse = !sortReverse">Sort Assending</a>
                                            </li>
                                            <li>
                                                <a href="javascript:;" class="f12 darkcolor font-normal">Sort Desending</a>
                                            </li>
                                            <li>
                                                <a href="javascript:;" class="f12 darkcolor font-normal" ng-click="rportName=!rportName">Hide</a>
                                            </li>
                                            <li class="mt5">
                                                <button type="submit" class="btn btn-dark  white-color btn-xs f15 mr8">CLEAR</button>
                                                <button type="reset" class="btn white-color f15 lt-bg btn-xs">OK</button>
                                            </li>
                                        </ul>
                                    </th>
                                    <th>Business<a class="menu-toggle dropdown-toggle" data-toggle="dropdown"><span class="icon-angle-down-square"></span></a>
                                        <ul class="dropdown-menu cust-dropdown reports-cust-dropdown">
                                            <li>
                                                <input class="form-control" placeholder="Search" type="text"/>
                                            </li>
                                            <li>
                                                <a href="javascript:;" class="f12 darkcolor font-normal"  ng-click="sortType = 'name'; sortReverse = !sortReverse">Sort Assending</a>
                                            </li>
                                            <li>
                                                <a href="javascript:;" class="f12 darkcolor font-normal">Sort Desending</a>
                                            </li>
                                            <li>
                                                <a href="javascript:;" class="f12 darkcolor font-normal" ng-click="rportName=!rportName">Hide</a>
                                            </li>
                                            <li class="mt5">
                                                <button type="submit" class="btn btn-dark  white-color btn-xs f15 mr8">CLEAR</button>
                                                <button type="reset" class="btn white-color f15 lt-bg btn-xs">OK</button>
                                            </li>
                                        </ul>
                                    </th>
                                    <th>Amount<a class="menu-toggle dropdown-toggle" data-toggle="dropdown"><span class="icon-angle-down-square"></span></a>
                                        <ul class="dropdown-menu cust-dropdown reports-cust-dropdown">
                                            <li>
                                                <input class="form-control" placeholder="Search" type="text"/>
                                            </li>
                                            <li>
                                                <a href="javascript:;" class="f12 darkcolor font-normal"  ng-click="sortType = 'name'; sortReverse = !sortReverse">Sort Assending</a>
                                            </li>
                                            <li>
                                                <a href="javascript:;" class="f12 darkcolor font-normal">Sort Desending</a>
                                            </li>
                                            <li>
                                                <a href="javascript:;" class="f12 darkcolor font-normal" ng-click="rportName=!rportName">Hide</a>
                                            </li>
                                            <li class="mt5">
                                                <button type="submit" class="btn btn-dark  white-color btn-xs f15 mr8">CLEAR</button>
                                                <button type="reset" class="btn white-color f15 lt-bg btn-xs">OK</button>
                                            </li>
                                        </ul>
                                    </th>
                                    <th>Country<a class="menu-toggle dropdown-toggle" data-toggle="dropdown"><span class="icon-angle-down-square"></span></a>
                                        <ul class="dropdown-menu cust-dropdown reports-cust-dropdown">
                                            <li>
                                                <input class="form-control" placeholder="Search" type="text"/>
                                            </li>
                                            <li>
                                                <a href="javascript:;" class="f12 darkcolor font-normal"  ng-click="sortType = 'name'; sortReverse = !sortReverse">Sort Assending</a>
                                            </li>
                                            <li>
                                                <a href="javascript:;" class="f12 darkcolor font-normal">Sort Desending</a>
                                            </li>
                                            <li>
                                                <a href="javascript:;" class="f12 darkcolor font-normal" ng-click="rportName=!rportName">Hide</a>
                                            </li>
                                            <li class="mt5">
                                                <button type="submit" class="btn btn-dark  white-color btn-xs f15 mr8">CLEAR</button>
                                                <button type="reset" class="btn white-color f15 lt-bg btn-xs">OK</button>
                                            </li>
                                        </ul>
                                    </th>
                                    <th>Currency<a class="menu-toggle dropdown-toggle" data-toggle="dropdown"><span class="icon-angle-down-square"></span></a>
                                        <ul class="dropdown-menu cust-dropdown reports-cust-dropdown">
                                            <li>
                                                <input class="form-control" placeholder="Search" type="text"/>
                                            </li>
                                            <li>
                                                <a href="javascript:;" class="f12 darkcolor font-normal"  ng-click="sortType = 'name'; sortReverse = !sortReverse">Sort Assending</a>
                                            </li>
                                            <li>
                                                <a href="javascript:;" class="f12 darkcolor font-normal">Sort Desending</a>
                                            </li>
                                            <li>
                                                <a href="javascript:;" class="f12 darkcolor font-normal" ng-click="rportName=!rportName">Hide</a>
                                            </li>
                                            <li class="mt5">
                                                <button type="submit" class="btn btn-dark  white-color btn-xs f15 mr8">CLEAR</button>
                                                <button type="reset" class="btn white-color f15 lt-bg btn-xs">OK</button>
                                            </li>
                                        </ul>
                                    </th>
                                    <th>Period<a class="menu-toggle dropdown-toggle" data-toggle="dropdown"><span class="icon-angle-down-square"></span></a>
                                        <ul class="dropdown-menu cust-dropdown reports-cust-dropdown">
                                            <li>
                                                <input class="form-control" placeholder="Search" type="text"/>
                                            </li>
                                            <li>
                                                <a href="javascript:;" class="f12 darkcolor font-normal"  ng-click="sortType = 'name'; sortReverse = !sortReverse">Sort Assending</a>
                                            </li>
                                            <li>
                                                <a href="javascript:;" class="f12 darkcolor font-normal">Sort Desending</a>
                                            </li>
                                            <li>
                                                <a href="javascript:;" class="f12 darkcolor font-normal" ng-click="rportName=!rportName">Hide</a>
                                            </li>
                                            <li class="mt5">
                                                <button type="submit" class="btn btn-dark  white-color btn-xs f15 mr8">CLEAR</button>
                                                <button type="reset" class="btn white-color f15 lt-bg btn-xs">OK</button>
                                            </li>
                                        </ul>
                                    </th>
                                    <th>Status<a class="menu-toggle dropdown-toggle" data-toggle="dropdown"><span class="icon-angle-down-square"></span></a>
                                        <ul class="dropdown-menu cust-dropdown reports-cust-dropdown">
                                            <li>
                                                <input class="form-control" placeholder="Search" type="text"/>
                                            </li>
                                            <li>
                                                <a href="javascript:;" class="f12 darkcolor font-normal"  ng-click="sortType = 'name'; sortReverse = !sortReverse">Sort Assending</a>
                                            </li>
                                            <li>
                                                <a href="javascript:;" class="f12 darkcolor font-normal">Sort Desending</a>
                                            </li>
                                            <li>
                                                <a href="javascript:;" class="f12 darkcolor font-normal" ng-click="rportName=!rportName">Hide</a>
                                            </li>
                                            <li class="mt5">
                                                <button type="submit" class="btn btn-dark  white-color btn-xs f15 mr8">CLEAR</button>
                                                <button type="reset" class="btn white-color f15 lt-bg btn-xs">OK</button>
                                            </li>
                                        </ul>
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="list in annualReportsData|orderBy:sortType:sortReverse">
                                    <td ng-show="rportName"><input class="mr8" type="checkbox" value=""/>{{list.name}}</td>
                                    <td>{{list.sector}}</td>
                                    <td>{{list.company}}</td>
                                    <td>{{list.business}}</td>
                                    <td>{{list.amount}}</td>
                                    <td>{{list.country}}</td>
                                    <td>{{list.currency}}</td>
                                    <td>{{list.period}}</td>
                                    <td>{{list.status}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>-->
            </div>
        </div>
    </div>
</div>