<div class="right-modal modal-custom overflow-x-visible" data-modal="addAssessment">
    <h3 class="right-modal-head">
        {{title}}
        <a class="close-right pull-right" ng-click="cancel()"
           n-t='{"e_n":"Cancel {{title}} Admin","e_d":""}'><img src="images/close.png"></a>
    </h3>
    <form class="form-bordered" name="form" ng-submit="form.$valid && save()" novalidate>

        <div class="form-group clearfix p10  form-group-custom white-bg m0">
<!--            <div class="col-sm-12">
                <label class="darkcolor f14">Covenant Typee</label>

                <div class="form-group clearfix form-group-custom">
                    <select name="covenant_type_id"
                            data-ng-model="category.covenant_type_id" class="form-control"
                            ng-options="item.id_covenant_type as item.covenant_type  for item in covenantList"
                            required>
                        <option value="">&#45;&#45;Select Covenant Type&#45;&#45;</option>
                    </select>
                    <div ng-if="form.covenant_type_id.$error.required && submitted"
                         class="error-message">This field is required
                    </div>
                </div>
            </div>-->
            <div class="col-sm-12">
                <label class="darkcolor f14">{{'Category Name' | translate}}</label>

                <div class="form-group clearfix form-group-custom">
                    <input type="text" name="covenant_category"
                           data-ng-model="category.covenant_category" class="form-control "
                           placeholder="Type your Category Name" required/>
                    <div ng-if="form.covenant_category.$error.required && submitted"
                         class="error-message">{{'This field is required' | translate}}
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <label class="darkcolor f14">{{'All Sector' | translate}}</label>
                <input type="checkbox" ng-model="category.sector_all"/>
            </div>
            <div class="col-sm-12" ng-if="!category.sector_all">

                <label class="darkcolor f14">{{'Sector' | translate}}</label>

                <div class="form-group clearfix form-group-custom">
                    <select multiple chosen class="chosen-select" name="sector"
                            data-placeholder="Please Select Sector"
                            ng-model="category.sector"
                            ng-options="option.id_sector as option.sector_name for option in sectorsList" required>
                    </select>
                    <div ng-if="form.sector.$error.required && submitted"
                         class="error-message">{{'This field is required' | translate}}
                    </div>
                </div>
            </div>

            <div class="col-sm-12 mt10 mb10 text-center">
                <button type="submit" class="btn btn-dark mr4 f12"
                        n-t='{"e_n":"Save {{title}} Admin","e_d":"", "form": "{{form.$valid}}"}'
                        ng-click="submitted=true;">{{'Save' | translate}}
                </button>
                <button type="button" class="btn white-color lt-bg f12" ng-click="cancel()"
                        n-t='{"e_n":"Cancel {{title}} Admin","e_d":""}'>
                    {{'Cancel' | translate}}
                </button>
            </div>
        </div>
    </form>
</div>