<!--<div class="container-fluid p20 q-box" >
    <div class="a-ques-list mb10 ng-scope ui-droppable" ng-repeat="row in categoryList">
        <h3 class="f15 darkcolor  pb5 overflow-hidden bold acc-heading clearfix ng-binding" >
            {{row.covenant_category}}
            <a href="javascript:;" ng-click="addCovenant(row)" class="mr4 f14 darkcolor"><i
                    class="icon-plus-circle"></i> </a>
        </h3>
        <div ng-if="row.covenant.length>0 && saveBtnShow==false" ng-init="$parent.$parent.saveBtnShow=true"></div>
        <ul>
            <li ng-repeat="c in row.covenant" ng-init="c.status = (c.is_checked != 0)?true:false">
                <div class="checkbox">
                    <label class="f12"><input type="checkbox" class="mr8" ng-model="c.status"  />{{c.covenant_name}}</label>
                </div>

            </li>
        </ul>
    </div>
    <div class="mtb10" ng-show="saveBtnShow">
        <button class="btn btn-dark f12" ng-click="save()" >Save</button>
    </div>
</div>-->

<div class="col-sm-12 q-box" >
    <div class="mb10 covenent-data" ng-repeat="row in categoryList">
        <h3 class="clearfix cov-header" >
            <label>{{row.covenant_category}}</label>
            <span class="pull-right">
                <a href="javascript:;" class="btn lt-bg white-color f12 mr4" ng-click="addCovenant(row)"
                   n-t='{"e_n":"Add From Library - Covenant Admin","e_d":"{{row.covenant_category}}"}'> Add From Library<i
                        class="icon-plus-circle valign-middle ml5"></i> </a>
                <a href="javascript:;" ng-click="covShow=!covShow " class="btn f12 btn-dark"
                   n-t='{"e_n":"Add - Covenant Admin","e_d":"{{row.covenant_category}}"}'> Add <i
                        class="icon-plus-circle valign-middle ml5"></i> </a>

            </span>
        </h3>
        <div class="add-covenent mt15" ng-show="covShow">
            <form class="form-bordered" name="form" ng-submit="form.$valid && saveCovenant(row)" novalidate>
              <!--  <h4 class="f14 darkcolor mb5 bold">{{row.covenant_category}}</h4>-->
                <div class="col-sm-12">
                    <label class="control-label">Name</label>
                    <div class="form-group clearfix form-group-custom">
                        <input type="text" class="form-control  width-full" name="covenant_content" data-ng-model="row.covenant_content" required placeholder="Name"/>
                        <div ng-if="form.covenant_content.$error.required && submitStatus" class="error-message">Enter name.</div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <label class="control-label">Detail Definition</label>
                    <div class="form-group clearfix form-group-custom">
                        <textarea class="form-control min-height70 width-full" name="covenant_details_defination" data-ng-model="row.covenant_details_defination"  placeholder="Detail Definition "></textarea>
                    </div>
                </div>
                <div class="col-sm-12">
                    <label class="control-label">Value</label>
                    <div class="form-group clearfix form-group-custom">
                        <input ui-number-mask="" type="text" class="form-control  width-full" name="covenant_value" data-ng-model="row.covenant_value" required placeholder="Value" />
                    </div>
                </div>
                <div class="mb15">
                    <button class="btn btn-dark mr4 f12" ng-click="submitted=true;"
                            n-t='{"e_n":"Save - Covenant Admin","e_d":""}'>Save</button>
                    <button class="btn lt-bg white-color f12" ng-click="covShow=false "
                            n-t='{"e_n":"Cancel - Covenant Admin","e_d":""}'>Cancel</button>
                </div>
            </form>
        </div>
        <div ng-if="row.covenant.length>0 && saveBtnShow==false" ng-init="$parent.$parent.saveBtnShow=true"></div>
        <div class="covenent-li-view">
            <!--<ul>
                <li ng-repeat="c in row.covenant">
                    {{c.covenant_name}}
                    <div class="cov-delete">
                        <a href="javascript:;" class="sky-blue"><i class="icon-trash" ng-click="deleteCovenant(c.id_covenant)"></i></a>
                    </div>
                </li>
            </ul>-->
            <div class="table-wrapper  p0 pt5 table-responsive">
                <table class="table table-bordered table-hover display table-style">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Detail Definition</th>
                        <th>Value</th>
                        <th>&nbsp;</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="c in row.covenant" >
                        <td>{{$index+1}}</td>
                        <td>{{c.covenant_name}}</td>
                        <td>{{c.covenant_details_defination}}</td>
                        <td>{{c.covenant_value}}</td>
                        <td><div>
                            <a href="javascript:;" class="sky-blue"><i class="icon-trash" ng-click="deleteCovenant(c.id_covenant)"
                               n-t='{"e_n":"Delete - Covenant Admin","e_d":"{{c.covenant_name}}"}'></i></a>
                        </div></td>
                    </tr>
                    </tbody>
                    <tfoot ng-if="!row.covenant">

                    </tfoot>
                </table>
            </div>
        </div>
    </div>
    <!--<div class="mtb10" ng-show="saveBtnShow">
        <button class="btn btn-dark f12" ng-click="save()" >Save</button>
    </div>-->
</div>
