<div class="content-area animated fadeInRight" id="contentArea">
    <div class="content-container clearfix">
        <div class="container-fluid p20 q-box scroll-div-wrap ">
            <div class="qpanel clearfix relative">
                <div class="panel-left-wrap trans-pos-top absolute" scroll-pos>
                    <!--<h3 class="heading pb10">Question Types</h3>-->
                    <div class="panel-btn-wrap">
                        <ul class="clearfix">
                            <li>
                                <a href="javascript:;" ng-click="addCategory()"
                                   n-t='{"e_n":"Create New Category - Admin","e_d":""}'>{{'Create New Category' | translate}}</a>
                            </li>
                            <li data-drag="true" data-jqyoui-options="{revert: 'invalid', helper: 'clone'}"
                                jqyoui-draggable="{index: 1, placeholder: 'keep'}">
                                <a href="javascript:;" ng-click="addCovenant()"
                                   n-t='{"e_n":"Create New Covenant - Admin","e_d":""}'>{{'Create New Covenant' | translate}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="panel-right-wrap">
                    <div class="a-ques-list mb10 ng-scope ui-droppable" ng-repeat="row in categoryList" data-drop="true"
                         jqyoui-droppable="{onDrop: 'beforeDrop(row)',onOver: 'onOver', onOut: 'onOut',multiple:true}">
                        <h3 class="f15 darkcolor  pb5 overflow-hidden bold acc-heading clearfix">
                            {{row.covenant_category}}
                            <div class="display-inline-block icons-wrap-list pull-right">
                                <a href="javascript:;" ng-click="addCategory(row)" class="mr4 f14 darkcolor"
                                   n-t='{"e_n":"Edit Category - Admin","e_d":"{{row.covenant_category}}"}'><i
                                        class="icon-edit"></i> </a>
                            </div>
                        </h3>
                        <ul>
                            <li ng-repeat="covenant in row.covenant">
                                <div class="acc-wrapper accordian-wrapper q-acc-wrap">
                                    <div class="clearfix acc-head q-acc-head">
                                        <div class="onoffswitch pull-left">
                                            <input type="checkbox" ng-model="covenant.covenant_status"
                                                   ng-init="covenant.covenant_status = (covenant.covenant_status==1)?1:0"
                                                   name="covenant_status"
                                                   ng-true-value="1"
                                                   ng-false-value="0"
                                                   ng-change="statusChange(covenant)"
                                                   class="onoffswitch-checkbox"
                                                   n-t='{"e_n":"Status Change - Admin","e_d":"{{covenant.covenant_name}}"}'
                                                   id="questionts_{{covenant.id_covenant}}">
                                            <label class="onoffswitch-label"
                                                   for="questionts_{{covenant.id_covenant}}">
                                                <span class="onoffswitch-inner"></span>
                                                <span class="onoffswitch-switch"></span>
                                            </label>
                                        </div>
                                        <h3 class="line-height21 pull-left ml5 darkcolor f14">{{covenant.covenant_name}}
                                            <div class="display-inline-block icons-wrap-list pull-right">
                                                <a href="javascript:;" ng-click="addCovenant(row,covenant)" class="mr4 f12 darkcolor"
                                                   n-t='{"e_n":"Edit Covenant - Admin","e_d":"{{covenant.covenant_name}}"}'><i
                                                        class="icon-edit"></i> </a>
                                            </div>
                                        </h3>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
