<div class="right-modal modal-custom overflow-x-visible" data-modal="addAssessment">
    <h3 class="right-modal-head">
        {{title}}
        <a class="close-right pull-right" ng-click="cancel()"
           n-t='{"e_n":"Cancel {{title}} Admin","e_d":""}'><img src="images/close.png"></a>
    </h3>
    <form class="form-bordered" name="form" ng-submit="form.$valid && save()" novalidate>

        <div class="form-group clearfix p10  form-group-custom white-bg m0">

            <div class="col-sm-12">
                <label class="darkcolor f14">Category</label>
            </div>

            <!--Html Static Code Starts-->
            <div class="covenent-li-view col-sm-12 cov-li-modal">
                {{selectedCovenant}}
                <ul>
                    <li  ng-repeat="row in covenant" ng-init="row.is_checked=(row.is_checked!=0)?1:0">
                        <input  ng-true-value="1" ng-false-value="0"  type="checkbox" ng-model="row.is_checked" class="mr8">
                        <label>{{ row.covenant_name }}</label>
                    </li>
                </ul>
            </div>
            <!--Html Static Code Ends-->

            <div class="col-sm-12 mtb10 text-center">
                <button type="submit" class="btn btn-dark mr4 f12"
                        n-t='{"e_n":"Save {{title}} Admin","e_d":"", "form": "{{form.$valid}}"}'
                        ng-click="submitted=true;"> {{'Save' | translate}}
                </button>
                <button type="button" class="btn white-color lt-bg f12" ng-click="cancel()"
                        n-t='{"e_n":"Cancel {{title}} Admin","e_d":""}'>
                    {{'Cancel' | translate}}
                </button>
            </div>
        </div>
    </form>
</div>