<div class="modal-wrap right-modal modal-custom">
    <div class="clearfix">
        <h3 class="right-modal-head">
            <i class="icon-risk"></i> Ratios Management
            <a ng-click="cancel()" class="close-right pull-right" uib-tooltip="Close"><img src="images/close.png"></a>
        </h3>

    </div>
    <form name="form" novalidate>
        <div class="col-sm-12">
            <div class="col-sm-12 pl0">
                <label class="darkcolor f14">Category Name *</label>
                <div class="form-group clearfix form-group-custom">
                    <input type="text" class="form-control" name="category_name" ng-model="cRatio.category_name" required/>
                    <div ng-if="form.category_name.$error.required && form.$submitted" class="error-message">
                        This field is required
                    </div>
                </div>
            </div>
            <div class="col-sm-12 pl0" ng-init="sector_all = (cRatio.sector_id==0)?true:false">
                <label class="darkcolor f14">{{'All Sectors' | translate}}</label>
                <input type="checkbox" ng-model="sector_all" ng-checked="cRatio.sector_id==0" ng-change="cRatio.sector_id=0"/>
            </div>
            <div class="col-sm-12 pl0" ng-if="!sector_all">
                <label class="darkcolor f14">Sector *</label>
                <div class="form-group clearfix form-group-custom">
                    <select chosen class="chosen-select width-full form-control"
                            multiple
                            name="sector_id"
                            data-placeholder="Please Select Sector"
                            ng-model="cRatio.sector_id"
                            ng-options="option.id_sector as option.sector_name  for option in sectorsList"
                            required>
                    </select>
                    <div ng-if="form.sector_id.$error.required && form.$submitted" class="error-message">
                        This field is required
                    </div>
                </div>
            </div>


            <div class="col-sm-12 mt10 mb10 text-center">
                <button type="submit" class="btn btn-dark white-color mr8 f12"
                        ng-click="form.$valid && saveCategoryRatio(cRatio)">{{'Save' | translate}}
                </button>
                <button type="button" class="btn white-color lt-bg f12" ng-click="cancel()">
                    {{'Cancel' | translate}}
                </button>
            </div>
        </div>
    </form>
</div>