<h3 class="fixed content-heading">Ratio Management
    <ul class="pull-right icons-right">
        <li>
            <a class="pull-right" uib-tooltip="Add" ng-click="openCategoryRatioModal()">
                <i class="icon-plus-circle"></i>
            </a>
        </li>
    </ul>
</h3>
<div class="content-area animated fadeInRight risk-assessment" id="contentArea">
    <div class="content-container clearfix">
        <div class="col-lg-8 pt10">
            <div class="a-ques-list mb10" ng-repeat="c in ratioCategoryList">
                    <h3 class="f15 darkcolor  pb5 overflow-hidden bold">
                        {{c.category_name}}
                        <div class="display-inline-block icons-wrap-list pull-right">
                            <a class="pull-right" ng-click="openCategoryRatioModal(c)" uib-tooltip="Edit Category">
                                <i class="icon-edit p5"></i>
                            </a>
                            <a class="pull-right" ng-click="openRationModal(c.id_ratio_category)" uib-tooltip="Add Ratios">
                                <i class="icon-plus-circle p5"></i>
                            </a>
                        </div>
                    </h3>
                    <ul>
                        <li ng-repeat="r in c.ratios">
                            <div class="acc-wrapper accordian-wrapper q-acc-wrap">
                                <div class="acc-head q-acc-head">
                                    <div class="pull-left width93">
                                            {{r.ratio_name}}({{r.ratio_type}})
                                    </div>
                                    <a class="pull-right" ng-click="openRationModal(c.id_ratio_category,r)" uib-tooltip="Add Ratios">
                                        <i class="icon-edit p5"></i>
                                    </a>
                                </div>
                            </div>
                        </li>
                    </ul>
            </div>
        </div>
    </div>
</div>

