<div class="modal-wrap right-modal modal-custom">
    <div class="clearfix">
        <h3 class="right-modal-head">
            <i class="icon-risk"></i> Ratios Management
            <a ng-click="cancel()" class="close-right pull-right" uib-tooltip="Close"><img src="images/close.png"></a>
        </h3>

    </div>
    <form name="form" novalidate>
        <div class="col-sm-12">
            <div class="col-sm-12 pl0">
                <label class="darkcolor f14">Ratio Type *</label>
                <div class="form-group clearfix form-group-custom">
                    <select class="chosen-select width-full form-control"
                            name="ratio_type"
                            ng-model="ratio.ratio_type"
                            required>
                        <option value="trend">Trend</option>
                        <option value="value">Value</option>
                    </select>
                    <div ng-if="form.ratio_type.$error.required && form.$submitted" class="error-message">
                        This field is required
                    </div>
                </div>
            </div>
            <div class="col-sm-12 pl0">
                <label class="darkcolor f14">Ratio Name *</label>
                <div class="form-group clearfix form-group-custom">
                    <input type="text" class="form-control" name="ratio_name" ng-model="ratio.ratio_name" required/>
                    <div ng-if="form.ratio_name.$error.required && form.$submitted" class="error-message">
                        This field is required
                    </div>
                </div>
            </div>
            <div class="col-sm-12 pl0">
                <label class="darkcolor f14">Upper Ceiling *</label>
                <div class="form-group clearfix form-group-custom">
                    <input type="text" class="form-control" name="upper_ceiling" ui-number-mask="2" ng-model="ratio.upper_ceiling" required/>
                    <div ng-if="form.upper_ceiling.$error.required && form.$submitted" class="error-message">
                        This field is required
                    </div>
                </div>
            </div>
            <div class="col-sm-12 pl0">
                <label class="darkcolor f14">Lower Celing *</label>
                <div class="form-group clearfix form-group-custom">
                    <input type="text" class="form-control" name="lower_celing" ng-model="ratio.lower_celing" ui-number-mask="2" required/>
                    <div ng-if="form.lower_celing.$error.required && form.$submitted" class="error-message">
                        This field is required
                    </div>
                </div>
            </div>
            <div class="col-sm-12 mt10 mb10 text-center">
                <button type="submit" class="btn btn-dark white-color mr8 f12"
                        ng-click="form.$valid && saveCategoryRatio(ratio)">{{'Save' | translate}}
                </button>
                <button type="button" class="btn white-color lt-bg f12" ng-click="cancel()">
                    {{'Cancel' | translate}}
                </button>
            </div>
        </div>
    </form>
</div>