<h3 class="fixed content-heading">Assessment by Country
    <!--<div class="pull-right button-set">
        <a ui-sref="project.project-list({id:(currentProjectViewId | encode )})" uib-tooltip="Back"><i class="fa fa-close-sm"></i></a>
    </div>-->
</h3>

<div class="content-area animated fadeInRight" id="contentArea">
    <div class="content-container clearfix" >
        <div class="m20 clearfix mb0">
            <div class="col-sm-12 white-bg">
                <h3 class="text-capitalize darkcolor ptb10 pull-left f14 bold">Country Summary</h3>
                <div class="pull-right mt4">
                    <form editable-form name="form" class="form-horizontal form-bordered" novalidate ng-submit="form.$valid && submitForm(data)">
                        <div class="form-inline rep-select-month">
                            <div class="form-group pull-left">
                                <label class="label darkcolor">Analysis Country</label>
                                <select class="form-control" ng-change="analysisDate(data)"
                                        ng-options="country.id_country as country.country_name for country in allCountries"
                                        name="analysis_country"
                                        ng-model="data.analysis_country" >
                                    <option value="">--All--</option>
                                </select>
                            </div>
                            <div class="form-group pull-left">
                                <label class="label darkcolor">Analysis Month</label>
                                <select class="form-control" ng-change="analysisDate(data)"
                                        ng-options="month.analysis_date as month.analysis_month for month in allMonths"
                                        name="analysis_month"
                                        ng-model="data.analysis_date" required >
                                    <option value="">--Select--</option>
                                </select>
                                <div ng-if="form.analysis_month.$error.required && form.$submitted" class="error-message text-right">
                                    {{'This field is required' | translate}}
                                </div>
                            </div>
                            <div class="form-group pull-left ml5">
                                <button type="submit" class="btn btn-primary f14 next-btn">Search</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div ng-if="compleateLoad" >  <!--ng-if="compleateLoad"-->
            <div class="m20 mt15 mb0 clearfix">
                <!--compare-->
                <div class="col-sm-12 p0">
                    <div class="col-sm-12 clearfix p0 white-bg">
                        <div class="table-fullwidth-scroll" cols-horizontal><!--    cols-horizontal-->
                            <table  class="f13 master-table table table-bordered" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td>
                                        <table width="100%" class="table-main-header table-bordered" cellpadding="0" cellspacing="0">
                                            <thead>
                                            <tr>
                                                <th class="reports-row-style-first-td">Outstanding Portfolio</th>
                                                <th ng-repeat="head in analysis_head">{{head.year | date:'MMM y'}}</th>
                                                <th>
                                                    <div class="form-inline rep-select-month">
                                                        <div class="form-group">
                                                            <label class="label darkcolor">Comparison Month</label>
                                                            <select class="form-control mr4" ng-change="newRecordInsert(compare_month,data.analysis_country)"
                                                                    ng-options="month.analysis_date as month.analysis_month for month in allMonths"
                                                                    name="analysis_month"
                                                                    ng-model="compare_month">
                                                                <option value="">--Select--</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </th>
                                            </tr>
                                            </thead>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="table-inner-one">
                                        <table class="table-bordered f13" width="100%" cellpadding="0" cellspacing="0">
                                            <thead>
                                            <tr>
                                                <th>Outstanding Portfolio (In millions USD)</th>
                                                <th ng-repeat="total in compairMonthData.total"><span>Portfolio share (100%)</span><span>{{total.total | toBillion | currency:'' }}</span></th>
                                                <th></th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr ng-repeat="compairMonth in compairMonthData.head">
                                                <td class="reports-row-style-first-td" ng-class="{'sub-category': compairMonth.is_sub == true}">{{compairMonth.product_name}}</td>
                                                <td ng-repeat="value in compairMonth.amount">
                                                    <span class="{{value.graph}}" ng-if="$index==0 && value.graph"></span>
                                                    <span>{{value.percentage}}%</span>
                                                    <span>{{value.amount | toBillion | currency:'' }}</span>
                                                </td>
                                                <td></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="table-inner-one">
                                        <table class="table-bordered f13" width="100%" cellpadding="0" cellspacing="0">
                                            <thead>
                                            <tr>
                                                <th class="reports-row-style-first-td">Number of Clients</th>
                                                <th ng-repeat="total in clientCompairMonthData.total"><span>{{total.total}}</span></th>
                                                <th></th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr ng-repeat="compairMonth in clientCompairMonthData.head">
                                                <td class="reports-row-style-first-td" ng-class="{'sub-category': compairMonth.is_sub == true}">{{compairMonth.product_name}}</td>
                                                <td ng-repeat="value in compairMonth.amount">
                                                    <span class="{{value.graph}}" ng-if="$index==0 && value.graph"></span>
                                                    <span>{{value.percentage}}%</span>
                                                    <span>{{value.amount}}</span>
                                                </td>
                                                <td></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="table-inner-one">
                                        <table class="table-bordered f13" width="100%" cellpadding="0" cellspacing="0">
                                            <thead>
                                            <tr>
                                                <th class="reports-row-style-first-td">E&S Grades</th>
                                                <th ng-repeat="total in EsGradecompairMonthData.total"><span>{{total.total | toBillion | currency:''}}</span></th>
                                                <th></th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr ng-repeat="compairMonth in EsGradecompairMonthData.head">
                                                <td class="reports-row-style-first-td" ng-class="{'sub-category': compairMonth.is_sub == true}">{{compairMonth.product_name}} - {{compairMonth.description}}</td>
                                                <td ng-repeat="value in compairMonth.amount">
                                                    <span class="{{value.graph}}" ng-if="$index==0 && value.graph"></span>
                                                    <span>{{value.percentage}}%</span>
                                                    <span>{{value.amount | toBillion| currency:''}}</span>
                                                </td>
                                                <td></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <!--compare close-->

                <!--tables-->
                <div class="col-sm-12 p0 mt5">
                    <h1 class="p10 darkcolor fontBold pl0">Currency Analysis</h1>
                    <div class="col-sm-12 p0 mb10">
                        <div class="col-sm-6 pl0">
                            <h3 class="grey-bg f14 p10 bold darkcolor">Outstanding Exposure by Currency</h3>
                            <div class="col-sm-12 clearfix p0" style="text-align:center">
                                <div  outstanding-exposure-by-currency="{{portfolioByCurrencyAnalysis}}" style="width: 100%;height: 350px;">Placeholder for chart</div>
                            </div>
                        </div>
                        <div class="col-sm-6 p0">
                            <div class="col-sm-12 p0 grey-bg">
                                <div class="col-sm-8 p0"><h3 class="f14 p10 bold darkcolor">Portfolio by status and currency
                                </h3></div>
                                <div class="col-sm-4">
                                    <div class="form-group form-group-custom w100 pull-right mt3">
                                        <select class="form-control" ng-change="currencyAnalysis({'company_id': id_company,'outstanding_status':currencyStatus,'country_id':data.analysis_country,'analysis_date':data.analysis_date})"
                                                ng-options="status.status as status.name for status in outStandingStatus"
                                                name="currencyStatus"
                                                ng-model="currencyStatus">
                                            <option value="">--All--</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 clearfix p0" style="text-align:center">
                                <div  outstanding-per-watchlist-by-currency="{{portfolioByCurrencyAnalysis}}" style="width: 100%;height: 350px;">Placeholder for chart</div>
                            </div>
                        </div>
                    </div>
                    <div class="">
                        <table class="table c-table table-striped table-bordered table-hover display table-style table-text-right">
                            <thead>
                            <tr>
                                <th>Currency</th>
                                <th>Total in USD</th>
                                <th>Limit</th>
                                <th>Transactions</th>
                                <th>Arrears in K USD</th>
                                <th>Normal</th>
                                <th>Watch</th>
                                <th>Sub-Standard</th>
                                <th>Doubtful</th>
                                <th>Loss</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="currency in outstandingExposureByCurrency.currencies" class="reports-row-style">
                                <td><span class="darkcolor">{{currency.currency_code}}</span></td>
                                <td><span graph-class="{{currency.amount_compare}}"></span><span>{{currency.amount | toBillion| currency:''}}</span></td>
                                <td style="width: 60px;"></td>
                                <td><span graph-class="{{currency.transactions_compare}}"></span><span>{{currency.transactions | currency:''}}</span></td>
                                <td><span graph-class="{{currency.arrears_compare}}"></span><span>{{currency.arrears  | currency:''}}</span></td>
                                <!--<td><span class="icon-up-arrow arrow-up"></span><span>109,114</span></td>-->
                                <td><span graph-class="{{currency.norm_compare}}"></span><span>{{currency.norm | currency:''}}</span></td>
                                <td><span graph-class="{{currency.watch_compare}}"></span><span>{{currency.watch | currency:''}}</span></td>
                                <td><span graph-class="{{currency.sub_standard_compare}}"></span><span>{{currency.sub_standard | currency:''}}</span></td>
                                <td><span graph-class="{{currency.doubtful_compare}}"></span><span>{{currency.doubtful | currency:''}}</span></td>
                                <td><span graph-class="{{currency.loss_compare}}"></span><span>{{currency.loss | currency:''}}</span></td>
                            </tr>
                            </tbody>
                            <tfoot>
                            <tr class="reports-custom-footer reports-row-style">
                                <td><span class="darkcolor">Total</span></td>
                                <td><span graph-class="{{outstandingExposureByCurrency.amount_total_compare}}"></span><span>{{outstandingExposureByCurrency.amount_total | toBillion| currency:''}}</span></td>
                                <td></td>
                                <td><span graph-class="{{outstandingExposureByCurrency.transactions_total_compare}}"></span><span>{{outstandingExposureByCurrency.transactions_total | currency:''}}</span></td>
                                <td><span graph-class="{{outstandingExposureByCurrency.arrears_total_compare}}"></span><span>{{outstandingExposureByCurrency.arrears_total  | currency:''}}</span></td>
                                <!--<td><span class="icon-up-arrow arrow-up"></span><span>109,114</span></td>-->
                                <td><span graph-class="{{outstandingExposureByCurrency.norm_total_compare}}"></span><span>{{outstandingExposureByCurrency.norm_total | currency:''}}</span></td>
                                <td><span graph-class="{{outstandingExposureByCurrency.watch_total_compare}}"></span><span>{{outstandingExposureByCurrency.watch_total | currency:''}}</span></td>
                                <td><span graph-class="{{outstandingExposureByCurrency.sub_standard_total_compare}}"></span><span>{{outstandingExposureByCurrency.sub_standard_total | currency:''}}</span></td>
                                <td><span graph-class="{{outstandingExposureByCurrency.doubtful_total_compare}}"></span><span>{{outstandingExposureByCurrency.doubtful_total | currency:''}}</span></td>
                                <td><span graph-class="{{outstandingExposureByCurrency.loss_total_compare}}"></span><span>{{outstandingExposureByCurrency.loss_total | currency:''}}</span></td>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>

                <div class="col-sm-12 p0">
                    <h1 class="p10 darkcolor fontBold pl0 pt0">Sector Analysis</h1>
                    <div class="col-sm-12 p0 mb10">
                        <div class="col-sm-12 p0">
                            <h3 class="grey-bg f14 p10 bold darkcolor">Outstanding Exposure by Sector</h3>
                            <div class="col-sm-12 clearfix p0" style="text-align:center">
                                <div outstanding-exposure-by-sector="{{portfolioBySectorAnalysis}}" style="width: 100%;height: 480px;">Placeholder for chart</div>
                            </div>
                        </div>
                    </div>
                    <div class="">
                        <table class="table c-table table-striped table-bordered table-hover display table-style table-text-right">
                            <thead>
                            <tr>
                                <th>Sector</th>
                                <th>Total in USD</th>
                                <th>Limit</th>
                                <th>Transactions</th>
                                <th>Arrears in K USD</th>
                                <th>Normal</th>
                                <th>Watch</th>
                                <th>Sub-Standard</th>
                                <th>Doubtful</th>
                                <th>Loss</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="sector in outstandingExposureBySector.sectors" class="reports-row-style">
                                <td class="darkcolor"><span class="" title="{{sector.sector_name}}">{{sector.sector_name}}</span></td>
                                <td><span graph-class="{{sector.amount_compare}}"></span><span>{{sector.amount | toBillion| currency:''}}</span></td>
                                <td><span graph-class="{{sector.limit_value_compare}}" ng-if="sector.limit_value!=null"></span><span>{{sector.limit_value | currency:''}}</span></td>
                                <td><span graph-class="{{sector.transactions_compare}}"></span><span>{{sector.transactions | currency:''}}</span></td>
                                <td><span graph-class="{{sector.arrears_compare}}"></span><span>{{sector.arrears  | currency:''}}</span></td>
                                <!--<td><span class="icon-up-arrow arrow-up"></span><span>109,114</span></td>-->
                                <td><span graph-class="{{sector.norm_compare}}"></span><span>{{sector.norm | currency:''}}</span></td>
                                <td><span graph-class="{{sector.watch_compare}}"></span><span>{{sector.watch | currency:''}}</span></td>
                                <td><span graph-class="{{sector.sub_standard_compare}}"></span><span>{{sector.sub_standard | currency:''}}</span></td>
                                <td><span graph-class="{{sector.doubtful_compare}}"></span><span>{{sector.doubtful | currency:''}}</span></td>
                                <td><span graph-class="{{sector.loss_compare}}"></span><span>{{sector.loss | currency:''}}</span></td>
                            </tr>
                            </tbody>
                            <tfoot >
                            <tr class="reports-custom-footer reports-row-style" >
                                <td><span class="darkcolor">Total</span></td>
                                <td><span graph-class="{{outstandingExposureBySector.amount_total_compare}}"></span><span>{{outstandingExposureBySector.amount_total | toBillion| currency:''}}</span></td>
                                <td><span graph-class="{{outstandingExposureBySector.limit_value_total_compare}}"></span><span>{{outstandingExposureBySector.limit_value_total | currency:''}}</span></td>
                                <td><span graph-class="{{outstandingExposureBySector.transactions_total_compare}}"></span><span>{{outstandingExposureBySector.transactions_total | currency:''}}</span></td>
                                <td><span graph-class="{{outstandingExposureBySector.arrears_total_compare}}"></span><span>{{outstandingExposureBySector.arrears_total  | currency:''}}</span></td>
                                <!--<td><span class="icon-up-arrow arrow-up"></span><span>109,114</span></td>-->
                                <td><span graph-class="{{outstandingExposureBySector.norm_total_compare}}"></span><span>{{outstandingExposureBySector.norm_total | currency:''}}</span></td>
                                <td><span graph-class="{{outstandingExposureBySector.watch_total_compare}}"></span><span>{{outstandingExposureBySector.watch_total | currency:''}}</span></td>
                                <td><span graph-class="{{outstandingExposureBySector.sub_standard_total_compare}}"></span><span>{{outstandingExposureBySector.sub_standard_total | currency:''}}</span></td>
                                <td><span graph-class="{{outstandingExposureBySector.doubtful_total_compare}}"></span><span>{{outstandingExposureBySector.doubtful_total | currency:''}}</span></td>
                                <td><span graph-class="{{outstandingExposureBySector.loss_total_compare}}"></span><span>{{outstandingExposureBySector.loss_total | currency:''}}</span></td>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>

                <div class="col-sm-12 p0">
                    <h1 class="p10 darkcolor fontBold pl0 pt0">Product Analysis</h1>
                    <div class="col-sm-12 p0 mb10">
                        <div class="col-sm-6 pl0">
                            <h3 class="grey-bg f14 p10 bold darkcolor">Outstanding Exposure by Product </h3>
                            <div class="col-sm-12 clearfix p0" style="text-align:center">
                                <div outstanding-exposure-by-product="{{portfolioByProductAnalysis}}" style="width: 100%;height: 350px;">Placeholder for chart</div>
                            </div>
                        </div>
                        <div class="col-sm-6 p0">
                            <div class="col-sm-12 p0 grey-bg">
                                <div class="col-sm-8 p0"><h3 class="f14 p10 bold darkcolor">% of Portfolio per Watchlist Product
                                </h3></div>
                                <div class="col-sm-4">
                                    <div class="form-group form-group-custom w100 pull-right mt3">
                                        <select class="form-control" ng-change="productAnalysis({'company_id': id_company,'outstanding_status':productStatus,'country_id':data.analysis_country,'analysis_date':data.analysis_date})"
                                                ng-options="status.status as status.name for status in outStandingStatus"
                                                name="productStatus"
                                                ng-model="productStatus">
                                            <option value="">--All--</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            <div class="col-sm-12 clearfix p0" style="text-align:center">
                                <div  outstanding-per-watchlist-by-product="{{portfolioByProductAnalysis}}" style="width: 100%;height: 350px;">Placeholder for chart</div>
                            </div>
                        </div>
                    </div>


                    <div class="">
                        <table class="table c-table table-striped table-bordered table-hover display table-style table-text-right">
                            <thead>
                            <tr class="reports-row-style">
                                <th>Product</th>
                                <th>Total in USD</th>
                                <th>Limit</th>
                                <th>Transactions</th>
                                <th>Arrears in K USD</th>
                                <th>Normal</th>
                                <th>Watch</th>
                                <th>Sub-Standard</th>
                                <th>Doubtful</th>
                                <th>Loss</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="product in outstandingExposureByProduct.products" class="reports-row-style">
                                <td><span class="darkcolor" ng-class="{'sub-category': product.is_sub == true}">{{product.product_name}}</span></td>
                                <td><span graph-class="{{product.amount_compare}}"></span><span>{{product.amount | toBillion| currency:''}}</span></td>
                                <td><span graph-class="{{product.limit_value_compare}}"></span>{{product.limit_value | currency:''}}</td>
                                <td><span graph-class="{{product.transactions_compare}}"></span><span>{{product.transactions | currency:''}}</span></td>
                                <td><span graph-class="{{product.arrears_compare}}"></span><span>{{product.arrears  | currency:''}}</span></td>
                                <!--<td><span class="icon-up-arrow arrow-up"></span><span>109,114</span></td>-->
                                <td><span graph-class="{{product.norm_compare}}"></span><span>{{product.norm | currency:''}}</span></td>
                                <td><span graph-class="{{product.watch_compare}}"></span><span>{{product.watch | currency:''}}</span></td>
                                <td><span graph-class="{{product.sub_standard_compare}}"></span><span>{{product.sub_standard | currency:''}}</span></td>
                                <td><span graph-class="{{product.doubtful_compare}}"></span><span>{{product.doubtful | currency:''}}</span></td>
                                <td><span graph-class="{{product.loss_compare}}"></span><span>{{product.loss | currency:''}}</span></td>
                            </tr>
                            </tbody>
                            <tfoot>
                            <tr class="reports-custom-footer reports-row-style">
                                <td><span class="darkcolor">Total</span></td>
                                <td><span graph-class="{{outstandingExposureByProduct.amount_total_compare}}"></span><span>{{outstandingExposureByProduct.amount_total | toBillion| currency:''}}</span></td>
                                <td><span graph-class="{{outstandingExposureByProduct.limit_value_total_compare}}"></span>{{outstandingExposureByProduct.limit_value_total | currency:''}}</td>
                                <td><span graph-class="{{outstandingExposureByProduct.transactions_total_compare}}"></span><span>{{outstandingExposureByProduct.transactions_total | currency:''}}</span></td>
                                <td><span graph-class="{{outstandingExposureByProduct.arrears_total_compare}}"></span><span>{{outstandingExposureByProduct.arrears_total  | currency:''}}</span></td>
                                <!--<td><span class="icon-up-arrow arrow-up"></span><span>109,114</span></td>-->
                                <td><span graph-class="{{outstandingExposureByProduct.norm_total_compare}}"></span><span>{{outstandingExposureByProduct.norm_total | currency:''}}</span></td>
                                <td><span graph-class="{{outstandingExposureByProduct.watch_total_compare}}"></span><span>{{outstandingExposureByProduct.watch_total | currency:''}}</span></td>
                                <td><span graph-class="{{outstandingExposureByProduct.sub_standard_total_compare}}"></span><span>{{outstandingExposureByProduct.sub_standard_total | currency:''}}</span></td>
                                <td><span graph-class="{{outstandingExposureByProduct.doubtful_total_compare}}"></span><span>{{outstandingExposureByProduct.doubtful_total | currency:''}}</span></td>
                                <td><span graph-class="{{outstandingExposureByProduct.loss_total_compare}}"></span><span>{{outstandingExposureByProduct.loss_total | currency:''}}</span></td>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
                <!--tables close-->

                <!--graphs start-->
                <div class="col-sm-12 p0">
                    <div class="col-sm-6 pl0">
                        <h3 class="grey-bg f14 p10 bold darkcolor">Portfolio by ES Grade</h3>
                        <div class="col-sm-12 clearfix p0" style="text-align:center" ng-if="portfolio_by_es_grade.length">
                            <div reports-portfolio-by-country="{{portfolio_by_es_grade}}" style="width: 100%;height: 210px;">Placeholder for chart</div>
                        </div>
                    </div>
                    <div class="col-sm-6 p0"  >
                        <h3 class="grey-bg f14 p10 bold darkcolor">Portfolio by Product</h3>
                        <div class="col-sm-12 clearfix p0" style="text-align:center" ng-if="portfolio_by_procuct.length" >
                            <div reports-portfolio-by-country="{{portfolio_by_procuct}}" style="width: 100%;height: 210px;">Placeholder for chart</div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-12 p0 mt15">
                    <div class="col-sm-6 pl0"  >
                        <h3 class="grey-bg f14 p10 bold darkcolor">Portfolio by Currency</h3>
                        <div class="col-sm-12 clearfix p0" style="text-align:center" ng-if="portfolio_by_currency.length">
                            <div reports-portfolio-by-country="{{portfolio_by_currency}}" style="width: 100%;height: 210px;">Placeholder for chart</div>
                        </div>
                    </div>
                    <div class="col-sm-6 p0"  >
                        <h3 class="grey-bg f14 p10 bold darkcolor">Portfolio by Sector</h3>
                        <div class="col-sm-12 clearfix p0" style="text-align:center" ng-if="portfolio_by_sector.length" >
                            <div reports-portfolio-by-country="{{portfolio_by_sector}}" style="width: 100%;height: 210px;">Placeholder for chart</div>
                        </div>
                    </div>
                </div>
                <!--graphs end-->

            </div>
        </div>
    </div>
</div>