<h3 class="fixed content-heading">New Reports
    <!--<div class="pull-right button-set">
        <a ui-sref="project.project-list({id:(currentProjectViewId | encode )})" uib-tooltip="Back"><i class="fa fa-close-sm"></i></a>
    </div>-->
</h3>

<div class="content-area animated fadeInRight" id="contentArea">
    <div class="content-container clearfix" win-width ng-scrollbars="{axis:x}" >
        <div class="m20 clearfix mb0">
            <div class="col-sm-12 white-bg">
                <h3 class="text-uppercase darkcolor ptb10 pull-left f14 bold">Analysis</h3>
                <div class="pull-right mt4">
                    <select class="form-control chosen-choices" chosen ng-change="analysisDate(analysis_month)"
                            ng-options="month.analysis_month as month.analysis_month for month in allMonths"
                            name="analysis_month"
                            ng-model="analysis_month">
                        <option value="">--Select Month--</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="m20 mt15 mb0 clearfix" >
            <div class="col-sm-12 p0 mt15">
                <div class="col-sm-12 clearfix p0 white-bg">
                    <div class="horizontal-div-for-scroll" ><!-- cols-horizontal   cols-horizontal-->
                        <table ng-if="compairMonthData" class="f13 master-table table table-bordered" cellpadding="0" cellspacing="0">
                            <tr>
                                <td>
                                    <table width="100%" class="table-main-header table-bordered" cellpadding="0" cellspacing="0">
                                        <thead>
                                        <tr>
                                            <th>Outstanding Portfolio</th>
                                            <th ng-repeat="head in analysis_head">{{head.year}}</th>
                                            <th>Select-month
                                                <div class="pull-right">
                                                    <select class="form-control chosen-choices" chosen ng-change="newRecordInsert(compare_month)"
                                                            ng-options="month.analysis_month as month.analysis_month for month in allMonths"
                                                            name="analysis_month"
                                                            ng-model="compare_month">
                                                        <option value="">--Select Month--</option>
                                                    </select>
                                                </div>
                                            </th>
                                        </tr>
                                        </thead>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td class="table-inner-one">
                                    <table class="table table-report table-report-sublevel f13" width="100%" cellpadding="0" cellspacing="0">
                                        <thead>
                                        <tr>
                                            <th>Outstanding Portfolio</th>
                                            <th ng-repeat="total in compairMonthData.total"><span>{{total.total}}</span></th>
                                            <th></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="compairMonth in compairMonthData.head">
                                            <td ng-class="{'sub-category': compairMonth.is_sub == true}">{{compairMonth.product_name}}</td>
                                                <td ng-repeat="value in compairMonth.amount">
                                                    <span class="{{value.graph}}"></span>
                                                    <span>{{value.percentage}}%</span>
                                                    <span>{{value.amount}}</span>
                                                </td>
                                            <td></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>








