<h3 class="fixed content-heading">Borrower List</h3>

<div class="content-area animated fadeInRight" id="contentArea">
    <div class="content-container clearfix" >
        <div class="m20 clearfix mb0">
            <div class="col-sm-12 white-bg">
                <h3 class="text-capitalize darkcolor ptb10 pull-left f14 bold">Analysis</h3>
                <div class="pull-right mt4">
                    <form editable-form name="form" class="form-horizontal form-bordered" novalidate ng-submit="form.$valid && submitForm(data)">
                        <div class="form-inline rep-select-month">
                            <div class="form-group pull-left">
                                <label class="label darkcolor">Country</label>
                                <select class="form-control"
                                        ng-options="country.id_country as country.country_name for country in allCountries"
                                        name="country_id"
                                        ng-model="data.country_id" >
                                    <option value="">--All--</option>
                                </select>
                            </div>
                            <div class="form-group pull-left">
                                <label class="label darkcolor">Status</label>
                                <select class="form-control"
                                        ng-options="status.status as status.name for status in outStandingStatus"
                                        name="outstanding_status"
                                        ng-model="data.outstanding_status">
                                    <option value="">--All--</option>
                                </select>
                            </div>
                            <div class="form-group pull-left">
                                <label class="label darkcolor">Analysis Month</label>
                                <select class="form-control" ng-change="analysisDate(data)"
                                        ng-options="month.analysis_date as month.analysis_month for month in allMonths"
                                        name="analysis_month"
                                        ng-model="data.analysis_date" required >
                                    <option value="">--Select--</option>
                                </select>
                                <div ng-if="form.analysis_month.$error.required && form.$submitted" class="error-message text-right">
                                    {{'This field is required' | translate}}
                                </div>
                            </div>
                            <div class="form-group pull-left ml5">
                                <button type="submit" class="btn btn-primary f14 next-btn">Search</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-sm-12 p0 mt15 clearfix clearboth" >
            <div class="table-wrapper no-bg pt0 overflow-hidden plr20">
                <table class="table-list-view table c-table table-hover table-style" st-pipe="getOutstandingBorrowersList" st-table>
                    <thead>
                    <tr>
                        <th></th>
                        <th>Borrower Name</th>
                        <th>Status</th>
                        <th>Country</th>
                        <th class="text-right">Outstanding</th>
                        <th class="text-right">% of Net Worth</th>
                    </tr>
                    </thead>

                    <tbody class="hierarchical_slide" ng-show="outstandingBorrowersList.length>0" hierarchical-slide>
                    <tr class="cursor-pointer"  ng-repeat="row in outstandingBorrowersList">
                        <td class="img"><span first-alpha="{{row.company_name}}"></span></td>
                        <td>
                            <span class="font-lato f13 darkcolor display-block" title="{{row.company_name}}">{{row.company_name}} </span>
                        </td>
                        <td>
                            <span class="font-lato f13 darkcolor display-block">{{row.proposed }} </span>
                        </td>
                        <td>
                            <span class="font-lato f13 darkcolor display-block"> {{row.country_name | checkEmpty }} </span>
                        </td>
                        <td class="text-right">
                            <span class="font-lato f13 darkcolor display-block">{{row.amount | toBillion | currency:''}}</span>
                        </td>
                        <td class="text-right">
                            <span class="font-lato f13 darkcolor display-block">{{((row.amount/totalOutstandingBorrowersAmount)*100).toFixed(2)}}%</span>
                        </td>
                    </tr>
                    </tbody>
                    <tfoot ng-show="outstandingBorrowersList.length">
                    <tr>
                        <td colspan="6" class="text-center">
                            <div st-items-by-page="10" st-pagination="" st-template="partials/list-pagination.custom.html" class="pull-right"></div>
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>