<h3 class="fixed content-heading">Sector Limits</h3>

<div class="content-area animated fadeInRight" id="contentArea">
    <div class="content-container clearfix" >
        <div class="m20 clearfix mb0">
            <div class="col-sm-12 white-bg">
                <h3 class="darkcolor ptb10 pull-left f14 bold">Sector Limits</h3>
                <div class="pull-right mt4">
                    <form editable-form name="form" class="form-horizontal form-bordered" novalidate ng-submit="form.$valid && submitForm(data)">
                        <div class="form-inline rep-select-month">
                            <div class="form-group pull-left">
                                <label class="label darkcolor">Analysis Month</label>
                                <select class="form-control" ng-change="analysisDate(data)"
                                        ng-options="month.analysis_date as month.analysis_month for month in allMonths"
                                        name="analysis_month"
                                        ng-model="data.analysis_date" required >
                                    <option value="">--Select--</option>
                                </select>
                                <div ng-if="form.analysis_month.$error.required && form.$submitted" class="error-message text-right">
                                    {{'This field is required' | translate}}
                                </div>
                            </div>
                            <div class="form-group pull-left ml5">
                                <button type="submit" class="btn btn-primary f14 next-btn">Search</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="m20 clearfix mb0" >
            <table class="table sector-limits-table" ng-if="sectorLimitsList.sectors.length">
                <thead>
                <tr>
                    <th style="vertical-align:middle;text-align:center;padding:0px;width: 20%;">Sector</th>
                    <th style="padding: 0px;">
                        <table width="100%">
                            <thead>
                            <tr>
                                <th width="20%" style="text-align: center;">Sub-sector</th>
                                <th width="20%">Number of Facilities</th>
                                <th width="20%">Total Outstanding (millions USD)</th>
                                <th width="20%">Share of Total (in %)</th>
                                <th width="20%">Limits</th>
                              <!--  <th width="20%">
                                    <span class="display-block text-center">Unfunded Commitment</span>
                                    <span class="header-span">Amount</span>
                                    <span class="header-span">New % Limit</span>
                                </th>-->
                            </tr>
                            </thead>
                        </table>
                    </th>
                </tr>
                </thead>
                <tbody class="clearfix">
                <tr ng-repeat="row in sectorLimitsList.sectors">
                    <td class="td-leftside" style="padding: 0px;">{{$index+1}}.0 {{row.sector_name}}</td>
                    <td class="td-rightside" style="padding: 0px !important;">
                        <table width="100%" class="table table-rightside m0 border-none">
                            <tbody>
                            <tr ng-repeat="subRow in row.sub_sectors" >
                                <td width="20%" class="">
                                        <span class="display-block">
                                             <span>{{$parent.$index+1}}.{{$index+1}}</span>
                                            <span>{{subRow.sector_name}}</span>
                                        </span>
                                </td>
                                <td width="20%" class="">
                                    <span graph-class="{{subRow.transactions_compare}}"></span>
                                    <span class="body-span">{{subRow.transactions}}</span>
                                </td>
                                <td width="20%" class="">
                                    <span graph-class="{{subRow.amount_compare}}"></span>
                                    <span class="body-span">{{subRow.amount | toBillion | currency:'' }}</span>

                                </td>
                                <td width="20%" class="">
                                    <span class="display-block text-right" ng-if="subRow.amount != null">{{((subRow.amount/sectorLimitsList.sector_limits_total.total_amount)*100).toFixed(2)}}</span>
                                    <span class="display-block text-right" ng-if="subRow.amount == null">{{'0.00'}}</span>
                                </td>
                                <td width="20%" class=""><span class="display-block text-right">{{subRow.limit_value | currency:''}}%</span></td>
                               <!-- <td width="20%" class="">
                                    <span class="body-span">0.00</span>
                                    <span class="body-span">
                                    <p  ng-if="subRow.amount != null">{{((subRow.amount/sectorLimitsList.sector_limits_total.total_amount)*100).toFixed(2)}}</p>
                                    <p  ng-if="subRow.amount == null">{{'0.00'}}</p>
                                    </span>
                                </td>-->
                            </tr>
                            <tr ng-if="row.sub_sectors.length < 1" >
                                <td width="20%" class="">
                                        <span class="display-block">
                                             <span>{{$index+1}}.1</span>
                                            <span>{{row.sector_name}}</span>
                                        </span>
                                </td>
                                <td width="20%" class="">
                                    <span graph-class="{{row.transactions_compare}}"></span>
                                    <span class="body-span">{{row.transactions}}</span>
                                </td>
                                <td width="20%" class="">
                                    <span graph-class="{{row.amount_compare}}"></span>
                                    <span class="body-span">{{row.amount | toBillion | currency:'' }}</span>

                                </td>
                                <td width="20%" class="">
                                    <span class="display-block text-right">{{((row.amount/sectorLimitsList.sector_limits_total.total_amount)*100).toFixed(2) }}</span>
                                </td>
                                <td width="20%" class=""><span class="display-block text-right">{{row.limit_value | currency:''}}%</span></td>
                                <!--<td width="20%" class="">
                                    <span class="body-span">0.00</span>
                                     <span class="body-span">
                                    <p  ng-if="row.amount != null">{{((row.amount/sectorLimitsList.sector_limits_total.total_amount)*100).toFixed(2)}}</p>
                                    <p  ng-if="row.amount == null">{{'0.00'}}</p>
                                    </span>
                                </td>-->
                            </tr>
                            </tbody>
                            <!--<tfoot>
                            <tr ng-if="$index+1 == sectorLimitsList.sectors.length ">
                                <td></td>
                                <td>
                                    <span class="display-block">
                                        <span graph-class="{{sectorLimitsList.sector_limits_total.total_amount_compare}}"></span>
                                        <span class="display-block">{{sectorLimitsList.sector_limits_total.total_transactions | currency:''}}</span>
                                    </span>
                                </td>
                                <td>
                                    <span class="display-block">
                                        <span graph-class="{{sectorLimitsList.sector_limits_total.total_transactions_compare}}"></span>
                                        <span class="display-block">{{sectorLimitsList.sector_limits_total.total_amount | toBillion | currency:''}}</span>
                                    </span>
                                </td>
                                <td ></td>
                                <td ></td>
                                <td></td>
                            </tr>
                            </tfoot>-->
                        </table>
                    </td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td class="td-leftside foot-total">Total</td>
                    <td class="td-rightside foot-total dark-blue" style="padding: 0px !important;">
                        <table width="100%" class="table table-rightside m0 border-none">
                            <tbody>
                            <tr>
                                <td width="20%" class="">
                                    <span class="display-block"></span>
                                </td>
                                <td width="20%" class="">
                                    <span graph-class="{{sectorLimitsList.sector_limits_total.total_transactions_compare}}"></span>
                                    <span class="display-block body-span">{{sectorLimitsList.sector_limits_total.total_transactions | currency:''}}</span>
                                </td>
                                <td width="20%" class="">
                                    <span graph-class="{{sectorLimitsList.sector_limits_total.total_amount_compare}}"></span>
                                    <span class="display-block body-span">{{sectorLimitsList.sector_limits_total.total_amount | toBillion | currency:''}}</span>

                                </td>
                                <td width="20%" class="">
                                </td>
                                <td width="20%" class="">
                                </td>
                               <!-- <td width="20%" class="">
                                </td>-->
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>