<h3 class="fixed content-heading">Summary Reports
    <!--<div class="pull-right button-set">
        <a ui-sref="project.project-list({id:(currentProjectViewId | encode )})" uib-tooltip="Back"><i class="fa fa-close-sm"></i></a>
    </div>-->
</h3>

<div class="content-area animated fadeInRight" id="contentArea">
    <div class="content-container clearfix" >
        <div class="m20 clearfix mb0">
            <div class="col-sm-12 white-bg">
                <h3 class="text-capitalize darkcolor ptb10 pull-left f14 bold">Summary</h3>
                <div class="pull-right mt4">
                    <div class="form-inline rep-select-month">
                        <div class="form-group">
                            <label class="label darkcolor">Analysis Month</label>
                            <select class="form-control" ng-change="analysis_date != '' && analysisDate(analysis_date)"
                                    ng-options="month.analysis_date as month.analysis_month for month in allMonths"
                                    name="analysis_month"
                                    ng-model="analysis_date">
                                <option value="">--Select--</option>
                            </select></div>
                    </div>
                </div>
            </div>
        </div>
        <div ng-if="compleateLoad" >  <!--ng-if="compairMonthData"-->
            <div class="m20 mt15 mb0 clearfix">
                <div class="col-sm-12 p0">
                    <div class="col-sm-12 clearfix p0 white-bg">
                        <div class="table-fullwidth-scroll" cols-horizontal><!--    cols-horizontal-->
                            <table  class="f13 master-table table table-bordered" cellpadding="0" cellspacing="0">
                                <tr>
                                    <td>
                                        <table width="100%" class="table-main-header table-bordered" cellpadding="0" cellspacing="0">
                                            <thead>
                                            <tr>
                                                <th>Outstanding Portfolio</th>
                                                <th ng-repeat="head in analysis_head">{{head.year| date:'MMM y'}}</th>
                                                <th>
                                                    <div class="form-inline rep-select-month">
                                                        <div class="form-group">
                                                            <label class="label darkcolor">Comparison Month</label>
                                                            <select class="form-control mr4" ng-change="newRecordInsert(compare_month)"
                                                                    ng-options="month.analysis_date as month.analysis_month for month in allMonths"
                                                                    name="analysis_month"
                                                                    ng-model="compare_month">
                                                                <option value="">--Select--</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </th>
                                            </tr>
                                            </thead>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="table-inner-one">
                                        <table class="table-bordered f13" width="100%" cellpadding="0" cellspacing="0">
                                            <thead>
                                            <tr>
                                                <!--<th>Outstanding Portfolio</th>-->
                                                <th>Outstanding Portfolio (In millions USD)</th>
                                                <th ng-repeat="total in compairMonthData.total"><span>Portfolio share (100%)</span><span>{{total.total | toBillion | currency:''  }}</span></th>
                                                <th></th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr ng-repeat="compairMonth in compairMonthData.head">
                                                <td ng-class="{'sub-category': compairMonth.is_sub == true}">{{compairMonth.product_name}}</td>
                                                <td ng-repeat="value in compairMonth.amount">
                                                        <span class="{{value.graph}}" ng-if="$index==0 && value.graph"></span>
                                                    <span>{{value.percentage}}%</span>
                                                    <span>{{value.amount | toBillion | currency:''}}</span>
                                                </td>
                                                <td></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="table-inner-one">
                                        <table class="table-bordered f13" width="100%" cellpadding="0" cellspacing="0">
                                            <thead>
                                            <tr>
                                                <th>Number of Clients</th>
                                                <th ng-repeat="total in clientCompairMonthData.total"><span>{{total.total}}</span></th>
                                                <th></th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr ng-repeat="compairMonth in clientCompairMonthData.head">
                                                <td ng-class="{'sub-category': compairMonth.is_sub == true}">{{compairMonth.product_name}}</td>
                                                <td ng-repeat="value in compairMonth.amount">
                                                    <span class="{{value.graph}}" ng-if="$index==0 && value.graph"></span>
                                                    <span>{{value.percentage}}%</span>
                                                    <span>{{value.amount}}</span>
                                                </td>
                                                <td></td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 p0 mt15">
                    <div class="col-sm-6 pl0"  >
                        <h3 class="grey-bg f14 p10 bold darkcolor">Portfolio by Country</h3>
                        <div class="col-sm-12 clearfix p0" style="text-align:center" ng-if="portfolio_by_country.length">
                            <div  reports-portfolio-by-country="{{portfolio_by_country}}" style="width: 100%;height: 210px;">Placeholder for chart</div>
                        </div>
                    </div>
                    <div class="col-sm-6 p0"  >
                        <h3 class="grey-bg f14 p10 bold darkcolor">Portfolio by Product</h3>
                        <div class="col-sm-12 clearfix p0" style="text-align:center" ng-if="portfolio_by_procuct.length" >
                            <div reports-portfolio-by-country="{{portfolio_by_procuct}}" style="width: 100%;height: 210px;">Placeholder for chart</div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 p0 mt15">
                    <div class="col-sm-6 pl0"  >
                        <h3 class="grey-bg f14 p10 bold darkcolor">Portfolio by Currency</h3>
                        <div class="col-sm-12 clearfix p0" style="text-align:center" ng-if="portfolio_by_currency.length">
                            <div reports-portfolio-by-country="{{portfolio_by_currency}}" style="width: 100%;height: 210px;">Placeholder for chart</div>
                        </div>
                    </div>
                    <div class="col-sm-6 p0"  >
                        <h3 class="grey-bg f14 p10 bold darkcolor">Portfolio by Sector</h3>
                        <div class="col-sm-12 clearfix p0" style="text-align:center" ng-if="portfolio_by_sector.length" >
                            <div reports-portfolio-by-country="{{portfolio_by_sector}}" style="width: 100%;height: 210px;">Placeholder for chart</div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 p0 mt15">
                    <div class="col-sm-6 pl0"  >
                        <h3 class="grey-bg f14 p10 bold darkcolor">Portfolio by ES Grade</h3>
                        <div class="col-sm-12 clearfix p0" style="text-align:center" ng-if="portfolio_by_es_grade.length">
                            <div reports-portfolio-by-country="{{portfolio_by_es_grade}}" style="width: 100%;height: 210px;">Placeholder for chart</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



