<h3 class="fixed content-heading">Value at Risk</h3>

<div class="content-area animated fadeInRight" id="contentArea">
    <div class="content-container clearfix">
        <div class="m20 clearfix mb0">
            <div class="col-sm-12 white-bg">
                <h3 class="text-capitalize darkcolor ptb10 pull-left f14 bold">Analysis</h3>
                <div class="pull-right mt4">
                    <form editable-form name="form" class="form-horizontal form-bordered" novalidate
                          ng-submit="form.$valid && submitForm(data)">
                        <div class="form-inline rep-select-month">
                            <div class="form-group pull-left">
                                <label class="label darkcolor">Country</label>
                                <select class="form-control"
                                        ng-options="country.id_country as country.country_name for country in allCountries"
                                        name="country_id"
                                        ng-model="data.country_id">
                                    <option value="">--All--</option>
                                </select>
                            </div>
                            <!--<div class="form-group pull-left">
                                <label class="label darkcolor">Status</label>
                                <select class="form-control"
                                        ng-options="status.status as status.name for status in outStandingStatus"
                                        name="outstanding_status"
                                        ng-model="data.outstanding_status">
                                    <option value="">&#45;&#45;All&#45;&#45;</option>
                                </select>
                            </div>-->
                            <div class="form-group pull-left">
                                <label class="label darkcolor">Analysis Month</label>
                                <select class="form-control" ng-change="analysisDate(data)"
                                        ng-options="month.analysis_date as month.analysis_month for month in allMonths"
                                        name="analysis_month"
                                        ng-model="data.analysis_date" required>
                                    <option value="">--Select--</option>
                                </select>
                                <div ng-if="form.analysis_month.$error.required && form.$submitted"
                                     class="error-message text-right">
                                    {{'This field is required' | translate}}
                                </div>
                            </div>
                            <div class="form-group pull-left ml5">
                                <button type="submit" class="btn btn-primary f14 next-btn">Search</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-sm-12 p0 mt15 clearfix clearboth">


            <div class="legend-block-view col-sm-12 p10 pt10 hierarchical_show" hierarchical-show
                 ng-if="outstandingBorrowersList.data.length>0">
                <div class="col-sm-2">
                    <div class="legend-block-new blue-bg-new">
                        <h3 class="text-capitalize f14 bold">{{'Loan Portfolio' | translate}}</h3>
                        <div class="legend-label ">
                            <table>
                                <tr>
                                    <td style="text-align: center;">
                                        {{outstandingBorrowersList.facilities_total.loan_portfolio.toFixed(2)
                                        |currency}}
                                    </td>
                                </tr>
                            </table>

                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="legend-block-new choc-bg">
                        <h3 class="text-capitalize f14 bold">{{'Expected Loss in %' | translate}}</h3>
                        <div class="legend-label">
                            <table>
                                <tr>
                                    <td style="text-align: center;">
                                        {{outstandingBorrowersList.facilities_total.expected_loss_in_percentage.toFixed(2)}}
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="legend-block-new green-bg-new">
                        <h3 class="text-capitalize f14 bold">{{'Expected Loss in USD' | translate}}</h3>
                        <div class="legend-label">
                            <table>
                                <tr>
                                    <td style="text-align: center;">
                                        {{outstandingBorrowersList.facilities_total.expected_loss_in_usd.toFixed(2)
                                        |currency}}
                                    </td>
                                </tr>
                            </table>

                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="legend-block-new orange-bg-new">
                        <h3 class="text-capitalize f14 bold">{{'Unexpected Loss Scaled ' | translate}}</h3>
                        <div class="legend-label">
                            <table>
                                <tr>
                                    <td style="text-align: center;">
                                        {{outstandingBorrowersList.facilities_total.unexpected_loss_scaled.toFixed(2)
                                        |currency}}
                                    </td>
                                </tr>
                            </table>

                        </div>
                    </div>
                </div>
                <div class="col-sm-3">
                    <div class="legend-block-new choc-bg">
                        <h3 class="text-capitalize f14 bold">{{'Total Capital Requirements Scaled ' | translate}}</h3>
                        <div class="legend-label">
                            <table>
                                <tr>
                                    <td style="text-align: center;">
                                        {{outstandingBorrowersList.facilities_total.capital_requirements_scaled.toFixed(2)|currency}}
                                    </td>
                                </tr>

                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="table-wrapper no-bg pt0 overflow-hidden plr20">
                <table class="table-list-view p-table table table-style mb0 table-striped"
                       st-pipe="getOutstandingBorrowersList" st-table>
                    <thead class="hierarchical_slide" hierarchical-slide>
                    <tr ng-if="outstandingBorrowersList.data.length>0">
                        <th></th>
                        <th>Contract ID</th>
                        <th>PD</th>
                        <th class="text-right">
                            <div>Loan Portfolio</div>
                        </th>
                        <th class="text-right">Expected Loss in %</th>
                        <th class="text-right">Expected Loss in USD</th>
                        <th class="text-right">Unexpected Loss Scaled</th>
                        <th class="text-right">Total Capital Requirements Scaled</th>
                    </tr>
                    </thead>

                    <tbody class="hierarchical_slide" ng-show="outstandingBorrowersList.data.length>0"
                           hierarchical-slide>
                    <tr class="cursor-default" ng-repeat="row in outstandingBorrowersList.data">
                        <td></td>
                        <td>
                            <span class="font-lato f13 darkcolor display-block">{{row.contract_id}} </span></td>
                        <td>
                            <span class="font-lato f13 darkcolor display-block text-right">{{row.pd}} </span>
                        </td>
                        <td>
                            <span class="font-lato f13 darkcolor display-block text-right">{{row.loan_portfolio |currency}} </span>
                        </td>
                        <td>
                            <span class="font-lato f13 darkcolor display-block text-right"> {{row.expected_loss_in_percentage.toFixed(2)}}% </span>
                        </td>
                        <td class="text-right">
                            <!--<span class="font-lato f13 darkcolor display-block">{{row.amount | toBillion | currency:''}}</span>-->
                            <span class="font-lato f13 darkcolor display-block text-right">{{row.expected_loss_in_usd.toFixed(2) |currency}}</span>
                        </td>
                        <td class="text-right">
                            <!--<span class="font-lato f13 darkcolor display-block">{{((row.amount/totalOutstandingBorrowersAmount)*100).toFixed(2)}}%</span>-->
                            <span class="font-lato f13 darkcolor display-block text-right">{{row.unexpected_loss_scaled.toFixed(2) |currency}}</span>
                        </td>
                        <td class="text-right">
                            <span class="font-lato f13 darkcolor display-block text-right">{{row.total_capital_requirement_scaled.toFixed(2) |currency}}</span>
                        </td>
                    </tr>
                    </tbody>
                    <tbody class="hierarchical_slide" ng-show="outstandingBorrowersList.data.length<=0"
                           hierarchical-slide>
                    <tr class="cursor-pointer">
                        <td class="text-center" colspan="7">No data found</td>
                    </tr>
                    </tbody>
                    <tfoot ng-show="outstandingBorrowersList.data.length">
                    <tr>
                        <td colspan="7" class="text-center">
                            <div st-items-by-page="10" st-pagination=""
                                 st-template="partials/list-pagination.custom.html" class="pull-right"></div>
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>