<div class="right-modal modal-custom" data-modal="createMeeting">
    <h3 class="right-modal-head darkcolor f16 clearfix">
        Create Meeting:
        <span class="darkblue f16">Committee </span>
        <a ng-click="cancel()" class="close-right pull-right" uib-tooltip="Close"><img src="images/close.png"></a>
    </h3>
    <div class="container pb5">
        <div class="col-sm-12 p0 mt5">
            <div class="form-group  mb5 clearfix">
                <div class="col-sm-2 p-l-0">
                    <label class="darkcolor bold f14">Manager:  </label>
                </div>
                <div class="col-sm-10 mt5">
                    <p class="darkblue f12">Willium More</p>
                </div>
            </div>
            <div class="form-group mb5 clearfix">
                <div class="col-sm-2 p-l-0">
                    <label class="darkcolor bold f14">Team:  </label>
                </div>
                <div class="col-sm-10 mt5">
                    <p class="darkblue f12">Willium More, John Smith, Fred Toon <a href="javascript:;" uib-tooltip="Add" class="ml5 darkblue" ng-click="addTeam=!addTeam"> <i class="icon-plus-circle darkcolor f16"></i></a> </p>
                    <div ng-show="addTeam">
                        <div class="col-sm-6 p0">
                            <input type="text" class="form-control">
                        </div>
                        <div class="col-sm-2 pl5 pr0 pt5">
                            <a href="javascript:;" class="f18 mr4"><i class="icon-right-circle green"></i> </a>
                            <a href="javascript:;" ng-click="addTeam=!addTeam" class="f18"><i class=" icon-times-square red"></i> </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group mb5 clearfix">
                <div class="col-sm-2 p-l-0">
                    <label class="darkcolor bold f14">Venue:  </label>
                </div>
                <div class="col-sm-10 mt5">
                    <textarea class="height50 f12 width-full darkcolor p10"></textarea>
                </div>
            </div>
            <div class="form-group mb5 clearfix">
                <div class="col-sm-2 p-l-0">
                    <label class="darkcolor bold f14">Date/Time:  </label>
                </div>
                <div class="col-sm-4 mt5">
                    <input type="text" class="form-control f12 darkcolor" placeholder="DD/MM/YYYY">
                </div>
                <div class="col-sm-3 mt5">
                    <select class="form-control">
                        <option>HH:MM</option>
                        <option>01:00</option>
                    </select>
                </div>
            </div>
            <div class="form-group mb5 clearfix">
                <div class="col-sm-2 p-l-0">
                    <label class="darkcolor bold f14">Agenda:  </label>
                </div>
                <div class="col-sm-10 mt5">
                    <textarea class="height50 f12 width-full darkcolor p10"></textarea>
                </div>
            </div>
            <div class="form-group mb5 clearfix">
                <div class="col-sm-2 p-l-0">

                </div>
                <div class="col-sm-10 mt5">
                    <button class="btn f12 btn-dark mr4">Create</button>
                    <button class="btn lt-bg f12 white-color" ng-click="cancel()">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>
