<h3 class="fixed content-heading">Meetings</h3>

<div class="content-area animated fadeInRight" id="contentArea">
    <div class="content-container clearfix">
        <div class="col-sm-12 p0 mt20 clearfix clearboth">
            <div class="table-wrapper no-bg pt0 overflow-hidden plr20">
                <table class="table-list-view table c-table table-hover table-style" st-pipe="getMeetingList" st-table>
                    <thead>
                    <tr>
                        <td colspan="7" class="pad0 border-bottom header-list-div">
                            <div class="col-sm-6 p0">
                                <div class="client-list-num">
                                        <span class="border-radius50 pull-left client-list-icon mr10">
                                            <i class="icon-all"></i></span>
                                    <span class=" display-block f12"> All Meeting</span>
                                    <span class=" darkcolor display-block f12 lh12 bold">{{all_meatings_count}}</span>
                                </div>
                            </div>
                            <div class="col-sm-6 p0 mt5">
                                <div class="action-head mb0">
                                    <div class="table-search pull-left width-full">
                                        <input type="text" class="form-control" placeholder="Search...."
                                               st-search="search_key">
                                        <i class="fa icon-search"></i>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th>Meeting</th>
                        <th>Info</th>
                        <th>Created By</th>
                        <th>Status</th>
                        <th>Action</th>
                    </tr>
                    </thead>

                    <tbody class="hierarchical_slide" ng-show="meetingList.length>0" hierarchical-slide>
                    <tr class="cursor-pointer"  ng-repeat="row in meetingList">
                        <td>
                            <span class="label-text p0 display-block" title="{{row.meeting_name}}">{{row.meeting_name}} </span>
                            <span class="font-lato f13 darkcolor display-block">{{row.where | checkEmpty }}</span>
                        </td>
                        <td>
                            <span class="label-text display-block">{{row.when | utcToLocal:'date' }} </span>
                            <span class="font-lato f13 darkcolor display-block" >{{row.from_time }}</span>
                        </td>
                        <td>
                            <span class="label-text display-block">{{row.username}}</span>
                            <span class="font-lato f13 darkcolor display-block" >{{row.legal_name}}</span>
                        </td>
                        <td>
                            <span class="label-text display-block">{{row.meeting_status}}</span>
                        </td>
                        <td>
                            <a href="javascript:;" uib-tooltip="View" class="fa fa-eye" ng-click="preview({'id_meeting':row.id_meeting,'reference_type':row.reference_type})"></a>
                        </td>
                    </tr>
                    </tbody>
                    <tfoot ng-show="meetingList.lenth">
                    <tr>
                        <td colspan="6" class="text-center">
                            <div st-items-by-page="10" st-pagination="" st-template="partials/list-pagination.custom.html" class="pull-right"></div>
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>







