<div class="right-modal modal-custom">
    <h3 class="right-modal-head clearfix">
        <div class="col-sm-6 p-l-0 mt5">
            <i class="fa fa-meeting-icon mr4"></i> Meeting
        </div>

        <a ng-click="cancel()" class="close-right pull-right mt5" uib-tooltip="Close"
           n-t='{"e_n":"Close Meeting modal","e_d":""}'><img src="images/close.png"></a>
    </h3>
    <div class="container p0" >
        <form class="form-horizontal form-bordered" name="mForm" novalidate>
            <div class="clearfix tasks-list mt20">
                <div class="col-sm-12 p0 mb15">
                    <div class="form-group col-sm-6">
                        <span class="font-lato f13 darkcolor display-block lh12">Title:</span>
                        <label class="control-label">{{meeting.meeting_name}}</label>
                    </div>
                    <div class="form-group col-sm-6">
                        <span class="font-lato f13 darkcolor display-block lh12">Where:</span>
                        <label class="control-label">{{meeting.where}}</label>
                    </div>
                    <div class="form-group col-sm-6">
                        <span class="font-lato f13 darkcolor display-block lh12">When:</span>
                        <label class="control-label">{{meeting.when}}</label>
                    </div>
                    <div class="form-group col-sm-6 clearfix">
                        <div class="col-sm-6 p-l-0">
                            <span class="font-lato f13 darkcolor display-block lh12">Start Time:</span>
                            <label class="f12 control-label mt4">{{meeting.from_time}}</label>
                        </div>
                        <div class="col-sm-6 p-r-0">
                            <span class="font-lato f13 darkcolor display-block lh12">End Time:</span>
                            <label class="f12 control-label mt4">{{meeting.to_time}}</label>
                        </div>
                    </div>
                    <div class="form-group col-sm-12" >
                        <span class="font-lato f13 darkcolor display-block lh12">Meeting Agenda:</span>
                        <label class="control-label">{{meeting.agenda}}</label>
                    </div>
                    <div class="form-group col-sm-12 clearfix">
                        <span class="font-lato f13 darkcolor display-block lh12">Invite Guest:</span>
                        <label class="control-label">{{meeting.invitation_user_name}}</label>
                    </div>
                    <div class="form-group col-sm-12 clearfix" ng-if="meeting.attachment.length">
                        <label class="control-label">Guests:</label>
                        <div class="width-full">
                            <tags-input ng-readonly="true" ng-model="meeting.guest" placeholder="Add Email" type="email"></tags-input>
                        </div>
                    </div>
                    <ul>
                        <li>
                            <div class="form-input file-attachments">
                                <ul class="scroll-area list-items">
                                    <li class="clearfix border-bottom" uploadedDocuments ng-repeat="files in meeting.attachment">
                                        <div class="col-sm-1" upload-file data-fileType="{{ files.document_mime_type }}">
                                            <i class=""></i></div>
                                        <div class="col-sm-10">
                                            <p class="f12 text-line" title="{{files.document_name}}">
                                                {{files.document_name}}</p>
                                            <span class="display-block f11" ng-bind="files.date | date:'mediumDate'"></span>
                                        </div>
                                        <div class="col-sm-1 text-center">
                                            <div class="relative">
                                                <i class="fa fa-download mr8"></i>
                                                <a href="{{ files.full_path }}" class="icon-link" download/>  </a>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </form>
    </div>
</div>
