<div class="right-modal modal-custom" data-modal="addedcompanies">
    <h3 class="right-modal-head">
        <i class="fa fa-companies"></i> {{'Companies' | translate}}
        <a class="close-right pull-right" ng-click="cancel()" uib-tooltip="Close"
           n-t='{"e_n":"Close Company Modal","e_d":"Client - {{cInfo.first_name}} {{cInfo.last_name }}"}'><img src="images/close.png"></a>
    </h3>

    <form class="form-horizontal form-bordered" name="form" novalidate>
        <div class="clearfix">
            <div class="col-sm-12 p0 attachment-list">
                <div class="p15 bg-box" ng-if="permission.companies_add">
                    <div class="mapping-search">
                        <input class="form-control" style="padding: 8px;"
                               placeholder="Search Companies"
                               type="text" ng-model="asyncSelected"
                               typeahead-on-select="onSelect($item, $model, $label)"
                               uib-typeahead="contacts as contacts.company_name for contacts in getCompanyList($viewValue)"
                               typeahead-template-url="companyListTemplate.html"
                               typeahead-loading="loadingContacts"
                               typeahead-no-results="noResults">
                        <i class="fa  fa-search icon-search f16 pt2 darkblue"></i>
                        <a data-ng-click="addCompany()" data-ng-show="visibleAddButton" class="go"><i
                                class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <div class="col-sm-12 mb10 bg-box" data-ng-if="visibleDesignationDropDown">
                    <div class="col-sm-6 p-l-0">
                        <div class="col-sm-2 p0 text-img">
                            <span first-alpha="{{selectedItem.company_name}}"></span>
                        </div>
                        <div class="col-sm-10 p-l-0">
                            <p class="f14 bold p-l-0">{{'company.company_company_name' | translate}}</p>
                            <a class="display-block p-l-0 f12 sky-blue" href="mailto:{{ selectedItem.email }}">{{selectedItem.email }}</a>
                            <div class="col-sm-12 p-l-0 mb0 form-group clearfix form-group-custom">
                                <input type="checkbox" class="mr4" name="is_primary_company" ng-model="designationForm.is_primary_company">
                                <label class="display-inline-block valign-top">{{'company.company_is_primary' | translate}}</label>
                            </div>
                        </div>

                    </div>
                    <div class="col-sm-6  p-r-0">
                        <div id="designation"><label class="label-text">{{'Designation' | translate}}*</label>
                            <div class="form-group clearfix form-group-custom">
                                <select class="form-control" name="designation_name"
                                        ng-init="getCompanyDesignations('contact_to_company')"
                                        ng-model="designationForm.id_child"
                                        ng-options="item.id_child as item.child_name for item in companyDesignations"
                                        required>
                                    <option value="">--{{'contact.contact_select_designation' | translate}}--</option>
                                </select>
                                <div ng-if="form.designation_name.$error.required && submitStatus" class="error-message">{{'Select Designation' | translate}}.</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12  text-center mt10">
                        <button class="btn btn-primary border-none btn-dark f12 mr4"
                                ng-click="save(designationForm,form)"> <i class="fa fa-plus-circle"></i> {{'Add' | translate}}</button>
                        <button class="btn btn-primary f12 border-none lt-bg" ng-click="cancelAssign()">{{'Cancel' | translate}}</button>
                    </div>
                </div>
                <div class="list-header col-sm-12 mt15 clearfix pb5">
                    <h4 class="text-capitalize dark-blue f14">{{'company.company_assigned_companies' | translate}}</h4>
                </div>
                <div class="list-table col-sm-12 companies-list">
                    <ul class="list-items">
                        <li class="clearfix border mb3" ng-repeat="row in selectedCompanyListData">
                            <a target="_blank" ui-sref="company.company-creation({id:(row.id_crm_company | encode)})">
                            <div class="col-sm-1 text-img">
                                    <span first-alpha="{{row.company_name}}"></span>
                            </div>
                            </a>
                            <div class="col-sm-1 text-center"><span ng-if="row.is_primary_company==1"><i class="fa fa-star red"></i></span></div>
                            <div class="col-sm-3">
                                <p class="f14"><a class="darkcolor" target="_blank" ui-sref="company.company-creation({id:(row.id_crm_company | encode)})">{{ row.company_name }}</a></p>
                                <a class="display-block text-line f12 sky-blue" title="{{row.email}}">{{row.email}}</a>
                            </div>
                            <div class="col-sm-3 text-center">
                                <p class="f12 gray">{{ row.phone_number }} </p>
                            </div>
                            <div class="col-sm-2 map-chart text-center">
                                <span class="chart" easypiechart percent="row.percentage" options="anotherOptions">
                                    <span class="percent" ng-bind="row.percentage"></span>
                                </span>
                            </div>
                            <a ng-if="permission.companies_add" href="javascript:;" class="pull-right mr15 mt15" uib-tooltip="Delete"
                               ng-click="removeContactCompany(row.id_crm_company_contact)"><img class="h13" src="images/close.png"> </a>

                        </li>
                    </ul>
                    <div class="text-center f12" ng-if="selectedCompanyListData.length == 0">
                        {{'company.company_no_companies_found' | translate}}
                    </div>
                </div>

            </div>
        </div>
    </form>
</div>


<script type="text/ng-template" id="companyListTemplate.html">
    <a>
        <div class="list-item p5 clearfix">
            <div class="list-desc col-sm-8">
                <p class="list-item-title blue">{{match.model.company_name}}</p>
            </div>
        </div>
    </a>
</script>