<h3 class="fixed content-heading">
    <ul class="breadcrumb">
        <li><a ui-sref="contact.contact-dashboard">{{'Contact' | translate}}</a> </li>
        <li>{{cInfo.first_name}} {{cInfo.last_name }}</li>
    </ul>
    <div class="pull-right button-set">
        <!--      <a ng-if="permission.touchpoints_view || permission.touchpoints_add"  uib-tooltip="Touchpoints" modal="touchpoints" ng-click="touchpointsModal()"><i class="fa fa-touchpoint"></i>
              </a>-->
        <!--  <a ng-if="permission.companies_view || permission.companies_add" uib-tooltip="Companies" modal="addedcompanies"
             n-t='{"e_n":"Add Company Breadcrumbs","e_d":""}'
             ng-click="AddedCompaniesModal()"><i class="fa fa-company"></i>
          </a>
          <a ng-if="permission.attachements_view || permission.attachements_add" uib-tooltip="Attachments"
             n-t='{"e_n":"Attachement - Breadcrumb","e_d":""}'
             modal="attachment" ng-click="quickAttachmentModal()"><i
                  class="fa fa-paperclip"></i>
          </a>
          <a uib-tooltip="Tasks"
             n-t='{"e_n":"Add Task","e_d":""}' task
             ng-click="addTasksModal({'module_type':'contact','module_id':currentContactViewId,'module_reference_type':'contact','module_reference_id':currentContactViewId})"><i
                  class="fa fa-tasks"></i>
          </a>-->
        <a ui-sref="contact.contact-dashboard" uib-tooltip="Back"
           n-t='{"e_n":"Back to contact list","e_d":"Client - {{cInfo.first_name}} {{cInfo.last_name }}"}'><i class="fa fa-close-sm"></i></a>

    </div>
</h3>


<div id="contentArea" class="content-area animated fadeInRight">
    <div class="content-container common-margin-container clearfix light-blue-bg relative"
         data-ng-init="isEdit = false">
        <div class="col-sm-8 col-lg-8 pl0 pr50">
            <div class="page-header-wrap m0 mb0 min-height-auto box-shadow white-bg clearfix">
                <div class="col-sm-12 p0">
                    <div ng-include="'partials/crm/contact/contact-header.html'" ng-init="getContactInfo()"></div>
                </div>
            </div>
            <div class="page-view-wrap clearfix">
                <div class="col-sm-12 p0 pb15">
                    <div class="border-pattern clearfix"></div>
                    <div class="list-view-str">

                        <ul>
                            <li ng-init="sectionIndex=$index" ng-repeat="section in contactForms ">
                                <div class="list-str">
                                    <h4 class="f14 bold text-capitalize dark-blue pt10 pb10">
                                        {{section.section_name}}</h4>
                                    <!--<div class="list-data white-bg p10" ng-repeat="form in section.form" ng-click="goToEditCtrl('keyData',form.id_form,form.form_template)">-->
                                    <any ng-repeat="form in section.forms | filter:searchText">

                                        <div class="list-data white-bg p10"
                                             ng-if="permission[form.form_key+'_view']"
                                             n-t='{"e_n":"Client {{form.form_name}}","e_d":"{{form.form_name}}, Client - {{cInfo.first_name}} {{cInfo.last_name }}"}'
                                             ng-click="goToEditCtrl(form,section.section_name)">
                                            <div class="list-img pull-left dark-blue"
                                                 ng-class="(form.status==1)?'box-active':''">
                                                <i class="fa {{form.form_class}} "></i>
                                            </div>
                                            <div ng-if="sectionIndex==0 && $index==0"
                                                 ng-init="loadTemplate(form, section.id_section)"></div>
                                            <div class="list-text overflow-hidden">
                                                <h5 class="f14 darkcolor">{{form.form_name}}</h5>
                                                <span class="f11 ash text-line display-block">{{form.updated_by}} - {{form.updated_date_time | utcToLocal:'date'}}</span>

                                            </div>
                                        </div>

                                        <div class="list-data white-bg p10 disabled"
                                             ng-if="!permission[form.form_key+'_view']">
                                            <div class="list-img pull-left dark-blue"
                                                 ng-class="(form.status==1)?'box-active':''">
                                                <i class="fa {{form.form_class}} "></i>
                                            </div>
                                            <div ng-if="sectionIndex==0 && $index==0"
                                                 ng-init="loadTemplate(form, section.id_section)"></div>
                                            <div class="list-text overflow-hidden">
                                                <h5 class="f14 darkcolor">{{form.form_name}}</h5>
                                                <span class="f11 ash text-line display-block">{{form.updated_by}} - {{form.updated_date_time | utcToLocal:'date'}}</span>

                                            </div>
                                        </div>
                                    </any>
                                </div>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-sm-4 col-lg-4 pl35 pr0 fixed-wrapper-new right-section-wrapper"
     ng-if="permission.touchpoints_view">
    <div class="right-section white-bg box-shadow">
        <div class="t-tabs tabs-wrap">
            <uib-tabset justified="true">
                <uib-tab uib-tooltip="Touch Point">
                    <uib-tab-heading>
                        <i class="icon-touchpoints" aria-hidden="true"></i>
                    </uib-tab-heading>
                    <touch-point-view ng-if="$parent.tabs[0].active" module-type="contact"
                                      module-id="{{currentContactViewId}}"></touch-point-view>
                </uib-tab>
                <uib-tab uib-tooltip="Meeting">
                    <uib-tab-heading>
                        <i class="icon-meeting2"></i>
                    </uib-tab-heading>
                    <meeting-list ng-if="$parent.tabs[1].active"
                                  get-data="{'module_type':'contact','module_id':currentContactViewId,'reference_type':'contact','reference_id':currentContactViewId}"
                                  reload="meetingReload"></meeting-list>
                </uib-tab>
                <!-- <uib-tab heading="{{'Meeting' | translate}}">
                     <a href="javascript:;" class="pull-right mr15 f20" meeting ng-click="createMeeting({'module_type':'contact','module_id':currentContactViewId,'reference_type':'contact','reference_id':currentContactViewId})"
                        n-t='{"e_n":"Project - Add meeting modal","e_d":""}' uib-tooltip="Create Meeting">
                         <i class="icon-plus-circle"></i>
                     </a>
                    <meeting-list data-params="{'module_type':'contact','module_id':'{{currentContactViewId}}','reference_type':'contact','reference_id':'{{currentContactViewId}}'}" reload="meetingReload"></meeting-list>
                 </uib-tab>-->
                <!--<uib-tab uib-tooltip="Notifications">
                    <uib-tab-heading>
                        <i class="icon-notifications"></i>
                    </uib-tab-heading>
                    <notification-module-list ng-if="$parent.tabs[2].active"
                                              get-data="{'module_type':'contact','module_id':currentContactViewId}"></notification-module-list>
                </uib-tab>-->
                <uib-tab uib-tooltip="Companies">
                    <uib-tab-heading>
                        <i class="icon-company2"></i>
                    </uib-tab-heading>
                    <uib-tab-content ng-if="$parent.tabs[2].active">
                        <div class="col-sm-12 plr10" ng-init="selectedCompanyList()">
                            <h3 class="darkcolor clearfix pt5 pb5 border-bottom2x mb15">
                                <span class="display-inline-block f14 bold pt5">Companies <span
                                        class="sky-blue bold"></span></span>
                                <a href="javascript:;" class="pull-right add-button" uib-tooltip="Add Company"
                                   ng-click="AddedCompaniesModal()">
                                    <i class="fa fa-plus"></i>ADD
                                </a>
                                <input class="f12 pull-right p2 mr8" type="text" placeholder="Search"
                                       ng-model="search_companies"/>
                            </h3>
                            <div class="col-lg-12 p0" win-height ng-scrollbars wh-offset="210">
                                <div class="meeting-inv-wrap clearfix"
                                     ng-repeat="c in selectedCompanyListData | filter:search_companies">

                                    <h6 class="f12 dark-blue">
                                        <a ui-sref="company.company-creation({id:(c.crm_company_id | encode )})" class="dark-blue" target="_blank"  n-t='{"e_n":"{{c.company_name}} click","e_d":"Client - {{cInfo.first_name}} {{cInfo.last_name }}"}'>{{c.company_name}}</a>
                                        <span class="gray ml5 font-normal" ng-if="c.country_name">
                                        {{c.country_name}}
                                        </span>
                                    </h6>

                                    <div class="meeting-inv-wrap-body">
                                        <div class="sky-blue"><span class="icon-users2 pull-left mr8 f14"></span>{{c.email}}</div>
                                        <div class="darkcolor">
                                            <span class="icon-phone pull-left mr8 f14"></span>{{c.phone_number}}
                                        </div>
                                    </div>
                                </div>
                                <div class="text-center f12 pt15" ng-if="selectedCompanyListData.length == 0">
                                    {{'company.company_no_companies_found' | translate}}
                                </div>
                            </div>
                        </div>
                    </uib-tab-content>
                </uib-tab>
                <uib-tab uib-tooltip="Relations">
                    <uib-tab-heading>
                        <i class="icon-users1"></i>
                    </uib-tab-heading>
                    <uib-tab-content  ng-if="$parent.tabs[3].active">
                        <div class="col-sm-12 plr10" ng-init="selectedRelationsList()">
                            <h3 class="darkcolor clearfix pt5 pb5 border-bottom2x mb15">
                                <span class="display-inline-block f14 bold pt5">{{'contact.relations'| translate}}<span
                                        class="sky-blue bold"></span></span>
                                <a href="javascript:;" class="pull-right add-button" uib-tooltip="Add Relation"
                                   ng-click="addRelationsModal()">
                                    <i class="fa fa-plus"></i>{{'contact.add_relations'| translate}}
                                </a>
                            </h3>
                            <div class="col-lg-12 p0" win-height ng-scrollbars wh-offset="210">
                                <div class="meeting-inv-wrap clearfix" ng-repeat="c in selectedRelationsListData">
                                    <h6 class="f12 dark-blue">
                                        <a class="dark-blue">{{c.contact_details.first_name}} {{c.contact_details.last_name}}</a>
                                        <span class="gray ml5 font-normal">
                                        {{c.relation_name | underscoreless | capitalize}}
                                        </span>
                                    </h6>
                                    <div class="meeting-inv-wrap-body">
                                        <div class="sky-blue"><span class="icon-users2 pull-left mr8 f14"></span>{{c.contact_details.email |checkEmpty}}</div>
                                    </div>
                                </div>
                                <div class="text-center f12" ng-if="selectedRelationsListData.length == 0">
                                    {{'contact.no_relations_found' | translate}}
                                </div>
                            </div>
                        </div>
                    </uib-tab-content>
                </uib-tab>
                <uib-tab uib-tooltip="Attachments">
                    <uib-tab-heading>
                        <i class="icon-attachments"></i>
                    </uib-tab-heading>
                    <uib-tab-content ng-if="$parent.tabs[4].active">
                        <div class="" win-height ng-scrollbars wh-offset="160">
                            <attachment-view module-id="1" ref-id="{{currentContactViewId}}"
                            ></attachment-view>
                        </div>
                    </uib-tab-content>
                </uib-tab>
                <uib-tab uib-tooltip="Tasks">
                    <uib-tab-heading>
                        <i class="icon-tasks2"></i>
                    </uib-tab-heading>
                    <uib-tab-content ng-if="$parent.tabs[5].active">
                        <div class="col-sm-12 plr10">
                            <task-module
                                    get-data="{'module_type':'contact','module_id':currentContactViewId,'module_reference_type':'contact','module_reference_id':currentContactViewId}"
                            ></task-module>
                        </div>
                    </uib-tab-content>
                </uib-tab>
            </uib-tabset>
        </div>
    </div>
</div>


