<div class="col-sm-12 p0 client-stage-view" ng-if="$state.current.name != 'contact.contact-complete-view'">
    <ul class="clearfix">
        <li>
            <span class="label-text p0 display-block text-line" >{{cInfo.crm_contact_type_name}}</span>
            <span class="font-lato darkcolor display-block text-line" title="{{cInfo.first_name}} {{cInfo.last_name }}">{{cInfo.first_name}} {{cInfo.last_name }}  </span>
        </li>
        <li>
            <span class="label-text p0 display-block text-line">{{'company.company_company' | translate}}</span>
            <span class="font-lato darkcolor display-block text-line" title="{{cInfo.company_name}}">{{cInfo.company_name | checkEmpty }}</span>
        </li>
        <li>
            <span class="label-text display-block text-line" title="{{cInfo.email}}"><i class="icon-mail mr4 pull-left"></i>{{cInfo.email}}</span>
            <span class="font-lato darkcolor display-block text-line" title="{{cInfo.phone_number | checkEmpty}}"><i class="icon-phone mr4"></i>{{cInfo.phone_number | checkEmpty}}</span>
        </li>
    </ul>
    <div class="display-inline-block pull-right">
        <button type="button" class="btn btn-primary complete-view-btn pull-right" href="javascript:;"
                n-t='{"e_n":"Client Complete View","e_d":"Client - {{cInfo.first_name}} {{cInfo.last_name }}"}'
                ui-sref="contact.contact-complete-view({id:(currentContactViewId | encode )})"><i class="icon-eye f21 mr4 pull-left"></i>{{'contact.contact_complete_view' | translate}}</button>
    </div>
    <div class="col-sm-12 client-stage-view-bar">
        <div class="col-sm-6 p0">
         <!--   <span class="">Available</span>
            <a href="#" class="f18 mr10 ml5 darkcolor"><i class="icon-facility"></i></a>
            <a href="#" class="f18 mr10 darkcolor"><i class="icon-colllateral2"></i></a>-->
        </div>
        <div class="col-sm-6 text-right p0 pt2">
            <span class="">Last Modified:<strong class="darkcolor ml4">{{cInfo.updated_date_time|utcToLocal:'date'}}</strong></span>
            <span class="client-rating red-bg" uib-tooltip="Credit Rating">{{cInfo.credit_rating | checkEmpty:'-'}}</span>
            <span class="client-rating blue-bg" uib-tooltip="Internal Rating">{{cInfo.grade.grade | checkEmpty:'-'}}

            </span>
        </div>
        <div class="col-sm-6"></div>
    </div>
</div>

<div class="col-sm-12 p0" ng-if="$state.current.name == 'contact.contact-complete-view'" >
    <div class="complete-header clearfix">
        <h6>
           <!-- <div class="head-flag">
                <img src="images/kenya.jpg" alt="image">
            </div>-->
            <div class="head-flag-content">
                <span class="text-line" title="{{cInfo.first_name}} {{cInfo.last_name }}">{{cInfo.first_name}} {{cInfo.last_name }} </span>
                <label class="text-line">{{cInfo.crm_contact_type_name}}</label>
            </div>
        </h6>
        <ul>
            <li>
                <label>{{'company.company_company' | translate}}</label>
                <span class="text-line" title="{{cInfo.company_name | checkEmpty }}">{{cInfo.company_name | checkEmpty }} <!--<span class="sky-blue">(1+)</span>--></span>
            </li>
           <!-- <li>
                <label class="text-line">Total Exposure</label>
                <span class="text-line">$ 134,856,000.00</span>
            </li>
            <li>
                <label class="text-line">Sector: <span>Agriculture Fishery</span></label>
                <label class="text-line">Sub- Sector: <span>Agriculture</span></label>
            </li>
            <li>
                <span class="header-icon"><i class="icon-facility"></i></span>
            </li>
            <li>
                <span class="header-icon"><i class="icon-colllateral2"></i></span>
            </li>
            -->
            <li>
                <label >{{'contact.contact_last_modified' | translate}}</label>
                <span class="text-line">{{cInfo.updated_date_time|utcToLocal:'date'}}</span>
            </li>
            <li class="rating-wrap">
                <label >{{'contact.contact_credit_rating' | translate}}</label>
                <span class="header-rating">{{cInfo.credit_rating | checkEmpty:'-'}}</span>
            </li>
            <li class="rating-wrap">
                <label >{{'contact.contact_internal_rating' | translate}}</label>
                <span class="header-rating blue-bg">{{cInfo.grade.grade | checkEmpty:'-'}}</span>
            </li>
        </ul>
    </div>
</div>