<h3 class="fixed content-heading ">
    {{'Contacts' | translate}}
        <span class="button-set">
           <!-- <a ui-sref="contact.contact-list" class="display-block" uib-tooltip="Back"><i class="fa fa-times"></i></a>-->
        </span>
</h3>

<div id="contentArea" class="content-area animated fadeInRight">
    <div class="content-container clearfix light-blue-bg">
        <div class="right-fixed-container clearfix custom-right">
            <div class="col-sm-12 p0 mt20 clearfix clearboth">
                <div class="table-wrapper no-bg pt0 overflow-hidden"
                     ng-show="permission.contact_list || permission.contact_add">
                    <table class="table-list-view table c-table table-hover table-style"
                           st-pipe="callServer" st-table="contactList">
                        <thead>
                        <tr>
                            <td colspan="7" class="pad0 border-bottom pb5 header-list-div">
                                <div class="col-sm-6 p0">
                                    <div class="client-list-num" ng-class="{'active':f_type === 'all_clients'}"
                                         st-search="f_type" st-input-event="click" ng-click="f_type='all_clients'">
                                        <span class="border-radius50 pull-left client-list-icon mr10"><i
                                                class="icon-all"></i></span>
                                        <span class=" display-block f12">{{'contact.contact_all_contacts' | translate}}</span>
                                        <span class=" darkcolor display-block f12 lh12 bold">{{all_clients}}</span>
                                    </div>
                                    <div class="client-list-num" ng-class="{'active':f_type === 'my_clients'}"
                                         st-search="created_by" st-input-event="click" ng-click="f_type='my_clients'">
                                        <span class="border-radius50 pull-left client-list-icon mr10"><i
                                                class="icon-users2"></i></span>
                                        <span class=" display-block f12"> {{'contact.contact_my_contacts' | translate}}</span>
                                        <span class=" darkcolor display-block f12 lh12 bold">{{my_clients}}</span>
                                    </div>
                                    <!--  <div class="client-list-num">
                                          <span class="border-radius50 pull-left client-list-icon mr10"><i class="icon-filter2"></i></span>
                                          <span class=" display-block f12">Type</span>
                                                  <span class=" darkcolor display-block f12 -mt20 lh12 form-group-new  pull-right">
                                                      <select class="form-control f12">
                                                          <option value="" selected>All Types</option>
                                                      </select>
                                                  </span>
                                      </div>-->
                                </div>
                                <div class="col-sm-6 p0 mt5">
                                    <div class="action-head mb0">
                                        <div class="table-search pull-left width-full">
                                            <input type="text" class="form-control" placeholder="Search by Name / Phone / Email"
                                                   st-search="search_key">
                                            <i class="fa icon-search"></i>
                                        </div>

                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th></th>
                            <th>{{'contact.name' | translate}}</th>
                            <th>{{'company.company_company' | translate}}</th>
                            <th>{{'contact.contact_contact' | translate}}</th>
                            <th>{{'contact.contact_created_by' | translate}}</th>
                            <!-- <th>Rating</th>-->
                        </tr>
                        </thead>
                        <tbody ng-show="isEmptyRow">
                            <tr>
                                <td colspan="7" class="empty-table">
                                    <p class="12">{{'general.general_no_data_available' | translate}}</p>
                                </td>
                            </tr>
                        </tbody>
                        <tbody class="hierarchical_slide" hierarchical-slide>
                        <!--ng-click="contactView(row.id_crm_contact)"-->
                            <tr ng-repeat="row in contactList" class="cursor-pointer"
                            n-t='{"e_n":"Client details","e_d":"Client - {{row.first_name}} {{row.last_name}}"}'>
                            <td class="img"><span first-alpha="{{row.first_name}}"></span></td>
                            <td ng-click="gotoState(row)">
                                <span class="label-text p0 display-block text-line" title="{{row.first_name}} {{row.last_name}}">{{row.first_name}} {{row.last_name}}  </span>
                                <span class="font-lato f13 darkcolor display-block text-line">{{row.crm_contact_type_name}}</span>
                            </td>
                            <td ng-click="gotoState(row)">
                                <span class="label-text p0 display-block text-line">{{row.crm_company_name | checkEmpty}}</span>
                                <span class="font-lato f13 darkcolor display-block text-line" >{{row.country_name | checkEmpty:' '}}</span>
                            </td>
                            <td ng-click="gotoState(row)">
                                <span class="label-text display-block text-line">
                                    <span class="mr4"><i class="icon-mail"></i></span>
                                    <span title="{{row.email}}">{{row.email}}</span>
                                </span>
                                <span class="font-lato f13 darkcolor text-line display-block">
                                    <span class=" mr4"><i class="icon-phone"></i></span>
                                    <span class="">{{row.phone_number | checkEmpty}}</span>
                                </span>
                            </td>
                            <td class="relative">
                                <label class="display-inline-block" ng-click="gotoState(row)">
                                <span class="label-text display-block text-line">{{row.username}}</span>
                                <span class="font-lato f13 darkcolor    text-line display-block">
                                    <span>{{row.approval_name}} : {{row.legal_name}}</span>
                                </span>
                                </label>
                                <div class="display-inline-block custom-list valign-middle pull-right relative mt5" uib-dropdown
                                     ng-if="permission.contact_delete" style="position: absolute;top: 9px;right: 5px;">
                                    <a href="javascript:;" class="menu-toggle dropdown-toggle" uib-dropdown-toggle><i
                                            class="fa fa-ellipsis-v f21"></i></a>
                                    <ul class="dropdown-menu width150" uib-dropdown-menu>
                                        <li>
                                            <a href="javascript:;" class="f14 darkcolor" uib-tooltip="Delete" ng-click="deleteContact(row)" ><i class="icon-trash"></i>Delete</a>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <td colspan="7" class="text-center">
                                <div st-items-by-page="10" st-pagination
                                     st-template="partials/list-pagination.custom.html" class="pull-right"></div>
                            </td>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
            <div class="right-fixed mt20 trans-pos-top" scroll-pos>
                <div class="col-sm-12 p0 border" ng-show="permission.contact_add">
                    <h3 class="custom-head">{{'contact.contact_create_new_contact' | translate}}</h3>

                    <div class="form-group clearfix p10 form-group-custom white-bg m0 sm-form">
                        <!--ng-submit="submitQuickContact(contact,form,moreFields)"-->
                        <form class="" name="form" novalidate
                              ng-submit="form.$valid && submitQuickContact(contact,form,moreFields)">
                            <div class="col-sm-12 p0" ng-init="masterDropDownList({'master_key': 'contact_prefix'})">
                                <div class="col-sm-5 p0 pr5">
                                    <label class="control-label">{{'contact.prefix' | translate}} *</label>
                                    <div class="form-group clearfix form-group-custom">
                                        <select class="form-control p0 font-control"
                                                ng-model="contact.client_prefix"
                                                name="contact_prefix"
                                                ng-options="s.id as s.name for s in dropDownItems['contact_prefix']" required>
                                        <option value="">--{{'general.general_select' | translate}}--</option>
                                        </select>
                                    </div>
                                    <div ng-if="form.contact_prefix.$error.required && form.$submitted "
                                         class="error-message">
                                        {{'general.required'|translate}}
                                    </div>
                                </div>
                                <div class="col-sm-7 p0">
                                    <label class="control-label">{{'contact.contact_first_name' | translate}} *</label>
                                    <div class="form-group clearfix form-group-custom">
                                        <input type="text" class="form-control" ng-model="contact.client_first_name"
                                               name="client_first_name"
                                               required>

                                        <div ng-if="form.client_first_name.$error.required && form.$submitted"
                                             class="error-message">
                                            {{'general.required'|translate}}
                                        </div>
                                    </div>
                                </div>
                                <!--<div ng-if="form.client_first_name.$error.required && form.$submitted"
                                     class="error-message">
                                    {{'First name is required' | translate}}
                                </div>-->
                            </div>
                            <label class="control-label">{{'contact.contact_last_name' | translate}}</label>

                            <div class="form-group clearfix form-group-custom">
                                <input type="text" class="form-control" ng-model="contact.client_last_name"
                                       name="client_last_name">

                            </div>
                            <label class="control-label">{{'Email' | translate}} *</label>

                            <div class="form-group clearfix form-group-custom">
                                <input type="email" class="form-control" ng-model="contact.client_email"
                                       name="client_email" required>

                                <div ng-if="form.client_email.$error.required && form.$submitted" class="error-message">
                                    {{'general.general_email_is_required' | translate}}
                                </div>
                                <div ng-if="form.client_email.$error.email && form.$submitted" class="error-message">
                                    {{'general.general_enter_valid_email' | translate}}
                                </div>

                            </div>
                            <!--<label class="control-label">{{'Phone Number' | translate}}</label>

                            <div class="form-group clearfix form-group-custom">
                                <any ng-init="contact.phone_number=''"></any>
                                <input type="text" class="form-control" ng-model="contact.client_phone_number"
                                       name="client_phone_number" ng-minlength="5" only-digits>
                                <div ng-show="form.client_phone_number.$invalid && form.$submitted "
                                     class="error-message">
                                    {{'Phone number is required(minimum 5 digits)' | translate}}
                                </div>
                            </div>-->
                            <div class="form-group clearfix form-group-custom">
                                <div class="col-sm-12 p0 pb10">
                                    <div class="col-sm-5 p0">
                                        <label class="control-label">{{'general.isd' | translate}} *</label>
                                        <div class="form-group clearfix form-group-custom">
                                            <select class="form-control p0 font-control"
                                                    ng-model="contact.client_phone_number_isd"
                                                    name="client_phone_number_isd"
                                                    ng-options="item.isd_code as (item.country_name +' '+ item.isd_code) for item in ISDCodes" required>
                                                <option value="">--{{'general.general_select' | translate}}--</option>
                                            </select>
                                        </div>
                                        <div ng-if="form.client_phone_number_isd.$error.required && form.$submitted "
                                             class="error-message">
                                            {{'general.general_select_isd_code' | translate}}
                                        </div>
                                    </div>
                                    <div class="col-sm-7 pl5 pr0">
                                        <label class="control-label">{{'general.general_phone_number_main' | translate}} *</label>
                                        <div class="form-group clearfix form-group-custom">
                                            <any ng-init="contact.phone_number=''"></any>
                                            <input type="text" class="form-control" ng-model="contact.client_phone_number1"
                                                   name="client_phone_number" ng-minlength="7" ng-maxlength="15" required only-digits >
                                            <div ng-if="form.client_phone_number.$error.required && form.$submitted "
                                                 class="error-message">
                                                {{'general.enter_valid_phone_number'|translate}}
                                            </div>
                                            <div ng-if="!form.client_phone_number.$error.required && form.client_phone_number.$error.minlength && form.$submitted "
                                                 class="error-message">
                                                {{'general.enter_valid_phone_number_min7' | translate}}
                                            </div>
                                            <div ng-if="!form.client_phone_number.$error.required && form.client_phone_number.$error.maxlength && form.$submitted"
                                                 class="error-message">
                                                {{'general.enter_valid_phone_number_max15' | translate}}
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="form-group clearfix form-group-custom">
                                <label class="control-label">{{'contact.contact_types' | translate}} *</label>
                                <select class="form-control" name="crm_contact_type_id"
                                        ng-init="getContactTypes()"
                                        ng-model="contact.crm_contact_type_id"
                                        ng-options="item.id_crm_contact_type as item.crm_contact_type_name for item in contactTypes"
                                        required>
                                    <option value="">--{{'contact.contact_select_contact_type' | translate}}--</option>
                                </select>
                                <div ng-if="form.crm_contact_type_id.$error.required && form.$submitted"
                                     class="error-message">{{'contact.contact_contact_type_is_required' | translate}}
                                </div>
                            </div>
                            <div class="col-lg-12 clearfix text-center btn-custom mb10 mt20">
                                <button type="submit" class="btn btn-primary f12 border-none lt-bg mr4"
                                        ng-click="moreFields=false"
                                        n-t='{"e_n":"Quick Contact - save","e_d":"", "form": "{{form.$valid}}, Client - {{cInfo.first_name}} {{cInfo.last_name }}"}'>
                                    {{'Save' | translate}}
                                </button>
                                <button class="btn btn-primary f14 border-none btn-green"
                                        ng-click="moreFields=true"
                                        n-t='{"e_n":"Quick Contact - save & continue","e_d":"", "form": "{{form.$valid}}, Client - {{cInfo.first_name}} {{cInfo.last_name }}"}'>
                                    {{'general.general_save_continue' | translate}}
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
