<h3 class="fixed content-heading">
    <ul class="breadcrumb">
        <li><a ui-sref="contact.contact-dashboard">{{'Contact' | translate}}</a> </li>
        <li><a ui-sref="contact.contact-form-list({id:(currentContactViewId | encode )})">{{cInfo.first_name}} {{cInfo.last_name }}</a> </li>
        <li>{{'Complete_View' | translate}}</li>
    </ul>
    <div class="pull-right button-set">
        <!--        <a uib-tooltip="Touchpoints" modal="touchpoints" ng-click="touchpointsModal()"><i class="fa fa-touchpoint"></i>
                </a>
                <span ng-hide="companyContactsDetails.crm_contact_type_id == '1'">
                <a uib-tooltip="Companies" modal="addedcompanies" ng-click="AddedCompaniesModal()"><i class="fa fa-company"></i>
                </a></span>&lt;!&ndash;<div ng-if="companyContactsDetails.crm_contact_type_id != '1'"></div>&ndash;&gt;
                <a uib-tooltip="Attachments" modal="attachment" ng-click="quickAttachmentModal()"><i class="fa fa-paperclip"></i>
                </a>

                &lt;!&ndash;<a ui-sref="contact.contact-creation" uib-tooltip="Add" ng-click="addNewContact()"><i class="fa fa-plus"></i></a>&ndash;&gt;
                <a uib-tooltip="Edit" ui-sref="contact.contact-creation({id:(currentContactViewId | encode )})"><i class="fa fa-pencil"></i></a>-->
        <a ui-sref="contact.contact-form-list({id:(currentContactViewId | encode )})"  uib-tooltip="Back"><i class="fa fa-close-sm"></i></a>
    </div>
</h3>
<div class="col-sm-12 fixed clearfix  z1 fixed-top full-fixed-top" ng-class="{visible:boolChangeClass}" fixed-top>
    <div class="clearfix relative details-fixed-top border-none no-bg pad0">
        <div class="col-sm-12 clearfix p0">
            <div class="page-header-wrap mt0  box-shadow clearfix">
                <div  ng-include="'partials/crm/contact/contact-header.html'" ></div>
            </div>
        </div>

    </div>
</div>


<div class="content-area animated fadeInRight" id="contentArea">

    <div class="content-container mb20 clearfix">

        <div class="col-sm-12 clearfix p0">
            <div class="page-header-wrap white-bg box-shadow clearfix relative mb15">
                <div  ng-include="'partials/crm/contact/contact-header.html'" ng-init="getContactInfo()"></div>
            </div>
        </div>

        <div class="col-sm-12 plr20" ng-init="abc=getContactInfo()">
            <!--   <a href="#topSection" class="fixed z9 r220 b30 go-top" style="display:none"><i class="fa fa fa-chevron-up"></i></a>

               <div class="col-sm-12 clearfix clearboth p0 white-bg box-shadow">
                   <div id="topSection" class="details-container relative c-wrap pl67 col-sm-12 clearfix pb10 border-bottom">
                       <div class="absolute t0 l0">
                           <img alt="User" ng-src="{{companyContactsDetails.profile_image || 'images/default-user.png'}}"
                                class="details-user-pic img-circle">
                       </div>
                       <div class="col-sm-12 clearfix p0">
                           <div class="display-inline-block pull-right relative col-sm-1 col-lg-1 p0">
                               <div class="display-inline-block pull-right relative custom-list mt15" >
                                   <a class="menu-toggle dropdown-toggle" data-toggle="dropdown" href="javascript:;"><i class="fa fa-ellipsis-v"></i>
                                   </a>

                                   <ul class="dropdown-menu">
                                       <div ng-repeat="contactForm in companyContactForms" data-ng-init="$sectionIndex = $index">
                                           <ul class="c-menu">
                                               <li>
                                                   <a class="f14 cursor-default">{{contactForm.section_name}}</a>
                                                   <ul class="pl5">
                                                       <li ng-repeat="contactInfo in contactForm.form">
                                                           <a href="javascript:;" ng-click="gotoElement(contactInfo.form_name)">{{
                                                               contactInfo.form_name
                                                               }}</a>
                                                       </li>
                                                   </ul>
                                               </li>
                                           </ul>

                                       </div>
                                   </ul>
                               </div>
                           </div>
                           <div class="display-inline-block con-view col-sm-11 col-lg-7 p0 mb5">
                               <ul>
                                   <li class="display-inline-block valign-top">
                                       <h3 class="darkcolor f15 mr40 text-capitalize">{{ companyContactsDetails.first_name }}</h3>

                                       <p class="gray f12">
                                           <span class="mr15 clr-blue text-line display-block">{{ companyContactsDetails.email }}</span>
                                           <span class="mr15">{{ companyContactsDetails.phone_number }}</span>
                                       </p>
                                   </li>
                                   <li class="display-inline-block valign-top">
                                       <p class="gray f12">
                                           <label class="display-block f13 ash">Last Updated</label>
                                           <span class="darkcolor">{{ companyContactsDetails.updated_date_time }}</span>
                                       </p>
                                   </li>
                               </ul>

                           </div>
                           <div class="display-inline-block companies-view col-lg-4 col-sm-11 p0 ">
                               <ul>
                                   <li ng-repeat="row in selectedCompanyList" class="display-inline-block" ng-show="$first">
                                       <div class="col-sm-12 p0">
                                           <h4 class="darkcolor f14 text-capitalize">{{ row.company_name }}</h4>
                                           <p class="text-capitalize gray f12">{{row.designation_name}}</p>
                                       </div>

                                   </li>
                               </ul>
                           </div>


                           &lt;!&ndash;<a href="#" class="url mt5 f12 clearboth">{{ companyContactsDetails.company_name }}</a>&ndash;&gt;

                       </div>
                   </div>
                   <div ng-hide="companyContactsDetails.crm_contact_type_id == '1'" class="col-sm-12 clearfix clearboth pb10  border-bottom ">
                       <h3 class="heading pt10" id="loansHead">Loans Performance</h3>

                       <div id="loansPerformance" donut-graph style="height: 200px"></div>
                   </div>
               </div>-->

            <!--Repeat this bottom section for Forms-->

            <div id="scrollArea" ng-repeat="contactForm in companyContactForms">
                <div class="col-sm-12 clearfix p0 white-bg colored-border-top4 box-shadow" ng-repeat="contactInfo in contactForm.form" id="{{contactInfo.form_name}}" >
                    <div class="form-head-wrap col-sm-12 clearfix">
                        <h4 class="darkcolor f15 pt10"> {{ contactInfo.form_name }}</h4>
                    </div>
                    <div class="col-sm-12 clearfix">
                        <div class="col-sm-12 clearfix p0 mtb10">
                            <div class="clearfix min-height70 col-sm-12 col-lg-12">
                                <div ng-if="contactInfo.form_key=='client_information' || contactInfo.form_key=='client_contact_information' || contactInfo.form_key=='external_rating' || contactInfo.form_key=='experience_with_access_bank'">
                                    <any ng-repeat="viewForm in contactInfo.field_data" ng-switch="viewForm.field_type">
                                        <div ng-switch-when="textarea" class="col-sm-12 col-lg-12">
                                            <label class="label-text">{{ viewForm.field_label }}</label>

                                            <div ng-if="viewForm.field_value != ''" class="cke_editable" ng-bind-html="viewForm.field_value | trusted"></div>

                                            <p ng-if="viewForm.field_value == ''" class="label-info mb5">-----</p>
                                        </div>
                                        <any ng-switch-when="address_map" >
                                            <div class="col-lg-12 col-sm-12 p0" oc-lazy-load="utility">
                                                <address-view get-data="viewForm.field_value">
                                                </address-view>
                                            </div>
                                        </any>
                                        <div ng-switch-when="json" class="col-sm-12 col-lg-12">
                                            <!--<div class="col-sm-12 clearfix mtb10 ptb10 excel-table">
                                                <hot-table settings="settings" datarows="viewForm.field_value" height="265">
                                                </hot-table>
                                            </div>-->
                                            <div class="col-sm-12 clearfix p0 ">
                                                <label class="label-text">{{ viewForm.field_label }}</label>
                                                <div class="">
                                                    <table class="table table-view table-customise">
                                                        <thead>
                                                        <tr ng-repeat="(key, value) in viewForm.field_value" ng-if="$first">
                                                            <th class="f13" ng-repeat="(chKey, chValue) in value">{{ chKey |
                                                                underscoreless }}
                                                            </th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        <tr ng-repeat="(key, value) in viewForm.field_value">
                                                            <td class="f12" ng-repeat="(cKey, cValue) in value">
                                                                <span data-ng-if="cValue != null || cValue != '' ">{{ cValue }}</span><span ng-if="cValue == null || cValue == '' "> &nbsp;</span>
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                        <p ng-if="viewForm.field_value == '' || viewForm.field_value == null" class="label-info">
                                                            -----</p>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        <any ng-switch-when="previous_experience">
                                            <div class="col-lg-12">
                                                <label class="label-text">{{ viewForm.field_label }}</label>
                                                <div class="col-sm-12 clearfix p0 ">
                                                    <exposure-component componet-parmes='{"crm_contact_id":currentContactViewId}'  componet-type="contact" ></exposure-component>
                                                </div>
                                            </div>
                                        </any>
                                        <any ng-switch-when="file">
                                            <div class="col-lg-12">
                                                <label class="label-text">{{ viewForm.field_label }}</label>
                                                <attachment-list module-id="1" form-key="external_rating" field-key="{{viewForm.field_name}}"
                                                                 ref-id="{{currentContactViewId}}"></attachment-list>
                                            </div>
                                        </any>
                                        <div ng-switch-default class="col-sm-4 col-lg-3">
                                            <label class="label-text">{{ viewForm.field_label }}</label>

                                            <p ng-if="viewForm.field_value != ''" class="mb5 text-line" ng-bind-html="viewForm.field_value"></p>

                                            <p ng-if="viewForm.field_value == ''" class="mb5">-----</p>
                                        </div>
                                    </any>
                                </div>
                                <div ng-if="contactInfo.form_key=='personal_information'">
                                    <div ng-init="personal_info=contactInfo.field_data.personal_info">
                                        <div class="col-sm-4 col-lg-3">
                                            <label class="label-text">{{'contact.contact_marital_status' | translate}}</label>
                                            <p ng-if="personal_info.martialInfo != null" class="mb5 text-line" ng-bind-html="personal_info.martialInfo"></p>
                                            <p ng-if="personal_info.martialInfo == null" class="mb5">-----</p>
                                        </div>
                                        <div class="col-sm-4 col-lg-3">
                                            <label class="label-text">{{'contact.contact_education' | translate}}</label>
                                            <p ng-if="personal_info.educationInfo != null" class="mb5 text-line" ng-bind-html="personal_info.educationInfo"></p>
                                            <p ng-if="personal_info.educationInfo == null" class="mb5">-----</p>
                                        </div>
                                        <div class="col-sm-4 col-lg-3">
                                            <label class="label-text">{{'contact.employer' | translate}}</label>
                                            <p ng-if="personal_info.employer != null" class="mb5 text-line" ng-bind-html="personal_info.employer"></p>
                                            <p ng-if="personal_info.employer == null" class="mb5">-----</p>
                                        </div>
                                        <div class="col-sm-4 col-lg-3">
                                            <label class="label-text">{{'contact.monthly_salary' | translate}}</label>
                                            <p ng-if="personal_info.monthly_salary != null" class="mb5 text-line" >{{personal_info.monthly_salary_currency_info}} {{personal_info.monthly_salary | number:2}}</p>
                                            <p ng-if="personal_info.monthly_salary == null" class="mb5">-----</p>
                                        </div>
                                        <div class="col-sm-4 col-lg-3">
                                            <label class="label-text">{{'contact.monthly_expenses' | translate}}</label>
                                            <p ng-if="personal_info.monthly_expenses != null" class="mb5 text-line" >{{personal_info.monthly_expenses_currency_info}} {{personal_info.monthly_expenses | number:2}}</p>
                                            <p ng-if="personal_info.monthly_expenses == null" class="mb5">-----</p>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 clearfix pl0 pt10" ng-show="contactinfo.martial_status.child_key!='marital_status_single'">
                                        <div class="clearfix">
                                            <label class="control-label">{{'contact.spouse' | translate}} / {{'contact.children' | translate}}</label>
                                        </div>
                                        <div class="table-wrapper p0 c-table pt5 table-responsive">
                                            <table class="table table-striped table-bordered table-hover display table-style" >
                                                <thead>
                                                <tr>
                                                    <th style="width: 33%">{{'contact.name' | translate}}</th>
                                                    <th style="width: 33%">{{'contact.relation' | translate}}</th>
                                                    <!--<th>{{'contact.date_of_birth' | translate}}</th>-->
                                                    <th>{{'contact.contact_types' | translate}}</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                              <!-- **{{contactInfo.field_data.relation_info}}****-->

                                                <tr ng-repeat="item in contactInfo.field_data.relation_info" ng-if="contactInfo.field_data.relation_info.length>0">
                                                    {{item}}
                                                    <td>
                                                <span class="display-block pull-left">
                                                      {{ item.first_name | capitalize}} {{ item.last_name | capitalize}}
                                                </span>
                                                    </td>
                                                    <td>{{item.relation_name | capitalize}}</td>
                                                    <!--<td>{{item.data.client_date_of_birth | utcToLocal:'date'}}</td>-->
                                                    <td>
                                                        {{item.contact_type}}
                                                    </td>
                                                </tr>
                                                <tr ng-if="contactInfo.field_data.relation_info<=0">
                                                    <td colspan="3" class="text-center">{{'general.no_data_found' | translate}}</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div ng-if="contactInfo.form_key=='reference_guarantor'">
                                    <div class="col-sm-12 clearfix pl0 pt10">
                                        <div class="clearfix">
                                            <label class="control-label">{{'contact.reference_guarantor' | translate}}</label>
                                        </div>
                                        <!----{{contactRefGua}}-->
                                        <div class="table-wrapper p0 c-table pt5 table-responsive">
                                            <table class="table table-striped table-bordered table-hover display table-style" >
                                                <thead>
                                                <tr>
                                                    <th style="width: 33%">{{'contact.name' | translate}}</th>
                                                    <th style="width: 33%">{{'contact.gender' | translate}}</th>
                                                    <th>{{'contact.date_of_birth' | translate}}</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr ng-repeat="item in contactInfo.field_data.reference_guarantor" ng-show="contactInfo.field_data.reference_guarantor.length>0">
                                                    <td>
                                                        <span>
                                                          {{ item.first_name| capitalize}} {{item.last_name| capitalize}}
                                                        </span>
                                                                                </td>
                                                                                <td>
                                                        <span>
                                                          {{ item.client_gender | capitalize}}
                                                        </span>
                                                                                </td>
                                                                                <td>
                                                        <span>
                                                          {{ item.client_date_of_birth | utcToLocal:'date'}}
                                                        </span>
                                                    </td>
                                                </tr>
                                                <tr ng-show="contactInfo.field_data.reference_guarantor.length<=0">
                                                    <td colspan="3" class="text-center">{{'general.no_data_found' | translate}}</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div ng-if="contactInfo.form_key=='assets_and_liabilities'">
                                    <div class="col-sm-12 clearfix pl0 pt10">
                                        <div class="clearfix">
                                            <label class="control-label">{{'contact.contact_income' | translate}}</label>
                                        </div>
                                        <div class="table-wrapper p0 c-table pt5 table-responsive">
                                            <table class="table table-striped table-bordered table-hover display table-style" >
                                                <thead>
                                                <tr>
                                                    <th style="width: 33%">{{'contact.description' | translate}}</th>
                                                    <th style="width: 33%">{{'contact.type' | translate}}</th>
                                                    <th >{{'contact.amount' | translate}}</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr ng-repeat="item in contactInfo.field_data.income" ng-if="contactInfo.field_data.income.length>0">
                                                    <td>
                                                        <span>
                                                          {{ item.description}}
                                                        </span>
                                                    </td>
                                                    <td>
                                                        <span>
                                                          {{ item.type_name }}
                                                        </span>
                                                    </td>
                                                    <td>
                                                        <span class="display-block pull-left">
                                                          {{ item.currency_code }} {{ item.amount | number:2 }}
                                                        </span>
                                                    </td>
                                                </tr>
                                                <tr ng-if="contactInfo.field_data.income.length<=0">
                                                    <td colspan="3" class="text-center">{{'general.no_data_found' | translate}}</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 clearfix pl0 pt10">
                                        <div class="clearfix">
                                            <label class="control-label">{{'contact.contact_expenses' | translate}}</label>
                                        </div>
                                        <div class="table-wrapper p0 c-table pt5 table-responsive">
                                            <table class="table table-striped table-bordered table-hover display table-style" >
                                                <thead>
                                                <tr>
                                                    <th style="width: 33%">{{'contact.description' | translate}}</th>
                                                    <th style="width: 33%">{{'contact.type' | translate}}</th>
                                                    <th >{{'contact.amount' | translate}}</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr ng-repeat="item in contactInfo.field_data.expenses" ng-if="contactInfo.field_data.expenses.length>0">
                                                    <td>
                                                        <span>
                                                          {{ item.description}}
                                                        </span>
                                                    </td>
                                                    <td>
                                                        <span>
                                                          {{ item.type_name }}
                                                        </span>
                                                    </td>
                                                    <td>
                                                        <span class="display-block pull-left">
                                                          {{ item.currency_code }} {{ item.amount | number:2 }}
                                                        </span>
                                                    </td>
                                                </tr>
                                                <tr ng-if="contactInfo.field_data.expenses.length<=0">
                                                    <td colspan="3" class="text-center">{{'general.no_data_found' | translate}}</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 clearfix pl0 pt10">
                                        <div class="clearfix">
                                            <label class="control-label">{{'contact.tangible_assets' | translate}}</label>
                                        </div>
                                        <div class="table-wrapper p0 c-table pt5 table-responsive">
                                            <table class="table table-striped table-bordered table-hover display table-style" >
                                                <thead>
                                                <tr>
                                                    <th style="width: 33%">{{'contact.type' | translate}}</th>
                                                    <th style="width: 33%">{{'contact.acquisition_date' | translate}}</th>
                                                    <th>{{'contact.value' | translate}}</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr ng-repeat="item in contactInfo.field_data.assets" ng-if="contactInfo.field_data.assets.length>0">
                                                    <td>
                                                        <span>
                                                          {{ item.type_name }}
                                                        </span>
                                                    </td>
                                                    <td>{{ item.aquisition_date | utcToLocal:'date' }}</td>
                                                    <td>
                                                        <span>
                                                          {{ item.currency_code }} {{ item.value | number:2 }}
                                                        </span>
                                                    </td>
                                                </tr>
                                                <tr ng-if="contactInfo.field_data.assets.length<=0">
                                                    <td colspan="3" class="text-center">{{'general.no_data_found' | translate}}</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 clearfix pl0 pt10">
                                        <div class="clearfix">
                                            <label class="control-label">{{'contact.liabilities' | translate}}</label>
                                        </div>
                                        <div class="table-wrapper p0 c-table pt5 table-responsive">
                                            <table class="table table-striped table-bordered table-hover display table-style" >
                                                <thead>
                                                <tr>
                                                    <th style="width: 33%">{{'contact.type' | translate}}</th>
                                                    <th style="width: 33%">{{'contact.maturity_date' | translate}}</th>
                                                    <th>{{'contact.amount' | translate}}</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr ng-repeat="item in contactInfo.field_data.liabilities" ng-if="contactInfo.field_data.liabilities.length>0">
                                                    <td>
                                                        <span>
                                                          {{ item.type_name }}
                                                        </span>
                                                                            </td>
                                                                            <td>
                                                        <span>
                                                          {{ item.maturity_date | utcToLocal:'date' }}
                                                        </span>
                                                                            </td>
                                                                            <td>
                                                        <span class="display-block pull-left">
                                                          {{ item.currency_code }} {{ item.amount | number:2 }}
                                                        </span>
                                                    </td>
                                                </tr>
                                                <tr ng-if="contactInfo.field_data.liabilities.length<=0">
                                                    <td colspan="3" class="text-center">{{'general.no_data_found' | translate}}</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>

                                </div>
                                <div class="form-wrap clearfix" ng-if="contactInfo.form_key=='internal_rating'">
                                    <!--<h4 class="darkcolor bold f15 mb10">{{businessAssessment.product_term_name}}</h4>-->
                                    <div class="col-sm-12 plr20 mt5">
                                        <div class=" r-overview clearfix">
                                            <div class="clearfix div-header">
                                                <div class="col-sm-6 p0">
                                                    <h3 class="white-color  p10 f14">{{'business_risks_categories' | translate}}</h3>
                                                </div>
                                                <div class="col-sm-4 text-center">
                                                    <h3 class="white-color  p10 f14">{{'factor' | translate}</h3>
                                                </div>
                                                <div class="col-sm-2 text-center">
                                                    <h3 class="white-color  p10 f14">{{'weight_percent' | translate}}</h3>
                                                </div>
                                            </div>
                                            <div class="col-sm-12 white-bg plr15" data-ng-repeat="business in internalRatingData">
                                                <h2 class="f14 p10 bold darkcolor">{{ business.risk_category_name }}</h2>

                                                <div class="mb10" ng-repeat="sub_category in business.sub_category">
                                                    <div class="clearfix pt10 pb10 light-wheet-bg">
                                                        <div class="col-sm-6">
                                                            <h4 class="f13 darkcolor">{{sub_category.risk_category_name}}</h4>
                                                        </div>
                                                        <div class="col-sm-4">
                                                            <h3 class="darkcolor f13 text-center">{{sub_category.final_grade}}</h3>
                                                        </div>
                                                        <div class="col-sm-2">
                                                            <h3 class="darkcolor f13 text-center">{{sub_category.risk_percentage}}%</h3>
                                                        </div>
                                                    </div>
                                                    <ul class="acc-list">
                                                        <li class="clearfix" ng-repeat="attribute in sub_category.attributes">
                                                            <div class="col-sm-6">
                                                                <h5 class="f12 mt5 darkcolor">{{attribute.risk_category_name}}</h5>
                                                            </div>
                                                            <!--<div class="col-sm-4 f12 line-height14 darkcolor text-line" data-ng-if="attribute.items.length == 0"></div>-->
                                                            <div class="col-sm-4 f12 line-height14 darkcolor">
                                                                <span ng-repeat="item in attribute.items" ng-if="item.selected==1">{{item.risk_category_item_name}}</span>
                                                            </div>
                                                            <div class="col-sm-2 text-center">
                                        <span class="f13" ng-repeat="item in attribute.items"
                                              ng-if="item.selected==1">{{item.contact_risk_category_item_grade}}</span>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
            <!--Form Section With Heading-->


        </div>
        <!--Details Area _End-->

    </div>
</div>

