<h3 class="fixed content-heading">
    <ul class="breadcrumb">
        <li><a ui-sref="contact.contact-dashboard" n-t='{"e_n":"Breadcrumb - Back to Contact list","e_d":"Client - {{cInfo.first_name}} {{cInfo.last_name }}"}'>{{'Contact' | translate}}</a> </li>
        <li><a ui-sref="contact.contact-form-list({id:(currentContactViewId | encode )})" n-t='{"e_n":"Breadcrumb - Back to Contact Details","e_d":"Client - {{cInfo.first_name}} {{cInfo.last_name }}"}'>{{cInfo.first_name}} {{cInfo.last_name }}</a> </li>
        <li>{{formName}}</li>
    </ul>
    <div class="pull-right button-set">
        <!--<any ng-controller="CompanyCreationCtrl">
            <a uib-tooltip="Touchpoints" modal="touchpoints" ng-click="touchpointsModal()"><i
                    class="fa fa-touchpoint"></i>
            </a>
            <a ng-click="quickAttachmentModal()" modal="attachment" uib-tooltip="Attachments"><i
                    class="fa fa-paperclip"></i>
            </a>
            <a uib-tooltip="Contacts" modal="addedcontacts" ng-click="AddedContactsModal()"><i class="fa fa-book"></i>
            </a>
        </any>-->

        <a ui-sref="contact.contact-form-list({id:(currentContactViewId | encode )})" uib-tooltip="Back"
           n-t='{"e_n":"Back to Contact list","e_d":"Client - {{cInfo.first_name}} {{cInfo.last_name }}"}'><i
                class="fa fa-close-sm"></i></a>
    </div>
</h3>

<div class="col-sm-12 fixed clearfix  z1 fixed-top full-fixed-top" ng-class="{visible:boolChangeClass}" fixed-top>
    <div class="clearfix relative details-fixed-top border-none no-bg pad0">
        <div class="col-sm-12 clearfix p0">
            <div class="page-header-wrap mt0  box-shadow white-bg clearfix">
                <div  ng-include="'partials/crm/contact/contact-header.html'"></div>
            </div>
        </div>
    </div>
</div>

<div class="content-area animated fadeInRight" id="contentArea">

    <div class="content-container clearfix">
        <div class="col-sm-12 p0">
            <div class="page-header-wrap white-bg box-shadow clearfix relative mb15">
                <div  ng-include="'partials/crm/contact/contact-header.html'" ng-init="getContactInfo()"></div>
            </div>
        </div>

        <div class="col-sm-12 plr20 mb20 ">

            <div class="col-lg-9 col-sm-8 pl0">
                <div class="div-header clearfix  border-bottom white-bg">
                    <h3 class="darkcolor display-inline-block f14 roboto-bold p15"><!--{{sectionName}} / -->{{formName}}</h3>
                    <div class="pull-right cust-pagination mt10 mb0 mr10">
                        <ul>
                            <li ng-show="prevBtnShow">
                                <a href="javascript:;" ng-click="prevForm()"
                                   n-t='{"e_n":"View {{formName}}","e_d":"Client - {{cInfo.first_name}} {{cInfo.last_name }}"}'><i class="icon-angle-left"></i> </a>
                            </li>
                            <li ng-show="nextBtnShow">
                                <a href="javascript:;" ng-click="nextForm()"
                                   n-t='{"e_n":"View {{formName}}","e_d":"Client - {{cInfo.first_name}} {{cInfo.last_name }}"}'><i class="icon-angle-right"></i> </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="white-bg">
                    <div class="col-sm-12 white-bg p0">
                        <div class="pb10 clearfix mb5 " ng-if="template != null" ng-show="permission[form_key+'_view']">
                            <div class="col-sm-12" ng-include="'partials/crm/contact/forms/'+template"></div>
                        </div>
                  <!--      <div class="pb10 clearfix mb5 p15"  ng-show="!permission[form_key+'_view']">
                            <h4 class="dark-blue mb10 bold f15">{{formName}}</h4>
                            <div class="col-sm-12 mt5">
                                <h3>Permission Denied</h3>
                            </div>
                        </div>-->
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-4 pl0 pr0">
                <div class="white-bg">
                    <div class="tabs-wrap" doc-height>
                        <uib-tabset justified="true">
                            <uib-tab heading="{{'Knowledge' | translate}}">
                                <div class="scroll-div-wrap" min-scroll>
                                    <!--<div class="pt20 pb20">
                                        <div class="mapping-search">

                                            <input class="form-control"
                                                   placeholder="Search"
                                                   type="text">
                                            <i class="fa  fa-search icon-search f16 pt2 darkblue"></i>
                                        </div>
                                    </div>-->
                                    <div class="people-wrap clearfix" ng-repeat="data in knowledgeData"
                                         ng-click="modalOpen(data)">
                                        <a ui-sref="knowledge-management.item-view({ id: data.id_knowledge_document})"
                                           target="_blank" class="display-block">
                                            <div class="pull-left p5 k-img" knowledge-icons
                                                 data-image="{{data.document_type}}"></div>
                                            <div class="pl100 p5">
                                                <p class="darkcolor bold mb3 f14">{{data.document_title}} </p>
                                                <p class="f12 mb3"
                                                   data-ng-bind-html="data.document_description | ellipsis:50"></p>
                                                <p class="sky-blue f14"><i
                                                        class="fa fa-eye f18 mr4 darkcolor valign-top display-inline-block"></i>
                                                    No. of views <span class="darkcolor ml5 bold">{{data.number_of_views}}</span>
                                                </p>
                                            </div>
                                        </a>
                                    </div>

                                    <div class="no-knowledgedata-view"
                                         ng-show="knowledgeData == '' || knowledgeData ==null">{{'contact.contact_no_knowledge_base_available_on_this_topic' | translate}}
                                        <div ui-sref="knowledge-management.knowledge-dashboard" class="text-center"><a
                                                n-t='{"e_n":"Click To Add","e_d":"Knowledge management in Client - {{cInfo.first_name}} {{cInfo.last_name }}"}'
                                                class="btn lt-bg btn-primary f14 border-none display-inline-block mt10">{{'contact.contact_click_to_add' | translate}}</a></div>
                                    </div>
                                </div>
                            </uib-tab>
                        </uib-tabset>
                    </div>


                </div>
            </div>

        </div>

    </div>
</div>
<script type="text/ng-template" id="knowledge-details.html">
    <div class="modal-wrap right-modal modal-custom">
        <div class="clearfix">
            <h3 class="right-modal-head">
                <i class="fa fa-sitemap mr8"></i>{{knowledgeData.document_title}}
                <a ng-click="cancel()" uib-tooltip="Close" class="close-right pull-right"><img src="images/close.png"></a>
            </h3>
        </div>
        <div class="modal-body clearfix">

            <!--<div class="col-sm-12">
                <div class="form-group clearfix form-group-custom mb10">
                    <div class="col-sm-2"><label class="control-label">Title:</label></div>
                    <div class="col-sm-8">
                        {{knowledgeData.document_title}}
                    </div>
                </div>
            </div>-->
            <div class="col-sm-12 p0">
                <div class="form-group clearfix form-group-custom mb10">
                    <!--<div class="col-sm-2"><label class="control-label">Description:</label></div>-->
                    <div class="col-sm-12 p0 f14" data-ng-bind-html="knowledgeData.document_description"></div>
                </div>
            </div>
            <div class="col-sm-12 p0" ng-if="knowledgeData.document_type == 'document'">
                <div class="form-group clearfix form-group-custom mb10">
                    <div class="col-sm-2"><label class="f13 ash">{{'File' | translate}}:</label></div>
                    <div class="col-sm-8 p0">
                        <div class="btn-custom mt10">
                            <a href="{{knowledgeData.document_source}}" download class="f14 sky-blue" target="_blank">{{'Download' | translate}}</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 p0" ng-if="knowledgeData.document_type == 'video'">
                <div class="form-group clearfix form-group-custom mb10">
                    <!--<div class="col-sm-2"><label class="control-label">Video:</label></div>-->
                    <div class="col-sm-12 p0" add-iframe data-iframesrc="{{knowledgeData.document_source}}">
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>
