<h3 class="fixed content-heading"> {{'Facilitate Setup' | translate}}
    <ul class="pull-right icons-right">

        <li><a href="javascript:;" ng-click="FTModalOpen()" uib-tooltip="Add"
               n-t='{"e_n":"Add Facilitate Admin","e_d":""}'><i
                class="icon-plus-circle"></i></a></li>
    </ul>
</h3>

<div id="contentArea" class="content-area animated fadeInRight">
    <div class="content-container clearfix light-blue-bg p20 mb20 facilitate-types-wrap">
      <!--  <h3>Facilitate Setup</h3>-->
        <div class="col-lg-4 col-sm-4 col-md-4 pl0 mt10"  ng-repeat="f in facilityTypeList">
            <div class="col-sm-12 pad0">
                <div class="list-data mb5 white-bg p10 full-width">
                    <div class="list-img-rounded pull-left mr10">
                        <i class="icon-clipped-file2"></i>
                    </div>
                    <div class="list-text overflow-hidden"  >
                        <h5 class="heading-caps">{{f.facility_name}}</h5>
                        <p><label class="f12">Created by:</label> {{f.user_name}}</p>
                        <p><label class="f12">Last Modified on:</label>{{f.updated_date_time | utcToLocal:'date'}}</p>
                        <div class="col-sm-12 clearfix clearboth p0 mb5">
                            <a href="javascript:;" n-t='{"e_n":"View general Facilitate Admin","e_d":"{{f.facility_name}}"}' ng-click="goto('facility.view.general',f.id_company_facility)" ng-class="f.general == 1 ? 'green-btn mt5' : 'gray-btn mt5'">General</a>
                            <a href="javascript:;" n-t='{"e_n":"View price Facilitate Admin","e_d":"{{f.facility_name}}"}' ng-click="goto('facility.view.price',f.id_company_facility)" ng-class="f.pricing == 1 ? 'green-btn mt5' : 'gray-btn mt5'">Pricing</a>
                            <a href="javascript:;" n-t='{"e_n":"View term and conditions Facilitate Admin","e_d":"{{f.facility_name}}"}' ng-click="goto('facility.view.termconditions',f.id_company_facility)" ng-class="f.terms_conditions == 1 ? 'green-btn mt5' : 'gray-btn mt5'">Terms & Conditions</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


<script type="text/ng-template" id="addFacilityModel.html">

    <div class="modal-wrap right-modal modal-custom">
        <div class="clearfix">
            <h3 class="right-modal-head">
                <i class="fa fa-plus-circle"></i> {{'Add New Facility' | translate}}
                <a ng-click="cancel()" class="close-right pull-right" uib-tooltip="Close"
                   n-t='{"e_n":"Cancel Facilitate Admin","e_d":""}'><img src="images/close.png"></a>
            </h3>

        </div>
        <div class="modal-body clearfix">
            <form name="form" ng-submit="form.$valid && ftSubmit(facility)" novalidate>

                <div class="col-sm-12 p0">
                    <div class="form-group clearfix form-group-custom mb10">
                        <div class="col-sm-12"><label class="control-label"> {{'Facility Name' |
                            translate}} * : </label></div>
                        <div class="col-sm-12">
                            <input type="text" name="facility_name" ng-model="facility.facility_name"
                                  class="form-control" required>
                            <div ng-if="form.facility_name.$error.required && form.$submitted" class="error-message">
                                {{'This field is required'| translate}}
                            </div>
                        </div>
                    </div>
                </div>
                <!--<div class="col-sm-12 p0">
                    <div class="form-group clearfix form-group-custom mb10">
                        <div class="col-sm-12">
                            <label class="control-label">
                                {{'Facility Type' | translate}} *:
                            </label>
                        </div>
                        <div class="col-sm-12">
                            <select class="form-control" name="facility_type" ng-model="facility.facility_type" required>
                                <option value="term_loan">Term Loan</option>
                                <option value="demand_draft">Demand Draft</option>
                            </select>
                            <div ng-if="form.facility_type.$error.required && form.$submitted" class="error-message">
                                {{'This field is required'| translate}}
                            </div>
                        </div>

                    </div>
                </div>-->
                <div class="col-sm-12 p0">
                    <div class="form-group clearfix form-group-custom mb10">
                        <div class="col-sm-12">
                            <label class="control-label">
                                {{'Facility description' | translate}} * :
                            </label>
                        </div>
                        <div class="col-sm-12">
                            <textarea name="facility_description" ng-model="facility.facility_description" class="form-control" required></textarea>
                            <div ng-if="form.facility_description.$error.required && form.$submitted" class="error-message">
                                {{'This field is required'| translate}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 text-center mt10">
                    <button class="blue-btn"
                        n-t='{"e_n":"Save Facilitate Admin","e_d":""}'>
                        {{'Create' | translate}}
                    </button>
                    <button class="light-btn" type="button" ng-click="cancel()"
                        n-t='{"e_n":"Cancel Facilitate Admin","e_d":""}'>
                        {{'Cancel' | translate}}
                    </button>
                </div>
            </form>

        </div>
    </div>
</script>