<h3 class="fixed content-heading"> {{'Facilitate Setup' | translate}}
    <ul class="pull-right icons-right">
        <!--<li><a ui-sref="app.org-structure-view" ng-click="open()" uib-tooltip="Upload"><i
                class="fa fa-cloud-upload"></i></a></li>-->
        <li><a href="javascript:;" ng-click="FTModalOpen()" active-link="heading-active" uib-tooltip="close"><i
                class="fa fa-close-sm"></i></a></li>
    </ul>
</h3>

<div id="contentArea" class="content-area animated fadeInRight p-l-0">
    <div class="content-container clearfix mt20 light-blue-bg facilitate-types-wrap">
        <h1>Facilitate Types</h1>
        <div class="left-panel pull-left">
            <div class="pull-left pl10">

                <ul class="tab-accord-list">
                    <li>
                        <ul class="sub-list">
                            <li>
                                <div></div>
                                <i class="fa"></i><span class="f12">{{form.form_name}}</span>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!--contact-left-panel-->
        </div>
        <div class="contact-right-panel" >

            <div class="right-section-wrap">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="accordion_head clearfix p10 head-wrap-new">
                            <h1 class="f16 blue roboto-condensed mt5">{{formData.form_name}}</h1>
                            <span class="pull-right"></span>
                            <!-- <a title="Options" href="#"><i class="fa fa-check"></i></a>
                             <a href="javascript:;" data-toggle="dropdown" class="menu-toggle dropdown-toggle">
                                 <i class="fa fa-bars"></i> </a>
                             </span>-->
                            <!--<span ng-click="opened(group, $index)">{{form.form_name}}</span>-->
                        </div>
                    </div>
                    <div class="panel-body ">
                        <div class="col-lg-12 white-bg form-read-only">
                            <div></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Details Area _End-->
    </div>
</div>

