<h3 class="fixed content-heading"> {{'Facilitate Setup' | translate}}
    <ul class="pull-right icons-right">
        <!--<li><a ui-sref="app.org-structure-view" ng-click="open()" uib-tooltip="Upload"><i
                class="fa fa-cloud-upload"></i></a></li>-->
        <li><a ui-sref="facility.type" active-link="heading-active" uib-tooltip="close"
               n-t='{"e_n":"Back Admin","e_d":"{{facilityInfo.facility_name}}"}'><i
                class="fa fa-close-sm"></i></a></li>
    </ul>
</h3>

<div id="contentArea" class="content-area animated fadeInRight">
    <div class="content-container clearfix light-blue-bg p20 mb20 facilitate-setup-wrap">
        <h1 class="clearfix">
            <span class="f24 pull-left mr4"><i class="fa fa-home"></i></span>
            <span class="col-sm-6 pull-left mt5">
                <div class="form-group clearfix form-group-custom">
                    {{facilityInfo.facility_name}}
                    <!--<input type="text" class="form-control ng-pristine ng-valid ng-valid-required ng-touched" placeholder="LOAN NAME">-->
                </div>
            </span>
        </h1>
        <div class="col-sm-12 facilitate-setup-content">
            <div class="col-sm-3 page-right-wrap p0">
                <div class="v-tabs-wrap">
                    <ul>
                        <li>
                            <a  href="javascript:;" ui-sref="facility.view.general" n-t='{"e_n":"View facility General Admin","e_d":"{{facilityInfo.facility_name}}"}' active-link="tab-active"><i class="icon-clipped-file2"></i><span class="ng-binding">General</span></a>
                        </li>
                        <li>
                            <a  href="javascript:;" ui-sref="facility.view.price" n-t='{"e_n":"View facility Price Admin","e_d":"{{facilityInfo.facility_name}}"}' active-link="tab-active" ><i class="icon-eur-currency1"></i><span class="ng-binding">Pricing</span></a>
                        </li>
                        <li>
                            <a  href="javascript:;" ui-sref="facility.view.termconditions" n-t='{"e_n":"View facility Term & Conditions Admin","e_d":"{{facilityInfo.facility_name}}"}' active-link="tab-active"><i class=" icon-stars-list"></i><span class="ng-binding">Terms & Conditions</span></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-9 border-left p0 pb10">
                <ui-view>

                </ui-view>
            </div>
        </div>
    </div>
</div>

