<h3 class="fixed content-heading">Collaterals
    <div class="pull-right button-set" ng-if="permission.collateral_add">
        <a href="javascript:;" class="p5 f21 -mt"
           n-t='{"e_n":"Collateral - Add","e_d":"Collateral"}'
           ng-click="createCovenantModalOpen()" uib-tooltip="Add"><i class="icon-plus-circle"></i></a>
    </div>
</h3>

<div class="content-area animated fadeInRight" id="contentArea">
    <div class="content-container clearfix" ng-show="permission.collateral_list">
        <div class="col-sm-12 p0 mt20 clearfix clearboth">
            <div class="table-wrapper no-bg pt0 overflow-hidden plr20">
                <table class="table-list-view table c-table table-hover table-style" st-pipe="getCollateralList"
                       st-table>
                    <thead>
                    <tr>
                        <td colspan="7" class="pad0 border-bottom header-list-div">
                            <div class="col-sm-6 p0">
                                <div class="client-list-num"
                                     ng-class="{'active':filter_type === 'all_collateral'}"
                                     st-search="filter_type" st-input-event="click"
                                     ng-click="filter_type = 'all_collateral'">
                                        <span class="border-radius50 pull-left client-list-icon mr10">
                                            <i class="icon-all"></i></span>
                                    <span class=" display-block f12"> All Collateral</span>
                                    <span class=" darkcolor display-block f12 lh12 bold">{{all_collateral_count}}</span>
                                </div>
                                <div class="client-list-num"
                                     ng-class="{'active':filter_type === 'my_collateral'}"
                                     st-search="filter_type" st-input-event="click"
                                     ng-click="filter_type = 'my_collateral'">
                                        <span class="border-radius50 pull-left client-list-icon mr10"><i
                                                class="icon-users2"></i></span>
                                    <span class=" display-block f12"> My Collateral</span>
                                    <span class=" darkcolor display-block f12 lh12 bold">{{my_collateral_count}}</span>
                                </div>
                            </div>
                            <div class="col-sm-6 p0 mt5">
                                <div class="action-head mb0">
                                    <div class="table-search pull-left width-full">
                                        <input type="text" class="form-control" placeholder="Collateral Number / Type"
                                               st-search="search_key">
                                        <i class="fa icon-search"></i>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <th></th>
                        <th>Collateral</th>
                        <th>Value</th>
                        <th>Project name</th>
                        <th>Status</th>
                        <th>Created by</th>
                        <th></th>
                    </tr>
                    </thead>

                    <tbody class="hierarchical_slide" ng-if="collateralList.length>0" hierarchical-slide>
                    <!--<tr class="cursor-pointer" ng-repeat="row in collateralList" ng-show="!permission.collateral_view">-->
                    <tr class="cursor-pointer"
                        ng-click="permission.collateral_view?goToState('crm-collateral.collateral-view',{collateralId:(row.id_collateral | encode ),collateralTypeId:(row.collateral_type_id | encode )}):''"
                        ng-repeat="row in collateralList"
                        n-t='{"e_n":"collateral Details","e_d":"Collateral type - {{row.collateral_type_name}}, Collateral number -  {{collateralNumber}}"}'>
                        <td class="colleteral-listicon"><span><i class="f32 {{row.collateral_type_icon}}"></i></span></td>
                        <td>
                            <span class="label-text p0 display-block" title="{{row.collateral_number}}">{{row.collateral_number}} </span>
                            <span class="font-lato f13 darkcolor display-block">{{row.collateral_type_name}}</span>
                        </td>
                        <td>
                            <span class="label-text display-block">USD </span>
                            <span class="display-block" title="{{row.amount}}">{{row.usd_equal_amount | checkEmpty:'0' |currency }}</span>
                        </td>
                        <td>
                            <span class="label-text display-block"> </span>
                            <span class="display-block" title="{{row.project_title}}">{{row.project_title | capitalize | checkEmpty}}</span>
                        </td>
                        <td>
                            <span class="label-text display-block"> </span>
                            <span class="f11 " title="{{row.collateral_status}}" label-status="{{row.collateral_status}}">{{row.collateral_status | capitalize | checkEmpty}}</span>
                        </td>
                        <td>
                            <span class="label-text display-block">{{row.user_name}}</span>
                            <span class="font-lato f13 darkcolor display-block"  >{{row.updated_date_time|utcToLocal:'date'}}</span>

                        </td>
                        <td ng-click="$event.stopPropagation()">
                            <a ng-if="row.created_by==userId && row.collateral_status =='new'" class="fa fa-trash" uib-tooltip="Delete"
                               n-t='{"e_n":"Collateral - Delete","e_d":"Collateral - {{row.collateral_type_name}}"}'
                               ng-click="deleteCollateral(row.id_collateral)">
                            </a>
                            <!--<div class="pull-right" uib-dropdown="">
                                <div class="display-inline-block pull-right custom-list mt5" ng-if="permission.collateral_edit">
                                    <a class="menu-toggle dark-sky-blue dropdown-toggle"  uib-dropdown-toggle="" href="javascript:;" aria-expanded="false"><i class="fa fa-ellipsis-v f21"></i>
                                    </a>
                                    <ul class="dropdown-menu" dropdown-menu>
                                        <li>
                                            <a href="javascript:;" class="f14 darkcolor" ng-click="createCovenantModalOpen(row)"><i class="icon-edit"></i> Edit</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>-->
                        </td>
                    </tr>
                    </tbody>
                    <tfoot ng-if="collateralList">
                    <tr>
                        <td colspan="6" class="text-center">
                            <div st-items-by-page="10" st-pagination=""
                                 st-template="partials/list-pagination.custom.html" class="pull-right"></div>
                        </td>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>







