<h3 class="fixed content-heading">Collateral
    <div class="pull-right button-set">
        <a ui-sref="crm-collateral.list" uib-tooltip="Back"
           n-t='{"e_n":"Back Collateral Page","e_d":""}'><i class="fa fa-close-sm"></i></a>
    </div>
</h3>
<div class="col-sm-12 fixed clearfix  z1 fixed-top full-fixed-top" ng-class="{visible:boolChangeClass}" fixed-top>
    <div class="clearfix relative details-fixed-top border-none no-bg pad0">
        <div class="col-sm-12 clearfix p0">
            <div class="page-header-wrap mt0  box-shadow clearfix">
                <div class="display-inline-block wrapper-list c-wrap-list pt10 col-sm-12 clearfix">
                    <h3 class="f15 dark-sky-blue"></h3>
                    <ul>
                        <li>
                            <p class="f12 word-break">{{collateralDetails.collateral_type_name | translate}}</p>
                            <h3 class="f14 heading text-line">{{collateralDetails.collateral_number}}</h3>
                        </li>
                        <li>

                            <p class="f12 word-break">{{'Amount' | translate}}</p>
                            <h3 class="f14 heading text-line">$ {{collateralDetails.collateral_amount}}</h3>
                        </li>
                        <li>
                            <p class="f12 word-break">{{'Currency' | translate}}</p>
                            <h3 class="f14 heading text-line">USD</h3>

                        </li>
                        <li>
                            <p class="f12 word-break">{{'Country Office' | translate}}</p>
                            <h3 class="f14 heading text-line" title="{{projectDetails.sector}}">Uganda</h3>

                        </li>
                        <li>
                            <div class="display-inline-block pull-left">
                                <p class="f12">{{'Days in your hand' | translate}}</p>
                                <h3 class="f14 bold text-line" label-status="{{projectDetails.project_status}}">5 Days</h3>
                            </div>
                        </li>
                        <li>
                            <div class="display-inline-block pull-left">
                                <p class="f12 ">{{'Last Date to report' | translate}}</p>
                                <h3 class="f14 bold text-line" label-status="{{projectDetails.project_status}}">Today</h3>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="content-area animated fadeInRight" id="contentArea">

    <div class="content-container clearfix">

        <div class="col-sm-12 p0">
            <div class="page-header-wrap white-bg box-shadow clearfix relative mb15">
                <div class="display-inline-block wrapper-list c-wrap-list pt10 col-sm-12 clearfix" ng-init="getProjectDetails()">
                    <h3 class="f15 dark-sky-blue"></h3>
                    <ul>
                        <li>
                            <p class="f12 word-break">{{collateralDetails.collateral_type_name | translate}}</p>
                            <h3 class="f14 heading text-line">{{collateralDetails.collateral_number}}</h3>
                        </li>
                        <li>

                            <p class="f12 word-break">{{'Amount' | translate}}</p>
                            <h3 class="f14 heading text-line">$ {{collateralDetails.collateral_amount}}</h3>
                        </li>
                        <li>
                            <p class="f12 word-break">{{'Currency' | translate}}</p>
                            <h3 class="f14 heading">USD</h3>

                        </li>
                        <li>
                            <p class="f12 word-break">{{'Country Office' | translate}}</p>
                            <h3 class="f14 heading" title="{{projectDetails.sector}}">Uganda</h3>

                        </li>
                        <li>
                            <div class="display-inline-block pull-left">
                                <p class="f12">{{'Days in your hand' | translate}}</p>
                                <h3 class="f14 bold " label-status="{{projectDetails.project_status}}">5 Days</h3>
                            </div>
                        </li>
                        <li>
                            <div class="display-inline-block pull-left">
                                <p class="f12 ">{{'Last Date to report' | translate}}</p>
                                <h3 class="f14 bold " label-status="{{projectDetails.project_status}}">Today</h3>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="clearfix"></div>
                <div class="textinfo-block border-top col-sm-12 pb10" ng-show="infoBox">
                    <label class="f12">Description</label>
                    <p class="f14 darkcolor">{{project_description}}</p>
                </div>
                <div class="slide-img" ng-click="infoBox=!infoBox"></div>
            </div>
        </div>

        <div class=" col-lg-12 col-sm-12 plr20 mb20 mt5">

            <div class="col-lg-9 col-sm-8 pl0 clearfix clearboth">
                <div class="col-sm-12 p0 white-bg">
                    <div class="col-sm-12 border-left p0 pb10" ng-if="template">
                        <div ng-include="'partials/crm/collateral/forms/'+template"></div>
                    </div>

                </div>
            </div>
            <div class="col-lg-3 col-sm-4 page-right-wrap p0">
                <h6 class="darkcolor text-capitalize ptb10 f14 fontBold border plr15 white-bg">Collateral Info</h6>
                <div class="v-tabs-wrap">
                    <ul>
                        <li class="tab-active active">
                            <a class="list-switcher" href="javascript:;" ng-init="template='dynamic_form.html'" ng-click="template='dynamic_form.html';stageTitle=collateralInfo.collateral_type_name;collateral_stage_icon=collateralInfo.collateral_type_icon" active-link="tab-active">
                                <i class="{{collateralInfo.collateral_type_icon}}"></i>
                                <span class="ng-binding collateral-tab-text"> {{collateralInfo.collateral_type_name}}</span>
                            </a>
                        </li>
                        <!--<li class="tab-active">
                            <a class="list-switcher" href="javascript:;"  active-link="tab-active"><i class="icon-clipped-file2"></i><span class="ng-binding collateral-tab-text">General</span>
                            </a>
                        </li>-->
                        <li ng-repeat="cs in collateralStageList">
                            <a  href="javascript:;" ng-click="changeTemplate(cs)"
                                n-t='{"e_n":"View {{cs.collateral_stage_name}} Collateral","e_d":"{{cs.collateral_stage_name}}"}'
                                active-link="tab-active" ><i class="{{cs.collateral_stage_icon}}"></i><span class="ng-binding collateral-tab-text">{{cs.collateral_stage_name}}</span>
                                <div class="onoffswitch pull-right valign-top collateral-switch">
                                </div>
                            </a>
                        </li>
                        <li class="tab-active">
                            <a class="list-switcher" href="javascript:;"  ng-click="template='facility.html';stageTitle='Facility'" active-link="tab-active">
                                <i class="fa icon-clipped-file2"></i>
                                <span class="ng-binding collateral-tab-text">Facility</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-12 white-bg p0 mt10 border">
                    <h6 class="darkcolor text-capitalize ptb10 f14 fontBold border-bottom mb5 plr15">Collateral Owner info</h6>
                    <div class="col-sm-12 border-bottom p0 pb10 pt5">
                        <h6 class="f14 sky-blue ml15 mb10">Aponye Uganda Limited</h6>
                        <div class="col-sm-6">
                            <div class="form-group form-group-custom mb10">
                                <label class="light-blue display-block lh12">Compnay</label>
                                <label class=" darkcolor display-block lh12">Savera Hotels</label>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group form-group-custom mb10">
                                <label class="light-blue display-block lh12"># Loans</label>
                                <label class="darkcolor display-block lh12">1</label>
                            </div>
                        </div>
                        <div class="row"></div>
                        <div class="col-sm-6">
                            <div class="form-group form-group-custom mb10">
                                <label class="light-blue display-block lh12">Contacts</label>
                                <label class="darkcolor display-block lh12">Fiona</label>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group form-group-custom mb10">
                                <label class="light-blue display-block lh12">Amount ($)</label>
                                <label class="darkcolor display-block lh12">----</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 white-bg p0 mt10 border">
                    <h6 class="darkcolor text-capitalize ptb10 f14 fontBold border-bottom plr15">Other Collatrals</h6>
                    <div class="col-sm-12 border-bottom p5">
                        <div class="col-sm-12 ash-bg p0 border">
                            <h6 class="f14 sky-blue pt5 border-bottom p5 col-sm-12 mb10">Colletral #: 9489302500012
                                <span class="col-sm-8 ash f11 light-blue p0">Last Review:
                                    <strong class="darkcolor">23 Aug, 2016</strong>
                                </span>
                                <i class="col-sm-4 icon-warning text-right red f18 p0 -mt8">
                                    <span class="f21">1</span></i>
                            </h6>

                            <div class="col-sm-6">
                                <div class="form-group form-group-custom mb10">
                                    <label class="light-blue display-block lh12">Type</label>
                                    <label class=" darkcolor display-block lh12">Vehicle</label>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group form-group-custom mb10">
                                    <label class="light-blue display-block lh12">Amount</label>
                                    <label class="darkcolor display-block lh12">$ 123,560.000</label>
                                </div>
                            </div>
                            <div class="row"></div>
                            <div class="col-sm-6">
                                <div class="form-group form-group-custom mb10">
                                    <label class="light-blue display-block lh12">Currency</label>
                                    <label class="darkcolor display-block lh12">USD</label>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group form-group-custom mb10">
                                    <label class="light-blue display-block lh12">Stage</label>
                                    <label class="darkcolor display-block lh12">Legal Openion</label>
                                </div>
                            </div>
                            <div class="row"></div>
                            <div class="col-sm-6">
                                <div class="form-group form-group-custom mb10">
                                    <label class="control-label display-block lh12">Status</label>
                                    <label class="orange lh12 display-block">Process</label>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group form-group-custom mb10">
                                    <label class="light-blue display-block lh12">Next Review in:</label>
                                    <label class=""><span class="red-bg white-color p2 lh12">30</span> Days</label>
                                </div>
                            </div>
                            <div class="row"></div>
                            <div class="col-sm-12">
                                <div class="form-group form-group-custom mb10">
                                    <label class="light-blue display-block lh12">Location</label>
                                    <label class="darkcolor display-block lh12">4028-4046 Mowry Ave, Fremont, CA 94538, USA</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>







