<div class="right-modal modal-custom" data-modal="addedcontacts">
    <h3 class="right-modal-head">
        <i class="icon-users1 mr8"></i> {{'contact.relations'| translate}}
        <a class="close-right pull-right" ng-click="cancel()" uib-tooltip="Close"><img src="images/close.png"></a>
    </h3>
    <form class="form-horizontal form-bordered" name="form" novalidate>
        <div class="clearfix">
            <div class="col-sm-12 p0 attachment-list">
                <div class="p15 bg-box">
                    <div class="mapping-search">
                        <input class="form-control" style="padding: 8px;"
                               placeholder="Search Contacts"
                               type="text" ng-model="asyncSelected"
                               typeahead-on-select="onSelect($item, $model, $label)"
                               uib-typeahead="contacts as (contacts.first_name +' '+ contacts.last_name) for contacts in searchRelations($viewValue)"
                               typeahead-template-url="contactListTemplate.html"
                               typeahead-loading="loadingContacts"
                               typeahead-no-results="noResults">
                        <i class="fa  fa-search icon-search f16 pt2 darkblue"></i>
                        <a data-ng-click="addContact()" data-ng-show="visibleAddButton" class="go">
                            <i class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <div class="col-sm-12 bg-box mb10" data-ng-if="visibleRelationDropDown">
                    <div class="col-sm-6 p-l-0">
                        <div class="col-sm-2 p0  text-img">
                            <span first-alpha="{{new_contact.client_first_name}}"></span>
                        </div>
                        <div class="col-sm-10 p-l-0">
                            <p class="f14">{{ new_contact.client_first_name }} {{ new_contact.client_last_name }}</p>
                            <a class="display-block f12 sky-blue" href="mailto:{{ new_contact.client_email }}">{{new_contact.client_email}}</a>
                        </div>
                    </div>
                    <div class="col-sm-6 form-group clearfix form-group-custom">
                        <div id="designation"><label class="label-text">{{'contact.relation_type' | translate}}*</label>
                            <div class="form-group clearfix form-group-custom">
                                <select class="form-control chosen-select" chosen
                                        ng-init="masterDropDownList({'master_key':'contact_to_contact'})"
                                        ng-model="relationForm.id" name="relation_name"
                                        ng-options="item.child_key as item.name for item in dropDownItems['contact_to_contact']"
                                        required>
                                    <option value="">--{{'contact.select_relation'| translate}}--</option>
                                </select>
                                <div ng-if="form.relation_name.$error.required && form.$submitted"
                                     class="error-message">{{'contact.select_relation'| translate}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 text-center">
                        <button class="btn btn-primary border-none btn-dark f12 mr4" type="submit"
                                ng-click="saveContact(new_contact,relationForm,form)"><i class="fa fa-plus-circle"></i> {{'Save' | translate}}
                        </button>
                        <button class="btn btn-primary f12 border-none lt-bg" ng-click="cancelAssign()">{{'Cancel' | translate}}</button>
                    </div>
                </div>
                <div class="list-header col-sm-12 mt15 clearfix pb5" ng-if="selectedRelationsListData.length > 0">
                    <h4 class="text-capitalize dark-blue f14">{{'contact.added_relations' | translate}}</h4>
                </div>
                <div class="list-table col-sm-12 companies-list">
                    <ul class="list-items">
                        <li class="clearfix border mb3" ng-repeat="row in selectedRelationsListData">
                            <a target="_blank" ui-sref="contact.contact-list({id:row.crm_contact_id})">
                                <div class="col-sm-2 text-img">
                                    <span first-alpha="{{row.contact_details.first_name}}"></span>
                                </div>
                            </a>
                            <div class="col-sm-4">
                                <p class="f14"><a class="darkcolor">{{ row.contact_details.first_name }} {{ row.contact_details.last_name }}</a></p>
                                <a class="display-block f12 sky-blue" href="mailto:{{ row.contact_details.email }}">{{ row.contact_details.email |checkEmpty }}</a>
                            </div>
                            <div class="col-sm-3 text-center">
                                <p class="f12 gray">{{ row.relation_name | underscoreless | capitalize}} </p>
                            </div>
                            <a uib-tooltip="Delete" ng-click="removeRelationContact(row)"
                               href="javascript:;" class="pull-right mr15 mt15"><img class="h13" src="images/close.png"> </a>
                            <div class="col-sm-2 map-chart text-center pull-right">
                                <span class="chart" easypiechart percent="row.percentage" options="anotherOptions">
                                    <span class="percent" ng-bind="row.percentage"></span>
                                </span>
                            </div>
                        </li>
                    </ul>
                    <div class="text-center f12 pt15" ng-if="selectedRelationsListData.length == 0">
                        {{'contact.no_relations_found' | translate}}
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>


<script type="text/ng-template" id="contactListTemplate.html">
    <a>
        <div class="list-item p5 clearfix">
            <div class="list-desc col-sm-8">
                <p class="list-item-title blue">{{match.model.first_name}} {{match.model.last_name}}</p>
                <ul>
                    <li>{{match.model.email}}</li>
                </ul>
            </div>
        </div>
    </a>
</script>