<h3 class="fixed content-heading">{{'Entity Structure' | translate}}
    <ul class="pull-right icons-right">
        <li><a ui-sref="entity.branch-structure-view" active-link="heading-active" uib-tooltip="Structure"
               n-t='{"e_n":"Structure - Admin Branch Structure","e_d":""}'><i
                class="fa fa-sitemap"></i></a></li>
        <li><a ui-sref="entity.branch-structure" active-link="heading-active" uib-tooltip="List"
               n-t='{"e_n":"List - Admin Branch Structure","e_d":""}'><i
                class="fa  fa-server"></i></a></li>
        <!--<li><a ><i class="fa fa-ellipsis-v" uib-tooltip="Options"></i></a></li>-->
    </ul>
</h3>

<div id="contentArea" class="content-area animated fadeInRight">

    <div class="content-container clearfix light-blue-bg pl20 pr10 pb28">
        <div class="col-sm-12 mt20 p0" data-ng-if="branchTree.length > 1">
            <div class="col-sm-8 col-lg-6 p0">
               <label class="f14 col-sm-3 col-lg-3 p0 mt5 darkcolor">{{'Select Structure' | translate}}: </label>
                <div class="col-sm-6 col-lg-4 p0">
                    <select ng-change="branchChange(reporting_branch_id)" chosen class="chosen-select form-control "
                            ng-model="reporting_branch_id"
                            ng-options="branch.id_branch as branch.legal_name+' ('+branch.branch_type_name+')' for branch in branchTree">
                        <option value="">--{{'All' | translate}}--</option>
                    </select>
                </div>

            </div>
        </div>
        <div class="clearfix"></div>
        <div class="clearfix mt15">
            <div class="legend-view">
                <ul>
                    <li ng-repeat="branchType in branchTypes ">
                        <span class="box-color" bk-color="{{branchType.branch_type_id}}"></span>
                        <lable class="box-info">{{branchType.branch_type_name}}</lable>
                    </li>
                </ul>
            </div>
        </div>
        <div ng-if="createNewBtn">
            <a class="btn btn-primary btn-dark f12" ng-click="createBranch(branchTypes[0].branch_type_id,branchTypes[0].reporting_branch_type_id)"
               n-t='{"e_n":"Create Branch - Admin Branch Structure","e_d":""}'>
                {{'Create New Branch' | translate}}
            </a>
        </div>
        <div class="tree b-tree clearfix horizontal-div-for-scroll custom-width-new" cols-horizontal>
            <ul class="clearfix main-str" ng-if="brachTreeShow">
                <li ng-repeat="data in branchTreeStructure" ng-include="'tree_item_renderer.html'"></li>
            </ul>
        </div>
    </div>

</div>
<script type="text/ng-template" id="tree_item_renderer.html">
    <div class="node" bk-color="{{data.branch_type_id}}">
        <p>{{data.legal_name}}</p>

        <p>{{data.branch_type_name}}</p>

        <div class="control-wrap">
            <p class="no-count" ng-if="data.nodes.length>0" child-count="data"></p>

           
            <ul>
                <li ng-click="editBranch(data.id_branch)"
                    uib-tooltip="Edit branch"
                    n-t='{"e_n":"Edit Branch - Admin Branch Structure","e_d":"{{data.branch_type_name}}"}'>
                    <span><i class="fa fa-pencil white-color"></i></span>
                </li>

                <li ng-click="createBranch(data.branch_type_id,data.id_branch)"
                    uib-tooltip="Create branch"
                    n-t='{"e_n":"Create Branch - Admin Branch Structure","e_d":"{{data.branch_type_name}}"}'>
                    <span><i class="fa fa-plus-circle white-color"></i></span>
                </li>
                <li ng-click="branchViewModal(data.id_branch)"
                    uib-tooltip="View branch"
                    n-t='{"e_n":"View Branch - Admin Branch Structure","e_d":"{{data.branch_type_name}}"}'>
                    <span><i class="fa fa-eye white-color"></i></span>
                </li>
            </ul>


        </div>
    </div>


    <ul ng-if="data.nodes.length > 0">
        <li ng-repeat="data in data.nodes" ng-include="'tree_item_renderer.html'"></li>
    </ul>
</script>