<h3 class="fixed content-heading">Collateral
    <div class="pull-right button-set">
        <a ui-sref="project.project-list({id:(currentProjectViewId | encode )})" uib-tooltip="Back"><i class="fa fa-close-sm"></i></a>
    </div>
</h3>

<div class="col-sm-12 fixed clearfix  z1 fixed-top full-fixed-top" ng-class="{visible:boolChangeClass}" fixed-top>
    <div class="clearfix relative details-fixed-top border-none no-bg pad0">
        <div class="col-sm-12 clearfix p0">
            <div class="page-header-wrap mt0  box-shadow clearfix">
                <div class="display-inline-block wrapper-list c-wrap-list pt10 col-sm-10 clearfix">
                    <h3 class="f15 dark-sky-blue">Aponye Uganda Limited</h3>
                    <ul>
                        <li>
                            <p class="f12 word-break">{{'Company' | translate}}</p>
                            <h3 class="f14 heading">Savera Hotels</h3>
                        </li>
                        <li>

                            <p class="f12 word-break">{{'Contacts' | translate}}</p>
                            <h3 class="f14 heading">Fiona</h3>
                        </li>
                        <li>
                            <p class="f12 word-break">{{'# Loans' | translate}}</p>
                            <h3 class="f14 heading">1</h3>

                        </li>
                        <li>
                            <p class="f12 word-break">{{'Amount($)' | translate}}</p>
                            <h3 class="f14 heading" title="{{projectDetails.sector}}">1,25,000</h3>

                        </li>
                        <li>
                            <div class="display-inline-block pull-left mt5 -ml8"><i class="icon-arrow-down red f21 fontBold"></i></div>
                            <div class="display-inline-block pull-left">
                                <p class="f12">{{'Current Share' | translate}}</p>
                                <h3 class="f14 bold " label-status="{{projectDetails.project_status}}">2.5%</h3>
                            </div>
                        </li>
                        <li>
                            <div class="display-inline-block pull-left">
                                <p class="f12 ">{{'Rating' | translate}}</p>
                                <h3 class="f14 bold " label-status="{{projectDetails.project_status}}">B</h3>
                            </div>
                            <div class="display-inline-block green fontBold f24 pull-left mt5 ml2"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="display-inline-block pull-right relative">
                    <div class="display-inline-block thin-red-bg-wrap">
                        <span class="box-rating">
                            <p class="f32"><i class="icon-eye"></i></p>
                            <h3 class="f14 bold " label-status="{{projectDetails.project_status}}">Flowchart</h3>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="content-area animated fadeInRight" id="contentArea">

    <div class="content-container clearfix">

        <div class="col-sm-12 p0">
            <div class="page-header-wrap white-bg box-shadow clearfix relative mb15">
                <div class="display-inline-block wrapper-list c-wrap-list pt10 col-sm-10 clearfix" ng-init="getProjectDetails()">
                    <h3 class="f15 dark-sky-blue">Aponye Uganda Limited</h3>
                    <ul>
                        <li>
                            <p class="f12 word-break">{{'Company' | translate}}</p>
                            <h3 class="f14 heading">Savera Hotels</h3>
                        </li>
                        <li>

                            <p class="f12 word-break">{{'Contacts' | translate}}</p>
                            <h3 class="f14 heading">Fiona</h3>
                        </li>
                        <li>
                            <p class="f12 word-break">{{'# Loans' | translate}}</p>
                            <h3 class="f14 heading">1</h3>

                        </li>
                        <li>
                            <p class="f12 word-break">{{'Amount($)' | translate}}</p>
                            <h3 class="f14 heading" title="{{projectDetails.sector}}">1,25,000</h3>

                        </li>
                        <li>
                            <div class="display-inline-block pull-left mt5 -ml8"><i class="icon-arrow-down red f21 fontBold"></i></div>
                            <div class="display-inline-block pull-left">
                                <p class="f12">{{'Current Share' | translate}}</p>
                                <h3 class="f14 bold " >2.5%</h3>
                            </div>
                        </li>
                        <li>
                            <div class="display-inline-block pull-left">
                                <p class="f12 ">{{'Rating' | translate}}</p>
                                <h3 class="f14 bold " label-status="{{projectDetails.project_status}}">B</h3>
                            </div>
                            <div class="display-inline-block green fontBold f24 pull-left mt5 ml2"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="display-inline-block pull-right relative">
                    <div class="display-inline-block thin-red-bg-wrap">
                        <span class="box-rating">
                            <p class="f32"><i class="icon-eye"></i></p>
                            <h3 class="f14 bold " label-status="{{projectDetails.project_status}}">Flowchart</h3>
                        </span>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="textinfo-block border-top col-sm-12 pb10" ng-show="infoBox">
                    <label class="f12">Description</label>
                    <p class="f14 darkcolor">{{project_description}}</p>
                </div>
                <div class="slide-img" ng-click="infoBox=!infoBox"></div>
            </div>
        </div>

        <div class=" col-lg-12 col-sm-12 plr20 mb20 mt5">

            <div class="col-lg-9 col-sm-8 mt5 pl0 clearfix clearboth">
                <div class="div-header clearfix  border-bottom  white-bg" >
                    <h3 class="darkcolor pull-left display-inline-block f14 roboto-bold text-capitalize p15">Collateral</h3>
                    <div class="pull-right mr10 mt5">
                        <div class="display-inline-block pull-left mr4 mt3">
                            <div class="table-search pull-left width220">
                                <input type="text" placeholder="Search" ng-model="coventSearch" class="form-control ng-pristine ng-valid ng-touched" style="">
                                <i class="fa icon-search mt8"></i>
                            </div>
                        </div>

                        <a href="javascript:;" class="p5 f21 -mt" ng-click="CreateCovenantModalOpen()" uib-tooltip="Add"><i class="icon-plus-circle"></i></a>
                    </div>
                </div>

                <div class="col-sm-12 p0 white-bg">
                    <div class="col-sm-12 pt10 f12">
                        <span class="red"><i class="fa fa-warning mr5 red f18 valign-bottom"></i> 5 covenants due</span>
                    </div>
                    <!---->
                    <div class="col-sm-12 p10 white-bg clearfix">
                        <div class="col-sm-12 border p0 light-bg">
                            <div class="col-sm-12 p0 border-bottom pt5 pb5 clearfix">
                                <div class="col-sm-6">
                                    <h3 class="sky-blue mt5 f16"><span class="fa fa-clock-o mr10 red"></span>Collateral #: 9489302500012</h3>
                                </div>
                                <div class="col-sm-6">
                                    <div class="text-right pull-right">
                                        <div class="display-inline-block pull-right custom-list">
                                            <a class="menu-toggle f13 dark-sky-blue dropdown-toggle" data-toggle="dropdown" href="javascript:;" aria-expanded="false"><i class="fa fa-ellipsis-v"></i>
                                            </a>
                                            <ul class="dropdown-menu cust-dropdown">
                                                <li>
                                                    <a href="javascript:;" class="f14 darkcolor"><i class="icon-edit"></i>Edit</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:;" class="f14 darkcolor"><i class="icon-trash"></i>Delete</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="p0 f12 mt5 pull-right mr20">
                                        <span class="ash">Next Review: <span class="red-bg p2 white-color mr4">30</span><strong class="darkcolor">Days</strong></span>
                                    </div>
                                    <div class="p0 f12 mt5 pull-right mr20">
                                        <span class="ash">Last Review: <strong class="darkcolor">23 Aug,2016</strong></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 p0 pt5 clearfix">
                                <div class="col-sm-3 border-right">
                                    <label class="label-text display-block">Type</label>
                                    <label class="bold f14 darkcolor">Vehicle</label>
                                </div>
                                <div class="col-sm-2 border-right">
                                    <label class="label-text display-block">Amount</label>
                                    <label class="bold f14 darkcolor">$ 123,560.000</label>
                                </div>
                                <div class="col-sm-2 border-right">
                                    <div class="col-sm-11 pr0 pl5 clearfix">
                                        <label class="label-text display-block">Currency</label>
                                        <label class="bold f14 darkcolor">USD</label>
                                    </div>
                                </div>
                                <div class="col-sm-5">
                                    <div class="col-sm-10 p0">
                                        <label class="label-text display-block">Stage</label>
                                        <label class="bold f14 darkcolor text-line">Leagal Openion</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 p0 pt5 clearfix">
                                <div class="col-sm-5 border-right">
                                    <label class="label-text display-block">Location</label>
                                    <label class="bold f14 darkcolor">4028-4046 Mowry Ave, Fremont, CA 94538, USA</label>
                                </div>
                                <div class="col-sm-2 border-right">
                                    <label class="label-text display-block">Status</label>
                                    <label class="bold f14 orange">Process</label>
                                </div>
                                <div class="col-sm-5">
                                    <div class="col-sm-11 pr0 pl5 clearfix">
                                        <label class="label-text display-block">Description</label>
                                        <label class="bold f14 darkcolor text-line">due to not submiting the original document</label>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!---->
                    <div class="col-sm-12 p10 white-bg clearfix">
                        <div class="col-sm-12 border p0 light-bg">
                            <div class="col-sm-12 p0 border-bottom pt5 pb5 clearfix">
                                <div class="col-sm-6">
                                    <h3 class="sky-blue mt5 f16"><span class="fa fa-thumbs-o-down mr10 red"></span>Collateral #: 9489302500012</h3>
                                </div>
                                <div class="col-sm-6">
                                    <div class="pull-right">
                                        <div class="display-inline-block pull-right custom-list">
                                            <a class="menu-toggle f13 dark-sky-blue dropdown-toggle" data-toggle="dropdown" href="javascript:;" aria-expanded="false"><i class="fa fa-ellipsis-v"></i>
                                            </a>
                                            <ul class="dropdown-menu cust-dropdown">
                                                <li>
                                                    <a href="javascript:;" class="f14 darkcolor"><i class="icon-edit"></i>Edit</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:;" class="f14 darkcolor"><i class="icon-trash"></i>Delete</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="p0 f12 mt5 pull-right mr20">
                                        <span class="red"><i class="fa fa-warning mr5 red f18 valign-bottom"></i> 3</span>
                                    </div>
                                    <div class="p0 f12 text-right mt5 pull-right mr20">
                                        <span class="ash">Last Review: <strong class="darkcolor">23 Aug,2016</strong></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 p0 pt5 clearfix">
                                <div class="col-sm-3 border-right">
                                    <label class="label-text display-block">Type</label>
                                    <label class="bold f14 darkcolor">Vehicle</label>
                                </div>
                                <div class="col-sm-2 border-right">
                                    <label class="label-text display-block">Amount</label>
                                    <label class="bold f14 darkcolor">$ 123,560.000</label>
                                </div>
                                <div class="col-sm-2 border-right">
                                    <div class="col-sm-11 pr0 pl5 clearfix">
                                        <label class="label-text display-block">Currency</label>
                                        <label class="bold f14 darkcolor">USD</label>
                                    </div>
                                </div>
                                <div class="col-sm-5">
                                    <div class="col-sm-10 p0">
                                        <label class="label-text display-block">Stage</label>
                                        <label class="bold f14 darkcolor text-line">Leagal Openion</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 p0 pt5 clearfix">
                                <div class="col-sm-5 border-right">
                                    <label class="label-text display-block">Location</label>
                                    <label class="bold f14 darkcolor">4028-4046 Mowry Ave, Fremont, CA 94538, USA</label>
                                </div>
                                <div class="col-sm-2 border-right">
                                    <label class="label-text display-block">Status</label>
                                    <label class="bold f14 red">Rejected</label>
                                </div>
                                <div class="col-sm-5">
                                    <div class="col-sm-11 pr0 pl5 clearfix">
                                        <label class="label-text display-block">Description</label>
                                        <label class="bold f14 darkcolor text-line">due to not submiting the original document</label>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!---->
                    <div class="col-sm-12 p10 white-bg clearfix">
                        <div class="col-sm-12 border p0 light-bg">
                            <div class="col-sm-12 p0 border-bottom pt5 pb5 clearfix">
                                <div class="col-sm-6">
                                    <h3 class="sky-blue mt5 f16"><span class="fa fa-thumbs-o-up mr10 green"></span>Collateral #: 9489302500012</h3>
                                </div>
                                <div class="col-sm-6">
                                    <div class="">
                                        <div class="display-inline-block pull-right custom-list">
                                            <a class="menu-toggle f13 dark-sky-blue dropdown-toggle" data-toggle="dropdown" href="javascript:;" aria-expanded="false"><i class="fa fa-ellipsis-v"></i>
                                            </a>
                                            <ul class="dropdown-menu cust-dropdown">
                                                <li>
                                                    <a href="javascript:;" class="f14 darkcolor"><i class="icon-edit"></i>Edit</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:;" class="f14 darkcolor"><i class="icon-trash"></i>Delete</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="p0 f12 mt5 pull-right mr20">
                                        <span class="red"><i class="fa fa-warning mr5 red f18 valign-bottom"></i> 3</span>
                                    </div>
                                    <div class="p0 f12 mt5 pull-right mr20">
                                        <span class="ash">Last Review: <strong class="darkcolor">23 Aug,2016</strong></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 p0 pt5 clearfix">
                                <div class="col-sm-3 border-right">
                                    <label class="label-text display-block">Type</label>
                                    <label class="bold f14 darkcolor">Vehicle</label>
                                </div>
                                <div class="col-sm-2 border-right">
                                    <label class="label-text display-block">Amount</label>
                                    <label class="bold f14 darkcolor">$ 123,560.000</label>
                                </div>
                                <div class="col-sm-2">
                                    <div class="col-sm-11 pr0 pl5 clearfix">
                                        <label class="label-text display-block">Currency</label>
                                        <label class="bold f14 darkcolor">USD</label>
                                    </div>
                                </div>
                                <div class="col-sm-5">
                                    <div class="pull-right p0 text-center cursor-pointer">
                                        <span class="f18 display-block icon-eye"></span>
                                        <label class="bold f14 darkcolor display-block line-height14">Total Docs</label>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 p0 pt5 clearfix">
                                <div class="col-sm-5 border-right">
                                    <label class="label-text display-block">Location</label>
                                    <label class="bold f14 darkcolor">4028-4046 Mowry Ave, Fremont, CA 94538, USA</label>
                                </div>
                                <div class="col-sm-2">
                                    <label class="label-text display-block">Status</label>
                                    <label class="bold f14 green">Approved</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-lg-3 col-sm-4 mt5 pl0 pr0 white-bg">
                <div>
                    <div class="tabs-wrap" doc-height>
                        <uib-tabset justified="true">
                            <uib-tab heading="{{'Intelligence' | translate}}">
                                <div class="scroll-div-wrap">


                                    <div class="people-wrap clearfix" ng-repeat="row in knowledgeDetails" >
                                        <a class="display-block" href="javascript:;" target="_blank" ui-sref="project.project-overview({id:(row.id_crm_project | encode )})">
                                            <div class="pull-left p5 img-wrap">
                                                <span first-alpha="{{row.project_title}}"></span>
                                            </div>
                                            <div class="p5">
                                                <p class="darkcolor bold f12">{{row.project_title}}</p>
                                                <p class="f12 dark" data-ng-bind-html="row.project_description | ellipsis:60"></p>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="no-knowledgedata-view" ng-show="knowledgeDetails==null">No intelligence data available on this topic. <div class="text-center"><a class="btn lt-bg btn-primary f14 border-none display-inline-block mt10">Ask for Help</a></div></div>

                                </div>
                            </uib-tab>
                            <uib-tab heading="{{'Knowledge' | translate}}">
                                <div class="scroll-div-wrap">

                                    <div class="people-wrap clearfix" ng-repeat="data in knowledgeData" ng-click="modalOpen(data)" >
                                        <a ui-sref="knowledge-management.item-view({ id: data.id_knowledge_document})"  target="_blank" class="display-block">
                                            <div class="pull-left p5 k-img" knowledge-icons data-image="{{data.document_type}}" ></div>
                                            <div class="pl100 p5">
                                                <p class="darkcolor bold mb3 f14">{{data.document_title}} </p>
                                                <p class="f12 mb3" data-ng-bind-html="data.document_description | ellipsis:50"></p>
                                                <p class="sky-blue f14"><i class="fa fa-eye f18 mr4 darkcolor valign-top display-inline-block"></i> No. of views  <span class="darkcolor ml5 bold">{{data.number_of_views}}</span></p>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="no-knowledgedata-view" ng-show="knowledgeData == ''">No knowledge base available on this topic <div class="text-center"><a ui-sref="knowledge-management.knowledge-dashboard" class="btn lt-bg btn-primary f14 border-none display-inline-block mt10">Click to Add</a></div></div>

                                </div>
                            </uib-tab>

                            <uib-tab heading="{{'People' | translate}}">
                                <div class="scroll-div-wrap">

                                    <div class="people-wrap clearfix" ng-repeat="data in peopleDetails">
                                        <div class="peopleImgWrap">
                                            <!--<img class="img-circle" src="images/default-img.png" alt="image"/>-->
                                            <img ng-src="{{data.profile_image || 'images/default-img.png'}}"/>
                                        </div>
                                        <div class="peopleDetails-wrap">
                                            <p class="peopleName darkcolor bold f12">{{data.username}}</p>
                                            <p class="peopleDesig">{{data.approval_name}}</p>
                                        </div>
                                    </div>
                                    <div  class="no-knowledgedata-view" ng-show="peopleDetails == null">No contacts available on this topic<div class="text-center"><a class="btn lt-bg btn-primary f14 border-none display-inline-block mt10">Click to Add</a></div></div>

                                </div>
                            </uib-tab>
                        </uib-tabset></div>


                </div>
            </div>

        </div>

    </div>
</div>
<script type="text/ng-template" id="knowledge-details.html">
    <div class="modal-wrap right-modal modal-custom">
        <div class="clearfix">
            <h3 class="right-modal-head">
                <i class="fa fa-sitemap mr8"></i>{{knowledgeData.document_title}}
                <a ng-click="cancel()" uib-tooltip="Close" class="close-right pull-right"><img src="images/close.png"></a>
            </h3>

        </div>
        <div class="modal-body clearfix">

            <div class="col-sm-12 p0">
                <div class="form-group clearfix form-group-custom mb10">
                    <div class="col-sm-2"><label class="f13 ash">Title:</label></div>
                    <div class="col-sm-8 f14">
                        {{knowledgeData.document_title}}
                    </div>
                </div>
            </div>
            <div class="col-sm-12 p0">
                <div class="form-group clearfix form-group-custom mb10">
                    <div class="col-sm-2"><label class="f13 ash">Description:</label></div>
                    <div class="col-sm-8 f14" data-ng-bind-html="knowledgeData.document_description"></div>
                </div>
            </div>
            <div class="col-sm-12 p0" ng-if="knowledgeData.document_type == 'document'">
                <div class="form-group clearfix form-group-custom mb10">
                    <div class="col-sm-2"><label class="f13 ash">File:</label></div>
                    <div class="col-sm-8 p0">
                        <div class="btn-custom mt10">
                            <a href="{{knowledgeData.document_source}}" class="f14 sky-blue" download target="_blank"><i class="fa fa-download mlr5"></i>Download</a><span class="f12"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 p0" ng-if="knowledgeData.document_type == 'video'">
                <div class="form-group clearfix form-group-custom mb10">
                    <!--<div class="col-sm-2"><label class="control-label">Video:</label></div>-->
                    <div class="col-sm-12 p0" add-iframe data-iframesrc="{{knowledgeData.document_source}}">
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>







