<h3 class="fixed content-heading">Collateral
    <div class="pull-right button-set">
        <a ui-sref="project.project-list({id:(currentProjectViewId | encode )})" uib-tooltip="Back"><i class="fa fa-close-sm"></i></a>
    </div>
</h3>

<div class="col-sm-12 fixed clearfix  z1 fixed-top full-fixed-top" ng-class="{visible:boolChangeClass}" fixed-top>
    <div class="clearfix relative details-fixed-top border-none no-bg pad0">
        <div class="col-sm-12 clearfix p0">
            <div class="page-header-wrap mt0  box-shadow clearfix">
                <div class="display-inline-block wrapper-list c-wrap-list pt10 col-sm-10 clearfix">
                    <h3 class="f15 dark-sky-blue"></h3>
                    <ul>
                        <li>
                            <p class="f12 word-break">{{'Collatral' | translate}}</p>
                            <h3 class="f14 heading">9489302500012</h3>
                        </li>
                        <li>

                            <p class="f12 word-break">{{'Amount' | translate}}</p>
                            <h3 class="f14 heading">$ 123,560.000</h3>
                        </li>
                        <li>
                            <p class="f12 word-break">{{'Currency' | translate}}</p>
                            <h3 class="f14 heading">USD</h3>

                        </li>
                        <li>
                            <p class="f12 word-break">{{'Country Office' | translate}}</p>
                            <h3 class="f14 heading" title="{{projectDetails.sector}}">Uganda</h3>

                        </li>
                        <li>
                            <div class="display-inline-block pull-left">
                                <p class="f12">{{'Days in your hand' | translate}}</p>
                                <h3 class="f14 bold " label-status="{{projectDetails.project_status}}">5 Days</h3>
                            </div>
                        </li>
                        <li>
                            <div class="display-inline-block pull-left">
                                <p class="f12 ">{{'Last Date to report' | translate}}</p>
                                <h3 class="f14 bold " label-status="{{projectDetails.project_status}}">Today</h3>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="content-area animated fadeInRight" id="contentArea">

    <div class="content-container clearfix">

        <div class="col-sm-12 p0">
            <div class="page-header-wrap white-bg box-shadow clearfix relative mb15">
                <div class="display-inline-block wrapper-list c-wrap-list pt10 col-sm-10 clearfix" ng-init="getProjectDetails()">
                    <h3 class="f15 dark-sky-blue"></h3>
                    <ul>
                        <li>
                            <p class="f12 word-break">{{'Collatral' | translate}}</p>
                            <h3 class="f14 heading">9489302500012</h3>
                        </li>
                        <li>

                            <p class="f12 word-break">{{'Amount' | translate}}</p>
                            <h3 class="f14 heading">$ 123,560.000</h3>
                        </li>
                        <li>
                            <p class="f12 word-break">{{'Currency' | translate}}</p>
                            <h3 class="f14 heading">USD</h3>

                        </li>
                        <li>
                            <p class="f12 word-break">{{'Country Office' | translate}}</p>
                            <h3 class="f14 heading" title="{{projectDetails.sector}}">Uganda</h3>

                        </li>
                        <li>
                            <div class="display-inline-block pull-left">
                                <p class="f12">{{'Days in your hand' | translate}}</p>
                                <h3 class="f14 bold " label-status="{{projectDetails.project_status}}">5 Days</h3>
                            </div>
                        </li>
                        <li>
                            <div class="display-inline-block pull-left">
                                <p class="f12 ">{{'Last Date to report' | translate}}</p>
                                <h3 class="f14 bold " label-status="{{projectDetails.project_status}}">Today</h3>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="clearfix"></div>
                <div class="textinfo-block border-top col-sm-12 pb10" ng-show="infoBox">
                    <label class="f12">Description</label>
                    <p class="f14 darkcolor">{{project_description}}</p>
                </div>
                <div class="slide-img" ng-click="infoBox=!infoBox"></div>
            </div>
        </div>

        <div class=" col-lg-12 col-sm-12 plr20 mb20 mt5">

            <div class="col-lg-9 col-sm-8 pl0 clearfix clearboth">
                <div class="col-sm-12 p0 white-bg">
                    <div class="div-header">
                        <h3 class="f14 roboto-bold text-capitalize p10 display-inline-block ">Insurance</h3>
                        <div class="pull-right mr4">
                            <a href="#" class="white-color f12 pull-left mt8 mr4">year: 15-16</a>
                            <a href="#" class="red-bg white-color f12 p2 plr10 pull-left mt5">Update</a>
                            <a href="#" class="p5 f21 white-color ml5"><i class="icon-eye"></i></a>
                            <a href="javascript:;" class="p5 f21 white-color"><i class="icon-plus-circle"></i></a>
                        </div>
                    </div>
                    <div class="col-sm-12 white-bg p15">
                        <div class="form-wrap clearfix">
                            <div class="col-sm-12 ptb10 border">
                                <div class=" col-sm-3 p0">
                                    <label class="label-text display-block">Insurance Number</label>
                                    <label class="label-info mb10 mt5 text-line">ID#: <span class="sky-blue">9489302500012</span></label>
                                </div>
                                <div class=" col-sm-3 pl0">
                                    <label class="label-text display-block">Insurance Name</label>
                                    <label class="label-info mb10 mt5 text-line ">Smith</label>
                                </div>
                                <div class=" col-sm-3 p0">
                                    <label class="label-text display-block">Insurance Company</label>
                                    <label class="label-info mb10 mt5 text-line">MAX Insurance</label>
                                </div>
                                <div class=" col-sm-3 pl0">
                                    <label class="label-text display-block">Insurance Owner</label>
                                    <label class="label-info mb10 mt5 text-line">Bank</label>
                                </div>
                                <div class="row"></div>
                                <div class=" col-sm-3 pl0">
                                    <label class="label-text display-block">Periodociy</label>
                                    <label class="label-info mb10 mt5 text-line">Yearly</label>
                                </div>
                                <div class=" col-sm-3 pl0">
                                    <label class="label-text display-block">Notice Days</label>
                                    <label class="label-info mb10 mt5 text-line">30</label>
                                </div>
                                <div class=" col-sm-3 pl0">
                                    <label class="label-text display-block">Amount</label>
                                    <label class="label-info mb10 mt5 text-line">1,222,000</label>
                                </div>
                                <div class="row"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <h3 class="darkcolor f15">History</h3>
                        <table class="table c-table table-striped table-bordered table-hover display table-style">
                            <thead>
                                <tr>
                                    <th>Updated Date</th>
                                    <th>Insurance Company</th>
                                    <th>Amount</th>
                                    <th>Status</th>
                                    <th>Renewal Date</th>
                                    <th>Remarks</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr> <td>14 Aug, 2014</td>
                                    <td><a href="#" class="sky-blue">Eric Godinez</a></td>
                                    <td>1,222,000</td>
                                    <td><span class="green">Completed	</span></td>
                                    <td>23 Jun, 15</td>
                                    <td>reason for the rejecting ...</td>
                                </tr>
                                <tr>
                                    <td>11 Aug, 2013</td>
                                    <td><a href="#" class="sky-blue">Javier Cisneors</a></td>
                                    <td>1,222,000</td>
                                    <td><span class="green">Completed	</span></td>
                                    <td>23 Jun, 14</td>
                                    <td>reason for the rejecting is due ...</td>
                                </tr>
                                <tr>
                                    <td>21 Aug, 2012</td>
                                    <td><a href="#" class="sky-blue">Kristan Simmonds</a></td>
                                    <td>1,222,000</td>
                                    <td><span class="green">Completed	</span></td>
                                    <td>23 Jun, 13</td>
                                    <td>waiting for the comments...</td>
                                </tr>
                                <tr>
                                    <td>14 Aug, 2011</td>
                                    <td><a href="#" class="sky-blue">Eric Godinez</a></td>
                                    <td>1,222,000</td>
                                    <td><span class="green">Completed	</span></td>
                                    <td>23 Jun, 12</td>
                                    <td>reason for the rejecting is due to ...</td>
                                </tr>
                                <tr>
                                    <td>11 Aug, 2010</td>
                                    <td><a href="#" class="sky-blue">Javier Cisneors</a></td>
                                    <td>1,222,000</td>
                                    <td><span class="green">Completed	</span></td>
                                    <td>23 Jun, 11</td>
                                    <td>reason for the rejecting is due to ...</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-sm-12 white-bg p15 mt10">
                        <div class="form-wrap clearfix">
                            <h4 class="darkcolor bold f14 mb5 " id="">Create Insurance</h4>
                            <div class="col-sm-12 p0">
                                <div class=" col-sm-4">
                                    <div class="form-group form-group-custom">
                                        <label class="darkcolor">Insurance Number</label>
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                <div class=" col-sm-4">
                                    <div class="form-group form-group-custom">
                                        <label class="darkcolor">Insurance Name</label>
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                <div class=" col-sm-4">
                                    <div class="form-group form-group-custom">
                                        <label class="darkcolor">Insurance Company</label>
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="row"></div>
                                <div class=" col-sm-4">
                                    <div class="form-group form-group-custom">
                                        <label class="darkcolor">Insurance Owner</label>
                                        <select class="form-control">
                                            <option value="" selected>Bank</option>
                                        </select>
                                    </div>
                                </div>
                                <div class=" col-sm-4">
                                    <div class="form-group form-group-custom">
                                        <label class="darkcolor">Insurance Type</label>
                                        <select class="form-control">
                                            <option value="" selected>Select Type</option>
                                        </select>
                                    </div>
                                </div>
                                <div class=" col-sm-4">
                                    <div class="form-group form-group-custom">
                                        <label class="darkcolor">Start Date</label>
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="row"></div>
                                <div class=" col-sm-4">
                                    <div class="form-group form-group-custom">
                                        <label class="darkcolor">End Date</label>
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                <div class=" col-sm-4">
                                    <div class="form-group form-group-custom">
                                        <label class="darkcolor">Revision</label>
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                <div class=" col-sm-4">
                                    <div class="form-group form-group-custom">
                                        <label class="darkcolor">Periodicity</label>
                                        <select class="form-control">
                                            <option value="" selected>Weekly</option>
                                            <option value="">Monthly</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="row"></div>
                                <div class="col-sm-4">
                                    <div class="form-group form-group-custom">
                                        <label class="darkcolor">Insurance CCY</label>
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group form-group-custom">
                                        <label class="darkcolor">Insurance Amount</label>
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group form-group-custom">
                                        <label class="darkcolor">Insurance USD Equal</label>
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="row"></div>
                                <div class=" col-sm-4">
                                    <div class="form-group form-group-custom">
                                        <label class="darkcolor">Premium Currency</label>
                                        <select class="form-control">
                                            <option value="" selected>USD</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group form-group-custom">
                                        <label class="darkcolor">Premium Amount</label>
                                        <input type="text" class="form-control">
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="form-group clearfix form-group-custom">
                                        <label class="darkcolor display-block">Policy Assigned to Bank</label>
                                        <div class="radio display-inline-block mr15 mt5">
                                            <label class="f12"><input type="radio" name="" class="">Yes</label>
                                        </div>
                                        <div class="radio display-inline-block">
                                            <label class="f12"><input type="radio" name="new_business" class="">No</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="row"></div>
                                <div class="col-sm-12">
                                    <div class="form-group form-group-custom">
                                        <label class="darkcolor">Coverange Details</label>
                                        <textarea class="form-control"></textarea>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="form-group form-group-custom">
                                        <label class="darkcolor">Remarks</label>
                                        <textarea class="form-control"></textarea>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="btn-custom mt5 mb5 text-center">
                                        <button class="btn btn-dark custom-xs border-none f12 mr4 ng-binding">Save</button>
                                        <button class="btn lt-bg custom-xs f12 border-none">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                <div class="col-sm-12 white-bg p15 mt10">
                    <div class="form-wrap clearfix">
                        <h4 class="darkcolor bold f14 mb5 ">Insurance Details</h4>
                        <div class="col-sm-12 p0">
                            <div class=" col-sm-4">
                                <div class="form-group form-group-custom">
                                    <label class="control-label display-block">Insurance Number</label>
                                    <label class="label-info">1235684546000145</label>
                                </div>
                            </div>
                            <div class=" col-sm-4">
                                <div class="form-group form-group-custom">
                                    <label class="control-label display-block">Insurance Name</label>
                                    <label class="label-info">XYZ Insurance</label>
                                </div>
                            </div>
                            <div class=" col-sm-4">
                                <div class="form-group form-group-custom">
                                    <label class="control-label display-block">Insurance Company</label>
                                    <label class="label-info">MAX Insurance </label>
                                </div>
                            </div>
                            <div class="row"></div>
                            <div class=" col-sm-4">
                                <div class="form-group form-group-custom">
                                    <label class="control-label display-block">Insurance Owner</label>
                                    <label class="label-info">Bank</label>
                                </div>
                            </div>
                            <div class=" col-sm-4">
                                <div class="form-group form-group-custom">
                                    <label class="control-label display-block">Insurance Type</label>
                                    <label class="label-info">Property</label>
                                </div>
                            </div>
                            <div class=" col-sm-4">
                                <div class="form-group form-group-custom">
                                    <label class="control-label display-block">Start Date</label>
                                    <label class="label-info">01 Sept, 2016</label>
                                </div>
                            </div>
                            <div class="row"></div>
                            <div class=" col-sm-4">
                                <div class="form-group form-group-custom">
                                    <label class="control-label display-block">End Date</label>
                                    <label class="label-info">31 Aug, 2017</label>
                                </div>
                            </div>
                            <div class=" col-sm-4">
                                <div class="form-group form-group-custom">
                                    <label class="control-label display-block">Revision</label>
                                    <label class="label-info">01 Jan, 2017</label>
                                </div>
                            </div>
                            <div class=" col-sm-4">
                                <div class="form-group form-group-custom">
                                    <label class="control-label display-block">Periodically</label>
                                    <label class="label-info">Monthly</label>
                                </div>
                            </div>
                            <div class="row"></div>
                            <div class="col-sm-4">
                                <div class="form-group form-group-custom">
                                    <label class="control-label display-block">Insurance CCY</label>
                                    <label class="label-info">3807043</label>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group form-group-custom">
                                    <label class="control-label display-block">Insurance Amount</label>
                                    <label class="label-info">900.000</label>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group form-group-custom">
                                    <label class="control-label display-block">Insurance USD Equal</label>
                                    <label class="label-info">---</label>
                                </div>
                            </div>
                            <div class="row"></div>
                            <div class=" col-sm-4">
                                <div class="form-group form-group-custom">
                                    <label class="control-label display-block">Premium Currency</label>
                                    <label class="label-info">USD</label>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group form-group-custom">
                                    <label class="control-label display-block">Premium Amount</label>
                                    <label class="label-info">20.000</label>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group clearfix form-group-custom">
                                    <label class="darkcolor display-block">Policy Assigned to Bank</label>
                                    <label class="label-info">Yes</label>
                                </div>
                            </div>
                            <div class="row"></div>
                            <div class="col-sm-12">
                                <div class="form-group form-group-custom">
                                    <label class="control-label display-block">Coverange Details</label>
                                    <label class="darkcolor">
                                        <p>Authority, Binding Effect. If the Borrower is a Registered Organization or a general partnership,
                                            the making and performance of this Agreement, the Note and the Related Documents have been duly
                                            authorized by all necessary action, will not violate any prov <a href="#" class="sky-blue">more...</a></p>
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group form-group-custom">
                                    <label class="control-label display-block">Remarks</label>
                                    <label class="darkcolor">
                                        <p>Authority, Binding Effect. If the Borrower is a Registered Organization or a general partnership,
                                        the making and performance of this Agreement, the Note and the Related Documents have been duly
                                        authorized by all necessary action, will not violate any prov <a href="#" class="sky-blue">more...</a></p>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-4 page-right-wrap p0">
                <div class="v-tabs-wrap">
                        <ul>
                            <li class="tab-active">
                                <a class="list-switcher" href="javascript:;"  active-link="tab-active"><i class="icon-clipped-file2"></i><span class="ng-binding collateral-tab-text">General</span>
                                </a>
                            </li>
                            <li>
                                <a  href="javascript:;" active-link="tab-active" ><i class="icon-eur-currency1"></i><span class="ng-binding collateral-tab-text">Realestate</span>

                                </a>
                            </li>
                            <li>
                                <a  href="javascript:;"  active-link="tab-active"><i class=" icon-stars-list"></i>
                                    <span class="ng-binding collateral-tab-text">Validation Details</span>
                                    <span class="collateral-count red-bg pull-right">1</span>
                                </a>
                            </li>
                            <li>
                                <a  href="javascript:;"  active-link="tab-active"><i class=" icon-files"></i><span class="ng-binding collateral-tab-text">Documents</span>

                                </a>
                            </li>
                            <li>
                                <a  href="javascript:;" active-link="tab-active"><i class=" icon-star"></i>
                                    <span class="ng-binding collateral-tab-text">Insurance</span>
                                    <span class="collateral-count red-bg pull-right">30</span>
                                </a>
                            </li>
                            <li>
                                <a  href="javascript:;"  active-link="tab-active"><i class=" icon-harddrive1"></i><span class="ng-binding collateral-tab-text"> Contacts</span>

                                </a>
                            </li>
                            <li>
                                <a  href="javascript:;"  active-link="tab-active"><i class="icon-briefcase"></i>
                                    <span class="ng-binding collateral-tab-text">Correspondance</span>
                                    <span class="red text-right font-normal f12 pull-right pt2">Incomplete</span>
                                </a>
                            </li>
                            <li>
                                <a  href="javascript:;"  active-link="tab-active"><i class="  icon-graph3"></i><span class="ng-binding collateral-tab-text"> Field Investigation</span>

                                </a>
                            </li>
                            <li>
                                <a  href="javascript:;" active-link="tab-active"><i class=" icon-flag1"></i>
                                    <span class="ng-binding collateral-tab-text"> External Checks</span>
                                    <span class="red text-right font-normal f12 pull-right pt2">Incomplete</span>
                                </a>
                            </li>
                            <li>
                                <a  href="javascript:;"  active-link="tab-active"><i class=" icon-graph1"></i><span class="ng-binding collateral-tab-text"> Risk Evalutation</span>

                                </a>
                            </li>
                            <li>
                                <a  href="javascript:;" active-link="tab-active"><i class=" icon-stars-list"></i><span class="ng-binding collateral-tab-text"> Legal Openion</span>

                                </a>
                            </li>
                            <li>
                                <a  href="javascript:;"  active-link="tab-active"><i class=" icon-monitor"></i>
                                    <span class="ng-binding collateral-tab-text"> Covenants</span>
                                    <span class="red text-right font-normal f12 pull-right pt2">Incomplete</span>
                                </a>
                            </li>
                            <li>
                                <a  href="javascript:;"  active-link="tab-active"><i class=" icon-actions"></i><span class="ng-binding collateral-tab-text"> Facilities</span>

                                </a>
                            </li>
                        </ul>
                    </div>
                <div class="col-sm-12 white-bg p0 mt10 border">
                    <h6 class="darkcolor text-capitalize ptb10 f14 fontBold border-bottom mb5 plr15">Collateral Owner info</h6>
                    <div class="col-sm-12 border-bottom p0 pb10 pt5">
                        <h6 class="f14 sky-blue ml15">Aponye Uganda Limited</h6>
                        <div class="col-sm-6">
                            <div class="form-group form-group-custom">
                                <label class="light-blue display-block">Compnay</label>
                                <label class=" darkcolor display-block">Savera Hotels</label>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group form-group-custom">
                                <label class="light-blue display-block"># Loans</label>
                                <label class="darkcolor display-block">1</label>
                            </div>
                        </div>
                        <div class="row"></div>
                        <div class="col-sm-6">
                            <div class="form-group form-group-custom">
                                <label class="light-blue display-block">Contacts</label>
                                <label class="darkcolor display-block">Fiona</label>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group form-group-custom">
                                <label class="light-blue display-block">Amount ($)</label>
                                <label class="darkcolor">1,25,000</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 white-bg p0 mt10 border">
                    <h6 class="darkcolor text-capitalize ptb10 f14 fontBold border-bottom plr15">Other Collatrals</h6>
                    <div class="col-sm-12 border-bottom p5">
                        <div class="col-sm-12 ash-bg p0 border">
                            <h6 class="f14 sky-blue pt5 border-bottom p5">Colletral #: 9489302500012
                            <span class="ash f11 display-block light-blue">Last Review: <strong class="darkcolor">23 Aug, 2016</strong><i class="icon-warning pull-right red f18"><span class="f21 ml5">1</span></i></span></h6>
                            <div class="col-sm-6">
                                <div class="form-group form-group-custom">
                                    <label class="light-blue display-block">Type</label>
                                    <label class=" darkcolor display-block">Vehicle</label>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group form-group-custom">
                                    <label class="light-blue display-block">Amount</label>
                                    <label class="darkcolor display-block">$ 123,560.000</label>
                                </div>
                            </div>
                            <div class="row"></div>
                            <div class="col-sm-6">
                                <div class="form-group form-group-custom">
                                    <label class="light-blue display-block">Currency</label>
                                    <label class="darkcolor display-block">USD</label>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group form-group-custom">
                                    <label class="light-blue display-block">Stage</label>
                                    <label class="darkcolor display-block">Legal Openion</label>
                                </div>
                            </div>
                            <div class="row"></div>
                            <div class="col-sm-6">
                                <div class="form-group form-group-custom">
                                    <label class="control-label display-block">Status</label>
                                    <label class="orange">Process</label>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group form-group-custom">
                                    <label class="light-blue display-block">Next Review in:</label>
                                    <label class=""><span class="red-bg white-color p2">30</span> Days</label>
                                </div>
                            </div>
                            <div class="row"></div>
                            <div class="col-sm-12">
                                <div class="form-group form-group-custom">
                                    <label class="light-blue display-block">Location</label>
                                    <label class="darkcolor display-block">4028-4046 Mowry Ave, Fremont, CA 94538, USA</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>

        </div>

    </div>
</div>
<script type="text/ng-template" id="knowledge-details.html">
    <div class="modal-wrap right-modal modal-custom">
        <div class="clearfix">
            <h3 class="right-modal-head">
                <i class="fa fa-sitemap mr8"></i>{{knowledgeData.document_title}}
                <a ng-click="cancel()" uib-tooltip="Close" class="close-right pull-right"><img src="images/close.png"></a>
            </h3>

        </div>
        <div class="modal-body clearfix">

            <div class="col-sm-12 p0">
                <div class="form-group clearfix form-group-custom mb10">
                    <div class="col-sm-2"><label class="f13 ash">Title:</label></div>
                    <div class="col-sm-8 f14">
                        {{knowledgeData.document_title}}
                    </div>
                </div>
            </div>
            <div class="col-sm-12 p0">
                <div class="form-group clearfix form-group-custom mb10">
                    <div class="col-sm-2"><label class="f13 ash">Description:</label></div>
                    <div class="col-sm-8 f14" data-ng-bind-html="knowledgeData.document_description"></div>
                </div>
            </div>
            <div class="col-sm-12 p0" ng-if="knowledgeData.document_type == 'document'">
                <div class="form-group clearfix form-group-custom mb10">
                    <div class="col-sm-2"><label class="f13 ash">File:</label></div>
                    <div class="col-sm-8 p0">
                        <div class="btn-custom mt10">
                            <a href="{{knowledgeData.document_source}}" class="f14 sky-blue" download target="_blank"><i class="fa fa-download mlr5"></i>Download</a><span class="f12"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 p0" ng-if="knowledgeData.document_type == 'video'">
                <div class="form-group clearfix form-group-custom mb10">
                    <!--<div class="col-sm-2"><label class="control-label">Video:</label></div>-->
                    <div class="col-sm-12 p0" add-iframe data-iframesrc="{{knowledgeData.document_source}}">
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>







