<div class="right-modal modal-custom" data-modal="addtasks">
    <h3 class="right-modal-head clearfix">
        <div class="col-sm-6 p-l-0 mt5">
            <i class="fa fa-tasks mr8"></i> {{'Project_Tasks' | translate}}
        </div>
        <div class="col-sm-5 p0 mt5 text-right" >
            <a class="f14 mr8 text-decoration-none btn btn-dark f12 white-color"
               n-t='{"e_n":"Project Task - Create Task","e_d":"Project - {{projectTitle}}"}' href="javascript:;" ng-click="currentView =(currentView =='Form'?'List':'Form');task={};taskDocuments={};submitStatus=false;previousFiles={}">
                {{'Create_Task' | translate}}
            </a>
        </div>
        <a ng-click="cancel()" class="close-right pull-right mt5" uib-tooltip="Close"
           n-t='{"e_n":"Project Task - Close Create Task","e_d":"Project - {{projectTitle}}"}'><img src="images/close.png"></a>
    </h3>
    <form class="form-horizontal form-bordered" name="form" novalidate ng-switch on="currentView"><!--ng-show="taskList"-->
        <div class="clearfix tasks-list mb20" ng-switch-when="Form">
            <div class="f14 blue col-sm-12">
                <a href="javascript:;" class="mt5 mr8 f12 ash text-decoration-none" ng-click="$parent.currentView='List'"
                   n-t='{"e_n":"Project Task - List Task","e_d":"Project - {{projectTitle}}"}'><i class="fa fa-angle-left mr8  valign-top f18"></i>{{'Back' | translate}}</a>

            </div>
            <div class="col-sm-12 p0">
                <div class="form-group col-sm-12">
                    <label class="control-label">{{'Title' | translate}} *:</label>

                    <div class="form-input">
                        <input type="text" name="task_name" ng-model="task.task_name" class="form-control" required>
                    </div>
                    <div ng-if="form.task_name.$error.required && submitStatus" class="error-message">{{'Enter_Task_Name' | translate}}.
                    </div>
                </div>

                <div class="form-group col-sm-12">
                    <label class="control-label">{{'Description' | translate}} *:</label>

                    <div class="form-input textarea-height">
                        <textarea class="width-full  form-control min-height70 p10 f12" name="task_description" ng-model="task.task_description"
                                  required></textarea>
                    </div>
                    <div ng-if="form.task_description.$error.required && submitStatus" class="error-message">{{'Enter_Task_Description' | translate}}.
                    </div>
                </div>

                <div class="form-group col-sm-6">
                    <label class="control-label">{{'Due_Date' | translate}} *:</label>

                    <div class="input-group">
                        <input type="text" class="form-control pt5" uib-datepicker-popup="yyyy-MM-dd" name="task_due_date"
                               ng-model="task.task_due_date" is-open="openCal" ng-init="openCal=false"
                               show-weeks="false" show-button-bar="false" required  readonly />
                          <span class="input-group-btn">
                            <button type="button" class="btn btn-default border" ng-click="openCal = true">
                                <i class="fa fa-calendar"></i></button>
                          </span>
                    </div>
                    <div ng-if="form.task_due_date.$error.required && submitStatus" class="error-message">{{'Select_Due_Time' | translate}}.
                    </div>

                </div>
                <div class="form-group col-sm-6">
                    <label class="control-label">{{'Assigned_To' | translate}} *:</label>
                    <div class="form-group clearfix form-group-custom">
                        <select multiple chosen class="chosen-select"
                                data-placeholder="Assigned To"
                                ng-options='user.id_user as (user.first_name +" "+user.last_name) for user in companyUsers'
                                name="assigned_to" ng-model="task.member" required>
                        </select>
                    </div>
                    <div ng-if="form.assigned_to.$error.required && submitStatus" class="error-message">{{'Select_Assigned_To' | translate}}.
                    </div>
                </div>
            </div>

            <div class="col-sm-12 p10" >
                <attachment-files ng-model="task.file.attachment"></attachment-files>
            </div>
            <div class="form-input file-attachments col-sm-12">
                <ul class="">
                    <li class="clearfix border-bottom" uploadedDocuments ng-repeat="files in previousFiles" >
                        <div class="col-sm-1  p-l-0" upload-file  data-fileType="{{ files.document_mime_type }}" ><i class=""></i> </div>
                        <div class="col-sm-10">
                            <p class="f12 text-line" title="{{files.document_name}}">{{files.document_name}}</p>
                            <span class="display-block f11" ng-bind="files.date | date:'mediumDate'"></span>
                        </div>
                        <div class="col-sm-1 text-center">
                            <div class="relative">
                                <i class="fa fa-download mr8"></i>
                                <a href="{{ files.full_path }}" class="icon-link" download
                                   n-t='{"e_n":"Project Task - File Download","e_d":"File - {{files.full_path}}, Project - {{projectTitle}}"}'/>  </a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

            <div class="col-sm-12 text-center mt10">
                <button class="btn btn-primary f12 btn-dark border-none mr4" type="submit"
                        ng-click="saveTask(task,form)"
                        n-t='{"e_n":"Project Task - Save","e_d":"Project - {{projectTitle}}"}'>{{'Save' | translate}}
                </button>
                <button type="button" class="btn btn-primary lt-bg f12 border-none" ng-click="$parent.currentView='List'"
                        n-t='{"e_n":"Project Task - Cancel","e_d":"Project - {{projectTitle}}"}'>{{'Cancel' | translate}}</button>
            </div>
        </div>

        <div class="list-wrapper clearfix" ng-switch-default="List">
            <ul>
                <li class="clearfix border-none mb5 lt-bg pad0">
                    <div class="col-sm-3 text-overflow">
                        <label class="f14 white-color mt5">{{'Title' | translate}} </label>
                    </div>
                    <div class="col-sm-3 text-overflow">
                        <label class="f14 white-color mt5 ">{{'Assigned_To' | translate}}</label>
                    </div>
                    <div class="col-sm-2 p0">
                        <label class="f14 white-color mt5">{{'Due_Date' | translate}}</label>
                    </div>
                    <div class="col-sm-2 text-center">
                        <label class="f14 white-color mt5">{{'Status' | translate}}</label>
                    </div>
                    <div class="col-sm-2">

                    </div>
                </li>
            </ul>
            <ul>
                <li class="clearfix" ng-repeat="row in taskDetails">
                    <div class="col-sm-3 text-overflow">
                        <label class="f12 text-line" title="{{row.task_name}}">{{row.task_name}} </label>
                    </div>
                    <div class="col-sm-3 text-overflow">
                        <label class="f12 text-line" title="{{row.user_name}}">{{row.user_name}} </label>
                    </div>
                    <div class="col-sm-2 p0 m-4">
                        <label class="f12" ng-bind="row.task_due_date | date:'mediumDate'"></label>
                    </div>
                    <div class="col-sm-2 text-center m-4">
                        <button class="btn btn-xs-custom border-none white-color f12 text-capitalize" task-status-bg bgcolor="{{row.task_status}}" >{{row.task_status}}
                        </button>
                    </div>
                    <div class="col-sm-2 text-center m-4">
                        <!--ng-click="showDetailtaskList = !showDetailtaskList" ng-show="showDetailtaskList"-->
                        <a href="javascript:;" uib-tooltip="View" ng-click="viewTask(row.id_task)"
                           n-t='{"e_n":"Project Task - View","e_d":"Task name - {{row.task_name}}, Project - {{projectTitle}}"}'><i class="fa fa-eye mr8"></i> </a>
                        <a ng-if="permission.tasks_add" href="javascript:;" uib-tooltip="Edit"
                           n-t='{"e_n":"Project Task - Edit","e_d":"Task name - {{row.task_name}}, Project - {{projectTitle}}"}' ng-click="editTask(row.id_task)"><i class="fa fa-pencil mr8"></i> </a>
                        <a ng-if="permission.tasks_add" href="javascript:;"
                           n-t='{"e_n":"Project Task - Delete","e_d":"Task name - {{row.task_name}}, Project - {{projectTitle}}"}' uib-tooltip="Delete" ng-click="deleteTask(row.id_task)"><i class="fa fa-trash"></i> </a>
                    </div>
                    <!--<div class="col-sm-12 clearfix tasks-view" data-ng-if="showDetailtaskList" ng-click="showViewTask($index)" ng-show="$index == showIndex"  >
                        <a href="javascript:;" class="close-right pull-right mr8" ng-click="closeViewTask()"><img src="images/close.png"> </a>
                        <div class="form-group col-sm-12 mb0">
                            <label>Task Name:</label>
                            <div class="form-input">
                                <p class="f12">{{row.task_name}}</p>
                            </div>

                        </div>
                        <div class="form-group col-sm-12 mb0">
                            <label>Description:</label>
                            <div class="form-input">
                                <p class="f12">{{row.task_description}}</p>
                            </div>

                        </div>
                        <div class="form-group col-sm-6 mb0">
                            <label>Due Date:</label>
                            <p class="f12">{{row.tast_due_date}}</p>

                        </div>
                        <div class="form-group col-sm-6 mb0">
                            <label>Assigned To:</label>
                            <div class="form-input">
                                <p class="f12">{{row.user_name}}</p>
                            </div>
                        </div>
                        <div class="col-sm-12 text-center mt20">
                            <button class="btn btn-primary f12 mr8">Completed</button>
                            <button class="btn btn-primary f12 lt-bg border-none">Cancel</button>
                        </div>
                    </div>

                </li>
                <li class="clearfix">
                    <div class="col-sm-3 text-overflow">
                        <label class="f12">Task name </label>
                    </div>
                    <div class="col-sm-3 text-overflow">
                        <label class="f12 ">Ramesh </label>
                    </div>
                    <div class="col-sm-2 p0 m-4">
                        <label class="f12">2016-01-25</label>
                    </div>
                    <div class="col-sm-2 text-center m-4">
                        <button class="btn btn-danger btn-xs-custom border-none white-color f12">Pending</button>
                    </div>
                    <div class="col-sm-2 text-center m-4">
                        <a href="javascript:;"><i class="fa fa-eye mr8"></i> </a>
                        <a href="javascript:;"><i class="fa fa-pencil mr8"></i> </a>
                    </div>
                </li>
                <li class="clearfix">
                    <div class="col-sm-3 text-overflow">
                        <label class="f12">Task name </label>
                    </div>
                    <div class="col-sm-3 text-overflow">
                        <label class="f12 ">Ramesh </label>
                    </div>
                    <div class="col-sm-2 p0 m-4">
                        <label class="f12">2016-01-25</label>
                    </div>
                    <div class="col-sm-2 text-center m-4">
                        <button class="btn btn-success btn-xs-custom border-none white-color f12">Completed</button>
                    </div>
                    <div class="col-sm-2 text-center m-4">
                        <a href="javascript:;"><i class="fa fa-eye mr8"></i> </a>
                        <a href="javascript:;"><i class="fa fa-pencil mr8"></i> </a>
                    </div>-->
                </li>


            </ul>
        </div>

        <div class="view-state col-sm-12 pb20 clerfix" ng-switch-when="View">
            <div class="view-header">
                <div class="f14 blue">
                    <a href="javascript:;" class="mt5 mb5 mr8 f12 ash text-decoration-none" ng-click="$parent.currentView='List'"><i class="fa fa-angle-left  m-5 mr8 valign-middle f18"></i>{{'Back' | translate}}</a>
                </div>
            </div>
            <div class="view-content clearfix">
                <div class="view-group col-sm-12 p0 mb5">
                    <div class="col-sm-12 p-l-0">
                        <div class="t-list">
                            <label class="f15 mb3 darkcolor bold text-capitalize">{{viewtaskDetails.task_name}}</label>
                        </div>
                    </div>
                    <div class="col-sm-4 p-l-0">
                        <div class="t-list">
                            <label class="f13 mb3 darkcolor mr4">{{'Due_Date' | translate}}:</label>
                            <div class="form-input">
                                <p class="f12">{{viewtaskDetails.task_due_date}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="t-list">
                            <label class="f13 mb3 darkcolor mr4">{{'Task_Status' | translate}}:</label>
                            <div class="form-input ">
                                <p class="f12 label font-normal text-capitalize plr" task-status-bg bgcolor="{{viewtaskDetails.task_status}}">{{viewtaskDetails.task_status}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 p-r-0">
                        <div class="t-list">
                            <label class="f13 mb3 darkcolor mr4">{{'Assigned_To' | translate}}:</label>
                            <div class="form-input ">
                                <p class="f12">{{viewtaskDetails.user_name}}</p>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="view-group col-sm-12 p0 mb5">
                    <div class="t-list">
                        <label class="f13 mb3 darkcolor mr4">{{'Description' | translate}}:</label>
                        <div class="form-input">
                            <p class="f12 mb3">{{viewtaskDetails.task_description}}</p>
                        </div>
                    </div>


                    <!--<div class="form-input">
                        <p class="f12"></p>
                    </div>-->
                </div>
                <!--<div class="view-group col-sm-6 p-l-0 mb5">
                    <label class="f14 mb3 blue">Assigned To:</label>

                    <div class="form-input">
                        <p class="f12">{{viewtaskDetails.user_name}}</p>
                    </div>
                </div>-->


                <div class="view-group col-sm-12 mb5 p0">
                        <label class="f14 mb3 darkcolor">{{'Attachments' | translate}}: </label>
                        <div class="form-input file-attachments">
                            <ul class="scroll-area list-items">
                                <li class="clearfix border-bottom" uploadedDocuments ng-repeat="files in viewtaskDetails.attachment" >
                                    <div class="col-sm-1" upload-file  data-fileType="{{ files.document_mime_type }}" ><i class=""></i> </div>
                                    <div class="col-sm-10">
                                        <p class="f12 text-line" title="{{files.document_name}}">{{files.document_name}}</p>
                                        <span class="display-block f11" ng-bind="files.date | date:'mediumDate'"></span>
                                    </div>
                                    <div class="col-sm-1 text-center">
                                        <div class="relative">
                                            <i class="fa fa-download mr8"></i>
                                            <a href="{{ files.full_path }}" class="icon-link" download
                                               n-t='{"e_n":"Project Task - File download","e_d":"File path - {{files.full_path}}, Project - {{projectTitle}}"}'/>  </a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-12 text-center mt10 mb10">
                        <button data-ng-show="viewtaskDetails.task_status=='pending'" class="btn btn-success mr8 f12"
                                n-t='{"e_n":"Project Task - Task completed","e_d":"Project - {{projectTitle}}"}'
                                ng-click="updateStatus(viewtaskDetails.id_task,'completed')">{{'Complete_Task' | translate}}
                        </button>
                        <!--<button class="btn btn-primary lt-bg f12 border-none"
                                ng-click="deleteTask(viewtaskDetails.id_task)">Delete
                        </button>-->
                    </div>
                </div>
            </div>
    </form>
</div>





<script type="text/ng-template">

</script>