<div class="right-modal modal-custom" data-modal="addedcompanies">
    <h3 class="right-modal-head">
        <i class="fa fa-companies"></i> {{'Companies' | translate}}
        <a class="close-right pull-right" ng-click="cancel()" uib-tooltip="Close"
           n-t='{"e_n":"Companies Close","e_d":"Project - {{projectTitle}}"}'><img src="images/close.png"></a>
    </h3>

    <form class="form-horizontal form-bordered" name="form" novalidate>
        <div class="clearfix">
            <div class="col-sm-12 p0 attachment-list" ng-if="permission.companies_add">
                <div class="p15 bg-box">
                    <div class="mapping-search">
                        <!--<input type="text" class="form-control" placeholder="Search Companies" style="padding: 8px;">
                        <span class="input-group-addon cursor-pointer"><i class="fa fa-search"></i> </span>-->

                        <input class="form-control" style="padding: 8px;"
                               placeholder="Search Companies"
                               type="text" ng-model="asyncSelected"
                               typeahead-on-select="onSelect($item, $model, $label)"
                               uib-typeahead="contacts as contacts.company_name for contacts in getCompanyList($viewValue)"
                               typeahead-template-url="companyListTemplate.html"
                               typeahead-loading="loadingContacts"
                               typeahead-no-results="noResults">
                        <i class="fa fa-search icon-search f16 mt4"></i>
                        <a data-ng-click="addCompany()" data-ng-show="visibleAddButton" class="go"><i
                                class="fa fa-arrow-circle-right"></i></a>
                    </div>
                </div>
                <div class="col-sm-12 mb10 bg-box" data-ng-if="visibleDesignationDropDown">
                    <div class="col-sm-6 p-l-0">
                        <div class="col-sm-2 p0 text-img">
                            <span first-alpha="{{selectedItem.company_name}}"></span>
                        </div>
                        <div class="col-sm-10 p-l-0">
                            <p class="f14">{{ selectedItem.company_name }}</p>
                            <a class="display-block f12 sky-blue" href="mailto:{{ selectedItem.email }}">{{
                                selectedItem.email }}</a>
                        </div>
                        <!--<div class="col-sm-12 mt10 form-group clearfix form-group-custom">
                            <input type="checkbox" class="mr4" name="is_primary_company" ng-model="designationForm.is_primary_company"><label>Is
                            Primary</label>
                        </div>-->
                    </div>
                    <div class="col-sm-6  p-r-0">
                        <div id="designation">
                            <div class="form-group clearfix form-group-custom">
                                <select class="form-control" name="company_type_id"
                                        ng-model="designationForm.company_type_id" required>
                                    <option value="">--{{'Select_relationship' | translate}}--</option>
                                    <option ng-repeat="type in companyType"
                                            ng-value="type.id_company_type">
                                        {{type.company_type}}
                                    </option>
                                </select>

                                <div ng-if="form.company_type_id.$error.required && submitStatus"
                                     class="error-message">{{'Select_Designation' | translate}}.
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="col-sm-12  text-center mt10 mb10">
                        <button class="btn btn-primary border-none btn-dark f12 mr4"
                                ng-click="save(designationForm,form)"
                                n-t='{"e_n":"Companies - Save ","e_d":"Project - {{projectTitle}}"}'>
                            <i class="fa fa-plus-circle"></i> {{'Add' | translate}}
                        </button>
                        <button class="btn btn-primary f12 border-none lt-bg" ng-click="cancelAssign()"
                            n-t='{"e_n":"Companies - Cancel ","e_d":"Project - {{projectTitle}}"}'>{{'Cancel' | translate}}</button>
                    </div>
                </div>
            </div>

            <div class="list-header col-sm-12 mt15 clearfix pb5">
                <h4 class="text-capitalize dark-blue f14">{{'company.company_assigned_companies' | translate}}</h4>
            </div>
            <div class="list-table col-sm-12 companies-list">
                <ul class="list-items">
                    <li class="clearfix border mb3" ng-repeat="row in selectedCompanyList">

                        <div class="col-sm-2 p-r-0">
                            <a target="_blank" ui-sref="company.company-creation({id:(row.id_crm_company | encode)})"
                               n-t='{"e_n":"Companies - Creation ","e_d":"Company - {{row.company_name}}, Project - {{projectTitle}}"}'>
                                <div class="text-img"><span first-alpha="{{row.company_name}}"></span></div>
                            </a>
                        </div>
                        <div class="col-sm-4 p-l-0">
                            <p class="f14 text-line" title="{{ row.company_name }}">
                                <a target="_blank" class="darkcolor"
                                   ui-sref="company.company-creation({id:(row.id_crm_company | encode)})"
                                   n-t='{"e_n":"Companies - Creation ","e_d":"Company - {{row.company_name}}, Project - {{projectTitle}}"}'>{{
                                row.company_name }}</a></p>
                            <a class="display-block f12 sky-blue text-line" title="{{ row.email }}"
                               href="mailto:{{ row.email }}"
                               n-t='{"e_n":"Companies - Mail to ","e_d":"Mail to - {{row.email}}, Project - {{projectTitle}}"}'>{{ row.email}}</a>
                            <!--<a class="display-block f12 sky-blue" href="javascript:;">Sanfransisco Pvt.Ltd</a>-->
                        </div>
                        <div class="col-sm-3 text-center">
                            <p class="f12 gray">{{ row.phone_number }} </p>
                        </div>
                        <div class="col-sm-2 map-chart text-center">
                                <span class="chart" easypiechart percent="row.percentage" options="anotherOptions">
                                <span class="percent" ng-bind="row.percentage"></span>
                                </span>
                        </div>
                        <div class="col-sm-1 text-center">
                            <a ng-if="permission.companies_add" href="javascript:;"
                               ng-click="deleteProjectCompany(row.id_project_company)" uib-tooltip="Close"
                               n-t='{"e_n":"Companies Delete","e_d":"Company - {{row.company_name}}, Project - {{projectTitle}}"}'><img
                                    class="h13" src="images/close.png"> </a>
                        </div>
                    </li>
                </ul>
                <div class="text-center f12" ng-if="companyList.length == 0">
                    {{'company.company_no_companies_found' | translate}}
                </div>
            </div>

        </div>
    </form>
</div>


<script type="text/ng-template" id="companyListTemplate.html">
    <a>
        <div class="list-item p5 clearfix">
            <div class="list-desc col-sm-8">
                <p class="list-item-title blue">{{match.model.company_name}}</p>
            </div>
        </div>
    </a>
</script>