<h3 class="fixed content-heading">
    {{'Projects' | translate}}
    <!-- <span class="button-set">
        <a ui-sref="project.project-creation" uib-tooltip="Add" ng-click="addNewProject()"><i class="fa fa-plus"></i></a>
     </span>-->
</h3>
<div id="contentArea" class="content-area animated fadeInRight">
    <div class="content-container clearfix light-blue-bg">

        <div class="right-fixed-container clearfix">
            <div class="col-sm-12 p0 mt10 clearfix clearboth">

                <div  class="legend-block-view col-sm-12 p10 pt10 hierarchical_show" hierarchical-show>
                    <div class="col-sm-3">
                        <div class="legend-block-new blue-bg-new">
                            <h3 class="text-capitalize f14 bold">{{'project.project_its_accepted' | translate}}</h3>
                            <div class="legend-label">
                                <table>
                                    <tr ng-repeat="(key, value) in projectTabInfo.its_accepted">
                                        <td>{{key}}</td>
                                        <td ng-if="$index==1">{{value | currency:"":"0"}}</td>
                                        <td ng-if="$index!=1">{{value}}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="legend-block-new choc-bg">
                            <h3 class="text-capitalize f14 bold">{{'Approved' | translate}}</h3>
                            <div class="legend-label">
                                <table>
                                    <tr ng-repeat="(key, value) in projectTabInfo.approved">
                                        <td class="text-capitalize">{{key}}</td>
                                        <td ng-if="$index==1">{{value | currency:"":"0"}}</td>
                                        <td ng-if="$index!=1">{{value}}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="legend-block-new green-bg-new">
                            <h3 class="text-capitalize f14 bold">{{'Disbursement' | translate}}</h3>
                            <div class="legend-label">
                                <table>
                                    <tr ng-repeat="(key, value) in projectTabInfo.disbursement">
                                        <td>{{key}}</td>
                                        <td ng-if="$index==1">{{value | currency:"":"0"}}</td>
                                        <td ng-if="$index!=1">{{value}}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="legend-block-new orange-bg-new">
                            <h3 class="text-capitalize f14 bold">{{'Monitoring' | translate}}</h3>
                            <div class="legend-label">
                                <table>
                                    <table>
                                        <tr ng-repeat="(key, value) in projectTabInfo.monitoring">
                                            <td>{{key}}</td>
                                            <td ng-if="$index==1">{{value | currency:"":"0"}}</td>
                                            <td ng-if="$index!=1">{{value}}</td>
                                        </tr>
                                    </table>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="table-wrapper no-bg pt0 overflow-hidden plr20" ng-if="permission.project_list">
                    <table class="table-list-view p-table table table-style mb0 table-striped row-pointer" st-pipe="callServer"
                           st-table="displayed">
                        <thead class="hierarchical_slide" hierarchical-slide>
                        <tr>
                            <td colspan="7" class="pad0 border-none">
                                <div class="action-head mb0">
                                    <!--<a class="pull-right pl5" ng-click="filterShow=!filterShow" uib-tooltip="Filters"><i
                                            class="fa fa-filter darkcolor"></i></a>-->
                                    <div class="table-search pull-right">
                                        <input type="text" class="form-control" placeholder="Name"
                                               st-search="search_key">
                                        <i class="fa icon-search"></i>
                                    </div>
                                    <div class="filter-box clearboth" ng-show="filterShow">
                                        <h3 class="heading f14">{{'Filters' | translate}}
                                            <a class="pull-right" ng-click="filterShow=!filterShow"><img
                                                    ng-src="images/icons/close.png" class="close-sm"/></a>
                                        </h3>
                                        <div class="row clearfix clearboth">
                                            <div class="col-sm-6">
                                                <label class="control-label">{{'Status' | translate}}</label>

                                                <div class="form-group clearfix form-group-custom">
                                                    <select st-input-event="change" class="form-control"
                                                            ng-model="category" st-search="category">
                                                        <option value="">All</option>
                                                        <option value="its_accepted">{{'project.project_its_accepted' | translate}}</option>
                                                        <option value="approved">{{'Approved' | translate}}</option>
                                                        <option value="disbursement">{{'Disbursement' | translate}}</option>
                                                        <option value="monitoring">{{'Monitoring' | translate}}</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <label class="control-label">{{'Sector' | translate}}</label>

                                                <div class="form-group clearfix form-group-custom">
                                                    <select ng-init="getSector()" st-search="sector" st-input-event="change" name="sector"
                                                            ng-model="sector" class="form-control"
                                                            ng-options="parentSector.id_sector as parentSector.sector_name for parentSector in parentSectorsList track by parentSector.id_sector">
                                                        <option value="">--{{'Select_Sector' | translate}}--</option>
                                                    </select>

                                                </div>
                                            </div>
                                            <!--  <div class="col-sm-3">
                                                  <label class="control-label">Pending</label>

                                                  <div class="form-group clearfix form-group-custom">
                                                      <select class="form-control">
                                                          <option>All/Pending Only</option>
                                                      </select>
                                                  </div>
                                              </div>
                                              <div class="col-sm-3">
                                                  <label class="control-label">Overdue</label>

                                                  <div class="form-group clearfix form-group-custom">
                                                      <select class="form-control">
                                                          <option>All/Overdue Only</option>
                                                      </select>
                                                  </div>
                                              </div>-->
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th></th>
                            <th>{{'Borrower' | translate}}</th>
                            <th>{{'Project_Title' | translate}}</th>
                            <th>{{'Sector' | translate}}</th>
                            <!--<th>{{'Focus_area' | translate}}</th>-->
                            <th>{{'Exposure' | translate}}</th>
                            <th>Outstanding</th>
                            <th>Status</th>
                            <!--<th>{{'Started' | translate}}</th>-->
                        </tr>
                        </thead>
                        <tbody ng-show="projectList.length>0" class="blue-row">
                            <!--ng-click="companyView(row.id_crm_company)"-->
                            <!--    // ui-sref="company.company-creation({id:(row.id_crm_company | encode )})"-->
                            <!--<tr class="table-heading">
                                <td><h3 class="text-capitalize darkcolor bold f14">{{'Pipeline' | translate}}</h3></td>
                            </tr>-->
                            <tr ng-repeat="row in projectList"
                                n-t='{"e_n":"Project - view","e_d":"Project - {{row.project_title}}"}'>

                                <td ng-click="gotoState(row)" class="img"><span first-alpha="{{row.project_title}}"></span></td>
                                <td ng-click="gotoState(row)">
                                    <!--<label class="label-text display-block">{{'Borrower' | translate}} : </label>-->
                                    <label title="{{row.project_title}}"><span>{{row.company_name}}</span></label>
                                </td>
                                <td ng-click="gotoState(row)">
                                    <!--<label class="label-text display-block">{{'Project Title' | translate}} : </label>-->
                                    <label title="{{row.project_title}}"><span>{{row.project_title}}</span></label>
                                </td>

                                <td ng-click="gotoState(row)">
                                    <!--<label>
                                        <span class="label-text">{{'Sector' | translate}} : </span>

                                    </label>-->
                                    <label>
                                         <span class="c-label" title="{{row.sector}}">{{row.sector}}</span>
                                    </label>
                                    <!--<label>
                                        <span class="label-text">{{'Sub-Sector' | translate}} : </span>
                                        <span class="c-label" title="{{row.sub_sector}}">{{row.sub_sector}}</span>
                                    </label>-->
                                </td>
                                <!--<td ng-click="gotoState(row)" style="max-width: 100px !important;">
                                    &lt;!&ndash;<label class="label-text display-block">{{'Focus Area' | translate}} : </label>&ndash;&gt;
                                    <label class="c-label" title="{{row.focus_area_name}} "> {{row.focus_area_name}}
                                    </label>
                                </td>-->
                                <td ng-click="gotoState(row)">
                                    <!--<label class="label-text display-block">{{'Exposure' | translate}} : </label>-->
                                    <label class="c-label" title="{{row.loan_amount}} ">
                                        <any ng-if="row.loan_amount>0">{{row.loan_amount | currency}}</any>
                                        <any ng-if="!row.loan_amount">{{0 | currency:"":"2"}}</any>
                                    </label>
                                </td>
                                <td ng-click="gotoState(row)">
                                    <!--<label class="label-text display-block">{{'Exposure' | translate}} : </label>-->
                                    <label class="c-label" title="{{row.outstanding_amount}} ">
                                        <any ng-if="row.loan_amount>0">{{row.outstanding_amount | currency}}</any>
                                        <any ng-if="!row.loan_amount">{{0 | currency:"":"2"}}</any>
                                    </label>
                                </td>
                                <td class="relative">
                                    <!--<label ng-click="gotoState(row)" class="display-inline-block" style="margin-right: 20px;">
                                        <label title="{{row.created_date_time | utcToLocal:'date'}}"><span>{{row.created_date_time | utcToLocal:'date'}}</span></label>
                                    </label> -->
                                    <label ng-click="gotoState(row)" class="display-inline-block" style="margin-right: 20px;">
                                        <span class="c-label" label-status="{{row.project_status}}">
                                            {{row.project_status | capitalize}}
                                        </span>
                                    </label>
                                    <div class="display-inline-block custom-list valign-middle pull-right relative mt5" uib-dropdown
                                         ng-if="permission.project_delete" style="position: absolute;top: 9px;right: 5px;">
                                        <a href="javascript:;" class="menu-toggle dropdown-toggle" uib-dropdown-toggle><i
                                                class="fa fa-ellipsis-v f21"></i></a>
                                        <ul class="dropdown-menu width150" uib-dropdown-menu>
                                            <li>
                                                <a href="javascript:;" class="f14 darkcolor" uib-tooltip="Delete" ng-click="deleteProject(row)" ><i class="icon-trash"></i>Delete</a>
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                            <!--<tr class="more-btn-link text-right" ng-if="!pagination">
                                <td colspan="7"><button ng-show="projectList.its_accepted.count > 3"  class="btn btn-dark mt5 f12" ng-click="$parent.filterShow=true;changeStatus('its_accepted')">More</button></td>
                            </tr>-->

                        </tbody>
                        <tfoot >
                        <tr>
                            <td colspan="7" class="text-center">
                                <div st-items-by-page="10" st-pagination=""
                                     st-template="partials/list-pagination.custom.html" class="pull-right"></div>
                            </td>
                        </tr>
                        </tfoot>
                    </table>
                </div>

            </div>
            <div class="right-fixed  mt20 trans-pos-top" scroll-pos>
                <div class="col-sm-12 p0 border"  ng-if="permission.project_add">
                    <h3 class="custom-head">{{'Create_New_Project' | translate}}</h3>

                    <div class="form-group clearfix p10  form-group-custom white-bg m0">
                        <form class="form-horizontal form-bordered" name="form" novalidate>
                            <label class="label-text">{{'Project_Title' | translate}} *</label>
                            <div class="form-group clearfix form-group-custom">
                                <input type="text" class="form-control" ng-model="project.project_title"
                                       name="project_title" class="form-control" required>
                                <div ng-if="form.project_title.$error.required && form.$submitted" class="error-message">
                                    {{'Project_title_is_required' | translate}}
                                </div>
                            </div>
                            <label class="label-text">{{'Project_Description' | translate}} *</label>
                            <div class="form-group clearfix form-group-custom">
                                <input type="text" class="form-control" ng-model="project.project_description"
                                       name="project_description" class="form-control" required>

                                <div ng-if="form.project_description.$error.required && form.$submitted"
                                     class="error-message">
                                    {{'Project_description_is_required' | translate}}
                                </div>
                            </div>

                            <label class="label-text" ng-if="!isSingleProductType">{{'Product_Type' | translate}} *</label>
                            <div class="form-group clearfix form-group-custom" ng-if="!isSingleProductType">
                                <select ng-init="getProductList()" chosen
                                        data-placeholder-text-single="'Choose a Product'"
                                        class="form-control" name="product_id" ng-model="project.product_id"
                                        ng-options="productType.id_product as productType.product_name for productType in productTypeList"
                                        required>
                                    <option value="">--{{'Select_Product_Type' | translate}}--</option>
                                </select>
                                <div ng-if="form.product_id.$error.required && form.$submitted" class="error-message">
                                    Product is required
                                </div>
                            </div>
                            <label class="label-text">{{'Borrower' | translate}} *</label>

                          <!--  <div class="form-group clearfix form-group-custom">
                                <input type="text"
                                       ng-init="getCrmCompanyList()"
                                       class="form-control"
                                       ng-model="project.crm_company_id"
                                       placeholder="Custom template"
                                       uib-typeahead="company.id_crm_company as company.company_name for company in getCrmCompanyList($viewValue)"
                                       typeahead-show-hint="true" typeahead-min-length="0">
                            </div>
-->
                            <div class="form-group clearfix form-group-custom">
                                <select ng-init="getCrmCompanyList()"
                                        class="form-control" chosen
                                        ng-keypress="getCrmCompanyList($viewValue)"
                                        ng-options="company.id_crm_company as company.company_name for company in companyList"
                                        name="crm_company_id"
                                        ng-model="project.crm_company_id" required>
                                    <option value="">--{{'Select_Borrower' | translate}}--</option>
                                </select>
                                <div ng-if="form.crm_company_id.$error.required && form.$submitted"
                                     class="error-message">
                                    {{'Borrower_is_required' | translate}}
                                </div>
                            </div>


                            <div class="col-lg-12 btn-custom clearfix text-center mb10 mt20">
                                <button class="btn btn-primary f12 border-none lt-bg mr4"
                                        ng-click="form.$valid && submitQuickProject(project,form,false)"
                                        n-t='{"e_n":"Save","e_d":"Project - {{projectTitle}}","form":"form.$valid"}'>
                                    {{'Save' | translate}}
                                </button>
                                <button  class="btn btn-green f12 border-none lt-bg"
                                        ng-click="form.$valid && submitQuickProject(project,form,true)"
                                         n-t='{"e_n":"Save & Continue","e_d":"Project - {{projectTitle}}","form":"form.$valid"}'>
                                    {{'general.general_save_continue' | translate}}
                                </button>
                            </div>


                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/ng-template" id="loaninformaion.html">
    <div class="col-sm-12 p0 clearfix">
        <table class="table">
            <thead>
            <tr>
                <td>{{'Currency' | translate}}</td>
                <td>{{'Amount' | translate}}</td>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="amount in row.loan_amount">
                <td>{{amount.currency_code}}</td>
                <td>{{amount.amount}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</script>