<any ng-switch="$state.current.name">


<div ng-switch-when="project.project-view" class="display-inline-block wrapper-list c-wrap-list pt10 col-sm-12 clearfix">
    <h3 class="f15 dark-sky-blue">{{ projectDetails.project_title }}</h3>
    <ul class="pheader-list">
        <li>
            <p class="f12 word-break">{{'Company' | translate}}</p>
            <h3 class="f13 heading text-line head-width">{{ projectDetails.company_name }}</h3>
            <button ng-if="projectDetails.company_name ==''" ng-click="AddedCompaniesModal()"
                    class="btn btn-primary lt-bg border-none f12 mt5">
                <i class="fa fa-plus-circle"></i>
                <span>Add</span>
            </button>
        </li>
        <li>

            <p class="f12 word-break">{{'Contacts' | translate}}</p>
            <h3 class="f13 heading">{{ projectDetails.contact_name}}
            </h3>
            <button ng-if="projectDetails.contact_name == ''" ng-click="AddedContactsModal()"
                    n-t='{"e_n":"Project - Add Contacts","e_d":"{{projectDetails.project_title}}"}'
                    class="btn btn-primary lt-bg border-none f12 btn-sm display-block"><i
                    class="fa fa-plus-circle"></i> <span class="white-color">{{'Add' | translate}}</span>
            </button>
        </li>
        <li>
            <p class="f12 word-break">{{'Loans' | translate}}</p>
            <h3 class="f13 heading">{{projectDetails.no_of_loans}}</h3>

        </li>
        <li>
            <p class="f12 word-break line-height14">{{'project.project_facility_amount' | translate}}</p>
            <h3 class="heading ">
                <div class="f13 text-line" ng-repeat="item in projectDetails.loan_amount">
                    {{item.currency_code}} {{item.amount | currency:""}}
                </div>
            </h3>
        </li>


    </ul>
</div>

<div ng-switch-default class="display-inline-block wrapper-list c-wrap-list pt10 col-sm-12 clearfix" >
        <h3 class="f15 dark-sky-blue" ng-init="projecttitle = projectDetails.project_title">{{ projectDetails.project_title }}</h3>
        <ul>
            <li>
                <p class="f12 word-break">{{'Company' | translate}}</p>
                <h3 class="f14 heading text-line head-width">{{projectDetails.company_name}}
                </h3>
            </li>
            <li>

                <p class="f12 word-break">{{'Contacts' | translate}}</p>
                <h3 class="f14 heading text-line">{{projectDetails.contact_name}}
                </h3>
            </li>
            <li>
                <p class="f12 word-break text-line">{{'no_of_loans' | translate}}</p>
                <h3 class="f14 heading text-line">{{projectDetails.no_of_loans}}</h3>

            </li>
            <li>
                <p class="f12 word-break">{{'Sector' | translate}}</p>
                <h3 class="f14 heading text-line" title="{{projectDetails.sector}}">{{projectDetails.sector}}</h3>

            </li>
            <li>
                <p class="f12 word-break">{{'project.project_facility_amount' | translate}}</p>
                <h3 class="f14 heading text-line">
                    <div class="f14" ng-repeat="item in projectDetails.loan_amount">
                        {{item.currency_code}} {{item.amount | currency:""}}
                    </div>
                </h3>

            </li>
            <li>
                <p class="f12 ">{{'Status' | translate}}</p>
                <h3 class="f14 bold " label-status="{{projectDetails.project_status}}">
                    {{projectDetails.project_status }}</h3>
            </li>
        </ul>
    </div>
</any>