<h3 class="fixed content-heading">
    <ul class="breadcrumb">
        <li><a ui-sref="project.project-dashboard" n-t='{"e_n":"Back to Project list","e_d":"Project - {{projectTitle}}"}'>{{'Project' | translate}}</a> </li>
        <li><a ui-sref="project.project-view({id:(currentProjectViewId | encode )})" n-t='{"e_n":"Back to Project details","e_d":"Project - {{projectTitle}}"}'>{{ projectDetails.project_title }}</a></li>
        <li>{{stageName}}</li>
        <li>{{sectionName}}</li>
    </ul>
    <div class="pull-right button-set">
        <a ui-sref="project.project-view({id:(currentProjectViewId | encode )})" uib-tooltip="Back" n-t='{"e_n":"Back {{formName}}","e_d":"Project - {{projectTitle}}"}'><i class="fa fa-close-sm"></i></a>
    </div>
</h3>
<div class="col-sm-12 fixed clearfix  z1 fixed-top full-fixed-top" ng-class="{visible:boolChangeClass}" fixed-top>
    <div class="clearfix relative details-fixed-top border-none no-bg pad0">
        <div class="col-sm-12 clearfix p0">
            <div class="page-header-wrap mt0  box-shadow clearfix">
                <div ng-include="'partials/crm/project/project-header.html'"></div>
            </div>
        </div>
    </div>
</div>
<div class="content-area" id="contentArea">

    <div class="content-container clearfix">

        <div class="col-sm-12 p0">
            <div class="page-header-wrap white-bg box-shadow clearfix relative mb15">
                <div ng-include="'partials/crm/project/project-header.html'" ng-init="getProjectDetails()"></div>
                <div class="clearfix"></div>
            </div>
        </div>

        <div class="col-sm-12 plr20 mb20 mt5" ng-if="permission[stage_key+'_view']">
            <div class=" mt5 pl0 p-data" ng-class="div_size=='full'?'col-lg-12 col-sm-8 ':'col-lg-9 col-sm-8 '">
                <div class="div-header clearfix  border-bottom  white-bg">
                    <h3 class="darkcolor pull-left display-inline-block f14 roboto-bold text-capitalize p15">
                      {{formName}}</span>
                        <span class=" f10 font-italic" ng-if="selectedVersion && currentVersion>1" ng-init="getStageVersion()">
                            ( Revision:{{selectedVersion}} Created by {{versionDetails.user_name}} on {{versionDetails.created_date_time | utcToLocal}} )
                        </span>
                    </h3>
                    <div class="pull-right cust-pagination mb0">
                        <ul class="c-pagination mt10">
                            <li ng-show="prevBtnShow">
                                <a href="javascript:;" ng-click="prevForm()"
                                   n-t='{"e_n":"Project - {{formName}} Previous","e_d":"Project - {{projectTitle}}"}'><i class="icon-angle-left"></i> </a>
                            </li>
                            <li ng-show="nextBtnShow">
                                <a href="javascript:;" ng-click="nextForm()"
                                   n-t='{"e_n":"Project - {{formName}} Next","e_d":"Project - {{projectTitle}}"}'><i class="icon-angle-right"></i> </a>
                            </li>
                        </ul>
                        <div class="comment-wrapper" ng-click="comment_wrap=!comment_wrap; submitStatus = false;">
                            <a class="comment-count" href="javascript:;"
                               n-t='{"e_n":"Project - {{formName}} view","e_d":"Project - {{projectTitle}}"}'>
                                <i class="icon-comment3 f24"></i>
                                <!--<label class="circle-count">5</label>-->
                            </a>
                        </div>

                    </div>
                </div>
                <div class="white-bg clearfix">

                    <div class="add-comment-wrap clearfix" ng-show="comment_wrap">
                        <div class="col-sm p0 add-comment-right">
                            <h4 class="clearfix">
                                <i class="icon-comment3"></i> {{'Comments' | translate}}
                                <div class="pull-right">
                                    <a class="mr8 btn btn-dark bold f12" href="javascript:;" ng-click="add_comment=!add_comment; submitStatus = false;"
                                       n-t='{"e_n":"Add Comment {{formName}}","e_d":"Project - {{projectTitle}}"'>{{'Add_Comment' | translate}} </a>
                                    <a href="javascript:;" ng-click="comment_wrap=!comment_wrap"><i class="icon-times"></i>
                                    </a>
                                </div>
                            </h4>
                            <div class="scroll-area">
                                <div class="people-wrap clearfix cust-comment-wrap" ng-show="add_comment">
                                    <div class="peopleImgWrap">
                                        <img alt="image" src="images/default-img.png" class="img-circle">
                                    </div>
                                    <div class="peopleDetails-wrap">
                                        <p class="peopleName ash-color f12">
                                            <span class="text-capitalize darkblue pull-left">{{username}} - <label class="ash-color">
                                                {{designation}} </label></span></p>

                                    </div>
                                    <div class="peopleDetails-comments add-comment">
                                        <form name="commentForm" novalidate>
                                            <div class="relative">
                                                <textarea class="width-full min-height70" ng-model="comment" name="userComment" required></textarea>
                                                <div ng-if="commentForm.userComment.$error.required && submitStatus" class="error-message">
                                                    {{'Enter_Comment' | translate}}
                                                </div>
                                            </div>

                                            <div class="mt15">
                                                <button class="btn btn-success f12 bold mr4" ng-click="addFormComment(commentForm,comment)"
                                                    n-t='{"e_n":"Save Comment {{formName}}","e_d":"Project - {{projectTitle}}"","form":"commentForm.$valid"}'>
                                                    {{'Submit' | translate}}
                                                </button>
                                                <button class="btn btn-danger f12 bold" ng-click="add_comment=!add_comment"
                                                    n-t='{"e_n":"Cancel Comment {{formName}}","e_d":"Project - {{projectTitle}}""}'>
                                                    {{'Cancel' | translate}}
                                                </button>
                                            </div>
                                        </form>
                                    </div>

                                </div>

                                <div class="people-wrap clearfix cust-comment-wrap" ng-repeat="formComment in formComments">
                                    <div class="peopleImgWrap">
                                        <img alt="image" ng-src="{{formComment.profile_image}}" class="img-circle">
                                    </div>
                                    <div class="peopleDetails-wrap">
                                        <p class="peopleName ash-color f12">
                                            <span class="text-capitalize darkblue pull-left">{{formComment.user_name}} - <label class="ash-color">
                                                {{formComment.approval_name}} </label></span>
                                            <span class="pull-right ash text-capitalize f12">{{'Commented_on' | translate}} {{formComment.created_date_time | utcToLocal}}</span>
                                        </p>

                                    </div>
                                    <div class="peopleDetails-comments">
                                        {{formComment.comment}}
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-sm-12 white-bg p0 p15" ng-if="projectDetails.project_stage_info_id">
                        <div class="clearfix " ng-if="template != null">
                            <div class="col-sm-12 p0" ng-include="'partials/crm/project/forms/'+template"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-4 mt5 pl0 pr0 white-bg" ng-hide="div_size=='full'">
                <div>
                    <div class="tabs-wrap">
                        <uib-tabset justified="true">
                            <uib-tab heading="{{'Intelligence' | translate}}" >
                                <div class="scroll-div-wrap" min-scroll n>
                                    <div ng-if="projectDetails.project_main_sector_id" ng-init="getIntelligenceDetails()">
                                    <div class="people-wrap clearfix" ng-repeat="row in knowledgeDetails">
                                        <a class="display-block" href="javascript:;" target="_blank"
                                           ui-sref="project.project-view({id:(row.id_crm_project | encode )})"
                                           n-t='{"e_n":"Intelligence - to Project {{row.project_title}}","e_d":"Project - {{projectTitle}}"}'>
                                            <div class="pull-left p5 img-wrap">
                                                <span first-alpha="{{row.project_title}}"></span>
                                            </div>
                                            <div class="p5">
                                                <p class="darkcolor f12">{{row.project_title}}</p>
                                                <!--<p class="f12 dark" data-ng-bind-html="row.project_description | ellipsis:60"></p>-->
                                            </div>
                                        </a>
                                    </div>
                                    </div>
                                    <div class="no-knowledgedata-view" ng-show="knowledgeDetails==null">{{'project.project_no_intelligencedata_available_on_this_topic' | translate}}.
                                        <div class="text-center">
                                            <!--<a class="btn lt-bg btn-primary f14 border-none display-inline-block mt10">Ask for Help</a>-->
                                        </div>
                                    </div>
                                </div>
                            </uib-tab>
                            <uib-tab heading="{{'Knowledge' | translate}}" >
                                <div class="scroll-div-wrap" min-scroll>
                                    <div class="people-wrap clearfix" ng-repeat="data in knowledgeData" ng-click="modalOpen(data)">
                                        <a ui-sref="knowledge-management.item-view({ id: data.id_knowledge_document})" target="_blank" class="display-block"
                                           n-t='{"e_n":"Knowledge - document","e_d":"Document title - {{data.document_title}}, Project - {{projectTitle}}"}'>
                                            <div class="pull-left p5 k-img" knowledge-icons data-image="{{data.document_type}}"></div>
                                            <div class="pl100 p5">
                                                <p class="darkcolor bold mb3 f14">{{data.document_title}} </p>
                                                <p class="f12 mb3" data-ng-bind-html="data.document_description | ellipsis:50"></p>
                                                <p class="sky-blue f14">
                                                    <i class="fa fa-eye f18 mr4 darkcolor valign-top display-inline-block"></i>
                                                    No. of views <span class="darkcolor ml5 bold">{{data.number_of_views}}</span>
                                                </p>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="no-knowledgedata-view" ng-show="knowledgeData == '' || knowledgeData ==null">{{'project.No knowledge base available on this topic' | translate}}
                                        <div  ui-sref="knowledge-management.knowledge-dashboard" class="text-center">
                                            <a class="btn lt-bg btn-primary f14 border-none display-inline-block mt10">{{'Click_To_Add' | translate}}</a>
                                        </div>
                                    </div>
                                </div>
                            </uib-tab>

                            <uib-tab heading="{{'People' | translate}}" >
                                <div class="scroll-div-wrap" min-scroll>
                                    <div class="people-wrap clearfix" ng-repeat="data in peopleDetails">
                                        <div class="peopleImgWrap">
                                            <img ng-src="{{data.profile_image || 'images/default-img.png'}}"/>
                                        </div>
                                        <div class="peopleDetails-wrap">
                                            <p class="peopleName darkcolor f12 mb0">{{data.username}}</p>
                                            <p class="peopleDesig darkcolor mb0" title="{{data.approval_name}}({{data.branch_name}})">{{data.approval_name}}({{data.branch_name}})</p>
                                            <p class="peopleDesig mb0 sky-blue">{{data.email_id}}</p>
                                            <p class="peopleDesig gray">{{data.phone_number}}</p>
                                        </div>
                                    </div>
                                    <div class="no-knowledgedata-view" ng-show="peopleDetails == null">{{'contact.contact_no_contacts_available_on_this_topic' | translate}}
                                        <div class="text-center">
                                            <!--<a class="btn lt-bg btn-primary f14 border-none display-inline-block mt10">Click to Add</a>-->
                                        </div>
                                    </div>
                                </div>
                            </uib-tab>
                        </uib-tabset>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
<script type="text/ng-template" id="knowledge-details.html">
    <div class="modal-wrap right-modal modal-custom">
        <div class="clearfix">
            <h3 class="right-modal-head">
                <i class="fa fa-sitemap mr8"></i>{{knowledgeData.document_title}}
                <a ng-click="cancel()" uib-tooltip="Close" n-t='{"e_n":"Close modal","e_d":"Project - {{projectTitle}}"}' class="close-right pull-right"><img src="images/close.png"></a>
            </h3>
        </div>
        <div class="modal-body clearfix">
            <div class="col-sm-12 p0">
                <div class="form-group clearfix form-group-custom mb10">
                    <div class="col-sm-2"><label class="f13 ash">{{'Title' | translate}}:</label></div>
                    <div class="col-sm-8 f14">
                        {{knowledgeData.document_title}}
                    </div>
                </div>
            </div>
            <div class="col-sm-12 p0">
                <div class="form-group clearfix form-group-custom mb10">
                    <div class="col-sm-2"><label class="f13 ash">{{'Description' | translate}}:</label></div>
                    <div class="col-sm-8 f14" data-ng-bind-html="knowledgeData.document_description"></div>
                </div>
            </div>
            <div class="col-sm-12 p0" ng-if="knowledgeData.document_type == 'document'">
                <div class="form-group clearfix form-group-custom mb10">
                    <div class="col-sm-2"><label class="f13 ash">{{'File' | translate}}:</label></div>
                    <div class="col-sm-8 p0">
                        <div class="btn-custom mt10">
                            <a href="{{knowledgeData.document_source}}" n-t='{"e_n":"Download File","e_d":"Document link - {{knowledgeData.document_source}}, Project - {{projectTitle}}"}' class="f14 sky-blue" download target="_blank"><i class="fa fa-download mlr5"></i>{{'Download' | translate}}</a><span class="f12"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 p0" ng-if="knowledgeData.document_type == 'video'">
                <div class="form-group clearfix form-group-custom mb10">
                    <!--<div class="col-sm-2"><label class="control-label">Video:</label></div>-->
                    <div class="col-sm-12 p0" add-iframe data-iframesrc="{{knowledgeData.document_source}}">
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>
