<h3 class="fixed content-heading">{{'Project_Complete_View' | translate}}
    <div class="pull-right button-set">
        <a ui-sref="project.project-dashboard" uib-tooltip="Back"><i class="fa fa-close-sm"></i></a>
    </div>
</h3>
<div class="col-sm-12 fixed clearfix  z1 fixed-top full-fixed-top" ng-class="{visible:boolChangeClass}" fixed-top>
    <div class="clearfix relative details-fixed-top no-bg border-none mt0 pad0">
        <div class="col-sm-12 clearfix p0">
            <div class="page-header-wrap box-shadow clearfix mt0 relative mb15  pt10 pb10">
                <div class="col-sm-9">
                    <div class="display-inline-block wrapper-list c-wrap-list p-overview col-sm-12 p0">
                        <h3 class="f15 dark-sky-blue">{{ projectDetails.project_title }}</h3>
                        <ul>
                            <li>
                                <p class="f12 word-break">{{'Company' | translate}}</p>
                                <h3 class="f14 heading text-line">{{projectDetails.company_name}}

                                </h3>

                                <label ng-if="projectDetails.company_name ==''" class="display-block heading line-height14">------</label>
                            </li>
                            <li>

                                <p class="f12 word-break">{{'Contacts' | translate}}</p>
                                <h3 class="f14 heading text-line">{{projectContactList[0].first_name}}
                                    <a
                                            ng-show="projectContactList.length > 1 " href="javascript:;"
                                            class="sky-blue f14">(+{{
                                        projectContactList.length-1 }})</a>
                                </h3>
                                <label ng-if="projectContactList.length == 0" class="display-block heading line-height14">------</label>
                            </li>
                            <li>
                                <p class="f12 word-break">{{'no_of_loans' | translate}}</p>
                                <h3 class="f14 heading text-line">{{projectDetails.no_of_loans}}</h3>

                            </li>
                            <li>
                                <p class="f12 word-break">{{'Sector' | translate}}</p>
                                <h3 class="f14 heading text-line" title="{{projectDetails.sector}}">{{projectDetails.sector | ellipsis:40}}</h3>

                            </li>
                            <li>
                                <p class="f12 word-break">{{'project.project_loan_amount' | translate}}</p>
                                <h3 class="f14 heading text-line">
                                    <div class="f14" ng-repeat="amount in projectDetails.loan_amount">{{amount.currency_code}} {{amount.amount | currency:""}}</div>
                                </h3>

                            </li>
                            <li >
                                <p class="f12 ">{{'Status' | translate}}</p>
                                <h3 class="f14  bold text-line display-block" label-status="{{projectDetails.project_status}}"> {{projectDetails.project_status | uppercase}}</h3>

                            </li>
                        </ul>

                    </div>
                </div>
                <div class="display-inline-block pull-right m-4 relative">
                    <div class="display-inline-block pull-right relative custom-list">
                        <a class="menu-toggle dropdown-toggle mt30" data-toggle="dropdown" href="javascript:;"><i class="fa fa-bars"></i></a>
                        <ul class="dropdown-menu custom-dropdown mr10">
                            <li>
                                <h5 class="white-color text-capitalize f14 mb10">{{'Sections_Menu' | translate}} </h5>
                                <input type="text" class="form-control f13" data-ng-model="searchKey"  ng-change="gotoElement(searchKey)"  placeholder="Search">
                            </li>
                            <li data-ng-repeat="businessKey in businessKeyData">
                                <a href="javascript:;" ng-click="gotoElement(businessKey.section_name)">{{ businessKey.section_name }}</a>
                            </li>
                            <li data-ng-repeat="projectTerms in projectTermPreviewDetails">
                                <a href="javascript:;" ng-click="gotoElement(projectTerms.product_term_key)">{{ projectTerms.product_term_name }}</a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>
<div class="content-area animated fadeInRight" id="contentArea">
    <div class="content-container clearfix" ng-hide="httpLoding">
        <div class="col-sm-12 clearfix p0" >
            <div class="page-header-wrap box-shadow white-bg clearfix relative  pt10 pb10">
                <div class="display-inline-block wrapper-list c-wrap-list p-overview col-sm-9">
                    <h3 class="f15 dark-sky-blue">{{ projectDetails.project_title }}</h3>
                    <ul>
                        <li>
                            <p class="f12 word-break">{{'Company' | translate}}</p>
                            <h3 class="f14 heading text-line">{{projectDetails.company_name}}</h3>
                            <label ng-if="projectDetails.company_name == ''" class="display-block heading line-height14">------</label>
                        </li>
                        <li>
                            <p class="f12 word-break">{{'Contacts' | translate}}</p>
                            <h3 class="f14 heading text-line">{{projectContactList[0].first_name}}
                                <a ng-show="projectContactList.length > 1 " href="javascript:;" class="sky-blue f14">(+{{projectContactList.length-1 }})</a>
                            </h3>
                            <label ng-if="projectContactList.length == 0" class="display-block heading line-height14">------</label>
                        </li>
                        <li>
                            <p class="f12 word-break">{{'no_of_loans' | translate}}</p>
                            <h3 class="f14 heading text-line">{{projectDetails.no_of_loans}}</h3>
                        </li>
                        <li>
                            <p class="f12 word-break">{{'Sector' | translate}}</p>
                            <h3 class="f14 heading text-line" title="{{projectDetails.sector}}">{{projectDetails.sector | ellipsis:40}}</h3>
                        </li>
                        <li>
                            <p class="f12 word-break">{{'Loan_Amount' | translate}}</p>
                            <h3 class="f14 heading text-line">
                                <div class="f14" ng-repeat="amount in projectDetails.loan_amount">{{amount.currency_code}} {{amount.amount | currency:""}}</div>
                            </h3>
                        </li>
                        <li >
                            <p class="f12 ">{{'Status' | translate}}</p>
                            <h3 class="f14 bold text-line display-block" label-status="{{projectDetails.project_status}}"> {{projectDetails.project_status | uppercase}}</h3>
                        </li>
                    </ul>
                </div>
                <div class="display-inline-block relative m-4 pull-right">
                    <div class="display-inline-block pull-right  relative custom-list">
                        <a class="menu-toggle dropdown-toggle mt30 mr10" data-toggle="dropdown" href="javascript:;"><i class="fa fa-bars"></i></a>
                        <ul class="dropdown-menu custom-dropdown">
                            <li>
                                <h5 class="white-color text-capitalize f14 mb10">{{'Sections_Menu' | translate}} </h5>
                                <input type="text" class="form-control f13" data-ng-model="searchKey"  ng-change="gotoElement(searchKey)"  placeholder="Search">
                            </li>
                            <li data-ng-repeat="businessKey in businessKeyData">
                                <a href="javascript:;" ng-click="gotoElement(businessKey.section_name)">{{ businessKey.section_name }}</a>
                            </li>
                            <li data-ng-repeat="projectTerms in projectTermPreviewDetails">
                                <a href="javascript:;" ng-click="gotoElement(projectTerms.product_term_key)">{{ projectTerms.product_term_name }}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-12 plr20 mb10" id="{{businessKey.section_name | underscoreadd}}" data-ng-repeat="businessKey in businessKeyData">
            <div class="div-header">
                <h3 class="f14 roboto-bold text-capitalize p10">{{ businessKey.section_name }}</h3>
            </div>
            <div class="col-sm-12 white-bg p15 p-b-0">
                <div class="pb10 form-wrap clearfix mb10" data-ng-repeat="business in businessKey.form">
                    <h4 class="darkcolor bold f14 mb5" id="{{ business.form_name | underscoreadd }}">{{business.form_name }}</h4>
                    <div class="col-sm-12 p0">
                        <div class="" ng-repeat="viewForm in business.field_data" ng-class="{'col-sm-12 col-lg-12 ': viewForm.field_type=='json' || viewForm.field_type=='textarea','col-sm-4 col-lg-3 ': viewForm.field_type!='json' || viewForm.field_type!='textarea'}">
                            <div ng-if="viewForm.field_type != 'json'  ">
                                <label class="label-text">{{ viewForm.field_label }}</label>
                                <div  ng-if="viewForm.field_value != ''" >
                                    <p ng-bind-html="viewForm.field_value" class="label-info mb5"></p>
                                </div>
                                <p ng-if="viewForm.field_value == ''" class="label-info mb5">-----</p>
                            </div>
                            <div ng-if="viewForm.field_type == 'json'">
                                <label class="label-text">{{ viewForm.field_label }}</label>
                                <div ng-if="viewForm.field_type == 'json' && viewForm.field_name=='facility_details'">
                                    <div class="loaded-form " ng-include="'partials/crm/project/facility_com/view-facility-table.html'">
                                    </div>
                                </div>
                                <div class="col-sm-12 clearfix p0 mt15 ">
                                    <div>
                                        <table class="table table-view table-customise" ng-if="viewForm.field_value != '---'">
                                            <thead>
                                            <tr ng-repeat="(key, value) in viewForm.field_value" ng-if="$first" >
                                                <th class="f13 md-word-break" ng-repeat="(chKey, chValue) in value" >{{ chKey }}</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr  ng-repeat="(key, value) in viewForm.field_value" >
                                                <td class="f12" ng-repeat="(cKey, cValue) in value" ><span data-ng-if="cValue != null || cValue != '' " >{{ cValue }}</span><span ng-if="cValue == null || cValue == '' " > &nbsp;</span></td>
                                            </tr>
                                            </tbody>
                                            <p ng-if="viewForm.field_value == ''" class="label-info">-----</p>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 plr20 mb20" id="{{businessAssessment.product_term_key}}" data-ng-repeat="businessAssessment in projectTermPreviewDetails" ng-hide="businessAssessment.product_term_key=='monitoring'">
            <div class="div-header">
                <h3 class=" f14 roboto-bold text-capitalize p10">{{ businessAssessment.product_term_name }}</h3>
            </div>
            <div class="col-sm-12  white-bg p15"  >
                <div class="form-wrap clearfix" data-ng-if="businessAssessment.product_term_type == 'question'">
                    <div class="col-sm-12">
                        <ul class="ques-view-wrap" data-ng-repeat="businessCategory in businessAssessment.data[0].category">
                            <h4 class="bold mb10 f14 darkcolor">
                                <span>{{businessCategory.assessment_question_category_name}}</span>
                            </h4>
                            <li class="mb5 clearfix" data-ng-repeat="question in businessCategory.question" >
                                <div class="clearfix mb5">
                                    <span class="ques-box">Q</span>
                                    <label class="f14 ques-text darkcolor bold" data-ng-bind-html="question.assessment_question"></label>
                                </div>
                                <div ng-switch on="question.question_type">

                                    <div class="ans-text">
                                        <div ng-switch-when="radio">
                                            <div data-ng-repeat="questionOption in question.question_option" data-ng-if="questionOption.option_value == question.answer.assessment_answer">
                                                <p class="f12 darkcolor" data-ng-bind-html="questionOption.option_title"></p>
                                            </div>
                                        </div>
                                        <div  ng-switch-when="dropdown">
                                            <div data-ng-repeat="questionOption in question.question_option" data-ng-if="questionOption.option_value == question.answer.assessment_answer">
                                                <p class="f12 darkcolor" data-ng-bind-html="questionOption.option_title"></p>
                                            </div>
                                        </div>
                                        <div  ng-switch-when="checkbox">
                                            <div data-ng-repeat="(key,val) in question.answer.assessment_answer" >
                                            <span class="f12 darkcolor display-inline-block mr4 valign-top" data-ng-repeat="questionOption in question.question_option"  data-ng-if="questionOption.option_id ==  key && val == true" >
                                                {{ questionOption.option_title }}
                                            </span>
                                            </div>
                                        </div>
                                        <div  ng-switch-when="date">
                                            <p class="f12 darkcolor" data-ng-bind-html=" question.answer.assessment_answer | date:mediumDate"></p>
                                        </div>
                                        <div  ng-switch-when="file">
                                            <div class="row col-lg-12 ng-scope" data-ng-if="question.answer.assessment_answer != null">
                                                <a target="_blank" class="f12 display-block sky-blue" href="{{question.answer.assessment_answer}}" download=""><i class="fa fa-download mr4"></i>{{'Download' | translate}}</a>
                                            </div>
                                        </div>
                                        <div  ng-switch-default>
                                            <p class="f12 darkcolor" data-ng-bind-html="question.answer.assessment_answer"></p>
                                        </div>
                                    </div>
                                </div>
                                <div data-ng-if="question.question_type == '' ">
                                    <p class="f12 darkcolor" data-ng-bind-html="question.answer.assessment_answer"></p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="form-wrap  clearfix" data-ng-if="businessAssessment.product_term_type == 'item'">
                    <div class="col-sm-12">
                        <div class=" clearfix">
                            <div class="" data-ng-repeat="business in businessAssessment.data">
                                <h5 class=" bold f14 darkcolor">{{ business.product_term_item_name }}</h5>
                                <ul>
                                    <li class="ptb10" data-ng-if="business.item_type == 'textarea'" class="clearfix">
                                        <p class="f12" data-ng-bind-html="business.answer" data-ng-if="business.answer != ''"></p>
                                        <p class="f12" data-ng-if="business.answer == ''">-----</p>
                                    </li>
                                    <li class="ptb10" data-ng-if="business.product_term_item_key == 'key_risk_factors'" class="clearfix">
                                        <div class="col-sm-12 ">
                                            <div class=" r-overview clearfix">
                                                <div class="table-wrapper  p0 pt5 table-responsive">
                                                    <table st-table="business.answer" class="table c-table table-striped table-bordered table-hover display table-style">
                                                        <thead>
                                                        <tr>
                                                            <th st-sort="network">{{'project.risk' | translate}}</th>
                                                            <th st-sort="details">{{'project.type' | translate}}</th>
                                                            <th st-sort="details">{{'project.description' | translate}}</th>
                                                            <th st-sort="details">{{'project.mitigation' | translate}}</th>
                                                            <th st-sort="details">{{'project.risk_grade' | translate}}</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        <tr ng-repeat="row in business.answer">
                                                            <td>{{row.name}}</td>
                                                            <td>{{row.type}}</td>
                                                            <td>{{row.description}}</td>
                                                            <td>{{row.mitigation}}</td>
                                                            <td>{{row.grade}}</td>
                                                        </tr>
                                                        </tbody>
                                                        <tfoot ng-if="!company.risk_items"></tfoot>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="ptb10" data-ng-if="business.item_type == 'comments'" class="clearfix">
                                        <div class="scroll-area">
                                            <div class="people-wrap clearfix cust-comment-wrap"
                                                 ng-repeat="comment in business.answer">
                                                <div class="peopleImgWrap">
                                                    <img alt="image" src="{{comment.profile_image}}" class="img-circle">
                                                </div>
                                                <div class="peopleDetails-wrap">
                                                    <p class="peopleName ash-color f12"><span
                                                            class="text-capitalize darkblue pull-left">{{comment.username}}- <label
                                                            class="ash-color"> {{comment.approval_name}} </label></span> <span
                                                            class="pull-right ash text-capitalize f12">{{comment.committee_name}}</span>
                                                    </p>
                                                </div>
                                                <div class="peopleDetails-comments">
                                                    {{comment.comments}}
                                                </div>
                                            </div>
                                            <!--<div class="text-center mt10">
                                                <a href="javascript:;" class="sky-blue f12">View More Comments <i class="icon-angle-down valign-middle"></i> </a>
                                            </div>-->
                                        </div>
                                    </li>
                                    <li class="ptb10" data-ng-if="business.item_type == 'Covenants'" class="clearfix" >
                                        <div ng-repeat="c in business.category" >
                                            <p>{{c.covenant_category}}</p>
                                            <table class="table table-bordered table-hover display table-style">
                                                <thead>
                                                <tr>
                                                    <th>{{'id' | translate}}</th>
                                                    <th>{{'project.risk' | translate}}</th>
                                                    <th>{{'project.project_covenant_details' | translate}}</th>
                                                    <th>{{'project.project_covenant_value' | translate}}</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr ng-repeat="ci in c.covenant" >
                                                    <td>{{ci.id_covenant}}</td>
                                                    <td>{{ci.covenant_name}}</td>
                                                    <td>{{ci.covenant_details_defination}}</td>
                                                    <td>{{ci.covenant_value}}</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </li>
                                    <li class="ptb10"  class="clearfix">
                                        <div  ng-if="business.product_term_item_name == 'Facility Information'" >
                                            <div class="complete-view" ng-include="'partials/crm/project/facility_com/view-facility-table.html'">
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-wrap clearfix" data-ng-if="businessAssessment.product_term_type == 'risk'">
                    <div class="col-sm-12 ">
                        <div class=" r-overview clearfix">
                            <div class="table-wrapper  p0 pt5 table-responsive">
                                <table st-table="businessAssessment.data.risk_items" class="table c-table table-striped table-bordered table-hover display table-style">
                                    <thead>
                                    <tr>
                                        <th st-sort="network">{{'project.risk' | translate}}</th>
                                        <th st-sort="details">{{'project.type' | translate}}</th>
                                        <th st-sort="details">{{'project.description' | translate}}</th>
                                        <th st-sort="details">{{'project.mitigation' | translate}}</th>
                                        <th st-sort="details">{{'project.risk_grade' | translate}}</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="row in businessAssessment.data.risk_items">
                                        <td>{{row.name}}</td>
                                        <td>{{row.type}}</td>
                                        <td>{{row.description}}</td>
                                        <td>{{row.mitigation}}</td>
                                        <td>{{row.grade}}</td>
                                    </tr>
                                    </tbody>
                                    <tfoot ng-if="!company.risk_items"></tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-wrap clearfix" data-ng-if="businessAssessment.product_term_type == 'collateral'">
                    <div class="col-sm-12 ">
                        <div class=" r-overview clearfix">
                            <div class="table-wrapper  p0 pt5 table-responsive">
                                <table st-table="businessAssessment.data" class="table c-table table-striped table-bordered table-hover display table-style">
                                    <thead>
                                    <tr>
                                        <th st-sort="network">{{'project_facility_name' | translate}}</th>
                                        <th st-sort="details">{{'Collateral_Name' | translate}}</th>
                                        <th st-sort="details">{{'Loan_Amount' | translate}}</th>
                                        <th st-sort="details">{{'contact_created_by' | translate}}</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="row in businessAssessment.data">
                                        <td>{{row.facility_name}}</td>
                                        <td>{{row.collateral_code}}</td>
                                        <td>{{row.loan_amount}}</td>
                                        <td>{{row.username}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-wrap clearfix" data-ng-if="businessAssessment.product_term_type == 'monitoring'">
                    <div class="col-sm-12 ">
                        <div class=" r-overview clearfix">
                            <div class="table-wrapper  p0 pt5 table-responsive">
                                <table st-table="businessAssessment.data" class="table c-table table-striped table-bordered table-hover display table-style">
                                    <thead>
                                    <tr>
                                        <th st-sort="network" ng-hide="businessAssessment.product_term_key=='other_reports'">{{'Date' | translate}}</th>
                                        <th st-sort="details">{{''Title | translate}}</th>
                                        <th st-sort="details">{{'contact_created_by' | translate}}</th>
                                        <th st-sort="details">{{'project.project_grading' | translate}}</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="row in businessAssessment.data">
                                        <td ng-hide="businessAssessment.product_term_key=='other_reports'">{{row.date}}</td>
                                        <td>{{row.title}}</td>
                                        <td>{{row.username}}</td>
                                        <td>{{row.grading}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>