<h3 class="fixed content-heading">
    <ul class="breadcrumb">
        <li><a ui-sref="project.project-dashboard" n-t='{"e_n":"Back Project list","e_d":"Project - {{projectTitle}}"}'>{{'Project' | translate}}</a> </li>
        <li><a ui-sref="project.project-view({id:(currentProjectViewId | encode )})" n-t='{"e_n":"Back Project details","e_d":"Project - {{projectTitle}}"}'>{{ projectDetails.project_title }}</a></li>
        <li>{{stageInfo.stage_name}}</li>
    </ul>
    <div class="pull-right button-set">

        <a ui-sref="project.project-view({id:(currentProjectViewId | encode )})" uib-tooltip="Back"
           n-t='{"e_n":"Close","e_d":"Project - {{projectTitle}}"}'><i class="fa fa-close-sm"></i></a>
    </div>
</h3>
<div class="col-sm-12 fixed clearfix  z1 fixed-top full-fixed-top" ng-class="{visible:boolChangeClass}" fixed-top>
    <div class="clearfix relative details-fixed-top border-none no-bg pad0">
        <div class="col-sm-12 clearfix p0">
            <div class="page-header-wrap mt0  box-shadow clearfix">
                <div ng-include="'partials/crm/project/project-header.html'" ></div>
            </div>
        </div>
    </div>
</div>
<div class="content-area animated fadeInRight" id="contentArea">
    <div class="content-container clearfix">

        <div class="col-sm-12 p0">
            <div class="page-header-wrap white-bg box-shadow clearfix relative mb15">
                <div ng-include="'partials/crm/project/project-header.html'" ng-init="getProjectDetails()"></div>
            </div>
        </div>

        <div class="col-sm-12 col-lg-12 plr20 mb20" ng-if="permission[stageInfo.stage_key+'_complete_view']">
            <div class="col-sm-8 col-lg-9 p0" ng-init="getProjectStageWorkflowInfo()">
                <div class="col-sm-12 p0 {{stageInfo.stage_class}} white-color min-height0">
                    <div class="col-sm-8 pr0 concept-view-head">
                        <div class="pt10 pb10">
                            <h6 class="f16">{{stageInfo.stage_name}} {{'Complete_View' | translate}}</h6>
                            <p class="mb0">
                                <span class="f10 font-italic" ng-if="stageWorkFlowInfo.user_name"> {{stageWorkFlowInfo.user_name }} ({{stageWorkFlowInfo.legal_name}}) On </span>
                                <span class="f10 font-italic" ng-if="stageWorkFlowInfo.start_date_time">{{stageWorkFlowInfo.start_date_time | utcToLocal:'date'}} </span>
                                <!--<span class="f10 font-italic" ng-if="stageWorkFlowInfo.legal_name">, ({{stageWorkFlowInfo.legal_name}})</span>-->
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-4 pt2"> <!--{{stageWorkFlowInfo.project_stage_status}}-->
                        <!--menu-toggle f13 dark-sky-blue dropdown-toggle-->
                        <div ng-if="stageInfo.stage_name =='Facility Approval Memo'" class="display-inline-block custom-list valign-middle pull-right relative mt10 pt2">
                            <a href="javascript:;" class="menu-toggle dropdown-toggle"
                               data-toggle="dropdown"><i class="fa fa-ellipsis-v f32 white-color"></i></a>
                            <ul class="dropdown-menu width150">
                                <li>
                                    <a ng-if="stageInfo.stage_name =='Facility Approval Memo'"
                                       href="" class="darkcolor" ng-click="downloadFacilityTermSheetDoc()"
                                       n-t='{"e_n":"Download {{sectionName}}","e_d":"Project - {{projectTitle}}, post approval"}'>
                                        {{'Download' | translate}} {{stageInfo.stage_name}}
                                    </a>
                                </li>
                    <!--            <li ng-if="stageInfo.stage_name=='Post Approval'">
                                    <a href="" class="darkcolor" ng-click="downloadOfferLetter()"
                                       n-t='{"e_n":"Term sheet {{sectionName}}","e_d":"Project - {{projectTitle}}, Term sheet for post approval"}'>
                                        {{'Download Offer Letter' | translate}}
                                    </a>
                                </li>
                                <li ng-if="stageInfo.stage_name=='Pre Appraisal'">
                                    <a href="" class="darkcolor" ng-click="downloadTermSheetDoc()"
                                       n-t='{"e_n":"Term sheet {{sectionName}}","e_d":"Project - {{projectTitle}}, Term sheet for pre approval"}'>
                                        {{'Download' | translate}} Indicative Facility Term Sheet
                                    </a>
                                </li>
                                <li ng-if="stageInfo.stage_name=='Post Approval'">
                                    <a href="" class="darkcolor" ng-click="downloadFacilityTermSheetDoc()"
                                       n-t='{"e_n":"Term sheet {{sectionName}}","e_d":"Project - {{projectTitle}}, Facility term sheet for pre approval"}'>
                                        {{'Download' | translate}} Facility Term Sheet
                                    </a>
                                </li>-->
                            </ul>
                        </div>
                        <div class="pl5 pull-right mr10" ng-show="stageInfo.id_project_stage_info">
                            <div uib-tooltip="Comments" class="comment-wrapper ml0 no-bg"
                                 ng-click="comment_wrap=!comment_wrap; submitStatus = false;concept_hide_btn=false;meeting_show=false;facility_wrap=false">
                                <a class="comment-count" href="javascript:;">
                                    <i class="icon-comment3 f24"></i>
                                </a>
                            </div>
                        </div>
                        <div class="pl5 pull-right" ng-show="stageInfo.id_project_stage_info">
                            <div uib-tooltip="Meetings" class="comment-wrapper ml0 no-bg">
                                <a class="comment-count" href="javascript:;"
                                   ng-click="meeting_show =! meeting_show;concept_hide_btn=false;facility_wrap=false;comment_wrap=false">
                                    <i class="icon-users1 f24"></i>
                                </a>
                            </div>
                        </div>
                        <div class="pl5 pull-right" ng-show="stageInfo.id_project_stage_info"
                             ng-init="facility_wrap = false">
                            <div uib-tooltip="Facility" class="comment-wrapper ml0 no-bg">
                                <a class="comment-count" href="javascript:;"
                                   ng-click="facility_wrap =! facility_wrap; concept_hide_btn=false;meeting_show=false;comment_wrap=false">
                                    <i class="icon-facility f24"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 p0 white-bg clearfix">

                    <div class="add-comment-wrap clearfix" ng-if="facility_wrap">
                        <div class="col-sm p0">
                            <h4 class="clearfix">
                                <!--<i class="icon-comment3"></i>--> {{'Facility' | translate}}
                                <div class="pull-right pb2">
                                    <a href="javascript:;" ng-click="$parent.facility_wrap=!$parent.facility_wrap"><i
                                            class="icon-times" uib-tooltip="Close"></i>
                                    </a>
                                </div>
                            </h4>
                            <div>
                                <div class="col-sm-12 project-process-comments-wrap p0">
                                    <div class="clearboth clearfix col-sm-12 p0">
                                        <div class="col-sm-12 p0">
                                            <div ng-init="getFacilities(stageInfo.id_project_stage_info)">
                                                <div class=" table-wrapper p0 c-table pt5 table-responsive">
                                                    <table class="table table-striped table-bordered table-hover display table-style"
                                                           ng-if="facilitiesInfo">
                                                        <thead>
                                                        <tr>
                                                            <th>{{'project.project_facility_name' | translate}}</th>
                                                            <th>{{'type' | translate}}</th>
                                                            <th>{{'Sub_Type' | translate}}</th>
                                                            <th>{{'Amount' | translate}}(USD)</th>
                                                        </tr>
                                                        </thead>
                                                        <tbody>
                                                        <tr ng-repeat="item in facilitiesInfo">
                                                            <td ><a ng-click="getFacility(item)">{{item.project_facility_name}}</a>
                                                            </td>
                                                            <td>{{item.facility_type_name}}</td>
                                                            <td>{{item.facility_sub_type_name | checkEmpty}}</td>
                                                            <td>{{item.facility_usd_amount | currency:''}}</td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="white-bg clearfix readonly-form" ng-show="facility_details_show">
                            <div ng-include="'partials/crm/project/stage/facility-details.html'"></div>
                        </div>
                    </div>


                    <div class="add-comment-wrap clearfix" ng-if="comment_wrap">
                        <div class="col-sm p0">
                            <h4 class="clearfix">
                                <!--<i class="icon-comment3"></i>--> {{'Comments' | translate}}
                                <div class="pull-right pb2">
                                    <a href="javascript:;" ng-click="$parent.comment_wrap=!$parent.comment_wrap"><i
                                            class="icon-times" uib-tooltip="Close"></i>
                                    </a>
                                </div>
                            </h4>
                            <div class="">
                                <div class="col-sm-12 project-process-comments-wrap p0"
                                     ng-init="getProjectStageComments()">
                                    <div class="acc-box clearboth clearfix border col-sm-12 p0"
                                         ng-repeat="c in stageCommentsList">
                                        <div class="acc-head col-sm-12 p0 clearfix">
                                            <div class="col-sm-3 border-right">
                                                <div class="comment-h-wrap">
                                                    <ANY ng-switch="c.status" class="comment-icon">
                                                        <ANY ng-switch-when="need info">
                                                            <span class="icon-clipped-file display-inline sky-blue  pull-left mr15"></span>
                                                        </ANY>
                                                        <ANY ng-switch-default>
                                                            <span class="icon-info display-inline sky-blue pull-left mr15"></span>
                                                        </ANY>
                                                    </ANY>

                                                    <a href="javascript:;"
                                                       title="{{stageInfo.stage_name}} Set for Review"
                                                       class="f14 sky-blue display-block label-text text-line"
                                                       basic-accordian>{{c.from_phase_name}}</a>
                                                    <label title="{{c.user_name}}" class="f14 darkcolor text-line">{{c.from_user_name}}</label>
                                                </div>

                                            </div>
                                            <div class="col-sm-3 border-right">
                                                <label class="label-text display-block">{{c.to_phase_name}}</label>
                                                <label class="f14 darkcolor">{{c.to_user_name}}</label>
                                            </div>
                                            <div class="col-sm-2 border-right">
                                                <label class="label-text display-block">{{'Attachments' | translate}}</label>
                                                <label class=" f14 text-line sky-blue "
                                                       ng-class="{'menu-toggle c-dropdown':c.documents.length>0}"
                                                       data-toggle="dropdown">

                                                    <label ng-show="c.documents.length==1">{{c.documents.length}}
                                                        File</label>
                                                    <label ng-show="c.documents.length>1">{{c.documents.length}}
                                                        Files</label>
                                                </label>
                                                <ul class="dropdown-menu c-dropdown pl10">
                                                    <li ng-repeat="d in c.documents">
                                                        <a ng-href="{{d.document_source}}" target="_blank"
                                                           title="{{d.document_name | getFileName:d.document_name }}"
                                                           download class="sky-blue text-line">{{d.document_name
                                                            | getFileName:d.document_name }}</a>
                                                    </li>
                                                </ul>

                                                <!--
                                                <div class="menu-toggle dropdown-toggle col-sm-12 ash-bg" data-toggle="dropdown" ng-click="getMembersList = !getMembersList">
                                                    <span class="sky-blue display-block pt10 f14" >6 Members</span>
                                                    </div>
                                                    <ul class="dropdown-menu light-blue-bg-new pl10" ng-show="getMembersList">
                                                    <li class="notification-list">
                                                    <a class="sky-blue">Kristan Simmonds</a>
                                                    </li>
                                                    <li class="notification-list">
                                                    <a class="sky-blue">Eric Godinez</a>
                                                    </li>
                                                    <li class="notification-list">
                                                    <a class="sky-blue">Javier Cisneors</a>
                                                    </li>
                                                    <li class="notification-list">
                                                    <a class="sky-blue">Francisco Zavala</a>
                                                    </li>
                                                    </ul>
                                                    -->
                                            </div>
                                            <div class="col-sm-2 border-right">
                                                <label class="label-text display-block">{{c.created_date_time|utcToLocal:'date'}}</label>
                                                <label class=" f14 darkcolor text-line">{{c.created_date_time|utcToLocal:'time'}}</label>
                                            </div>
                                            <div class="col-sm-2">
                                                <label class="label-text display-block">{{'Status' | translate}}</label>
                                                <span class="btn-xs" label-status="{{c.status | uppercase}}">{{c.status | uppercase}}</span>
                                            </div>
                                        </div>
                                        <div class="acc-body border-top col-sm-12 clearfix p10">
                                            <!--<h3 class="darkcolor pb10 fontBold">Comments</h3>-->
                                            <p>{{c.comment}} </p>
                                        </div>
                                    </div>
                                </div>

                            </div>

                        </div>
                    </div>
                    <div class="col-sm-12 col-lg-12 p0 appraisal-meeting-list"  ng-if="meeting_show" meeting>
                        <h4 class="darkcolor bold m10">{{'Meetings' | translate}}
                            <div class="pull-right pb2">
                                <a href="javascript:;" ng-click="$parent.meeting_show =! $parent.meeting_show"
                                   class="pull-right f20" uib-tooltip="Close"><i class="icon-times"></i></a>
                                <!--   <a class="mr8 btn btn-dark bold f12 pull-right mr4"  ng-click="createMeeting({'reference_type':'meeting','reference_id':workFlowActionBtn.id_project_stage_workflow_phase,'project_id':currentProjectViewId})" meeting uib-tooltip="Meeting"
                                      >
                                       Create Meeting
                                   </a>-->

                                <a href="javascript:;" class="pull-right mr15 f20"
                                   ng-click="createMeeting({'module_type':'project','module_id':currentProjectViewId,'reference_type':'meeting','reference_id':workFlowActionBtn.id_project_stage_workflow_phase,'project_id':currentProjectViewId},'create')"
                                   ng-if="workFlowActionBtn.id_project_stage_workflow_phase"
                                   n-t='{"e_n":"Project - Add meeting modal","e_d":"Project - {{projectTitle}}"}' uib-tooltip="Create Meeting">
                                    <i class="icon-plus-circle"></i>
                                </a>
                            </div>
                        </h4>
                        <div ng-scrollbars dropdown-scroll-overflow style="max-height: 250px;">
                            <meeting-list template-url="partials/component/meeting/meeting-list.html"
                                          get-data="{'module_type':'project','module_id':currentProjectViewId,'project_stage_info_id':stageInfo.id_project_stage_info,'reference_type':'meeting'}"
                                          reload="meetingReload">

                            </meeting-list>
                        </div>
                    </div>
                    <div class="col-sm-12 white-bg p0">
                        <div class="clearfix " ng-if="template != null">
                            <div class="col-sm-12 mt5 p0" ng-include="'partials/crm/project/forms/'+template"></div>
                        </div>
                    </div>
                </div>
                <div ng-if="stageInfo.stage_key"
                     ng-include="'partials/crm/project/stage/'+stageInfo.stage_key+'.html'"></div>
            </div>
            <div class="col-sm-4 col-lg-3 pr0">
                <any ng-init="getWorkflowActions()">
                    <div class="col-sm-12 white-bg p0 pb10  mb10 border" ng-show="workFlowActionBtn.actions.length>0">
                        <h6 class="darkcolor text-capitalize ptb10 f14 fontBold border-bottom mb5 plr15">{{'actions' | translate}}
                            <span ng-if="workFlowActionBtn.workflow_phase_name && workFlowActionBtn.workflow_phase_name !='' ">({{workFlowActionBtn.workflow_phase_name}})</span>
                        </h6>
                        <div class="mb3  plr15" ng-repeat="item in workFlowActionBtn.actions">
                            <button type="button"
                                    n-t='{"e_n":"Open Modal {{item.workflow_action_name}}","e_d":"Workflow name - {{item.workflow_action_name}}, Project - {{projectTitle}}"}'
                                    ng-click="actionModal(item)" class="btn f14 fontBold width-full display-block"
                                    label-status="{{item.workflow_action_key}}">
                                {{item.workflow_action_name}}
                            </button>
                        </div>


                        <div class="plr15 clearfix">
                            <!--        <span class=" col-sm-6 p0">
                                        <button class="btn btn-dark f14 fontBold plr15 width-full">
                                            <i class="icon-save mr10"></i> SAVE
                                        </button>
                                    </span>-->
                            <span class="col-sm-12 p0" ng-if="workFlowActionBtn.workflow_phase_id">
                                <button class="btn btn-dark f14 fontBold width-full"
                                        n-t='{"e_n":"Open Modal Need Info","e_d":"Project - {{projectTitle}}"}'
                                        ng-click="needInfoModal(workFlowActionBtn.workflow_phase_id)">
                                    <i class=" icon-comment3 mr10"></i> {{'Need_Info' | translate}}
                                </button>
                            </span>
                        </div>

                    </div>
                </any>
                <any ng-init="getProjectStageWorkflow()" ng-show="stageWorkFlow.length>0">
                    <div class="col-sm-12 white-bg p0 pb10 mb10 border">
                        <h6 class="darkcolor text-capitalize ptb10 f14 fontBold border-bottom mb5 pl20">
                            {{stageInfo.stage_name}} Workflow</h6>
                        <div class="col-sm-12 border-bottom p10 pb5 pt5 pl15 " ng-repeat="w in stageWorkFlow">
                            <div class="col-sm-12 p0 lh13 darkcolor">
                                <h6 class="f14 darkcolor">{{stageWorkFlow.length-($index)}}. {{w.from_phase_name |
                                    uppercase}}</h6>
                                <p class="pl10"><label class="darkcolor f11">{{w.from_user_name}}</label>
                                    <label class="label-text f10">{{w.action}} </label>
                                    <any ng-show="w.to_phase_name">
                                        <label class="label-text f10"> to</label>
                                        <label class="darkcolor f11">{{w.to_phase_name}} ({{w.to_user_name}})</label>
                                    </any>
                                    <label class="darkcolor f11">on {{w.created_date_time | utcToLocal:'date'}} </label>
                                    <label class="label-text f10">Time taken : </label>
                                    <label class="darkcolor f12 bold">
                                        <any ng-if="!w.days || w.days==0 ">1 {{'day' | translate}}</any>
                                        <any ng-if="w.days==1">{{w.days}} {{'day' | translate}}</any>
                                        <any ng-if="w.days>1">{{w.days}} {{'days' | translate}}</any>
                                    </label></p>
                            </div>
                            <!--<div class="col-sm-2 pr0">
                                <a href="" class="green display-block "><i class="" work-status="{{w.action}}"></i></a>
                                <a href="javascript:;" ng-click="$parent.comment_wrap=!$parent.comment_wrap" class="sky-blue display-block" uib-tooltip="View comments"><i class=" icon-clipped-file"></i></a>
                            </div>-->
                        </div>
                        <!--     <div class="col-sm-12 border-bottom pb10 pt5">
                                 <div class="col-sm-10 p0 darkcolor">
                                     <h6 class="f14">2.0 ENQUIRY/APPLICATIONS</h6>
                                     <p class="pl20">Forwarded to Next Level</p>
                                     <p class="pl20">by James Smith</p>
                                     <p class="pl20">01 July, 2016</p>
                                     <p class="pl20">No. of days: <strong>2 days</strong></p>
                                 </div>
                                 <div class="col-sm-2 pr0">
                                     <a href="" class="red display-block ml3"><i class=" icon-times-square"></i></a>
                                     <a href="" class="sky-blue display-block f24"><i class=" icon-clipped-file"></i></a>
                                 </div>
                             </div>
                             <div class="col-sm-12 border-bottom ptb10">
                                 <h6 class="f14 text-capitalize ash">3.0 Concept Note Sent for review</h6>
                             </div>
                             <div class="col-sm-12 border-bottom ptb10">
                                 <h6 class="f14 text-capitalize ash">4.0 review by Legal</h6>
                             </div>
                             <div class="col-sm-12 border-bottom ptb10">
                                 <h6 class="f14 text-capitalize ash">4.1 Risk</h6>
                             </div>
                             <div class="col-sm-12 border-bottom ptb10">
                                 <h6 class="f14 text-capitalize ash">4.2 Treasury</h6>
                             </div>
                             <div class="col-sm-12 pt10">
                                 <h6 class="f14 text-capitalize ash">4.3 Environmental Specialist</h6>
                             </div>-->
                    </div>
                </any>
                <any ng-show="stageWorkFlow.length>0">
                    <div class="col-sm-12 white-bg p0 pb10 mb10 border">
                        <h6 class="darkcolor text-capitalize ptb10 f14 fontBold border-bottom mb5 plr15">
                            Attachments</h6>
                        <div ng-repeat="w in stageWorkFlow">

                            <div class="col-sm-12 border-bottom pb5 pt5" ng-repeat="document in w.documents">
                                <div class="col-sm-10 p0 darkcolor">
                                    <h6 class="f14 red">{{document.document_name}}</h6>
                                    <p class=" ash"> {{document.created_date_time|utcToLocal:'date'}} -
                                        {{document.size.size}} KB</p>
                                </div>
                                <div class="col-sm-2 pr0">
                                    <a href="{{document.document_source}}" class="sky-blue display-block ml3 mt4 f21"
                                       download><i class="icon-attachment"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </any>
                <!-- <div class="col-sm-12 white-bg p0 pb10 mb10 border">
                     <h6 class="darkcolor text-capitalize ptb10 f14 fontBold border-bottom mb5 plr15">recent 5
                         projects</h6>
                     <div class="col-sm-12 pb5 pt5 mb20">
                         <div class="col-sm-1 p0">
                             <a href="" class="sky-blue f24"><i class=" icon-Untitled-5"></i></a>
                         </div>
                         <div class="col-sm-7 pr0 darkcolor">
                             <h6 class="f14">HOME LOAN</h6>
                             <p class=" ash mb0 f12"> Willium</p>
                             <p class="ash mb0 f12"> USD 125,000</p>
                         </div>
                         <div class="col-sm-4 p0">
                             <button type="button" class="btn green-btn display-block border-radius15">Accept</button>
                             <span class="display-block ash f12">24, Jul, 2016</span>
                         </div>
                     </div>
                     <div class="col-sm-12 pb5 pt5 mb20">
                         <div class="col-sm-1 p0">
                             <a href="" class="sky-blue f24"><i class=" icon-company"></i></a>
                         </div>
                         <div class="col-sm-7 pr0 darkcolor">
                             <h6 class="f14">Real Estate</h6>
                             <p class=" ash mb0 f12"> James</p>
                             <p class="ash mb0 f12"> USD 1,425,000</p>
                         </div>
                         <div class="col-sm-4 p0">
                             <button type="button" class="btn red-bg btn-sm white-color display-block border-radius15">
                                 Reject
                             </button>
                             <span class="display-block ash f12">24, Jul, 2016</span>
                         </div>
                     </div>
                     <div class="col-sm-12 pb5 pt5 mb20">
                         <div class="col-sm-1 p0">
                             <a href="" class="sky-blue f24"><i class=" icon-Untitled-5"></i></a>
                         </div>
                         <div class="col-sm-7 pr0 darkcolor">
                             <h6 class="f14">Industrial Loan</h6>
                             <p class=" ash mb0 f12"> Willium</p>
                             <p class="ash mb0 f12"> USD 125,000</p>
                         </div>
                         <div class="col-sm-4 p0">
                             <button type="button" class="btn green-btn display-block border-radius15">Accept</button>
                             <span class="display-block ash f12">24, Jul, 2016</span>
                         </div>
                     </div>
                     <div class="col-sm-12 pb5 pt5 mb20">
                         <div class="col-sm-1 p0">
                             <a href="" class="sky-blue f24"><i class="icon-cloud-rain2"></i></a>
                         </div>
                         <div class="col-sm-7 pr0 darkcolor">
                             <h6 class="f14">Agriculture Loan</h6>
                             <p class=" ash mb0 f12"> Willium</p>
                             <p class="ash mb0 f12"> USD 125,000</p>
                         </div>
                         <div class="col-sm-4 p0">
                             <button type="button" class="btn red-btn red-bg btn-sm white-color display-block border-radius15">
                                 Reject
                             </button>
                             <span class="display-block ash f12">24, Jul, 2016</span>
                         </div>
                     </div>
                     <div class="col-sm-12 pb5 pt5 mb20">
                         <div class="col-sm-1 p0">
                             <a href="" class="sky-blue f24"><i class="icon-gear2"></i></a>
                         </div>
                         <div class="col-sm-7 pr0 darkcolor">
                             <h6 class="f14">Industrial Loan</h6>
                             <p class=" ash mb0 f12"> Willium</p>
                             <p class="ash mb0 f12"> USD 125,000</p>
                         </div>
                         <div class="col-sm-4 p0">
                             <button type="button" class="btn green-btn display-block border-radius15">Accept</button>
                             <span class="display-block ash f12">24, Jul, 2016</span>
                         </div>
                     </div>
                 </div>-->
            </div>
        </div>

    </div>
</div>
<script type="text/ng-template" id="attachmentList.html">
    <div class="col-sm-12 white-bg p0 pb10 mb10 border" ng-show="uploadedDocuments.length>0">
        <h6 class="darkcolor text-capitalize ptb10 f14 fontBold border-bottom mb5 plr15">{{'Attachments' | translate}}</h6>
        <div class="col-sm-12 border-bottom pb5 pt5" ng-repeat="document in uploadedDocuments">
            <div class="col-sm-10 p0 darkcolor">
                <h6 class="f14 red">{{document.document_type_name}}</h6>
                <p class=" ash"> {{document.created_date_time|utcToLocal:'date'}} - {{document.size.size}} KB</p>
            </div>
            <div class="col-sm-2 pr0">
                <a href="{{document.full_path}}" class="sky-blue display-block ml3 mt4 f21" download><i
                        class="icon-attachment"></i></a>
            </div>
        </div>
    </div>
</script>

<script type="text/ng-template" id="need-info.html">
    <div class="right-modal clearfix modal-custom">
        <h3 class=" text-capitalize white-color p15 btn-dark">{{'Need_More_Information' | translate}}
            <a ng-click="cancel()" class="close-right pull-right white-color"
               n-t='{"e_n":"Modal close","e_d":"Project - {{projectTitle}}"}'>
                <i class="fa fa-close"></i>
            </a>
        </h3>
        <div class="people-wrap clearfix cust-comment-wrap p10">
            <div class="peopleImgWrap">
                <img alt="image" src="images/default-img.png" class="img-circle">
            </div>
            <div class="peopleDetails-wrap">
                <p class="peopleName ash-color f12">
              <span class="text-capitalize darkblue pull-left"> {{user_name}} - <label
                      class="ash-color">{{role_name}}</label>
              </span>
                </p>
            </div>
            <div class="peopleDetails-comments">
                <form name="commentForm" novalidate
                      ng-submit="commentForm.$valid && addFormComment(commentForm,comment,stageInfo.stage_key)">
                    <div class="col-sm-12 p0">
                        <div class="form-group form-group-custom mb15">
                            <select ng-model="comment.comment_to" name="comment_to" ng-init="getUsers()"
                                    class="chosen-choices" data-placeholder="Send to"
                                    chosen=""
                                    ng-options="item.id_user as item.user_name for item in userList" required>
                            </select>
                            <div ng-if="commentForm.comment_to.$error.required && commentForm.$submitted"
                                 class="error-message">
                                {{'Select_User' | translate}}
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-12 p0">
                        <textarea class="form-control min-height70" ng-model="comment.comment"
                                  placeholder="Write Comment" name="userComment" required></textarea>
                        <div ng-if="commentForm.userComment.$error.required && commentForm.$submitted"
                             class="error-message">
                            {{'Enter_Comment' | translate}}
                        </div>
                    </div>
                    <div class="col-sm-12 p0" ng-if="stageInfo.stage_key">
                        <div class="form-group form-group-custom mb15 attachment">
                            <label class="darkcolor">Attachments</label>
                            <attachment-files ng-model="comment.file.attachments"></attachment-files>
                        </div>
                    </div>
                    <div class="mt15 pull-right">
                        <button class="btn btn-sm btn-dark"
                                n-t='{"e_n":"Send","e_d":"Project - {{projectTitle}}", "form": "{{commentForm.$valid}}"}'>
                            {{'Send' | translate}}
                        </button>
                        <button type="button" class="btn light-btn" ng-click="cancel()"
                                n-t='{"e_n":"Cancel","e_d":"Project - {{projectTitle}}"}'>
                            {{'Cancel' | translate}}
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</script>
