<h3 class="fixed content-heading" ng-init="init()">
    <ul class="breadcrumb">
        <li><a ui-sref="project.project-dashboard"
               n-t='{"e_n":"Project list","e_d":"{{projectDetails.project_title}}"}'>{{'Project' | translate}}</a></li>
        <li>{{ projectDetails.project_title }}</li>
    </ul>
    <div class="pull-right button-set">
        <a ng-click="projectTimelineShow =!projectTimelineShow" uib-tooltip="Project Timeline">
            <i class="fa icon-share1"
               n-t='{"e_n":"Project - Project Timeline","e_d":"Project - {{projectDetails.project_title}}"}'></i>
        </a>
        <a uib-tooltip="Covenant" ui-sref="project.covenant({'projectId':(currentProjectViewId | encode )})"
           n-t='{"e_n":"Project - Covenant","e_d":"{{projectDetails.project_title}}"}'><i
                class="fa icon-covenant2"></i>
        </a>
        <!--
         <a ng-if="permission.attachements_view" uib-tooltip="Attachments" modal="attachment"
            ng-click="quickAttachmentModal()"
            n-t='{"e_n":"Project - Attachement modal","e_d":""}'><i
                 class="fa fa-paperclip"></i> </a>
         <a ng-if="permission.companies_view"
            ng-click="AddedCompaniesModal()"
            n-t='{"e_n":"Project - Add companies Modal","e_d":""}'
            uib-tooltip="Companies"
            modal="addedcompanies"

         >
             <i class="fa fa-company"></i>
             <a ng-if="permission.contacts_view"
                ng-click="AddedContactsModal()"
                n-t='{"e_n":"Project - Add Contact Task Modal","e_d":""}'
                modal="addedcontacts"
                uib-tooltip="Contacts"
             >
                 <i class="fa fa-book"></i>
             </a>
         </a>
         <a uib-tooltip="Tasks"
            n-t='{"e_n":"Add Task","e_d":""}'
            task
            get-data="{'module_type':'project','module_id':currentProjectViewId,'module_reference_type':'project','module_reference_id':currentProjectViewId}"
            ng-click="addTasksModal()">
             <i class="fa fa-tasks"></i>
         </a>-->
        <a ui-sref="project.project-dashboard" uib-tooltip="Back">
            <i class="fa fa-close-sm"
               n-t='{"e_n":"Project - Back","e_d":"Project - {{projectDetails.project_title}}"}'></i>
        </a>
    </div>
</h3>
<div class="col-sm-12 fixed clearfix  z1 fixed-top full-fixed-top visible" ng-if="projectTimelineShow">
    <div class="clearfix relative details-fixed-top border-none no-bg pad0">
        <div class="col-sm-12 clearfix p0">
            <div class="page-header-wrap mt0  box-shadow clearfix">
                <div class="col-sm-12 p5">
                    <div class="white-bg pb10">
                        <h3 class="darkcolor p10 fontBold border-bottom2x">
                            {{'Project_Timeline' | translate}}
                            <div class="pull-right">
                                <a ng-click="$parent.projectTimelineShow =! $parent.projectTimelineShow"
                                   class="close-right pull-right">
                                    <img src="images/close.png">
                                </a>
                            </div>
                        </h3>
                        <div class="project-process-levels clearfix ml5 pt5" ng-init="getProjectProcessDetails()">
                            <div style="height: 400px; overflow: auto">
                                <ul>
                                    <li ng-repeat="ppd in projectProcessDetails">
                                        <div class="">
                                            <div class="project-process-level-head-wrap">
                                                <div class="project-process-level-head text-line">{{ppd.stage_name}}
                                                </div>
                                                <div class="project-process-level-date">
                                                    {{ppd.start_date | utcToLocal:'MMM d'}}
                                                <span ng-if="ppd.end_date"> - {{ppd.end_date | utcToLocal:'MMM d'}}
                                                </span>
                                                </div>
                                                <!-- <div class="project-process-level-percentage">
                                                     {{ppd.percentage |
                                                     limitchr:6}}%
                                                 </div>-->
                                            </div>

                                            <div class="project-process-level-list"
                                                 ng-class="{incomp:p.status!='completed'}"
                                                 ng-repeat="p in ppd.phases">
                                                <!-- <div uib-popover="Duration : 20Jul - 01 Sept - (12 Days)" popover-trigger="mouseenter" popover-is-open="popoverIsOpen" ng-click="popoverIsOpen = !popoverIsOpen">
                                                     <span class="fa fa-check red"></span>Facility Information
                                                 </div>-->
                                                <div>
                                                    <any ng-switch="p.action_name">
                                                    <span class="fa fa-check green" ng-switch-when='approved'
                                                          uib-tooltip="Approved"> </span>
                                                    <span class="fa fa-check blue" ng-switch-when='disbursed'
                                                          uib-tooltip="Disbursed"> </span>
                                                    <span class="fa fa-check blue" ng-switch-when='monitoring'
                                                          uib-tooltip="Monitoring"> </span>
                                                    <span class="fa fa-close red" ng-switch-when='rejected'
                                                          uib-tooltip="Rejected"> </span>
                                                    <span class="fa fa-check blue orange-block-color"
                                                          ng-switch-when='submited'
                                                          uib-tooltip="Submited">
                                                    </span>
                                                        <span class="fa fa-arrow-right orange-block-color"
                                                               ng-switch-when='forwarded'
                                                               uib-tooltip="Forwarded">
                                                    </span>
                                                    <span class="fa fa-arrow-right blue"
                                                          ng-switch-default
                                                          uib-tooltip="{{p.action_name}}">
                                                    </span>
                                                    </any>
                                                    {{p.workflow_phase_name}}
                                                <span class="f11">
                                                <any ng-if="p.days==0 "> (<24 hrs)</any>
                                                <any ng-if="p.days==1">({{p.days}} {{'day' | translate}})</any>
                                                <any ng-if="p.days>1">({{p.days}} {{'days' | translate}})</any>
                                                </span>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div id="contentArea" class="content-area animated fadeInRight">
    <div class="content-container common-margin-container clearfix "
         data-ng-init="isEdit = false">


        <div class="col-sm-8 col-lg-8 pl0 pr50" ng-if="showProjectList">


            <div class="page-header-wrap m0 mb15 white-bg box-shadow clearfix relative">
                <div ng-include="'partials/crm/project/project-header.html'" ng-init="getProjectDetails()"></div>
                <div class="clearfix"></div>
            </div>

            <!--Repeat this bottom section for Forms-->
            <div class="page-view-wrap clearfix" ng-repeat="stage in stageList"
                 ng-if="permission[stage.stage_key+'_view']">
                <div class="col-sm-12 p0 pb15">
                    <div class="list-header-view mt0  list-icon-view clearfix {{stage.stage_class}}">
                        <h3 class="">
                            <span class="num-count pull-left">{{(stageList.length)-($index)}}</span>
                            {{stage.stage_name}}
                            <p class="mb0 pl35 ml5 text-capitalize f10 font-italic"><span class="mr4">{{'Initiated_by' | translate}} {{stage.user_name}}  on </span><span>{{stage.created_date_time | utcToLocal:'date'}}</span>
                            </p>
                        </h3>
                        <ul class="">
                            <li class="pt0 pb0">
                                <span class="f12">{{'Status' | translate}}</span>
                                <p>
                                    <button type="button" class="btn btn-sm f12"
                                            label-status="{{stage.project_stage_status}}">
                                        {{stage.project_stage_status | capitalize}}
                                    </button>
                                </p>
                            </li>
                            <!--<li class="pt5 pb5">
                                <p class="comment-count">
                                    <i class="icon-comment3"></i>
                                    &lt;!&ndash; <label class="circle-count red-bg">5</label>&ndash;&gt;
                                </p>
                            </li>-->
                            <li class="pt5 pb5 relative">
                                <p class="comment-count p5 c-dropdown menu-toggle dropdown-toggle"
                                   data-toggle="dropdown">
                                    <i class="icon-actions"></i>
                                    <label class="circle-count blue-bg" ng-if="stage.project_stage_versions.length>1">{{stage.project_stage_versions.length}}</label>
                                </p>
                                <ul class="dropdown-menu c-dropdown pl10">
                                    <li class="all-notifications mt0"
                                        ng-if="stageList.length == (stageList.length-($index))">
                                        <a href="javascript:;" ng-click="createNewVersion(stage)" class="white-color"
                                           n-t='{"e_n":"Create new revision","e_d":"Project - {{projectDetails.project_title}}"}'>{{'Create_new_revision' | translate}}</a>
                                    </li>
                                    <li ng-repeat="n in stage.project_stage_versions" ng-click="changeVersion(stage,n)"
                                        n-t='{"e_n":"Change revision","e_d":"Revision version - {{n.version_number}},Project - {{projectDetails.project_title}}"}'
                                        ng-if="stage.project_stage_versions.length>1"
                                        ng-init="changeVersion(stage,n)">
                                        <a href="javascript:;" class="sky-blue">
                                            Revision:{{n.version_number}} on {{n.created_date_time | utcToLocal:'date'}}
                                            <label class="f11">{{n.user_name}}</label>
                                        </a>
                                    </li>
                                   <span ng-repeat="n in stage.project_stage_versions"
                                         ng-if="stage.project_stage_versions.length<=1"
                                         n-t='{"e_n":"Change revision","e_d":"Revision version - {{n.version_number}},Project - {{projectDetails.project_title}}"}'
                                         ng-init="changeVersion(stage,n)">
                                    </span>

                                </ul>
                            </li>
                            <li class="pt5 pb5" ng-if="permission[stage.stage_key+'_complete_view']">
                                <p class="comment-count">
                                    <a ui-sref="project.project-overview({projectId:(currentProjectViewId | encode ),stageInfoId:(stage.id_project_stage_info | encode ),stageId:(stage.id_project_stage | encode )})"
                                       n-t='{"e_n":"Project Complete View","e_d":"{{projectDetails.project_title}}"}'
                                       class="white-color"
                                       uib-tooltip="Complete View">
                                        <i class="icon-eye"></i>
                                    </a>
                                </p>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                        <div class="col-sm-12 bar white-color font-italic f10 clearfix">
                            <div class="col-sm-8 pl0 pr0 pt5 pb5">
                                <!-- <span ng-if="stage.project_stage_versions.length>1">
                                 Rev{{stage.selectedVersion.version_number}}
                                 </span>-->
                                <span ng-if="stage.updated_by">{{'Last_updated_by' | translate}} {{stage.updated_by}} on {{stage.updated_date_time | utcToLocal}}</span>
                            </div>
                            <div class="col-sm-4 p5 text-right">{{'Time_Taken' | translate}}: <strong>
                                <any ng-if="!stage.time_taken || stage.time_taken==0 ">1 {{'day' | translate}}</any>
                                <any ng-if="stage.time_taken==1">{{stage.time_taken}} {{'day' | translate}}</any>
                                <any ng-if="stage.time_taken>1">{{stage.time_taken}} {{'days' | translate}}</any>
                            </strong></div>
                        </div>
                    </div>


                    <div class="list-view-str">
                        <ul>
                            <li ng-init="sectionIndex=$index" ng-repeat="section in stage.section | filter:searchText">
                                <div class="list-str">
                                    <h4 class="f14 bold text-capitalize dark-blue pt10 pb10">
                                        {{section.section_name}}</h4>
                                    <!--ng-class="(permission[form.form_key+'_view'])?'':'disabled'"  ng-click="permission[form.form_key+'_view'] && goToEditCtrl(stage,form)"-->

                                    <div class="list-data clearfix list-data-comments list-data-new-comment white-bg p10"
                                         ng-repeat="form in section.form"
                                         ng-click="goToEditCtrl(stage,form)"
                                         n-t='{"e_n":"Project - {{form.form_name}}","e_d":"Form - {{form.form_name}}, section - {{section.section_name}}, Project - {{projectDetails.project_title}}"}'
                                    >
                                        <div class="list-img pull-left dark-blue"
                                             ng-class="(form.status==1)?'box-active':''">
                                            <i class="fa {{form.form_class}}"></i>
                                        </div>
                                        <div class="list-text overflow-hidden">
                                            <h5 class="darkcolor pt2 text-line">{{form.form_name}}</h5>
                                            <span class="f11 ash text-line display-block">{{form.updated_by}} - {{form.updated_time | utcToLocal:'date'}}</span>
                                        </div>
                                        <div class="list-data-comment">
                                            <p class="comment-count"><i class="icon-comment3"></i> <label
                                                    class="circle-count" ng-if="form.comments_count > 0">{{form.comments_count}}</label>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="col-sm-4 col-lg-4  pl35  pr0 fixed-wrapper-new  right-section-wrapper parent">
    <div class="right-section white-bg box-shadow">
        <div class="t-tabs tabs-wrap">
            <uib-tabset>
                <uib-tab uib-tooltip="Touch Point">
                    <uib-tab-heading>
                        <i class="icon-touchpoints" aria-hidden="true"></i>
                    </uib-tab-heading>
                    <touch-point-view ng-if="$parent.tabs[0].active" module-type="project"
                                      module-id="{{currentProjectViewId}}"></touch-point-view>
                </uib-tab>
                <uib-tab uib-tooltip="Meeting">
                    <uib-tab-heading>
                        <i class="icon-meeting2"></i>
                    </uib-tab-heading>

                    <meeting-list ng-if="$parent.tabs[1].active"
                                  get-data="{'module_type':'project','module_id':currentProjectViewId,'reference_type':'project','reference_id':currentProjectViewId}"
                                  reload="meetingReload"></meeting-list>
                </uib-tab>
                <uib-tab uib-tooltip="Notifications">
                    <uib-tab-heading>
                        <i class="icon-notifications"></i>
                    </uib-tab-heading>
                    <notification-module-list ng-if="$parent.tabs[2].active"
                                              get-data="{'module_type':'project','module_id':currentProjectViewId}"></notification-module-list>
                </uib-tab>
                <uib-tab uib-tooltip="Workflow">
                    <uib-tab-heading>
                        <i class="icon-workflow"></i>
                    </uib-tab-heading>
                    <uib-tab-content ng-if="$parent.tabs[3].active">
                        <any ng-if="projectDetails.project_stage_info_id"
                             ng-init="getProjectStageWorkflow(projectDetails.project_stage_info_id)"
                             ng-show="stageWorkFlow.length>0">
                            <div class="col-sm-12" ng-scrollbars win-height wh-offset="176">

                                <div class="meeting-inv-wrap clearfix" ng-repeat="w in stageWorkFlow">
                                    <h6 class="f12 bold text-capitalize dark-blue">
                                        {{stageWorkFlow.length-($index)}}.{{w.from_phase_name |
                                        uppercase}}
                                    </h6>
                                    <div class="meeting-inv-wrap-body">
                                        <div class="col-sm-12 p0">
                                            <div class="col-sm-10 p0 darkcolor">
                                                <p class="pl20"><label>{{w.action | capitalize}} </label>
                                                    <any ng-show="w.to_phase_name">
                                                        <label> to</label>
                                                        <label>{{w.to_phase_name}}({{w.to_user_name}})
                                                        </label>
                                                    </any>
                                                </p>
                                                <p class="pl20" ng-show="w.from_user_name">by {{w.from_user_name}}</p>
                                                <p class="pl20">{{w.created_date_time | utcToLocal:'date'}}</p>
                                                <p class="pl20">No. of days: <strong>
                                                    <any ng-if="!w.days || w.days==0 ">1 {{'day' | translate}}</any>
                                                    <any ng-if="w.days==1">{{w.days}} {{'day' | translate}}</any>
                                                    <any ng-if="w.days>1">{{w.days}} {{'days' | translate}}</any>
                                                </strong>
                                                </p>
                                            </div>
                                            <div class="col-sm-2 pr0 text-right">
                                                <!--    <a href="" class="red display-block ml3"><i
                                                            class=" icon-times-square f18 mr4"></i></a>
                                                    <a href="" class="sky-blue display-block f24"><i
                                                            class=" icon-clipped-file"></i></a>-->
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!--
                                     <div class="t-box-top p0">
                                        <div class="t-icon">
                                            <span class=""><i class="icon-clipped-file"></i> </span>
                                        </div>
                                        <div class="t-content clearfix">
                                            <h4 class="f12 darkcolor bold">{{stageWorkFlow.length-($index)}}.
                                                {{w.from_phase_name |
                                                uppercase}}</h4>
                                            <p class="pl10"><label class="darkcolor f11">{{w.from_user_name}}</label>
                                                <label class="label-text f10">{{w.action}} </label>
                                                <any ng-show="w.to_phase_name">
                                                    <label class="label-text f10"> to</label>
                                                    <label class="darkcolor f11">{{w.to_phase_name}}
                                                        ({{w.to_user_name}})</label>
                                                </any>
                                                <label class="darkcolor f11">on {{w.created_date_time |
                                                    utcToLocal:'date'}} </label>
                                                <label class="label-text f10">Time taken : </label>
                                                <label class="darkcolor f12 bold">
                                                    <any ng-if="!w.days || w.days==0 ">1 day</any>
                                                    <any ng-if="w.days==1">{{w.days}} day</any>
                                                    <any ng-if="w.days>1">{{w.days}} days</any>
                                                </label></p>
                                        </div>
                                    </div>
                                    <div class="t-box-bottom clearfix">
                                        <div class="col-sm-12 p0">
                                            <span class=" text-capitalize col-sm-6 pr0 sky-blue f12 pl0">Ronald Mulindwa</span>
                                            <p class="col-sm-6 f11 pl5 ash text-right pr0 pt2 mb0">Sep 22, 2016 3:23:27
                                                PM</p>
                                        </div>
                                    </div>

                                     <div class="col-sm-12 border-bottom pb10 pt5">
                                         <div class="col-sm-10 p0 darkcolor">
                                             <h6 class="f14">2.0 ENQUIRY/APPLICATIONS</h6>
                                             <p class="pl20">Forwarded to Next Level</p>
                                             <p class="pl20">by James Smith</p>
                                             <p class="pl20">01 July, 2016</p>
                                             <p class="pl20">No. of days: <strong>2 days</strong></p>
                                         </div>
                                         <div class="col-sm-2 pr0">
                                             <a href="" class="red display-block ml3"><i class=" icon-times-square"></i></a>
                                             <a href="" class="sky-blue display-block f24"><i class=" icon-clipped-file"></i></a>
                                         </div>
                                     </div>
                                     <div class="col-sm-12 border-bottom ptb10">
                                         <h6 class="f14 text-capitalize ash">3.0 Concept Note Sent for review</h6>
                                     </div>
                                     <div class="col-sm-12 border-bottom ptb10">
                                         <h6 class="f14 text-capitalize ash">4.0 review by Legal</h6>
                                     </div>
                                     <div class="col-sm-12 border-bottom ptb10">
                                         <h6 class="f14 text-capitalize ash">4.1 Risk</h6>
                                     </div>
                                     <div class="col-sm-12 border-bottom ptb10">
                                         <h6 class="f14 text-capitalize ash">4.2 Treasury</h6>
                                     </div>
                                     <div class="col-sm-12 pt10">
                                         <h6 class="f14 text-capitalize ash">4.3 Environmental Specialist</h6>
                                     </div>-->
                            </div>
                        </any>
                    </uib-tab-content>

                </uib-tab>

                <uib-tab uib-tooltip="Attachments">
                    <uib-tab-heading>
                        <i class="icon-attachments"></i>
                    </uib-tab-heading>

                    <div class="col-sm-12 p0" ng-if="$parent.tabs[4].active">
                        <div class="col-sm-12 p0" win-height ng-scrollbars wh-offset="160">
                            <attachment-view module-id="3" ref-id="{{currentProjectViewId}}"
                                             template-url="partials/component/attachment/add-list.html"></attachment-view>
                        </div>
                    </div>

                </uib-tab>
                <uib-tab uib-tooltip="Companies">
                    <uib-tab-heading>
                        <i class="icon-company2"></i>
                    </uib-tab-heading>
                    <uib-tab-content ng-if="$parent.tabs[5].active">
                        <div class="col-sm-12 plr10" ng-init="selectedCompanyListFun()">
                            <h3 class="darkcolor clearfix pt5 pb5 border-bottom2x mb15">
                                <span class="display-inline-block f14 bold pt5">{{'Companies' | translate}} <span
                                        class="sky-blue bold"><!--{{selectedCompanyList.length}}--></span></span>
                                <a href="javascript:;" class="pull-right add-button"
                                   ng-click="AddedCompaniesModal()"
                                   n-t='{"e_n":"Project - Add companies Modal","e_d":"Project - {{projectDetails.project_title}}"}'>
                                    <i class="fa fa-plus"></i>{{'general.add' | translate}}
                                </a>
                                <input class="f12 pull-right p2 mr8" type="text" placeholder="Search"
                                       ng-model="search_companies"/>
                            </h3>
                            <div class="meeting-inv-wrap clearfix"
                                 ng-repeat="c in selectedCompanyList|filter:search_companies">
                                <h6 class="f12 dark-blue">
                                    <a ui-sref="company.company-creation({id:(c.crm_company_id | encode )})"
                                       class="dark-blue" target="_blank"
                                       n-t='{"e_n":"{{c.company_name}} click","e_d":"Project - {{projectDetails.project_title}}"}'>{{c.company_name}}</a>
                                        <span class="gray ml5 font-normal" ng-if="c.country_name">
                                        {{c.country_name}}
                                        </span>
                                </h6>
                                <div class="meeting-inv-wrap-body">
                                    <div class="gray"><span class="icon-calendar1 pull-left mr8 darkcolor f14"
                                                            title="Date"></span>{{c.created_date_time
                                        | utcToLocal}}
                                    </div>
                                    <!-- <div class="darkcolor bold"><span class="icon-globe1 pull-left mr8 f14"></span>{{c.address}}
                                     </div>-->
                                    <div class="sky-blue"><span class="icon-users2 pull-left mr8 f14"></span>{{c.email}}
                                        <!--         <a
                                                     class="pull-right tpoint-actions"><span class="icon-edit"></span></a>-->
                                    </div>
                                    <div class="darkcolor">
                                        <span class="icon-phone pull-left mr8 f14" title="Phone"></span>{{c.phone_number}}
                                        <!--  <a
                                              class="pull-right tpoint-actions"><span class="icon-trash"></span></a>-->
                                    </div>
                                </div>
                            </div>
                        </div>
                    </uib-tab-content>
                </uib-tab>
                <uib-tab uib-tooltip="Contacts">
                    <uib-tab-heading>
                        <i class="icon-contacts"></i>
                    </uib-tab-heading>
                    <uib-tab-content ng-if="$parent.tabs[6].active">
                        <div class="col-sm-12 plr10" ng-init="projectContactListFun()">
                            <h3 class="darkcolor clearfix pt5 pb5 border-bottom2x mb15">
                                <span class="display-inline-block f14 bold pt5">{{'Contacts' | translate}} <span
                                        class="sky-blue bold"><!--{{projectContactList.length}}--></span></span>
                                <a href="javascript:;" class="pull-right add-button"
                                   ng-click="AddedContactsModal()"
                                   n-t='{"e_n":"Project - Add Contact Task Modal","e_d":"Project - {{projectDetails.project_title}}"}'
                                >
                                    <i class="fa fa-plus"></i>{{'general.add' | translate}}
                                </a>
                                <input class="f12 pull-right p2 mr8" type="text" placeholder="Search"
                                       ng-model="contact_search"/>
                            </h3>
                            <div class="meeting-inv-wrap clearfix"
                                 ng-repeat="pc in projectContactList|filter:contact_search">
                                <h6 class="f12 dark-blue">
                                    <a ui-sref="contact.contact-form-edit({id:(pc.crm_contact_id | encode )})"
                                       class="dark-blue" target="_blank"
                                       n-t='{"e_n":"{{pc.first_name}} contact click","e_d":"Project - {{projectDetails.project_title}}"}'>{{pc.first_name}}
                                        {{pc.last_name}}</a>
                                    <span class="gray ml5 font-normal">{{pc.designation_name}}</span>
                                </h6>
                                <div class="meeting-inv-wrap-body">
                                    <div class="gray"><span class="icon-calendar1 pull-left mr8 darkcolor f14"
                                                            title="Date"></span>
                                        {{pc.updated_date_time|utcToLocal}}
                                    </div>
                                    <div class="darkcolor bold">
                                        <span class="icon-globe1 pull-left mr8 f14" title="Where"></span>
                                        <span class="gray ml5 font-normal"> {{pc.country_name}}</span></div>
                                    <div class="sky-blue"><span class="icon-users2 pull-left mr8 f14"></span>{{pc.email}}<a
                                            class="pull-right tpoint-actions"><!--<span class="icon-edit"></span>--></a>
                                    </div>
                                    <div class="darkcolor"><span
                                            class="icon-phone pull-left mr8 f14" title="Phone"></span>{{pc.phone_number}}<a
                                            class="pull-right tpoint-actions">
                                        <!--<span class="icon-trash"></span>--></a></div>
                                </div>
                            </div>
                        </div>
                    </uib-tab-content>
                </uib-tab>
                <uib-tab uib-tooltip="Tasks">
                    <uib-tab-heading>
                        <i class="icon-tasks2"></i>
                    </uib-tab-heading>
                    <uib-tab-content ng-if="$parent.tabs[7].active">
                        <div class="col-sm-12 plr10">
                            <task-module
                                    get-data="{'module_type':'project','module_id':currentProjectViewId,'module_reference_type':'project','module_reference_id':currentProjectViewId}"
                            ></task-module>
                        </div>
                    </uib-tab-content>
                </uib-tab>
            </uib-tabset>
        </div>
    </div>
</div>

