<h3 class="fixed content-heading">{{'Project' | translate}}
    <div class="pull-right button-set">
        <a ui-sref="project.project-view({id:(currentProjectViewId | encode )})" uib-tooltip="Back"
           n-t='{"e_n":"Project Covenant Back","e_d":"Project - {{projectTitle}}"}'><i class="fa fa-close-sm"></i></a>
    </div>
</h3>

<div class="content-area animated fadeInRight" id="contentArea">

    <div class="content-container clearfix">

        <div class="col-sm-12 p0" >
            <div class="page-header-wrap white-bg box-shadow clearfix relative mb15">
                <div ng-include="'partials/crm/project/project-header.html'" ng-init="getProjectDetails()"></div>
                <div class="clearfix"></div>
            </div>
        </div>

        <div class="col-sm-12 plr20 mb20">
            <div class="col-lg-9 col-sm-8 pl0 clearfix clearboth">
                <covenant-view get-data="{'module_type':'project','module_id':currentProjectViewId,'reference_type':'project','reference_id':currentProjectViewId}"></covenant-view>
            </div>


            <div class="col-lg-3 col-sm-4 pl0 pr0 white-bg" >
                <div>
                    <div class="tabs-wrap">
                        <uib-tabset justified="true">
                            <uib-tab heading="{{'Intelligence' | translate}}">
                                <div class="scroll-div-wrap" min-scroll>
                                    <div class="people-wrap clearfix" ng-repeat="row in knowledgeDetails">
                                        <a class="display-block" href="javascript:;" target="_blank" ui-sref="project.project-overview({id:(row.id_crm_project | encode )})">
                                            <div class="pull-left p5 img-wrap">
                                                <span first-alpha="{{row.project_title}}"></span>
                                            </div>
                                            <div class="p5">
                                                <p class="darkcolor f12">{{row.project_title}}</p>
                                                <p class="f12 dark" data-ng-bind-html="row.project_description | ellipsis:60"></p>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="no-knowledgedata-view" ng-show="knowledgeDetails==null">{{'project.project_no_intelligencedata_available_on_this_topic' | translate}}.
                                        <div class="text-center">
                                            <a class="btn lt-bg btn-primary f14 border-none display-inline-block mt10">{{'Ask_For_Help' | translate}}</a></div>
                                    </div>

                                </div>
                            </uib-tab>
                            <uib-tab heading="{{'Knowledge' | translate}}">
                                <div class="scroll-div-wrap" min-scroll>
                                    <div class="people-wrap clearfix" ng-repeat="data in knowledgeData" ng-click="modalOpen(data)">
                                        <a ui-sref="knowledge-management.item-view({ id: data.id_knowledge_document})" target="_blank" class="display-block">
                                            <div class="pull-left p5 k-img" knowledge-icons data-image="{{data.document_type}}"></div>
                                            <div class="pl100 p5">
                                                <p class="darkcolor bold mb3 f14">{{data.document_title}} </p>
                                                <p class="f12 mb3" data-ng-bind-html="data.document_description | ellipsis:50"></p>
                                                <p class="sky-blue f14">
                                                    <i class="fa fa-eye f18 mr4 darkcolor valign-top display-inline-block"></i>
                                                    No. of views <span class="darkcolor ml5 bold">{{data.number_of_views}}</span>
                                                </p>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="no-knowledgedata-view" ng-show="knowledgeData == ''">{{'project.project_no_knowledge_base_available_on_this_topic' | translate}}
                                        <div class="text-center">
                                            <a ui-sref="knowledge-management.knowledge-dashboard" class="btn lt-bg btn-primary f14 border-none display-inline-block mt10">{{'Click_To_Add' | translate}}</a></div>
                                    </div>

                                </div>
                            </uib-tab>

                            <uib-tab heading="{{'People' | translate}}">
                                <div class="scroll-div-wrap" min-scroll>
                                    <div class="people-wrap clearfix" ng-repeat="data in peopleDetails">
                                        <div class="peopleImgWrap">
                                            <img ng-src="{{data.profile_image || 'images/default-img.png'}}"/>
                                        </div>
                                        <div class="peopleDetails-wrap">
                                            <p class="peopleName darkcolor bold f12">{{data.username}}</p>
                                            <p class="peopleDesig">{{data.approval_name}} </p>
                                        </div>
                                    </div>
                                    <div class="no-knowledgedata-view" ng-show="peopleDetails == null">{{'contact.contact_no_contacts_available_on_this_topic' | translate}}
                                        <div class="text-center">
                                            <a class="btn lt-bg btn-primary f14 border-none display-inline-block mt10">{{'Click_To_Add' | translate}}</a></div>
                                    </div>

                                </div>
                            </uib-tab>
                        </uib-tabset>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
<script type="text/ng-template" id="knowledge-details.html">
    <div class="modal-wrap right-modal modal-custom">
        <div class="clearfix">
            <h3 class="right-modal-head">
                <i class="fa fa-sitemap mr8"></i>{{knowledgeData.document_title}}
                <a ng-click="cancel()" uib-tooltip="Close" class="close-right pull-right"><img src="images/close.png"></a>
            </h3>
        </div>
        <div class="modal-body clearfix">
            <div class="col-sm-12 p0">
                <div class="form-group clearfix form-group-custom mb10">
                    <div class="col-sm-2"><label class="f13 ash">Title:</label></div>
                    <div class="col-sm-8 f14">
                        {{knowledgeData.document_title}}
                    </div>
                </div>
            </div>
            <div class="col-sm-12 p0">
                <div class="form-group clearfix form-group-custom mb10">
                    <div class="col-sm-2"><label class="f13 ash">Description:</label></div>
                    <div class="col-sm-8 f14" data-ng-bind-html="knowledgeData.document_description"></div>
                </div>
            </div>
            <div class="col-sm-12 p0" ng-if="knowledgeData.document_type == 'document'">
                <div class="form-group clearfix form-group-custom mb10">
                    <div class="col-sm-2"><label class="f13 ash">File:</label></div>
                    <div class="col-sm-8 p0">
                        <div class="btn-custom mt10">
                            <a href="{{knowledgeData.document_source}}" class="f14 sky-blue" download target="_blank"><i class="fa fa-download mlr5"></i>{{'Download' | translate}}</a><span class="f12"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 p0" ng-if="knowledgeData.document_type == 'video'">
                <div class="form-group clearfix form-group-custom mb10">
                    <!--<div class="col-sm-2"><label class="control-label">Video:</label></div>-->
                    <div class="col-sm-12 p0" add-iframe data-iframesrc="{{knowledgeData.document_source}}">
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>
