<div class="right-modal clearfix modal-custom">
    <h3 class=" text-capitalize white-color p15 btn-dark">{{actionInfo.workflow_action_name}}
        <a ng-click="cancel()" class="close-right pull-right white-color"
           n-t='{"e_n":"Close modal","e_d":"Workflow - {{actionInfo.workflow_action_name}}, Project - {{projectTitle}}"}'>
            <i class="fa fa-close"></i>
        </a>
    </h3>
    <form name="form" novalidate>
        <div class="col-sm-12 white-bg ptb10">
            <div class="clearfix" ng-if="approvedShow" ng-init="getProjectFacilityList()">
                <div class="col-sm-12 p0 border ash-bg mb5" ng-repeat="pf in projectFacilityList">
                    <h4 class="sky-blue p5 border-bottom">{{pf.facility_name}}
                        <span class="pull-right ash f12 pt2">Last Review: <strong>{{pf.updated_date_time | utcToLocal:'date'}}</strong></span>
                    </h4>
                    <div class="col-sm-12 pl0 pr0 pb5" ng-form="faForm">
                        <div class="col-sm-4">
                            <div class="form-group form-group-custom">
                                <label class="display-block">{{'project.facility_type' | translate}}</label>
                                <span class="label-info ">{{pf.facility_type_name}}</span>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group form-group-custom">
                                <label class="display-block">{{'project.facility_subtype' | translate}}</label>
                                <span class="label-info ">{{pf.sub_type}}</span>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group form-group-custom">
                                <label class="display-block">{{'project.source_of_fund' | translate}}</label>
                                <span class="label-info ">{{pf.source_of_founds}}</span>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-sm-4">
                            <div class="form-group form-group-custom">
                                <label class="display-block">{{'project.request_amount' | translate}}</label>
                                <span class="label-info ">{{pf.currency_code}} <strong class="f16">{{pf.facility_amount
                                    | currency:''}}</strong></span>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-group form-group-custom" ng-init="pf.action_facility_amount=pf.facility_amount" >
                                <label class=" display-block">{{'project.approved_amount' | translate}} ({{pf.currency_code}})</label>
                                <input type="text" class="form-control" name="action_facility_amount" ui-number-mask="2" ng-model="pf.action_facility_amount" required>
                            </div>
                            <div ng-if="faForm.action_facility_amount.$error.required && form.$submitted" class="error-message">
                                {{'general.required'  | translate}}
                            </div>
                        </div>
                        <any ng-if="pf.currency_code !='USD'">
                            <div class="clearfix"></div>
                            <div class="col-sm-4">
                                <div class="form-group form-group-custom" >
                                    <label class="display-block">{{'project.request_usd_amount' | translate}}</label>
                                    <span class="label-info ">USD <strong class="f16">{{pf.facility_usd_amount
                                        | currency:''}}</strong></span>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group form-group-custom" ng-init="pf.action_facility_usd_amount=pf.facility_usd_amount" >
                                    <label class="display-block">{{'project.equal_to_usd_amount' | translate}}</label>
                                    <input type="text" name="action_facility_usd_amount" class="form-control" ui-number-mask="2" ng-model="pf.action_facility_usd_amount" required>
                                </div>
                                <div ng-if="faForm.action_facility_usd_amount.$error.required && form.$submitted" class="error-message">
                                    {{'general.required'  | translate}}
                                </div>
                            </div>
                        </any>
                        <div class="col-sm-4">
                            <div class="form-group form-group-custom">
                                <label class="display-block">{{'project.status_decision' | translate}}</label>
                                <select ng-init="pf.action_facility_status='approved'" ng-model="pf.action_facility_status" name="action_facility_status" required>
                                    <option value="approved">{{'project.approve' | translate}}</option>
                                    <option value="rejected">{{'project.reject' | translate}}</option>
                                </select>
                                <div ng-if="faForm.action_facility_status.$error.required && form.$submitted" class="error-message">
                                    {{'general.required'  | translate}}
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
            <!--<div class="col-sm-12 p0 border ash-bg mb5">
                <h4 class="sky-blue p5 border-bottom">Real Estate
                    <span class="pull-right ash f12 pt2">Last Review: <strong>24 Sept, 2016.</strong></span>
                </h4>
                <div class="col-sm-12 pl0 pr0 pb5">
                    <div class="col-sm-4">
                        <div class="form-group form-group-custom">
                            <label class="darkcolor display-block">Approved Amount</label>
                            <span class="label-info ">RWF <strong class="f16">145,123,560.</strong>00</span>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group form-group-custom">
                            <label class="darkcolor display-block">Modified Amount</label>
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="row"></div>
                    <div class="col-sm-4">
                        <div class="form-group form-group-custom">
                            <label class="darkcolor display-block">Approved Amount</label>
                            <span class="label-info ">$ <strong class="f16">4,123,560.</strong>00</span>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group form-group-custom">
                            <label class="darkcolor display-block">Modified Amount</label>
                            <input type="text" class="form-control">
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group form-group-custom">
                            <label class="darkcolor display-block">Status Decision</label>
                            <button type="submit" class="btn green-btn f14">Aprove</button>
                            <button type="submit" class="btn btn-sm red-btn">Reject</button>
                        </div>
                    </div>
                    <div class="row"></div>
                </div>

            </div>-->
            <div class="col-sm-12 p0">
                <any
                        ng-show="action.workflow_approval_type=='Role'"
                        ng-repeat="action in actionDetails"
                        ng-init="$parent.action.forward_to[$index].workflow_phase_id=action.workflow_phase_id;$parent.action.forward_to[$index].user_id=(action.workflow_approval_type=='Role')?'':action.users[0].user_id;">
                    <div class="row" ng-if="$index%3==0"></div>
                    <div class="col-sm-12 p0" >
                        <div class="form-group col-sm-12 p0 form-group-custom mb15">
                            <label class="darkcolor col-sm-4">{{action.phase_name}} </label>
                            <div class="col-sm-6">
                                <select
                                        class="form-control col-sm-6"
                                        name="forward_to_{{$index}}"
                                        ng-model="$parent.action.forward_to[$index].user_id"
                                        ng-options="item.user_id as item.user_name+' ('+item.approval_name+')' for item in action.users" required>
                                    <option value="">{{'general.select' | translate}}</option>
                                </select>
                                <div ng-if="!$parent.action.forward_to[$index].user_id && form.$submitted" class="error-message">
                                    {{'general.required' | translate}}
                                </div>
                            </div>
                        </div>
                    </div>
                </any>
            </div>
            <div class="col-sm-12" ng-if="actionDetailsCompleteData.next_stage_assigning && actionDetailsCompleteData.next_stage_assigning.next_project_stage_assign_type && actionDetailsCompleteData.next_stage_assigning.next_project_stage_assign_type!='' && actionDetailsCompleteData.next_stage_assigning.next_project_stage_assign_type=='Role'">
                <!--<div class="col-sm-12" ng-if="actionDetailsCompleteData.next_stage_assigning && actionDetailsCompleteData.next_stage_assigning.next_project_stage_assign_type && actionDetailsCompleteData.next_stage_assigning.next_project_stage_assign_type!=''">-->
                <div class="col-sm-12 p0">
                    <div class="form-group form-group-custom">
                        <label class="display-block">{{actionDetailsCompleteData.next_stage_assigning.stage_details[0].stage_name}} *</label>
                        <select class="form-control"
                                ng-model="action.next_stage_assigning_to_user_id"
                                name="next_stage_assigning_to_user_id"
                                ng-options="item.user_id as item.user_name+' ('+item.approval_name+')' for item in actionDetailsCompleteData.next_stage_assigning.users"
                                required>
                            <option value="">{{'general.select'  | translate}}</option>
                        </select>
                        <div ng-if="form.next_stage_assigning_to_user_id.$error.required && form.$submitted" class="error-message">
                            {{'general.required'  | translate}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="col-sm-12 p0">
                    <div class="form-group form-group-custom mb15">
                        <label class="darkcolor">{{'general.attachments' | translate}}</label>
                        <attachment-files ng-model="action.file.attachments"></attachment-files>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="form-group form-group-custom mb15">
                    <label class="darkcolor">{{'general.comments' | translate}}</label>
                    <textarea class="form-control" name="workflow_comments" ng-model="action.workflow_comments" placeholder="Write your comments here" required></textarea>
                    <div ng-if="form.workflow_comments.$error.required && form.$submitted" class="error-message">
                        {{'general.required' | translate}}
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="col-sm-6 pl0">
                </div>
                <div class="col-sm-6 pr0">
                    <div class="pull-right">
                        <button type="submit" ng-disabled="disabledBtn"
                                n-t='{"e_n":"Save","e_d":"Workflow - {{actionInfo.workflow_action_name}}, Project - {{projectTitle}}", "form": "{{form.$valid}}"}'
                                ng-click="form.$valid && saveAction(action)" class="btn btn-sm btn-dark">
                            {{actionInfo.workflow_action_name}}
                        </button>
                        <button type="button" class="btn  light-btn" ng-click="cancel()"
                                n-t='{"e_n":"Cancel modal","e_d":"Workflow - {{actionInfo.workflow_action_name}}, Project - {{projectTitle}}"}'>Cancel
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>