<h3 class="fixed content-heading">New Reports
    <div class="pull-right button-set">
        <a ui-sref="project.project-list({id:(currentProjectViewId | encode )})" uib-tooltip="Back"><i class="fa fa-close-sm"></i></a>
    </div>
</h3>

<div class="content-area animated fadeInRight" id="contentArea">
    <div class="content-container clearfix">
        <div class="m20 clearfix mb0">
            <div class="col-sm-12 white-bg">
                <h3 class="text-capitalize darkcolor ptb10 pull-left f14 bold">Credit Risk</h3>
                <div class="pull-right mt4">
                </div>
            </div>
        </div>
        <div class="m20 mt15 mb0 clearfix">
            <div class="col-sm-12 p0">
                <div class="col-sm-6 pl0">
                    <h3 class="grey-bg f14 p10 bold darkcolor text-capitalize">Portfolio by Country</h3>
                    <div class="col-sm-12 clearfix p0" style="text-align:center">
                        <div id="reportsPortfolioByCountry" reports-portfolio-by-country style="width: 100%;height: 210px;">Placeholder for chart</div>
                    </div>
                </div>
                <div class="col-sm-6 p0">
                    <h3 class="grey-bg f14 p10 bold darkcolor text-capitalize">Portfolio by Product</h3>
                    <div class="col-sm-12 clearfix p0" style="text-align:center">
                        <div id="reportsPortfolioByProduct" reports-portfolio-by-product style="width: 100%;height: 210px;">Placeholder for chart</div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 p0 mt15">
                <div class="col-sm-12 clearfix p0 white-bg">
                    <div class="table-responsive reports-data-table">
                        <table class="table table-report table-report-sublevel f13">
                            <thead>
                            <tr>
                                <th class="text-capitalize">OutStanding Portfolio</th>
                                <th>Sep-16<a class="menu-toggle dropdown-toggle" data-toggle="dropdown"><span class="icon-angle-down-square"></span></a>
                                    <ul class="dropdown-menu cust-dropdown reports-cust-dropdown">
                                        <li>
                                            <a href="javascript:;" class="f12 darkcolor font-normal">Sep-16</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;" class="f12 darkcolor font-normal">Aug-16</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;" class="f12 darkcolor font-normal">Jul-16</a>
                                        </li>
                                    </ul>
                                </th>
                                <th>Aug-16<a class="menu-toggle dropdown-toggle" data-toggle="dropdown"><span class="icon-angle-down-square"></span></a>
                                    <ul class="dropdown-menu cust-dropdown reports-cust-dropdown">
                                        <li>
                                            <a href="javascript:;" class="f12 darkcolor font-normal">Sep-16</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;" class="f12 darkcolor font-normal">Aug-16</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;" class="f12 darkcolor font-normal">Jul-16</a>
                                        </li>
                                    </ul>
                                </th>
                                <th>Jul-16<a class="menu-toggle dropdown-toggle" data-toggle="dropdown"><span class="icon-angle-down-square"></span></a>
                                    <ul class="dropdown-menu cust-dropdown reports-cust-dropdown">
                                        <li>
                                            <a href="javascript:;" class="f12 darkcolor font-normal">Sep-16</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;" class="f12 darkcolor font-normal">Aug-16</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;" class="f12 darkcolor font-normal">Jul-16</a>
                                        </li>
                                    </ul>
                                </th>
                                <th>Select Month<a class="menu-toggle dropdown-toggle" data-toggle="dropdown"><span class="icon-angle-down-square"></span></a>
                                    <ul class="dropdown-menu cust-dropdown reports-cust-dropdown">
                                        <li>
                                            <a href="javascript:;" class="f12 darkcolor font-normal">Sep-16</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;" class="f12 darkcolor font-normal">Aug-16</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;" class="f12 darkcolor font-normal">Jul-16</a>
                                        </li>
                                    </ul>
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="sub-h">
                                <td>Outstanding Portfolio</td>
                                <td><span>188.26</span><span>100%</span></td>
                                <td><span>136.96</span></td>
                                <td>122.96</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Equity</td>
                                <td><span>2.41</span><span>1.7%</span></td>
                                <td><span>2.42</span></td>
                                <td>2.49</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Lease</td>
                                <td><span>2.41</span><span>1.7%</span></td>
                                <td><span>2.42</span></td>
                                <td>2.49</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Loan</td>
                                <td><span>184.41</span><span>98.7%</span></td>
                                <td><span>133.20</span></td>
                                <td>119.19</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td class="sub-category">Loan ST</td>
                                <td><span>184.41</span><span>98.7%</span></td>
                                <td><span>133.20</span></td>
                                <td>119.19</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td class="sub-category">Loan MT</td>
                                <td><span>184.41</span><span>98.7%</span></td>
                                <td><span>133.20</span></td>
                                <td>119.19</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td class="sub-category">Loan LT</td>
                                <td><span>184.41</span><span>98.7%</span></td>
                                <td><span>133.20</span></td>
                                <td>119.19</td>
                                <td></td>
                            </tr>
                            <tr class="sub-h">
                                <td>Number of Clients</td>
                                <td><span>73</span><span></span></td>
                                <td><span>67</span></td>
                                <td>67</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Equity</td>
                                <td><span>6</span><span>8.2%</span></td>
                                <td><span>6</span></td>
                                <td>6</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Lease</td>
                                <td><span>9</span><span>12.3%</span></td>
                                <td><span>9</span></td>
                                <td>10</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Loan</td>
                                <td><span>58.41</span><span>79.5%</span></td>
                                <td><span>58</span></td>
                                <td>51</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td class="sub-category">Loan ST</td>
                                <td><span>2</span><span>2.7%</span></td>
                                <td><span>2</span></td>
                                <td>4</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td class="sub-category">Loan MT</td>
                                <td><span>6</span><span>8.2%</span></td>
                                <td><span>6</span></td>
                                <td>2</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td class="sub-category">Loan LT</td>
                                <td><span>50</span><span>68.7%</span></td>
                                <td><span>50</span></td>
                                <td>45</td>
                                <td></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
        <!--Currency analysis-->
        <div class="m20 mt15 mb0">
            <h1 class="p10 darkcolor fontBold pl0">Currency Analysis</h1>
            <div class="col-sm-12 p0">
                <div class="col-sm-6 pl0">
                    <h3 class="grey-bg f14 p10 bold darkcolor text-capitalize">Outstanding Exposure by Currency</h3>
                    <div class="col-sm-12 clearfix p0" style="text-align:center">
                        <div id="reportsOutstandingExposureByCurrency" reports-outstanding-exposure-by-currency style="width: 100%;height: 350px;">Placeholder for chart</div>
                    </div>
                </div>
                <div class="col-sm-6 p0">
                    <div class="col-sm-12 p0 grey-bg">
                        <div class="col-sm-8 p0"><h3 class="f14 p10 bold darkcolor text-capitalize">% of Portfolio per Watchlist Category
                        </h3></div>
                        <div class="col-sm-4">
                            <div class="form-group form-group-custom w100 pull-right mt3">
                            <select class="form-control">
                                <option value="Revenues">Watch</option>
                                <option value="Revenues">Sub-Standard</option>
                                <option value="Revenues">Doubtful</option>
                                <option value="Revenues">Loss</option>
                            </select>
                        </div>
                        </div>
                    </div>

                    <div class="col-sm-12 clearfix p0" style="text-align:center">
                        <div id="reportsPertfolioPerWatchlistCategory" reports-pertfolio-per-watchlist-category style="width: 100%;height: 350px;">Placeholder for chart</div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 p0 mt10">
                <div class="table-responsive">
                    <table class="table c-table table-striped table-bordered table-hover display table-style table-text-right">
                        <thead>
                        <tr>
                            <th>Currency</th>
                            <th>Total Amount in USD</th>
                            <th>Limit</th>
                            <th>Transactions</th>
                            <th>Arrears in K USD</th>
                            <th>Normal</th>
                            <th>Watch</th>
                            <th>Sub-Standard</th>
                            <th>Doubtful</th>
                            <th>Loss</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td><span class="sky-blue">USD</span></td>
                            <td><span>113,727</span><span class="fa fa-long-arrow-up arrow-up"></span></td>
                            <td>----</td>
                            <td><span>44</span><span class="fa fa-long-arrow-up arrow-up"></span></td>
                            <td><span>539</span><span class="fa fa-long-arrow-down arrow-down"></span></td>
                            <td><span>109,114</span><span class="fa fa-long-arrow-up arrow-up"></span></td>
                            <td><span>2,868</span><span class="fa fa-long-arrow-down arrow-down"></span></td>
                            <td><span>1,208</span><span class="fa fa-long-arrow-up arrow-up"></span></td>
                            <td><span>----</span><span class="fa fa-long-arrow-right arrow-nutral"></span></td>
                            <td><span>538</span><span class="fa fa-long-arrow-up arrow-up"></span></td>
                        </tr>
                        <tr>
                            <td><span class="sky-blue">KES</span></td>
                            <td><span>13,055</span><span class="fa fa-long-arrow-down arrow-down"></span></td>
                            <td>----</td>
                            <td><span>13</span><span class="fa fa-long-arrow-right arrow-nutral"></span></td>
                            <td><span>---</span><span class="fa fa-long-arrow-down arrow-down"></span></td>
                            <td><span>12288</span><span class="fa fa-long-arrow-down arrow-down"></span></td>
                            <td><span>768</span><span class="fa fa-long-arrow-down arrow-down"></span></td>
                            <td><span>----</span><span class="fa fa-long-arrow-up arrow-up"></span></td>
                            <td><span>----</span><span class="fa fa-long-arrow-right arrow-nutral"></span></td>
                            <td><span>----</span><span class="fa fa-long-arrow-up arrow-up"></span></td>
                        </tr>
                        <tr>
                            <td><span class="sky-blue">UGX</span></td>
                            <td><span>8,805</span><span class="fa fa-long-arrow-up arrow-up"></span></td>
                            <td>----</td>
                            <td><span>8</span><span class="fa fa-long-arrow-up arrow-up"></span></td>
                            <td><span>11</span><span class="fa fa-long-arrow-down arrow-down"></span></td>
                            <td><span>8,533</span><span class="fa fa-long-arrow-up arrow-up"></span></td>
                            <td><span>157</span><span class="fa fa-long-arrow-down arrow-down"></span></td>
                            <td><span>103</span><span class="fa fa-long-arrow-down arrow-up"></span></td>
                            <td><span>----</span><span class="fa fa-long-arrow-right arrow-nutral"></span></td>
                            <td><span>11</span><span class="fa fa-long-arrow-down arrow-down"></span></td>
                        </tr>
                        <tr>
                            <td><span class="sky-blue">TZS</span></td>
                            <td><span>3,110</span><span class="fa fa-long-arrow-down arrow-down"></span></td>
                            <td>----</td>
                            <td><span>4</span><span class="fa fa-long-arrow-up arrow-up"></span></td>
                            <td><span>----</span><span class="fa fa-long-arrow-right arrow-nutral"></span></td>
                            <td><span>2,989</span><span class="fa fa-long-arrow-down arrow-down"></span></td>
                            <td><span>---</span><span class="fa fa-long-arrow-right arrow-nutral"></span></td>
                            <td><span>----</span><span class="fa fa-long-arrow-right arrow-nutral"></span></td>
                            <td><span>----</span><span class="fa fa-long-arrow-right arrow-nutral"></span></td>
                            <td><span>121</span><span class="fa fa-long-arrow-down arrow-down"></span></td>
                        </tr>
                        <tr>
                            <td><span class="sky-blue">EUR</span></td>
                            <td><span>3,579</span><span class="fa fa-long-arrow-up arrow-up"></span></td>
                            <td>----</td>
                            <td><span>1</span><span class="fa fa-long-arrow-up arrow-up"></span></td>
                            <td><span>----</span><span class="fa fa-long-arrow-right arrow-nutral"></span></td>
                            <td><span>3,579</span><span class="fa fa-long-arrow-up arrow-up"></span></td>
                            <td><span>----</span><span class="fa fa-long-arrow-right arrow-nutral"></span></td>
                            <td><span>----</span><span class="fa fa-long-arrow-right arrow-nutral"></span></td>
                            <td><span>----</span><span class="fa fa-long-arrow-right arrow-nutral"></span></td>
                            <td><span>----</span><span class="fa fa-long-arrow-right arrow-nutral"></span></td>
                        </tr>
                        <tr>
                            <td><span class="sky-blue">RWF</span></td>
                            <td><span></span><span class="fa fa-long-arrow-right arrow-nutral"></span></td>
                            <td>----</td>
                            <td><span>0</span><span class="fa fa-long-arrow-right arrow-nutral"></span></td>
                            <td><span>----</span><span class="fa fa-long-arrow-right arrow-nutral"></span></td>
                            <td><span>----</span><span class="fa fa-long-arrow-right arrow-nutral"></span></td>
                            <td><span>----</span><span class="fa fa-long-arrow-right arrow-nutral"></span></td>
                            <td><span>----</span><span class="fa fa-long-arrow-right arrow-nutral"></span></td>
                            <td><span>----</span><span class="fa fa-long-arrow-right arrow-nutral"></span></td>
                            <td><span>----</span><span class="fa fa-long-arrow-right arrow-nutral"></span></td>
                        </tr>
                        </tbody>
                        <tfoot>
                            <tr class="reports-custom-footer">
                                <td><span class="darkcolor">Total</span></td>
                                <td><span>142,277</span><span class="fa fa-long-arrow-up arrow-up"></span></td>
                                <td></td>
                                <td><span>70</span><span class="fa fa-long-arrow-up arrow-up"></span></td>
                                <td><span>551</span><span class="fa fa-long-arrow-down arrow-down"></span></td>
                                <td><span>136,503</span><span class="fa fa-long-arrow-up arrow-up"></span></td>
                                <td><span>3,793</span><span class="fa fa-long-arrow-down arrow-down"></span></td>
                                <td><span>1,311</span><span class="fa fa-long-arrow-up arrow-up"></span></td>
                                <td><span></span><span class="fa fa-long-arrow-right arrow-nutral"></span></td>
                                <td><span>670</span><span class="fa fa-long-arrow-down arrow-down"></span></td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
        <!--Sector analysis-->
        <div class="m20 mt15 mb0">
            <h1 class="p10 darkcolor fontBold pl0">Sector Analysis</h1>
            <div class="col-sm-12 p0">
                <div class="col-sm-12 p0">
                    <h3 class="grey-bg f14 p10 bold darkcolor text-capitalize">Outstanding Exposure by Sector</h3>
                    <div class="col-sm-12 clearfix p0" style="text-align:center">
                        <div id="reportsOutstandingExposureBySector" reports-outstanding-exposure-by-Sector style="width: 100%;height: 480px;">Placeholder for chart</div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 p0 mt10">
                <div class="table-responsive">
                    <table class="table c-table table-striped table-bordered table-hover display table-style table-text-right">
                        <thead>
                        <tr>
                            <th>Currency</th>
                            <th>Total Amount in USD</th>
                            <th>Limit</th>
                            <th>Transactions</th>
                            <th>Arrears in K USD</th>
                            <th>Normal</th>
                            <th>Watch</th>
                            <th>Sub-Standard</th>
                            <th>Doubtful</th>
                            <th>Loss</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td><span class="sky-blue">Agriculture and Fisheries</span></td>
                            <td><span>113,727</span><span class="fa fa-long-arrow-up arrow-up"></span></td>
                            <td>----</td>
                            <td><span>44</span><span class="fa fa-long-arrow-up arrow-up"></span></td>
                            <td><span>539</span><span class="fa fa-long-arrow-down arrow-down"></span></td>
                            <td><span>109,114</span><span class="fa fa-long-arrow-up arrow-up"></span></td>
                            <td><span>2,868</span><span class="fa fa-long-arrow-down arrow-down"></span></td>
                            <td><span>1,208</span><span class="fa fa-long-arrow-up arrow-up"></span></td>
                            <td><span>----</span><span class="fa fa-long-arrow-right arrow-nutral"></span></td>
                            <td><span>538</span><span class="fa fa-long-arrow-up arrow-up"></span></td>
                        </tr>
                        <tr>
                            <td><span class="sky-blue">Forestry & Agroforestry</span></td>
                            <td><span>13,055</span><span class="fa fa-long-arrow-down arrow-down"></span></td>
                            <td>----</td>
                            <td><span>13</span><span class="fa fa-long-arrow-right arrow-nutral"></span></td>
                            <td><span>---</span><span class="fa fa-long-arrow-down arrow-down"></span></td>
                            <td><span>12288</span><span class="fa fa-long-arrow-down arrow-down"></span></td>
                            <td><span>768</span><span class="fa fa-long-arrow-down arrow-down"></span></td>
                            <td><span>----</span><span class="fa fa-long-arrow-up arrow-up"></span></td>
                            <td><span>----</span><span class="fa fa-long-arrow-right arrow-nutral"></span></td>
                            <td><span>----</span><span class="fa fa-long-arrow-up arrow-up"></span></td>
                        </tr>
                        <tr>
                            <td><span class="sky-blue">Mining & Quarrying</span></td>
                            <td><span>8,805</span><span class="fa fa-long-arrow-up arrow-up"></span></td>
                            <td>----</td>
                            <td><span>8</span><span class="fa fa-long-arrow-up arrow-up"></span></td>
                            <td><span>11</span><span class="fa fa-long-arrow-down arrow-down"></span></td>
                            <td><span>8,533</span><span class="fa fa-long-arrow-up arrow-up"></span></td>
                            <td><span>157</span><span class="fa fa-long-arrow-down arrow-down"></span></td>
                            <td><span>103</span><span class="fa fa-long-arrow-down arrow-up"></span></td>
                            <td><span>----</span><span class="fa fa-long-arrow-right arrow-nutral"></span></td>
                            <td><span>11</span><span class="fa fa-long-arrow-down arrow-down"></span></td>
                        </tr>
                        <tr>
                            <td><span class="sky-blue">General Industrial Manufacturing</span></td>
                            <td><span>3,110</span><span class="fa fa-long-arrow-down arrow-down"></span></td>
                            <td>----</td>
                            <td><span>4</span><span class="fa fa-long-arrow-up arrow-up"></span></td>
                            <td><span>----</span><span class="fa fa-long-arrow-right arrow-nutral"></span></td>
                            <td><span>2,989</span><span class="fa fa-long-arrow-down arrow-down"></span></td>
                            <td><span>---</span><span class="fa fa-long-arrow-right arrow-nutral"></span></td>
                            <td><span>----</span><span class="fa fa-long-arrow-right arrow-nutral"></span></td>
                            <td><span>----</span><span class="fa fa-long-arrow-right arrow-nutral"></span></td>
                            <td><span>121</span><span class="fa fa-long-arrow-down arrow-down"></span></td>
                        </tr>
                        <tr>
                            <td><span class="sky-blue">Consumer Industrial Manufacturing</span></td>
                            <td><span>3,579</span><span class="fa fa-long-arrow-up arrow-up"></span></td>
                            <td>----</td>
                            <td><span>1</span><span class="fa fa-long-arrow-up arrow-up"></span></td>
                            <td><span>----</span><span class="fa fa-long-arrow-right arrow-nutral"></span></td>
                            <td><span>3,579</span><span class="fa fa-long-arrow-up arrow-up"></span></td>
                            <td><span>----</span><span class="fa fa-long-arrow-right arrow-nutral"></span></td>
                            <td><span>----</span><span class="fa fa-long-arrow-right arrow-nutral"></span></td>
                            <td><span>----</span><span class="fa fa-long-arrow-right arrow-nutral"></span></td>
                            <td><span>----</span><span class="fa fa-long-arrow-right arrow-nutral"></span></td>
                        </tr>
                        <tr>
                            <td><span class="sky-blue">Agro,Marine and Food Processing</span></td>
                            <td><span></span><span class="fa fa-long-arrow-right arrow-nutral"></span></td>
                            <td>----</td>
                            <td><span>0</span><span class="fa fa-long-arrow-right arrow-nutral"></span></td>
                            <td><span>----</span><span class="fa fa-long-arrow-right arrow-nutral"></span></td>
                            <td><span>----</span><span class="fa fa-long-arrow-right arrow-nutral"></span></td>
                            <td><span>----</span><span class="fa fa-long-arrow-right arrow-nutral"></span></td>
                            <td><span>----</span><span class="fa fa-long-arrow-right arrow-nutral"></span></td>
                            <td><span>----</span><span class="fa fa-long-arrow-right arrow-nutral"></span></td>
                            <td><span>----</span><span class="fa fa-long-arrow-right arrow-nutral"></span></td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr class="reports-custom-footer">
                            <td><span class="darkcolor">Total</span></td>
                            <td><span>142,277</span><span class="fa fa-long-arrow-up arrow-up"></span></td>
                            <td></td>
                            <td><span>70</span><span class="fa fa-long-arrow-up arrow-up"></span></td>
                            <td><span>551</span><span class="fa fa-long-arrow-down arrow-down"></span></td>
                            <td><span>136,503</span><span class="fa fa-long-arrow-up arrow-up"></span></td>
                            <td><span>3,793</span><span class="fa fa-long-arrow-down arrow-down"></span></td>
                            <td><span>1,311</span><span class="fa fa-long-arrow-up arrow-up"></span></td>
                            <td><span></span><span class="fa fa-long-arrow-right arrow-nutral"></span></td>
                            <td><span>670</span><span class="fa fa-long-arrow-down arrow-down"></span></td>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>








