<h3 class="fixed content-heading">New Reports
    <!--<div class="pull-right button-set">
        <a ui-sref="project.project-list({id:(currentProjectViewId | encode )})" uib-tooltip="Back"><i class="fa fa-close-sm"></i></a>
    </div>-->
</h3>

<div class="content-area animated fadeInRight" id="contentArea">
    <div class="content-container clearfix" win-width ng-scrollbars="{axis:x}" >
        <div class="m20 clearfix mb0">
            <div class="col-sm-12 white-bg">
                <h3 class="text-capitalize darkcolor ptb10 pull-left f14 bold">Analysis</h3>
                <div class="pull-right mt4">
                    <a class="menu-toggle dropdown-toggle" data-toggle="dropdown"><span
                            class="icon-angle-down-square"></span></a>
                    <ul class="dropdown-menu cust-dropdown reports-cust-dropdown">
                        <li ng-repeat="month in allMonths" ng-click="newRecordInsert(month)">
                            <a href="javascript:;" class="f12 darkcolor font-normal">{{month}}</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="m20 mt15 mb0 clearfix">
            <div class="col-sm-12 p0 mt15">
                <div class="col-sm-12 clearfix p0 white-bg">
                    <div class="horizontal-div-for-scroll" cols-horizontal><!-- cols-horizontal   cols-horizontal-->
                        <table class="f13 master-table table table-bordered" cellpadding="0" cellspacing="0">
                            <tr>
                                <td>
                                    <table width="100%" class="table-main-header table-bordered" cellpadding="0"
                                           cellspacing="0">
                                        <thead>
                                        <tr>
                                            <th>Outstanding Portfolio</th>
                                            <th ng-repeat="portfolio in analysis.outstanding_portfolio">
                                                {{portfolio}}
                                            </th>
                                            <th>Select-month
                                                <div class="pull-right">
                                                    <a class="menu-toggle dropdown-toggle relative display-inline-block pull-right"
                                                       data-toggle="dropdown"><span
                                                            class="icon-angle-down-square"></span></a>
                                                    <ul class="dropdown-menu cust-dropdown reports-cust-dropdown">
                                                        <li ng-repeat="month in allMonths"
                                                            ng-click="newRecordInsert(month)">
                                                            <a href="javascript:;" class="f12 darkcolor font-normal">{{month}}</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </th>
                                        </tr>
                                        </thead>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td class="table-inner-one">
                                    <table class="table-bordered" width="100%" cellpadding="0" cellspacing="0">
                                        <thead>
                                        <tr>
                                            <th>Outstanding Portfolio</th>
                                            <th ng-repeat="portfolioHead in analysis.outstanding_portfolio_head">
                                                <span>{{portfolioHead}}</span></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>Equity</td>
                                            <td ng-repeat="value in analysis.outstanding_portfolio_details">{{value[0]}}</td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>Lease</td>
                                            <td ng-repeat="value in analysis.outstanding_portfolio_details">{{value[1]}}</td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>Loan</td>
                                            <td ng-repeat="value in analysis.outstanding_portfolio_details">{{value[2]}}</td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>Loan ST</td>
                                            <td ng-repeat="value in analysis.outstanding_portfolio_details">{{value[3]}}</td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>Loan MT</td>
                                            <td ng-repeat="value in analysis.outstanding_portfolio_details">{{value[4]}}</td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>Loan LY</td>
                                            <td ng-repeat="value in analysis.outstanding_portfolio_details">{{value[5]}}</td>
                                            <td></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td class="table-inner-two">
                                    <table width="100%" class="table-bordered" cellpadding="0" cellspacing="0">
                                        <thead>
                                        <tr>
                                            <th>Outstanding Portfolio</th>
                                            <th ng-repeat="portfolioHead in analysis.number_of_clients_head">
                                                <span>{{portfolioHead}}</span></th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr>
                                            <td>Equity</td>
                                            <td ng-repeat="value in analysis.number_of_clients_data">{{value[0]}}</td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>Lease</td>
                                            <td ng-repeat="value in analysis.number_of_clients_data">{{value[1]}}</td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>Loan</td>
                                            <td ng-repeat="value in analysis.number_of_clients_data">{{value[2]}}</td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>Loan ST</td>
                                            <td ng-repeat="value in analysis.number_of_clients_data">{{value[3]}}</td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>Loan MT</td>
                                            <td ng-repeat="value in analysis.number_of_clients_data">{{value[4]}}</td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td>Loan LY</td>
                                            <td ng-repeat="value in analysis.number_of_clients_data">{{value[5]}}</td>
                                            <td></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>








