<h3 class="fixed content-heading">Reports
    <div class="pull-right button-set">
        <a ui-sref="project.project-list({id:(currentProjectViewId | encode )})" uib-tooltip="Back"><i class="fa fa-close-sm"></i></a>
    </div>
</h3>

<div class="content-area animated fadeInRight" id="contentArea">
    <div class="content-container clearfix">
        <div class="col-sm-12 plr20 mb20 mt20 reports-t-wrapper" id="reportsTWrapper">
                <div class="reports-leftside-panel">
                    <div class="reports-leftside-panel-widget">
                        <h3 class="text-capitalize darkcolor bold f14">Report Types</h3>
                        <ul class="reports-types-list mt10">
                            <li ng-repeat="reporttype in reporttypes"><a>{{reporttype.name}}</a></li>
                        </ul>
                    </div>
                    <div class="reports-leftside-panel-widget clearfix">
                        <ul class="r-filters-btn-wrap">
                            <li ng-class="{active:isSet(1)}">
                                <a ng-click="setTab(1)">Filters</a>
                            </li>
                            <li ng-class="{active:isSet(2)}"><a ng-click="setTab(2)">Views</a></li>
                        </ul>
                        <div class="col-sm-12 clearfix ptb10" ng-show="isSet(1)">
                            <h3 class="text-capitalize darkcolor bold f14 pl0">Show</h3>
                            <div class="form-group form-group-custom">
                                <select class="form-control">
                                    <option>Revenues</option>
                                </select>
                            </div>
                            <h3 class="text-capitalize darkcolor bold f14 pl0">Filtered BY</h3>
                            <div class="filteredby-wrap">
                                <ul is-filtered >
                                    <li ng-class="{active:sectorFilterPanel}" ng-click="sectorFilterPanel=!sectorFilterPanel">Sector <span class="icon-angle-right"></span><span class="icon-times"></span></li>
                                    <li ng-class="{active:productsFilterPanel}" ng-click="productsFilterPanel=!productsFilterPanel">Products<span class="icon-angle-right"></span><span class="icon-times"></span></li>
                                    <li>Region/Countries</li>
                                    <li>Users</li>
                                    <li>Business Areas</li>
                                </ul>
                            </div>
                            <div class="reports-leftside-panel-widget clearfix">
                                <div class="col-sm-12">
                                    <h3 class="text-capitalize darkcolor bold f14 pl0">Fiscal Year</h3>
                                    <div ng-model="slidervalue" range-slider min="2010" max="2017" model-min="ransSlider.min" model-max="ransSlider.max" attach-handle-values="true" show-values="true" ></div>
                                </div>
                            </div>
                            <div class="reports-leftside-panel-widget clearfix">
                                <div class="col-sm-12">
                                    <h3 class="text-capitalize darkcolor bold f14 pl0">Total for all years</h3>
                                    <div class="sky-blue f14 bold mb10">$ 406,624,247.13</div>
                                </div>
                            </div>
                            <div class="reports-leftside-panel-widget clearfix">
                                <div class="col-sm-12">
                                    <h3 class="text-capitalize darkcolor bold f14 pl0">Documents</h3>
                                    <ul class="documents-rprt mtb10">
                                        <li>
                                            <a class="darkcolor"><span class="icon-pdf sky-blue"></span>Fiscal Year 2014-15 Final Adopted Budget</a>
                                        </li>
                                        <li>
                                            <a class="darkcolor"><span class="icon-pdf sky-blue"></span>Fiscal Year 2014-15 Final Adopted Budget</a>
                                        </li>
                                        <li>
                                            <a class="darkcolor"><span class="icon-pdf sky-blue"></span>Fiscal Year 2014-15 Final Adopted Budget</a>
                                        </li>
                                        <li>
                                            <a class="darkcolor"><span class="icon-pdf sky-blue"></span>Fiscal Year 2014-15 Final Adopted Budget</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 clearfix ptb10" ng-show="isSet(2)">
                            <ul class="reports-views-list">
                                <li>
                                    <a> How do you changes revenues every month?</a>
                                </li>
                                <li>
                                    <a> How do you changes revenues every month?</a>
                                </li>
                                <li>
                                    <a> How do you changes revenues every month?</a>
                                </li>
                                <li>
                                    <a> How do you changes revenues every month?</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="sector-filter-panel-total-wrap" id="sector-filter-panel-total-wrap">
                        <!--sector filter panel-->
                        <div class="filter-panel sector-filter-panel" ng-show="sectorFilterPanel">
                            <h3>Sector <a class="pull-right" ng-click="sectorFilterPanel=!sectorFilterPanel"><span class="icon-times f18"></span></a></h3>
                            <div class="col-sm-12">
                                <div class="form-group form-group-custom mtb10">
                                    <select class="form-control">
                                        <option>A-Z</option>
                                    </select>
                                </div>
                                <ul>
                                    <li ng-repeat="sector in sectorsReport">
                                        <div class="form-group form-group-custom">
                                            <label class="f12 width-full">{{sector.name}}<input type="checkbox" class="pull-right mt3"></label>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <!--products filter panel-->
                        <div class="filter-panel products-filter-panel" ng-show="productsFilterPanel">
                            <h3>Products <a class="pull-right" ng-click="productsFilterPanel=!productsFilterPanel"><span class="icon-times f18"></span></a></h3>
                        </div>
                    </div>
                </div>
                <div id="reportsRightsidePanel" reportsTwidth class="reports-rightside-panel">
                    <div class="col-sm-12 clearfix p0">
                        <div class="col-sm-8 p0">
                            <ul class="list-inline report-list">
                                <li>
                                    <button type="button" class="btn btn-report f14 border"><span class="fa fa-arrow-left"></span> Back</button>
                                </li>
                                <li>
                                    <button type="button" class="btn btn-report f14 border"><span class="fa fa-share-alt"></span> History</button>
                                </li>
                                <li>
                                    <button type="button" ng-click="resetReports()" ng-init="rportName = true" class="btn btn-report f14 border"><span class="fa fa-repeat"></span> Reset</button>
                                </li>
                                <li class="search-report">
                                    <input class="border" placeholder="Search in a Table" type="text">
                                    <i class="fa fa-search sky-blue"></i>
                                    <span>1-11 of 13,566 Records</span>
                                </li>
                            </ul>
                        </div>
                        <div class="col-sm-4 p0">
                            <div class="report-block clearfix relative">
                                <ul class="list-inline white-bg graph-types-btns" reportsFiltered>
                                    <li><a uib-tooltip="Line Chart" href="javascript:;" ng-click="chartType='LineChart'"><span class="fa fa-line-chart"></span></a></li>
                                    <li><a uib-tooltip="Area Chart" href="javascript:;" ng-click="chartType='AreaChart'"><span class="fa fa-area-chart"></span></a></li>
                                    <li class="active"><a uib-tooltip="Bar Chart" href="javascript:;" ng-click="chartType='BarChart'"><span class="fa fa-bar-chart"></span></a></li>
                                    <li><a uib-tooltip="Pie Chart" href="javascript:;" ng-click="chartType='PieChart'"><span class="fa fa-pie-chart"></span></a></li>
                                </ul>
                            <span class="ractions custom-list relative pull-right">
                                <a href="javascript:;" class="menu-toggle f13 dark-sky-blue dropdown-toggle" data-toggle="dropdown"><i class="fa fa-ellipsis-v f21 blue p0"></i></a>
                                <ul class="dropdown-menu cust-dropdown">
                                    <li>
                                        <a href="javascript:;" class="f12 darkcolor font-normal">Export to PDF</a>
                                    </li>
                                    <li>
                                        <a href="javascript:;" class="f12 darkcolor font-normal">Search Save</a>
                                    </li>
                                </ul>
                            </span>
                            </div>
                        </div>
                    </div>
                    <div class="reports-view-wrap">
                        <!---Reports visualization-->
                        <div class="col-sm-12 clearfix p0" style="text-align:center">
                            <div id="annualReportVisualization" annual_report_visualization style="width: 100%;height: 400px;">Placeholder for chart</div>
                        </div>

                        <!---annual report-->
                        <div class="col-sm-12">

                        </div>
                        <!--right block-2-->
                        <div class="col-sm-12 clearfix p0 right-btn mt10">
                            <h6 class="dark-blue">LAST 12 MONTHS-STAGES vs AMOUNT</h6>
                            <button class="btn btn-blue-report btn-sm sky-blue-bg" type="button">Export Report</button>
                        </div>
                        <!--right block-2 ends-->
                        <!--right block-3-->
                        <div class="col-sm-12 clearfix p0 white-bg mt5 radius-sec">
                            <h3 class="text-capitalize darkcolor bold f14 inline-display plt12">Summeary - All Data</h3>
                            <div class="form-group form-inline inline-display p5">
                                <label class="blue">Show Top</label>
                                <input type="number" class="form-control">
                            </div>
                        </div>
                        <!--right block-3 ends-->
                        <!--right block-4-->
                        <div class="col-sm-12 clearfix p0 white-bg">
                            <div class="table-responsive reports-data-table">
                                <table class="table table-report f13">
                                    <thead>
                                    <tr>
                                        <th ng-show="rportName" ng-init="rportName"><input class="mr8" type="checkbox">Customer Name <a class="menu-toggle dropdown-toggle" data-toggle="dropdown"><span class="icon-angle-down-square"></span></a>
                                            <ul class="dropdown-menu cust-dropdown reports-cust-dropdown">
                                                <li>
                                                    <input class="form-control" placeholder="Search" type="text"/>
                                                </li>
                                                <li>
                                                    <a href="javascript:;" class="f12 darkcolor font-normal"  ng-click="sortType = 'name'; sortReverse = !sortReverse">Sort Assending</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:;" class="f12 darkcolor font-normal">Sort Desending</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:;" class="f12 darkcolor font-normal" ng-click="rportName=!rportName">Hide</a>
                                                </li>
                                                <li class="mt5">
                                                    <button type="submit" class="btn btn-dark  white-color btn-xs f15 mr8">CLEAR</button>
                                                    <button type="reset" class="btn white-color f15 lt-bg btn-xs">OK</button>
                                                </li>
                                            </ul>
                                        </th>
                                        <th>Sector<a class="menu-toggle dropdown-toggle" data-toggle="dropdown"><span class="icon-angle-down-square"></span></a>
                                            <ul class="dropdown-menu cust-dropdown reports-cust-dropdown">
                                                <li>
                                                    <input class="form-control" placeholder="Search" type="text"/>
                                                </li>
                                                <li>
                                                    <a href="javascript:;" class="f12 darkcolor font-normal"  ng-click="sortType = 'name'; sortReverse = !sortReverse">Sort Assending</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:;" class="f12 darkcolor font-normal">Sort Desending</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:;" class="f12 darkcolor font-normal" ng-click="rportName=!rportName">Hide</a>
                                                </li>
                                                <li class="mt5">
                                                    <button type="submit" class="btn btn-dark  white-color btn-xs f15 mr8">CLEAR</button>
                                                    <button type="reset" class="btn white-color f15 lt-bg btn-xs">OK</button>
                                                </li>
                                            </ul>
                                        </th>
                                        <th>Company<a class="menu-toggle dropdown-toggle" data-toggle="dropdown"><span class="icon-angle-down-square"></span></a>
                                            <ul class="dropdown-menu cust-dropdown reports-cust-dropdown">
                                                <li>
                                                    <input class="form-control" placeholder="Search" type="text"/>
                                                </li>
                                                <li>
                                                    <a href="javascript:;" class="f12 darkcolor font-normal"  ng-click="sortType = 'name'; sortReverse = !sortReverse">Sort Assending</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:;" class="f12 darkcolor font-normal">Sort Desending</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:;" class="f12 darkcolor font-normal" ng-click="rportName=!rportName">Hide</a>
                                                </li>
                                                <li class="mt5">
                                                    <button type="submit" class="btn btn-dark  white-color btn-xs f15 mr8">CLEAR</button>
                                                    <button type="reset" class="btn white-color f15 lt-bg btn-xs">OK</button>
                                                </li>
                                            </ul>
                                        </th>
                                        <th>Business<a class="menu-toggle dropdown-toggle" data-toggle="dropdown"><span class="icon-angle-down-square"></span></a>
                                            <ul class="dropdown-menu cust-dropdown reports-cust-dropdown">
                                                <li>
                                                    <input class="form-control" placeholder="Search" type="text"/>
                                                </li>
                                                <li>
                                                    <a href="javascript:;" class="f12 darkcolor font-normal"  ng-click="sortType = 'name'; sortReverse = !sortReverse">Sort Assending</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:;" class="f12 darkcolor font-normal">Sort Desending</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:;" class="f12 darkcolor font-normal" ng-click="rportName=!rportName">Hide</a>
                                                </li>
                                                <li class="mt5">
                                                    <button type="submit" class="btn btn-dark  white-color btn-xs f15 mr8">CLEAR</button>
                                                    <button type="reset" class="btn white-color f15 lt-bg btn-xs">OK</button>
                                                </li>
                                            </ul>
                                        </th>
                                        <th>Amount<a class="menu-toggle dropdown-toggle" data-toggle="dropdown"><span class="icon-angle-down-square"></span></a>
                                            <ul class="dropdown-menu cust-dropdown reports-cust-dropdown">
                                                <li>
                                                    <input class="form-control" placeholder="Search" type="text"/>
                                                </li>
                                                <li>
                                                    <a href="javascript:;" class="f12 darkcolor font-normal"  ng-click="sortType = 'name'; sortReverse = !sortReverse">Sort Assending</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:;" class="f12 darkcolor font-normal">Sort Desending</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:;" class="f12 darkcolor font-normal" ng-click="rportName=!rportName">Hide</a>
                                                </li>
                                                <li class="mt5">
                                                    <button type="submit" class="btn btn-dark  white-color btn-xs f15 mr8">CLEAR</button>
                                                    <button type="reset" class="btn white-color f15 lt-bg btn-xs">OK</button>
                                                </li>
                                            </ul>
                                        </th>
                                        <th>Country<a class="menu-toggle dropdown-toggle" data-toggle="dropdown"><span class="icon-angle-down-square"></span></a>
                                            <ul class="dropdown-menu cust-dropdown reports-cust-dropdown">
                                                <li>
                                                    <input class="form-control" placeholder="Search" type="text"/>
                                                </li>
                                                <li>
                                                    <a href="javascript:;" class="f12 darkcolor font-normal"  ng-click="sortType = 'name'; sortReverse = !sortReverse">Sort Assending</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:;" class="f12 darkcolor font-normal">Sort Desending</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:;" class="f12 darkcolor font-normal" ng-click="rportName=!rportName">Hide</a>
                                                </li>
                                                <li class="mt5">
                                                    <button type="submit" class="btn btn-dark  white-color btn-xs f15 mr8">CLEAR</button>
                                                    <button type="reset" class="btn white-color f15 lt-bg btn-xs">OK</button>
                                                </li>
                                            </ul>
                                        </th>
                                        <th>Currency<a class="menu-toggle dropdown-toggle" data-toggle="dropdown"><span class="icon-angle-down-square"></span></a>
                                            <ul class="dropdown-menu cust-dropdown reports-cust-dropdown">
                                                <li>
                                                    <input class="form-control" placeholder="Search" type="text"/>
                                                </li>
                                                <li>
                                                    <a href="javascript:;" class="f12 darkcolor font-normal"  ng-click="sortType = 'name'; sortReverse = !sortReverse">Sort Assending</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:;" class="f12 darkcolor font-normal">Sort Desending</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:;" class="f12 darkcolor font-normal" ng-click="rportName=!rportName">Hide</a>
                                                </li>
                                                <li class="mt5">
                                                    <button type="submit" class="btn btn-dark  white-color btn-xs f15 mr8">CLEAR</button>
                                                    <button type="reset" class="btn white-color f15 lt-bg btn-xs">OK</button>
                                                </li>
                                            </ul>
                                        </th>
                                        <th>Period<a class="menu-toggle dropdown-toggle" data-toggle="dropdown"><span class="icon-angle-down-square"></span></a>
                                            <ul class="dropdown-menu cust-dropdown reports-cust-dropdown">
                                                <li>
                                                    <input class="form-control" placeholder="Search" type="text"/>
                                                </li>
                                                <li>
                                                    <a href="javascript:;" class="f12 darkcolor font-normal"  ng-click="sortType = 'name'; sortReverse = !sortReverse">Sort Assending</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:;" class="f12 darkcolor font-normal">Sort Desending</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:;" class="f12 darkcolor font-normal" ng-click="rportName=!rportName">Hide</a>
                                                </li>
                                                <li class="mt5">
                                                    <button type="submit" class="btn btn-dark  white-color btn-xs f15 mr8">CLEAR</button>
                                                    <button type="reset" class="btn white-color f15 lt-bg btn-xs">OK</button>
                                                </li>
                                            </ul>
                                        </th>
                                        <th>Status<a class="menu-toggle dropdown-toggle" data-toggle="dropdown"><span class="icon-angle-down-square"></span></a>
                                            <ul class="dropdown-menu cust-dropdown reports-cust-dropdown">
                                                <li>
                                                    <input class="form-control" placeholder="Search" type="text"/>
                                                </li>
                                                <li>
                                                    <a href="javascript:;" class="f12 darkcolor font-normal"  ng-click="sortType = 'name'; sortReverse = !sortReverse">Sort Assending</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:;" class="f12 darkcolor font-normal">Sort Desending</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:;" class="f12 darkcolor font-normal" ng-click="rportName=!rportName">Hide</a>
                                                </li>
                                                <li class="mt5">
                                                    <button type="submit" class="btn btn-dark  white-color btn-xs f15 mr8">CLEAR</button>
                                                    <button type="reset" class="btn white-color f15 lt-bg btn-xs">OK</button>
                                                </li>
                                            </ul>
                                        </th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="list in annualReportsData|orderBy:sortType:sortReverse">
                                            <td ng-show="rportName"><input class="mr8" type="checkbox" value=""/>{{list.name}}</td>
                                            <td>{{list.sector}}</td>
                                            <td>{{list.company}}</td>
                                            <td>{{list.business}}</td>
                                            <td>{{list.amount}}</td>
                                            <td>{{list.country}}</td>
                                            <td>{{list.currency}}</td>
                                            <td>{{list.period}}</td>
                                            <td>{{list.status}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>








