<h3 class="fixed content-heading">Sector Limits
    <div class="pull-right button-set">
        <a ui-sref="project.project-list({id:(currentProjectViewId | encode )})" uib-tooltip="Back"><i class="fa fa-close-sm"></i></a>
    </div>
</h3>

<div class="content-area animated fadeInRight" id="contentArea">
    <div class="content-container clearfix">
        <div class="m20 clearfix mb0">
            <div class="col-sm-12 p0">
                <table class="table sector-limits-table">
                    <thead>
                        <tr>
                            <th style="vertical-align:middle;text-align:center;padding:0px;width: 20%;border-right:none;"></th>
                            <th style="padding: 0px;">
                                <table width="100%">
                                    <thead>
                                        <tr>
                                            <th width="20%"></th>
                                            <th width="15%">Number of Transactions</th>
                                            <th width="15%">Total Outstanding</th>
                                            <th width="15%">% of Total Share</th>
                                            <th width="15%">Limits</th>
                                            <th width="20%">
                                                <span class="display-block">Unfunded Commitment</span>
                                                <span class="header-span">Amount</span>
                                                <span class="header-span">New % Limit</span>
                                            </th>
                                        </tr>
                                    </thead>
                                </table>
                            </th>
                        </tr>
                    </thead>
                    <tbody class="clearfix">
                        <tr>
                            <td class="td-leftside" style="padding: 0px;">1.0 Agriculture, Forestry and Fishing</td>
                            <td class="td-rightside" style="padding: 0px !important;">
                                <table width="100%" class="table table-rightside m0 border-none">
                                    <tbody>
                                    <tr>
                                        <td width="20%" class="">
                                            <span class="display-block">
                                                <span>1.1</span>
                                                <span>Agriculture and Forestries</span>
                                            </span>
                                        </td>
                                        <td width="15%" class="">
                                            <span class="body-span icon-up-arrow arrow-nutral"></span>
                                            <span class="body-span">2</span>
                                        </td>
                                        <td width="15%" class="">
                                            <span class="body-span icon-up-arrow arrow-up"></span>
                                            <span class="body-span">2</span>

                                        </td>
                                        <td width="15%" class="">
                                            <span class="display-block">2</span>
                                        </td>
                                        <td width="15%" class=""><span class="display-block">5.0%</span></td>
                                        <td width="20%" class="">
                                            <span class="body-span">0.00</span>
                                            <span class="body-span">1.3%</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="20%" class="">
                                            <span class="display-block">
                                                <span>1.2</span>
                                                <span>Forestry & Agroforestry</span>
                                            </span>
                                        </td>
                                        <td width="15%" class="">
                                            <span class="body-span icon-up-arrow arrow-up"></span>
                                            <span class="body-span">1</span>

                                        </td>
                                        <td width="15%" class="">
                                            <span class="body-span icon-up-arrow arrow-up"></span>
                                            <span class="body-span">0.85</span>
                                        </td>
                                        <td width="15%" class="">
                                            <span class="display-block">0.6%</span>
                                        </td>
                                        <td width="15%" class=""><span class="display-block">5.0%</span></td>
                                        <td width="20%" class="">
                                            <span class="body-span">0.16</span>
                                            <span class="body-span">0.6%</span>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table></td>
                        </tr>
                        <tr>
                            <td class="td-leftside" style="padding: 0px;">2.0 Mining and Quarrying</td>
                            <td class="td-rightside" style="padding: 0px !important;">
                                <table width="100%" class="table table-rightside m0 border-none">
                                    <tbody>
                                    <tr>
                                        <td width="20%" class="">
                                            <span class="display-block">
                                                <span>2.1</span>
                                                <span>Mining and Quarrying</span>
                                            </span>
                                        </td>
                                        <td width="15%" class="">
                                            <span class="body-span icon-up-arrow"></span>
                                            <span class="body-span">0</span>

                                        </td>
                                        <td width="15%" class="">
                                            <span class="body-span icon-up-arrow arrow-nutral"></span>
                                            <span class="body-span">0.00</span>
                                        </td>
                                        <td width="15%" class="">
                                            <span class="display-block">0.0%</span>
                                        </td>
                                        <td width="15%" class=""><span class="display-block">0.00%</span></td>
                                        <td width="20%" class="">
                                            <span class="body-span">0.00</span>
                                            <span class="body-span">0.0%</span>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table></td>
                        </tr>
                        <tr>
                            <td class="td-leftside" style="padding: 0px;">3.0 Manufacturing</td>
                            <td class="td-rightside" style="padding: 0px !important;">
                                <table width="100%" class="table table-rightside m0 border-none">
                                    <tbody>
                                    <tr>
                                        <td width="20%" class="">
                                            <span class="display-block">
                                                <span>3.1</span>
                                                <span>General Industrial Manufacturing</span>
                                            </span>
                                        </td>
                                        <td width="15%" class="">
                                            <span class="body-span icon-up-arrow arrow-nutral"></span>
                                            <span class="body-span">1</span>
                                        </td>
                                        <td width="15%" class="">
                                            <span class="body-span icon-up-arrow arrow-up"></span>
                                            <span class="body-span">0.16</span>
                                        </td>
                                        <td width="15%" class="">
                                            <span class="display-block">0.1%</span>
                                        </td>
                                        <td width="15%" class=""><span class="display-block">5.0%</span></td>
                                        <td width="20%" class="">
                                            <span class="body-span">0.00</span>
                                            <span class="body-span">0.1%</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="20%" class="">
                                            <span class="display-block">
                                                <span>3.2</span>
                                                <span>Consumer Industrial Manufacturing</span>
                                            </span>
                                        </td>
                                        <td width="15%" class="">
                                            <span class="body-span icon-up-arrow arrow-up"></span>
                                            <span class="body-span">0</span>
                                        </td>
                                        <td width="15%" class="">
                                            <span class="body-span icon-up-arrow arrow-up"></span>
                                            <span class="body-span">0.00</span>
                                        </td>
                                        <td width="15%" class="">
                                            <span class="display-block">14.7%</span>
                                        </td>
                                        <td width="15%" class="">
                                            <span class="display-block">5.0%</span>
                                        </td>
                                        <td width="20%" class="">
                                            <span class="body-span">0.00</span>
                                            <span class="body-span">0.0%</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="20%" class="">
                                            <span class="display-block">
                                                <span>3.3</span>
                                                <span>Agro, Marine and Food Processing</span>
                                            </span>
                                        </td>
                                        <td width="15%" class="">
                                            <span class="body-span icon-up-arrow arrow-up"></span>
                                            <span class="body-span">10</span>
                                        </td>
                                        <td width="15%" class="">
                                            <span class="body-span icon-up-arrow arrow-up"></span>
                                            <span class="body-span">17.90</span>
                                        </td>
                                        <td width="15%" class="">
                                            <span class="display-block">12.6%</span>
                                        </td>
                                        <td width="15%" class=""><span class="display-block">20.0%</span></td>
                                        <td width="20%" class="">
                                            <span class="body-span">0.00</span>
                                            <span class="body-span">11.4%</span>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table></td>
                        </tr>
                        <tr>
                            <td class="td-leftside" style="padding: 0px;">4.0 Construction Companies</td>
                            <td class="td-rightside" style="padding: 0px !important;">
                                <table width="100%" class="table table-rightside m0 border-none">
                                    <tbody>
                                    <tr>
                                        <td width="20%" class="">
                                            <span class="display-block">
                                                <span>4.1</span>
                                                <span>Construction Companies, Building Materials</span>
                                            </span>
                                        </td>
                                        <td width="15%" class="">
                                            <span class="body-span icon-up-arrow arrow-up"></span>
                                            <span class="body-span">6</span>
                                        </td>
                                        <td width="15%" class="">
                                            <span class="body-span icon-down-arrow arrow-down"></span>
                                            <span class="body-span">2.87</span>
                                        </td>
                                        <td width="15%" class="">
                                            <span class="display-block">2.0%</span>
                                        </td>
                                        <td width="15%" class="">
                                            <span class="display-block">20.0%</span>
                                        </td>
                                        <td width="20%" class="">
                                            <span class="body-span">4.14</span>
                                            <span class="body-span">4.4%</span>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table></td>
                        </tr>
                        <tr>
                            <td class="td-leftside" style="padding: 0px;">5.0 Hotels and Restaurants</td>
                            <td class="td-rightside" style="padding: 0px !important;">
                                <table width="100%" class="table table-rightside m0 border-none">
                                    <tbody>
                                    <tr>
                                        <td width="20%" class="">
                                            <span class="display-block">
                                                <span>5.1</span>
                                                <span>Hotels, Tourism, Leisure and Entertainment</span>
                                            </span>
                                        </td>
                                        <td width="15%" class="">
                                            <span class="body-span icon-up-arrow arrow-up"></span>
                                            <span class="body-span">10</span>
                                        </td>
                                        <td width="15%" class="">
                                            <span class="body-span icon-up-arrow arrow-up"></span>
                                            <span class="body-span">21.0</span>
                                        </td>
                                        <td width="15%" class="">
                                            <span class="display-block">14.8%</span>
                                        </td>
                                        <td width="15%" class="">
                                            <span class="display-block">20.0%</span>
                                        </td>
                                        <td width="20%" class="">
                                            <span class="body-span">3.71</span>
                                            <span class="body-span">15.7%</span>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table></td>
                        </tr>
                        <tr>
                            <td class="td-leftside" style="padding: 0px;">6.0 Transport, Storage</td>
                            <td class="td-rightside" style="padding: 0px !important;">
                                <table width="100%" class="table table-rightside m0 border-none">
                                    <tbody>
                                    <tr>
                                        <td width="20%" class="">
                                            <span class="display-block">
                                                <span>6.1</span>
                                                <span>Transport</span>
                                            </span>
                                        </td>
                                        <td width="15%" class="">
                                            <span class="body-span icon-up-arrow arrow-up"></span>
                                            <span class="body-span">3</span>
                                        </td>
                                        <td width="15%" class="">
                                            <span class="body-span icon-down-arrow arrow-down"></span>
                                            <span class="body-span">1.02</span>
                                        </td>
                                        <td width="15%" class="">
                                            <span class="display-block">0.7%</span>
                                        </td>
                                        <td width="15%" class="">
                                            <span class="display-block">5.0%</span>
                                        </td>
                                        <td width="20%" class="">
                                            <span class="body-span">0.69</span>
                                            <span class="body-span">1.1%</span>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table></td>
                        </tr>
                        <tr>
                            <td class="td-leftside" style="padding: 0px;">7.0 Financial Intermediation</td>
                            <td class="td-rightside" style="padding: 0px !important;">
                                <table width="100%" class="table table-rightside m0 border-none">
                                    <tbody>
                                    <tr>
                                        <td width="20%" class="">
                                            <span class="display-block">
                                                <span>7.1</span>
                                                <span>Commercial Banks</span>
                                            </span>
                                        </td>
                                        <td width="15%" class="">
                                            <span class="body-span icon-up-arrow arrow-up"></span>
                                            <span class="body-span">8</span>
                                        </td>
                                        <td width="15%" class="">
                                            <span class="body-span icon-up-arrow arrow-up"></span>
                                            <span class="body-span">21.95</span>
                                        </td>
                                        <td width="15%" class="">
                                            <span class="display-block">15.4%</span>
                                        </td>
                                        <td width="15%" class="">
                                            <span class="display-block">30.0%</span>
                                        </td>
                                        <td width="20%" class="">
                                            <span class="body-span">0.00</span>
                                            <span class="body-span">13.9%</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="20%" class="">
                                            <span class="display-block">
                                                <span>7.2</span>
                                                <span>Investment Companies</span>
                                            </span>
                                        </td>
                                        <td width="15%" class="">
                                            <span class="body-span icon-up-arrow arrow-up"></span>
                                            <span class="body-span">3</span>
                                        </td>
                                        <td width="15%" class="">
                                            <span class="body-span icon-down-arrow arrow-down"></span>
                                            <span class="body-span">0.68</span>
                                        </td>
                                        <td width="15%" class="">
                                            <span class="display-block">0.5%</span>
                                        </td>
                                        <td width="15%" class="">
                                            <span class="display-block">10.0%</span>
                                        </td>
                                        <td width="20%" class="">
                                            <span class="body-span">0.23</span>
                                            <span class="body-span">0.6%</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="20%" class="">
                                            <span class="display-block">
                                                <span>7.3</span>
                                                <span>Micro Finance Institutions</span>
                                            </span>
                                        </td>
                                        <td width="15%" class="">
                                            <span class="body-span icon-up-arrow arrow-nutral"></span>
                                            <span class="body-span">1</span>
                                        </td>
                                        <td width="15%" class="">
                                            <span class="body-span icon-down-arrow arrow-down"></span>
                                            <span class="body-span">0.00</span>
                                        </td>
                                        <td width="15%" class="">
                                            <span class="display-block">0.0%</span>
                                        </td>
                                        <td width="15%" class="">
                                            <span class="display-block">10.0%</span>
                                        </td>
                                        <td width="20%" class="">
                                            <span class="body-span">0.00</span>
                                            <span class="body-span">0.0%</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="20%" class="">
                                            <span class="display-block">
                                                <span>7.4</span>
                                                <span>Development Financial Institution</span>
                                            </span>
                                        </td>
                                        <td width="15%" class="">
                                            <span class="body-span icon-up-arrow arrow-nutral"></span>
                                            <span class="body-span">2</span>
                                        </td>
                                        <td width="15%" class="">
                                            <span class="body-span icon-down-arrow arrow-down"></span>
                                            <span class="body-span">10.90</span>
                                        </td>
                                        <td width="15%" class="">
                                            <span class="display-block">7.7%</span>
                                        </td>
                                        <td width="15%" class="">
                                            <span class="display-block">10.0%</span>
                                        </td>
                                        <td width="20%" class="">
                                            <span class="body-span">0.00</span>
                                            <span class="body-span">6.9%</span>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table></td>
                        </tr>
                        <tr>
                            <td class="td-leftside" style="padding: 0px;">8.0 Electricity, Gas & Oil, and Water</td>
                            <td class="td-rightside" style="padding: 0px !important;">
                                <table width="100%" class="table table-rightside m0 border-none">
                                    <tbody>
                                    <tr>
                                        <td width="20%" class="">
                                            <span class="display-block">
                                                <span>8.1</span>
                                                <span>Electricity</span>
                                            </span>
                                        </td>
                                        <td width="15%" class="">
                                            <span class="body-span icon-up-arrow arrow-up"></span>
                                            <span class="body-span">7</span>
                                        </td>
                                        <td width="15%" class="">
                                            <span class="body-span icon-down-arrow arrow-down"></span>
                                            <span class="body-span">45.52</span>
                                        </td>
                                        <td width="15%" class="">
                                            <span class="display-block">32.0%</span>
                                        </td>
                                        <td width="15%" class="">
                                            <span class="display-block">20.0%</span>
                                        </td>
                                        <td width="20%" class="">
                                            <span class="body-span">2.01</span>
                                            <span class="body-span">30.2%</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="20%" class="">
                                            <span class="display-block">
                                                <span>8.2</span>
                                                <span>Water and Sewers</span>
                                            </span>
                                        </td>
                                        <td width="15%" class="">
                                            <span class="body-span icon-up-arrow arrow-nutral"></span>
                                            <span class="body-span">7</span>
                                        </td>
                                        <td width="15%" class="">
                                            <span class="body-span icon-up-arrow arrow-nutral"></span>
                                            <span class="body-span">45.52</span>
                                        </td>
                                        <td width="15%" class="">
                                            <span class="display-block">32.0%</span>
                                        </td>
                                        <td width="15%" class="">
                                            <span class="display-block">20.0%</span>
                                        </td>
                                        <td width="20%" class="">
                                            <span class="body-span">2.01</span>
                                            <span class="body-span">30.2%</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="20%" class="">
                                            <span class="display-block">
                                                <span>8.3</span>
                                                <span>Oil and gas</span>
                                            </span>
                                        </td>
                                        <td width="15%" class="">
                                            <span class="body-span icon-up-arrow arrow-nutral"></span>
                                            <span class="body-span">7</span>
                                        </td>
                                        <td width="15%" class="">
                                            <span class="body-span icon-up-arrow arrow-nutral"></span>
                                            <span class="body-span">45.52</span>
                                        </td>
                                        <td width="15%" class="">
                                            <span class="display-block">32.0%</span>
                                        </td>
                                        <td width="15%" class="">
                                            <span class="display-block">20.0%</span>
                                        </td>
                                        <td width="20%" class="">
                                            <span class="body-span">2.01</span>
                                            <span class="body-span">30.2%</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="20%" class="">
                                            <span class="display-block">
                                                <span>8.4</span>
                                                <span>Alternative Energies</span>
                                            </span>
                                        </td>
                                        <td width="15%" class="">
                                            <span class="body-span icon-up-arrow arrow-nutral"></span>
                                            <span class="body-span">7</span>
                                        </td>
                                        <td width="15%" class="">
                                            <span class="body-span icon-up-arrow arrow-nutral"></span>
                                            <span class="body-span">45.52</span>
                                        </td>
                                        <td width="15%" class="">
                                            <span class="display-block">32.0%</span>
                                        </td>
                                        <td width="15%" class="">
                                            <span class="display-block">20.0%</span>
                                        </td>
                                        <td width="20%" class="">
                                            <span class="body-span">2.01</span>
                                            <span class="body-span">30.2%</span>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table></td>
                        </tr>
                        <tr>
                            <td class="td-leftside" style="padding: 0px;">9.0 Education, Health, and other Community and Social Services</td>
                            <td class="td-rightside" style="padding: 0px !important;">
                                <table width="100%" class="table table-rightside m0 border-none">
                                    <tbody>
                                    <tr>
                                        <td width="20%" class="">
                                            <span class="display-block">
                                                <span>9.1</span>
                                                <span>Education, Health and other Community services</span>
                                            </span>
                                        </td>
                                        <td width="15%" class="">
                                            <span class="body-span icon-up-arrow arrow-up"></span>
                                            <span class="body-span">10</span>
                                        </td>
                                        <td width="15%" class="">
                                            <span class="body-span icon-down-arrow arrow-down"></span>
                                            <span class="body-span">5.71</span>
                                        </td>
                                        <td width="15%" class="">
                                            <span class="display-block">4.0%</span>
                                        </td>
                                        <td width="15%" class="">
                                            <span class="display-block">20.0%</span>
                                        </td>
                                        <td width="20%" class="">
                                            <span class="body-span">1.81</span>
                                            <span class="body-span">4.8%</span>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table></td>
                        </tr>
                        <tr>
                            <td class="td-leftside" style="padding: 0px;">10.0 General Trading</td>
                            <td class="td-rightside" style="padding: 0px !important;">
                                <table width="100%" class="table table-rightside m0 border-none">
                                    <tbody>
                                    <tr>
                                        <td width="20%" class="">
                                            <span class="display-block">
                                                <span>10.1</span>
                                                <span>General Trading (wholesale and Retail, and Repairs</span>
                                            </span>
                                        </td>
                                        <td width="15%" class="">
                                            <span class="body-span icon-up-arrow arrow-up"></span>
                                            <span class="body-span">0</span>
                                        </td>
                                        <td width="15%" class="">
                                            <span class="body-span icon-up-arrow arrow-up"></span>
                                            <span class="body-span">0.00</span>
                                        </td>
                                        <td width="15%" class="">
                                            <span class="display-block">0.0%</span>
                                        </td>
                                        <td width="15%" class="">
                                            <span class="display-block">5.0%</span>
                                        </td>
                                        <td width="20%" class="">
                                            <span class="body-span">0.00</span>
                                            <span class="body-span">0.0%</span>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table></td>
                        </tr>
                        <tr>
                            <td class="td-leftside" style="padding: 0px;">11.0 Real Estate</td>
                            <td class="td-rightside" style="padding: 0px !important;">
                                <table width="100%" class="table table-rightside m0 border-none">
                                    <tbody>
                                    <tr>
                                        <td width="20%" class="">
                                            <span class="display-block">
                                                <span>11.1</span>
                                                <span>Commercial Real Estate Companies</span>
                                            </span>
                                        </td>
                                        <td width="15%" class="">
                                            <span class="body-span icon-up-arrow arrow-nutral"></span>
                                            <span class="body-span">4</span>
                                        </td>
                                        <td width="15%" class="">
                                            <span class="body-span icon-down-arrow arrow-down"></span>
                                            <span class="body-span">7.48</span>
                                        </td>
                                        <td width="15%" class="">
                                            <span class="display-block">5.3%</span>
                                        </td>
                                        <td width="15%" class="">
                                            <span class="display-block">5.0%</span>
                                        </td>
                                        <td width="20%" class="">
                                            <span class="body-span">0.00</span>
                                            <span class="body-span">4.7%</span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td width="20%" class="">
                                            <span class="display-block">
                                                <span>11.2</span>
                                                <span>Residential Real Estate Companies</span>
                                            </span>
                                        </td>
                                        <td width="15%" class="">
                                            <span class="body-span icon-up-arrow arrow-nutral"></span>
                                            <span class="body-span">4</span>
                                        </td>
                                        <td width="15%" class="">
                                            <span class="body-span icon-down-arrow arrow-down"></span>
                                            <span class="body-span">7.48</span>
                                        </td>
                                        <td width="15%" class="">
                                            <span class="display-block">5.3%</span>
                                        </td>
                                        <td width="15%" class="">
                                            <span class="display-block">5.0%</span>
                                        </td>
                                        <td width="20%" class="">
                                            <span class="body-span">2.54</span>
                                            <span class="body-span">4.2%</span>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table></td>
                        </tr>
                        <tr>
                            <td class="td-leftside" style="padding: 0px;">12.0 Telecommunication</td>
                            <td class="td-rightside" style="padding: 0px !important;">
                                <table width="100%" class="table table-rightside m0 border-none">
                                    <tbody>
                                    <tr>
                                        <td width="20%" class="">
                                            <span class="display-block">
                                                <span>12.1</span>
                                                <span>Telecommunication Services and Information Technology</span>
                                            </span>
                                        </td>
                                        <td width="15%" class="">
                                            <span class="body-span icon-up-arrow arrow-nutral"></span>
                                            <span class="body-span">0</span>
                                        </td>
                                        <td width="15%" class="">
                                            <span class="body-span icon-down-arrow arrow-down"></span>
                                            <span class="body-span">0.00</span>
                                        </td>
                                        <td width="15%" class="">
                                            <span class="display-block">0.0%</span>
                                        </td>
                                        <td width="15%" class="">
                                            <span class="display-block">5.0%</span>
                                        </td>
                                        <td width="20%" class="">
                                            <span class="body-span">0.00</span>
                                            <span class="body-span">0.0%</span>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table></td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td class="td-leftside">Total</td>
                            <td class="td-rightside" style="padding: 0px !important;">
                                <table width="100%" class="table table-rightside m0 border-none">
                                    <tbody>
                                    <tr>
                                        <td width="20%" class="">
                                            <span class="display-block"></span>
                                        </td>
                                        <td width="15%" class="">
                                            <span class="body-span icon-up-arrow arrow-up"></span>
                                            <span class="body-span">70</span>
                                        </td>
                                        <td width="15%" class="">
                                            <span class="body-span icon-down-arrow arrow-down"></span>
                                            <span class="body-span">142.28</span>
                                        </td>
                                        <td width="15%" class="">
                                        </td>
                                        <td width="15%" class="">
                                        </td>
                                        <td width="20%" class="">
                                            <span class="body-span">15.29</span>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </td>
                        </tr>
                    </tfoot>
                </table>

            </div>
        </div>
    </div>
</div>








