<h3 class="fixed content-heading">{{'User Access' | translate}}

</h3>

<div id="contentArea" class="content-area animated fadeInRight">

    <div class="content-container clearfix light-blue-bg pl20 pr10 pb28">

        <div class="col-sm-12 mt20 p0">
            <div class="filter-box clearboth pt0 pb5">
                <div class="row clearfix clearboth">
                    <form novalidate name="accessForm" ng-submit="accessForm.$valid && searchAccessResult(s)" >
                        <div class="col-sm-3">
                            <label class="control-label">
                                {{'User' | translate}} * :
                            </label>
                            <div class="form-group clearfix form-group-custom">
                                <select chosen class="form-control" name="user"
                                        ng-init="getUserAllList()"
                                        data-placeholder="Please Select User"
                                        ng-model="s.ids"
                                        ng-options="item.id_user as item.first_name+' '+item.last_name for item in userList"
                                        required>
                                    <option value="">--Select--</option>
                                </select>
                                <div class="has-error"
                                     ng-if="accessForm.$submitted && accessForm.user.$error.required"
                                     style="color: red;font-size: 12px;">Select User
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group clearfix form-group-custom">
                                <label>{{'From' | translate}} :</label>
                                <div class="input-group">
                                    <input type="text" class="form-control white-bg"
                                           uib-datepicker-popup="dd-MM-yyyy"
                                           max-date="maxDate"
                                           data-ng-model="s.fromdate" name="from_date" is-open="openCal1"
                                           my-date
                                           show-weeks="false" show-button-bar="false" required readonly/>
                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-default border"
                                                        ng-click="openCal1 = true">
                                                    <i class="fa fa-calendar"></i>
                                                </button>
                                            </span>
                                </div>

                            </div>
                        </div>
                        <div class="col-sm-3">
                            <div class="form-group clearfix form-group-custom">
                                <label>{{'To' | translate}} :</label>
                                <div class="input-group">
                                    <input type="text" class="form-control white-bg"
                                           uib-datepicker-popup="dd-MM-yyyy"
                                           max-date="maxDate"
                                           data-ng-model="s.todate" name="to_date" is-open="openCal2"
                                           my-date
                                           show-weeks="false" show-button-bar="false" required readonly/>
                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-default border"
                                                        ng-click="openCal2 = true">
                                                    <i class="fa fa-calendar"></i>
                                                </button>
                                            </span>
                                </div>

                            </div>
                        </div>
                        <div class="col-sm-3 pt10 mt15">
                            <button class="btn btn-dark f12" type="submit" >
                                Search
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            <table st-table st-pipe="getAccessList" ng-show="displayResult"
                   class="mt10 table table-striped table-bordered table-hover display table-style">
                <thead>
                <tr>
                    <td colspan="7" class="pad0">

                    </td>
                </tr>
                <tr>
                    <th st-sort="url" style="width: 15%">Origin</th>
                    <th st-sort="event_name" style="width: 20%">Action</th>
                    <th st-sort="ip" style="width: 40%">Access Details</th>
                    <th st-sort="date_time" style="width: 15%">Date</th>
                    <th st-sort="user_agent" class="text-center" style="width: 10%">Action Details</th>
                <tr>
                </thead>
                <tbody>
                <tr ng-if="accessList.length>0" ng-repeat="row in accessList">
                    <td>{{row.data.url|showmodule}}</td>
                    <td>{{row.data.event_name}}</td>
                    <td class=""><span class="display-block text-line" title="{{row.data.ip}} | {{row.data.browser}} | {{row.data.os}}">{{row.data.ip}} | {{row.data.browser}} | {{row.data.os}}</span></td>
                    <td>{{row.keys.date_time|date:'MMM d, y h:mm:ss a'}}</td>
                    <td class="text-center">
                        <a href="javascript:;" class="p-over sky-blue mr8 f16 pop-new"
                           popover-animation="true" tabindex="0" uib-popover-template="'editCategory.html'"
                           popover-class="popover-mainclass"
                           popover-trigger="focus"
                           popover-placement="left-bottom" popover-title="" popover-append-to-body="false"
                           popover-is-open="item.popover" ng-click="item.popover=true;pover=item"
                           class="btn btn-default"><i class="fa fa-sticky-note"></i></a>
                    </td>
                </tr>
                <tr ng-if="accessList.length<=0" class="text-center">
                    <td colspan="6">No data found</td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="6" class="text-center">
                        <div st-items-by-page="20" st-pagination st-template="partials/pagination.custom.html"
                             class="pull-right"></div>
                    </td>
                </tr>
                </tfoot>
            </table>
        </div>
        <script type="text/ng-template" id="editCategory.html">
            <div ng-init="poverOrignal=clone(pover)"></div>
            <div class="col-sm-12 p0 clearfix light-blue-bg">
                <div class="col-sm-12 pr5">
                    <a href="javascript:;" class="pull-right"
                       data-ng-click="pover.popover=false;"><i class="icon-times"></i>
                    </a>
                </div>
                <div class="col-sm-12 p0 popover-mainbody">
                    <!--<div class="col-sm-12 p0 f12">
                        <div><b>Browser details</b>&lt;!&ndash; : {{row.data.user_agent}}&ndash;&gt;</div>
                        <div><b>IP</b> : {{row.data.ip}}</div>
                        <div><b>OS</b> : {{row.data.os}}</div>
                        <div><b>Browser</b> : {{row.data.browser}}</div>
                    </div>-->
                    <div class="col-sm-12 p0 f12" style="word-wrap: break-word;"
                         ng-init="descText=row.data.event_description.length>0?row.data.event_description:' -- '">
                        <div><b>Action details</b> : {{descText}}</div>
                        <div><b>Action URL</b> : {{row.data.url}}</div>
                    </div>
                </div>
            </div>
        </script>
    </div>
</div>