<h3 class="fixed content-heading">{{pageTitle}}</h3>
<div class="content-area " id="contentArea"><!--animated fadeInRight -->
    <div class="content-container p20 clearfix light-blue-bg">
        <div class="col-sm-12 white-bg clearboth p10">
            <div class="right-modal clearfix modal-custom">
                <h3 class="darkcolor bold"> {{pageTitle | capitalize}} </h3>
                <form class="form-bordered" name="auditLogsForm"
                      ng-submit="auditLogsForm.$valid && searchAuditLogsForm(data)"
                      novalidate>
                    <div class="row clearfix">
                        <div class="row clearfix">
                            <div class="col-sm-12 mt15 mb20 clearfix">
                                <div class="col-sm-4">
                                    <div class="form-group clearfix form-group-custom">
                                        <label>{{'Date' | translate}} :</label>
                                        <div class="input-group">
                                            <input type="text" class="form-control white-bg"
                                                   uib-datepicker-popup="dd-MMM-yyyy"
                                                   max-date="maxDate"
                                                   ng-model="data.selected_date"
                                                   name="selected_date"
                                                   is-open="openCal1"
                                                   show-weeks="false" show-button-bar="false" readonly/>
                                            <span class="input-group-btn">
                                                <button type="button" class="btn btn-default border"
                                                        ng-click="openCal1 = true">
                                                    <i class="fa fa-calendar"></i>
                                                </button>
                                            </span>
                                        </div>
                                        <!--<div class="has-error" ng-if="auditLogsForm.$submitted && auditLogsForm.selected_date.$error.required" style="color: red;font-size: 12px;">Select Date</div>-->
                                    </div>
                                </div>
                                <div class="col-lg-4 form-group clearfix form-group-custom">
                                    <label class="control-label">Module *</label>
                                    <select class="form-control"
                                            ng-model="data.module" name="module"
                                            ng-change="getModuleList(data.module)"
                                            required>
                                        <option value="">--Select--</option>
                                        <option value="client">Client</option>
                                        <option value="company">Company</option>
                                        <option value="project">Project</option>
                                        <option value="collateral">Collateral</option>
                                    </select>
                                    <div class="has-error"
                                         ng-if="auditLogsForm.$submitted && auditLogsForm.module.$error.required"
                                         style="color: red;font-size: 12px;">Select module
                                    </div>
                                </div>
                                <div class="col-lg-4 form-group clearfix form-group-custom" ng-show="data.module">
                                    <label class="control-label">{{data.module | capitalize}} list *</label>
                                    <select class="form-control" ng-if="data.module == 'client'"
                                            chosen
                                            ng-model="data.selected_list"
                                            name="selected_list"
                                            ng-change="auditLogsForm.$submitted = false"
                                            ng-options="item.id_crm_contact as item.first_name+' '+item.last_name for item in moduleList"
                                            required>
                                        <option value="">--Select--</option>
                                    </select>
                                    <select class="form-control" ng-if="data.module == 'company'"
                                            chosen
                                            ng-model="data.selected_list"
                                            name="selected_list"
                                            ng-change="auditLogsForm.$submitted = false"
                                            ng-options="item.id_crm_company as item.company_name for item in moduleList"
                                            required>
                                        <option value="">--Select--</option>
                                    </select>
                                    <select class="form-control" ng-if="data.module == 'project'"
                                            chosen
                                            ng-model="data.selected_list"
                                            name="selected_list"
                                            ng-change="auditLogsForm.$submitted = false"
                                            ng-options="item.id_crm_project as item.project_title for item in moduleList"
                                            required>
                                        <option value="">--Select--</option>
                                    </select>
                                    <select class="form-control" ng-if="data.module == 'collateral'"
                                            chosen
                                            ng-model="data.selected_list"
                                            name="selected_list"
                                            ng-change="auditLogsForm.$submitted = false"
                                            ng-options="item.id_collateral as item.collateral_number+' - ('+item.collateral_type_name+')' for item in moduleList"
                                            required>
                                        <option value="">--Select--</option>
                                    </select>
                                    <div class="has-error"
                                         ng-show="auditLogsForm.$submitted && auditLogsForm.selected_list.$error.required"
                                         style="color: red;font-size: 12px;">Select {{data.module | capitalize}}
                                    </div>
                                </div>

                            </div>
                            <div class="col-sm-12 text-center pt10">
                                <button type="submit" class="btn btn-primary btn-dark f12 border-none ng-binding">
                                    Search
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="table-al pt15" ng-if="auditLogsForm.$submitted && auditLogsForm.$valid">
                <table class="table table-striped table-bordered table-hover display table-style">
                    <thead>
                    <tr>
                        <th class="f13 " style="width: 15%">Date</th>
                        <th class="f13 " style="width: 15%">User</th>
                        <th class="f13 " style="width: 50%">Access Details</th>
                        <th class="f13 text-center" style="width: 5%">Data</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="audit in auditList" ng-if="!isLoading && auditList.length > 0">
                        <td class="f12">{{audit.updated_date_time |date:'MMM d, y h:mm:ss a'}}</td>
                        <td class="f12">{{audit.updated_by}}</td>
                        <td class=""><span class="display-block text-line"
                                           title="{{audit.ip}} | {{audit.browser}} | {{audit.os}}">{{audit.ip}} | {{audit.browser}} | {{audit.os}}</span>
                        </td>
                        <!--<td class="f12"  >{{audit.date_time}}</td>-->
                        <td class="f12 text-center">
                            <a href="javascript:;" class="p-over sky-blue mr8 f16" ng-click="opendataModal(audit.data)"><i
                                    class="fa fa-sticky-note"></i></a>
                            <!--<a href="javascript:;" class="pull-right p-over sky-blue mr8 f16 pop-new"
                               popover-class="popover-mainclass"
                               popover-animation="true" tabindex="0" uib-popover-template="'datapopover.html'"
                               popover-placement="left" popover-title="" popover-append-to-body="false"
                               popover-trigger="focus"
                               popover-is-open="item.popover1" ng-click="item.popover1=true;pover=item"
                               class="btn btn-default"><i class="fa fa-sticky-note"></i></a>-->

                        </td>
                    </tr>
                    <tr ng-if="!isLoading && auditList.length<=0" class="text-center">
                        <td colspan="6">No logs found</td>
                    </tr>
                    <tr ng-if="isLoading && auditList.length<=0" class="text-center">
                        <td colspan="6">Loading...</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!--width1024-->
        <script type="text/ng-template" id="datapopover.html">
            <div ng-init="poverOrignal=clone(pover)"></div>
            <div class="col-sm-12 p0 clearfix light-blue-bg">
                <div class="col-sm-12 pr5">
                    <a href="javascript:;" class="pull-right"
                       data-ng-click="pover.popover1=false;"><i class="icon-times"></i>
                    </a>
                </div>
                <div class="col-sm-12 p0 popover-mainbody">
                    <div class="col-sm-12 p0 f12">
                        <!--<div><b>Data </b> : {{audit.data}}</div>-->
                        <!--<div ng-repeat="(key, value)  in audit.data"><b>{{key}}</b> : {{value}}</div>-->
                        <table>
                            <tbody>
                            <tr ng-repeat="(key, value)  in audit.data">
                                <td>{{key}}</td>
                                <td>{{value | checkEmpty}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </script>
    </div>
    <script type="text/ng-template" id="audit-data-modal.html">
        <div class="right-modal modal-custom">
            <h3 class="right-modal-head clearfix">
                <div class="col-sm-6 p-l-0 mt5"> Audit Data</div>
                <a ng-click="cancel()" class="close-right pull-right mt5" uib-tooltip="Close"
                   n-t='{"e_n":"Close Audit modal","e_d":""}'><img src="images/close.png"></a>
            </h3>
            <div class="container p0">
                <div class="col-sm-12 p0">
                    <div class="p0 p-data col-lg-12">
                        <div class="white-bg clearfix">
                            <div class="col-sm-12 white-bg p0 ptb10">
                                <div class="facility-setup-form fac-form  clearfix">
                                    <div class="clearboth clearfix racc-open" id="pricing">
                                        <div class="col-sm-12 clearfix p0">
                                            <div class="col-sm-12">
                                                <table class="table table-view table-customise">
                                                    <tbody>
                                                    <tr ng-repeat="(key, value)  in auditData">
                                                        <td class="f12" style="width: 15%;">{{key | underscorelesslowercase}}</td>
                                                        <td class="f12" style="width: 85%;">
                                                            <convert-json object-data="{{value}}"></convert-json>
                                                        </td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </script>

</div>