<h3 class="fixed content-heading">{{'Sector Limit' | translate}}

</h3>
<div class="content-area animated fadeInRight" id="contentArea">
    <div class="content-container clearfix">
        <div class=" col-lg-12 col-sm-12 plr20 mb20 mt10">
            <div class="col-sm-12 mt20 p0">
                <h4 class="darkcolor f14 text-capitalize fontBold mb5">Sectors / Sub-sectors</h4>
                <div class="col-sm-12 sectors-limit p0">
                    <table class="table">
                        <thead>
                        <tr>
                            <th>Sectors({{sectorCount}})<span class="red ml15">{{totalPercentage}} %</span></th>
                            <th>Sub-Sectors ({{subSectorCount}})<a href="javascript:;" class="red ml15"></a>
                                <a href="javascript:;" class="add-plus-icon" ng-click="openSectorLimitModal()"
                                   uib-tooltip="Add"
                                   n-t="{'e_n':'Open Sector modal';'e_d':'Sector'}"><i
                                        class="fa fa-plus"></i></a>
                            </th>
                        </tr>
                        </thead>
                        <tbody ng-if="sectorLimitList.length>0">
                        <tr ng-repeat="sector in parentSector">
                            <td>
                                <p><span>{{sector.sector_name}}</span>
                                    <input type="text" class="form-control" ng-model="sector.limit_value" max="100" ui-number-mask> %
                                    <a href="javascript:;"  uib-tooltip="Delete" class="sky-blue" ng-click="deleteSelectorLimit(sector.id_sector_limit)" uib-tooltip="Delete"><i class="icon-trash"
                                        n-t="{'e_n':'Delete Sector';'e_d':'{{sector.sector_name}}'}"></i></a>
                                </p>
                            </td>
                            <td>
                                <p ng-repeat="subSector in sector.subSector">
                                    {{subSector.sector_name}}
                                        <span>
                                            <input type="text" class="form-control" max="100" ui-number-mask ng-model="subSector.limit_value"> %
                                        </span>
                                </p>

                            </td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <td colspan="2">
                                <button type="button" class="btn btn-primary btn-dark f14" ng-disabled="disabledBtn" ng-click="saveLimit()"
                                    n-t="{'e_n':'Save Sector';'e_d':'Save sector limit'}">Save</button>
                            </td>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/ng-template" id="sector-limit-modal.html">
    <div class="right-modal clearfix modal-custom">
        <h3 class=" text-capitalize white-color p15 btn-dark">Sector
            <a ng-click="cancel()" class="close-right pull-right white-color"
               n-t='{"e_n":"Sector Close modal","e_d":""}'>
                <i class="fa fa-close"></i>
            </a>
        </h3>
        <form name="form" novalidate>
            <div class="col-sm-12 white-bg ptb10">
                <div class="col-sm-12">
                    <div class="form-group form-group-custom">
                        <label class="display-block">Main Sector</label>
                        <select class="form-control chosen-choices"
                                ng-init="getMainSector()"
                                multiple
                                chosen
                                name="sector_ids"
                                ng-model="sector_ids"
                                data-placeholder="Select Sector"
                                ng-options="item.id_sector as item.sector_name disable when checkSectorDropdown(item) for item in sectorsList"
                                required>
                        </select>
                        <div ng-if="form.sector_ids.$error.required && form.$submitted" class="error-message">
                            This field is required
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 p10">
                <div class="text-center">
                    <button type="submit"
                            n-t='{"e_n":"Save","e_d":"", "form": "{{form.$valid}}"}'
                            ng-click="form.$valid && saveSector(sector_ids)" class="btn btn-sm btn-dark">
                        Save
                    </button>
                    <button type="button" class="btn  light-btn" ng-click="cancel()"
                            n-t='{"e_n":"Cancel modal","e_d":""}'>Cancel
                    </button>
                </div>
            </div>
        </form>
    </div>
</script>