<h3 class="fixed content-heading"> {{'Covenants' | translate}}
    <ul class="pull-right icons-right">
        <li><a href="javascript:;" ng-click="covenantModalOpen()" uib-tooltip="Add"
           n-t='{"e_n":"Add covenant - Admin","e_d":""}'><i
                class="icon-plus-circle"></i></a></li>
    </ul>
</h3>

<div id="contentArea" class="content-area animated fadeInRight">
    <div class="content-container clearfix light-blue-bg p20 mb20">
        <div class="col-lg-12 p0 clearfix">
            <div class="col-lg-9 col-md-9 col-sm-8 p0">
                <div class="table-wrapper no-bg pt0 pl0">
                    <table st-table st-pipe="getCovenantList" class="table-list-view p-table table mb0 c-table-view table-striped row-pointer">
                        <thead>
                        <tr>
                            <td colspan="7" class="pad0 border-none">
                                <div class="action-head">
                                    <div class="table-search pull-left">
                                        <input type="text" class="form-control" placeholder="Name"
                                               st-search="search_key">
                                        <i class="fa icon-search"></i>
                                    </div>

                                    <div class="filter-box clearboth">
                                        <div class="row clearfix clearboth">
                                            <div class="col-sm-4">

                                                <label class="control-label">
                                                    {{'Category Type' | translate}}
                                                </label>
                                                <div class="form-group clearfix form-group-custom">
                                                    <select class="form-control chosen-select"
                                                            chosen
                                                            st-search="category_id"
                                                            st-input-event="change"
                                                            ng-init="masterDropDownList({'master_key':'covenant_categories'})"
                                                            ng-model="category_id" name="category_id"
                                                            ng-options="item.id as item.name for item in dropDownItems['covenant_categories'] track by item.id"
                                                    >
                                                        <option value="">--All--</option>
                                                    </select>
                                                    <div ng-if='form.category.$error.required && form.$submitted'
                                                         class="error-message">{{'This field is required'|translate}}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-4 pr0">
                                                <label class="control-label">{{'Covenant Type' | translate}}</label>

                                                <div class="form-group clearfix form-group-custom">
                                                    <select class="form-control chosen-select"
                                                            chosen
                                                            st-search="covenant_type_id"
                                                            st-input-event="change"
                                                            ng-init="masterDropDownList({'master_key':'covenant_types'})"
                                                            ng-model="covenant_type_id" name="covenant_type_id"
                                                            ng-options="item.id as item.name for item in dropDownItems['covenant_types']"
                                                    >
                                                        <option value="">--All--</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <label class="control-label">
                                                    {{'Frequency' | translate}}
                                                </label>
                                                <div class="form-group clearfix form-group-custom">
                                                    <select class="form-control chosen-select"
                                                            chosen
                                                            st-search="frequency_id"
                                                            st-input-event="change"
                                                            ng-init="masterDropDownList({'master_key':'covenant_frequency'})"
                                                            ng-model="frequency_id" name="frequency_id"
                                                            ng-options="item.id as item.name for item in dropDownItems['covenant_frequency'] track by item.id"
                                                    >
                                                        <option value="">--All--</option>
                                                    </select>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="c in covenantList">
                            <td>
                                <div class="col-lg-12 col-sm-12 p0 border-bottom">
                                    <h3 class="col-sm-10 sky-blue f14">{{c.covenant_name}}</h3>
                                    <div class="col-sm-2 text-right">
                                        <div class="display-inline-block pull-right custom-list">
                                            <a class="menu-toggle f13 dark-sky-blue dropdown-toggle" data-toggle="dropdown" href="javascript:;" aria-expanded="false"><i class="fa fa-ellipsis-v"></i>
                                            </a>
                                            <ul class="dropdown-menu cust-dropdown">
                                                <li>
                                                    <a href="javascript:;" class="f14 darkcolor" ng-click="covenantModalOpen(c.id_covenant)"
                                                       n-t='{"e_n":"Edit covenant - Admin","e_d":"{{c.covenant_name}}"}'><i class="icon-edit"></i>Edit</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:;" class="f14 darkcolor" ng-click="deleteCovenant(c.id_covenant)"
                                                       uib-tooltip="Delete"
                                                       n-t='{"e_n":"Delete covenant - Admin","e_d":"{{c.covenant_name}}"}'><i class="icon-trash"></i>Delete</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12 p0 pt5">
                                    <div class="col-sm-6 border-right">
                                        <label class="label-text display-block">Type</label>
                                        <label class="bold">{{c.covenant_type}}</label>
                                    </div>
                                    <div class="col-sm-4 border-right">
                                        <label class="label-text display-block">Sectors</label>
                                        <label class="bold">{{c.sector_name}}</label>
                                    </div>
                                    <div class="col-sm-2">
                                        <div class="col-sm-10 p0">
                                            <label class="label-text display-block">Created</label>
                                            <label class="bold">{{c.created_date_time | utcToLocal:'date'}}</label>
                                        </div>
                                        <div class="col-sm-2 p0 text-right mt8">
                                            <a href="#" class="sky-blue f16"><i class="icon-info"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <td colspan="5" class="text-center">
                                <div st-items-by-page="20" st-pagination st-template="partials/pagination.custom.html" class="pull-right"></div>
                            </td>
                        </tr>
                        </tfoot>
                    </table>

                </div>


            </div>
            <div class="col-lg-3 col-md-3 col-sm-4 p0 pt2">
                <div class="col-sm-12 p0 white-bg">
                    <h3 class="darkcolor fontBold p7  border">Covenants Types</h3>
                    <div class="table-responsive  border">
                        <table class="table c-table table-hover table-style mb0">
                            <thead>
                            <tr>
                                <th>Covenant Name</th>
                                <th>Total</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="cursor-pointer" n-t='{"e_n":"Covenant filter Admin","e_d":"{{ct.child_name}}"}' ng-repeat="ct in covenantTypeList" ng-click="clickCovenant(ct.covenant_type_id)">
                                <td><span class="darkcolor">{{ct.child_name}}</span></td>
                                <td>
                                    <button type="button" class="btn btn-sm light-btn border-radius15">
                                        {{ct.covenants}}
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>


<script type="text/ng-template" id="addCovenantModel.html">

    <div class="modal-wrap right-modal modal-custom">
        <div class="clearfix">
            <h3 class="right-modal-head">
                <i class="fa fa-plus-circle"></i> {{'Add New Facility' | translate}}
                <a ng-click="cancel()" class="close-right pull-right" uib-tooltip="Close"><img src="images/close.png"></a>
            </h3>

        </div>
        <div class="modal-body clearfix">
            <form name="form" ng-submit="form.$valid && ftSubmit(facility)" novalidate>

                <div class="col-sm-12 p0">
                    <div class="form-group clearfix form-group-custom mb10">
                        <div class="col-sm-12"><label class="control-label"> {{'Facility Name' |
                            translate}} * : </label></div>
                        <div class="col-sm-12">
                            <input type="text" name="facility_name" ng-model="facility.facility_name"
                                   class="form-control" required>
                            <div ng-if="form.facility_name.$error.required && form.$submitted" class="error-message">
                                {{'This field is required'| translate}}
                            </div>
                        </div>
                    </div>
                </div>
                <!--<div class="col-sm-12 p0">
                    <div class="form-group clearfix form-group-custom mb10">
                        <div class="col-sm-12">
                            <label class="control-label">
                                {{'Facility Type' | translate}} *:
                            </label>
                        </div>
                        <div class="col-sm-12">
                            <select class="form-control" name="facility_type" ng-model="facility.facility_type" required>
                                <option value="term_loan">Term Loan</option>
                                <option value="demand_draft">Demand Draft</option>
                            </select>
                            <div ng-if="form.facility_type.$error.required && form.$submitted" class="error-message">
                                {{'This field is required'| translate}}
                            </div>
                        </div>

                    </div>
                </div>-->
                <div class="col-sm-12 p0">
                    <div class="form-group clearfix form-group-custom mb10">
                        <div class="col-sm-12">
                            <label class="control-label">
                                {{'Facility description' | translate}} * :
                            </label>
                        </div>
                        <div class="col-sm-12">
                            <textarea name="facility_description" ng-model="facility.facility_description" class="form-control" required></textarea>
                            <div ng-if="form.facility_description.$error.required && form.$submitted" class="error-message">
                                {{'This field is required'| translate}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 text-center mt10">
                    <button class="blue-btn">
                        {{'Create' | translate}}
                    </button>
                    <button class="light-btn" type="button" ng-click="cancel()">
                        {{'Cancel' | translate}}
                    </button>
                </div>
            </form>

        </div>
    </div>
</script>