<div class="modal-wrap right-modal modal-custom">
    <div class="clearfix">
        <h3 class="right-modal-head">
            <i class="fa fa-plus-circle"></i> {{actionName}} {{'Covenant' | translate}}
            <a ng-click="cancel()" class="close-right pull-right" uib-tooltip="Close"
               n-t='{"e_n":"Cancel {{actionName}} Covenant Admin","e_d":""}'><img src="images/close.png"></a>
        </h3>

    </div>
    <div class="modal-body clearfix">
        <form name="form" novalidate ng-submit="form.$valid && submitCovenant(covenant,form)">
            <div class="col-sm-8">
                <div class="col-sm-12 p0">
                    <div class="form-group clearfix form-group-custom mb10">
                        <label class="darkcolor"> {{'Covenant Name' |translate}} * :</label>
                        <input type="text" ng-model="covenant.covenant_name" name="covenant_name" class="form-control" required>
                        <div ng-if='form.covenant_name.$error.required && form.$submitted'
                             class="error-message">{{'This field is required'|translate}}
                        </div>
                    </div>
                   <!-- <div class="col-sm-12 p0">
                        <div class="form-group clearfix form-group-custom mb10">
                            <label class="darkcolor"><input type="checkbox" ng-model="all_sectors" name="all_sectors">
                                {{'All Sectors' | translate}} :
                            </label>
                        </div>
                    </div>ng-show="!all_sectors"-->
                    <div class="col-sm-12 p0" >
                        <div class="form-group clearfix form-group-custom mb10">
                            <label class="darkcolor">
                                {{'Covenant Sectors' | translate}} * :
                            </label>
                            <select multiple chosen class="chosen-select" name="sector"
                                    ng-init="getSectorAllList()"
                                    data-placeholder="Please select sector"
                                    ng-model="covenant.sector"
                                    ng-options="option.id_sector as option.sector_name for option in sectorsAllList" required>

                            </select>
                            <div ng-if='form.sector.$error.required && form.$submitted'
                                 class="error-message">{{'This field is required'|translate}}
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 p0">
                        <div class="form-group clearfix form-group-custom mb10">
                            <label class="darkcolor">
                                {{'Tags' | translate}} * :
                            </label>
                            <span class="ml5 f12 darkcolor">(To add multiple tags separated with comma)</span>
                            <div class="width-full">
                                <tags-input ng-model="covenant_tags" name="covenant_tags" placeholder="Add Tags" required></tags-input>
                            </div>
                            <div ng-if='(covenant_tags.length ==0 || !covenant_tags) && form.$submitted'
                                 class="error-message">{{'This field is required'|translate}}
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 p0">
                        <div class="form-group clearfix form-group-custom mb10">
                            <label class=" darkcolor">
                                {{'Category Type' | translate}} * :
                            </label>
                            <select class="form-control chosen-select"
                                    multiple chosen
                                    ng-init="masterDropDownList({'master_key':'covenant_categories'})"
                                    placeholder="Select category type"
                                    ng-model="covenant.category" name="category"
                                    ng-options="item.id as item.name for item in dropDownItems['covenant_categories']"
                                    required>
                            </select>
                            <div ng-if='form.category.$error.required && form.$submitted'
                                 class="error-message">{{'This field is required'|translate}}
                            </div>
                        </div>
                    </div>
                    <div class="row"></div>
                    <div class="col-sm-4 pl0">
                        <div class="form-group clearfix form-group-custom mb10">
                            <label class=" darkcolor">
                                {{'Covenant Type' | translate}} * :
                            </label>
                            <select class="form-control chosen-select"
                                    chosen
                                    ng-init="masterDropDownList({'master_key':'covenant_types'})"
                                    ng-model="covenant.covenant_type_id" name="covenant_type_id"
                                    ng-options="item.id as item.name for item in dropDownItems['covenant_types']"
                                    required>
                                <option value="">--Select--</option>
                            </select>
                            <div ng-if='form.covenant_type_id.$error.required && form.$submitted'
                                 class="error-message">{{'This field is required'|translate}}
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 pl0 pt5">
                        <div class="form-group clearfix form-group-custom" ng-init="covenant.covenant_mandatory=(covenant.covenant_mandatory)?covenant.covenant_mandatory:1">
                            <label class=" display-block darkcolor">Mandatory * :</label>
                            <div class="radio display-inline-block mr15 mt5">
                                <label class="f12">
                                    <input type="radio" ng-value="1" ng-model="covenant.covenant_mandatory" name="covenant_mandatory">
                                    Yes</label>
                            </div>
                            <div class="radio display-inline-block mr15">
                                <label class="f12">
                                    <input type="radio" ng-value="0" ng-model="covenant.covenant_mandatory" name="covenant_mandatory">
                                    No
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="row"></div>
                    <div class="col-sm-4 pl0">
                        <div class="form-group clearfix form-group-custom mb10">
                            <label class="darkcolor">
                                {{'Frequency' | translate}} * :
                            </label>
                            <select class="form-control chosen-select"
                                    chosen
                                    ng-init="masterDropDownList({'master_key':'covenant_frequency'})"
                                    ng-model="covenant.frequency_id" name="frequency_id"
                                    ng-options="item.id as item.name for item in dropDownItems['covenant_frequency']"
                                    required>
                                <option value="">--Select--</option>
                            </select>
                            <div ng-if='form.frequency_id.$error.required && form.$submitted'
                                 class="error-message">{{'This field is required'|translate}}
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 pl0">
                        <div class="form-group col-sm-8 p0 clearfix form-group-custom">
                            <label class=" darkcolor">Notice Period * :</label>
                            <input type="text" ng-model="covenant.notice_days" name="notice_days" class="form-control" maxlength="3" ui-number-mask="0">
                        </div>
                        <div class="col-sm-4 mt20 pt5 pl5"><span class="f12 darkcolor">days</span></div>

                    </div>
                    <div class="col-sm-4 pl0">
                        <div class="form-group col-sm-8 p0 clearfix form-group-custom">
                            <label class=" darkcolor">Grace Days * :</label>
                            <input type="text" class="form-control" name="grace_days" ng-model="covenant.grace_days" maxlength="3" ui-number-mask="0">
                        </div>
                        <div class="col-sm-4 mt20 pt5 pl5"><span class="f12 darkcolor">days</span></div>

                    </div>
                    <div class="row"></div>
                    <!--<div class="col-sm-12 p0">
                        <div class="form-group clearfix form-group-custom mb10">
                            <label class="darkcolor">
                                {{'Remarks' | translate}} :
                            </label>
                            <textarea name="facility_description" class="form-control" placeholder="write remarks"></textarea>
                        </div>
                    </div>-->
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group clearfix form-group-custom mb10">
                    <label class=" darkcolor">
                        {{'Description' | translate}} :
                    </label>
                    <textarea ng-model="covenant.covenant_description" name="covenant_description" class="form-control" placeholder="write covenant description here" rows="18" style="height: auto !important;"></textarea>
                </div>
            </div>
            <div class="col-sm-12 text-center mt10">
                <button class="blue-btn"
                    n-t='{"e_n":"{{actionName}} Covenant Admin","e_d":""}'>
                    {{actionName}}
                </button>
                <button class="light-btn" type="button" ng-click="cancel()"
                    n-t='{"e_n":"Cancel {{actionName}} Covenant Admin","e_d":""}'>
                    {{'Cancel' | translate}}
                </button>
            </div>
        </form>

    </div>
</div>
