<h3 class="fixed content-heading">

    <ul class="breadcrumb">
        <li><a ui-sref="company.company-dashboard" n-t='{"e_n":"Back to company list","e_d":"Section Name - {{sectionName}}, Form Name - {{formName}}, Company - {{companyInfo.company_name}}"}'>{{'Company' | translate}}</a> </li>
        <li><a ui-sref="company.company-creation({id:(currentCompanyViewId | encode )})" n-t='{"e_n":"Back to company details","e_d":"Section Name - {{sectionName}}, Form Name - {{formName}}, Company - {{companyInfo.company_name}}"}'>{{companyInfo.company_name}}</a></li>
        <li>{{sectionName}}</li>
    </ul>
    <div class="pull-right button-set">
        <a ui-sref="company.company-creation({id:(currentCompanyViewId | encode )})" uib-tooltip="Back"
           n-t='{"e_n":"Back to company list","e_d":"Section Name - {{sectionName}}, Form Name - {{formName}}, Company - {{companyInfo.company_name}}"}'><i
                class="fa fa-close-sm"></i></a>
    </div>
</h3>

<div class="col-sm-12 fixed clearfix  z1 fixed-top full-fixed-top" ng-class="{visible:boolChangeClass}" fixed-top>
    <div class="clearfix relative details-fixed-top no-bg border-none pad0">
        <div class="col-sm-12 clearfix p0">
            <div class="page-header-wrap mt0 box-shadow white-bg clearfix">
                <div  ng-include="'partials/crm/company/company-header.html'"></div>
            </div>
        </div>
    </div>
</div>


<div class="content-area animated fadeInRight" id="contentArea">

    <div class="content-container clearfix">
        <div class="col-sm-12 p0">
            <div class="page-header-wrap white-bg box-shadow clearfix relative mb15">
                <div  ng-include="'partials/crm/company/company-header.html'" ng-init="getCompanyInfo()"></div>
            </div>
        </div>
        <div class="col-sm-12 plr20 mb20 ">
            <div class="col-lg-9 col-sm-8 pl0">
                <div class="div-header clearfix  border-bottom white-bg" >
                    <h3 class="darkcolor display-inline-block f14 roboto-bold text-capitalize p15">{{formName}}</h3>
                    <div class="pull-right cust-pagination mt10 mb0 mr10">
                        <ul>
                            <li ng-show="prevBtnShow">
                                <a href="javascript:;" ng-click="prevForm()"
                                   n-t='{"e_n":"View Company - {{sectionName}} - {{formName}}","e_d":"Company - {{companyInfo.company_name}}"}'><i class="icon-angle-left"></i> </a>
                            </li>
                            <li ng-show="nextBtnShow">
                                <a href="javascript:;" ng-click="nextForm()"
                                   n-t='{"e_n":"View Company - {{sectionName}} - {{formName}}","e_d":"Company - {{companyInfo.company_name}}"}'><i class="icon-angle-right"></i> </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="white-bg">
                    <div class="col-sm-12 white-bg p0">
                        <div class="pb10 clearfix mb5 p15" ng-if="template != null" ng-show="permission[form_key+'_view']">
                           <!-- <h4 class="dark-blue f15 mb5">{{formName}}</h4>-->
                            <div class="col-sm-12" ng-include="'partials/crm/company/forms/'+template" ></div>
                        </div>
                    </div>
                    <div class="pb10 clearfix mb5 p15"  ng-show="!permission[form_key+'_view']">
                        <h4 class="dark-blue mb10 bold f15">{{formName}}</h4>
                        <div class="col-sm-12 mt5">
                            <h3>{{'company.company_permission_denied' | translate}}</h3>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-4 pl0 pr0">
                <div class="white-bg">
                    <div class="tabs-wrap" win-height>
                        <uib-tabset justified="true">
                        <uib-tab heading="{{'Intelligence' | translate}}">

                            <div  >
                                <div ng-if="companyInfo.sector_id" ng-init="getIntelligenceDetails()">
                                <ul>
                                    <li class="people-wrap clearfix" ng-repeat="data in knowledgeDetails">
                                        <a class="display-block" href="javascript:;" target="_blank"
                                           ui-sref="company.business-assessment({id:(data.id_crm_company | encode )})"
                                           n-t='{"e_n":"Company - {{data.company_name}} - {{sectionName}} - {{formName}}","e_d":"Company - {{companyInfo.company_name}}"}'>
                                            <div class="pull-left p5 img-wrap">
                                                <span first-alpha="{{data.company_name}}"></span>
                                            </div>
                                            <div class="p5">
                                                <p class="darkcolor f12">{{data.company_name}}</p>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                                </div>
                                <div class="no-knowledgedata-view" ng-show="knowledgeDetails=='' || knowledgeDetails==null ">No intelligence data available on this topic. <div class="text-center"><!--<a class="btn lt-bg btn-primary f14 border-none display-inline-block mt10">Ask for Help</a>--></div></div>
                            </div>
                        </uib-tab>
                        <uib-tab heading="{{'Knowledge' | translate}}">
                            <div >
                                <div class="people-wrap clearfix" ng-repeat="data in knowledgeData" ng-click="modalOpen(data)">
                                    <a ui-sref="knowledge-management.item-view({ id: data.id_knowledge_document})"  target="_blank" class="display-block"
                                       n-t='{"e_n":"knowledge management - {{data.document_title}} - {{sectionName}} - {{formName}}","e_d":"Company - {{companyInfo.company_name}}"}'>
                                    <div class="pull-left p5 k-img" knowledge-icons data-image="{{data.document_type}}" ></div>
                                    <div class="pl100 p5">
                                        <p class="darkcolor mb3 f14 text-line text-capitalize" title="{{data.document_title}}">{{data.document_title}} </p>
                                        <p class="f12 mb3 text-line" title="{{data.document_description}}" data-ng-bind-html="data.document_description | ellipsis:50"></p>
                                        <p class="sky-blue f14"><i class="fa fa-eye f18 mr4 darkcolor valign-top display-inline-block"></i> {{'company.company_no_of_views' | translate}}  <span class="darkcolor ml5 bold">{{data.number_of_views}}</span></p>
                                    </div>
                                    </a>
                                </div>

                            <div class="no-knowledgedata-view" ng-show="knowledgeData == '' || knowledgeData ==null">{{'company.company_no_knowledge_base_available_on_this_topic' | translate}} <div  ui-sref="knowledge-management.knowledge-dashboard" class="text-center"><a class="btn lt-bg btn-primary f14 border-none display-inline-block mt10">{{'contact.contact_click_to_add' | translate}}</a></div></div>
                            </div>
                        </uib-tab>

                        <uib-tab heading="{{'People' | translate}}">
                            <div >
                                <div class="people-wrap clearfix" ng-repeat="row in peopleDetails">
                                    <div class="peopleImgWrap">
                                        <img ng-src="{{row.profile_image || 'images/default-img.png'}}"/>
                                    </div>
                                    <div class="peopleDetails-wrap">
                                        <p class="peopleName darkcolor f12 mb0">{{row.username}}</p>
                                        <p class="peopleDesig darkcolor mb0" title="{{row.approval_name}} ({{row.branch_name}})">{{row.approval_name}} ({{row.branch_name}})</p>
                                        <p class="peopleDesig sky-blue mb0">{{row.email_id}}</p>
                                        <p class="peopleDesig gray">{{row.phone_number}}</p>
                                    </div>
                                    <!--<div class="peopleDetails-wrap">

                                    </div>-->
                                </div>

                            <div  class="no-knowledgedata-view" ng-show="peopleDetails == null || peopleDetails == ''">{{'contact.contact_no_contacts_available_on_this_topic' | translate}}<div class="text-center"><!--<a class="btn lt-bg btn-primary f14 border-none display-inline-block mt10">Click to Add</a>--></div></div>
                            </div>
                        </uib-tab>
                    </uib-tabset>
                </div>


            </div>
        </div>
        </div>
    </div>
</div>
<script type="text/ng-template" id="knowledge-details.html">
    <div class="modal-wrap right-modal modal-custom">
        <div class="clearfix">
            <h3 class="right-modal-head">
                <i class="fa fa-sitemap mr8"></i>{{knowledgeData.document_title}}
                <a uib-tooltip="Close" ng-click="cancel()" class="close-right pull-right" n-t='{"e_n":"Cancel knowledge management","e_d":"Company - {{companyInfo.company_name}}"}'><img src="images/close.png"></a>
            </h3>
        </div>
        <div class="modal-body clearfix">

            <!--<div class="col-sm-12">
                <div class="form-group clearfix form-group-custom mb10">
                    <div class="col-sm-2"><label class="control-label">Title:</label></div>
                    <div class="col-sm-8">
                        {{knowledgeData.document_title}}
                    </div>
                </div>
            </div>-->
            <div class="col-sm-12 p0">
                <div class="form-group clearfix form-group-custom mb10">
                    <!--<div class="col-sm-2"><label class="control-label">Description:</label></div>-->
                    <div class="col-sm-12 p0 f14" data-ng-bind-html="knowledgeData.document_description"></div>
                </div>
            </div>
            <div class="col-sm-12 p0" ng-if="knowledgeData.document_type == 'document'">
                <div class="form-group clearfix form-group-custom mb10">
                    <div class="col-sm-2"><label class="f13 ash">File:</label></div>
                    <div class="col-sm-8 p0">
                        <div class="btn-custom mt10">
                            <a href="{{knowledgeData.document_source}}" download class="f14 sky-blue" target="_blank"
                               n-t='{"e_n":"Company - {{sectionName}} Download {{formName}}","e_d":"Company - {{companyInfo.company_name}}"}'>{{'Download' | translate}}</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 p0" ng-if="knowledgeData.document_type == 'video'">
                <div class="form-group clearfix form-group-custom mb10">
                    <!--<div class="col-sm-2"><label class="control-label">Video:</label></div>-->
                    <div class="col-sm-12 p0" add-iframe data-iframesrc="{{knowledgeData.document_source}}">
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>
