<h3 class="fixed content-heading" ng-init="init()">
    <ul class="breadcrumb">
        <li><a ui-sref="company.company-dashboard">{{'Company' | translate}}</a> </li>
        <li>{{companyInfo.company_name}}</li>
    </ul>
    <div class="pull-right button-set">
        <!--   <a uib-tooltip="Touchpoints" modal="touchpoints" ng-click="touchpointsModal()"><i class="fa fa-touchpoint"></i>
           </a>-->
        <!--   <a ng-if="permission.attachements_view" ng-click="quickAttachmentModal()" modal="attachment"
              uib-tooltip="Attachments"
              n-t='{"e_n":"Attachement","e_d":""}'><i
                   class="fa fa-paperclip"></i>
           </a>
           <a ng-if="permission.contacts_view" uib-tooltip="Contacts" modal="addedcontacts"
              n-t='{"e_n":"Add Contact modal","e_d":""}'
              ng-click="AddedContactsModal()"><i class="fa fa-book"></i>
           </a>
           <a uib-tooltip="Tasks"
              n-t='{"e_n":"Add Task","e_d":""}' task
              ng-click="addTasksModal({'module_type':'company','module_id':currentCompanyViewId,'module_reference_type':'company','module_reference_id':currentCompanyViewId})"><i
                   class="fa fa-tasks"></i>
           </a>-->
        <!--<a uib-tooltip="Edit" ui-sref="company.company-creation({id:(currentCompanyViewId | encode )})"><i class="fa fa-pencil"></i></a>-->
        <a uib-tooltip="Back" ui-sref="company.company-dashboard"
           n-t='{"e_n":"Back to Company list","e_d":"Company - {{companyInfo.company_name}}"}'>
            <i class="fa fa-close-sm"></i></a>
    </div>
</h3>

<div id="contentArea" class="content-area animated fadeInRight">
    <div class="content-container common-margin-container clearfix light-blue-bg relative"
         data-ng-init="isEdit = false">
        <div class="col-sm-8 pl0 col-lg-8 pr50">
            <div class="page-header-wrap m0 mb0 min-height-auto box-shadow white-bg clearfix">
                <div ng-include="'partials/crm/company/company-header.html'" ng-init="getCompanyInfo()"></div>
            </div>

            <div class="page-view-wrap clearfix">
                <div class="col-sm-12 p0 pb15">
                    <div class="border-pattern clearfix">
                    </div>
                    <div class="list-view-str">
                        <ul>
                            <li ng-init="sectionIndex=$index" ng-repeat="section in companyForms ">

                                <div class="list-str">
                                    <h4 class="f14 bold text-capitalize dark-blue pt10 pb10">
                                        {{section.section_name}}</h4>
                                    <!--<div class="list-data white-bg p10" ng-repeat="form in section.form" ng-click="goToEditCtrl('keyData',form.id_form,form.form_template)">-->
                                    <any ng-repeat="form in section.form | filter:searchText">
                                        <div class="list-data white-bg p10"
                                             ng-if="permission[form.form_key+'_view']"
                                             ng-click="goToEditCtrl({'tag':form.form_name,'sectionName':section.section_name,'sectionKey':section.section_key,'formId':form.id_form,'template':form.form_template,'form_key':form.form_key})"
                                             n-t='{"e_n":"Company {{form.form_name}}","e_d":"Company - {{companyInfo.company_name}}"}'>

                                            <div class="list-img pull-left dark-blue"
                                                 ng-class="(form.status==1)?'box-active':''">
                                                <i class="fa {{form.form_class}} "></i>
                                            </div>
                                            <div ng-if="sectionIndex==0 && $index==0"
                                                 ng-init="loadTemplate(form, section.id_section)"></div>
                                            <div class="list-text overflow-hidden">
                                                <h5 class="f14 darkcolor">{{form.form_name}}</h5>
                                                <span class="f11 ash text-line display-block">{{form.updated_by}} - {{form.updated_date_time | utcToLocal:'date'}}</span>
                                            </div>
                                        </div>
                                        <div class="list-data white-bg p10 disabled"
                                             ng-if="!permission[form.form_key+'_view']">

                                            <div class="list-img pull-left dark-blue"
                                                 ng-class="(form.status==1)?'box-active':''">
                                                <i class="fa {{form.form_class}} "></i>
                                            </div>
                                            <div ng-if="sectionIndex==0 && $index==0"
                                                 ng-init="loadTemplate(form, section.id_section)"></div>
                                            <div class="list-text overflow-hidden">
                                                <h5 class="f14 darkcolor">{{form.form_name}}</h5>
                                                <span class="f11 ash text-line display-block">{{form.updated_by}} - {{form.updated_date_time | utcToLocal:'date'}}</span>


                                            </div>
                                        </div>
                                    </any>
                                </div>
                            </li>
                            <li ng-if="financialInfo.length">
                                <div class="list-str">
                                    <h4 class="f14 bold text-capitalize dark-blue pt10 pb10">{{'company.company_financial_information' | translate}}</h4>
                                    <any ng-repeat="fininfo in financialInfo | filter:searchText">
                                        <div class="list-data white-bg p10"
                                             ng-if="permission[fininfo.statement_key+'_view']"
                                             ng-click="goToEditCtrl({'tag':fininfo.statement_name,'sectionName':'financial_information','formId':fininfo.id_financial_statement,'template':'upload-financial-information.html','formName':fininfo.statement_name,'form_key':fininfo.statement_key})">
                                            <!--ng-click="goToEditCtrl('financialInformation',fininfo.id_financial_statement,'upload-financial-information.html')"-->
                                            <div class="list-img pull-left dark-blue"
                                                 ng-class="(fininfo.status==1)?'box-active':''">
                                                <i class="fa icon-clipped-file2"></i>
                                            </div>
                                            <div class="list-text overflow-hidden">
                                                <h5 class="f14 darkcolor">{{fininfo.statement_name}}</h5>
                                                <span class="f11 ash text-line display-block">{{form.updated_by}} - {{form.updated_date_time | utcToLocal:'date'}}</span>

                                            </div>
                                        </div>
                                        <div class="list-data white-bg p10 disabled"
                                             ng-if="!permission[fininfo.statement_key+'_view']">
                                            <!--ng-click="goToEditCtrl('financialInformation',fininfo.id_financial_statement,'upload-financial-information.html')"-->
                                            <div class="list-img pull-left dark-blue"
                                                 ng-class="(fininfo.status==1)?'box-active':''">
                                                <i class="fa icon-clipped-file2"></i>
                                            </div>
                                            <div class="list-text overflow-hidden">
                                                <h5 class="f14 darkcolor">{{fininfo.statement_name}}</h5>
                                                <span class="f11 ash text-line display-block">{{form.updated_by}} - {{form.updated_date_time | utcToLocal:'date'}}</span>

                                            </div>
                                        </div>
                                    </any>
                                </div>
                            </li>
                            <li ng-if="internalRatingList.length">
                                <div class="list-str">
                                    <h4 class="f14 bold text-capitalize dark-blue pt10 pb10">{{'company.company_internal_rating' | translate}}</h4>
                                    <any data-ng-repeat="assessment in internalRatingList | filter:searchText">
                                        <div class="list-data white-bg p10"
                                             ng-if="permission[assessment.key+'_view']"
                                             ng-click="goToEditCtrl({'tag':assessment.name,'sectionName':'internal_rating','template':assessment.template,'formName':assessment.name,'type':assessment.type,'key':assessment.key,'form_key':assessment.key})">
                                            <div class="list-img pull-left dark-blue"
                                                 ng-class="(assessment.status==1)?'box-active':''">
                                                <i class="{{ assessment.template_icon }}"></i>
                                            </div>
                                            <div class="list-text overflow-hidden">
                                                <h5 class="f14 darkcolor">{{ assessment.name }}</h5>
                                                <span class="f11 ash text-line display-block">{{form.updated_by}} - {{form.updated_date_time | utcToLocal:'date'}}</span>

                                            </div>
                                        </div>
                                        <div class="list-data white-bg p10 disabled"
                                             ng-if="!permission[assessment.key+'_view']">
                                            <div class="list-img pull-left dark-blue"
                                                 ng-class="(assessment.status==1)?'box-active':''">
                                                <i class="{{ assessment.template_icon }}"></i>
                                            </div>
                                            <div class="list-text overflow-hidden">
                                                <h5 class="f14 darkcolor">{{ assessment.name }}</h5>
                                                <span class="f11 ash text-line display-block">{{form.updated_by}} - {{form.updated_date_time | utcToLocal:'date'}}</span>

                                            </div>
                                        </div>

                                    </any>

                                </div>
                            </li>
                            <li ng-if="companyAssessmentList.length">
                                <div class="list-str">
                                    <h4 class="f14 bold text-capitalize dark-blue pt10 pb10">{{'company.company_business_assessment' | translate}}</h4>
                                    <any data-ng-repeat="assessment in companyAssessmentList | filter:searchText">
                                        <div class="list-data white-bg p10"
                                             ng-if="permission[assessment.assessment_key+'_view']"
                                             ng-click="goToEditCtrl({'tag':assessment.assessment_name,'sectionName':'business_assessment','formId':assessment.id_assessment,'template':assessment.assessment_template,'formName':assessment.assessment_name,'type':assessment.assessment_type,'assessmentId':assessment.id_assessment,'assessment_key':assessment.assessment_key,'form_key':assessment.assessment_key})">
                                            <div class="list-img pull-left dark-blue"
                                                 ng-class="(assessment.status==1)?'box-active':''">
                                                <i class="{{ assessment.template_icon }}"></i>
                                            </div>
                                            <div class="list-text overflow-hidden">
                                                <h5 class="f14 darkcolor">{{ assessment.assessment_name }}</h5>
                                                <span class="f11 ash text-line display-block">{{form.updated_by}} - {{form.updated_date_time | utcToLocal:'date'}}</span>

                                            </div>
                                        </div>
                                        <div class="list-data white-bg p10 disabled"
                                             ng-if="!permission[assessment.assessment_key+'_view']">
                                            <div class="list-img pull-left dark-blue"
                                                 ng-class="(assessment.status==1)?'box-active':''">
                                                <i class="{{ assessment.template_icon }}"></i>
                                            </div>
                                            <div class="list-text overflow-hidden">
                                                <h5 class="f14 darkcolor">{{ assessment.assessment_name }}</h5>
                                                <span class="f11 ash text-line display-block">{{form.updated_by}} - {{form.updated_date_time | utcToLocal:'date'}}</span>

                                            </div>
                                        </div>

                                    </any>

                                </div>
                            </li>

                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-sm-4 col-lg-4 pl35  pr0 fixed-wrapper-new right-section-wrapper parent"
     ng-if="permission.touchpoints_view">
    <div class="right-section white-bg box-shadow">
        <div class="t-tabs tabs-wrap">
            <uib-tabset justified="true">
                <uib-tab uib-tooltip="Touch Point">
                    <uib-tab-heading>
                        <i class="icon-touchpoints" aria-hidden="true"></i>
                    </uib-tab-heading>
                    <touch-point-view ng-if="$parent.tabs[0].active" module-type="company"
                                      module-id="{{currentCompanyViewId}}"></touch-point-view>
                </uib-tab>
                <uib-tab uib-tooltip="Meeting">
                    <uib-tab-heading>
                        <i class="icon-meeting2"></i>
                    </uib-tab-heading>
                    <meeting-list ng-if="$parent.tabs[1].active"
                                  get-data="{'module_type':'company','module_id':currentCompanyViewId,'reference_type':'company','reference_id':currentCompanyViewId}"
                                  reload="meetingReload"></meeting-list>
                </uib-tab>
                <!--<uib-tab uib-tooltip="Notifications">
                    <uib-tab-heading>
                        <i class="icon-notifications"></i>
                    </uib-tab-heading>
                    <notification-module-list ng-if="$parent.tabs[2].active"
                                              get-data="{'module_type':'company','module_id':currentCompanyViewId}"></notification-module-list>
                </uib-tab>-->
                <uib-tab uib-tooltip="Attachments">
                    <uib-tab-heading>
                        <i class="icon-attachments"></i>
                    </uib-tab-heading>
                    <uib-tab-content ng-if="$parent.tabs[2].active">
                        <div class="col-sm-12 p0" win-height ng-scrollbars wh-offset="160">
                            <attachment-view module-id="2" ref-id="{{currentCompanyViewId}}"
                                             template-url="partials/component/attachment/add-list.html"></attachment-view>
                        </div>
                    </uib-tab-content>
                </uib-tab>
                <uib-tab uib-tooltip="Contacts">
                    <uib-tab-heading>
                        <i class="icon-contacts"></i>
                    </uib-tab-heading>
                    <uib-tab-content ng-if="$parent.tabs[3].active">
                        <div class="col-sm-12 plr10">
                            <h3 class="darkcolor clearfix pt5 pb5 border-bottom2x mb15" ng-init="getAddedContactsForCompany()">
                                <span class="display-inline-block f14 bold pt5">Contacts <span
                                        class="sky-blue bold"><!--{{selectedCompanyList.length}}--></span></span>
                                <a href="javascript:;" uib-tooltip="Add" class="pull-right add-button"
                                   ng-click="AddedContactsModal()"
                                   n-t='{"e_n":"Add Contact Task Modal","e_d":"Company"}'>
                                    <i class="fa fa-plus"></i>ADD
                                </a>
                                <input class="f12 pull-right p2 mr8" type="text" placeholder="Search"
                                       ng-model="contact_search"/>
                            </h3>
                            <div win-height ng-scrollbars wh-offset="190">
                                <div class="meeting-inv-wrap clearfix" ng-repeat="pc in selectedContactsList | filter:contact_search">
                                    <h6 class="f12 dark-blue">
                                        <a ui-sref="contact.contact-form-edit({id:(pc.crm_contact_id | encode )})" class="dark-blue" target="_blank">{{pc.first_name}} {{pc.last_name}}</a>
                                        <span class="gray ml5 font-normal">{{pc.designation_name}}</span>
                                    </h6>
                                    <div class="meeting-inv-wrap-body">
                                        <div class="gray clearfix">
                                            <span class="icon-calendar1 pull-left mr8 darkcolor f14" title="Date"></span>
                                            {{pc.created_date_time_new |utcToLocal}}
                                        </div>
                                        <div class="darkcolor bold">
                                            <span class="icon-globe1 pull-left mr8 f14" title="Where"></span>
                                            <span class="gray ml5 font-normal"> {{pc.country_name}}</span></div>
                                        <div class="sky-blue"><span class="icon-users2 pull-left mr8 f14" title=""></span>{{pc.email}}<a
                                                class="pull-right tpoint-actions"></a>
                                        </div>
                                        <div class="darkcolor">
                                            <span class="icon-phone pull-left mr8 f14" title="Phone"></span>{{pc.phone_number}}<a
                                                class="pull-right tpoint-actions"></a></div>
                                    </div>
                                </div>
                                <div class="text-center f12" ng-if="selectedContactsList.length == 0">
                                    {{'contact.contact_no_contacts_found' | translate}}
                                </div>
                            </div>
                        </div>
                    </uib-tab-content>
                </uib-tab>
                <uib-tab uib-tooltip="Companies">
                    <uib-tab-heading>
                        <i class="icon-company2"></i>
                    </uib-tab-heading>
                    <uib-tab-content ng-if="$parent.tabs[4].active">
                        <div class="col-sm-12 plr10" ng-init="selectedCompanyListFun()">
                            <h3 class="darkcolor clearfix pt5 pb5 border-bottom2x mb15">
                                <span class="display-inline-block f14 bold pt5">{{'Companies' | translate}} <span
                                        class="sky-blue bold"></span></span>
                                <a href="javascript:;" class="pull-right add-button" uib-tooltip="Add Company"
                                   ng-click="AddedCompaniesModal()">
                                    <i class="fa fa-plus"></i>{{'general.add' | translate}}
                                </a>
                                <input class="f12 pull-right p2 mr8" type="text" placeholder="Search"
                                       ng-model="search_companies"/>
                            </h3>
                            <div class="col-lg-12 p0" win-height ng-scrollbars wh-offset="210">
                                <div class="meeting-inv-wrap clearfix"
                                     ng-repeat="c in selectedCompanyList | filter:search_companies">
                                    <h6 class="f12 dark-blue">
                                        <a ui-sref="company.company-creation({id:(c.crm_company_id | encode )})" class="dark-blue" target="_blank">{{c.company_name}}</a>
                                        <span class="gray ml5 font-normal" ng-if="c.country_name">
                                        {{c.country_name}}
                                        </span>
                                    </h6>
                                    <div class="meeting-inv-wrap-body">
                                        <div class="sky-blue"><span class="icon-users2 pull-left mr8 f14"></span>{{c.email}}
                                        </div>
                                        <div class="darkcolor">
                                            <span class="icon-phone pull-left mr8 f14"></span>{{c.phone_number}}
                                        </div>
                                    </div>
                                </div>
                                <div class="text-center f12 pt15" ng-if="selectedCompanyList.length == 0">
                                    {{'company.company_no_companies_found' | translate}}
                                </div>
                            </div>
                        </div>
                    </uib-tab-content>
                </uib-tab>
                <uib-tab uib-tooltip="Tasks">
                    <uib-tab-heading>
                        <i class="icon-tasks2"></i>
                    </uib-tab-heading>
                    <uib-tab-content ng-if="$parent.tabs[5].active">
                        <div class="col-sm-12 plr10">
                            <task-module
                                    get-data="{'module_type':'company','module_id':currentCompanyViewId,'module_reference_type':'company','module_reference_id':currentCompanyViewId}"
                            ></task-module>
                        </div>
                    </uib-tab-content>
                </uib-tab>
            </uib-tabset>
        </div>
    </div>
</div>
