<div class="client-stage-view" ng-if="$state.current.name != 'company.business-assessment'">
    <ul>
        <li>
            <span class="label-text p0 display-block text-line" title="{{companyInfo.company_name}}">{{companyInfo.company_name}}  </span>
  <!--          <span class="font-lato darkcolor display-block text-line" title="{{companyInfo.phone_number}}" >{{companyInfo.phone_number}}</span>
 -->       </li>
        <li>
            <span class="label-text p0 display-block text-line">{{'Contact' | translate}}</span>
            <span class="font-lato darkcolor display-block text-line" title="{{companyInfo.contact_name}}">{{companyInfo.contact_name | checkEmpty }}</span>
        </li>
        <li>
            <span class="label-text display-block text-line" title="{{companyInfo.email}}"><i class="icon-mail mr4 pull-left"></i>{{companyInfo.email}}</span>
            <span class="font-lato darkcolor display-block text-line" title="{{companyInfo.phone_number}}"><i class="icon-phone mr4"></i>{{companyInfo.phone_number | checkEmpty}}</span>
        </li>
    </ul>
    <div class="display-inline-block pull-right">
        <button type="button" class="btn btn-primary complete-view-btn pull-right" href="javascript:;" ui-sref="company.business-assessment({id:(currentCompanyViewId | encode )})" n-t='{"e_n":"Company Complete View","e_d":"Company - {{companyInfo.company_name}}"}'><i class="icon-eye f21 mr4 pull-left"></i>{{'contact.contact_complete_view' | translate}}</button>
    </div>
    <div class="col-sm-12 client-stage-view-bar">
        <div class="col-sm-6 p0">
           <!-- <span class="">Available</span>
            <a href="#" class="f18 mr10 ml5 darkcolor"><i class="icon-facility"></i></a>
            <a href="#" class="f18 mr10 darkcolor"><i class="icon-colllateral2"></i></a>-->
        </div>
        <div class="col-sm-6 text-right p0 pt2">
            <span class="">{{'contact.contact_last_modified' | translate}}:<strong class="darkcolor ml4">{{companyInfo.created_date_time|utcToLocal:'date'}}</strong></span>
            <span class="client-rating red-bg" uib-tooltip="Credit Rating">{{companyInfo.credit_rating | checkEmpty:'-'}}</span>
            <span class="client-rating blue-bg" uib-tooltip="Internal Rating">{{companyInfo.grade.grade | checkEmpty:'-'}}

            </span>
        </div>
        <div class="col-sm-6"></div>
    </div>
</div>

<div class="col-sm-12 p0" ng-if="$state.current.name == 'company.business-assessment'" >
    <div class="complete-header clearfix">
        <h6>
            <!-- <div class="head-flag">
                 <img src="images/kenya.jpg" alt="image">
             </div>-->
            <div class="head-flag-content">
                <span class="" title="{{companyInfo.company_name}}">{{companyInfo.company_name}} </span>
               <!-- <label class="">{{companyInfo.phone_number}}</label>-->
            </div>
        </h6>
        <ul>
            <li>
                <label>{{'Contact' | translate}}</label>
                <span class="text-line" title="{{companyInfo.contact_name}}">{{companyInfo.contact_name | checkEmpty }} <!--<span class="sky-blue">(1+)</span>--></span>
            </li>
            <!--
            <li>
                 <label class="text-line">Total Exposure</label>
                 <span class="text-line">$ 134,856,000.00</span>
             </li>
             <li>
                 <label class="text-line">Sector: <span>Agriculture Fishery</span></label>
                 <label class="text-line">Sub- Sector: <span>Agriculture</span></label>
             </li>
             <li>
                 <span class="header-icon"><i class="icon-facility"></i></span>
             </li>
             <li>
                 <span class="header-icon"><i class="icon-colllateral2"></i></span>
             </li>
             -->
            <li>
                <label >{{'contact.contact_last_modified' | translate}}</label>
                <span class="text-line">{{companyInfo.created_date_time|utcToLocal:'date'}}</span>
            </li>
            <li class="rating-wrap">
               <span class="header-rating" uib-tooltip="Credit Rating">{{companyInfo.credit_rating | checkEmpty:'-'}}</span>
               <span class="client-rating blue-bg" uib-tooltip="Internal Rating">{{companyInfo.grade.grade | checkEmpty:'-'}}</span>
            </li>
        </ul>
    </div>
</div>