<h3 class="fixed content-heading">
    <ul class="breadcrumb">
        <li><a ui-sref="company.company-dashboard" n-t='{"e_n":"Breadcrumb - Back to Company list","e_d":"Company - {{companyInfo.company_name}}"}'>{{'Company' | translate}}</a> </li>
        <li><a ui-sref="company.company-creation({id:(currentCompanyViewId | encode )})" n-t='{"e_n":"Breadcrumb - Back to Company Details","e_d":"Company - {{companyInfo.company_name}}"}'>{{companyInfo.company_name}}</a></li>
        <li>{{'contact.contact_complete_view' | translate}}</li>
    </ul>
    <div class="pull-right button-set">
        <!--        <any ng-controller="CompanyCreationCtrl">
                    <a  uib-tooltip="Touchpoints" modal="touchpoints" ng-click="touchpointsModal()"><i class="fa fa-touchpoint"></i>
                    </a>
                    <a ng-click="quickAttachmentModal()" modal="attachment" uib-tooltip="Attachments"><i
                            class="fa fa-paperclip"></i>
                    </a>
                    <a uib-tooltip="Contacts" modal="addedcontacts" ng-click="AddedContactsModal()"><i class="fa fa-book"></i>
                    </a>
                </any>-->
        <a ui-sref="company.company-creation({id:(currentCompanyViewId | encode )})" uib-tooltip="Back"
           n-t='{"e_n":"Back to Company details","e_d":"Company - {{companyInfo.company_name}}"}'><i
                class="fa fa-close-sm"></i></a>
    </div>
</h3>
<div class="col-sm-12 fixed clearfix  z1 fixed-top full-fixed-top" ng-class="{visible:boolChangeClass}" fixed-top>
    <div class="clearfix relative details-fixed-top no-bg border-none pad0">
        <div class="col-sm-12 clearfix p0">
            <div class="page-header-wrap mt0  box-shadow clearfix">
                <div  ng-include="'partials/crm/company/company-header.html'"></div>
            </div>
        </div>
    </div>
</div>
<div class="content-area animated fadeInRight" id="contentArea">

    <div class="content-container mb20 clearfix">

        <div class="col-sm-12 clearfix p0">
            <div class="page-header-wrap white-bg box-shadow clearfix relative mb15">
                <div  ng-include="'partials/crm/company/company-header.html'" ng-init="getCompanyInfo()"></div>
            </div>
        </div>

        <div class="col-sm-12 plr20" id="business_keydata" data-ng-repeat="businessKey in businessKeyData" ng-hide="businessKey.section_key == 'business_assessment' || businessKey.section_key =='internal_rating'">
            <div class="div-header " id="{{ businessKey.section_key }}">
                <h3 class="f14 roboto-bold text-capitalize p10">{{ businessKey.section_name }}</h3>
            </div>
            <div class="col-sm-12 white-bg p15">
                <div class="pb10 form-wrap clearfix mb10" data-ng-repeat="business in businessKey.form" ng-switch="business.form_key">
                    <h4 class="darkcolor f15 mb5" id="{{ business.form_name | underscoreadd }}">{{
                        business.form_name }}</h4>
                    <div class="col-sm-12">
                        <!--{{business.field_data}}-->
                        <div ng-repeat="viewForm in business.field_data" ng-switch="viewForm.field_type" ng-if="business.form_key!='company_customers' && business.form_key!='company_competitors' && business.form_key!='company_suppliers'  && business.form_key!='company_overhead_cost_estimates' && business.form_key!='company_sales_directcost_estimates'">
                            <any ng-switch-when="textarea">
                                <div class="col-lg-12">
                                    <label class="label-text">{{ viewForm.field_label }}</label>
                                    <div ng-if="viewForm.field_value != ''">
                                        <div ng-bind-html="viewForm.field_value | trusted" class=" mb5 cke_editable"></div>
                                    </div>
                                    <p ng-if="viewForm.field_value == ''" class=" mb5">-----</p>
                                </div>
                            </any>
                            <any ng-switch-when="file">
                                <div class="col-lg-12">
                                    <label class="label-text">{{ viewForm.field_label }}</label>
                                    <attachment-list module-id="2" form-key="{{business.form_key}}" field-key="{{viewForm.field_name}}"
                                                     ref-id="{{currentCompanyViewId}}"></attachment-list>
                                </div>
                            </any>
                            <any ng-switch-when="multicheck">
                                <div class="col-lg-12">
                                    <label class="label-text">{{ viewForm.field_label }}</label>

                                    <div class=" mb5" ng-if="viewForm != ''"   ng-init="viewForm.field_value=(viewForm.field_value)?jsonConvert(viewForm.field_value):[]">
                                        <p ng-bind="multipleCheckbox(viewForm.field_value)"></p>
                                    </div>
                                    <p ng-if="!viewForm.field_value.company_sme_business && !viewForm.field_value.company_incorporate_business && !viewForm.field_value.company_construction && !viewForm.field_value.company_acquisition" class=" mb5">-----</p>
                                </div>
                            </any>
                            <any ng-switch-when="previous_experience">
                                <div class="col-lg-12">
                                    <label class="label-text">{{ viewForm.field_label }}</label>
                                    <div class="col-sm-12 clearfix p0 ">
                                        <exposure-component componet-parmes='{"crm_company_id":currentCompanyViewId}'  componet-type="company" ></exposure-component>
                                    </div>
                                </div>
                            </any>
                            <any ng-switch-when="json">
                                <div class="col-lg-12">
                                    <label class="label-text">{{ viewForm.field_label }}</label>
                                    <div class="col-sm-12 clearfix p0 ">
                                        <div class="col-sm-7" ng-init="jsonData = (viewForm.field_value)?viewForm.field_value:[]">
                                            <table class="table table-view table-customise md-text-line json_table">
                                                <thead>
                                                <tr ng-repeat="(key, value) in jsonData" ng-if="$first">
                                                    <th class="f13 text-center" ng-repeat="(chKey, chValue) in value">{{ chKey |
                                                        underscoreless }}
                                                    </th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr ng-repeat="(key, value) in jsonData">
                                                    <td class="f12 {{cKey}}" ng-repeat="(cKey, cValue) in value">
                                                        <any ng-switch='cKey'>
                                                            <any ng-switch-when="ownership_percentage">{{ cValue |currency:'':0 }}</any>
                                                            <any ng-switch-when="no_of_shares">{{ cValue |currency:'':0 }}</any>
                                                            <any ng-switch-when="value_of_shares">{{ cValue |currency:'':0 }}</any>
                                                            <any ng-switch-default>{{ cValue }}</any>
                                                        </any>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </any>
                            <any ng-switch-when="address_map">
                                <div class="col-lg-12 col-sm-12 p0">
                                    <address-view get-data="viewForm.field_value">
                                    </address-view>
                                </div>
                            </any>
                            <any ng-switch-default>
                                <div class="col-lg-3 col-sm-3">
                                    <label class="label-text">{{ viewForm.field_label }}</label>
                                    <div ng-if="viewForm.field_value != ''">
                                        <p ng-bind-html="viewForm.field_value | trusted" class=" mb5"></p>
                                    </div>
                                    <p ng-if="viewForm.field_value == ''" class=" mb5">-----</p>
                                </div>
                            </any>
                        </div>
                        <div ng-if="business.form_key=='balance_sheet' ||
                                    business.form_key=='income_statement' ||
                                    business.form_key=='cash_flow_statement'||
                                    business.form_key=='ratio_analysis' ||
                                    business.form_key=='financial_projection_analysis'">
                            <div class="col-sm-12 p0" ng-init="getFinancialData(business.form_key)">
                                <div data-ng-bind-html="finacialInfo[business.form_key]"></div>
                            </div>
                        </div>
                        <div ng-if="business.form_key=='company_customers'">
                            <div class="col-sm-12 p0" ng-init="getCustomers()">
                                <div class="col-lg-3 col-sm-3">
                                    <label class="label-text">{{'company.customer_wholesale' | translate}}</label>
                                    <div ng-if="customer.whole_sale_customer_percentage && customer.whole_sale_customer_percentage != ''">
                                        <p ng-bind-html="customer.whole_sale_customer_percentage | trusted" class=" mb5"></p>
                                    </div>
                                    <p ng-if="!customer.whole_sale_customer_percentage || customer.whole_sale_customer_percentage == ''" class=" mb5">-----</p>
                                </div>
                                <div class="col-lg-3 col-sm-3">
                                    <label class="label-text">{{'company.customer_retails' | translate}}</label>
                                    <div ng-if="customer.retail_customer_percentage && customer.retail_customer_percentage != ''">
                                        <p ng-bind-html="customer.retail_customer_percentage | trusted" class=" mb5"></p>
                                    </div>
                                    <p ng-if="!customer.retail_customer_percentage || customer.retail_customer_percentage == ''" class=" mb5">-----</p>
                                </div>
                                <div class="col-lg-12 col-sm-12">
                                    <label class="label-text black-color bold">{{'company.customers' | translate}}</label>
                                    <div class="table-wrapper p0 c-table pt5 table-responsive">
                                    <table class="table table-striped table-bordered table-hover display table-style">
                                        <thead>
                                        <tr>
                                            <th>{{'company.name' | translate}}</th>
                                            <th class="text-right">{{'company.per_sale_in_cash' | translate}}</th>
                                            <th class="text-right">{{'company.per_sale_in_debt' | translate}}</th>
                                            <th class="text-right">{{'company.monthly_sales' | translate}}</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="row in customer.child_data" ng-if="customer.child_data.length>0" ng-show="row.status=='1'">
                                            <td>{{row.name}}</td>
                                            <td class="text-right">{{row.percentage_of_sales_in_cash}} </td>
                                            <td class="text-right">{{row.percentage_of_sales_in_debt}} </td>
                                            <td class="text-right">{{row.monthly_sales_currency_code}} {{row.monthly_sales | currency:""}}</td>
                                        </tr>
                                        <tr ng-if="customer.child_data.length<=0">
                                            <td colspan="4" class="text-center">{{'general.general_no_data_available' | translate}}</td>
                                        </tr>
                                        </tbody>

                                    </table>
                                </div>
                                </div>
                                <div class="col-lg-12">
                                    <label class="label-text">{{'company.comment' | translate}}</label>
                                    <div ng-if="customer.comments && customer.comments != ''">
                                        <div ng-bind-html="customer.comments | trusted" class=" mb5 cke_editable"></div>
                                    </div>
                                    <p ng-if="!customer.comments || customer.comments == ''" class=" mb5">-----</p>
                                </div>
                            </div>
                        </div>
                        <div ng-if="business.form_key=='company_competitors'">
                            <div class="col-sm-12 p0" ng-init="getCompetitors()">
                                <div class="col-lg-3 col-sm-3">
                                    <label class="label-text">{{'company.estimated_no_of_competitors' | translate}}</label>
                                    <div ng-if="competitor.estimated_no_of_competitors_text && competitor.estimated_no_of_competitors_text != ''">
                                        <p ng-bind-html="competitor.estimated_no_of_competitors_text | trusted" class=" mb5"></p>
                                    </div>
                                    <p ng-if="!competitor.estimated_no_of_competitors_text || competitor.estimated_no_of_competitors_text == ''" class=" mb5">-----</p>
                                </div>
                                <div class="col-lg-12 col-sm-12">
                                    <label class="label-text black-color bold">{{'company.competitors' | translate}}</label>
                                    <div class="table-wrapper p0 c-table pt5 table-responsive">
                                    <table class="table table-striped table-bordered table-hover display table-style">
                                        <thead>
                                        <tr>
                                            <th>{{'company.name' | translate}}</th>
                                            <th>{{'company.price' | translate}}</th>
                                            <th>{{'company.brand' | translate}}</th>
                                            <th>{{'company.size' | translate}}</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="row in competitor.child_data" ng-if="competitor.child_data.length>0" ng-show="row.status=='1'">
                                            <td>{{row.name}} </td>
                                            <td>{{row.price_text}} </td>
                                            <td>{{row.brand_text}} </td>
                                            <td>{{row.size_text}}</td>
                                        </tr>
                                        <tr ng-if="competitor.child_data.length<=0">
                                            <td colspan="4" class="text-center">{{'general.general_no_data_available' | translate}}</td>
                                        </tr>
                                        </tbody>

                                    </table>
                                </div>
                                </div>
                                <div class="col-lg-12">
                                    <label class="label-text">{{'company.comment' | translate}}</label>
                                    <div ng-if="competitor.comments && competitor.comments != ''">
                                        <div ng-bind-html="competitor.comments | trusted" class=" mb5 cke_editable"></div>
                                    </div>
                                    <p ng-if="!competitor.comments || competitor.comments == ''" class=" mb5">-----</p>
                                </div>
                            </div>
                        </div>
                        <div ng-if="business.form_key=='company_suppliers'">
                            <div class="col-sm-12 p0" ng-init="getSuppliers()">
                                <div class="col-lg-12 col-sm-12">
                                    <label class="label-text black-color bold">{{'company.percentage_of_geo_distribution' | translate}}</label>
                                </div>
                                <div class="col-lg-3 col-sm-3">
                                    <label class="label-text">Same city</label>
                                    <div ng-if="supplier.percentage_of_geo_distribution_same_city && supplier.percentage_of_geo_distribution_same_city != ''">
                                        <p ng-bind-html="supplier.percentage_of_geo_distribution_same_city | trusted" class=" mb5"></p>
                                    </div>
                                    <p ng-if="!supplier.percentage_of_geo_distribution_same_city || supplier.percentage_of_geo_distribution_same_city == ''" class=" mb5">-----</p>
                                </div>
                                <div class="col-lg-3 col-sm-3">
                                    <label class="label-text">Regional</label>
                                    <div ng-if="supplier.percentage_of_geo_distribution_regional && supplier.percentage_of_geo_distribution_regional != ''">
                                        <p ng-bind-html="supplier.percentage_of_geo_distribution_regional | trusted" class=" mb5"></p>
                                    </div>
                                    <p ng-if="!supplier.percentage_of_geo_distribution_regional || supplier.percentage_of_geo_distribution_regional == ''" class=" mb5">-----</p>
                                </div>
                                <div class="col-lg-3 col-sm-3">
                                    <label class="label-text">National</label>
                                    <div ng-if="supplier.percentage_of_geo_distribution_national && supplier.percentage_of_geo_distribution_national != ''">
                                        <p ng-bind-html="supplier.percentage_of_geo_distribution_national | trusted" class=" mb5"></p>
                                    </div>
                                    <p ng-if="!supplier.percentage_of_geo_distribution_national || supplier.percentage_of_geo_distribution_national == ''" class=" mb5">-----</p>
                                </div>
                                <div class="col-lg-3 col-sm-3">
                                    <label class="label-text">International</label>
                                    <div ng-if="supplier.percentage_of_geo_distribution_international && supplier.percentage_of_geo_distribution_international != ''">
                                        <p ng-bind-html="supplier.percentage_of_geo_distribution_international | trusted" class=" mb5"></p>
                                    </div>
                                    <p ng-if="!supplier.percentage_of_geo_distribution_international || supplier.percentage_of_geo_distribution_international == ''" class=" mb5">-----</p>
                                </div>
                                <div class="col-lg-12 col-sm-12">
                                    <label class="label-text black-color bold">{{'company.suppliers' | translate}}</label>
                                <div class="table-wrapper p0 c-table pt5 table-responsive">
                                    <table class="table table-striped table-bordered table-hover display table-style">
                                        <thead>
                                        <tr>
                                            <th>{{'company.name' | translate}}</th>
                                            <th class="text-right">{{'company.monthly_purchase_cash' | translate}}</th>
                                            <th class="text-right">{{'company.monthly_purchase_debt' | translate}}</th>
                                            <th class="text-right">{{'company.length_of_relationship' | translate}}</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="row in supplier.child_data" ng-show="row.status=='1'" ng-if="supplier.child_data.length>0">
                                            <td>{{row.name}}</td>
                                            <td class="text-right">{{row.monthly_purchase_cash_currency_code}} {{row.monthly_purchase_cash | currency:""}} </td>
                                            <td class="text-right">{{row.monthly_purchase_debt_currency_code}} {{row.monthly_purchase_debt | currency:""}} </td>
                                            <td class="text-right">{{row.length_of_relationship}}</td>
                                        </tr>
                                        <tr ng-if="supplier.child_data.length<=0">
                                            <td colspan="4" class="text-center">{{'general.general_no_data_available' | translate}}</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                </div>
                                <div class="col-lg-12">
                                    <label class="label-text">{{'company.comment' | translate}}</label>
                                    <div ng-if="supplier.comments && supplier.comments != ''">
                                        <div ng-bind-html="supplier.comments | trusted" class=" mb5 cke_editable"></div>
                                    </div>
                                    <p ng-if="!supplier.comments || supplier.comments == ''" class=" mb5">-----</p>
                                </div>
                            </div>
                        </div>
                        <div ng-if="business.form_key=='company_overhead_cost_estimates'">
                            <div class="col-sm-12 p0" ng-init="getOverHead()">
                                <div class="col-lg-3 col-sm-3">
                                    <label class="label-text">{{'company.currency' | translate}}</label>
                                    <div ng-if="overheadcost.currency_code && overheadcost.currency_code != ''">
                                        <p ng-bind-html="overheadcost.currency_code | trusted" class=" mb5"></p>
                                    </div>
                                    <p ng-if="!overheadcost.currency_code || overheadcost.currency_code == ''" class=" mb5">-----</p>
                                </div>
                                <div class="col-lg-12 col-sm-12">
                                    <div class="col-sm-7 p0">
                                        <label class="label-text black-color bold">{{'company.details' | translate}}</label>
                                        <div class="table-wrapper p0 c-table pt5 table-responsive">
                                        <table class="table table-striped table-bordered table-hover display table-style">
                                            <thead>
                                            <tr>
                                                <th >{{'company.description' | translate}}</th>
                                                <th >{{'company.category' | translate}} </th>
                                                <th class="text-right">{{'company.monthly_cost' | translate}}</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr ng-repeat="row in overheadcost.child_data"
                                                ng-if="overheadcost.child_data.length>0"
                                                ng-show="row.status=='1'">
                                                <td>{{row.description}}</td>
                                                <td>{{row.category_id_text}}</td>
                                                <td class="text-right">{{overheadcost.currency_code}} {{row.monthly_cost| currency:""}}</td>
                                            </tr>
                                            <tr ng-if="overheadcost.child_data.length<=0">
                                                <td colspan="3" class="text-center">{{'general.general_no_data_available' | translate}}</td>
                                            </tr>
                                            </tbody>

                                        </table>

                                    </div>
                                    </div>
                                    <div class="col-sm-5 p0" ng-show="overheadcost.summary">
                                        <label class="label-text black-color bold">{{'company.summary' | translate}}</label>
                                        <div class="table-wrapper p0 c-table pt5 table-responsive">

                                            <table class="table table-striped table-bordered table-hover display table-style">
                                                <thead>
                                                <tr>
                                                    <th >{{'company.summary' | translate}}</th>
                                                    <th class="text-right">{{'company.monthly_cost' | translate}}</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr ng-repeat="row in overheadcost.summary">
                                                    <td>{{row.category_id_text}}</td>
                                                    <td class="text-right">{{overheadcost.currency_code}} {{row.monthly_cost | currency:""}}</td>
                                                </tr>
                                                </tbody>

                                            </table>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <label class="label-text">{{'company.comment' | translate}}</label>
                                    <div ng-if="overheadcost.comments && overheadcost.comments != ''">
                                        <div ng-bind-html="overheadcost.comments | trusted" class=" mb5 cke_editable"></div>
                                    </div>
                                    <p ng-if="!overheadcost.comments || overheadcost.comments == ''" class=" mb5">-----</p>
                                </div>
                            </div>
                        </div>
                        <div ng-if="business.form_key=='company_sales_directcost_estimates'">
                            <div class="col-sm-12 p0" ng-init="getSalesData()">
                                <div class="col-lg-3 col-sm-3">
                                    <label class="label-text">{{'company.currency' | translate}}</label>
                                    <div ng-if="salesdata.currency_code && salesdata.currency_code != ''">
                                        <p ng-bind-html="salesdata.currency_code | trusted" class=" mb5"></p>
                                    </div>
                                    <p ng-if="!salesdata.currency_code || salesdata.currency_code == ''" class=" mb5">-----</p>
                                </div>
                                <div class="col-sm-12">
                                <label class="label-text black-color bold">{{'company.sales_estimates' | translate}}</label>
                                    <div class="sales-estimate-table">
                                        <table class="table">

                                            <tbody>
                                            <tr>
                                                <td><label class="f12 pt2 mt15">{{'company.daily' | translate}}</label></td>
                                                <td>
                                                    <div class="income-div">
                                                        <span class="income-text">{{'company.income' | translate}}</span>
                                                        <div class="form-inline">
                                                            <div class="form-group">
                                                                <label >{{'company.good_day' | translate}}</label>
                                                                <input type="number" class="form-control" ng-model="salesdata.sales_estimates.dailydata.income.good_day" name="" disabled>
                                                            </div>
                                                            <div class="form-group">
                                                                <label >{{'company.normal_day' | translate}}</label>
                                                                <input type="number" class="form-control" ng-model="salesdata.sales_estimates.dailydata.income.normal_day" name="" disabled>
                                                            </div>
                                                            <div class="form-group">
                                                                <label >{{'company.bad_day' | translate}}</label>
                                                                <input type="number" class="form-control" ng-model="salesdata.sales_estimates.dailydata.income.bad_day" name="" disabled>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td><label class="f12 pt2 mt15">{{'company.weekly' | translate}}</label></td>
                                                <td>
                                                    <div class="income-div" >
                                                        <span class="income-text">{{'company.income' | translate}}</span>
                                                        <div class="form-inline">
                                                            <div class="form-group">
                                                                <label >Sun</label>
                                                                <input type="number" class="form-control" ng-model="salesdata.sales_estimates.weeklydata.income.sun" name="" disabled>
                                                            </div>
                                                            <div class="form-group">
                                                                <label >Mon</label>
                                                                <input type="number" class="form-control" ng-model="salesdata.sales_estimates.weeklydata.income.mon" name="" disabled>
                                                            </div>
                                                            <div class="form-group">
                                                                <label >Tue</label>
                                                                <input type="number" class="form-control" ng-model="salesdata.sales_estimates.weeklydata.income.tue" name="" disabled>
                                                            </div>
                                                            <div class="form-group">
                                                                <label >Wed</label>
                                                                <input type="number" class="form-control" ng-model="salesdata.sales_estimates.weeklydata.income.wed" name="" disabled>
                                                            </div>
                                                            <div class="form-group">
                                                                <label >Thur</label>
                                                                <input type="number" class="form-control" ng-model="salesdata.sales_estimates.weeklydata.income.thur" name="" disabled>
                                                            </div>
                                                            <div class="form-group">
                                                                <label >Fri</label>
                                                                <input type="number" class="form-control" ng-model="salesdata.sales_estimates.weeklydata.income.fri" name="" disabled>
                                                            </div>
                                                            <div class="form-group">
                                                                <label >Sat</label>
                                                                <input type="number" class="form-control" ng-model="salesdata.sales_estimates.weeklydata.income.sat" name="" disabled>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="income-div">
                                                        <span class="income-text">Direct Cost</span>
                                                        <div class="form-inline">
                                                            <div class="form-group">
                                                                <input type="number" class="form-control" ng-model="salesdata.sales_estimates.weeklydata.direct_cost.sun" name="" disabled>
                                                            </div>
                                                            <div class="form-group">
                                                                <input type="number" class="form-control" ng-model="salesdata.sales_estimates.weeklydata.direct_cost.mon" name="" disabled>
                                                            </div>
                                                            <div class="form-group">
                                                                <input type="number" class="form-control" ng-model="salesdata.sales_estimates.weeklydata.direct_cost.tue" name="" disabled>
                                                            </div>
                                                            <div class="form-group">
                                                                <input type="number" class="form-control" ng-model="salesdata.sales_estimates.weeklydata.direct_cost.wed" name="" disabled>
                                                            </div>
                                                            <div class="form-group">
                                                                <input type="number" class="form-control" ng-model="salesdata.sales_estimates.weeklydata.direct_cost.thur" name="" disabled>
                                                            </div>
                                                            <div class="form-group">
                                                                <input type="number" class="form-control" ng-model="salesdata.sales_estimates.weeklydata.direct_cost.fri" name="" disabled>
                                                            </div>
                                                            <div class="form-group">
                                                                <input type="number" class="form-control" ng-model="salesdata.sales_estimates.weeklydata.direct_cost.sat" name="" disabled>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="text-right"><span class="f12 bold">Total</span></div>
                                                </td>
                                                <td>
                                                    <div class="form-group">
                                                        <label >Total</label>
                                                        <input type="number" class="form-control" name="" disabled
                                                               ng-model="salesdata.sales_estimates.weeklydata.income.tot=(salesdata.sales_estimates.weeklydata.income.sun+
                        salesdata.sales_estimates.weeklydata.income.mon+
                        salesdata.sales_estimates.weeklydata.income.tue+
                        salesdata.sales_estimates.weeklydata.income.wed+
                        salesdata.sales_estimates.weeklydata.income.thur+
                        salesdata.sales_estimates.weeklydata.income.fri+
                        salesdata.sales_estimates.weeklydata.income.sat)">
                                                        <input type="number" class="form-control" name="" disabled
                                                               ng-model="salesdata.sales_estimates.weeklydata.direct_cost.tot=(salesdata.sales_estimates.weeklydata.direct_cost.sun+
                        salesdata.sales_estimates.weeklydata.direct_cost.mon+
                        salesdata.sales_estimates.weeklydata.direct_cost.tue+
                        salesdata.sales_estimates.weeklydata.direct_cost.wed+
                        salesdata.sales_estimates.weeklydata.direct_cost.thur+
                        salesdata.sales_estimates.weeklydata.direct_cost.fri+
                        salesdata.sales_estimates.weeklydata.direct_cost.sat)">
                                                        <input type="number" class="form-control" name="" disabled
                                                               value="{{salesdata.sales_estimates.weeklydata.direct_cost.tot+salesdata.sales_estimates.weeklydata.income.tot}}">
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><label class="f12 pt2 mt15">Monthly</label></td>
                                                <td>
                                                    <div class="income-div">
                                                        <span class="income-text">income</span>
                                                        <div class="form-inline">
                                                            <div class="form-group">
                                                                <label >Week1</label>
                                                                <input type="number" class="form-control" ng-model="salesdata.sales_estimates.monthlydata.income.week1" name="" disabled>
                                                            </div>
                                                            <div class="form-group">
                                                                <label >Week2</label>
                                                                <input type="number" class="form-control" ng-model="salesdata.sales_estimates.monthlydata.income.week2" name="" disabled>
                                                            </div>
                                                            <div class="form-group">
                                                                <label >Week3</label>
                                                                <input type="number" class="form-control" ng-model="salesdata.sales_estimates.monthlydata.income.week3" name="" disabled>
                                                            </div>
                                                            <div class="form-group">
                                                                <label >Week4</label>
                                                                <input type="number" class="form-control" ng-model="salesdata.sales_estimates.monthlydata.income.week4" name="" disabled>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="income-div">
                                                        <span class="income-text">Direct Cost</span>
                                                        <div class="form-inline">
                                                            <div class="form-group">
                                                                <input type="number" class="form-control" ng-model="salesdata.sales_estimates.monthlydata.direct_cost.week1" name="" disabled>
                                                            </div>
                                                            <div class="form-group">
                                                                <input type="number" class="form-control" ng-model="salesdata.sales_estimates.monthlydata.direct_cost.week2" name="" disabled>
                                                            </div>
                                                            <div class="form-group">
                                                                <input type="number" class="form-control" ng-model="salesdata.sales_estimates.monthlydata.direct_cost.week3" name="" disabled>
                                                            </div>
                                                            <div class="form-group">
                                                                <input type="number" class="form-control" ng-model="salesdata.sales_estimates.monthlydata.direct_cost.week4" name="" disabled>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="text-right"><span class="f12 bold">Total</span></div>
                                                </td>
                                                <td>
                                                    <div class="form-group">
                                                        <label style="visibility: hidden">Total</label>
                                                        <input type="number" class="form-control" disabled
                                                               ng-model="salesdata.sales_estimates.monthlydata.income.tot=(salesdata.sales_estimates.monthlydata.income.week1+
                        salesdata.sales_estimates.monthlydata.income.week2+
                        salesdata.sales_estimates.monthlydata.income.week3+
                        salesdata.sales_estimates.monthlydata.income.week4)" name="">
                                                        <input type="number" class="form-control" disabled
                                                               ng-model="salesdata.sales_estimates.monthlydata.direct_cost.tot=(salesdata.sales_estimates.monthlydata.direct_cost.week1+
                        salesdata.sales_estimates.monthlydata.direct_cost.week2+
                        salesdata.sales_estimates.monthlydata.direct_cost.week3+
                        salesdata.sales_estimates.monthlydata.direct_cost.week4)" name="">
                                                        <input type="number" class="form-control" disabled value="{{salesdata.sales_estimates.monthlydata.income.tot+salesdata.sales_estimates.monthlydata.direct_cost.tot}}" name="">
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td><label class="f12 pt2 mt15">Annual</label></td>
                                                <td>
                                                    <div class="income-div">
                                                        <span class="income-text">income</span>
                                                        <div class="form-inline">
                                                            <div class="form-group">
                                                                <label >1</label>
                                                                <input type="number" class="form-control" ng-model="salesdata.sales_estimates.annualdata.income.data1" name="" disabled>
                                                            </div>
                                                            <div class="form-group">
                                                                <label >2</label>
                                                                <input type="number" class="form-control" ng-model="salesdata.sales_estimates.annualdata.income.data2" name="" disabled>
                                                            </div>
                                                            <div class="form-group">
                                                                <label >3</label>
                                                                <input type="number" class="form-control" ng-model="salesdata.sales_estimates.annualdata.income.data3" name="" disabled>
                                                            </div>
                                                            <div class="form-group">
                                                                <label >4</label>
                                                                <input type="number" class="form-control" ng-model="salesdata.sales_estimates.annualdata.income.data4" name="" disabled>
                                                            </div>
                                                            <div class="form-group">
                                                                <label >5</label>
                                                                <input type="number" class="form-control" ng-model="salesdata.sales_estimates.annualdata.income.data5" name="" disabled>
                                                            </div>
                                                            <div class="form-group">
                                                                <label >6</label>
                                                                <input type="number" class="form-control" ng-model="salesdata.sales_estimates.annualdata.income.data6" name="" disabled>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="income-div" style="margin-bottom: 30px;">
                                                        <span class="income-text">Direct Cost</span>
                                                        <div class="form-inline">
                                                            <div class="form-group">
                                                                <input type="number" class="form-control" ng-model="salesdata.sales_estimates.annualdata.direct_cost.data1" name="" disabled>
                                                            </div>
                                                            <div class="form-group">
                                                                <input type="number" class="form-control" ng-model="salesdata.sales_estimates.annualdata.direct_cost.data2" name="" disabled>
                                                            </div>
                                                            <div class="form-group">
                                                                <input type="number" class="form-control" ng-model="salesdata.sales_estimates.annualdata.direct_cost.data3" name="" disabled>
                                                            </div>
                                                            <div class="form-group">
                                                                <input type="number" class="form-control" ng-model="salesdata.sales_estimates.annualdata.direct_cost.data4" name="" disabled>
                                                            </div>
                                                            <div class="form-group">
                                                                <input type="number" class="form-control" ng-model="salesdata.sales_estimates.annualdata.direct_cost.data5" name="" disabled>
                                                            </div>
                                                            <div class="form-group">
                                                                <input type="number" class="form-control" ng-model="salesdata.sales_estimates.annualdata.direct_cost.data6" name="" disabled>
                                                            </div>
                                                        </div>
                                                    </div>

                                                </td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td></td>
                                                <td>
                                                    <div class="income-div">
                                                        <span class="income-text">income</span>
                                                        <div class="form-inline">
                                                            <div class="form-group">
                                                                <label >7</label>
                                                                <input type="number" class="form-control" ng-model="salesdata.sales_estimates.annualdata.income.data7" name="" disabled>


                                                            </div>
                                                            <div class="form-group">
                                                                <label >8</label>
                                                                <input type="number" class="form-control" ng-model="salesdata.sales_estimates.annualdata.income.data8" name="" disabled>
                                                            </div>
                                                            <div class="form-group">
                                                                <label >9</label>
                                                                <input type="number" class="form-control" ng-model="salesdata.sales_estimates.annualdata.income.data9" name="" disabled>
                                                            </div>
                                                            <div class="form-group">
                                                                <label >10</label>
                                                                <input type="number" class="form-control" ng-model="salesdata.sales_estimates.annualdata.income.data10" name="" disabled>
                                                            </div>
                                                            <div class="form-group">
                                                                <label >11</label>
                                                                <input type="number" class="form-control" ng-model="salesdata.sales_estimates.annualdata.income.data11" name="" disabled>
                                                            </div>
                                                            <div class="form-group">
                                                                <label >12</label>
                                                                <input type="number" class="form-control" ng-model="salesdata.sales_estimates.annualdata.income.data12" name="" disabled>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="income-div">
                                                        <span class="income-text">Direct Cost</span>
                                                        <div class="form-inline">
                                                            <div class="form-group">
                                                                <input type="number" class="form-control" ng-model="salesdata.sales_estimates.annualdata.direct_cost.data7" name="" disabled>
                                                            </div>
                                                            <div class="form-group">
                                                                <input type="number" class="form-control" ng-model="salesdata.sales_estimates.annualdata.direct_cost.data8" name="" disabled>
                                                            </div>
                                                            <div class="form-group">
                                                                <input type="number" class="form-control" ng-model="salesdata.sales_estimates.annualdata.direct_cost.data9" name="" disabled>
                                                            </div>
                                                            <div class="form-group">
                                                                <input type="number" class="form-control" ng-model="salesdata.sales_estimates.annualdata.direct_cost.data10" name="" disabled>
                                                            </div>
                                                            <div class="form-group">
                                                                <input type="number" class="form-control" ng-model="salesdata.sales_estimates.annualdata.direct_cost.data11" name="" disabled>
                                                            </div>
                                                            <div class="form-group">
                                                                <input type="number" class="form-control" ng-model="salesdata.sales_estimates.annualdata.direct_cost.data12" name="" disabled>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="text-right"><span class="f12 bold">Total</span></div>
                                                </td>
                                                <td>
                                                    <div class="form-group">
                                                        <label style="visibility: hidden">Total</label>
                                                        <input type="text" class="form-control" ng-model="salesdata.sales_estimates.annualdata.income.tot=(salesdata.sales_estimates.annualdata.income.data1+
                               salesdata.sales_estimates.annualdata.income.data2+
                               salesdata.sales_estimates.annualdata.income.data3+
                               salesdata.sales_estimates.annualdata.income.data4+
                               salesdata.sales_estimates.annualdata.income.data5+
                               salesdata.sales_estimates.annualdata.income.data6+
                               salesdata.sales_estimates.annualdata.income.data7+
                               salesdata.sales_estimates.annualdata.income.data8+
                               salesdata.sales_estimates.annualdata.income.data9+
                               salesdata.sales_estimates.annualdata.income.data10+
                               salesdata.sales_estimates.annualdata.income.data11+
                               salesdata.sales_estimates.annualdata.income.data12)" name="" disabled>
                                                        <input type="text" class="form-control"
                                                               ng-model="salesdata.sales_estimates.annualdata.direct_cost.tot=(salesdata.sales_estimates.annualdata.direct_cost.data1+
                               salesdata.sales_estimates.annualdata.direct_cost.data2+
                               salesdata.sales_estimates.annualdata.direct_cost.data3+
                               salesdata.sales_estimates.annualdata.direct_cost.data4+
                               salesdata.sales_estimates.annualdata.direct_cost.data5+
                               salesdata.sales_estimates.annualdata.direct_cost.data6+
                               salesdata.sales_estimates.annualdata.direct_cost.data7+
                               salesdata.sales_estimates.annualdata.direct_cost.data8+
                               salesdata.sales_estimates.annualdata.direct_cost.data9+
                               salesdata.sales_estimates.annualdata.direct_cost.data10+
                               salesdata.sales_estimates.annualdata.direct_cost.data11+
                               salesdata.sales_estimates.annualdata.direct_cost.data12)" name="" disabled>
                                                        <input type="text" class="form-control" disabled value="{{salesdata.sales_estimates.annualdata.income.tot+salesdata.sales_estimates.annualdata.direct_cost.tot}}" name="">
                                                    </div>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                                <div class="col-lg-12 col-sm-12">
                                    <div class="col-sm-12 p0">
                                        <label class="label-text black-color bold">{{'company.most_selling_product' | translate}}</label>
                                        <div class="table-wrapper p0 c-table pt5 table-responsive" ng-show="salesdata.child_data">
                                            <table class="table table-striped table-bordered table-hover display table-style">
                                                <thead>
                                                <tr>
                                                    <th >{{'company.product_name' | translate}}</th>
                                                    <th class="text-right">{{'company.units_sold' | translate}}</th>
                                                    <th class="text-right">{{'company.price_per_unit' | translate}}</th>
                                                    <th class="text-right">{{'company.total_sales' | translate}}</th>
                                                    <th class="text-right">{{'company.per_of_total_sales' | translate}}</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr ng-repeat="row in salesdata.child_data" ng-show="row.status=='1'" ng-if="salesdata.child_data.length>0">
                                                    <td>{{row.product_name}}</td>
                                                    <td class="text-right">{{row.units_sold | currency:""}}</td>
                                                    <td class="text-right">{{row.price_per_unit | currency:""}}</td>
                                                    <td class="text-right">{{salesdata.currency_code}} {{row.total_sales | currency:""}}</td>
                                                    <td class="text-right">{{row.total_sales_percentage | currency:""}}</td>

                                                </tr>
                                                <tr ng-if="salesdata.child_data.length<=0">
                                                    <td colspan="5" class="text-center">{{'general.general_no_data_available' | translate}}</td>
                                                </tr>
                                                </tbody>

                                            </table>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-12">
                                    <label class="label-text">{{'company.comment' | translate}}</label>
                                    <div ng-if="salesdata.comments && saledata.comments != ''">
                                        <div ng-bind-html="salesdata.comments | trusted" class=" mb5 cke_editable"></div>
                                    </div>
                                    <p ng-if="!salesdata.comments || salesdata.comments == ''" class=" mb5">-----</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>

       <!-- <div class="col-sm-12 plr20 mt5" id="financial_information">
            <div class="div-header">
                <h3 class="f14 roboto-bold text-capitalize p10">Financial Information</h3>
            </div>

            <div class="col-sm-12 white-bg p15">
                <div class="form-wrap c-overview clearfix"
                     data-ng-repeat="financialInformation in companyFinancialInformation">
                    <div class="darkcolor bold f14 mb5">{{ financialInformation.financial_statement_comments }}</div>
                    <div class="col-sm-12 p0">
                        <div data-ng-bind-html="financialInformation.sheet"></div>
                    </div>
                </div>
            </div>
        </div>-->
        <div class="form-wrap clearfix">
            <!--<h4 class="darkcolor bold f15 mb10">{{businessAssessment.product_term_name}}</h4>-->
            <div class="col-sm-12 plr20 mt5">
                <div class=" r-overview clearfix">
                    <div class="clearfix div-header">
                        <div class="col-sm-6 p0">
                            <h3 class="white-color bold p10 f14">{{'business_risks_categories' | translate}}</h3>
                        </div>
                        <div class="col-sm-4 text-center">
                            <h3 class="darkcolor bold p10 f14">{{'factor' | translate}</h3>
                        </div>
                        <div class="col-sm-2 text-center">
                            <h3 class="darkcolor bold p10 f14">{{'weight_percent' | translate}}</h3>
                        </div>
                    </div>
                    <div class="col-sm-12 white-bg plr15" data-ng-repeat="business in internalRatingData">
                        <h2 class="f14 p10 bold darkcolor">{{ business.risk_category_name }}</h2>

                        <div class="mb10" ng-repeat="sub_category in business.sub_category">
                            <div class="clearfix pt10 pb10 light-wheet-bg">
                                <div class="col-sm-6">
                                    <h4 class="f13 darkcolor">{{sub_category.risk_category_name}}</h4>
                                </div>
                                <div class="col-sm-4">
                                    <h3 class="darkcolor f13 text-center">{{sub_category.final_grade}}</h3>
                                </div>
                                <div class="col-sm-2">
                                    <h3 class="darkcolor f13 text-center">{{sub_category.risk_percentage}}%</h3>
                                </div>
                            </div>
                            <ul class="acc-list">
                                <li class="clearfix" ng-repeat="attribute in sub_category.attributes">
                                    <div class="col-sm-6">
                                        <h5 class="f12 mt5 darkcolor">{{attribute.risk_category_name}}</h5>
                                    </div>
                                    <!--<div class="col-sm-4 f12 line-height14 darkcolor text-line" data-ng-if="attribute.items.length == 0"></div>-->
                                    <div class="col-sm-4 f12 line-height14 darkcolor">
                                        <span ng-repeat="item in attribute.items" ng-if="item.selected==1">{{item.risk_category_item_name}}</span>
                                    </div>
                                    <div class="col-sm-2 text-center">
                                        <span class="f13" ng-repeat="item in attribute.items"
                                              ng-if="item.selected==1">{{item.company_risk_category_item_grade}}</span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-12 plr20 mt5 " id="business_assessment">
            <div class="div-header">
                <h3 class="f14 roboto-bold text-capitalize p10">{{'company.company_business_assessment' | translate}}</h3>
            </div>
            <div class="col-sm-12  white-bg p15" data-ng-repeat="businessAssessment in companyBusinessAssessment">
                <div id="{{businessAssessment.assessment_name | underscoreadd }}"></div>

                <div class=" form-wrap clearfix" data-ng-if="businessAssessment.assessment_type == 'question'">
                    <h4 class="darkcolor f15 mb10">{{ businessAssessment.assessment_name }}</h4>
                    <div class="col-sm-12">
                        <ul class="ques-view-wrap"
                            data-ng-repeat="businessCategory in businessAssessment.data[0].category"
                            ng-show="businessCategory.question.length > 0">
                            <h4 class="bold mb10 f14 darkcolor">
                                <span>{{businessCategory.assessment_question_category_name}}</span>
                            </h4>
                            <li class="mb5 clearfix" data-ng-repeat="question in businessCategory.question">
                                <!--{{ question }}-->
                                <div class="clearfix mb5">
                                    <span class="ques-box">Q</span>
                                    <label class="f14 ques-text darkcolor"
                                           data-ng-bind-html="question.assessment_question"></label>
                                </div>


                                <div ng-switch on="question.question_type">
                                    <div class="ans-text">
                                        <div ng-switch-when="radio">
                                            <div data-ng-repeat="questionOption in question.question_option"
                                                 data-ng-if="questionOption.option_value == question.answer.assessment_answer">
                                                <p class="f12 darkcolor"
                                                   data-ng-bind-html="questionOption.option_title"></p>
                                            </div>
                                        </div>
                                        <div ng-switch-when="dropdown">
                                            <div data-ng-repeat="questionOption in question.question_option"
                                                 data-ng-if="questionOption.option_value == question.answer.assessment_answer">
                                                <p class="f12 darkcolor"
                                                   data-ng-bind-html="questionOption.option_title"></p>
                                            </div>
                                        </div>
                                        <div ng-switch-when="checkbox">
                                            <div data-ng-repeat="(key,val) in question.answer.assessment_answer">
                                            <span class="f12 display-inline-block darkcolor valign-top mr4"
                                                  data-ng-repeat="questionOption in question.question_option"
                                                  data-ng-if="questionOption.option_id ==  key && val == true">
                                                {{ questionOption.option_title }}
                                            </span>
                                            </div>
                                        </div>
                                        <div ng-switch-when="date">
                                            <p class="f12 darkcolor"
                                               data-ng-bind-html=" question.answer.assessment_answer | date:mediumDate"></p>
                                        </div>
                                        <div ng-switch-when="file">
                                            <div class="row col-lg-12 ng-scope"
                                                 data-ng-if="question.answer.assessment_answer != null">
                                                <a target="_blank" class="f12 display-block sky-blue"
                                                   href="{{question.answer.assessment_answer}}" download=""><i
                                                        class="fa fa-download mr4"></i>Download </a>
                                            </div>
                                        </div>
                                        <div ng-switch-default>
                                            <p class="f12 darkcolor"
                                               data-ng-bind-html="question.answer.assessment_answer"></p>
                                        </div>
                                    </div>


                                </div>

                                <div class="display-inline-block valign-top width90 "
                                     data-ng-if="question.question_type == '' ">
                                    <p class="f12 darkcolor" data-ng-bind-html="question.answer.assessment_answer"></p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class=" form-wrap clearfix" data-ng-if="businessAssessment.assessment_type == 'item'">
                    <h4 class="darkcolor bold f18 mb10">{{businessAssessment.assessment_name}}</h4>
                    <div class="col-sm-12" ng-switch="businessAssessment.assessment_name">

                        <div class="blocks clearfix" ng-switch-when="SWOT">
                            <div class="block-box {{business.assessment_color}}"
                                 data-ng-repeat="business in businessAssessment.data[0].item">
                                <h4 class="text-capitalize bold f15">{{ business.assessment_item_name }}</h4>
                                <span class="box-text" first-alpha="{{ business.assessment_item_name }}"
                                      backround-color="false"></span>
                                <ul>
                                    <li data-ng-repeat="step in business.step" class="f12">
                                        {{ step.step_title }}
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="blocks-list clearfix" ng-switch-when="5 Forces">
                            <div class="block-box">

                                <div class="force-wrap clearfix col-sm-12">
                                    <div class="f-block" data-ng-repeat="business in businessAssessment.data[0].item">
                                        <h4 class="f-header">
                                            {{ business.assessment_item_name }}
                                        </h4>
                                        <div class="f-content">
                                            <ul>
                                                <li data-ng-repeat="step in business.step" class="f12 darkcolor">
                                                    {{ step.step_title }}
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>


                                <h5 class="bold f13 darkcolor">{{ business.assessment_item_name }}</h5>
                                <!--<span class="box-text light-y-bg">S</span>-->
                                <ul>
                                    <li data-ng-repeat="step in business.step" class="f12 darkcolor">
                                        {{ step.step_title }}
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="blocks-list clearfix" ng-switch-when="5 Factors of Production">
                            <div class="col-sm-12 factors-wrap  mt20 clearfix">
                                <div class="fac-items">
                                    <div class="f-block" data-ng-repeat="business in businessAssessment.data[0].item">
                                        <h4 class="f-header">
                                            {{ business.assessment_item_name }}
                                        </h4>
                                        <div class="f-content">
                                            <ul>
                                                <li data-ng-repeat="step in business.step" class="f12 darkcolor">
                                                    {{ step.step_title }}
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="blocks-list clearfix" ng-switch-default>
                            <div class="block-box" data-ng-repeat="business in businessAssessment.data[0].item">
                                <h5 class="bold f13 darkcolor">{{ business.assessment_item_name }}</h5>
                                <!--<span class="box-text light-y-bg">S</span>-->
                                <ul>
                                    <li data-ng-repeat="step in business.step" class="f12 darkcolor">
                                        {{ step.step_title }}
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="form-wrap clearfix" data-ng-if="businessAssessment.assessment_type == 'item-canvas'">
                    <h4 class="darkcolor bold f18">{{businessAssessment.assessment_name}}</h4>

                    <!--<div class="col-sm-12">
                        <div class="mb15 main-icon-block mt20">
                            <ul class="main-columns">
                                <li class="{{business.assessment_color}}"  data-ng-repeat="business in businessAssessment.data[0].item">
                                    <div class="box-div">
                                        <h4><i class="{{business.assessment_icon}}"></i> <span>{{ business.assessment_item_name }}</span></h4>
                                        <ul class="inner-list">
                                            <li data-ng-repeat="stepTitle in business.step">
                                                <div class="text-content">
                                                    <p>{{stepTitle.step_title}}</p>
                                                </div>

                                            </li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>-->

                    <div class="col-sm-12" data-ng-repeat="business in businessAssessment.data">
                        <div class=" main-icon-block mt10">
                            <ul>
                                <li class="light-grey-bg">
                                    <div class="box-div">
                                        <h4><i class="{{business.item[0].assessment_icon}}"></i> <span>{{business.item[0].assessment_item_name}}</span>
                                        </h4>
                                        <ul class="inner-list">
                                            <li data-ng-repeat="stepTitle in business.item[0].step">
                                                <div class="text-content">
                                                    <p>{{stepTitle.step_title}}</p>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="light-grey-bg">
                                    <div class="box-div">
                                        <h4><i class="{{business.item[1].assessment_icon}}"></i> <span>{{business.item[1].assessment_item_name}}</span>
                                        </h4>
                                        <ul class="inner-list">
                                            <li data-ng-repeat="stepTitle in business.item[1].step">
                                                <div class="text-content">
                                                    <p>{{stepTitle.step_title}}</p>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="box-div">
                                        <h4><i class="{{business.item[2].assessment_icon}}"></i> <span>{{business.item[2].assessment_item_name}}</span>
                                        </h4>
                                        <ul class="inner-list">
                                            <li data-ng-repeat="stepTitle in business.item[2].step">
                                                <div class="text-content">
                                                    <p>{{stepTitle.step_title}}</p>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="light-green-bg-new">
                                    <div class="box-div">
                                        <h4><i class="{{business.item[3].assessment_icon}}"></i> <span>{{business.item[3].assessment_item_name}}</span>
                                        </h4>
                                        <ul class="inner-list">
                                            <li data-ng-repeat="stepTitle in business.item[3].step">
                                                <div class="text-content">
                                                    <p>{{stepTitle.step_title}}</p>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="light-pink-bg">
                                    <div class="box-div">
                                        <h4><i class="{{business.item[4].assessment_icon}}"></i> <span>{{business.item[4].assessment_item_name}}</span>
                                        </h4>
                                        <ul class="inner-list">
                                            <li data-ng-repeat="stepTitle in business.item[4].step">
                                                <div class="text-content">
                                                    <p>{{stepTitle.step_title}}</p>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="box-div">
                                        <h4><i class="{{business.item[5].assessment_icon}}"></i> <span>{{business.item[5].assessment_item_name}}</span>
                                        </h4>
                                        <ul class="inner-list">
                                            <li data-ng-repeat="stepTitle in business.item[5].step">
                                                <div class="text-content">
                                                    <p>{{stepTitle.step_title}}</p>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="light-pink-bg">
                                    <div class="box-div">
                                        <h4><i class="{{business.item[6].assessment_icon}}"></i> <span>{{business.item[6].assessment_item_name}}</span>
                                        </h4>
                                        <ul class="inner-list">
                                            <li data-ng-repeat="stepTitle in business.item[6].step">
                                                <div class="text-content">
                                                    <p>{{stepTitle.step_title}}</p>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>

                                </li>
                            </ul>
                            <ul class="icon-block">
                                <li class="light-wheet-bg">
                                    <div class="box-div">
                                        <h4><i class="{{business.item[7].assessment_icon}}"></i> <span>{{business.item[7].assessment_item_name}}</span>
                                        </h4>
                                        <ul class="inner-list">
                                            <li data-ng-repeat="stepTitle in business.item[7].step">
                                                <div class="text-content">
                                                    <p>{{stepTitle.step_title}}</p>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>

                                </li>
                                <li class="light-wheet-bg">
                                    <div class="box-div">
                                        <h4><i class="{{business.item[8].assessment_icon}}"></i> <span>{{business.item[8].assessment_item_name}}</span>
                                        </h4>
                                        <ul class="inner-list">
                                            <li data-ng-repeat="stepTitle in business.item[8].step">
                                                <div class="text-content">
                                                    <p>{{stepTitle.step_title}}</p>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>

                                </li>
                            </ul>
                        </div>
                    </div>


                </div>

            </div>
            <!--            <div class="col-sm-12  white-bg p15">
                            <div class="force-wrap clearfix">
                                <h4 class="darkcolor bold f18 mb10">5 Forces</h4>
                                <div class="col-sm-12">
                                    <div class="f-block">
                                        <h4 class="f-header">
                                            Threats of New Entrants
                                        </h4>
                                        <div class="f-content">
                                            <ul>
                                                <li>Project will boost company's public image</li>
                                                <li>Will improve safety</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="f-block">
                                        <h4 class="f-header">
                                            Bargaining Power of Suppliers
                                        </h4>
                                        <div class="f-content">
                                            <ul>
                                                <li>Project will boost company's public image</li>
                                                <li>Will improve safety</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="f-block">
                                        <h4 class="f-header">
                                            Industry Rivalry/Competition
                                        </h4>
                                        <div class="f-content">
                                            <ul>
                                                <li>Project will boost company's public image</li>
                                                <li>Will improve safety</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="f-block">
                                        <h4 class="f-header">
                                            Bargaining Power of Buyers
                                        </h4>
                                        <div class="f-content">
                                            <ul>
                                                <li>Project will boost company's public image</li>
                                                <li>Will improve safety</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="f-block">
                                        <h4 class="f-header">
                                            Threats of Substitutes
                                        </h4>
                                        <div class="f-content">
                                            <ul>
                                                <li>Project will boost company's public image</li>
                                                <li>Will improve safety</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="factors-wrap  mt20 clearfix">
                                <h4 class="darkcolor bold f18 mb10">5 Fators of Production</h4>
                                <div class="col-sm-12">
                                    <div class="fac-items">
                                        <div class="f-block">
                                            <h4 class="f-header">
                                                Man
                                            </h4>
                                            <div class="f-content">
                                                <ul>
                                                    <li>Project will boost company's public image</li>
                                                    <li>Will improve safety</li>
                                                    <li>Project will boost company's public image</li>
                                                    <li>Will improve safety</li>
                                                    <li>Project will boost company's public image</li>
                                                    <li>Will improve safety</li>
                                                    <li>Project will boost company's public image</li>
                                                    <li>Will improve safety</li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="f-block">
                                            <h4 class="f-header">
                                                Methods
                                            </h4>
                                            <div class="f-content">
                                                <ul>
                                                    <li>Project will boost company's public image</li>
                                                    <li>Will improve safety</li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="f-block">
                                            <h4 class="f-header">
                                                Material
                                            </h4>
                                            <div class="f-content">
                                                <ul>
                                                    <li>Project will boost company's public image</li>
                                                    <li>Will improve safety</li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="f-block">
                                            <h4 class="f-header">
                                                Machine
                                            </h4>
                                            <div class="f-content">
                                                <ul>
                                                    <li>Project will boost company's public image</li>
                                                    <li>Will improve safety</li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="f-block">
                                            <h4 class="f-header">
                                                Money
                                            </h4>
                                            <div class="f-content">
                                                <ul>
                                                    <li>Project will boost company's public image</li>
                                                    <li>Will improve safety</li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>-->


        </div>
    </div>
</div>

