<h3 class="fixed content-heading">
    {{'Companies' | translate}}
</h3>
<div id="contentArea" class="content-area animated fadeInRight">
    <div class="content-container clearfix light-blue-bg">

        <div class="right-fixed-container clearfix">
            <div class="col-sm-12 p0 mt20 clearfix clearboth">
                <div class="table-wrapper no-bg pt0 overflow-hidden plr20" ng-show="permission.company_list">

                    <table class="table-list-view table c-table table-hover table-style" st-pipe="getCompanyList"
                           st-table>
                        <thead>
                        <tr>
                            <td colspan="7" class="pad0 border-bottom header-list-div">
                                <div class="col-sm-6 p0" style="width: 55%;">
                                    <div class="client-list-num"
                                         ng-class="{'active':filter_type_temp === 'all_companies'}"
                                         st-search="filter_type_temp" st-input-event="click"
                                         ng-click="filter_type_temp = 'all_companies'">
                                        <span class="border-radius50 pull-left client-list-icon mr10">
                                            <i class="icon-all"></i></span>
                                        <span class=" display-block f12"> {{'company.company_all_companies' | translate}}</span>
                                        <span class=" darkcolor display-block f12 lh12 bold">{{all_companies}}</span>
                                    </div>
                                    <div class="client-list-num"
                                         ng-class="{'active':filter_type_temp === 'my_companies'}"
                                         st-search="filter_type_temp" st-input-event="click"
                                         ng-click="filter_type_temp = 'my_companies'">
                                        <span class="border-radius50 pull-left client-list-icon mr10"><i
                                                class="icon-users2"></i></span>
                                        <span class=" display-block f12"> {{'My_Companies' | translate}}</span>
                                        <span class=" darkcolor display-block f12 lh12 bold">{{my_companies}}</span>
                                    </div>
                                </div>
                                <div class="col-sm-6 p0 mt5" style="width: 45%;">
                                    <div class="action-head mb0">
                                        <div class="table-search pull-left width-full">
                                            <input type="text" class="form-control" placeholder="Name / Phone / Email"
                                                   st-search="search_key">
                                            <i class="fa icon-search"></i>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <th></th>
                            <th>{{'name' | translate}}</th>
                            <th>{{'Contact' | translate}}</th>
                            <th>{{'company.company_exposure' | translate}}</th>
                            <th>{{'Sector' | translate}}</th>
                            <th>{{'contact.contact_created_by' | translate}}</th>
                        </tr>
                        </thead>
                        <tbody class="hierarchical_slide" ng-if="companyList.length>0" hierarchical-slide>
                        <tr ng-repeat="row in companyList" class="cursor-pointer"
                            n-t='{"e_n":"Company details","e_d":"Company - {{row.company_name}}"}'>
                            <td class="img"><span first-alpha="{{row.company_name}}"></span></td>
                            <td ng-click="gotoState(row)">
                                <span class="label-text p0 display-block text-line" title="{{row.company_name}}">{{row.company_name}} </span>
                                <span class="font-lato f13 darkcolor display-block text-line">{{row.country_name}}</span>
                            </td>
                            <td ng-click="gotoState(row)">
                                <span class="label-text display-block text-line">
                                    <span class="mr4"><i class="icon-mail"></i></span>
                                    <span class="text-line" title="{{row.email}}">{{row.email}}</span>
                                </span>
                                <span class="font-lato f13 darkcolor display-block text-line">
                                    <span class=" mr4"><i class="icon-phone"></i></span>
                                    <span class="">{{row.phone_number | checkEmpty}}</span>
                                </span>
                            </td>
                            <td ng-click="gotoState(row)">
                                <span class="label-text display-block">USD </span>
                                <span class="text-line display-block" title="{{row.amount}}"><span>{{row.amount | checkEmpty:'0' |currency }}</span></span>
                            </td>
                            <td ng-click="gotoState(row)">
                                <span class="sky-blue text-line display-block">
                                    <span class="c-label" title="{{row.sector}}">{{row.sector | checkEmpty}}</span>
                                </span>
                                <span class="label-text display-block text-line">{{row.sub_sector}} </span>
                            </td>
                            <td class="relative">
                                <label ng-click="gotoState(row)" class="display-inline-block" >
                                <span class="label-text display-block text-line">{{row.username}}</span>
                                <span class="font-lato f13 darkcolor text-line display-block">
                                    <span class="">{{row.approval_name}} : {{row.legal_name}}</span>
                                </span>
                                </label>
                                <div class="display-inline-block custom-list valign-middle pull-right relative mt5" uib-dropdown
                                     ng-if="permission.company_delete" style="position: absolute;top: 9px;right: 5px;">
                                    <a href="javascript:;" class="menu-toggle dropdown-toggle" uib-dropdown-toggle><i
                                            class="fa fa-ellipsis-v f21"></i></a>
                                    <ul class="dropdown-menu width150" uib-dropdown-menu>
                                        <li>
                                            <a href="javascript:;" class="f14 darkcolor" uib-tooltip="Delete" ng-click="deleteCompany(row)" ><i class="icon-trash"></i>Delete</a>
                                        </li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                        <tbody ng-show="isEmptyRow">
                        <tr>
                            <td colspan="9" class="empty-table">
                                <p class="12">{{'general.general_no_data_available' | translate}}</p>
                            </td>
                        </tr>
                        </tbody>
                        <tfoot ng-if="companyList">
                        <tr>
                            <td colspan="9" class="text-center">
                                <div st-items-by-page="10" st-pagination=""
                                     st-template="partials/list-pagination.custom.html" class="pull-right"></div>
                            </td>
                        </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
            <div class="right-fixed mt20 trans-pos-top" scroll-pos>
                <div class="col-sm-12 p0 border" ng-if="permission.company_add">
                    <h3 class="custom-head">{{'company.company_create_new_company' | translate}}</h3>

                    <div class="form-group clearfix p10  form-group-custom white-bg m0 sm-form">
                        <!--ng-submit="submitQuickCompany(company,form,moreFields)"-->
                        <form class="" name="form" novalidate
                              ng-submit="form.$valid && submitQuickCompany(company,form,moreFields)">

                            <label class="control-label">{{'company.company_company_name' | translate}} *</label>

                            <div class="form-group clearfix form-group-custom">
                                <input type="text" class="form-control" ng-model="company.company_borrower_name"
                                       name="company_borrower_name" required>

                                <div ng-if="form.company_borrower_name.$error.required && form.$submitted"
                                     class="error-message">
                                    {{'company.company_company_is_required' | translate}}
                                </div>
                            </div>

                            <div class="form-group clearfix form-group-custom" ng-init="getCountryList()">
                                <div class="col-sm-12 p0 pb10">
                                    <div class="col-sm-5 p0">
                                        <label class="control-label">{{'general.isd' | translate}} *</label>
                                        <div class="form-group clearfix form-group-custom">
                                            <select class="form-control p0 font-control"
                                                    ng-model="company.company_phone_number_isd"
                                                    name="company_phone_number_isd"
                                                    ng-options="item.isd_code as (item.country_name +' '+ item.isd_code) for item in ISDCodes"
                                                    required>
                                                <option value="">--{{'general.general_select' | translate}}--</option>
                                            </select>
                                        </div>
                                        <div ng-if="form.company_phone_number_isd.$error.required && form.$submitted "
                                             class="error-message">
                                            {{'general.general_select_isd_code'|translate}}
                                        </div>
                                    </div>
                                    <div class="col-sm-7 pl5 pr0">
                                        <label class="control-label">{{'company.company_contact_no' | translate}} *</label>
                                        <div class="form-group clearfix form-group-custom">
                                            <any ng-init="contact.phone_number=''"></any>
                                            <input type="text" class="form-control" ng-model="company.company_phone_number1"
                                                   name="company_phone_number" required ng-minlength="7" ng-maxlength="15" only-digits required>
                                            <div ng-show="(form.company_phone_number.$error.required || form.company_phone_number.$error.minlength) && form.$submitted"
                                                 class="error-message">
                                                {{'general.enter_valid_phone_number_min7' | translate}}
                                            </div>
                                            <div ng-show="form.company_phone_number.$error.maxlength && form.$submitted "
                                                 class="error-message">
                                                {{'general.enter_valid_phone_number_max15' | translate}}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!--<label class="control-label">{{'Contact No' | translate}} *</label>

                            <div class="form-group clearfix form-group-custom">
                                <input type="text" class="form-control" ng-model="company.company_phone_number"
                                       name="company_phone_number" ng-minlength="8" required only-digits>

                                <div ng-if="form.company_phone_number.$error.required && form.$submitted"
                                     class="error-message">
                                    {{'Contact number is required' | translate}}
                                </div>
                                <div ng-if="form.company_phone_number.$error.minlength && form.$submitted"
                                     class="error-message">
                                    Enter valid contact number (minimum 8 digits)
                                </div>


                            </div>-->
                            <label class="control-label">{{'Email' | translate}} *</label>

                            <div class="form-group clearfix form-group-custom">
                                <input type="email" class="form-control" ng-model="company.company_email"
                                       name="company_email" required>

                                <div ng-if="form.company_email.$error.required && form.$submitted"
                                     class="error-message">{{'general.general_email_is_required' | translate}}
                                </div>
                                <div ng-if="form.company_email.$error.email && form.$submitted" class="error-message">
                                    {{'general.general_enter_valid_email' | translate}}
                                </div>

                            </div>

                            <!--<label class="label-text">Known Information about this Contact</label>
                            <textarea rows="6" class="form-control" data-ng-model="company.about" name="about"></textarea>-->

                            <div class="col-lg-12 btn-custom clearfix text-center  mb10 mt20">
                                <button type="submit" class="btn btn-primary f12 border-none lt-bg mr4"
                                        n-t='{"e_n":"Quick Save","e_d":"Company - {{companyInfo.company_name}}","form":"{{form.$valid}}"}'
                                        ng-click="moreFields = false;">
                                    {{'Save' | translate}}
                                </button>
                                <button class="btn btn-green f12 border-none lt-bg"
                                        n-t='{"e_n":"Quick company - Save And continue","e_d":"Company - {{companyInfo.company_name}}","form":"{{form.$valid}}"}'
                                        ng-click="moreFields = true;">
                                    {{'general.general_save_continue' | translate}}
                                </button>
                            </div>


                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
