
<div class="col-sm-12 p0 mt10 relative" id="general_information" ng-repeat="section in field.fields">
    <div class="div-header" ng-show="!concept_hide_btn">
        <h3 class="f14 roboto-bold text-capitalize p10 ">{{section.section_name}}</h3>
    </div>
    <div class="col-sm-12 white-bg p15" >
        <div class="pb10 form-wrap clearfix mb10 " ng-repeat="formdata in section.form">
            <h4 class="darkcolor bold f14 mb5 text-capitalize" id="basic_information">{{$index + 1}}. {{formdata.form_name}}</h4>
            <div class="col-sm-12 p0">
                <div ng-repeat="viewForm in formdata.fields" ng-switch="viewForm.field_type">
                    <any ng-switch-when="textarea">
                        <div class="col-lg-12">
                            <label class="label-text">{{ viewForm.field_label }}</label>
                            <div ng-if="viewForm.field_value != ''">
                                <div ng-bind-html="viewForm.field_value | trusted" class=" mb5 cke_editable"></div>
                            </div>
                            <p ng-if="viewForm.field_value == ''" class=" mb5">-----</p>
                        </div>
                    </any>
                    <any ng-switch-when="file">
                        <div class="col-lg-12">
                            <label class="label-text">{{ viewForm.field_label }}</label>
                            <attachment-list module-id="2" form-key="{{business.form_key}}" field-key="{{viewForm.field_key}}"
                                             ref-id="{{currentCompanyViewId}}"></attachment-list>
                        </div>
                    </any>
                    <any ng-switch-when="multicheck">
                        <div class="col-lg-12">
                            <label class="label-text">{{ viewForm.field_label }}</label>

                            <div class=" mb5" ng-if="viewForm != ''"   ng-init="viewForm.field_value=(viewForm.form_field_value)?jsonConvert(viewForm.field_value):[]">
                                <p ng-bind="multipleCheckbox(viewForm.field_value)"></p>
                            </div>
                            <p ng-if="!viewForm.field_value.company_sme_business && !viewForm.field_value.company_incorporate_business && !viewForm.field_value.company_construction && !viewForm.field_value.company_acquisition" class=" mb5">-----</p>
                        </div>
                    </any>
                    <any ng-switch-when="checkbox">
                        <div class="col-lg-12">
                            <label class="label-text">{{ viewForm.field_label }}</label>
                            <div class="col-sm-12 clearfix p0 ">
                                <p class=" mb5">{{viewForm.field_value == 1 ? 'Yes' : 'No'}}</p>
                            </div>
                        </div>
                    </any>
                    <any ng-switch-when="previous_experience">
                        <div class="col-lg-12">
                            <label class="label-text">{{ viewForm.field_label }}</label>
                            <div class="col-sm-12 clearfix p0 ">
                                <exposure-component componet-parmes='{"crm_company_id":currentCompanyViewId}'  componet-type="company" ></exposure-component>
                            </div>
                        </div>
                    </any>
                    <any ng-switch-when="address_map">
                        <!--<div class="col-lg-12">
                            <label class="label-text">{{ viewForm.field_label }}</label>
                            <div class="col-sm-12 clearfix p0 ">
                                <div class=" mb5" ng-if="viewForm != ''"   ng-init="viewForm.field_value=(viewForm.field_value)?jsonConvert(viewForm.field_value):[]">
                                    <p class="mb5">
                                        {{viewForm.field_value.street_name}}{{viewForm.field_value.street_name?', ':''}}
                                        {{viewForm.field_value.block_number}}{{viewForm.field_value.block_number?', ':''}}
                                        {{viewForm.field_value.city}}{{viewForm.field_value.city?', ':''}}
                                        {{viewForm.field_value.region}}{{viewForm.field_value.region?', ':''}}
                                        {{viewForm.field_value.country}}
                                    &lt;!&ndash;{{viewForm.field_value.street_name? '' : ', '}}&ndash;&gt;
                        &lt;!&ndash;{{viewForm.field_value.block_number|','}}
                                    {{viewForm.field_value.city|','}}
                                    {{viewForm.field_value.region|','}}
                                    {{viewForm.field_value.country}}&ndash;&gt;
                                    </p>
                                </div>
                            </div>
                        </div>-->
                    </any>
                    <any ng-switch-when="json">
                        <div class="col-lg-12">
                            <label class="label-text">{{ viewForm.field_label }}</label>
                            <div class="col-sm-12 clearfix p0 ">
                                <div class="col-sm-7" ng-init="jsonData = (viewForm.field_value)?viewForm.field_value:[]">
                                    <table class="table table-view table-customise md-text-line json_table">
                                        <thead>
                                        <tr ng-repeat="(key, value) in jsonData" ng-if="$first">
                                            <th class="f13 text-center" ng-repeat="(chKey, chValue) in value">{{ chKey |
                                                underscoreless }}
                                            </th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr ng-repeat="(key, value) in jsonData">
                                            <td class="f12 {{cKey}}" ng-repeat="(cKey, cValue) in value">
                                                <any ng-switch='cKey'>
                                                    <any ng-switch-when="ownership_percentage">{{ cValue |currency:'':0 }}</any>
                                                    <any ng-switch-when="no_of_shares">{{ cValue |currency:'':0 }}</any>
                                                    <any ng-switch-when="value_of_shares">{{ cValue |currency:'':0 }}</any>
                                                    <any ng-switch-default>{{ cValue }}</any>
                                                </any>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </any>
                    <any ng-switch-default>
                        <div class="col-sm-4 col-lg-4">
                            <label class="label-text">{{ viewForm.field_label }}</label>
                            <div ng-if="viewForm.field_value != ''">
                                <p ng-bind-html="viewForm.field_value | trusted" class=" mb5"></p>
                            </div>
                            <p ng-if="viewForm.field_value == '' || viewForm.field_value == null" class=" mb5">-----</p>
                        </div>
                    </any>
                    <!--<div class="">
                        <label class="label-text ">{{formfield.field_label}}:</label>
                        <div class="">
                            <p class=" mb5 ">{{formfield.form_field_value}}</p>
                        </div>
                    </div>-->
                </div>
                <div class="col-sm-12 p0" ng-if="$index == 0">
                    <div class=" col-sm-12 col-lg-12">
                        <label class="label-text ">{{'project.project_required_loan_amount_and_currency' | translate}}</label>
                        <div class=" table-wrapper p0 c-table pt5 table-responsive"
                             ng-if="field.required_loan_amount_currency.length>0">
                            <table class="table table-striped table-bordered table-hover display table-style">
                                <thead>
                                <tr>
                                    <th>{{'project.project_facility_name' | translate}}</th>
                                    <th>{{'Amount' | translate}}</th>
                                    <th>{{'Currency' | translate}}</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="item in field.required_loan_amount_currency">
                                    <td>{{item.project_facility_name}}</td>
                                    <td>{{item.facility_amount | currency:''}}</td>
                                    <td>{{item.currency}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>