<div class="col-sm-12 p0 mt10" id="general_information" data-="businessKey in businessKeyData">
    <div class="div-header">
        <h3 class="f14 roboto-bold text-capitalize p10 ">{{'project.project_detailed_appraisal_report' | translate}}</h3>
    </div>
    <div class="col-sm-12 white-bg p15">
        <div class="pb10 form-wrap clearfix mb10 ">
            <h4 class="darkcolor f14 mb5 " id="basic_information">{{'project.project_h_introduction' | translate}}</h4>
            <div class="col-sm-6">
                <label class="label-text">{{'project.project_team' | translate}}</label>
                <p class="mb5" ng-repeat="t in field.team">{{t.user_name}} ({{t.phase_name}})</p>
            </div>
            <div class="col-sm-6">
                <label class="label-text">{{'project.project_client_borrower' | translate}}</label>
                <p class="mb5" >{{field.borrower}}</p>
            </div>

            <div class="col-sm-6">
                <label class="label-text display-block pb2">{{'nature_of_business' | translate}}</label>
                <p class="mb5 col-sm-12 pl0">
                    <span>{{'Sector' | translate}}</span> : {{field.sector}}
                </p>
                <p class="mb5 col-sm-12 pl0">
                    <span>{{'Subsector' | translate}}</span> :{{field.sub_sector}}
                </p>
                <p class="mb5 col-sm-12 pl0">
                    <span>{{'Focus_area' | translate}}</span> :{{field.focus_area}}
                </p>
            </div>

            <div class="col-sm-6">
                <label class="label-text">{{'project.project_address_company_office' | translate}}</label>
                <p class="mb5">
                    <span ng-if="field.company_street_name">{{field.company_street_name}}</span> <span ng-if="field.company_block_number">, {{field.company_block_number}},</span> <span ng-if="field.company_city">, {{field.company_city}}</span> <span ng-if="field.company_region">, {{field.company_region}}</span> <span ng-if="field.company_country">, {{field.company_country}}</span>
                </p>
            </div>
            <div class="col-sm-12">
                <label class="label-text">{{'project.project_legal_status' | translate}}</label>
                <p class="mb5">{{field.company_business_type}}</p>
                <div ng-init="company_ownership_details=(field.company_ownership_details)?jsonConvert(field.company_ownership_details):[]">
                    <table class="table table-view table-customise">
                        <thead>
                        <tr ng-repeat="(key, value) in company_ownership_details" ng-if="$first">
                            <th class="f13 md-word-break" ng-repeat="(chKey, chValue) in value">
                                {{ chKey | underscoreless }}
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="(key, value) in company_ownership_details">
                            <td class="f12">{{value.shareholder_name}}</td>
                            <td class="f12 text-right"><span ng-if="value.no_of_shares != '' ">{{value.no_of_shares | currency:''}}</span></td>
                            <td class="f12 text-right">{{value.ownership_percentage | currency:''}} %</td>
                            <td class="f12 text-right"><span ng-if="value.value_of_shares != '' ">{{value.value_of_shares | currency:''}}</span>
                            </td>
                            <td class="f12">{{value.currency}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-sm-12">
                <label class="label-text">{{'Project_Description' | translate}}</label>
                <div class="cke_editable" ng-bind-html="field.project_description|trusted"></div>
            </div>
            <div class="col-sm-12">
                <label class="label-text">{{'general.general_proposed_access_bank_transaction' | translate}}</label>
                <div ng-init="facilities=(field.facilities)?field.facilities:[]">
                    <table class="table table-view table-customise">
                        <thead>
                        <tr>
                            <th>{{'name' | translate}}</th>
                            <th>{{'Currency' | translate}}</th>
                            <th>{{'Amount' | translate}}</th>
                            <th>{{'contact.maturity_date' | translate}}</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="(key, value) in facilities">
                            <td class="f12">{{value.facility_name}}</td>
                            <td class="f12">{{value.currency}}</td>
                            <td class="f12 text-right">{{value.amount | currency:''}}</td>
                            <td class="f12 text-right">{{value.facility_maturity_date |
                                currency:''}}
                            </td>

                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-sm-12">
                <label class="label-text">{{'general.general_pricing_and_fees' | translate}}</label>
                <div ng-init="facilities=(field.facilities)?field.facilities:[]">
                    <div ng-repeat="facility in facilities">
                        <!--<label>{{facility.facility_name}}</label>-->
                        <table class="table table-view table-customise">
                            <thead>
                            <tr>
                                <th>{{'Facility' | translate}}</th>
                                <th>{{facility.facility_name}}</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="(key, value) in facility.pricing">
                                <td class="f12">{{value.name}}</td>
                                <td class="f12">{{value.facility_field_value | currency:''}} <span ng-if="value.payment_type != 'fee_amount' ">  %  </span>{{value.label}}
                                    <div class="cke_editable" ng-bind-html="value.facility_field_description|trusted"></div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                </div>

            </div>
            <div class=" col-sm-12 col-lg-12">
                <label class="label-text ">{{'project.project_background' | translate}}</label>
                <div class="cke_editable" ng-bind-html="field.project_description|trusted"></div>
            </div>
            <div class=" col-sm-12 col-lg-12">
                <label class="label-text ">{{'general.general_business_and_economic_environment' | translate}}</label>
                <div class="cke_editable" ng-bind-html="field.business_and_economic_environment|trusted"></div>
            </div>

        </div>
        <div class="pb10 form-wrap clearfix mb10 ">
            <div class="pt5 clearfix ">
                <h4 class="darkcolor f14 " id="project_background">{{'project.project_2_h_client' | translate}}</h4>
            </div>
            <div class="col-sm-12 p0">
                <div class=" col-sm-12 col-lg-12">
                    <label class="label-text ">{{'general.general_company_profile' | translate}}</label>
                    <div class="cke_editable" ng-bind-html="field.company_description|trusted"></div>
                </div>
                <div class=" col-sm-6 col-lg-6">
                    <label class="label-text ">{{'nature_of_business' | translate}}</label>
                    <div class="label-info mb5"
                         ng-init="field.company_nature_of_business=(field.company_nature_of_business)?jsonConvert(field.company_nature_of_business):[]">
                        <div ng-bind="multipleCheckbox(field.company_nature_of_business)"></div>
                    </div>
                </div>
                <div class=" col-sm-12 col-lg-12">
                    <label class="label-text ">{{'Owner_ship_details' | translate}}</label>
                    <div ng-init="company_ownership_details=(field.company_ownership_details)?jsonConvert(field.company_ownership_details):[]">
                        <table class="table table-view table-customise">
                            <thead>
                            <tr ng-repeat="(key, value) in company_ownership_details" ng-if="$first">
                                <th class="f13 md-word-break" ng-repeat="(chKey, chValue) in value">
                                    {{ chKey | underscoreless }}
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="(key, value) in company_ownership_details">
                                    <td class="f12">{{value.shareholder_name}}</td>
                                    <td class="f12 text-right"><span ng-if="value.no_of_shares != '' ">{{value.no_of_shares | currency:''}}</span> </td>
                                    <td class="f12 text-right">{{value.ownership_percentage | currency:''}} %</td>
                                    <td class="f12 text-right"> <span ng-if="value.value_of_shares != '' ">{{value.value_of_shares | currency:''}}</span>  </td>
                                    <td class="f12">{{value.currency}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class=" col-sm-12 col-lg-12">
                    <label class="label-text ">{{'project.project_borrower_s_character_assessment_and_credibility' | translate}}</label>
                    <div class="cke_editable" ng-bind-html="field.business_and_economic_environment|trusted"></div>
                </div>
                <div class=" col-sm-12 col-lg-12">
                    <label class="label-text ">{{'project.project_governance_and_management' | translate}}</label>
                    <div class="cke_editable" ng-bind-html="field.governance_management|trusted"></div>
                </div>
            </div>
            <div class="col-sm-12 p0">
                <div class=" col-sm-12 col-lg-12">

                    <label class="label-text ">{{'Past_Performance' | translate}}</label>
                    <div class="cke_editable" ng-bind-html="field.past_performance|trusted"></div>
                </div>
                <div class=" col-sm-12 col-lg-12">

                    <label class="label-text ">{{'Ratio_Analysis' | translate}}</label>
                    <div class="cke_editable" ng-bind-html="field.ratio_analysis|trusted"></div>
                </div>
                <div class=" col-sm-12 col-lg-12">
                    <label class="label-text ">{{'Risk_Grading_Analysis' | translate}}</label>
                    <div class="cke_editable" ng-bind-html="field.risk_grading_analysis|trusted"></div>
                </div>
            </div>
            <div class="col-sm-12 p0">
                <div class=" col-sm-12 col-lg-12">
                    <label class="label-text ">{{'Financial_Projections' | translate}}</label>
                    <div class="cke_editable" ng-bind-html="field.financial_projections|trusted"></div>
                </div>
                <div class=" col-sm-12 col-lg-12">
                    <label class="label-text ">{{'Security_Cover_Analysis' | translate}}</label>
                    <div class="cke_editable" ng-bind-html="field.security_cover_analysis|trusted"></div>
                </div>
            </div>
        </div>
        <div class="pb10 form-wrap clearfix mb10 ">
            <div class="pt5 clearfix ">
                <h4 class="darkcolor f14 " id="project_appraisal">{{'project.project_h_3_project' | translate}}</h4>
            </div>
            <div class="col-sm-12 p0">
                <div class=" col-sm-12 col-lg-12">
                    <label class="label-text ">{{'project.project_project_concept_and_rationale' | translate}}</label>
                    <div class="cke_editable" ng-bind-html="field.project_concept_purpose|trusted"></div>
                </div>
                <div class=" col-sm-12 col-lg-12">
                    <label class="label-text ">{{'project.project_project_objectives_and_description' | translate}}</label>
                    <div class="cke_editable" ng-bind-html="field.project_description|trusted"></div>
                </div>
                <div class=" col-sm-12 col-lg-12">
                    <label class="label-text ">{{'project.project_project_components_and_cost_estimates' | translate}}</label>
                    <div class="cke_editable" ng-bind-html="field.project_components_cost_estimates|trusted"></div>
                </div>
                <div class=" col-sm-12 col-lg-12">
                    <label class="label-text ">{{'project.project_financing_plan_and_role_of_access_bank' | translate}}</label>
                    <div class="cke_editable" ng-bind-html="field.financing_plan_role_of_eadb|trusted"></div>
                </div>
                <div class=" col-sm-12 col-lg-12">
                    <label class="label-text ">{{'project.project_implementation_plan' | translate}}</label>
                    <div class="cke_editable" ng-bind-html="field.implementation_plan|trusted"></div>
                </div>
                <div class=" col-sm-12 col-lg-12">
                    <label class="label-text ">{{'project.project_project_and_operational_management' | translate}}</label>
                    <div class="cke_editable" ng-bind-html="field.project_operational_management|trusted"></div>
                </div>
                <div class=" col-sm-12 col-lg-12">
                    <label class="label-text ">{{'project.project_procurement_and_disbursement' | translate}}</label>
                    <div class="cke_editable" ng-bind-html="field.procurement_disbursement|trusted"></div>
                </div>
                <div class=" col-sm-12 col-lg-12">
                    <label class="label-text ">{{'project.project_market_analysis' | translate}}</label>
                    <div class="cke_editable" ng-bind-html="field.market_analysis|trusted"></div>
                </div>
                <div class=" col-sm-12 col-lg-12">
                    <label class="label-text ">{{'project.project_project_risks_and_uncertainties' | translate}}</label>
                    <div class="cke_editable" ng-bind-html="field.project_risks_uncertainties|trusted"></div>
                </div>
            </div>
        </div>
        <div class="pb10 form-wrap clearfix mb10 ">
            <div class="pt5 clearfix ">
                <h4 class="darkcolor f14 " id="justification">{{'project.project_h_4_justification_of_access_bank’s_involvement' | translate}}</h4>
            </div>
            <div class="col-sm-12 p0">
                <div class=" col-sm-12 col-lg-12">
                    <label class="label-text ">{{'project.project_business_viability' | translate}}</label>
                    <div class="cke_editable" ng-bind-html="field.business_viability|trusted"></div>
                </div>
                <div class=" col-sm-12 col-lg-12">
                    <label class="label-text ">{{'project.project_economic_aspects' | translate}}</label>
                    <div class="cke_editable" ng-bind-html="field.economic_aspects|trusted"></div>
                </div>
                <div class=" col-sm-12 col-lg-12">
                    <label class="label-text ">{{'project.project_environmental_and_social_aspects' | translate}}</label>
                    <div class="cke_editable" ng-bind-html="field.environmental_social_aspects|trusted"></div>
                </div>
            </div>
            <div class="col-sm-12 p0">
                <div class=" col-sm-12 col-lg-12">
                    <label class="label-text ">{{'project.project_access_bank_s_portfolio_analysis' | translate}}</label>
                    <div class="cke_editable" ng-bind-html="field.eadb_portfolio_analysis|trusted"></div>
                </div>
                <div class=" col-sm-12 col-lg-12">
                    <label class="label-text ">{{'project.project_access_bank_s_benefits' | translate}}</label>
                    <div class="cke_editable" ng-bind-html="field.eadb_benefits|trusted"></div>
                </div>
                <div class=" col-sm-12 col-lg-12">
                    <label class="label-text ">{{'project.project_access_bank_s_additionalities' | translate}}</label>
                    <div class="cke_editable" ng-bind-html="field.eadb_additionalities|trusted"></div>
                </div>
            </div>
        </div>
        <div class="pb10 form-wrap clearfix mb10 ">
            <div class="pt5 clearfix ">
                <h4 class="darkcolor f14 " id="conclusion_recommendations">{{'project.project_h_5_conclusions_and_recommendations' | translate}}</h4>
            </div>
            <div class="col-sm-12 p0">
                <div class=" col-sm-12 col-lg-12">
                    <label class="label-text ">{{'Conclusions' | translate}}</label>
                    <div class="cke_editable" ng-bind-html="field.conclusions|trusted"></div>
                </div>
                <div class=" col-sm-12 col-lg-12">
                    <label class="label-text ">{{'Recommendations' | translate}}</label>
                    <div class="cke_editable" ng-bind-html="field.recommendations|trusted"></div>
                </div>
            </div>
        </div>
    </div>
</div>