<div class="col-sm-12 p0" id="general_information" data-="businessKey in businessKeyData">
    <div class="div-header">
        <h3 class="f14 roboto-bold text-capitalize mt30 p10 ">DETAILED APPRAISAL REPORT</h3>
    </div>
    <div class="col-sm-12 white-bg p15">
        <div class="pb10 form-wrap clearfix mb10 ">
            <h4 class="darkcolor bold f14 mb5 " id="basic_information">1.INTRODUCTION</h4>
            <div class="col-sm-12 p0">
                <div class=" col-sm-12 col-lg-12">
                    <div class="">
                        <label class="label-text ">Main Project Features</label>
                        <div class="col-sm-12 col-lg-12">
                            <table class="table table-view table-customise">
                                <tr>
                                    <td>Project Team</td>
                                    <td>---</td>
                                </tr>
                                <tr>
                                    <td>Client/Borrower</td>
                                    <td>{{field.borrower}}</td>
                                </tr>
                                <tr>
                                    <td>Legal Status</td>
                                    <td><label>{{field.company_business_type}}</label>
                                        <div ng-init="company_ownership_details=(field.company_ownership_details)?jsonConvert(field.company_ownership_details):[]">
                                            <table class="table table-view table-customise">
                                                <thead>
                                                <tr ng-repeat="(key, value) in company_ownership_details" ng-if="$first">
                                                    <th class="f13 md-word-break" ng-repeat="(chKey, chValue) in value">
                                                        {{ chKey | underscoreless }}
                                                    </th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr ng-repeat="(key, value) in company_ownership_details">
                                                    <td class="f12">{{value.shareholder_name}}</td>
                                                    <td class="f12 text-right">{{value.ownership_percentage |
                                                        currency:''}}
                                                    </td>
                                                    <td class="f12 text-right">{{value.no_of_shares | currency:''}}</td>
                                                    <td class="f12 text-right">{{value.value_of_shares | currency:''}}
                                                    </td>
                                                    <td class="f12">{{value.currency}}</td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Nature of Business</td>
                                    <td>{{field.sector}} {{field.sub_sector}} {{field.focus_area}}</td>
                                </tr>
                                <tr>
                                    <td>Address Company Office</td>
                                    <td>
                                        <p>{{field.company_street_name}}</p>
                                        <p>{{field.company_block_number}}</p>
                                        <p>{{field.company_city}}</p>
                                        <p>{{field.company_region}}</p>
                                        <p>{{field.company_country}}</p>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Project Description</td>
                                    <td>
                                        <div class="cke_editable" ng-bind-html="field.project_description|trusted"></div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Proposed Access Bank transaction</td>
                                    <td>
                                        <div ng-init="facilities=(field.facilities)?field.facilities:[]">
                                            <table class="table table-view table-customise">
                                                <thead>
                                                <tr>
                                                    <th>Name</th>
                                                    <th>Currency</th>
                                                    <th>Amount</th>
                                                    <th>Maturity date</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr ng-repeat="(key, value) in facilities">
                                                    <td class="f12">{{value.facility_name}}</td>
                                                    <td class="f12">{{value.currency}}</td>
                                                    <td class="f12 text-right">{{value.amount | currency:''}}</td>
                                                    <td class="f12 text-right">{{value.facility_maturity_date |
                                                        currency:''}}
                                                    </td>

                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Pricing and Fees</td>
                                    <td>
                                        <div ng-init="facilities=(field.facilities)?field.facilities:[]">
                                            <div ng-repeat="facility in facilities">
                                                <label>{{facility.facility_name}}</label>
                                                <table class="table table-view table-customise">
                                                    <thead>
                                                    <tr>
                                                        <th>Name</th>
                                                        <th>Payment Type</th>
                                                        <th>Amount</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr ng-repeat="(key, value) in facility.pricing">
                                                        <td class="f12">{{value.name}}</td>
                                                        <td class="f12">{{value.payment_type}}</td>
                                                        <td class="f12">{{value.facility_field_value | currency:''}}</td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>

                                        </div>

                                    </td>
                                </tr>

                            </table>
                        </div>
                    </div>
                </div>
                <div class=" col-sm-12 col-lg-12">
                    <label class="label-text ">Project Background</label>
                    <div class="cke_editable" ng-bind-html="field.project_description|trusted"></div>
                </div>
                <div class=" col-sm-12 col-lg-12">
                    <label class="label-text ">Business and Economic Environment</label>
                    <div class="cke_editable" ng-bind-html="field.business_and_economic_environment|trusted"></div>

                </div>
            </div>
        </div>
        <div class="pb10 form-wrap clearfix mb10 ">
            <div class="pt5 clearfix ">
                <h4 class="darkcolor bold f14 " id="project_background">2.CLIENT</h4>
            </div>
            <div class="col-sm-12 p0">
                <div class=" col-sm-12 col-lg-12">
                    <label class="label-text ">Company Profile</label>
                    <div class="cke_editable" ng-bind-html="field.company_description|trusted"></div>
                </div>
                <div class=" col-sm-6 col-lg-6">
                    <label class="label-text ">Nature of Business</label>
                    <div class="label-info mb5" ng-init="field.company_nature_of_business=(field.company_nature_of_business)?jsonConvert(field.company_nature_of_business):[]">
                        <div ng-bind="multipleCheckbox(field.company_nature_of_business)"></div>
                    </div>
                </div>
                <div class=" col-sm-12 col-lg-12">
                    <label class="label-text ">Owner ship details</label>
                    <div ng-init="company_ownership_details=(field.company_ownership_details)?jsonConvert(field.company_ownership_details):[]">
                        <table class="table table-view table-customise">
                            <thead>
                            <tr ng-repeat="(key, value) in company_ownership_details" ng-if="$first">
                                <th class="f13 md-word-break" ng-repeat="(chKey, chValue) in value">
                                    {{ chKey | underscoreless }}
                                </th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="(key, value) in company_ownership_details">
                                <td class="f12">{{value.name}}</td>
                                <td class="f12 text-right">{{value.ownership_percentage |
                                    currency:''}}
                                </td>
                                <td class="f12 text-right">{{value.no_of_shares | currency:''}}</td>
                                <td class="f12 text-right">{{value.value_of_shares | currency:''}}
                                </td>
                                <td class="f12">{{value.currency}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class=" col-sm-12 col-lg-12">
                        <label class="label-text ">Borrower’s character assessment and credibility</label>
                        <div class="cke_editable" ng-bind-html="field.business_and_economic_environment|trusted"></div>
                </div>
                <div class=" col-sm-12 col-lg-12">
                    <label class="label-text ">Governance and Management</label>
                    <div class="cke_editable" ng-bind-html="field.governance_management|trusted"></div>
                </div>
            </div>
            <div class="col-sm-12 p0">
                <div class=" col-sm-12 col-lg-12">

                    <label class="label-text ">Past Performance</label>
                    <div class="cke_editable" ng-bind-html="field.past_performance|trusted"></div>
                </div>
                <div class=" col-sm-12 col-lg-12">

                    <label class="label-text ">Ratio Analysis</label>
                    <div class="cke_editable" ng-bind-html="field.ratio_analysis|trusted"></div>
                </div>
                <div class=" col-sm-12 col-lg-12">
                    <label class="label-text ">Risk Grading Analysis</label>
                    <div class="cke_editable" ng-bind-html="field.risk_grading_analysis|trusted"></div>
                </div>
            </div>
            <div class="col-sm-12 p0">
                <div class=" col-sm-12 col-lg-12">
                    <label class="label-text ">Financial Projections</label>
                    <div class="cke_editable" ng-bind-html="field.financial_projections|trusted"></div>
                </div>
                <div class=" col-sm-12 col-lg-12">
                    <label class="label-text ">Security Cover Analysis</label>
                    <div class="cke_editable" ng-bind-html="field.security_cover_analysis|trusted"></div>
                </div>
            </div>
        </div>
        <div class="pb10 form-wrap clearfix mb10 ">
            <div class="pt5 clearfix ">
                <h4 class="darkcolor bold f14 " id="project_appraisal">3.PROJECT</h4>
            </div>
            <div class="col-sm-12 p0">
                <div class=" col-sm-12 col-lg-12">
                    <label class="label-text ">Project Concept and Rationale</label>
                    <div class="cke_editable" ng-bind-html="field.project_concept_purpose|trusted"></div>
                </div>
                <div class=" col-sm-12 col-lg-12">
                    <label class="label-text ">Project Objectives and Description</label>
                    <div class="cke_editable" ng-bind-html="field.project_description|trusted"></div>
                </div>
                <div class=" col-sm-12 col-lg-12">
                    <label class="label-text ">Project Components and Cost Estimates</label>
                    <div class="cke_editable" ng-bind-html="field.project_components_cost_estimates|trusted"></div>
                </div>
                <div class=" col-sm-12 col-lg-12">
                    <label class="label-text ">Financing Plan and Role of Access Bank</label>
                    <div class="cke_editable" ng-bind-html="field.financing_plan_role_of_eadb|trusted"></div>
                </div>
                <div class=" col-sm-12 col-lg-12">
                    <label class="label-text ">Implementation Plan</label>
                    <div class="cke_editable" ng-bind-html="field.implementation_plan|trusted"></div>
                </div>
                <div class=" col-sm-12 col-lg-12">
                    <label class="label-text ">Project and Operational Management</label>
                    <div class="cke_editable" ng-bind-html="field.project_operational_management|trusted"></div>
                </div>
                <div class=" col-sm-12 col-lg-12">
                    <label class="label-text ">Procurement and Disbursement</label>
                    <div class="cke_editable" ng-bind-html="field.procurement_disbursement|trusted"></div>
                </div>
                <div class=" col-sm-12 col-lg-12">
                    <label class="label-text ">Market Analysis</label>
                    <div class="cke_editable" ng-bind-html="field.market_analysis|trusted"></div>
                </div>
                <div class=" col-sm-12 col-lg-12">
                        <label class="label-text ">Project Risks and Uncertainties</label>
                        <div class="cke_editable" ng-bind-html="field.project_risks_uncertainties|trusted"></div>
                </div>
            </div>
        </div>
        <div class="pb10 form-wrap clearfix mb10 ">
            <div class="pt5 clearfix ">
                <h4 class="darkcolor bold f14 " id="justification">4.JUSTIFICATION OF Access Bank’s INVOLVEMENT</h4>
            </div>
            <div class="col-sm-12 p0">
                <div class=" col-sm-12 col-lg-12">
                        <label class="label-text ">Business Viability</label>
                        <div class="cke_editable" ng-bind-html="field.business_viability|trusted"></div>
                </div>
                <div class=" col-sm-12 col-lg-12">
                        <label class="label-text ">Economic Aspects</label>
                        <div class="cke_editable" ng-bind-html="field.economic_aspects|trusted"></div>
                </div>
                <div class=" col-sm-12 col-lg-12">
                        <label class="label-text ">Environmental and Social Aspects</label>
                        <div class="cke_editable" ng-bind-html="field.environmental_social_aspects|trusted"></div>
                </div>
            </div>
            <div class="col-sm-12 p0">
                <div class=" col-sm-12 col-lg-12">
                        <label class="label-text ">Access Bank’s Portfolio Analysis</label>
                        <div class="cke_editable" ng-bind-html="field.eadb_portfolio_analysis|trusted"></div>
                </div>
                <div class=" col-sm-12 col-lg-12">
                        <label class="label-text ">Access Bank’s Benefits</label>
                        <div class="cke_editable" ng-bind-html="field.eadb_benefits|trusted"></div>
                </div>
                <div class=" col-sm-12 col-lg-12">
                        <label class="label-text ">Access Bank’s Additionalities</label>
                        <div class="cke_editable" ng-bind-html="field.eadb_additionalities|trusted"></div>
                </div>
            </div>
        </div>
        <div class="pb10 form-wrap clearfix mb10 ">
            <div class="pt5 clearfix ">
                <h4 class="darkcolor bold f14 " id="conclusion_recommendations">5.CONCLUSIONS AND RECOMMENDATIONS</h4>
            </div>
            <div class="col-sm-12 p0">
                <div class=" col-sm-12 col-lg-12">
                        <label class="label-text ">Conclusions</label>
                        <div class="cke_editable" ng-bind-html="field.conclusions|trusted"></div>
                </div>
                <div class=" col-sm-12 col-lg-12">
                        <label class="label-text ">Recommendations</label>
                        <div class="cke_editable" ng-bind-html="field.recommendations|trusted"></div>
                </div>
            </div>
        </div>
    </div>
</div>