<div class="col-sm-12 p0 mt10 relative" id="general_information">
    <div class="div-header" ng-show="!concept_hide_btn">
        <h3 class="f14 roboto-bold text-capitalize p10 ">{{'project.project_general_information' | translate}}</h3>
    </div>
    <div class="col-sm-12 white-bg p15">
        <div class="pb10 form-wrap clearfix mb10 ">
          <!--  <h4 class="darkcolor bold f14 mb5 " id="basic_information">THE APPLICATION</h4>-->
            <div class="col-sm-12 p0">
                <div class=" col-sm-4 col-lg-4">
                    <div class="">
                        <label class="label-text ">{{'Project_Title' | translate}}:</label>
                        <div class="">
                            <p class=" mb5 ">{{field.project_title}}</p>
                        </div>
                    </div>
                </div>
                <div class=" col-sm-4 col-lg-4">
                    <div class="">
                        <label class="label-text ">{{'Borrower' | translate}}:</label>
                        <div class="">
                            <p class=" mb5 ">{{field.borrower}}</p>
                        </div>
                    </div>
                </div>
                <div class=" col-sm-4 col-lg-4">
                    <div class="">
                        <label class="label-text ">{{'Application_Date' | translate}}:</label>
                        <div class="">
                            <p class=" mb5 ">{{field.application_date | utcToLocal}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 p0">
                <div class=" col-sm-4 col-lg-4">
                    <div class="">
                        <label class="label-text ">{{'Country_Office' | translate}}:</label>
                        <div class="">
                            <p class=" mb5 ">{{field.country_office}}</p>
                        </div>
                    </div>
                </div>
                <div class=" col-sm-4 col-lg-4">
                    <div class="">
                        <label class="label-text ">{{'main_sector' | translate}}:</label>
                        <p class=" mb5 ">{{field.main_sector}}</p>
                    </div>
                </div>
                <div class=" col-sm-4 col-lg-4">
                    <div class="">
                        <label class="label-text ">{{'general.general_sub_sector' | translate}}:</label>
                        <p class=" mb5 ">{{field.sub_sector}}</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 p0">
                <div class=" col-sm-12 col-lg-12">
                    <label class="label-text ">{{'project.project_required_loan_amount_and_currency' | translate}}</label>
                    <div class=" table-wrapper p0 c-table pt5 table-responsive"
                         ng-if="field.required_loan_amount_currency.length>0">
                        <table class="table table-striped table-bordered table-hover display table-style">
                            <thead>
                            <tr>
                                <th>{{'project.project_facility_name' | translate}}</th>
                                <th>{{'Amount' | translate}}</th>
                                <th>{{'Currency' | translate}}</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="item in field.required_loan_amount_currency">
                                <td>{{item.project_facility_name}}</td>
                                <td>{{item.facility_amount | currency:''}}</td>
                                <td>{{item.currency}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="pt5 clearfix ">
            <h4 class="darkcolor f14 " >{{'project.project_background_of_the_customer' | translate}}</h4>
        </div>
        <div class=" col-sm-12 col-lg-12 pt5">
                <!--<label class="label-text ">Background of the Customer:</label>-->
                <div class="col-sm-12 cke_editable p0" ng-bind-html="field.background_of_customer | trusted"></div>
        </div>

        <div class="pt5 clearfix ">
            <h4 class="darkcolor f14 " >{{'project.project_approval_request' | translate}}</h4>
        </div>
        <div class=" col-sm-12 col-lg-12 pt5">
                <!--<label class="label-text ">Approval Request:</label>-->
                <div class="col-sm-12 cke_editable p0" ng-bind-html="field.approval_request | trusted"></div>
        </div>

        <div class="pt5 clearfix ">
            <h4 class="darkcolor  f14 " >{{'project.project_critical_credit_issues' | translate}}</h4>
        </div>
        <div class=" col-sm-12 col-lg-12 pt5">
                <!--<label class="label-text ">Critical Credit Issues:</label>-->
                <div class="col-sm-12 cke_editable p0" ng-bind-html="field.critical_credit_issues | trusted"></div>
        </div>

        <div class="pt5 clearfix ">
            <h4 class="darkcolor  f14 " >{{'project.project_risk_return_and_relationship_strategy' | translate}}</h4>
        </div>
        <div class=" col-sm-12 col-lg-12 pt5">
                <!--<label class="label-text ">Risk/Return and Relationship Strategy:</label>-->
                <div class="col-sm-12 cke_editable p0" ng-bind-html="field.risk_and_relationship_strategy | trusted"></div>
        </div>

        <div class="pt5 clearfix ">
            <h4 class="darkcolor  f14 " >{{'project.project_conditions_precedent_to_drawdown' | translate}}</h4>
        </div>
        <div class=" col-sm-12 col-lg-12 pt5">
                <!--<label class="label-text ">Conditions Precedent to Drawdown:</label>-->
                <!--<div class="col-sm-12 cke_editable p0" ng-bind-html="field.project_conditions_checklist | trusted"></div>-->
                <ul>
                    <li ng-repeat="row in field.project_conditions_checklist" class="f12">{{row.assessment_question}}</li>
                </ul>
        </div>

        <div class="pt5 clearfix ">
            <h4 class="darkcolor f14 " >{{'project.project_other_conditions' | translate}}</h4>
        </div>
        <div class=" col-sm-12 col-lg-12 pt5">
                <!--<label class="label-text ">Other Conditions:</label>-->
                <!--<div class="col-sm-12 cke_editable p0" ng-bind-html="field.project_conditions_checklist | trusted"></div>-->
                <ul>
                    <li ng-repeat="row in field.project_others_checklist" class="f12">{{row.assessment_question}}</li>
                </ul>
        </div>

        <div class="pt5 clearfix ">
            <h4 class="darkcolor f14 " >{{'project.project_transaction_dynamics' | translate}}</h4>
        </div>
        <div class=" col-sm-12 col-lg-12 pt5">
                <!--<label class="label-text ">Transaction Dynamics</label>-->
                <div class="col-sm-12 cke_editable p0" ng-bind-html="field.transaction_dynamics | trusted"></div>
        </div>

        <div class="pt5 clearfix ">
            <h4 class="darkcolor f14 " >{{'project.project_way_out_analysis' | translate}}</h4>
        </div>
        <div class=" col-sm-12 col-lg-12 pt5">
            <div class="">
                <!--<label class="label-text ">Way out analysis:</label>-->
                <div class="col-sm-12 cke_editable p0" ng-bind-html="field.ways_out_analysis | trusted"></div>
            </div>
        </div>

        <div class="pt5 clearfix ">
            <h4 class="darkcolor  f14 " >{{'project.project_update_on_banking_relationships_and_existing_facilities' | translate}}</h4>
        </div>
        <div class=" col-sm-12 col-lg-12 pt5">
            <div class="">
                <!--<label class="label-text ">Update on banking relationships and existing facilities:</label>-->
                <div class="col-sm-12 cke_editable p0" ng-bind-html="field.banking_relationships | trusted"></div>
            </div>
        </div>

        <div class="pt5 clearfix ">
            <h4 class="darkcolor  f14 ">{{'project.project_risk_analysis' | translate}}</h4>
        </div>
        <div class=" col-sm-12 col-lg-12 pt5">
            <div class="">
                <!--<label class="label-text ">Risk analysis:</label>-->
                <div class="col-sm-12 cke_editable p0" ng-bind-html="field.risk_analysis | trusted"></div>
            </div>
        </div>

        <div class="pt5 clearfix ">
            <h4 class="darkcolor  f14 " >{{'project.project_country_overview_industry_business_risk' | translate}}</h4>
        </div>
        <div class=" col-sm-12 col-lg-12 pt5">
            <div class="">
                <!--<label class="label-text ">Country overview & Industry / Business risk:</label>-->
                <div class="col-sm-12 cke_editable p0" ng-bind-html="field.country_overview_industry_risk | trusted"></div>
            </div>
        </div>

        <div class="pt5 clearfix ">
            <h4 class="darkcolor f14 " >{{'project.project_ownership_and_management_assessment' | translate}}</h4>
        </div>
        <div class=" col-sm-12 col-lg-12 pt5">
            <div class="">
                <!--<label class="label-text ">Ownership and Management Assessment:</label>-->
                <div ng-init="company_ownership_details=(field.share_holder_info)?jsonConvert(field.share_holder_info):[]">
                    <table class="table table-view table-customise">
                        <thead>
                        <tr ng-repeat="(key, value) in company_ownership_details" ng-if="$first">
                            <th class="f13 md-word-break" ng-repeat="(chKey, chValue) in value">
                                {{ chKey | underscoreless }}
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="(key, value) in company_ownership_details">
                            <td class="f12">{{value.shareholder_name}}</td>
                            <td class="f12 text-right"><span ng-if="value.no_of_shares != '' ">{{value.no_of_shares | currency:''}}</span> </td>
                            <td class="f12 text-right">{{value.ownership_percentage | currency:''}} %</td>
                            <td class="f12 text-right"> <span ng-if="value.value_of_shares != '' ">{{value.value_of_shares | currency:''}}</span>  </td>
                            <td class="f12">{{value.currency}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

        <div class="pt5 clearfix ">
            <h4 class="darkcolor f14 " >{{'project.project_reference_information' | translate}}</h4>
        </div>
        <div class=" col-sm-12 col-lg-12 pt5">
            <div class="">
                <label class="label-text ">{{'project.project_business_and_industry_description' | translate}}:</label>
               <!-- {{field.client_details}}-->
            </div>
        </div>

        <div class="pt5 clearfix ">
            <h4 class="darkcolor f14 " >{{'project.project_corporate_structure_and_organization' | translate}}</h4>
        </div>
        <div class=" col-sm-12 col-lg-12 pt5">
            <div class="">
                <!--<label class="label-text ">Historical Financial Analysis and Outlook:</label>-->
                <div class="col-sm-12 cke_editable p0" ng-bind-html="field.company_address.company_corporate_structure_and_organization"></div>
            </div>
        </div>

        <div class="pt5 clearfix ">
            <h4 class="darkcolor f14 " >{{'project.project_justification_for_the_request_credit_consideration' | translate}}</h4>
        </div>
        <div class=" col-sm-12 col-lg-12 pt5">
            <div class="">
                <!--<label class="label-text ">Justification for the Request / Credit consideration:</label>-->
                <div class="col-sm-12 cke_editable p0" ng-bind-html="field.company_address.company_corporate_structure_and_organization"></div>
            </div>
        </div>

        <div class="pt5 clearfix ">
            <h4 class="darkcolor f14 ">{{'project.project_external_market_data' | translate}}</h4>
        </div>
        <div class=" col-sm-12 col-lg-12 pt5">
            <div class="">
                <!--<label class="label-text ">External Market Data:</label>-->
                <div class="col-sm-12 cke_editable p0" ng-bind-html="field.company_address.company_external_market_data"></div>
            </div>
        </div>
    </div>
</div>