<div class="col-sm-12 white-bg p0">
    <div class="col-sm-12 p0" ng-if="projectDetails.project_stage_info_id">
        <div class="p0 p-data col-lg-12">
            <div class="div-header clearfix">
                <h3 class="f14 roboto-bold text-capitalize p10 ">
                    {{facilityInfo.facility_name}} <span ng-if="facilityInfo.contract_id">({{facilityInfo.contract_id  }})</span>
                    <i class="icon-times pull-right mr5 f18 cursor-pointer" ng-click="cancle()"></i>
                </h3>
            </div>
            <div class="white-bg clearfix">
                <div class="col-sm-12 white-bg p0 ptb10">
                    <div class="facility-setup-form fac-form  clearfix">
                        <!-- Gerenral div -->
                        <div class="clearboth clearfix racc-open" id="general">
                            <div class="col-sm-12 clearfix  p0 pr10">
                                <h6 class="col-sm-11 p10">General</h6>
                            </div>
                            <div class="col-sm-12 clearfix p0 ptb10" >
                                <div class="col-sm-12 p0">
                                    <form name="generalForm" novalidate>
                                        <div class="col-sm-12 p0">
                                            <div class="col-sm-4" ng-if="facilityInfo.contract_id">
                                                <div class="form-group clearfix form-group-custom mb10">
                                                    <label class="label-text "> {{'Contract Id' | translate}}
                                                        : </label>
                                                    <div class="label-info" > {{ facilityInfo.contract_id | checkEmpty }}</div>
                                                </div>
                                            </div>
                                            <div class="col-sm-4 " ng-if="facilityInfo.facility_name">
                                                <div class="form-group clearfix form-group-custom">
                                                    <label class="label-text "> {{'Facility Name' |
                                                        translate}}: </label>
                                                    <div class="label-info">{{facilityInfo.facility_name }}</div>
                                                </div>
                                            </div>
                                            <div class="col-sm-12 " ng-if="facilityInfo.facility_description">
                                                <label class="label-text "> {{'Description' | translate}}: </label>
                                                <div class="label-info darkcolor" ng-bind-html="facilityInfo.facility_description"></div>
                                            </div>
                                        </div>

                                        <div class="col-sm-4" ng-if="facilityInfo.facility_type" >
                                            <div class="form-group form-group-custom mb10">
                                                <label class="label-text "> {{'Facility Type ' | translate}}
                                                    : </label>
                                                <select class="form-control f12 select-darkcolor" disabled="true"
                                                        ng-init="masterDropDownList({'master_key':'facility_type'});masterDropDownList({'master_key':'facility_sub_type','parent_id':facilityInfo.facility_type})"
                                                        ng-change="masterDropDownList({'master_key':'facility_sub_type','parent_id':facilityInfo.facility_type});"
                                                        ng-model="facilityInfo.facility_type"
                                                        name="facility_type"
                                                        ng-options="item.id as item.name for item in dropDownItems['facility_type']">
                                                    <option value="">------</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-sm-4" ng-if="facilityInfo.facility_sub_type"
                                             ng-show="dropDownItems['facility_sub_type'].length > 0 && facilityInfo.facility_type > 0">
                                            <div class="form-group form-group-custom mb10">
                                                <label class="label-text "> {{'Facility Subtype ' |
                                                    translate}}
                                                    : </label>
                                                <select class="form-control f12 select-darkcolor" disabled="true"
                                                        ng-model="facilityInfo.facility_sub_type"
                                                        name="facility_sub_type"
                                                        ng-options="item.id as item.name for item in dropDownItems['facility_sub_type']">
                                                    <option value="">------</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="col-sm-4" ng-if="facilityInfo.facility_term" >
                                            <div class="form-group form-group-custom mb10">
                                                <label class="label-text "> {{'Facility Line Type ' |
                                                    translate}}
                                                    : </label>
                                                <select class="form-control f12 select-darkcolor" disabled="true"
                                                        ng-init="masterDropDownList({'master_key':'facility_term'})"
                                                        ng-model="facilityInfo.facility_term"
                                                        name="facility_term"
                                                        ng-options="item.id as item.name for item in dropDownItems['facility_term']">
                                                    <option value="">------</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-sm-4" ng-if="facilityInfo.loan_payment_type">
                                            <div class="form-group form-group-custom mb10">
                                                <label class="label-text "> {{'Type of Loan Payment ' |
                                                    translate}}
                                                    : </label>
                                                <select class="form-control f12 select-darkcolor" disabled="true"
                                                        ng-init="masterDropDownList({'master_key':'type_of_loan_payment'})"
                                                        ng-model="facilityInfo.loan_payment_type"
                                                        name="loan_payment_type"
                                                        ng-options="item.id as item.name for item in dropDownItems['type_of_loan_payment']">
                                                    <option value="">------</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-sm-4"  ng-if="facilityInfo.payment_modalities" >
                                            <div class="form-group form-group-custom mb10">
                                                <label class="label-text "> {{'Payment Modalities ' |
                                                    translate}}
                                                    : </label>
                                                <select class="form-control f12 select-darkcolor" disabled="true"
                                                        ng-init="masterDropDownList({'master_key':'payment_modalities'})"
                                                        ng-model="facilityInfo.payment_modalities"
                                                        name="payment_modalities"
                                                        ng-options="item.id as item.name for item in dropDownItems['payment_modalities']">
                                                    <option value="">------</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-sm-4 p0">

                                            <!--<div class="col-sm-4" ng-if="facilityInfo.currency_id"  >
                                                <div class="form-group clearfix form-group-custom mb10">
                                                    <div class="">
                                                        <label class="label-text ">
                                                            {{'Loan Currency' | translate}} :
                                                        </label>
                                                        <select class="form-control f12 select-darkcolor" disabled="true"
                                                                ng-model="facilityInfo.currency_id"
                                                                ng-init="getCurrencyList()"
                                                                name="currency_id"
                                                                ng-change="showUsdAmount(facilityInfo.currency_id)"
                                                                ng-options="item.currency_id as item.currency_code for item in currencyList"
                                                                required>
                                                            <option value="">------</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>-->
                                            <div class="col-sm-12" ng-if="facilityInfo.facility_amount">
                                                <div class="col-sm-11 pl0 form-group clearfix form-group-custom mb10">
                                                    <label class="label-text display-block"> {{'Loan Amount' }} : </label>
                                                    <div>
                                                        <select class="form-control f12 select-darkcolor display-inline-block" style="width: 30px;" disabled="true"
                                                                ng-model="facilityInfo.currency_id"
                                                                ng-init="getCurrencyList()"
                                                                name="currency_id"
                                                                ng-change="showUsdAmount(facilityInfo.currency_id)"
                                                                ng-options="item.currency_id as item.currency_code for item in currencyList"
                                                                required>
                                                            <option value="">------</option>
                                                        </select>
                                                        <div class="label-info display-inline-block"> {{ facilityInfo.facility_amount  | currency:'' }}</div>
                                                        <div ng-if="facilityInfo.currency_id != 12" class="label-info display-inline-block">(USD {{facilityInfo.facility_usd_amount | currency:'' }})</div>
                                                    </div>

                                                </div>
                                            </div>
                                            <!--<div class="col-sm-4" ng-if="facilityInfo.facility_usd_amount">
                                                <div class="form-group clearfix form-group-custom mb10"
                                                     ng-if="facilityInfo.facility_usd_amount">
                                                    <label class="label-text "> {{'Equal to USD amount' |
                                                        translate}} : </label>
                                                    <div class="label-info">{{facilityInfo.facility_usd_amount | currency:'' }}</div>
                                                </div>
                                            </div>-->
                                            <div class="col-sm-12 " ng-show="facilityInfo.amount_description">
                                                <label class="label-text "> {{'Description' |
                                                    translate}}: </label>
                                                <div class="cke_editable darkcolor" ng-bind-html="facilityInfo.amount_description | checkEmpty"></div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4" ng-if="facilityInfo.facility_tenor" >
                                            <div class="col-sm-8 pl0">
                                                <div class="form-group clearfix form-group-custom mb10">
                                                    <label class="label-text "> {{'Tenor' |
                                                        translate}}: </label>
                                                    <div class="label-info"> {{facilityInfo.facility_tenor }}(Months)</div>
                                                </div>
                                            </div>
                                            <!--<div class="col-sm-4 pl0 pt20 ">
                                                <span class="f12 ml5">Months</span>
                                                <a href="javascript:;"
                                                   ng-click="facility_tenor_description =!facility_tenor_description "
                                                   uib-tooltip="Show note"><i
                                                        class="icon-clipped-file2 f21 mt5"></i></a>
                                            </div>-->
                                        </div>
                                        <div class="col-sm-12 " ng-show="facilityInfo.facility_tenor_description">
                                            <label class="label-text "> {{'Description' |
                                                translate}}: </label>
                                            <div class="cke_editable darkcolor" ng-bind-html="facilityInfo.facility_tenor_description | checkEmpty"></div>
                                        </div>
                                        <div class="col-sm-4" ng-if="facilityInfo.facility_source_of_payment">
                                            <div class="form-group form-group-custom mb10">
                                                <label class="label-text "> {{'Source Of Funds ' | translate}}
                                                    : </label>
                                                <select class="form-control f12 select-darkcolor" disabled="true"
                                                        ng-init="masterDropDownList({'master_key':'source_of_funds'})"
                                                        ng-model="facilityInfo.facility_source_of_payment"
                                                        name="facility_source_of_payment"
                                                        ng-options="item.id as item.name for item in dropDownItems['source_of_funds']">
                                                    <option value="">------</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-sm-4" ng-if="facilityInfo.credit_risk">
                                            <div class="form-group form-group-custom mb10">
                                                <label class="label-text "> {{'Credit Risk ' | translate}}
                                                    : </label>
                                                <select class="form-control f12 select-darkcolor" disabled="true"
                                                        ng-init="masterDropDownList({'master_key':'credit_risk'})"
                                                        ng-model="facilityInfo.credit_risk" name="credit_risk"
                                                        ng-options="item.id as item.name for item in dropDownItems['credit_risk']">
                                                    <option value="">------</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-lg-12 p0" ng-if="facilityInfo.lender_type">
                                            <div class="form-group form-group-custom mb10 col-sm-4">
                                                <label class="label-text "> {{'Lender Type ' | translate}}
                                                    : </label>
                                                <select class="form-control f12 select-darkcolor" disabled="true"
                                                        ng-init="masterDropDownList({'master_key':'lender_type'})"
                                                        ng-model="facilityInfo.lender_type" name="lender_type"
                                                        ng-options="item.id as item.name for item in dropDownItems['lender_type']">
                                                    <option value="">------</option>
                                                </select>
                                            </div>
                                            <div ng-switch="facilityInfo.lender_type"
                                                 class="form-group form-group-custom mb10 col-sm-4">
                                                <any ng-switch-when="28">
                                                    <label class="label-text "> How much given away (%)
                                                        : </label>
                                                    <div class="label-info">{{facilityInfo.lender_percentage | checkEmpty }}</div>
                                                </any>
                                                <any ng-switch-when="29">
                                                    <label class="label-text "> What is our share in the total
                                                        (%)
                                                        : </label>
                                                    <div class="label-info">{{facilityInfo.lender_percentage  | checkEmpty }}</div>
                                                </any>

                                            </div>
                                        </div>
                                        <div class="col-sm-12" ng-if="facilityInfo.facility_purpose">
                                            <label class="label-text ">
                                                {{'Facility Purpose' | translate}}:
                                            </label>
                                            <div class="form-group clearfix form-group-custom mb10">
                                                <div class="cke_editable darkcolor" ng-bind-html="facilityInfo.facility_purpose | checkEmpty"></div>
                                            </div>
                                        </div>
                                        <div class="col-sm-12" ng-if="facilityInfo.other_facility_modalities">
                                            <label class="label-text ">
                                                {{'Other Facility Modalities' | translate}}:
                                            </label>
                                            <div class="form-group clearfix form-group-custom mb10">
                                                <div class="cke_editable darkcolor" ng-bind-html="facilityInfo.other_facility_modalities | checkEmpty"></div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4" ng-if="facilityInfo.facility_expected_start_date">
                                            <div class="form-group clearfix form-group-custom">
                                                <label class="label-text"  >{{'Expected Start Date' | translate}}:</label>
                                                <div class="input-group">
                                                    <div class="label-info">{{facilityInfo.facility_expected_start_date | checkEmpty }}</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4" ng-if="facilityInfo.facility_maturity_date" >
                                            <div class="form-group clearfix form-group-custom">
                                                <label class="label-text"  >{{'Expected Maturity Date' | translate}}:</label>
                                                <div class="input-group">
                                                    <div class="label-info">{{facilityInfo.facility_maturity_date | checkEmpty }}</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4" ng-if="facilityInfo.drawdown_expiry_date">
                                            <div class="form-group clearfix form-group-custom">
                                                <label class="label-text" >{{'Drawdown Expiry date' | translate}}:</label>
                                                <div class="input-group">
                                                    <div class="label-info">{{facilityInfo.drawdown_expiry_date | checkEmpty }}</div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                </div>


                            </div>
                        </div>
                        <!-- pricing div -->
                        <div class="clearboth clearfix mt5 racc-open" id="pricing">
                            <div class="col-sm-12 clearfix p0 pr10">
                                <h6 class="col-sm-11 p10">Pricing</h6>
                            </div>
                            <div class="col-sm-12 clearfix p0 ptb10 " >
                                <ng-form name="form">
                                    <div class="col-sm-12 p0 mb20" ng-repeat="field in pricingList"
                                         ng-init="p=field">
                                        <h3 class="darkcolor bold f14 display-block ml15">
                                            {{field.field_name}}</h3>

                                        <div class="col-sm-12 p0" ng-if="p.payment_type=='interest_as'">
                                            <div class="col-sm-12">
                                                <div class="form-group clearfix form-group-custom">
                                                    <!--<label class="label-text ">
                                                        {{'Term' | translate}} :
                                                    </label>-->
                                                    <div>
                                                        <div class="label-info display-inline-block">{{p.facility_field_value | checkEmpty }}%</div>
                                                        <select ng-init="getTimePeriod()" class="form-control f12 select-darkcolor display-inline-block" style="width: 200px"
                                                                disabled="true"
                                                                ng-model="p.time_period_id"
                                                                name="time_period_id"
                                                                ng-options="item.id_time_period as item.period_name for item in timePeriod">
                                                        </select>
                                                        <div class="cke_editable darkcolor" ng-bind-html="p.facility_field_description"></div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--<div class="col-sm-3">
                                                <div class="form-group clearfix form-group-custom">
                                                    <label class="label-text "> {{'Percentage (%)' | translate}}: </label>
                                                    <div class="label-info">{{p.facility_field_value | checkEmpty }}</div>
                                                </div>
                                            </div>-->
                                            <!--<div class="col-sm-2 pl0 pt20 ">
                                                <a href="javascript:;"
                                                   ng-click="p.pricing_desc =!p.pricing_desc "
                                                   uib-tooltip="Show note"><i
                                                        class="icon-clipped-file2 f21 mt5"></i></a>
                                            </div>-->
                                        </div>
                                        <div class="col-sm-12 p0" ng-if="p.payment_type=='fee_amount'">
                                            <div class="col-sm-12">

                                                <div class="form-group clearfix form-group-custom">
                                                    <!--<label class="label-text ">
                                                        {{'Currency' | translate}} :
                                                    </label>-->
                                                    <div>
                                                        <div class="label-info display-inline-block">{{p.facility_field_value | checkEmpty }}%</div>
                                                        <select ng-init="getCurrencyList()" class="form-control f12 select-darkcolor display-inline-block" style="width: 200px"
                                                                disabled="true"
                                                                ng-model="p.currency_id" name="currency_id"
                                                                ng-options="item.currency_id as item.currency_code for item in currencyList">

                                                        </select>
                                                        <div class="cke_editable darkcolor" ng-bind-html="p.facility_field_description"></div>
                                                    </div>

                                                </div>
                                            </div>
                                            <!--<div class="col-sm-3">

                                                <div class="form-group clearfix form-group-custom">
                                                    <label class="label-text ">
                                                        {{'Amount' | translate}} :
                                                    </label>
                                                    <div class="label-info">{{p.facility_field_value | checkEmpty }}</div>
                                                </div>
                                            </div>-->
                                            <!--<div class="col-sm-2 pl0 pt20 ">
                                                <a href="javascript:;"
                                                   ng-click="p.pricing_desc =!p.pricing_desc "
                                                   uib-tooltip="Show note"><i
                                                        class="icon-clipped-file2 f21 mt5"></i></a>
                                            </div>-->

                                        </div>
                                        <div class="col-sm-12 p0" ng-if="p.payment_type=='fee_as'">
                                            <div class="col-sm-12">

                                                <div class="form-group clearfix form-group-custom">
                                                    <!--<label class="label-text ">
                                                        {{'Amount Type' | translate}} :
                                                    </label>-->
                                                    <div>
                                                        <div class="label-info display-inline-block">{{p.facility_field_value | checkEmpty }}%</div>
                                                        <select ng-init="getAmountType()" class="form-control f12 select-darkcolor display-inline-block" style="width: 200px"
                                                                disabled="true"
                                                                ng-model="p.facility_amount_type"
                                                                name="facility_amount_type"
                                                                ng-options="item.id_facility_amount_type as item.facility_amount_type for item in amountType">

                                                        </select>
                                                        <div class="cke_editable darkcolor" ng-bind-html="p.facility_field_description"></div>
                                                    </div>

                                                </div>
                                            </div>
                                            <!--<div class="col-sm-3">

                                                <div class="form-group clearfix form-group-custom">
                                                    <label class="label-text ">
                                                        {{'Percentage' | translate}} (%) : </label>
                                                    <div class="label-info">{{p.facility_field_value | checkEmpty }}</div>
                                                </div>
                                            </div>-->
                                            <!--<div class="col-sm-2 pl0 pt20 ">
                                                <a href="javascript:;"
                                                   ng-click="p.pricing_desc =!p.pricing_desc "
                                                   uib-tooltip="Show note"><i
                                                        class="icon-clipped-file2 f21 mt5"></i></a>
                                            </div>-->

                                        </div>
                                        <!--<div ng-show="p.facility_field_description" class="col-sm-12">
                                            <label class="label-text ">
                                                {{'Description' | translate}}:
                                            </label>
                                            <div class="form-group clearfix form-group-custom">
                                                <div class="cke_editable darkcolor" ng-bind-html="p.facility_field_description | checkEmpty"></div>
                                            </div>
                                        </div>-->

                                    </div>
                                </ng-form>
                            </div>
                        </div>
                        <!-- End pricing div -->
                        <!-- Term and condition div -->
                        <div class="acc-box clearboth clearfix mt5 racc-open" id="terms_conditions">
                            <div class="col-sm-12 clearfix p0 pr10">
                                <h6 class="col-sm-11 p10">Terms & Conditions</h6>
                            </div>
                            <div class="col-sm-12 clearfix p0 ptb10" >
                                <div class="col-sm-12 p0 " ng-repeat="field in termsConditionsList"
                                     ng-init="f=field">
                                    <h3 class=" darkcolor bold f14 display-block ml15 mt8 mb3">{{field.field_name}}</h3>
                                    <div class="col-sm-12">
                                        <div class="form-group clearfix form-group-custom ">
                                            <div class="cke_editable darkcolor" ng-bind-html="f.facility_field_description"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Term and condition div -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>