<div class="col-sm-12 white-bg p0">
    <div class="col-sm-12 p0" ng-if="projectDetails.project_stage_info_id">
        <div class="p0 p-data col-lg-12">
            <div class="div-header clearfix">
                <h3 class="f14 roboto-bold text-capitalize p10 ">
                    {{facilityInfo.project_facility_name}} <span ng-if="facilityInfo.contract_id">({{facilityInfo.contract_id  }})</span>
                    <i class="icon-times pull-right mr5 f18 cursor-pointer" ng-click="cancel()"></i>
                </h3>
            </div>
            <div class="white-bg clearfix">
                <div class="col-sm-12 white-bg p0 ptb10">
                    <div class="facility-setup-form fac-form  clearfix">
                        <!-- Gerenral div -->
                        <div class="clearboth clearfix racc-open" id="general">
                            <!--<div class="col-sm-12 clearfix  p0 pr10">
                                <h6 class="col-sm-11 p10">General</h6>
                            </div>-->
                            <div class="col-sm-12 clearfix p0" >
                                <div class="col-sm-12 p0">
                                        <div class="col-sm-12 p0">
                                            <div class="col-sm-12 " ng-if="facilityInfo.facility_description">
                                                <label class="label-text "> {{'Description' | translate}}: </label>
                                                <div class="label-info darkcolor" ng-bind-html="facilityInfo.facility_description"></div>
                                            </div>
                                        </div>
                                        <div class="col-sm-12">
                                            <table class="table table-view table-customise">
                                                <tbody>
                                                <tr ng-if="facilityInfo.facility_type_name"><td class="f12">{{'project.project_facility_type' | translate}}:</td><td class="f12">{{facilityInfo.facility_type_name}}</td></tr>
                                                <tr ng-if="facilityInfo.facility_sub_type"><td class="f12">{{'project.project_facility_subtype ' | translate}}:</td><td class="f12">{{facilityInfo.facility_sub_type_name}}</td></tr>
                                                <tr ng-if="facilityInfo.facility_term"><td class="f12">{{'project.project_facility_line_type '  | translate}}:</td><td class="f12">{{facilityInfo.facility_term_name}}</td></tr>
                                                <!--<tr ng-if="facilityInfo.loan_payment_type"><td class="f12">{{'Type of Loan Payment '  | translate}}:</td><td class="f12">{{facilityInfo.loan_payment_type}}</td></tr>
                                                <tr ng-if="facilityInfo.payment_modalities"><td class="f12">{{'Payment Modalities '  | translate}}:</td><td class="f12">{{facilityInfo.payment_modalities}}</td></tr>-->
                                                </tbody>
                                            </table>
                                        </div>
                                        <div class="col-sm-12">
                                            <div class="col-sm-12 pl0 " ng-if="facilityInfo.facility_amount">
                                                <label class="label-text display-block"> {{'project.project_loan_amount' }} : </label>
                                                <div>
                                                    <div class="label-info display-inline-block mb0" >{{facilityInfo.currency_code}}</div>
                                                    <div class="label-info display-inline-block mb0"> {{ facilityInfo.facility_amount  | currency:'' }}</div>
                                                    <div ng-if="facilityInfo.currency_code != 'USD'" class="label-info display-inline-block mb0">(USD {{facilityInfo.facility_usd_amount | currency:'' }})</div>
                                                </div>
                                                <div class="col-sm-12" ng-show="facilityInfo.amount_description">
                                                    <div class="cke_editable darkcolor" ng-bind-html="facilityInfo.amount_description | checkEmpty"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--<div class="col-sm-12 " ng-show="facilityInfo.amount_description">
                                            <label class="label-text "> {{'Description' | translate}}: </label>
                                            <div class="cke_editable darkcolor" ng-bind-html="facilityInfo.amount_description | checkEmpty"></div>
                                        </div>-->
                                        <div class="col-sm-12" ng-if="facilityInfo.facility_tenor" >
                                            <div class="col-sm-8 pl0">
                                                <div class="form-group clearfix form-group-custom">
                                                    <label class="label-text "> {{'project.project_tenor' | translate}}: </label>
                                                    <div class="label-info mb0"> {{facilityInfo.facility_tenor }}(Months)</div>
                                                </div>
                                            </div>
                                            <div class="col-sm-12" ng-show="facilityInfo.facility_tenor_description">
                                                <div class="cke_editable darkcolor" ng-bind-html="facilityInfo.facility_tenor_description | checkEmpty"></div>
                                            </div>
                                        </div>
                                        <div class="col-sm-12" ng-if="facilityInfo.facility_purpose">
                                            <label class="label-text ">{{'project.project_facility_purpose' | translate}}:</label>
                                            <div class="form-group clearfix form-group-custom">
                                                <div class="cke_editable darkcolor" ng-bind-html="facilityInfo.facility_purpose | checkEmpty"></div>
                                            </div>
                                        </div>
                                        <div class="col-sm-12" ng-if="facilityInfo.other_facility_modalities">
                                            <label class="label-text ">{{'project.project_other_facility_modalities' | translate}}:</label>
                                            <div class="form-group clearfix form-group-custom">
                                                <div class="cke_editable darkcolor" ng-bind-html="facilityInfo.other_facility_modalities | checkEmpty"></div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4" ng-if="facilityInfo.facility_expected_start_date">
                                            <div class="form-group clearfix form-group-custom">
                                                <label class="label-text"  >{{'project.project_expected_start_date' | translate}}:</label>
                                                <div class="input-group">
                                                    <div class="label-info">{{facilityInfo.facility_expected_start_date | checkEmpty }}</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4" ng-if="facilityInfo.facility_maturity_date" >
                                            <div class="form-group clearfix form-group-custom">
                                                <label class="label-text"  >{{'project.project_expected_maturity_date' | translate}}:</label>
                                                <div class="input-group">
                                                    <div class="label-info">{{facilityInfo.facility_maturity_date | checkEmpty }}</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4" ng-if="facilityInfo.drawdown_expiry_date">
                                            <div class="form-group clearfix form-group-custom">
                                                <label class="label-text" >{{'project.project_drawdown_expiry_date' | translate}}:</label>
                                                <div class="input-group">
                                                    <div class="label-info">{{facilityInfo.drawdown_expiry_date | checkEmpty }}</div>
                                                </div>
                                            </div>
                                        </div>
                                </div>
                            </div>
                        </div>
                        <!-- pricing div -->
                        <div class="clearboth clearfix racc-open" id="pricing">
                            <!--<div class="col-sm-12 clearfix p0 pr10">
                                <h6 class="col-sm-11 p10">Pricing</h6>
                            </div>-->
                            <div class="col-sm-12 clearfix p0" >
                                <div class="col-sm-12">
                                    <label class="label-text">{{'project.general_pricing_and_fees' | translate}}</label>
                                    <div ng-init="facilities=(pricingList)?pricingList:[]">
                                            <!--<label>{{facility.facility_name}}</label>-->
                                            <table class="table table-view table-customise">
                                                <thead>
                                                <tr>
                                                    <th>{{'Facility' | translate}}</th>
                                                    <th>{{'project.project_long_term_loan' | translate}}</th>
                                                </tr>
                                                </thead>
                                                <tbody>
                                                <tr ng-repeat="(key, value) in pricingList">
                                                    <td class="f12">{{value.field_name}}</td>
                                                    <td class="f12">
                                                        <span ng-if="value.payment_type == 'fee_amount' "> {{value.label}} </span>
                                                        {{value.facility_field_value | currency:''}}
                                                        <span ng-if="value.payment_type != 'fee_amount' ">  % {{value.label}} </span>
                                                        <div class="cke_editable" ng-bind-html="value.facility_field_description|trusted"></div>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End pricing div -->
                        <!-- Term and condition div -->
                        <div class="acc-box clearboth clearfix mt5 racc-open" id="terms_conditions">
                            <!--<div class="col-sm-12 clearfix p0 pr10">
                                <h6 class="col-sm-11 p10">Terms & Conditions</h6>
                            </div>-->
                            <div class="col-sm-12 clearfix p0 ptb10" >
                                <div class="col-sm-12 p0 " ng-repeat="field in facilityInfo.terms_conditions"
                                     ng-init="f=field">
                                    <h3 class=" darkcolor bold f14 display-block ml15 mt8 mb3">{{field.field_name}}</h3>
                                    <div class="col-sm-12">
                                        <div class="form-group clearfix form-group-custom ">
                                            <div class="cke_editable darkcolor" ng-bind-html="f.facility_field_description"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Term and condition div -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>