<div class="col-sm-12 p0" id="general_information">
    <div class="div-header">
        <h3 class="f14 roboto-bold text-capitalize mt10 p10 ">{{'project.project_pre_appraisal' | translate}}</h3>
    </div>
    <div class="col-sm-12 white-bg p15">
        <div class="pb10 form-wrap clearfix mb10 ">
            <h4 class="darkcolor bold f14 mb5 " id="basic_information">{{'project.project_h_1_summary_of_the_proposal' | translate}}</h4>
            <div class="col-sm-12 p0">
                <div class=" col-sm-12 col-lg-12">
                    <label class="label-text ">{{'project.project_statement_of_the_application' | translate}}</label>
                    <div class="col-sm-12 cke_editable" ng-bind-html="field.statement_of_the_application | trusted"></div>
                </div>
                <div class=" col-sm-12 col-lg-12">
                    <label class="label-text ">{{'project.project_project_background_information' | translate}}</label>
                    <div class="col-sm-12 cke_editable" ng-bind-html="field.project_background | trusted"></div>
                </div>
                <div class=" col-sm-12 col-lg-12">
                    <label class="label-text ">{{'project.project_rationale_of_the_client_to_apply' | translate}}</label>
                    <div class="col-sm-12 cke_editable" ng-bind-html="field.rationale_of_the_client_to_apply | trusted"></div>
                </div>
            </div>
            <div class="col-sm-12 p0">
                <div class=" col-sm-12 col-lg-12">
                    <label class="label-text ">{{'project.project_project_concept_and_scope' | translate}}</label>
                    <div class="col-sm-12 cke_editable" ng-bind-html="field.project_concept_purpose | trusted"></div>
                </div>
                <div class=" col-sm-12 col-lg-12">
                    <label class="label-text ">{{'project.project_expected_economic_benefit_and_additionalities' | translate}}</label>
                    <div class="col-sm-12 cke_editable" ng-bind-html="field.expected_economic_benefits_and_additionalities | trusted"></div>
                </div>
            </div>
        </div>
        <div class="pb10 form-wrap clearfix mb10 ">
            <div class="pt5 clearfix ">
                <h4 class="darkcolor bold f14 " id="project_background">{{'project.project_h_2_project_and_company_assessment' | translate}}</h4>
            </div>
            <div class=" col-sm-12 col-lg-12">
                <label class="label-text ">{{'project.project_shareholder_structure' | translate}}:</label>
                <div class="col-sm-12 cke_editable" ng-bind-html="field.shareholder_structure | trusted"></div>
            </div>
            <div class=" col-sm-12 col-lg-12">
                <label class="label-text ">{{'project.project_sponsors_and_promoters' | translate}}</label>
                <div class="col-sm-12 cke_editable" ng-bind-html="field.sponsors_and_promoters | trusted"></div>
            </div>
            <div class=" col-sm-12 col-lg-12">
                <label class="label-text ">{{'project.project_products_operations' | translate}}</label>
                <div class="col-sm-12 cke_editable" ng-bind-html="field.products_operations | trusted"></div>
            </div>
            <div class=" col-sm-12 col-lg-12">
                <label class="label-text ">{{'project.project_markets' | translate}}</label>
                <div class="col-sm-12 cke_editable" ng-bind-html="field.markets | trusted"></div>
            </div>
            <div class=" col-sm-12 col-lg-12">
                <label class="label-text ">{{'project.project_environmental_and_social_considerations' | translate}}</label>
                <div class="col-sm-12 cke_editable" ng-bind-html="field.environmental_and_social_considerations | trusted"></div>
            </div>
            <div class=" col-sm-12 col-lg-12">
                <label class="label-text ">{{'project.project_financial_aspects' | translate}}</label>
                <div class="col-sm-12 cke_editable" ng-bind-html="field.financial_aspects | trusted"></div>
            </div>
        </div>
        <div class="pb10 form-wrap clearfix mb10 ">
            <div class="pt5 clearfix ">
                <h4 class="darkcolor bold f14 " id="risk-assessment">{{'project.project_h_3_risk_assessment' | translate}}</h4>
            </div>
            <div class=" col-sm-12 col-lg-12">
                <label class="label-text ">{{'project.project_risk_grading' | translate}}</label>
                <div class="">
                    <div class="col-sm-12 cke_editable" ng-bind-html="field.risk_grading | trusted"></div>
                </div>
            </div>
            <div class=" col-sm-12 col-lg-12">
                <label class="label-text ">{{'project.project_risk_factor' | translate}}</label>
                <div class="table-wrapper  p0 pt5 table-responsive">
                    <table class="table c-table table-striped table-bordered table-hover display table-style">
                        <thead>
                        <tr>
                            <th>{{'risk' | translate}}</th>
                            <th>{{'type' | translate}}</th>
                            <th>{{'description' | translate}}</th>
                            <th>{{'mitigation' | translate}}</th>
                            <th>{{'risk_grade' | translate}}</th>
                        </tr>
                        </thead>
                        <tbody ng-init="field.risk_factor=(field.risk_factor)?jsonConvert(field.risk_factor):[]">
                        <tr ng-repeat="row in field.risk_factor" >
                            <td>{{row.name}}</td>
                            <td>{{row.parent.risk_name}} / {{row.child.risk_name}} / {{row.subchild.risk_name}}</td>
                            <td>{{row.description}}</td>
                            <td>{{row.mitigation}}</td>
                            <td>{{row.grade}}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>

            </div>
            <div class=" col-sm-12 col-lg-12">
                <label class="label-text ">{{'project.project_comments_on_risk_assessment' | translate}}</label>
                <div class="col-sm-12 cke_editable" ng-bind-html="field.comments_on_risk_assessment | trusted"></div>
            </div>
        </div>
        <div class="pb10 form-wrap clearfix mb10 ">
            <div class="pt5 clearfix ">
                <h4 class="darkcolor bold f14 " id="comments-and-abservation">{{'project.project_h_3_comments_and_observations' | translate}}</h4>
            </div>
            <div class=" col-sm-12 col-lg-12">
                <label class="label-text ">{{'project.project_strengths_and_weaknesses_analysis' | translate}}</label>
                <div class="col-sm-12">

                    <div class="blocks clearfix">
                        <div class="block-box {{business.color}}"
                             data-ng-repeat="business in field.strength_and_weaknesses_analysis">
                            <h4 class="text-capitalize bold f15">{{ business.name }}</h4>
                                <span class="box-text" first-alpha="{{ business.name }}"
                                      backround-color="false"></span>
                            <ul>
                                <li data-ng-repeat="step in business.answers" class="f12">
                                    {{ step.answer }}
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
            <div class=" col-sm-12 col-lg-12">
                <label class="label-text ">{{'project.project_credit_worthiness' | translate}}</label>
                <div class="col-sm-12 cke_editable" ng-bind-html="field.credit_worthiness | trusted"></div>
            </div>
            <div class=" col-sm-12 col-lg-12">
                <div class="">
                    <label class="label-text ">{{'project.project_short_character_assessment' | translate}}</label>
                    <div class="col-sm-12 cke_editable" ng-bind-html="field.short_character_assessment | trusted"></div>
                </div>
            </div>
        </div>
        <div class="pb10 form-wrap clearfix mb10 ">
            <div class="pt5 clearfix ">
                <h4 class="darkcolor bold f14 " id="recommendation">{{'project.project_h_3_recommendations' | translate}}</h4>
            </div>
            <div class=" col-sm-12 col-lg-12">
                <div class="">
                    <label class="label-text ">{{'Recommendations' | translate}}</label>
                    <div class="col-sm-12 cke_editable" ng-bind-html="field.recommendations | trusted"></div>
                </div>
            </div>
        </div>
    </div>
</div>