<div class="col-sm-12 p0 mt10 relative" id="general_information">
    <div class="div-header" ng-show="!concept_hide_btn">
        <h3 class="f14 roboto-bold text-capitalize p10 ">{{'General_Information'| translate}}</h3>
    </div>
    <div class="col-sm-12 white-bg p15" >
        <div class="pb10 form-wrap clearfix mb10 ">
            <h4 class="darkcolor bold f14 mb5 " id="basic_information">{{'project.project_h_1_the_application' | translate}}</h4>
            <div class="col-sm-12 p0">
                <div class=" col-sm-4 col-lg-4">
                    <div class="">
                        <label class="label-text ">{{'Project_Title' | translate}}:</label>
                        <div class="">
                            <p class=" mb5 ">{{field.project_title}}</p>
                        </div>
                    </div>
                </div>
                <div class=" col-sm-4 col-lg-4">
                    <div class="">
                        <label class="label-text ">{{'Borrower' | translate}}:</label>
                        <div class="">
                            <p class=" mb5 ">{{field.borrower}}</p>
                        </div>
                    </div>
                </div>
                <div class=" col-sm-4 col-lg-4">
                    <div class="">
                        <label class="label-text ">{{'Application_Date' | translate}}:</label>
                        <div class="">
                            <p class=" mb5 ">{{field.application_date | utcToLocal}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 p0">
                <div class=" col-sm-4 col-lg-4">
                    <div class="">
                        <label class="label-text ">{{'Country_Office' | translate}}:</label>
                        <div class="">
                            <p class=" mb5 ">{{field.country_office}}</p>
                        </div>
                    </div>
                </div>
                <div class=" col-sm-4 col-lg-4">
                    <div class="">
                        <label class="label-text ">{{'main_sector' | translate}}:</label>
                        <p class=" mb5 ">{{field.main_sector}}</p>
                    </div>
                </div>
                <div class=" col-sm-4 col-lg-4">
                    <div class="">
                        <label class="label-text ">{{'general.general_sub_sector' | translate}}:</label>
                        <p class=" mb5 ">{{field.sub_sector}}</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 p0">
                <div class=" col-sm-12 col-lg-12">
                    <label class="label-text ">{{'project.project_required_loan_amount_and_currency' | translate}}</label>
                    <div class=" table-wrapper p0 c-table pt5 table-responsive"
                         ng-if="field.required_loan_amount_currency.length>0">
                        <table class="table table-striped table-bordered table-hover display table-style">
                            <thead>
                            <tr>
                                <th>{{'project.project_facility_name' | translate}}</th>
                                <th>{{'Amount' | translate}}</th>
                                <th>{{'Currency' | translate}}</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-repeat="item in field.required_loan_amount_currency">
                                <td>{{item.project_facility_name}}</td>
                                <td>{{item.facility_amount | currency:''}}</td>
                                <td>{{item.currency}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>