<h3 class="fixed content-heading">{{'Client' | translate}}

</h3>
<div class="content-area animated fadeInRight" id="contentArea">
    <div class="content-container clearfix">

        <div class=" col-lg-12 col-sm-12 plr20 mb20 mt10">

            <table st-table st-pipe="getNotificationList" class="col-lg-12 col-sm-12">
                <thead>
                    <tr>
                        <td>
                            <div class="client-list-header clearfix">
                                <div class="col-sm-12 clearfix p0">
                                    <div class="col-sm-6 p0">
                                        <div class="client-list-num">
                                            <span class="border-radius50 pull-left client-list-icon mr10"><i class="icon-all"></i></span>
                                            <span class=" display-block f12"> All Clients</span>
                                            <span class=" darkcolor display-block f12 lh12 bold">120</span>
                                        </div>
                                        <div class="client-list-num">
                                            <span class="border-radius50 pull-left client-list-icon mr10"><i class="icon-users2"></i></span>
                                            <span class=" display-block f12"> My Contacts</span>
                                            <span class=" darkcolor display-block f12 lh12 bold">5</span>
                                        </div>
                                        <div class="client-list-num">
                                            <span class="border-radius50 pull-left client-list-icon mr10"><i class="icon-filter2"></i></span>
                                            <span class=" display-block f12">Type</span>
                                            <span class=" darkcolor display-block f12 -mt20 lh12 form-group-new  pull-right">
                                                <select class="form-control f12">
                                                    <option value="" selected>All Types</option>
                                                </select>
                                            </span>
                                        </div>
                                    </div>
                                    <div class="col-sm-6 pr0 text-right mt10">
                                        <div class="form-group form-group-custom display-inline-block">
                                            <select class="form-control">
                                                <option value="" selected>--Name--</option>
                                            </select>
                                        </div>
                                        <div class="table-search  display-inline-block">
                                            <input st-search="search_key" type="text" placeholder="Search" class="form-control">
                                            <i class="fa icon-search mt8 darkcolor"></i>
                                        </div>
                                        <button type="button" class="btn btn-primary sky-blue-bg white-color border-none f15">Quick Contact</button>
                                    </div>
                                    <!--<div class="col-sm-2 pr0">
                                        <div class="table-search width-full">
                                            <input st-search="search_key" type="text" placeholder="Search" class="form-control">
                                            <i class="fa icon-search mt8 darkcolor"></i>
                                        </div>
                                    </div>
                                    <div class="col-sm-2 pr0 text-right">
                                        <button type="button" class="btn btn-primary sky-blue-bg white-color border-none">Quick Contact</button>
                                    </div>-->
                                </div>
                            </div>
                        </td>
                    </tr>
                </thead>
            </table>
            <div class="table-wrapper no-bg col-sm-12 p0 overflow-hidden">
                <table class="table-list-view table c-table table-hover table-style">
                    <thead>
                        <th>Name</th>
                        <th>Company</th>
                        <th>Contact</th>
                        <th>Created By</th>
                        <th>Rating</th>
                        <th>Available</th>
                        <th>My Contacts</th>
                    </thead>
                    <tbody>
                    <tr>
                        <td style="width: 150px;">
                            <span class="pull-left img mr8">M</span>
                            <span class="label-text p0 display-block">Mohan Babu </span>
                            <span class="font-lato f13 darkcolor display-block lh12" >Client</span>
                        </td>
                        <td style="width: 250px;">
                            <span class="pull-left flag-img mr8"><img src="images/kenya.jpg"></span>
                            <span class="label-text p0 display-block">Kenya Constructions </span>
                            <span class="font-lato f13 darkcolor display-block lh12" >Kenya</span>
                        </td>
                        <td>
                            <label class="label-text display-block">
                                <span class="mr4"><i class="icon-mail"></i></span>
                                <span class="">mohanbabu.p@thresholdsoft.com</span>
                            </label>
                            <label class="font-lato f13 darkcolor">
                                <span class=" mr4"><i class="icon-phone"></i></span>
                                <span class="">1231231231</span>
                            </label>
                        </td>
                        <td>
                            <label class="label-text display-block">Ronald Mulindwa </label>
                            <label class="font-lato f13 darkcolor" >
                                <span>Branch Manager: HQ</span>
                            </label>
                        </td>
                        <td>
                            <span class="client-rating orange-bg">2.0</span>
                        </td>
                        <td>
                            <label>
                                <span class="f24 mr10 facility-icon active">
                                    <i class="icon-facility">
                                        <div alert-blink class="blink" ></div>
                                    </i>

                                </span>
                                <span class="f24 colleteral-icon active"><i class="icon-colllateral2"></i> </span>
                            </label>
                        </td>
                        <td class="text-center">
                            <a class="sky-blue f24 lh9 pt5" href="#"><i class="icon-right-circle"></i></a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="pull-left img mr8">M</span>
                            <span class="label-text p0 display-block">Mohan Babu </span>
                            <span class="font-lato f13 darkcolor display-block lh12" >Client</span>
                        </td>
                        <td>
                            <span class="pull-left flag-img mr8"><img src="images/uganda2.jpg"></span>
                            <span class="label-text p0 display-block">Uganda Constructions </span>
                            <span class="font-lato f13 darkcolor display-block lh12" >Uganda</span>
                        </td>
                        <td>
                            <label class="label-text display-block">
                                <span class="mr4"><i class="icon-mail"></i></span>
                                <span class="">mohanbabu.p@thresholdsoft.com</span>
                            </label>
                            <label class="font-lato f13 darkcolor">
                                <span class=" mr4"><i class="icon-phone"></i></span>
                                <span class="">1231231231</span>
                            </label>
                        </td>
                        <td>
                            <label class="label-text display-block">Ronald Mulindwa </label>
                            <label class="font-lato f13 darkcolor" >
                                <span>Branch Manager: HQ</span>
                            </label>
                        </td>
                        <td>
                            <span class="client-rating red-bg">1.0</span>
                        </td>
                        <td>
                            <label>
                                <span class="f24 mr10 facility-icon"><i class="icon-facility"></i> </span>
                                <span class="f24 colleteral-icon"><i class="icon-colllateral2"></i> </span>
                            </label>
                        </td>
                        <td class="text-center">
                            <a class="sky-blue f24 lh9 pt5" href="#"><i class=""></i></a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <span class="pull-left img mr8">M</span>
                            <span class="label-text p0 display-block">Mohan Babu </span>
                            <span class="font-lato f13 darkcolor display-block lh12" >Client</span>
                        </td>
                        <td>
                            <span class="pull-left flag-img mr8"><img src="images/rwanda.jpg"></span>
                            <span class="label-text p0 display-block">Rwanda Constructions </span>
                            <span class="font-lato f13 darkcolor display-block lh12" >Rwanda</span>
                        </td>
                        <td>
                            <label class="label-text display-block">
                                <span class="mr4"><i class="icon-mail"></i></span>
                                <span class="">mohanbabu.p@thresholdsoft.com</span>
                            </label>
                            <label class="font-lato f13 darkcolor">
                                <span class=" mr4"><i class="icon-phone"></i></span>
                                <span class="">1231231231</span>
                            </label>
                        </td>
                        <td>
                            <label class="label-text display-block">Ronald Mulindwa </label>
                            <label class="font-lato f13 darkcolor" >
                                <span>Branch Manager: HQ</span>
                            </label>
                        </td>
                        <td>
                            <span class="client-rating btn-green">3.5</span>
                        </td>
                        <td>
                            <label>
                                <span class="f24 mr10 facility-icon active">
                                    <i class="icon-facility"></i>
                                </span>
                                <span class="f24 colleteral-icon">
                                    <i class="icon-colllateral2">
                                        <div alert-blink class="blink" ></div>
                                    </i> </span>
                            </label>
                        </td>
                        <td class="text-center">
                            <a class="sky-blue f24 lh9 pt5" href="#"><i class=""></i></a>
                        </td>
                    </tr>
                    </tbody>
                </table>
        </div>
            <div class="col-sm-8 pl0">
                <div class="client-stage-view">
                    <ul>
                        <li>
                            <span class="pull-left flag-nation mr8"><img src="images/kenya.jpg"></span>
                            <span class="label-text p0 display-block">Kenya Constructions </span>
                            <span class="font-lato f13 darkcolor display-block lh14" >Kenya</span>
                        </li>
                        <li>
                            <span class="label-text p0 display-block text-line">Kenya Constructions </span>
                            <span class="font-lato f13 darkcolor display-block lh14 text-line">Kenya</span>
                        </li>
                        <li>
                            <span class="label-text display-block lh14 text-line"><i class="icon-mail mr4 pull-left"></i>mohanbabu.p@thresholdsoft.com</span>
                            <span class="font-lato f13 darkcolor display-block lh14 text-line"><i class="icon-phone mr4 pull-left"></i>1231231231</span>
                        </li>
                        <li>
                            <button type="button" class="btn btn-primary complete-view-btn pull-right" href="#"><i class="icon-eye f24 mr4 pull-left"></i>Complete View</button>
                        </li>
                    </ul>
                    <div class="col-sm-12 client-stage-view-bar">
                        <div class="col-sm-6 p0">
                            <span class="">Available</span>
                            <a href="#" class="f18 mr10 ml5 darkcolor"><i class="icon-facility"></i></a>
                            <a href="#" class="f18 mr10 darkcolor"><i class="icon-colllateral2"></i></a>
                        </div>
                        <div class="col-sm-6 text-right p0 pt2">
                            <span class="">Last Modified:<strong class="darkcolor">23 Sept, 2016.</strong></span>
                            <span class="client-rating red-bg">1.0</span>
                        </div>
                        <div class="col-sm-6"></div>
                    </div>
                    <div class="col-sm-12">
                        <a href="#" class="add-button"><i class="fa fa-plus"></i>ADD</a>
                    </div>

                </div>
            </div>
            <div class="col-sm-12 p0">
                <div class="complete-header clearfix">
                    <h6>
                        <div class="head-flag">
                            <img src="images/kenya.jpg" alt="image">
                        </div>
                        <div class="head-flag-content">
                            <span class="">Shopping Mall Construction</span>
                            <label class="">Kenya Construction</label>
                        </div>
                    </h6>
                    <ul>
                        <li>
                            <label class="text-line">Contacts</label>
                            <span class="text-line">Mohan Babu <span class="sky-blue">(1+)</span></span>
                        </li>
                        <!--<li>
                            <label class="text-line">Total Exposure</label>
                            <span class="text-line">$ 134,856,000.00</span>
                        </li>
                        <li>
                            <label class="text-line">Sector: <span>Agriculture Fishery</span></label>
                            <label class="text-line">Sub- Sector: <span>Agriculture</span></label>
                        </li>
                        <li>
                            <span class="header-icon"><i class="icon-facility"></i></span>
                        </li>-->
                        <li>
                            <span class="header-icon"><i class="icon-colllateral2"></i></span>
                        </li>
                        <li>
                            <label class="text-line">Last Modified:</label>
                            <span class="text-line">23 Jun, 2016</span>
                        </li>
                        <li class="rating-wrap">
                            <span class="header-rating">1.0</span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-12 p0 mt20 mb20">
                <table class="empty-table">
                    <tbody>
                        <tr>
                            <td>
                                <p class="12">you don’t have Data <a href="#" class="sky-blue">Click here to add</a></p>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-sm-8 ratios-wrap">
                <div class="col-sm-12 years-range-wrap">
                    <div class="col-sm-3 p0">
                        <h6 class="darkcolor f12 pt10">Select the Years Range:</h6>
                    </div>
                    <form class="form-inline">
                        <div class="form-group">
                            <label>Total Years</label>
                            <select class=" form-control">
                                <option selected>12</option>
                                <option>11</option>
                                <option>10</option>
                                <option>9</option>
                                <option>8</option>
                                <option>7</option>
                                <option>6</option>
                                <option>5</option>
                                <option>4</option>
                                <option>3</option>
                                <option>2</option>
                                <option>1</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label >From</label>
                            <select class="form-control">
                                <option selected>2005</option>
                                <option>2006</option>
                                <option>2007</option>
                                <option>2008</option>
                                <option>2009</option>
                                <option>2010</option>
                                <option>2011</option>
                                <option>2012</option>
                                <option>2013</option>
                                <option>2014</option>
                                <option>2015</option>
                                <option>2016</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label >To</label>
                            <select class="form-control">
                                <option selected>2017</option>
                                <option>2016</option>
                                <option>2015</option>
                            </select>
                        </div>
                        <button type="button" class="btn light-btn">Set Up</button>
                    </form>
                </div>
                <div class="col-sm-12 capital-cost-warp">
                    <h6 class="">1. Capital Cost & Financing</h6>
                    <form class="form-inline">
                        <div class="form-group">
                            <label class="">Debt /Equity  (%):</label>
                            <input type="text" class=" form-control">
                        </div>
                    </form>
                    <form class="form-inline">
                        <div class="form-group">
                            <label class="">Access Bank Exposure (%):</label>
                            <input type="text" class=" form-control">
                        </div>
                    </form>
                </div>
                <div class="col-sm-12 financial-info-warp">
                    <h6 class="">2. Profit & Loss (Income Statement)</h6>
                    <div class="col-sm-12 financial-inside-warp">
                        <div class="financial-left-wrap">
                            <label class="">Net Profit Margin Trend (%):</label>
                        </div>
                        <div class="financial-right-wrap">
                            <div class="form-group">
                                <label>2010</label>
                                <span class="display-block">10.5</span>
                            </div>
                            <div class="form-group">
                                <label>2011</label>
                                <span class="display-block">10.9</span>
                            </div>
                            <div class="form-group">
                                <label>2012</label>
                                <span class="display-block">11.0</span>
                            </div>
                            <div class="form-group">
                                <label>2013</label>
                                <span class="display-block">12</span>
                            </div>
                            <div class="form-group">
                                <label>2014</label>
                                <span class="display-block">13</span>
                            </div>
                            <div class="form-group">
                                <label>2015</label>
                                <span class="display-block">13.5</span>
                            </div>
                            <div class="form-group">
                                <label>2016</label>
                                <input type="text" class="form-control display-block">
                            </div>
                            <div class="form-group">
                                <label>2017</label>
                                <input type="text" class="form-control display-block">
                            </div>
                            <div class="form-group">
                                <label>2018</label>
                                <input type="text" class="form-control display-block">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 financial-inside-warp pt10">
                        <div class="financial-left-wrap pt5">
                            <label class="">Net Profit / Loss Trend (Figures):</label>
                        </div>
                        <div class="financial-right-wrap">
                            <div class="form-group">
                                <span class="display-block">10.5</span>
                            </div>
                            <div class="form-group">
                                <span class="display-block">10.9</span>
                            </div>
                            <div class="form-group">
                                <span class="display-block">11.0</span>
                            </div>
                            <div class="form-group">
                                <span class="display-block">12</span>
                            </div>
                            <div class="form-group">
                                <span class="display-block">13</span>
                            </div>
                            <div class="form-group">
                                <span class="display-block">13.5</span>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control display-block">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control display-block">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control display-block">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 financial-info-warp">
                    <h6 class="">3. Cash Flow (Sheet 7)</h6>
                    <div class="col-sm-12 financial-inside-warp">
                        <div class="financial-left-wrap">
                            <label class="">DSCR Trend  (%):</label>
                        </div>
                        <div class="financial-right-wrap">
                            <div class="form-group">
                                <label>2010</label>
                                <span class="display-block">10.5</span>
                            </div>
                            <div class="form-group">
                                <label>2011</label>
                                <span class="display-block">10.9</span>
                            </div>
                            <div class="form-group">
                                <label>2012</label>
                                <span class="display-block">11.0</span>
                            </div>
                            <div class="form-group">
                                <label>2013</label>
                                <span class="display-block">12</span>
                            </div>
                            <div class="form-group">
                                <label>2014</label>
                                <span class="display-block">13</span>
                            </div>
                            <div class="form-group">
                                <label>2015</label>
                                <span class="display-block">13.5</span>
                            </div>
                            <div class="form-group">
                                <label>2016</label>
                                <input type="text" class="form-control display-block">
                            </div>
                            <div class="form-group">
                                <label>2017</label>
                                <input type="text" class="form-control display-block">
                            </div>
                            <div class="form-group">
                                <label>2018</label>
                                <input type="text" class="form-control display-block">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 financial-info-warp">
                    <h6 class="">4. Balance Sheet (Sheet 8)</h6>
                    <div class="col-sm-12 financial-inside-warp">
                        <div class="financial-left-wrap">
                            <label class="">Debt / Equity Ratio Trend  (%):</label>
                        </div>
                        <div class="financial-right-wrap">
                            <div class="form-group">
                                <label>2010</label>
                                <span class="display-block">10.5</span>
                            </div>
                            <div class="form-group">
                                <label>2011</label>
                                <span class="display-block">10.9</span>
                            </div>
                            <div class="form-group">
                                <label>2012</label>
                                <span class="display-block">11.0</span>
                            </div>
                            <div class="form-group">
                                <label>2013</label>
                                <span class="display-block">12</span>
                            </div>
                            <div class="form-group">
                                <label>2014</label>
                                <span class="display-block">13</span>
                            </div>
                            <div class="form-group">
                                <label>2015</label>
                                <span class="display-block">13.5</span>
                            </div>
                            <div class="form-group">
                                <label>2016</label>
                                <input type="text" class="form-control display-block">
                            </div>
                            <div class="form-group">
                                <label>2017</label>
                                <input type="text" class="form-control display-block">
                            </div>
                            <div class="form-group">
                                <label>2018</label>
                                <input type="text" class="form-control display-block">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 capital-cost-warp capital-cost-warp2">
                    <h6 class="">5. International Rate of Return (Sheet 9)</h6>
                    <form class="form-inline">
                        <div class="form-group">
                            <label class="">IRR Ratio  (%):</label>
                            <input type="text" class=" form-control">
                        </div>
                    </form>
                </div>
                <div class="col-sm-12 capital-cost-warp capital-cost-warp2">
                    <h6 class="">6. Economic Rate of Return (Sheet 10)</h6>
                    <form class="form-inline">
                        <div class="form-group">
                            <label class="">ERR Ratio  (%):</label>
                            <input type="text" class=" form-control">
                        </div>
                    </form>
                </div>
                <div class="col-sm-12 capital-cost-warp capital-cost-warp2">
                    <h6 class="">7. Security Cover </h6>
                    <form class="form-inline border-blue-bottom">
                        <div class="form-group">
                            <label class="">Security Cover (trend for the whole life of the project) %</label>
                            <input type="text" class=" form-control">
                        </div>
                    </form>
                </div>
                <div class="col-sm-12 p15 text-center">
                    <button type="button" class="btn btn-primary f14 btn-dark">Save</button>
                    <button type="button" class="btn btn-primary light-btn  f14">Cancel</button>
                </div>
            </div>
            <div class="col-sm-12 mt20 p0">
                <h4 class="darkcolor f14 text-capitalize fontBold mb5">Sectors / Sub-sectors</h4>
                <div class="col-sm-12 sectors-limit p0">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Sectors(6)<span class="red ml15">88%</span></th>
                                <th>Sub-Sectors (10)<a href="javascript:;" class="red ml15"></a>
                                    <a href="javascript:;" class="add-plus-icon"><i class="fa fa-plus"></i></a>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <p><span>Agriculture and Fisheries</span>
                                        <input type="text" class="form-control"> %
                                        <a href="#" class="sky-blue"><i class="icon-trash"></i></a>
                                    </p>
                                </td>
                                <td>
                                    <p>Agriculture and Fisheries
                                        <span>
                                            <input type="text" class="form-control"> %
                                        </span>
                                    </p>
                                    <p>Forestry & Agroforestry
                                        <span>
                                            <input type="text" class="form-control"> %
                                        </span>
                                    </p>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <p><span>Mining and Quarrying</span>
                                        <input type="text" class="form-control"> %
                                        <a href="#" class="sky-blue"><i class="icon-trash"></i></a>
                                    </p>
                                </td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>
                                    <p><span>Manufacturing</span>
                                        <input type="text" class="form-control"> %
                                        <a href="#" class="sky-blue"><i class="icon-trash"></i></a>
                                    </p>
                                </td>
                                <td>
                                    <p>General Industrial Manufacturing
                                        <span>
                                            <input type="text" class="form-control"> %
                                        </span>
                                    </p>
                                    <p>Consumer Industrial Manufacturing
                                        <span>
                                            <input type="text" class="form-control"> %
                                        </span>
                                    </p>
                                    <p>Agro, Marine and Food Processing
                                        <span>
                                            <input type="text" class="form-control"> %
                                        </span>
                                    </p>
                                </td>
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="2">
                                <button type="button" class="btn btn-primary btn-dark f14">Save</button>
                                <button type="button" class="btn btn-primary light-btn f14">Cancel</button>
                                </td>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
            <div class="col-sm-12 mt15">
                <div class="col-sm-4">
                    <div class="form-group form-group-custom">
                        <select class="form-control" name="select" id="select">
                            <option class="short w150" data-limit='57'>this is first option data having large content-1.this is first option data having large content-1.</option>
                            <option class="short" data-limit='57'>this is first option data having large content-2.this is first option data having large content-2.</option>
                            <option class="short" data-limit='57'>this is first option data having large content-3.</option>
                            <option class="short" data-limit='57'>this is first option data having large content-4.</option>
                        </select>
                    </div>
                </div>
                <script>
                    function shortString() {
                        var shorts = document.querySelectorAll('.short');
                        if (shorts) {
                            Array.prototype.forEach.call(shorts, function(ele) {
                                var str = ele.innerText,
                                        indt = '...';

                                if (ele.hasAttribute('data-limit')) {
                                    if (str.length > ele.dataset.limit) {
                                        var result = `${str.substring(0, ele.dataset.limit - indt.length).trim()}${indt}`;
                                        ele.innerText = result;
                                        str = null;
                                        result = null;
                                    }
                                } else {
                                    throw Error('Cannot find attribute \'data-limit\'');
                                }
                            });
                        }
                    }

                    window.onload = function() {
                        shortString();
                    };
                </script>
            </div>
    </div>
</div>







