<h3 class="fixed content-heading"> {{'Loan' | translate}}
    <ul class="pull-right icons-right">
        <li><a ui-sref="org.org-structure-view" active-link="heading-active" uib-tooltip="Add"><i
                class="icon-plus-circle"></i></a></li>
    </ul>
</h3>

<div id="contentArea" class="content-area animated fadeInRight">
    <div class="content-container clearfix mb20">
        <div class="col-sm-12 col-lg-12 plr20 mt10 mb20">
            <div class="col-sm-6 col-lg-6 p0">
                <div class="col-sm-12 p0">
                    <div class="page-header-wrap white-bg box-shadow clearfix relative m0 mr15 mb15">
                        <div class="display-inline-block wrapper-list c-wrap-list pt10 col-sm-10 clearfix">
                            <h3 class="f15 dark-sky-blue">Aponye Uganda Limited</h3>
                            <ul>
                                <li>
                                    <p class="f12 word-break">{{'Company' | translate}}</p>
                                    <h3 class="f14 heading">Savera Hotels</h3>
                                </li>
                                <li>

                                    <p class="f12 word-break">{{'Contacts' | translate}}</p>
                                    <h3 class="f14 heading">Fiona</h3>
                                </li>
                                <li>
                                    <p class="f12 word-break">{{'# Loans' | translate}}</p>
                                    <h3 class="f14 heading">1</h3>

                                </li>
                                <li>
                                    <p class="f12 word-break">{{'Amount($)' | translate}}</p>
                                    <h3 class="f14 heading" title="{{projectDetails.sector}}">1,25,000</h3>

                                </li>

                            </ul>
                        </div>
                        <div class="display-inline-block pull-right relative">
                            <div class="display-inline-block thin-red-bg-wrap">
                                <span class="box-rating">
                                    <p class="f32"><i class="icon-eye"></i></p>
                                    <h3 class="f14 bold " label-status="{{projectDetails.project_status}}">Preview</h3>
                                </span>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="textinfo-block border-top col-sm-12 pb10" ng-show="infoBox">
                            <label class="f12">Description</label>
                            <p class="f14 darkcolor">{{project_description}}</p>
                        </div>
                        <div class="slide-img" ></div>
                    </div>
                </div>
                <div class="page-view-wrap clearfix">
                    <div class="col-sm-12 pl0">
                        <div class="list-header-view list-icon-view light-green-thin-bg  clearfix">
                            <h3 class="mt5">
                                <span class="num-count">{{$index+1}}</span> Detailed Appraisal
                            </h3>
                            <ul>
                                <li class="pt0 pb0">
                                    <span class="f12">Status</span>
                                    <p><button type="button" class="btn btn-sm red-bg white-color f12">In Progress</button></p>
                                </li>
                                <li class="pt5 pb5">
                                        <p class="comment-count p5"><i class="icon-comment3"></i> <label class="circle-count red-bg">5</label>
                                        </p>
                                </li>
                                <li class="pt5 pb5">
                                        <p class="comment-count p5"><i class="icon-actions"></i> <label class="circle-count blue-bg">2</label>
                                        </p>
                                </li>
                                <li class="pt5 pb5">
                                        <p class="comment-count p5"><i class="icon-eye"></i></p>
                                </li>


                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="col-sm-12 light-green-thick-bg white-color clearfix">
                            <div class="col-sm-6 pl0 pr0 pt5 pb5 f12 ">Current Version: 3.0 (21Jul,2016)</div>
                            <div class="col-sm-6 p0 pt5 f12 text-right">Time Taken: <strong>32 Days</strong></div>
                        </div>
                        <div class="list-view-str mt30">
                            <ul>
                                <li >
                                    <div class="list-str">
                                        <h4 class="f14 bold text-capitalize dark-blue pt10 pb10">
                                            Detailed Appraisal</h4>
                                        <div  class="list-data clearfix list-data-comments list-data-new-comment white-bg p10">
                                            <div class="list-img pull-left box-active">
                                                <i class="icon-info"></i>
                                            </div>
                                            <div class="list-text overflow-hidden">
                                                <h5 class="f14 text-line darkcolor pt2">Comments and Observation </h5>
                                                <span class="text-line f11 ash">Idola Barttlet:Aug 22, 2016</span>
                                            </div>
                                            <div class="list-data-comment">
                                                <p class="comment-count"><i class="icon-comment3"></i></p>
                                            </div>
                                        </div>
                                        <div  class="list-data clearfix list-data-comments list-data-new-comment white-bg p10">
                                            <div class="list-img pull-left box-active">
                                                <i class="icon-globe2"></i>
                                            </div>
                                            <div class="list-text overflow-hidden">
                                                <h5 class="f14 text-line darkcolor pt2">Project Background </h5>
                                                <span class="text-line f11 ash">Idola Barttlet:ug 22, 2016</span>
                                            </div>
                                            <div class="list-data-comment">
                                                <p class="comment-count"><i class="icon-comment3"></i>
                                                </p>
                                            </div>
                                        </div>
                                        <div  class="list-data clearfix list-data-comments list-data-new-comment white-bg p10">
                                            <div class="list-img pull-left">
                                                <i class="icon-info"></i>
                                            </div>
                                            <div class="list-text overflow-hidden">
                                                <h5 class="f14 text-line darkcolor pt2">Justification of Access Bank's </h5>
                                            </div>
                                            <div class="list-data-comment">
                                                <p class="comment-count"><i class="icon-comment3"></i>
                                                </p>
                                            </div>
                                        </div>
                                        <div  class="list-data clearfix list-data-comments list-data-new-comment white-bg p10">
                                            <div class="list-img pull-left box-active">
                                                <i class="icon-info"></i>
                                            </div>
                                            <div class="list-text overflow-hidden">
                                                <h5 class="f14 text-line darkcolor pt2">Conclusions and Recommendation </h5>
                                                <span class="text-line f11 ash">Idola Barttlet:ug 22, 2016</span>
                                            </div>
                                            <div class="list-data-comment">
                                                <p class="comment-count"><i class="icon-comment3"></i>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-12 pl0">
                    <div class="list-header-view list-icon-view green-thin-bg  clearfix">
                        <h3 class="mt5">
                            <span class="num-count">{{$index+2}}</span> Pre Appraisal
                        </h3>
                        <ul>
                            <li class="pt0 pb0">
                                <span class="f12">Status</span>
                                <p><button type="button" class="btn btn-sm green-thick-bg white-color f12">Approved</button></p>
                            </li>
                            <li class="pt5 pb5">
                                <p class="comment-count p5"><i class="icon-comment3"></i> <label class="circle-count red-bg">5</label>
                                </p>
                            </li>
                            <li class="pt5 pb5">
                                <p class="comment-count p5"><i class="icon-actions"></i> <label class="circle-count blue-bg">2</label>
                                </p>
                            </li>
                            <li class="pt5 pb5">
                                <p class="comment-count p5"><i class="icon-eye"></i></p>
                            </li>


                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="col-sm-12 green-thick-bg white-color clearfix">
                        <div class="col-sm-6 pl0 pr0 pt5 pb5 f12 ">Current Version: 3.0 (21Jul,2016)</div>
                        <div class="col-sm-6 p0 pt5 f12 text-right">Time Taken: <strong>32 Days</strong></div>
                    </div>
                    <div class="list-view-str mt30">
                        <ul>
                            <li >
                                <div class="list-str">
                                    <h4 class="f14 bold text-capitalize dark-blue pt10 pb10">Risk Assesment</h4>
                                    <div  class="list-data clearfix list-data-comments list-data-new-comment white-bg p10">
                                        <div class="list-img pull-left box-active">
                                            <i class="icon-windows"></i>
                                        </div>
                                        <div class="list-text overflow-hidden">
                                            <h5 class="f14 text-line darkcolor pt2">Risk Assesment</h5>
                                            <span class="text-line f11 ash">Idola Barttlet:Aug 22, 2016</span>
                                        </div>
                                        <div class="list-data-comment">
                                            <p class="comment-count"><i class="icon-comment3"></i></p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li >
                                <div class="list-str">
                                    <h4 class="f14 bold text-capitalize dark-blue pt10 pb10">Pre Appraisal</h4>
                                    <div  class="list-data clearfix list-data-comments list-data-new-comment white-bg p10">
                                        <div class="list-img pull-left box-active">
                                            <i class="icon-globe2"></i>
                                        </div>
                                        <div class="list-text overflow-hidden">
                                            <h5 class="f14 text-line darkcolor pt2">Project Background </h5>
                                            <span class="text-line f11 ash">Idola Barttlet:ug 22, 2016</span>
                                        </div>
                                        <div class="list-data-comment">
                                            <p class="comment-count"><i class="icon-comment3"></i>
                                            </p>
                                        </div>
                                    </div>
                                    <div  class="list-data clearfix list-data-comments list-data-new-comment white-bg p10">
                                        <div class="list-img pull-left box-active">
                                            <i class="icon-info"></i>
                                        </div>
                                        <div class="list-text overflow-hidden">
                                            <h5 class="f14 text-line darkcolor pt2">Project & Company Assesment</h5>
                                            <span class="text-line f11 ash">Idola Barttlet:Aug 22, 2016</span>
                                        </div>
                                        <div class="list-data-comment">
                                            <p class="comment-count"><i class="icon-comment3"></i></p>
                                        </div>
                                    </div>
                                    <div  class="list-data clearfix list-data-comments list-data-new-comment white-bg p10">
                                        <div class="list-img pull-left box-active">
                                            <i class="icon-info"></i>
                                        </div>
                                        <div class="list-text overflow-hidden">
                                            <h5 class="f14 text-line darkcolor pt2">Conclusions and Recommendation </h5>
                                        </div>
                                        <div class="list-data-comment">
                                            <p class="comment-count"><i class="icon-comment3"></i>
                                            </p>
                                        </div>
                                    </div>
                                    <div  class="list-data clearfix list-data-comments list-data-new-comment white-bg p10">
                                        <div class="list-img pull-left box-active">
                                            <i class="icon-info"></i>
                                        </div>
                                        <div class="list-text overflow-hidden">
                                            <h5 class="f14 text-line darkcolor pt2">Terms and Conditions</h5>
                                            <span class="text-line f11 ash">Idola Barttlet:ug 22, 2016</span>
                                        </div>
                                        <div class="list-data-comment">
                                            <p class="comment-count"><i class="icon-comment3"></i>
                                            </p>
                                        </div>
                                    </div>
                                    <div  class="list-data clearfix list-data-comments list-data-new-comment white-bg p10">
                                        <div class="list-img pull-left">
                                            <i class="icon-info"></i>
                                        </div>
                                        <div class="list-text overflow-hidden">
                                            <h5 class="f14 text-line darkcolor pt2">Terms and Conditions</h5>
                                            <span class="text-line f11 ash">Idola Barttlet:ug 22, 2016</span>
                                        </div>
                                        <div class="list-data-comment">
                                            <p class="comment-count"><i class="icon-comment3"></i>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                    <div class="col-sm-12 pl0">
                        <div class="list-header-view list-icon-view clearfix blue-thick-bg">
                            <h3 class="mt5">
                                <span class="num-count">{{$index+3}}</span> Concept Note
                            </h3>
                            <ul>
                                <li class="pt0 pb0">
                                    <span class="f12">Status</span>
                                    <p><button type="button" class="btn btn-sm green-thick-bg white-color f12">Approved</button></p>
                                </li>
                                <li class="pt5 pb5">
                                    <p class="comment-count p5"><i class="icon-comment3"></i> <label class="circle-count red-bg">5</label>
                                    </p>
                                </li>
                                <li class="pt5 pb5">
                                    <p class="comment-count p5"><i class="icon-actions"></i> <label class="circle-count blue-bg">2</label>
                                    </p>
                                </li>
                                <li class="pt5 pb5">
                                    <p class="comment-count p5"><i class="icon-eye"></i></p>
                                </li>


                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <div class="col-sm-12 white-color clearfix blue-thick-bg">
                            <div class="col-sm-6 pl0 pr0 pt5 pb5 f12 ">Current Version: 3.0 (21Jul,2016)</div>
                            <div class="col-sm-6 p0 pt5 f12 text-right">Time Taken: <strong>32 Days</strong></div>
                        </div>
                        <div class="list-view-str mt30">
                            <ul>
                                <li >
                                    <div class="list-str">
                                        <h4 class="f14 bold text-capitalize dark-blue pt10 pb10">
                                            General Information</h4>
                                        <div  class="list-data clearfix list-data-comments list-data-new-comment white-bg p10">
                                            <div class="list-img pull-left box-active">
                                                <i class="icon-info"></i>
                                            </div>
                                            <div class="list-text overflow-hidden">
                                                <h5 class="f14 text-line darkcolor pt2">Basic Information</h5>
                                                <span class="text-line f11 ash">Idola Barttlet:Aug 22, 2016</span>
                                            </div>
                                            <div class="list-data-comment">
                                                <p class="comment-count"><i class="icon-comment3"></i></p>
                                            </div>
                                        </div>
                                        <div  class="list-data clearfix list-data-comments list-data-new-comment white-bg p10">
                                            <div class="list-img pull-left box-active">
                                                <i class="icon-globe2"></i>
                                            </div>
                                            <div class="list-text overflow-hidden">
                                                <h5 class="f14 text-line darkcolor pt2">Project Background </h5>
                                                <span class="text-line f11 ash">Idola Barttlet:ug 22, 2016</span>
                                            </div>
                                            <div class="list-data-comment">
                                                <p class="comment-count"><i class="icon-comment3"></i><label class="circle-count">1</label>
                                                </p>
                                            </div>
                                        </div>
                                        <div  class="list-data clearfix list-data-comments list-data-new-comment white-bg p10">
                                            <div class="list-img pull-left">
                                                <i class="icon-info"></i>
                                            </div>
                                            <div class="list-text overflow-hidden">
                                                <h5 class="text-line f14 text-line darkcolor pt2">Collection of Documents</h5>
                                            </div>
                                            <div class="list-data-comment">
                                                <p class="comment-count"><i class="icon-comment3"></i>
                                                </p>
                                            </div>
                                        </div>
                                        <div  class="list-data clearfix list-data-comments list-data-new-comment white-bg p10">
                                            <div class="list-img pull-left box-active">
                                                <i class="icon-info"></i>
                                            </div>
                                            <div class="list-text overflow-hidden">
                                                <h5 class="text-line f14 text-line darkcolor pt2">Conclusions and Recommendation </h5>
                                                <span class="text-line f11 ash">Idola Barttlet:ug 22, 2016</span>
                                            </div>
                                            <div class="list-data-comment">
                                                <p class="comment-count"><i class="icon-comment3"></i>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li >
                                    <div class="list-str">
                                        <h4 class="f14 bold text-capitalize dark-blue pt10 pb10">
                                            Facility Information</h4>
                                        <div  class="list-data clearfix list-data-comments list-data-new-comment white-bg p10">
                                            <div class="list-img pull-left box-active">
                                                <i class="icon-clipped-file2"></i>
                                            </div>
                                            <div class="list-text overflow-hidden">
                                                <h5 class="f14 text-line darkcolor pt2">Facility Information</h5>
                                                <span class="text-line f11 ash">Idola Barttlet:Aug 22, 2016</span>
                                            </div>
                                            <div class="list-data-comment">
                                                <p class="comment-count"><i class="icon-comment3"></i></p>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
           </div>
            <div class="col-sm-6 col-lg-6 p0 white-bg border-left-dark">
                <div class=" tp-wrap">
                    <div class="t-tabs tabs-wrap">
                        <h3 class="darkcolor fontBold p15 text-capitalize border-bottom">Touch Points</h3>
                        <uib-tabset justified="true" class="plr15">
                            <uib-tab heading="{{'All' | translate}}" class="ptb10">
                                <div class="t-tab-content scroll-div-wrap-parent mt0">
                                    <div class="t-box red-thin-bg red-box">
                                        <div class="t-box-top clearfix">
                                            <div class="col-sm-1 f32 pl0 text-center">
                                                <span class="red"><i class="icon-alert"></i> </span>
                                            </div>
                                            <div class="t-content col-sm-11 p0 pl5 clearfix">
                                                <h4 class="text-capitalize mb5 clearfix f12 darkcolor">
                                                    <span class=" col-sm-12 word-break p0 pt2">Message From Risk manager</span>
                                                    <span class="text-right text-capitalize col-sm-4 pr0 sky-blue f12 bold">John Willium</span>
                                                </h4>
                                                <p class="f12 darkcolor">as oil industry shifting continously. please check the customer, keep a track of his future plans and repayment plans for the loan</p>
                                            </div>
                                        </div>
                                        <div class="t-box-bottom clearfix">
                                            <div class="col-sm-12 pl0">
                                                <p class="f11 pl5 darkcolor">11/08/2015 03:33:56 PM - <span class="ash">2 Hours Taken</span></p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="text-center clearfix">
                                        <button class="btn btn-dark f12 border-none mr4"
                                                ng-show="loadMoreShow">Load More
                                        </button>
                                    </div>
                                </div>
                                <div class="t-tab-content scroll-div-wrap-parent mt0">
                                    <div class="t-box green-box">
                                        <div class="t-box-top clearfix">
                                            <div class="col-sm-1 f32 pl0 text-center">
                                                <span class="green"><i class="icon-workload"></i> </span>
                                            </div>
                                            <div class="t-content col-sm-11 p0 pl5 clearfix">
                                                <h4 class="text-capitalize mb5 clearfix f12 darkcolor">
                                                    <span class=" col-sm-12 word-break p0 pt2">News Item</span>
                                                    <span class="text-right text-capitalize col-sm-4 pr0 sky-blue f12 bold">John Willium</span>
                                                </h4>
                                                <p class="f12 darkcolor">Candidate must poses at least a bachelor of Science, Batchlor of Computer Application, Bachelor of Engineering/ Technology, Master of computer Application/ </p>
                                            </div>
                                        </div>
                                        <div class="t-box-bottom clearfix">
                                            <div class="col-sm-12 p0">
                                                <div class="col-sm-6 p0 f11 pl5 darkcolor pt5">11/08/2015 03:33:56 PM - <span class="ash">2 Hours Taken</span></div>
                                                <div class="col-sm-6 p0 f11 pl5 darkcolor text-right"><span class="ash">Status</span><button type="button" class="btn btn-sm btn-green white-color ml5">Accepted</button></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="text-center clearfix">
                                        <button class="btn btn-dark f12 border-none mr4"
                                                ng-show="loadMoreShow">Load More
                                        </button>
                                    </div>
                                </div>
                                <div class="t-tab-content scroll-div-wrap-parent mt0">
                                    <div class="t-box red-box">
                                        <div class="t-box-top clearfix">
                                            <div class="col-sm-1 f32 pl0 text-center">
                                                <span class="red"><i class="icon-users2"></i> </span>
                                            </div>
                                            <div class="t-content col-sm-11 p0 pl5 clearfix">
                                                <h4 class="text-capitalize mb5 clearfix f12 darkcolor">
                                                    <span class=" col-sm-12 word-break p0 pt2">Meeting</span>
                                                    <span class="text-right text-capitalize col-sm-4 pr0 sky-blue f12 bold">John Willium</span>
                                                </h4>
                                                <p class="f12 darkcolor">Candidate must poses at least a bachelor of Science, Batchlor of </p>
                                            </div>
                                        </div>
                                        <div class="t-box-bottom clearfix">
                                            <div class="col-sm-12 p0">
                                                <div class="col-sm-6 p0 f11 pl5 darkcolor pt5">11/08/2015 03:33:56 PM - <span class="ash">2 Hours Taken</span></div>
                                                <div class="col-sm-6 p0 pl5 darkcolor text-right"><a href="#" class="darkcolor f21"><i class="fa fa-users" aria-hidden="true"></i></a></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="text-center clearfix">
                                        <button class="btn btn-dark f12 border-none mr4"
                                                ng-show="loadMoreShow">Load More
                                        </button>
                                    </div>
                                </div>
                                <div class="t-tab-content scroll-div-wrap-parent mt0">
                                    <div class="t-box sky-blue-box">
                                        <div class="t-box-top clearfix">
                                            <div class="col-sm-1 f32 pl0 text-center">
                                                <span class="sky-blue"><i class="icon-clock"></i> </span>
                                            </div>
                                            <div class="t-content col-sm-11 p0 pl5 clearfix">
                                                <h4 class="text-capitalize mb5 clearfix f12 darkcolor">
                                                    <span class=" col-sm-12 word-break p0 pt2">Appointment</span>
                                                    <span class="text-right text-capitalize col-sm-4 pr0 sky-blue f12 bold">John Willium</span>
                                                </h4>
                                                <p class="f12 darkcolor">Candidate must poses at least a bachelor of Science, Batchlor of </p>
                                            </div>
                                        </div>
                                        <div class="t-box-bottom clearfix">
                                            <div class="col-sm-12 p0">
                                                <div class="col-sm-6 p0 f11 pl5 darkcolor pt5">11/08/2015 03:33:56 PM - <span class="ash">2 Hours Taken</span></div>
                                                <div class="col-sm-6 p0 f11 pl5 darkcolor text-right"><span class="ash">Status</span><button type="button" class="btn btn-sm red-bg white-color ml5">Canceled</button></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="text-center clearfix">
                                        <button class="btn btn-dark f12 border-none mr4"
                                                ng-show="loadMoreShow">Load More
                                        </button>
                                    </div>
                                </div>
                                <div class="t-tab-content scroll-div-wrap-parent mt0">
                                    <div class="t-box green-box">
                                        <div class="t-box-top clearfix">
                                            <div class="col-sm-1 f32 pl0 text-center">
                                                <span class="green"><i class="icon-clipped-file2"></i> </span>
                                            </div>
                                            <div class="t-content col-sm-11 p0 pl5 clearfix">
                                                <h4 class="text-capitalize mb5 clearfix f12 darkcolor">
                                                    <span class=" col-sm-12 word-break p0 pt2">Created New Account</span>
                                                    <span class="text-right text-capitalize col-sm-4 pr0 sky-blue f12 bold">John Willium</span>
                                                </h4>
                                                <p class="f12 darkcolor">Candidate must poses at least a bachelor of Science, Batchlor of </p>
                                            </div>
                                        </div>
                                        <div class="t-box-bottom clearfix">
                                            <div class="col-sm-12 p0">
                                                <div class="col-sm-6 p0 f11 pl5 darkcolor pt5">11/08/2015 03:33:56 PM - <span class="ash">2 Hours Taken</span></div>
                                                <div class="col-sm-6 p0 f11 pl5 darkcolor text-right"><span class="ash">Status</span><button type="button" class="btn btn-sm sky-blue-bg white-color ml5">Pending</button></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="text-center clearfix">
                                        <button class="btn btn-dark f12 border-none mr4"
                                                ng-show="loadMoreShow">Load More
                                        </button>
                                    </div>
                                </div>
                            </uib-tab>
                            <uib-tab heading="Workflow">
                                <div class="t-tab-content scroll-div-wrap-parent mt0">
                                    <div class="t-box red-thin-bg red-box">
                                        <div class="t-box-top clearfix">
                                            <div class="col-sm-1 pl0 text-center">
                                                <span class="blue-thick-bg white-color p10 border-radius50 f14">1.0</span>
                                            </div>
                                            <div class="t-content col-sm-11 p0 pl5 clearfix">
                                                <h4 class=" mb5 clearfix f14 darkcolor">
                                                    <span class=" col-sm-12 word-break p0 pt2">ENQUIRY/APPLICATIONS</span>
                                                    <span class="text-right text-capitalize col-sm-4 pr0 sky-blue f12 bold">John Willium</span>
                                                </h4>
                                                <p class="f12 darkcolor"></p>
                                            </div>
                                        </div>
                                        <div class="t-box-bottom clearfix">
                                            <div class="col-sm-12 p0">
                                                <div class="col-sm-6 p0 f11 pl5 darkcolor pt5">11/08/2015 03:33:56 PM - <span class="ash">2 Hours Taken</span></div>
                                                <div class="col-sm-6 p0 f11 pl5 darkcolor text-right"><span class="ash">Status</span><button type="button" class="btn btn-sm red-bg white-color ml5">Rejected</button></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="text-center clearfix">
                                        <button class="btn btn-dark f12 border-none mr4"
                                                ng-show="loadMoreShow">Load More
                                        </button>
                                    </div>
                                </div>
                                <div class="t-tab-content scroll-div-wrap-parent mt0">
                                    <div class="t-box green-box">
                                        <div class="t-box-top clearfix">
                                            <div class="col-sm-1 pl0 text-center">
                                                <span class="blue-thick-bg white-color p10 border-radius50 f14">2.0</span>
                                            </div>
                                            <div class="t-content col-sm-11 p0 pl5 clearfix">
                                                <h4 class=" mb5 clearfix f14 darkcolor">
                                                    <span class=" col-sm-12 word-break p0 pt2">Concept Note Submited</span>
                                                    <span class="text-right text-capitalize col-sm-4 pr0 sky-blue f12 bold">John Willium</span>
                                                </h4>
                                                <p class="f12 darkcolor"></p>
                                            </div>
                                        </div>
                                        <div class="t-box-bottom clearfix">
                                            <div class="col-sm-12 p0">
                                                <div class="col-sm-6 p0 f11 pl5 darkcolor pt5">11/08/2015 03:33:56 PM - <span class="ash">2 Hours Taken</span></div>
                                                <div class="col-sm-6 p0 f11 pl5 darkcolor text-right"><span class="ash">Status</span><button type="button" class="btn btn-sm btn-green white-color ml5">Accepted</button></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="text-center clearfix">
                                        <button class="btn btn-dark f12 border-none mr4"
                                                ng-show="loadMoreShow">Load More
                                        </button>
                                    </div>
                                </div>
                                <div class="t-tab-content scroll-div-wrap-parent mt0">
                                    <div class="t-box">
                                        <div class="t-box-top p0 m0 border-none clearfix">
                                            <div class="col-sm-1 pl0 text-center">
                                                <span class="light-blue-bg white-color p10 border-radius50 f14">3.0</span>
                                            </div>
                                            <div class="t-content col-sm-11 p0 pl5 clearfix">
                                                <h4 class=" mt5 clearfix f14 light-blue bold">
                                                    <span class=" col-sm-8 word-break p0">Concept Note Sent for review</span>
                                                </h4>
                                                <p class="f12 darkcolor"></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="t-tab-content scroll-div-wrap-parent mt0">
                                    <div class="t-box">
                                        <div class="t-box-top p0 m0 border-none clearfix">
                                            <div class="col-sm-1 pl0 text-center">
                                                <span class="light-blue-bg white-color p10 border-radius50 f14">4.0</span>
                                            </div>
                                            <div class="t-content col-sm-11 p0 pl5 clearfix">
                                                <h4 class=" mt5 clearfix f14 light-blue bold">
                                                    <span class=" col-sm-8 word-break p0">review by Legal</span>
                                                </h4>
                                                <p class="f12 darkcolor"></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="t-tab-content scroll-div-wrap-parent mt0">
                                    <div class="t-box block-box">
                                        <div class="t-box-top p0 m0 border-none clearfix">
                                            <div class="col-sm-1 pl0 text-center">
                                                <span class="light-blue-bg white-color p10 border-radius50 f14">4.1</span>
                                            </div>
                                            <div class="t-content col-sm-11 p0 pl5 clearfix">
                                                <h4 class=" mt5 clearfix f14 light-blue bold">
                                                    <span class=" col-sm-8 word-break p0">Risk</span>
                                                </h4>
                                                <p class="f12 darkcolor"></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="t-tab-content scroll-div-wrap-parent mt0">
                                    <div class="t-box">
                                        <div class="t-box-top p0 m0 border-none clearfix">
                                            <div class="col-sm-1 pl0 text-center">
                                                <span class="light-blue-bg white-color p10 border-radius50 f14">4.2</span>
                                            </div>
                                            <div class="t-content col-sm-11 p0 pl5 clearfix">
                                                <h4 class=" mt5 clearfix f14 light-blue bold">
                                                    <span class=" col-sm-8 word-break p0">Treasury</span>
                                                </h4>
                                                <p class="f12 darkcolor"></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="t-tab-content scroll-div-wrap-parent mt0">
                                    <div class="t-box">
                                        <div class="t-box-top p0 m0 border-none clearfix">
                                            <div class="col-sm-1 pl0 text-center">
                                                <span class="light-blue-bg white-color p10 border-radius50 f14">4.3</span>
                                            </div>
                                            <div class="t-content col-sm-11 p0 pl5 clearfix">
                                                <h4 class=" mt5 clearfix f14 light-blue bold">
                                                    <span class=" col-sm-8 word-break p0">Environmental Specialist</span>
                                                </h4>
                                                <p class="f12 darkcolor"></p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </uib-tab>
                            <uib-tab heading="Tasks">
                            </uib-tab>
                            <uib-tab heading="Notifications">
                            </uib-tab>
                        </uib-tabset>

                    </div>

                </div>
            </div>
        </div>
    </div>
 </div>


