<h3 class="fixed content-heading">{{'Concept' | translate}}
    <div class="pull-right button-set">
        <a ui-sref="project.project-view({id:(currentProjectViewId | encode )})" uib-tooltip="Back"><i class="fa fa-close-sm"></i></a>
    </div>
</h3>
<div class="col-sm-12 fixed clearfix  z1 fixed-top full-fixed-top" ng-class="{visible:boolChangeClass}" fixed-top>
    <div class="clearfix relative details-fixed-top border-none no-bg pad0">
        <div class="col-sm-12 clearfix p0">
            <div class="page-header-wrap mt0  box-shadow clearfix">
                <div class="display-inline-block wrapper-list c-wrap-list pt10 col-sm-10 clearfix">
                    <h3 class="f15 dark-sky-blue">Aponye Uganda Limited</h3>
                    <ul>
                        <li>
                            <p class="f12 word-break">{{'Company' | translate}}</p>
                            <h3 class="f14 heading">Savera Hotels</h3>
                        </li>
                        <li>

                            <p class="f12 word-break">{{'Contacts' | translate}}</p>
                            <h3 class="f14 heading">Fiona</h3>
                        </li>
                        <li>
                            <p class="f12 word-break">{{'Loans' | translate}}</p>
                            <h3 class="f14 heading">1</h3>

                        </li>
                        <li>
                            <p class="f12 word-break">{{'Amount($)' | translate}}</p>
                            <h3 class="f14 heading">1,25,000
                            </h3>

                        </li>
                        <li>
                            <p class="f12 ">{{'Current Share' | translate}}</p>
                            <h3 class="f14 bold " label-status="{{projectDetails.project_status}}">2.5%</h3>
                        </li>
                        <li>
                            <p class="f12 ">{{'Rating' | translate}}</p>
                            <h3 class="f14 bold " label-status="{{projectDetails.project_status}}">B</h3>
                        </li>
                    </ul>
                </div>
                <div class="display-inline-block pull-right relative">
                    <div class="display-inline-block">
                        <span class="box-rating">{{projectDetails.rating}}</span>
                    </div>
                </div>
                <div class="display-inline-block pull-right relative">
                    <div class="display-inline-block">
                        <span class="box-rating">{{projectDetails.grade}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="content-area animated fadeInRight" id="contentArea">

    <div class="content-container clearfix">

        <div class="col-sm-12 p0">
            <div class="page-header-wrap white-bg box-shadow clearfix relative mb15">
                <div class="display-inline-block wrapper-list c-wrap-list pt10 col-sm-10 clearfix" ng-init="getProjectDetails()">
                    <h3 class="f15 dark-sky-blue">Aponye Uganda Limited</h3>
                    <ul>
                        <li>
                            <p class="f12 word-break">{{'Company' | translate}}</p>
                            <h3 class="f14 heading">Savera Hotels</h3>
                        </li>
                        <li>

                            <p class="f12 word-break">{{'Contacts' | translate}}</p>
                            <h3 class="f14 heading">Fiona</h3>
                        </li>
                        <li>
                            <p class="f12 word-break">{{'Loans' | translate}}</p>
                            <h3 class="f14 heading">1</h3>

                        </li>
                        <li>
                            <p class="f12 word-break">{{'Amount($)' | translate}}</p>
                            <h3 class="f14 heading">1,25,000
                            </h3>

                        </li>
                        <li>
                            <p class="f12 ">{{'Current Share' | translate}}</p>
                            <h3 class="f14 bold " label-status="{{projectDetails.project_status}}">2.5%</h3>
                        </li>
                        <li>
                            <p class="f12 ">{{'Rating' | translate}}</p>
                            <h3 class="f14 bold " label-status="{{projectDetails.project_status}}">B</h3>
                        </li>
                    </ul>
                </div>
                <div class="display-inline-block pull-right relative">
                    <div class="display-inline-block">
                        <span class="box-rating">{{projectDetails.rating}}</span>
                    </div>
                </div>
                <div class="display-inline-block pull-right relative">
                    <div class="display-inline-block">
                        <span class="box-rating">{{projectDetails.grade}}</span>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="textinfo-block border-top col-sm-12 pb10" ng-show="infoBox">
                    <label class="f12">Description</label>
                    <p class="f14 darkcolor">{{project_description}}</p>
                </div>
                <div class="slide-img" ng-click="infoBox=!infoBox"></div>
            </div>
        </div>

        <div class="col-sm-12 col-lg-12 plr20 mb20 mt10">
            <div class="col-sm-8 col-lg-9 p0">
                <div class="col-sm-12 p0 light-reg-bg white-color">
                    <div class="col-sm-4 pt10 pr0">
                        <div class="pt15 pb15">
                            <h6 class="f14">Date of Received</h6>
                            <strong class="f14">05 th August 2015</strong>
                        </div>
                    </div>
                    <div class="col-sm-3 p0 pt10">
                        <div class="pt15 pb15">
                            <h6 class="f14">Country Office</h6>
                            <strong class="f14">Uganda</strong>
                        </div>
                    </div>
                    <div class="col-sm-4 p0 pt10">
                        <div class="pt15 pb15">
                            <h6 class="f14">Days in your hand</h6>
                            <strong class="f14">5 Days</strong>
                        </div>
                    </div>
                    <div class="col-sm-1 mt15">
                        <ul>
                            <li class="custom-list attch-li mt5 pull-right">
                                <a href="javascript:;" class="menu-toggle mt5 dropdown-toggle"
                                   data-toggle="dropdown"><i class="fa fa-ellipsis-v f32 pink"></i></a>
                                <ul class="dropdown-menu cust-dropdown">
                                    <li>
                                        <a href="" class="darkcolor" download>
                                            {{'Download' | translate}}
                                        </a>
                                    </li>
                                </ul>
                            </li>

                        </ul>
                    </div>
                </div>
                <div class="col-sm-12 p0 mt10">
                    <h3 class=" text-capitalize white-color p15 btn-dark">Rejected Report</h3>
                    <div class="col-sm-12 white-bg ptb10">
                        <div class="col-sm-12 p0">
                            <div class="col-sm-4">
                                <div class="form-group form-group-custom mb15">
                                    <label class="darkcolor">Action</label>
                                    <select class="form-control">
                                        <option selected="selected">Need Info</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group form-group-custom mb15">
                                    <label class="control-label"></label>
                                    <input type="text" class="form-control" placeholder="User Name">
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                                <div class="col-sm-8 pl0 pr10">
                                    <div class="form-group form-group-custom mb15">
                                        <label class="darkcolor">Attachments</label>
                                        <!--<input type="file" class="form-control" placeholder="">-->
                                        <div class="bg-box mt5">
                                            <div class="dropzone plr15">
                                                <div ngf-select="uploadFiles($files)" ngf-drop="uploadFiles($files)" class="drop-box m0"
                                                     ngf-drag-over-class="'dragover'" ngf-multiple="true"  ngf-pattern="'.png,.jpg,.zip,.jpeg,.xl,.xls,.xlsx,.doc,.docx,.pdf,.rtf'" >
                                                    {{'Select File' | translate}}<span > {{'Or' | translate}} {{'Drop File' | translate}}</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        <div class="col-sm-12">
                                <div class="form-group form-group-custom mb10">
                                    <label class="darkcolor">Comments</label>
                                    <textarea class="form-control" placeholder="write your comments here"></textarea>
                                </div>
                            </div>
                        <div class="col-sm-12">
                                <div class="col-sm-6 pl0">
                                    <button type="button" class="btn green-btn">SAVE</button>
                                </div>
                                <div class="col-sm-6 pr0">
                                    <p class="pull-right">
                                        <button type="button" class="btn btn-sm btn-dark">SEND REPORT</button>
                                        <button type="button" class="btn  gray-btn">CANCEL</button>
                                    </p>
                                </div>
                                <p class="ash f12">Last Saved: 23 July, 2016</p>
                            </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-lg-3 pr0">
                <div class="col-sm-12 white-bg p0 pb10 mb10 border">
                    <h6 class="darkcolor text-capitalize ptb10 f14 fontBold border-bottom mb5 plr15">Actions</h6>
                    <p class="mb3  plr15 mt8">
                        <button class="btn red-bg display-block white-color f14 fontBold width-full"><i class="icon-export1 mr10 f18"></i> SUBMIT</button></p>
                    <p class="plr15 clearfix">
                        <span class=" col-sm-6 p0"><button class="btn btn-dark f14 fontBold plr15 width-full"><i class="icon-save mr10"></i> SAVE</button></span>
                        <span class="col-sm-6 p0"><button class="btn btn-dark f14 fontBold width-full ml2"><i class=" icon-comment3 mr10"></i> NEED INFO</button></span></p>
                    <!--<p class="sky-blue-btn-wrap plr15 mt10"><button class="btn white-bg f14 fontBold width-full sky-blue border-radius10 text-capitalize">Compare with other Projects</button></p>-->
                </div>
                <div class="col-sm-12 white-bg p0 pb10 mb10 border">
                    <h6 class="darkcolor text-capitalize ptb10 f14 fontBold border-bottom mb5 plr15">Concept Note Workflow</h6>
                    <div class="col-sm-12 border-bottom pb10 pt5">
                        <div class="col-sm-10 p0 darkcolor">
                            <h6 class="f14">1.0 ENQUIRY/APPLICATIONS</h6>
                            <p class="pl20">Forwarded to Next Level</p>
                            <p class="pl20">by James Smith</p>
                            <p class="pl20">01 July, 2016</p>
                            <p class="pl20">No. of days:  <strong>2 days</strong></p>
                        </div>
                        <div class="col-sm-2 pr0">
                            <a href="" class="green display-block ml3"><i class="icon-right-circle"></i></a>
                            <a href="" class="sky-blue display-block f24"><i class=" icon-clipped-file"></i></a>
                        </div>
                    </div>
                    <div class="col-sm-12 border-bottom pb10 pt5">
                        <div class="col-sm-10 p0 darkcolor">
                            <h6 class="f14">2.0 ENQUIRY/APPLICATIONS</h6>
                            <p class="pl20">Forwarded to Next Level</p>
                            <p class="pl20">by James Smith</p>
                            <p class="pl20">01 July, 2016</p>
                            <p class="pl20">No. of days:  <strong>2 days</strong></p>
                        </div>
                        <div class="col-sm-2 pr0">
                            <a href="" class="red display-block ml3"><i class=" icon-times-square"></i></a>
                            <a href="" class="sky-blue display-block f24"><i class=" icon-clipped-file"></i></a>
                        </div>
                    </div>
                    <div class="col-sm-12 border-bottom ptb10">
                        <h6 class="f14 text-capitalize ash">3.0 Concept Note Sent for review</h6>
                    </div>
                    <div class="col-sm-12 border-bottom ptb10">
                        <h6 class="f14 text-capitalize ash">4.0 review by Legal</h6>
                    </div>
                    <div class="col-sm-12 border-bottom ptb10">
                        <h6 class="f14 text-capitalize ash">4.1 Risk</h6>
                    </div>
                    <div class="col-sm-12 border-bottom ptb10">
                        <h6 class="f14 text-capitalize ash">4.2 Treasury</h6>
                    </div>
                    <div class="col-sm-12 pt10">
                        <h6 class="f14 text-capitalize ash">4.3 Environmental Specialist</h6>
                    </div>
                </div>
                <div class="col-sm-12 white-bg p0 pb10 mb10 border">
                    <h6 class="darkcolor text-capitalize ptb10 f14 fontBold border-bottom mb5 plr15">Attachments</h6>
                    <div class="col-sm-12 border-bottom pb5 pt5">
                        <div class="col-sm-10 p0 darkcolor">
                            <h6 class="f14 red">Birth Certificate</h6>
                            <p class=" ash"> 23 June, 2016 - 145 KB</p>
                        </div>
                        <div class="col-sm-2 pr0">
                            <a href="" class="sky-blue display-block ml3 mt4 f21"><i class="icon-attachment"></i></a>
                        </div>
                    </div>
                    <div class="col-sm-12 border-bottom pb5 pt5">
                        <div class="col-sm-10 p0">
                            <h6 class="f14">Birth Certificate</h6>
                            <p class=" ash"> 23 June, 2016 - 145 KB</p>
                        </div>
                        <div class="col-sm-2 pr0">
                            <a href="" class="sky-blue display-block ml3 mt4 f21"><i class="icon-attachment"></i></a>
                        </div>
                    </div>
                    <div class="col-sm-12 pb5 pt5">
                        <div class="col-sm-10 p0">
                            <h6 class="f14">Birth Certificate</h6>
                            <p class=" ash"> 23 June, 2016 - 145 KB</p>
                        </div>
                        <div class="col-sm-2 pr0">
                            <a href="" class="sky-blue display-block ml3 mt4 f21"><i class="icon-attachment"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 white-bg p0 pb10 mb10 border">
                    <h6 class="darkcolor text-capitalize ptb10 f14 fontBold border-bottom mb5 plr15">recent 5 projects</h6>
                    <div class="col-sm-12 pb5 pt5 mb20">
                        <div class="col-sm-1 p0">
                            <a href="" class="sky-blue f24"><i class=" icon-Untitled-5"></i></a>
                        </div>
                        <div class="col-sm-7 pr0 darkcolor">
                            <h6 class="f14">HOME LOAN</h6>
                            <p class=" ash mb0 f12"> Willium</p>
                            <p class="ash mb0 f12"> USD 125,000</p>
                        </div>
                        <div class="col-sm-4 p0">
                            <button type="button" class="btn green-btn display-block border-radius15">Accept</button>
                            <span class="display-block ash f12">24, Jul, 2016</span>
                        </div>
                    </div>
                    <div class="col-sm-12 pb5 pt5 mb20">
                        <div class="col-sm-1 p0">
                            <a href="" class="sky-blue f24"><i class=" icon-company"></i></a>
                        </div>
                        <div class="col-sm-7 pr0 darkcolor">
                            <h6 class="f14">Real Estate</h6>
                            <p class=" ash mb0 f12"> James</p>
                            <p class="ash mb0 f12"> USD 1,425,000</p>
                        </div>
                        <div class="col-sm-4 p0">
                            <button type="button" class="btn red-bg btn-sm white-color display-block border-radius15">Reject</button>
                            <span class="display-block ash f12">24, Jul, 2016</span>
                        </div>
                    </div>
                    <div class="col-sm-12 pb5 pt5 mb20">
                        <div class="col-sm-1 p0">
                            <a href="" class="sky-blue f24"><i class=" icon-Untitled-5"></i></a>
                        </div>
                        <div class="col-sm-7 pr0 darkcolor">
                            <h6 class="f14">Industrial Loan</h6>
                            <p class=" ash mb0 f12"> Willium</p>
                            <p class="ash mb0 f12"> USD 125,000</p>
                        </div>
                        <div class="col-sm-4 p0">
                            <button type="button" class="btn green-btn display-block border-radius15">Accept</button>
                            <span class="display-block ash f12">24, Jul, 2016</span>
                        </div>
                    </div>
                    <div class="col-sm-12 pb5 pt5 mb20">
                        <div class="col-sm-1 p0">
                            <a href="" class="sky-blue f24"><i class="icon-cloud-rain2"></i></a>
                        </div>
                        <div class="col-sm-7 pr0 darkcolor">
                            <h6 class="f14">Agriculture Loan</h6>
                            <p class=" ash mb0 f12"> Willium</p>
                            <p class="ash mb0 f12"> USD 125,000</p>
                        </div>
                        <div class="col-sm-4 p0">
                            <button type="button" class="btn red-btn red-bg btn-sm white-color display-block border-radius15">Reject</button>
                            <span class="display-block ash f12">24, Jul, 2016</span>
                        </div>
                    </div>
                    <div class="col-sm-12 pb5 pt5 mb20">
                        <div class="col-sm-1 p0">
                            <a href="" class="sky-blue f24"><i class="icon-gear2"></i></a>
                        </div>
                        <div class="col-sm-7 pr0 darkcolor">
                            <h6 class="f14">Industrial Loan</h6>
                            <p class=" ash mb0 f12"> Willium</p>
                            <p class="ash mb0 f12"> USD 125,000</p>
                        </div>
                        <div class="col-sm-4 p0">
                            <button type="button" class="btn green-btn display-block border-radius15">Accept</button>
                            <span class="display-block ash f12">24, Jul, 2016</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

