<h3 class="fixed content-heading">{{'Project' | translate}}
    <div class="pull-right button-set">
        <a ui-sref="project.project-list({id:(currentProjectViewId | encode )})" uib-tooltip="Back"><i class="fa fa-close-sm"></i></a>
    </div>
</h3>

<div class="col-sm-12 fixed clearfix  z1 fixed-top full-fixed-top" ng-class="{visible:boolChangeClass}" fixed-top>
    <div class="clearfix relative details-fixed-top border-none no-bg pad0">
        <div class="col-sm-12 clearfix p0">
            <div class="page-header-wrap mt0  box-shadow clearfix">
                <div class="display-inline-block wrapper-list c-wrap-list pt10 col-sm-10 clearfix" >
                    <h3 class="f15 dark-sky-blue">{{ projectDetails.project_title }}</h3>
                    <ul>
                        <li>
                            <p class="f12 word-break">{{'Company' | translate}}</p>
                            <h3 class="f14 heading">{{selectedCompanyList[0].company_name}}
                                <a
                                        ng-show="selectedCompanyList.length > 1 "
                                        href="javascript:;" class="sky-blue f14"> (+{{ selectedCompanyList.length-1
                                    }})</a>
                            </h3>

                            <label ng-if="selectedCompanyList.length == 0" class="display-block heading line-height14">------</label>

                        </li>
                        <li>

                            <p class="f12 word-break">{{'Contacts' | translate}}</p>
                            <h3 class="f14 heading">{{projectContactList[0].first_name}}
                                <a
                                        ng-show="projectContactList.length > 1 " href="javascript:;"
                                        class="sky-blue f14">(+{{
                                    projectContactList.length-1 }})</a>
                            </h3>
                            <label ng-if="projectContactList.length == 0" class="display-block heading line-height14">------</label>
                            <!--   <button ng-hide="projectContactList.length" ng-click="AddedContactsModal()"
                                       class="btn btn-primary lt-bg border-none f12 mt5"><i
                                       class="fa fa-plus-circle"></i> <span>Add</span></button>-->
                        </li>
                        <li>
                            <p class="f12 word-break">{{'No Of Loans' | translate}}</p>
                            <h3 class="f14 heading">{{projectDetails.no_of_loans}}</h3>

                        </li>
                        <li>
                            <p class="f12 word-break">{{'Sector' | translate}}</p>
                            <h3 class="f14 heading" title="{{projectDetails.sector}}">{{projectDetails.sector | ellipsis:30}}</h3>

                        </li>
                        <li>
                            <p class="f12 word-break">{{'Loan Amount' | translate}}</p>
                            <h3 class="f14 heading">
                                <div  class="f14" ng-repeat="amount in projectDetails.loan_amount">{{amount.currency_code}} {{amount.amount | currency:""}}</div>
                            </h3>

                        </li>

                        <li >
                            <p class="f12 ">{{'Status' | translate}}</p>
                            <h3 class="f14 bold " label-status="{{projectDetails.project_status}}"> {{projectDetails.project_status | uppercase}}</h3>
                        </li>
                    </ul>

                </div>

                <div class="display-inline-block pull-right relative">
                    <div class="display-inline-block">
                        <span class="box-rating">{{projectDetails.rating}}</span>
                    </div>
                </div>
                <div class="display-inline-block pull-right relative">
                    <div class="display-inline-block">
                        <span class="box-rating">{{projectDetails.grade}}</span>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<div class="content-area animated fadeInRight" id="contentArea">
    <div class="content-container clearfix">
        <div class="col-sm-12 p0">
            <div class="page-header-wrap white-bg box-shadow clearfix relative mb15">
                <div class="display-inline-block wrapper-list c-wrap-list pt10 col-sm-10 clearfix" >
                    <h3 class="f15 dark-sky-blue">{{ projectDetails.project_title }}</h3>
                    <ul>
                        <li>
                            <p class="f12 word-break">{{'Company' | translate}}</p>
                            <h3 class="f14 heading">{{selectedCompanyList[0].company_name}}
                                <a
                                        ng-show="selectedCompanyList.length > 1 "
                                        href="javascript:;" class="sky-blue f14"> (+{{ selectedCompanyList.length-1
                                    }})</a>
                            </h3>
                            <label ng-if="selectedCompanyList.length == 0" class="display-block heading line-height14">------</label>

                        </li>
                        <li>

                            <p class="f12 word-break">{{'Contacts' | translate}}</p>
                            <h3 class="f14 heading">{{projectContactList[0].first_name}}
                                <a
                                        ng-show="projectContactList.length > 1 " href="javascript:;"
                                        class="sky-blue f14">(+{{
                                    projectContactList.length-1 }})</a>
                            </h3>
                            <label ng-if="projectContactList.length == 0" class="display-block heading line-height14">------</label>
                        </li>
                        <li>
                            <p class="f12 word-break">{{'No Of Loans' | translate}}</p>
                            <h3 class="f14 heading">{{projectDetails.no_of_loans}}</h3>

                        </li>
                        <li>
                            <p class="f12 word-break">{{'Sector' | translate}}</p>
                            <h3 class="f14 heading" title="{{projectDetails.sector}}">{{projectDetails.sector | ellipsis:30}}</h3>

                        </li>
                        <li>
                            <p class="f12 word-break">{{'Loan Amount' | translate}}</p>
                            <h3 class="f14 heading">
                                <div class="f14" ng-repeat="amount in projectDetails.loan_amount">{{amount.currency_code}} {{amount.amount | currency:""}}</div>
                            </h3>

                        </li>
                        <li >
                            <p class="f12 ">{{'Status' | translate}}</p>
                            <h3 class="f14 bold " label-status="{{projectDetails.project_status}}"> {{projectDetails.project_status | uppercase}}</h3>

                        </li>
                    </ul>


                </div>
                <div class="display-inline-block pull-right relative">
                    <div class="display-inline-block">
                        <span class="box-rating">{{projectDetails.rating}}</span>
                    </div>
                </div>
                <div class="display-inline-block pull-right relative">
                    <div class="display-inline-block">
                        <span class="box-rating">{{projectDetails.grade}}</span>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="textinfo-block border-top col-sm-12 pb10" ng-show="infoBox">
                    <label class="f12">Description</label>
                    <p class="f14 darkcolor">{{project_description}}</p>
                </div>
                <div class="slide-img" ng-click="infoBox=!infoBox"></div>
            </div>
        </div>
        <div class="col-sm-12 plr20 mb20 mt5">
            <h3 class="roboto-bold text-capitalize darkcolor f14">Existing Exposure</h3>
            <div class="facility-info-widget white-bg mb20 mt5 clearfix">
                <div class="col-sm-8 facility-info-widget-left">
                    <div class="facility-info-widget-icon">
                        <i class="icon-building"></i>
                    </div>
                    <a class="text-capitalize darkcolor bold f14 display-block">Hotel Building Construction</a>
                    <div class="col-sm-12 p0 mt10">
                        <div class="col-sm-3 p0">
                            <span class="light-blue display-block f12">Facility IP</span>
                            <span class="darkcolor display-block f14">839382782773</span>
                        </div>
                        <div class="col-sm-3 p0">
                            <span class="light-blue display-block f12">Approve</span>
                            <span class="darkcolor display-block f14">1,25,000</span>
                        </div>
                        <div class="col-sm-3 p0">
                            <span class="light-blue display-block f12">Exposure</span>
                            <span class="darkcolor display-block f14">Good</span>
                        </div>
                        <div class="col-sm-3 p0">
                            <span class="light-blue display-block f12">Last Paid Date</span>
                            <span class="darkcolor display-block f14">21 Jul,2016</span>
                        </div>
                    </div>
                    <div class="col-sm-12 p0 mt10">
                        <div class="col-sm-3 p0">
                            <span class="light-blue display-block f12">Next Due Date</span>
                            <span class="darkcolor display-block f14">12 Aug,2016</span>
                        </div>
                        <div class="col-sm-3 p0">
                            <span class="light-blue display-block f12">Disbursed</span>
                            <span class="darkcolor display-block f14">75,000</span>
                        </div>
                        <div class="col-sm-3 p0">
                            <span class="light-blue display-block f12">Paid</span>
                            <span class="darkcolor display-block f14">25,000</span>
                        </div>
                        <div class="col-sm-3 p0">
                            <span class="light-blue display-block f12">Status</span>
                            <span class="darkcolor display-block f14 bold sky-blue">Watch</span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-4 facility-info-widget-right p0">
                    <div class="display-inline-block custom-list valign-middle pull-right relative">
                        <a aria-expanded="false" class="menu-toggle f13 dark-sky-blue dropdown-toggle" data-toggle="dropdown" href="javascript:;"><i class="fa fa-ellipsis-v"></i></a>
                        <ul class="dropdown-menu cust-drop">
                            <li>
                                <a href="javascript:;" class="f14 darkcolor">Payment Schedule</a>
                            </li>
                            <li>
                                <a href="javascript:;" class="f14 darkcolor">Disbursement Plan</a>
                            </li>
                            <li>
                                <a href="javascript:;" class="f14 darkcolor">Collections</a>
                            </li>
                            <li>
                                <a href="javascript:;" class="f14 darkcolor">General</a>
                            </li>
                            <li>
                                <a href="javascript:;" class="f14 darkcolor">Pricing</a>
                            </li>
                            <li>
                                <a href="javascript:;" class="f14 darkcolor">Terms & Conditions</a>
                            </li>
                        </ul>
                    </div>
                    <div class="text-center"><img src="images/facility-graph2.jpg"/></div>
                </div>
            </div>
            <h3 class="roboto-bold text-capitalize darkcolor f14">Facilitate Setup<a href="#" class="pull-right sky-blue f21"><i class="icon-filter"></i></a></h3>
            <div class="col-sm-12 ash-bg p0 ptb10">
                <div class="col-sm-3">
                    <label class="control-label">Select Your Filter Type</label>
                    <div class="form-group clearfix form-group-custom">
                        <select  class="form-control ng-pristine ng-valid ng-touched" style="">
                            <option value="" class="" selected="selected">Date</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-2 pl0">
                    <label class="control-label">From Date</label>
                    <div class="form-group clearfix form-group-custom">
                        <div class="input-group">
                            <input type="text" class="form-control" uib-datepicker-popup="yyyy-MM-dd"
                               data-ng-model="company.company_incorporation_date" type="text"
                               name="company_incorporation_date"
                               is-open="openCal"
                               show-weeks="false" show-button-bar="false" readonly/>
                                  <span class="input-group-btn">
                                    <button type="button" class="btn btn-default border" ng-click="openCal = true">
                                        <i class="fa fa-calendar"></i>
                                    </button>
                                  </span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2 pl0">
                    <label class="control-label">To Date</label>
                    <div class="form-group clearfix form-group-custom">
                        <div class="input-group">
                            <input type="text" class="form-control" uib-datepicker-popup="yyyy-MM-dd"
                               data-ng-model="company.company_incorporation_date" type="text"
                               name="company_incorporation_date"
                               is-open="openCals"
                               show-weeks="false" show-button-bar="false" readonly/>
                                  <span class="input-group-btn">
                                    <button type="button" class="btn btn-default border" ng-click="openCals = true">
                                        <i class="fa fa-calendar"></i></button>
                                  </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 p0">
                <div class="text-center"><img src="images/facility-graph3.jpg" width="100%"/></div>
            </div>
        </div>
    </div>
</div>
<script type="text/ng-template" id="knowledge-details.html">
    <div class="modal-wrap right-modal modal-custom">
        <div class="clearfix">
            <h3 class="right-modal-head">
                <i class="fa fa-sitemap mr8"></i>{{knowledgeData.document_title}}
                <a ng-click="cancel()" uib-tooltip="Close" class="close-right pull-right"><img src="images/close.png"></a>
            </h3>

        </div>
        <div class="modal-body clearfix">

            <div class="col-sm-12 p0">
                <div class="form-group clearfix form-group-custom mb10">
                    <div class="col-sm-2"><label class="f13 ash">Title:</label></div>
                    <div class="col-sm-8 f14">
                        {{knowledgeData.document_title}}
                    </div>
                </div>
            </div>
            <div class="col-sm-12 p0">
                <div class="form-group clearfix form-group-custom mb10">
                    <div class="col-sm-2"><label class="f13 ash">Description:</label></div>
                    <div class="col-sm-8 f14" data-ng-bind-html="knowledgeData.document_description"></div>
                </div>
            </div>
            <div class="col-sm-12 p0" ng-if="knowledgeData.document_type == 'document'">
                <div class="form-group clearfix form-group-custom mb10">
                    <div class="col-sm-2"><label class="f13 ash">File:</label></div>
                    <div class="col-sm-8 p0">
                        <div class="btn-custom mt10">
                            <a href="{{knowledgeData.document_source}}" class="f14 sky-blue" download target="_blank"><i class="fa fa-download mlr5"></i>Download</a><span class="f12"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 p0" ng-if="knowledgeData.document_type == 'video'">
                <div class="form-group clearfix form-group-custom mb10">
                    <!--<div class="col-sm-2"><label class="control-label">Video:</label></div>-->
                    <div class="col-sm-12 p0" add-iframe data-iframesrc="{{knowledgeData.document_source}}">
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>







