<h3 class="fixed content-heading"> {{'Facilitate Setup' | translate}}
    <ul class="pull-right icons-right">
        <!--<li><a ui-sref="app.org-structure-view" ng-click="open()" uib-tooltip="Upload"><i
                class="fa fa-cloud-upload"></i></a></li>-->
        <li><a ui-sref="org.org-structure-view" active-link="heading-active" uib-tooltip="Add"><i
                class="icon-plus-circle"></i></a></li>
    </ul>
</h3>

<div id="contentArea" class="content-area animated fadeInRight">
    <div class="content-container clearfix light-blue-bg p20 mb20 facilitate-types-wrap">
        <h3>Facilitate Types</h3>
        <p>Maecenus tempus,tellus eget condimentum rhoncus,sem quam semper libero,sit amet adipiscing sem neque sed ipsm.nam quam nunc,blandid vel,luctus pulvinar, hungrerit id,lorem</p>
        <p>Maecenus  nec odio et ante ticident tempus.Donec vitae sapien ut libero venenatis faucibus.Nullam auis ante.Etium sit amet orci eget.eros facibus tincident.Duis leo
        Sed fringilla mauris sit amet nibh.Donec sodales sagillis magna.Sed consequa,leo eget bibendum sodales. augue velit cursus nunc.
        </p>
        <div class="col-lg-4 col-sm-4 col-md-4 pl0 mt10" >
            <div class="col-sm-12 pad0">
                <div class="list-data mb5 white-bg p10 full-width">
                    <div class="list-img-rounded pull-left mr10">
                        <i class="icon-clipped-file2""></i>
                    </div>
                    <div class="list-text overflow-hidden">
                        <h5 class="heading-caps">HOME LOAN</h5>
                        <p><label>Created by:</label> William</p>
                        <p><label>Last Modified on:</label>22nd July,2016</p>
                        <div class="col-sm-12 clearfix clearboth p0 mt20 mb5">
                            <a href="javascript:;" class="green-btn">General</a>
                            <a href="javascript:;"  class="gray-btn">Pricing</a>
                            <a href="javascript:;" class="gray-btn">Terms & Conditions</a>
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <div class="col-lg-4 col-sm-4 col-md-4 pl0 mt10" >
            <div class="col-sm-12 pad0">
                <div class="list-data mb5 white-bg p10 full-width">
                    <div class="list-img-rounded pull-left mr10">
                        <i class="icon-clipped-file2""></i>
                    </div>
                    <div class="list-text overflow-hidden">
                        <h5 class="heading-caps">VEHICLE LOAN</h5>
                        <p><label>Created by:</label> William</p>
                        <p><label>Last Modified on:</label>22nd July,2016</p>
                        <div class="col-sm-12 clearfix clearboth p0 mt20 mb5">
                            <a href="javascript:;" class="green-btn">General</a>
                            <a href="javascript:;"  class="green-btn">Pricing</a>
                            <a href="javascript:;" class="green-btn">Terms & Conditions</a>
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <div class="col-lg-4 col-sm-4 col-md-4 pl0 mt10" >
            <div class="col-sm-12 pad0">
                <div class="list-data mb5 white-bg p10 full-width">
                    <div class="list-img-rounded pull-left mr10">
                        <i class="icon-clipped-file2""></i>
                    </div>
                    <div class="list-text overflow-hidden">
                        <h5 class="heading-caps">INDUSTRIAL LOAN</h5>
                        <p><label>Created by:</label> William</p>
                        <p><label>Last Modified on:</label>22nd July,2016</p>
                        <div class="col-sm-12 clearfix clearboth p0 mt20 mb5">
                            <a href="javascript:;" class="green-btn">General</a>
                            <a href="javascript:;"  class="green-btn">Pricing</a>
                            <a href="javascript:;" class="green-btn">Terms & Conditions</a>
                        </div>
                    </div>
                </div>
            </div>


        </div>
        <div class="col-lg-4 col-sm-4 col-md-4 pl0 mt10" >
            <div class="col-sm-12 pad0">
                <div class="list-data mb5 white-bg p10 full-width">
                    <div class="list-img-rounded pull-left mr10">
                        <i class="icon-clipped-file2""></i>
                    </div>
                    <div class="list-text overflow-hidden">
                        <h5 class="heading-caps">PROPERTY LOAN</h5>
                        <p><label>Created by:</label> William</p>
                        <p><label>Last Modified on:</label>22nd July,2016</p>
                        <div class="col-sm-12 clearfix clearboth p0 mt20 mb5">
                            <a href="javascript:;" class="green-btn">General</a>
                            <a href="javascript:;"  class="gray-btn">Pricing</a>
                            <a href="javascript:;" class="gray-btn">Terms & Conditions</a>
                        </div>
                    </div>
                </div>
            </div>


        </div>

    </div>
</div>