<h3 class="fixed content-heading"> {{'Facilitate Setup' | translate}}
    <ul class="pull-right icons-right">
        <!--<li><a ui-sref="app.org-structure-view" ng-click="open()" uib-tooltip="Upload"><i
                class="fa fa-cloud-upload"></i></a></li>-->
        <li><a ui-sref="org.org-structure-view" active-link="heading-active" uib-tooltip="close"><i
                class="fa fa-close-sm"></i></a></li>
    </ul>
</h3>

<div id="contentArea" class="content-area animated fadeInRight">
    <div class="content-container clearfix light-blue-bg p20 mb20 facilitate-setup-wrap">
        <h1 class="clearfix">
            <span class="f24 pull-left mr4"><i class="fa fa-home"></i></span>
            <span class="col-sm-6 pull-left">
                <div class="form-group clearfix form-group-custom">
                    <input type="text" class="form-control ng-pristine ng-valid ng-valid-required ng-touched" placeholder="LOAN NAME">
                </div>
            </span>
        </h1>
        <div class="col-sm-12 facilitate-setup-content">
            <div class="col-sm-3 page-right-wrap pl0">
                    <div class="v-tabs-wrap">
                        <ul>
                            <li class="tab-active">
                                <a href="#"><i class="icon-clipped-file2"></i><span class="ng-binding">General</span></a>
                            </li>
                            <li >
                                <a href="#" ><i class="icon-btc-currency1"></i><span class="ng-binding">Pricing</span></a>
                            </li>
                            <li>
                                <a href="#"><i class=" icon-stars-list"></i><span class="ng-binding">Terms & Conditions</span></a>
                            </li>
                        </ul>

                    </div>
                </div>
            <div class=" col-sm-9 p0 acc-wrapper">
                <h1>GENERAL <a href="#" class="pull-right f21"><i class="icon-plus-circle"></i></a></h1>
                <div class="acc-box facility-setup-form clearfix">
                    <div class="facility-form-head acc-head col-sm-12">
                        <h6 basic-accordian class="col-sm-6 mt5 p0">Name
                        <span class="acc-icon darkcolor pull-left mr8 f18"><i
                                class="icon-angle-rightt-circle"></i> </span>
                        </h6>
                        <span class="f12 col-sm-5 mt5 text-right">Last Modyfied on: 12 June,2016</span>
                        <div class="col-sm-1  gray display-inline-block p0">

                            <div class="display-inline-block pull-right custom-list">
                                <a class="menu-toggle f13 dark-sky-blue dropdown-toggle" data-toggle="dropdown" href="javascript:;" aria-expanded="false"><i class="fa fa-ellipsis-v"></i>
                                </a>
                                <ul class="dropdown-menu cust-dropdown">
                                    <li>
                                        <a href="javascript:;" class="f14 darkcolor"><i class="icon-edit"></i>Delete</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="acc-body clearfix p0">
                    <div class="col-sm-12 p0 mtb10">
                        <div class="col-sm-4">
                            <label class="control-label">Name</label>
                            <div class="form-group clearfix form-group-custom">
                                <input type="text" class="form-control ng-pristine ng-valid ng-valid-required ng-touched">
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <label class="control-label">Currency Type</label>
                            <div class="form-group clearfix form-group-custom">
                                <select class="form-control ng-pristine ng-untouched ng-valid ng-valid-required" name="" required="">
                                    <option value="">--Select Type--</option>
                                    <option value="Partnership">Check</option>
                                    <option value="Government Institution">Cash</option>
                                    <option value="Others">Others</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="colsm-12 p0">
                        <div class="col-sm-4">
                            <label class="control-label">Amount</label>
                            <div class="form-group clearfix form-group-custom">
                                <input class="form-control ng-dirty ng-touched ng-invalid ng-invalid-parse" name="client_alternative_phone_number" restrict-input="^[0-9-]*$" only-digits="" style="" type="text">
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 p0">
                        <div class="col-sm-4">
                            <div class="form-group clearfix form-group-custom">
                                <div class="radio display-inline-block mr15 mt5">
                                    <!-- ngIf: company.new_business == '' -->
                                    <label class="f12"><input type="radio" name="new_business" class="ng-pristine ng-untouched ng-valid">As an Amount</label></div>
                                <div class="radio display-inline-block"><label class="f12"><input type="radio" name="new_business" class="ng-pristine ng-untouched ng-valid"> As Percentage(%)</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <label class="control-label">Text Area</label>
                        <div class="form-group clearfix form-group-custom">
                            <textarea class="form-control ng-pristine ng-valid ng-valid-required ng-touched"></textarea>
                        </div>
                    </div>
                    <div class="col-sm-12 btn-custom clearfix ng-scope">
                        <button class="btn btn-primary f14 next-btn" type="submit">Save</button>
                        <button type="button" class="btn white-color lt-bg f12 ng-binding">Cancel</button>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>

