<h3 class="fixed content-heading">{{'Project' | translate}}
    <div class="pull-right button-set">
        <a ui-sref="project.project-list({id:(currentProjectViewId | encode )})" uib-tooltip="Back"><i class="fa fa-close-sm"></i></a>
    </div>
</h3>

<div class="col-sm-12 fixed clearfix  z1 fixed-top full-fixed-top" ng-class="{visible:boolChangeClass}" fixed-top>
    <div class="clearfix relative details-fixed-top border-none no-bg pad0">
        <div class="col-sm-12 clearfix p0">
            <div class="page-header-wrap mt0  box-shadow clearfix">
                <div class="display-inline-block wrapper-list c-wrap-list pt10 col-sm-10 clearfix" >
                    <h3 class="f15 dark-sky-blue">{{ projectDetails.project_title }}</h3>
                    <ul>
                        <li>
                            <p class="f12 word-break">{{'Company' | translate}}</p>
                            <h3 class="f14 heading">{{selectedCompanyList[0].company_name}}
                                <a
                                        ng-show="selectedCompanyList.length > 1 "
                                        href="javascript:;" class="sky-blue f14"> (+{{ selectedCompanyList.length-1
                                    }})</a>
                            </h3>

                            <label ng-if="selectedCompanyList.length == 0" class="display-block heading line-height14">------</label>

                        </li>
                        <li>

                            <p class="f12 word-break">{{'Contacts' | translate}}</p>
                            <h3 class="f14 heading">{{projectContactList[0].first_name}}
                                <a
                                        ng-show="projectContactList.length > 1 " href="javascript:;"
                                        class="sky-blue f14">(+{{
                                    projectContactList.length-1 }})</a>
                            </h3>
                            <label ng-if="projectContactList.length == 0" class="display-block heading line-height14">------</label>
                            <!--   <button ng-hide="projectContactList.length" ng-click="AddedContactsModal()"
                                       class="btn btn-primary lt-bg border-none f12 mt5"><i
                                       class="fa fa-plus-circle"></i> <span>Add</span></button>-->
                        </li>
                        <li>
                            <p class="f12 word-break">{{'No Of Loans' | translate}}</p>
                            <h3 class="f14 heading">{{projectDetails.no_of_loans}}</h3>

                        </li>
                        <li>
                            <p class="f12 word-break">{{'Sector' | translate}}</p>
                            <h3 class="f14 heading" title="{{projectDetails.sector}}">{{projectDetails.sector | ellipsis:30}}</h3>

                        </li>
                        <li>
                            <p class="f12 word-break">{{'Loan Amount' | translate}}</p>
                            <h3 class="f14 heading">
                                <div  class="f14" ng-repeat="amount in projectDetails.loan_amount">{{amount.currency_code}} {{amount.amount | currency:""}}</div>
                            </h3>

                        </li>

                        <li >
                            <p class="f12 ">{{'Status' | translate}}</p>
                            <h3 class="f14 bold " label-status="{{projectDetails.project_status}}"> {{projectDetails.project_status | uppercase}}</h3>
                        </li>
                    </ul>

                </div>

                <div class="display-inline-block pull-right relative">
                    <div class="display-inline-block">
                        <span class="box-rating">{{projectDetails.rating}}</span>
                    </div>
                </div>
                <div class="display-inline-block pull-right relative">
                    <div class="display-inline-block">
                        <span class="box-rating">{{projectDetails.grade}}</span>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>



<div class="content-area animated fadeInRight" id="contentArea">

    <div class="content-container clearfix">

        <div class="col-sm-12 p0">
            <div class="page-header-wrap white-bg box-shadow clearfix relative mb15">
                <div class="display-inline-block wrapper-list c-wrap-list pt10 col-sm-10 clearfix" >
                    <h3 class="f15 dark-sky-blue">{{ projectDetails.project_title }}</h3>
                    <ul>
                        <li>
                            <p class="f12 word-break">{{'Company' | translate}}</p>
                            <h3 class="f14 heading">{{selectedCompanyList[0].company_name}}
                                <a
                                        ng-show="selectedCompanyList.length > 1 "
                                        href="javascript:;" class="sky-blue f14"> (+{{ selectedCompanyList.length-1
                                    }})</a>
                            </h3>
                            <label ng-if="selectedCompanyList.length == 0" class="display-block heading line-height14">------</label>

                        </li>
                        <li>

                            <p class="f12 word-break">{{'Contacts' | translate}}</p>
                            <h3 class="f14 heading">{{projectContactList[0].first_name}}
                                <a
                                        ng-show="projectContactList.length > 1 " href="javascript:;"
                                        class="sky-blue f14">(+{{
                                    projectContactList.length-1 }})</a>
                            </h3>
                            <label ng-if="projectContactList.length == 0" class="display-block heading line-height14">------</label>
                        </li>
                        <li>
                            <p class="f12 word-break">{{'No Of Loans' | translate}}</p>
                            <h3 class="f14 heading">{{projectDetails.no_of_loans}}</h3>

                        </li>
                        <li>
                            <p class="f12 word-break">{{'Sector' | translate}}</p>
                            <h3 class="f14 heading" title="{{projectDetails.sector}}">{{projectDetails.sector | ellipsis:30}}</h3>

                        </li>
                        <li>
                            <p class="f12 word-break">{{'Loan Amount' | translate}}</p>
                            <h3 class="f14 heading">
                                <div class="f14" ng-repeat="amount in projectDetails.loan_amount">{{amount.currency_code}} {{amount.amount | currency:""}}</div>
                            </h3>

                        </li>
                        <li >
                            <p class="f12 ">{{'Status' | translate}}</p>
                            <h3 class="f14 bold " label-status="{{projectDetails.project_status}}"> {{projectDetails.project_status | uppercase}}</h3>

                        </li>
                    </ul>


                </div>
                <div class="display-inline-block pull-right relative">
                    <div class="display-inline-block">
                        <span class="box-rating">{{projectDetails.rating}}</span>
                    </div>
                </div>
                <div class="display-inline-block pull-right relative">
                    <div class="display-inline-block">
                        <span class="box-rating">{{projectDetails.grade}}</span>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="textinfo-block border-top col-sm-12 pb10" ng-show="infoBox">
                    <label class="f12">Description</label>
                    <p class="f14 darkcolor">{{project_description}}</p>
                </div>
                <div class="slide-img" ng-click="infoBox=!infoBox"></div>
            </div>
        </div>

        <div class="col-sm-12 plr20 mb20 mt5">

            <div class="col-lg-9 col-sm-8 mt5 pl0 p-data">
                <div class="div-header clearfix  border-bottom  white-bg" >
                    <h3 class="darkcolor pull-left display-inline-block f14 roboto-bold text-capitalize p15">Facility Information</h3>
                    <div class="pull-right cust-pagination mb0">
                        <ul class="c-pagination mt10">
                            <li>
                                <a href="javascript:;"><i class="icon-angle-left"></i> </a>
                            </li>
                            <li>
                                <a href="javascript:;"><i class="icon-angle-right"></i> </a>
                            </li>
                        </ul>
                        <div class="comment-wrapper" ng-click="comment_wrap=!comment_wrap; submitStatus = false;">
                            <a class="comment-count" href="javascript:;">
                                <i class="icon-comment3 f24"></i> <!--<label class="circle-count">5</label>-->
                            </a>
                        </div>

                    </div>
                </div>
                <div class="white-bg clearfix">

                    <div class="add-comment-wrap clearfix" ng-show="comment_wrap">
                        <div class="col-sm p0 add-comment-right">
                            <h4 class="clearfix">
                                <i class="icon-comment3"></i> {{'Comments' | translate}}
                                <div class="pull-right">
                                    <a class="mr8 btn btn-dark bold f12" href="javascript:;" ng-click="add_comment=!add_comment; submitStatus = false;">Add Comment </a>
                                    <a href="javascript:;" ng-click="comment_wrap=!comment_wrap"><i class="icon-times"></i> </a>
                                </div>
                            </h4>
                            <div class="scroll-area">
                                <div class="people-wrap clearfix cust-comment-wrap" ng-show="add_comment">
                                    <div class="peopleImgWrap">
                                        <img alt="image" src="images/default-img.png" class="img-circle">
                                    </div>
                                    <div class="peopleDetails-wrap">
                                        <p class="peopleName ash-color f12"><span class="text-capitalize darkblue pull-left">{{username}} - <label class="ash-color"> {{designation}} </label></span></p>

                                    </div>
                                    <div class="peopleDetails-comments add-comment">
                                        <form name="commentForm" novalidate>
                                            <div class="relative">
                                                <textarea class="width-full min-height70" ng-model = "comment" name="userComment" required></textarea>
                                                <div ng-if="commentForm.userComment.$error.required && submitStatus" class="error-message">{{'Enter Comment' | translate}}</div>
                                            </div>

                                            <div class="mt15">
                                                <button class="btn btn-success f12 bold mr4" ng-click = "addFormComment(commentForm,comment)">{{'Submit' | translate}}</button>
                                                <button class="btn btn-danger f12 bold" ng-click="add_comment=!add_comment">{{'Cancel' | translate}}</button>
                                            </div>
                                        </form>
                                    </div>

                                </div>

                                <div class="people-wrap clearfix cust-comment-wrap" ng-repeat="formComment in formComments">
                                    <div class="peopleImgWrap">
                                        <img alt="image" src="{{formComment.profile_image}}" class="img-circle">
                                    </div>
                                    <div class="peopleDetails-wrap">
                                        <p class="peopleName ash-color f12"><span class="text-capitalize darkblue pull-left">{{formComment.user_name}} - <label class="ash-color"> {{formComment.approval_name}} </label></span> <span class="pull-right ash text-capitalize f12">Commented on {{formComment.date}}</span></p>

                                    </div>
                                    <div class="peopleDetails-comments">
                                        {{formComment.comment}}
                                    </div>
                                </div>
                                <!-- <div class="text-center mt10">
                                     <a href="javascript:;" class="sky-blue f12">View More Comments <i class="icon-angle-down valign-middle"></i> </a>
                                 </div>-->
                            </div>

                        </div>
                    </div>
                    <div class="col-sm-12 white-bg p0 p15">
                        <div class="clearfix ">
                          <div ng-include="'partials/crm/project/forms/facilities-form.html'"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-4 mt5 pl0 pr0 white-bg">
                <div>
                    <div class="tabs-wrap" doc-height>
                        <uib-tabset justified="true">
                            <uib-tab heading="{{'Intelligence' | translate}}">
                                <div class="scroll-div-wrap" min-scroll>


                                    <div class="people-wrap clearfix" ng-repeat="row in knowledgeDetails" >
                                        <a class="display-block" href="javascript:;" target="_blank" ui-sref="project.project-overview({id:(row.id_crm_project | encode )})">
                                            <div class="pull-left p5 img-wrap">
                                                <span first-alpha="{{row.project_title}}"></span>
                                            </div>
                                            <div class="p5">
                                                <p class="darkcolor bold f12">{{row.project_title}}</p>
                                                <p class="f12 dark" data-ng-bind-html="row.project_description | ellipsis:60"></p>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="no-knowledgedata-view" ng-show="knowledgeDetails==null">No intelligence data available on this topic. <div class="text-center"><a class="btn lt-bg btn-primary f14 border-none display-inline-block mt10">Ask for Help</a></div></div>

                                </div>
                            </uib-tab>
                            <uib-tab heading="{{'Knowledge' | translate}}">
                                <div class="scroll-div-wrap" min-scroll>

                                    <div class="people-wrap clearfix" ng-repeat="data in knowledgeData" ng-click="modalOpen(data)" >
                                        <a ui-sref="knowledge-management.item-view({ id: data.id_knowledge_document})"  target="_blank" class="display-block">
                                            <div class="pull-left p5 k-img" knowledge-icons data-image="{{data.document_type}}" ></div>
                                            <div class="pl100 p5">
                                                <p class="darkcolor bold mb3 f14">{{data.document_title}} </p>
                                                <p class="f12 mb3" data-ng-bind-html="data.document_description | ellipsis:50"></p>
                                                <p class="sky-blue f14"><i class="fa fa-eye f18 mr4 darkcolor valign-top display-inline-block"></i> No. of views  <span class="darkcolor ml5 bold">{{data.number_of_views}}</span></p>
                                            </div>
                                        </a>
                                    </div>
                                    <div class="no-knowledgedata-view" ng-show="knowledgeData == ''">No knowledge base available on this topic <div class="text-center"><a ui-sref="knowledge-management.knowledge-dashboard" class="btn lt-bg btn-primary f14 border-none display-inline-block mt10">Click to Add</a></div></div>

                                </div>
                            </uib-tab>

                            <uib-tab heading="{{'People' | translate}}">
                                <div class="scroll-div-wrap" min-scroll>

                                    <div class="people-wrap clearfix" ng-repeat="data in peopleDetails">
                                        <div class="peopleImgWrap">
                                            <!--<img class="img-circle" src="images/default-img.png" alt="image"/>-->
                                            <img ng-src="{{data.profile_image || 'images/default-img.png'}}"/>
                                        </div>
                                        <div class="peopleDetails-wrap">
                                            <p class="peopleName darkcolor bold f12">{{data.username}}</p>
                                            <p class="peopleDesig">{{data.approval_name}}</p>
                                        </div>
                                    </div>
                                    <div  class="no-knowledgedata-view" ng-show="peopleDetails == null">No contacts available on this topic<div class="text-center"><a class="btn lt-bg btn-primary f14 border-none display-inline-block mt10">Click to Add</a></div></div>

                                </div>
                            </uib-tab>
                        </uib-tabset></div>


                </div>
            </div>

        </div>

    </div>
</div>
<script type="text/ng-template" id="knowledge-details.html">
    <div class="modal-wrap right-modal modal-custom">
        <div class="clearfix">
            <h3 class="right-modal-head">
                <i class="fa fa-sitemap mr8"></i>{{knowledgeData.document_title}}
                <a ng-click="cancel()" uib-tooltip="Close" class="close-right pull-right"><img src="images/close.png"></a>
            </h3>

        </div>
        <div class="modal-body clearfix">

            <div class="col-sm-12 p0">
                <div class="form-group clearfix form-group-custom mb10">
                    <div class="col-sm-2"><label class="f13 ash">Title:</label></div>
                    <div class="col-sm-8 f14">
                        {{knowledgeData.document_title}}
                    </div>
                </div>
            </div>
            <div class="col-sm-12 p0">
                <div class="form-group clearfix form-group-custom mb10">
                    <div class="col-sm-2"><label class="f13 ash">Description:</label></div>
                    <div class="col-sm-8 f14" data-ng-bind-html="knowledgeData.document_description"></div>
                </div>
            </div>
            <div class="col-sm-12 p0" ng-if="knowledgeData.document_type == 'document'">
                <div class="form-group clearfix form-group-custom mb10">
                    <div class="col-sm-2"><label class="f13 ash">File:</label></div>
                    <div class="col-sm-8 p0">
                        <div class="btn-custom mt10">
                            <a href="{{knowledgeData.document_source}}" class="f14 sky-blue" download target="_blank"><i class="fa fa-download mlr5"></i>Download</a><span class="f12"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 p0" ng-if="knowledgeData.document_type == 'video'">
                <div class="form-group clearfix form-group-custom mb10">
                    <!--<div class="col-sm-2"><label class="control-label">Video:</label></div>-->
                    <div class="col-sm-12 p0" add-iframe data-iframesrc="{{knowledgeData.document_source}}">
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>







