<h3 class="fixed content-heading"> {{'Loan officer dashboard' | translate}}
    <ul class="pull-right icons-right">
        <li><a ui-sref="org.org-structure-view" active-link="heading-active" uib-tooltip="Add"><i
                class="icon-plus-circle"></i></a></li>
    </ul>
</h3>

<div id="contentArea" class="content-area animated fadeInRight">
    <div class="content-container clearfix light-blue-bg p20 mb20">
        <div class="col-sm-12 loan-officer-dashboard p0">
            <div class="col-lg-9 col-sm-8 p0">
                <div class="col-sm-12 white-bg p20">
                    <div class="col-sm-5 p0">
                        <span class="light-blue display-block f12">Branch</span>
                        <span class="darkcolor fontBold country-image"><img class="mr4" src="images/uganda.jpg"/>Uganda, Country Office</span>
                    </div>
                    <div class="col-sm-7 p0">
                        <div class="col-sm-4 pr0 pl5 border-left">
                                <span class="light-blue display-block f12">#Customers</span>
                                <span class="darkcolor fontBold">13</span>
                        </div>
                        <div class="col-sm-4 pr0 pl5 border-left">
                            <div class="col-sm-2 p0 pt5">
                                <span class="display-block mr4"><i class="icon-arrow-up f24 fontBold green"></i></span>
                            </div>
                            <div class="col-sm-10 p0 pl5">
                                <span class="light-blue display-block f12">#Exposure($)</span>
                                <span class="darkcolor fontBold">125,000</span>
                            </div>
                        </div>
                        <div class="col-sm-4 pr0 pl5 border-left">
                            <div class="col-sm-2 p0 pt5">
                                <span class="display-block mr4"><i class="icon-arrow-down f24 fontBold red"></i></span>
                            </div>
                            <div class="col-sm-10 p0 pl5">
                                <span class="light-blue display-block f12">#Pipeline($)</span>
                                <span class="darkcolor fontBold">1,125,000</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 p0">
                    <h3 class="darkcolor mt15 mb5">Last 12 Months - Stages vs Amount</h3>
                    <div class="white-bg p20 clearfix">
                        <!--<img src="images/graph6.jpg" width="100%">-->
                        <div id="calendarAreaGraph" calendar-area-graph style="height: 378px;width: 100%">Placeholder for chart</div>

                    </div>

                    <div class="col-sm-12 p20 white-bg border-top">
                        <div class="col-sm-3 pr0">
                            <div class="border-left-green pl20">
                                <span class="fontBold light-blue display-block">$213,234</span>
                                <span class="light-blue">Pre-Approval</span>
                            </div>
                        </div>
                        <div class="col-sm-3 pr0">
                            <div class="border-left-yellow pl20">
                                <span class="fontBold light-blue display-block">$735,090</span>
                                <span class="light-blue">Approval</span>
                            </div>
                        </div>
                        <div class="col-sm-3 pr0">
                            <div class="border-left-skyblue pl20">
                                <span class="fontBold light-blue display-block">$234,900</span>
                                <span class="light-blue">Disbursment</span>
                            </div>
                        </div>
                        <div class="col-sm-3 pr0">
                            <div class="border-left-blue pl20">
                                <span class="fontBold light-blue display-block">$91,134</span>
                                <span class="light-blue">Returns</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 p0 mt15">
                    <h3 class="darkcolor text-capitalize mb5">Loans performance<a href="#" class="pull-right sky-blue"><i class="icon-filter"></i></a></h3>
                    <p class="mb0">
                        <span class="sky-blue pr10 border-right-dark f14">Concept Note<a href="#" class="darkcolor ml5"><i class="icon-times f14"></i></a></span>
                        <span class="sky-blue plr10 border-right-dark f14">Lease<a href="#" class="darkcolor ml5 f14"><i class="icon-times"></i></a></span>
                        <span class="plr10"><a href="#" class="darkcolor ml5 f14">Clear all</a></span>
                    </p>
                    <div class="table-responsive">
                        <table class="table c-table table-striped table-bordered table-hover display table-style">
                            <thead>
                                <tr>
                                    <th>Company</th>
                                    <th>Project Title</th>
                                    <th>Amount($)</th>
                                    <th>Sector</th>
                                    <th>Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><a href="#" class="sky-blue">Car Repair Shop</a></td>
                                    <td>Fiona's Hotel</td>
                                    <td>950,000</td>
                                    <td>ITC & Telecom</td>
                                    <td><span class="orange">Pending</span></td>
                                </tr>
                                <tr>
                                    <td><a href="#" class="sky-blue">Rwanda CoffeeFarm</a></td>
                                    <td>Fiona's Hotel</td>
                                    <td>1,950,000</td>
                                    <td>Agriculture</td>
                                    <td><span class="red">Rejected</span></td>
                                </tr>
                                <tr>
                                    <td><a href="#" class="sky-blue">Canopies International (T) Ltd</a></td>
                                    <td>Fiona's Hotel</td>
                                    <td>300,000</td>
                                    <td>Homeloan</td>
                                    <td><span class="orange">Pending</span></td>
                                </tr>
                                <tr>
                                    <td><a href="#" class="sky-blue">Car Repair Shop</a></td>
                                    <td>Fiona's Hotel</td>
                                    <td>150,000</td>
                                    <td>ITC & Telecom</td>
                                    <td><span class="green">Process</span></td>
                                </tr>
                                <tr>
                                    <td><a href="#" class="sky-blue">Canopies International (T) Ltd</a></td>
                                    <td>Fiona's Hotel</td>
                                    <td>1,250,000</td>
                                    <td>ITC & Telecom</td>
                                    <td><span class="orange">Pending</span></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-sm-12 p0">
                    <h3 class="darkcolor text-capitalize mb5">Area Coverage</h3>
                    <div class="white-bg pt15 pb10 clearfix">
                        <h3>
                            <div class="display-inline-block p0 form-group form-group-new">
                                <select class="form-control pl0">
                                    <option value="" class="ash" selected="selected">EAST AFRICA</option>
                                </select>
                            </div>
                            <a href="#" class="ash pull-right mr15 mt5"><i class="icon-undo"></i></a>
                        </h3>
                        <div class="col-sm-9 p0">
                            <img src="images/graph7.jpg" width="100%">
                        </div>
                        <div class="col-sm-3 p0">
                            <div class="col-sm-12 pr0 border-top ptb10">
                                <div class="clearfix">
                                    <span class="col-sm-3 p0 mt5"><img src="images/kenya.jpg" width="100%"></span>
                                    <span class="col-sm-9 p0 pl5 pt2 darkcolor">
                                        <h6 class="fontBold">Kenya</h6>
                                        <span class="f14">USD/KES/</span>
                                    </span>
                                </div>
                                <span class="ash display-block f21">$13,234</span>
                            </div>
                            <div class="col-sm-12 pr0 border-top ptb10">
                                <div class="clearfix">
                                    <span class="col-sm-3 p0 mt5"><img src="images/rwanda.jpg" width="100%"></span>
                                    <span class="col-sm-9 p0 pl5 pt2 darkcolor">
                                        <h6 class="fontBold">rwanda</h6>
                                        <span class="f14">USD/RWF/KES</span>
                                    </span>
                                </div>
                                <span class="ash display-block f21">$13,234</span>
                            </div>
                            <div class="col-sm-12 pr0 border-top ptb10">
                                <div class="clearfix">
                                    <span class="col-sm-3 p0 mt5"><img src="images/tanzania.jpg" width="100%"></span>
                                    <span class="col-sm-9 p0 pl5 pt2 darkcolor">
                                        <h6 class="fontBold">Tanzania</h6>
                                        <span class="f14">USD/TZS</span>
                                    </span>
                                </div>
                                <span class="ash display-block f21">$13,234</span>
                            </div>
                            <div class="col-sm-12 pr0 border-top ptb10">
                                <div class="clearfix">
                                    <span class="col-sm-3 p0 mt5"><img src="images/uganda2.jpg" width="100%"></span>
                                    <span class="col-sm-9 p0 pl5 pt2 darkcolor">
                                        <h6 class="fontBold">Uganda</h6>
                                        <span class="f14">USD/UGX</span>
                                    </span>
                                </div>
                                <span class="ash display-block f21">$13,234</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-4 pr0">
                <div class="col-sm-12 alert-wrap">
                    <div class="col-lg-3 col-sm-3">
                        <span class="f32 red"><i class="icon-alert"></i></span>
                    </div>
                    <div class="col-lg-7 col-sm-7 p0 pt5">
                        <h3 class="white-color fontBold">Alerts</h3>
                        <p class="f14">you have <strong>16</strong> Alerts</p>
                    </div>
                    <div class="col-lg-2 col-sm-2 pl0">
                        <a href="#" class="mt10"><img src="images/arrow-tb.png" width="100%"></a>
                    </div>
                </div>
                <div class="col-sm-12 p0">
                    <h3 class="darkcolor text-capitalize mb5">Calendar</h3>
                    <div class="custom-calender" style="display:inline-block; min-height:220px;width: 100%;">
                        <div uib-datepicker ng-model="dt" class="well well-sm" datepicker-options="options"></div>
                    </div>
                </div>
                <div class="col-sm-12 p0">
                    <h3 class="darkcolor text-capitalize mt15 mb5">Regulatory Parameters</h3>
                    <div class="table-responsive parameter-table">
                        <table class="table c-table table-striped table-bordered table-hover display table-style">
                            <thead>
                                <tr>
                                    <th>Parameters</th>
                                    <th>This Month</th>
                                    <th>Last Month</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Risk Weighted Assets</td>
                                    <td><span class="thick-green-bg white-color p5">$ 192.6 B</span></td>
                                    <td>$225.3B</td>
                                </tr>
                                <tr>
                                    <td>Capital Adequacy Ratio</td>
                                    <td><span class="thick-green-bg white-color p5">16.87%</span></td>
                                    <td>14.07%</td>
                                </tr>
                                <tr>
                                    <td>Non Performing Assets</td>
                                    <td><span class="red-bg white-color p5">$ 2.08 B</span></td>
                                    <td>$1.07 B</td>
                                </tr>
                                <tr>
                                    <td>Net Interest Margin</td>
                                    <td><span class="thick-green-bg white-color p5">$ 192.6B</span></td>
                                    <td>$ 1.30%</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col-sm-12 p0">
                    <h3 class="darkcolor text-capitalize mt15 mb5">Loan Stages</h3>
                    <div class="white-bg" >
                        <!--<img src="images/loan-stages.jpg" width="100%">-->
                        <div id="loanStages" loan-stages-graph style="height: 192px;width: 80%;margin: 0 auto;">Placeholder for chart</div>
                    </div>
                </div>
                <div class="col-sm-12 p0">
                    <h3 class="darkcolor text-capitalize mt15 mb5">Sector wise loans</h3>
                    <div class="white-bg">
                        <!--<img src="images/sector-loans.jpg" width="100%">-->
                        <div google-chart chart="sectir_vise_loans" ></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


