<h3 class="fixed content-heading"> {{'Concept' | translate}}
    <ul class="pull-right icons-right">
        <li><a ui-sref="org.org-structure-view" active-link="heading-active" uib-tooltip="Add"><i
                class="icon-plus-circle"></i></a></li>
    </ul>
</h3>
<div class="col-sm-12 fixed clearfix  z1 fixed-top full-fixed-top" ng-class="{visible:boolChangeClass}" fixed-top>
    <div class="clearfix relative details-fixed-top border-none no-bg pad0">
        <div class="col-sm-12 clearfix p0">
            <div class="page-header-wrap mt0  box-shadow clearfix">
                <div class="display-inline-block wrapper-list c-wrap-list pt10 col-sm-10 clearfix">
                    <h3 class="f15 dark-sky-blue">{{ projectDetails.project_title }}</h3>
                    <ul>
                        <li>
                            <p class="f12 word-break">{{'Company' | translate}}</p>
                            <h3 class="f14 heading">{{projectDetails.company_name}}
                            </h3>
                        </li>
                        <li>

                            <p class="f12 word-break">{{'Contacts' | translate}}</p>
                            <h3 class="f14 heading">{{projectDetails.contact_name}}
                            </h3>
                        </li>
                        <li>
                            <p class="f12 word-break">{{'No Of Loans' | translate}}</p>
                            <h3 class="f14 heading">{{projectDetails.no_of_loans}}</h3>

                        </li>
                        <li>
                            <p class="f12 word-break">{{'Sector' | translate}}</p>
                            <h3 class="f14 heading" title="{{projectDetails.sector}}">{{projectDetails.sector}}</h3>

                        </li>
                        <li>
                            <p class="f12 word-break">{{'Loan Amount' | translate}}</p>
                            <h3 class="f14 heading">
                                <div class="f14" ng-repeat="amount in projectDetails.amount">
                                    {{projectDetails.currency_code}} {{projectDetails.amount | currency:""}}
                                </div>
                            </h3>

                        </li>
                        <li>
                            <p class="f12 ">{{'Status' | translate}}</p>
                            <h3 class="f14 bold " label-status="{{projectDetails.project_status}}">
                                {{projectDetails.project_status | uppercase}}</h3>
                        </li>
                    </ul>
                </div>
                <div class="display-inline-block pull-right relative">
                    <div class="display-inline-block">
                        <span class="box-rating">{{projectDetails.rating}}</span>
                    </div>
                </div>
                <div class="display-inline-block pull-right relative">
                    <div class="display-inline-block">
                        <span class="box-rating">{{projectDetails.grade}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="contentArea" class="content-area animated fadeInRight">
    <div class="content-container clearfix">
        <div class="col-sm-12 p0">
            <div class="page-header-wrap white-bg box-shadow clearfix relative mb15">
                <div class="display-inline-block wrapper-list c-wrap-list pt10 col-sm-10 clearfix" ng-init="getProjectDetails()">
                    <h3 class="f15 dark-sky-blue">Aponye Uganda Limited</h3>
                    <ul>
                        <li>
                            <p class="f12 word-break">{{'Company' | translate}}</p>
                            <h3 class="f14 heading">Savera Hotels</h3>
                        </li>
                        <li>

                            <p class="f12 word-break">{{'Contacts' | translate}}</p>
                            <h3 class="f14 heading">Fiona</h3>
                        </li>
                        <li>
                            <p class="f12 word-break">{{'Loans' | translate}}</p>
                            <h3 class="f14 heading">1</h3>

                        </li>
                        <li>
                            <p class="f12 word-break">{{'Amount($)' | translate}}</p>
                            <h3 class="f14 heading" title="{{projectDetails.sector}}">1,25,000</h3>

                        </li>
                        <li>
                            <p class="f12 word-break">{{'Amount($)' | translate}}</p>
                            <h3 class="f14 heading">1,25,000
                            </h3>

                        </li>
                        <li>
                            <p class="f12 ">{{'Current Share' | translate}}</p>
                            <h3 class="f14 bold " label-status="{{projectDetails.project_status}}">2.5%</h3>
                        </li>
                        <li>
                            <p class="f12 ">{{'Rating' | translate}}</p>
                            <h3 class="f14 bold " label-status="{{projectDetails.project_status}}">B</h3>
                        </li>
                        <li>
                            <p class="f12 "><i class="icon-eye"></i></p>
                            <h3 class="f14 bold " label-status="{{projectDetails.project_status}}">Flowchart</h3>
                        </li>
                    </ul>
                </div>
                <div class="display-inline-block pull-right relative">
                    <div class="display-inline-block">
                        <span class="box-rating">{{projectDetails.rating}}</span>
                    </div>
                </div>
                <div class="display-inline-block pull-right relative">
                    <div class="display-inline-block">
                        <span class="box-rating">{{projectDetails.grade}}</span>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="textinfo-block border-top col-sm-12 pb10" ng-show="infoBox">
                    <label class="f12">Description</label>
                    <p class="f14 darkcolor">{{project_description}}</p>
                </div>
                <div class="slide-img" ng-click="infoBox=!infoBox"></div>
            </div>
        </div>
        <div class="col-sm-12 col-lg-12 plr20 mt10 mb20">
            <div class="col-sm-8 col-lg-9 p0">
                <div class="col-sm-12 p0 light-reg-bg white-color">
                    <div class="col-sm-4 pt10 pr0">
                        <div class="pt15 pb15">
                            <h6 class="f14">Date of Received</h6>
                             <strong class="f14">05 th August 2015</strong>
                        </div>
                    </div>
                    <div class="col-sm-3 p0 pt10">
                        <div class="pt15 pb15">
                            <h6 class="f14">Country Office</h6>
                            <strong class="f14">Uganda</strong>
                        </div>
                    </div>
                    <div class="col-sm-4 p0 pt10">
                        <div class="pt15 pb15">
                            <h6 class="f14">Days in your hand</h6>
                            <strong class="f14">5 Days</strong>
                        </div>
                    </div>
                    <div class="col-sm-1 mt15">
                        <ul>
                            <li class="custom-list attch-li mt5 pull-right">
                                <a href="javascript:;" class="menu-toggle mt5 dropdown-toggle"
                                   data-toggle="dropdown"><i class="fa fa-ellipsis-v f32 pink"></i></a>
                                <ul class="dropdown-menu cust-dropdown">
                                    <li>
                                        <a href="" class="darkcolor">
                                            {{'Edit' | translate}}
                                        </a>
                                    </li>
                                </ul>

                            </li>
                        </ul>
                    </div>
                    <!--<div class="col-sm-2 p0 pt10">
                        <div class="display-inline-block pull-left f24 pt15"><i class="icon-attachment"></i></div>
                        <div class="display-inline-blockpt15 pb15 pull-left ml5 pt15">
                            <h6 class="f14">Attachments</h6>
                            <strong class="f14 blue">5 Files</strong>
                        </div>
                    </div>
                    <div class="col-sm-2 p0">
                        <div class="pt15 pb15">
                            <h6 class="f14 mb3"><button type="submit" class="btn green-btn">Save</button></h6>
                            <h6><button type="submit" class="btn btn-dark btn-sm">SEND REPORT</button></h6>
                        </div>
                    </div>-->
                </div>
                <div class="col-sm-12 p0" id="general_information" data-="businessKey in businessKeyData">
                    <div class="div-header">
                        <h3 class="f14 roboto-bold text-capitalize mt30 p10 ">PRE APPRAISAL</h3>
                    </div>
                    <div class="col-sm-12 white-bg p15">
                        <div class="pb10 form-wrap clearfix mb10 ">
                            <h4 class="darkcolor bold f14 mb5 " id="basic_information">1.SUMMARY OF THE PROPOSAL</h4>
                            <div class="col-sm-12 p0">
                                <div class=" col-sm-12 col-lg-12" >
                                    <div class="">
                                        <label class="label-text ">Statement of the Application</label>
                                        <div class="">
                                            <p class="label-info mb5 ">[Input D7]</p>
                                        </div>
                                    </div>
                                </div>
                                <div class=" col-sm-12 col-lg-12" >
                                    <div class="">
                                        <label class="label-text ">Project Background Information</label>
                                        <div class="">
                                            <p class="label-info mb5 ">[Input D7]</p>
                                        </div>
                                    </div>
                                </div>
                                <div class=" col-sm-12 col-lg-12" >
                                    <div class="">
                                        <label class="label-text ">Rationale of the Client to apply</label>
                                        <div class="">
                                            <p class="label-info mb5 ">[Input D7]</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12 p0">
                                <div class=" col-sm-12 col-lg-12" >
                                    <div class="">
                                        <label class="label-text ">Project Concept &amp; Scope</label>
                                        <div class="">
                                            <p class="label-info mb5 ">[Input D7]</p>
                                        </div>
                                    </div>
                                </div>
                                <div class=" col-sm-12 col-lg-12" >
                                    <div class="">
                                        <label class="label-text ">Expected Economic Benefit and Additionalities</label>
                                        <p class="label-info mb5 ">[Input D7]</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="pb10 form-wrap clearfix mb10 ">
                        <div class="pt5 clearfix " >
                            <h4 class="darkcolor bold f14 " id="project_background">2.PROJECT AND COMPANY ASSESSMENT</h4>
                        </div>
                        <div class=" col-sm-12 col-lg-12" >
                            <div class="">
                                <label class="label-text ">Shareholder / Structure:</label>
                                <div class="">
                                    <p class="label-info mb5 ">[Input D8]</p>
                                </div>
                            </div>
                        </div>
                        <div class=" col-sm-12 col-lg-12" >
                            <div class="">
                                <label class="label-text ">Sponsors and Promoters</label>
                                <div class="">
                                    <p class="label-info mb5 ">[Input D8]</p>
                                </div>
                            </div>
                        </div>
                        <div class=" col-sm-12 col-lg-12" >
                            <div class="">
                                <label class="label-text ">Products / Operations</label>
                                <div class="">
                                    <p class="label-info mb5 ">[Input D8]</p>
                                </div>
                            </div>
                        </div>
                        <div class=" col-sm-12 col-lg-12" >
                            <div class="">
                                <label class="label-text ">Markets</label>
                                <div class="">
                                    <p class="label-info mb5 ">[Input D8]</p>
                                </div>
                            </div>
                        </div>
                        <div class=" col-sm-12 col-lg-12" >
                            <div class="">
                                <label class="label-text ">Environmental and Social Considerations</label>
                                <p class="label-info mb5 ">[Input D8]</p>
                            </div>
                        </div>
                        <div class=" col-sm-12 col-lg-12" >
                            <div class="">
                                <label class="label-text ">Financial Aspects</label>
                                <p class="label-info mb5 ">[Input D8]</p>
                            </div>
                        </div>
                    </div>
                    <div class="pb10 form-wrap clearfix mb10 ">
                        <div class="pt5 clearfix " >
                            <h4 class="darkcolor bold f14 " id="risk-assessment">3.RISK ASSESSMENT</h4>
                        </div>
                        <div class=" col-sm-12 col-lg-12" >
                            <div class="">
                                <label class="label-text ">Risk Grading</label>
                                <div class="">
                                    <p class="label-info mb5 ">[Input D8]</p>
                                </div>
                            </div>
                        </div>
                        <div class=" col-sm-12 col-lg-12" >
                            <div class="">
                                <label class="label-text ">Risk Factor</label>
                                <div class="">
                                    <p class="label-info mb5 ">[Input D8]</p>
                                </div>
                            </div>
                        </div>
                        <div class=" col-sm-12 col-lg-12" >
                            <div class="">
                                <label class="label-text ">Comments on Risk Assessment</label>
                                <div class="">
                                    <p class="label-info mb5 ">[Input D8]</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pb10 form-wrap clearfix mb10 ">
                        <div class="pt5 clearfix " >
                            <h4 class="darkcolor bold f14 " id="comments-and-abservation">3.COMMENTS AND OBSERVATIONS</h4>
                        </div>
                        <div class=" col-sm-12 col-lg-12" >
                            <div class="">
                                <label class="label-text ">Strengths and Weaknesses Analysis</label>
                                <div class="">
                                    <p class="label-info mb5 ">[Input D8]</p>
                                </div>
                            </div>
                        </div>
                        <div class=" col-sm-12 col-lg-12" >
                            <div class="">
                                <label class="label-text ">Credit Worthiness</label>
                                <div class="">
                                    <p class="label-info mb5 ">[Input D8]</p>
                                </div>
                            </div>
                        </div>
                        <div class=" col-sm-12 col-lg-12" >
                            <div class="">
                                <label class="label-text ">Short Character Assessment</label>
                                <div class="">
                                    <p class="label-info mb5 ">[Input D8]</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="pb10 form-wrap clearfix mb10 ">
                        <div class="pt5 clearfix " >
                            <h4 class="darkcolor bold f14 " id="recommendation">3.RECOMMENDATIONS</h4>
                        </div>
                        <div class=" col-sm-12 col-lg-12" >
                            <div class="">
                                <label class="label-text ">Recommendations</label>
                                <div class="">
                                    <p class="label-info mb5 ">[Input D8]</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
           </div>
            <div class="col-sm-4 col-lg-3 pr0">
                <div class="col-sm-12 white-bg p0 pb10 mb10 border">
                    <h6 class="darkcolor text-capitalize ptb10 f14 fontBold border-bottom mb5 plr15">Actions</h6>
                    <p class="mb3  plr15 mt8">
                        <button class="btn red-bg display-block white-color f14 fontBold width-full"><i class="icon-export1 mr10 f18"></i> SUBMIT</button></p>
                    <p class="plr15 clearfix">
                        <span class=" col-sm-6 p0"><button class="btn btn-dark f14 fontBold plr15 width-full"><i class="icon-save mr10"></i> SAVE</button></span>
                        <span class="col-sm-6 p0"><button class="btn btn-dark f14 fontBold width-full ml2"><i class=" icon-comment3 mr10"></i> NEED INFO</button></span></p>
                    <p class="sky-blue-btn-wrap plr15 mt10"><button class="btn white-bg f14 fontBold width-full sky-blue border-radius10 text-capitalize">Compare with other Projects</button></p>
                </div>
                <div class="col-sm-12 white-bg p0 pb10 mb10 border">
                    <h6 class="darkcolor text-capitalize ptb10 f14 fontBold border-bottom mb5 plr15">Concept Note Workflow</h6>
                    <div class="col-sm-12 border-bottom pb10 pt5">
                        <div class="col-sm-10 p0 darkcolor">
                            <h6 class="f14">1.0 ENQUIRY/APPLICATIONS</h6>
                            <p class="pl20">Forwarded to Next Level</p>
                            <p class="pl20">by James Smith</p>
                            <p class="pl20">01 July, 2016</p>
                            <p class="pl20">No. of days:  <strong>2 days</strong></p>
                        </div>
                        <div class="col-sm-2 pr0">
                            <a href="" class="green display-block ml3"><i class="icon-right-circle"></i></a>
                            <a href="" class="sky-blue display-block f24"><i class=" icon-clipped-file"></i></a>
                        </div>
                    </div>
                    <div class="col-sm-12 border-bottom pb10 pt5">
                        <div class="col-sm-10 p0 darkcolor">
                            <h6 class="f14">2.0 ENQUIRY/APPLICATIONS</h6>
                            <p class="pl20">Forwarded to Next Level</p>
                            <p class="pl20">by James Smith</p>
                            <p class="pl20">01 July, 2016</p>
                            <p class="pl20">No. of days:  <strong>2 days</strong></p>
                        </div>
                        <div class="col-sm-2 pr0">
                            <a href="" class="red display-block ml3"><i class=" icon-times-square"></i></a>
                            <a href="" class="sky-blue display-block f24"><i class=" icon-clipped-file"></i></a>
                        </div>
                    </div>
                    <div class="col-sm-12 border-bottom ptb10">
                        <h6 class="f14 text-capitalize ash">3.0 Concept Note Sent for review</h6>
                    </div>
                    <div class="col-sm-12 border-bottom ptb10">
                        <h6 class="f14 text-capitalize ash">4.0 review by Legal</h6>
                    </div>
                    <div class="col-sm-12 border-bottom ptb10">
                        <h6 class="f14 text-capitalize ash">4.1 Risk</h6>
                    </div>
                    <div class="col-sm-12 border-bottom ptb10">
                        <h6 class="f14 text-capitalize ash">4.2 Treasury</h6>
                    </div>
                    <div class="col-sm-12 pt10">
                        <h6 class="f14 text-capitalize ash">4.3 Environmental Specialist</h6>
                    </div>
                </div>
                <div class="col-sm-12 white-bg p0 pb10 mb10 border">
                    <h6 class="darkcolor text-capitalize ptb10 f14 fontBold border-bottom mb5 plr15">Attachments</h6>
                    <div class="col-sm-12 border-bottom pb5 pt5">
                        <div class="col-sm-10 p0 darkcolor">
                            <h6 class="f14 red">Birth Certificate</h6>
                            <p class=" ash"> 23 June, 2016 - 145 KB</p>
                        </div>
                        <div class="col-sm-2 pr0">
                            <a href="" class="sky-blue display-block ml3 mt4 f21"><i class="icon-attachment"></i></a>
                        </div>
                    </div>
                    <div class="col-sm-12 border-bottom pb5 pt5">
                        <div class="col-sm-10 p0">
                            <h6 class="f14">Birth Certificate</h6>
                            <p class=" ash"> 23 June, 2016 - 145 KB</p>
                        </div>
                        <div class="col-sm-2 pr0">
                            <a href="" class="sky-blue display-block ml3 mt4 f21"><i class="icon-attachment"></i></a>
                        </div>
                    </div>
                    <div class="col-sm-12 pb5 pt5">
                        <div class="col-sm-10 p0">
                            <h6 class="f14">Birth Certificate</h6>
                            <p class=" ash"> 23 June, 2016 - 145 KB</p>
                        </div>
                        <div class="col-sm-2 pr0">
                            <a href="" class="sky-blue display-block ml3 mt4 f21"><i class="icon-attachment"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 white-bg p0 pb10 mb10 border">
                    <h6 class="darkcolor text-capitalize ptb10 f14 fontBold border-bottom mb5 plr15">recent 5 projects</h6>
                    <div class="col-sm-12 pb5 pt5 mb20">
                        <div class="col-sm-1 p0">
                            <a href="" class="sky-blue f24"><i class=" icon-Untitled-5"></i></a>
                        </div>
                        <div class="col-sm-7 pr0 darkcolor">
                            <h6 class="f14">HOME LOAN</h6>
                            <p class=" ash mb0 f12"> Willium</p>
                            <p class="ash mb0 f12"> USD 125,000</p>
                        </div>
                        <div class="col-sm-4 p0">
                            <button type="button" class="btn green-btn display-block border-radius15">Accept</button>
                            <span class="display-block ash f12">24, Jul, 2016</span>
                        </div>
                    </div>
                    <div class="col-sm-12 pb5 pt5 mb20">
                        <div class="col-sm-1 p0">
                            <a href="" class="sky-blue f24"><i class=" icon-company"></i></a>
                        </div>
                        <div class="col-sm-7 pr0 darkcolor">
                            <h6 class="f14">Real Estate</h6>
                            <p class=" ash mb0 f12"> James</p>
                            <p class="ash mb0 f12"> USD 1,425,000</p>
                        </div>
                        <div class="col-sm-4 p0">
                            <button type="button" class="btn red-bg btn-sm white-color display-block border-radius15">Reject</button>
                            <span class="display-block ash f12">24, Jul, 2016</span>
                        </div>
                    </div>
                    <div class="col-sm-12 pb5 pt5 mb20">
                        <div class="col-sm-1 p0">
                            <a href="" class="sky-blue f24"><i class=" icon-Untitled-5"></i></a>
                        </div>
                        <div class="col-sm-7 pr0 darkcolor">
                            <h6 class="f14">Industrial Loan</h6>
                            <p class=" ash mb0 f12"> Willium</p>
                            <p class="ash mb0 f12"> USD 125,000</p>
                        </div>
                        <div class="col-sm-4 p0">
                            <button type="button" class="btn green-btn display-block border-radius15">Accept</button>
                            <span class="display-block ash f12">24, Jul, 2016</span>
                        </div>
                    </div>
                    <div class="col-sm-12 pb5 pt5 mb20">
                        <div class="col-sm-1 p0">
                            <a href="" class="sky-blue f24"><i class="icon-cloud-rain2"></i></a>
                        </div>
                        <div class="col-sm-7 pr0 darkcolor">
                            <h6 class="f14">Agriculture Loan</h6>
                            <p class=" ash mb0 f12"> Willium</p>
                            <p class="ash mb0 f12"> USD 125,000</p>
                        </div>
                        <div class="col-sm-4 p0">
                            <button type="button" class="btn red-btn red-bg btn-sm white-color display-block border-radius15">Reject</button>
                            <span class="display-block ash f12">24, Jul, 2016</span>
                        </div>
                    </div>
                    <div class="col-sm-12 pb5 pt5 mb20">
                        <div class="col-sm-1 p0">
                            <a href="" class="sky-blue f24"><i class="icon-gear2"></i></a>
                        </div>
                        <div class="col-sm-7 pr0 darkcolor">
                            <h6 class="f14">Industrial Loan</h6>
                            <p class=" ash mb0 f12"> Willium</p>
                            <p class="ash mb0 f12"> USD 125,000</p>
                        </div>
                        <div class="col-sm-4 p0">
                            <button type="button" class="btn green-btn display-block border-radius15">Accept</button>
                            <span class="display-block ash f12">24, Jul, 2016</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
 </div>


