<h3 class="fixed content-heading"> {{'Sector Dashboard' | translate}}
    <ul class="pull-right icons-right">
        <!--<li><a ui-sref="org.org-structure-view" active-link="heading-active" uib-tooltip="close"><i
                class="fa fa-close-sm"></i></a></li>-->
    </ul>
</h3>

<div id="contentArea" class="content-area animated fadeInRight">
    <div class="content-container clearfix light-blue-bg p20 mb20">
        <h1 class="darkcolor fontBold">
            <div class="display-inline-block p0 form-group form-group-new">
                <select  class="form-control pl0">
                    <option value="" class="" selected="selected">Agriculture, Forestry and Fishing</option>
                </select>
            </div>
        </h1>
        <div class="col-sm-12 dashboard-wrapper">
            <div class="col-sm-12 dashboard-widget">
                <div class="col-sm-2 dashboard-widget-icon">
                    <span class="sky-blue f36"><i class="icon-actions"></i></span>
                </div>
                <div class="col-sm-10 dashboard-widget-text">
                    <h6>#Sectors</h6>
                    <strong>2</strong>
                </div>
            </div>
            <div class="col-sm-12 dashboard-widget">
                <div class="col-sm-2 dashboard-widget-icon">
                    <span class="sky-blue f36"><i class="icon-users2"></i></span>
                </div>
                <div class="col-sm-10 dashboard-widget-text">
                    <h6>#Customers</h6>
                    <strong>3</strong>
                </div>
            </div>
            <div class="col-sm-12 dashboard-widget">
                <div class="col-sm-2 dashboard-widget-icon">
                    <span class="green f36"><i class="icon-up-arrow"></i></span>
                </div>
                <div class="col-sm-10 dashboard-widget-text">
                    <h6>Total Exposure</h6>
                    <strong>$ 245,234,000</strong>
                </div>
            </div>
            <div class="col-sm-12 dashboard-widget">
                <div class="col-sm-2 dashboard-widget-icon">
                    <span class="sky-blue f36"><i class="icon-bullhorn2"></i></span>
                </div>
                <div class="col-sm-10 dashboard-widget-text">
                    <h6>Current Pipeline</h6>
                    <strong>$ 20,000,000 (#3)</strong>
                </div>
            </div>
            <div class="col-sm-12 dashboard-widget border-none pl5">
                <div class="col-sm-2 dashboard-widget-icon">
                    <!--<span class=""><img src="images/sector-limit.png"></span>-->
                    <div google-chart chart="sector_limit"  style="height: 70px;width:70px;margin-top:-16px;margin-left:-15px;" ></div>
                </div>
                <div class="col-sm-10 dashboard-widget-text">
                    <h6>Sector Limit <span class="red">(20%)</span></h6>
                    <strong><span class="green">2.1%</span> (1.5 + 0.6)</strong>
                </div>
            </div>
        </div>
        <div class="col-sm-12 dashboard-content p0 mt10">
            <div class="col-sm-12 p0">
                <div class="col-sm-6 p0 relative">
                    <div class="col-sm-12 dashboard-table p0">
                        <h3 class="p10 white-color">Overview</h3>
                        <div class="table-responsive">
                            <table class="table c-table table-striped table-bordered table-hover display table-style">
                                <thead>
                                    <tr>
                                        <th>Total Exposure</th>
                                        <th>#Trans.</th>
                                        <th>% of share</th>
                                        <th>Limits</th>
                                        <th>Additional Commitment</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><span class="display-block">Agriculture And Fisheries</span>
                                            <p class="pull-left">$ 145,234,000
                                            <span class="fontBold f21 pull-right ml5"><i class="icon-arrow-up red fontBold"></i></span></p>
                                        </td>
                                        <td>2</td>
                                        <td>1.5%</td>
                                        <td>5.0%</td>
                                        <td>$ 5,000,000</td>
                                    </tr>
                                    <tr>
                                        <td><span class="display-block">Agriculture And Fisheries</span>
                                            <p class="pull-left">$ 145,234,000
                                            <span class="fontBold f21 pull-right ml5"><i class="icon-arrow-right green "></i></span></p>
                                        </td>
                                        <td>1</td>
                                        <td>0.6%</td>
                                        <td>5.0%</td>
                                        <td>$ 15,000,000</td>
                                    </tr>
                                    <tr>
                                        <td><span class="display-block">Agriculture And Fisheries</span>
                                            <p class="pull-left">$ 145,234,000
                                                <span class="fontBold f21 pull-right ml5"><i class="icon-arrow-right green "></i></span></p>
                                        </td>
                                        <td>1</td>
                                        <td>0.6%</td>
                                        <td>5.0%</td>
                                        <td>$ 15,000,000</td>
                                    </tr>
                                    <tr>
                                        <td><span class="display-block">Agriculture And Fisheries</span>
                                            <p class="pull-left">$ 145,234,000
                                                <span class="fontBold f21 pull-right ml5"><i class="icon-arrow-right green "></i></span></p>
                                        </td>
                                        <td>1</td>
                                        <td>0.6%</td>
                                        <td>5.0%</td>
                                        <td>$ 15,000,000</td>
                                    </tr>
                                    <tr>
                                        <td><span class="display-block">Agriculture And Fisheries</span>
                                            <p class="pull-left">$ 145,234,000
                                                <span class="fontBold f21 pull-right ml5"><i class="icon-arrow-right green "></i></span></p>
                                        </td>
                                        <td>1</td>
                                        <td>0.6%</td>
                                        <td>5.0%</td>
                                        <td>$ 15,000,000</td>
                                    </tr>
                                    <tr>
                                        <td><span class="display-block">Agriculture And Fisheries</span>
                                            <p class="pull-left">$ 145,234,000
                                                <span class="fontBold f21 pull-right ml5"><i class="icon-arrow-right green "></i></span></p>
                                        </td>
                                        <td>1</td>
                                        <td>0.6%</td>
                                        <td>5.0%</td>
                                        <td>$ 15,000,000</td>
                                    </tr>
                                    <tr>
                                        <td><span class="display-block">Agriculture And Fisheries</span>
                                            <p class="pull-left">$ 145,234,000
                                                <span class="fontBold f21 pull-right ml5"><i class="icon-arrow-right green "></i></span></p>
                                        </td>
                                        <td>1</td>
                                        <td>0.6%</td>
                                        <td>5.0%</td>
                                        <td>$ 15,000,000</td>
                                    </tr>
                                    <tr>
                                        <td><span class="display-block">Agriculture And Fisheries</span>
                                            <p class="pull-left">$ 145,234,000
                                                <span class="fontBold f21 pull-right ml5"><i class="icon-arrow-up red fontBold"></i></span></p>
                                        </td>
                                        <td>2</td>
                                        <td>1.5%</td>
                                        <td>5.0%</td>
                                        <td>$ 5,000,000</td>
                                    </tr>
                                    <tr>
                                        <td><span class="display-block">Agriculture And Fisheries</span>
                                            <p class="pull-left">$ 145,234,000
                                                <span class="fontBold f21 pull-right ml5"><i class="icon-arrow-right green "></i></span></p>
                                        </td>
                                        <td>1</td>
                                        <td>0.6%</td>
                                        <td>5.0%</td>
                                        <td>$ 15,000,000</td>
                                    </tr>
                                    <tr>
                                        <td><span class="display-block">Agriculture And Fisheries</span>
                                            <p class="pull-left">$ 145,234,000
                                                <span class="fontBold f21 pull-right ml5"><i class="icon-arrow-right green "></i></span></p>
                                        </td>
                                        <td>1</td>
                                        <td>0.6%</td>
                                        <td>5.0%</td>
                                        <td>$ 15,000,000</td>
                                    </tr>
                                    <tr>
                                        <td><span class="display-block">Agriculture And Fisheries</span>
                                            <p class="pull-left">$ 145,234,000
                                                <span class="fontBold f21 pull-right ml5"><i class="icon-arrow-right green "></i></span></p>
                                        </td>
                                        <td>1</td>
                                        <td>0.6%</td>
                                        <td>5.0%</td>
                                        <td>$ 15,000,000</td>
                                    </tr>
                                    <tr>
                                        <td><span class="display-block">Agriculture And Fisheries</span>
                                            <p class="pull-left">$ 145,234,000
                                                <span class="fontBold f21 pull-right ml5"><i class="icon-arrow-right green "></i></span></p>
                                        </td>
                                        <td>1</td>
                                        <td>0.6%</td>
                                        <td>5.0%</td>
                                        <td>$ 15,000,000</td>
                                    </tr>
                                    <tr>
                                        <td><span class="display-block">Agriculture And Fisheries</span>
                                            <p class="pull-left">$ 145,234,000
                                                <span class="fontBold f21 pull-right ml5"><i class="icon-arrow-up red fontBold"></i></span></p>
                                        </td>
                                        <td>2</td>
                                        <td>1.5%</td>
                                        <td>5.0%</td>
                                        <td>$ 5,000,000</td>
                                    </tr>
                                    <tr>
                                        <td><span class="display-block">Agriculture And Fisheries</span>
                                            <p class="pull-left">$ 145,234,000
                                                <span class="fontBold f21 pull-right ml5"><i class="icon-arrow-right green "></i></span></p>
                                        </td>
                                        <td>1</td>
                                        <td>0.6%</td>
                                        <td>5.0%</td>
                                        <td>$ 15,000,000</td>
                                    </tr>
                                    <tr>
                                        <td><span class="display-block">Agriculture And Fisheries</span>
                                            <p class="pull-left">$ 145,234,000
                                                <span class="fontBold f21 pull-right ml5"><i class="icon-arrow-right green "></i></span></p>
                                        </td>
                                        <td>1</td>
                                        <td>0.6%</td>
                                        <td>5.0%</td>
                                        <td>$ 15,000,000</td>
                                    </tr>
                                    <tr>
                                        <td><span class="display-block">Agriculture And Fisheries</span>
                                            <p class="pull-left">$ 145,234,000
                                                <span class="fontBold f21 pull-right ml5"><i class="icon-arrow-right green "></i></span></p>
                                        </td>
                                        <td>1</td>
                                        <td>0.6%</td>
                                        <td>5.0%</td>
                                        <td>$ 15,000,000</td>
                                    </tr>
                                </tbody>
                                <!--<tfoot>
                                    <tr>
                                        <td colspan="5"><h1 class="text-center p10"><a href="#" class="darkcolor f18">more sub-sectors</a></h1></td>
                                    </tr>
                                </tfoot>-->
                            </table>
                        </div>
                        <h1 class="text-center p20 sub-sector-more relative"><a href="javascript:;" class="darkcolor f18">more sub-sectors</a><a href="#" class="sky-blue ml5 icon-arrow-active"><i class="icon-angle-down f24 fontBold"></i></a></h1>
                    </div>
                    <div class="col-sm-12 dashboard-table2 p0 mt10">
                            <div class="dashboard-chat-widget  white-bg">
                                <h3 class="darkcolor p10 fontBold">Country vs Product</h3>
                                <div class="">
                                    <div google-chart chart="country_product" style="height: 320px;" ></div>
                                </div>
                                <!--<div class="col-sm-12 pr0 pl5 white-bg border-top ptb10">
                                    <div class="col-sm-3 p0">
                                        <span class="col-sm-4 p0 mt5"><img src="images/kenya.jpg" width="100%"></span>
                                    <span class="col-sm-8 p0 pl5 pt2 darkcolor">
                                        <h6 class="fontBold">Kenya</h6>
                                        <span class="f14">USD/KES/</span>
                                    </span>
                                    </div>
                                    <div class="col-sm-3 pl0 pr10">
                                        <span class="col-sm-4 p0 mt5"><img src="images/rwanda.jpg" width="100%"></span>
                                <span class="col-sm-8 p0 pl5 pt2 darkcolor">
                                    <h6 class="fontBold">Rwanda</h6>
                                    <span class="f14">USD/RWF/KES</span>
                                </span>
                                    </div>
                                    <div class="col-sm-3 p0">
                                        <span class="col-sm-4 p0 mt5"><img src="images/tanzania.jpg" width="100%"></span>
                                <span class="col-sm-8 p0 pl5 pt2 darkcolor">
                                    <h6 class="fontBold">Tanzania</h6>
                                    <span class="f14">USD/TZS</span>
                                </span>
                                    </div>
                                    <div class="col-sm-3 p0">
                                        <span class="col-sm-4 p0 mt5"><img src="images/uganda2.jpg" width="100%"></span>
                                <span class="col-sm-8 p0 pl5 pt2 darkcolor">
                                    <h6 class="fontBold">Uganda</h6>
                                    <span class="f14">USD/UGX</span>
                                </span>
                                    </div>
                                </div>-->
                            </div>
                        </div>
                <script>
                    $(function() {
                        $('.sub-sector-more').on('click', function () {
                            $('.dashboard-table').toggleClass('active');
                        });
                    });
                </script>
                </div>
                <div class="col-sm-6 pr0 pl10">
                    <div class="dashboard-chat-widget  white-bg">
                        <h3 class="darkcolor p10 fontBold">Outstanding Portfolio</h3>
                        <div class="">
                            <!--<img src="images/graph3.jpg">-->
                            <div google-chart chart="out_standing_portfolio" style="width:100%;height: 225px;"></div>
                        </div>
                    </div>
                    <div class="dashboard-chat-widget  white-bg mt10">
                        <h3 class="darkcolor p10 fontBold">Country vs Loan Status</h3>
                        <div class="" style="height:320px;text-align:center">
                            <!--<img src="images/graph5.jpg">-->
                            <div id="countryVsLoanStatus" country-vs-loan-status style="width: 100%;height: 320px;">Placeholder for chart</div>
                        </div>
                    </div>
                </div>
            </div>
           <!-- <div class="col-sm-12 p0 mt10">
                <div class="col-sm-6 p0">
                    <div class="dashboard-chat-widget  white-bg">
                        <h3 class="darkcolor p10 fontBold">Country vs Product</h3>
                        <div class="">
                            <img src="images/graph4.jpg" width="100%">
                        </div>
                        <div class="col-sm-12 pr0 pl5 white-bg border-top ptb10">
                            <div class="col-sm-3 p0">
                                <span class="col-sm-4 p0 mt5"><img src="images/kenya.jpg" width="100%"></span>
                                    <span class="col-sm-8 p0 pl5 pt2 darkcolor">
                                        <h6 class="fontBold">Kenya</h6>
                                        <span class="f14">USD/KES/</span>
                                    </span>
                            </div>
                            <div class="col-sm-3 pl0 pr10">
                                <span class="col-sm-4 p0 mt5"><img src="images/rwanda.jpg" width="100%"></span>
                                <span class="col-sm-8 p0 pl5 pt2 darkcolor">
                                    <h6 class="fontBold">Rwanda</h6>
                                    <span class="f14">USD/RWF/KES</span>
                                </span>
                            </div>
                            <div class="col-sm-3 p0">
                                <span class="col-sm-4 p0 mt5"><img src="images/tanzania.jpg" width="100%"></span>
                                <span class="col-sm-8 p0 pl5 pt2 darkcolor">
                                    <h6 class="fontBold">Tanzania</h6>
                                    <span class="f14">USD/TZS</span>
                                </span>
                            </div>
                            <div class="col-sm-3 p0">
                                <span class="col-sm-4 p0 mt5"><img src="images/uganda2.jpg" width="100%"></span>
                                <span class="col-sm-8 p0 pl5 pt2 darkcolor">
                                    <h6 class="fontBold">Uganda</h6>
                                    <span class="f14">USD/UGX</span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 pr0 pl10">
                    <div class="dashboard-chat-widget  white-bg">
                        <h3 class="darkcolor p10 fontBold">Country vs Loan Status</h3>
                        <div class="">
                            <img src="images/graph5.jpg">
                        </div>
                    </div>
                </div>
            </div>-->
            <div class="col-sm-12 p0 mt10">
                <h1 class="white-bg p10 darkcolor fontBold border-bottom">Top 10 Customers</h1>
                <div class="table-responsive">
                    <table class="table c-table table-striped table-bordered table-hover display table-style">
                        <thead>
                            <tr>
                                <th>Customer Name</th>
                                <th>Sector</th>
                                <th>Comapany</th>
                                <th>Business</th>
                                <th>Facilities Amount</th>
                                <th>Rate of Interest</th>
                                <th>Country</th>
                                <th>Currency Type</th>
                                <th>Period	</th>
                                <th>Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Willium</td>
                                <td>Agriculture</td>
                                <td>Access</td>
                                <td>Seeds Manufactre</td>
                                <td>KES 123,125,000</td>
                                <td>12.5%</td>
                                <td>Kenya</td>
                                <td>USD</td>
                                <td>20 Years</td>
                                <td>Watch</td>
                            </tr>
                            <tr>
                                <td>Renold James</td>
                                <td>Agriculture</td>
                                <td>EBF Builder</td>
                                <td>Apartments Constructions</td>
                                <td>USD 12,125,000</td>
                                <td>15%</td>
                                <td>Tanzania</td>
                                <td>TZS</td>
                                <td>6 Years</td>
                                <td>Normal</td>
                            </tr>
                            <tr>
                                <td>one Abramhem</td>
                                <td>Agriculture</td>
                                <td>STALL Educatio.</td>
                                <td>School Ground Buying</td>
                                <td>USD 14,125,000</td>
                                <td>15.6%</td>
                                <td>Rwanda</td>
                                <td>KES</td>
                                <td>10 Years</td>
                                <td>Normal</td>
                            </tr>
                            <tr>
                                <td>Willium</td>
                                <td>Agriculture</td>
                                <td>Greenstore</td>
                                <td>Seeds Manufactre</td>
                                <td>USD 125,000</td>
                                <td>12.5%</td>
                                <td>Kenya</td>
                                <td>KES</td>
                                <td>5 Years</td>
                                <td>Doubtful</td>
                            </tr>
                            <tr>
                                <td>Renold James</td>
                                <td>Agriculture</td>
                                <td>MK Constru..</td>
                                <td>Apartments Constructions</td>
                                <td>USD 125,000</td>
                                <td>13.4%</td>
                                <td>Kenya</td>
                                <td>KES</td>
                                <td>11 Years</td>
                                <td>Doubtful</td>
                            </tr>
                            <tr>
                                <td>Jone Abramhem</td>
                                <td>Agriculture</td>
                                <td>Bright School</td>
                                <td>School Ground Buying</td>
                                <td>USD 125,000</td>
                                <td>20.0%</td>
                                <td>Kenya</td>
                                <td>KES</td>
                                <td>8 Years</td>
                                <td>Doubtful</td>
                            </tr>
                            <tr>
                                <td>Smith Andrew</td>
                                <td>Agriculture</td>
                                <td>Stong Forms</td>
                                <td>Agricture Machinery</td>
                                <td>USD 125,000</td>
                                <td>10.0%</td>
                                <td>Kenya</td>
                                <td>KES</td>
                                <td>5 Years</td>
                                <td>Doubtful</td>
                            </tr>
                            <tr>
                                <td>Willium</td>
                                <td>Agriculture</td>
                                <td>Greenstore</td>
                                <td>Seeds Manufactre</td>
                                <td>USD 125,000</td>
                                <td>12.5%</td>
                                <td>Kenya</td>
                                <td>KES</td>
                                <td>8 Years</td>
                                <td>Running</td>
                            </tr>
                            <tr>
                                <td>Renold James</td>
                                <td>Agriculture</td>
                                <td>ZVR Con..</td>
                                <td>Apartments Constructions</td>
                                <td>USD 125,000</td>
                                <td>12.2%</td>
                                <td>Kenya</td>
                                <td>KES</td>
                                <td>4 Years</td>
                                <td>Doubtful</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-sm-12 p0">
                <h1 class="white-bg p10 darkcolor fontBold border-bottom">Projects in Pipeline</h1>
                <div class="table-responsive">
                    <table class="table c-table table-striped table-bordered table-hover display table-style">
                        <thead>
                        <tr>
                            <th>Customer Name</th>
                            <th>Sector</th>
                            <th>Comapany</th>
                            <th>Business</th>
                            <th>Amount</th>
                            <th>Country</th>
                            <th>Currency Type</th>
                            <th>Period	</th>
                            <th>40%</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>Willium</td>
                            <td>Agriculture</td>
                            <td>Access</td>
                            <td>Seeds Manufactre</td>
                            <td>KES 123,125,000</td>
                            <td>Kenya</td>
                            <td>USD</td>
                            <td>20 Years</td>
                            <td>50%</td>
                        </tr>
                        <tr>
                            <td>Renold James</td>
                            <td>Agriculture</td>
                            <td>EBF Builder</td>
                            <td>Apartments Constructions</td>
                            <td>USD 12,125,000</td>
                            <td>Tanzania</td>
                            <td>TZS</td>
                            <td>6 Years</td>
                            <td>105</td>
                        </tr>
                        <tr>
                            <td>Jone Abramhem</td>
                            <td>Agriculture</td>
                            <td>STALL Educatio.</td>
                            <td>School Ground Buying</td>
                            <td>USD 14,125,000</td>
                            <td>Rwanda</td>
                            <td>KES</td>
                            <td>10 Years</td>
                            <td>95%</td>
                        </tr>
                        <tr>
                            <td>Smith Andrew</td>
                            <td>Agriculture</td>
                            <td>GreenStore</td>
                            <td>Agricture Machinery</td>
                            <td>UGX 125,000</td>
                            <td>Rwanda</td>
                            <td>RWF</td>
                            <td>12 Years</td>
                            <td>95%</td>
                        </tr>
                        <tr>
                            <td>Willium</td>
                            <td>Agriculture</td>
                            <td>Access</td>
                            <td>Seeds Manufactre</td>
                            <td>KES 123,125,000</td>
                            <td>Kenya</td>
                            <td>USD</td>
                            <td>20 Years</td>
                            <td>40%</td>
                        </tr>
                        <tr>
                            <td>Renold James</td>
                            <td>Agriculture</td>
                            <td>EBF Builder</td>
                            <td>Apartments Constructions</td>
                            <td>USD 12,125,000</td>
                            <td>Tanzania</td>
                            <td>TZS</td>
                            <td>6 Years</td>
                            <td>50%</td>
                        </tr>
                        <tr>
                            <td>Jone Abramhem</td>
                            <td>Agriculture</td>
                            <td>STALL Educatio.</td>
                            <td>School Ground Buying</td>
                            <td>USD 14,125,000</td>
                            <td>Rwanda</td>
                            <td>KES</td>
                            <td>10 Years</td>
                            <td>105</td>
                        </tr>
                        <tr>
                            <td>Smith Andrew</td>
                            <td>Agriculture</td>
                            <td>GreenStore</td>
                            <td>Agricture Machinery</td>
                            <td>UGX 125,000</td>
                            <td>Rwanda</td>
                            <td>RWF</td>
                            <td>12 Years</td>
                            <td>25%</td>
                        </tr>
                        <tr>
                            <td>Willium</td>
                            <td>Agriculture</td>
                            <td>Access</td>
                            <td>Seeds Manufactre</td>
                            <td>KES 123,125,000</td>
                            <td>Kenya</td>
                            <td>USD</td>
                            <td>20 Years</td>
                            <td>90%</td>
                        </tr>
                        <tr>
                            <td>Renold James</td>
                            <td>Agriculture</td>
                            <td>EBF Builder</td>
                            <td>Apartments Constructions</td>
                            <td>USD 12,125,000</td>
                            <td>Tanzania</td>
                            <td>TZS</td>
                            <td>6 Years</td>
                            <td>50%</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>