<div ng-form="a_form" class="form-horizontal form-bordered" novalidate>
    <div class="clearfix">

        <div class="col-sm-12 p0 bg-box">
            <!--ng-if="permission.attachements_add"-->
            <div class="dropzone plr15">
                <div ngf-select="uploadFiles($files)" ngf-drop="uploadFiles($files)" class="drop-box"
                     ngf-drag-over-class="'dragover'" ngf-multiple="{{allowMultiple}}"
                     ngf-pattern="'.png,.jpg,.zip,.jpeg,.xl,.xls,.xlsx,.doc,.docx,.pdf,.rtf,.txt,.gif,.bmp'">
                    {{'Select file' | translate}}<span> {{'or' | translate}} {{'Drop here' | translate}}</span>
                </div>
            </div>
            <div class="col-sm-12 attachment-list mb15" ng-if="uploadImage.length">
                <div class="list-header clearfix">
                    <h4 class="text-capitalize f14 darkcolor mt10">Attached Files</h4>
                </div>
                <div class="list-table mt5 mb5" style="max-height:250px;" ng-scrollbars="">
                    <ul class="list-items files-list mb10">
                        <li class="clearfix border-bottom" ng-repeat="f in uploadImage">
                            <div class="col-sm-12 f-list-wrap" ng-if="showSelectType">
                                <ng-form name="a_form">
                                    <div class="col-sm-6">
                                        <select class="form-control" ng-model="f.document_type"
                                                name="document_type" required
                                                ng-options="item.id_crm_document_type as item.document_type_name for item in documentsTypes">
                                            <option value="">--Select Document Type--</option>
                                        </select>
                                        <div ng-show="a_form.document_type.$error.required"
                                             class="error-message">{{'This field is required' | translate}}.
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <input type="text" ng-model="f.description" placeholder="Description"
                                               name="descriptionName" />
                                    </div>
                                </ng-form>
                            </div>
                            <div class="col-sm-1" upload-file data-fileType="{{ f.type }}"><i class=""></i></div>

                            <div class="col-sm-10">
                                <p class="f12 text-line" title="{{f.name}}">{{f.name }}</p>
                                <span class="display-block f11">{{ f.size/1000 | number : 0}} KB </span>
                            </div>
                            <div class="col-sm-1 text-center">
                                <a href="javascript:;" uib-tooltip="Delete" ng-click="removeImage($index)"> <i
                                        class="fa fa-trash"></i> </a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>