<div ng-form="a_form" class="form-horizontal form-bordered" novalidate>
    <div class="clearfix">
        <div class="col-sm-12 attachment-list p0" ng-show="uploadedDocuments.length > 0">
            <div class="list-header clearfix mb10 ">
                <h4 class="text-capitalize f12 col-sm-6 pl0 darkcolor bold mt20">{{title}}</h4>
                <div class="pull-right col-sm-6 pr0">
                    <!--<div class="input-group">
                        <input type="text" class="form-control " style="padding: 7px;" ng-model="search.document_type_name">
                        <span class="input-group-addon cursor-pointer"><i class="fa icon-search f18 darkblue"></i> </span>
                    </div>-->
                   <!-- <div class="mapping-search">
                        <input type="text" class="form-control" style="padding: 7px;"
                               ng-model="document_type_name">
                        <i class="fa fa-search icon-search f16 pt2 darkblue"></i>
                    </div>-->
                </div>
            </div>
            <div class="list-table">
                <ul class="list-items">
                    <li class="clearfix border-bottom" uploadedDocuments
                        ng-repeat=" uploadedDocument in uploadedDocuments" id="uploaded-files-{{uploadedDocument.id_crm_document}}">
                        <div class="touch-attacment-box clearfix">
                            <div class="touch-attacment-box-icon" upload-file
                                 data-fileType="{{ uploadedDocument.document_mime_type }}"><i class=""></i>
                            </div>
                            <a class="col-sm-6 p0 lh12" ng-href="{{ uploadedDocument.full_path }}" download>
                                <p class="f14 text-line m0" title="{{uploadedDocument.document_name}}">{{
                                    uploadedDocument.document_name | getFileName:uploadedDocument.document_name }}
                                </p>
                                <span class="ash f11">{{uploadedDocument.document_type_name }}</span>
                                <span class="ash f11" ng-if="uploadedDocument.username">{{uploadedDocument.username}},</span>
                                <span class="ash f11">{{uploadedDocument.date | date:'mediumDate'}}</span>
                                <a href="javascript:;" uib-tooltip="Delete" ng-if="ShowDelete"
                                   ng-click="deleteAttachment('document',uploadedDocument)"
                                   n-t='{"e_n":"Delete Uploaded files","e_d":"{{uploadedDocument.full_path}}","form": "{{deleConfirm}}"}'
                                   class="darkcolor"><span class="icon-trash"></span> </a>
                            </a>
                            <div class="col-sm-6 text-right p0">
                                <ul>
                                    <li class="custom-list attached-list-btn-group">
                                        <a ng-show="uploadedDocument.versions.length>0" uib-tooltip="Uploaded Revisions"
                                           ng-click="viewAttachedRevisons = !viewAttachedRevisons">
                                            <span class="icon-actions f21"></span>
                                            <span class="circle-count sky-blue-bg">{{uploadedDocument.versions.length}}</span>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="col-sm-12 p0">
                               <p class="f12 pr5">{{ uploadedDocument.document_description }}</p>
                            </div>
                        </div>

                        <ul class="list-group clearfix" ng-show="viewAttachedRevisons">
                            <li class="list-group-item col-lg-11 col-sm-11 pull-right p0 clearfix lh12"
                                ng-repeat="v in uploadedDocument.versions">
                                <a class="col-sm-12 lh12" href="{{ v.full_path }}" n-t='{"e_n":"Download version files","e_d":"{{ v.full_path}}"}' target="_blank" download >
                                    <p class="f11 text-line mb0" title="{{v.document_name}}">
                                        (Rev {{(uploadedDocument.versions.length)-($index)}})
                                        {{ v.document_name | getFileName:v.document_name }}
                                        <span class="ash f11">{{v.document_type_name }}</span>
                                        <!--{{v.username}} @ {{v.created_date_time | date:'mediumDate'}}-->
                                    </p>
                                    <span class="ash f11">{{v.username}},</span>
                                    <span class="ash f11">{{v.date | date:'mediumDate'}}</span>
                                </a>

                            </li>
                        </ul>
                    </li>
                </ul>
                <!--<div ng-hide="uploadedDocuments.length  > 0" class="text-center"><p class="f12">No Attachments</p> </div>-->
            </div>
        </div>
    </div>
</div>
