<h3 class="fixed content-heading">{{'Roles Management' | translate}}
        <span class="button-set">
            <!--<a ui-sref="sa.create-customer" class="display-block"><i class="fa fa-add-sm"></i></a>-->
        </span>
</h3>
<div class="content-area animated fadeInRight" id="contentArea">
    <div class="content-container p20 clearfix">
        <div class="role-module clearfix parent">
            <div class="col-sm-9 p0">
                <div class="role-left col-sm-3">

                    <div class="r-header clearfix">
                        <h3 class="text-capitalize">{{'Application Roles' | translate}} ({{roleList.length}}) <a href="javascript:;"
                                                                                  class="pull-right">
                            <i ng-click="addRoleModal()" class="icon-plus-circle white-color" uib-tooltip="Add"
                               n-t='{"e_n":"Add Roles management Admin","e_d":""}'></i></a></h3>
                    </div>
                    <div parent-scroll>
                        <ul ng-init="getRoleList()">
                            <li ng-class="{active : row==selectRow}" ng-init="$first && getRolePermission(row)"
                                n-t='{"e_n":"View Roles Permission Roles management Admin","e_d":"{{row.application_role_name}}"}'
                                ng-click="getRolePermission(row)" ng-repeat="row in roleList">
                                <a href="javascript:;">{{row.application_role_name}} <i class="fa fa-edit"
                                                                                        uib-tooltip="Edit"
                                                                                        n-t='{"e_n":"Edit Roles Permission Roles management Admin","e_d":"{{row.application_role_name}}"}'
                                                                                        ng-click="addRoleModal(row)"></i>
                                </a>
                            </li>
                        </ul>
                    </div>

                </div>
                <div class="role-right col-sm-9">
                    <div class="r-header">
                        <h3 class="text-capitalize clearfix">
                            <span class="pt2 display-inline-block">{{'Module Access' | translate}} </span>
                            <a href="javascript:;" class="btn btn-lt-blue" ng-click="moduleSave()"
                               n-t='{"e_n":"Save Roles management Admin","e_d":""}'>{{'Save' | translate}}</a>
                        </h3>
                    </div>

                    <div parent-scroll>
                        <div class="r-accordian">

                            <div  class="acc-box r-acc-box" ng-repeat="module in moduleList">
                                <div class="clearfix acc-head">
                                <!--    <input type="checkbox" ng-true-value="1" ng-false-value="0" ng-init="module.checked=(module.checked==1)?1:0" ng-model="module.checked" ng-click="parentCheck(module)">
                                 -->   <h3 basic-accordian n-t='{"e_n":"View Roles management Admin","e_d":"{{module.module_name}}"}'> {{module.module_name}} </h3>
                                </div>
                                <div class="acc-body clearfix">
                                    <div class="clearfix">
                                    <label class="pull-right f12">(<a href="javascript:;" ng-click="module.checked=1;parentCheck(module);">{{'Check All' | translate}}</a> / <a href="javascript:;" ng-click="module.checked=0;parentCheck(module);">{{'Uncheck All' | translate}}</a>)</label>
                                    </div>
                                    <div ng-repeat="child in module.childs">


                                        <div class="r-list-control" ng-if="child.childs.length==0">
                                            <h4>
                                                <label>{{child.module_name}}</label>
                                             <span class="r-iconset">
                                                    <a href="javascript:;" ng-repeat="a in child.action">
                                                        <input ng-init="a.checked=(a.checked==1)?1:0"  uib-tooltip="{{a.action_name}}"
                                                            type="checkbox" ng-model="a.checked" ng-true-value="1" ng-false-value="0"><i
                                                             class="">{{a.action_name}}</i>
                                                    </a>
                                             </span>
                                            </h4>
                                        </div>
                                        <div class="r-view-panel" ng-if="child.childs.length >0">
                                            <h4>
                                              <!--  <span>
                                                      <input type="checkbox" ng-true-value="1" ng-false-value="0" ng-click="parentCheck(child)" ng-init="child.checked=(child.checked==1)?1:0" ng-model="child.checked" >
                                                </span>-->
                                                <label>{{child.module_name}}</label>
                                            </h4>
                                            <div class="r-view-box">
                                                <div class="r-view-item" ng-repeat="subChild in child.childs">
                                                    <h5>
                                                        <label>{{subChild.module_name}}</label>
                                                        <span class="f12" ng-if="subChild.module_key=='stages'">
                                                            <a href="javascript:;">View </a>
                                                            <a href="javascript:;">Complete View </a>
                                                        </span>
                                                         <span class="r-iconset" ng-if="subChild.module_key!='stages'">
                                                            <a href="javascript:;"><i class="icon-eye f18"></i> </a>
                                                            <a href="javascript:;"><i class="icon-edit"></i> </a>
                                                        </span>
                                                    </h5>
                                                    <ul>
                                                        <li ng-repeat="subSubChild in subChild.childs">
                                                            <div class="r-text">
                                                                <p>{{subSubChild.module_name}}</p>
                                                            </div>

                                                            <div class="r-check" ng-repeat="a in subSubChild.action" uib-tooltip="{{a.action_name}}">
                                                                <input ng-init="a.checked=(a.checked==1)?1:0"
                                                                       type="checkbox" ng-model="a.checked" ng-true-value="1" ng-false-value="0">
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-sm-3 p0 role-last">
                <div class="r-header clearfix">
                    <h3 class="">{{'Select Users or Roles' | translate}} </h3>
                </div>
                <div class="r-tabs">
                    <uib-tabset>
                        <uib-tab heading="{{'Users' | translate}}" n-t='{"e_n":"View Users Tab - Roles management Admin","e_d":""}'>
                            <div class="r-tab-content">
                                <div class="clearfix p10 mb5">
                                    <form name="uForm" novalidate ng-submit="uForm.$valid && saveMapping(mUser)">
                                        <div class="col-sm-9 p0">
                                            <select ng-init="getUserList()" chosen class="chosen-select"
                                                    name="user_id"
                                                    data-placeholder="Please Select User"
                                                    ng-model="mUser.user_id"
                                                    ng-options="option.id_user as option.first_name+' '+option.last_name for option in userList"
                                                    required>
                                                <option value=""></option>
                                            </select>

                                            <div ng-if="uForm.user_id.$error.required && uSubmitted"
                                                 class="error-message">{{'This field is required' | translate}}
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <button type="submit" class="btn no-bg" uib-tooltip="Add"
                                                    n-t='{"e_n":"Save Users Tab - Roles management Admin","e_d":""}'
                                                    ng-click="uSubmitted=true;">
                                                <i class="icon-plus-circle"></i>
                                            </button>
                                        </div>
                                    </form>

                                </div>

                                <ul>
                                    <li ng-repeat="row in applicationUserList">
                                        <div class="r-img">
                                            <img ng-src="{{row.profile_image}}">
                                        </div>
                                        <div class="r-data">
                                            <p>{{row.user_name}}</p>
                                            <p><a href="javascript:;" class="text-line">{{row.email_id}}</a></p>
                                        </div>
                                        <div class="r-delete">
                                            <a href="javascript:;" ng-click="roleDelete(row,'user')"
                                               uib-tooltip="Delete"
                                               n-t='{"e_n":"Delete Users - Roles management Admin","e_d":"{{row.user_name}}"}'><i
                                                    class="icon-trash"></i> </a>
                                        </div>
                                    </li>
                                </ul>

                            </div>
                        </uib-tab>
                        <uib-tab heading="{{'Roles' | translate}}" n-t='{"e_n":"View Roles Tabs - Roles management Admin","e_d":""}'>
                            <div class="r-tab-content">
                                <div class="clearfix p10 mb5">
                                    <form name="form" novalidate ng-submit="form.$valid && saveMapping(mApproval)">
                                        <div class="col-sm-9 p0">
                                            <select ng-init="getOrgRoleList()" chosen class="chosen-select"
                                                    name="company_approval_role_id"
                                                    data-placeholder="Please Select Role Name"
                                                    ng-model="mApproval.company_approval_role_id"
                                                    ng-options="role.id_company_approval_role as role.approval_name for role in org_role_type"
                                                    required>
                                                <option value=""></option>
                                            </select>


                                            <div ng-if="form.company_approval_role_id.$error.required && submitted"
                                                 class="error-message">{{'This field is required' | translate}}
                                            </div>
                                        </div>
                                        <div class="col-sm-3">
                                            <button type="submit" class="btn no-bg" uib-tooltip="Add"
                                                    n-t='{"e_n":"Add Roles - Roles management Admin","e_d":""}'
                                                    ng-click="submitted=true;">
                                                <i class="icon-plus-circle"></i>
                                            </button>
                                        </div>
                                    </form>
                                </div>
                                <ul >
                                    <li ng-repeat="row in applicationApprovalList">
                                        <div class="r-img">
                                            <span first-alpha="{{row.approval_name}}"></span>
                                        </div>
                                        <div class="r-data">
                                            <p class="pt10">{{row.approval_name}}</p>
                                        </div>
                                        <div class="r-delete">
                                            <a href="javascript:;" ng-click="roleDelete(row,'approval_role')"
                                               uib-tooltip="Delete"
                                               n-t='{"e_n":"Delete Roles Tabs - Roles management Admin","e_d":"{{row.approval_name}}"}'><i
                                                    class="icon-trash"></i> </a>
                                        </div>
                                    </li>
                                </ul>

                            </div>

                        </uib-tab>
                    </uib-tabset>

                </div>
            </div>

        </div>

    </div>
</div>

