<div ng-controller="documentsCtrl" ng-init="getDocumentsList()">
    <div class="col-lg-12 text-right p10">
        <button class="btn-xs btn-dark" ng-click="openDocumentModal()">Add New Document</button>
    </div>
    <div class="col-lg-12 clearfix">
        <table class="table table-striped table-style">
            <thead>
            <th>Document Name</th>
            <th>Is Mandatory</th>
            <th>Action</th>
            </thead>
            <tbody>
            <tr ng-repeat="row in documentList">
                <td>{{row.document_name}}</td>
                <td><any ng-if="row.is_mandatory==1">Yes</any><any ng-if="row.is_mandatory==0">No</any></td>
                <td>
                    <div class="clearfix pagination-wrap">
                        <ul class="icons-wrap pull-left">
                            <li>
                                <a href="javascript:;"
                                   uib-tooltip="Edit" class="fa fa-pencil" ng-click="openDocumentModal(row)"> </a></li>
                            <li>
                                <a href="javascript:;" uib-tooltip="Delete" ng-click="deleteDocument(row)" class="fa fa-trash"></a></li>
                        </ul>
                    </div>
                </td>
            </tr>
            </tbody>

        </table>
    </div>
</div>
<script type="text/ng-template" id="document-modal.html">
    <div class="modal-wrap right-modal modal-custom">
        <h3 class="right-modal-head">
           Add Document
            <a class="close-right pull-right" href="javascript:;" n-t='{"e_n":"Close modal","e_d":"{{stageTitle}}"}' uib-tooltip="Close"
               ng-click="cancel()"><img src="images/close.png"></a>
        </h3>
        <form class="form-horizontal form-bordered" name="form" novalidate>
            <div class="col-sm-6">
                <div class="form-group clearfix form-group-custom mb10">
                    <label class="control-label">Document Name<span class="red"> *</span> : </label>
                    <input type="text" class="form-control" ng-model="field.document_name" name="document_name"
                           required>
                    <div ng-if="form.document_name.$invalid && form.$submitted " class="error-message">
                        This field is required
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="form-group clearfix form-group-custom mb10">
                    <label class="control-label"> This Document is Required: </label>

                    <div class="switch-view">
                        <div class="mb10">
                            <div class="onoffswitch" ng-init="field.is_mandatory=(field.is_mandatory==1)?1:0">
                                <input type="checkbox" ng-true-value="1" ng-false-value="0" ng-model="field.is_mandatory"
                                       name="onoffswitch_toggle" class="onoffswitch-checkbox" id="setting1">
                                <label class="onoffswitch-label assessment-switch" for="setting1">
                                    <span class="onoffswitch-inner"></span>
                                    <span class="onoffswitch-switch"></span>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="col-sm-12 btn-custom clearfix text-center">
                <button ng-click="form.$valid && addDocument(field)" class="btn btn-primary f14 btn-dark" type="submit">
                   {{actionTitle}}
                </button>
                <button type="button" class="btn f14 lt-bg" ng-click="cancel()">Cancel</button>
            </div>
        </form>
    </div>
</script>