<div class="col-sm-12 p0">
    <div class="col-sm-4">
        <div class="form-group clearfix form-group-custom mb10">
            <label class="control-label"> Registration Authority : </label>
            <input type="text" class="form-control">
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group clearfix form-group-custom mb10">
            <label class="control-label"> Registration Authority Contact Details : </label>
            <input type="text" class="form-control">
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group clearfix form-group-custom mb10">
            <label class="control-label"> Result : </label>
            <input type="text" class="form-control ">
        </div>
    </div>
</div>

<div class="col-sm-12 p0">
    <div class="col-sm-4">
        <div class="form-group clearfix form-group-custom mb10">
            <label class="control-label"> Date of Check : </label>
            <div class="form-group clearfix form-group-custom">
                <div class="input-group">
                    <input type="text" class="form-control" uib-datepicker-popup="yyyy-MM-dd"
                           data-ng-model="company.date" type="text"
                           name="date"
                           is-open="openCal"
                           show-weeks="false" show-button-bar="false" readonly/>
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-default border" ng-click="openCal = true">
                        <i class="fa fa-calendar"></i>
                    </button>
                  </span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group clearfix form-group-custom mb10">
            <label class="control-label"> Credit Remarks : </label>
            <input type="text" class="form-control">
        </div>
    </div>
</div>




