<div class="col-sm-6">
    <div class="form-group clearfix form-group-custom mb10">
        <label class="control-label"> Agency Name : </label>
        <input type="text" class="form-control" ng-model="field.agency_name" name="agency_name">
    </div>
</div>
<div class="col-sm-6">
    <div class="form-group clearfix form-group-custom mb10">
        <label class="control-label"> Contact Name<span class="red"> *</span> : </label>
        <input type="text" class="form-control" ng-model="field.contact_name" name="contact_name" required>
        <div ng-if="form.contact_name.$invalid && form.$submitted " class="error-message">
            Enter Contact Name
        </div>
    </div>
</div>
<div class="clearfix"></div>
<div class="col-sm-6">
    <div class="form-group clearfix form-group-custom mb10">
        <label class="control-label"> Date<span class="red"> *</span> : </label>
        <div class="form-group clearfix form-group-custom">
            <div class="input-group">
                <input type="text" class="form-control" uib-datepicker-popup="yyyy-MM-dd"
                       type="text"
                       name="field_investigation_date" ng-model="field.date"
                       is-open="openCal"
                       required
                       show-weeks="false" show-button-bar="false" readonly/>
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default border" ng-click="openCal = true">
                                        <i class="fa fa-calendar"></i>
                                    </button>
                                </span>
            </div>
            <div ng-if="form.field_investigation_date.$invalid && form.$submitted " class="error-message">
                Enter date
            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>
<div class="col-sm-12">
    <div class="form-group clearfix form-group-custom mb10">
        <label class="control-label"> Result : </label>
                        <textarea class="form-control " ng-model="field.result" name="result">
                        </textarea>
    </div>
</div>

<div class="clearfix"></div>
<div class="col-sm-6">
    <div class="form-group clearfix form-group-custom mb10">
        <label class="control-label">Visit Remarks : </label>
        <textarea class="form-control" ng-model="field.visit_remarks" name="visit_remarks"></textarea>
    </div>
</div>
<div class="col-sm-6">
    <div class="form-group clearfix form-group-custom mb10">
        <label class="control-label"> Credit Remarks : </label>
        <textarea class="form-control " ng-model="field.credit_remarks" name="credit_remarks"></textarea>
    </div>
</div>
<div class="clearfix"></div>
<div class="col-sm-12" oc-lazy-load="attachment">
    <div class="form-group clearfix form-group-custom mb10">
        <label class="control-label"> Attachments : </label>
        <attachment-files ng-model="field.file.attachments"></attachment-files>
        <attachment-list-template get-data="field.document"></attachment-list-template>
    </div>
</div>