<div class="row clearfix" ng-controller="riskEvaluationCtrl as vm">
    <div class="clearfix">
        <div class="col-sm-12 clearfix">
            <div class="col-sm-12 ">
                <label class="control-label">Risk *</label>

                <div class="form-group clearfix form-group-custom">
                    <input type="text" class="form-control" ng-model="field.name" name="name" required>
                    <div ng-if="form.name.$error.required && form.$submitted" class="error-message">
                        Enter name
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 clearfix ">
            <div class="col-sm-4 ">
                <label class="control-label">Risk Type *</label>
                <div class="form-group clearfix form-group-custom">
                    <select chosen
                            class="form-control"
                            ng-init="getParent(0,'')"
                            ng-change="getParent(field.parent, 'childs');"
                            ng-options="risk as risk.risk_name for risk in parents track by risk.id_risk_type"
                            ng-model="field.parent" name="parent" required>
                        <option value="">--Select--</option>
                    </select>
                    <!--<input type="text" class="form-control" ng-model="networkDetails.name" name="name" required>-->
                    <div ng-if="form.parent.$error.required && form.$submitted" class="error-message">
                        Select risk type
                    </div>
                </div>
            </div>
            <div class="col-sm-4 mt20 pt5">
                <!--<label class="control-label">Risk Type *</label>-->
                <div class="form-group clearfix form-group-custom">
                    <select chosen
                            class="form-control"
                            ng-change="getParent(field.child, 'subchilds');"
                            ng-options="risk as risk.risk_name for risk in childs track by risk.id_risk_type"
                            ng-model="field.child" name="child">
                        <option value="">--Select--</option>
                    </select>
                    <!--<input type="text" class="form-control" ng-model="networkDetails.name" name="name" required>-->
                    <div ng-if="form.child.$error.required && form.$submitted" class="error-message">
                        Select risk type
                    </div>
                </div>
            </div>
            <div class="col-sm-4 mt20 pt5">
                <!--<label class="control-label">Risk Type *</label>-->
                <div class="form-group clearfix form-group-custom">
                    <select chosen
                            class="form-control"
                            ng-options="risk as risk.risk_name for risk in subchilds track by risk.id_risk_type"
                            ng-model="field.subchild" name="subchild">
                        <option value="">--Select--</option>
                    </select>
                    <!--<input type="text" class="form-control" ng-model="networkDetails.name" name="name" required>-->
                    <div ng-if="form.subchild.$error.required && form.$submitted" class="error-message">
                        Select risk type
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-12 clearfix">
            <div class="col-sm-12 ">
                <label class="control-label">Description</label>

                <div class="form-group clearfix form-group-custom">
                    <textarea class="form-control" ng-model="field.description" name="description"></textarea>
                </div>
            </div>
        </div>
        <div class="col-sm-12 clearfix">
            <div class="col-sm-12 ">
                <label class="control-label">Mitigation</label>

                <div class="form-group clearfix form-group-custom">
                    <input type="text" class="form-control" ng-model="field.mitigation" name="mitigation">
                </div>
            </div>
        </div>
        <div class="col-sm-12 clearfix">
            <div class="col-sm-12 clearfix">
                <label class="control-label">Risk Grade *</label>
                <div class="form-group clearfix form-group-custom">
                    <select class="form-control"
                            ng-options="risk.value as risk.label for risk in riskGrades"
                            name="grade"
                            ng-model="field.grade" required>
                        <option value="">--Select Risk Grade--</option>
                    </select>
                    <div ng-if="form.grade.$error.required && form.$submitted" class="error-message">
                        Select risk grade
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal-footer border-none btn-custom mb0 clearfix text-center">

    <!--ng-if="permission[form_key+'_add']"-->

</div>