<div class="col-sm-6">
    <div class="form-group clearfix form-group-custom mb10">
        <label class="control-label"> Unit Value : </label>
        <input type="text" class="form-control" ng-model="field.unit_value" name="unit_value" ui-number-mask="0">
    </div>
</div>
<div class="col-sm-6">
    <div class="form-group clearfix form-group-custom mb10">
        <label class="control-label"> Date<span class="red"> *</span> : </label>
        <div class="form-group clearfix form-group-custom">
            <div class="input-group ">
                <input type="text" class="form-control" uib-datepicker-popup="yyyy-MM-dd"
                       data-ng-model="field.date" type="text" name="valuation_date"
                       date-type="string"
                       is-open="openCal"
                       show-weeks="false" show-button-bar="false" readonly required/>
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-default border" ng-click="openCal = true">
                        <i class="fa fa-calendar"></i></button>
                  </span>
            </div>
            <div ng-if="form.date.$invalid && form.$submitted " class="error-message">
                Enter Date
            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>
<div class="col-sm-12">
    <div class="form-group clearfix form-group-custom mb10">
        <label class="control-label"> Comment : </label>
                    <textarea class="form-control" ng-model="field.comment"
                              name="comment"></textarea>
    </div>
</div>
<div class="clearfix"></div>
