
<div class="col-sm-6">
    <div class="form-group clearfix form-group-custom mb10">
        <label class="control-label"> Agency Name <span class="red">*</span> : </label>
        <input type="text" class="form-control" ng-model="field.agency_name" name="agency_name"  >

    </div>
</div>
<div class="col-sm-6">
    <div class="form-group clearfix form-group-custom mb10">
        <label class="control-label"> Contact Name<span class="red"> *</span> : </label>
        <input type="text" class="form-control" ng-model="field.contact_name" name="contact_name"    >
        <div ng-if="form.contact_name.$invalid && form.$submitted " class="error-message">
            Enter Contact Name
        </div>
    </div>
</div>
<div class="clearfix"></div>
<div class="col-sm-6">
    <div class="form-group clearfix form-group-custom mb10">
        <label class="control-label"> Valuation Amount in USD : </label>
        <input type="text" class="form-control" ng-model="field.valuation_amount_in_usd" name="valuation_amount_in_usd" ui-number-mask="0">
    </div>
</div>
<div class="col-sm-6">
    <div class="form-group clearfix form-group-custom mb10">
        <label class="control-label"> Valuation Basis: </label>
        <select class="form-control"
                ng-init="masterDropDownList({'master_key':'valuation_basis'})"
                ng-model="valuation_basis" name="valuation_basis"
                ng-options="item.id as item.name for item in dropDownItems['valuation_basis']"
                >
            <option value="">--Select--</option>
        </select>
    </div>
</div>
<div class="clearfix"></div>
<div class="col-sm-6">
    <div class="form-group clearfix form-group-custom mb10">
        <label class="control-label"> Valuation Date<span class="red"> *</span> : </label>
        <div class="form-group clearfix form-group-custom">
            <div class="input-group ">
                <input type="text" class="form-control" uib-datepicker-popup="yyyy-MM-dd"
                       data-ng-model="field.valuation_date" type="text" name="valuation_date"
                       date-type="string"
                       is-open="openCal"
                       show-weeks="false" show-button-bar="false" readonly   />
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-default border" ng-click="openCal = true">
                        <i class="fa fa-calendar"></i></button>
                  </span>
            </div>
            <div ng-if="form.valuation_date.$invalid && form.$submitted " class="error-message">
                Enter Valuation Date
            </div>
        </div>
    </div>
</div>
<div class="clearfix"></div>
<div class="col-sm-6">
    <div class="form-group clearfix form-group-custom mb10">
        <label class="control-label"> Valuation Remarks : </label>
        <textarea class="form-control" ng-model="field.valuation_remarks" name="valuation_remarks"></textarea>
    </div>
</div>
<div class="col-sm-6">
    <div class="form-group clearfix form-group-custom mb10">
        <label class="control-label"> Credit Remarks : </label>
        <textarea class="form-control" ng-model="field.credit_remarks" name="credit_remarks"></textarea>
    </div>
</div>
<div class="clearfix"></div>
<div class="col-sm-12" oc-lazy-load="attachment">
    <div class="form-group clearfix form-group-custom mb10">
        <label class="control-label"> Attachments : </label>
        <attachment-files ng-model="field.file.attachments"></attachment-files>
        <attachment-list-template get-data="field.document"></attachment-list-template>
    </div>
</div>
<div class="clearfix"></div>