<div class="row clearfix" data-ng-controller="annualReviewCtrl">
    <div class="col-sm-12 clearfix p0">
        <div class="col-sm-12">
            <div class="col-sm-12 p0">
                <div class="clearfix">
                    <p class="f11 ash display-inline-block"><em>{{'project.project_annual_review' | translate}} </em></p>
                    <button class="btn btn-primary btn-dark border-none f12 pull-right"
                            data-ng-click="openModel()">
                        <i class="fa fa-plus-circle"></i> {{'project.add_new' | translate}}
                    </button>
                </div>
                <div class="clearfix"></div>
                <div class="table-wrapper  p0 pt5 table-responsive">
                    <table class="table c-table table-striped table-bordered table-hover display table-style">
                        <thead>
                        <tr>
                            <th class="width110">Date</th>
                            <th>{{'Company' | translate}}</th>
                            <th>{{'project.project_borrower_performance' | translate}}</th>
                            <th>{{'Status' | translate}}</th>
                            <th>{{'project.project_grading' | translate}}</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="row in rows">
                            <td>{{row.visit_date | utcToLocal:'date'}}</td>
                            <td ng-bind-html="row.company_notes | limitchr:100"></td>
                            <td ng-bind-html="row.ownership_notes | limitchr:100"></td>
                            <td>{{row.status}}</td>
                            <td>{{row.grading}}</td>
                            <td>
                                <div class="clearfix pagination-wrap">
                                    <ul class="icons-wrap pull-left">
                                        <li><a href="javascript:;" class="fa fa-edit"
                                               ng-click="openModel(row)"></a></li>
                                        <li><a href="javascript:;" class="fa fa-trash"
                                               ng-click="delete(row.id_annual_review)"></a></li>

                                    </ul>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <script type="text/ng-template" id="annual-review-modal-form.html">
        <div class="right-modal modal-custom">
            <h3 class="right-modal-head ng-binding">
                {{'project.project_annual_review' | translate}}
                <a ng-click="cancel()" class="close-right pull-right"><img src="images/close.png"></a>
            </h3>
            <form class="form-horizontal form-bordered mt10 container" name="form" novalidate>

                <div class="row clearfix">
                    <div class="col-sm-6 clearfix">
                        <div class="col-sm-12 ">
                            <label class="control-label">{{'project.project_date_of_the_last_visit' | translate}}</label>
                            <div class="form-group clearfix form-group-custom">
                                <div class="input-group">
                                    <input type="text" class="form-control white-bg" uib-datepicker-popup
                                           data-ng-model="fdata.visit_date" type="text" name="visit_date"
                                           is-open="openCal"
                                           show-weeks="false" show-button-bar="false" readonly required/>
                          <span class="input-group-btn ">
                            <button type="button" class="btn btn-default border" ng-click="openCal = true">
                                <i class="fa fa-calendar"></i></button>
                          </span>
                                </div>
                                <div ng-if="form.visit_date.$error.required && form.$submitted" class="error-message">
                                    {{'general.required' | translate}}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 clearfix">
                        <div class="col-sm-12 edit-bg ">
                            <label class="control-label">{{'project.project_update_on_the_company_structure_business' | translate}} </label>
                            <div class="form-group clearfix form-group-custom">
                            <textarea ckeditor class="form-control cke_editable" ng-model="fdata.company_notes"
                                      name="company_notes"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 clearfix">
                        <div class="col-sm-12 edit-bg">
                            <label class="control-label">{{'project.project_update_on_the_ownership' | translate}}</label>
                            <div class="form-group clearfix form-group-custom">
                            <textarea ckeditor class="form-control cke_editable" ng-model="fdata.ownership_notes"
                                      name="ownership_notes"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 clearfix">
                        <div class="col-sm-12 edit-bg">
                            <label class="control-label">{{'project.project_update_on_the_exposures' | translate}}</label>
                            <div class="form-group clearfix form-group-custom">
                            <textarea ckeditor class="form-control cke_editable"
                                      ng-model="fdata.exposure_notes"
                                      name="exposure_notes"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 clearfix">
                        <div class="col-sm-12 edit-bg">
                            <label class="control-label">{{'project.project_summary_and_assessment' | translate}} </label>
                            <div class="form-group clearfix form-group-custom">
                            <textarea ckeditor class="form-control cke_editable"
                                      ng-model="fdata.assessment_summary"
                                      name="assessment_summary"></textarea>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6 p0 clearfix">
                        <div class="col-sm-12 ">
                            <label class="control-label">{{'project.project_move_project_to_watchlist_q' | translate}}</label>
                            <div class="form-group clearfix form-group-custom f12">
                                <input type="radio" ng-model="fdata.status"
                                       name="status" value="yes"/> Yes
                                <input type="radio" ng-model="fdata.status"
                                       name="status" value="no"> No
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 p0 clearfix">
                        <div class="col-sm-12">
                            <label class="control-label">{{'project.project_grading' | translate}}*</label>
                            <div class="form-group clearfix form-group-custom mb5">
                                <select class="form-control"
                                        name="grading"
                                        ng-model="fdata.grading" required>
                                    <option value="">--{{'project.project_select_grade' | translate}}--</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                            </div>
                            <div ng-if="form.grading.$error.required && form.$submitted" class="error-message">
                                {{'general.required' | translate}}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-lg-12">
                    <label class="control-label">{{'Attachments' | translate}}</label>
                    <attachment-files ng-model="fdata.file.attachments"></attachment-files>
                    <attachment-list-template get-data="fdata.document"></attachment-list-template>
                </div>
                <div class="col-sm-12 modal-footer border-none btn-custom mb0 clearfix text-center">
                    <button class="btn btn-primary f12" ng-click="form.$valid && formSubmit(fdata)">
                        {{'Save' | translate}}
                    </button>
                    <button type="button" class="btn btn-default f12" ng-click="cancel()">
                        {{'cancel' | translate}}
                    </button>
                </div>
            </form>
        </div>
    </script>
</div>

