<div ng-controller="operationalChecklistTypeCtrl">
    <div class="row clearfix">
        <div class="col-sm-12">
            <a href="javascript:;" class="p5 f21 -mt pull-right"
               ng-click="openChecklistModalOpen(form_key,project_form_id)"
               uib-tooltip="Add"><i class="icon-plus-circle"></i></a>
        </div>
        <div class="col-sm-12" ng-init="getAssessmentQuestion(form_key,project_form_id)">
            <div class="clearfix data-item mb10 col-sm-12" ng-repeat="category in categoryQuestionList">
             <!--   <div class="data-item-header">
                    <h4 class="f14 dark-blue pb5 text-capitalize">{{category.assessment_question_category_name}}</h4>
                </div>-->
                <div class="data-item-content pl0">
                    <form novalidate detect-form-change="formChangeEvent()">
                    <ul>
                        <li class="clearfix" ng-repeat="question in category.question">
                            <h4 class="f13 pb2">
                                <div class="display-inline-block mr4 absolute">Q{{($index)+1}}.</div>
                                <div class="display-inline-block ml15 pl10"
                                     ng-bind-html="question.assessment_question"></div>
                            </h4>
                            <div class="pull-right">
                                <i class="fa fa-trash" ng-click="deleteQuestion(question)"></i>
                            </div>
                            <div ng-if="question.answer == undefined">
                                <div ng-init="question.answer={};"></div>
                            </div>
                            <div class="ml15 pl10">
                                <div ng-if="question.question_type=='text'">
                                    <input type="text" ng-model="question.answer.assessment_answer"
                                           class="width-full f12 p10 darkcolor"/>

                                </div>
                                <div ng-if="question.question_type=='textarea'" class="col-lg-12 p0">
                                    <textarea ckeditor="" ng-model="question.answer.assessment_answer"
                                              class="width-full min-height70 f12 p10 darkcolor"></textarea>
                                </div>

                                <div class="radio-list" ng-if="question.question_type=='date'">
                                    <div class="input-group width220">
                                        <input type="text" class="form-control" uib-datepicker-popup="yyyy-MM-dd"
                                               data-ng-model="question.answer.assessment_answer" type="text"
                                               name="date_of_birth"
                                               date-type="string"
                                               is-open="openCal"
                                               show-weeks="false" show-button-bar="false" readonly/>
                                          <span class="input-group-btn">
                                            <button type="button" class="btn btn-default border"
                                                    ng-click="openCal = true">
                                                <i class="fa fa-calendar"></i></button>
                                          </span>
                                    </div>
                                </div>
                                <ul class="radio-list " ng-if="question.question_type=='radio'">
                                    <li class="border-none pad0 mb0 display-inline-block valign-top mr8 f13"
                                        ng-repeat="option in question.question_option">
                                        <input type="radio" name="radio_{{question.id_assessment_question}}"
                                               ng-value="option.option_id" ng-model="question.answer.assessment_answer"
                                               class="valign-middle"> {{option.option_title}}

                                    </li>
                                </ul>
                                <ul class="radio-list" ng-if="question.question_type=='checkbox'">
                                    <li class="border-none pad0 mb0 f13" ng-repeat="option in question.question_option">
                                        <input type="checkbox" name="radio"
                                               ng-model="question.answer.assessment_answer[option.option_id]"
                                               class="valign-middle"> {{option.option_title}}

                                    </li>
                                </ul>
                                <div class="radio-list" ng-if="question.question_type=='dropdown'">
                                    <select class="form-control width220" ng-model="question.answer.assessment_answer">
                                        <option ng-repeat="option in question.question_option"
                                                value="{{option.option_id}}">
                                            {{option.option_title}}
                                        </option>
                                    </select>
                                </div>


                                <div class="mb10">
                                    <label class="control-label display-block">{{'Comments' | translate}} </label>
                                    <textarea ng-model="question.answer.comment"
                                              class="width-full form-control min-height70 f12 p10 darkcolor"></textarea>
                                </div>
                                <div class="mb10 clearfix">
                                    <attachment-files ng-model="question.file.attachments"></attachment-files>
                                    <attachment-list-template
                                            get-data="question.answer.document"></attachment-list-template>
                                </div>
                                <div class="mb10">
                                    <label class="control-label display-block">{{'Facility' | translate}} </label>
                                    <select chosen multiple class="chosen-choices form-control width220" data-placeholder="Select Facilities"
                                            ng-options="f.id_project_facility as f.project_facility_name +' '+f.contract_id+' ' for f in projectFacilityList"
                                            ng-model="question.project_facility_id">
                                    </select>
                                </div>

                            </div>
                        </li>

                    </ul>
                    <div class="col-sm-12 btn-custom mt5 text-center" ng-show="category.question.length>0">
                        <button class="btn btn-primary f14" ng-click="saveAnswer(category.question)">{{'Save' | translate}}
                        </button>
                    </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

</div>
<script type="text/ng-template" id="modal_checklist.html">
    <div class="modal-wrap right-modal modal-custom">
        <h3 class="right-modal-head">{{formName}}
            <a ng-click="cancel()" class="close-right pull-right"
               n-t='{"e_n":"Open modal","e_d":"Checklist, Project - {{projectTitle}}"}'>
                <img src="images/close.png">
            </a>
        </h3>
        <div class="clearfix p10">

            <form name="form" novalidate>
                <div class="data-item mb10" ng-repeat="category in unselectQuestionsList" ng-if="category.question.length > 0">

                    <div class="data-item-header">
                        <h4 class="f14 dark-blue pb5 text-capitalize">
                            {{category.assessment_question_category_name}}
                        </h4>
                    </div>
                    <div class="p10">
                        <ul class="covenant-filtered-list">
                            <li ng-repeat="question in category.question" >
                                <input ng-model="question.check" type="checkbox"/>
                                <span
                                     ng-bind-html="question.assessment_question"></span>
                            </li>
                        </ul>
                        <div class="col-lg-12 col-sm-12 text-center" ng-show="covenantSearchList.length>0">
                            <button class="btn btn-dark f12" ng-click="saveCovenant(covenantChecked)"
                                    n-t='{"e_n":"Add Covenant","e_d":""}'>{{'general.add' | translate}}
                            </button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 text-center p10" ng-if="saveBtnShow">
                    <button class="btn btn-primary f14 mr4" ng-click="saveSelectQuestion(unselectQuestionsList)">
                        Save
                    </button>
                </div>
            </form>
        </div>
    </div>
</script>
