<!--
<div class="col-lg-9 col-sm-8 mt5 pl0 clearfix clearboth">
<div class="div-header clearfix  border-bottom  white-bg" >
    <h3 class="darkcolor pull-left display-inline-block f14 roboto-bold text-capitalize">Collateral</h3>
    <div class="pull-right">
        <div class="display-inline-block pull-left mr4 mt3">
            <div class="table-search pull-left width220">
                <input type="text" placeholder="Search" ng-model="coventSearch" class="form-control ng-pristine ng-valid ng-touched" style="">
                <i class="fa icon-search mt8"></i>
            </div>
        </div>

        <a href="javascript:;" class="p5 f21 -mt" ng-click="CreateCovenantModalOpen()" uib-tooltip="Add"><i class="icon-plus-circle"></i></a>
    </div>
</div>
-->

<div class="col-sm-12 p0 white-bg" ng-controller="mapCollateralCtrl">
<div class="col-sm-12 f12">
    <!--<span class="red"><i class="fa fa-warning mr5 red f18 valign-bottom"></i> 5 covenants due</span>-->
    <a href="javascript:;" style="float: right" class="p5 pt0 f21 -mt" ng-click="mapCollateral()" uib-tooltip="Add"><i class="icon-plus-circle"></i></a>
</div>
<!---->

<div class="col-sm-12 p10 white-bg clearfix">
    <div class="col-sm-12 border p0 light-bg" ng-repeat="c in projectCollateralList">
        <div class="col-sm-12 p0 border-bottom pt5 pb5 clearfix">
            <div class="col-sm-6">
                <h3 class="sky-blue mt5 f16"><span class="fa fa-clock-o mr10 red"></span>Collateral #: {{c.collateral_number}}</h3>
            </div>
            <div class="col-sm-6">
                <div class="text-right pull-right">
                    <div class="display-inline-block pull-right custom-list">
                        <a class="menu-toggle f13 dark-sky-blue dropdown-toggle" data-toggle="dropdown" href="javascript:;" aria-expanded="false"><i class="fa fa-ellipsis-v"></i>
                        </a>
                        <ul class="dropdown-menu cust-dropdown">
                           <!-- <li>
                                <a href="javascript:;" class="f14 darkcolor"><i class="icon-edit"></i>Edit</a>
                            </li>-->
                            <li>
                                <a uib-tooltip="Delete" href="javascript:;" ng-click="removeFacilityCollateral(c.id_project_facility_collateral)" class="f14 darkcolor"><i class="icon-trash"></i>{{'Delete' | translate}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
               <!-- <div class="p0 f12 mt5 pull-right mr20">
                    <span class="ash">Next Review: <span class="red-bg p2 white-color mr4">---</span><strong class="darkcolor"></strong></span>
                </div>
                <div class="p0 f12 mt5 pull-right mr20">
                    <span class="ash">Last Review: <strong class="darkcolor">---</strong></span>
                </div>-->
            </div>
        </div>
        <div class="col-sm-12 p0 pt5 clearfix">
            <div class="col-sm-3 border-right">
                <label class="label-text display-block">{{'project.type' | translate}}</label>
                <label class="bold f14 darkcolor">{{c.collateral_type_name}}</label>
            </div>
            <div class="col-sm-2 border-right">
                <label class="label-text display-block">{{'Amount' | translate}}</label>
                <label class="bold f14 darkcolor">{{c.collateral_amount | currency:'' | checkEmpty}}</label>
            </div>
            <div class="col-sm-2 border-right">
                <div class="col-sm-11 pr0 pl5 clearfix">
                    <label class="label-text display-block">{{'Currency' | translate}}</label>
                    <label class="bold f14 darkcolor">{{c.currency_code | checkEmpty}}</label>
                </div>
            </div>
            <div class="col-sm-5">
                <div class="col-sm-10 p0">
                    <label class="label-text display-block">{{'Facility' | translate}}</label>
                    <label class="bold f14 darkcolor text-line">{{c.project_facility_name}}</label>
                </div>
            </div>
        </div>
        <div class="col-sm-12 p0 pt5 clearfix">
            <div class="col-sm-5 border-right">
                <label class="label-text display-block">{{'project.project_location' | translate}}</label>
                <label class="bold f14 darkcolor">---</label>
            </div>
            <div class="col-sm-2 border-right">
                <label class="label-text display-block">{{'Status' | translate}}</label>
                <label class="bold f14 orange">{{c.collateral_status_name|checkEmpty}}</label>
            </div>
            <div class="col-sm-5">
                <div class="col-sm-11 pr0 pl5 clearfix">
                    <label class="label-text display-block">{{'description' | translate}}</label>
                    <label class="bold f14 darkcolor text-line">{{c.collateral_description|checkEmpty}}</label>
                </div>
            </div>

        </div>
    </div>
</div>

</div>



<script type="text/ng-template" id="map_collateral.html">
    <div class="modal-wrap right-modal modal-custom">
        <h3 class="right-modal-head">
            <i class="fa fa-plus mr8"></i> {{title}} Collateral
            <a class="close-right pull-right" href="javascript:;" ng-click="cancel()" uib-tooltip="Close"><img src="images/close.png"></a>
        </h3>
        <div>
            <div class="clearfix">
                <div class="col-sm-12 p0 attachment-list">
                    <div class="p15 bg-box">
                        <div class="mapping-search">
                            <!--<input type="text" class="form-control" placeholder="Search Companies" style="padding: 8px;">
                            <span class="input-group-addon cursor-pointer"><i class="fa fa-search"></i> </span>-->
                            <input class="form-control" style="padding: 8px;"
                                   placeholder="Search Collateral"
                                   type="text" ng-model="asyncSelected"
                                   typeahead-on-select="onSelect($item, $model, $label)"
                                   uib-typeahead="collateralList as collateralList.collateral_number for collateralList in getCollateralListWithKey($viewValue)"
                                   typeahead-template-url="collateralListTemplate.html"
                                   typeahead-loading="loadingCollaterals"
                                   typeahead-no-results="noResults">
                            <i class="fa  fa-search icon-search f16 pt2 darkblue"></i>
                            <!--<a data-ng-click="addContact()" data-ng-show="visibleAddButton" class="go"><i
                                    class="fa fa-arrow-circle-right"></i></a>-->
                        </div>
                    </div>
                    <div class="col-sm-12 bg-box mb10" data-ng-if="visibleFacilityDropDown">
                        <form name="cForm" novalidate>
                            <div class="col-sm-6 p-l-0">
                                <div class="col-sm-2 p0  text-img">
                                    <span first-alpha="{{selectedItem.collateral_number}}"></span>
                                </div>
                                <div class="col-sm-10 p-l-0">
                                    <p class="f14">{{ selectedItem.collateral_type_name }}</p>
                                   <!-- <a class="display-block f12 sky-blue" href="mailto:{{ selectedItem.email }}">{{
                                        selectedItem.email }}</a>-->
                                </div>
                            </div>
                            <div class="col-sm-6 form-group clearfix form-group-custom">
                                <div id="designation"><label class="label-text">{{'Facility' |
                                    translate}}*</label>

                                    <div class="form-group clearfix form-group-custom">
                                        <select class="form-control chosen-choices"
                                                chosen
                                                ng-init="getProjectFacilityList()"
                                                ng-model="project_facility_id" name="project_facility_id"
                                                ng-options="item.id_project_facility as item.project_facility_name for item in facilityList"
                                                required>
                                            <option value="">--{{'general.general_select' | translate}}--</option>
                                        </select>
                                        <div ng-if="cForm.project_facility_id.$error.required && cForm.$submitted"
                                             class="error-message">{{'general.required' | translate}}
                                        </div>
                                    </div>

                                </div>

                            </div>

                            <div class="col-sm-12 text-center">
                                <button class="btn btn-primary border-none btn-dark f12 mr4"
                                        n-t='{"e_n":"Save Collateral","e_d":"Project - {{projectTitle}}"}'
                                        ng-click="cForm.$valid && facilityCollateralSave(project_facility_id,cForm)">
                                    <i class="fa fa-plus-circle"></i> {{'Add' | translate}}
                                </button>
                                <button type="button" class="btn btn-primary f12 border-none lt-bg" ng-click="cancelAssign()"
                                        n-t='{"e_n":"Cancel Collateral","e_d":"Project - {{projectTitle}}"}'>{{'Cancel' | translate}}
                                </button>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
</script>
<script type="text/ng-template" id="collateralListTemplate.html">
    <a>
        <div class="list-item p5 clearfix">
            <!--<div class="col-sm-1 p0">
                <div class="img-box ">
                    <img class="img-circle" ng-src="{{match.model.profile_image}}">
                </div>
            </div>-->
            <div class="list-desc col-sm-8">
                <p class="list-item-title blue">{{match.model.collateral_number}} , {{match.model.collateral_type_name}}</p>
                <ul>
                    <li>{{match.model.email}}</li>
                    <li>{{match.model.phone_number}}</li>
                </ul>
            </div>
        </div>
    </a>
</script>
