<div class="row clearfix" data-ng-controller="disbursementRequestCtrl">

    <div class="col-sm-12 clearfix p0">
        <div class="col-sm-12">
            <div class="col-sm-12 p0">
                <table class="table c-table table-striped table-bordered table-hover display table-style">
                    <thead>
                    <tr>
                        <th>{{'project.project_date_of_receipt_of_request' | translate}}</th>
                        <th>{{'project.project_request_number' | translate}}</th>
                        <th>{{'Amount' | translate}}</th>
                        <th>{{'action' | translate}}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="row in rows">
                        <td>{{row.date_of_receipt_of_request}}</td>
                        <td>{{row.request_number}}</td>
                        <td>{{row.facility_usd_amount|currency}}</td>
                        <td>
                            <div class="clearfix pagination-wrap">
                                <ul class="icons-wrap pull-left">
                                    <li>
                                        <a href="javascript:;" class="ml0" uib-tooltip="Update"><i class="fa fa-edit" ng-click="openModel(row)"></i></a>
                                    </li>
                                    <li>
                                        <a href="javascript:;" class="ml0" uib-tooltip="Delete"><i class="fa fa-trash" ng-click="delete(row)"></i></a>
                                    </li>
                                    <li>
                                        <a href="javascript:;" class="ml0" uib-tooltip="Download"><i class="fa fa-download" ng-click="download(row)"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class="clearfix"></div>
                <div class="clearfix" ng-if="saveBtnShow()">
                    <button class="btn btn-primary btn-dark border-none f12 pull-right"
                            data-ng-click="openModel()">
                        <i class="fa fa-plus-circle"></i> Add New
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/ng-template" id="disbursement_request.html">
    <div class="right-modal clearfix modal-custom">
        <h3 class=" text-capitalize white-color p15 btn-dark">{{'project.project_disbursement_request' | translate}}
            <a ng-click="cancel()" class="close-right pull-right white-color"
               n-t='{"e_n":"Open modal","e_d":"Disbursement Request, Project - {{projectTitle}}"}'>
                <i class="fa fa-close"></i>
            </a>
        </h3>
        <form name="form" novalidate>
            <div class="col-lg-12 clearfix pl0">
                <div class="col-lg-12">
                    <label class="control-label">{{'Facility' | translate}} *</label>
                    <div class="form-group clearfix form-group-custom">
                        <select chosen class="form-control chosen-choices"
                                ng-model="facility" name="facility"
                                ng-options="item as item.project_facility_name for item in projectFacilityList track by item.id_project_facility" required>
                            <option value="">--{{'general.general_select' | translate}}--</option>
                        </select>
                    </div>
                    <div ng-if="form.facility.$error.required && form.$submitted" class="error-message">
                        {{'general.required' | translate}}
                    </div>
                </div>

                <div class="clearfix"></div>
                <div class="clearfix" ng-if="facility.id_project_facility">
                    <div class="col-lg-6 mb5">
                        <label class="control-label">{{'project.project_facility_contract_id' | translate}}</label>
                        <div class="input-group clearfix form-group-custom">
                            <label class="label-info mb5">{{facility.contract_id}}</label>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <label class="control-label">{{'project.project_source_of_funds' | translate}}</label>
                        <div class="input-group clearfix form-group-custom">
                            <label class="label-info mb5">{{facility.source_of_founds}}</label>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="col-lg-6">
                        <label class="control-label">{{'Amount' | translate}} ({{facility.currency_code}}) *</label>
                        <div class="form-group clearfix form-group-custom">
                            <input type="text" name="amount" ng-model="fData.amount" ui-number-mask="2" class="form-control" required>
                        </div>
                        <div ng-if="form.amount.$error.required && form.$submitted" class="error-message">
                            {{'general.required' | translate}}
                        </div>
                    </div>
                    <div class="col-lg-6" ng-if="facility.currency_code !='USD'">
                        <label class="control-label">{{'project.project_equal_to_usd_amount' | translate}} *</label>
                        <div class="form-group clearfix form-group-custom">
                            <input type="text" name="facility_usd_amount" ng-model="fData.facility_usd_amount" ui-number-mask="2" class="form-control" required>
                        </div>
                        <div ng-if="form.facility_usd_amount.$error.required && form.$submitted" class="error-message">
                            {{'general.required' | translate}}
                        </div>
                    </div>
                </div>


                <div class="col-lg-6 mb5">
                    <label class="control-label">{{'project.project_date_of_receipt_of_request' | translate}} *</label>
                    <div class="input-group clearfix form-group-custom">

                        <input type="text" class="form-control white-bg" uib-datepicker-popup
                               data-ng-model="fData.date_of_receipt_of_request" type="text"
                               name="date" is-open="openCal4"
                               show-weeks="false" show-button-bar="false" readonly required/>
                          <span class="input-group-btn ">
                            <button type="button" class="btn btn-default border" ng-click="openCal4 = true">
                                <i class="fa fa-calendar"></i></button>
                          </span>
                    </div>
                    <div ng-if="form.date.$error.required && form.$submitted" class="error-message">
                        {{'general.required' | translate}}
                    </div>
                </div>
                <div class="col-lg-6">
                    <label class="control-label">{{'project.project_request_number' | translate}} *</label>
                    <div class="form-group clearfix form-group-custom">
                        <input type="text" class="form-control" ng-model="fData.request_number"
                               name="request_number" required>
                        <div ng-if="form.request_number.$error.required && form.$submitted"
                             class="error-message">
                            {{'general.required' | translate}}
                        </div>
                    </div>
                </div>
                <div class="col-lg-12">
                    <label class="control-label">{{'project.project_disbursement_status' | translate}}</label>
                    <div class="form-group clearfix form-group-custom">
                        <textarea type="text"  class="form-control cke_editable" ng-model="fData.disbursement_status" name="disbursement_status"></textarea>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 text-center p10" >
                <button class="btn btn-primary f14 mr4" ng-click="form.$valid && formSubmit(fData)">
                    {{'Save' | translate}}
                </button>
            </div>
        </form>
    </div>
</script>