<form name="form" id="form" novalidate detect-form-change="formChangeEvent()">
    <any ng-repeat="field in form_fields" ng-switch="field.field_type">
        <!--text-->
        <div class="row" ng-if="$index%3==0"></div>
        <div ng-switch-when="text" class="col-sm-4">
            <label class="control-label">{{field.field_label}}
                <any ng-if="field.required==1">*</any>
                <i class="fa fa-info-circle" ng-if="field.tool_tip_hint" uib-tooltip="{{field.tool_tip_hint}}"></i>
            </label>
            <div class="form-group clearfix form-group-custom">
                <input type="text" class="form-control"
                       ng-model="field.form_field_value"
                       name="{{field.field_key}}" ng-required="field.required==1">
                <div ng-show="field.required==1 && !field.form_field_value && form.$submitted " class="error-message">
                   {{field.error_message}}
                </div>
            </div>
        </div>

        <!--text editor-->
        <div ng-switch-when="textarea" class="col-sm-12 mb5 edit-bg">
            <label class="control-label gray-dark">{{field.field_label}}<any ng-if="field.required==1">*</any></label>
            <div class="form-group clearfix form-group-custom">
                        <textarea class="form-control"
                                  ckeditor
                                  ng-model="field.form_field_value"
                                  ng-required="field.required==1"></textarea>
                <div ng-show="field.required==1 && !field.form_field_value && form.$submitted" class="error-message">
                    {{field.error_message}}
                </div>
            </div>
        </div>
        <!-- -->
        <div ng-switch-when="intermediary" ng-if="stageId==3 && $parent.projectDetails.intermediary_loan==1" class="col-sm-12 mb5 edit-bg">
            <label class="control-label gray-dark">{{field.field_label}}<any ng-if="field.required==1">*</any></label>
            <div class="form-group clearfix form-group-custom">
                <textarea class="form-control"
                          ckeditor
                          ng-model="field.form_field_value"
                          ng-required="field.required==1"></textarea>
                <div ng-show="field.required==1 && !field.form_field_value && form.$submitted" class="error-message">
                    {{field.error_message}}
                </div>
            </div>
        </div>

        <!--dropdown-->
        <div ng-switch-when="dropdown" class="col-sm-4">
            <label class="control-label">{{field.field_label}}
                <any ng-if="field.required==1">*</any>
                <i class="fa fa-info-circle" ng-if="field.tool_tip_hint" uib-tooltip="{{field.tool_tip_hint}}"></i>
            </label>
            <div class="form-group clearfix form-group-custom">
                <any ng-switch="field.field_key">
                    <any ng-switch-when="project_main_sector">
                        <select chosen
                                class="form-control"
                                ng-init="getSector();getSubSector(field.form_field_value)"
                                ng-change="getSubSector(field.form_field_value)"
                                ng-options="parentSector.id_sector as parentSector.sector_name for parentSector in parentSectorsList"
                                ng-model="field.form_field_value" name="project_main_sector"
                                ng-required="field.required==1">
                            <option value="">--Select--</option>
                        </select>
                    </any>
                    <any ng-switch-when="project_sub_sector">
                        <select chosen
                                class="form-control"
                                ng-options="subSector.id_sector as subSector.sector_name for subSector in subSectorList"
                                ng-model="field.form_field_value" name="project_sub_sector"
                                ng-required="field.required==1">
                            <option value="">--Select--</option>
                        </select>
                    </any>
                    <any ng-switch-when="project_country">
                        <select chosen
                                class="form-control"
                                ng-init="getCountries()"
                                ng-options="item.country_name as item.country_name for item in countries"
                                ng-model="field.form_field_value" name="project_country"
                                ng-required="field.required==1">
                            <option value="">--Select--</option>
                        </select>
                    </any>
                    <any ng-switch-default>
                        <select class="form-control"
                                ng-init="masterDropDownList({'master_key':field.field_key})"
                                ng-model="field.form_field_value" name="{{field.field_key}}"
                                ng-options="item.name as item.name for item in dropDownItems[field.field_key]"
                                ng-required="field.required==1">
                            <option value="">--Select--</option>
                        </select>
                    </any>
                </any>
            </div>
            <div ng-show="field.required==1 && !field.form_field_value && form.$submitted" class="error-message">
                {{field.error_message}}
            </div>


        </div>
        <div ng-switch-when="checkbox">
            <div class="col-sm-12 clearfix">
                <label class="control-label">
                    <input type="checkbox" ng-true-value="1" ng-false-value="0" ng-init="field.form_field_value=(field.form_field_value=='1')?1:0" ng-model="field.form_field_value" name="{{field.field_key}}"/>{{field.field_label}}
                    <any ng-if="field.required==1">*</any>
                </label>
            </div>
        </div>
        <div ng-switch-when="multiple_file">
            <div class="col-sm-12 clearfix">
                <label class="control-label">{{field.field_label}}
                    <any ng-if="field.required==1">*</any>
                    <i class="fa fa-info-circle" ng-if="field.tool_tip_hint" uib-tooltip="{{field.tool_tip_hint}}"></i>
                </label>
                <attachment-view module-id="3" form-key="{{field.field_key}}" field-key="{{field.field_key}}"
                                 ref-id="{{currentProjectViewId}}"></attachment-view>
            </div>

        </div>
        <div ng-switch-when="widget">
            <div ng-include="'partials/crm/project/forms/'+field.widget_template"></div>
        </div>
        <div ng-switch-when="json">

        </div>
        <div ng-switch-when="address_map">
            <div class="col-sm-12 clearfix" oc-lazy-load="utility">
                <label class="control-label">{{field.field_label}}
                    <any ng-if="field.required==1"> *</any>
                    <i class="fa fa-info-circle" ng-if="field.tool_tip_hint" uib-tooltip="{{field.tool_tip_hint}}"></i>
                </label>
                <address ng-model="field.form_field_value">
                </address>
            </div>

        </div>
    </any>
    <div class="col-sm-12 btn-custom clearfix text-center" ng-if="form_fields.length > 0 && saveBtnShow()">
        <button type="submit" class="btn btn-primary f14 next-btn border-none" ng-click="form.$valid && submitDynamicForm(form_fields)"
                n-t='{"e_n":"Save {{sectionName}}","e_d":"Project - {{projectTitle}}"}'>{{'Save' | translate}}
        </button>
        <button  ng-if="nextBtnShow" type="submit" class="btn btn-green f14 border-none lt-bg" ng-click="form.$valid && submitDynamicForm(form_fields,true)"
                 n-t='{"e_n":"Save & continue {{sectionName}}","e_d":"Project - {{projectTitle}}"}'>{{'general.general_save_continue' | translate}}
        </button>
    </div>
</form>