<div class="row clearfix p15 " ng-controller="EsGradeCtrl" >
    <div class="col-sm-12 p0" ng-init="showTableDiv = false">
        <div class="col-sm-12 p0 ratios-wrap" ng-show="!showTableDiv">

            <div class="col-sm-12 p0">
                <div class="col-sm-3 p0" ng-repeat="row in grades" ng-if="$index==0">
                    <h6 class="darkcolor f12 pt5">{{'project.project_showing_latest_grade' | translate}}: {{row.trend_start_year}}
                        <a href="javascript:;" uib-tooltip="Edit" ng-click="addCompanyGrade(row,false)" class="fa fa-edit f18"></a>
                    </h6>
                </div>
                <div class="col-sm-3 p0" ng-show="grades.length > 1">
                    <h6 class="darkcolor f12 pt5">{{'project.project_show_previous_grade' | translate}}:
                        <a href="javascript:;" uib-tooltip="History" ng-click="showTableDiv = !showTableDiv" class="fa fa-history f18"></a>
                    </h6>
                </div>
                <form class="form-inline pull-right"  novalidate ng-if="grades.length == 0" >
                    <button ng-click="addCompanyGrade('',false)"  class="btn light-btn">{{'general.add' | translate}}</button>
                </form>
            </div>

            <div ng-if="grades.length > 0" class="col-sm-12 ratios-wrap">
                <div class="col-sm-12 clearfix p0" ng-repeat="item in grades" ng-if="$index==0">
                    <div class="clearfix p0">
                        <div class="col-sm-12 clearfix p0 pt10">
                            <div class="form-group col-sm-6">
                                <label class="label-text">{{'project.project_expected_no_of_jobs' | translate}} *:</label>
                                <div class="form-input">
                                    <p class="label-info mb5 text-line">{{item.expected_no_of_jobs | currency:'':0}}</p>
                                </div>
                            </div>
                            <div class="form-group col-sm-6">
                                <label class="label-text">{{'project.project_expected_no_of_women_jobs' | translate}}:</label>
                                <div class="form-input">
                                    <p class="label-info mb5 text-line">{{item.expected_no_of_women_jobs | currency:'':0}}</p>
                                </div>
                            </div>
                            <div class="form-group col-sm-6">
                                <label class="label-text">{{'project.project_expected_tax_to_be_paid' | translate}}:</label>
                                <div class="form-input">
                                    <p class="label-info mb5 text-line">{{item.expected_tax_to_be_paid | currency:''}}</p>
                                </div>
                            </div>
                            <div class="form-group col-sm-6">
                                <label class="label-text">{{'project.project_income_from_exports' | translate}}:</label>
                                <div class="form-input">
                                    <p class="label-info mb5 text-line">{{item.income_from_exports | currency:''}}</p>
                                </div>
                            </div>
                            <div class="form-group col-sm-6">
                                <label class="label-text">{{'project.project_grade' | translate}}:</label>
                                <div class="form-input">
                                    <p class="label-info mb5">{{item.grade}} ({{gradesValue[(item.grade-1)].description}})</p>
                                </div>
                            </div>
                            <div class="form-group col-sm-12">
                                <label class="label-text">{{'Comments' | translate}}</label>
                                <div class="form-input">
                                    <p class="label-info mb5">{{item.comments}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div ng-show="showTableDiv">
            <div class="col-sm-12 p0">
                <div class="div-header">
                    <h3 class="f14 roboto-bold text-capitalize p10">
                        {{'project.project_grades_history' | translate}}
                        <i class="icon-times pull-right mr5 f18 cursor-pointer" uib-tooltip="Close" ng-click="showTableDiv = false"></i>
                    </h3>
                </div>
                <div class="col-sm-12 p0 pt2" ng-if="grades.length > 1">
                    <div class=" r-overview clearfix">
                        <div class="table-responsive">
                            <table st-table="business.answer" class="table c-table table-striped table-bordered table-hover display table-style">
                                <thead>
                                <tr>
                                    <th class="w100">{{'Date' | translate}}</th>
                                    <th class="w100">{{'project.project_expected_no_of_jobs' | translate}}</th>
                                    <th st-sort="details">{{'project.project_grade' | translate}}</th>
                                    <th st-sort="details">{{'Comments' | translate}}</th>
                                    <th class="w100 text-center">{{'actions' | translate}}</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="row in grades" ng-if="$index != 0">
                                    <td>{{row.created_date_time | utcToLocal:'MMM d, y' }}</td>
                                    <td>{{row.expected_no_of_jobs | currency:''}}</td>
                                    <td>{{row.grade  }}</td>
                                    <td>{{row.comments | checkEmpty }}</td>
                                    <td class="text-center">
                                        <a href="javascript:;" uib-tooltip="View" class="fa fa-eye" ng-click="addCompanyGrade(row,true)"></a>
                                        <a href="javascript:;" uib-tooltip="Delete" class="fa fa-trash" ng-click="removeGrade(row)"></a>
                                    </td>
                                </tr>
                                </tbody>
                                <tfoot ng-if="!grades"></tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<script type="text/ng-template" id="gread-add.html">
    <div class="right-modal modal-custom" data-modal="addedcontacts">
        <h3 class="right-modal-head">
            <i class="fa fa-book mr8"></i> {{'E_and_S_grade' | translate}}
            <a class="close-right pull-right" ng-click="cancel()" uib-tooltip="Close"
               n-t='{"e_n":"Contacts Close","e_d":"Project - {{projectTitle}}"}'><img src="images/close.png"></a>
        </h3>
        <form class="form-horizontal form-bordered mt10" name="form" novalidate >
            <div class="clearfix">
                <div class="col-sm-12 clearfix">
                    <div class="form-group col-sm-6">
                        <label class="control-label">{{'project.project_expected_no_of_jobs' | translate}} *:</label>
                        <div class="form-input">
                            <input type="text" class="form-control" ng-model="grade.expected_no_of_jobs" name="expected_no_of_jobs" required ui-number-mask="0"  ng-readonly="isEditable">
                            <span ng-if="form.expected_no_of_jobs.$error.required && form.$submitted" class="error-message">This Field required</span>
                        </div>
                    </div>
                    <div class="form-group col-sm-6">
                        <label class="control-label">{{'project.project_expected_no_of_women_jobs' | translate}}:</label>
                        <div class="form-input">
                            <input type="text" class="form-control" ng-model="grade.expected_no_of_women_jobs" name="expected_no_of_women_jobs" ui-number-mask="0"  ng-readonly="isEditable" >
                        </div>
                    </div>
                    <div class="form-group col-sm-6">
                        <label class="control-label">{{'project.project_expected_tax_to_be_paid' | translate}}:</label>
                        <div class="form-input">
                            <input type="text" class="form-control" ng-model="grade.expected_tax_to_be_paid" name="expected_tax_to_be_paid" ui-number-mask  ng-readonly="isEditable" >
                        </div>
                    </div>
                    <div class="form-group col-sm-6">
                        <label class="control-label">{{'project.project_income_from_exports' | translate}}:</label>
                        <div class="form-input">
                            <input type="text" class="form-control" ng-model="grade.income_from_exports" name="income_from_exports" ui-number-mask  ng-readonly="isEditable" >
                        </div>
                    </div>
                    <div class="form-group col-sm-6">
                        <label class="control-label">{{'project.project_grade' | translate}}:</label>
                        <div class="form-input ">
                            <select chosen
                                    class="form-control"
                                    ng-options='item.grade as (item.grade + " - (" + item.description + ")") for item in gradesValue'
                                    ng-model="grade.grade" name="grade">
                                <option value="">--{{'general.general_select' | translate}}--</option>
                            </select>
                            <!--<select class="form-control" ng-model="grade.grade" name="grade" ng-readonly="isEditable" >
                                <option value="">-&#45;&#45;selecr grade-&#45;&#45;</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                            </select>-->
                        </div>
                    </div>
                    <div class="form-group col-sm-12">
                        <label class="control-label">{{'Comments' | translate}}</label>
                        <div class="form-input">
                            <textarea class="form-control" ng-model="grade.comments" name="comments" ng-readonly="isEditable" ></textarea>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer border-none btn-custom mb0 clearfix text-center">
                <button ng-if="!isEditable" class="btn btn-primary f14" ng-click="form.$valid && saveGrade(grade,form) && cancel()">{{'Update' | translate}}</button>
                <button class="btn btn-default f14" type="button" ng-click="cancel()">{{'cancel' | translate}}</button>
            </div>
        </form>
    </div>
</script>