<div class="row clearfix" ng-controller="crmFacilityCtrl">
    <div class="col-sm-12 clearfix">
        <div class="col-sm-12 fac-form p10">
            <div class="clearfix">
                <h3 class="text-capitalize darkcolor f14 pull-left">{{'project.project_in_progress_exposure' | translate}}</h3>
                <button class="btn btn-primary sky-blue-bg border-none f12 pull-right"

                        ng-click="newFacility()"
                        n-t='{"e_n":"Add new Facility - {{sectionName}}","e_d":"Project - {{projectTitle}}"}'
                        ng-if="projectDetails.stage_id == stageId && (projectDetails.project_status == 'new'|| projectDetails.project_status =='pipeline')">
                    <i class="fa fa-plus-circle"></i> {{'project.project_add_new_facility' | translate}}
                </button>
            </div>
            <div class="clearfix col-sm-12 p0">
                <div class="facility-info-widget border clearfix" ng-repeat="facility in projectFacilityList">
                    <div class="col-sm-6 facility-info-widget-left">
                        <div class="facility-info-widget-icon" first-alpha="{{facility.facility_name}}">

                        </div>
                        <a href="javascript:;" ng-click="editFacility(facility.id_project_facility)"
                           n-t='{"e_n":"View - {{facility.facility_name}} - {{sectionName}}","e_d":"View - {{facility.facility_name}} - {{sectionName}}, Project - {{projectTitle}}"}'
                           class="text-capitalize sky-blue bold f14 display-block"
                           data-ng-bind-html="facility.facility_description">
                        </a>
                        <div class="col-sm-12 p0 mt10">
                            <div class="col-sm-6 p0">
                                <span class="light-blue display-block f12">{{'project.project_contract_number' | translate}}</span>
                                <span class="darkcolor display-block f14" ng-if="facility.contract_id">{{facility.contract_id}}</span>
                                <span class="darkcolor display-block f14" ng-if="!facility.contract_id">---</span>
                            </div>
                        </div>
                        <div class="col-sm-12 p0 mt10">
                            <div class="col-sm-6 p0">
                                <span class="light-blue display-block f12">{{'project.project_exposure' | translate}} </span>
                                <span class="darkcolor display-block f14" ng-if="facility.facility_usd_amount">{{facility.facility_usd_amount|currency:'USD '}}</span>
                                <span class="darkcolor display-block f14"
                                      ng-if="!facility.facility_usd_amount">---</span>
                            </div>
                            <div class="col-sm-6 p0">
                                <span class="light-blue display-block f12">{{'project.project_disbursed' | translate}}</span>
                                <span class="darkcolor display-block f14" ng-if="facility.disbursment">{{facility.disbursment|currency:'USD '}}</span>
                                <span class="darkcolor display-block f14" ng-if="!facility.disbursment">---</span>
                            </div>
                        </div>
                        <div class="col-sm-12 p0 mt10">
                            <div class="col-sm-6 p0">
                                <span class="light-blue display-block f12">{{'project.project_paid' | translate}}</span>
                                <span class="darkcolor display-block f14" ng-if="facility.collections">{{facility.collections|currency:'USD '}}</span>
                                <span class="darkcolor display-block f14" ng-if="!facility.collections">---</span>
                            </div>
                            <div class="col-sm-6 p0">
                                <span class="light-blue display-block f12">{{'Status' | translate}}</span>
                                <span class="f14 bold" label-status="{{facility.project_facility_status}}">{{facility.project_facility_status|uppercase}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 facility-info-widget-right p0"
                         ng-if="saveBtnShow() && (projectDetails.project_status == 'new' ||
                         (projectDetails.project_status == 'approved' && facility.project_facility_status=='approved') ||
                         (projectDetails.project_status == 'disbursement' && facility.project_facility_status=='disbursed'))
                          ">
                        <div class="display-inline-block custom-list valign-middle pull-right relative">
                            <a aria-expanded="false" class="menu-toggle f13 dark-sky-blue dropdown-toggle"
                               data-toggle="dropdown" href="javascript:;"><i class="fa fa-ellipsis-v"></i></a>
                            <ul class="dropdown-menu cust-drop">
                                <li>
                                    <a ng-if="projectDetails.project_status == 'new'" href="javascript:;"
                                       ng-click="deleteFacility(facility)" class="f14 darkcolor">{{'Delete' | translate}}</a>
                                </li>
                                <li>
                                    <a ng-if="projectDetails.project_status == 'approved' && facility.project_facility_status=='approved'"
                                       href="javascript:;" ng-click="facilityStatusChange(facility,'disbursed')"
                                       class="f14 darkcolor">{{'project.project_disbursed' | translate}}</a>
                                </li>
                                <li>
                                     <a ng-if="projectDetails.project_status == 'disbursement' && facility.project_facility_status=='disbursed'"

                                            href="javascript:;" ng-click="openFacilityRetireModal(facility)"
                                       class="f14 darkcolor">{{'project.project_retire' | translate}}</a>
                                </li>

                                <!--  <li>
                                      <a href="javascript:;" ng-click="editFacility(facility.id_project_facility,'re_payment_schedule')" class="f14 darkcolor">Payment
                                          Schedule</a>
                                  </li>
                                  <li>
                                      <a href="javascript:;" ng-click="editFacility(facility.id_project_facility,'disbursement')" class="f14 darkcolor">Disbursement
                                          Plan</a>
                                  </li>
                                  <li>
                                      <a href="javascript:;" ng-click="editFacility(facility.id_project_facility,'collections')" class="f14 darkcolor">Collections</a>
                                  </li>
                                  <li>
                                      <a href="javascript:;" ng-click="editFacility(facility.id_project_facility,'general')" class="f14 darkcolor">General</a>
                                  </li>
                                  <li>
                                      <a href="javascript:;" ng-click="editFacility(facility.id_project_facility,'pricing')" class="f14 darkcolor">Pricing</a>
                                  </li>
                                  <li>
                                      <a href="javascript:;" ng-click="editFacility(facility.id_project_facility,'terms_conditions')" class="f14 darkcolor">Terms
                                          & Conditions</a>
                                  </li>-->

                            </ul>
                        </div>
                        <div class="text-center" ng-if="facility.facility_transactions.data.length > 1 ">
                            <div google-chart chart="{{facility.facility_transactions}}"></div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<script type="text/ng-template" id="add-new-faciliey-modal.html">

    <div class="modal-wrap right-modal modal-custom">
        <div class="clearfix">
            <h3 class="right-modal-head">
                <i class="fa fa-plus-circle mr8"></i>{{'project.project_add_new_facility_type' | translate}}
                <a ng-click="cancel()" uib-tooltip="Close" class="close-right pull-right"><img src="images/close.png"
                                                                           n-t='{"e_n":"Close - Facility Add modal","e_d":"Section - {{sectionName}}, Project - {{projectTitle}}"}'></a>
            </h3>
        </div>
        <div class="modal-body clearfix">
            <form name="form" novalidate>
                <div class="col-sm-12">
                    <label class="control-label">{{'project.project_facility_type' | translate}} *:</label>

                    <div class="form-group clearfix form-group-custom mb10">
                        <select chosen ng-init="getFacilityTypeList()"
                                class="form-control" ng-model="facility.facilityType"
                                name="id_company_facility"
                                ng-options="item as item.facility_name for item in facilityTypeList" required>
                            <option value="">--{{'project.project_select_facility_name' | translate}}--</option>
                        </select>
                        <div ng-if="form.id_company_facility.$error.required && form.$submitted" class="error-message">
                            {{'general.required' | translate}}.
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 text-center mt10">
                    <button class="btn btn-primary f14 next-btn border-none"
                            ng-click="form.$valid && quickAddFacility(facility,'save')"
                            n-t='{"e_n":"Save - Facility Add type modal","e_d":"Section - {{sectionName}}, Project - {{projectTitle}}","form":"form.$valid"}'>
                        {{'Save' | translate}}
                    </button>
                    <!--<button class="btn btn-green f12 border-none lt-bg white-color" ng-click="form.$valid && quickAddFacility(facility,'save_continue')"
                        n-t='{"e_n":"Save & Continue - Add new Facility type modal {{sectionName}}","e_d":"","form":"form.$valid"}'>
                        {{'Save & Continue' | translate}}
                    </button>-->
                </div>
            </form>
        </div>
    </div>
</script>
<script type="text/ng-template" id="retired-modal.html">
    <div class="modal-wrap right-modal modal-custom">
        <div class="clearfix">
            <h3 class="right-modal-head">
                <i class="fa fa-plus-circle mr8"></i>{{'Facility' | translate}}
                <a ng-click="cancel()" uib-tooltip="Close" class="close-right pull-right">
                    <img src="images/close.png" >
                </a>
            </h3>
        </div>
        <div class="modal-body clearfix">
            <form name="form">
                <div class="form-group clearfix form-group-custom">
                    <label>{{'project.project_retire_date' | translate}}:</label>
                    <div class="input-group">
                        <input type="text" class="form-control white-bg"
                               uib-datepicker-popup
                               data-ng-model="facility_closed_date" name="facility_closed_date" is-open="openCal2"
                               show-weeks="false" show-button-bar="false" readonly required />
                                                      <span class="input-group-btn ">
                                                        <button type="button" class="btn btn-default border" ng-click="openCal2 = true">
                                                            <i class="fa fa-calendar"></i></button>
                                                      </span>
                    </div>
                    <div ng-if="form.facility_closed_date.$error.required && form.$submitted" class="error-message">
                        {{'general.required' | translate}}.
                    </div>
                </div>
                <div class="col-sm-12 text-center mt10">
                    <button class="btn btn-primary f14 next-btn border-none"
                            ng-click="form.$valid && facilityRetireStatusChange(facility_closed_date)">
                        {{'project.project_retire' | translate}}
                    </button>
                </div>

            </form>

        </div>
    </div>
</script>