<h3 class="fixed content-heading">
    <ul class="breadcrumb">
        <li><a ui-sref="project.project-dashboard">{{'Project' | translate}}</a> </li>
        <li><a ui-sref="project.project-view({id:(currentProjectViewId | encode )})">{{ projectDetails.project_title }}</a></li>
       <!-- <li>{{stageName}}</li>
        <li>{{sectionName}}</li>-->
        <li><a href="javascript:;" ng-click="back()">{{'project.project_facility_information' | translate}}</a></li>
        <li>{{facilityInfo.facility_name}}</li>

    </ul>
    <div class="pull-right button-set">
        <a href="javascript:;" ng-click="back()" uib-tooltip="Back" n-t='{"e_n":"Back from Facility","e_d":"Project - {{projectTitle}}"}'><i class="fa fa-close-sm"></i></a>
    </div>
</h3>
<div class="col-sm-12 fixed clearfix  z1 fixed-top full-fixed-top" ng-class="{visible:boolChangeClass}" fixed-top>
    <div class="clearfix relative details-fixed-top border-none no-bg pad0">
        <div class="col-sm-12 clearfix p0">
            <div class="page-header-wrap mt0  box-shadow clearfix">
                <div ng-include="'partials/crm/project/project-header.html'"></div>

            </div>
        </div>
    </div>
</div>
<div class="content-area animated fadeInRight" id="contentArea">

    <div class="content-container clearfix">

        <div class="col-sm-12 p0">
            <div class="page-header-wrap white-bg box-shadow clearfix relative mb15">
                <div ng-include="'partials/crm/project/project-header.html'" ng-init="getProjectDetails()"></div>
                <div class="clearfix"></div>
            </div>
        </div>

        <div class="col-sm-12 plr20 mb20 mt5" ng-if="projectDetails.project_stage_info_id">
            <div class=" mt5 p0 p-data col-lg-12 col-sm-8" ng-init="getFacility()">
                <div class="div-header clearfix  border-bottom  white-bg">
                    <h3 class="darkcolor pull-left display-inline-block f14 roboto-bold text-capitalize p15">
                        {{facilityInfo.facility_name}}</h3>
                </div>
                <div class="white-bg clearfix">
                    <div class="col-sm-12 white-bg p0 p15">
                        <div class="facility-setup-form fac-form  clearfix">
                            <!-- Facility inforamation div -->
                            <div class="col-sm-12 p0 mb20 mt5">
                                <!--<h3 class="roboto-bold text-capitalize darkcolor f14">Existing Exposure</h3>-->
                                <div class="facility-info-widget white-bg p0 mb20 mt5 clearfix">
                                    <div class="col-sm-8 facility-info-widget-left">
                                        <div class="facility-info-widget-icon" first-alpha="{{facilityInfo.facility_name}}">

                                        </div>
                                        <a class="text-capitalize darkcolor bold f14 display-block" data-ng-bind-html="facilityInfo.facility_description">

                                        </a>
                                        <div class="col-sm-12 p0 mt10">
                                            <div class="col-sm-3 p0">
                                                <span class="light-blue display-block f12">Contract Number</span>
                                                <span class="darkcolor display-block f14" ng-if="facilityInfo.contract_id">{{facilityInfo.contract_id}}</span>
                                                <span class="darkcolor display-block f14" ng-if="!facilityInfo.contract_id">---</span>
                                            </div>
                                            <!--<div class="col-sm-3 p0">
                                                <span class="light-blue display-block f12">Approve</span>
                                                <span class="darkcolor display-block f14">---</span>
                                            </div>-->
                                            <div class="col-sm-3 p0">
                                                <span class="light-blue display-block f12">Exposure</span>
                                                <span class="darkcolor display-block f14" ng-if="facilityInfo.facility_usd_amount">{{facilityInfo.facility_usd_amount|currency:'USD '}}</span>
                                                <span class="darkcolor display-block f14" ng-if="!facilityInfo.facility_usd_amount">---</span>
                                            </div>
                                            <div class="col-sm-3 p0">
                                                <span class="light-blue display-block f12">Disbursed</span>
                                                <span class="darkcolor display-block f14" ng-if="facilityInfo.disbursment">{{facilityInfo.disbursment|currency:'USD '}}</span>
                                                <span class="darkcolor display-block f14" ng-if="!facilityInfo.disbursment">---</span>
                                            </div>
                                            <div class="col-sm-3 p0">
                                                <span class="light-blue display-block f12">Paid</span>
                                                <span class="darkcolor display-block f14" ng-if="facilityInfo.collections">{{facilityInfo.collections|currency:'USD '}}</span>
                                                <span class="darkcolor display-block f14" ng-if="!facilityInfo.collections">---</span>
                                            </div>
                                            <!--<div class="col-sm-3 p0">
                                                <span class="light-blue display-block f12">Last Paid Date</span>
                                                <span class="darkcolor display-block f14">---</span>
                                            </div>-->
                                        </div>
                                        <div class="col-sm-12 p0 mt10">
                                            <div class="col-sm-3 p0">
                                                <span class="light-blue display-block f12">{{'Status' | translate}}</span>
                                                <span class="f14 bold" label-status="{{facilityInfo.project_facility_status}}">{{facilityInfo.project_facility_status|uppercase}}</span>
                                                <!--label-status="{{projectDetails.project_status}}-->
                                                <!--<span class="darkcolor display-block f14 bold sky-blue">{{facilityInfo.project_facility_status|uppercase}}</span>-->
                                            </div>
                                            <!--<div class="col-sm-3 p0">
                                                <span class="light-blue display-block f12">Next Due Date</span>
                                                <span class="darkcolor display-block f14">---</span>
                                            </div>
                                            <div class="col-sm-3 p0">
                                                <span class="light-blue display-block f12">Disbursed</span>
                                                <span class="darkcolor display-block f14">---</span>
                                            </div>
                                            <div class="col-sm-3 p0">
                                                <span class="light-blue display-block f12">Paid</span>
                                                <span class="darkcolor display-block f14">---</span>
                                            </div>
                                            <div class="col-sm-3 p0">
                                                <span class="light-blue display-block f12">Status</span>
                                                <span class="darkcolor display-block f14 bold sky-blue">---</span>
                                            </div>-->
                                        </div>
                                    </div>
                                    <div class="col-sm-4 facility-info-widget-right p0">
                                        <div class="display-inline-block custom-list valign-middle pull-right relative">
                                            <a aria-expanded="false" class="menu-toggle f13 dark-sky-blue dropdown-toggle"
                                               data-toggle="dropdown" href="javascript:;"><i
                                                    class="fa fa-ellipsis-v"></i></a>
                                            <ul class="dropdown-menu">
                                                <li>
                                                    <a href="javascript:;" ng-click="gotoElement('general')" class="f14 darkcolor">{{'project.project_general' | translate}}</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:;" ng-click="gotoElement('pricing')" class="f14 darkcolor">{{'project.project_pricing' | translate}}</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:;" ng-click="gotoElement('terms_conditions')" class="f14 darkcolor">{{'project.project_terms_and_conditions' | translate}}</a>
                                                </li>

                                                <li ng-if="projectDetails.project_status != 'new' && projectDetails.project_status != 'pipeline'">
                                                    <a href="javascript:;" ng-click="gotoElement('re_payment_schedule')" class="f14 darkcolor">{{'project.project_re_payment_schedule' | translate}}</a>
                                                </li>
                                                <li ng-if="projectDetails.project_status != 'new' && projectDetails.project_status != 'pipeline'">
                                                    <a href="javascript:;" ng-click="gotoElement('disbursement')" class="f14 darkcolor">{{'project.project_disbursement_plan' | translate}}</a>
                                                </li>
                                                <li ng-if="projectDetails.project_status != 'new' && projectDetails.project_status != 'pipeline'">
                                                    <a href="javascript:;" ng-click="gotoElement('collections')" class="f14 darkcolor">{{'project.project_collections' | translate}}</a>
                                                </li>

                                            </ul>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <!-- Gerenral div -->
                            <div class="acc-box clearboth clearfix" id="general">
                                <div class="acc-head col-sm-12 clearfix border p0 pr10">
                                    <h6 basic-accordian class="col-sm-11 p10">
                                        {{'project.project_general' | translate}}
                                <span class="acc-icon darkcolor pull-left mr8 f18">
                                        <i class="icon-angle-rightt-circle"></i>
                                </span>
                                    </h6>
                                </div>
                                <div class="acc-body col-sm-12 clearfix p0 ptb10 border">

                                    <div class="col-sm-12 p0">
                                        <form name="generalForm" novalidate>
                                            <div class="col-sm-12 p0">
                                                <div class="col-sm-4">
                                                    <div class="form-group clearfix form-group-custom mb10">
                                                        <label class="control-label"> {{'project.project_contract_id' | translate}} : </label>
                                                        <!--<input type="text" name="contract_id" ng-model="facilityInfo.contract_id" class="form-control" ng-if="projectDetails.project_status == 'new' || projectDetails.project_status == 'pipeline'" disabled>-->
                                                        <input type="text" name="contract_id" ng-model="facilityInfo.contract_id" class="form-control">
<!--
                                                        <input type="text" name="contract_id" ng-model="facilityInfo.contract_id" class="form-control" ng-show="projectDetails.project_status != 'new' && projectDetails.project_status != 'pipeline'">
-->
                                                    </div>
                                                </div>
                                                <div class="col-sm-4 ">
                                                    <div class="form-group clearfix form-group-custom">
                                                        <label class="control-label"> {{'project.project_facility_name' | translate}}
                                                            *: </label>
                                                        <input class="form-control" name="facility_name" ng-model="facilityInfo.facility_name" required readonly/>
                                                        <div ng-if="generalForm.facility_name.$error.required && generalForm.$submitted" class="error-message">
                                                            {{'general.required'| translate}}
                                                        </div>
                                                    </div>
                                                </div>
                                                <!--<div class="col-sm-2 pl0 mt20 pt5 -ml8">
                                                    <a href="javascript:;" ng-click="facility_name_desc =!facility_name_desc " uib-tooltip="Add note"><i
                                                            class="icon-clipped-file2 f21"></i></a>
                                                </div>-->


                                                <div class="col-sm-12 edit-bg">
                                                    <label class="control-label"> {{'project.description' | translate}}: </label>
                                                         <textarea name="facility_description" ckeditor ng-model="facilityInfo.facility_description"
                                                                   class="form-control ">
                                                         </textarea>
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="form-group form-group-custom mb10">
                                                    <label class="control-label"> {{'project.project_facility_type' | translate}}
                                                        : </label>
                                                    <select class="form-control"
                                                            ng-init="masterDropDownList({'master_key':'facility_type'})"
                                                            ng-change="masterDropDownList({'master_key':'facility_sub_type','parent_id':facilityInfo.facility_type});"
                                                            ng-model="facilityInfo.facility_type" name="facility_type"
                                                            ng-options="item.id as item.name for item in dropDownItems['facility_type']">
                                                        <option value="">--{{'general.general_select' | translate}}--</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div ng-if="facilityInfo.facility_type" ng-init="masterDropDownList({'master_key':'facility_sub_type','parent_id':facilityInfo.facility_type})"></div>
                                            <div class="col-sm-4" ng-show="dropDownItems['facility_sub_type'].length > 0 && facilityInfo.facility_type > 0">
                                                <div class="form-group form-group-custom mb10">
                                                    <label class="control-label"> {{'project.project_facility_subtype' | translate}}
                                                        : </label>
                                                    <select class="form-control"
                                                            ng-model="facilityInfo.facility_sub_type" name="facility_sub_type"
                                                            ng-options="item.id as item.name for item in dropDownItems['facility_sub_type']">
                                                        <option value="">--{{'general.general_select' | translate}}--</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="clearfix"></div>
                                            <div class="col-sm-4">
                                                <div class="form-group form-group-custom mb10">
                                                    <label class="control-label"> {{'project.project_facility_line_type' | translate}}
                                                        : </label>
                                                    <select class="form-control"
                                                            ng-init="masterDropDownList({'master_key':'facility_term'})"
                                                            ng-model="facilityInfo.facility_term" name="facility_term"
                                                            ng-options="item.id as item.name for item in dropDownItems['facility_term']">
                                                        <option value="">--{{'general.general_select' | translate}}--</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="form-group form-group-custom mb10">
                                                    <label class="control-label"> {{'project.project_type_of_loan_payment' | translate}}: </label>
                                                    <select class="form-control"
                                                            ng-init="masterDropDownList({'master_key':'type_of_loan_payment'})"
                                                            ng-model="facilityInfo.loan_payment_type" name="loan_payment_type"
                                                            ng-options="item.id as item.name for item in dropDownItems['type_of_loan_payment']">
                                                        <option value="">--{{'general.general_select' | translate}}--</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="form-group form-group-custom mb10">
                                                    <label class="control-label"> {{'project.project_payment_modalities' | translate}}
                                                        : </label>
                                                    <select class="form-control"
                                                            ng-init="masterDropDownList({'master_key':'payment_modalities'})"
                                                            ng-model="facilityInfo.payment_modalities" name="payment_modalities"
                                                            ng-options="item.id as item.name for item in dropDownItems['payment_modalities']">
                                                        <option value="">--{{'general.general_select' | translate}}--</option>
                                                    </select>
                                                </div>
                                            </div>


                                            <div class="col-sm-12 p0">

                                                <div class="col-sm-4">
                                                    <div class="form-group clearfix form-group-custom mb10">
                                                        <div class="" >
                                                            <label class="control-label">
                                                                {{'project.project_loan_currency' | translate}} * :
                                                            </label>
                                                            <select class="form-control"
                                                                    ng-model="facilityInfo.currency_id"
                                                                    ng-init="getCurrencyList()"
                                                                    name="currency_id" ng-change="showUsdAmount(facilityInfo.currency_id)"
                                                                    ng-options="item.currency_id as item.currency_code for item in currencyList" required>
                                                                <option value="">--{{'general.general_select' | translate}}--</option>
                                                            </select>
                                                            <div ng-if="generalForm.currency_id.$error.required && generalForm.$submitted" class="error-message">
                                                                {{'general.required'| translate}}
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-4">
                                                    <div class="col-sm-11 pl0 form-group clearfix form-group-custom mb10">
                                                        <label class="control-label"> {{'project.project_loan_amount' | translate}} * : </label>
                                                        <input type="text" name="facility_amount" ng-model="facilityInfo.facility_amount" ui-number-mask="2"
                                                               class="form-control" required>
                                                        <div ng-if="generalForm.facility_amount.$error.required && generalForm.$submitted" class="error-message">
                                                            {{'general.required'| translate}}
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-1 p0 mt20 pt5 -ml8">
                                                        <a href="javascript:;" ng-click="amount_description =!amount_description " uib-tooltip="Add note"><i
                                                                class="icon-clipped-file2 f21"></i></a>
                                                    </div>
                                                </div>
                                                <div class="col-sm-4">
                                                    <div class="form-group clearfix form-group-custom mb10" ng-if="showUsdAmountDiv">
                                                        <label class="control-label"> {{'project.project_equal_to_usd_amount' | translate}} * : </label>
                                                        <input type="text" name="facility_usd_amount" ng-model="facilityInfo.facility_usd_amount" ui-number-mask="2"
                                                               class="form-control" required>
                                                        <div ng-if="generalForm.facility_usd_amount.$error.required && generalForm.$submitted" class="error-message">
                                                            {{'general.required'| translate}}
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-sm-12 edit-bg" ng-show="amount_description">
                                                    <label class="control-label"> {{'Description' | translate}}: </label>
                                                    <textarea name="amount_description" ckeditor ng-model="facilityInfo.amount_description"
                                                              class="form-control ">
                                                    </textarea>
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="col-sm-6 pl0">
                                                    <div class="form-group clearfix form-group-custom mb10">
                                                        <label class="control-label"> {{'project.project_tenor' | translate}}
                                                            : </label>
                                                        <input type="text" name="facility_tenor" ng-model="facilityInfo.facility_tenor"
                                                               class="form-control" ui-number-mask="0">
                                                    </div>
                                                </div>
                                                <div class="col-sm-6 pl0 pt20 -ml8">
                                                    <span class="f12 ml5 display-inline-block">{{'general.general_months' | translate}}</span>
                                                    <a href="javascript:;"
                                                       ng-click="facility_tenor_description =!facility_tenor_description " uib-tooltip="Add note"><i
                                                            class="icon-clipped-file2 f21 mt5 "></i></a>
                                                </div>
                                            </div>
                                            <div class="col-sm-12 edit-bg" ng-show="facility_tenor_description">
                                                <label class="control-label"> {{'Description' | translate}}: </label>
                                                    <textarea name="facility_tenor_description" ckeditor="" ng-model="facilityInfo.facility_tenor_description"
                                                              class="form-control ">
                                                    </textarea>
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="form-group form-group-custom mb10">
                                                    <label class="control-label"> {{'project.project_source_of_funds ' | translate}}
                                                        : </label>
                                                    <select class="form-control"
                                                            ng-init="masterDropDownList({'master_key':'source_of_funds'})"
                                                            ng-model="facilityInfo.source_of_funds" name="source_of_funds"
                                                            ng-options="item.id as item.name for item in dropDownItems['source_of_funds']">
                                                        <option value="">--{{'general.general_select' | translate}}--</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="form-group form-group-custom mb10">
                                                    <label class="control-label"> {{'project.project_credit_risk' | translate}}
                                                        : </label>
                                                    <select class="form-control"
                                                            ng-init="masterDropDownList({'master_key':'credit_risk'})"
                                                            ng-model="facilityInfo.credit_risk" name="credit_risk"
                                                            ng-options="item.id as item.name for item in dropDownItems['credit_risk']">
                                                        <option value="">--{{'general.general_select' | translate}}--</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-lg-12 p0">
                                                <div class="form-group form-group-custom mb10 col-sm-4">
                                                    <label class="control-label"> {{'project.project_lender_type' | translate}}
                                                        : </label>
                                                    <select class="form-control"
                                                            ng-init="masterDropDownList({'master_key':'lender_type'})"
                                                            ng-model="facilityInfo.lender_type" name="lender_type"
                                                            ng-options="item.id as item.name for item in dropDownItems['lender_type']">
                                                        <option value="">--{{'general.general_select' | translate}}--</option>
                                                    </select>
                                                </div>
                                                <div ng-switch="facilityInfo.lender_type" class="form-group form-group-custom mb10 col-sm-4">
                                                    <any ng-switch-when="28">
                                                        <label class="control-label"> {{'project.project_how_much_given_away' | translate}} (%) : </label>
                                                        <input type="text" class="form-control" ng-model="facilityInfo.lender_percentage" ui-number-mask="2" max="100"/>
                                                    </any>
                                                    <any ng-switch-when="29">
                                                        <label class="control-label"> {{'project.project_what_is_our_share_in_the_total' | translate}} (%)
                                                            : </label>
                                                        <input type="text" class="form-control" ng-model="facilityInfo.lender_percentage" ui-number-mask="2" max="100"/>
                                                    </any>

                                                </div>
                                            </div>
                                            <div class="col-sm-12 edit-bg">
                                                <label class="control-label">
                                                    {{'project.project_facility_purpose' | translate}}:
                                                </label>
                                                <div class="form-group clearfix form-group-custom mb10">
                                                    <textarea name="facility_purpose" ckeditor ng-model="facilityInfo.facility_purpose"
                                                              class="form-control">
                                                    </textarea>
                                                </div>
                                            </div>
                                            <div class="col-sm-12">
                                                <label class="control-label">
                                                    {{'project.project_source_of_repayment' | translate}}:
                                                </label>
                                                <div class="form-group clearfix form-group-custom mb10 edit-bg">
                                                    <textarea name="source_of_payment" ckeditor ng-model="facilityInfo.source_of_payment"
                                                              class="form-control">
                                                    </textarea>
                                                </div>
                                            </div>
                                            <!--<div class="col-sm-12">
                                                <label class="control-label">
                                                    {{'Security' | translate}}:
                                                </label>
                                                <div class="form-group clearfix form-group-custom mb10">
                                                    <textarea name="facility_security" ckeditor ng-model="facilityInfo.facility_security"
                                                              class="form-control ">
                                                    </textarea>
                                                </div>
                                            </div>-->
                                            <div class="col-sm-4">
                                                <div class="form-group clearfix form-group-custom">
                                                    <label>{{'project.project_expected_start_date' | translate}}:</label>
                                                    <div class="input-group">
                                                        <input type="text" class="form-control white-bg"
                                                               uib-datepicker-popup
                                                               data-ng-model="facilityInfo.facility_expected_start_date" name="from_date" is-open="openCal2"
                                                               show-weeks="false" show-button-bar="false" />
                                                      <span class="input-group-btn ">
                                                        <button type="button" class="btn btn-default border" ng-click="openCal2 = true">
                                                            <i class="fa fa-calendar"></i></button>
                                                      </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="form-group clearfix form-group-custom">
                                                    <label>{{'project.project_expected_maturity_date' | translate}}:</label>
                                                    <div class="input-group">
                                                        <input type="text" class="form-control white-bg"
                                                               uib-datepicker-popup
                                                               data-ng-model="facilityInfo.facility_maturity_date" name="from_date" is-open="openCal"
                                                               show-weeks="false" show-button-bar="false"/>
                                                              <span class="input-group-btn ">
                                                                <button type="button" class="btn btn-default border" ng-click="openCal = true">
                                                                    <i class="fa fa-calendar"></i></button>
                                                              </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-4">
                                                <div class="form-group clearfix form-group-custom">
                                                    <label>{{'project.project_drawdown_expiry_date' | translate}}:</label>
                                                    <div class="input-group">
                                                        <input type="text" class="form-control white-bg"
                                                               uib-datepicker-popup
                                                               data-ng-model="facilityInfo.drawdown_expiry_date" name="drawdown_expiry_date" is-open="openCal3"
                                                               show-weeks="false" show-button-bar="false" />
                                                              <span class="input-group-btn ">
                                                                <button type="button" class="btn btn-default border" ng-click="openCal3 = true">
                                                                    <i class="fa fa-calendar"></i></button>
                                                              </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-12 text-center mt10" ng-if="projectDetails.project_stage_info_id == facilityInfo.project_stage_info_id">
                                                <button class="blue-btn" ng-click="generalForm.$valid && submitFacility(facilityInfo,'general')">
                                                    {{'Save' | translate}}
                                                </button>
                                            </div>
                                        </form>
                                    </div>


                                </div>
                            </div>
                            <!-- pricing div -->
                            <div class="acc-box clearboth clearfix mt5" id="pricing">
                                <div class="acc-head col-sm-12 clearfix border p0 pr10">
                                    <h6 basic-accordian class="col-sm-11 p10">Pricing
                                        <span class="acc-icon darkcolor pull-left mr8 f18"><i
                                                class="icon-angle-rightt-circle"></i>
                                        </span>
                                        <any ng-show="p.created_date_time">
                                            <span class="f12 mt5 text-right p0 pull-right">{{'project.project_last_modified_on' | translate}} : {{p.created_date_time | utcToLocal}}</span>
                                        </any>
                                    </h6>

                                </div>
                                <div class="acc-body col-sm-12 clearfix p0 ptb10 border">
                                    <ng-form name="form">
                                        <div class="col-sm-12 p0 mb20" ng-repeat="field in pricingList" ng-init="p=field">
                                            <h3 class="darkcolor bold f14 display-block ml15">{{field.field_name}}</h3>

                                            <div class="col-sm-12 p0" ng-if="p.payment_type=='interest_as'">
                                                <div class="col-sm-3">
                                                    <div class="form-group clearfix form-group-custom">
                                                        <label class="control-label">
                                                            {{'project.project_term' | translate}} :
                                                        </label>
                                                        <select ng-init="getTimePeriod()" class="form-control"
                                                                ng-model="p.time_period_id"
                                                                name="time_period_id"
                                                                ng-options="item.id_time_period as item.period_name for item in timePeriod"
                                                        >

                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-sm-3">
                                                    <div class="form-group clearfix form-group-custom">
                                                        <label class="control-label"> {{'project.project_percentage' | translate}}
                                                            : </label>
                                                        <input type="text" ui-number-mask="2" max="100"
                                                               ng-model="p.facility_field_value"
                                                               name="facility_field_value" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="col-sm-2 pl0 pt20 -ml8">
                                                    <a href="javascript:;"
                                                       ng-click="p.pricing_desc =!p.pricing_desc " uib-tooltip="Add note"><i
                                                            class="icon-clipped-file2 f21 mt5"></i></a>
                                                </div>
                                            </div>
                                            <div class="col-sm-12 p0" ng-if="p.payment_type=='fee_amount'">
                                                <div class="col-sm-3">

                                                    <div class="form-group clearfix form-group-custom">
                                                        <label class="control-label">
                                                            {{'Currency' | translate}} :
                                                        </label>
                                                        <select ng-init="getCurrencyList()" class="form-control"
                                                                ng-model="p.currency_id" name="currency_id"
                                                                ng-options="item.currency_id as item.currency_code for item in currencyList">

                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-sm-3">

                                                    <div class="form-group clearfix form-group-custom">
                                                        <label class="control-label">
                                                            {{'Amount' | translate}} :
                                                        </label>
                                                        <input type="text" ui-number-mask="2"
                                                               ng-model="p.facility_field_value"
                                                               name="facility_field_value" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="col-sm-2 pl0 pt20 -ml8">
                                                    <a href="javascript:;"
                                                       ng-click="p.pricing_desc =!p.pricing_desc " uib-tooltip="Add note"><i
                                                            class="icon-clipped-file2 f21 mt5"></i></a>
                                                </div>

                                            </div>
                                            <div class="col-sm-12 p0" ng-if="p.payment_type=='fee_as'">
                                                <div class="col-sm-3">

                                                    <div class="form-group clearfix form-group-custom">
                                                        <label class="control-label">
                                                            {{'project.project_amount_type' | translate}} :
                                                        </label>
                                                        <select ng-init="getAmountType()" class="form-control"
                                                                ng-model="p.facility_amount_type"
                                                                name="facility_amount_type"
                                                                ng-options="item.id_facility_amount_type as item.facility_amount_type for item in amountType">

                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-sm-3">

                                                    <div class="form-group clearfix form-group-custom">
                                                        <label class="control-label">
                                                            {{'project.project_percentage' | translate}} : </label>
                                                        <input type="text" ui-number-mask="2" max="100"
                                                               ng-model="p.facility_field_value"
                                                               name="facility_field_value" class="form-control">
                                                    </div>
                                                </div>
                                                <div class="col-sm-2 pl0 pt20 -ml8">
                                                    <a href="javascript:;"
                                                       ng-click="p.pricing_desc =!p.pricing_desc " uib-tooltip="Add note"><i
                                                            class="icon-clipped-file2 f21 mt5"></i></a>
                                                </div>

                                            </div>
                                            <div ng-show="p.pricing_desc" class="col-sm-12 edit-bg">
                                                <label class="control-label">
                                                    {{'project.description' | translate}}:
                                                </label>
                                                <div class="form-group clearfix form-group-custom">
                                            <textarea name="facility_field_description" data-ng-click=""
                                                      k-tools="{{kendoOptions}}"
                                                      ckeditor="" ng-model="p.facility_field_description"
                                                      class="form-control">
                                            </textarea>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-sm-12 text-center mt10" ng-if="projectDetails.project_stage_info_id == facilityInfo.project_stage_info_id">
                                            <button type="button" class="blue-btn"
                                                    ng-click="form.$valid && submitFacility(pricingList,'pricing')">
                                                {{'Save' | translate}}
                                            </button>
                                        </div>
                                    </ng-form>
                                </div>
                            </div>
                            <!-- End pricing div -->
                            <!-- Term and condition div -->
                            <div class="acc-box clearboth clearfix mt5" id="terms_conditions">
                                <div class="acc-head col-sm-12 clearfix border p0 pr10">
                                    <h6 basic-accordian class="col-sm-11 p10">Terms & Conditions
                                        <span class="acc-icon darkcolor pull-left mr8 f18"><i
                                                class="icon-angle-rightt-circle"></i>
                                        </span>
                                        <any ng-show="f.created_date_time">
                                            <span class="f12 pull-right mt5 text-right p0">{{'project.project_last_modified_on' | translate}}: {{f.created_date_time | utcToLocal}}</span>
                                        </any>
                                    </h6>

                                </div>
                                <div class="acc-body col-sm-12 clearfix p0 ptb10 border">
                                    <div class="col-sm-12 p0 " ng-repeat="field in termsConditionsList"
                                         ng-init="f=field">
                                        <h3 class=" darkcolor bold f14 display-block ml15 mt8 mb3">{{field.field_name}}</h3>
                                        <div class="col-sm-12 edit-bg">
                                            <div class="form-group clearfix form-group-custom ">
                                         <textarea name="facility_field_description" ckeditor=""
                                                   k-tools="{{kendoOptions}}"
                                                   ng-model="f.facility_field_description"
                                                   class="form-control"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12 text-center mt10" ng-if="projectDetails.project_stage_info_id == facilityInfo.project_stage_info_id">
                                        <button type="button" class="blue-btn"
                                                ng-click="submitFacility(termsConditionsList,'terms_conditions')">
                                            {{'Save' | translate}}
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <!-- End Term and condition div -->
                            <!--Re Payment Schedule Start-->
                            <div class="acc-box clearboth clearfix" id="re_payment_schedule" ng-if="projectDetails.project_status != 'new' && projectDetails.project_status != 'pipeline'" ng-init="re_payment_schedule = true">
                                <div class="acc-head col-sm-12 clearfix clearboth border mt5 p0 pr10" ng-click="loanRepayment(re_payment_schedule);re_payment_schedule=false" >
                                    <h6 basic-accordian class="col-sm-11 p10">{{'project.project_re_payment_schedule' | translate}}
                                        <span class="acc-icon darkcolor pull-left mr8 f18">{{schedule}}<i class="icon-angle-rightt-circle"  ></i></span>
                                    </h6>
                                </div>
                                <div class="acc-body col-sm-12 clearfix clearboth p0 ptb10 border">
                                    <div class="col-sm-12 table-responsive">
                                        <!--<label class="border-right p5">Total No. of months:60</label>
                                        <label class="p5">Remaining months:54</label>-->
                                        <table class="table c-table table-striped table-bordered table-hover display table-style">
                                            <thead>
                                            <tr>
                                                <th>{{'due_date' | underscoreless}}</th>
                                                <th class="text-right">{{'principal' | underscoreless}}</th>
                                                <th class="text-right">{{'interest_due' | underscoreless}}</th>
                                                <th class="text-right">{{'mgt_fee' | underscoreless}}</th>
                                                <th class="text-right">{{'default_interest' | underscoreless}}</th>
                                                <th class="text-right">{{'total_due' | underscoreless}}</th>
                                                <th class="text-right">{{'balance' | underscoreless}}</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr ng-repeat="loanRepayment in facilityLoanRepayment">
                                                <td>{{loanRepayment.due_date | utcToLocal:'date'}}</td>
                                                <td class="text-right">{{loanRepayment.principal | currency:''}}</td>
                                                <td class="text-right">{{loanRepayment.interest_due | currency:''}}</td>
                                                <td class="text-right">{{loanRepayment.mgt_fee | currency:''}}</td>
                                                <td class="text-right">{{loanRepayment.default_interest | currency:''}}</td>
                                                <td class="text-right">{{loanRepayment.total_due | currency:''}}</td>
                                                <td class="text-right">{{loanRepayment.balance | currency:''}}</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <!--Disbursement Plan Start-->
                            <div class="acc-box clearboth clearfix" id="disbursement" ng-if="projectDetails.project_status != 'new' && projectDetails.project_status != 'pipeline'" ng-init="disbursement = true">
                                <div class="acc-head col-sm-12 clearfix clearboth border mt5 p0 pr10" ng-click="loanDisbursement(disbursement);disbursement=false">
                                    <h6 basic-accordian class="col-sm-11 p10">{{'project.project_disbursement_plan' | translate}}
                                        <span class="acc-icon darkcolor pull-left mr8 f18"><i
                                                class="icon-angle-rightt-circle"></i>
                                        </span>
                                    </h6>
                                </div>
                                <div class="acc-body col-sm-12 clearfix clearboth p0 ptb10 border">
                                    <div class="col-sm-12 table-responsive">
                                       <!-- <label class="border-right p5">Total Amount in USD:1,34,00</label>
                                        <label class="p5">Payment Ranking:Good</label>-->
                                        <table class="table c-table table-striped table-bordered table-hover display table-style">
                                            <thead>
                                            <tr>
                                                <th>{{'value_dt' | underscoreless}}</th>
                                                <th>{{'trn_dt' | underscoreless}}</th>
                                                <th>{{'disbursed_ccy' | underscoreless}}</th>
                                                <th class="text-right">{{'amount' | underscoreless}}</th>
                                                <th class="text-right">{{'exch_rate' | underscoreless}}</th>
                                                <th class="text-right">{{'usd_equiv' | underscoreless}}</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr ng-repeat="disbursement in facilityDisbursement">
                                                <td>{{disbursement.value_dt | utcToLocal:'date'}}</td>
                                                <td>{{disbursement.trn_dt | utcToLocal:'date'}}</td>
                                                <td>{{disbursement.disbursed_ccy}}</td>
                                                <td class="text-right">{{disbursement.amount | currency:''}}</td>
                                                <td class="text-right">{{disbursement.exch_rate | currency:''}}</td>
                                                <td class="text-right">{{disbursement.usd_equiv | currency:''}}</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div >
                            <!--Collections Start-->
                            <div class="acc-box clearboth clearfix" id="collections" ng-if="projectDetails.project_status != 'new' && projectDetails.project_status != 'pipeline'" ng-init="collections = true">
                                <div class="acc-head col-sm-12 clearfix clearboth border mt5 p0 pr10" ng-click="loanReceipts(collections);collections=false">
                                    <h6 basic-accordian class="col-sm-11 p10">{{'project.project_collections' | translate}}
                                        <span class="acc-icon darkcolor pull-left mr8 f18"><i
                                                class="icon-angle-rightt-circle"></i>
                                        </span>
                                    </h6>
                                </div>
                                <div class="acc-body col-sm-12 clearfix clearboth p0 ptb10 border">
                                    <div class="col-sm-12 table-responsive">
                                        <!--<label class="border-right p5">Due Amount: 60,000 USD</label>
                                        <label class="p5">Remaining Months:54</label>-->
                                        <table class="table c-table table-striped table-bordered table-hover display table-style">
                                            <thead>
                                            <tr>
                                                <th>{{'customer_name' | underscoreless}}</th>
                                                <th>{{'user_ref_no' | underscoreless}}</th>
                                                <th>{{'ac_ccy' | underscoreless}}</th>
                                                <th>{{'paid_date' | underscoreless}}</th>
                                                <th>{{'event' | underscoreless}}</th>
                                                <th class="text-right">{{'exch_rate' | underscoreless}}</th>
                                                <th class="text-right">{{'amount' | underscoreless}}</th>
                                                <th class="text-right">{{'usd_equiv' | underscoreless}}</th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            <tr ng-repeat="loanReceipts in facilityLoanReceipts">
                                                <td>{{loanReceipts.customer_name}}</td>
                                                <td>{{loanReceipts.user_ref_no}}</td>
                                                <td>{{loanReceipts.ac_ccy}}</td>
                                                <td>{{loanReceipts.paid_date | utcToLocal:'date'}}</td>
                                                <td>{{loanReceipts.event}}</td>
                                                <td class="text-right">{{loanReceipts.exch_rate | currency:''}}</td>
                                                <td class="text-right">{{loanReceipts.amount | currency:''}}</td>
                                                <td class="text-right">{{loanReceipts.usd_equiv | currency:''}}</td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <!--Securities Start-->
                            <!--<div class="acc-box clearboth clearfix" id="securities">
                                <div class="acc-head col-sm-12 clearfix clearboth border mt10">
                                    <h6 basic-accordian class="col-sm-6 mt5 pl0">Securities
                                                                    <span class="acc-icon darkcolor pull-left mr8 f18"><i
                                                                            class="icon-angle-rightt-circle"></i>
                                                                    </span>
                                    </h6>
                                    <div class="col-sm-6 pr0">
                                        <div class="display-inline-block pull-right custom-list">
                                            <a class="menu-toggle f13 dark-sky-blue dropdown-toggle" data-toggle="dropdown"
                                               href="javascript:;"
                                               aria-expanded="false"><i class="fa fa-ellipsis-v"></i>
                                            </a>
                                            <ul class="dropdown-menu cust-dropdown">
                                                <li>
                                                    <a href="javascript:;" class="f14 darkcolor">Download Excel</a>
                                                </li>
                                                <li>
                                                    <a href="javascript:;" class="f14 darkcolor">Upload Excel</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="acc-body col-sm-12 clearfix clearboth p10 border">
                                    <div class="col-sm-12 p0">
                                        <div class="col-sm-12 p0">
                                            <div class="col-sm-4 pl0">
                                                <label class="control-label">Security Type</label>
                                                <div class="form-group clearfix form-group-custom">
                                                    <select class="form-control ng-pristine ng-valid ng-touched" style="">
                                                        <option value="" class="" selected="selected">LAND and MACHINERY
                                                        </option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-12 p0">
                                            <label class="control-label">Security Description</label>
                                            <div class="form-group clearfix form-group-custom">
                                                    <textarea required="" class="width-full min-height70 p10 f12"
                                                              placeholder=""></textarea>
                                            </div>
                                        </div>
                                        <div class="col-sm-12 p0">
                                            <div class="col-sm-3 p0">
                                                <label class="control-label">Lease Period</label>
                                                <div class="form-group clearfix form-group-custom">
                                                    <input type="text" required="" class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-sm-2 mt5">
                                                <label class="control-label"></label>
                                                <div class="form-group clearfix form-group-custom">
                                                    <select class="form-control ng-pristine ng-valid ng-touched" style="">
                                                        <option value="" class="" selected="selected">Years</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-12 p0">
                                            <div class="col-sm-3 p0">
                                                <label class="control-label">Date of Lease Expiry</label>
                                                <div class="form-group clearfix form-group-custom">
                                                    <div class="input-group">
                                                        <input type="text" class="form-control"
                                                               uib-datepicker-popup="yyyy-MM-dd"
                                                               data-ng-model="company.company_incorporation_date"
                                                               type="text"
                                                               name="company_incorporation_date"
                                                               is-open="openCal"
                                                               show-weeks="false" show-button-bar="false" readonly/>
                                                                                          <span class="input-group-btn">
                                                                                            <button type="button"
                                                                                                    class="btn btn-default border"
                                                                                                    ng-click="openCal = true">
                                                                                                <i class="fa fa-calendar"></i>
                                                                                            </button>
                                                                                          </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-12 p0">
                                            <div class="col-sm-2 p0">
                                                <label class="control-label">Currency of Valuation</label>
                                                <div class="form-group clearfix form-group-custom">
                                                    <select class="form-control ng-pristine ng-valid ng-touched" style="">
                                                        <option value="" class="" selected="selected">USD</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-12 p0">
                                            <label class="control-label">Market Value</label>
                                            <div class="form-group clearfix form-group-custom">
                                                    <textarea required="" class="width-full min-height70 p10 f12"
                                                              placeholder=""></textarea>
                                            </div>
                                        </div>
                                        <div class="col-sm-12 p0">
                                            <label class="control-label">Forced Sale Value</label>
                                            <div class="form-group clearfix form-group-custom">
                                                    <textarea required="" class="width-full min-height70 p10 f12"
                                                              placeholder=""></textarea>
                                            </div>
                                        </div>
                                        <div class="col-sm-12 p0">
                                            <label class="control-label">Date of Valuation</label>
                                            <div class="form-group clearfix form-group-custom">
                                                    <textarea required="" class="width-full min-height70 p10 f12"
                                                              placeholder=""></textarea>
                                            </div>
                                        </div>
                                        <div class="col-sm-12 p0">
                                            <label class="control-label">Valuer</label>
                                            <div class="form-group clearfix form-group-custom">
                                                    <textarea required="" class="width-full min-height70 p10 f12"
                                                              placeholder=""></textarea>
                                            </div>
                                        </div>
                                        <div class="col-sm-12 p0">
                                            <label class="control-label">Notes</label>
                                            <div class="form-group clearfix form-group-custom">
                                                    <textarea required="" class="width-full min-height70 p10 f12"
                                                              placeholder=""></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>-->


                        </div>
                        <!--template here-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>