<div class="row clearfix" ng-controller="projectGuarentee">
    <div class="col-sm-12 clearfix">
            <div class="col-sm-12 p0" ng-if="contactList.length>0">
                <h4 class="f14">{{'Contacts' | translate}}</h4>
                <div class="facility-info-widget border clearfix p0 mt5 mb10" ng-repeat="contact in contactList">
                    <div class="col-sm-12 plr20 mt10 mb10">
                        <div class="col-sm-4 p0">
                            <span class="light-blue display-block f12">{{'Name' | translate}}:</span>
                            <span class="darkcolor display-block f14" >{{contact.first_name}} {{contact.last_name}}</span>
                        </div>
                        <div class="col-sm-4 p0">
                            <span class="light-blue display-block f12">{{'contact.email' | translate}}:</span>
                            <span class="darkcolor display-block f14" >{{contact.email}}</span>
                        </div>
                    </div>
                    <div class="col-sm-12 p0 clearfix clearboth" ng-if="contact.reference_guarantor.length>0">
                        <div class="table-wrapper no-bg pt0 overflow-hidden plr20">
                            <lable class="f14">{{'project.Ref_Guar_for_this_contact' | translate}}</lable>
                            <table class="table-list-view table c-table table-hover table-style mb0" st-table>
                                <thead>
                                <tr>
                                    <th>{{'Name' | translate}}</th>
                                    <th>{{'email' | translate}}</th>
                                    <th>{{'contact.credit_rating' | translate}}</th>
                                </tr>
                                </thead>

                                <tbody>
                                <tr class="cursor-pointer"
                                    ng-repeat="row in contact.reference_guarantor"
                                    n-t='{"e_n":"collateral Details","e_d":"Collateral type - {{row.collateral_type_name}}, Collateral number -  {{collateralNumber}}"}'>
                                    <td>
                                        <span class="font-lato f13 darkcolor display-block">{{row.first_name}} {{row.last_name}}</span>
                                    </td>
                                    <td>
                                        <span class="display-block" >{{row.email}}</span>
                                    </td>
                                    <td>
                                        <span class="display-block">{{row.credit_rating}}</span>
                                    </td>
                                </tr>
                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        <div class="col-sm-12 p0" ng-if="projectFacilityList.length>0">
            <h4 class="f14 mt10">{{'project.Facilities' | translate}}</h4>
            <div class="facility-info-widget border clearfix mt5 mb10" ng-repeat="facility in projectFacilityList">
                <div class="col-sm-12 facility-info-widget-left">
                    <div class="facility-info-widget-icon" first-alpha="{{facility.project_facility_name}}">

                    </div>
                    <h4 class="text-capitalize sky-blue bold f14 display-block" data-ng-bind-html="facility.facility_description"></h4>

                        <div class="col-sm-4 p0">
                            <span class="light-blue display-block f12">{{'project.project_contract_number' | translate}}</span>
                            <span class="darkcolor display-block f14" ng-if="facility.contract_id">{{facility.contract_id}}</span>
                            <span class="darkcolor display-block f14" ng-if="!facility.contract_id">---</span>
                        </div>


                        <div class="col-sm-4 p0">
                            <span class="light-blue display-block f12">{{'project.project_exposure' | translate}} </span>
                            <span class="darkcolor display-block f14" ng-if="facility.facility_usd_amount">{{facility.facility_usd_amount|currency:'USD '}}</span>
                                        <span class="darkcolor display-block f14"
                                              ng-if="!facility.facility_usd_amount">---</span>
                        </div>

                        <div class="col-sm-4 p0">
                            <span class="light-blue display-block f12">{{'Status' | translate}}</span>
                            <span class="f14 " label-status="{{facility.project_facility_status}}">{{facility.project_facility_status}}</span>
                        </div>
                </div>

                <div class="col-sm-12 p0 mt20 clearfix clearboth" ng-if="facility.collaterals.length>0">
                    <div class="table-wrapper no-bg pt0 overflow-hidden plr20">
                        <lable class="f14">{{'project.Collaterals' | translate}}</lable>
                        <table class="table-list-view table c-table table-hover table-style mb0" st-table>
                            <thead>
                            <tr>
                                <th></th>
                                <th>{{'project.Collateral' | translate}}</th>
                                <th>{{'project.Value' | translate}}</th>
                                <th>{{'project.Project_name' | translate}}</th>
                                <th>{{'Status' | translate}}</th>
                                <!--<th>{{'contact.contact_created_by' | translate}}</th>
                                <th></th>-->
                            </tr>
                            </thead>

                            <tbody>
                            <tr class="cursor-pointer"
                                ng-repeat="row in facility.collaterals"
                                n-t='{"e_n":"collateral Details","e_d":"Collateral type - {{row.collateral_type_name}}, Collateral number -  {{collateralNumber}}"}'>
                                <td class="colleteral-listicon"><span><i class="f32 {{row.collateral_type_icon}}"></i></span></td>
                                <td>
                                    <span class="label-text p0 display-block" title="{{row.collateral_number}}">{{row.collateral_number}} </span>
                                    <span class="font-lato f13 darkcolor display-block">{{row.collateral_type_name}}</span>
                                </td>
                                <td>
                                    <span class="label-text display-block">USD </span>
                                    <span class="display-block" title="{{row.amount}}">{{row.usd_equal_amount | checkEmpty:'0' |currency }}</span>
                                </td>
                                <td>
                                    <span class="label-text display-block"> </span>
                                    <span class="display-block" title="{{row.project_title}}">{{row.project_title | capitalize | checkEmpty}}</span>
                                </td>
                                <td>
                                    <span class="label-text display-block"> </span>
                                    <span class="f11 " title="{{row.collateral_status}}" label-status="{{row.collateral_status}}">{{row.collateral_status | capitalize | checkEmpty}}</span>
                                </td>
                                <!--<td>
                                    <span class="label-text display-block">{{row.user_name}}</span>
                                    <span class="font-lato f13 darkcolor display-block"  >{{row.updated_date_time|utcToLocal:'date'}}</span>

                                </td>
                                <td ng-click="$event.stopPropagation()">
                                    <a ng-if="row.created_by==userId && row.collateral_status =='new'" class="fa fa-trash" uib-tooltip="Delete"
                                       n-t='{"e_n":"Collateral - Delete","e_d":"Collateral - {{row.collateral_type_name}}"}'
                                       ng-click="deleteCollateral(row.id_collateral)">
                                    </a>

                                </td>-->
                            </tr>
                            </tbody>
                            <tfoot ng-if="collateralList">
                            <tr>
                                <td colspan="5" class="text-center">
                                    <div st-items-by-page="10" st-pagination=""
                                         st-template="partials/list-pagination.custom.html" class="pull-right"></div>
                                </td>
                            </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>