<div ng-controller="projectFinancials">
    <form class="form-horizontal form-bordered" name="form" detect-form-change="formChangeEvent()" novalidate ng-submit="form.$valid && submit(project,form)">
        <div class="row clearfix">

            <div class="col-sm-12" >
                <div class="col-sm-12">
                    <div class="clearfix">
                        <label class="control-label">{{'project.Source_of_funds' | translate}}</label>
                        <span class="pull-right">
                            <div class="form-inline">
                                <div class="form-group">
                                    <label >{{'company.currency' | translate}}</label>
                                    <div class="form-group clearfix form-group-custom">
                                        <select class="form-control" name="currency"
                                                ng-model="project.currency"
                                                ng-change="project.currency_id=project.currency.currency_id"
                                                ng-options="item as item.currency_code for item in currecnyList track by item.currency_id" required>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </span>

                    <div class="clearfix"></div>
                    <div class="table-wrapper p0 c-table pt5 table-responsive">
                        <table class="table table-striped table-bordered table-hover display table-style">
                            <thead>
                            <tr>
                                <th>{{'project.Source_of_funds' | translate}}</th>
                                <th class="text-right">{{'project.Amounts_requested' | translate}}</th>
                                <th class="text-right">{{'project.Amounts_Proposed' | translate}}</th>
                                <th class="text-right">{{'project.percent_of_Total' | translate}}</th>
                                <th >{{'action' | translate}}</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="heightlighted">
                                <td class="bold">{{'project.External_Sources' | translate}}</td>
                                <td class="bold text-right">{{project.child_data.source_of_funds.sum_source_of_amount_req_ext | number:2}}</td>
                                <td class="bold text-right">{{project.child_data.source_of_funds.sum_source_of_amount_proposed_ext | number:2}}</td>
                                <td class="text-right"></td>
                                <td > </td>
                            </tr>
                            <tr ng-if="!project.child_data.source_of_funds.external_sources || (project.child_data.source_of_funds.external_sources && project.child_data.source_of_funds.external_sources.length<=0)">
                                <td colspan="5" class="text-center">{{'general.general_no_data_available' | translate}}</td>
                            </tr>
                            <tr ng-repeat="row in project.child_data.source_of_funds.external_sources" ng-if="project.child_data.source_of_funds.external_sources.length>0" ng-show="row.status=='1'">
                                <td>{{row.description}}</td>
                                <td class="text-right">{{row.requested_amount|number:2}} </td>
                                <td class="text-right">{{row.proposed_amount|number:2}} </td>
                                <td class="text-right">{{row.percentage_of_total | currency:""}}</td>
                                <td>
                                    <div class="clearfix pagination-wrap">
                                        <ul class="icons-wrap text-line pull-left">
                                            <li><a href="javascript:;" ng-click="addSourceofFunds(row)" class="fa fa-edit"
                                                   uib-tooltip="Edit"
                                                   n-t='{"e_n":"Edit projects {{sectionName}}","e_d":"Company - {{companyInfo.company_name}}"}'></a>
                                            </li>
                                            <li><a href="javascript:;" class="fa fa-trash" ng-click="removeSourceOfFund(row)"
                                                   uib-tooltip="Delete"
                                                   n-t='{"e_n":"Remove projects {{sectionName}}","e_d":"Company - {{companyInfo.company_name}}"}'></a>
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                            <tr class="heightlighted bold">
                                <td class="bold">{{'project.Internal_Sources' | translate}}</td>
                                <td class="bold text-right">{{project.child_data.source_of_funds.sum_source_of_amount_req_int | number:2}}</td>
                                <td class="bold text-right">{{project.child_data.source_of_funds.sum_source_of_amount_proposed_int | number:2}}</td>
                                <td class="bold text-right"></td>
                                <td > </td>
                            </tr>
                            <tr ng-if="!project.child_data.source_of_funds.internal_sources || (project.child_data.source_of_funds.internal_sources && project.child_data.source_of_funds.internal_sources.length<=0)">
                                <td colspan="5" class="text-center">{{'general.general_no_data_available' | translate}}</td>
                            </tr>
                            <tr ng-repeat="row in project.child_data.source_of_funds.internal_sources" ng-if="project.child_data.source_of_funds.internal_sources.length>0" ng-show="row.status=='1'">
                                <td>{{row.description}}</td>
                                <td class="text-right">{{row.requested_amount|number:2}} </td>
                                <td class="text-right">{{row.proposed_amount|number:2}} </td>
                                <td class="text-right">{{row.percentage_of_total | currency:""}}</td>
                                <td>
                                    <div class="clearfix pagination-wrap">
                                        <ul class="icons-wrap text-line pull-left">
                                            <li><a href="javascript:;" ng-click="addSourceofFunds(row)" class="fa fa-edit"
                                                   uib-tooltip="Edit"
                                                   n-t='{"e_n":"Edit projects {{sectionName}}","e_d":"Company - {{companyInfo.company_name}}"}'></a>
                                            </li>
                                            <li><a href="javascript:;" class="fa fa-trash" ng-click="removeSourceOfFund(row)"
                                                   uib-tooltip="Delete"
                                                   n-t='{"e_n":"Remove projects {{sectionName}}","e_d":"Company - {{companyInfo.company_name}}"}'></a>
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                            <tr class="heightlighted" ng-if="project.child_data.source_of_funds.total_req>0 || project.child_data.source_of_funds.total_prop>0">
                                <td class="bold">{{'project.Total' | translate}}</td>
                                <td class="bold text-right">{{project.child_data.source_of_funds.total_req | number:2}}</td>
                                <td class="bold text-right">{{project.child_data.source_of_funds.total_prop | number:2}}</td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr ng-if="project.child_data.source_of_funds.length<=0">
                                <td colspan="5" class="text-center">{{'general.general_no_data_available' | translate}}</td>
                            </tr>
                            </tbody>

                        </table>
                        <button type="button" class="btn btn-primary btn-dark border-none f12 pull-right" data-ng-click="addSourceofFunds()"
                                n-t='{"e_n":"Add New projects {{sectionName}}","e_d":"Company - {{companyInfo.company_name}}"}'>
                            <i class="fa fa-plus-circle"></i> {{'project.add_new' | translate}}
                        </button>
                    </div>
                </div>
                    <div class="clearfix">
                        <label class="control-label">{{'project.Use_of_funds' | translate}}</label>
                    </div>
                    <div class="table-wrapper p0 c-table pt5 table-responsive">
                        <table class="table table-striped table-bordered table-hover display table-style">
                            <thead>
                            <tr>
                                <th>Use of Funds</th>
                                <th class="text-right">{{'project.Amounts_requested' | translate}}</th>
                                <th class="text-right">{{'project.Amounts_Proposed' | translate}}</th>
                                <th class="text-right">{{'project.percent_of_Total' | translate}}</th>
                                <th >{{'action' | translate}}</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="heightlighted">
                                <td class="bold">{{'project.Working_capital' | translate}}</td>
                                <td class="bold text-right">{{project.child_data.use_of_funds.sum_use_of_amount_req_wrkng | number:2}}</td>
                                <td class="bold text-right">{{project.child_data.use_of_funds.sum_use_of_amount_proposed_wrkng | number:2}}</td>
                                <td class="bold text-right"></td>
                                <td > </td>
                            </tr>
                            <tr ng-if="!project.child_data.use_of_funds.working_capital || (project.child_data.use_of_funds.working_capital && project.child_data.use_of_funds.working_capital.length<=0)">
                                <td colspan="5" class="text-center">{{'general.general_no_data_available' | translate}}</td>
                            </tr>
                            <tr ng-repeat="row in project.child_data.use_of_funds.working_capital" ng-if="project.child_data.use_of_funds.working_capital.length>0" ng-show="row.status=='1'">
                                <td>{{row.description}}</td>
                                <td class="text-right">{{row.requested_amount}} </td>
                                <td class="text-right">{{row.proposed_amount}} </td>
                                <td class="text-right">{{row.percentage_of_total | currency:""}}</td>
                                <td>
                                    <div class="clearfix pagination-wrap">
                                        <ul class="icons-wrap text-line pull-left">
                                            <li><a href="javascript:;" ng-click="addUseofFunds(row)" class="fa fa-edit"
                                                   uib-tooltip="Edit"
                                                   n-t='{"e_n":"Edit projects {{sectionName}}","e_d":"Company - {{companyInfo.company_name}}"}'></a>
                                            </li>
                                            <li><a href="javascript:;" class="fa fa-trash" ng-click="removeUseOfFund(row)"
                                                   uib-tooltip="Delete"
                                                   n-t='{"e_n":"Remove projects {{sectionName}}","e_d":"Company - {{companyInfo.company_name}}"}'></a>
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                            <tr class="heightlighted">
                                <td class="bold">{{'project.Fixed_assets' | translate}}</td>
                                <td class="bold text-right">{{project.child_data.use_of_funds.sum_use_of_amount_req_fixed | number:2}}</td>
                                <td class="bold text-right">{{project.child_data.use_of_funds.sum_use_of_amount_proposed_fixed | number:2}}</td>
                                <td class="bold text-right"></td>
                                <td > </td>
                            </tr>
                            <tr ng-if="!project.child_data.use_of_funds.fixed_assets || (project.child_data.use_of_funds.fixed_assets && project.child_data.use_of_funds.fixed_assets.length<=0)">
                                <td colspan="5" class="text-center">{{'general.general_no_data_available' | translate}}</td>
                            </tr>
                            <tr ng-repeat="row in project.child_data.use_of_funds.fixed_assets" ng-if="project.child_data.use_of_funds.fixed_assets.length>0" ng-show="row.status=='1'">
                                <td>{{row.description}}</td>
                                <td class="text-right">{{row.requested_amount}} </td>
                                <td class="text-right">{{row.proposed_amount}} </td>
                                <td class="text-right">{{row.percentage_of_total | currency:""}}</td>
                                <td>
                                    <div class="clearfix pagination-wrap">
                                        <ul class="icons-wrap text-line pull-left">
                                            <li><a href="javascript:;" ng-click="addUseofFunds(row)" class="fa fa-edit"
                                                   uib-tooltip="Edit"
                                                   n-t='{"e_n":"Edit projects {{sectionName}}","e_d":"Company - {{companyInfo.company_name}}"}'></a>
                                            </li>
                                            <li><a href="javascript:;" class="fa fa-trash" ng-click="removeUseOfFund(row)"
                                                   uib-tooltip="Delete"
                                                   n-t='{"e_n":"Remove projects {{sectionName}}","e_d":"Company - {{companyInfo.company_name}}"}'></a>
                                            </li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                            <tr class="heightlighted" ng-if="project.child_data.use_of_funds.total_req>0 || project.child_data.use_of_funds.total_prop">
                                <td class="bold">{{'project.Total' | translate}}</td>
                                <td class="bold text-right">{{project.child_data.use_of_funds.total_req | number:2}}</td>
                                <td class="bold text-right">{{project.child_data.use_of_funds.total_prop | number:2}}</td>
                                <td></td>
                                <td></td>
                            </tr>
                            <tr ng-if="project.child_data.use_of_funds.length<=0">
                                <td colspan="5" class="text-center">{{'general.general_no_data_available' | translate}}</td>
                            </tr>
                            </tbody>

                        </table>
                        <button type="button" class="btn btn-primary btn-dark border-none f12 pull-right" data-ng-click="addUseofFunds()"
                                n-t='{"e_n":"Add New projects {{sectionName}}","e_d":"Company - {{companyInfo.company_name}}"}'>
                            <i class="fa fa-plus-circle"></i> {{'project.add_new' | translate}}
                        </button>
                    </div>

            </div>
            <div class="col-sm-12 clearfix">
                <div class="col-sm-12 p0">
                    <label class="control-label">{{'project.Have_quotes_been_received' | translate}} *</label>
                    <div class="form-group" >
                        <div class="radio display-inline-block mr15 mt5">
                            <label class="f12">
                                <input type="radio" ng-model="project.is_product_quotes_received"  name="covenant_mandator1" value="1" >
                                {{'general.yes' | translate}}</label>
                        </div>
                        <div class="radio display-inline-block mt5">
                            <label class="f12">
                                <input type="radio" ng-model="project.is_product_quotes_received" name="covenant_mandatory1" value="0">
                                {{'general.no' | translate}}</label>
                        </div>
                    </div>
                    <div ng-if="form.covenant_mandatory1.$error.required && form.$submitted" class="error-message">
                        {{'general.general_this_field_is_required' | translate}}
                    </div>

                </div>
                <div class="col-sm-12 p0">
                    <label class="control-label">{{'project.Can_the_loan_be_disbursed' | translate}} *</label>
                    <div class="form-group" >
                        <div class="radio display-inline-block mr15 mt5">
                            <label class="f12">
                                <input type="radio" ng-model="project.can_loan_disbursed_to_supplier"  name="covenant_mandatory2" value="1" >
                                {{'general.yes' | translate}}</label>
                        </div>
                        <div class="radio display-inline-block mt5">
                            <label class="f12">
                                <input type="radio" ng-model="project.can_loan_disbursed_to_supplier" name="covenant_mandatory2" value="0">
                                {{'general.no' | translate}}</label>
                        </div>
                    </div>
                    <div ng-if="form.covenant_mandatory2.$error.required && form.$submitted" class="error-message">
                        {{'general.general_this_field_is_required' | translate}}
                    </div>
                </div>
                <div class="col-sm-12" ng-if="project.can_loan_disbursed_to_supplier=='0'">
                        <div class="col-sm-12 clearfix edit-bg">
                            <label class="control-label">{{'project.Let_us_know_why' | translate}}*</label>
                            <div class="form-group clearfix form-group-custom">
                             <textarea class="form-control"
                                       ckeditor=""
                                       ng-model="project.can_loan_disbursed_to_supplier_comments"
                                       name="can_loan_disbursed_to_supplier_comments" ng-required="project.can_loan_disbursed_to_supplier=='0'"></textarea>
                            </div>
                        </div>
                        <div ng-if="form.can_loan_disbursed_to_supplier_comments.$error.required && form.$submitted && project.can_loan_disbursed_to_supplier=='0'" class="error-message">
                            {{'general.general_this_field_is_required' | translate}}
                        </div>
            </div>
            <div class="col-sm-12 p0 clearfix edit-bg">
                <label class="control-label">{{'company.comment' | translate}}</label>
                <div class="form-group clearfix form-group-custom">
            <textarea class="form-control"
                      ckeditor=""
                      ng-model="project.comments"
                      name="comments"></textarea>
                </div>
                <div ng-if="form.comments.$error.required && form.$submitted" class="error-message">
                    {{'general.general_this_field_is_required' | translate}}
                </div>
            </div>

            <div class="col-sm-12 btn-custom clearfix text-center">
                <button class="btn btn-primary f14 next-btn" type="submit"
                        n-t='{"e_n":"Save - {{sectionName}} - {{formName}}","e_d":"Company - {{companyInfo.company_name}}", "form": "{{form.$valid}}"}'>{{'Save' | translate}}
                </button>
            </div>
        </div>
    </form>
</div>
<script type="text/ng-template" id="source-of-funds.html">
    <div class="right-modal modal-custom" >
        <h3 class="right-modal-head">
            <i class="fa fa-book mr8"></i>{{title}} {{'project.Source_of_funds' | translate}}
            <a class="close-right pull-right" ng-click="cancel()" uib-tooltip="Close"
               n-t='{"e_n":"Contacts Close","e_d":"Company - {{companyInfo.company_name}}"}'><img
                    src="images/close.png"></a>
        </h3>
        <form class="form-horizontal form-bordered mt10" name="source_of_funds" novalidate ng-submit="source_of_funds.$valid && save(source_of_funds, source_of_fundsForm)">
                <div class="col-sm-12">
                    <div class="col-sm-4">
                        <label class="f12">{{'project.Fund_type' | translate}}</label>
                        <div class="form-group clearfix form-group-custom">
                            <!--<select class="form-control chosen-choices"
                                    chosen
                                    ng-init="masterDropDownList({'master_key':'project_financials_source_of_funds'})"
                                    ng-model="source_of_fundsForm.item" name="source_dropdwn"
                                    ng-options="item as item.name for item in dropDownItems['project_financials_source_of_funds']">
                                <option value="">&#45;&#45;Select&#45;&#45;</option>
                            </select>-->
                            <select class="form-control p0 font-control"
                                    ng-model="source_of_fundsForm.fund_type_idObj"
                                    name="fund_type_id"
                                    ng-change="source_of_fundsForm.fund_type_id=source_of_fundsForm.fund_type_idObj.id;source_of_fundsForm.fund_type_id_text=source_of_fundsForm.fund_type_idObj.name;"
                                    ng-options="item as item.name for item in fund_type_id track by item.id"
                                    ng-init="source_of_fundsForm.fund_type_id=source_of_fundsForm.fund_type_id?source_of_fundsForm.fund_type_id:source_of_fundsForm.fund_type_idObj[0].id"
                                    ng-disabled="source_of_fundsForm.fund_type_idObj && popStatus"
                                    required>
                                <option value="">--{{'general.general_select' | translate}}--</option>

                            </select>
                        </div>
                        <div ng-if="source_of_funds.fund_type_id.$error.required && source_of_funds.$submitted "
                             class="error-message">
                            {{'general.general_this_field_is_required'|translate}}
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <label class="f12">{{'project.Amounts_requested' | translate}} *:</label>
                        <div class="form-group" >
                            <input type="text" class=" form-control"  name="requested_amount"
                                   ui-number-mask="2" required
                                   ng-model="source_of_fundsForm.requested_amount">
                            <div ng-if="source_of_funds.requested_amount.$error.required && source_of_funds.$submitted "
                                 class="error-message">
                                {{'general.general_this_field_is_required'|translate}}
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <label class="f12">{{'project.Amounts_Proposed' | translate}} *:</label>
                        <div class="form-group" >
                            <input type="text" class=" form-control" name="proposed_amount"
                                   ui-number-mask="2" required 
                                   ng-model="source_of_fundsForm.proposed_amount">
                            <div ng-if="source_of_funds.proposed_amount.$error.required && source_of_funds.$submitted "
                                 class="error-message">
                                {{'general.general_this_field_is_required'|translate}}
                            </div>
                        </div>
                    </div>
                </div>
            <div class="col-sm-12 ">
                <div class="col-sm-12 ">
                    <label class="f12">{{'Description' | translate}} *:</label>
                    <div class="form-group" >
                        <input type="text" class=" form-control" name="description"
                               required
                               ng-model="source_of_fundsForm.description">
                        <div ng-if="source_of_funds.description.$error.required && source_of_funds.$submitted "
                             class="error-message">
                            {{'general.general_this_field_is_required'|translate}}
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer border-none btn-custom mb0   clearfix text-center">
                <button class="btn btn-primary f14 mt20" ng-show="!update" type="submit"
                >{{'general.add' | translate}}
                </button>
                <button class="btn btn-primary f14 mt20" ng-show="update" type="submit"
                >{{'general.save' | translate}}
                </button>

                <button class="btn btn-default f14 mt20" type="button" ng-click="cancel()">{{'Cancel' | translate}}</button>
            </div>
        </form>
    </div>
</script>
<script type="text/ng-template" id="use-of-funds.html">
    <div class="right-modal modal-custom" >
        <h3 class="right-modal-head">
            <i class="fa fa-book mr8"></i>{{title}} {{'project.Use_of_funds' | translate}}
            <a class="close-right pull-right" ng-click="cancel()" uib-tooltip="Close"
               n-t='{"e_n":"Contacts Close","e_d":"Company - {{companyInfo.company_name}}"}'><img
                    src="images/close.png"></a>
        </h3>
        <form class="form-horizontal form-bordered mt10" name="use_of_funds" novalidate ng-submit="use_of_funds.$valid && save(use_of_funds, use_of_fundsForm)">
            <div class="col-sm-12">
                <div class="col-sm-4">
                    <label class="f12">{{'project.Fund_type' | translate}}</label>
                    <div class="form-group clearfix form-group-custom">
                        <select class="form-control p0 font-control"
                                ng-model="use_of_fundsForm.fund_type_idObj"
                                name="fund_type_id"
                                ng-change="use_of_fundsForm.fund_type_id=use_of_fundsForm.fund_type_idObj.id;use_of_fundsForm.fund_type_id_text=use_of_fundsForm.fund_type_idObj.name;"
                                ng-options="item as item.name for item in fund_type_id track by item.id"
                                ng-init="use_of_fundsForm.fund_type_id=use_of_fundsForm.fund_type_id?use_of_fundsForm.fund_type_id:use_of_fundsForm.fund_type_idObj[0].id"
                                ng-disabled="use_of_fundsForm.fund_type_idObj && popStatus"
                                required>
                            <option value="">--{{'general.general_select' | translate}}--</option>
                            <!--ng-init="customers.contact_number_isd=customers.contact_number_isd?customers.contact_number_isd:ISDCodes[0].isd_code+''"-->
                        </select>
                    </div>
                    <div ng-if="use_of_funds.fund_type_id.$error.required && use_of_funds.$submitted "
                         class="error-message">
                        {{'general.general_this_field_is_required'|translate}}
                    </div>
                </div>
                <div class="col-sm-4">
                    <label class="f12">{{'project.Amounts_requested' | translate}} *:</label>
                    <div class="form-group" >
                        <input type="text" class=" form-control"  name="requested_amount"
                               ui-number-mask="2" required
                               ng-model="use_of_fundsForm.requested_amount">
                        <div ng-if="use_of_funds.requested_amount.$error.required && use_of_funds.$submitted "
                             class="error-message">
                            {{'general.general_this_field_is_required'|translate}}
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <label class="f12">{{'project.Amounts_Proposed' | translate}} *:</label>
                    <div class="form-group" >
                        <input type="text" class=" form-control" name="proposed_amount"
                               ui-number-mask="2" required 
                               ng-model="use_of_fundsForm.proposed_amount">
                        <div ng-if="use_of_funds.proposed_amount.$error.required && use_of_funds.$submitted "
                             class="error-message">
                            {{'general.general_this_field_is_required'|translate}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12">
                <div class="col-sm-12">
                    <label class="f12">{{'Description' | translate}} *:</label>
                    <div class="form-group" >
                        <input type="text" class=" form-control" name="description"
                               required
                               ng-model="use_of_fundsForm.description">
                        <div ng-if="use_of_funds.description.$error.required && use_of_funds.$submitted "
                             class="error-message">
                            {{'general.general_this_field_is_required'|translate}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer border-none btn-custom mb0 clearfix text-center">
                <button class="btn btn-primary f14 mt20" ng-show="!update" type="submit"
                >{{'general.add' | translate}}
                </button>
                <button class="btn btn-primary f14 mt20" ng-show="update" type="submit"
                >{{'general.save' | translate}}
                </button>

                <button class="btn btn-default f14 mt20" type="button" ng-click="cancel()">{{'Cancel' | translate}}</button>
            </div>
        </form>
    </div>
</script>