<div class="clearfix" data-ng-controller="riskAssessmentCtrl">
    <div class="col-sm-12">
        <div class="col-sm-12 p0">
            <div class="clearfix">
                <p class="f11 ash display-inline-block"><em>{{'project.risk_assessment' | translate}}</em></p>
                <button class="btn btn-primary btn-dark border-none f12 pull-right"
                        data-ng-click="openModel()">
                    <i class="fa fa-plus-circle"></i> {{'project.add_new' | translate}}
                </button>
            </div>
            <div class="clearfix"></div>
            <div class="table-wrapper  p0 pt5 table-responsive">
                <table class="table c-table table-striped table-bordered table-hover display table-style">
                    <thead>
                    <tr>
                        <th>{{'project.risk' | translate}}</th>
                        <th>{{'project.type' | translate}}</th>
                        <th>{{'project.mitigation' | translate}}</th>
                        <th>{{'project.risk_grade' | translate}}</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="row in rows">
                        <td>{{row.risk}}</td>
                        <td>{{row.risk_type_name}}</td>
                        <td>{{row.mitigation}}</td>
                        <td>{{row.grade_name}}</td>
                        <td>
                            <div class="clearfix">
                                <ul class="icons-wrap pull-left">
                                    <li><a href="javascript:;" class="fa fa-edit"
                                           uib-tooltip="Edit"
                                           ng-click="openModel(row)"></a></li>
                                    <li><a href="javascript:;" class="fa fa-trash"
                                           uib-tooltip="Delete"
                                           ng-click="delete(row.id_risk_assessment)"></a></li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script type="text/ng-template" id="risk-assessment-modal-form.html">
        <div class="right-modal modal-custom">
            <h3 class="right-modal-head ng-binding">
                {{'project.risk_assessment' | translate}}
                <a ng-click="cancel()" uib-tooltip="Close" class="close-right pull-right"><img src="images/close.png"></a>
            </h3>
            <form class="form-horizontal form-bordered mt10 container" name="form" novalidate>
                <div class="col-sm-12 ">
                    <label class="control-label">{{'project.risk' | translate}} *</label>

                    <div class="form-group clearfix form-group-custom">
                        <input type="text" class="form-control" ng-model="fdata.risk" name="risk"
                               required>
                        <div ng-if="form.risk.$error.required && form.$submitted"
                             class="error-message">
                            {{'general.required' | translate}}
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 p0 clearfix ">
                    <div class="col-sm-4 ">
                        <label class="control-label">{{'project.project_risk_type' | translate}} *</label>
                        <div class="form-group clearfix form-group-custom">
                            <select chosen
                                    class="form-control"
                                    ng-init="getParent(0,'parents')"
                                    ng-change="getParent(fdata.risk_type, 'childs');"
                                    ng-options="risk.id_risk_type as risk.risk_name for risk in parents"
                                    ng-model="fdata.risk_type" name="risk_type" required>
                                <option value="">{{'general.select' | translate}}</option>
                            </select>
                            <!--<input type="text" class="form-control" ng-model="networkDetails.name" name="name" required>-->
                            <div ng-if="form.risk_type.$error.required && form.$submitted"
                                 class="error-message">
                                {{'general.required' | translate}}
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 mt20 pt5" ng-if="fdata.risk_type">
                        <div class="form-group clearfix form-group-custom">
                            <select chosen
                                    class="form-control"
                                    ng-init="getParent(fdata.risk_type, 'childs')"
                                    ng-change="getParent(fdata.risk_sub_type1, 'subchilds');"
                                    ng-options="risk.id_risk_type as risk.risk_name for risk in childs"
                                    ng-model="fdata.risk_sub_type1" name="risk_sub_type1">
                                <option value="">{{'general.select' | translate}}</option>
                            </select>
                            <!--<input type="text" class="form-control" ng-model="networkDetails.name" name="name" required>-->
                            <div ng-if="form.risk_sub_type1.$error.required && form.$submitted"
                                 class="error-message">
                                {{'general.required' | translate}}
                            </div>
                        </div>
                    </div>
                    <!--<div class="col-sm-4 mt20 pt5" ng-if="fdata.risk_sub_type1">
                        <div class="form-group clearfix form-group-custom">
                            <select chosen
                                    class="form-control"
                                    ng-init="getParent(fdata.risk_sub_type1, 'subchilds')"
                                    ng-options="risk.id_risk_type as risk.risk_name for risk in subchilds"
                                    ng-model="fdata.risk_sub_type2" name="risk_sub_type2" required>
                                <option value="">{{'general.select' | translate}}</option>
                            </select>
                            <div ng-if="form.risk_sub_type2.$error.required && form.$submitted"
                                 class="error-message">
                                {{'general.required' | translate}}
                            </div>
                        </div>
                    </div>-->
                </div>
                <div class="col-sm-12 ">
                    <label class="control-label">{{'project.description' | translate}}</label>

                    <div class="form-group clearfix form-group-custom">
                        <input type="text" class="form-control" ng-model="fdata.description"
                               name="description">
                    </div>
                </div>
                <div class="col-sm-12 ">
                    <label class="control-label">{{'project.mitigation' | translate}}</label>
                    <div class="form-group clearfix form-group-custom">
                        <input type="text" class="form-control" ng-model="fdata.mitigation"
                               name="mitigation">
                    </div>
                </div>
                <div class="col-sm-12 ">
                    <label class="control-label">{{'project.net_risk' | translate}}</label>
                    <div class="form-group clearfix form-group-custom">
                        <input type="text" class="form-control" ng-model="fdata.net_risk"
                               name="net_risk">
                    </div>
                </div>
                <div class="col-sm-12 clearfix">
                    <label class="control-label">{{'project.risk_grade' | translate}} *</label>
                    <div class="form-group clearfix form-group-custom">
                        <select class="form-control"
                                ng-init="masterDropDownList({'master_key':'risk_grade'})"
                                ng-model="fdata.risk_grade" name="risk_grade"
                                ng-options="item.id as item.name for item in dropDownItems['risk_grade']"
                                required>
                            <option value="">{{'general.select' | translate}}</option>
                        </select>
                        <div ng-if="form.risk_grade.$error.required && form.$submitted"
                             class="error-message">
                            {{'general.required' | translate}}
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-sm-12 modal-footer border-none btn-custom mb0 clearfix text-center">
                    <button class="btn btn-primary f12" ng-click="form.$valid && formSubmit(fdata)">
                        {{'general.save' | translate}}
                    </button>
                    <button type="button" class="btn btn-default f12" ng-click="cancel()">
                        {{'general.cancel' | translate}}
                    </button>
                </div>
            </form>
        </div>
    </script>
</div>



