<div class="row clearfix" data-ng-controller="supervisionProjectCommitteeCtrl">

    <div class="col-sm-12 clearfix p0">
        <div class="col-sm-12">
            <div class="col-sm-12 p0">
                <table class="table c-table table-striped table-bordered table-hover display table-style">
                    <thead>
                    <tr>
                        <th>{{'Date' | translate}}</th>
                        <th>{{'Minutes' | translate}}</th>
                        <th>{{'Taken_Actions' | translate}}</th>
                        <th>{{'action' | translate}}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="row in rows">
                        <td>{{row.date}}</td>
                        <td>{{row.minutes}}</td>
                        <td>{{row.taken_actions}}</td>
                        <td>
                            <div class="clearfix pagination-wrap">
                                <ul class="icons-wrap pull-left">
                                    <li>
                                        <a href="javascript:;" class="ml0" uib-tooltip="Update"><i class="fa fa-edit" ng-click="openModel(row)"></i></a>
                                    </li>
                                    <li>
                                        <a href="javascript:;" class="ml0" uib-tooltip="Delete"><i class="fa fa-trash" ng-click="delete(row.id_supervision_project_committee)"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class="clearfix"></div>
                <div class="clearfix">
                    <button class="btn btn-primary btn-dark border-none f12 pull-right"
                            data-ng-click="openModel()">
                        <i class="fa fa-plus-circle"></i> {{'general.add_new' | translate}}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/ng-template" id="supervision_project_committee_model.html">
    <div class="right-modal clearfix modal-custom">
        <h3 class=" text-capitalize white-color p15 btn-dark">{{'project.project_supervision_project_committee' | translate}}
            <a ng-click="cancel()" class="close-right pull-right white-color"
               n-t='{"e_n":"Open modal","e_d":"supervision project committee, Project - {{projectTitle}}"}'>
                <i class="fa fa-close"></i>
            </a>
        </h3>
        <form name="form" novalidate>
            <div class="col-lg-12 clearfix pl0">
                <div class="col-lg-6 mb5">
                    <label class="control-label">{{'Date' | translate}} *</label>
                    <div class="input-group clearfix form-group-custom">

                        <input type="text" class="form-control white-bg" uib-datepicker-popup
                               data-ng-model="fData.date" type="text"
                               name="date" is-open="openCal4"
                               show-weeks="false" show-button-bar="false" readonly required/>
                          <span class="input-group-btn ">
                            <button type="button" class="btn btn-default border" ng-click="openCal4 = true">
                                <i class="fa fa-calendar"></i></button>
                          </span>
                    </div>
                    <div ng-if="form.date.$error.required && form.$submitted" class="error-message">
                        {{'general.required' | translate}}
                    </div>
                </div>

                <div class="col-lg-12">
                    <label class="control-label">{{'Minutes' | translate}} *</label>
                    <div class="form-group clearfix form-group-custom">
                       <textarea type="text" class="form-control" ng-model="fData.minutes" name="minutes" required></textarea>
                    </div>
                    <div ng-if="form.minutes.$error.required && form.$submitted"
                         class="error-message">
                        {{'general.required' | translate}}
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-lg-12">
                    <label class="control-label">{{'Taken_Actions' | translate}}</label>
                    <div class="form-group clearfix form-group-custom">
                        <textarea type="text" class="form-control" ng-model="fData.taken_actions" name="taken_actions"></textarea>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 text-center p10">
                <button class="btn btn-primary f14 mr4" ng-click="form.$valid && formSubmit(fData)">
                    {{'Save' | translate}}
                </button>
            </div>
        </form>
    </div>
</script>