<div class="row clearfix" data-ng-controller="supervisionAssessmentCtrl">

    <div class="col-sm-12 clearfix p0">
        <div class="col-sm-12">
            <div class="col-sm-12 p0">
                <table class="table c-table table-striped table-bordered table-hover display table-style">
                    <thead>
                    <tr>
                        <th>{{'general.general_introduction' | translate}}</th>
                        <th>{{'general.general_mission__findings' | translate}}</th>
                        <th>{{'general.general_proposed_action_plan' | translate}}</th>
                        <th>{{'general.general_next_supervision' | translate}}</th>
                        <th>{{'Attachments' | translate}}</th>
                        <th>{{'general.general_attachment_comments' | translate}}</th>
                        <th>{{'action' | translate}}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="row in rows">
                        <td>{{row.introduction}}</td>
                        <td>{{row.missing_findings}}</td>
                        <td>{{row.proposed_action_plan}}</td>
                        <td>{{row.next_supervision_date}}</td>
                        <td>
                            <div class="col-sm-12 pr0 pl5" uib-dropdown>
                                <label class="ash display-block f12">Attachments</label>
                                <label class="sky-blue menu-toggle c-dropdown"  ng-if="row.document.length >0" uib-dropdown-toggle >
                                    <any ng-if="row.document.length ==1">{{row.document.length}} {{'File' | translate}}</any>
                                    <any ng-if="row.document.length > 1">{{row.document.length}} {{'Files' | translate}}</any>
                                </label>
                                <ul class="dropdown-menu c-dropdown pl10" uib-dropdown-menu >
                                    <li ng-repeat="attach in row.document">
                                        <a ng-href="{{attach.document_source}}" target="_blank" download class="sky-blue">{{attach.document_name | getFileName:attach.document_name }}</a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                        <td>{{row.attachment_comments}}

                        </td>

                        <td>
                            <div class="clearfix pagination-wrap">
                                <ul class="icons-wrap pull-left">
                                    <li>
                                        <a href="javascript:;" class="ml0" uib-tooltip="Update"><i class="fa fa-edit" ng-click="openModel(row)"></i></a>
                                    </li>
                                    <li>
                                        <a href="javascript:;" class="ml0" uib-tooltip="Delete"><i class="fa fa-trash" ng-click="delete(row.id_supervision_assessment)"></i></a>
                                    </li>
                                    <li>
                                        <a href="javascript:;" class="ml0" uib-tooltip="Download"><i class="fa fa-download" ng-click="download(row.id_supervision_assessment)"></i></a>
                                    </li>
                                </ul>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class="clearfix"></div>
                <div class="clearfix">
                    <button class="btn btn-primary btn-dark border-none f12 pull-right"
                            data-ng-click="openModel()">
                        <i class="fa fa-plus-circle"></i> {{'general.add_new' | translate}}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>


<script type="text/ng-template" id="supervision_assessment.html">
    <div class="right-modal clearfix modal-custom">
        <h3 class=" text-capitalize white-color p15 btn-dark">{{'project.project_supervision_assessment' | translate}}
            <a ng-click="cancel()" class="close-right pull-right white-color"
               n-t='{"e_n":"Open modal","e_d":"Disbursement Request, Project - {{projectTitle}}"}'>
                <i class="fa fa-close"></i>
            </a>
        </h3>
        <form name="form" novalidate>
            <div class="col-lg-12 clearfix pl0">

                <div class="col-lg-6">
                    <label class="control-label">{{'general.general_introduction' | translate}} *</label>
                    <div class="form-group clearfix form-group-custom">
                        <input type="text" class="form-control" ng-model="fData.introduction" name="introduction" required>
                        <div ng-if="form.introduction.$error.required && form.$submitted"
                             class="error-message">
                            {{'general.required' | translate}}
                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <label class="control-label">{{'general.general_mission__findings' | translate}} *</label>
                    <div class="form-group clearfix form-group-custom">
                        <input type="text" class="form-control" ng-model="fData.missing_findings"
                               name="missing_findings" required>
                        <div ng-if="form.missing_findings.$error.required && form.$submitted"
                             class="error-message">
                            {{'general.required' | translate}}
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-lg-6">
                    <label class="control-label">{{'general.general_proposed_action_plan' | translate}} </label>
                    <div class="form-group clearfix form-group-custom">
                        <input type="text" class="form-control" ng-model="fData.proposed_action_plan"
                               name="proposed_action_plan">
                    </div>
                </div>
                <div class="col-lg-6 mb5">
                    <label class="control-label">{{'general.general_next_supervision' | translate}}</label>
                    <div class="input-group clearfix form-group-custom">
                        <input type="text" class="form-control white-bg" uib-datepicker-popup
                               data-ng-model="fData.next_supervision_date" type="text"
                               name="date" is-open="openCal4"
                               show-weeks="false" show-button-bar="false" readonly/>
                          <span class="input-group-btn ">
                            <button type="button" class="btn btn-default border" ng-click="openCal4 = true">
                                <i class="fa fa-calendar"></i></button>
                          </span>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="col-lg-12">
                    <label class="control-label">{{'Attachments' | translate}}</label>
                    <attachment-files ng-model="fData.file.attachments"></attachment-files>
                </div>
                <div class="form-input file-attachments col-sm-12">
                    <ul class="">
                        <li class="clearfix border-bottom" uploadedDocuments ng-repeat="files in fData.document" >
                            <div class="col-sm-1  p-l-0" upload-file  data-fileType="{{ files.document_mime_type }}" ><i class=""></i> </div>
                            <div class="col-sm-10">
                                <p class="f12 text-line" title="{{files.document_name}}">{{files.document_name}}</p>
                                <span class="display-block f11" ng-bind="files.date | date:'mediumDate'"></span>
                            </div>
                            <div class="col-sm-1 text-center">
                                <div class="relative">
                                    <i class="fa fa-download mr8"></i>
                                    <a href="{{ files.full_path }}" class="icon-link" download
                                       n-t='{"e_n":"Project Task - File Download","e_d":"File location - {{files.full_path}}, Project - {{projectTitle}}"}'/>  </a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>

                <div class="col-lg-12">
                    <label class="control-label">{{'general.general_attachment_comments' | translate}}</label>
                    <div class="form-group clearfix form-group-custom">
                        <textarea type="text" class="validate form-control" ng-model="fData.attachment_comments" name="attachment_comments"></textarea>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 text-center p10">
                <button class="btn btn-primary f14 mr4" ng-click="form.$valid && formSubmit(fData)">
                    {{'Save' | translate}}
                </button>
            </div>
        </form>
    </div>
</script>