<label class="control-label">{{field.field_label}}
    <any ng-if="field.required==1">*</any>
    <i class="fa fa-info-circle" ng-if="field.tool_tip_hint" uib-tooltip="{{field.tool_tip_hint}}"></i>
</label>
<div oc-lazy-load="utility" class="p10">
    <div t-widget ng-model="field.form_field_value" tw-modal-template="terms-conditions.html">
        <table class="table table-striped table-bordered table-hover display table-style">
            <thead>
            <tr>
                <th>{{'id' | translate}}</th>
                <th>{{'name' | translate}}</th>
                <th>{{'Detail_Definition' | translate}}</th>
                <th>{{'Value' | translate}}</th>
                <th>{{'action' | translate}}</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="row in rows track by $index">
                <td>{{row.id}}</td>
                <td>{{row.name}}</td>
                <td>{{row.detail_definition}}</td>
                <td>{{row.value}}</td>
                <td>
                    <div class="clearfix pagination-wrap">
                        <ul class="icons-wrap text-line pull-left">
                            <li><a ng-href="javascript:;" ng-click="twOpenModal(row)" class="fa fa-edit"></a>
                            </li>
                            <li><a ng-href="javascript:;" class="fa fa-trash" ng-click="twRemoveItem($index)"></a>
                            </li>
                        </ul>
                    </div>
            </tr>
            </tbody>
        </table>
        <button ng-click="twOpenModal()" class="btn btn-primary btn-dark border-none f12 pull-right"><i
                class="fa fa-plus-circle"></i> {{'general.add' | translate}}
        </button>

    </div>
</div>
<script type="text/ng-template" id="terms-conditions.html">
    <div class="right-modal modal-custom" oc-lazy-load="ngMap">
        <h3 class="right-modal-head">
            {{field.field_label}}
            <a class="close-right pull-right" ng-click="cancel()"><img src="images/close.png"></a>
        </h3>
        <div class="col-lg-12 clearfix">
            <form name="form" novalidate>
                <div class="col-sm-6">
                    <label class="control-label">ID *</label>
                    <input class="form-group clearfix form-control" name="id" ng-model="row.id" only-digits required>
                    <div ng-if="form.id.$error.required && form.$submitted" class="error-message">
                        {{'general.required' | translate}}
                    </div>
                </div>
                <div class="col-sm-6">
                    <label class="control-label">{{'name' | translate}} *</label>
                    <input class="form-group clearfix form-control" name="name" ng-model="row.name" required>
                    <div ng-if="form.name.$error.required && form.$submitted" class="error-message">
                        {{'general.required' | translate}}
                    </div>
                </div>

                <div class="col-sm-6">
                    <label class="control-label">{{'Value' | translate}} *</label>
                    <input class="form-group clearfix form-control" name="value" ng-model="row.value"
                           ui-number-mask="2" required>
                    <div ng-if="form.value.$error.required && form.$submitted" class="error-message">
                        {{'general.required' | translate}}
                    </div>
                </div>
                <div class="col-sm-12">
                    <label class="control-label">{{'Detail_Definition' | translate}} *</label>
                <textarea class="form-group clearfix form-control" name="detail_definition"
                          ng-model="row.detail_definition" required></textarea>
                    <div ng-if="form.detail_definition$error.required && form.$submitted" class="error-message">
                        {{'general.required' | translate}}
                    </div>
                </div>
                <div class="col-sm-12 modal-footer border-none btn-custom mb0 clearfix text-center">
                    <button type="submit" class="btn btn-primary f12" ng-click="form.$valid && addTwRow(row)">{{'Save' | translate}}
                    </button>
                    <button type="button" class="btn btn-default f12" ng-click="cancel()">{{'general.cancel' | translate}}</button>
                </div>
            </form>
        </div>
    </div>
    </div>

</script>