<div class="pl10 pr10 tp-wrap" st-table st-pipe="getNotificationModuleList">
    <h3 class="darkcolor clearfix pt5 pb5 border-bottom2x mb15">
        <span class="display-inline-block f14 bold pt5">Notifications <span class="sky-blue bold"><!--{{totalNotificationCount}}--></span></span>
   <!--     <input class="f12 pull-right p2 mb10" type="text" placeholder="All" st-search="search_key" ng-model="notification_search"/>
  -->  </h3>
    <div  ng-scrollbars win-height wh-offset="176">
        <div class="meeting-inv-wrap clearfix" ng-repeat="n in notificationModuleList">
            <h6 class="f12 darkcolor">{{n.module_reference_type | capitalize}} :
                {{n.notification_subject}}
                <a class="meeting-inv-wrap-status red-bg" ng-if="n.notification_status==''">New</a>
            </h6>
            <div class="meeting-inv-wrap-body">
                <div ng-bind-html="n.notification_template | trusted " text-line></div>
            </div>
            <div class="meeting-inv-wrap-footer">
                <span class="sky-blue text-line">{{n.user_name}}</span>
                <span class="pull-right gray">{{n.created_date_time|utcToLocal}}</span>
            </div>
        </div>
        <div class="text-center clearfix pb20">
            <div id="notification_module_loader" class="text-center display-block">
                <img src="images/loader2.gif" width="25" height="25" alt="LOADING...">
            </div>
            <st-pagination st-items-by-page="10" st-template='loader-template.html' >

            </st-pagination>
        </div>
    </div>
</div>
<script type="text/ng-template" id="loader-template.html">
    <button ng-if="numPages >= 2 && currentPage != numPages" ng-click="selectPage(currentPage + 1)" class="btn btn-dark f12 border-none mr4 mb5"
    n-t='{"e_n":"Notification - Load More","e_d":""}'> Load More
    </button>
</script>