<div id="contentArea" class="content-area animated fadeInRight p-l-0" >
    <div class="table-structure">
        <div class="col-sm-12 p0  clearfix">
            <form name="approval" novalidate>
                <div class="pull-right">
                    <lable class="control-label darkcolor f14 pull-left mr8 f13 mt5">{{'Change Pre Approval Structure' | translate}}: </lable>
                    <div class="width220 pull-left">
                        <select class="form-control"
                                ng-options="approval.id_company_approval_structure as approval.approval_structure_name for approval in approvalList"
                                name="company_approval_structure_id"
                                ng-model="product.id_company_approval_structure"
                                required ><option value=""></option>
                        </select>
                    </div>
                    <button class="f13 btn btn-dark white-color ml15" confirmed-click="updateApprovalStructure(product.id_company_approval_structure)" ng-confirm-click="Changing Approval structure may Impact existing Loans, Do you want to continue?"> {{'Apply' | translate}}  </button>
                </div>
            </form>
        </div>
    </div>
</div>
