<!--
<h3 class="fixed content-heading">
{{'Product List' | translate}}
</h3>
<div id="contentArea" class="content-area animated fadeInRight">
    <div class="content-container clearfix light-blue-bg" win-height>

        <div class="right-fixed-container clearfix">
            <div class="col-sm-12 p0 clearfix">

                <div class="table-wrapper no-bg pt15 overflow-hidden">
                    <table class="table-list-view table table-striped row-pointer" st-pipe="callServer" st-table="displayed">

                        <tbody>&lt;!&ndash;ng-click="companyView(row.id_crm_company)"&ndash;&gt;

                        <tr ng-repeat="row in productList" ui-sref="product.tabs({productId: (row.id_product | encode ) })"
                            n-t='{"e_n":"View {{row.product_name}} - Product Admin","e_d":"{{category.risk_category_name}}"}'>
                            <td class="img"><span first-alpha="{{row.product_name}}"></span></td>
                            <td><label class="f11 lh11 label-text">Product Name </label><b>{{row.product_name}}</b>
                            </td>
                            &lt;!&ndash;<td><b>Bharath</b><label class="f11 lh11">CEO</label></td>&ndash;&gt;
                            <td>
                                <label><span class="label-text">Created Date : </span>{{row.created_date_time | utcToLocal:'date'}} </label>
                                &lt;!&ndash;<label><span class="label-text">Product No : </span>{{row.id_product}}</label>&ndash;&gt;
                                <label><span class="label-text">Approval Structure : </span>{{row.approval_structure_name}}</label>
                            </td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <td colspan="7" class="text-center">
                                <div st-items-by-page="10" st-pagination="" st-template="partials/list-pagination.custom.html" class="pull-right"></div>
                            </td>
                        </tr>
                        </tfoot>
                    </table>

                </div>
            </div>
            <div class="right-fixed t20">
                <div class="col-sm-12 p0 border">
                    <h3 class="custom-head">{{'Add New Product' | translate}}</h3>

                    <div class="form-group clearfix p10  form-group-custom white-bg m0 sm-form">&lt;!&ndash;ng-submit="submitQuickCompany(company,form,moreFields)"&ndash;&gt;
                        <form class="" name="form" novalidate>

                            <label class="control-label">{{'Product Name' | translate}}*</label>

                            <div class="form-group clearfix form-group-custom">
                                <input type="text" class="form-control" ng-model="product.product_name" name="product_name" required>

                                <div ng-if="form.product_name.$error.required && submitted" class="error-message">
                                    {{'Enter product name' | translate}}
                                </div>
                            </div>
                            <label class="control-label">{{'Approval Structure' | translate}}*</label>

                            <div class="form-group clearfix form-group-custom">

                                <select class="form-control" name="company_approval_structure_id" ng-model="product.company_approval_structure_id" required>
                                    <option value="">&#45;&#45;Select Approval Structure&#45;&#45;</option>
                                    <option ng-repeat="approval in approvalList" ng-value="approval.id_company_approval_structure">
                                        {{approval.approval_structure_name}}
                                    </option>
                                </select>
                                <div ng-if="form.company_approval_structure_id.$error.required && submitted" class="error-message">
                                    {{'Select approval structure' | translate}}
                                </div>
                            </div>
                            <label class="control-label">Pre Approval Structure*</label>
                            <div class="form-group clearfix form-group-custom">

                                <select class="form-control" name="company_pre_approval_structure_id" ng-model="product.company_pre_approval_structure_id" required>
                                    <option value="">&#45;&#45;Select Pre Approval Structure&#45;&#45;</option>
                                    <option ng-repeat="approval in preApprovalList" ng-value="approval.id_company_approval_structure">
                                        {{approval.approval_structure_name}}
                                    </option>
                                </select>
                                <div ng-if="form.company_pre_approval_structure_id.$error.required && submitted" class="error-message">
                                    {{'Select Pre approval structure' | translate}}
                                </div>
                            </div>


                            <div class="col-lg-12 btn-custom clearfix text-center  mb0 mt10">
                                <button type="submit" class="btn btn-primary f12 border-none lt-bg mr4" ng-click="submitted = true ;submitQuickProduct(product,form)"
                                    n-t='{"e_n":"Add Product","e_d":"", "form": "{{form.$valid}}"}'>
                                    {{'Save' | translate}}
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
-->
<h3 class="fixed content-heading"> {{'admin.product.product_list' | translate}}</h3>
<div id="contentArea" class="content-area animated fadeInRight">
    <div class="content-container p20 clearfix light-blue-bg">
        <div class="col-sm-12 btn-custom pl5">
            <span class="darkcolor f14">{{'admin.product.product_list' | translate}}</span>
            <button class="pull-right btn btn-sm btn-primary" type="button" ng-click="addProduct()">
                <i class="fa fa-plus-circle"></i> {{'general.add' | translate}}</button>
        </div>
        <div class="row col-sm-12 col-lg-12">
            <div class="col-lg-3 col-sm-4 pl0" ng-repeat="row in productsList">
                <div class="col-sm-11 pad0">
                    <div class="list-data mb5 white-bg p10 full-width">
                        <div class="list-img pull-left dark-blue">
                            <span class="img"><span first-alpha="{{row.product_name}}"></span></span>
                        </div>
                        <div class="list-text overflow-hidden">
                            <h5 class="f14 darkcolor mt10">{{row.product_name}}
                                <span class="display-inline-block custom-list valign-middle pull-right relative mt5" uib-dropdown
                                      style="margin-top: -7px;margin-right: 5px;">
                                    <a href="javascript:;" class="menu-toggle dropdown-toggle" uib-dropdown-toggle><i
                                            class="fa fa-ellipsis-v f21 bamboo-green"></i></a>
                                    <ul class="dropdown-menu width150" uib-dropdown-menu>
                                        <li>
                                            <a href="javascript:;" ng-click="addProduct(row)">{{'general.edit' | translate}}</a>
                                        </li>
                                        <li>
                                            <a href="javascript:;" ui-sref="product.tabs.workflow-info({name:row.product_name,productId:(row.id_product | encode )})">{{'general.view' | translate}}</a>
                                        </li>
                                    </ul>
                                </span>
                            </h5>
                            <span class="f11 gray">{{'admin.product.active_since' | translate}} :<span class="darkcolor">{{row.last_modified_on | utcToLocal:'date'}}</span></span><br/>
                            <span class="f11 gray">{{'admin.product.no_of_projects' | translate}} :<span class="darkcolor">{{row.no_of_projects}}</span></span><br/>
                            <span class="f11 gray">{{'admin.product.total_exposure' | translate}} :<span class="darkcolor">{{row.total_exposure}}</span></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/ng-template" id="add-product.html">
    <div class="right-modal modal-custom overflow-x-visible" data-modal="addAssessment">
        <h3 class="right-modal-head">
            {{title | translate}}
            <a class="close-right pull-right" ng-click="cancel()" uib-tooltip="{{'general.close' | translate}}"
               n-t='{"e_n":"Cancel add product Admin","e_d":""}'><img src="images/close.png"></a>
        </h3>
        <form class="form-bordered" name="form" ng-submit="form.$valid && saveProduct(product)" novalidate>
            <div class="form-group clearfix p10  form-group-custom white-bg m0">
                <div class="col-sm-12">
                    <label class="darkcolor f14">{{'admin.product.product_name' | translate}} *</label>
                    <div class="form-group clearfix form-group-custom">
                        <input type="text" name="application_role_name"
                               data-ng-model="product.product_name" class="form-control "
                               placeholder="Product Name" required/>
                        <div ng-if="form.application_role_name.$error.required && submitted"
                             class="error-message">{{'general.required' | translate}}
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 mt10 mb10 text-center">
                    <button type="submit" class="btn btn-dark white-color mr8 f12"
                            n-t='{"e_n":"Save product","e_d":"product.product_name"}'>{{'general.save' | translate}}
                    </button>
                    <button type="button" class="btn white-color lt-bg f12" ng-click="cancel()"
                            n-t='{"e_n":"Cancel product","e_d":""}'>
                        {{'general.cancel' | translate}}
                    </button>
                </div>
            </div>
        </form>
    </div>
</script>