<p class="f14"><span class="display-inline-block valign-middle mt5 mr4">{{'For managing Risk Factor Rating' | translate}}</span><a
        n-t='{"e_n":"View Risk Management Page Admin","e_d":""}'
        ui-sref="adm.risk-assessment" class="btn btn-dark white-color f12 ml15">
    {{'Click Here' | translate}}
</a></p>