<div id="contentArea" class="content-area animated fadeInRight p-l-0" >
    <div class="table-structure">
        <div class="col-sm-12 p0 clearfix">
            <form name="approval" novalidate>

                <div class="pull-right">
                    <lable class="control-label darkcolor f14 pull-left mr8 f13 mt5">{{'Change Approval Structure' | translate}}: </lable>
                    <div class="width220 pull-left">
                        <select class="form-control"
                                ng-options="approval.id_company_approval_structure as approval.approval_structure_name for approval in approvalList"
                                name="company_approval_structure_id"
                                ng-model="product.id_company_approval_structure"
                                required >
                        </select>
                    </div>
                    <button class="f13 btn btn-dark white-color ml15" n-t='{"e_n":"Update Limit And Approval Admin","e_d":""}' confirmed-click="updateApprovalStructure(product.id_company_approval_structure)" ng-confirm-click="Changing Approval structure may Impact existing Loans, Do you want to continue?"> {{'Apply' | translate}}  </button>
                </div>

                <div class="pull-left">
                    <div class="add-more-wrap">
                        <a href="javascript:;" ng-click="addMore=!addMore; addMoreText=addMore?'Open':'Closed'" class="add-btn text-decoration-none m0"
                           n-t='{"e_n":"Add Limits for Sector Limit And Approval Admin","e_d":"{{addMoreText}}"}' >Add Limits for Sector <i class="fa fa-add-sm ml5"></i> </a>
                        <!--<button data-ng-click="updateSector(productLimitsApprovals.data)" type="submit" class="f13 btn btn-dark white-color ml5"> Update  </button>-->
                        <div class="add-more-div" ng-show="addMore">
                            <div class="add-more-head clearfix">
                                <h5 class="display-inline-block pull-left white-color mb10 f14">{{'Select Sector' | translate}}</h5>
                                <a class="pull-right" ng-click="addMore=!addMore" n-t='{"e_n":"Add Limits for Sector Limit And Approval Admin","e_d":"{{addMoreText}}"}'><i class="fa fa-close-sm"></i> </a>
                            </div>
                            <!--{{ sectorsList }}-->
                            <div class="add-more-body">
                                <select class="form-control" name="sectorValue"
                                        ng-change="addSector(sectorValue)"
                                        ng-model="sectorValue"
                                        ng-options="option.sector_name for option in sectorsList" >
                                    <option value="">{{'Select Sector' | translate}}</option>
                                    <!-- <option data-ng-repeat="option in sectorsList" value="{{option.id_sector}}"> {{ option.sector_name }}</option>-->
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            </div>
        <div class="t-str-wrap">
            <form name="form" novalidate >
                <table class="table t-str-view">
                    <tr>
                        <td>
                            <table class="table-fixed">
                                <thead>
                                    <tr>
                                        <th>Approval Structure
                                            <p class="anc-text-indent">
                                                <a class="label label-success font-normal f10" href="javascript:;"
                                                   n-t='{"e_n":"Update Limits for Sector Limit And Approval Admin","e_d":"{{addMoreText}}"}'>{{'Update' | translate}}</a>
                                                <a class="label label-danger font-normal f10" href="javascript:;"
                                                   n-t='{"e_n":"Delete Limits for Sector Limit And Approval Admin","e_d":"{{addMoreText}}"}'>{{'Delete' | translate}}</a>
                                            </p>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody data-ng-repeat="approval in productLimitsApprovals.data">
                                    <tr class="theading" ng-if="approval.committee.length"> <!--ng-if="approval.committee.length"-->
                                        <td class="dark-blue">{{approval.branch_type_name}}</td>
                                    </tr>
                                    <tr data-ng-if="approval.committee" data-ng-repeat="committee in approval.committee">
                                        <td><p class="f13 dark-blue word-break text-line width90p" title="{{committee.credit_committee_name}}">{{committee.credit_committee_name}}</p></td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                        <td>
                            <div class="c-hscroll" table-horizontal>
                                <table>
                                    <thead>
                                        <tr>
                                            <th data-ng-repeat="sector in productLimitsApprovals.sectors" title="{{ sector.sector_name }}" >{{ sector.sector_name }}
                                                <p>
                                                    <a class="label label-success font-normal f10" href="javascript:;" data-ng-click="updateSector(productLimitsApprovals.data,sector.id_sector)" >{{'Update' | translate}}</a>
                                                    <a ng-hide="$index == 0" class="label label-danger font-normal f10" href="javascript:;" data-ng-click="deleteSector(sector.id_sector)" >{{'Delete' | translate}}</a>
                                                </p>

                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody data-ng-repeat="approval in productLimitsApprovals.data">
                                        <tr class="theading" data-ng-if="approval.committee.length">
                                            <td data-ng-repeat="sector in productLimitsApprovals.sectors" ></td>
                                        </tr>
                                        <tr data-ng-if="approval.committee" data-ng-repeat="committee in approval.committee">
                                            <td data-ng-repeat="lmt in committee.limit" >
                                                <div ng-class="{'has-error': lmt.invalid }" >
                                                    <input  data-ng-model="lmt.amount" class="form-control dark-blue f13" type="text" required ui-money-mask="0" >
                                                    <!--<div ng-show="form.name.$error.required" class="error-message">Enter amount.</div>-->
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </td>
                    </tr>
                </table>
                <!--<button type="submit" data-ng-click="updateSector(productLimitsApprovals.data)" > Update  </button>-->

            </form>
        </div>

    </div>
</div>
