<div id="contentArea" class="content-area animated fadeInRight p-l-0" ng-controller="ProjectCreationCtrl">
    <div class="content-container clearfix mt20 light-blue-bg">
        <div class="left-panel pull-left">
            <div class="pull-left pl10">

                <ul class="tab-accord-list">
                    <li ng-repeat="section in projectObj" ng-init="sectionIndex = $index">
                        <a data-tabs="#tab_{{section.id_section}}"><i class="fa" ng-class="getCheckSection(section.id_section)"></i>{{section.section_name}}</a>
                        <ul class="sub-list">
                            <li ng-class="{'active': formData.id_form==form.id_form}"  ng-repeat="form in section.form" ng-click="loadTemplate(form,section.id_section)" >
                                <div ng-if="sectionIndex==0 && $index==0" ng-init="loadTemplate(form, section.id_section)"></div>
                                <i class="fa" ng-class="getCheck(form.id_form)"></i><span class="f12">{{form.form_name}}</span>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
            <!--contact-left-panel-->
        </div>
        <div class="contact-right-panel" ng-if="formData">

            <div class="right-section-wrap">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <div class="accordion_head clearfix p10 head-wrap-new">
                            <h1 class="f16 blue roboto-condensed mt5">{{formData.form_name}}</h1>
                            <span class="pull-right"></span>
                            <!-- <a title="Options" href="#"><i class="fa fa-check"></i></a>
                             <a href="javascript:;" data-toggle="dropdown" class="menu-toggle dropdown-toggle">
                                 <i class="fa fa-bars"></i> </a>
                             </span>-->
                            <!--<span ng-click="opened(group, $index)">{{form.form_name}}</span>-->
                        </div>
                    </div>
                    <div class="panel-body ">
                        <div class="col-lg-12 white-bg form-read-only">
                            <div ng-include="'partials/crm/project/forms/'+formData.form_template" onload="formDetails=formData"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--Details Area _End-->
    </div>
</div>

