<div class="qpanel product-clist  clearfix">
    <div class="">
        <div class="col-sm-12 pr0 pl5">
            <span class="darkcolor f18 bold">{{productDetails.product_name}}</span>
            <div class="pb15 clearfix">
                <div class="row col-sm-12 col-lg-12">
                    <div class="col-sm-4">
                        <label class="control-label display-block f14 pull-left mr8 f13 mt5">{{'admin.product.created_by' | translate}}</label>
                        <span class="display-block darkcolor f14 pull-left mr8 f13 mt5">{{productDetails.created_by_user_name}}</span>
                    </div>
                    <div class="col-sm-4">
                        <label class="control-label display-block f14 pull-left mr8 f13 mt5">{{'admin.product.no_of_project' | translate}}</label>
                        <span class="display-block darkcolor f14 pull-left mr8 f13 mt5">{{productDetails.no_of_projects}}</span>
                    </div>
                    <div class="col-sm-4"></div>
                </div>
                <div class="row col-sm-12 col-lg-12">
                    <div class="col-sm-4">
                        <label class="control-label display-block f14 pull-left mr8 f13 mt5">{{'admin.product.last_modified_on' | translate}}</label>
                        <span class="display-block darkcolor f14 pull-left mr8 f13 mt5" ng-if="productDetails.last_modified_on=='---'">{{productDetails.last_modified_on }}</span>
                        <span class="display-block darkcolor f14 pull-left mr8 f13 mt5" ng-if="productDetails.last_modified_on!='---'">{{productDetails.last_modified_on | utcToLocal:'MMM d, y' }}</span>
                    </div>
                    <div class="col-sm-4">
                        <label class="control-label display-block f14 pull-left mr8 f13 mt5">{{'admin.product.total_exposure' | translate}}</label>
                        <span class="display-block darkcolor f14 pull-left mr8 f13 mt5"> -- </span>
                    </div>
                    <div class="col-sm-4"></div>
                </div>
            </div>
            <div class="role-module clearfix parent">
                <div class="col-sm-12 p0">
                    <div class="role-left col-sm-3">
                        <div parent-scroll>
                            <ul>
                                <li ng-class="{active : row==selectRow}" ng-repeat="row in productStages"
                                    ng-click="getStageData(row)">
                                    <a href="javascript:;">{{row.stage_name}}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="role-right col-sm-9">
                        <div class="clearfix col-sm-12 pt5">
                            <span>{{selectRow.stage_name}}</span>
                        </div>
                        <div class="clearfix">
                            <div class="col-sm-12 clearfix">
                                <table class="table-list-view table c-table table-hover table-style">
                                    <thead>
                                    <tr>
                                        <th> </th>
                                        <th style="width: 70%;">{{'admin.product.step' | translate}}</th>
                                        <th style="width: 10%;">{{'admin.product.type' | translate}}</th>
                                        <!--<th style="width: 10%;">{{'admin.product.process' | translate}}</th>-->
                                        <th style="width: 5%;">{{'admin.product.action' | translate}}</th>
                                    </tr>
                                    </thead>
                                    <tbody ng-repeat="data in tableData" ng-if="tableData.length>0">
                                    <tr style="border: none;">
                                        <td>{{$index+1}}</td>
                                        <td>{{data.workflow_phase_name}}</td>
                                        <td>{{data.product_workflow_approval_type}}</td>
                                        <!--<td>{{data.product_workflow_approval_process}}</td>-->
                                        <td>
                                            <ul class="icons-wrap" style="width:100px !important;">
                                                <li ng-if="data.is_default=='0'">
                                                    <a href="javascript:;" ng-click="addStageStep(data)" class="fa fa-edit" uib-tooltip="{{'general.edit' | translate}}" n-t="{'e_n':'Admin Product Edit','e_d':''}"></a>
                                                </li>
                                                <li ng-if="data.is_default=='0'">
                                                    <a href="javascript:;" ng-click="deleteWorkFlow($index)" class="fa fa-trash" uib-tooltip="{{'general.delete' | translate}}" n-t="{'e_n':'Admin Product delete','e_d':''}"></a>
                                                </li>
                                                <li>
                                                    <a href="javascript:;" ng-click="manageActionsWorkFlow(data,selectRow)" class="fa fa-gear" uib-tooltip="{{'Manage Actions' | translate}}"
                                                       n-t="{'e_n':'Admin Product Manage Actions','e_d':'Actions'}"></a>
                                                </li>
                                            </ul>
                                        </td>
                                    </tr>
                                    <tr style="border: 1px solid #eee;" ng-init="step=$index+1;" class="pt0 pb0">
                                        <td colspan="4">
                                            <table class="table mt0 mb0">
                                                <tbody>
                                                <tr class="inner-table">
                                                    <td></td>
                                                    <td></td>
                                                    <td class="bold">{{'admin.product.action' | translate}}</td>
                                                    <td class="bold">{{'admin.product.step' | translate}}/{{'admin.product.stage' | translate}}</td>
                                                    <td class="bold">{{'admin.product.assigned_to' | translate}}</td>
                                                </tr>
                                                <tr ng-repeat="row in data.workflow_actions_data" class="inner-table">
                                                    <td></td>
                                                    <td>{{step}}.{{$index+1}}</td>
                                                    <td>{{row.workflow_action_name}}</td>
                                                    <td>
                                                        <span ng-if="row.workflow_phase_name">{{row.workflow_phase_name}}</span>
                                                        <span ng-if="!row.workflow_phase_name">{{row.next_project_stage_name | checkEmpty}}</span>
                                                    </td>
                                                    <td>
                                                        <span ng-if="row.next_project_stage_assign_type=='Owner'">{{'admin.product.owner' | translate}}</span>
                                                        <span ng-if="row.next_project_stage_assign_type=='User' || row.next_project_stage_assign_type=='Role'">{{row.next_project_stage_assign_type}}({{row.next_project_stage_assign_to_name}})</span>
                                                        <span ng-if="row.next_project_stage_assign_type!='Owner' && row.next_project_stage_assign_to_name==null">---</span>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                    </tr>
                                    </tbody>
                                    <tbody ng-if="tableData.length<=0">
                                    <td colspan="4" class="text-center">{{'general.no_data_found' | translate}}</td>
                                    </tbody>
                                </table>
                                <div class="btn-custom">
                                    <button type="button" class="btn btn-sm btn-primary" ng-click="addStageStep()">{{'general.add' | translate}} {{'admin.product.step' | translate}}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/ng-template" id="manage-actions.html">
    <div class="right-modal modal-custom overflow-x-visible" data-modal="addAssessment">
        <h3 class="right-modal-head">
            {{'Manage Actions' | translate}}
            <a class="close-right pull-right" ng-click="cancel()"
               uib-tooltip="{{'general.close' | translate}}"><img src="images/close.png"></a>
        </h3>
        <form class="form-bordered" name="form" novalidate>
            <div class="form-group clearfix p10  form-group-custom white-bg m0">
                <!--<div class="col-sm-12 pl0 pull-right" ng-show="workflow_next_stage_details.stage_key && action.workflow_action.is_approve=='1'">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-9">
                        <label class="darkcolor f14 col-sm-12 p0 font-italic">{{'admin.product.next_stage' | translate}}</label>
                        <label class="darkcolor f14 col-sm-12 p0 bold">{{workflow_next_stage_details.stage_name}}</label>
                    </div>
                </div>-->
                <div class="col-sm-12 pl0">
                    <div class="col-sm-3">
                        <label class="darkcolor f14">{{'Action' | translate}} *</label>
                        <div class="form-group clearfix form-group-custom">
                            <select name="action_name"
                                   data-ng-model="action.workflow_action" class="form-control" required
                                   ng-options="item as item.workflow_action_name for item in workFlowActions">
                                  <option value="">{{'general.select' | translate}}</option>
                            </select>
                            <div ng-if="form.$submitted && form.action_name.$error.required"
                                 class="error-message">{{'general.required' | translate}}
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-3" ng-show="action.workflow_action.is_approve!='1' && workflow_next_stage_details.stage_key && action.workflow_action!='' && action.workflow_action!=null">
                        <label class="darkcolor f14">{{'admin.product.step' | translate}}</label>
                        <div class="form-group clearfix form-group-custom">
                            <select name="phase_name"
                                    data-ng-model="action.workflow_phase" class="form-control"
                                    ng-options="item as item.workflow_phase_name for item in workFlowPhases">
                                <option value="">{{'general.select' | translate}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-3" ng-show="workflow_next_stage_details.stage_key && action.workflow_action.is_approve=='1' && action.workflow_action!='' && action.workflow_action!=null">
                        <!--<label class="darkcolor f14">{{'admin.product.type' | translate}}</label>-->
                        <label class="darkcolor f14 bold">{{workflow_next_stage_details.stage_name}}</label>
                        <div class="form-group clearfix form-group-custom">
                            <select name="next_project_stage_assign_type"
                                    data-ng-model="action.next_project_stage_assign_type" class="form-control">
                                <option value="">{{'general.select' | translate}}</option>
                                <option value="Owner">{{'admin.product.owner' | translate}}</option>
                                <option value="User">{{'admin.product.user' | translate}}</option>
                                <option value="Role">{{'admin.product.role' | translate}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-4" ng-show="workflow_next_stage_details.stage_key && action.workflow_action.is_approve=='1' && action.workflow_action!='' && action.workflow_action!=null && action.next_project_stage_assign_type=='User'">
                        <label class="darkcolor f14">{{'admin.product.user' | translate}}</label>
                        <div class="form-group clearfix form-group-custom">
                            <select name="phase_name"
                                data-ng-model="action.next_project_stage_assign_to" class="form-control"
                                ng-options="user.id_user as (user.first_name + ' ' + user.last_name) for user in userList">
                                <option value="">{{'general.select' | translate}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-4" ng-show="workflow_next_stage_details.stage_key && action.workflow_action.is_approve=='1' && action.workflow_action!='' && action.workflow_action!=null && action.next_project_stage_assign_type=='Role'">
                        <label class="darkcolor f14">{{'admin.product.role' | translate}}</label>
                        <div class="form-group clearfix form-group-custom">
                            <select name="phase_name"
                                    data-ng-model="action.next_project_stage_assign_to" class="form-control"
                                    ng-options="user.id_approval_role as user.approval_name for user in userRoles">
                                <option value="">{{'general.select' | translate}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-2 form-group pt27">
                        <label></label>
                        <a ng-show="action.workflow_action" type="submit"
                                ng-click="getNewActions(action,form)"><i class="icon-plus-circle green f21"></i></a>
                    </div>
                </div>
                <div class="col-sm-12">
                    <table class="table-list-view table c-table table-hover table-style">
                        <thead>
                            <tr>
                                <th>{{'admin.product.action' | translate}}</th>
                                <th>{{'admin.product.step' | translate}}/{{'admin.product.stage' | translate}}</th>
                                <th>{{'admin.product.assigned_to' | translate}}</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="row in managedActions">
                                <td>{{row.workflow_action_name}}</td>
                                <td>
                                    <span ng-if="row.workflow_phase_name">{{row.workflow_phase_name}}</span>
                                    <span ng-if="!row.workflow_phase_name">{{row.next_project_stage_name | checkEmpty}}</span>
                                </td>
                                <td>
                                    <span ng-if="row.next_project_stage_assign_type=='Owner'">{{'admin.product.owner' | translate}}</span>
                                    <span ng-if="row.next_project_stage_assign_type=='User' || row.next_project_stage_assign_type=='Role'">{{row.next_project_stage_assign_type}}({{row.next_project_stage_assign_to_name}})</span>
                                    <span ng-if="row.next_project_stage_assign_type!='Owner' && row.next_project_stage_assign_to_name==null">---</span>
                                </td>
                                <td><a ng-click="removeActionPhase(row,$index)" uib-tooltip="{{'general.delete'| translate}}"><i class="icon-trash"></i></a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-sm-12 mt10 mb10 text-center">
                    <button type="button" class="btn btn-dark white-color mr8 f12"
                            ng-show="managedActions.length > 0"
                            ng-click="saveProductWorkflowActions(managedActions)"
                            n-t='{"e_n":"Save product","e_d":"product.product_name"}'>{{'general.save' | translate}}
                    </button>
                    <button type="button" class="btn white-color lt-bg f12" ng-click="cancel()"
                            n-t='{"e_n":"Cancel product","e_d":""}'>
                        {{'general.cancel' | translate}}
                    </button>
                </div>
            </div>
        </form>
    </div>
</script>