<div class="right-modal modal-custom overflow-x-visible" data-modal="addAssessment">
    <h3 class="right-modal-head">
        {{'admin.product.setup_workflow' | translate}}
        <a class="close-right pull-right" ng-click="cancel()" uib-tooltip="{{'general.back' | translate}}"
           n-t='{"e_n":"Cancel {{modalTitle}} Admin","e_d":""}'><img src="images/close.png"></a>
    </h3>
    <form class="form-bordered" name="form" ng-submit="form.$valid && saveRole(setup)" novalidate>
        <div class="form-group clearfix p10 form-group-custom white-bg m0">
            <div class="col-sm-12">
                <label class="darkcolor f14">{{'general.name' | translate}} *</label>
                <div class="form-group clearfix form-group-custom">
                    <input type="text" name="application_role_name"
                           data-ng-model="setup.workflow_phase_name" class="form-control "
                           placeholder="Name" required/>
                    <div ng-if="form.application_role_name.$error.required && submitted"
                         class="error-message">{{'general.required' | translate}}
                    </div>
                </div>
            </div>
            <div class="col-sm-12 p0">
                <div class="col-sm-6">
                    <label class="darkcolor f14">{{'admin.product.type' | translate}}</label>
                    <div class="form-group clearfix form-group-custom">
                        <select class="form-control" name="type" ng-model="setup.product_workflow_approval_type"
                                ng-disabled="isEdit"
                                ng-change="setup.user = '';approver_info=[];">
                            <option value="">{{'general.select' | translate}}</option>
                            <option value="Role">{{'admin.product.role' | translate}}</option>
                            <option value="User">{{'admin.product.user' | translate}}</option>
                            <option value="Committee">{{'admin.product.committe' | translate}}</option>
                        </select>
                        <div ng-if="form.type.$error.required && submitted"
                             class="error-message">{{'general.required' | translate}}
                        </div>
                    </div>
                </div>
                <div class="col-sm-6" ng-init="setup.workflow_phase_status=setup.workflow_phase_status?setup.workflow_phase_status:'1';">
                    <label class="darkcolor f14">Status</label>
                    <div class="form-group clearfix form-group-custom">
                        <select class="form-control" name="status" ng-model="setup.workflow_phase_status">
                            <option value="1">{{'general.active' | translate}}</option>
                            <option value="0">{{'general.inactive' | translate}}</option>
                        </select>
                        <div ng-if="form.status.$error.required && submitted"
                             class="error-message">{{'general.required' | translate}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12" ng-show="setup.product_workflow_approval_type">
                <label class="darkcolor f14">Select {{setup.product_workflow_approval_type}}</label>
                <div ng-class="setup.product_workflow_approval_type=='Committee'?'col-sm-11':'col-sm-12'"
                     class="pl0 form-group clearfix form-group-custom" ng-if="setup.product_workflow_approval_type == 'Role'">
                    <select chosen class="chosen-select"
                            name="role" ng-model="setup.role"
                            ng-options="user.id_approval_role as user.approval_name for user in userRoles">
                    </select>
                    <div ng-if="form.status.$error.required && submitted"
                         class="error-message">{{'general.required' | translate}}
                    </div>
                </div>
                <div ng-class="setup.product_workflow_approval_type=='Committee'?'col-sm-11':'col-sm-12'"
                     class="col-sm-11 pl0 form-group clearfix form-group-custom col-sm-11 pl0" ng-if="setup.product_workflow_approval_type != 'Role'">
                    <select chosen class="chosen-select"
                            name="user" ng-model="setup.user"
                            ng-options="user.id_user as (user.first_name + ' ' + user.last_name) for user in userList">
                    </select>
                    <div ng-if="form.status.$error.required && submitted"
                         class="error-message">{{'general.required' | translate}}
                    </div>
                </div>
                <span
                        ng-if="setup.product_workflow_approval_type == 'Committee'"
                        class="col-sm-1 pr0"
                        ng-click="addUser(setup.user)">
                        <a href="javascript:;" uib-tooltip="Add" class="icon-plus-circle f21 sky-blue"
                           n-t='{"e_n":"Add {{modalTitle}} - {{setup.product_workflow_approval_type}}","e_d":"{{setup.product_workflow_approval_type}}"}'> </a>
                </span>
            </div>
            <div class="clearfix"></div>
            <div class="col-sm-12">
                <div class="form-group clearfix form-group-custom" ng-if="setup.product_workflow_approval_type != ''">
                    <!--<label class="darkcolor f14">{{'admin.product.setup_for_the' | translate}} "{{setup.product_workflow_approval_process}}"</label>-->
                    <table ng-if="approver_info.length>0" class="table-list-view table c-table table-hover table-style">
                        <thead>
                        <tr>
                            <th>{{'admin.product.name' | translate}}</th>
                            <th>{{'admin.product.is_approval_mandatory' | translate}}</th>
                            <th>{{'general.actions' | translate}}</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="row in approver_info" ng-if="row.status==1">
                            <td>{{row.name}}</td>
                            <td>
                                <div class="radio display-inline-block mr15 mt5">
                                    <input type="checkbox"
                                           ng-true-value="1"
                                           ng-false-value="0"
                                           ng-init="approver_info[$index].is_approval_mandatory = (approver_info[$index].is_approval_mandatory=='1')?1:0"
                                           ng-model="approver_info[$index].is_approval_mandatory" name="checkbox-{{$index}}"/>
                                </div>
                            </td>
                            <td>
                                <ul class="icons-wrap" style="width:100px !important;">
                                    <li>
                                        <a href="javascript:;" ng-click="deleteProductStep($index)" class="fa fa-trash" uib-tooltip="{{'general.delete' | translate}}" n-t="{'e_n':'Admin Product - {{setup.product_workflow_approval_type}} - {{row.name}} delete','e_d':''}"></a>
                                    </li>
                                </ul>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-sm-12 mt10 mb10 text-center">
                <button type="submit" class="btn btn-dark white-color mr8 f12"
                        n-t='{"e_n":"Save {{modalTitle}} Admin","e_d":""}'
                        ng-click="submitted=true;">{{'general.save' | translate}}
                </button>
                <button type="button" class="btn white-color lt-bg f12" ng-click="cancel()"
                        n-t='{"e_n":"Cancel {{modalTitle}} Admin","e_d":""}'>
                    {{'general.cancel' | translate}}
                </button>
            </div>
        </div>
    </form>
</div>