<div class="qpanel product-clist  clearfix">
            <div class="panel-left-wrap trans-pos-top absolute" scroll-pos>
                <!--<h3 class="heading pb10">Question Types</h3>-->
                <div class="panel-btn-wrap pb10">
                    <ul class="clearfix">
                        <li>
                            <a href="javascript:;" ng-click="addCategoryModal()">{{'Create New Category' | translate}}</a>
                        </li>
                        <li>
                            <a href="javascript:;" ng-click="assessmentModal('text')" qtype="text"  data-drag="true" data-jqyoui-options="{revert: 'invalid', helper: 'clone'}" jqyoui-draggable="{index: 1, placeholder: 'keep'}" ><i class="icon-input-text"></i> Input Text</a>
                        </li>
                        <li>
                            <a href="javascript:;" ng-click="assessmentModal('textarea')" qtype="textarea"  data-drag="true" data-jqyoui-options="{revert: 'invalid', helper: 'clone'}" jqyoui-draggable="{index: 1, placeholder: 'keep'}" ><i class="icon-input-text"></i> Text Area</a>
                        </li>
                        <li>
                            <a href="javascript:;" ng-click="assessmentModal('radio')"  qtype="radio"  data-drag="true" data-jqyoui-options="{revert: 'invalid', helper: 'clone'}" jqyoui-draggable="{index: 2, placeholder: 'keep'}" ><i class="icon-yes-no"></i> Yes / No</a>
                        </li>
                        <!--<li>-->
                        <!--<a href="javascript:;"><i class="icon-stars"></i> Ratings</a>-->
                        <!--</li>-->
                        <li>
                            <a href="javascript:;" ng-click="assessmentModal('date')"  qtype="date"  data-drag="true" data-jqyoui-options="{revert: 'invalid', helper: 'clone'}" jqyoui-draggable="{index: 3, placeholder: 'keep'}" ><i class="icon-calendar1"></i>
                                Date</a>
                        </li>
                        <!--<li>-->
                        <!--<a href="javascript:;"><i class="icon-globe1"></i> Website</a>-->
                        <!--</li>-->
                        <li>
                            <a href="javascript:;" ng-click="assessmentModal('dropdown')"  qtype="dropdown"  data-drag="true" data-jqyoui-options="{revert: 'invalid', helper: 'clone'}" jqyoui-draggable="{index: 4, placeholder: 'keep'}" ><i class="icon-list"></i> Dropdown</a>
                        </li>
                        <!--<li>-->
                        <!--<a href="javascript:;"><i class="icon-mail"></i> Email</a>-->
                        <!--</li>-->
                        <li>
                            <a href="javascript:;"  ng-click="assessmentModal('file')"  qtype="file"  data-drag="true" data-jqyoui-options="{revert: 'invalid', helper: 'clone'}" jqyoui-draggable="{index: 5, placeholder: 'keep'}" ><i class="icon-cloud-export"></i> File Upload</a>
                        </li>
                        <!--<li>-->
                        <!--<a href="javascript:;"><i class="icon-file-picture"></i> Picture</a>-->
                        <!--</li>-->
                        <!--  <li>
                              <a href="javascript:;"><i class="icon-list-ul"></i> Options</a>
                          </li>-->
                        <!--<li>-->
                        <!--<a href="javascript:;"><i class="icon-numbers"></i> Numbers</a>-->
                        <!--</li>-->
                        <li>
                            <a href="javascript:;"  ng-click="assessmentModal('checkbox')"  qtype="checkbox"  data-drag="true" data-jqyoui-options="{revert: 'invalid', helper: 'clone'}" jqyoui-draggable="{index: 6, placeholder: 'keep'}" ><i class="icon-right-circle"></i> Multiple Choice</a>
                        </li>
                    </ul>
                </div>

            </div>
            <div class="panel-right-wrap">
                <!--<h2 class="heading text-capitalize p15 ash-bg border-bottom-color">{{title}}

                </h2>-->
                <div class="q-box mb10 scroll-div-wrap" min-scroll>


                    <div class="a-ques-list" ng-repeat="category in categoryQuestionList" >
                        <h3 class="f15 darkcolor pt10 pb5 overflow-hidden bold acc-heading clearfix"
                            data-drop="true"
                            jqyoui-droppable="{onDrop: 'beforeDrop({category:category})',onOver: 'onOver', onOut: 'onOut',multiple:true}">
                            {{category.assessment_question_category_name}}
                            <div class="display-inline-block icons-wrap-list pull-right">
                                <a href="javascript:;" ng-click="addCategoryModal(category)"
                                   class="mr4 f14 darkcolor"><i class="icon-edit"></i> </a>
                            </div>
                        </h3>
                        <ul ui-sortable="sortableOptions">
                            <li ng-repeat="question in category.question">
                                <div class="acc-wrapper accordian-wrapper q-acc-wrap">
                                    <div class="clearfix acc-head q-acc-head">
                                        <div class="pull-left width93">
                                            <div class="onoffswitch pull-left">
                                                <input type="checkbox" ng-model="question.question_status"
                                                       ng-init="question.question_status = (question.question_status==1)?1:0"
                                                       name="checkbox_question_status"
                                                       ng-true-value="1"
                                                       ng-false-value="0"
                                                       ng-checked="question.question_status==1"
                                                       ng-change="statusChange(category,question)"
                                                       class="onoffswitch-checkbox"
                                                       id="questionts_{{question.id_assessment_question}}">
                                                <label class="onoffswitch-label" for="questionts_{{question.id_assessment_question}}">
                                                    <span class="onoffswitch-inner"></span>
                                                    <span class="onoffswitch-switch"></span>
                                                </label>
                                            </div>
                                            <!-- <input id="question_{{question.id_assessment_question}}" type="checkbox"
                                                    class="pull-left mt5 mr4"
                                                    ng-model="question.question_status"
                                                    ng-checked="question.question_status==1"
                                                    ng-true-value="1"
                                                    ng-false-value="0"
                                                    ng-change="statusChange(category,question)">-->
                                            <h3 class="f14 ml5 darkcolor mt4 pull-left overflow-hidden" basic-accordian>
                                                <div ng-bind-html="question.assessment_question"></div>
                                            </h3>
                                        </div>
                                        <div class="display-inline-block pull-right custom-list">
                                            <a class="menu-toggle f13 dark-sky-blue mr4 dropdown-toggle" data-toggle="dropdown"
                                               href="javascript:;"><i class="fa fa-ellipsis-v"></i>
                                            </a>
                                            <ul class="dropdown-menu cust-dropdown">
                                                <li>
                                                    <a href="javascript:;" ng-click="assessmentModal(category,question)"
                                                       class="f14 darkcolor"><i class="icon-edit"></i>{{'Edit' | translate}}</a>
                                                </li>
                                                <!--<li>-->
                                                <!--<a href="javascript:;" class="f14 darkcolor"><i class="icon-trash"></i>Delete</a>-->
                                                <!--</li>-->
                                            </ul>
                                        </div>

                                    </div>
                                    <div class="acc-body">
                                        <div class="acc-data" ng-if="show_options">
                                            <ul class="radio-list pl20 mt5"
                                                ng-if="question.question_type=='radio'|| question.question_type=='checkbox'">
                                                <li class="darkcolor border-none pad0 mb3"
                                                    ng-repeat="option in question.question_option">
                                                    <input type="{{question.question_type}}" name="radio"
                                                           ng-model="option.option_value"> {{option.option_title}}

                                                </li>
                                            </ul>
                                            <div class="radio-list width220 pl20 mt5" ng-if="question.question_type=='text'">
                                                <input type="text" class="form-control"/>
                                            </div>
                                            <div ng-if="question.question_type=='textarea'">
                                        <textarea ckeditor="" ng-model="question.answer.assessment_answer"
                                                  class="width-full min-height70 f12 p10 darkcolor"></textarea>
                                            </div>
                                            <div class="radio-list pl20 mt5" ng-if="question.question_type=='file'">
                                                <input type="file" class="f14" ng-model="question.answer.assessment_answer">
                                            </div>
                                            <div class="radio-list pl20 mt5" ng-if="question.question_type=='dropdown'">
                                                <select class="form-control width220" ng-model="question.question_value">
                                                    <option ng-repeat="option in question.question_option"
                                                            value="{{option.option_id}}">
                                                        {{option.option_title}}
                                                    </option>
                                                </select>

                                            </div>
                                            <div class="radio-list pl20 mt5 clearfix" ng-if="question.question_type=='date'">
                                                <div class="input-group col-sm-3 p0">
                                                    <input type="text" class="form-control" uib-datepicker-popup="yyyy-MM-dd"
                                                           data-ng-model="contact.date_of_birth" type="text"
                                                           name="date_of_birth"
                                                           is-open="openCal"
                                                           show-weeks="false" show-button-bar="false" readonly/>
                                          <span class="input-group-btn">
                                            <button type="button" class="btn btn-default border"
                                                    ng-click="openCal = true">
                                                <i class="fa fa-calendar"></i></button>
                                          </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>

                        </ul>

                    </div>
                </div>
            </div>
        </div>

