<div class="qpanel product-clist  clearfix">
    <div class="panel-left-wrap">
        <!--<h3 class="heading pb10">Question Types</h3>-->
        <div class="panel-btn-wrap pb10">
            <ul class="clearfix">
                <li>
                    <a href="javascript:;" ng-click="addCategoryModal()"
                       n-t='{"e_n":"Add Category Modal - Pre Disbursement Checklist Admin","e_d":""}'>{{'Create New
                        Category' | translate}}</a>
                </li>
                <li>
                    <a href="javascript:;"
                       n-t='{"e_n":"Add Assessment - Pre Disbursement Checklist Admin","e_d":""}'
                       ng-click="assessmentModal('radio')" qtype="radio" data-drag="true" data-jqyoui-options="{revert: 'invalid', helper: 'clone'}" jqyoui-draggable="{index: 2, placeholder: 'keep'}"><i class="icon-yes-no"></i>
                        {{'Add Question' | translate}}</a>
                </li>
            </ul>
        </div>
        <!-- <div class="switch-view">
             <h4 class="text-capitalize f14 darkcolor ptb10">Settings</h4>
             <div class="">
                 <h5 class="f14 darkcolor display-inline-block">
                     <a href="javascript:;"><i class="fa fa-question-circle darkcolor  mr10"></i></a>
                     Show Options
                 </h5>
                 <div class="onoffswitch pull-right">
                     <input type="checkbox" ng-model="show_options" name="onoffswitch_toggle"
                            class="onoffswitch-checkbox" id="toggle-switch">
                     <label class="onoffswitch-label" for="toggle-switch">
                         <span class="onoffswitch-inner"></span>
                         <span class="onoffswitch-switch"></span>
                     </label>
                 </div>
             </div>

         </div>-->

    </div>
    <div class="panel-right-wrap">
        <!--<h2 class="heading text-capitalize p15 ash-bg border-bottom-color">{{title}}

        </h2>-->
        <div class="q-box mb10 scroll-div-wrap" min-scroll>


            <div class="a-ques-list" ng-repeat="category in categoryQuestionList">
                <h3 class="f15 darkcolor pt10 pb5 overflow-hidden bold acc-heading clearfix"
                    data-drop="true"
                    jqyoui-droppable="{onDrop: 'beforeDrop({category:category})',onOver: 'onOver', onOut: 'onOut',multiple:true}">
                    {{category.assessment_question_category_name}}
                    <div class="display-inline-block icons-wrap-list pull-right">
                        <a href="javascript:;" ng-click="addCategoryModal(category)"
                           n-t='{"e_n":"Edit Category - Pre Disbursement Checklist Admin","e_d":"{{category.assessment_question_category_name}}"}'
                           class="mr4 f14 darkcolor"><i class="icon-edit"></i> </a>
                    </div>
                </h3>
                <ul ui-sortable="sortableOptions">
                    <li ng-repeat="question in category.question">
                        <div class="acc-wrapper accordian-wrapper q-acc-wrap">
                            <div class="clearfix acc-head q-acc-head">
                                <div class="pull-left width93">
                                    <div class="onoffswitch pull-left">
                                        <input type="checkbox" ng-model="question.question_status"
                                               ng-init="question.question_status = (question.question_status==1)?1:0"
                                               name="checkbox_question_status"
                                               ng-true-value="1"
                                               ng-false-value="0"
                                               ng-checked="question.question_status==1"
                                               ng-change="statusChange(category,question)"
                                               n-t='{"e_n":"Status Change - Pre Disbursement Checklist Admin","e_d":""}'
                                               class="onoffswitch-checkbox"
                                               id="questionts_{{question.id_assessment_question}}">
                                        <label class="onoffswitch-label" for="questionts_{{question.id_assessment_question}}">
                                            <span class="onoffswitch-inner"></span>
                                            <span class="onoffswitch-switch"></span>
                                        </label>
                                    </div>
                                    <!-- <input id="question_{{question.id_assessment_question}}" type="checkbox"
                                            class="pull-left mt5 mr4"
                                            ng-model="question.question_status"
                                            ng-checked="question.question_status==1"
                                            ng-true-value="1"
                                            ng-false-value="0"
                                            ng-change="statusChange(category,question)">-->
                                    <h3 class="f14 ml5 darkcolor mt4 pull-left overflow-hidden" basic-accordian>
                                        <div ng-bind-html="question.assessment_question"></div>
                                    </h3>
                                </div>
                                <div class="display-inline-block pull-right custom-list">
                                    <a class="menu-toggle f13 dark-sky-blue mr4 dropdown-toggle" data-toggle="dropdown"
                                       href="javascript:;"><i class="fa fa-ellipsis-v"></i>
                                    </a>
                                    <ul class="dropdown-menu cust-dropdown">
                                        <li>
                                            <a href="javascript:;" ng-click="assessmentModal(category,question)"
                                               n-t='{"e_n":"Edit assessment - Pre Disbursement Checklist Admin","e_d":"{{question.assessment_question}}"}'
                                               class="f14 darkcolor"><i class="icon-edit"></i>Edit</a>
                                        </li>
                                        <!--<li>-->
                                        <!--<a href="javascript:;" class="f14 darkcolor"><i class="icon-trash"></i>Delete</a>-->
                                        <!--</li>-->
                                    </ul>
                                </div>

                            </div>
                            <div class="acc-body">
                                <div class="acc-data" ng-if="show_options">
                                    <ul class="radio-list pl20 mt5"
                                        ng-if="question.question_type=='radio'|| question.question_type=='checkbox'">
                                        <li class="darkcolor border-none pad0 mb3"
                                            ng-repeat="option in question.question_option">
                                            <input type="{{question.question_type}}" name="radio"
                                                   ng-model="option.option_value"> {{option.option_title}}

                                        </li>
                                    </ul>
                                    <div class="radio-list width220 pl20 mt5" ng-if="question.question_type=='text'">
                                        <input type="text" class="form-control"/>
                                    </div>
                                    <div ng-if="question.question_type=='textarea'">
                                        <textarea ckeditor="" ng-model="question.answer.assessment_answer"
                                                  class="width-full min-height70 f12 p10 darkcolor"></textarea>
                                    </div>
                                    <div class="radio-list pl20 mt5" ng-if="question.question_type=='file'">
                                        <input type="file" class="f14" ng-model="question.answer.assessment_answer">
                                    </div>
                                    <div class="radio-list pl20 mt5" ng-if="question.question_type=='dropdown'">
                                        <select class="form-control width220" ng-model="question.question_value">
                                            <option ng-repeat="option in question.question_option"
                                                    value="{{option.option_id}}">
                                                {{option.option_title}}
                                            </option>
                                        </select>

                                    </div>
                                    <div class="radio-list pl20 mt5 clearfix" ng-if="question.question_type=='date'">
                                        <div class="input-group col-sm-3 p0">
                                            <input type="text" class="form-control" uib-datepicker-popup="yyyy-MM-dd"
                                                   data-ng-model="contact.date_of_birth" type="text"
                                                   name="date_of_birth"
                                                   is-open="openCal"
                                                   show-weeks="false" show-button-bar="false" readonly/>
                                          <span class="input-group-btn">
                                            <button type="button" class="btn btn-default border"
                                                    ng-click="openCal = true">
                                                <i class="fa fa-calendar"></i></button>
                                          </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</div>
<script type="text/ng-template" id="add-category-modal.html">
    <div class="right-modal modal-custom overflow-x-visible" data-modal="addAssessment">
        <h3 class="right-modal-head">
            {{title | translate}}
            <a class="close-right pull-right" ng-click="cancel()" uib-tooltip="Close"
               n-t='{"e_n":"Cancel Category modal Admin","e_d":"{{title}}"}'><img src="images/close.png"></a>
        </h3>
        <form class="form-bordered" name="form" ng-submit="save(category,form)" novalidate>

            <div class="form-group clearfix p10  form-group-custom white-bg m0">
                <div class="col-sm-12">
                    <label class="darkcolor f14">{{'Category Name' | translate}}</label>

                    <div class="form-group clearfix form-group-custom">
                        <input type="text" name="assessment_question_category_name"
                               data-ng-model="category.assessment_question_category_name" class="form-control "
                               placeholder="Type your Category Name" required/>
                        <div ng-if="form.assessment_question_category_name.$error.required && submitted"
                             class="error-message">{{'This field is required' | translate}}
                        </div>
                    </div>
                </div>

                <div class="col-sm-12" ng-init="sector_all = (category.sector_id==0)?true:false">
                    <label class="darkcolor f14">{{'All Sectors' | translate}}</label>
                    <input type="checkbox" ng-model="sector_all" ng-checked="category.sector_id==0" ng-change="category.sector_id=0"/>
                </div>
                <div class="col-sm-12" ng-if="!sector_all">
                    <label class="darkcolor f14">{{'Sector' | translate}}</label>

                    <div class="form-group clearfix form-group-custom">
                        <select multiple chosen class="chosen-select" name="sector_id"
                                data-placeholder="Please Select Sector"
                                ng-model="category.sector_id"
                                ng-options="option.id_sector as option.sector_name for option in sectorsList" required>
                        </select>
                        <div ng-if="form.sector_id.$error.required && submitted"
                             class="error-message">{{'This field is required' | translate}}
                        </div>
                    </div>
                </div>
                <div class="col-sm-12">
                    <label class="darkcolor f14">{{'Type' | translate}} *</label>
                    <div class="form-group clearfix form-group-custom">
                        <select class="form-control"
                                ng-init="masterDropDownList({'master_key':'legal_operational_checklist'})"
                                ng-model="category.operational_checklist_type" name="operational_checklist_type"
                                ng-options="item.id as item.name for item in dropDownItems['legal_operational_checklist']"
                                >
                            <option value="">--Select--</option>
                        </select>
                        <div ng-if="form.operational_checklist_type.$error.required && submitted"
                             class="error-message">{{'This field is required' | translate}}
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 mt10 mb10 text-center">
                    <button type="submit" class="blue-btn"
                            n-t='{"e_n":"Save Category Admin","e_d":"{{title}}"}'
                            ng-click="submitted=true;form.$valid;">{{'Save' | translate}}
                    </button>
                    <button type="button" class="light-btn" ng-click="cancel()"
                            n-t='{"e_n":"Cancel Category modal Admin","e_d":"{{title}}"}'>
                        {{'Cancel' | translate}}
                    </button>
                </div>
            </div>
        </form>
    </div>

</script>

