<h3 class="fixed content-heading">{{productName}}
    <span class="button-set">
        <a title="Options" ui-sref="product.list" uib-tooltip="Back"
           n-t='{"e_n":"Back","e_d":"{{productName}}"}'><i class="fa fa-close-sm"></i></a>
      </span>
</h3>

<div class="content-area animated fadeInRight" id="contentArea">

    <div class="content-container mt20 light-blue-bg">
        <div class="container-fluid p20">

            <div class="col-sm-9 pl0 mt20 page-left-wrap">
                <ui-view>

                </ui-view>
            </div>
            <div class="col-sm-3 page-right-wrap p0">
                <div class="v-tabs-wrap mt20">
                    <h3 class="tab-heading">{{'Product Categories' | translate}}</h3>
                    <ul>
                        <li>
                            <a href="javascript:;"
                               active-link="tab-active"
                               ng-class="isActive=='checklist'?'in':''"
                               ui-sref="product.tabs.workflow-info"
                               n-t='{"e_n":"View Workflow","e_d":"{{productName}}"}'><i class="fa fa-sitemap"></i>
                                <span>{{'admin.product.workflow' | translate}}</span></a>
                        </li>
                        <li>
                            <a href="javascript:;" ui-sref="product.tabs.product-data" active-link="tab-active"><i class="icon-user"
                               n-t='{"e_n":"View Product Data","e_d":"{{productName}}"}'></i><span> {{'Data' | translate}}</span></a>
                            <!--<ul>
                                <li>
                                    <a href="javascript:;">Basic Information</a>
                                </li>
                                <li>
                                    <a href="javascript:;">Project Background</a>
                                </li>
                                <li>
                                    <a href="javascript:;">Facility Information</a>
                                </li>
                            </ul>-->
                        </li>
                        <li>
                            <a href="javascript:;" ui-sref="product.tabs.product-conditions" active-link="tab-active"
                               n-t='{"e_n":"View Terms and Conditions","e_d":"{{productName}}"}'><i class="icon-edit-sqare"></i> <span>{{'Terms and Conditions' | translate}}</span></a>
                        </li>
                        <li>
                            <a href="javascript:;" ui-sref="product.tabs.risk-assessment" active-link="tab-active"
                               n-t='{"e_n":"View Risk Assessment","e_d":"{{productName}}"}'><i class="icon-fliter-new"></i> <span>{{'Risk Assessment' | translate}}</span></a>
                        </li>
                        <li>
                            <a href="javascript:;" ui-sref="product.tabs.summary-recommendation" active-link="tab-active"
                               n-t='{"e_n":"View Summary and Recommendation","e_d":"{{productName}}"}'><i class="icon-monitor"></i> <span>{{'Summary and Recommendation' | translate}}</span></a>
                        </li>
                        <li>
                            <a href="javascript:;" ui-sref="product.tabs.disbursement-checklist" active-link="tab-active"
                               n-t='{"e_n":"Legal and Operational Checklist","e_d":"{{productName}}"}'><i class="icon-right-circle"></i> <span>{{'Legal and Operational Checklist' | translate}}</span></a>
                        </li>
                        <li>
                            <a href="javascript:;" ui-sref="product.tabs.restrictions" active-link="tab-active"
                               n-t='{"e_n":"View Restrictions","e_d":"{{productName}}"}'><i class="icon-badge"></i> <span>{{'Restrictions' | translate}}</span></a>
                        </li>
                        <li>
                            <a href="javascript:;" ui-sref="product.tabs.product-limits-approvals" active-link="tab-active"
                               n-t='{"e_n":"View Limits & Approval","e_d":"{{productName}}"}'><i class="icon-arrow-two"></i><span> {{'Limits & Approval' | translate}}</span></a>
                        </li>
                        <li>
                            <a href="javascript:;" ui-sref="product.tabs.pre-approval" active-link="tab-active"
                               n-t='{"e_n":"View Pre Approval","e_d":"{{productName}}"}'><i class="icon-arrow-two"></i><span> {{'Pre Approval' | translate}}</span></a>
                        </li>

                        <!--<li>
                            <a href="javascript:;"><i class="icon-briefcase"></i> <span>Collatral</span></a>
                        </li>-->
                    </ul>

                </div>
            </div>

        </div>
    </div>
</div>