<h3 class="fixed content-heading">{{title | translate}}
    <ul class="pull-right icons-right button-set">
        <li><a ng-click="modalOpen()" uib-tooltip="Add New"><i class="fa fa-add-sm"></i></a></li>
    </ul>
</h3>

<div id="contentArea" class="content-area animated fadeInRight">
    <div class="content-container clearfix light-blue-bg plr20 ">
        <div class="table-wrapper no-bg p0 pt20 overflow-hidden" ng-init="getApprovalList()">
            <table class="table-list-view table table-striped row-pointer">
                <tbody>
                <tr  ng-repeat="row in approvalList">
                    <td class="img"><span first-alpha="{{row.approval_structure_name}}"></span></td>
                    <td width="40%" ui-sref="preapproval.pre-approval-structure-view({structure_id: (row.id_company_approval_structure | encode ) })"><h4 class="pl10 f14">{{row.approval_structure_name}}</h4></td>
                    <td ui-sref="preapproval.pre-approval-structure-view({structure_id: (row.id_company_approval_structure | encode )})">
                        <label><span class="label-text">Created Date : </span> {{ row.created_date_time | utcToLocal:'date' }} </label>
                        <label><span class="label-text">Product List : </span> {{ row.products }} </label>
                    </td>
                    <td ng-click="modalOpen(row)" class="text-center">
                        <a ><i class="fa fa-pencil f14"> </i></a>
                    </td>
                </tr>

                </tbody>
            </table>

        </div>


    </div>


</div>


<script type="text/ng-template" id="addApproval.html">

    <div class="modal-wrap right-modal modal-custom">
        <div class="clearfix">
            <h3 class="right-modal-head">
                <i class="fa fa-sitemap mr8"></i>{{'Pre Approval Structure' | translate}}
                <a ng-click="cancel()" class="close-right pull-right" uib-tooltip="Close"><img src="images/close.png"></a>
            </h3>

        </div>
        <div class="modal-body clearfix">

            <div class="col-sm-12 p0">
                <div class="form-group clearfix form-group-custom mb10">
                    <div class="col-sm-2 text-right"><label class="control-label">{{'Title' | translate}}:</label></div>
                    <div class="col-sm-8">
                        <input type="text" ng-model="approvalData.approval_structure_name"
                               name="approval_structure_name" class="form-control">
                    </div>

                </div>
            </div>
            <div class="col-sm-12 text-center mt10">
                <button class="blue-btn" ng-click="saveApproval(approvalData)"  ng-disabled="btnDisabled">{{'Save' | translate}}</button>
            </div>

        </div>
    </div>
</script>
