<h1 class="border-bottom p10 mb0 "><i class="icon-clipped-file2 mr4 sky-blue"></i>Field Investigation Details</h1>

<div class="col-sm-12 p0">
    <div class="col-sm-4">
        <div class="form-group clearfix form-group-custom mb10">
            <label class="control-label"> Agency Code : </label>
            <input type="text" class="form-control">
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group clearfix form-group-custom mb10">
            <label class="control-label"> Agency Name : </label>
            <input type="text" class="form-control">
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group clearfix form-group-custom mb10">
            <label class="control-label"> Result : </label>
            <input type="text" class="form-control ">
        </div>
    </div>
</div>

<div class="col-sm-12 p0">
    <div class="col-sm-4">
        <div class="form-group clearfix form-group-custom mb10">
            <label class="control-label"> Date of FI : </label>
            <div class="form-group clearfix form-group-custom">
                <div class="input-group">
                    <input type="text" class="form-control" uib-datepicker-popup="yyyy-MM-dd"
                           data-ng-model="company.date" type="text"
                           name="date"
                           is-open="openCal"
                           show-weeks="false" show-button-bar="false" readonly/>
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-default border" ng-click="openCal = true">
                        <i class="fa fa-calendar"></i>
                    </button>
                  </span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group clearfix form-group-custom mb10">
            <label class="control-label"> FI Agent Remarks : </label>
            <input type="text" class="form-control">
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group clearfix form-group-custom mb10">
            <label class="control-label"> Credit Remarks : </label>
            <input type="text" class="form-control ">
        </div>
    </div>
</div>

<div class="col-sm-12 btn-custom clearfix text-center">
    <button class="btn btn-primary f14 btn-dark" type="submit">Save</button>
    <button  class="btn f14 lt-bg" type="submit">Cancel</button>
</div>




