<h1 class="border-bottom p10 mb0 "><i class="icon-clipped-file2 mr4 sky-blue"></i>GENERAL</h1>

<div class="col-sm-12 p0">
    <div class="col-sm-4">
        <div class="form-group clearfix form-group-custom mb10">
            <label class="control-label"> Collateral Number : </label>
            <input type="text" class="form-control">
            <label class="control-label"> <input class="valign-middle" type="checkbox"/> Auto Generate (check here) </label>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group clearfix form-group-custom mb10">
            <label class="control-label"> Collateral Types : </label>
            <select type="text" class="form-control">
                <option>--select--</option>
            </select>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group clearfix form-group-custom mb10">
            <label class="control-label"> Application Priority : </label>
            <select type="text" class="form-control">
                <option>--select--</option>
            </select>
        </div>
    </div>
</div>


<div class="col-sm-12 p0">
    <div class="col-sm-4">
        <div class="form-group clearfix form-group-custom mb10">
            <label class="control-label"> Currency : </label>
            <select type="text" class="form-control">
                <option>--select--</option>
            </select>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group clearfix form-group-custom mb10">
            <label class="control-label"> Amount : </label>
            <input type="text" class="form-control">
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group clearfix form-group-custom mb10 datetimepicker">
            <label class="control-label"> Start Date : </label>
            <input type="text" class="form-control ">
        </div>
    </div>
</div>

<div class="col-sm-12 p0">
    <div class="col-sm-4">
        <div class="form-group clearfix form-group-custom mb10">
            <label class="control-label"> Expiry Date : </label>
            <input type="text" class="form-control">
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group clearfix form-group-custom mb10">
            <label class="control-label"> Revaluation Date : </label>
            <input type="text" class="form-control">
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group clearfix form-group-custom mb10">
            <label class="control-label"> Grace Days : </label>
            <input type="text" class="form-control ">
        </div>
    </div>
</div>

<div class="col-sm-12 p0">
    <div class="col-sm-4">
        <div class="form-group clearfix form-group-custom mb10">
            <label class="control-label">Last Valuation Date : </label>
            <input type="text" class="form-control">
        </div>
    </div>
    <div class="col-sm-8">
        <div class="form-group clearfix form-group-custom mb10">
            <label class="control-label"> Location Details : </label>
            <input type="text" class="form-control">
        </div>
    </div>
</div>


<div class="col-sm-12 btn-custom clearfix text-center">
    <button class="btn btn-primary f14 btn-dark" type="submit">Save</button>
    <button  class="btn f14 lt-bg" type="submit">Cancel</button>
</div>

