<h1 class="border-bottom p10 mb0 "><i class="icon-clipped-file2 mr4 sky-blue"></i>Realestate</h1>

<div class="col-sm-12 p0">
    <div class="col-sm-4">
        <div class="form-group clearfix form-group-custom mb10">
            <label class="control-label"> Property Type: </label>
            <select type="text" class="form-control">
                <option>--select--</option>
            </select>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group clearfix form-group-custom mb10">
            <label class="control-label"> Country : </label>
            <input type="text" class="form-control">
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group clearfix form-group-custom mb10">
            <label class="control-label"> Property Address : </label>
            <input type="text" class="form-control">
        </div>
    </div>
</div>

<div class="col-sm-12 p0">

    <div class="col-sm-4">
        <div class="form-group clearfix form-group-custom mb10">
            <label class="control-label"> Construction Date : </label>
            <input type="text" class="form-control">
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group clearfix form-group-custom mb10">
            <label class="control-label"> Purchase Date : </label>
            <input type="text" class="form-control">
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group clearfix form-group-custom mb10">
            <label class="control-label"> Zone Classification: </label>
            <select type="text" class="form-control">
                <option>--select--</option>
            </select>
        </div>
    </div>
</div>

<div class="col-sm-12 p0">
    <div class="col-sm-4">
        <div class="form-group clearfix form-group-custom mb10">
            <label class="control-label"> Basic Property Value : </label>
            <input type="text" class="form-control">
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group clearfix form-group-custom mb10">
            <label class="control-label"> Market Value : </label>
            <input type="text" class="form-control">
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group clearfix form-group-custom mb10">
            <label class="control-label"> Government Value : </label>
            <input type="text" class="form-control ">
        </div>
    </div>
</div>

<div class="col-sm-12 p0">
    <div class="col-sm-4">
        <div class="form-group clearfix form-group-custom mb10">
            <label class="control-label"> Property Index Value : </label>
            <input type="text" class="form-control">
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group clearfix form-group-custom mb10">
            <label class="control-label"> Haircut% : </label>
            <input type="text" class="form-control">
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group clearfix form-group-custom mb10">
            <label class="control-label"> Lat Valutaion Date : </label>
            <input type="text" class="form-control ">
        </div>
    </div>
</div>

<div class="col-sm-12 p0">
    <div class="col-sm-4">
        <div class="form-group clearfix form-group-custom mb10">
            <label class="control-label"> Valuation Source : </label>
            <input type="text" class="form-control">
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group clearfix form-group-custom mb10">
            <label class="control-label"> Valueation Amount : </label>
            <input type="text" class="form-control">
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group clearfix form-group-custom mb10">
            <label class="control-label"> Offer Lenders Charge Amount : </label>
            <input type="text" class="form-control ">
        </div>
    </div>
</div>


<div class="col-sm-12 btn-custom clearfix text-center">
    <button class="btn btn-primary f14 btn-dark" type="submit">Save</button>
    <button  class="btn f14 lt-bg" type="submit">Cancel</button>
</div>




