<h1 class="border-bottom p10 mb0 "><i class="icon-clipped-file2 mr4 sky-blue"></i>Risk Evaluation</h1>

<div class="col-sm-12 p0">
    <div class="col-sm-4">
        <div class="form-group clearfix form-group-custom mb10">
            <label class="control-label"> Geo Political Risk: </label>
            <input type="text" class="form-control">
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group clearfix form-group-custom mb10">
            <label class="control-label"> Currency Risk : </label>
            <input type="text" class="form-control">
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group clearfix form-group-custom mb10">
            <label class="control-label"> Liquidity Risk : </label>
            <input type="text" class="form-control">
        </div>
    </div>
</div>

<div class="col-sm-12 p0">

    <div class="col-sm-4">
        <div class="form-group clearfix form-group-custom mb10">
            <label class="control-label"> Issuer Credit Risk : </label>
            <input type="text" class="form-control">
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group clearfix form-group-custom mb10">
            <label class="control-label"> Operational Risk : </label>
            <input type="text" class="form-control">
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group clearfix form-group-custom mb10">
            <label class="control-label"> Natural Hazard Risk: </label>
            <input type="text" class="form-control">
        </div>
    </div>
</div>

<div class="col-sm-12 p0">
    <div class="col-sm-4">
        <div class="form-group clearfix form-group-custom mb10">
            <label class="control-label"> Recommendation : </label>
            <input type="text" class="form-control">
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group clearfix form-group-custom mb10">
            <label class="control-label"> Credit Remarks : </label>
            <input type="text" class="form-control">
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group clearfix form-group-custom mb10">
            <label class="control-label"> Eligible for Central Bank Funding : </label>
            <input class="valign-middle" type="checkbox"/>
        </div>
    </div>
</div>

<div class="col-sm-12 p0">
    <div class="col-sm-4">
        <div class="form-group clearfix form-group-custom mb10">
            <label class="control-label"> CCP Eligible : </label>
            <input class="valign-middle" type="checkbox"/>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="form-group clearfix form-group-custom mb10">
            <label class="control-label"> CRM Eligible : </label>
            <input class="valign-middle" type="checkbox"/>
        </div>
    </div>
</div>

<div class="col-sm-12 btn-custom clearfix text-center">
    <button class="btn btn-primary f14 btn-dark" type="submit">Save</button>
    <button  class="btn f14 lt-bg" type="submit">Cancel</button>
</div>




