<h3 class="fixed content-heading">Meetings</h3>

<div class="content-area animated fadeInRight" id="contentArea">
    <div class="content-container clearfix" ng-show="permission.meeting_list">
        <meeting-list tm-load-more="false"
                      reload="meetingReload"
                      permission="permission"
                      template-url="partials/component/meeting/meeting-table-view.html"
                      get-data='{"module_type":"general","created_by":userId,"assigned_by":userId}'></meeting-list>
    </div>
</div>
