<h3 class="fixed content-heading">Task</h3>
<div class="content-area animated fadeInRight" id="contentArea">
    <div class="content-container clearfix" ng-show="permission.task_list">
        <task-module tm-load-more="false" template-url="partials/component/task/task-table-view.html"
                     permission="permission"
                     get-data='{"module_type":"general","created_by":userId,"assigned_by":userId}'>
        </task-module>
    </div>
</div>
