<div class="right-modal modal-custom" data-modal="addtasks">
    <h3 class="right-modal-head clearfix">
        <div class="col-sm-6 p-l-0 mt5">
            <i class="fa fa-tasks mr8"></i> {{'Tasks' | translate}}
        </div>
        <a ng-click="cancel()" class="close-right pull-right mt5" uib-tooltip="Close"
           n-t='{"e_n":"Project Task - Close Create Task","e_d":""}'><img src="images/close.png"></a>
    </h3>
    <div ng-switch on="currentView"><!--ng-show="taskList"-->
        <div class="view-state col-sm-12 pb20 clerfix" ng-switch-when="View">
            <div class="view-content clearfix">
                <div class="view-group col-sm-12 p0 mb5">
                    <div class="col-sm-12 p-l-0">
                        <div class="t-list">
                            <label class="f15 mb3 darkcolor bold text-capitalize">{{viewtaskDetails.task_name}}</label>
                        </div>
                    </div>
                    <div class="col-sm-4 p-l-0">
                        <div class="t-list">
                            <label class="f13 mb3 darkcolor mr4">{{'Due Date' | translate}}:</label>
                            <div class="form-input">
                                <p class="f12">{{viewtaskDetails.task_due_date}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="t-list">
                            <label class="f13 mb3 darkcolor mr4">{{'Task Status' | translate}}:</label>
                            <div class="form-input ">
                                <p class="f12 label font-normal text-capitalize plr" task-status-bg bgcolor="{{viewtaskDetails.task_status}}">{{viewtaskDetails.task_status}}</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4 p-r-0">
                        <div class="t-list">
                            <label class="f13 mb3 darkcolor mr4">{{'Assigned To' | translate}}:</label>
                            <div class="form-input ">
                                <p class="f12">{{viewtaskDetails.user_name}}</p>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="view-group col-sm-12 p0 mb5">
                    <div class="t-list">
                        <label class="f13 mb3 darkcolor mr4">{{'Description' | translate}}:</label>
                        <div class="form-input">
                            <p class="f12 mb3">{{viewtaskDetails.task_description}}</p>
                        </div>
                    </div>
                </div>

                <div class="view-group col-sm-12 mb5 p0">
                        <label class="f14 mb3 darkcolor">{{'Attachments' | translate}}: </label>
                        <div class="form-input file-attachments">
                            <ul class="scroll-area list-items">
                                <li class="clearfix border-bottom" uploadedDocuments ng-repeat="files in viewtaskDetails.attachment" >
                                    <div class="col-sm-1" upload-file  data-fileType="{{ files.document_mime_type }}" ><i class=""></i> </div>
                                    <div class="col-sm-10">
                                        <p class="f12 text-line" title="{{files.document_name}}">{{files.document_name}}</p>
                                        <span class="display-block f11" ng-bind="files.date | date:'mediumDate'"></span>
                                    </div>
                                    <div class="col-sm-1 text-center">
                                        <div class="relative">
                                            <i class="fa fa-download mr8"></i>
                                            <a href="{{ files.full_path }}" class="icon-link" download
                                               n-t='{"e_n":"Project Task - File download","e_d":"{{files.full_path}}"}'/>  </a>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</div>





<script type="text/ng-template">

</script>